Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2020-06, with the labels that each got.

#307 Migrate k8sprocessor to new internal data format
  .circleci/config.yml
  extension/observer/k8sobserver/factory.go
  extension/observer/k8sobserver/factory_test.go
  internal/common/k8sconfig/config.go
  processor/k8sprocessor/client_test.go
  processor/k8sprocessor/config.go
  processor/k8sprocessor/config_test.go
  processor/k8sprocessor/doc.go
  processor/k8sprocessor/factory.go
  processor/k8sprocessor/factory_test.go
  processor/k8sprocessor/go.mod
  processor/k8sprocessor/go.sum
  processor/k8sprocessor/kube/api.go
  processor/k8sprocessor/kube/client.go
  processor/k8sprocessor/kube/client_test.go
  processor/k8sprocessor/kube/fake_client.go
  processor/k8sprocessor/kube/fake_informer.go
  processor/k8sprocessor/kube/informer.go
  processor/k8sprocessor/kube/informer_test.go
  processor/k8sprocessor/kube/kube.go
  processor/k8sprocessor/observability/observability.go
  processor/k8sprocessor/observability/observability_test.go
  processor/k8sprocessor/options.go
  processor/k8sprocessor/options_test.go
  processor/k8sprocessor/processor.go
  processor/k8sprocessor/processor_test.go
  processor/k8sprocessor/testdata/config.yaml
Labels: bug, enhancement

#310 Actually use dependency caching in CI
  .circleci/config.yml
  Makefile
  Makefile.Common
  go.mod
  go.sum
Labels: enhancement

#266 Add Splunk HEC exporter example
  .circleci/config.yml
  Makefile
  exporter/splunkhecexporter/example/Dockerfile
  exporter/splunkhecexporter/example/README.md
  exporter/splunkhecexporter/example/docker-compose.yml
  exporter/splunkhecexporter/example/otel-collector-config.yml
  exporter/splunkhecexporter/example/splunk.yml
Labels: waiting-for-author
