Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2021-06, with the labels that each got.

#3528 Fix DataDog exporter unit test which was failing when run on EC2 inst…
  exporter/datadogexporter/metadata/host_test.go
Labels: ready-to-merge

#3663 [datadog] fix documentation
  exporter/datadogexporter/README.md
Labels: ready-to-merge

#3660 [datadogexporter] Add support for summary datatype
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/metrics_translator.go
  exporter/datadogexporter/metrics_translator_test.go
  exporter/datadogexporter/testdata/config.yaml
Labels: ready-to-merge

#3453 Initial commit of the CloudWatch Logs Exporter
  exporter/awscloudwatchlogsexporter/Makefile
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awscloudwatchlogsexporter/config.go
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
  exporter/awscloudwatchlogsexporter/factory.go
  exporter/awscloudwatchlogsexporter/factory_test.go
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
Labels: release:after-ga

#3685 Set Throttle in X-Ray exporter.
  exporter/awsxrayexporter/translator/cause.go
  exporter/awsxrayexporter/translator/cause_test.go
  exporter/awsxrayexporter/translator/segment.go
  exporter/awsxrayexporter/translator/segment_test.go
Labels: ready-to-merge

#3372 add host relevant info for container insight receiver
  receiver/awscontainerinsightreceiver/factory.go
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_nolinux.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2tags.go
  receiver/awscontainerinsightreceiver/internal/host/ec2tags_test.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo_test.go
  receiver/awscontainerinsightreceiver/internal/host/machineinfo.go
  receiver/awscontainerinsightreceiver/internal/host/machineinfo_test.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity_test.go
  receiver/awscontainerinsightreceiver/internal/host/testdata/mounts
  receiver/awscontainerinsightreceiver/internal/host/utils.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awscontainerinsightreceiver/receiver_test.go
Labels: ready-to-merge

#3683 Add cluster-level metrics to container insight receiver
  internal/aws/k8s/k8sclient/clientset.go
  internal/aws/k8s/k8sclient/node.go
  internal/aws/k8s/k8sclient/node_test.go
  internal/aws/k8s/k8sclient/pod.go
  internal/aws/k8s/k8sclient/pod_test.go
  receiver/awscontainerinsightreceiver/factory.go
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awscontainerinsightreceiver/receiver_test.go
Labels: ready-to-merge

#3503 [extension/ecsobserver] Add task definition, ec2 and service fetcher
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/fetcher_test.go
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/observer/ecsobserver/internal/ecsmock/service_test.go
Labels: ready-to-merge

#3748 [exporter/datadogexporter] Add note about metrics stability
  exporter/datadogexporter/README.md
Labels: ready-to-merge

#3756 Add test data for cadvisor in container insight receiver
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/ContainerInContainer.json
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/CurInfoContainer.json
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/CurInfoNode.json
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/InfoPod.json
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/PreInfoContainer.json
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/testdata/PreInfoNode.json
Labels: ready-to-merge

#3788 Add new tail sampling processor latency to changelog
  CHANGELOG.md
Labels: ready-to-merge

#3786 [exporter/datadog]: ensure top level spans are computed
  exporter/datadogexporter/stats.go
  exporter/datadogexporter/translate_traces.go
  exporter/datadogexporter/translate_traces_test.go
Labels: ready-to-merge

#3520 K8S: Adding ignored pod names as config parameter
  processor/k8sprocessor/client_test.go
  processor/k8sprocessor/config.go
  processor/k8sprocessor/config_test.go
  processor/k8sprocessor/factory.go
  processor/k8sprocessor/kube/client.go
  processor/k8sprocessor/kube/client_test.go
  processor/k8sprocessor/kube/kube.go
  processor/k8sprocessor/options.go
  processor/k8sprocessor/options_test.go
  processor/k8sprocessor/processor.go
  processor/k8sprocessor/processor_test.go
  processor/k8sprocessor/testdata/config.yaml
Labels: ready-to-merge

#3790 Add extractors for cpu/mem metrics
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/cpu_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/cpu_extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor_helpers_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/mem_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/mem_extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/testutils/helpers.go
Labels: ready-to-merge

#3802 Add cadvisor to aws container insight receiver
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_nolinux.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/container_info_processor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/container_info_processor_test.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awscontainerinsightreceiver/receiver_test.go
Labels: ready-to-merge

#3851 Datadog update env clobbering behavior
  exporter/datadogexporter/translate_traces.go
  exporter/datadogexporter/translate_traces_test.go
Labels: ready-to-merge

#3787 Refactor tail sampling processor policies
  processor/tailsamplingprocessor/sampling/latency.go
  processor/tailsamplingprocessor/sampling/numeric_tag_filter.go
  processor/tailsamplingprocessor/sampling/string_tag_filter.go
  processor/tailsamplingprocessor/sampling/util.go
Labels: Stale

#3881 Add CODEOWNERS entry for awscontainerinsightreceiver
  .github/CODEOWNERS
Labels: ready-to-merge

#3877 Add tanzuobservabilityexporter to CODEOWNERS
  .github/CODEOWNERS
Labels: ready-to-merge

#3785 [extension/ecsobserver] Write discovered targets as Prometheus file sd
  extension/observer/ecsobserver/README.md
  extension/observer/ecsobserver/error.go
  extension/observer/ecsobserver/extension.go
  extension/observer/ecsobserver/extension_test.go
  extension/observer/ecsobserver/factory.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/fetcher_test.go
  extension/observer/ecsobserver/filter.go
  extension/observer/ecsobserver/filter_test.go
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/observer/ecsobserver/internal/ecsmock/service_test.go
  extension/observer/ecsobserver/matcher.go
  extension/observer/ecsobserver/sd.go
  extension/observer/ecsobserver/sd_test.go
  extension/observer/ecsobserver/service.go
  extension/observer/ecsobserver/service_test.go
  extension/observer/ecsobserver/target.go
  extension/observer/ecsobserver/testdata/ut_targets.expected.yaml
Labels: ready-to-merge

#3880 Update readme for AWS Container Insights Receiver
  receiver/awscontainerinsightreceiver/README.md
  receiver/awscontainerinsightreceiver/design.md
  receiver/awscontainerinsightreceiver/images/design.png
  receiver/awscontainerinsightreceiver/images/eks-design.png
Labels: ready-to-merge

#3433 [metrics_generation_processor] Add metrics generation logic
  processor/metricsgenerationprocessor/README.md
  processor/metricsgenerationprocessor/config.go
  processor/metricsgenerationprocessor/config_test.go
  processor/metricsgenerationprocessor/factory.go
  processor/metricsgenerationprocessor/processor.go
  processor/metricsgenerationprocessor/processor_test.go
  processor/metricsgenerationprocessor/testdata/config_full.yaml
  processor/metricsgenerationprocessor/utils.go
  processor/metricsgenerationprocessor/utils_test.go
Labels: waiting-for-author
