Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2021-08, with the labels that each got.

#4431 Logz.io exporter update. Make `Hclog2ZapLogger` struct and methods private (public api review)
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/logger.go
  exporter/logzioexporter/logger_test.go
Labels: ready-to-merge

#4217 Enable cumulative to delta processor
  cmd/otelcontribcol/components.go
  go.mod
Labels: Stale

#4589 datadogexporter: update labels to attributes
  exporter/datadogexporter/metrics_translator.go
  exporter/datadogexporter/metrics_translator_test.go
Labels: ready-to-merge

#4653 Migrate probabilisticsamplerprocessor from Collector core to Collector contrib
  go.mod
  internal/components/components.go
  processor/probabilisticsamplerprocessor/Makefile
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/config.go
  processor/probabilisticsamplerprocessor/config_test.go
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/factory_test.go
  processor/probabilisticsamplerprocessor/go.mod
  processor/probabilisticsamplerprocessor/go.sum
  processor/probabilisticsamplerprocessor/probabilisticsampler.go
  processor/probabilisticsamplerprocessor/probabilisticsampler_test.go
  processor/probabilisticsamplerprocessor/testdata/config.yaml
  processor/probabilisticsamplerprocessor/testdata/empty.yaml
Labels: release:required-for-ga, spec:trace

#4652 Migrate filterprocessor from Collector core to Collector contrib
  go.mod
  internal/components/components.go
  processor/filterprocessor/Makefile
  processor/filterprocessor/README.md
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/doc.go
  processor/filterprocessor/expr_test.go
  processor/filterprocessor/factory.go
  processor/filterprocessor/factory_test.go
  processor/filterprocessor/filter_processor.go
  processor/filterprocessor/filter_processor_logs.go
  processor/filterprocessor/filter_processor_logs_test.go
  processor/filterprocessor/filter_processor_test.go
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/filterprocessor/testdata/config_expr.yaml
  processor/filterprocessor/testdata/config_invalid.yaml
  processor/filterprocessor/testdata/config_logs.yaml
  processor/filterprocessor/testdata/config_regexp.yaml
  processor/filterprocessor/testdata/config_strict.yaml
Labels: release:required-for-ga, spec:trace

#4654 Migrate resourceprocessor from Collector core to Collector contrib
  go.mod
  internal/components/components.go
  internal/components/processors_test.go
  processor/resourceprocessor/Makefile
  processor/resourceprocessor/README.md
  processor/resourceprocessor/config.go
  processor/resourceprocessor/config_test.go
  processor/resourceprocessor/doc.go
  processor/resourceprocessor/factory.go
  processor/resourceprocessor/factory_test.go
  processor/resourceprocessor/go.mod
  processor/resourceprocessor/go.sum
  processor/resourceprocessor/resource_processor.go
  processor/resourceprocessor/resource_processor_test.go
  processor/resourceprocessor/testdata/config.yaml
Labels: release:required-for-ga, spec:trace

#4655 Migrate spanprocessor from Collector core to Collector contrib
  go.mod
  internal/components/components.go
  internal/components/processors_test.go
  processor/spanprocessor/Makefile
  processor/spanprocessor/README.md
  processor/spanprocessor/config.go
  processor/spanprocessor/config_test.go
  processor/spanprocessor/doc.go
  processor/spanprocessor/factory.go
  processor/spanprocessor/factory_test.go
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/spanprocessor/span.go
  processor/spanprocessor/span_test.go
  processor/spanprocessor/testdata/config.yaml
Labels: release:required-for-ga, spec:trace

#4656 Migrate kafkaexporter from Collector core to Collector contrib
  exporter/kafkaexporter/Makefile
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/authentication.go
  exporter/kafkaexporter/authentication_test.go
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/doc.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/jaeger_marshaler.go
  exporter/kafkaexporter/jaeger_marshaler_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  exporter/kafkaexporter/pdata_marshaler.go
  exporter/kafkaexporter/scram_client.go
  exporter/kafkaexporter/testdata/config.yaml
  go.mod
  internal/components/components.go
  internal/components/exporters_test.go
Labels: release:required-for-ga, spec:trace

#4661 Migrate kafkareceiver from Collector core to Collector contrib
  exporter/logzioexporter/go.mod
  go.mod
  internal/components/components.go
  receiver/kafkareceiver/Makefile
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/doc.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/jaeger_unmarshaler.go
  receiver/kafkareceiver/jaeger_unmarshaler_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/metrics.go
  receiver/kafkareceiver/metrics_test.go
  receiver/kafkareceiver/pdata_unmarshaler.go
  receiver/kafkareceiver/pdata_unmarshaler_test.go
  receiver/kafkareceiver/testdata/config.yaml
  receiver/kafkareceiver/unmarshaler.go
  receiver/kafkareceiver/unmarshaler_test.go
  receiver/kafkareceiver/zipkin_unmarshaler.go
  receiver/kafkareceiver/zipkin_unmarshaler_test.go
Labels: release:required-for-ga, spec:trace

#4908 feat(dynatrace): serialize metrics using dt metrics utils
  exporter/dynatraceexporter/README.md
  exporter/dynatraceexporter/config/config.go
  exporter/dynatraceexporter/config/config_test.go
  exporter/dynatraceexporter/factory.go
  exporter/dynatraceexporter/factory_test.go
  exporter/dynatraceexporter/go.mod
  exporter/dynatraceexporter/go.sum
  exporter/dynatraceexporter/metrics_exporter.go
  exporter/dynatraceexporter/metrics_exporter_test.go
  exporter/dynatraceexporter/serialization/serialization.go
  exporter/dynatraceexporter/serialization/serialization_test.go
  exporter/dynatraceexporter/testdata/config.yml
  go.mod
  go.sum
Labels: ready-to-merge

#4733 [exporter/datadogexporter] Refactor metrics translation
  exporter/datadogexporter/internal/translator/metrics_translator.go
  exporter/datadogexporter/internal/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/translator/ttlcache.go
  exporter/datadogexporter/internal/translator/ttlcache_test.go
  exporter/datadogexporter/metrics_exporter.go
Labels: ready-to-merge
