Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2021-11, with the labels that each got.

#5972 [internal/docker] Expose additional docker client functions
  internal/docker/docker.go
Labels: ready-to-merge

#5967 [exporter/datadogexporter] Always add current hostname
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/translate_traces.go
  exporter/datadogexporter/translate_traces_test.go
Labels: ready-to-merge

#5961 [internal/docker] exposing the Events stream from the client
  internal/docker/docker.go
Labels: ready-to-merge

#6130 [exporter/datadogexporter] Correct default value for `send_count_sum_metrics`
  exporter/datadogexporter/README.md
  exporter/datadogexporter/example/config.yaml
Labels: ready-to-merge

#6120 [exporter/datadogexporter] Improve reset detection on cumulative metrics
  CHANGELOG.md
  exporter/datadogexporter/internal/translator/metrics_translator.go
  exporter/datadogexporter/internal/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/translator/sketches_test.go
  exporter/datadogexporter/internal/translator/ttlcache.go
  exporter/datadogexporter/internal/translator/ttlcache_test.go
Labels: ready-to-merge

#6138 Mysql add support for different protocols
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/client_mock_test.go
  receiver/mysqlreceiver/config.go
  receiver/mysqlreceiver/factory.go
  receiver/mysqlreceiver/factory_test.go
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
Labels: ready-to-merge

#6219 #6151 #6212: Modifies existing Prometheus Receiver Tests to use pdata directly for validations and accept staleness markers
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_external_labels_test.go
Labels: ready-to-merge

#5839 Update memcached receiver
  Makefile
  go.mod
  go.sum
  internal/components/components.go
  internal/components/receivers_test.go
  internal/scrapertest/expected.go
  internal/scrapertest/testdata/roundtrip/expected.json
  receiver/memcachedreceiver/README.md
  receiver/memcachedreceiver/client.go
  receiver/memcachedreceiver/client_mock_test.go
  receiver/memcachedreceiver/config.go
  receiver/memcachedreceiver/documentation.md
  receiver/memcachedreceiver/factory.go
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/memcachedreceiver/integration_test.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/metadata.yaml
  receiver/memcachedreceiver/scraper.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected.json
  receiver/memcachedreceiver/testdata/fake_stats.json
  receiver/memcachedreceiver/util.go
Labels: ready-to-merge

#6304 Update CODEOWNERS for googlecloudspannerreceiver
  .github/CODEOWNERS
Labels: ready-to-merge

#6307 [internal/stanza] Use hash instead of json encoded string
  internal/stanza/converter.go
  internal/stanza/converter_test.go
  internal/stanza/integration_test.go
  internal/stanza/mocks_test.go
Labels: ready-to-merge

#6113 Add allocatable type of metrics in k8scluster receiver
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/config.go
  receiver/k8sclusterreceiver/config_test.go
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/collection/nodes.go
  receiver/k8sclusterreceiver/internal/collection/nodes_test.go
  receiver/k8sclusterreceiver/internal/collection/pods_test.go
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/testdata/config.yaml
  receiver/k8sclusterreceiver/watcher.go
Labels: ready-to-merge

#6150 Add Prometheus Receiver test for label_limit configuration
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_reciever_external_labels_test.go
Labels: comp:prometheus, comp: receiver

#6362 Add Prometheus Receiver test for label_name_length_limit configuration
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: ready-to-merge, comp:prometheus, comp: receiver

#6407 Add Prometheus Receiver test to verify time series with empty label values are supported
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: ready-to-merge, comp:prometheus

#6414 [exporter/datadogexporter] Rely on http.Client's timeout instead of in exporterhelper's
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/utils/http.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/trace_connection.go
  exporter/datadogexporter/traces_exporter.go
Labels: ready-to-merge
