Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2021-12, with the labels that each got.

#6385 [tanzuobservability exporter] Add consumer for sum metrics.
  exporter/tanzuobservabilityexporter/metrics.go
  exporter/tanzuobservabilityexporter/metrics_test.go
Labels: ready-to-merge

#6479 Remove requirement for password on MySQL
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/config.go
  receiver/mysqlreceiver/config_test.go
  receiver/mysqlreceiver/factory.go
Labels: ready-to-merge

#6487 Statsdreceiver: remove several unnecessary fields
  receiver/statsdreceiver/protocol/metric_translator.go
  receiver/statsdreceiver/protocol/metric_translator_test.go
  receiver/statsdreceiver/protocol/statsd_parser.go
  receiver/statsdreceiver/protocol/statsd_parser_test.go
Labels: Skip Changelog

#6378 [internal/stanza] Batch in emitter instead of converter
  internal/stanza/converter.go
  internal/stanza/converter_test.go
  internal/stanza/emitter.go
  internal/stanza/emitter_test.go
  internal/stanza/factory.go
  internal/stanza/integration_test.go
  internal/stanza/receiver_test.go
  receiver/filelogreceiver/filelog.go
  receiver/filelogreceiver/filelog_test.go
Labels: ready-to-merge

#6223 [exporter/datadogexporter] Take hostname into account for cache
  exporter/datadogexporter/internal/translator/dimensions.go
  exporter/datadogexporter/internal/translator/dimensions_test.go
  exporter/datadogexporter/internal/translator/metrics_translator.go
  exporter/datadogexporter/internal/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/translator/sketches_test.go
  exporter/datadogexporter/internal/translator/ttlcache.go
  exporter/datadogexporter/internal/translator/ttlcache_test.go
Labels: ready-to-merge

#6511 Add djaglowski as code owner to several metric and log receivers
  .github/CODEOWNERS
Labels: ready-to-merge

#6501 Switch nginx scraper test to scrapertest pattern
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/nginxreceiver/scraper_test.go
  receiver/nginxreceiver/testdata/scraper/expected.json
Labels: ready-to-merge

#6459 ECS Task Observer endpoint implementation
  .github/CODEOWNERS
  extension/observer/ecstaskobserver/README.md
  extension/observer/ecstaskobserver/config.go
  extension/observer/ecstaskobserver/config_test.go
  extension/observer/ecstaskobserver/extension.go
  extension/observer/ecstaskobserver/extension_test.go
  extension/observer/ecstaskobserver/factory.go
  extension/observer/ecstaskobserver/factory_test.go
  extension/observer/ecstaskobserver/go.mod
  extension/observer/ecstaskobserver/go.sum
  extension/observer/ecstaskobserver/testdata/config.yaml
  extension/observer/ecstaskobserver/testdata/invalid_endpoint_config.yaml
Labels: ready-to-merge

#6420 [extentions/observers] add endpoint and example config to docker readme
  extension/observer/dockerobserver/README.md
Labels: ready-to-merge

#6431 [kafkareceiver] Fix log metrics
  receiver/kafkareceiver/kafka_receiver.go
Labels: Stale

#6681 [Prometheus Receiver] Added testcase for core Prometheus metrics
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: ready-to-merge

#6697 [Prometheus Exporter] Fix Issue 6228: Flaky End to End Test
  exporter/prometheusexporter/end_to_end_test.go
Labels: ready-to-merge

#6522 [receiver/zookeeper] Migrate scraper to new experimental metrics builder
  receiver/zookeeperreceiver/codegen.go
  receiver/zookeeperreceiver/config.go
  receiver/zookeeperreceiver/factory.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/metadata.yaml
  receiver/zookeeperreceiver/metrics.go
  receiver/zookeeperreceiver/scraper.go
  receiver/zookeeperreceiver/scraper_test.go
Labels: ready-to-merge

#6363 kafkareceiver: register kafka metrics
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: Stale

#6696 [Prometheus Receiver] Modifies otlp_metric_adjuster to support datapoint flags for staleness markers
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster_test.go
Labels: ready-to-merge

#6705 [Prometheus Receiver] Add test cases to validate honor_timestamp
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
Labels: ready-to-merge

#6372 [filterprocessor] Resource-attributes only filtering
  internal/coreinternal/processor/filtermetric/config.go
  processor/filterprocessor/README.md
  processor/filterprocessor/filter_processor.go
  processor/filterprocessor/filter_processor_test.go
Labels: Stale

#6706 [Prometheus Receiver] Adding testcase to validate renaming metrics actions
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: ready-to-merge

#6708 [Prometheus Receiver] Added test case to validate 'Untyped' metrics
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: ready-to-merge

#6711 [Prometheus Receiver] Adding testcase to validate Inf values passthrough
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
Labels: ready-to-merge

#6679 [Prometheus Remote Write Exporter] Handling Staleness flag from OTLP.
  CHANGELOG.md
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/testutil_test.go
Labels: ready-to-merge

#6709 [Prometheus Receiver] Adding testcases for validating staleNaNs passthrough
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
Labels: ready-to-merge

#6707 [Prometheus Receiver] Test case to validate label renaming functionality
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: ready-to-merge

#6710 [Prometheus Receiver] Adding testcase to validate normalNaNs passthrough
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
Labels: ready-to-merge

#6815 [receiver/couchdb] Initialize component
  .github/CODEOWNERS
  .github/dependabot.yml
  receiver/couchdbreceiver/Makefile
  receiver/couchdbreceiver/README.md
  receiver/couchdbreceiver/config.go
  receiver/couchdbreceiver/config_test.go
  receiver/couchdbreceiver/documentation.md
  receiver/couchdbreceiver/factory.go
  receiver/couchdbreceiver/factory_test.go
  receiver/couchdbreceiver/go.mod
  receiver/couchdbreceiver/go.sum
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/metadata.yaml
  receiver/couchdbreceiver/testdata/config.yaml
  versions.yaml
Labels: ready-to-merge

#6794 [receiver/prometheus] Fix start timestamp when timestamp is present
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
Labels: ready-to-merge

#6827 [receiver/elasticsearch] Initialize Component
  .github/CODEOWNERS
  .github/dependabot.yml
  receiver/elasticsearchreceiver/Makefile
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/config.go
  receiver/elasticsearchreceiver/config_test.go
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/factory.go
  receiver/elasticsearchreceiver/factory_test.go
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/testdata/config.yaml
  versions.yaml
Labels: ready-to-merge

#6621 Refactor scrapertest package
  internal/scrapertest/compare.go
  internal/scrapertest/compare_test.go
  internal/scrapertest/expected_test.go
  internal/scrapertest/golden/golden.go
  internal/scrapertest/golden/golden_test.go
  internal/scrapertest/golden/testdata/roundtrip/expected.json
  internal/scrapertest/mask_test.go
  internal/scrapertest/testdata/data-point-aggregation-expect-cumulative/actual.json
  internal/scrapertest/testdata/data-point-aggregation-expect-cumulative/expected.json
  internal/scrapertest/testdata/data-point-aggregation-expect-delta/actual.json
  internal/scrapertest/testdata/data-point-aggregation-expect-delta/expected.json
  internal/scrapertest/testdata/data-point-attribute-extra/actual.json
  internal/scrapertest/testdata/data-point-attribute-extra/expected.json
  internal/scrapertest/testdata/data-point-attribute-key/actual.json
  internal/scrapertest/testdata/data-point-attribute-key/expected.json
  internal/scrapertest/testdata/data-point-attribute-missing/actual.json
  internal/scrapertest/testdata/data-point-attribute-missing/expected.json
  internal/scrapertest/testdata/data-point-attribute-value/actual.json
  internal/scrapertest/testdata/data-point-attribute-value/expected.json
  internal/scrapertest/testdata/data-point-monotonic-expect-false/actual.json
  internal/scrapertest/testdata/data-point-monotonic-expect-false/expected.json
  internal/scrapertest/testdata/data-point-monotonic-expect-true/actual.json
  internal/scrapertest/testdata/data-point-monotonic-expect-true/expected.json
  internal/scrapertest/testdata/data-point-value-double-mismatch/actual.json
  internal/scrapertest/testdata/data-point-value-double-mismatch/expected.json
  internal/scrapertest/testdata/data-point-value-expect-double/actual.json
  internal/scrapertest/testdata/data-point-value-expect-double/expected.json
  internal/scrapertest/testdata/data-point-value-expect-int/actual.json
  internal/scrapertest/testdata/data-point-value-expect-int/expected.json
  internal/scrapertest/testdata/data-point-value-int-mismatch/actual.json
  internal/scrapertest/testdata/data-point-value-int-mismatch/expected.json
  internal/scrapertest/testdata/equal/actual.json
  internal/scrapertest/testdata/equal/expected.json
  internal/scrapertest/testdata/ignore-timestamp/actual.json
  internal/scrapertest/testdata/ignore-timestamp/expected.json
  internal/scrapertest/testdata/metric-description-mismatch/actual.json
  internal/scrapertest/testdata/metric-description-mismatch/expected.json
  internal/scrapertest/testdata/metric-name-mismatch/actual.json
  internal/scrapertest/testdata/metric-name-mismatch/expected.json
  internal/scrapertest/testdata/metric-slice-extra/actual.json
  internal/scrapertest/testdata/metric-slice-extra/expected.json
  internal/scrapertest/testdata/metric-slice-missing/actual.json
  internal/scrapertest/testdata/metric-slice-missing/expected.json
  internal/scrapertest/testdata/metric-type-expect-gauge/actual.json
  internal/scrapertest/testdata/metric-type-expect-gauge/expected.json
  internal/scrapertest/testdata/metric-type-expect-sum/actual.json
  internal/scrapertest/testdata/metric-type-expect-sum/expected.json
  internal/scrapertest/testdata/metric-unit-mismatch/actual.json
  internal/scrapertest/testdata/metric-unit-mismatch/expected.json
  internal/scrapertest/util.go
  receiver/apachereceiver/scraper_test.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/nginxreceiver/scraper_test.go
  receiver/postgresqlreceiver/scraper_test.go
Labels: ready-to-merge

#6818 [processor/attributes] Clarify logs are supported by this processor
  processor/attributesprocessor/README.md
Labels: ready-to-merge

#6831 [receiver/hostmetrics] Migrate disk scraper to the new metrics builder
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/codegen.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_others_fallback.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_others_linux.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/utils.go
Labels: ready-to-merge

#6093 add changelog step in cicd
  .github/workflows/changelog.yml
Labels: Skip Changelog

#6537 [receiver/zookeeper] Validate scraper test results using scrapertest.CompareMetricSlices
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
  receiver/zookeeperreceiver/scraper_test.go
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.4.14.json
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.5.5.json
  receiver/zookeeperreceiver/testdata/scraper/disable-watches.json
  receiver/zookeeperreceiver/testdata/scraper/error-closing-connection.json
  receiver/zookeeperreceiver/testdata/scraper/error-setting-connection-deadline.json
Labels: ready-to-merge

#6917 Run make generate
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#6918 [mdatagen] Remove license header from generated files
  cmd/mdatagen/metrics.tmpl
  cmd/mdatagen/metrics_v2.tmpl
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#6921 dependabot updates Mon Dec 20 14:36:09 PST 2021
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  go.mod
  go.sum
  receiver/couchdbreceiver/go.mod
  receiver/couchdbreceiver/go.sum
  receiver/elasticsearchreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/go.sum
Labels: Skip Changelog

#6895 [receiver/memcached] Fix some issues in metadata.yaml
  CHANGELOG.md
  receiver/memcachedreceiver/documentation.md
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/metadata.yaml
  receiver/memcachedreceiver/scraper.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected.json
Labels: ready-to-merge

#6903 [exporter/parquet] initial implementation
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/parquetexporter/Makefile
  exporter/parquetexporter/README.md
  exporter/parquetexporter/doc.go
  exporter/parquetexporter/exporter.go
  exporter/parquetexporter/factory.go
  exporter/parquetexporter/go.mod
  exporter/parquetexporter/go.sum
  exporter/parquetexporter/testdata/config.yaml
  go.mod
  go.sum
  internal/components/components.go
  internal/components/exporters_test.go
  versions.yaml
Labels: Skip Changelog

#6928 Increase memory limits for ballast test
  testbed/tests/e2e_test.go
Labels: Skip Changelog

#6916 [receiver/mysqlreceiver] Add integration test
  CHANGELOG.md
  Makefile
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql.5_7
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql.8_0
  receiver/mysqlreceiver/testdata/integration/scripts/setup.sh
Labels: ready-to-merge

#6933 Ensure all exporters are added to lifecycle test
  exporter/sentryexporter/sentry_exporter.go
  internal/components/exporters_test.go
  internal/coreinternal/testutil/testutil.go
  internal/coreinternal/testutil/testutil_test.go
Labels: Skip Changelog

#6976 [mdatagen] Clarify some comments in metadata.yaml schema
  cmd/mdatagen/metric-metadata.yaml
Labels: Skip Changelog
