Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-12, with the labels that each got.

#16559 Replace manually adding tags with multimod
  Makefile
Labels: Skip Changelog

#16563 [mdatagen] Fix documentation generated for optional metrics
  .chloggen/mdatagen-improve-documentation.yaml
  cmd/mdatagen/templates/documentation.md.tmpl
  receiver/activedirectorydsreceiver/documentation.md
  receiver/aerospikereceiver/documentation.md
  receiver/apachereceiver/documentation.md
  receiver/bigipreceiver/documentation.md
  receiver/chronyreceiver/documentation.md
  receiver/couchdbreceiver/documentation.md
  receiver/dockerstatsreceiver/documentation.md
  receiver/elasticsearchreceiver/documentation.md
  receiver/expvarreceiver/documentation.md
  receiver/flinkmetricsreceiver/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/httpcheckreceiver/documentation.md
  receiver/iisreceiver/documentation.md
  receiver/kafkametricsreceiver/documentation.md
  receiver/kubeletstatsreceiver/documentation.md
  receiver/memcachedreceiver/documentation.md
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbreceiver/documentation.md
  receiver/mysqlreceiver/documentation.md
  receiver/nginxreceiver/documentation.md
  receiver/nsxtreceiver/documentation.md
  receiver/oracledbreceiver/documentation.md
  receiver/postgresqlreceiver/documentation.md
  receiver/rabbitmqreceiver/documentation.md
  receiver/redisreceiver/documentation.md
  receiver/riakreceiver/documentation.md
  receiver/saphanareceiver/documentation.md
  receiver/sqlserverreceiver/documentation.md
  receiver/vcenterreceiver/documentation.md
  receiver/zookeeperreceiver/documentation.md
Labels: Skip Changelog

#16560 Purestorage FlashArray Receiver Host Scraper
  receiver/purefareceiver/config.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/internal/array/array.go
  receiver/purefareceiver/internal/array/array_test.go
  receiver/purefareceiver/internal/array/config.go
  receiver/purefareceiver/internal/bearertoken.go
  receiver/purefareceiver/internal/bearertoken_test.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/internal/scraper_test.go
  receiver/purefareceiver/internal/scraperconfig.go
  receiver/purefareceiver/receiver.go
Labels: Skip Changelog

#16568 Fix nano timestamp precision: Issue #16546
  .chloggen/change-tsprecision-adx-receiver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  exporter/azuredataexplorerexporter/logsdata_to_adx.go
  exporter/azuredataexplorerexporter/logsdata_to_adx_test.go
  exporter/azuredataexplorerexporter/metricsdata_to_adx.go
  exporter/azuredataexplorerexporter/metricsdata_to_adx_test.go
  exporter/azuredataexplorerexporter/tracesdata_to_adx.go
  exporter/azuredataexplorerexporter/tracesdata_to_adx_test.go
  go.mod
  go.sum
Labels: cmd/configschema, exporter/azuredataexplorer

#16558 Testbed OTLP receiver should use compression=none for no-gzip test
  testbed/testbed/receivers.go
Labels: Skip Changelog

#16572 [exporter/prometheus] Make the exporter not mutating
  .chloggen/fixprommuta.yaml
  exporter/prometheusexporter/accumulator.go
  exporter/prometheusexporter/accumulator_test.go
  exporter/prometheusexporter/factory.go
  exporter/prometheusexporter/go.mod
Labels: Skip Changelog, exporter/prometheus

#16042 [exporter/influxdbexporter] Add support for exporting to InfluxDB v1.x API
  .chloggen/feat_influxdb-1x.yaml
  exporter/influxdbexporter/README.md
  exporter/influxdbexporter/config.go
  exporter/influxdbexporter/writer.go
Labels: exporter/influxdb

#16580 [extension/filestorage] refactor: fix naming for rebound compaction
  extension/storage/filestorage/client.go
  extension/storage/filestorage/client_test.go
  extension/storage/filestorage/factory.go
Labels: ready to merge, Skip Changelog, extension/storage

#16544 [processor/tailsampling] Clarify how it works
  processor/tailsamplingprocessor/README.md
Labels: processor/tailsampling, Skip Changelog

#16512 [exporter/awsemfexporter] Consider metric data type while grouping metrics
  .chloggen/metric-type-grouping-key.yaml
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
Labels: exporter/awsemf, internal/aws

#16591 [receiver/purefa] Refactoring the code base for the new scrapers
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/receiver.go
Labels: Skip Changelog

#16589 [processor/cumulativetodelta] [chore] Update usage of Sort methods
  processor/cumulativetodeltaprocessor/internal/tracking/identity.go
Labels: Skip Changelog, processor/cumulativetodelta

#16577 [chore] Remove usages of values returned by Map.Sort in tests
  processor/resourcedetectionprocessor/internal/env/env_test.go
  receiver/awsxrayreceiver/internal/translator/annotations_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: processor/resourcedetection, receiver/solace, receiver/awsxray

#16599 [processor/resourcedetection] [chore] Remove redundant pdata helpers and OC dependency in tests
  exporter/datadogexporter/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/elasticbeanstalk_test.go
  processor/resourcedetectionprocessor/internal/azure/aks/aks_test.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/consul/consul_test.go
  processor/resourcedetectionprocessor/internal/docker/docker_test.go
  processor/resourcedetectionprocessor/internal/env/env_test.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/resourcedetection.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
  processor/resourcedetectionprocessor/internal/testutils.go
  processor/resourcedetectionprocessor/resourcedetection_processor_test.go
Labels: exporter/datadog, processor/resourcedetection

#16593 [exporter/datadogexporter] Prefix function names with Zorkian if they use Zorkian APIs
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/metrics/system.go
  exporter/datadogexporter/internal/metrics/system_test.go
  exporter/datadogexporter/internal/metrics/utils.go
  exporter/datadogexporter/internal/metrics/utils_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog, Skip Changelog

#16590 [receiver/purefa] Adds a new scrapper type directories
  receiver/purefareceiver/config.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/receiver.go
Labels: Skip Changelog

#16573 [exporter/coralogixexporter] Remove old tracing client
  .chloggen/remove-coralogix-jaeger.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/client.go
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/exporter.go
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, exporter/coralogix

#16582 [routingprocessor] Fix configuration validation bug.
  .chloggen/routing-processor-ottl-config.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/config.go
  processor/routingprocessor/config_test.go
  processor/routingprocessor/testdata/config.yaml
Labels: processor/routing

#16596 [chore] Update GCP dependancies to the latest main commit
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: exporter/datadog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema

#16609 [mysqlreceiver]: rename mysql.commands metric to mysql.prepared_statements (by default)
  .chloggen/drosiek-mysql-feature-gate.yaml
  receiver/mysqlreceiver/scraper.go
Labels: receiver/mysql

#16513 [receiver/elasticsearch]: fix the list of operations for which metrics are fetched on index level
  .chloggen/elastic-fix-fetched-index-ops.yaml
  receiver/elasticsearchreceiver/client.go
Labels: receiver/elasticsearch

#16539 [exporter/datadogexporter] Do not append duplicate ddtags on each log submission.
  .chloggen/unreleased/dd-exporter-duplicate-tags.yaml
  exporter/datadogexporter/internal/logs/sender.go
Labels: exporter/datadog

#16570 [receiver/solacereceiver] Added configurable flow control interval, baggage unmarshalling
  .chloggen/solace-baggage.yaml
  .chloggen/solace-flowctrl.yaml
  receiver/solacereceiver/README.md
  receiver/solacereceiver/config.go
  receiver/solacereceiver/config_test.go
  receiver/solacereceiver/factory.go
  receiver/solacereceiver/go.mod
  receiver/solacereceiver/model/receive_v1.proto
  receiver/solacereceiver/model/v1/receive_v1.pb.go
  receiver/solacereceiver/observability.go
  receiver/solacereceiver/observability_test.go
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/receiver_test.go
  receiver/solacereceiver/testdata/config.yaml
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: receiver/solace

#16617 [chore] Fix typo in trace parser example
  pkg/stanza/docs/types/trace.md
Labels: pkg/stanza

#16575 [receiver/prometheus] Prepare usage of Map.Sort for upcoming changes
  receiver/prometheusreceiver/internal/metrics_adjuster.go
Labels: Skip Changelog, receiver/prometheus

#16622 [processor/transform] Fix panic when transforming span events
  .chloggen/tp-fix-spanevent-bug.yaml
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: ready to merge, processor/transform

#15233 Add command to generate cfgschema yaml files
  .chloggen/yamlgen.yaml
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/README.md
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/cli.go
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/metadata_writer.go
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/metadata_writer_test.go
  cmd/configschema/cfgmetadatagen/main.go
  cmd/configschema/docsgen/docsgen/cli.go
  cmd/configschema/go.mod
  cmd/configschema/resolver.go
  cmd/configschema/resolver_test.go
Labels: cmd/configschema

#16726 [receiver/mysql] Add mysql.connection.count metric
  .chloggen/drosiek-mysql-connection-count.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
Labels: receiver/mysql

#16602 [pkg/stanza] Upgrade doublestar from v3 to v4
  .chloggen/upgrade-doublestar-pkg-stanza.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
Labels: exporter/datadog, receiver/filelog, cmd/configschema, pkg/stanza, receiver/otlpjsonfile

#16725 [receiver/purefa] Adds the new scrapper type pods
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: Skip Changelog

#16731 Print test results in text format to both stdout and file to be collected by Foresight
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/prometheus-compliance-tests.yml
  Makefile.Common
  testbed/runtests.sh
Labels: Skip Changelog

#16482 [exporter/splunkhecexporter] Add HEC health check
  .chloggen/add-hec-health-check.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/exporter.go
  exporter/splunkhecexporter/exporter_test.go
  exporter/splunkhecexporter/factory.go
Labels: exporter/splunkhec

#16738 [receiver/purefa] Adds a new scraper type volumes
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: Skip Changelog

#16588 [headerssetter] Disable secure transport for the extension.
  .chloggen/header-setter-transport-security.yaml
  extension/headerssetterextension/extension.go
Labels: extension/headerssetter

#16735 [chore] [receiver/hostmetrics] Extend the deprecation timeline
  receiver/hostmetricsreceiver/README.md
Labels: receiver/hostmetrics

#16729 fix(vCenter): balooned memory is expressend in MB
  .chloggen/fix_metricType.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.json
  receiver/vcenterreceiver/testdata/metrics/expected_without_direction.json
  receiver/vcenterreceiver/testdata/metrics/integration-metrics.json
Labels: receiver/vcenter

#16734 Bump github.com/prometheus/prometheus to 0.40.5
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/transaction.go
  receiver/promtailreceiver/go.mod
  receiver/promtailreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies

#16595 [exporter/fileexporter] fix fileexporter nil pointer due to shared component
  .chloggen/fix-fileexporter-nil-pointer.yaml
  exporter/fileexporter/factory.go
Labels: exporter/file

#16435 [receiver/aerospike] Update integration test to use ARM compatible image
  receiver/aerospikereceiver/integration_test.go
Labels: Skip Changelog, receiver/aerospike

#16003 use prefix to distinguish dimensions from different span kind
  .chloggen/servicegraphprocessor-distinguish-attribute.yaml
  processor/servicegraphprocessor/README.md
  processor/servicegraphprocessor/processor.go
Labels: processor/servicegraph

#16771 [pkg/stanza/key_value_parser] Add test for multiline log records
  pkg/stanza/docs/operators/key_value_parser.md
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
  pkg/stanza/operator/parser/keyvalue/testdata/config.yaml
Labels: Skip Changelog, pkg/stanza

#16620 [receiver/mysql] Remove unsupported version from integration tests
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql.5_7
  receiver/mysqlreceiver/testdata/integration/expected.5_7.json
Labels: Skip Changelog, receiver/mysql

#16775 [mdatagen] Migrate metadata unmarshaling to mapstructure
  cmd/mdatagen/go.mod
  cmd/mdatagen/go.sum
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metricdata.go
  cmd/mdatagen/templates/documentation.md.tmpl
  cmd/mdatagen/templates/metrics_test.go.tmpl
  cmd/mdatagen/testdata/unknown_value_type.yaml
Labels: Skip Changelog, cmd/mdatagen

#16770 [mdatagen] Improvement on README for mdatagen new codegen file
  cmd/mdatagen/README.md
Labels: Skip Changelog, cmd/mdatagen

#16797 [processor/filter] Fix readme again
  processor/filterprocessor/README.md
Labels: processor/filter, Skip Changelog

#16566 [exporter/awsemfexporter] Export fields of MetricDescriptor to enable decoding
  .chloggen/metricdescriptor-export-fields.yaml
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/testdata/config.yaml
Labels: ready to merge, exporter/awsemf

#16804 [chore] dependabot updates Wed Dec 7 15:02:28 PST 2022
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/alibabacloudlogserviceexporter/go.mod
  exporter/alibabacloudlogserviceexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/promtailreceiver/go.mod
  receiver/promtailreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, processor/spanmetrics, exporter/googlecloud, receiver/kubeletstats, exporter/googlemanagedprometheus, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/awskinesis, exporter/elasticsearch, exporter/googlecloudpubsub, exporter/prometheus, receiver/googlecloudspanner, receiver/prometheusexec, receiver/simpleprometheus, receiver/googlecloudpubsub, internal/tools, cmd/oteltestbedcol, receiver/promtail, receiver/purefa, testbed

#16612 [chore] Remove name mapping in hec
  .chloggen/remove-name-mapping-in-hec.yaml
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/exporter.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/testdata/config.yaml
Labels: exporter/splunkhec

#16808 [chore] [cmd/otelcontribcol] Add replace for github.com/mattn/go-ieproxy
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#16044 [receiver/oracledbreceiver] add implementation of oracledbreceiver
  .chloggen/oracledbreceiver-impl.yaml
  receiver/oracledbreceiver/README.md
  receiver/oracledbreceiver/config.go
  receiver/oracledbreceiver/config_test.go
  receiver/oracledbreceiver/db_client.go
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/factory_test.go
  receiver/oracledbreceiver/fake_db_client.go
  receiver/oracledbreceiver/go.mod
  receiver/oracledbreceiver/go.sum
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/oracledbreceiver/testdata/config.yaml
Labels: receiver/oracledb

#16806 [mdatagen] Detect unused attributes
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/testdata/unused_attribute.yaml
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/metadata.yaml
Labels: Skip Changelog, cmd/mdatagen, receiver/vcenter, receiver/elasticsearch

#16824 [chore] downgrade psutil
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  exporter/prometheusexporter/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  exporter/tanzuobservabilityexporter/go.mod
  exporter/tanzuobservabilityexporter/go.sum
  extension/fluentbitextension/go.mod
  extension/fluentbitextension/go.sum
  extension/observer/hostobserver/go.mod
  extension/observer/hostobserver/go.sum
  go.mod
  go.sum
  processor/probabilisticsamplerprocessor/go.mod
  processor/probabilisticsamplerprocessor/go.sum
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.sum
  receiver/receivercreator/go.mod
  receiver/receivercreator/go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  receiver/simpleprometheusreceiver/go.sum
  receiver/snmpreceiver/go.mod
  receiver/snmpreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, processor/spanmetrics, exporter/loadbalancing, receiver/jmx, receiver/hostmetrics, receiver/awscontainerinsight, exporter/googlecloud, exporter/googlemanagedprometheus, exporter/tanzuobservability, receiver/prometheus, processor/probabilisticsampler, cmd/configschema, cmd/otelcontribcol, exporter/signalfx, exporter/prometheus, receiver/prometheusexec, receiver/signalfx, receiver/simpleprometheus, extension/observer, receiver/azureeventhub, receiver/azureblob, processor/servicegraph, receiver/snmp, cmd/oteltestbedcol, receiver/purefa, receiver/receivercreator, testbed

#16812 [mdatagen] Add test_metadata.yaml to generate sample code
  Makefile
  cmd/mdatagen/README.md
  cmd/mdatagen/doc.go
  cmd/mdatagen/documentation.md
  cmd/mdatagen/go.mod
  cmd/mdatagen/go.sum
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/metadata/generated_metrics_test.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/metadata.yaml
  cmd/mdatagen/testdata/all_options.yaml
Labels: Skip Changelog, cmd/mdatagen

#16822 Remove loki dependency, copy files from logproto
  .chloggen/rmloki.yaml
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/lokiexporter/legacy_exporter.go
  exporter/lokiexporter/legacy_exporter_test.go
  exporter/lokiexporter/next_exporter_test.go
  pkg/translator/loki/convert.go
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/loki/logproto/doc.go
  pkg/translator/loki/logproto/logproto.pb.go
  pkg/translator/loki/logproto/metrics.pb.go
  pkg/translator/loki/logproto/timeseries.go
  pkg/translator/loki/logproto/timestamp.go
  pkg/translator/loki/logproto/types.go
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: exporter/datadog, processor/spanmetrics, exporter/loadbalancing, receiver/jmx, receiver/hostmetrics, receiver/dockerstats, exporter/loki, receiver/awscontainerinsight, exporter/googlecloud, exporter/googlemanagedprometheus, exporter/tanzuobservability, receiver/prometheus, processor/probabilisticsampler, cmd/configschema, cmd/otelcontribcol, exporter/signalfx, exporter/prometheus, receiver/prometheusexec, receiver/signalfx, receiver/simpleprometheus, extension/observer, receiver/azureeventhub, receiver/azureblob, processor/servicegraph, receiver/snmp, pkg/translator/loki, cmd/oteltestbedcol, receiver/purefa, receiver/receivercreator, testbed

#16844 Move oracledbreceiver to alpha
  .chloggen/oracledb-alpha.yaml
  receiver/oracledbreceiver/README.md
  receiver/oracledbreceiver/factory.go
Labels: receiver/oracledb

#15296 [receiver/snowflake] add metrics
  .chloggen/snowflake_add_metrics.yaml
  receiver/snowflakereceiver/documentation.md
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics_test.go
  receiver/snowflakereceiver/metadata.yaml
Labels: exporter/loki, cmd/configschema, cmd/otelcontribcol, receiver/snowflake, pkg/translator/loki, cmd/oteltestbedcol

#16794 [pkg/ottl] bump golang.org/x/exp
  exporter/datadogexporter/go.sum
  internal/filter/go.mod
  internal/filter/go.sum
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: ready to merge, exporter/datadog, processor/attributes, processor/filter, Skip Changelog, processor/transform, processor/routing, cmd/otelcontribcol, pkg/ottl, processor/span, internal/tools, internal/filter, cmd/oteltestbedcol

#16846 [receiver/snowflake] [chore] Update core collector deps to fix build
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
Labels: receiver/snowflake

#16852 exporter/datadogexporter: add support for metrics as APM Stats
  .chloggen/gbbr_processor-1-exporter.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  go.mod
  go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol

#16856 [receiver/mongodbreceiver] remove deprecated io/ioutil for golang
  receiver/mongodbatlasreceiver/alerts_integration_test.go
Labels: Skip Changelog, receiver/mongodbatlas

#16974 [chore] bump k8s libraries
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  go.mod
  go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/kubelet/go.mod
  internal/kubelet/go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/fake_informer.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
Labels: exporter/datadog, processor/k8sattributes, processor/resourcedetection, receiver/awscontainerinsight, receiver/kubeletstats, cmd/configschema, cmd/otelcontribcol, receiver/k8sevents, receiver/simpleprometheus, receiver/k8scluster, extension/observer, internal/aws, internal/kubelet, cmd/oteltestbedcol, internal/k8sconfig, receiver/k8sobjects

#16853 processor: add datadogprocessor
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  processor/datadogprocessor/Makefile
  processor/datadogprocessor/README.md
  processor/datadogprocessor/agent.go
  processor/datadogprocessor/agent_test.go
  processor/datadogprocessor/config.go
  processor/datadogprocessor/doc.go
  processor/datadogprocessor/factory.go
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  processor/datadogprocessor/processor.go
  processor/datadogprocessor/processor_test.go
  versions.yaml
Labels: Skip Changelog

#16614 [exporter/datadog] Rename current metrics helper functions to *_deprecated
  exporter/datadogexporter/internal/metrics/consumer_deprecated.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/system_deprecated.go
  exporter/datadogexporter/internal/metrics/system_deprecated_test.go
  exporter/datadogexporter/internal/metrics/utils_deprecated.go
  exporter/datadogexporter/internal/metrics/utils_deprecated_test.go
Labels: exporter/datadog, Skip Changelog

#17008 [chore] remove unnecessary componenttest.NewNopFactories usages in tests
  exporter/datadogexporter/factory_test.go
  exporter/humioexporter/factory_test.go
  processor/routingprocessor/factory_test.go
  receiver/solacereceiver/factory_test.go
Labels: exporter/datadog, processor/routing, exporter/humio, receiver/solace

#17000 [receiver/splunkhec] remove path config key
  .chloggen/delete-splunkhecreceiver-path.yaml
  receiver/splunkhecreceiver/config.go
  receiver/splunkhecreceiver/factory.go
Labels: receiver/splunkhec

#16998 [receiver/oracledb] remove duplicate default config
  .chloggen/oracledb-remove-duplicate-default-config.yaml
  receiver/oracledbreceiver/config.go
  receiver/oracledbreceiver/config_test.go
Labels: receiver/oracledb

#16810 [receiver/mysql]: add mysql.replica.time_behind_source and mysql.replica.sql_delay metrics
  .chloggen/drosiek-mysql-slave-metrics.yaml
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
  receiver/mysqlreceiver/testdata/scraper/replica_stats.txt
  receiver/mysqlreceiver/testdata/scraper/replica_stats_empty.txt
Labels: receiver/mysql

#16429 [GoogleCloudSpannerReceiver] Support for p50, p95 and p99 percentile latencies for queries and transaction statistics
  .chloggen/googlecloudspannerreceiver-percentile-latencies-feature.yaml
  receiver/googlecloudspannerreceiver/internal/metadataconfig/metadata.yaml
Labels: ready to merge, receiver/googlecloudspanner

#17011 [exporter/logzioexporter] fix logger implemantation
  .chloggen/logzioexporter-logger-fix.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/logzioexporter/logger.go
  go.mod
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/logzio, cmd/oteltestbedcol

#17016 [extension/bearertokenauthextension] Fix typo in README
  extension/bearertokenauthextension/README.md
Labels: Skip Changelog, extension/bearertokenauth

#17001 processor/datadogprocessor: pick any "datadog" exporter if not ambiguous
  processor/datadogprocessor/config.go
  processor/datadogprocessor/processor.go
  processor/datadogprocessor/processor_test.go
Labels: Skip Changelog, processor/datadog

#16601 [processor/spanmetrics] Emit metrics every n seconds
  .chloggen/spanmetricsprocessor-emit-every-n-seconds.yaml
  processor/spanmetricsprocessor/config.go
  processor/spanmetricsprocessor/config_test.go
  processor/spanmetricsprocessor/factory.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  processor/spanmetricsprocessor/internal/cache/cache.go
  processor/spanmetricsprocessor/internal/cache/cache_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  processor/spanmetricsprocessor/testdata/config-full.yaml
Labels: processor/spanmetrics

#16854 [receiver/mongodb]: Add mongodb metrics for operation latency and replication
  .chloggen/mongodb-add-op-latency-repl-metrics.yaml
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/admin.json
  receiver/mongodbreceiver/testdata/scraper/expected.json
  receiver/mongodbreceiver/testdata/serverStatus.json
Labels: receiver/mongodb

#16096 [receiver/elasticsearch]: Add additional node metrics around request cache and process stats
  .chloggen/elasticsearch-add-request-cache-process-stats.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/model/nodestats.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
Labels: receiver/elasticsearch

#16845 [receiver/postgresql] Fix issue with postgresql query for pg_stat_replication
  .chloggen/postgresql-wal-lag-coalesce-fix.yaml
  receiver/postgresqlreceiver/client.go
Labels: receiver/postgresql

#14633 [receiver/hostmetrics] Add optional metric `process.memory.utilization`
  .chloggen/add-process-memory-utilization-metric.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics

#17029 [chore] Remove replace directives
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/promtailreceiver/go.mod
  receiver/promtailreceiver/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, receiver/promtail

#17026 [bug]? fix host metrics config test error comparison
  receiver/hostmetricsreceiver/config_test.go
Labels: Skip Changelog, receiver/hostmetrics

#16615 [exporter/loki] Allow nested attribute to be promoted to label
  .chloggen/loki-nested-attributes.yaml
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
Labels: exporter/loki, pkg/translator/loki

#17023 [exporter/humio] deprecate humioexporter
  .chloggen/mark-humio-as-obsolete.yaml
  exporter/humioexporter/README.md
  exporter/humioexporter/factory.go
  exporter/humioexporter/go.mod
Labels: ready to merge, exporter/humio

#16718 [pkg/ottl] Enforce function case
  .chloggen/ottl-enforce-function-type.yaml
  pkg/ottl/README.md
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/lexer_test.go
  pkg/ottl/math_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: ready to merge, pkg/ottl

#16842 [receiver/haproxyreceiver] add HAProxy receiver
  .chloggen/add-haproxy.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
  go.mod
  internal/components/receivers_test.go
  receiver/haproxyreceiver/Makefile
  receiver/haproxyreceiver/README.md
  receiver/haproxyreceiver/config.go
  receiver/haproxyreceiver/doc.go
  receiver/haproxyreceiver/documentation.md
  receiver/haproxyreceiver/factory.go
  receiver/haproxyreceiver/go.mod
  receiver/haproxyreceiver/go.sum
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/metadata.yaml
  receiver/haproxyreceiver/scraper.go
  versions.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol

#17027 [chore] [exporter/googlecloud] Add regex resource_filtering to google cloud exporter docs
  exporter/googlecloudexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/googlecloud

#17047 [*/datadog] Bump Datadog Agent modules
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#17054 [chore] fix haproxy dep
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  go.mod
  go.sum
  receiver/haproxyreceiver/go.mod
  receiver/haproxyreceiver/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, receiver/haproxy

#17056 [chore] [processor/filter] Fix unit tests
  pkg/ottl/parser.go
  processor/filterprocessor/config_test.go
  processor/transformprocessor/config_test.go
Labels: processor/filter, Skip Changelog, processor/transform, pkg/ottl

#17050 [receiver/dockerstats] Fix integration tests
  receiver/dockerstatsreceiver/integration_test.go
Labels: Skip Changelog, receiver/dockerstats

#17060 [chore] fix unittests in exporter/loadbalancing
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#17059 [chore] Remove usages of deprecated methods from core service module
  internal/otelcontribcore/main_others.go
  internal/otelcontribcore/main_windows.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/testbed/in_process_collector.go
Labels: receiver/prometheus, testbed

#17063 Revert "[processor/spanmetrics] Emit metrics every n seconds (#16601)"
  .chloggen/spanmetricsprocessor-emit-every-n-seconds.yaml
  processor/spanmetricsprocessor/config.go
  processor/spanmetricsprocessor/config_test.go
  processor/spanmetricsprocessor/factory.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  processor/spanmetricsprocessor/internal/cache/cache.go
  processor/spanmetricsprocessor/internal/cache/cache_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  processor/spanmetricsprocessor/testdata/config-full.yaml
Labels: processor/spanmetrics, Skip Changelog

#17066 [chore] [receiver/kafkametrics] Skip failing integration tests
  receiver/kafkametricsreceiver/kafkametrics_e2e_test.go
Labels: receiver/kafkametrics

#17067 [chore] Remove haproxy from receivers list test
  go.mod
  internal/components/receivers_test.go
Labels: cmd/configschema, cmd/otelcontribcol

#17044 [chore] Ensure tests fail
  Makefile
  Makefile.Common
Labels: exporter/datadog, processor/spanmetrics, exporter/loadbalancing, receiver/dockerstats, receiver/prometheus

#17068 [mongodbreceiver] Skipping flakey integration test until it can be reviewed by code owner
  receiver/mongodbreceiver/integration_test.go
Labels: Skip Changelog, receiver/mongodb

#16543 [receiver/k8sobjects] Fix empty `event.name` attribute when using watch mode
  .chloggen/k8sobjects-fix-empty-event-name.yaml
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: receiver/k8sobjects

#17071 [exporter/loki] Add instrumentation scope to log object
  .chloggen/loki-instrumentation-scope.yaml
  exporter/lokiexporter/legacy_exporter.go
  exporter/lokiexporter/legacy_exporter_test.go
  pkg/translator/loki/convert.go
  pkg/translator/loki/encode.go
  pkg/translator/loki/encode_test.go
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: exporter/loki, pkg/translator/loki

#17046 [processor/datadog] Mark payloads for which stats have been computed
  processor/datadogprocessor/agent.go
  processor/datadogprocessor/agent_test.go
Labels: Skip Changelog, processor/datadog

#17043 [exporter/splunkhec] fix: overcapacity error when MaxContentLength is 0
  .chloggen/splunkhec-over-capacity-error-fix.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#17057 [chore] Updated go-amqp to v0.18.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  go.mod
  go.sum
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/solacereceiver/go.mod
  receiver/solacereceiver/go.sum
  receiver/solacereceiver/messaging_service.go
  receiver/solacereceiver/messaging_service_test.go
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/receiver_test.go
Labels: cmd/configschema, cmd/otelcontribcol, receiver/solace, receiver/azureeventhub, receiver/azureblob, cmd/oteltestbedcol

#17076 [exporter/datadog] Add missing package comments
  exporter/datadogexporter/internal/clientutil/doc.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/metadata/internal/ecs/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider.go
  exporter/datadogexporter/internal/metadata/internal/k8s/provider.go
  exporter/datadogexporter/internal/metadata/internal/system/host.go
  exporter/datadogexporter/internal/metadata/provider/provider.go
  exporter/datadogexporter/internal/metadata/valid/valid.go
  exporter/datadogexporter/internal/metrics/doc.go
  exporter/datadogexporter/internal/scrub/scrub.go
  exporter/datadogexporter/internal/testutil/test_utils.go
Labels: exporter/datadog, Skip Changelog

#17036 [pkg/ottl] support substring function
  .chloggen/support_substring_func.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_substring.go
  pkg/ottl/ottlfuncs/func_substring_test.go
Labels: processor/transform, pkg/ottl

#16607 internal/components: enable datadogprocessor
  .chloggen/gbbr_datadogprocessor.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
  go.mod
  internal/components/components.go
  internal/components/processors_test.go
Labels: cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, processor/datadog

#17078 [chore] separate core modules from places that use them
  .github/workflows/scripts/check-collector-module-version.sh
  Makefile.Common
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  exporter/parquetexporter/go.mod
  exporter/parquetexporter/go.sum
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/go.sum
  exporter/tanzuobservabilityexporter/go.mod
  exporter/tanzuobservabilityexporter/go.sum
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/go.sum
  internal/aws/cwlogs/go.mod
  internal/aws/cwlogs/go.sum
  internal/aws/ecsutil/go.mod
  internal/aws/ecsutil/go.sum
  internal/buildscripts/modules
  internal/buildscripts/update-dep
  internal/sharedcomponent/go.mod
  internal/sharedcomponent/go.sum
  internal/splunk/go.mod
  internal/splunk/go.sum
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/resourcetotelemetry/go.mod
  pkg/resourcetotelemetry/go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  processor/groupbytraceprocessor/go.mod
  processor/groupbytraceprocessor/go.sum
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/go.sum
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  testbed/go.mod
  testbed/mockdatareceivers/mockawsxrayreceiver/go.mod
  testbed/mockdatareceivers/mockawsxrayreceiver/go.sum
Labels: processor/groupbytrace, exporter/googlemanagedprometheus, exporter/tanzuobservability, exporter/parquet, exporter/sumologic, receiver/influxdb, pkg/ottl, pkg/resourcetotelemetry, extension/oidcauth, receiver/azureblob, processor/servicegraph, internal/aws, internal/splunk, internal/sharedcomponent, testbed, processor/datadog

#17084 [exporter/splunkhec] Fix data race when gzip compression is enabled
  .chloggen/splunkhec-gzip-pool-data-race-fix.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/exporter.go
Labels: exporter/splunkhec

#17174 Delete duplicated check for jar_path
  receiver/jmxreceiver/config.go
Labels: Skip Changelog, receiver/jmx

#17176 [chore] update jaeger dep
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/jaegerexporter/go.mod
  exporter/jaegerexporter/go.sum
  exporter/jaegerthrifthttpexporter/go.mod
  exporter/jaegerthrifthttpexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  extension/healthcheckextension/go.mod
  extension/healthcheckextension/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  go.mod
  go.sum
  pkg/translator/jaeger/go.mod
  pkg/translator/jaeger/go.sum
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/go.sum
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: receiver/zipkin, processor/spanmetrics, extension/healthcheck, cmd/configschema, cmd/otelcontribcol, exporter/jaeger, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/kafka, exporter/jaegerthrifthttp, exporter/sapm, exporter/zipkin, receiver/kafka, receiver/jaeger, receiver/kafkametrics, receiver/sapm, extension/jaegerremotesampling, receiver/pulsar, pkg/translator/jaeger, pkg/translator/zipkin, cmd/oteltestbedcol, testbed

#17048 [receiver/snowflakereceiver] add client and config
  .chloggen/snowflake_add_client.yaml
  .chloggen/snowflake_add_config.yaml
  receiver/snowflakereceiver/client.go
  receiver/snowflakereceiver/client_test.go
  receiver/snowflakereceiver/config.go
  receiver/snowflakereceiver/config_test.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/snowflakereceiver/model.go
Labels: receiver/snowflake

#14566 [receiver/hostmetrics] Add optional metric `process.disk.operations`
  .chloggen/add-process-disk-operations-metric.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics

#17042 [receiver/elasticsearch]: change feature gates for cluster health and index operations to beta
  .chloggen/elastic-v0680-feature-gates.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/integration_test.go
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
Labels: receiver/elasticsearch

#17175 [extension/observer] fix document of label format
  extension/observer/ecsobserver/README.md
Labels: ready to merge, Skip Changelog, extension/observer

#17178 [chore] [exporter/splunkhec] fix flaky test expecting all requests to be gzipped.
  exporter/splunkhecexporter/exporter_test.go
Labels: Skip Changelog, exporter/splunkhec

#17194 [pkg/stanza] Fix support of include/exclude patterns on Windows
  .chloggen/fix-stanza-finder-windows.yaml
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/finder_test.go
Labels: pkg/stanza, Run Windows

#17191 Graduate and remove exporter.googlecloud.OTLPDirect feature-gate
  .chloggen/graduate_gcp_otlpdirect.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/googlecloudexporter/README.md
  exporter/googlecloudexporter/config_test.go
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/factory_test.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudexporter/legacyconfig.go
  exporter/googlecloudexporter/legacyconfig_test.go
  exporter/googlecloudexporter/legacymetrics.go
  exporter/googlecloudexporter/legacymetrics_test.go
  exporter/googlecloudexporter/legacyobservability.go
  exporter/googlecloudexporter/legacyresource.go
  exporter/googlecloudexporter/legacyresource_test.go
  go.mod
  go.sum
Labels: exporter/googlecloud, cmd/configschema, cmd/otelcontribcol

#17198 [receiver/solace] Skip unit tests failing on Windows
  receiver/solacereceiver/receiver_test.go
Labels: Skip Changelog, receiver/solace

#17183 - Force windows to fail
  Makefile.Common
Labels: Skip Changelog, receiver/chrony, Run Windows

#17202 [chore] [receiver/solacereceiver] Fix failing windows tests
  receiver/solacereceiver/receiver_test.go
Labels: receiver/solace, Run Windows

#17203 [mdatagen] [chore] Consolidate generated tests cases
  cmd/mdatagen/internal/metadata/generated_metrics_test.go
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/metrics_test.go.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_test.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachereceiver/internal/metadata/generated_metrics_test.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_test.go
  receiver/chronyreceiver/internal/metadata/generated_metrics_test.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/expvarreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/iisreceiver/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/riakreceiver/internal/metadata/generated_metrics_test.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_test.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony, receiver/httpcheck, receiver/oracledb, receiver/haproxy

#17204 [chore] [receiver/solacereceiver] Fixed failing unit test on windows by increasing timeout
  receiver/solacereceiver/receiver_test.go
Labels: receiver/solace

#17200 [chore] [exporter/splunkhec] Refactor client code
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/exporter.go
  exporter/splunkhecexporter/exporter_test.go
  exporter/splunkhecexporter/hec_worker.go
  exporter/splunkhecexporter/hec_worker_test.go
Labels: exporter/splunkhec

#17206 [chore] fix zookeeper supported pipeline types
  receiver/zookeeperreceiver/README.md
Labels: Skip Changelog, receiver/zookeeper

#17199 [chore] ensure all components tested under lifecycle don't panic if shutdown is called first
  extension/fluentbitextension/process.go
  extension/httpforwarder/extension.go
  extension/storage/dbstorage/extension.go
  internal/components/exporters_test.go
  internal/components/extensions_test.go
  internal/components/processors_test.go
  internal/components/receivers_test.go
  internal/coreinternal/timeutils/ticker_helper.go
  pkg/stanza/adapter/receiver.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  receiver/awsfirehosereceiver/receiver.go
  receiver/fluentforwardreceiver/receiver.go
  receiver/googlecloudspannerreceiver/receiver.go
  receiver/influxdbreceiver/receiver.go
  receiver/receivercreator/receiver.go
  receiver/sapmreceiver/trace_receiver.go
  receiver/signalfxreceiver/receiver.go
  receiver/simpleprometheusreceiver/receiver.go
  receiver/statsdreceiver/receiver.go
Labels: receiver/statsd, receiver/googlecloudspanner, receiver/fluentforward, receiver/influxdb, receiver/signalfx, receiver/awsfirehose, receiver/simpleprometheus, receiver/sapm, pkg/stanza, extension/storage, internal/core, receiver/receivercreator

#17079 [processor/logstransform] refactor to pass along logs asynchronously
  .chloggen/make-logs-transform-processor-more-reliable.yaml
  processor/logstransformprocessor/factory.go
  processor/logstransformprocessor/processor.go
  processor/logstransformprocessor/processor_test.go
Labels: processor/logstransform

#16851 > fix servicegraphprocessor concurrent map read and write
  .chloggen/servicegraphprocessor-concurrent.yaml
  processor/servicegraphprocessor/processor.go
Labels: processor/servicegraph

#17270 [mysqlreceiver]: remove deprecated mysql.commands metric
  .chloggen/drosiek-mysql-remove-commands.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/internal/metadata/deprecated_metrics_commands.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/testdata/config.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
Labels: receiver/mysql

#16859 [exporter/awsxray] Adding Log Group Names to X-Ray Exporter Config
  .chloggen/xray_add_loggroupnames.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/awsxray.go
  exporter/awsxrayexporter/config.go
  exporter/awsxrayexporter/config_test.go
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  exporter/awsxrayexporter/internal/translator/writer_pool_test.go
  exporter/awsxrayexporter/testdata/config.yaml
Labels: exporter/awsxray

#16767 [azureblobreceiver] Add azureblobreceiver to components
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  go.mod
  go.sum
  internal/components/components.go
  internal/components/receivers_test.go
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol

#17283 [chore] Clean up mongodbreceiver integration tests.
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/testdata/integration/expected.2_6.json
  receiver/mongodbreceiver/testdata/integration/expected.3_0.json
Labels: receiver/mongodb

#17282 [chore] Ensure that comparetest's 'WriteMetrics' function is used only temporarily
  internal/comparetest/README.md
  internal/comparetest/golden/golden.go
  internal/comparetest/golden/golden_test.go
Labels: receiver/mongodb, internal/comparetest
