Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-08, with the labels that each got.

#12797 [pkg/translator]enable gocritic
  pkg/translator/prometheus/normalize_label_test.go
  pkg/translator/prometheus/testutils_test.go
Labels: Skip Changelog

#12798 [pkg/telemetryquerylanguage/contexts/logs] enable gocritic
  pkg/telemetryquerylanguage/contexts/logs/logs.go
Labels: ready-to-merge, Skip Changelog

#12867 Fix usage of deprecated funcs that work with mutable slices
  exporter/dynatraceexporter/internal/serialization/histogram_test.go
  exporter/lokiexporter/encode_json.go
  exporter/tanzuobservabilityexporter/metrics.go
  exporter/tanzuobservabilityexporter/metrics_test.go
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/adapter/frompdataconverter.go
  processor/groupbyattrsprocessor/processor_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/solacereceiver/unmarshaller_test.go
  testbed/correctnesstests/metrics/metric_diff.go
Labels: Skip Changelog

#12866 transformquery: fix usage of deprecated func
  pkg/telemetryquerylanguage/contexts/logs/logs.go
  pkg/telemetryquerylanguage/contexts/metrics/metrics.go
  pkg/telemetryquerylanguage/contexts/metrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/traces/traces.go
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/metrics/metrics_test.go
  processor/transformprocessor/internal/traces/traces.go
Labels: Skip Changelog

#12783 [pkg/stanza/fileconsumer] Add tests for positional scanner
  pkg/stanza/fileconsumer/scanner.go
  pkg/stanza/fileconsumer/scanner_test.go
Labels: Skip Changelog

#12878 Fix usage of deprecated funcs that work with mutable slices
  exporter/lokiexporter/encode_json_test.go
  pkg/stanza/adapter/frompdataconverter_test.go
  receiver/solacereceiver/unmarshaller.go
Labels: Skip Changelog

#12877 Set correct stability level for pulsar exporter, matches readme
  exporter/pulsarexporter/factory.go
Labels: Skip Changelog

#12854 prometheusremotewriteexporter: fix panic on histogram without buckets
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/testutil_test.go
  pkg/translator/prometheusremotewrite/helper.go
  unreleased/prw-no-hist-panic.yaml
Labels: exporter/prometheusremotewrite

#12792 [exporter/signalf] fix lint error for signalfxexporter
  exporter/signalfxexporter/dpclient.go
  exporter/signalfxexporter/eventclient.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/correlation/correlation_test.go
Labels: Skip Changelog

#12790 [receiver/sapm] fix lint for sapmreceiver
  receiver/sapmreceiver/trace_receiver.go
  receiver/sapmreceiver/trace_receiver_test.go
Labels: Skip Changelog

#12791 [internal/components] fix lint for internal/components
  internal/components/extensions_test.go
Labels: Skip Changelog

#12780 [receiver/statsd] fix lint for statsdreceiver
  receiver/statsdreceiver/protocol/statsd_parser_test.go
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/receiver_test.go
  receiver/statsdreceiver/reporter_test.go
Labels: Skip Changelog

#12880 Change mdatagen to generate using InsertX funcs, avoids one allocation
  cmd/mdatagen/metrics_v2.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_v2.go
  receiver/chronyreceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_v2.go
  receiver/iisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_v2.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_v2.go
  receiver/redisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/riakreceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_v2.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_v2.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#12622 [receiver/simpleprometheus] fix lint for simpleprometheusreceiver
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/main.go
Labels: Skip Changelog

#12665 [receiver/splunkh] fix errcheck lint error
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: Skip Changelog

#12086 [prometheusremotewrite] Export `target_info` not `target`
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  unreleased/prometheusrw-exp-export-target-info.yaml
Labels: bug, comp:prometheus, exporter/prometheusremotewrite

#12882 [pkg/telemetryquerylanguage] Rename context folders to match package names
  pkg/telemetryquerylanguage/contexts/tqllogs/README.md
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqllogs/logs_test.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/README.md
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/tqltraces/README.md
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces_test.go
Labels: Skip Changelog

#12881 Set correct stability level for sokace and chrony receivers, matches readme
  receiver/chronyreceiver/factory.go
  receiver/solacereceiver/factory.go
Labels: Skip Changelog

#12509 [receiver/awsxray] fix lint error for awsxrayreceiver
  receiver/awsxrayreceiver/internal/translator/http.go
  receiver/awsxrayreceiver/internal/translator/translator.go
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
  receiver/awsxrayreceiver/receiver.go
  receiver/awsxrayreceiver/receiver_test.go
Labels: Skip Changelog

#12888 [internal/common/testutil] Add support for testing listening udp ports
  internal/common/testutil/testutil.go
  internal/common/testutil/testutil_test.go
Labels: Skip Changelog

#12893 [pkg/stanza/fileconsumer] Remove fields that are only needed once
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog

#12152 [receiver/prometheusreceiver] fix dead link
  receiver/prometheusreceiver/DESIGN.md
Labels: Skip Changelog

#12894 [pkg/telemetryquerylanguage] Use correct status code
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces_test.go
Labels: ready-to-merge, Skip Changelog

#12884 [processor/transform] Update metrics to use tqlmetrics
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  processor/transformprocessor/config.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/metrics/metrics_test.go
  processor/transformprocessor/internal/metrics/processor.go
Labels: Skip Changelog

#12901 re-enable UDP ListenAndServer tests
  receiver/carbonreceiver/transport/server_test.go
  receiver/statsdreceiver/transport/server_test.go
Labels: Skip Changelog

#12905 Remove usage of otlp proto module in contrib, always use pdata
  .golangci.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqllogs/logs_test.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces_test.go
  pkg/telemetryquerylanguage/go.mod
  pkg/telemetryquerylanguage/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: Skip Changelog

#12896 [processor/transform] Update logs to use tqllogs
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/logs/logs_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
Labels: Skip Changelog

#12775 [exporter/datadogexporter/internal/metadata] Enable gocritic
  exporter/datadogexporter/internal/metadata/metadata.go
Labels: Skip Changelog

#12661 Fix panic caused by race condition when accessing span attributes
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  unreleased/12644-fix-panic-race.yaml
Labels: release:blocker

#12909 [chore] Update TQL and transformprocessor code owners
  .github/CODEOWNERS
Labels: ready-to-merge

#12903 [processor/transform] Update to use tql functions
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/common/func_delete_key.go
  processor/transformprocessor/internal/common/func_delete_key_test.go
  processor/transformprocessor/internal/common/func_delete_matching_keys.go
  processor/transformprocessor/internal/common/func_delete_matching_keys_test.go
  processor/transformprocessor/internal/common/func_is_match.go
  processor/transformprocessor/internal/common/func_is_match_test.go
  processor/transformprocessor/internal/common/func_keep_keys.go
  processor/transformprocessor/internal/common/func_keep_keys_test.go
  processor/transformprocessor/internal/common/func_limit.go
  processor/transformprocessor/internal/common/func_limit_test.go
  processor/transformprocessor/internal/common/func_replace_all_matches.go
  processor/transformprocessor/internal/common/func_replace_all_matches_test.go
  processor/transformprocessor/internal/common/func_replace_all_patterns.go
  processor/transformprocessor/internal/common/func_replace_all_patterns_test.go
  processor/transformprocessor/internal/common/func_replace_match.go
  processor/transformprocessor/internal/common/func_replace_match_test.go
  processor/transformprocessor/internal/common/func_replace_pattern.go
  processor/transformprocessor/internal/common/func_replace_pattern_test.go
  processor/transformprocessor/internal/common/func_set.go
  processor/transformprocessor/internal/common/func_set_test.go
  processor/transformprocessor/internal/common/func_span_id.go
  processor/transformprocessor/internal/common/func_span_id_test.go
  processor/transformprocessor/internal/common/func_trace_id.go
  processor/transformprocessor/internal/common/func_trace_id_test.go
  processor/transformprocessor/internal/common/func_truncate_all.go
  processor/transformprocessor/internal/common/func_truncate_all_test.go
  processor/transformprocessor/internal/common/functions.go
Labels: Skip Changelog

#12913 Revert "re-enable UDP ListenAndServer tests "
  receiver/carbonreceiver/transport/server_test.go
  receiver/statsdreceiver/transport/server_test.go
Labels: Skip Changelog

#12883 [processor/transform] Update traces to use tqltraces
  processor/transformprocessor/config.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/internal/traces/traces.go
  processor/transformprocessor/internal/traces/traces_test.go
Labels: Skip Changelog

#11514 [prometheusexporter] Export target_info metrics
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/end_to_end_test.go
  unreleased/export-target-info-prometheusexporter.yaml
Labels: comp:prometheus, exporter/prometheus

#12911 Bump github.com/influxdata/influxdb-observability to latest
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: dependencies

#12796 [internal/aws/k8s/k8sclient]Enable gocritic
  internal/aws/k8s/k8sclient/node_test.go
Labels: Skip Changelog

#12789 [receiver/kafka] fix lint for kafka receiver
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: Skip Changelog

#11666 [receiver/awscontainerinsightsreceiver] Pod Detection changes for K8's in containerd runtime
  internal/aws/containerinsight/const.go
  receiver/awscontainerinsightreceiver/README.md
  receiver/awscontainerinsightreceiver/internal/cadvisor/container_info_processor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/cpu_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/fs_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/mem_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/net_extractor.go
  unreleased/detect-pod.yaml
Labels: ready-to-merge

#12942 Bump github.com/docker/distribution to avoid security issues
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  internal/containertest/go.mod
  internal/containertest/go.sum
  internal/docker/go.mod
  internal/docker/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/aerospikereceiver/go.mod
  receiver/aerospikereceiver/go.sum
  receiver/apachereceiver/go.mod
  receiver/apachereceiver/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/flinkmetricsreceiver/go.mod
  receiver/flinkmetricsreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/rabbitmqreceiver/go.mod
  receiver/rabbitmqreceiver/go.sum
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/riakreceiver/go.mod
  receiver/riakreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies

#12952 Fix metrics endpoint.
  exporter/coralogixexporter/README.md
Labels: Skip Changelog

#12946 [processor/groupbytrace] Fix error status header
  processor/groupbytraceprocessor/README.md
Labels: Skip Changelog

#12950 [docs] add status header for spanmetrics
  processor/spanmetricsprocessor/README.md
Labels: Skip Changelog

#12919 Enable udp server tests
  receiver/carbonreceiver/transport/server_test.go
  receiver/statsdreceiver/transport/server_test.go
Labels: Skip Changelog

#12954 [exporter/loadbalancing] fix lint error for loadbalancingexporter
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/resolver_dns_test.go
  exporter/loadbalancingexporter/resolver_static.go
  exporter/loadbalancingexporter/resolver_static_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: ready-to-merge, Skip Changelog

#12958 [CI] Extend setup-environment timeout
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
  .github/workflows/stability-tests.yml
Labels: Skip Changelog

#12912 add go1.19 to tests
  .github/workflows/build-and-test.yml
  exporter/jaegerexporter/testdata/ca.crt
  exporter/jaegerexporter/testdata/client.crt
  exporter/jaegerexporter/testdata/client.key
  exporter/jaegerexporter/testdata/server.crt
  exporter/jaegerexporter/testdata/server.key
  internal/buildscripts/gen-certs.sh
  receiver/jaegerreceiver/testdata/ca.crt
  receiver/jaegerreceiver/testdata/client.crt
  receiver/jaegerreceiver/testdata/client.key
  receiver/jaegerreceiver/testdata/server.crt
  receiver/jaegerreceiver/testdata/server.key
  receiver/sapmreceiver/testdata/ca.crt
  receiver/sapmreceiver/testdata/client.crt
  receiver/sapmreceiver/testdata/client.key
  receiver/sapmreceiver/testdata/server.crt
  receiver/sapmreceiver/testdata/server.key
  receiver/signalfxreceiver/testdata/ca.crt
  receiver/signalfxreceiver/testdata/client.crt
  receiver/signalfxreceiver/testdata/client.key
  receiver/signalfxreceiver/testdata/server.crt
  receiver/signalfxreceiver/testdata/server.key
  receiver/splunkhecreceiver/testdata/ca.crt
  receiver/splunkhecreceiver/testdata/client.crt
  receiver/splunkhecreceiver/testdata/client.key
  receiver/splunkhecreceiver/testdata/server.crt
  receiver/splunkhecreceiver/testdata/server.key
Labels: Skip Changelog

#12947 [docs]add status header for metricstransform
  processor/metricstransformprocessor/README.md
Labels: Skip Changelog

#12891 [Makefile] require 'install-tools' in default make target
  Makefile
Labels: Skip Changelog

#12966 [receiver/prometheus] Remove use of deprecated Flags
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: Skip Changelog

#12935 [chore] Revamp tql/transformprocessor README and CONTRIBUTING
  pkg/telemetryquerylanguage/CONTRIBUTING.md
  pkg/telemetryquerylanguage/tql/CONTRIBUTING.md
  processor/transformprocessor/CONTRIBUTING.md
  processor/transformprocessor/README.md
Labels: processor/transform, pkg/telemetryquerylanguage

#12735 [extension/sigv4authextension] Added separate region for STS for cross region auth
  extension/sigv4authextension/README.md
  extension/sigv4authextension/config.go
  extension/sigv4authextension/extension.go
  extension/sigv4authextension/extension_test.go
  extension/sigv4authextension/signingroundtripper_test.go
  unreleased/sigv4-add-sts-region.yaml
Labels: ready-to-merge

#12968 [CI] Use custom build step in CodeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: Skip Changelog

#12480 Support multiple observer.Notify subscribers in observer.EndpointsWatcher
  extension/observer/dockerobserver/extension.go
  extension/observer/dockerobserver/go.sum
  extension/observer/dockerobserver/integration_test.go
  extension/observer/ecstaskobserver/factory.go
  extension/observer/ecstaskobserver/go.sum
  extension/observer/endpoints.go
  extension/observer/endpoints_test.go
  extension/observer/endpointswatcher.go
  extension/observer/endpointswatcher_test.go
  extension/observer/go.mod
  extension/observer/go.sum
  extension/observer/hostobserver/extension.go
  extension/observer/hostobserver/extension_test.go
  extension/observer/hostobserver/go.mod
  extension/observer/hostobserver/go.sum
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/go.sum
  extension/observer/k8sobserver/handler.go
  extension/observer/k8sobserver/mocks_test.go
  extension/observer/observer.go
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/receiver.go
  receiver/receivercreator/receiver_test.go
  unreleased/multiobserver.yaml
Labels: ready-to-merge

#12988 [exporter/datadog] fix gocritic issue for datadogexporter
  exporter/datadogexporter/internal/utils/api.go
  exporter/datadogexporter/metrics_exporter.go
Labels: Skip Changelog

#12490 [docs] Add component context to contributing guide
  CONTRIBUTING.md
Labels: Skip Changelog

#12986 Js/diagnose flaky prom tests
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: Skip Changelog

#12992 [pkg/telemetryquerylanguage/contexts]enable gocritic
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
Labels: Skip Changelog

#13004 Fix indentation in README of resourcedetectionprocessor
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog

#12999 [CI] Remove unused stability-test workflow
  .github/workflows/stability-tests.yml
Labels: Skip Changelog

#12706 [pkg/telemetryquerylanguage] Add support for passing Getter slices to functions
  pkg/telemetryquerylanguage/tql/README.md
  pkg/telemetryquerylanguage/tql/expression.go
  pkg/telemetryquerylanguage/tql/functions.go
  pkg/telemetryquerylanguage/tql/functions_test.go
  unreleased/tql-getter-slices.yaml
Labels: ready-to-merge

#12994 [processor/k8sattributes] add DaemonSet attributes
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  unreleased/k8sattributes-daemonset.yaml
Labels: ready-to-merge

#12993 clickhouseexporter: update readme document
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/example/docker-compose.yml
  exporter/clickhouseexporter/example/otel-collector-config.yml
Labels: Skip Changelog

#13125 [processor/k8sattributes] add StatefulSet attributes
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  unreleased/k8sattributes-sts.yaml
Labels: ready-to-merge

#13154 Upgrade to go1.19 all workflows except testing on go1.18
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#13159 [Makefile] Fix docker-otelcontribcol make target
  CHANGELOG.md
  Makefile
Labels: Skip Changelog

#13134 [receiver/filelog] Migrate config from yaml to mapstructure
  internal/components/receivers_test.go
  receiver/filelogreceiver/filelog.go
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/storage_test.go
Labels: Skip Changelog

#13161 [chore] Fix typo in filelog docs
  receiver/filelogreceiver/README.md
Labels: Skip Changelog

#13173 [chore] remove deprecated components
  .github/CODEOWNERS
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awsprometheusremotewriteexporter/Makefile
  exporter/awsprometheusremotewriteexporter/README.md
  exporter/awsprometheusremotewriteexporter/auth.go
  exporter/awsprometheusremotewriteexporter/auth_test.go
  exporter/awsprometheusremotewriteexporter/config.go
  exporter/awsprometheusremotewriteexporter/config_test.go
  exporter/awsprometheusremotewriteexporter/factory.go
  exporter/awsprometheusremotewriteexporter/factory_test.go
  exporter/awsprometheusremotewriteexporter/go.mod
  exporter/awsprometheusremotewriteexporter/go.sum
  exporter/awsprometheusremotewriteexporter/testdata/config.yaml
  exporter/elasticexporter/Makefile
  exporter/elasticexporter/README.md
  exporter/elasticexporter/config.go
  exporter/elasticexporter/config_test.go
  exporter/elasticexporter/exporter.go
  exporter/elasticexporter/exporter_test.go
  exporter/elasticexporter/factory.go
  exporter/elasticexporter/factory_test.go
  exporter/elasticexporter/go.mod
  exporter/elasticexporter/go.sum
  exporter/elasticexporter/internal/translator/elastic/exceptions.go
  exporter/elasticexporter/internal/translator/elastic/exceptions_test.go
  exporter/elasticexporter/internal/translator/elastic/metadata.go
  exporter/elasticexporter/internal/translator/elastic/metadata_test.go
  exporter/elasticexporter/internal/translator/elastic/metrics.go
  exporter/elasticexporter/internal/translator/elastic/metrics_test.go
  exporter/elasticexporter/internal/translator/elastic/traces.go
  exporter/elasticexporter/internal/translator/elastic/traces_test.go
  exporter/elasticexporter/internal/translator/elastic/utils.go
  exporter/elasticexporter/internal/translator/elastic/utils_test.go
  exporter/elasticexporter/testdata/config.yaml
  exporter/honeycombexporter/Makefile
  exporter/honeycombexporter/README.md
  exporter/honeycombexporter/config.go
  exporter/honeycombexporter/config_test.go
  exporter/honeycombexporter/factory.go
  exporter/honeycombexporter/factory_test.go
  exporter/honeycombexporter/go.mod
  exporter/honeycombexporter/go.sum
  exporter/honeycombexporter/honeycomb.go
  exporter/honeycombexporter/honeycomb_test.go
  exporter/honeycombexporter/ids.go
  exporter/honeycombexporter/ids_test.go
  exporter/honeycombexporter/testdata/config.yaml
  exporter/honeycombexporter/translator.go
  exporter/honeycombexporter/translator_test.go
  go.mod
  go.sum
  internal/components/components.go
  internal/components/exporters_test.go
  versions.yaml
Labels: release:blocker

#13217 [receiver/azureblob] Fix Collector version used
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
Labels: Skip Changelog

#12663 Remove pmm-sumo from codeowners
  .github/CODEOWNERS
Labels: Skip Changelog

#13218 [receiver/dotnetdiagnostics] Change status to unmaintained
  .github/ALLOWLIST
  .github/CODEOWNERS
  receiver/dotnetdiagnosticsreceiver/README.md
  unreleased/unmaintained-dotnetdiagnostics.yaml
Labels: receiver/dotnetdiagnostics

#13219 [processor/logstransform] Skip flaky test
  processor/logstransformprocessor/processor_test.go
Labels: priority:p1, Skip Changelog, processor/logstransform

#13257 Fix race condition in TestRollingUpdatesWhenConsumeLogs, for lastResolved
  exporter/loadbalancingexporter/log_exporter_test.go
Labels: Skip Changelog

#13220 [exporter/loadbalancing] Skip flaky TestRollingUpdatesWhenConsumeLogs
  exporter/loadbalancingexporter/log_exporter_test.go
Labels: Skip Changelog

#13260 [extension/observer] Fix typo
  extension/observer/observer.go
Labels: ready-to-merge, Skip Changelog

#13253 [receiver/syslog] Migrate config unmarshaling from yaml to mapstructure
  internal/components/receivers_test.go
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/syslog.go
  receiver/syslogreceiver/syslog_test.go
Labels: Skip Changelog

#13296 [exporter/loadbalancing] Consolidate rolling update tests, fix race condition in the traces
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/resolver_dns_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: Skip Changelog

#13297 [pkg/stanza] Remove syslogreceiver.CreateDefault[TCP|UDP]ConfigBase funcs
  internal/components/receivers_test.go
  receiver/syslogreceiver/syslog.go
Labels: Skip Changelog

#13317 Improve errors when combining summary and histogram metrics
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/util.go
  unreleased/prom-errors.yaml
Labels: receiver/prometheus

#13268 [receiver/windowsevenlog] Migrate config unmarshaling to mapstructure
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/receiver_others.go
  receiver/windowseventlogreceiver/receiver_windows.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: Skip Changelog

#13294 [receiver/tcp|udplog] Migrate config unmarshaling from yaml to mapstructure
  internal/components/receivers_test.go
  pkg/stanza/operator/parser/csv/csv_test.go
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/tcp.go
  receiver/tcplogreceiver/tcp_test.go
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/udp.go
  receiver/udplogreceiver/udp_test.go
Labels: Skip Changelog

#13212 [processor/k8sattribute] k8sattribute deployment logic enhancement
  processor/k8sattributesprocessor/internal/kube/client.go
Labels: ready-to-merge, Skip Changelog

#13330 [chore] Bump github.com/alecthomas/participle/v2
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  pkg/telemetryquerylanguage/go.mod
  pkg/telemetryquerylanguage/go.sum
  pkg/telemetryquerylanguage/tql/parser.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: Skip Changelog

#13358 Disable TestRollingUpdatesWhenConsumeTraces, TestRollingUpdatesWhenConsumeLogs and TestPeriodicallyResolveFailure
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/resolver_dns_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: Skip Changelog

#13273 [pkg/stanza] Standardize function and struct names on key_value_parser
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/keyvalue/keyvalue.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
Labels: Skip Changelog

#13365 [pkg/stanza] Remove wrapped version of TLSServerSettings
  pkg/stanza/operator/helper/tls.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/tcp/tcp_test.go
Labels: Skip Changelog

#12973 [processor/transform] Remove functions option from config
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/logs/functions.go
  processor/transformprocessor/internal/logs/functions_test.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: ready-to-merge, Skip Changelog

#12758 [pkg/telemetryquerylanguage] Update contexts to use StandardGetSetter
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
Labels: ready-to-merge, Skip Changelog

#13334 Remove usage of deprecated pdata types
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
Labels: Skip Changelog

#13378 [exporter/zipkinexporter]enable erreck
  exporter/zipkinexporter/zipkin_test.go
Labels: Skip Changelog

#13380 [exporter/datadogexporter]enable errcheck
  exporter/datadogexporter/traces_exporter_test.go
Labels: Skip Changelog

#9792 [pulsar][receiver] add apache pulsar receiver
  .github/CODEOWNERS
  cmd/configschema/go.mod
  go.mod
  internal/components/components.go
  internal/components/receivers_test.go
  receiver/pulsarreceiver/Makefile
  receiver/pulsarreceiver/README.md
  receiver/pulsarreceiver/config.go
  receiver/pulsarreceiver/config_test.go
  receiver/pulsarreceiver/factory.go
  receiver/pulsarreceiver/factory_test.go
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/pulsarreceiver/jaeger_unmarshaler.go
  receiver/pulsarreceiver/jaeger_unmarshaler_test.go
  receiver/pulsarreceiver/pdata_unmarshaler.go
  receiver/pulsarreceiver/pdata_unmarshaler_test.go
  receiver/pulsarreceiver/pulsar_receiver.go
  receiver/pulsarreceiver/pulsar_receiver_test.go
  receiver/pulsarreceiver/testdata/config.yml
  receiver/pulsarreceiver/unmarshaler.go
  receiver/pulsarreceiver/unmarshaler_test.go
  receiver/pulsarreceiver/zipkin_unmarshaler.go
  receiver/pulsarreceiver/zipkin_unmarshaler_test.go
  unreleased/dev_pulsar_recv.yaml
  versions.yaml
Labels: ready-to-merge

#13223 [pkg/stanza] Add parsers readme
  pkg/stanza/docs/operators/csv_parser.md
  pkg/stanza/docs/operators/json_parser.md
  pkg/stanza/docs/operators/key_value_parser.md
  pkg/stanza/docs/operators/scope_name_parser.md
  pkg/stanza/docs/operators/syslog_parser.md
  pkg/stanza/docs/operators/uri_parser.md
  pkg/stanza/docs/types/field.md
  pkg/stanza/docs/types/parsers.md
  receiver/filelogreceiver/README.md
  receiver/syslogreceiver/README.md
  receiver/tcplogreceiver/README.md
  receiver/udplogreceiver/README.md
Labels: Skip Changelog

#13402 [chore] Fix imports
  extension/storage/storagetest/extension_test.go
  extension/storage/storagetest/host_test.go
  pkg/stanza/adapter/mocks_test.go
Labels: ready-to-merge

#13421 [pkg/stanza/adapater] Remove persister wrapper around storage.Client
  pkg/stanza/adapter/mocks_test.go
  pkg/stanza/adapter/receiver.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/adapter/storage.go
  pkg/stanza/adapter/storage_test.go
  processor/logstransformprocessor/processor.go
Labels: Skip Changelog

#13214 [processor/k8sattributes] add CronJob name attribute
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  unreleased/k8sattributes-cronjob.yaml
Labels: ready-to-merge

#12670 [receiver/receivercreator] Ensure unique receiver names
  receiver/receivercreator/config.go
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/observerhandler_test.go
  receiver/receivercreator/receiver.go
  receiver/receivercreator/runner.go
  receiver/receivercreator/runner_test.go
  unreleased/receivercreatoruniquereceivernames.yaml
Labels: ready-to-merge

#13392 [exporter/pulsarexporter] Update stability to alpha.
  exporter/pulsarexporter/README.md
  exporter/pulsarexporter/factory.go
Labels: ready-to-merge, Skip Changelog

#12586 Implement prometheus receiver target allocator
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  go.mod
  go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/testdata/config.yaml
  receiver/prometheusreceiver/testdata/config_target_allocator.yaml
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
  unreleased/prometheus-receiver-TA.yaml
Labels: ready-to-merge

#13423 [processor/spanmetricsprocessor] Add ms unit to latency buckets
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  unreleased/spanmetrics.yaml
Labels: ready-to-merge

#13166 receiver/awsecscontainermetricsreceiver - update ReadMe with updated example
  receiver/awsecscontainermetricsreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#13112 re-enable flaky tests in prometheusreceiver
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
Labels: ready-to-merge, Skip Changelog

#12995 [tqlotel] Avoid copying when filtering keys in KeepKeys.
  pkg/telemetryquerylanguage/functions/tqlotel/func_keep_keys.go
  unreleased/tql-keep-keys-perfomanace.yaml
Labels: ready-to-merge, pkg/telemetryquerylanguage

#12768 [prometheusremotewriteexporter] don't add target info when it would only contain job and instance
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  unreleased/prw-exporter-target_info.yaml
Labels: bug, ready-to-merge, exporter/prometheusremotewrite

#13127 Support for exemplars in prometheusexporter
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/config.go
  exporter/prometheusexporter/factory.go
  exporter/prometheusexporter/prometheus.go
  unreleased/prometheusexporter-exemplars.yaml
Labels: ready-to-merge, exporter/prometheus

#12801 [receiver/receiver_creator] correct watch_observers references to extension instances
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/receiver.go
  receiver/receivercreator/receiver_test.go
  receiver/receivercreator/testdata/config.yaml
  unreleased/receiver-creator-obs-cid.yaml
Labels: Stale

#13436 [docs] Update docs about the direction metrics attribute transition
  receiver/elasticsearchreceiver/README.md
  receiver/hostmetricsreceiver/README.md
  receiver/kubeletstatsreceiver/README.md
  receiver/memcachedreceiver/README.md
  receiver/vcenterreceiver/README.md
  receiver/zookeeperreceiver/README.md
Labels: Skip Changelog

#13440 [docs] Update links to metadata/generated_metrics.go
  receiver/activedirectorydsreceiver/README.md
  receiver/elasticsearchreceiver/README.md
  receiver/nsxtreceiver/README.md
Labels: Skip Changelog

#13434 [exporter/prometheusremotewrite] [docs] Update README.md
  exporter/prometheusremotewriteexporter/README.md
Labels: ready-to-merge, Skip Changelog

#13413 [pkg/translator/zipkin]enable errcheck
  pkg/translator/zipkin/zipkinv1/thrift_test.go
Labels: Skip Changelog

#13396 [pkg/stanza] Remove unused "host_identifier"
  pkg/stanza/operator/helper/host_identifier.go
  pkg/stanza/operator/helper/host_identifier_test.go
  unreleased/pkg-stanza-rmhostid.yaml
Labels: Skip Changelog

#13222 Update headers_setter stability level
  extension/headerssetter/README.md
Labels: Skip Changelog

#13265 [pkg/stanza] Fix bug where original severity text was not preserved
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  unreleased/pkg-stanza-sevtext-conv.yaml
Labels: bug, pkg/stanza

#13439 [pkg/stanza] Remove helper.Duration
  pkg/stanza/docs/types/duration.md
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/testdata/poll_interval_no_units.yaml
  pkg/stanza/operator/helper/duration.go
  pkg/stanza/operator/helper/duration_test.go
  pkg/stanza/operator/helper/multiline.go
  pkg/stanza/operator/helper/operatortest/operatortest.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/file/rotation_test.go
  pkg/stanza/operator/input/file/testdata/poll_interval_no_units.yaml
  pkg/stanza/operator/input/file/util_test.go
  pkg/stanza/operator/input/k8sevent/k8s_event.go
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/input/windows/operator_test.go
  receiver/filelogreceiver/filelog_test.go
  receiver/otlpjsonfilereceiver/file_test.go
  unreleased/pkg-stanza-rm-duration.yaml
Labels: pkg/stanza

#13410 [exporter/mezmoexporter] Remove hardcoded "otel" hostname
  exporter/mezmoexporter/README.md
  exporter/mezmoexporter/config.go
  exporter/mezmoexporter/config_test.go
  exporter/mezmoexporter/example/otel-collector-config.yaml
  exporter/mezmoexporter/exporter.go
  exporter/mezmoexporter/exporter_test.go
  exporter/mezmoexporter/factory_test.go
  exporter/mezmoexporter/testdata/config.yaml
  unreleased/mezmoexporter-hostname-removal.yaml
Labels: ready-to-merge, exporter/mezmo

#12989 [pkg/telemetryquerylanguage] fix typo
  pkg/telemetryquerylanguage/functions/tqlotel/README.md
Labels: ready-to-merge, Skip Changelog

#12489 [prometheusremotewriteexporter] Handle case with 0 metrics
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  unreleased/fix-0-len-prw-exports.yaml
Labels: ready-to-merge, exporter/prometheusremotewrite

#13453 [CI] Use stopgap solution for hanging actions/cache bug
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#13456 [exporter/loadbalancing] Flaky test - TestPeriodicallyResolveFailure
  exporter/loadbalancingexporter/resolver_dns_test.go
Labels: Skip Changelog

#13454 [chore] Remove dead link in filelog receiver docs
  receiver/filelogreceiver/README.md
Labels: Skip Changelog

#13120 [pkg/telemetryquerylanguage] Add Join factory
  pkg/telemetryquerylanguage/functions/tqlcommon/README.md
  pkg/telemetryquerylanguage/functions/tqlcommon/func_join.go
  pkg/telemetryquerylanguage/functions/tqlcommon/func_join_test.go
  unreleased/add-join-factory.yaml
Labels: ready-to-merge

#13527 [pkg/stanza] Consolidate confmap testing into a single file per operator
  pkg/stanza/entry/field.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/operator/config.go
  pkg/stanza/operator/helper/operatortest/operatortest.go
  pkg/stanza/operator/helper/operatortest/operatortest_confmap.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/parser/csv/config_test.go
  pkg/stanza/operator/parser/json/config_test.go
  pkg/stanza/operator/parser/json/testdata/config.yaml
  pkg/stanza/operator/parser/json/testdata/default.yaml
  pkg/stanza/operator/parser/json/testdata/on_error_drop.yaml
  pkg/stanza/operator/parser/json/testdata/parse_from_simple.yaml
  pkg/stanza/operator/parser/json/testdata/parse_to_simple.yaml
  pkg/stanza/operator/parser/json/testdata/scope_name.yaml
  pkg/stanza/operator/parser/json/testdata/severity.yaml
  pkg/stanza/operator/parser/json/testdata/timestamp.yaml
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/regex/config_test.go
  pkg/stanza/operator/parser/trace/config_test.go
  pkg/stanza/operator/parser/uri/config_test.go
  pkg/stanza/operator/transformer/add/config_test.go
  pkg/stanza/operator/transformer/copy/config_test.go
  pkg/stanza/operator/transformer/move/config_test.go
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/remove/config_test.go
  pkg/stanza/operator/transformer/retain/config_test.go
  pkg/stanza/operator/transformer/router/config_test.go
Labels: priority:p1, Skip Changelog, pkg/stanza

#13170 [exporter/signalfx] Translate metrics together instead of individually
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/translation/converter.go
  exporter/signalfxexporter/testdata/json/hostmetrics.json
  testbed/tests/testdata/hostmetrics.json
Labels: Skip Changelog

#13536 [pkg/stanza] Migrate keyvalue_parser config unmarshal tests to confmaptest
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/keyvalue/testdata/config.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/default.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/delimiter.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/on_error_drop.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/pair_delimiter.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/parse_from_simple.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/parse_to_simple.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/severity.yaml
  pkg/stanza/operator/parser/keyvalue/testdata/timestamp.yaml
Labels: Skip Changelog, pkg/stanza

#13529 [routingprocessor] Make exporters registration more generic.
  processor/routingprocessor/processor.go
  processor/routingprocessor/processor_test.go
  processor/routingprocessor/router.go
Labels: Skip Changelog

#13584 [exporter/mezmo] Add note about hostname data
  exporter/mezmoexporter/README.md
Labels: ready-to-merge, Skip Changelog

#13428 Move the OTel and OC metrics test helper utilities
  exporter/carbonexporter/exporter_test.go
  exporter/carbonexporter/metricdata_to_plaintext_test.go
  exporter/googlecloudexporter/legacymetrics_test.go
  exporter/splunkhecexporter/exporter_test.go
  internal/coreinternal/goldendataset/metrics_gen.go
  internal/coreinternal/metricstestutil/metric_diff.go
  internal/coreinternal/metricstestutil/metric_diff_test.go
  internal/coreinternal/metricstestutil/ocmetricstestutil/ocmetricstestutil.go
  internal/coreinternal/metricstestutil/ocmetricstestutil/ocmetricstestutil_test.go
  testbed/correctnesstests/metrics/metrics_correctness_test.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
  unreleased/metrics-test-helpers.yaml
Labels: ready-to-merge

#13373 [processor/transform] Move config structure to TQL
  pkg/telemetryquerylanguage/tqlconfig/config.go
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
Labels: ready-to-merge, Skip Changelog

#12724 [exporter/prometheusremotewrite] support disabling target_info metric
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/testdata/disabled_target_info.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  unreleased/prometheus_remote_write_support_disable_target_info.yaml
Labels: ready-to-merge, exporter/prometheusremotewrite

#13537 [pkg/stanza] Migrate regex_parser config unmarshal tests to confmaptest
  pkg/stanza/operator/parser/regex/config_test.go
  pkg/stanza/operator/parser/regex/testdata/cache.yaml
  pkg/stanza/operator/parser/regex/testdata/config.yaml
  pkg/stanza/operator/parser/regex/testdata/default.yaml
  pkg/stanza/operator/parser/regex/testdata/on_error_drop.yaml
  pkg/stanza/operator/parser/regex/testdata/parse_from_simple.yaml
  pkg/stanza/operator/parser/regex/testdata/parse_to_simple.yaml
  pkg/stanza/operator/parser/regex/testdata/regex.yaml
  pkg/stanza/operator/parser/regex/testdata/scope_name.yaml
  pkg/stanza/operator/parser/regex/testdata/severity.yaml
  pkg/stanza/operator/parser/regex/testdata/timestamp.yaml
Labels: Skip Changelog, pkg/stanza

#13535 [pkg/stanza/csv_parser] Switch config unmarshal tests to confmaptest
  pkg/stanza/operator/parser/csv/config_test.go
  pkg/stanza/operator/parser/csv/csv.go
  pkg/stanza/operator/parser/csv/testdata/basic.yaml
  pkg/stanza/operator/parser/csv/testdata/config.yaml
  pkg/stanza/operator/parser/csv/testdata/delimiter.yaml
  pkg/stanza/operator/parser/csv/testdata/header_attribute.yaml
  pkg/stanza/operator/parser/csv/testdata/lazy_quotes.yaml
  pkg/stanza/operator/parser/csv/testdata/timestamp.yaml
Labels: Skip Changelog, pkg/stanza

#13541 [pkg/stanza] Add config tests to scope_name_parser
  pkg/stanza/operator/parser/scope/config_test.go
  pkg/stanza/operator/parser/scope/testdata/config.yaml
Labels: Skip Changelog, pkg/stanza

#13577 [pkg/telemetryquerylanguage] Add new contributing guideline.
  pkg/telemetryquerylanguage/CONTRIBUTING.md
Labels: ready-to-merge, Skip Changelog

#13624 Avoid copying data in BatchPerResource pkg, the consumer marked as mutable
  pkg/batchperresourceattr/batchperresourceattr.go
  pkg/batchperresourceattr/batchperresourceattr_test.go
Labels: Skip Changelog

#12948 [docs] add status header for redaction
  processor/redactionprocessor/README.md
Labels: Skip Changelog

#13625 [pkg/telemetryquerylanguage] remove unnecessary calls to clean attributes
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
Labels: Skip Changelog

#13539 [pkg/stanza] Migrate uri_parser config unmarshal tests to confmaptest
  pkg/stanza/operator/parser/uri/config_test.go
  pkg/stanza/operator/parser/uri/testdata/config.yaml
  pkg/stanza/operator/parser/uri/testdata/default.yaml
  pkg/stanza/operator/parser/uri/testdata/on_error_drop.yaml
  pkg/stanza/operator/parser/uri/testdata/parse_from_simple.yaml
  pkg/stanza/operator/parser/uri/testdata/parse_to_simple.yaml
  pkg/stanza/operator/parser/uri/testdata/severity.yaml
  pkg/stanza/operator/parser/uri/testdata/timestamp.yaml
Labels: Skip Changelog, pkg/stanza

#13542 [pkg/stanza] Add config tests to time_parser
  pkg/stanza/operator/parser/time/config_test.go
  pkg/stanza/operator/parser/time/testdata/config.yaml
Labels: Skip Changelog, pkg/stanza

#13645 Remove usage of Map.Upsert() where possible
  pkg/batchperresourceattr/batchperresourceattr_test.go
  pkg/translator/opencensus/metrics_to_oc_test.go
  pkg/translator/opencensus/oc_to_resource_test.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: Skip Changelog

#13650 [pkg/telemetryquerylanguage] Remove duplicate code between signals
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/map.go
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/resource.go
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/resource_test.go
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/scope.go
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/scope_test.go
  pkg/telemetryquerylanguage/contexts/internal/tqlcommon/value.go
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqllogs/logs_test.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces_test.go
Labels: Skip Changelog

#12895 [pkg/telemetryquerylanguage] Standardize TransformContext name
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqllogs/logs_test.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics.go
  pkg/telemetryquerylanguage/contexts/tqlmetrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/traces/processor.go
Labels: Skip Changelog

#13648 Avoid using Map.Insert where possible
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/testutils/test_utils.go
  exporter/dynatraceexporter/internal/serialization/serialization_test.go
  exporter/dynatraceexporter/internal/serialization/sum_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/logzioexporter/exporter_test.go
  exporter/lokiexporter/encode_json_test.go
  exporter/lokiexporter/exporter_test.go
  exporter/signalfxexporter/exporter_test.go
  internal/coreinternal/goldendataset/metrics_gen.go
  internal/scrapertest/golden/golden_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
  processor/cumulativetodeltaprocessor/processor_test.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/redactionprocessor/processor.go
  processor/resourcedetectionprocessor/internal/testutils.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/signalfxreceiver/receiver.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata_test.go
  receiver/skywalkingreceiver/skywalkingproto_to_traces.go
Labels: Skip Changelog

#13651 [pkg/telemetryquerylanguage] Avoid exposing unnecessary public structs
  pkg/telemetryquerylanguage/contexts/tqllogs/logs.go
  pkg/telemetryquerylanguage/contexts/tqltraces/traces.go
  processor/transformprocessor/internal/metrics/processor.go
Labels: Skip Changelog

#13543 [pkg/stanza] Add config tests to severity_parser
  pkg/stanza/operator/parser/severity/config_test.go
  pkg/stanza/operator/parser/severity/testdata/config.yaml
Labels: Skip Changelog, pkg/stanza

#13540 [pkg/stanza] Migrate trace_parser config unmarshal tests to confmaptest
  pkg/stanza/operator/parser/trace/config_test.go
  pkg/stanza/operator/parser/trace/testdata/config.yaml
  pkg/stanza/operator/parser/trace/testdata/default.yaml
  pkg/stanza/operator/parser/trace/testdata/on_error_drop.yaml
  pkg/stanza/operator/parser/trace/testdata/spanid.yaml
  pkg/stanza/operator/parser/trace/testdata/trace_flags.yaml
  pkg/stanza/operator/parser/trace/testdata/traceid.yaml
Labels: Skip Changelog, pkg/stanza

#13622 [processors/routingprocessor] Extract signals processing logic from router.
  processor/routingprocessor/config.go
  processor/routingprocessor/factory.go
  processor/routingprocessor/factory_test.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/logs.go
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/processor.go
  processor/routingprocessor/processor_test.go
  processor/routingprocessor/router.go
  processor/routingprocessor/traces.go
  processor/routingprocessor/traces_test.go
Labels: Skip Changelog

#13643 sumologicexporter: remove unnecessary maps merging logic
  exporter/sumologicexporter/prometheus_formatter.go
Labels: Skip Changelog

#13699 Remove usage of soon deprecated Update
  internal/coreinternal/attraction/attraction.go
Labels: Skip Changelog

#13701 receiver/prometheus: Remove usage of pointers to pdata, reference types
  receiver/prometheusreceiver/internal/metricsutil_test.go
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/otlp_transaction.go
  receiver/prometheusreceiver/internal/otlp_transaction_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: Skip Changelog

#13333 [pkg/stanza] Remove unused k8s_event_input operator
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/k8s_event_input.md
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/input/k8sevent/k8s_event.go
  pkg/stanza/operator/input/k8sevent/k8s_event_test.go
Labels: priority:p3, Skip Changelog, pkg/stanza
