Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-06, with the labels that each got.

#10255 [processor/transform] Add functions for conversion of scalar metric types
  CHANGELOG.md
  processor/transformprocessor/README.md
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/common/parser.go
  processor/transformprocessor/internal/common/parser_test.go
  processor/transformprocessor/internal/common/testhelper/testhelper.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
Labels: ready-to-merge

#10439 [docs] Add status header for activedirectoryds receiver
  receiver/activedirectorydsreceiver/README.md
Labels: Skip Changelog

#10316 [docs] Add status header for googlecloud exporter
  exporter/googlecloudexporter/README.md
Labels: Skip Changelog

#10454 [docs] Add status header for filelog receiver
  receiver/filelogreceiver/README.md
Labels: Skip Changelog

#9758 [build] add target for 386 and arm
  .github/workflows/build-and-test.yml
  Makefile
Labels: Skip Changelog

#10459 [docs] Add status header for iis receiver
  receiver/iisreceiver/README.md
Labels: Skip Changelog

#10469 [exporter/datadog] Add 'usePreview' option when the hostname comes from attributes
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/model/attributes/azure/azure.go
  exporter/datadogexporter/internal/model/attributes/azure/azure_test.go
  exporter/datadogexporter/internal/model/attributes/ec2/ec2.go
  exporter/datadogexporter/internal/model/attributes/ec2/ec2_test.go
  exporter/datadogexporter/internal/model/attributes/gcp/gcp.go
  exporter/datadogexporter/internal/model/attributes/gcp/gcp_test.go
  exporter/datadogexporter/internal/model/attributes/hostname.go
  exporter/datadogexporter/internal/model/attributes/hostname_test.go
  exporter/datadogexporter/internal/model/translator/config.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/translate_traces.go
Labels: ready-to-merge, Skip Changelog

#10326 [docs] Add status header for observiq exporter
  exporter/observiqexporter/README.md
Labels: ready-to-merge, Skip Changelog

#9793 [processor/tailsampling] Fix composite policy with inverse matching
  CHANGELOG.md
  processor/tailsamplingprocessor/internal/sampling/composite.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
Labels: ready-to-merge

#10423 [exporter/datadog] Start improved hostname resolution refactor
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2_test.go
  exporter/datadogexporter/internal/metadata/internal/system/host.go
  exporter/datadogexporter/internal/metadata/internal/system/host_test.go
  exporter/datadogexporter/internal/metadata/internal/system/host_unix.go
  exporter/datadogexporter/internal/metadata/internal/system/host_unix_test.go
  exporter/datadogexporter/internal/metadata/internal/system/host_windows.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/metadata/provider/provider.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/translate_traces.go
Labels: ready-to-merge, Skip Changelog

#10571 [exporter/azuremonitorexporter] AzureMonitor doc fixes
  exporter/azuremonitorexporter/README.md
Labels: Skip Changelog

#10344 [docs] added status header for bearertoken auth
  extension/bearertokenauthextension/README.md
Labels: Skip Changelog

#10335 [docs] Add status header for splunkhec exporter
  exporter/splunkhecexporter/README.md
Labels: ready-to-merge, Skip Changelog

#10440 [docs] Add status header for apache receiver
  receiver/apachereceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10450 [docs] Add status header for couchdb receiver
  receiver/couchdbreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10578 Fix sigv4 signing of requests with empty bodies
  CHANGELOG.md
  exporter/awsprometheusremotewriteexporter/auth.go
  exporter/awsprometheusremotewriteexporter/auth_test.go
  extension/sigv4authextension/signingroundtripper.go
  extension/sigv4authextension/signingroundtripper_test.go
Labels: ready-to-merge

#10376 Create `internal/metadataproviders` module
  .github/CODEOWNERS
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/metadataproviders/Makefile
  internal/metadataproviders/aws/ec2/metadata.go
  internal/metadataproviders/aws/ec2/metadata_test.go
  internal/metadataproviders/azure/metadata.go
  internal/metadataproviders/azure/metadata_test.go
  internal/metadataproviders/azure/mockprovider.go
  internal/metadataproviders/azure/mockprovider_test.go
  internal/metadataproviders/consul/metadata.go
  internal/metadataproviders/consul/metadata_test.go
  internal/metadataproviders/docker/metadata.go
  internal/metadataproviders/docker/metadata_test.go
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  internal/metadataproviders/internal/goos.go
  internal/metadataproviders/internal/goos_test.go
  internal/metadataproviders/system/metadata.go
  internal/metadataproviders/system/metadata_test.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
  processor/resourcedetectionprocessor/internal/azure/aks/aks.go
  processor/resourcedetectionprocessor/internal/azure/aks/aks_test.go
  processor/resourcedetectionprocessor/internal/azure/azure.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/consul/consul.go
  processor/resourcedetectionprocessor/internal/consul/consul_test.go
  processor/resourcedetectionprocessor/internal/docker/docker.go
  processor/resourcedetectionprocessor/internal/docker/docker_test.go
  processor/resourcedetectionprocessor/internal/resourcedetection.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
  versions.yaml
Labels: ready-to-merge, Skip Changelog

#10456 [docs] Add status header for googlecloudpubsub receiver
  receiver/googlecloudpubsubreceiver/README.md
Labels: Skip Changelog

#9364 [receiver/simpleprometheus] update example to use Meter directly
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/main.go
Labels: Skip Changelog

#10445 [docs] Add status header for bigip receiver
  receiver/bigipreceiver/README.md
Labels: Skip Changelog

#10574 [processor/metricstransform] Migrate group operation tests to OTLP
  processor/metricstransformprocessor/go.mod
  processor/metricstransformprocessor/go.sum
  processor/metricstransformprocessor/metrics_transform_processor_group_test.go
  processor/metricstransformprocessor/testdata/operation_group/metric_group_by_strict_name_in.json
  processor/metricstransformprocessor/testdata/operation_group/metric_group_by_strict_name_out.json
  processor/metricstransformprocessor/testdata/operation_group/metric_group_regex_multiple_empty_resource_in.json
  processor/metricstransformprocessor/testdata/operation_group/metric_group_regex_multiple_empty_resource_out.json
Labels: Skip Changelog

#10577 [exporter/awsemfexporter] Include min and max for histograms when available
  CHANGELOG.md
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
Labels: ready-to-merge

#10585 [mezmoexporter] Test refactoring
  exporter/mezmoexporter/exporter_test.go
Labels: ready-to-merge, Skip Changelog

#10601 [testbed] Wait longer when possible garbage collection is observed
  testbed/tests/e2e_test.go
Labels: Skip Changelog

#10604 [receiver/prometheus] Skip flaky TestExternalLabels
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: Skip Changelog

#10605 [github-actions] Add windows-unittest rollup job
  .github/workflows/build-and-test-windows.yml
Labels: Skip Changelog

#10606 [pkg/stanza] Remove testutil.NewTempDir, small nits
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/adapter/storage_test.go
  pkg/stanza/operator/input/file/benchmark_test.go
  pkg/stanza/operator/input/file/finder_test.go
  pkg/stanza/operator/input/file/util_test.go
  pkg/stanza/testutil/util.go
Labels: Skip Changelog

#10610 filestorage: enable errcheck, small nits
  extension/storage/dbstorage/extension_test.go
  extension/storage/filestorage/client_test.go
  extension/storage/filestorage/extension_test.go
Labels: Skip Changelog

#10588 Update `sigv4` README
  extension/sigv4authextension/README.md
Labels: ready-to-merge, Skip Changelog

#9919 feat: delta to cumulative prometheus
  CHANGELOG.md
  exporter/prometheusexporter/accumulator.go
  exporter/prometheusexporter/accumulator_test.go
  receiver/statsdreceiver/protocol/statsd_parser.go
  receiver/statsdreceiver/protocol/statsd_parser_test.go
Labels: comp:prometheus

#10599 [internal/scrapertest] Add readme to explain how to use golden.WriteM…
  internal/scrapertest/README.md
Labels: Skip Changelog

#10795 Remove empty internal interface in hostmetrics receiver
  receiver/hostmetricsreceiver/internal/scraper.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/config.go
Labels: Skip Changelog

#10582 fix gocritic issue for exporter azuremonitor
  exporter/azuremonitorexporter/trace_to_envelope.go
Labels: Skip Changelog

#10590 fix gocritic issue for exporter carbon
  exporter/carbonexporter/exporter.go
Labels: ready-to-merge, Skip Changelog

#10301 Fix Load Scraper to normalize 1m, 5m, and 15m averages independently
  CHANGELOG.md
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper.go
Labels: ready-to-merge

#9378 [receiver/prometheus] Support OpenMetrics Info and Stateset metrics
  CHANGELOG.md
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
Labels: ready-to-merge, comp:prometheus

#10598 [internal/scrapertest] Fix WriteMetrics on windows
  internal/scrapertest/golden/golden.go
  internal/scrapertest/golden/golden_test.go
Labels: Skip Changelog

#10827 dependabot updates Tue 7 Jun 2022 08:39:33 PDT
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  go.mod
  go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#10829 [chore] Run gotidy to sync up dependencies
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#10444 [docs] Add status header for awsxray receiver
  receiver/awsxrayreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10322 [docs] Add status header for kafka exporter
  exporter/kafkaexporter/README.md
Labels: Stale, Skip Changelog

#10323 [docs] Add status header for loadbalancing exporter
  exporter/loadbalancingexporter/README.md
Labels: Skip Changelog

#10848 [receiver/kubeletstats] Bring back k8s.container.name attribute
  CHANGELOG.md
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/resource.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/kubeletstatsreceiver/metadata.yaml
Labels: ready-to-merge

#10297 [docs] Add status Header for Oauth2clientextension
  extension/oauth2clientauthextension/README.md
Labels: ready-to-merge, Skip Changelog

#10317 [docs] Add status header for googlecloudpubsub exporter
  exporter/googlecloudpubsubexporter/README.md
Labels: Stale, ready-to-merge, Skip Changelog

#10819 [exporter/datadog] Add Azure, GCP and Docker hostname providers
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/docker/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider_test.go
Labels: ready-to-merge, Skip Changelog

#10855 fix gocritic issue for exporter googlecloudpubsub
  exporter/googlecloudpubsubexporter/exporter.go
Labels: ready-to-merge, Skip Changelog

#10861 [docs] remove duplicated stability status
  exporter/parquetexporter/README.md
  receiver/elasticsearchreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10354 fix errcheck issue for humio
  exporter/humioexporter/humio_client.go
Labels: Skip Changelog

#10862 Remove testutil temp file/dir, use testing.TB.TempDir instead
  internal/common/testutil/testutil.go
  internal/common/testutil/testutil_test.go
  internal/components/exporters_test.go
  internal/components/extensions_test.go
  internal/components/receivers_test.go
Labels: ready-to-merge, Skip Changelog

#10841 add workflow to create dependabot pr
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/scripts/dependabot-pr.sh
  internal/buildscripts/update-dep
Labels: Skip Changelog

#10313 [docs] Add status header for dynatrace exporter
  exporter/dynatraceexporter/README.md
Labels: ready-to-merge, Skip Changelog

#10872 common/testutil: Exclude port ranges for both TCP and UDP
  internal/common/testutil/testutil.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/statsdreceiver/receiver_test.go
Labels: Skip Changelog

#10870 signalfxreceiver, jmxreceiver: use GetAvailableLocalAddress, instead of manually construct addr
  receiver/jmxreceiver/receiver_test.go
  receiver/signalfxreceiver/receiver_test.go
Labels: Skip Changelog

#10816 Small nits in internal/aws/cwlogs tests
  internal/aws/cwlogs/pusher_test.go
Labels: ready-to-merge, Skip Changelog

#10879 [receiver/apache] Remove 'dead' link in documentation
  receiver/apachereceiver/documentation.md
  receiver/apachereceiver/metadata.yaml
Labels: Skip Changelog

#10869 carbonreceiver: small fixes in tests, avoid manually constructing addr, and parsing
  receiver/carbonreceiver/receiver_test.go
  receiver/carbonreceiver/transport/client/plaintext_client.go
  receiver/carbonreceiver/transport/server_test.go
Labels: Skip Changelog

#10302 [docs] Add status header for alibabacloudlogservice exporter
  exporter/alibabacloudlogserviceexporter/README.md
Labels: Stale, Skip Changelog

#10885 [ci] Fix check module version to account for space at end of module
  .github/workflows/scripts/check-collector-module-version.sh
Labels: ready-to-merge, Skip Changelog

#10889 [docs] update observer list
  extension/observer/README.md
Labels: Skip Changelog

#10893 [docs] status header for udp/tcp/syslog receivers
  receiver/syslogreceiver/README.md
  receiver/tcplogreceiver/README.md
  receiver/udplogreceiver/README.md
Labels: Skip Changelog

#10464 [docs] Add status header for k8sevents receiver
  receiver/k8seventsreceiver/README.md
Labels: Skip Changelog

#10895 [receiver/k8sevents] Fix link in readme header
  receiver/k8seventsreceiver/README.md
Labels: Skip Changelog

#10902 [docs] add status headers for nginx/memcached/mongodb receivers
  receiver/memcachedreceiver/README.md
  receiver/mongodbreceiver/README.md
  receiver/nginxreceiver/README.md
Labels: Skip Changelog

#10868 jaegerreceiver: Remove use of parsed ports, use address provided by the user
  receiver/jaegerreceiver/config.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/factory_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/jaegerreceiver/trace_receiver_test.go
Labels: Skip Changelog

#10909 fix gocritic issue for observiq exporter
  exporter/observiqexporter/client_test.go
  exporter/observiqexporter/converter.go
Labels: Skip Changelog

#10881 fix errcheck issue for sumologic exporter
  exporter/sumologicexporter/sender_test.go
Labels: Skip Changelog

#10905 fix gocritic issue for exporter kafka
  exporter/kafkaexporter/internal/awsmsk/iam_scram_client.go
Labels: Skip Changelog

#10884 fix gocritic issue for exporter humio
  exporter/humioexporter/config.go
  exporter/humioexporter/config_test.go
Labels: Skip Changelog

#10908 fix errcheck issue for extension fluentbit
  extension/fluentbitextension/process_linux_test.go
Labels: Skip Changelog

#10906 fix errcheck issue for extension basicauth
  extension/basicauthextension/extension_test.go
Labels: Skip Changelog

#10874 [Makefile] Add targets for markdown-link-check
  Makefile
  Makefile.Common
Labels: Skip Changelog

#9245 [cmd/mdatagen] Allow attribute values of any types
  CHANGELOG.md
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metric-metadata.yaml
  cmd/mdatagen/metrics_v2.tmpl
  cmd/mdatagen/testdata/all_options.yaml
  receiver/vcenterreceiver/metadata.yaml
Labels: ready-to-merge

#10338 [docs] Add status header for tencentcloudlogservice exporter
  exporter/tencentcloudlogserviceexporter/README.md
Labels: ready-to-merge, Skip Changelog

#10307 [docs] Add status header for awsxray exporter
  exporter/awsxrayexporter/README.md
Labels: Skip Changelog

#10570 fix errcheck issue for exporter prometheus and prometheusremotewrite
  exporter/prometheusexporter/prometheus_test.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: Skip Changelog

#10923 fix gocritic issue for exporter sentry
  exporter/sentryexporter/sentry_exporter.go
Labels: Skip Changelog

#10913 [testbed] Bump CPU threshold on flaky test
  testbed/tests/trace_test.go
Labels: Skip Changelog

#10473 [processor/transform] Fix metric accessor bugs
  CHANGELOG.md
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/common/expression.go
  processor/transformprocessor/internal/common/expression_test.go
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/metrics/metrics_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: ready-to-merge

#10871 Remove testutil.GetAvailablePort, apply exclusion logic to address as well
  exporter/zipkinexporter/zipkin_test.go
  internal/common/testutil/testutil.go
  internal/common/testutil/testutil_test.go
  testbed/testbed/utils.go
Labels: Skip Changelog

#11020 Fix build on windows, test were replacing all env vars
  receiver/awsxrayreceiver/factory_test.go
  receiver/awsxrayreceiver/receiver_test.go
Labels: Skip Changelog

#11026 fix lint issue for extension httpforwarder
  extension/httpforwarder/extension_test.go
Labels: Skip Changelog

#11022 Enable tenv linter, ensure env vars are cleaned up
  .golangci.yml
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsprometheusremotewriteexporter/factory_test.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/signalfxexporter/internal/hostmetadata/host_linux_test.go
  exporter/signalfxexporter/internal/hostmetadata/host_test.go
  exporter/signalfxexporter/internal/hostmetadata/metadata_test.go
  extension/awsproxy/factory_test.go
  extension/observer/k8sobserver/extension_test.go
  internal/aws/awsutil/conn_test.go
  internal/aws/ecsutil/endpoints/metadata_test.go
  internal/aws/proxy/conn_test.go
  internal/aws/proxy/server_test.go
  pkg/stanza/operator/helper/attributer_test.go
  pkg/stanza/operator/helper/expr_string_test.go
  pkg/stanza/operator/helper/identifier_test.go
  pkg/stanza/operator/transformer/filter/filter_test.go
  pkg/stanza/operator/transformer/router/router_test.go
  processor/k8sattributesprocessor/options_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
  processor/resourcedetectionprocessor/internal/azure/aks/aks_test.go
  processor/resourcedetectionprocessor/internal/env/env_test.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux_test.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/awsecscontainermetricsreceiver/factory_test.go
  receiver/googlecloudspannerreceiver/internal/datasource/database_test.go
  receiver/jmxreceiver/config_test.go
Labels: Skip Changelog

#11028 [exporter/datadog] Remove useless logs
  exporter/datadogexporter/factory.go
Labels: Skip Changelog

#11018 [receiver/nginx] Add example config file and fix dead link
  receiver/nginxreceiver/config_test.go
  receiver/nginxreceiver/testdata/config.yaml
Labels: Skip Changelog

#10318 [docs] Add status header for honeycomb exporter
  CHANGELOG.md
  exporter/honeycombexporter/README.md
  exporter/honeycombexporter/factory.go
  exporter/honeycombexporter/go.mod
Labels: Skip Changelog

#11038 [chore] Rotate component sponsors
  CONTRIBUTING.md
Labels: Skip Changelog

#11040 [extension/filestorage] Skip flaky TestClientConcurrentCompaction
  extension/storage/filestorage/client_test.go
Labels: Skip Changelog

#11019 [processor/transform] Added CONTRIBUTING.md
  processor/transformprocessor/CONTRIBUTING.md
  processor/transformprocessor/README.md
Labels: Skip Changelog

#11035 [exporter/dynatrace] Update Dynatrace exporter docs
  exporter/dynatraceexporter/README.md
Labels: documentation, comp:dynatrace, Skip Changelog

#11045 [receiver/metricstransform] Add more test cases
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
Labels: ready-to-merge, Skip Changelog

#11047 [receiver/metricstransform] Remove calculation of SumOfSquaredDeviation
  processor/metricstransformprocessor/datapoint_aggregation.go
  processor/metricstransformprocessor/metrics_transform_processor_test.go
Labels: ready-to-merge, Skip Changelog

#11050 Remove resolved warning from prometheus receiver
  receiver/prometheusreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#11056 [chore] assign codeowners to more components
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#11032 [exporter/signalfx] Enable the exporting of seven Kubernetes metrics used in Splunk/SignalFx content by default
  CHANGELOG.md
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/translation/default_metrics.go
  exporter/signalfxexporter/testdata/json/non_default_metrics_otel_convention.json
Labels: ready-to-merge

#10447 [docs] Add status header for cloudfoundry receiver
  receiver/cloudfoundryreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#11057 [receiver/cloudfoundry] Add crobert-1 as a CODEOWNER
  .github/CODEOWNERS
Labels: ready-to-merge, Skip Changelog

#10911 [exporter/datadog] Add Kubernetes hostname provider
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2_test.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/k8s/nodename.go
  exporter/datadogexporter/internal/metadata/internal/k8s/provider.go
  exporter/datadogexporter/internal/metadata/internal/k8s/provider_test.go
  exporter/datadogexporter/internal/metadata/provider/clustername.go
  exporter/datadogexporter/internal/metadata/provider/clustername_test.go
  exporter/datadogexporter/internal/metadata/provider/provider.go
  exporter/datadogexporter/internal/model/attributes/hostname.go
  exporter/datadogexporter/internal/model/attributes/hostname_test.go
Labels: ready-to-merge, Skip Changelog

#11072 [docs] Add status header for redisreceiver
  receiver/redisreceiver/README.md
Labels: Skip Changelog

#11060 [processor/k8sattributesprocessor] add debug logs
  CHANGELOG.md
  processor/k8sattributesprocessor/processor.go
Labels: ready-to-merge

#11070 [docs] Add status header for zookeeperreceiver
  receiver/zookeeperreceiver/README.md
Labels: Skip Changelog

#11079 [internal/k8s/k8sclient] Skip flaky TestPodClient_NamespaceToRunningP…
  internal/aws/k8s/k8sclient/pod_test.go
Labels: Skip Changelog

#11080 [chore] Remove unused sqlserver install script
  .github/workflows/scripts/sqlserver_install.ps1
Labels: ready-to-merge, Skip Changelog

#11075 [receiver/redis] Add config test
  receiver/redisreceiver/config_test.go
  receiver/redisreceiver/testdata/config.yaml
Labels: Skip Changelog

#11083 [chore] Fix check-codeowners
  .github/ALLOWLIST
  .github/workflows/scripts/check-codeowners.sh
Labels: Skip Changelog

#11101 [docs] Add status header for RabbitMQ receiver
  receiver/rabbitmqreceiver/README.md
Labels: Skip Changelog

#11098 [docs] Add status header for PostgreSQL receiver
  receiver/postgresqlreceiver/README.md
Labels: Skip Changelog

#10817 [processor/metricstransform] Migrate the processor from OC to pdata
  CHANGELOG.md
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/factory.go
  processor/metricstransformprocessor/metrics_transform_processor.go
  processor/metricstransformprocessor/metrics_transform_processor_group_test.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/metricstransformprocessor/metrics_transform_processor_test.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
  processor/metricstransformprocessor/operation_add_label.go
  processor/metricstransformprocessor/operation_aggregate_label_values.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
  processor/metricstransformprocessor/operation_delete_label_value.go
  processor/metricstransformprocessor/operation_scale_value.go
  processor/metricstransformprocessor/operation_toggle_scalar_datatype.go
  processor/metricstransformprocessor/operation_update_label.go
Labels: ready-to-merge

#11095 [docs] Add status header for nsxt receiver
  receiver/nsxtreceiver/README.md
Labels: Skip Changelog

#11109 [docs] Add status header for SQL Server receiver
  receiver/sqlserverreceiver/README.md
Labels: Skip Changelog

#11089 [cmd/configschema] fix dead links
  cmd/configschema/docsgen/README.md
Labels: Skip Changelog

#11085 [processor/filterprocessor] fix dead links
  processor/filterprocessor/README.md
Labels: Skip Changelog

#11086 [processor/groupbyattrsprocessor] fix dead links
  processor/groupbyattrsprocessor/README.md
Labels: Skip Changelog

#11082 [processor/routingprocessor] fix dead links
  processor/routingprocessor/README.md
Labels: Skip Changelog

#11088 [extension/observer/ecstaskobserver] fix dead links
  extension/observer/ecstaskobserver/README.md
Labels: Skip Changelog

#11069 [exporter/elasticsearchexporter] Add InsecureSkipVerify settings
  exporter/elasticsearchexporter/README.md
Labels: Skip Changelog

#11053 [docs] move current triagers to emeritus
  README.md
Labels: Skip Changelog

#11043 Add instructions in CONTRIBUTING.md on how to contribute new metrics
  CONTRIBUTING.md
Labels: Skip Changelog

#11071 [docs] add status header for zipkinreceiver
  receiver/zipkinreceiver/README.md
Labels: Skip Changelog

#11100 [docs] Add status header for Prometheus receiver
  receiver/prometheusreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#11115 [exporter/datadog/examples] Fix RBAC rules on Kubernetes example
  exporter/datadogexporter/example/example_k8s_manifest.yaml
Labels: ready-to-merge, Skip Changelog

#10944 [testbed] Provide mechanism to continue test when violations may be t…
  testbed/testbed/child_process_collector.go
  testbed/testbed/options.go
  testbed/tests/e2e_test.go
Labels: Skip Changelog

#11094 [receiver/k8sclusterreceiver] Dead links
  receiver/k8sclusterreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#11091 [docs]Add status header for simpleprometheus
  receiver/simpleprometheusreceiver/README.md
Labels: Skip Changelog

#11093 [receiver/awsfirehosereceiver] fix dead links
  receiver/awsfirehosereceiver/README.md
Labels: ready-to-merge, Skip Changelog

#11117 [CI] Fix check-codeowners to account for path separator
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/workflows/scripts/check-codeowners.sh
Labels: Skip Changelog

#10451 [docs] Add status header for dockerstats receiver
  receiver/dockerstatsreceiver/README.md
Labels: Skip Changelog

#11124 [pkg/stanza] Remove notion of operators from fileconsumer
  pkg/stanza/internal/fileconsumer/benchmark_test.go
  pkg/stanza/internal/fileconsumer/config.go
  pkg/stanza/internal/fileconsumer/config_test.go
  pkg/stanza/internal/fileconsumer/file.go
  pkg/stanza/internal/fileconsumer/file_test.go
  pkg/stanza/internal/fileconsumer/fingerprint.go
  pkg/stanza/internal/fileconsumer/fingerprint_test.go
  pkg/stanza/internal/fileconsumer/reader.go
  pkg/stanza/internal/fileconsumer/rotation_test.go
  pkg/stanza/internal/fileconsumer/util_test.go
Labels: Skip Changelog

#11096 [docs] Add status header for OpenCensus receiver
  receiver/opencensusreceiver/README.md
Labels: Skip Changelog

#11110 [docs] Add status header for StatsD receiver
  receiver/statsdreceiver/README.md
Labels: Skip Changelog

#11103 [docs] Add status header for Riak receiver
  receiver/riakreceiver/README.md
Labels: Skip Changelog

#11146 fix links
  receiver/prometheusexecreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10452 [docs] Add status header for dotnetdiagnostics receiver
  receiver/dotnetdiagnosticsreceiver/README.md
Labels: Skip Changelog

#11081 [chore] Clarify output of check-codeowners
  .github/workflows/scripts/check-codeowners.sh
Labels: Skip Changelog

#11152 [exporter/azuremonitor] Fix dead links
  exporter/azuremonitorexporter/README.md
Labels: Skip Changelog

#11111 [docs] Add status header for Wavefront receiver
  receiver/wavefrontreceiver/README.md
Labels: Skip Changelog

#11097 [docs] Add status header for Podman receiver
  receiver/podmanreceiver/README.md
Labels: Skip Changelog

#11066 fix gocritic issue for extension observer
  extension/observer/dockerobserver/extension.go
  extension/observer/endpointswatcher.go
  extension/observer/k8sobserver/config_test.go
  extension/observer/k8sobserver/mocks_test.go
Labels: Skip Changelog

#9785 fix errcheck issue for aws related exporter
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_declaration_test.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/writer_pool_test.go
Labels: Skip Changelog

#9385 [receiver/prometheus] Validate that combined metrics all have the same timestamp
  CHANGELOG.md
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: ready-to-merge, comp:prometheus

#11167 [receiver/riak] Ignore temporarily failing link
  receiver/riakreceiver/README.md
Labels: Skip Changelog

#11076 Pkg stanza extract file reading
  pkg/stanza/operator/input/file/benchmark_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/file/file.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/file/finder.go
  pkg/stanza/operator/input/file/finder_test.go
  pkg/stanza/operator/input/file/fingerprint.go
  pkg/stanza/operator/input/file/fingerprint_test.go
  pkg/stanza/operator/input/file/positional_scanner.go
  pkg/stanza/operator/input/file/reader.go
  pkg/stanza/operator/input/file/roller.go
  pkg/stanza/operator/input/file/roller_other.go
  pkg/stanza/operator/input/file/roller_windows.go
  pkg/stanza/operator/input/file/rotation_test.go
  pkg/stanza/operator/input/file/util_test.go
Labels: Skip Changelog

#11165 Add amenasria as owner of `exporter/datadogexporter`
  .github/CODEOWNERS
Labels: ready-to-merge, Skip Changelog

#11131 [docs] add header to resource processor
  processor/resourceprocessor/README.md
Labels: Skip Changelog

#11172 Promote @dmitryax and @mx-psi as maintainers
  README.md
Labels: Skip Changelog

#11137 [docs]Add status header for fluentbit
  extension/fluentbitextension/README.md
Labels: ready-to-merge, Skip Changelog

#10926 [exporter/datadog] Add `exporter.datadog.hostname.preview` feature flag
  CHANGELOG.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/warning_deprecated_test.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/provider/provider.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/testdata/config.yaml
  exporter/datadogexporter/translate_traces.go
Labels: ready-to-merge

#11151 fix dead links
  exporter/signalfxexporter/README.md
Labels: ready-to-merge, Skip Changelog

#11044 feat(dynatraceexporter): provide better estimated summaries for partial histograms
  CHANGELOG.md
  exporter/dynatraceexporter/internal/serialization/histogram.go
  exporter/dynatraceexporter/internal/serialization/histogram_test.go
Labels: ready-to-merge

#11142 [exporter/awsprometheusremotewrite] Dead links
  exporter/awsprometheusremotewriteexporter/README.md
Labels: Skip Changelog
