Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-11, with the labels that each got.

#15715 [processor/servicegraph] [docs] Update config in README.md
  processor/servicegraphprocessor/README.md
Labels: Skip Changelog

#15997 [processor/servicegraph] [docs] Fix links in the docs header
  processor/servicegraphprocessor/README.md
Labels: Skip Changelog

#15996 Bump to latest released datadog pkgs
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#16004 [exporter/mezmo] Add self as code owner
  .github/CODEOWNERS
Labels: Skip Changelog

#15999 [examples/demo] Reduce demo image size
  examples/demo/client/Dockerfile
  examples/demo/server/Dockerfile
Labels: ready-to-merge, Skip Changelog

#15360 [processor/transform] Remove functions param in NewProcessor
  processor/transformprocessor/factory.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: Skip Changelog

#15706 [pkg/stanza] Enable noop operator
  .chloggen/pkg-stanza-enable-noop.yaml
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/noop.md
Labels: pkg/stanza

#15704 [receiver/vcenter]Fix x509 with TLS.InsecureSkipVerify setting
  .chloggen/vcenter-x509-err.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/scraper_test.go
Labels: priority:p2, receiver/vcenter

#15721 [chore] Add component dropdown for new issues
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/workflows/build-and-test.yml
  .github/workflows/ping-codeowners-on-new-issue.yml
  .github/workflows/scripts/add-component-options.sh
  .github/workflows/scripts/get-codeowners.sh
  .github/workflows/scripts/ping-codeowners-on-new-issue.sh
  CONTRIBUTING.md
  Makefile
Labels: ready-to-merge

#16035 [chore] fix typo SignalFx->fluentforward
  receiver/fluentforwardreceiver/config.go
Labels: Skip Changelog

#16038 [chore] Update the testbed to use 127.0.0.1 vs localhost or 0.0.0.0
  testbed/datareceivers/carbon.go
  testbed/datareceivers/jaeger.go
  testbed/datareceivers/mockawsxraydatareceiver.go
  testbed/datareceivers/opencensus.go
  testbed/datareceivers/prometheus.go
  testbed/datareceivers/sapm.go
  testbed/datareceivers/signalfx.go
  testbed/datareceivers/splunk.go
  testbed/datareceivers/zipkin.go
  testbed/datasenders/fluent.go
  testbed/datasenders/signalfx.go
  testbed/datasenders/syslog.go
  testbed/datasenders/tcpudp.go
  testbed/testbed/receivers.go
  testbed/tests/testdata/agent-config.yaml
  testbed/tests/testdata/memory-limiter.yaml
Labels: Skip Changelog

#15232 Add metric prefix config to googlemanagedprometheus exporter
  .chloggen/googlemanagedprometheus-metric-prefix.yaml
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/config.go
  exporter/googlemanagedprometheusexporter/config_test.go
  exporter/googlemanagedprometheusexporter/testdata/config.yaml
Labels: enhancement, ready-to-merge, exporter/googlemanagedprometheus

#15662 [chore][internal] modify deprecated label
  internal/aws/k8s/k8sclient/node_test.go
Labels: Skip Changelog

#16048 [exporter/datadog] Use min and max fields from histograms
  .chloggen/mx-psi_min-max-fix.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: ready-to-merge

#16049 [receiver/prometheusreceiver] make assertMetricPresent to fail if metric is not present
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: Skip Changelog

#16034 [chore] Allow additional labels to be added through comments
  .github/workflows/scripts/add-labels.sh
  CONTRIBUTING.md
Labels: Skip Changelog

#16052 [pkg/stanza] Fix some references to the former "message" field, now called body
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/docs/types/expression.md
Labels: Skip Changelog

#16050 [scrapertest] Add option to ignore all but first data point of a metric
  internal/scrapertest/compare_test.go
  internal/scrapertest/mask.go
  internal/scrapertest/testdata/ignore-subsequent-data-points-all/actual.json
  internal/scrapertest/testdata/ignore-subsequent-data-points-all/expected.json
  internal/scrapertest/testdata/ignore-subsequent-data-points-one/actual.json
  internal/scrapertest/testdata/ignore-subsequent-data-points-one/expected.json
  receiver/postgresqlreceiver/integration_test.go
Labels: Skip Changelog

#16059 [pkg/ottl] Remove incorrect entry in docs
  pkg/ottl/ottlfuncs/README.md
Labels: ready-to-merge, Skip Changelog

#16065 [processor/transform] Remove unnecessary warning in README
  processor/transformprocessor/README.md
Labels: Skip Changelog

#16068 [exporter/prometheus] settings were not set in prometheus exporter
  exporter/prometheusexporter/prometheus.go
Labels: Skip Changelog, exporter/prometheus

#15718 docs: add status tables for all components
  exporter/azuremonitorexporter/README.md
  exporter/mezmoexporter/README.md
  extension/awsproxy/README.md
  processor/deltatorateprocessor/README.md
  processor/k8sattributesprocessor/README.md
  processor/logstransformprocessor/README.md
  processor/metricsgenerationprocessor/README.md
  receiver/receivercreator/README.md
  receiver/solacereceiver/README.md
  receiver/sqlqueryreceiver/README.md
Labels: Skip Changelog

#16061 [receiver/kubelet] Return an error if metadata containerID is empty
  .chloggen/kubeletstats-receiver.yaml
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
Labels: ready to merge

#16055 [pkg/stanza] Skip active file moving tests on windows
  pkg/stanza/fileconsumer/rotation_test.go
  receiver/filelogreceiver/filelog_test.go
Labels: Skip Changelog

#15707 [receiver/jaegerreceiver] Update docs
  receiver/jaegerreceiver/README.md
Labels: ready to merge, Skip Changelog

#16057 Bump kentaro-m/auto-assign-action from 1.2.3 to 1.2.4
  .github/workflows/auto-assign-owners.yml
Labels: dependencies, ready to merge, Skip Changelog

#16056 [pkg/stanza] Deduplicate file rotation tests
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/file/rotation_test.go
  pkg/stanza/operator/input/file/util_test.go
Labels: Skip Changelog

#14910 update readme for resourcedetection/ec2 example
  exporter/coralogixexporter/README.md
Labels: Stale, Skip Changelog

#16081 [pkg/ottl] Fix bad accessor
  pkg/ottl/contexts/internal/ottlcommon/span.go
Labels: Skip Changelog

#16089 [processor/filter] Don't use SpanKind.String() in config enums
  internal/coreinternal/processor/filterconfig/config.go
  internal/coreinternal/processor/filterspan/filterspan_test.go
Labels: Skip Changelog

#16097 [receiver/hostmetrics] docs: correct deprecation notice
  receiver/hostmetricsreceiver/README.md
Labels: Skip Changelog

#15382 [processor/transform] Add ContextStatements config
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
Labels: Skip Changelog

#16176 Correct task name for generating the issue template code
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#16177 Migrate off of deprecated google cloud generated client
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudexporter/legacymetrics_test.go
  go.mod
  go.sum
Labels: dependencies, ready to merge, Skip Changelog, exporter/googlecloud

#16171 [extension/bearerauth] Update Readme documentation
  extension/bearertokenauthextension/README.md
Labels: Skip Changelog

#16174 Add CODEOWNER for pkg/experimentalmetricmetadata
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
Labels: Skip Changelog

#16167 (httpcheck): fix receiver name in the example config
  receiver/httpcheckreceiver/README.md
Labels: Skip Changelog

#16184 Ensure we always use go1.18 in modules
  receiver/pulsarreceiver/go.mod
  receiver/snowflakereceiver/go.mod
Labels: Skip Changelog

#16101 [fileexporter] Clarify writable directory requirements
  exporter/fileexporter/README.md
Labels: Skip Changelog

#16217 [processor/transformprocessor] Implement ConvertCase OTTL function into transform processor
  .chloggen/transform-processor-convert-case.yaml
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: ready to merge

#14560 [exporter/loki] Automatically maps severity value to "level" attribute
  .chloggen/14313-loki-convert.yaml
  exporter/lokiexporter/README.md
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: exporter/loki

#16187 [receiver/mongodb] Drop support for versions prior to 4.0
  .chloggen/mongodb-update-supported-versions.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/integration/Dockerfile.mongodb.2_6
  receiver/mongodbreceiver/testdata/integration/Dockerfile.mongodb.3_0
Labels: receiver/mongodb

#16173 [receiver/elasticsearch] add jvm heap percentage usage metric
  .chloggen/elastic-jvm-heap-percent.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/model/nodestats.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
Labels: receiver/elasticsearch

#15381 [processor/transform] Add new Context-specific configuration options
  .chloggen/tp-enhanced-contexts.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: ready to merge, processor/transform

#15711 [pkg/ottl] Basic math capabilities
  .chloggen/ottl-add-math-to-grammar.yaml
  pkg/ottl/README.md
  pkg/ottl/boolean_value_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/lexer_test.go
  pkg/ottl/math.go
  pkg/ottl/math_test.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: ready to merge, pkg/ottl

#16209 chore: use testcontainers-go in redis receiver
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/redisreceiver/redis_e2e_test.go
Labels: receiver/redis, Skip Changelog

#16248 Change servicegraphprocessor to avoid allocating hex strings for map key
  processor/servicegraphprocessor/internal/store/edge.go
  processor/servicegraphprocessor/internal/store/interface.go
  processor/servicegraphprocessor/internal/store/store.go
  processor/servicegraphprocessor/internal/store/store_test.go
  processor/servicegraphprocessor/processor.go
Labels: Skip Changelog

#16245 [pkg/ottl] Rename ottldatapoints to ottldatapoint
  .chloggen/ottl-rename-ottldatapoints.yaml
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  processor/routingprocessor/metrics.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor.go
Labels: processor/transform, processor/routing, pkg/ottl

#16247 Explicitly call hex.EncodeAsString for trace/span ID when clear
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/lokiexporter/legacy_exporter.go
  exporter/mezmoexporter/exporter.go
  exporter/skywalkingexporter/logrecord_to_logdata.go
  pkg/translator/loki/encode.go
  pkg/translator/prometheusremotewrite/helper.go
Labels: Skip Changelog

#16241 [pkg/ottl] Rename ottltraces to ottlspan
  .chloggen/ottl-rename-trace-context.yaml
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  processor/routingprocessor/traces.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform, processor/routing, pkg/ottl

#16076 [exporter/awsxray] Favour semconv attributes for QueueURL and TableName
  .chloggen/exporter-awsxray-semconv.yaml
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
Labels: exporter/awsxray

#16257 Change featuregate usages to the new Register API
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/traces_exporter_test.go
  exporter/googlecloudexporter/factory.go
  pkg/translator/prometheus/normalize_label.go
  pkg/translator/prometheus/normalize_label_test.go
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
  processor/cumulativetodeltaprocessor/processor.go
  receiver/apachereceiver/scraper.go
  receiver/dockerstatsreceiver/factory.go
  receiver/postgresqlreceiver/scraper.go
Labels: exporter/datadog, Skip Changelog, receiver/dockerstats, exporter/googlecloud, processor/cumulativetodelta, receiver/postgresql, receiver/apache, pkg/translator/prometheus

#16258 [chore] remove what looks to be debugging code from instanaexporter
  exporter/instanaexporter/internal/otlptext/databuffer.go
  exporter/instanaexporter/internal/otlptext/traces.go
Labels: exporter/instana

#14922 [receiver/elasticsearch]: add fielddata memory size metrics on index level
  .chloggen/elasticsearch-fielddata.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/indices.json
Labels: ready to merge

#16269 Register featuregate, otherwise does not work
  .chloggen/fixunregistergate.yaml
  processor/spanmetricsprocessor/config.go
  processor/spanmetricsprocessor/factory.go
Labels: processor/spanmetrics

#16242 [pkg/ottl] Rename ottllogs to ottllog
  .chloggen/ottl-rename-ottllogs.yaml
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  processor/routingprocessor/logs.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/logs/functions.go
  processor/transformprocessor/internal/logs/functions_test.go
  processor/transformprocessor/internal/logs/processor.go
Labels: processor/transform, processor/routing, pkg/ottl

#16287 [chore] update jaeger dep
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/go.sum
  exporter/jaegerexporter/go.mod
  exporter/jaegerexporter/go.sum
  exporter/jaegerthrifthttpexporter/go.mod
  exporter/jaegerthrifthttpexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  extension/healthcheckextension/go.mod
  extension/healthcheckextension/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  go.mod
  go.sum
  pkg/translator/jaeger/go.mod
  pkg/translator/jaeger/go.sum
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: receiver/zipkin, processor/spanmetrics, extension/healthcheck, cmd/configschema, exporter/jaeger, exporter/signalfx, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/kafka, exporter/jaegerthrifthttp, exporter/sapm, exporter/coralogix, exporter/zipkin, receiver/kafka, receiver/jaeger, receiver/signalfx, receiver/kafkametrics, receiver/sapm, extension/jaegerremotesampling, receiver/pulsar, pkg/translator/jaeger, pkg/translator/zipkin

#16286 [receiver/mongodbatlas] Alerts poll mode check hostname and port
  .chloggen/mongodbatlas-check-hostname.yaml
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/alerts_test.go
Labels: receiver/mongodbatlas

#16253 [Docker Stats Receiver] Add @jamesmoessis as code owner
  .github/CODEOWNERS
Labels: Skip Changelog, receiver/dockerstats

#16240 [receiver/rabbitmq] Fix flaky integration test
  receiver/rabbitmqreceiver/integration_test.go
  receiver/rabbitmqreceiver/testdata/integration/scripts/setup.sh
Labels: Skip Changelog, receiver/rabbitmq

#16305 [exporter/splunkhecexporter] close HTTP servers used during testing
  .chloggen/splunk_hec-http-server-close.yaml
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#16294 [exporter/datadog] Bump Datadog Agent Go modules
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema

#16306 fix: decouple mongoDB integration tests
  receiver/mongodbreceiver/integration_test.go
Labels: Skip Changelog, receiver/mongodb

#16172 [receiver/elasticsearch]: add segment memory metric on node level
  .chloggen/elastic-node-segments.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_linux.json
Labels: receiver/elasticsearch

#16280 [chore]: fix port feature gate's description in apachereceiver
  receiver/apachereceiver/scraper.go
Labels: Skip Changelog, receiver/apache

#16309 [operator/trace_parser] Example corrected - body changed to attributes
  pkg/stanza/docs/types/trace.md
Labels: Skip Changelog, pkg/stanza

#16251 [processor/transform] Allow specifying functions per context
  .chloggen/tp-functions-per-context.yaml
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/functions.go
  processor/transformprocessor/internal/logs/functions_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor.go
Labels: ready to merge, processor/transform

#16301 [chore] Don't use deprecated [Span|Trace]ID.HexString method
  exporter/alibabacloudlogserviceexporter/logsdata_to_logservice.go
  exporter/alibabacloudlogserviceexporter/tracedata_to_logservice.go
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/azuredataexplorerexporter/logsdata_to_adx.go
  exporter/azuredataexplorerexporter/tracesdata_to_adx.go
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/logexporter_test.go
  exporter/azuremonitorexporter/trace_to_envelope.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/datadogexporter/internal/logs/translator.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/model.go
  exporter/humioexporter/traces_exporter.go
  exporter/logzioexporter/jsonlog.go
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/lokiexporter/legacy_exporter.go
  exporter/prometheusexporter/collector.go
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/tracedata_to_splunk.go
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice.go
  internal/coreinternal/traceutil/traceutil.go
  pkg/ottl/contexts/internal/ottlcommon/span.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/translator/loki/encode.go
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/zipkin/zipkinv2/from_translator.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  testbed/datasenders/tcpudp.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, processor/transform, exporter/clickhouse, exporter/loki, exporter/azuremonitor, processor/routing, exporter/splunkhec, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/humio, exporter/prometheus, exporter/tencentcloudlogservice, pkg/ottl, exporter/azuredataexplorer, internal/core, pkg/translator/loki, pkg/translator/zipkin

#16302 [exporter/tanzuobservability] Don't encode/decode TraceID as string
  exporter/tanzuobservabilityexporter/transformer.go
  exporter/tanzuobservabilityexporter/transformer_test.go
Labels: Skip Changelog, exporter/tanzuobservability

#16298 [pkg/ottl] Commonize logic for handling slice and non-slice args
  .chloggen/ottl-internal-with-lists.yaml
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: ready to merge, pkg/ottl

#16316 chore: retire containertest
  .github/ALLOWLIST
  .github/dependabot.yml
  cmd/configschema/go.mod
  go.mod
  internal/containertest/Makefile
  internal/containertest/container.go
  internal/containertest/container_integration_test.go
  internal/containertest/go.mod
  internal/containertest/go.sum
  versions.yaml
Labels: Skip Changelog, cmd/configschema, receiver/mongodb

#16323 [chrony receiver] Fixing flake
  receiver/chronyreceiver/internal/chrony/client_test.go
Labels: Skip Changelog, receiver/chrony

#16322 [chore] [exporter/splunkhecexporter] make large_batch test less demanding
  exporter/splunkhecexporter/exporter_test.go
Labels: exporter/splunkhec

#16324 [exporter/splunkhecexporter] Do not log a warning on mapping empty metrics
  .chloggen/remove-warning-on-empty-metric.yaml
  exporter/splunkhecexporter/metricdata_to_splunk.go
Labels: exporter/splunkhec

#16169 [examples/demo] fix demo could not stat up
  examples/demo/client/Dockerfile
  examples/demo/docker-compose.yaml
  examples/demo/server/Dockerfile
Labels: Skip Changelog, examples/demo

#16272 [pkg/stanza] Support to Customize bufio.SplitFunc
  .chloggen/stanza-support-customize-splitter.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/splitter_factory.go
  pkg/stanza/fileconsumer/splitter_factory_test.go
Labels: pkg/stanza

#14873 [receiver/elasticsearch]: add query cache metrics on index level
  .chloggen/elasticsearch-query-cache.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.json
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/integration/expected.7_16_3.json
  receiver/elasticsearchreceiver/testdata/integration/expected.7_9_3.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/indices.json
Labels: receiver/elasticsearch

#16329 Propose @evan-bradley as approver
  README.md
Labels: Skip Changelog

#16330 Propose @MovieStoreGuy as approver
  README.md
Labels: Skip Changelog

#16332 [chore] Disable flaky windows file rotation tests
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
Labels: pkg/stanza

#16278 [receiver/vcenter]Fix nil pointer exception when vcenter receiver collectVMs.
  .chloggen/vcenter-nil-pointer.yaml
  receiver/vcenterreceiver/scraper.go
Labels: receiver/vcenter

#16339 [pkg/stanza] Fix serverity range unmarshaling
  .chloggen/pkg-stanza-sev-range-fix.yaml
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/severity_builder.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/testdata/severity.yaml
  pkg/stanza/operator/parser/json/config_test.go
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/regex/config_test.go
  pkg/stanza/operator/parser/severity/severity_test.go
  pkg/stanza/operator/parser/syslog/config_test.go
  pkg/stanza/operator/parser/uri/config_test.go
Labels: pkg/stanza

#14874 [receiver/elasticsearch]: add document count metrics on index level
  .chloggen/elasticsearch-docs.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
Labels: receiver/elasticsearch

#14875 [receiver/elasticsearch]: add cluster health metrics for two more shard types
  .chloggen/elasticsearch-cluster-health-shards.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/model/clusterhealth.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/health.json
Labels: receiver/elasticsearch

#16350 Add Cumulative Delta Include All Unit Tests
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: ready to merge, Skip Changelog, processor/cumulativetodelta

#16265 [kafka Exporter] refactor tests
  exporter/kafkaexporter/factory_test.go
Labels: Skip Changelog, exporter/kafka

#16360 [chore] Update autoassign.yaml with new approvers
  .github/auto_assign.yml
Labels: ready to merge

#16351 [processor/transform] Use proper context name in readme
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#16250 [exporter/signalfxexporter] allow user to add their own CA to the cert pool
  .chloggen/signalfx-exporter.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/internal/dimensions/dimclient.go
  exporter/signalfxexporter/testdata/certs/ca.pem
  exporter/signalfxexporter/testdata/certs/cert-key.pem
  exporter/signalfxexporter/testdata/certs/cert.pem
  exporter/signalfxexporter/testdata/certs/invalid-ca.pem
Labels: ready to merge, exporter/signalfx

#16354 [exporter/azuremonitor] Support span and exception events
  .chloggen/exporter-azuremonitor-support-span-events.yaml
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/config.go
  exporter/azuremonitorexporter/config_test.go
  exporter/azuremonitorexporter/conventions.go
  exporter/azuremonitorexporter/factory.go
  exporter/azuremonitorexporter/trace_to_envelope.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/azuremonitorexporter/traceexporter.go
  exporter/azuremonitorexporter/traceexporter_test.go
Labels: ready to merge, exporter/azuremonitor

#16071 [receiver/prometheusreceiver]: trim type and unit suffixes from metric name
  .chloggen/promreceiver_normalize_metric_suffixes.yaml
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_metric_name_normalize_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
  receiver/simpleprometheusreceiver/go.mod
Labels: receiver/prometheus, receiver/prometheusexec, receiver/simpleprometheus, pkg/translator/prometheus

#16352 [pkg/ottl] Add support for setting maps in Values
  .chloggen/ottl-handle-maps.yaml
  pkg/ottl/contexts/internal/ottlcommon/value.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: ready to merge, pkg/ottl

#16370 Remove redundant dependency on Jaeger collector
  cmd/configschema/go.mod
  go.mod
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/go.sum
  receiver/jaegerreceiver/trace_receiver.go
  receiver/prometheusreceiver/go.mod
  testbed/go.mod
  testbed/go.sum
Labels: processor/spanmetrics, Skip Changelog, receiver/prometheus, cmd/configschema, receiver/jaeger

#16372 [receiver/jaeger] Fix an error message in thrift HTTP message decoder
  .chloggen/fix-jaeger-error.yaml
  receiver/jaegerreceiver/trace_receiver.go
Labels: processor/spanmetrics, receiver/prometheus, cmd/configschema, receiver/jaeger

#16341 [chore] update more tests to bind to 127.0.0.1
  extension/jaegerremotesampling/extension_test.go
  extension/jaegerremotesampling/internal/grpc_test.go
  extension/jaegerremotesampling/internal/http_test.go
Labels: extension/jaegerremotesampling

#16376 [chore]: rename files in filterprocessor, use RemoveIf once
  processor/filterprocessor/logs.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
Labels: processor/filter

#16335 [exporter/datadog] Change metadata error logging to info
  .chloggen/exporter-datadog-change-metadata-log-level.yaml
  exporter/datadogexporter/internal/metadata/internal/gohai/gohai.go
Labels: exporter/datadog

#16385 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ready to merge, Skip Changelog

#16390 [exporter/datadog] Do not read response if nil on logs error
  .chloggen/mx-psi_logs-exporter-crash.yaml
  exporter/datadogexporter/internal/logs/sender.go
Labels: exporter/datadog

#16393 Remove duplicate parse IDs code, avoid coreinternal dependency
  .chloggen/rmdup.yaml
  pkg/ottl/contexts/internal/ottlcommon/ids.go
  pkg/ottl/contexts/internal/ottlcommon/ids_test.go
  pkg/ottl/contexts/internal/ottlcommon/span.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  processor/routingprocessor/go.mod
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: processor/transform, processor/routing, pkg/ottl

#16369 [processor/filter] Add ottl to filter processor
  .chloggen/fp-add-ottl.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/factory.go
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/filterprocessor/internal/common/functions.go
  processor/filterprocessor/internal/common/matcher.go
  processor/filterprocessor/internal/common/parser.go
  processor/filterprocessor/logs.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/testdata/config_ottl.yaml
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
Labels: processor/filter

#16411 Fix changelog for v0.64.0, that entry was added during that time
  .chloggen/unreleased/msg_allow-tracking-virtual-devices.yaml
  CHANGELOG.md
Labels: Skip Changelog

#16414 [processor/filter] Add TylerHelmuth as CODEOWNER
  .github/CODEOWNERS
Labels: Skip Changelog

#16415 Remove download step on windows, will happen while unit tests
  .github/workflows/build-and-test-windows.yml
Labels: Skip Changelog

#16416 Remove verbosity flag from tests
  Makefile.Common
Labels: Skip Changelog

#16408 Update changlog for 0.65.0 release
  .chloggen/14313-loki-convert.yaml
  .chloggen/add-jmx-metrics-gatherer-1.20.0-alpha.yaml
  .chloggen/add-more-mongodb-lock-metrics.yaml
  .chloggen/elastic-jvm-heap-percent.yaml
  .chloggen/elastic-missing-operations.yaml
  .chloggen/elastic-node-segments.yaml
  .chloggen/elasticsearch-cluster-health-shards.yaml
  .chloggen/elasticsearch-docs.yaml
  .chloggen/elasticsearch-fielddata.yaml
  .chloggen/elasticsearch-query-cache.yaml
  .chloggen/exporter-awsxray-semconv.yaml
  .chloggen/exporter-azuremonitor-support-span-events.yaml
  .chloggen/exporter-datadog-change-metadata-log-level.yaml
  .chloggen/fix-jaeger-error.yaml
  .chloggen/fixunregistergate.yaml
  .chloggen/hec-compressed-max-content-length.yaml
  .chloggen/hostmetrics-remove-deprecated-label.yaml
  .chloggen/mark-azure-eventhub-alpha.yaml
  .chloggen/mongodb-update-supported-versions.yaml
  .chloggen/mongodbatlas-check-hostname.yaml
  .chloggen/mx-psi_logs-exporter-crash.yaml
  .chloggen/ottl-add-math-to-grammar.yaml
  .chloggen/ottl-handle-maps.yaml
  .chloggen/ottl-internal-with-lists.yaml
  .chloggen/ottl-rename-ottldatapoints.yaml
  .chloggen/ottl-rename-ottllogs.yaml
  .chloggen/ottl-rename-trace-context.yaml
  .chloggen/pkg-stanza-missing-storage-panic.yaml
  .chloggen/pkg-stanza-sev-range-fix.yaml
  .chloggen/promreceiver_normalize_metric_suffixes.yaml
  .chloggen/redisreceiver.yaml
  .chloggen/remove-warning-on-empty-metric.yaml
  .chloggen/rmdup.yaml
  .chloggen/signalfx-exporter.yaml
  .chloggen/simplify-logs-from-datadog-exporter.yaml
  .chloggen/stanza-support-customize-splitter.yaml
  .chloggen/tp-enhanced-contexts.yaml
  .chloggen/tp-functions-per-context.yaml
  .chloggen/transform-processor-convert-case.yaml
  .chloggen/vcenter-nil-pointer.yaml
  CHANGELOG.md
Labels: Skip Changelog

#15368 [receiver/splunkhecreceiver] add health endpoint
  .chloggen/add-support-for-hec-health.yaml
  internal/splunk/common.go
  receiver/splunkhecreceiver/README.md
  receiver/splunkhecreceiver/config.go
  receiver/splunkhecreceiver/config_test.go
  receiver/splunkhecreceiver/factory.go
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/testdata/config.yaml
Labels: Stale

#16423 [chore] Downgrade mattn/go-ieproxy to fix the Windows build
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
Labels: receiver/sqlquery, cmd/configschema

#16433 [chore] Actually skip windows rotation tests
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
Labels: pkg/stanza

#16420 [mdatagen] Make data point attributes `type` to be a required field
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/metric-metadata.yaml
  cmd/mdatagen/metrics.tmpl
  cmd/mdatagen/testdata/all_options.yaml
  receiver/activedirectorydsreceiver/metadata.yaml
  receiver/aerospikereceiver/metadata.yaml
  receiver/apachereceiver/metadata.yaml
  receiver/bigipreceiver/metadata.yaml
  receiver/couchdbreceiver/metadata.yaml
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/iisreceiver/metadata.yaml
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/memcachedreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/nginxreceiver/metadata.yaml
  receiver/nsxtreceiver/metadata.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/rabbitmqreceiver/metadata.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/riakreceiver/metadata.yaml
  receiver/saphanareceiver/metadata.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/zookeeperreceiver/metadata.yaml
Labels: Skip Changelog

#16389 Update the usage of set-output command in GH actions
  .github/workflows/check-links.yaml
  .github/workflows/load-tests.yml
  .github/workflows/scripts/set_release_tag.sh
  .github/workflows/scripts/setup_e2e_tests.sh
  .github/workflows/scripts/setup_stability_tests.sh
  .github/workflows/scripts/verify-dist-files-exist.sh
Labels: Skip Changelog

#16436 update action/setup-ruby to ruby/setup-ruby
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#16404 [mdatagen] Generate tests for the code generated by metrics builder
  cmd/mdatagen/loader.go
  cmd/mdatagen/main.go
  cmd/mdatagen/metrics_test.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_test.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachereceiver/internal/metadata/generated_metrics_test.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_test.go
  receiver/chronyreceiver/internal/metadata/generated_metrics_test.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/expvarreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/iisreceiver/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_test.go
  receiver/nsxtreceiver/metadata.yaml
  receiver/oracledbreceiver/go.mod
  receiver/oracledbreceiver/go.sum
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/riakreceiver/internal/metadata/generated_metrics_test.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_test.go
Labels: Skip Changelog

#16438 [pkg/ottl] Update span context README.md
  pkg/ottl/contexts/ottlspan/README.md
Labels: ready to merge, Skip Changelog, pkg/ottl

#16440 [pkg/ottl] Add more function documentation
  pkg/ottl/CONTRIBUTING.md
  pkg/ottl/ottlfuncs/README.md
Labels: ready to merge, Skip Changelog, pkg/ottl

#16439 [processor/filter] add ottl funcs to README
  processor/filterprocessor/README.md
Labels: processor/filter, Skip Changelog

#16443 Change filter interface to be compatible with ottl
  .chloggen/ottlfilter.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  internal/filter/expr/matcher.go
  internal/filter/filterlog/filterlog.go
  internal/filter/filterlog/filterlog_test.go
  internal/filter/filterlog/severity_matcher.go
  internal/filter/filterlog/severity_matcher_test.go
  internal/filter/filtermetric/config.go
  internal/filter/filtermetric/config_test.go
  internal/filter/filtermetric/expr_matcher.go
  internal/filter/filtermetric/filtermetric.go
  internal/filter/filtermetric/filtermetric_test.go
  internal/filter/filtermetric/name_matcher.go
  internal/filter/filterspan/filterspan.go
  internal/filter/filterspan/filterspan_test.go
  internal/filter/go.mod
  internal/filter/go.sum
  processor/attributesprocessor/attributes_log.go
  processor/attributesprocessor/attributes_metric.go
  processor/attributesprocessor/attributes_trace.go
  processor/attributesprocessor/factory.go
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/expr_test.go
  processor/filterprocessor/go.mod
  processor/filterprocessor/logs.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/spanprocessor/span.go
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
Labels: exporter/datadog, processor/attributes, processor/filter, receiver/sqlquery, cmd/configschema, processor/span, internal/filter

#16454 [receiver/snmp] Set component status to alpha
  .chloggen/snmp-alpha.yaml
  receiver/snmpreceiver/README.md
  receiver/snmpreceiver/factory.go
Labels: receiver/snmp

#16321 [processor/tailsampling] Honor final decision for late arriving spans
  .chloggen/tailsampling-honor-final-decision.yaml
  processor/tailsamplingprocessor/internal/sampling/policy.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#16446 Adapt ottl configuration to same BoolExpr, remove duplicate code
  .chloggen/ottelfilternext.yaml
  internal/filter/expr/matcher.go
  processor/attributesprocessor/attributes_log.go
  processor/attributesprocessor/attributes_metric.go
  processor/attributesprocessor/attributes_trace.go
  processor/filterprocessor/config.go
  processor/filterprocessor/factory.go
  processor/filterprocessor/internal/common/functions.go
  processor/filterprocessor/internal/common/matcher.go
  processor/filterprocessor/internal/common/parser.go
  processor/filterprocessor/logs.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
  processor/spanprocessor/span.go
Labels: exporter/datadog, processor/attributes, processor/filter, receiver/sqlquery, cmd/configschema, processor/span, internal/filter

#16338 [pkg/ottl] Add support for lists as Getter values
  .chloggen/ottl-list-getter.yaml
  pkg/ottl/contexts/internal/ottlcommon/map.go
  pkg/ottl/contexts/internal/ottlcommon/resource_test.go
  pkg/ottl/contexts/internal/ottlcommon/scope_test.go
  pkg/ottl/contexts/internal/ottlcommon/span_test.go
  pkg/ottl/contexts/internal/ottlcommon/value.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions_test.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: ready to merge, processor/transform, pkg/ottl

#16460 Disable running windows tests unless Run Windows lebel set
  .github/workflows/build-and-test-windows.yml
Labels: Skip Changelog

#16378 Polish up awscontainerinsightreceiver README to fix incorrect format in sample configuration
  .chloggen/polish-awscontainerinsightreceiver-readme.yaml
  receiver/awscontainerinsightreceiver/README.md
Labels: receiver/awscontainerinsight

#16472 [receiver/zipkin] fix panic on shutdown
  .chloggen/zipkin-shutdown.yaml
  receiver/zipkinreceiver/trace_receiver.go
Labels: receiver/zipkin

#16470 [receiver/prometheus] fix panic on shutdown
  .chloggen/prometheusreceiver-shutdown.yaml
  receiver/prometheusreceiver/metrics_receiver.go
Labels: receiver/prometheus

#16233 [exporter/awskinesisexporter] Adding region config
  .chloggen/msg_chore-include-region.yaml
  exporter/awskinesisexporter/config.go
  exporter/awskinesisexporter/exporter.go
  exporter/awskinesisexporter/exporter_test.go
Labels: ready to merge, exporter/awskinesis

#15355 [receiver/filelog] Promote component to beta
  .chloggen/filelog-beta.yaml
  receiver/filelogreceiver/README.md
  receiver/filelogreceiver/filelog.go
Labels: receiver/filelog

#16493 [mdatagen] [chore] Use enum values instead of string methods in tests
  cmd/mdatagen/metrics_test.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_test.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachereceiver/internal/metadata/generated_metrics_test.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_test.go
  receiver/chronyreceiver/internal/metadata/generated_metrics_test.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/iisreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/riakreceiver/internal/metadata/generated_metrics_test.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_test.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony

#16464 [mdatagen] Add support of enum field in resource attributes
  .chloggen/mdatagen-enum-resource-attrs.yaml
  cmd/mdatagen/metrics.tmpl
  cmd/mdatagen/metrics_test.tmpl
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/metadata.yaml
  receiver/flinkmetricsreceiver/process.go
  receiver/nsxtreceiver/metadata.yaml
Labels: cmd/mdatagen, receiver/nsxt, receiver/flinkmetrics

#16496 [processor/filter] Fix readme
  processor/filterprocessor/README.md
Labels: processor/filter, Skip Changelog

#16494 [mdatagen] [chore] Move template files to a separate directory
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/documentation.md.tmpl
  cmd/mdatagen/templates/metrics.go.tmpl
  cmd/mdatagen/templates/metrics_test.go.tmpl
Labels: cmd/mdatagen

#16088 [exporter/loki] fix `loki.resource.labels` not working
  .chloggen/unreleased/loki-resource-labels.yaml
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
Labels: exporter/loki, pkg/translator/loki

#14969 Pure Storage Flash Array receiver
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  receiver/purefareceiver/Makefile
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
  receiver/purefareceiver/factory_test.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
  versions.yaml
Labels: Skip Changelog

#16504 [chore] Update influxdb-observability dependency
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: exporter/influxdb, cmd/configschema, receiver/influxdb

#16427 Add Foresight Github actions to collect detailed workflow metrics and test results
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/tracegen.yml
  Makefile.Common
  testbed/runtests.sh
Labels: Skip Changelog

#16505 [exporter/instana] Remove redundant Sort call making exporter mutating
  .chloggen/remove-instana-mutations.yaml
  exporter/instanaexporter/internal/converter/model/span.go
Labels: exporter/instana

#14722 [mysqlreceiver]: rename mysql.commands metric to mysql.prepared_statements
  .chloggen/drosiek-fix-stmt-commands-metric.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/internal/metadata/deprecated_metrics_commands.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
Labels: receiver/mysql

#16215 [chore] Clean up documented parameters for stateful pkg/stanza receivers
  receiver/filelogreceiver/README.md
  receiver/journaldreceiver/README.md
  receiver/windowseventlogreceiver/README.md
Labels: Skip Changelog, receiver/journald, receiver/filelog, receiver/windowseventlog, pkg/stanza

#16461 [pkg/ottl] Add merge_maps function
  .chloggen/ottl-merge-maps.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_merge_maps.go
  pkg/ottl/ottlfuncs/func_merge_maps_test.go
Labels: pkg/ottl

#16381 [receiver/dockerstats]put featuregate into beta
  .chloggen/jmoe_dockerstats-featuregate-beta.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/factory.go
Labels: ready to merge, receiver/dockerstats

#16025 [processor/servicegraph] Fixes the number of bucket counts
  .chloggen/unreleased/fixes_the_number_of_bucket_counts.yaml
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#14700 [exporter/instanaexporter] Endpoint URL option requires HTTPS protocol
  .chloggen/instana-exporter-https-option.yaml
  exporter/instanaexporter/README.md
  exporter/instanaexporter/config.go
  exporter/instanaexporter/config_test.go
  exporter/instanaexporter/factory_test.go
  exporter/instanaexporter/testdata/config.yml
Labels: exporter/instana

#16386 Add Logicmonitor exporter overall structure
  .chloggen/logicmonitorexporter-overall-skeleton.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  exporter/logicmonitorexporter/Makefile
  exporter/logicmonitorexporter/README.md
  exporter/logicmonitorexporter/config.go
  exporter/logicmonitorexporter/config_test.go
  exporter/logicmonitorexporter/factory.go
  exporter/logicmonitorexporter/factory_test.go
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/go.sum
  exporter/logicmonitorexporter/testdata/config.yaml
  versions.yaml
Labels: ready to merge

#16506 [exporter/dynatrace] Do not mutate the original metrics
  .chloggen/dynatrace-no-sort.yaml
  exporter/dynatraceexporter/internal/serialization/sum.go
  exporter/dynatraceexporter/internal/serialization/sum_test.go
Labels: exporter/dynatrace

#16515 [chore] Add in Reference URL for docker featuregate
  receiver/dockerstatsreceiver/factory.go
Labels: receiver/dockerstats

#14920 [processor/probabilisticsampler] Log sampling
  .chloggen/log-sampling.yaml
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/config.go
  processor/probabilisticsamplerprocessor/config_test.go
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/factory_test.go
  processor/probabilisticsamplerprocessor/go.mod
  processor/probabilisticsamplerprocessor/go.sum
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/metrics.go
  processor/probabilisticsamplerprocessor/murmur3.go
  processor/probabilisticsamplerprocessor/murmur3_test.go
  processor/probabilisticsamplerprocessor/testdata/config.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid.yaml
  processor/probabilisticsamplerprocessor/tracesprocessor.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
Labels: processor/probabilisticsampler

#16483 [receiver/apache]: change feature gates for server name and port resource attributes to beta
  .chloggen/apache-server-port-feature-gates-beta.yaml
  receiver/apachereceiver/README.md
  receiver/apachereceiver/integration_test.go
  receiver/apachereceiver/scraper.go
  receiver/apachereceiver/scraper_test.go
Labels: receiver/apache

#16523 [chore] [exporter/googlecloud] bump GCP exporters to 1.10.2 and 0.34.2
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog, exporter/googlecloud, cmd/configschema

#16520 [processor/cumulativetodelta] Remove Min and Max when histogram is converted
  .chloggen/ctd-clear-min-max.yaml
  processor/cumulativetodeltaprocessor/processor.go
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: processor/cumulativetodelta

#16503 [pkg/ottl] Update IsMatch to convert bool int and float to strings
  .chloggen/ottl-improve-ismatch.yaml
  pkg/ottl/go.mod
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_is_match.go
  pkg/ottl/ottlfuncs/func_is_match_test.go
Labels: ready to merge, pkg/ottl
