Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-05, with the labels that each got.

#9524 feat(internal/stanza): add remove operator
  CHANGELOG.md
  internal/stanza/register.go
Labels: ready-to-merge

#9596 [tracegen] Update installation instructions
  tracegen/README.md
Labels: Skip Changelog

#9600 [receiver/sqlserver] Add codeowners
  .github/CODEOWNERS
Labels: Skip Changelog

#9689 Remove usages of deprecated pdata module that were added recently
  processor/schemaprocessor/transformer.go
  processor/schemaprocessor/transformer_test.go
  receiver/saphanareceiver/client_test.go
  receiver/saphanareceiver/queries.go
  receiver/saphanareceiver/scraper.go
Labels: Skip Changelog

#9694 [tools] Bump dependency to regenerate cache
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog

#9559 Do not report fatal error if err is server closed
  CHANGELOG.md
  receiver/opencensusreceiver/opencensus.go
Labels: ready-to-merge

#9517 [receiver/kubeletstats] refactor receiver to explicitly detail metrics emited.
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/kubelet/cpu.go
  receiver/kubeletstatsreceiver/internal/kubelet/fs.go
  receiver/kubeletstatsreceiver/internal/kubelet/mem.go
  receiver/kubeletstatsreceiver/internal/kubelet/network.go
  receiver/kubeletstatsreceiver/internal/kubelet/utils.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/metadata.yaml
Labels: ready-to-merge, Skip Changelog

#9589 [exporter/datadog] Replace HistogramMode defined as string with enum
  CHANGELOG.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: ready-to-merge

#9724 Run make gotidy
  processor/transformprocessor/go.sum
Labels: Skip Changelog

#9723 Remove usages of deprecated Map.Delete method
  internal/coreinternal/attraction/attraction.go
  pkg/translator/jaeger/jaegerproto_to_traces.go
  processor/groupbyattrsprocessor/processor.go
Labels: Skip Changelog

#9722 Update a comment in update-dep script
  internal/buildscripts/update-dep
Labels: Skip Changelog

#9525 [processor/k8sattributesprocessor] support regex capture groups in tag_name
  CHANGELOG.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
Labels: ready-to-merge

#9732 [chore] use Remove instead of Delete
  pkg/translator/jaeger/jaegerthrift_to_traces.go
  receiver/kafkametricsreceiver/consumer_scraper.go
Labels: Skip Changelog

#9731 [testbed/Carbon] Skip flaky test
  testbed/tests/metric_test.go
Labels: Skip Changelog

#9725 Refactor signalfx translation tests to use explicit expectations
  pkg/translator/signalfx/from_metrics.go
  pkg/translator/signalfx/from_metrics_test.go
Labels: Skip Changelog

#9684 [cmd/otelcontribcol] Parameterize list of components
  .github/workflows/load-tests.yml
  Makefile
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/main.go
  cmd/otelcontribcol/main_testbed.go
  go.mod
  go.sum
  internal/otelcontribcore/main.go
  internal/otelcontribcore/main_others.go
  internal/otelcontribcore/main_windows.go
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/test_bed.go
Labels: Skip Changelog

#9713 Add workflow for make gotidy CI check
  .github/workflows/gotidy.yml
Labels: Skip Changelog

#9739 Add explicit test for prometheus histogram buckets conversion
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
Labels: Skip Changelog

#9742 Avoid using master when refer to the latest/main branch
  .github/workflows/tracegen.yml
Labels: Skip Changelog

#9741 Fix make gotidy checker
  cmd/configschema/go.sum
Labels: Skip Changelog

#9418 fix baggage not work in trace demo app.
  CHANGELOG.md
  examples/demo/client/main.go
  examples/demo/server/main.go
Labels: ready-to-merge

#9679 Bump dependencies to add GCP cloud logging exporter
  CHANGELOG.md
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/README.md
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudexporter/testdata/config.yaml
  go.mod
  go.sum
Labels: enhancement, ready-to-merge, comp:google

#9678 [receiver/<scrapers>] Add several scrapers to components.go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/components/components.go
  internal/components/receivers_test.go
Labels: ready-to-merge, Skip Changelog

#9752 [docs] replace circleci badge
  README.md
Labels: Skip Changelog

#9755 [receiver/memcached] Remove unused variable
  receiver/memcachedreceiver/scraper.go
Labels: Skip Changelog

#9753 [receiver/hostmetrics] Remove redundant usages of metadata.Attribute
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
Labels: Skip Changelog

#9756 Move dashpole to the bottom of the sponsor list
  CONTRIBUTING.md
Labels: ready-to-merge, Skip Changelog

#9098 [exporter/tanzuobservability] Make metrics stanza optional in config.
  CHANGELOG.md
  exporter/tanzuobservabilityexporter/README.md
  exporter/tanzuobservabilityexporter/config.go
  exporter/tanzuobservabilityexporter/config_test.go
  exporter/tanzuobservabilityexporter/exporter.go
  exporter/tanzuobservabilityexporter/factory.go
  exporter/tanzuobservabilityexporter/factory_test.go
  exporter/tanzuobservabilityexporter/metrics_exporter.go
  exporter/tanzuobservabilityexporter/metrics_exporter_test.go
Labels: ready-to-merge

#9765 [CI] Move gotidy workflow to checks job
  .github/workflows/build-and-test.yml
  .github/workflows/gotidy.yml
Labels: Skip Changelog

#9759 [receiver/mongodb] Use metrics builder for resource metrics
  CHANGELOG.md
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/internal/metadata/emitters.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
Labels: ready-to-merge

#9420 [processor/attributes] Support attributes set by server authenticators
  CHANGELOG.md
  internal/coreinternal/attraction/attraction.go
  internal/coreinternal/attraction/attraction_test.go
  processor/attributesprocessor/README.md
  processor/attributesprocessor/testdata/config.yaml
Labels: ready-to-merge

#9754 Update Kubernetes examples to fix native OTel logs collection issue where 0 length logs cause errors
  CHANGELOG.md
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
Labels: ready-to-merge

#9770 Make `internal/version` internal to `internal/otelcontribcore`
  Makefile
  internal/otelcontribcore/internal/version/version.go
  internal/otelcontribcore/internal/version/version_test.go
  internal/otelcontribcore/main.go
Labels: Skip Changelog

#8350 [exporter/datadog] Add support for delta exponential histograms
  CHANGELOG.md
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/model/translator/exponential_histograms_translator.go
  exporter/datadogexporter/internal/model/translator/exponential_histograms_translator_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_benchmark_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_test.go
  go.mod
  go.sum
Labels: ready-to-merge

#9769 fix errcheck failed issue for the files of e2e-test, demos and tools.
  examples/demo/server/main.go
  testbed/datareceivers/mockawsxraydatareceiver.go
  testbed/mockdatareceivers/mockawsxrayreceiver/trace_receiver.go
  tracegen/internal/tracegen/worker.go
  tracegen/main.go
Labels: Skip Changelog

#9767 Remove PData prefix/suffix from prometheus internal struct names
  receiver/prometheusreceiver/internal/metricsutil_test.go
  receiver/prometheusreceiver/internal/ocastore.go
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/otlp_transaction.go
  receiver/prometheusreceiver/internal/otlp_transaction_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: ready-to-merge, Skip Changelog

#9777 Cleanup unused code in prometheus internal, avoid unnecessary allocations
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/internal_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/otlp_transaction.go
  receiver/prometheusreceiver/internal/otlp_transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
Labels: Skip Changelog

#9779 signalfxexporter: remove usage of sync/atomic
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/internal/dimensions/dimclient.go
  exporter/signalfxexporter/internal/dimensions/dimclient_test.go
  exporter/signalfxexporter/internal/dimensions/metadata.go
  exporter/signalfxexporter/internal/dimensions/requests.go
Labels: Skip Changelog

#9799 [tools] Bump dependency to regenerate cache
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog

#9797 [exporter/datadog] Fix canceling on `createTracesExporter`
  exporter/datadogexporter/factory.go
Labels: ready-to-merge, Skip Changelog, release:blocker

#9781 tailsamplingprocessor: remove usage of sync/atomic
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/internal/sampling/composite.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/policy.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting_test.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: Skip Changelog

#9774 [build] fix issue generator github action
  .github/workflows/build-and-test-windows.yml
  .github/workflows/load-tests.yml
Labels: Skip Changelog

#9780 tracegen: remove usage of sync/atomic
  tracegen/go.mod
  tracegen/internal/tracegen/config.go
  tracegen/internal/tracegen/worker.go
Labels: Skip Changelog

#9782 [lint] Fix / ignore some lint issues resulting from deprecations in 1.18
  cmd/mdatagen/lint.go
  cmd/mdatagen/loader.go
  receiver/awsxrayreceiver/internal/udppoller/poller.go
  receiver/carbonreceiver/transport/tcp_server.go
  receiver/carbonreceiver/transport/udp_server.go
  receiver/statsdreceiver/transport/udp_server.go
Labels: Skip Changelog

#9802 internal/stanza: Avoid writing test/mock consumers when not necessary
  internal/stanza/integration_test.go
  internal/stanza/mocks_test.go
  internal/stanza/receiver_test.go
  internal/stanza/storage_test.go
Labels: Skip Changelog

#9804 routingprocessor: avoid duplicate code with consumertest
  processor/routingprocessor/processor_test.go
Labels: Skip Changelog

#9775 [Makefile] Fix issues with common targets
  Makefile
  Makefile.Common
Labels: Skip Changelog

#9811 Change all usages of sync/atomic to uber/atomic in test files
  exporter/carbonexporter/exporter_test.go
  exporter/carbonexporter/go.mod
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/skywalkingexporter/go.mod
  exporter/skywalkingexporter/skywalking_benchmark_test.go
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/sender_test.go
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/groupbytraceprocessor/event_test.go
  processor/groupbytraceprocessor/go.mod
  processor/tailsamplingprocessor/internal/idbatcher/id_batcher_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: Skip Changelog

#9841 prometheusremotewriteexporter: use uber/atomic instead of sync/atomic
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/wal.go
Labels: Skip Changelog

#8401 [prometheusremotewriteexporter] Correctly run all prw unit tests, and skip intentional WAL failure.
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: bug, Stale, comp:prometheus, Skip Changelog

#9884 dependencies labeled PR should skip changelog
  .github/workflows/changelog.yml
Labels: Skip Changelog

#9814 tanzuobservabilityexporter: use uber/atomic instead of sync/atomic
  exporter/tanzuobservabilityexporter/go.mod
  exporter/tanzuobservabilityexporter/metrics.go
Labels: Skip Changelog

#9812 Enable depguard check to avoid using sync/atomic
  .golangci.yml
Labels: Skip Changelog

#9918 Fix github action cache schema
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
Labels: Skip Changelog

#9941 [exporter/awsemf] Remove usage of deprecated Map.Delete
  exporter/awsemfexporter/metric_translator_test.go
Labels: Skip Changelog

#9745 [receiver/kubeletstats] Refactor setting of volume labels
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/resource.go
Labels: Skip Changelog

#9947 Bump github.com/aws/aws-sdk-go from 1.44.10 to 1.44.11
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/awsprometheusremotewriteexporter/go.mod
  exporter/awsprometheusremotewriteexporter/go.sum
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  extension/awsproxy/go.mod
  extension/awsproxy/go.sum
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  go.mod
  go.sum
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/cwlogs/go.mod
  internal/aws/cwlogs/go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/proxy/go.mod
  internal/aws/proxy/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies

#9948 Fix more cache keys, and output checks. Merge tools and mod in all workflows
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/stability-tests.yml
Labels: Skip Changelog

#9719 [processor/transform] Add metrics data model
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/metrics/metrics_test.go
Labels: Skip Changelog

#9946 [tooling/impi] Evaluate packages of current module only
  Makefile.Common
Labels: Skip Changelog

#9809 [processor/cumulativetodelta] Updated wording in readme
  processor/cumulativetodeltaprocessor/README.md
Labels: Skip Changelog

#9944 Update github.com/GoogleCloudPlatform/opentelemetry-operations-go/exporter/collector to v0.30.1
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/config_test.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#9971 Remove usage of deprecated pdata package
  internal/stanza/frompdataconverter.go
  internal/stanza/frompdataconverter_test.go
  internal/stanza/go.mod
  internal/stanza/go.sum
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  processor/logstransformprocessor/processor.go
  processor/logstransformprocessor/processor_test.go
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
Labels: Skip Changelog

#9980 [receiver/filelogreceiver] Fix testdata parse_from and test
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/testdata/config.yaml
Labels: Skip Changelog

#9974 [Metrics builder] Remove Attributes struct
  cmd/mdatagen/main.go
  cmd/mdatagen/metrics_v2.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchbasereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_v2.go
  receiver/iisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_v2.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_v2.go
  receiver/redisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/riakreceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_v2.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#9973 pkg/stanza: Use componenttest.NewNopTelemetrySettings() instead of manually creating a no-op
  internal/stanza/go.mod
  internal/stanza/storage_test.go
Labels: Skip Changelog

#9987 Bump dependancies to remove indirect dependency on collector/model
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: Skip Changelog

#9988 Fix changelog entry for version 0.51.0
  CHANGELOG.md
Labels: ready-to-merge

#9992 [Metrics builder] Add ability to override start time per resource
  cmd/mdatagen/metrics_v2.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchbasereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
  receiver/iisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_v2.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_v2.go
  receiver/redisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/riakreceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/scraper.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/scraper.go
Labels: Skip Changelog

#9995 [receiver/filelog] nit: reduce logger.Print call
  receiver/filelogreceiver/filelog_test.go
Labels: Skip Changelog

#9999 Fix sigv4authextension CODEOWNERS line
  .github/CODEOWNERS
Labels: Skip Changelog

#9991 [exporter/loki] Remove function copied from core, use new API instead
  exporter/lokiexporter/encode_json.go
Labels: Skip Changelog

#10005 [receiver/nsxt] Update pdata usage to core v0.51.0
  receiver/nsxtreceiver/go.mod
  receiver/nsxtreceiver/go.sum
  receiver/nsxtreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nsxtreceiver/scraper.go
  receiver/nsxtreceiver/scraper_test.go
Labels: Skip Changelog

#10003 [processor/transform] Add TylerHelmuth as a codeowner.
  .github/CODEOWNERS
Labels: Skip Changelog

#10009 [pkg/stanza] Remove internal tooling
  pkg/stanza/.gitignore
  pkg/stanza/.golangci.yml
  pkg/stanza/LICENSE
  pkg/stanza/Makefile
  pkg/stanza/internal/tools/.vscode/settings.json
  pkg/stanza/internal/tools/empty_test.go
  pkg/stanza/internal/tools/go.mod
  pkg/stanza/internal/tools/go.sum
  pkg/stanza/internal/tools/tools.go
Labels: Skip Changelog

#9993 Update dependancies
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/honeycombexporter/go.mod
  exporter/honeycombexporter/go.sum
  extension/storage/go.mod
  extension/storage/go.sum
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  tracegen/go.mod
  tracegen/go.sum
Labels: ready-to-merge, Skip Changelog

#10014 [Metrics builder] Remove duplicated template code in record func
  cmd/mdatagen/metrics_v2.tmpl
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#9744 [receiver/kubeletstats] Migrate kubeletstatsreceiver to the new Metrics Builder
  CHANGELOG.md
  receiver/kubeletstatsreceiver/config.go
  receiver/kubeletstatsreceiver/config_test.go
  receiver/kubeletstatsreceiver/doc.go
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/factory.go
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/conventions.go
  receiver/kubeletstatsreceiver/internal/kubelet/cpu.go
  receiver/kubeletstatsreceiver/internal/kubelet/fs.go
  receiver/kubeletstatsreceiver/internal/kubelet/mem.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/metrics.go
  receiver/kubeletstatsreceiver/internal/kubelet/metrics_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/network.go
  receiver/kubeletstatsreceiver/internal/kubelet/resource.go
  receiver/kubeletstatsreceiver/internal/kubelet/utils.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/scraper.go
  receiver/kubeletstatsreceiver/scraper_test.go
Labels: ready-to-merge

#10019 [Metrics builder] Remove support of histogram metrics
  cmd/mdatagen/documentation.tmpl
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metric-metadata.yaml
  cmd/mdatagen/metricdata.go
  cmd/mdatagen/metricdata_test.go
  cmd/mdatagen/metrics_v2.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchbasereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_v2.go
  receiver/iisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_v2.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_v2.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_v2.go
  receiver/redisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/riakreceiver/internal/metadata/generated_metrics_v2.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_v2.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
Labels: Skip Changelog

#10017 [Changelog] Move unreleased entries up
  CHANGELOG.md
Labels: Skip Changelog

#10024 fix errcheck failed issues for carbon exporter
  exporter/carbonexporter/exporter_test.go
Labels: Skip Changelog

#10010 Simplify for all target
  Makefile
  Makefile.Common
Labels: Skip Changelog

#10031 [hostmetricsreceiver] Skip flaky test
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_test.go
Labels: Skip Changelog

#10107 Bump github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#9889 Bump golang.org/x/crypto dep to fix CVE-2022-27191
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/mdatagen/go.mod
  cmd/mdatagen/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  extension/basicauthextension/go.mod
  extension/basicauthextension/go.sum
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/go.sum
  extension/storage/go.mod
  extension/storage/go.sum
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/podmanreceiver/go.mod
  receiver/podmanreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/saphanareceiver/go.mod
  receiver/saphanareceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: ready-to-merge, Skip Changelog

#10026 fix errcheck failed issues for coralogix exporter
  exporter/coralogixexporter/config_test.go
Labels: Skip Changelog

#9743 [exporter/mezmoexporter] Add the Mezmo Log exporter
  .github/CODEOWNERS
  CHANGELOG.md
  cmd/configschema/go.mod
  exporter/mezmoexporter/Makefile
  exporter/mezmoexporter/README.md
  exporter/mezmoexporter/config.go
  exporter/mezmoexporter/config_test.go
  exporter/mezmoexporter/doc.go
  exporter/mezmoexporter/example/otel-collector-config.yaml
  exporter/mezmoexporter/exporter.go
  exporter/mezmoexporter/exporter_test.go
  exporter/mezmoexporter/factory.go
  exporter/mezmoexporter/factory_test.go
  exporter/mezmoexporter/go.mod
  exporter/mezmoexporter/go.sum
  exporter/mezmoexporter/testdata/config.yaml
  exporter/mezmoexporter/utils.go
  exporter/mezmoexporter/utils_test.go
  go.mod
  internal/components/components.go
  internal/components/exporters_test.go
  versions.yaml
Labels: ready-to-merge

#10006 [docs] proposing header template for components
  processor/tailsamplingprocessor/README.md
Labels: Skip Changelog

#10004 [processor/cumulativetodelta] Update stability level to beta
  processor/cumulativetodeltaprocessor/README.md
Labels: Skip Changelog

#10016 [processor/cumulativetodelta] Fix flaky Test_metricTracker_sweeper test
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
Labels: Skip Changelog

#10002 [processor/transform] Added stability level
  processor/transformprocessor/README.md
Labels: ready-to-merge, Skip Changelog

#10120 [docs] move stability definitions to core
  README.md
  processor/cumulativetodeltaprocessor/README.md
  processor/tailsamplingprocessor/README.md
  processor/transformprocessor/README.md
Labels: Skip Changelog

#10117 testbed: Remove unnecessary re-implementation of host
  testbed/datareceivers/carbon.go
  testbed/datareceivers/jaeger.go
  testbed/datareceivers/mockawsxraydatareceiver.go
  testbed/datareceivers/opencensus.go
  testbed/datareceivers/prometheus.go
  testbed/datareceivers/sapm.go
  testbed/datareceivers/signalfx.go
  testbed/datareceivers/splunk.go
  testbed/datareceivers/zipkin.go
  testbed/datasenders/jaeger.go
  testbed/datasenders/opencensus.go
  testbed/datasenders/prometheus.go
  testbed/datasenders/zipkin.go
  testbed/testbed/receivers.go
  testbed/testbed/senders.go
Labels: Skip Changelog

#10131 Upgrade github.com/influxdata/influxdb-observability dependancy
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: Skip Changelog

#10136 Upgrade github.com/influxdata/influxdb-observability/influx2otel
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: Skip Changelog

#10140 Remove debug prints in tests
  exporter/awsxrayexporter/internal/translator/segment_test.go
  receiver/awsxrayreceiver/receiver_test.go
Labels: Skip Changelog

#10015 [processor/resourcedetection]: add "cname" and "lookup" hostname sources
  CHANGELOG.md
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/system/metadata.go
  processor/resourcedetectionprocessor/internal/system/metadata_test.go
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: ready-to-merge

#10027 Run unit tests on Windows and fix them
  .github/workflows/build-and-test-windows.yml
  cmd/configschema/docsgen/docsgen/cli.go
  cmd/configschema/docsgen/docsgen/cli_test.go
  cmd/configschema/resolver.go
  cmd/configschema/resolver_test.go
  cmd/mdatagen/main.go
  exporter/carbonexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  extension/storage/filestorage/client.go
  extension/storage/filestorage/config_test.go
  internal/scrapertest/golden/golden_test.go
  pkg/winperfcounters/Makefile
  pkg/winperfcounters/watcher_test.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/cgroup_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/iisreceiver/Makefile
  receiver/podmanreceiver/factory_test.go
  receiver/podmanreceiver/podman_client_test.go
  receiver/podmanreceiver/receiver_windows_test.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/sqlserverreceiver/Makefile
  receiver/sqlserverreceiver/scraper_test.go
  receiver/statsdreceiver/receiver_test.go
  receiver/windowsperfcountersreceiver/Makefile
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: Skip Changelog

#10020 [Makefile/CI] Parallelize lint and unit test
  .github/workflows/build-and-test.yml
  Makefile
Labels: Skip Changelog

#9591 docs: fix spanmetricsprocessor to prometheus example
  processor/spanmetricsprocessor/README.md
Labels: Skip Changelog

#10164 [chore] fix broken test
  receiver/sqlserverreceiver/scraper_test.go
Labels: Skip Changelog

#10172 [receiver/zookeeper] Skip TestZookeeperMetricsScraperScrape on Windows
  receiver/zookeeperreceiver/scraper_test.go
Labels: Skip Changelog

#10174 [CI/Makefile] Parallelize windows unit tests
  .github/workflows/build-and-test-windows.yml
Labels: Skip Changelog

#10167 [pkg/stanza]: Windows unsafe Pointers
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/bookmark.go
  pkg/stanza/operator/input/windows/event.go
Labels: Skip Changelog

#10184 [CI] Skip flaky windows-msi check
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#10189 [receiver/zookeeper] Skip whole test TestZookeeperMetricsScraperScrape on Windows
  receiver/zookeeperreceiver/scraper_test.go
Labels: Skip Changelog

#10170 [scrapetest] Add more details to length mismatch error in CompareMetrics
  internal/scrapertest/compare.go
  internal/scrapertest/compare_test.go
Labels: Skip Changelog

#10022 [receiver/windowsperfcounter] Move configs from pkg/winperfcounters
  pkg/winperfcounters/config.go
  pkg/winperfcounters/config_windows.go
  pkg/winperfcounters/go.mod
  pkg/winperfcounters/go.sum
  pkg/winperfcounters/watcher.go
  pkg/winperfcounters/watcher_test.go
  receiver/activedirectorydsreceiver/counters.go
  receiver/activedirectorydsreceiver/scraper_test.go
  receiver/iisreceiver/scraper_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/windowsperfcountersreceiver/config.go
  receiver/windowsperfcountersreceiver/config_test.go
  receiver/windowsperfcountersreceiver/factory_others_test.go
  receiver/windowsperfcountersreceiver/factory_test.go
  receiver/windowsperfcountersreceiver/factory_windows_test.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: Skip Changelog

#10157 [docs] add a header template for es exporter and receiver.
  exporter/elasticsearchexporter/README.md
  receiver/elasticsearchreceiver/README.md
Labels: Skip Changelog

#10196 Replace usage of deprecated core API
  cmd/mdatagen/loader.go
  processor/groupbyattrsprocessor/processor_test.go
Labels: Skip Changelog

#10193 [receiver/windowsperfcounters] Remove "Recommended configuration" section from readme
  receiver/windowsperfcountersreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#10181 [extension/ecsobserver] Skip flaky TestExtensionStartStop on Windows
  extension/observer/ecsobserver/extension_test.go
Labels: ready-to-merge, Skip Changelog

#10204 [pkg/stanza] docs: improve timestamp docs
  pkg/stanza/docs/types/timestamp.md
Labels: Skip Changelog

#10198 [receiver/windowsperfcounter] Do not set empty Instance attribute
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: Skip Changelog

#10013 [pkg/stanza] Reenable all checks except some linters
  .github/workflows/scripts/check-collector-module-version.sh
  Makefile
  pkg/stanza/.golangci.yml
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/config.go
  pkg/stanza/operator/operator.go
  pkg/stanza/pipeline/pipeline.go
  pkg/stanza/testutil/mocks.go
  pkg/stanza/testutil/operator_builder.go
  pkg/stanza/testutil/pipeline.go
  versions.yaml
Labels: Skip Changelog

#10254 [internal/tools] Bump dependency to regenerate tools cache
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog

#10179 [exporter/elasticsearch] Skip flaky TestExporter_PushEvent test on Windows
  exporter/elasticsearchexporter/exporter_test.go
Labels: Skip Changelog

#10185 [CI] Link checker GitHub workflow
  .github/workflows/check-links.yaml
  .github/workflows/check_links_config.json
Labels: Skip Changelog

#10177 [docs] add header for mysql receiver.
  receiver/mysqlreceiver/README.md
Labels: Skip Changelog

#10119 [docs] add status for probabilitistic sampling processor
  processor/probabilisticsamplerprocessor/README.md
Labels: Skip Changelog

#10270 [chore] fix changelog entry
  CHANGELOG.md
Labels: Skip Changelog

#10207 [docs] correct X-Ray Exporter trace ID handling
  exporter/awsxrayexporter/README.md
Labels: Skip Changelog

#10263 Remove unnecessary step to setup go environment
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/stability-tests.yml
Labels: Skip Changelog

#10272 Propose @TylerHelmuth as approver
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
Labels: Skip Changelog

#9764 Add examples/nomad folder
  examples/nomad/README.md
  examples/nomad/otel-collector.nomad
  examples/nomad/traefik.nomad
Labels: Skip Changelog

#10293 [processor/resourcedetection] Skip flaky TestDetectResource_Parallel
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
Labels: Skip Changelog

#10168 [chore] remove references to InstrumentationLibrary
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/azuremonitorexporter/traceexporter.go
  exporter/azuremonitorexporter/traceexporter_test.go
  exporter/azuremonitorexporter/traceiteration.go
  exporter/azuremonitorexporter/traceiteration_test.go
  exporter/datadogexporter/translate_traces.go
  exporter/datadogexporter/translate_traces_test.go
  exporter/prometheusexporter/accumulator.go
  exporter/prometheusexporter/accumulator_test.go
  exporter/skywalkingexporter/logrecord_to_logdata.go
  exporter/tanzuobservabilityexporter/exporter_test.go
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice.go
  internal/coreinternal/goldendataset/traces_generator.go
  pkg/translator/jaeger/jaegerproto_to_traces.go
  pkg/translator/jaeger/traces_to_jaegerproto.go
  pkg/translator/zipkin/zipkinv2/from_translator.go
  receiver/riakreceiver/testdata/integration/expected.json
  receiver/riakreceiver/testdata/scraper/expected_disabled.json
Labels: Skip Changelog

#10271 [pkg/stanza] Enable errcheck linter and fix issues
  pkg/stanza/.golangci.yml
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/input/file/benchmark_test.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/file/finder_test.go
  pkg/stanza/operator/input/file/fingerprint_test.go
  pkg/stanza/operator/input/file/rotation_test.go
  pkg/stanza/operator/input/generate/generate_test.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/k8sevent/k8s_event_test.go
  pkg/stanza/operator/input/stdin/stdin_test.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/udp/udp_test.go
  pkg/stanza/operator/parser/csv/csv_test.go
  pkg/stanza/operator/parser/json/json_test.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
  pkg/stanza/operator/parser/regex/regex_test.go
  pkg/stanza/operator/parser/severity/severity_test.go
  pkg/stanza/operator/parser/time/time_test.go
  pkg/stanza/operator/transformer/add/add_test.go
  pkg/stanza/operator/transformer/copy/copy_test.go
  pkg/stanza/operator/transformer/flatten/flatten_test.go
  pkg/stanza/operator/transformer/move/move_test.go
  pkg/stanza/operator/transformer/noop/noop_test.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
  pkg/stanza/operator/transformer/remove/remove_test.go
  pkg/stanza/operator/transformer/retain/retain_test.go
Labels: Skip Changelog

#10339 [docs] Add status header for zipkin exporter
  exporter/zipkinexporter/README.md
Labels: Skip Changelog

#10340 [pkg/stanza] Enable misspell linter and fix issues
  pkg/stanza/.golangci.yml
  pkg/stanza/errors/error.go
Labels: Skip Changelog

#10327 [docs] Add status header for opencensus exporter
  exporter/opencensusexporter/README.md
Labels: Skip Changelog

#10153 [docs] add header template for jaeger receiver and exporter.
  exporter/jaegerexporter/README.md
  receiver/jaegerreceiver/README.md
Labels: Skip Changelog

#10343 [docs] Added status header for basicauthextension
  extension/basicauthextension/README.md
Labels: Skip Changelog

#10341 [pkg/stanza] Enable gosec linter and fix issues
  pkg/stanza/.golangci.yml
  pkg/stanza/operator/input/file/finder_test.go
  pkg/stanza/operator/parser/csv/csv_test.go
Labels: Skip Changelog

#10357 [receiver/prometheus] Skip flaky TestHonorTimeStampsWithFalse
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
Labels: Skip Changelog

#10355 [processor/tailsampling] Skip flaky TestConcurrentTraceArrival
  processor/tailsamplingprocessor/processor_test.go
Labels: Skip Changelog

#10346 [pkg/stanza] Partially enable revive linter
  internal/stanza/converter.go
  internal/stanza/converter_test.go
  internal/stanza/frompdataconverter.go
  internal/stanza/frompdataconverter_test.go
  pkg/stanza/.golangci.yml
  pkg/stanza/entry/entry.go
  pkg/stanza/entry/entry_test.go
  pkg/stanza/operator/helper/ip_resolver.go
  pkg/stanza/operator/helper/ip_resolver_test.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/trace.go
  pkg/stanza/operator/helper/trace_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/tcp/tcp_test.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/operator/input/udp/udp_test.go
  pkg/stanza/operator/parser/trace/config_test.go
  pkg/stanza/operator/parser/trace/trace_test.go
  pkg/stanza/operator/transformer/noop/noop_test.go
Labels: Skip Changelog

#10367 [processor/transform] Updated status table
  processor/transformprocessor/README.md
Labels: Skip Changelog

#10337 [docs] Add status header for tanzuobservability exporter
  exporter/tanzuobservabilityexporter/README.md
Labels: Skip Changelog

#10359 [testbed] Allow ballast memory test to remeasure after GC
  testbed/tests/e2e_test.go
Labels: Skip Changelog

#10363 [CI] add error suggestion to check-links workflow
  .github/workflows/check-links.yaml
Labels: Skip Changelog

#10372 [chore] Move new receivers into correct location in changelog
  CHANGELOG.md
Labels: Skip Changelog

#10371 [receiver/jaeger] Skip flaky tests
  receiver/jaegerreceiver/jaeger_agent_test.go
Labels: Skip Changelog

#10135 [exporter/tanzuobservability] exponential histogram adjustment.
  CHANGELOG.md
  exporter/tanzuobservabilityexporter/metrics.go
  exporter/tanzuobservabilityexporter/metrics_test.go
Labels: ready-to-merge

#10366 [pkg/stanza] Enable revive linter on input and ouput packages
  pkg/stanza/.golangci.yml
  pkg/stanza/operator/input/file/benchmark_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/file/file.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/file/fingerprint.go
  pkg/stanza/operator/input/file/reader.go
  pkg/stanza/operator/input/file/rotation_test.go
  pkg/stanza/operator/input/file/util_test.go
  pkg/stanza/operator/input/generate/generate.go
  pkg/stanza/operator/input/generate/generate_test.go
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/k8sevent/k8s_event.go
  pkg/stanza/operator/input/k8sevent/k8s_event_test.go
  pkg/stanza/operator/input/stdin/stdin.go
  pkg/stanza/operator/input/stdin/stdin_test.go
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/tcp/tcp_test.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/operator/input/udp/udp_test.go
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/input/windows/operator_test.go
  pkg/stanza/operator/output/drop/drop.go
  pkg/stanza/operator/output/drop/drop_test.go
  pkg/stanza/operator/output/file/file.go
  pkg/stanza/operator/output/stdout/stdout.go
  pkg/stanza/operator/output/stdout/stdout_test.go
  receiver/filelogreceiver/filelog.go
  receiver/journaldreceiver/journald.go
  receiver/syslogreceiver/syslog.go
  receiver/tcplogreceiver/tcp.go
  receiver/udplogreceiver/udp.go
  receiver/windowseventlogreceiver/receiver_windows.go
Labels: Skip Changelog

#10319 [docs] Add status header for humio exporter
  exporter/humioexporter/README.md
Labels: Skip Changelog

#10365 [github-actions] Handle cache miss in each job
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
  .github/workflows/stability-tests.yml
Labels: Skip Changelog

#10377 [pkg/stanza] Enable govet
  pkg/stanza/.golangci.yml
  pkg/stanza/operator/helper/operatortest/operatortest.go
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/scope_name_test.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/time_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/tcp/tcp_test.go
  pkg/stanza/operator/input/udp/udp_test.go
  pkg/stanza/operator/transformer/flatten/config_test.go
Labels: Skip Changelog

#10332 [docs] Add status header for sentry exporter
  exporter/sentryexporter/README.md
Labels: ready-to-merge, Skip Changelog

#10312 [docs] Add status header for datadog exporter
  exporter/datadogexporter/README.md
Labels: Skip Changelog
