Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-09, with the labels that each got.

#13762 [processor/k8sattributes] Fix a configuration doc line
  processor/k8sattributesprocessor/config.go
Labels: processor/k8sattributes, Skip Changelog

#13754 [pkg/stanza] Do not directly embed input operator configs
  internal/components/receivers_test.go
  receiver/filelogreceiver/filelog.go
  receiver/filelogreceiver/filelog_test.go
  receiver/journaldreceiver/journald.go
  receiver/journaldreceiver/journald_test.go
  receiver/syslogreceiver/syslog.go
  receiver/syslogreceiver/syslog_test.go
  receiver/tcplogreceiver/tcp.go
  receiver/tcplogreceiver/tcp_test.go
  receiver/udplogreceiver/udp.go
  receiver/udplogreceiver/udp_test.go
  receiver/windowseventlogreceiver/receiver_windows.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: Skip Changelog

#13810 Fix the dependabot PR script when title too long
  .github/workflows/scripts/dependabot-pr.sh
Labels: Skip Changelog

#13837 [chore] Upgrade GoogleCloudPlatform/opentelemetry-operations-go deps
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: Skip Changelog

#12987 [receiver/prometheusreceiver] Add exemplars to prometheus receiver
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  unreleased/append-exemplars-to-prometheus-receiver.yaml
Labels: ready-to-merge

#13549 [receiver/skywalking] remove receiver warning msg.
  receiver/skywalkingreceiver/README.md
Labels: Skip Changelog

#13847 Replace all Map.Insert* usages in tests
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/azuremonitorexporter/traceexporter_test.go
  exporter/instanaexporter/exporter_test.go
  exporter/instanaexporter/internal/converter/span_converter_test.go
  exporter/lokiexporter/legacy_encode_json_test.go
  exporter/prometheusexporter/accumulator_test.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/internal/correlation/correlation_test.go
  exporter/signalfxexporter/internal/hostmetadata/metadata_test.go
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2_test.go
  exporter/signalfxexporter/internal/translation/translator_test.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_delete_key_test.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_replace_all_matches_test.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_replace_all_patterns_test.go
  pkg/translator/signalfx/from_metrics_test.go
  pkg/translator/signalfx/to_metrics_test.go
  processor/attributesprocessor/attributes_log_test.go
  processor/cumulativetodeltaprocessor/internal/tracking/identity_test.go
  processor/filterprocessor/filter_processor_logs_test.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/groupbyattrsprocessor/processor_test.go
  processor/probabilisticsamplerprocessor/probabilisticsampler_test.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/elasticbeanstalk_test.go
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces_test.go
  processor/spanmetricsprocessor/processor_test.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  receiver/fluentforwardreceiver/conversion_test.go
  receiver/kafkareceiver/zipkin_unmarshaler_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/pulsarreceiver/zipkin_unmarshaler_test.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata_test.go
  receiver/solacereceiver/unmarshaller_test.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
  receiver/vcenterreceiver/integration_test.go
Labels: Skip Changelog

#13846 [pkg/telemetryquerylanguage] Optimize map updates
  pkg/telemetryquerylanguage/functions/tqlotel/func_replace_all_matches.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_replace_all_patterns.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_truncate_all.go
Labels: Skip Changelog

#13371 [exporter/dynatrace] document resource_to_telemetry_conversion option
  exporter/dynatraceexporter/README.md
Labels: ready-to-merge, Skip Changelog, exporter/dynatrace

#13320 [pkg/telemetryquerylanguage] Support Inequalities in TQL
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  pkg/telemetryquerylanguage/go.mod
  pkg/telemetryquerylanguage/go.sum
  pkg/telemetryquerylanguage/tql/README.md
  pkg/telemetryquerylanguage/tql/boolean_value.go
  pkg/telemetryquerylanguage/tql/boolean_value_test.go
  pkg/telemetryquerylanguage/tql/compare.go
  pkg/telemetryquerylanguage/tql/compare_test.go
  pkg/telemetryquerylanguage/tql/parser.go
  pkg/telemetryquerylanguage/tql/parser_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  unreleased/tql-inequalities.yaml
Labels: ready-to-merge

#13839 [pkg/stanza] Refactor adapter/converter to not use Insert and CopyTo
  pkg/stanza/adapter/converter.go
Labels: Skip Changelog

#13766 [exporter/awsemfexporter] Fix: support empty dimension set in dimensions of metric definitions in the awsemfexporter
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/metric_declaration.go
  exporter/awsemfexporter/metric_declaration_test.go
  exporter/awsemfexporter/metric_translator_test.go
  unreleased/awsemfexporter-fix-4739.yaml
Labels: Skip Changelog

#13852 Fix lint error merged into head
  pkg/telemetryquerylanguage/tql/compare_test.go
Labels: Skip Changelog

#13853 Replace pcommon.Insert* usages with pcommon.Upsert*
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2.go
  exporter/sumologicexporter/filter.go
  pkg/translator/jaeger/jaegerproto_to_traces.go
  processor/groupbyattrsprocessor/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
Labels: Skip Changelog

#13851 [exporter/instana] Simplify pushConvertedTraces tests
  exporter/instanaexporter/exporter_test.go
  exporter/instanaexporter/internal/testutils/test_utils.go
Labels: Skip Changelog

#13857 Bump kentaro-m/auto-assign-action Github action
  .github/workflows/auto-assign-owners.yml
Labels: dependencies

#13850 replace usages of Update+ with Upsert, all in tests or test utils
  internal/coreinternal/goldendataset/span_generator.go
  internal/scrapertest/mask.go
  pkg/translator/opencensus/traces_to_oc_test.go
  pkg/translator/signalfx/to_metrics_test.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
Labels: Skip Changelog

#13370 [exporter/dynatrace] improve temporality documentation
  exporter/dynatraceexporter/README.md
Labels: Skip Changelog

#13858 [solacereceiver]: Change usage of Insert to Upsert, avoid pointer to pdata
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/receiver_test.go
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: Skip Changelog

#13861 [googlecloudspannerreceiver]: Change usage of Insert to Upsert, always insert in new map
  receiver/googlecloudspannerreceiver/internal/metadata/labelvalue.go
  receiver/googlecloudspannerreceiver/internal/metadata/metricsdatapoint.go
Labels: Skip Changelog

#13860 [translator/zipkin]: Change usage of Insert to Upsert, always insert in new map
  pkg/translator/zipkin/zipkinv2/to_translator.go
Labels: Skip Changelog

#12626 Add CODEOWNERS for `pkg/translator/prometheusremotewrite`
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#13412 [project] Fix linting picking up local dir
  .golangci.yml
  Makefile.Common
Labels: Stale, Skip Changelog

#13902 [receiver/postgresql] Fix README.md typo
  receiver/postgresqlreceiver/README.md
Labels: Skip Changelog

#13903 Replace usage of InsertString with UpsertString in tests
  exporter/alibabacloudlogserviceexporter/metricsdata_to_logservice_test.go
  processor/servicegraphprocessor/processor_test.go
  processor/transformprocessor/internal/logs/processor_test.go
Labels: Skip Changelog

#13904 Use tag.Upsert to always replace the tag values in metrics
  exporter/googlecloudexporter/legacyobservability.go
  processor/tailsamplingprocessor/processor.go
  receiver/kafkareceiver/kafka_receiver.go
Labels: Skip Changelog

#13859 [translator/opencensus]: Change usage of Insert to Upsert, always insert in new map
  pkg/translator/opencensus/oc_to_resource.go
Labels: Skip Changelog

#13906 [splunkhecreceiver]: Remove usage of insert, avoid unnecessary copies
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: Skip Changelog

#13908 [resourcedetectionprocessor]: Remove usage of insert in ecs, avoid unnecessary copies
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
Labels: Skip Changelog

#13911 [resourcedetectionprocessor]: Remove usage of insert in env detector
  processor/resourcedetectionprocessor/internal/env/env.go
Labels: Skip Changelog

#13533 [chore] Fixed the "Getting In touch" URL
  README.md
Labels: Skip Changelog

#13913 [fluentforwardreceiver]: Remove usage of insert, avoid unnecessary copies
  receiver/fluentforwardreceiver/conversion.go
Labels: Skip Changelog

#13914 [receiver/skywalking] Use Upsert instead of Insert on empty maps
  receiver/skywalkingreceiver/skywalkingproto_to_traces.go
Labels: Skip Changelog

#13915 [receiver/prometheus] Use Upsert* instead of Insert* on empty maps
  receiver/prometheusreceiver/internal/metricfamily.go
Labels: Skip Changelog

#13916 [processor/redaction] Remove code duplication in adding meta attributes
  processor/redactionprocessor/processor.go
Labels: Skip Changelog

#13920 [receiver/splunkhec] Use Upsert* instead of Insert on empty map
  receiver/splunkhecreceiver/receiver.go
Labels: Skip Changelog

#13918 [receiver/signalfx] Replace usages of Insert to Upsert on empty maps
  receiver/signalfxreceiver/receiver.go
Labels: Skip Changelog

#12997 [tqlotel] Add priority keys parameter to the limit function.
  pkg/telemetryquerylanguage/functions/tqlotel/README.md
  pkg/telemetryquerylanguage/functions/tqlotel/func_limit.go
  pkg/telemetryquerylanguage/functions/tqlotel/func_limit_test.go
  processor/transformprocessor/README.md
  unreleased/tql-limit-func-priority-keys.yaml
Labels: ready-to-merge

#13923 [exporter/sumologic] Make the exporter to not mutate logs data
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/filter.go
  exporter/sumologicexporter/filter_test.go
Labels: Skip Changelog, exporter/sumologic

#13261 [exporter/coralogixexporter] Update Readme
  exporter/coralogixexporter/README.md
Labels: ready-to-merge, Skip Changelog

#9120 [prometheus components] For histograms without sums, leave the sum unset
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/testutil_test.go
  pkg/translator/prometheusremotewrite/helper.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
  unreleased/prom-unset-sum.yaml
Labels: ready-to-merge, comp:prometheus, exporter/prometheusremotewrite, receiver/prometheus

#13934 Rotate component sponsor
  CONTRIBUTING.md
Labels: ready-to-merge, Skip Changelog

#13977 [chore] prometheusreceiver: refactor tests to allow to remove metricsbuilder
  receiver/prometheusreceiver/internal/metricsbuilder.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: ready-to-merge, receiver/prometheus

#13634 [processor/k8sattributesprocessor] handle new pods
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  unreleased/fix-pod-replacement.yaml
Labels: ready-to-merge

#14000 prometheuesreceiver: revert exemplars support added in #12987
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  unreleased/append-exemplars-to-prometheus-receiver.yaml
Labels: Skip Changelog

#13999 [chore] prometheusreceiver: simplify timestamp conversions
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/internal/util_test.go
Labels: receiver/prometheus

#14011 Fixed build of otelcontribcol due to unused import
  receiver/prometheusreceiver/internal/transaction.go
Labels: Skip Changelog

#14018 [pkg/stanza] Fix documentation of default 'parse_to' values
  pkg/stanza/docs/operators/csv_parser.md
  pkg/stanza/docs/operators/json_parser.md
  pkg/stanza/docs/operators/key_value_parser.md
  pkg/stanza/docs/operators/syslog_parser.md
  pkg/stanza/docs/operators/uri_parser.md
Labels: Skip Changelog

#13414 [internal/metadataproviders/azure]enable errceck
  internal/metadataproviders/azure/metadata_test.go
Labels: ready-to-merge, Skip Changelog

#14017 Extract metrics adjusting logic as separate interface, simplifies transaction
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/internal/util.go
Labels: Skip Changelog

#14036 [chore] prometheusreceiver: remove unnecessary interfaces
  receiver/prometheusreceiver/internal/metadata.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/transaction.go
Labels: Skip Changelog, receiver/prometheus

#14034 [CI] Apply stopgap for actions/cache bug across entire workflow
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#14037 [chore] prometheusreceiver: simplify Append logic
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: Skip Changelog, receiver/prometheus

#13644 Reduce number of allocation while recording metrics with opencensus
  exporter/jaegerexporter/exporter.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/metrics.go
  exporter/loadbalancingexporter/resolver_dns.go
  exporter/loadbalancingexporter/resolver_static.go
  exporter/loadbalancingexporter/trace_exporter.go
  processor/groupbytraceprocessor/event.go
Labels: Stale, Skip Changelog

#14035 Avoid using unnecessary pointers to pdata. Types are reference types already
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsemfexporter/util.go
  exporter/awsemfexporter/util_test.go
  exporter/instanaexporter/internal/converter/span_converter_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/tracedata_to_splunk_test.go
  pkg/resourcetotelemetry/resource_to_telemetry.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
  pkg/translator/zipkin/zipkinv2/from_translator_test.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
  processor/spanmetricsprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
  receiver/awsxrayreceiver/internal/translator/addtoattrs.go
  receiver/awsxrayreceiver/internal/translator/annotations.go
  receiver/awsxrayreceiver/internal/translator/annotations_test.go
  receiver/awsxrayreceiver/internal/translator/aws.go
  receiver/awsxrayreceiver/internal/translator/cause.go
  receiver/awsxrayreceiver/internal/translator/http.go
  receiver/awsxrayreceiver/internal/translator/metadata.go
  receiver/awsxrayreceiver/internal/translator/name.go
  receiver/awsxrayreceiver/internal/translator/sdk.go
  receiver/awsxrayreceiver/internal/translator/sql.go
  receiver/awsxrayreceiver/internal/translator/time.go
  receiver/awsxrayreceiver/internal/translator/translator.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/awsxrayreceiver/receiver.go
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/alerts_integration_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/solacereceiver/unmarshaller_test.go
  testbed/mockdatareceivers/mockawsxrayreceiver/trace_receiver.go
Labels: Skip Changelog

#14079 [Changelog] Fix formatting issue
  CHANGELOG.md
Labels: Skip Changelog

#14088 [receiver/mongodbatlas] Fix log parsing for v4.2 clusters
  receiver/mongodbatlasreceiver/internal/model/logs.go
  receiver/mongodbatlasreceiver/log_decode_test.go
  receiver/mongodbatlasreceiver/log_decoder.go
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
  receiver/mongodbatlasreceiver/testdata/logs/sample-payloads/4.2.log
  receiver/mongodbatlasreceiver/testdata/logs/sample-payloads/4.2_invalid_log.log
  receiver/mongodbatlasreceiver/testdata/logs/sample-payloads/5.0.log
  receiver/mongodbatlasreceiver/testdata/logs/sample-payloads/5.0_invalid_log.log
  unreleased/mongodb-atlas-4_2-logging.yaml
Labels: ready-to-merge

#13842 exporter/datadogexporter: update k8s-chart example and add validation test
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples/k8s-chart/daemonset.yaml
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
Labels: exporter/datadog, Skip Changelog

#14105 [CI] Do not cancel "Build Status" badge workflow
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#14111 Update usage of pdata primitive slices to avoid extra allocation
  internal/coreinternal/goldendataset/metrics_gen.go
  internal/coreinternal/metricstestutil/metric_diff.go
  pkg/translator/prometheusremotewrite/helper.go
  processor/cumulativetodeltaprocessor/processor.go
  processor/cumulativetodeltaprocessor/processor_test.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
Labels: Skip Changelog

#14114 [chore] Remove unused function from coreinternal/testdata
  internal/coreinternal/testdata/log.go
Labels: Skip Changelog

#14119 exporter/datadogexporter: simplify hostmetrics example
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
Labels: Skip Changelog

#12794 [exporter/influxdb] Update README.md to explain URL path behavior
  exporter/influxdbexporter/README.md
Labels: Skip Changelog

#14094 [reciever/filelog] - Adding missing Register
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/README.md
  unreleased/fix_missing_key_value_parser.yaml
Labels: ready-to-merge

#13700 [exporter/awsxrayexporter] fixed cloudwatch log group ARN parsing
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
  unreleased/fix-log-group-parser.yaml
Labels: Stale

#14096 [exporter/fileexporter] Support for rotation of telemetry files.
  exporter/fileexporter/README.md
  exporter/fileexporter/config.go
  exporter/fileexporter/config_test.go
  exporter/fileexporter/factory.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/file_exporter_test.go
  exporter/fileexporter/go.mod
  exporter/fileexporter/go.sum
  exporter/fileexporter/testdata/config.yaml
  unreleased/fileexport-rotation.yaml
Labels: ready-to-merge

#14155 Improve integration tests.
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  receiver/aerospikereceiver/client.go
  receiver/aerospikereceiver/client_test.go
  receiver/aerospikereceiver/cluster/cluster.go
  receiver/aerospikereceiver/cluster/cluster_test.go
  receiver/aerospikereceiver/cluster/mock_connFactoryFunc.go
  receiver/aerospikereceiver/cluster/mock_nodeFactoryFunc.go
  receiver/aerospikereceiver/cluster/mocks/Node.go
  receiver/aerospikereceiver/cluster/mocks/asclient.go
  receiver/aerospikereceiver/cluster/mocks/asconn.go
  receiver/aerospikereceiver/cluster/node.go
  receiver/aerospikereceiver/cluster/node_test.go
  receiver/aerospikereceiver/cluster/subset_cluster.go
  receiver/aerospikereceiver/cluster/subset_cluster_test.go
  receiver/aerospikereceiver/go.mod
  receiver/aerospikereceiver/go.sum
  receiver/aerospikereceiver/integration_test.go
  receiver/aerospikereceiver/scraper.go
  receiver/aerospikereceiver/testdata/integration/expected.json
  receiver/aerospikereceiver/testdata/integration/udf.lua
Labels: Skip Changelog

#14158 [pkg/translator/prometheus] do not normalize metric name with colon
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
  unreleased/pkg-translator-prometheus-normalize-metric-name-colon.yaml
Labels: ready-to-merge, pkg/translator

#14093 [receiver/dockerstats] For V2 implementation, create sensible enabled defaults
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/receiver_test.go
  unreleased/dockerstats-defaults.yaml
Labels: ready-to-merge

#13425 [processor/spanmetricsprocessor] Rename calls_total in doc
  processor/spanmetricsprocessor/README.md
  processor/spanmetricsprocessor/testdata/config-full.yaml
Labels: Skip Changelog

#14176 [processor/spanmetrics] Remove usage of deprecated pcommon.NewMapFromRaw
  processor/spanmetricsprocessor/processor_test.go
Labels: Skip Changelog

#14183 [internal/coreinternal] Enable errcheck
  internal/coreinternal/attraction/hasher.go
Labels: Skip Changelog

#14322 docs(receiver/hostmetrics): link to scraper docs
  receiver/hostmetricsreceiver/README.md
Labels: Skip Changelog

#14141 [pkg/stanza] Move mapstructure.go into operatortest package
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/operator/helper/bytesize_test.go
  pkg/stanza/operator/helper/operatortest/mapstructure.go
  pkg/stanza/operator/helper/operatortest/operatortest.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/scope_name_test.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/time_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/windows/operator_test.go
  pkg/stanza/operator/parser/json/json_test.go
  pkg/stanza/operator/parser/regex/regex_test.go
  pkg/stanza/operator/parser/severity/severity_test.go
  pkg/stanza/operator/parser/time/time_test.go
  pkg/stanza/operator/parser/uri/uri_test.go
Labels: Skip Changelog, pkg/stanza

#12949 [docs] update README for routing
  processor/routingprocessor/README.md
Labels: ready-to-merge, Skip Changelog

#14154 [pkg/stanza] Add config unmarshal tests for tcp/udp/syslog inputs
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/syslog/testdata/config.yaml
  pkg/stanza/operator/input/tcp/config_test.go
  pkg/stanza/operator/input/tcp/testdata/config.yaml
  pkg/stanza/operator/input/udp/config_test.go
  pkg/stanza/operator/input/udp/testdata/config.yaml
Labels: Skip Changelog, pkg/stanza

#14330 [examples] k8s example should show k8s.* attributes as resource attributes
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
Labels: Skip Changelog

#14151 [pkg/stanza] Move operatortest package into operator dir
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/operator/helper/bytesize_test.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/scope_name_test.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/time_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/windows/operator_test.go
  pkg/stanza/operator/operatortest/mapstructure.go
  pkg/stanza/operator/operatortest/operatortest.go
  pkg/stanza/operator/operatortest/operatortest_confmap.go
  pkg/stanza/operator/parser/csv/config_test.go
  pkg/stanza/operator/parser/json/config_test.go
  pkg/stanza/operator/parser/json/json_test.go
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/regex/config_test.go
  pkg/stanza/operator/parser/regex/regex_test.go
  pkg/stanza/operator/parser/scope/config_test.go
  pkg/stanza/operator/parser/severity/config_test.go
  pkg/stanza/operator/parser/severity/severity_test.go
  pkg/stanza/operator/parser/syslog/config_test.go
  pkg/stanza/operator/parser/time/config_test.go
  pkg/stanza/operator/parser/time/time_test.go
  pkg/stanza/operator/parser/trace/config_test.go
  pkg/stanza/operator/parser/uri/config_test.go
  pkg/stanza/operator/parser/uri/uri_test.go
  pkg/stanza/operator/transformer/add/config_test.go
  pkg/stanza/operator/transformer/copy/config_test.go
  pkg/stanza/operator/transformer/flatten/config_test.go
  pkg/stanza/operator/transformer/move/config_test.go
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/remove/config_test.go
  pkg/stanza/operator/transformer/retain/config_test.go
  pkg/stanza/operator/transformer/router/config_test.go
Labels: ready-to-merge, Skip Changelog, pkg/stanza

#14331 [pkg/stanza] Fix merge race condition
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/tcp/config_test.go
  pkg/stanza/operator/input/udp/config_test.go
Labels: Skip Changelog

#14334 Remove unnecessary replace statements, dependency no longer needed
  cmd/configschema/go.mod
  exporter/datadogexporter/go.mod
  go.mod
Labels: dependencies

#14164 [receiver/hostmetrics] Do not fail to start if a performance counter is unavailable
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_errors.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_mock.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
  unreleased/hostmetrics-dont-fail-if-perfcounter-missing.yaml
Labels: receiver/hostmetrics

#14309 exporter/datadogexporter: bump datadog-agent dependencies to latest
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/traces_exporter.go
  go.mod
  go.sum
Labels: Skip Changelog

#14336 [exporter/datadogexporter] Enable errcheck
  exporter/datadogexporter/zaplogger.go
Labels: Skip Changelog

#14007 [processor/cumulativetodelta] Reduce memory consumption for histograms (#13751)
  processor/cumulativetodeltaprocessor/internal/tracking/identity.go
  processor/cumulativetodeltaprocessor/internal/tracking/identity_test.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/internal/tracking/value.go
  processor/cumulativetodeltaprocessor/processor.go
  unreleased/issue_13751.yaml
Labels: ready-to-merge, processor/cumulativetodelta

#14310 [pkg/stanza] Remove custom json and yaml marshal funcs
  pkg/stanza/entry/attribute_field.go
  pkg/stanza/entry/attribute_field_test.go
  pkg/stanza/entry/body_field.go
  pkg/stanza/entry/body_field_test.go
  pkg/stanza/entry/field.go
  pkg/stanza/entry/field_test.go
  pkg/stanza/entry/resource_field.go
  pkg/stanza/entry/resource_field_test.go
  pkg/stanza/operator/config.go
  pkg/stanza/operator/config_test.go
Labels: Skip Changelog, pkg/stanza

#14395 Remove unnecessary excludes, no longer issue anywhere
  cmd/configschema/go.mod
  exporter/logzioexporter/go.mod
  go.mod
Labels: dependencies

#14390 Bump unversioned signalfx package to latest
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  go.mod
  go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies

#14400 exporter/datadogexporter: bump datadog-agent dependencies
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: dependencies

#14396 [exporter/logzioexporter] Enable errcheck
  exporter/logzioexporter/exporter.go
Labels: Skip Changelog

#14454 Bump opencensus-proto to v0.4.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/carbonexporter/go.mod
  exporter/carbonexporter/go.sum
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/opencensusexporter/go.mod
  exporter/opencensusexporter/go.sum
  exporter/signalfxexporter/go.sum
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  go.mod
  go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  pkg/translator/opencensus/go.mod
  pkg/translator/opencensus/go.sum
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  processor/metricstransformprocessor/go.mod
  processor/metricstransformprocessor/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/go.sum
  receiver/collectdreceiver/go.mod
  receiver/collectdreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/go.sum
  receiver/opencensusreceiver/opencensus.go
  receiver/opencensusreceiver/opencensus_test.go
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/receivercreator/go.mod
  receiver/receivercreator/go.sum
  receiver/signalfxreceiver/go.sum
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/go.sum
  receiver/wavefrontreceiver/go.mod
  receiver/wavefrontreceiver/go.sum
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies

#14458 [chore][receiver/mysql]: extract handling global stats to another function
  receiver/mysqlreceiver/scraper.go
Labels: ready-to-merge

#14462 [pkg/stanza] Remove operatortest.UnmarshalMapstructure and related tests
  pkg/stanza/operator/helper/scope_name_test.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/time_test.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/windows/operator_test.go
  pkg/stanza/operator/operatortest/mapstructure.go
  pkg/stanza/operator/parser/json/json_test.go
  pkg/stanza/operator/parser/regex/regex_test.go
  pkg/stanza/operator/parser/severity/severity_test.go
  pkg/stanza/operator/parser/time/time_test.go
  pkg/stanza/operator/parser/uri/uri_test.go
Labels: Skip Changelog, pkg/stanza

#13407 [exporter/sentryexporter] make status more detailed
  exporter/sentryexporter/sentry_exporter.go
  exporter/sentryexporter/sentry_exporter_test.go
  unreleased/sentry_exporter_statuses.yaml
Labels: enhancement, Stale, exporter/sentry

#14481 [pkg/stanza] Convert helper unmarshal tests to operatortest standard
  pkg/stanza/operator/helper/helper_test.go
  pkg/stanza/operator/helper/scope_name_test.go
  pkg/stanza/operator/helper/severity_test.go
  pkg/stanza/operator/helper/testdata/scope_name.yaml
  pkg/stanza/operator/helper/testdata/scope_name/parse_from.yaml
  pkg/stanza/operator/helper/testdata/severity.yaml
  pkg/stanza/operator/helper/testdata/severity/default.yaml
  pkg/stanza/operator/helper/testdata/severity/mapping.yaml
  pkg/stanza/operator/helper/testdata/severity/on_error_drop.yaml
  pkg/stanza/operator/helper/testdata/severity/parse_from_simple.yaml
  pkg/stanza/operator/helper/testdata/severity/preset.yaml
  pkg/stanza/operator/helper/testdata/severity/severity.yaml
  pkg/stanza/operator/helper/testdata/time/layout.yaml
  pkg/stanza/operator/helper/testdata/time/layout_type.yaml
  pkg/stanza/operator/helper/testdata/time/location.yaml
  pkg/stanza/operator/helper/testdata/time/parse_from.yaml
  pkg/stanza/operator/helper/testdata/timestamp.yaml
  pkg/stanza/operator/helper/time_test.go
Labels: Skip Changelog, pkg/stanza

#14402 Update lokiEpoxrter documentation
  exporter/lokiexporter/README.md
Labels: Skip Changelog

#14512 [pkg/stanza/fileconsumer] Convert config unmarshal tests to use operatortest
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/testdata/config.yaml
  pkg/stanza/fileconsumer/testdata/encoding_lower.yaml
  pkg/stanza/fileconsumer/testdata/encoding_upper.yaml
  pkg/stanza/fileconsumer/testdata/exclude_glob.yaml
  pkg/stanza/fileconsumer/testdata/exclude_glob_double_asterisk.yaml
  pkg/stanza/fileconsumer/testdata/exclude_glob_double_asterisk_nested.yaml
  pkg/stanza/fileconsumer/testdata/exclude_glob_double_asterisk_prefix.yaml
  pkg/stanza/fileconsumer/testdata/exclude_inline.yaml
  pkg/stanza/fileconsumer/testdata/exclude_invalid.yaml
  pkg/stanza/fileconsumer/testdata/exclude_multi.yaml
  pkg/stanza/fileconsumer/testdata/exclude_one.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_1KB.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_1KiB.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_1kb_lower.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_1kib_lower.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_float.yaml
  pkg/stanza/fileconsumer/testdata/fingerprint_size_no_units.yaml
  pkg/stanza/fileconsumer/testdata/include_glob.yaml
  pkg/stanza/fileconsumer/testdata/include_glob_double_asterisk.yaml
  pkg/stanza/fileconsumer/testdata/include_glob_double_asterisk_nested.yaml
  pkg/stanza/fileconsumer/testdata/include_glob_double_asterisk_prefix.yaml
  pkg/stanza/fileconsumer/testdata/include_inline.yaml
  pkg/stanza/fileconsumer/testdata/include_invalid.yaml
  pkg/stanza/fileconsumer/testdata/include_multi.yaml
  pkg/stanza/fileconsumer/testdata/include_one.yaml
  pkg/stanza/fileconsumer/testdata/max_concurrent_large.yaml
  pkg/stanza/fileconsumer/testdata/max_log_size_invalid_unit.yaml
  pkg/stanza/fileconsumer/testdata/max_log_size_mb_lower.yaml
  pkg/stanza/fileconsumer/testdata/max_log_size_mb_upper.yaml
  pkg/stanza/fileconsumer/testdata/max_log_size_mib_lower.yaml
  pkg/stanza/fileconsumer/testdata/max_log_size_mib_upper.yaml
  pkg/stanza/fileconsumer/testdata/multiline_extra_field.yaml
  pkg/stanza/fileconsumer/testdata/multiline_line_end_special.yaml
  pkg/stanza/fileconsumer/testdata/multiline_line_end_string.yaml
  pkg/stanza/fileconsumer/testdata/multiline_line_start_special.yaml
  pkg/stanza/fileconsumer/testdata/multiline_line_start_string.yaml
  pkg/stanza/fileconsumer/testdata/poll_interval_1000ms.yaml
  pkg/stanza/fileconsumer/testdata/poll_interval_1ms.yaml
  pkg/stanza/fileconsumer/testdata/poll_interval_1s.yaml
  pkg/stanza/fileconsumer/testdata/poll_interval_no_units.yaml
  pkg/stanza/fileconsumer/testdata/start_at_string.yaml
  pkg/stanza/fileconsumer/util_test.go
Labels: Skip Changelog, pkg/stanza

#14478 [receiver/zipkinreceiver] Enable erreck
  receiver/zipkinreceiver/trace_receiver.go
Labels: Skip Changelog

#14511 [pkg/stanza] Convert 'ByteSize' unmarshal tests to use operatortest
  pkg/stanza/operator/helper/bytesize_test.go
  pkg/stanza/operator/helper/helper_test.go
  pkg/stanza/operator/helper/testdata/bytesize.yaml
Labels: Skip Changelog, pkg/stanza

#14089 [pkg/stanza] Allow 'parse_to' fields to accept 'attributes' and 'resource'
  pkg/stanza/entry/field.go
  pkg/stanza/entry/field_test.go
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/parser/csv/config_test.go
  pkg/stanza/operator/parser/csv/csv_test.go
  pkg/stanza/operator/parser/csv/testdata/config.yaml
  pkg/stanza/operator/parser/json/config_test.go
  pkg/stanza/operator/parser/json/testdata/config.yaml
  pkg/stanza/operator/parser/keyvalue/config_test.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
  pkg/stanza/operator/parser/keyvalue/testdata/config.yaml
  pkg/stanza/operator/parser/regex/config_test.go
  pkg/stanza/operator/parser/regex/testdata/config.yaml
  pkg/stanza/operator/parser/syslog/config_test.go
  pkg/stanza/operator/parser/uri/config_test.go
  pkg/stanza/operator/parser/uri/testdata/config.yaml
  pkg/stanza/operator/parser/uri/uri_test.go
  unreleased/rootable-parse-to.yaml
Labels: pkg/stanza

#14542 [pkg/stanza] Remove deprecated test functions from operatortest
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/go.mod
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/operatortest/confmap.go
  pkg/stanza/operator/operatortest/mapstructure.go
  pkg/stanza/operator/operatortest/operatortest.go
Labels: Skip Changelog, pkg/stanza

#14543 [pkg/stanza] Remove helper.OutputIDs type
  pkg/stanza/operator/helper/helper_test.go
  pkg/stanza/operator/helper/testdata/writer.yaml
  pkg/stanza/operator/helper/writer.go
  pkg/stanza/operator/helper/writer_test.go
  pkg/stanza/operator/transformer/router/router.go
  pkg/stanza/operator/transformer/router/router_test.go
Labels: Skip Changelog, pkg/stanza

#13987 [exporter/datadogexporter] Add logs support
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/logs/doc.go
  exporter/datadogexporter/internal/logs/sender.go
  exporter/datadogexporter/internal/logs/translator.go
  exporter/datadogexporter/internal/logs/translator_test.go
  exporter/datadogexporter/internal/testutils/logs.go
  exporter/datadogexporter/internal/testutils/logs_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/testdata/config.yaml
  exporter/datadogexporter/testdata/unmarshal.yaml
  go.mod
  go.sum
  unreleased/datadog-exporter-add-logs-support.yaml
Labels: ready-to-merge

#14540 [receiver/jaegerreceiver] enable erreck
  receiver/jaegerreceiver/trace_receiver_test.go
Labels: Skip Changelog

#14532 [exporter/awsemfexporter] Fix regression in dimension roll up
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsemfexporter/util.go
  unreleased/awsemfexporter-fix-regression-null-dimension.yaml
Labels: ready-to-merge

#14559 [exporter/elasticsearch]update code owners
  .github/CODEOWNERS
Labels: Skip Changelog

#14553 [pkg/stanza] Remove unused json and yaml tags from operators
  pkg/stanza/adapter/mocks_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/operator/helper/attributer.go
  pkg/stanza/operator/helper/bytesize.go
  pkg/stanza/operator/helper/encoding.go
  pkg/stanza/operator/helper/identifier.go
  pkg/stanza/operator/helper/input.go
  pkg/stanza/operator/helper/multiline.go
  pkg/stanza/operator/helper/operator.go
  pkg/stanza/operator/helper/output.go
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/scope_name.go
  pkg/stanza/operator/helper/severity_builder.go
  pkg/stanza/operator/helper/time.go
  pkg/stanza/operator/helper/trace.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/generate/generate.go
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/stdin/stdin.go
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/output/drop/drop.go
  pkg/stanza/operator/output/file/file.go
  pkg/stanza/operator/output/stdout/stdout.go
  pkg/stanza/operator/parser/csv/csv.go
  pkg/stanza/operator/parser/json/json.go
  pkg/stanza/operator/parser/keyvalue/keyvalue.go
  pkg/stanza/operator/parser/regex/regex.go
  pkg/stanza/operator/parser/scope/scope_name.go
  pkg/stanza/operator/parser/severity/severity.go
  pkg/stanza/operator/parser/syslog/syslog.go
  pkg/stanza/operator/parser/time/time.go
  pkg/stanza/operator/parser/trace/trace.go
  pkg/stanza/operator/parser/uri/uri.go
  pkg/stanza/operator/transformer/add/add.go
  pkg/stanza/operator/transformer/copy/copy.go
  pkg/stanza/operator/transformer/filter/filter.go
  pkg/stanza/operator/transformer/flatten/flatten.go
  pkg/stanza/operator/transformer/move/move.go
  pkg/stanza/operator/transformer/noop/noop.go
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/remove/remove.go
  pkg/stanza/operator/transformer/retain/retain.go
  pkg/stanza/operator/transformer/router/router.go
Labels: Skip Changelog, pkg/stanza

#14468 Remove a stray fmt.Printf, use a logger
  pkg/ottl/boolean_value.go
  pkg/ottl/boolean_value_test.go
  pkg/ottl/compare.go
  pkg/ottl/compare_test.go
  pkg/ottl/go.mod
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  unreleased/fix-ottl-printf.yaml
Labels: ready-to-merge

#14571 [exporter/datadog] Correctly derive status for logs from 'level'
  exporter/datadogexporter/internal/logs/translator.go
  exporter/datadogexporter/internal/logs/translator_test.go
Labels: Skip Changelog

#14469 [receiver/splunkhecreceiver] Updates Splunk receiver http status codes in order to be compliant with SplunkCloud
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
  unreleased/splunkhecreceiver-http-status-code-return.yaml
Labels: ready-to-merge

#14338 [processor/transform] Added Int function to the transform processor
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/metrics/processor_test.go
  unreleased/feat-int-func.yaml
Labels: ready-to-merge

#14533 Add @atingchen as code owner of fileexporter.
  .github/CODEOWNERS
Labels: Skip Changelog

#14591 [exporter/splunkhec] fix error message when metric event fails to marshal
  exporter/splunkhecexporter/client.go
Labels: ready-to-merge, Skip Changelog

#13928 [pkg/translator/jaeger] Make the assertion more robust on flaky test
  pkg/translator/jaeger/jaegerproto_to_traces_test.go
Labels: Skip Changelog

#14586 [chore] switch googlecloudexporter to use pdata
  exporter/googlecloudexporter/legacymetrics_test.go
Labels: ready-to-merge, exporter/googlecloud

#14609 [exporter/datadog] Bump Datadog Agent code to be compatible with latest core removals
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, Skip Changelog

#14611 [receiver/mongodbatlas] Safeguard polled alerts potentially overloading exporters
  .chloggen/atlas-polling-scalability-concern.yaml
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/alerts_integration_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/config.go
  receiver/mongodbatlasreceiver/config_test.go
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
Labels: ready-to-merge
