Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-01, with the labels that each got.

#6934 Adding all extensions to lifecycle tests
  internal/components/exporters_test.go
  internal/components/extensions_test.go
Labels: Skip Changelog

#6974 Ensuring all receivers are tested
  internal/components/receivers_test.go
Labels: Skip Changelog

#6530 Influx receiver, update success write response code
  receiver/influxdbreceiver/README.md
  receiver/influxdbreceiver/receiver.go
Labels: Stale

#6911 Update prometheusexecreceiver build comments
  receiver/prometheusexecreceiver/subprocessmanager/exec_command_other.go
  receiver/prometheusexecreceiver/subprocessmanager/exec_command_win.go
Labels: Skip Changelog

#7001 [receiver/windowsperfcounters] Change counters to perfcounters in documentation
  receiver/windowsperfcountersreceiver/README.md
Labels: Skip Changelog

#7018 [extension/filestorage] Add djaglowski as code owner
  .github/CODEOWNERS
Labels: Skip Changelog

#7020 Fix issue where zookeeper receiver could panic during shutdown.
  CHANGELOG.md
  internal/components/receivers_test.go
  receiver/zookeeperreceiver/scraper.go
  receiver/zookeeperreceiver/scraper_test.go
Labels: ready-to-merge

#7024 dependabot updates Tue Jan 4 15:24:53 PST 2022
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/awsprometheusremotewriteexporter/go.mod
  exporter/awsprometheusremotewriteexporter/go.sum
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/stackdriverexporter/go.mod
  exporter/stackdriverexporter/go.sum
  extension/awsproxy/go.mod
  extension/awsproxy/go.sum
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  go.mod
  go.sum
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/proxy/go.mod
  internal/aws/proxy/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#6941 [receiver/redis] Set start timestamp uniformly for gauge and sum metrics
  CHANGELOG.md
  receiver/redisreceiver/pdata.go
  receiver/redisreceiver/pdata_test.go
Labels: ready-to-merge

#6880 [receiver/couchdb] Implement client
  CHANGELOG.md
  receiver/couchdbreceiver/client.go
  receiver/couchdbreceiver/client_test.go
  receiver/couchdbreceiver/go.mod
  receiver/couchdbreceiver/go.sum
  versions.yaml
Labels: ready-to-merge

#7003 [receiver/prometheusexec] Remove keitwb as codeowner
  .github/CODEOWNERS
Labels: Skip Changelog

#7067 Organize replace directives in root and cmd/configschema go.mod's
  cmd/configschema/go.mod
  go.mod
Labels: Skip Changelog

#7066 Remove Owais Lone from the approvers' list
  .github/auto_assign.yml
  README.md
Labels: Skip Changelog

#7019 [receiver/elasticsearch] Implement Client
  CHANGELOG.md
  receiver/elasticsearchreceiver/client.go
  receiver/elasticsearchreceiver/client_test.go
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/internal/model/clusterhealth.go
  receiver/elasticsearchreceiver/internal/model/nodestats.go
  receiver/elasticsearchreceiver/testdata/sample_payloads/health.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_linux.json
Labels: ready-to-merge

#7068 Take ownership of Prometheus exporters
  .github/CODEOWNERS
Labels: Skip Changelog

#7069 Upgrade containerd to fix high severity security issue
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/dynatraceexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  go.mod
  go.sum
  internal/common/go.mod
  internal/common/go.sum
  internal/docker/go.mod
  internal/docker/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awsecscontainermetricsreceiver/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/k8sclusterreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/signalfxreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#7047 [processor/transform] Add skeleton for query language transform processor
  .github/CODEOWNERS
  .github/dependabot.yml
  go.mod
  processor/transformprocessor/Makefile
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/doc.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  processor/transformprocessor/testdata/config.yaml
  versions.yaml
Labels: Skip Changelog

#7083 [cicd] stop publishing artifacts in this repo
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#7088 Propose @dashpole as approver
  .github/auto_assign.yml
  README.md
Labels: Skip Changelog

#6878 [receiver/couchdb] Define metrics
  CHANGELOG.md
  receiver/couchdbreceiver/codegen.go
  receiver/couchdbreceiver/documentation.md
  receiver/couchdbreceiver/factory.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchdbreceiver/metadata.yaml
Labels: ready-to-merge

#6630 [receiver/fluentforward] Convert attributes with nil value to AttributeValueTypeEmpty
  CHANGELOG.md
  receiver/fluentforwardreceiver/conversion.go
  receiver/fluentforwardreceiver/conversion_test.go
Labels: ready-to-merge

#7059 Use the helper ServerAuthenticator in oidc extension
  extension/oidcauthextension/extension.go
Labels: Skip Changelog

#7064 [processor/metricstransform] fix confusing example configs.
  processor/metricstransformprocessor/README.md
Labels: Skip Changelog

#7046 [receiver/couchbase] Initialize Component
  .github/CODEOWNERS
  .github/dependabot.yml
  CHANGELOG.md
  receiver/couchbasereceiver/Makefile
  receiver/couchbasereceiver/README.md
  receiver/couchbasereceiver/codegen.go
  receiver/couchbasereceiver/config.go
  receiver/couchbasereceiver/config_test.go
  receiver/couchbasereceiver/documentation.md
  receiver/couchbasereceiver/factory.go
  receiver/couchbasereceiver/factory_test.go
  receiver/couchbasereceiver/go.mod
  receiver/couchbasereceiver/go.sum
  receiver/couchbasereceiver/internal/metadata/generated_metrics_v2.go
  receiver/couchbasereceiver/metadata.yaml
  receiver/couchbasereceiver/testdata/config.yaml
  versions.yaml
Labels: ready-to-merge

#7110 Clean up scrapertest test expectations
  internal/scrapertest/compare_test.go
  internal/scrapertest/testdata/ignore-data-point-value-double-mismatch/actual.json
  internal/scrapertest/testdata/ignore-data-point-value-double-mismatch/expected.json
  internal/scrapertest/testdata/ignore-data-point-value-int-mismatch/actual.json
  internal/scrapertest/testdata/ignore-data-point-value-int-mismatch/expected.json
Labels: Skip Changelog

#6339 [receiver/collectd] Initialize StartTimestamp for cumulative metrics
  receiver/collectdreceiver/collectd.go
  receiver/collectdreceiver/collectd_test.go
  receiver/collectdreceiver/receiver_test.go
Labels: Skip Changelog

#7123 [receiver/prometheus] Attempt to fix flake test by ignoring excess scrape results
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: Skip Changelog

#7116 Document the limitation for windowsperfcountersreceiver
  receiver/windowsperfcountersreceiver/README.md
Labels: Skip Changelog

#6525 [extension/oauth2clientauth] Include token URL in error message for contacting token server
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/go.mod
Labels: Skip Changelog

#7124 Allow integration tests for individual components to last up to 120s
  Makefile.Common
Labels: ready-to-merge, Skip Changelog

#7122 [receiver/couchbase] Couchbase REST Client
  CHANGELOG.md
  receiver/couchbasereceiver/README.md
  receiver/couchbasereceiver/client.go
  receiver/couchbasereceiver/client_test.go
  receiver/couchbasereceiver/factory.go
  receiver/couchbasereceiver/factory_test.go
  receiver/couchbasereceiver/go.mod
  receiver/couchbasereceiver/go.sum
  receiver/couchbasereceiver/models.go
  receiver/couchbasereceiver/testdata/apiresponses/get_bucket_stats.json
  receiver/couchbasereceiver/testdata/apiresponses/get_cluster_bucket_info_response.json
  receiver/couchbasereceiver/testdata/apiresponses/get_clusters_response.json
  receiver/couchbasereceiver/testdata/config.yaml
Labels: ready-to-merge

#6892 [receiver/elasticsearch] Add metric definitions
  CHANGELOG.md
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/codegen.go
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/factory.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/metadata.yaml
Labels: ready-to-merge

#7153 Change lint to run other linting related commands as well.
  .github/workflows/build-and-test.yml
  Makefile.Common
Labels: Skip Changelog

#7160 [receiver/elasticsearch] Use same metrics as JMX receiver for JVM metrics
  CHANGELOG.md
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/metadata.yaml
Labels: ready-to-merge

#7170 fix lint build failures
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#7178 update multimod to bump tools cache
  cmd/configschema/go.sum
  extension/storage/go.mod
  extension/storage/go.sum
  go.sum
  internal/stanza/go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.sum
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.sum
Labels: Skip Changelog

#7168 additional logging sanitization
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/go.mod
  internal/coreinternal/sanitize/url.go
Labels: Skip Changelog

#7166 [cmd/mdatagen] Fix optional metrics support
  CHANGELOG.md
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/testdata/all_options.yaml
Labels: ready-to-merge

#7187 [receiver/mysql] Temporarily disable integration test
  receiver/mysqlreceiver/integration_test.go
Labels: Skip Changelog

#7174 [receiver/elasticsearch] Implement scraping logic
  CHANGELOG.md
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/config.go
  receiver/elasticsearchreceiver/config_test.go
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/factory.go
  receiver/elasticsearchreceiver/factory_test.go
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/elasticsearchreceiver/internal/metadata/emitters.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_v2.go
  receiver/elasticsearchreceiver/internal/mocks/elasticsearchClient.go
  receiver/elasticsearchreceiver/internal/model/nodestats.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/config.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.json
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/health.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_linux.json
Labels: ready-to-merge

#7163 [receiver/mongodbreceiver] Add mongodbreceiver Metric Metadata
  CHANGELOG.md
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/metadata.yaml
Labels: ready-to-merge

#7115 Update Prometheus to latest
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awsprometheusremotewriteexporter/go.mod
  exporter/awsprometheusremotewriteexporter/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/lokiexporter/internal/third_party/loki/logproto/extensions.go
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/helper_test.go
  go.mod
  go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/prometheusexecreceiver/config_test.go
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusexecreceiver/testdata/config.yaml
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/internal_test.go
  receiver/prometheusreceiver/internal/metadata.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricsbuilder.go
  receiver/prometheusreceiver/internal/metricsbuilder_test.go
  receiver/prometheusreceiver/internal/ocastore.go
  receiver/prometheusreceiver/internal/ocastore_test.go
  receiver/prometheusreceiver/internal/otlp_metricfamily.go
  receiver/prometheusreceiver/internal/otlp_metricfamily_test.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder.go
  receiver/prometheusreceiver/internal/otlp_metricsbuilder_test.go
  receiver/prometheusreceiver/internal/otlp_transaction.go
  receiver/prometheusreceiver/internal/otlp_transaction_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#7237 Bump golangci-lint timeout to avoid build failures
  .golangci.yml
Labels: Skip Changelog

#7235 [receiver/mysql] Fix integration Docker images
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql.5_7
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql.8_0
Labels: Skip Changelog

#7245 dependabot updates Tue Jan 18 08:32:42 PST 2022
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  exporter/opencensusexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/stackdriverexporter/go.mod
  exporter/stackdriverexporter/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/oauth2clientauthextension/go.mod
  extension/oauth2clientauthextension/go.sum
  extension/storage/go.mod
  extension/storage/go.sum
  go.mod
  go.sum
  internal/stanza/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/filelogreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/journaldreceiver/go.sum
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#7058 [documentation] template for new component issue
  .github/ISSUE_TEMPLATE/new_component.md
  CONTRIBUTING.md
Labels: Skip Changelog

#7249 resource detection: document ec2 proxy info
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog

#7131 [receiver/couchdb] Implement scraper
  CHANGELOG.md
  receiver/couchdbreceiver/README.md
  receiver/couchdbreceiver/client.go
  receiver/couchdbreceiver/client_test.go
  receiver/couchdbreceiver/config.go
  receiver/couchdbreceiver/factory.go
  receiver/couchdbreceiver/factory_test.go
  receiver/couchdbreceiver/go.mod
  receiver/couchdbreceiver/go.sum
  receiver/couchdbreceiver/metrics.go
  receiver/couchdbreceiver/scraper.go
  receiver/couchdbreceiver/scraper_test.go
  receiver/couchdbreceiver/testdata/config.yaml
  receiver/couchdbreceiver/testdata/scraper/expected.json
  receiver/couchdbreceiver/testdata/scraper/response_2.31.json
  receiver/couchdbreceiver/testdata/scraper/response_3.12.json
Labels: ready-to-merge

#7280 [receiver/zookeeper] Updated metrics to be more in line with OTel specification
  CHANGELOG.md
  receiver/zookeeperreceiver/documentation.md
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_v2.go
  receiver/zookeeperreceiver/metadata.yaml
  receiver/zookeeperreceiver/metrics.go
  receiver/zookeeperreceiver/scraper.go
  receiver/zookeeperreceiver/scraper_test.go
  receiver/zookeeperreceiver/testdata/mntr-3.5.5
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.4.14.json
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.5.5.json
  receiver/zookeeperreceiver/testdata/scraper/disable-watches.json
  receiver/zookeeperreceiver/testdata/scraper/error-closing-connection.json
  receiver/zookeeperreceiver/testdata/scraper/error-setting-connection-deadline.json
Labels: ready-to-merge

#7129 processor/transform Add implementation of query processing
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  processor/transformprocessor/internal/common/parser.go
  processor/transformprocessor/internal/common/parser_test.go
Labels: Skip Changelog

#7175 [receiver/mongodb] Scraping Logic For mongodbreceiver
  CHANGELOG.md
  receiver/mongodbreceiver/client.go
  receiver/mongodbreceiver/client_test.go
  receiver/mongodbreceiver/codegen.go
  receiver/mongodbreceiver/config.go
  receiver/mongodbreceiver/factory.go
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mongodbreceiver/internal/metadata/emitters.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/admin.json
  receiver/mongodbreceiver/testdata/scraper/expected.json
Labels: ready-to-merge

#7048 [receiver/hostmetrics] Migrate network scraper to new metrics builder
  CHANGELOG.md
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/codegen.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
Labels: ready-to-merge

#7310 Make pavankrish123 primary owner of oath2clientextension
  .github/CODEOWNERS
Labels: Skip Changelog

#7176 [receiver/hostmetrics] Mute process name error
  CHANGELOG.md
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: ready-to-merge

#7305 [internal/scrapertest] Make comparison more correct and robust
  CHANGELOG.md
  internal/scrapertest/compare.go
  internal/scrapertest/compare_test.go
  internal/scrapertest/mask.go
  internal/scrapertest/testdata/data-point-slice-dedup/actual.json
  internal/scrapertest/testdata/data-point-slice-dedup/expected.json
  internal/scrapertest/testdata/data-point-slice-extra/actual.json
  internal/scrapertest/testdata/data-point-slice-extra/expected.json
  internal/scrapertest/testdata/data-point-slice-missing/actual.json
  internal/scrapertest/testdata/data-point-slice-missing/expected.json
  internal/scrapertest/util.go
Labels: ready-to-merge

#7391 Update Prometheus compliance tests
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#7392 [receiver/prometheus] Fix a typo in docs
  receiver/prometheusreceiver/DESIGN.md
Labels: Skip Changelog

#6519 [internal/scrapertest] Add CompareOption for ignoring attribute values
  CHANGELOG.md
  internal/scrapertest/compare_test.go
  internal/scrapertest/mask.go
  internal/scrapertest/testdata/ignore-attribute-set-collision-order/actual.json
  internal/scrapertest/testdata/ignore-attribute-set-collision-order/expected.json
  internal/scrapertest/testdata/ignore-attribute-set-collision/actual.json
  internal/scrapertest/testdata/ignore-attribute-set-collision/expected.json
  internal/scrapertest/testdata/ignore-each-attribute-value/actual.json
  internal/scrapertest/testdata/ignore-each-attribute-value/expected.json
  internal/scrapertest/testdata/ignore-global-attribute-value/actual.json
  internal/scrapertest/testdata/ignore-global-attribute-value/expected.json
  internal/scrapertest/testdata/ignore-one-attribute-value/actual.json
  internal/scrapertest/testdata/ignore-one-attribute-value/expected.json
Labels: ready-to-merge

#7401 re-enable creating github release from CI
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#7409 [examples/kubernetes] Fix mount path to config file
  examples/kubernetes/otel-collector.yaml
Labels: Skip Changelog

#7419 [receiver/k8sevents] Change the test case name
  receiver/k8seventsreceiver/receiver_test.go
Labels: Skip Changelog

#7378 [receiver/jmx] Add ability to specify more jars in classpath
  CHANGELOG.md
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/config.go
  receiver/jmxreceiver/config_test.go
  receiver/jmxreceiver/receiver.go
  receiver/jmxreceiver/testdata/config.yaml
Labels: ready-to-merge
