Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-04, with the labels that each got.

#8855 [receiver/hostmetrics] Migrate Processes scraper to the Metrics builder
  CHANGELOG.md
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
Labels: ready-to-merge

#9021 Bump RAM limit on MetricsFromFile test
  testbed/tests/metric_test.go
Labels: Skip Changelog

#9011 Run make gotidy
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
Labels: Skip Changelog

#9023 Raise RAM constraint on filelog test
  testbed/tests/log_test.go
Labels: Skip Changelog

#9008 Add @TylerHelmuth as codeowner for cumulativetodeltaprocessor
  .github/CODEOWNERS
Labels: Skip Changelog

#9019 Update examples that should have changed with update to v0.28.0
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
Labels: Skip Changelog

#9068 clean up instrumentationLibrary* rename
  exporter/azuremonitorexporter/logexporter.go
  exporter/azuremonitorexporter/logexporter_test.go
  exporter/azuremonitorexporter/traceiteration.go
  exporter/elasticexporter/exporter.go
  exporter/elasticexporter/internal/translator/elastic/metrics_test.go
  internal/coreinternal/goldendataset/traces_generator.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  processor/groupbyattrsprocessor/attribute_groups.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/groupbyattrsprocessor/processor.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper.go
Labels: Skip Changelog

#9066 [exporter/lokiexporter] Fix lokiexporter example config
  exporter/lokiexporter/example/otel-collector-config.yml
Labels: Skip Changelog

#9085 [processor/memorylimiter] Remove deprecated ballast_size_mib config from examples
  exporter/sapmexporter/examples/signalfx-collector.yaml
  exporter/sapmexporter/examples/signalfx-k8s.yaml
Labels: Skip Changelog

#9095 [receiver/mysql] Fix readme setup script link
  receiver/mysqlreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#8991 refactor(routingprocessor): use MoveTo instead of CopyTo
  processor/routingprocessor/processor_test.go
  processor/routingprocessor/router.go
Labels: Skip Changelog

#9096 Fix recent Changelog entries
  CHANGELOG.md
Labels: Skip Changelog

#8493 [prometheusremotewriteexporter] Translate resource to the target info metric
  CHANGELOG.md
  exporter/prometheusremotewriteexporter/exporter_test.go
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
Labels: ready-to-merge

#9010 [Metrics builder] Set schema version from metadata.yaml
  CHANGELOG.md
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metric-metadata.yaml
  cmd/mdatagen/metrics_v2.tmpl
  cmd/mdatagen/testdata/all_options.yaml
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
Labels: ready-to-merge

#9017 [exporter/datadog] Deprecate `env` setting
  CHANGELOG.md
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/example/config.yaml
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/testdata/config.yaml
Labels: ready-to-merge

#8972 [processor/transform] Move function handling logic to common and generify transform context.
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/common/condition.go
  processor/transformprocessor/internal/common/condition_test.go
  processor/transformprocessor/internal/common/expression.go
  processor/transformprocessor/internal/common/expression_test.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/common/functions_test.go
  processor/transformprocessor/internal/common/parser.go
  processor/transformprocessor/internal/common/parser_test.go
  processor/transformprocessor/internal/traces/expression.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/traces.go
  processor/transformprocessor/internal/traces/traces_test.go
Labels: ready-to-merge, Skip Changelog

#9105 Bump limits on performance tests
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
Labels: Skip Changelog

#9104 Promote @djaglowski to maintainer role
  README.md
Labels: Skip Changelog

#8548 [receiver/riak] Riak Metric Receiver
  .github/CODEOWNERS
  CHANGELOG.md
  Makefile
  cmd/configschema/go.mod
  go.mod
  internal/components/components.go
  internal/components/receivers_test.go
  receiver/riakreceiver/Makefile
  receiver/riakreceiver/README.md
  receiver/riakreceiver/client.go
  receiver/riakreceiver/client_test.go
  receiver/riakreceiver/config.go
  receiver/riakreceiver/config_test.go
  receiver/riakreceiver/doc.go
  receiver/riakreceiver/documentation.md
  receiver/riakreceiver/factory.go
  receiver/riakreceiver/factory_test.go
  receiver/riakreceiver/go.mod
  receiver/riakreceiver/go.sum
  receiver/riakreceiver/integration_test.go
  receiver/riakreceiver/internal/metadata/generated_metrics_v2.go
  receiver/riakreceiver/internal/mocks/client.go
  receiver/riakreceiver/internal/model/model.go
  receiver/riakreceiver/metadata.yaml
  receiver/riakreceiver/scraper.go
  receiver/riakreceiver/scraper_test.go
  receiver/riakreceiver/testdata/apiresponses/get_stats_response.json
  receiver/riakreceiver/testdata/config.yaml
  receiver/riakreceiver/testdata/integration/Dockerfile.riak
  receiver/riakreceiver/testdata/integration/entrypoint.sh
  receiver/riakreceiver/testdata/integration/expected.json
  receiver/riakreceiver/testdata/integration/riak.conf
  receiver/riakreceiver/testdata/scraper/expected.json
  versions.yaml
Labels: ready-to-merge

#9103 [extension/fluentbit][receiver/promexec] add deprecation notice
  extension/fluentbitextension/go.mod
  receiver/prometheusexecreceiver/go.mod
Labels: Skip Changelog

#9112 [ci] Check contrib modules are using the correct core collector version
  .github/workflows/build-and-test.yml
  .github/workflows/scripts/check-collector-module-version.sh
Labels: Skip Changelog

#7787 [extension/oauth2clientauth] Use new client auth helpers
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/factory.go
Labels: Skip Changelog

#9116 Fix featuregate for googlecloud exporter by not checking it during NewFactory
  CHANGELOG.md
  exporter/googlecloudexporter/factory.go
Labels: bug

#9134 [extension/filestorage] use correct bbolt options for compaction
  CHANGELOG.md
  extension/storage/filestorage/client.go
Labels: ready-to-merge

#9137 Fix flaky test in jaegerremotesampling
  extension/jaegerremotesampling/extension_test.go
Labels: ready-to-merge, Skip Changelog

#9131 [attributesprocessor] remove log names from filters
  CHANGELOG.md
  internal/coreinternal/processor/filterconfig/config.go
  internal/coreinternal/processor/filterlog/filterlog.go
  internal/coreinternal/processor/filterlog/filterlog_test.go
  internal/coreinternal/processor/filterspan/filterspan_test.go
  processor/attributesprocessor/README.md
  processor/attributesprocessor/factory.go
Labels: ready-to-merge

#9100 [exporter/datadog] Add `host_metadata` section
  CHANGELOG.md
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/config_test.go
  exporter/datadogexporter/config/warn_envvars.go
  exporter/datadogexporter/config/warning_deprecated.go
  exporter/datadogexporter/example/config.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/hostmetadata_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/testdata/config.yaml
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: ready-to-merge

#9221 [internal/stanza] Temporarily mimic previous timestamp functionality
  internal/stanza/converter.go
Labels: Skip Changelog

#9101 [exporter/signalfx] Fix correlation timeout bug
  CHANGELOG.md
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/internal/correlation/correlation.go
  internal/coreinternal/timeutils/doc.go
  internal/coreinternal/timeutils/ticker_helper.go
  internal/coreinternal/timeutils/ticker_test.go
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
  receiver/signalfxreceiver/go.mod
Labels: ready-to-merge

#9226 Update github.com/influxdata/influxdb-observability to v0.2.17
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: ready-to-merge, Skip Changelog

#9233 Disable flaky TestOpenMetricsNegative
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
Labels: Skip Changelog

#9243 [processor/k8sattributes] Fix doc.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/doc.go
Labels: ready-to-merge, Skip Changelog

#9240 [pkg/winperfcounters] Fix wildcard handling
  pkg/winperfcounters/watcher.go
  pkg/winperfcounters/watcher_test.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
Labels: Skip Changelog

#9090 [exporter/datadog] Add empty `removedSettings` list
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/warning_deprecated.go
Labels: ready-to-merge, Skip Changelog

#9257 Disable flaky test TestW3CSpanTraceResourceExtraction
  exporter/awsxrayexporter/awsxray_test.go
Labels: ready-to-merge, Skip Changelog

#9262 Remove usages of deprecated service.MustNewDefaultConfigProvider
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/testbed/in_process_collector.go
Labels: Skip Changelog

#9273 [exporter/googlecloud] Update googlecloud exporter dependency
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/config.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/lokiexporter/go.sum
  exporter/stackdriverexporter/go.mod
  exporter/stackdriverexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#9266 [receiver/prometheus] Run TestHonorLabelsTrueConfig again
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: Skip Changelog

#9281 [tools] update dependency
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog

#9282 [receiver/prometheusexec] Skip flaky test: TestEndToEnd
  receiver/prometheusexecreceiver/receiver_test.go
Labels: Skip Changelog

#9325 [exporter/prometheusremotewrite] Skip flaky test: Test_PushMetrics/WAL
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: Skip Changelog

#9283 [processor/tailsampling] Cleanly tear down test
  processor/tailsamplingprocessor/factory_test.go
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/tailsamplingprocessor/main_test.go
Labels: Skip Changelog

#9332 [internal/k8sconfig] Configure k8s library to not crash
  internal/k8sconfig/config.go
  internal/k8sconfig/go.mod
Labels: Skip Changelog

#9333 [receiver/googlecloudspanner] Disable flaky test
  receiver/googlecloudspannerreceiver/internal/statsreader/statsreaders_mockedspanner_test.go
Labels: Skip Changelog

#9268 [Makefile] Use full repository name instead of alias in push-tags target
  Makefile
Labels: Skip Changelog

#9357 dependabot updates Mon 18 Apr 2022 08:03:10 PDT
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  exporter/opencensusexporter/go.mod
  exporter/opencensusexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/oauth2clientauthextension/go.mod
  extension/oauth2clientauthextension/go.sum
  go.mod
  go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#9269 Fix key TTL to fix flaky test
  extension/asapauthextension/extension_test.go
Labels: Skip Changelog

#9358 [receiver/iis] Add IIS tests to windows workflow & Fix IIS metrics
  .github/workflows/build-and-test-windows.yml
  receiver/iisreceiver/config_generator.go
  receiver/iisreceiver/scraper.go
  receiver/iisreceiver/scraper_test.go
  receiver/iisreceiver/testdata/integration/expected.json
  receiver/iisreceiver/testdata/scraper/expected.json
Labels: Skip Changelog

#9271 [processor/transform] Add logs data model
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/logs/logs_test.go
Labels: ready-to-merge, Skip Changelog

#9336 [exporter/prometheus] Fix readme typo
  exporter/prometheusexporter/README.md
Labels: Skip Changelog

#9329 [receiver/memcached] Migrate memcached scraper to the new metrics builder
  receiver/memcachedreceiver/config.go
  receiver/memcachedreceiver/doc.go
  receiver/memcachedreceiver/documentation.md
  receiver/memcachedreceiver/factory.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_v2.go
  receiver/memcachedreceiver/scraper.go
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected.json
Labels: Skip Changelog

#9383 Add a note about the memory issue in Prometheus receiver
  CHANGELOG.md
  receiver/prometheusreceiver/README.md
Labels: ready-to-merge

#9367 [k8sclusterreceiver]: Update the `receiver.k8sclusterreceiver.reportCpuMetricsAsDouble` feature gate
  CHANGELOG.md
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/internal/collection/collector.go
Labels: ready-to-merge

#9386 [receiver/mysql] fixing typo
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/testdata/integration/expected.5_7.json
  receiver/mysqlreceiver/testdata/integration/expected.8_0.json
  receiver/mysqlreceiver/testdata/scraper/expected.json
Labels: Skip Changelog

#9392 [exporter/datadog] Fix broken link and typo in README.md
  exporter/datadogexporter/README.md
Labels: Skip Changelog

#9395 Update check-collector-module-version to check for pdata instead of model
  .github/workflows/scripts/check-collector-module-version.sh
Labels: Skip Changelog

#9406 [receiver/kafkametrics]: fix instrumentation scope name
  CHANGELOG.md
  receiver/kafkametricsreceiver/receiver.go
Labels: ready-to-merge

#9405 Remove usage of deprecated configunmarshaler package
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/receivercreator/runner.go
  testbed/testbed/in_process_collector.go
Labels: Skip Changelog

#9365 [processor/k8sattributesprocessor] Add RBAC rules documentation
  processor/k8sattributesprocessor/doc.go
Labels: ready-to-merge, Skip Changelog

#9375 [receiver/sqlserver] Remove problematic integration test
  .github/workflows/build-and-test-windows.yml
  receiver/sqlserverreceiver/integration_test.go
  receiver/sqlserverreceiver/testdata/integration/expected.json
Labels: Skip Changelog

#8979 [receiver/hostmetrics/process_scraper] Rename metadata conflicting wi…
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
Labels: Skip Changelog

#8846 [exporter/datadog] Add `metrics::summaries::mode` setting; deprecate `metrics::report_quantiles`
  CHANGELOG.md
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/config_test.go
  exporter/datadogexporter/config/warn_envvars.go
  exporter/datadogexporter/config/warning_deprecated.go
  exporter/datadogexporter/example/config.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/testdata/config.yaml
Labels: ready-to-merge

#9425 [exporter/datadog] The command should be `/otelcol-contrib` in the example
  CHANGELOG.md
  exporter/datadogexporter/example/example_k8s_manifest.yaml
Labels: ready-to-merge

#9422 [exporter/datadog] Modify deprecation messages to reflect new plan
  CHANGELOG.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/warn_envvars.go
  exporter/datadogexporter/config/warning_deprecated.go
  exporter/datadogexporter/config/warning_deprecated_test.go
Labels: ready-to-merge

#9521 Remove anuraaga from auto_assign.yml
  .github/auto_assign.yml
Labels: Skip Changelog

#9558 Add seed list for the sponsor rotation
  CONTRIBUTING.md
Labels: Skip Changelog

#9580 [chore] enable update-dep for semconv module
  internal/buildscripts/update-dep
Labels: Skip Changelog

#9569 zipkinreceiver: remove unnecessary internal argument
  receiver/zipkinreceiver/trace_receiver.go
Labels: Skip Changelog

#9582 Fix Example readme file to use correct commands for local testing
  examples/demo/README.md
Labels: Skip Changelog

#9581 [chore] add version check for semconv module
  .github/workflows/scripts/check-collector-module-version.sh
Labels: Skip Changelog

#9585 [chore] fix update script
  .github/workflows/scripts/check-collector-module-version.sh
Labels: Skip Changelog

#9587 [Changelog] Move latest merges to Unreleased
  CHANGELOG.md
Labels: Skip Changelog

#9412 Add support and stability level definitions
  README.md
Labels: Skip Changelog

#9416 Add k8s service discovery resource attributes
  CHANGELOG.md
  receiver/prometheusreceiver/internal/otlp_transaction.go
  receiver/prometheusreceiver/internal/otlp_transaction_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: comp:prometheus
