Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-10, with the labels that each got.

#14623 [pkg/ottl] Fix gocritic complaints
  pkg/ottl/contexts/ottldatapoints/datapoints.go
Labels: Skip Changelog

#14637 [docs] fix readme links
  exporter/azuredataexplorerexporter/README.md
Labels: Skip Changelog

#14640 [processor/k8sattributes] Fix argument ordering in calls to `assert.Equal`
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor_test.go
Labels: Skip Changelog

#14689 [CI] Reduce cache download timeout
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#14715 [processor/metricstransform] Remove dependency on OC in tests
  processor/metricstransformprocessor/go.mod
  processor/metricstransformprocessor/go.sum
  processor/metricstransformprocessor/metrics_testcase_builder_test.go
  processor/metricstransformprocessor/metrics_transform_processor_test.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
Labels: Skip Changelog

#14612 [receiver/podmanreceiver] update stability level to in development
  receiver/podmanreceiver/README.md
  receiver/podmanreceiver/factory.go
Labels: Skip Changelog

#14758 [receiver/iis] Fix flaky test by ignoring volatile attribute value
  receiver/iisreceiver/integration_test.go
Labels: Skip Changelog

#14762 [pkg/stanza] move FlusherConfig and SplitterConfig to new file
  pkg/stanza/operator/helper/flusher.go
  pkg/stanza/operator/helper/multiline.go
  pkg/stanza/operator/helper/splitter.go
Labels: Skip Changelog

#14464 Use the new scrape config endpoint for the prometheus receiver
  .chloggen/prometheus_receiver_target_allocator_scrape_config.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
Labels: ready-to-merge, receiver/prometheus

#14619 exporter/datadogexporter: fix problematic memory usage conversion
  .chloggen/datadogexporter-system-metrics-memory-fix.yaml
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/system.go
  exporter/datadogexporter/internal/metrics/system_test.go
  exporter/datadogexporter/internal/metrics/transform.go
  exporter/datadogexporter/internal/metrics/transform_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog

#14784 Add evan-bradley to OTTL and Transform Processor code owners
  .github/CODEOWNERS
Labels: Skip Changelog

#14868 [chore] Rotate the sponsors list
  CONTRIBUTING.md
Labels: Skip Changelog

#14761 exporter/datadogexporter: tidy up
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/internal/clientutil/http.go
  exporter/datadogexporter/internal/clientutil/http_test.go
  exporter/datadogexporter/internal/clientutil/retrier.go
  exporter/datadogexporter/internal/clientutil/retrier_test.go
  exporter/datadogexporter/internal/logs/sender.go
  exporter/datadogexporter/internal/metadata/cache.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/metrics/sketches/sketches.go
  exporter/datadogexporter/internal/metrics/sketches/sketches_test.go
  exporter/datadogexporter/internal/testutil/logs.go
  exporter/datadogexporter/internal/testutil/logs_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/internal/testutil/test_utils_test.go
  exporter/datadogexporter/internal/utils/cache/cache.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: Skip Changelog

#13944 [scrapertest] Stabilize golden files (1/N)
  internal/scrapertest/sort/attributes.go
  internal/scrapertest/sort/attributes_test.go
Labels: Skip Changelog

#13864 [exporter/awsxrayexporter] RFC: SQL segments should use span name for 'url'
  .chloggen/xrayexporter_sql_url_as_span_name.yaml
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/sql.go
  exporter/awsxrayexporter/internal/translator/sql_test.go
Labels: ready-to-merge, comp:aws-xray, exporter/awsxray

#14880 [internal/scrapertest] Fix lint issues from old PR being merged
  internal/scrapertest/sort/attributes.go
  internal/scrapertest/sort/attributes_test.go
Labels: ready-to-merge, Skip Changelog

#14898 [exporter/coralogix] Add support info to readme
  exporter/coralogixexporter/README.md
Labels: Skip Changelog

#12325 [receiver/awscontainerinsight] fix lint error for awscontainerinsightreceiver
  receiver/awscontainerinsightreceiver/config_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/container_info_processor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/cpu_extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/diskio_extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor_helpers_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/fs_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/fs_extractor_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/net_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/testutils/helpers.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/cgroup.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/ecs_instance_info.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/ecs_instance_info_test.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/ecs_task_info.go
  receiver/awscontainerinsightreceiver/internal/ecsInfo/utils.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata.go
  receiver/awscontainerinsightreceiver/internal/host/ec2tags.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/awscontainerinsightreceiver/internal/stores/nodeinfo_test.go
  receiver/awscontainerinsightreceiver/internal/stores/podstore.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awscontainerinsightreceiver/receiver_test.go
Labels: Skip Changelog

#13401 setting TraceID and SpanID fields in Exemplar objects in spanmetricsp…
  .chloggen/spanmetrics_exemplars_type_fields.yaml
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
Labels: bug, ready-to-merge, processor/spanmetrics

#14937 [chore] Update github.com/influxdata/influxdb-observability to 0.2.29
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: Skip Changelog

#14935 [scrapertest] add arg to IgnoreMetricValues
  internal/scrapertest/compare_test.go
  internal/scrapertest/mask.go
  internal/scrapertest/testdata/ignore-single-metric/actual.json
  internal/scrapertest/testdata/ignore-single-metric/expected.json
Labels: Skip Changelog

#12956 [receiver/winperfcounters] Skip Flaky Test_WindowsPerfCounterScraper
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: Skip Changelog

#14933 [pkg/ottl] Rename instrumentation_library to instrumentation_scope in ottltraces
  .chloggen/ottl-fix-trace-is.yaml
  pkg/ottl/contexts/ottltraces/traces.go
  pkg/ottl/contexts/ottltraces/traces_test.go
Labels: ready-to-merge

#14945 [exporter/elasticsearch] Enable errcheck in elasticsearch exporter
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: Skip Changelog

#14948 [exporter/datadog] README: reduce README by adding link to official docs
  exporter/datadogexporter/README.md
Labels: Skip Changelog

#14949 [all] Fix security doc links
  README.md
  exporter/coralogixexporter/README.md
  exporter/datadogexporter/README.md
  exporter/dynatraceexporter/README.md
  exporter/sapmexporter/README.md
Labels: Skip Changelog

#14929 [receiver/awscloudwatch] Fix links for awscloudwatchreceiver status table
  receiver/awscloudwatchreceiver/README.md
Labels: Skip Changelog

#14928 [exporter/sentryexporter] Upgrade github.com/getsentry/sentry-go from 0.13.0 to 0.14.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/sentryexporter/go.mod
  exporter/sentryexporter/go.sum
  exporter/sentryexporter/sentry_exporter.go
  exporter/sentryexporter/sentry_exporter_test.go
  go.mod
  go.sum
Labels: Skip Changelog

#13213 [prometheusreceiver] Fix metrics being grouped into the same metrics family incorrectly
  .chloggen/prometheus-metrics-family-fix.yaml
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: receiver/prometheus

#14795 [exporter/datadog] Add logs example
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples/k8s-chart/daemonset.yaml
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
Labels: Skip Changelog

#15243 Revert "[CI] Reduce cache download timeout"
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#15245 [chore] Cleanup changelog entries that wound up in the old directory
  .chloggen/add-azureblob-receiver.yaml
  .chloggen/system-usage-tweak.yaml
  CHANGELOG.md
  unreleased/14318-fix-kubeletstats-network-errors-bug.yaml
  unreleased/processor-filter_prevent_panic.yaml
Labels: Skip Changelog

#15247 [CI] Fix custom workflow timeouts
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#15274 [chore] Update go.mod for httpcheck receiver
  receiver/httpcheckreceiver/go.mod
  receiver/httpcheckreceiver/go.sum
Labels: Skip Changelog

#14778 [receiver/snowflakereceiver] New Snowflake receiver
  .github/CODEOWNERS
  receiver/snowflakereceiver/Makefile
  receiver/snowflakereceiver/README.md
  receiver/snowflakereceiver/client.go
  receiver/snowflakereceiver/config.go
  receiver/snowflakereceiver/factory.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/metadata.yaml
  receiver/snowflakereceiver/scraper.go
  versions.yaml
Labels: Skip Changelog

#15286 [pkg/loki] add option to encode Loki log lines in logfmt
  .chloggen/loki-exporter-logfmt-support.yaml
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
  pkg/translator/loki/encode.go
  pkg/translator/loki/encode_test.go
  pkg/translator/loki/go.mod
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: comp:grafanalabs, translator/loki

#15288 [processor/cumulativetodelta] Switch feature gate to be enabled by default
  .chloggen/c2d-remove-featuregate.yaml
  processor/cumulativetodeltaprocessor/README.md
  processor/cumulativetodeltaprocessor/processor.go
Labels: ready-to-merge

#14709 [pkg/ottl] Add lists to the OTTL grammar
  .chloggen/ottl-lists.yaml
  .chloggen/transformprocessor-lists.yaml
  pkg/ottl/README.md
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_concat.go
  pkg/ottl/ottlfuncs/func_concat_test.go
  pkg/ottl/parser_test.go
  processor/routingprocessor/internal/common/functions.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: ready-to-merge

#15287 Prometheus fix inf bucket count
  .chloggen/prometheus-fix-inf-bucket-count.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  go.mod
  go.sum
  pkg/translator/prometheusremotewrite/helper.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: bug, ready-to-merge, exporter/prometheus

#15362 [processor/transform] Delete unused functions
  processor/transformprocessor/internal/common/parser.go
Labels: Skip Changelog

#15377 [cmd/configschema] Add CODEOWNERs
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#15375 [processor/{deltatorate, metricsgeneration}] Add CODEOWNERS
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#15373 [exporter/parquet] Add CODEOWNER
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: ready-to-merge, Skip Changelog

#14785 [exporter/elasticsearch] Skip TestExporter_PushTraceRecord flasky test
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: Skip Changelog

#15370 [ALLOWLIST] Reorganize in sections
  .github/ALLOWLIST
Labels: ready-to-merge, Skip Changelog

#15376 Add CODEOWNERS for core components
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#15352 [pkg/stanza] Remove dead link to duration.md
  pkg/stanza/docs/operators/file_input.md
Labels: Skip Changelog

#15369 [processor/resourcedetection] Added mutext to testdectectresource_parallel test to fix race condition
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
Labels: Skip Changelog

#14940 multimod-prerelease: avoid new branch, skip go mod tidy
  Makefile
Labels: ready-to-merge, Skip Changelog

#15665 [chore] Fix ci
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
Labels: release:blocker

#15664 [receiver/hostmetricsreceiver] Docs: add Resource attribute docs
  receiver/hostmetricsreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#15692 [exporter/datadog] Bump Datadog Agent Go modules
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#14596 [receiver/kafkareceiver] enable errcheck
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: Skip Changelog

#15705 [exporter/datadog] Bump modules
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#15246 [exporter/mezmo] Fix HTTP client settings usage
  .chloggen/mezmo_tls-config.yaml
  exporter/mezmoexporter/exporter.go
Labels: bug, ready-to-merge, exporter/mezmo

#14907 [pkg/ottl] Add SpanEvent context
  .chloggen/ottl-spanevents-context.yaml
  pkg/ottl/contexts/internal/ottlcommon/span.go
  pkg/ottl/contexts/internal/ottlcommon/span_test.go
  pkg/ottl/contexts/ottlspanevent/README.md
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/contexts/ottltraces/traces.go
Labels: ready-to-merge
