Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-03, with the labels that each got.

#7874 Add entry to upgrade docker deps
  .github/dependabot.yml
  Makefile
Labels: Stale, Skip Changelog

#8186 [exporters/datadog] Adding rbac manifest into the example_k8s_manifest.yaml
  CHANGELOG.md
  exporter/datadogexporter/example/example_k8s_manifest.yaml
Labels: ready-to-merge

#7939 [exporter/datadog] sync model code
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/model/attributes/attributes.go
  exporter/datadogexporter/internal/model/attributes/attributes_test.go
  exporter/datadogexporter/internal/model/attributes/azure/azure.go
  exporter/datadogexporter/internal/model/attributes/ec2/ec2.go
  exporter/datadogexporter/internal/model/attributes/gcp/gcp.go
  exporter/datadogexporter/internal/model/internal/instrumentationlibrary/metadata.go
  exporter/datadogexporter/internal/model/internal/utils/tags_test.go
  exporter/datadogexporter/internal/model/translator/consumer.go
  exporter/datadogexporter/internal/model/translator/dimensions.go
  exporter/datadogexporter/internal/model/translator/dimensions_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/model/translator/sketches_test.go
  exporter/datadogexporter/internal/model/translator/ttlcache.go
  exporter/datadogexporter/internal/model/translator/ttlcache_test.go
Labels: ready-to-merge, Skip Changelog

#8269 [receiver/prometheus] add test to verify metrics with no labels are handled properly
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: Skip Changelog

#8315 [receiver/podman] update string to semconv
  receiver/podmanreceiver/metrics.go
Labels: Skip Changelog

#7536 [receiver/hostmetrics] Add paging utilization metric
  CHANGELOG.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile_linux.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile_linux_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
Labels: ready-to-merge

#8028 [exporter/clickhouse] Implement consume log logic
  CHANGELOG.md
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/clickhouseexporter/Makefile
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/example/Dockerfile
  exporter/clickhouseexporter/example/datasource.yaml
  exporter/clickhouseexporter/example/docker-compose.yml
  exporter/clickhouseexporter/example/grafana.ini
  exporter/clickhouseexporter/example/otel-collector-config.yml
  exporter/clickhouseexporter/exporter.go
  exporter/clickhouseexporter/exporter_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/factory_test.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
  exporter/clickhouseexporter/testdata/config.yaml
  go.mod
  go.sum
Labels: ready-to-merge

#8345 chore: remove a code owner
  .github/CODEOWNERS
Labels: Skip Changelog

#8343 [receiver/splunkhecreceiver] Remove usage of LogRecord Name
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: Skip Changelog

#8346 [exporter/prw]: Fix test flakes
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/wal.go
Labels: Skip Changelog

#8368 [exporter/prw] fix test flakes
  exporter/prometheusremotewriteexporter/wal.go
Labels: Skip Changelog

#8356 [receiver/hostmetrics] Wrap scraping errors
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
Labels: ready-to-merge, Skip Changelog

#8369 [testing] Ensure all processor components are included in life cycle tests
  internal/components/processors_test.go
Labels: Skip Changelog

#8266 [prometheusreceiver and prometheusremotewriteexporter] Update resource attributes used when translating to/from prometheus
  CHANGELOG.md
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/internal/util.go
Labels: comp:prometheus

#6693 [extension/jaegerremotesampling] Add the HTTP server implementation
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/config.go
  extension/jaegerremotesampling/config_test.go
  extension/jaegerremotesampling/extension.go
  extension/jaegerremotesampling/extension_test.go
  extension/jaegerremotesampling/factory.go
  extension/jaegerremotesampling/factory_test.go
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/jaegerremotesampling/internal/clientconfigmanager.go
  extension/jaegerremotesampling/internal/http.go
  extension/jaegerremotesampling/internal/http_test.go
  extension/jaegerremotesampling/testdata/config.yaml
Labels: Skip Changelog

#8379 [prometheusremotewriteexporter] Drop prometheus exemplar labels when the max length is exceeded
  CHANGELOG.md
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: ready-to-merge, comp:prometheus

#8380 [prometheusremotewriteexporter] Support sending trace id and span id for exemplars
  CHANGELOG.md
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: ready-to-merge, comp:prometheus

#8263 [extension/sigv4authextension] Initial implementation
  .github/CODEOWNERS
  CHANGELOG.md
  exporter/awsprometheusremotewriteexporter/README.md
  exporter/awsprometheusremotewriteexporter/factory.go
  extension/sigv4authextension/Makefile
  extension/sigv4authextension/README.md
  extension/sigv4authextension/config.go
  extension/sigv4authextension/config_test.go
  extension/sigv4authextension/design.md
  extension/sigv4authextension/doc.go
  extension/sigv4authextension/extension.go
  extension/sigv4authextension/extension_test.go
  extension/sigv4authextension/factory.go
  extension/sigv4authextension/factory_test.go
  extension/sigv4authextension/go.mod
  extension/sigv4authextension/go.sum
  extension/sigv4authextension/images/E2EDiagram.png
  extension/sigv4authextension/images/Sigv4ComponentDiagram.png
  extension/sigv4authextension/signingroundtripper.go
  extension/sigv4authextension/signingroundtripper_test.go
  extension/sigv4authextension/testdata/config.yaml
  extension/sigv4authextension/testdata/config_bad.yaml
  versions.yaml
Labels: ready-to-merge

#8513 Fix extension/sigv4authextension to use same collector version
  extension/sigv4authextension/factory.go
  extension/sigv4authextension/go.mod
  extension/sigv4authextension/go.sum
Labels: Skip Changelog

#8491 [googlecloudexporter] Update ports to fix running the example locally
  exporter/googlecloudexporter/README.md
Labels: Skip Changelog

#8545 [reciever/*log] Revert syslog-go dependency update.
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/stanza/go.mod
  internal/stanza/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
Labels: Skip Changelog

#8375 [exporter/datadog] Decouple `Config` structs from internal components
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/internal/metadata/config.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/metrics/utils.go
  exporter/datadogexporter/internal/metrics/utils_test.go
  exporter/datadogexporter/internal/utils/http.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/trace_connection.go
  exporter/datadogexporter/traces_exporter.go
Labels: ready-to-merge, Skip Changelog

#8247 updating codeowners
  .github/CODEOWNERS
Labels: Skip Changelog

#8557 [receiver/hostmetrics] Skip a failing test on unsupported systems
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: Skip Changelog

#8359 [exporter/datadog] Deprecate `config.Config.OnceMetadata` method
  CHANGELOG.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: ready-to-merge

#8789 Bump load test memory limits
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
Labels: Skip Changelog

#8807 dependabot updates Tue 22 Mar 2022 18:19 PDT
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/awsprometheusremotewriteexporter/go.mod
  exporter/awsprometheusremotewriteexporter/go.sum
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  extension/awsproxy/go.mod
  extension/awsproxy/go.sum
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  go.mod
  go.sum
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/cwlogs/go.mod
  internal/aws/cwlogs/go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/proxy/go.mod
  internal/aws/proxy/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
Labels: Skip Changelog

#8813 Add pmm-sumo to auto-assign
  .github/auto_assign.yml
Labels: Skip Changelog

#8808 Bump github.com/DataDog/datadog-agent/pkg/quantile
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#8339 [processor/transform] Extract function arguments into separate object…
  processor/transformprocessor/internal/traces/condition.go
  processor/transformprocessor/internal/traces/condition_test.go
  processor/transformprocessor/internal/traces/expression.go
  processor/transformprocessor/internal/traces/expression_test.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/traces.go
  processor/transformprocessor/internal/traces/traces_test.go
Labels: ready-to-merge, Skip Changelog

#8825 Bump github.com/tencentcloud/tencentcloud-sdk-go/tencentcloud/common
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/mdatagen/go.mod
  cmd/mdatagen/go.sum
  exporter/googlecloudexporter/go.sum
  exporter/sapmexporter/go.sum
  exporter/stackdriverexporter/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#8550 Run unit tests on 1.18 in addition to 1.17
  .github/workflows/build-and-test.yml
Labels: ready-to-merge, Skip Changelog

#8929 Add debug flag to print metrics payload and sketches payload
  CHANGELOG.md
  exporter/datadogexporter/metrics_exporter.go
Labels: ready-to-merge

#8835 Upgrade to log-collection v0.28.0
  CHANGELOG.md
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/googlecloudexporter/go.sum
  exporter/sapmexporter/go.sum
  exporter/stackdriverexporter/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  go.mod
  go.sum
  internal/stanza/go.mod
  internal/stanza/go.sum
  internal/stanza/register.go
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/filelogreceiver/testdata/config.yaml
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  testbed/datasenders/k8s.go
  testbed/datasenders/stanza.go
Labels: ready-to-merge

#8784 [exporter/datadog] Deprecate `service` and `version` settings
  CHANGELOG.md
  exporter/datadogexporter/README.md
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/example/config.yaml
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/testdata/config.yaml
Labels: ready-to-merge

#8984 [Healthcheck extension] Update readme
  extension/healthcheckextension/README.md
Labels: Skip Changelog
