Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-07, with the labels that each got.

#10448 [docs] Add status header for collectd receiver
  receiver/collectdreceiver/README.md
Labels: Skip Changelog

#11856 fix lint for processor metricstransform
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/datapoint_aggregation.go
  processor/metricstransformprocessor/metrics_testcase_builder_test.go
  processor/metricstransformprocessor/metrics_transform_processor_test.go
Labels: Skip Changelog

#11855 [changelog] Fix an entry for recent exporter/kafkaexporter commit
  CHANGELOG.md
Labels: Skip Changelog

#11860 docs: document `resource_to_telemetry_conversion`
  exporter/prometheusremotewriteexporter/README.md
Labels: Skip Changelog

#11862 [receiver/fluentforward] Add newlines to avoid garbled test output
  receiver/fluentforwardreceiver/conversion_test.go
  receiver/fluentforwardreceiver/receiver_test.go
Labels: Skip Changelog

#11878 fix lint error for processor resourcedetection
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/resourcedetection_processor_test.go
Labels: Skip Changelog

#11876 [exporter/clickhouse] Change status to alpha
  exporter/clickhouseexporter/README.md
Labels: Skip Changelog

#10331 [docs] Add status header for sapm exporter
  exporter/sapmexporter/README.md
Labels: ready-to-merge, Skip Changelog

#11108 [docs] Add status header for Splunk HEC receiver
  receiver/splunkhecreceiver/README.md
Labels: Stale, Skip Changelog

#10478 Add status header for kafkametrics receiver
  receiver/kafkametricsreceiver/README.md
Labels: Stale, Skip Changelog

#10455 [docs] Add status header for fluentforward receiver
  receiver/fluentforwardreceiver/README.md
Labels: Stale, Skip Changelog

#11879 fix lint for processor routing
  processor/routingprocessor/extract_test.go
  processor/routingprocessor/processor_test.go
  processor/routingprocessor/router.go
Labels: Skip Changelog

#11864 [cmd/chloggen] Migrate unreleased changelog entries to ./unreleased/
  CHANGELOG.md
  unreleased/aerospikerec-fix-namespaces.yaml
  unreleased/coralogixexp-fix-bearer.yaml
  unreleased/coralogixexp-metrics.yaml
  unreleased/datadog-hostname-preview.yaml
  unreleased/datadogexp-span-name-remappings-fix.yaml
  unreleased/datadogexp-unify-traces.yaml
  unreleased/enable-sqlquery.yaml
  unreleased/filestorage-copy-get.yaml
  unreleased/filterproc-spans.yaml
  unreleased/flinkmetrics-add-attr-vals.yaml
  unreleased/kafkaexp-fix-topic.yaml
  unreleased/logzio-deprecate-several-config-opts.yaml
  unreleased/logzio-support-exporterhelper.yaml
  unreleased/prom-add-target-info-resource-attributes.yaml
  unreleased/prometheus-auto-rename-units.yaml
  unreleased/promexp-examplars-histo.yaml
  unreleased/redactionproc-allow-all-keys-fix.yaml
  unreleased/saphana-fix-mem-query.yaml
  unreleased/sapmexp-add-log-conf.yaml
  unreleased/sapmrec-fix-multi-pipeline.yaml
  unreleased/signalfxrec-fix-multi-pipeline.yaml
  unreleased/simpleprom-deprecate-tls-settings.yaml
  unreleased/splunkhec-fix-multi-pipeline.yaml
  unreleased/splunkhecexp-update-limits.yaml
  unreleased/sqlquery-core-functionality.yaml
  unreleased/tracegen-add-attrs.yaml
  unreleased/transformproc-ismatch.yaml
  unreleased/transformproc-replace-patterns.yaml
Labels: Skip Changelog

#11854 fix errcheck issue for processor metricsgeneration
  processor/metricsgenerationprocessor/factory.go
Labels: Skip Changelog

#11874 added a picture for demo components
  examples/demo/README.md
  examples/demo/demo-arch.png
Labels: Skip Changelog

#11851 [processor/cumulativetodelta] Add warning section
  processor/cumulativetodeltaprocessor/README.md
Labels: Skip Changelog

#11882 fix lint for spanmetricsprocessor
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
Labels: Skip Changelog

#11883 fix lint for tailsamplingprocessor
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: Skip Changelog

#10373 add error checks to googlecloudexporter package.
  CHANGELOG.md
  exporter/googlecloudexporter/legacymetrics.go
  exporter/googlecloudexporter/legacymetrics_test.go
Labels: Skip Changelog

#11833 fix errcheck issue for processor groupbytrace
  processor/groupbytraceprocessor/event.go
  processor/groupbytraceprocessor/processor.go
  processor/groupbytraceprocessor/processor_test.go
  processor/groupbytraceprocessor/storage_memory_test.go
Labels: Skip Changelog

#11885 fix errcheck lint issue for carbonreceiver
  receiver/carbonreceiver/receiver_test.go
  receiver/carbonreceiver/reporter_test.go
Labels: Skip Changelog

#11890 [internal/aws/proxy] enable gocritic in internal/aws/proxy
  internal/aws/proxy/conn.go
Labels: Skip Changelog

#11891 enable error check in internal docker
  internal/docker/docker_test.go
Labels: Skip Changelog

#11104 [docs] Add status header for SAP HANA receiver
  receiver/saphanareceiver/README.md
Labels: Skip Changelog

#12080 [cmd/chloggen] Remove limitation on number of changelog entries.
  .github/workflows/changelog.yml
Labels: Skip Changelog

#11894 [exporter/datadog] Fix hostname reported on GKE
  exporter/datadogexporter/internal/metadata/internal/gcp/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider_test.go
  unreleased/datadog-exporter-gke-hostname.yaml
Labels: ready-to-merge

#12081 [receiver/wavefrontreceiver]Enable errcheck in receiver/wavefrontreceiver
  receiver/wavefrontreceiver/receiver_test.go
Labels: Skip Changelog

#12074 Revert "Adding a feature to prometheusexporter to export exemplars along with… (#9945)"
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/config.go
  exporter/prometheusexporter/factory.go
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusexporter/prometheus.go
  go.mod
  go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  testbed/go.mod
  testbed/go.sum
  unreleased/promexp-examplars-histo.yaml
Labels: Skip Changelog, release:blocker

#12075 [processor/resourceprocessor] Add a link to the Attributes Processor docs
  processor/resourceprocessor/README.md
Labels: Skip Changelog

#12076 fix errcheck issue for internalcontainertest
  internal/containertest/container.go
Labels: Skip Changelog

#10342 [docs] Add status header for oidc extension
  extension/oidcauthextension/README.md
Labels: Skip Changelog

#12096 [docs] add status header for kafka receiver
  receiver/kafkareceiver/README.md
Labels: Skip Changelog

#12115 exporter/datadogexporter: fix flaky TestTraceExporter
  exporter/datadogexporter/config.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: Skip Changelog

#12106 [CI] Allow changing existing `/unreleased/` files
  .github/workflows/changelog.yml
Labels: Skip Changelog

#12122 [all] Bump ionos-cloud version
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  go.mod
  go.sum
  processor/spanmetricsprocessor/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog

#12118 [receiver/mongodbatlas] Fix test cert generation
  Makefile
Labels: Skip Changelog

#12119 [docs] Explain which changes warrant a changelog entry
  CONTRIBUTING.md
Labels: Skip Changelog

#12105 [receiver/hostmetrics] Unify feature gates for `direction` removal
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  unreleased/hostmetrics-remove-direction-paging.yaml
  unreleased/hostmetrics-rm-direction-process.yaml
  unreleased/hostmetrics-rm-direction.yaml
  unreleased/hostmetricsrec-rm-direction.yaml
Labels: release:blocker

#10441 [docs] Add status header for awscontainerinsight receiver
  receiver/awscontainerinsightreceiver/README.md
Labels: Skip Changelog, receiver/awscontainerinsight

#12090 [pkg/stanza] Remove duplicate test
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/operator/input/file/file_test.go
Labels: Skip Changelog

#12142 [docs] Add status header for asapauth extension
  extension/asapauthextension/README.md
Labels: Skip Changelog

#12124 [receiver/statsd] Fix metrics with a colon
  receiver/statsdreceiver/protocol/statsd_parser.go
  unreleased/statsd-accept-colon-on-values-of-dimensions.yaml
Labels: Skip Changelog

#12158 [exporter/googlemanagedprometheus] Add contrib disro to GMP exporter readme
  exporter/googlemanagedprometheusexporter/README.md
Labels: Skip Changelog

#12136 [pkg/stanza] Remove unused config fields
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog

#12163 [cmd/chloggen] Update TEMPLATE.yaml
  unreleased/TEMPLATE.yaml
Labels: Skip Changelog

#12171 [changelog] Move missed changelog entry into 0.55.0 release notes
  CHANGELOG.md
  unreleased/hostmetrics-rm-direction.yaml
Labels: ready-to-merge, Skip Changelog

#12139 [receiver/redisreceiver] Add redis.version as resource attribute
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_metrics_v2.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/redis_scraper.go
  unreleased/redisreceiver-version.yaml
Labels: ready-to-merge

#12128 [Makefile] Add 'clean' target
  Makefile
Labels: Skip Changelog

#12132 [docs] add status header for schemaprocessor
  processor/schemaprocessor/README.md
Labels: Skip Changelog

#11783 [processor/transform] Added .string accessor for traceId and spanId
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/common/parser.go
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/logs/logs_test.go
  processor/transformprocessor/internal/traces/traces.go
  processor/transformprocessor/internal/traces/traces_test.go
  unreleased/transformproc-string-accessor.yaml
Labels: ready-to-merge

#12183 [docs] Add status header for vcenterreceiver
  receiver/vcenterreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#12192 [docs] Update several receiver readmes to indicate inclusion in contr…
  receiver/activedirectorydsreceiver/README.md
  receiver/aerospikereceiver/README.md
  receiver/bigipreceiver/README.md
  receiver/flinkmetricsreceiver/README.md
  receiver/iisreceiver/README.md
Labels: ready-to-merge, Skip Changelog

#12195 [CI] Print result of unreleased yaml detection check
  .github/workflows/changelog.yml
Labels: Skip Changelog

#12138 [pkg/stanza] Clean up the way readers are instantiated
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/reader.go
Labels: Skip Changelog

#12129 [pkg/stanza/fileconsumer] Pull file attribute resolver out of reader
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/reader.go
Labels: Skip Changelog

#10421 Refactor podman
  receiver/podmanreceiver/go.mod
  receiver/podmanreceiver/libpod_client.go
  receiver/podmanreceiver/libpod_client_test.go
  receiver/podmanreceiver/libpod_data.go
  receiver/podmanreceiver/metrics.go
  receiver/podmanreceiver/metrics_test.go
  receiver/podmanreceiver/podman.go
  receiver/podmanreceiver/podman_client_test.go
  receiver/podmanreceiver/podman_test.go
  receiver/podmanreceiver/receiver.go
  receiver/podmanreceiver/receiver_test.go
  unreleased/refactor_podman.yaml
Labels: ready-to-merge

#11771 [pkg/telemetryquerylanguage] Add Telemetry Query Language package
  .github/CODEOWNERS
  go.mod
  pkg/telemetryquerylanguage/Makefile
  pkg/telemetryquerylanguage/go.mod
  pkg/telemetryquerylanguage/go.sum
  pkg/telemetryquerylanguage/tql/CONTRIBUTING.md
  pkg/telemetryquerylanguage/tql/README.md
  pkg/telemetryquerylanguage/tql/condition.go
  pkg/telemetryquerylanguage/tql/condition_test.go
  pkg/telemetryquerylanguage/tql/expression.go
  pkg/telemetryquerylanguage/tql/expression_test.go
  pkg/telemetryquerylanguage/tql/functions.go
  pkg/telemetryquerylanguage/tql/functions_test.go
  pkg/telemetryquerylanguage/tql/parser.go
  pkg/telemetryquerylanguage/tql/parser_test.go
  pkg/telemetryquerylanguage/tql/tqltest/tqltest.go
  unreleased/issue-11751-move-tql.yaml
  versions.yaml
Labels: ready-to-merge

#12212 Add @rogercoll codeowner for podmanreceiver
  .github/CODEOWNERS
Labels: Skip Changelog

#12204 [receive/jmx] fix lint for jmxreceiver
  receiver/jmxreceiver/internal/subprocess/subprocess.go
Labels: Skip Changelog

#12214 [receiver/k8scluster] fix lint error for k8sclusterreceiver
  receiver/k8sclusterreceiver/internal/collection/metricsstore_test.go
  receiver/k8sclusterreceiver/internal/collection/pods.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: Skip Changelog

#12205 [exporter/honeycomb] fix lint for honeycombexporter
  exporter/honeycombexporter/honeycomb.go
  exporter/honeycombexporter/honeycomb_test.go
Labels: Skip Changelog

#11884 [processor/spanmetrics] Remove manually added catch-all bucket
  processor/spanmetricsprocessor/factory_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  unreleased/spanmetricsproc-fix-bucket-counts.yaml
Labels: ready-to-merge

#12216 Remove @paulosman as codeowner for exporter/honeycombexporter
  .github/CODEOWNERS
Labels: ready-to-merge, Skip Changelog

#11865 [exporter/datadog] Remove outdated information from README
  exporter/datadogexporter/README.md
Labels: Skip Changelog

#11832 [tracegen] Add unit test for OTLP attributes flag
  tracegen/internal/tracegen/config.go
  tracegen/internal/tracegen/config_test.go
Labels: Skip Changelog

#11139 [docs]Add status header for jaegerremotesampling
  extension/jaegerremotesampling/README.md
Labels: Skip Changelog

#12218 [chore] update sponsor list
  CONTRIBUTING.md
Labels: Skip Changelog

#11787 [processor/transform] Add enum capabilities to grammar and contexts
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/internal/common/condition.go
  processor/transformprocessor/internal/common/condition_test.go
  processor/transformprocessor/internal/common/expression.go
  processor/transformprocessor/internal/common/expression_test.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/common/functions_test.go
  processor/transformprocessor/internal/common/parser.go
  processor/transformprocessor/internal/common/parser_test.go
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/logs/logs_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/metrics/metrics_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/internal/traces/traces.go
  processor/transformprocessor/internal/traces/traces_test.go
  unreleased/issue-10349-2.yaml
  unreleased/issue-10349.yaml
Labels: ready-to-merge

#12328 [internal/aws/cwlogs] Enabling gocritic / errcheck
  internal/aws/cwlogs/cwlog_client.go
  internal/aws/cwlogs/cwlog_client_test.go
  internal/aws/cwlogs/pusher.go
  internal/aws/cwlogs/pusher_test.go
Labels: ready-to-merge, Skip Changelog

#12333 [chore] skip flaky test TestOracleDBIntegration
  receiver/sqlqueryreceiver/integration_test.go
Labels: Skip Changelog

#12088 [sqlqueryreceiver] - add timestamp to metrics
  receiver/sqlqueryreceiver/metrics.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/scraper.go
  unreleased/sqlqr-ts.yaml
Labels: ready-to-merge

#12135 [pkg/stanza] Extract a reader factory
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/fingerprint.go
  pkg/stanza/fileconsumer/fingerprint_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
Labels: Skip Changelog

#12296 [CI] Never skip required matrix-rollup jobs
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#12352 [exporter/datadog] Use `github.com/DataDog/datadog-agent/pkg/otlp/model` for attributes
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/model/attributes/attributes.go
  exporter/datadogexporter/internal/model/attributes/attributes_test.go
  exporter/datadogexporter/internal/model/attributes/azure/azure.go
  exporter/datadogexporter/internal/model/attributes/azure/azure_test.go
  exporter/datadogexporter/internal/model/attributes/ec2/ec2.go
  exporter/datadogexporter/internal/model/attributes/ec2/ec2_test.go
  exporter/datadogexporter/internal/model/attributes/gcp/gcp.go
  exporter/datadogexporter/internal/model/attributes/gcp/gcp_test.go
  exporter/datadogexporter/internal/model/attributes/process.go
  exporter/datadogexporter/internal/model/attributes/process_test.go
  exporter/datadogexporter/internal/model/attributes/source.go
  exporter/datadogexporter/internal/model/attributes/source_test.go
  exporter/datadogexporter/internal/model/attributes/system.go
  exporter/datadogexporter/internal/model/attributes/system_test.go
  exporter/datadogexporter/internal/model/translator/exponential_histograms_translator_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_benchmark_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_test.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: ready-to-merge, Skip Changelog

#12353 Revert "[CI] Never skip required matrix-rollup jobs"
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#12351 [dynatraceexporter] Update Changelog entry to be breaking instead
  unreleased/dt-updates.yaml
Labels: Skip Changelog

#12299 [awsxrayreceiver]: End obsreport span when poller loop completes successfully
  receiver/awsxrayreceiver/internal/udppoller/poller.go
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
  receiver/awsxrayreceiver/receiver_test.go
  unreleased/fix_xrayreceiver_pollingSpans.yaml
Labels: ready-to-merge

#12219 Remove anuraaga from transformprocessor reviewers
  .github/CODEOWNERS
Labels: Skip Changelog

#11559 [receiver/solacereceiver] Solace Receiver (#10572)
  .github/CODEOWNERS
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/components/components.go
  internal/components/receivers_test.go
  receiver/solacereceiver/Makefile
  receiver/solacereceiver/README.md
  receiver/solacereceiver/config.go
  receiver/solacereceiver/config_test.go
  receiver/solacereceiver/doc.go
  receiver/solacereceiver/factory.go
  receiver/solacereceiver/factory_test.go
  receiver/solacereceiver/go.mod
  receiver/solacereceiver/go.sum
  receiver/solacereceiver/messaging_service.go
  receiver/solacereceiver/messaging_service_test.go
  receiver/solacereceiver/model/README.md
  receiver/solacereceiver/model/receive_v1.proto
  receiver/solacereceiver/model/v1/receive_v1.pb.go
  receiver/solacereceiver/observability.go
  receiver/solacereceiver/observability_test.go
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/receiver_test.go
  receiver/solacereceiver/testdata/config.yaml
  receiver/solacereceiver/testdata/config_invalid_noauth.yaml
  receiver/solacereceiver/testdata/config_invalid_noqueue.yaml
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_test.go
  unreleased/solacereceiver.yaml
  versions.yaml
Labels: Stale

#12410 Add kentquirk to transformprocessor and TQL.
  .github/CODEOWNERS
Labels: Skip Changelog

#12407 [testbed] Allow alternate memory range when ballast appears to be in RSS
  testbed/tests/e2e_test.go
Labels: Skip Changelog

#12481 [receiver/mongodbatlas] fix lint for mongodbatlasreceiver
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
Labels: ready-to-merge, Skip Changelog

#12483 exporter/datadogexporter: fix reported version
  exporter/datadogexporter/traces_exporter.go
Labels: Skip Changelog

#12356 [CI] Never skip required matrix rollup jobs
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#12411 [chore] add workflow to ping code owners
  .github/workflows/ping-codeowners.yml
  .github/workflows/scripts/ping-codeowners.sh
Labels: Skip Changelog

#12405 [testbed] Raise CPU limits on filelog tests
  testbed/tests/log_test.go
Labels: Skip Changelog

#12109 exporters/datadogexporter: update and improve examples
  exporter/datadogexporter/example/example_custom_sampler/example_custom_sampler.go.example
  exporter/datadogexporter/example/example_k8s_manifest.yaml
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples/k8s-chart/daemonset.yaml
  exporter/datadogexporter/examples/k8s-chart/deployment.yaml
  exporter/datadogexporter/examples/k8s-chart/roles.yaml
  exporter/datadogexporter/examples/k8s-chart/serviceaccount.yaml
Labels: Skip Changelog

#12493 Remove pmm-sumo as Approver
  .github/auto_assign.yml
  README.md
Labels: Skip Changelog

#12496 [chore] don't ping if label applied by code owner
  .github/workflows/ping-codeowners.yml
  .github/workflows/scripts/ping-codeowners.sh
Labels: Skip Changelog

#12497 [chore] narrow down components before pinging owner
  .github/workflows/scripts/ping-codeowners.sh
Labels: Skip Changelog

#12510 [receiver/dotnetdiagnosticsreceiver/metrics]enable gocritic
  receiver/dotnetdiagnosticsreceiver/metrics/converter.go
Labels: Skip Changelog

#12512 [receiver/hostmetricsreceiver/internal/scraper/cpuscraper] Enable gocritic
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper_test.go
Labels: Skip Changelog

#12513 [receiver/hostmetricsreceiver/internal/scraper/loadscraper]Enable gocritic
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper.go
Labels: Skip Changelog

#12517 [chore] fix changelog job check
  .github/workflows/changelog.yml
Labels: Skip Changelog

#12501 [receiver/signalfxreceiver] enable gocritic
  receiver/signalfxreceiver/signalfxv2_event_to_logdata.go
Labels: Skip Changelog

#12515 [exporter/signalfxexporter/internal/translation]Enable gocritic
  exporter/signalfxexporter/internal/translation/converter.go
  exporter/signalfxexporter/internal/translation/delta_translator.go
  exporter/signalfxexporter/internal/translation/translator.go
Labels: Skip Changelog

#11551 [internal/docker] add errcheck
  internal/docker/docker_test.go
Labels: Skip Changelog

#12500 [receiver/googlecloudspannerreceiver/internal ]enable gocritic
  receiver/googlecloudspannerreceiver/internal/statsreader/statements.go
  receiver/googlecloudspannerreceiver/internal/statsreader/timestampsgenerator.go
Labels: Skip Changelog

#12502 [receiver/skywalkingreceiver]enable gocritic
  receiver/skywalkingreceiver/sw_dummy_response_service.go
  receiver/skywalkingreceiver/trace_receiver_test.go
Labels: Skip Changelog

#12113 [exporter/datadog] Promote `exporter.datadog.hostname.preview` feature gate to beta
  exporter/datadogexporter/config.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/host_test.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/testdata/config.yaml
  exporter/datadogexporter/traces_exporter_test.go
  unreleased/datadog-exporter-change-default-hostname-source.yaml
  unreleased/datadog-exporter-promote-to-beta-feature-gate.yaml
Labels: ready-to-merge

#12511 [receiver/dotnetdiagnosticsreceiver/network] Enable gocritic
  receiver/dotnetdiagnosticsreceiver/network/reader.go
Labels: ready-to-merge, Skip Changelog

#12514 [exporter/splunkhecexporter] Enable gocritic
  exporter/splunkhecexporter/metricdata_to_splunk_test.go
Labels: ready-to-merge, Skip Changelog

#12337 [pkg/telemetryquerylanguage] Add enums to TQL
  pkg/telemetryquerylanguage/tql/README.md
  pkg/telemetryquerylanguage/tql/boolean_value.go
  pkg/telemetryquerylanguage/tql/boolean_value_test.go
  pkg/telemetryquerylanguage/tql/expression.go
  pkg/telemetryquerylanguage/tql/expression_test.go
  pkg/telemetryquerylanguage/tql/functions.go
  pkg/telemetryquerylanguage/tql/functions_test.go
  pkg/telemetryquerylanguage/tql/lexer_test.go
  pkg/telemetryquerylanguage/tql/parser.go
  pkg/telemetryquerylanguage/tql/parser_test.go
  unreleased/issue-11751-add-enum-to-tql.yaml
Labels: Skip Changelog

#12499 [receiver/googlecloudspannerreceiver] Enable gocritic
  receiver/googlecloudspannerreceiver/config.go
Labels: Skip Changelog

#12504 [receiver/statsdreceiver/protocol] enbale gocritic
  receiver/statsdreceiver/protocol/metric_translator.go
  receiver/statsdreceiver/protocol/statsd_parser.go
Labels: ready-to-merge, Skip Changelog

#12557 [receiver/solacereceiver]: Removed transport from README.md to match implementation
  receiver/solacereceiver/README.md
Labels: Skip Changelog

#12560 [chore] fix context path
  .github/workflows/tracegen.yml
Labels: ready-to-merge

#12567 [ci] disable g112 to unblock CI
  .golangci.yml
Labels: Skip Changelog

#12519 [receiver/podman] fix lint for podmanreceiver
  receiver/podmanreceiver/receiver_test.go
Labels: ready-to-merge, Skip Changelog

#12506 [testbed/datareceivers ] enable gocritic
  testbed/datareceivers/mockawsxraydatareceiver.go
Labels: Skip Changelog

#12562 [exporter/datadog] Remove `internal/model` in favor of Datadog Agent module
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/model/internal/instrumentationlibrary/metadata.go
  exporter/datadogexporter/internal/model/internal/instrumentationlibrary/metadata_test.go
  exporter/datadogexporter/internal/model/internal/instrumentationscope/metadata.go
  exporter/datadogexporter/internal/model/internal/instrumentationscope/metadata_test.go
  exporter/datadogexporter/internal/model/internal/testutils/test_utils.go
  exporter/datadogexporter/internal/model/internal/utils/tags.go
  exporter/datadogexporter/internal/model/internal/utils/tags_test.go
  exporter/datadogexporter/internal/model/translator/config.go
  exporter/datadogexporter/internal/model/translator/consumer.go
  exporter/datadogexporter/internal/model/translator/dimensions.go
  exporter/datadogexporter/internal/model/translator/dimensions_test.go
  exporter/datadogexporter/internal/model/translator/exponential_histograms_translator.go
  exporter/datadogexporter/internal/model/translator/exponential_histograms_translator_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_benchmark_test.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/model/translator/sketches_test.go
  exporter/datadogexporter/internal/model/translator/ttlcache.go
  exporter/datadogexporter/internal/model/translator/ttlcache_test.go
  exporter/datadogexporter/metrics_exporter.go
  go.mod
  go.sum
Labels: Skip Changelog

#12524 [processor/attributesprocessor] Fix README
  processor/attributesprocessor/README.md
Labels: ready-to-merge, Skip Changelog

#12592 [receiver/signalfx]fix lint for signalfxreceiver
  receiver/signalfxreceiver/receiver.go
  receiver/signalfxreceiver/receiver_test.go
Labels: Skip Changelog

#12606 [codeowners] remove pmcollins from dotnet diagnostics
  .github/CODEOWNERS
Labels: Skip Changelog

#12612 [pkg/translator/jaeger] Skip flaky test TestProtoBatchesToInternalTraces
  pkg/translator/jaeger/jaegerproto_to_traces_test.go
Labels: Skip Changelog

#12619 [exporter/humio] [docs] Update links to documentation
  CHANGELOG.md
  exporter/humioexporter/README.md
Labels: Skip Changelog

#12605 [processor/filterprocessor] fix error in documentation (regex / regexp)
  processor/filterprocessor/README.md
Labels: ready-to-merge, Skip Changelog

#12630 Remove unnecessary entries in ALLOWLIST
  .github/ALLOWLIST
Labels: Skip Changelog

#12624 Add CODEOWNERS for `pkg/winperfcounters`
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#12635 Enable gocritic in internal/aws/containerinsight
  internal/aws/containerinsight/const.go
  internal/aws/containerinsight/ecsconst.go
  internal/aws/containerinsight/k8sconst.go
  internal/aws/containerinsight/utils_test.go
Labels: Skip Changelog

#12594 [exporter/datadog] Remove deprecated configuration options from YAML example
  exporter/datadogexporter/examples/collector.yaml
Labels: ready-to-merge, Skip Changelog

#12627 Add CODEOWNERS for `testbed/mockdatarreceivers/mockawsxrayreceiver`
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#12628 Add CODEOWNERS for `extension/storage`
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#12636 [internal/coreinternal/processor/filtermatcher]Enable gocritic
  internal/coreinternal/processor/filtermatcher/attributematcher.go
Labels: Skip Changelog

#12593 [exporter/datadog] Add gateway deployment instructions
  exporter/datadogexporter/examples/collector.yaml
Labels: ready-to-merge, Skip Changelog

#12494 [chore] Add makefile target for generating component labels
  Makefile
Labels: Skip Changelog

#12666 [internal/aws/k8s/k8sclient]Enable gocritic
  internal/aws/k8s/k8sclient/clientset.go
  internal/aws/k8s/k8sclient/endpoint.go
  internal/aws/k8s/k8sclient/endpoint_info.go
  internal/aws/k8s/k8sclient/helpers_test.go
Labels: Skip Changelog

#12650 [pkg] Add README documenting the purpose of the folder
  pkg/README.md
Labels: Skip Changelog

#12625 Add CODEOWNERS for `pkg/translator/signalfx`
  .github/ALLOWLIST
  .github/CODEOWNERS
Labels: Skip Changelog

#12669 [receiver/skywalkingreceiver]enable gocritic
  receiver/skywalkingreceiver/trace_receiver_test.go
Labels: Skip Changelog

#12597 [pkg/telemetryquerylanguage] Create reusable StandardGetSetter
  pkg/telemetryquerylanguage/tql/expression.go
  processor/transformprocessor/internal/common/func_delete_key_test.go
  processor/transformprocessor/internal/common/func_delete_matching_keys_test.go
  processor/transformprocessor/internal/common/func_is_match_test.go
  processor/transformprocessor/internal/common/func_keep_keys_test.go
  processor/transformprocessor/internal/common/func_limit_test.go
  processor/transformprocessor/internal/common/func_replace_all_matches_test.go
  processor/transformprocessor/internal/common/func_replace_all_patterns_test.go
  processor/transformprocessor/internal/common/func_replace_match_test.go
  processor/transformprocessor/internal/common/func_replace_pattern_test.go
  processor/transformprocessor/internal/common/func_set_test.go
  processor/transformprocessor/internal/common/func_truncate_all_test.go
  processor/transformprocessor/internal/common/helper_test.go
  processor/transformprocessor/internal/logs/logs.go
  processor/transformprocessor/internal/metrics/metrics.go
  processor/transformprocessor/internal/traces/traces.go
Labels: Skip Changelog

#12651 [receiver/skywalkingreceiver] Add extra link attributes from skywalking ref.
  receiver/skywalkingreceiver/skywalkingproto_to_traces.go
  unreleased/skywalkingreceiver-fix2.yaml
Labels: ready-to-merge

#12728 metricstransformprocessor/README.md: rename deprecated field
  processor/metricstransformprocessor/README.md
Labels: ready-to-merge, Skip Changelog

#12146 [Schema Processor] Part 2 - Adding internal helper packages
  processor/schemaprocessor/internal/alias/alias.go
  processor/schemaprocessor/internal/fixture/parallel.go
  processor/schemaprocessor/internal/race/disable.go
  processor/schemaprocessor/internal/race/doc.go
  processor/schemaprocessor/internal/race/enable.go
Labels: Skip Changelog

#12478 [chore] Add add-labels workflow
  .github/workflows/add-labels.yml
  .github/workflows/scripts/add-labels.sh
  .github/workflows/scripts/ping-codeowners.sh
  CONTRIBUTING.md
Labels: Skip Changelog

#12752 [exporter/datadogexporter/internal/metadata/valid] Enable gocritic
  exporter/datadogexporter/internal/metadata/valid/valid.go
Labels: Skip Changelog

#11154 fix errcheck issue for internal aws
  internal/aws/awsutil/conn.go
  internal/aws/k8s/k8sclient/endpoint_test.go
  internal/aws/k8s/k8sclient/job_test.go
  internal/aws/k8s/k8sclient/node_test.go
  internal/aws/k8s/k8sclient/pod_test.go
  internal/aws/k8s/k8sclient/replicaset_test.go
  internal/aws/proxy/server_test.go
  internal/aws/xray/testdata/sampleapp/sample.go
  internal/aws/xray/testdata/sampleserver/sample.go
Labels: Skip Changelog

#12589 [pkg/telemetryquerylanguage] Move contexts to package
  pkg/telemetryquerylanguage/contexts/README.md
  pkg/telemetryquerylanguage/contexts/logs/README.md
  pkg/telemetryquerylanguage/contexts/logs/logs.go
  pkg/telemetryquerylanguage/contexts/logs/logs_test.go
  pkg/telemetryquerylanguage/contexts/metrics/README.md
  pkg/telemetryquerylanguage/contexts/metrics/metrics.go
  pkg/telemetryquerylanguage/contexts/metrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/traces/README.md
  pkg/telemetryquerylanguage/contexts/traces/traces.go
  pkg/telemetryquerylanguage/contexts/traces/traces_test.go
  pkg/telemetryquerylanguage/go.mod
  pkg/telemetryquerylanguage/go.sum
  unreleased/issue-11751-move-contexts.yaml
Labels: ready-to-merge

#12750 Enable gocritic in exporter/awsemfexporter
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/util.go
  exporter/awsemfexporter/util_test.go
Labels: ready-to-merge, Skip Changelog

#12643 [exporter/awsxraytranslator] Fixing dropped exception when non-error status code
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  unreleased/aws-exporter-exception-dropping.yaml
Labels: ready-to-merge

#12742 [exporter/prometheusremotewriteexporter] Enable gocritic
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: Skip Changelog

#12765 [receiver/prometheus] Fix handling of datapoint timestamps
  receiver/prometheusreceiver/internal/metricsutil_test.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster.go
  receiver/prometheusreceiver/internal/otlp_metrics_adjuster_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  unreleased/prom-receiver-bugfix.yaml
Labels: bug, ready-to-merge, receiver/prometheus

#12751 [extension/observer] add ID to Endpoint.Env()
  extension/observer/endpoints.go
  extension/observer/endpoints_test.go
  receiver/receivercreator/README.md
  unreleased/addendpointidtoenv.yaml
Labels: ready-to-merge

#12740 [changelog] Correct a changelog entry for metricstransform
  unreleased/metricstransform-remove-deprecated-config-option.yaml
Labels: Skip Changelog

#12774 Change awsutil to use host instead of empty extensions map
  internal/aws/ecsutil/client.go
  internal/aws/ecsutil/client_test.go
  internal/aws/ecsutil/rest_client.go
Labels: Skip Changelog

#12771 [pkg/stanza/fileconsumer] Decouple test setup code
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/fingerprint_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: Skip Changelog

#12784 Upgrade gcp dependencies, to include latest pdata changes
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: dependencies

#12785 Upgrade github.com/influxdata/influxdb-observability/otel2influx to latest tag
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: dependencies

#12760 [pkg/telemetryquerylanguage] Expose Context's transform contexts
  pkg/telemetryquerylanguage/contexts/logs/logs.go
  pkg/telemetryquerylanguage/contexts/logs/logs_test.go
  pkg/telemetryquerylanguage/contexts/metrics/metrics.go
  pkg/telemetryquerylanguage/contexts/metrics/metrics_test.go
  pkg/telemetryquerylanguage/contexts/traces/traces.go
  pkg/telemetryquerylanguage/contexts/traces/traces_test.go
Labels: Skip Changelog
