Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2022-02, with the labels that each got.

#7303 [receiver/mysql] Generate golden files for mysql integration test
  CHANGELOG.md
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/testdata/integration/expected.5_7.json
  receiver/mysqlreceiver/testdata/integration/expected.8_0.json
Labels: ready-to-merge

#7502 [receiver/postgresql] Fix empty metrics
  CHANGELOG.md
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
Labels: ready-to-merge

#7185 [exporter/datadog] Always map conventional attributes to tags
  CHANGELOG.md
  exporter/datadogexporter/internal/translator/metrics_translator.go
  exporter/datadogexporter/internal/translator/metrics_translator_test.go
Labels: Stale

#7526 CI: Change linux distro used in RPM build test
  internal/buildscripts/packaging/fpm/rpm/Dockerfile.test
Labels: Skip Changelog

#7530 Increase memory limit for zipkin testbed test
  testbed/tests/trace_test.go
Labels: Skip Changelog

#7538 [testbed] Fix MetricsFromFile test
  testbed/tests/testdata/k8s-metrics.json
Labels: Skip Changelog

#7541 [testbed] Relax constraint on Carbon metric load test
  testbed/tests/metric_test.go
Labels: ready-to-merge, Skip Changelog

#7545 [receiver/(all scrapers)] Add doc.go w/ metadata gen tag
  receiver/couchbasereceiver/doc.go
  receiver/couchdbreceiver/doc.go
  receiver/elasticsearchreceiver/doc.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/doc.go
  receiver/kafkametricsreceiver/doc.go
  receiver/kubeletstatsreceiver/doc.go
  receiver/memcachedreceiver/doc.go
  receiver/mongodbatlasreceiver/doc.go
  receiver/mongodbreceiver/doc.go
  receiver/mysqlreceiver/doc.go
  receiver/nginxreceiver/doc.go
  receiver/postgresqlreceiver/doc.go
  receiver/rabbitmqreceiver/doc.go
  receiver/redisreceiver/doc.go
  receiver/zookeeperreceiver/doc.go
Labels: ready-to-merge, Skip Changelog

#7513 [receiver/mysql] Report collection errors with scrapererror.AddPartial
  CHANGELOG.md
  receiver/mysqlreceiver/scraper.go
Labels: ready-to-merge

#7550 [receiver/ elasticsearch | postgresql | rabbitmq] Minor refactoring of scraper naming convention
  receiver/elasticsearchreceiver/scraper.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/rabbitmqreceiver/scraper.go
Labels: Skip Changelog

#7549 [receiver/nginx] Update to mdatagen v2
  CHANGELOG.md
  receiver/nginxreceiver/config.go
  receiver/nginxreceiver/doc.go
  receiver/nginxreceiver/factory.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_v2.go
  receiver/nginxreceiver/scraper.go
  receiver/nginxreceiver/scraper_test.go
Labels: ready-to-merge

#7563 [exporter/newrelic] Remove usage of LogRecord Name field
  exporter/newrelicexporter/newrelic_test.go
  exporter/newrelicexporter/transformer.go
  exporter/newrelicexporter/transformer_test.go
Labels: Skip Changelog

#7565 [exporter/loki] Remove usage of LogRecord Name field
  exporter/lokiexporter/encode_json_test.go
  exporter/lokiexporter/exporter.go
  exporter/lokiexporter/exporter_test.go
Labels: Skip Changelog

#7553 [exporter and receiver/signalfx] Remove LogRecord Name field usage
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2.go
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2_test.go
  internal/splunk/common.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata_test.go
Labels: Skip Changelog

#7567 [exporter/dynatrace] Readme - fix TLS' `insecure_skip_verify` config option
  exporter/dynatraceexporter/README.md
Labels: Skip Changelog

#7577 [receiver/collectd] Sanitize string recorded in log
  receiver/collectdreceiver/collectd.go
  receiver/collectdreceiver/go.mod
Labels: Skip Changelog

#7575 [internal/aws] Ensure logged URL is sanitized
  internal/aws/proxy/server.go
Labels: Skip Changelog

#7576 sanitize logged string
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  receiver/influxdbreceiver/receiver.go
Labels: Skip Changelog

#7582 [mdatagen] Fix generation of metric.extended_documentation field
  cmd/mdatagen/documentation.tmpl
  receiver/apachereceiver/documentation.md
  receiver/apachereceiver/metadata.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbreceiver/documentation.md
Labels: Skip Changelog

#7590 [processor/tailsampling] fix AND policy
  processor/tailsamplingprocessor/factory_test.go
  processor/tailsamplingprocessor/processor.go
Labels: Skip Changelog

#7759 [receiver/prometheus] fix test flakes
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: Skip Changelog

#7753 Fix metricstransform processor examples
  processor/metricstransformprocessor/README.md
Labels: Skip Changelog

#7751 [receiver/jaeger] Retry allocating port in test
  receiver/jaegerreceiver/jaeger_agent_test.go
Labels: Skip Changelog

#7749 Update README.md for gcpexporter config
  exporter/googlecloudexporter/README.md
Labels: Skip Changelog

#7573 [receiver/apache] Update to mdatagen v2
  CHANGELOG.md
  receiver/apachereceiver/config.go
  receiver/apachereceiver/doc.go
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/internal/metadata/generated_metrics_v2.go
  receiver/apachereceiver/scraper.go
  receiver/apachereceiver/scraper_test.go
Labels: ready-to-merge

#7594 [receiver/prometheusexec] Ensure factory test checks for the default intervals
  receiver/prometheusexecreceiver/factory_test.go
Labels: Skip Changelog

#7762 Remove usage of LogRecord Name field in tencentcloudlogserviceexporter
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice.go
  exporter/tencentcloudlogserviceexporter/testdata/logservice_log_data.json
Labels: Skip Changelog

#7752 Add pull-request title guideline
  CONTRIBUTING.md
Labels: Skip Changelog

#7770 [exporter/datadog] Bump quantile dep to v0.33.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog

#7767 [exporter/datadog] Remove obsolete configuration warning
  exporter/datadogexporter/config/config.go
  exporter/datadogexporter/config/config_test.go
  exporter/datadogexporter/factory.go
Labels: ready-to-merge, Skip Changelog

#7774 [codeowners] adding pmm-sumo as owner
  .github/CODEOWNERS
Labels: Skip Changelog

#7773 [testbed] Increase CPU limit on kubernetes_container test
  testbed/tests/log_test.go
Labels: ready-to-merge, Skip Changelog

#7783 [exporter/alibabacloudlogservice] Remove name attribute from logrecord
  exporter/alibabacloudlogserviceexporter/logsdata_to_logservice.go
  exporter/alibabacloudlogserviceexporter/testdata/logservice_log_data.json
Labels: Skip Changelog

#7777 Fixes (#6734) CPU Reserved Should Be 1024 Per VCPU ECS Container Insi…
  CHANGELOG.md
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/accumulator.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/constant.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/translator.go
Labels: ready-to-merge

#7790 Remove unused interface, hide unnecessary internal public structs
  internal/docker/docker.go
  internal/docker/matcher.go
  internal/docker/matcher_test.go
Labels: Skip Changelog

#7792 Refactor signalfx exporter converter to accept whole metrics
  exporter/signalfxexporter/dpclient.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/translation/converter.go
  exporter/signalfxexporter/internal/translation/converter_test.go
  exporter/signalfxexporter/internal/translation/from_metrics.go
  exporter/signalfxexporter/internal/translation/translator_test.go
Labels: Skip Changelog

#7794 [build] hide lengthy mispell command
  Makefile.Common
Labels: Skip Changelog

#7824 Update dependabot file, change github action to check for this.
  .github/dependabot.yml
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#7877 [internal/common]: Move testing/util to maps, usage outside of tests already
  exporter/signalfxexporter/internal/translation/converter_test.go
  internal/common/maps/maps.go
  internal/common/maps/maps_test.go
  pkg/translator/signalfx/from_metrics_test.go
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
  receiver/k8sclusterreceiver/internal/collection/containers.go
  receiver/k8sclusterreceiver/internal/collection/metadata.go
  receiver/k8sclusterreceiver/internal/collection/nodes.go
  receiver/k8sclusterreceiver/internal/collection/pods.go
Labels: Skip Changelog

#7880 Hacky quick fix to unblock the other PRs
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#7899 Fix to run trace correctness tests when using make run-correctness-traces-tests
  testbed/Makefile
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/testbed/components.go
  testbed/testbed/in_process_collector.go
  testbed/testbed/test_case.go
Labels: Skip Changelog

#7902 [build] make it easier to use other versions of go
  Makefile
  Makefile.Common
Labels: Skip Changelog

#7925 [testbed] Increase limits on OTLP-HTTP tests
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
Labels: Skip Changelog

#7830 [exporter/datadog] Use exact sum and count on distributions when available
  CHANGELOG.md
  exporter/datadogexporter/internal/model/translator/metrics_translator.go
  exporter/datadogexporter/internal/model/translator/metrics_translator_test.go
  exporter/datadogexporter/internal/model/translator/sketches_test.go
Labels: ready-to-merge

#7825 [processor/k8sattributes] Use semconv for k8s.container.restart_count attribute
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: Skip Changelog

#8019 [processor/tailsampling] Remove OnLateArrivingSpans
  processor/tailsamplingprocessor/internal/sampling/always_sample.go
  processor/tailsamplingprocessor/internal/sampling/always_sample_test.go
  processor/tailsamplingprocessor/internal/sampling/and.go
  processor/tailsamplingprocessor/internal/sampling/composite.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/latency.go
  processor/tailsamplingprocessor/internal/sampling/latency_test.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/policy.go
  processor/tailsamplingprocessor/internal/sampling/probabilistic.go
  processor/tailsamplingprocessor/internal/sampling/probabilistic_test.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting_test.go
  processor/tailsamplingprocessor/internal/sampling/status_code.go
  processor/tailsamplingprocessor/internal/sampling/status_code_test.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter_test.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: Skip Changelog

#7875 Updated documentation in the SignalFX exporter for translation rules
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/internal/translation/translator.go
Labels: ready-to-merge, Skip Changelog

#7924 [receiver/mysql] Fix overlapping data points
  CHANGELOG.md
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics_v2.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/integration/expected.5_7.json
  receiver/mysqlreceiver/testdata/integration/expected.8_0.json
  receiver/mysqlreceiver/testdata/scraper/expected.json
  receiver/mysqlreceiver/testdata/scraper/global_stats.txt
Labels: ready-to-merge

#7764 [receiver/hostmetrics] Migrate paging scraper to the new metrics builder
  CHANGELOG.md
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_v2.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
Labels: ready-to-merge

#8099 Update Makefile targets to improve process time.
  .github/workflows/build-and-test.yml
  .github/workflows/load-tests.yml
  .github/workflows/stability-tests.yml
  Makefile
  Makefile.Common
Labels: Skip Changelog

#7913 k8sattributes processor documentation PR
  examples/kubernetes/otel-collector.yaml
  processor/k8sattributesprocessor/doc.go
Labels: ready-to-merge, Skip Changelog

#8103 dependabot updates Tue 22 Feb 2022 14:45:35 PST
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/tencentcloudlogserviceexporter/go.mod
  exporter/tencentcloudlogserviceexporter/go.sum
  go.mod
  go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
Labels: Skip Changelog

#8023 [exporter/sapm] Add sending_queue validation
  CHANGELOG.md
  exporter/sapmexporter/config.go
  exporter/sapmexporter/config_test.go
Labels: ready-to-merge

#8105 Upgrade to github.com/signalfx/sapm-proto v0.9.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  go.mod
  go.sum
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, Skip Changelog

#8081 [internal/stanza] Convert non-string attributes
  CHANGELOG.md
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/stanza/converter.go
  internal/stanza/converter_test.go
  internal/stanza/go.mod
  internal/stanza/go.sum
  receiver/filelogreceiver/README.md
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/README.md
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/README.md
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
Labels: ready-to-merge

#8123 Fix update-dep script, which was not updating the model
  internal/buildscripts/update-dep
Labels: Skip Changelog

#8016 [exporter/influxdb] Add logic to validate the config
  exporter/influxdbexporter/config.go
Labels: Skip Changelog

#8126 Adding @MovieStoreGuy as code owner for several components
  .github/CODEOWNERS
Labels: Skip Changelog

#8128 Remove tigrannajaryan as Maintainer
  README.md
Labels: Skip Changelog

#8162 Remove tigrannajaryan from autoassign list
  .github/auto_assign.yml
Labels: Skip Changelog

#8164 [processor/resourcedetectionprocessor] Add examples and structure to …
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog
