Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-05, with the labels that each got.

#21262 [chore] use metadata type on signalfxreceiver
  receiver/signalfxreceiver/config_test.go
  receiver/signalfxreceiver/factory.go
  receiver/signalfxreceiver/internal/metadata/generated_status.go
  receiver/signalfxreceiver/metadata.yaml
  receiver/signalfxreceiver/receiver.go
Labels: receiver/signalfx

#21257 [receiver/filestats] promote to alpha
  .chloggen/filestats-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/receivers_test.go
  receiver/filestatsreceiver/README.md
  receiver/filestatsreceiver/factory.go
  receiver/filestatsreceiver/filestats_linux.go
  receiver/filestatsreceiver/internal/metadata/generated_status.go
  receiver/filestatsreceiver/metadata.yaml
Labels: cmd/otelcontribcol, receiver/filestats

#21251 Update ClickHouse exporter example config
  exporter/clickhouseexporter/README.md
Labels: Skip Changelog, exporter/clickhouse

#20328 [chore]add generated status to awsproxy
  extension/awsproxy/README.md
  extension/awsproxy/config_test.go
  extension/awsproxy/doc.go
  extension/awsproxy/factory.go
  extension/awsproxy/internal/metadata/generated_status.go
  extension/awsproxy/metadata.yaml
Labels: ready to merge, extension/awsproxy

#21283 [chore] use status type in pprof extension
  extension/pprofextension/config_test.go
  extension/pprofextension/factory.go
  extension/pprofextension/internal/metadata/generated_status.go
  extension/pprofextension/metadata.yaml
Labels: extension/pprof

#21281 [chore] use status type in oauth2clientauth extension
  extension/oauth2clientauthextension/config_test.go
  extension/oauth2clientauthextension/factory.go
  extension/oauth2clientauthextension/internal/metadata/generated_status.go
  extension/oauth2clientauthextension/metadata.yaml
Labels: extension/oauth2clientauth

#21252 [chore] bump govulncheck timeout
  .github/workflows/build-and-test.yml
Labels: ready to merge

#21278 [chore] use status type in basicauthextension
  extension/basicauthextension/config_test.go
  extension/basicauthextension/factory.go
  extension/basicauthextension/factory_test.go
  extension/basicauthextension/internal/metadata/generated_status.go
  extension/basicauthextension/metadata.yaml
Labels: extension/basicauth

#21279 [chore] use status type in bearertokenauthextension
  extension/bearertokenauthextension/config_test.go
  extension/bearertokenauthextension/factory.go
  extension/bearertokenauthextension/internal/metadata/generated_status.go
  extension/bearertokenauthextension/metadata.yaml
Labels: ready to merge, extension/bearertokenauth

#21280 [chore] use status type in headerssetterextension
  extension/headerssetterextension/config_test.go
  extension/headerssetterextension/factory.go
  extension/headerssetterextension/internal/metadata/generated_status.go
  extension/headerssetterextension/metadata.yaml
Labels: ready to merge, extension/headerssetter

#21282 [chore] use status type in oidcauth extension
  extension/oidcauthextension/factory.go
  extension/oidcauthextension/internal/metadata/generated_status.go
  extension/oidcauthextension/metadata.yaml
Labels: ready to merge, extension/oidcauth

#21194 [chore] Add @rapphil to PRW exporter CODEOWNERS
  .github/CODEOWNERS
Labels: ready to merge, Skip Changelog

#21293 [chore] Cleanup dev/test builds
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/main.go
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/main.go
Labels: ready to merge, cmd/otelcontribcol, cmd/oteltestbedcol

#21258 [chore] Add status metadata to signalfx exporter
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/doc.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/internal/metadata/generated_status.go
  exporter/signalfxexporter/metadata.yaml
Labels: ready to merge, exporter/signalfx

#21356 [chore][cmd/mdatagen] Fix comments for resource attributes configs
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/templates/metrics.go.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/bigipreceiver/internal/metadata/generated_metrics.go
  receiver/chronyreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/expvarreceiver/internal/metadata/generated_metrics.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/iisreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/riakreceiver/internal/metadata/generated_metrics.go
  receiver/saphanareceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sshcheckreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony, receiver/snowflake, receiver/httpcheck, receiver/oracledb, receiver/haproxy, receiver/sshcheck, receiver/filestats

#21386 [chore] Add status type metadata to parquet exporter
  exporter/parquetexporter/doc.go
  exporter/parquetexporter/factory.go
  exporter/parquetexporter/internal/metadata/generated_status.go
  exporter/parquetexporter/metadata.yaml
Labels: exporter/parquet

#21277 [chore] use status type in asapauthextension
  extension/asapauthextension/config_test.go
  extension/asapauthextension/factory.go
  extension/asapauthextension/internal/metadata/generated_status.go
  extension/asapauthextension/metadata.yaml
Labels: ready to merge, extension/asapauth

#21398 [chore] use metadata.Type with cumulativetodeltaprocessor
  processor/cumulativetodeltaprocessor/config_test.go
  processor/cumulativetodeltaprocessor/factory.go
Labels: processor/cumulativetodelta

#21224 [pkg/ottl] Minor updates to OTTL readmes
  pkg/ottl/README.md
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_json.go
Labels: Skip Changelog, pkg/ottl

#21396 [chore] use metadata.Type in k8sobserver
  extension/observer/k8sobserver/config_test.go
  extension/observer/k8sobserver/extension_test.go
  extension/observer/k8sobserver/factory.go
  extension/observer/k8sobserver/internal/metadata/generated_status.go
  extension/observer/k8sobserver/metadata.yaml
Labels: extension/observer

#21393 [chore] use metadata.Type in ecsobserver
  extension/observer/ecsobserver/config_test.go
  extension/observer/ecsobserver/factory.go
  extension/observer/ecsobserver/internal/metadata/generated_status.go
  extension/observer/ecsobserver/metadata.yaml
Labels: extension/observer

#21392 [chore] use metadata.Type in ecstaskobserver
  extension/observer/ecstaskobserver/config_test.go
  extension/observer/ecstaskobserver/factory.go
  extension/observer/ecstaskobserver/internal/metadata/generated_status.go
  extension/observer/ecstaskobserver/metadata.yaml
Labels: extension/observer

#21410 [chore] Bump govulncheck timeout (again)
  .github/workflows/build-and-test.yml
Labels: ready to merge

#21390 [chore] use metadata.Type in tencentcloudlogserviceexporter
  exporter/tencentcloudlogserviceexporter/config_test.go
  exporter/tencentcloudlogserviceexporter/doc.go
  exporter/tencentcloudlogserviceexporter/factory.go
  exporter/tencentcloudlogserviceexporter/internal/metadata/generated_status.go
  exporter/tencentcloudlogserviceexporter/metadata.yaml
Labels: exporter/tencentcloudlogservice

#21216 [chore] [exporter/coralogix] Docs: Fix example for custom attributes with transform processor
  exporter/coralogixexporter/README.md
Labels: exporter/coralogix

#21465 [chore] Fix lint
  exporter/tencentcloudlogserviceexporter/doc.go
Labels: exporter/tencentcloudlogservice

#21462 [chore] update k8s.io/client-go dependency
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  extension/observer/k8sobserver/handler.go
  extension/observer/k8sobserver/handler_test.go
  go.mod
  go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/internal/kube/fake_informer.go
Labels: exporter/datadog, processor/k8sattributes, cmd/configschema, cmd/otelcontribcol, extension/observer

#21388 [chore] add metadata.yaml to cassandraexporter
  exporter/cassandraexporter/config_test.go
  exporter/cassandraexporter/doc.go
  exporter/cassandraexporter/factory.go
  exporter/cassandraexporter/internal/metadata/generated_status.go
  exporter/cassandraexporter/metadata.yaml
Labels: exporter/cassandra

#21246 [chore] [receiver/mysql] Allow integration test to collect multiple times before failing
  receiver/mysqlreceiver/integration_test.go
Labels: Skip Changelog, receiver/mysql

#21470 [chore] [cmd/mdatagen] Define requirements for the distributions
  cmd/mdatagen/statusdata.go
Labels: cmd/mdatagen

#21389 [chore] use status type in otlpjsonfilereceiver
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/file_test.go
  receiver/otlpjsonfilereceiver/internal/metadata/generated_status.go
  receiver/otlpjsonfilereceiver/metadata.yaml
Labels: receiver/otlpjsonfile

#20754 [pkg/ottl] Add complex indexing to paths and converters
  .chloggen/ottl-support-indexing-3.yaml
  pkg/ottl/README.md
  pkg/ottl/contexts/internal/map.go
  pkg/ottl/contexts/internal/map_test.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/internal/value.go
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/README.md
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/README.md
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/README.md
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/README.md
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/grammar.go
  pkg/ottl/internal/ottlcommon/map.go
  pkg/ottl/internal/ottlcommon/value.go
  pkg/ottl/parser_test.go
  processor/filterprocessor/config_test.go
  processor/transformprocessor/config_test.go
Labels: ready to merge, processor/filter, processor/transform, pkg/ottl

#21276 [chore] use status type on splunkhecreceiver
  receiver/splunkhecreceiver/config_test.go
  receiver/splunkhecreceiver/factory.go
  receiver/splunkhecreceiver/internal/metadata/generated_status.go
  receiver/splunkhecreceiver/metadata.yaml
  receiver/splunkhecreceiver/receiver.go
Labels: ready to merge, receiver/splunkhec

#21475 [receiver/snowflake] Enable component
  .chloggen/enable-snowflakereceiver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/receivers_test.go
  go.mod
  go.sum
  internal/components/components.go
  receiver/snowflakereceiver/README.md
  receiver/snowflakereceiver/factory.go
Labels: cmd/configschema, cmd/otelcontribcol, receiver/snowflake

#21487 [exporter/splunkhec] fix metric event merge
  .chloggen/fix_hec_merge_alphabetical_order.yaml
  exporter/splunkhecexporter/metricdata_to_splunk.go
  exporter/splunkhecexporter/metricdata_to_splunk_test.go
Labels: exporter/splunkhec

#21480 Promote @astencel-sumo to approver role
  README.md
Labels: Skip Changelog

#21055 [processor/datadog] Use generated headers
  processor/datadogprocessor/README.md
  processor/datadogprocessor/doc.go
  processor/datadogprocessor/factory.go
  processor/datadogprocessor/internal/metadata/generated_status.go
  processor/datadogprocessor/metadata.yaml
Labels: ready to merge, Skip Changelog, processor/datadog

#21496 [chore] cleaning up comment
  processor/datadogprocessor/factory.go
Labels: processor/datadog

#21497 Make sure the k8scluster receiver is watching for hpa v2
  .chloggen/fix-k8sclusterreceiver-hpav2.yaml
  receiver/k8sclusterreceiver/internal/gvk/gvk.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#21209 [exporter/clickhouse] Fix insert metrics with duplicate scope data
  .chloggen/fix-deplicate-scope-data.yaml
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
Labels: exporter/clickhouse

#20733 [exporter/datasetexporter]: Initial Commit
  .chloggen/add-datasetexporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/datasetexporter/Makefile
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/datasetexporter_test.go
  exporter/datasetexporter/doc.go
  exporter/datasetexporter/factory.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/go.mod
  exporter/datasetexporter/go.sum
  exporter/datasetexporter/internal/metadata/generated_status.go
  exporter/datasetexporter/metadata.yaml
  exporter/datasetexporter/testdata/config.yaml
  versions.yaml
Labels: ready to merge, Accepted Component, cmd/configschema, cmd/otelcontribcol

#21495 [chore] remove unused func
  cmd/mdatagen/main.go
Labels: cmd/mdatagen

#21507 [exporter/datadog, processor/datadog] Bump opentelemetry-mapping-go to v0.2.0
  .chloggen/mx-psi_update-opentelemetry-mapping-go.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#21512 signalfxexporter: expose dimension client settings
  .chloggen/sfxexporterdimclientconfig.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/internal/dimensions/dimclient.go
  exporter/signalfxexporter/internal/dimensions/dimclient_test.go
  exporter/signalfxexporter/testdata/config.yaml
Labels: exporter/signalfx

#21511 [processor/k8sattributesprocessor] Fix doc config indentation
  processor/k8sattributesprocessor/README.md
Labels: processor/k8sattributes, Skip Changelog

#21515 [chore] [receiver/apache] Fix typo
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/factory_test.go
  receiver/apachereceiver/scraper_test.go
Labels: receiver/apache

#21518 [chore] [cmd/mdatagen] Remove redundant function NewMetricsBuilderConfig
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/templates/metrics.go.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/bigipreceiver/internal/metadata/generated_metrics.go
  receiver/chronyreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/expvarreceiver/internal/metadata/generated_metrics.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/iisreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/riakreceiver/internal/metadata/generated_metrics.go
  receiver/saphanareceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sshcheckreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony, receiver/snowflake, receiver/httpcheck, receiver/oracledb, receiver/haproxy, receiver/sshcheck, receiver/filestats

#21529 [chore]make the telemetrygen log test a bit less flaky ; rename tests to match intent
  cmd/telemetrygen/internal/logs/worker_test.go
Labels: cmd/telemetrygen

#21528 [chore] try to make mongodb tests more resilient
  receiver/mongodbreceiver/integration_test.go
Labels: receiver/mongodb

#21534 [chore] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Skip Changelog

#21533 [chore][nsxt-receiver] changed stability -> metadata.stability
  receiver/nsxtreceiver/README.md
  receiver/nsxtreceiver/factory.go
  receiver/nsxtreceiver/internal/metadata/generated_status.go
  receiver/nsxtreceiver/metadata.yaml
Labels: receiver/nsxt

#21532 [chore][nginx] changed stability -> metadata.stability
  receiver/nginxreceiver/README.md
  receiver/nginxreceiver/factory.go
  receiver/nginxreceiver/internal/metadata/generated_status.go
  receiver/nginxreceiver/metadata.yaml
Labels: receiver/nginx

#21531 [chore][mysql] changed stability -> metadata.stability
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/factory.go
  receiver/mysqlreceiver/internal/metadata/generated_status.go
  receiver/mysqlreceiver/metadata.yaml
Labels: receiver/mysql

#21270 [chore] Add awss3 exporter to the otelcontribcol test suite
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
Labels: cmd/otelcontribcol

#21539 [chore][rabbitmq] added metadata stability
  receiver/rabbitmqreceiver/README.md
  receiver/rabbitmqreceiver/factory.go
  receiver/rabbitmqreceiver/internal/metadata/generated_status.go
  receiver/rabbitmqreceiver/metadata.yaml
Labels: receiver/rabbitmq

#21540 [chore][redis] added metadata stability
  receiver/redisreceiver/README.md
  receiver/redisreceiver/factory.go
  receiver/redisreceiver/internal/metadata/generated_status.go
  receiver/redisreceiver/metadata.yaml
Labels: receiver/redis

#21526 fix(influxdbexporter): handle empty attribute values
  .chloggen/fix-influx-empty-tag-values.yaml
  exporter/influxdbexporter/writer.go
  exporter/influxdbexporter/writer_test.go
Labels: exporter/influxdb

#21656 [chore] [CI] Update NoMemoryLimit load test parameters
  testbed/tests/trace_test.go
Labels: testbed

#21514 Promote @songy23 to approver role
  README.md
Labels: Skip Changelog

#21521 [docker observer] Add into main release of contrib
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  extension/observer/dockerobserver/extension.go
  go.mod
  internal/components/components.go
Labels: ready to merge, Skip Changelog, cmd/configschema, cmd/otelcontribcol, extension/observer

#21505 [GoogleCloudSpannerReceiver]: Error scrapping metrics for TABLE_SIZES…
  .chloggen/googlecloudspannerreceiver-table_sizes_wrong_type.yaml
  receiver/googlecloudspannerreceiver/internal/metadataconfig/metadata.yaml
Labels: ready to merge, receiver/googlecloudspanner

#21402 [stanza] document regex parser caching
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
  pkg/stanza/docs/operators/regex_parser.md
Labels: ready to merge, Skip Changelog, pkg/stanza

#21543 [chore][sqlserver] added metadata stability
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/internal/metadata/generated_status.go
  receiver/sqlserverreceiver/metadata.yaml
Labels: receiver/sqlserver

#21546 [chore][receiver/vcenter] added metadata stability
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/factory.go
  receiver/vcenterreceiver/internal/metadata/generated_status.go
  receiver/vcenterreceiver/metadata.yaml
Labels: receiver/vcenter

#21536 [chore] [mysqlreceiver] Fix example config for statement events
  receiver/mysqlreceiver/README.md
Labels: receiver/mysql

#21523 [receiver/nsxt] Remove incorrect resource attributes fields from config
  .chloggen/nsx-receiver-fix-config.yaml
  receiver/nsxtreceiver/config.go
Labels: receiver/nsxt

#21547 [chore][receiver/zookeeper] Add metadata stability
  receiver/zookeeperreceiver/README.md
  receiver/zookeeperreceiver/factory.go
  receiver/zookeeperreceiver/internal/metadata/generated_status.go
  receiver/zookeeperreceiver/metadata.yaml
Labels: receiver/zookeeper

#21179 [receiver/mongodbatlasreceiver] Do not emit empty logs collections
  .chloggen/mongodbatlas-emit-less.yaml
  receiver/mongodbatlasreceiver/logs.go
Labels: receiver/mongodbatlas

#20744 [SQL Query Receiver] Add integration test for MySQL
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/testdata/integration/Dockerfile.mysql
  receiver/sqlqueryreceiver/testdata/integration/initMysql.sql
Labels: ready to merge, Skip Changelog, receiver/sqlquery

#21110 [receiver/dockerstat] fix integration tests
  receiver/dockerstatsreceiver/integration_test.go
Labels: ready to merge, Skip Changelog, receiver/dockerstats

#21542 [chore][receiver/saphana] added metadata stability
  receiver/saphanareceiver/README.md
  receiver/saphanareceiver/factory.go
  receiver/saphanareceiver/internal/metadata/generated_status.go
  receiver/saphanareceiver/metadata.yaml
Labels: receiver/saphana

#21545 [chore][sshcheck] added metadata stability
  receiver/sshcheckreceiver/README.md
  receiver/sshcheckreceiver/factory.go
  receiver/sshcheckreceiver/internal/metadata/generated_status.go
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck

#21657 [pkg/stanza] Add 'unquote' operator
  .chloggen/stanza-unquote.yaml
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/unquote.md
  pkg/stanza/operator/transformer/unquote/config_test.go
  pkg/stanza/operator/transformer/unquote/testdata/config.yaml
  pkg/stanza/operator/transformer/unquote/unquote.go
  pkg/stanza/operator/transformer/unquote/unquote_test.go
Labels: pkg/stanza

#21676 Update builder configs
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#21677 Prepare release prs/0.77.0
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#21678 Fix pdata dep
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
Labels: cmd/oteltestbedcol

#21679 Get latest from main
  CHANGELOG.md
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/unquote.md
  pkg/stanza/operator/transformer/unquote/config_test.go
  pkg/stanza/operator/transformer/unquote/testdata/config.yaml
  pkg/stanza/operator/transformer/unquote/unquote.go
  pkg/stanza/operator/transformer/unquote/unquote_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/jaeger, exporter/awskinesis, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/jaegerthrifthttp, exporter/coralogix, exporter/googlecloudpubsub, pkg/stanza, exporter/instana, exporter/azuredataexplorer, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset

#21551 [chore][windowsperfcounters] created metadata
  receiver/windowsperfcountersreceiver/README.md
  receiver/windowsperfcountersreceiver/config_test.go
  receiver/windowsperfcountersreceiver/doc.go
  receiver/windowsperfcountersreceiver/factory.go
  receiver/windowsperfcountersreceiver/internal/metadata/generated_status.go
  receiver/windowsperfcountersreceiver/metadata.yaml
Labels: receiver/windowsperfcounters

#21682 [chore] [receiver/nginx] Fix readme summary
  receiver/nginxreceiver/README.md
Labels: Skip Changelog, receiver/nginx

#21724 [chore] [receiver/mysql] Fix potential out of bounds error
  receiver/mysqlreceiver/integration_test.go
Labels: receiver/mysql

#21710 [chore][receiver/memcached] Cleanup test files
  receiver/memcachedreceiver/integration_test.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected_without_direction.yaml
  receiver/memcachedreceiver/testdata/scraper/expected.yaml
Labels: receiver/memcached

#21670 [chore][receiver/udplog] created metadata
  receiver/udplogreceiver/README.md
  receiver/udplogreceiver/doc.go
  receiver/udplogreceiver/internal/metadata/generated_status.go
  receiver/udplogreceiver/metadata.yaml
  receiver/udplogreceiver/udp.go
Labels: receiver/udplog

#21708 [chore][receiver/snmp] create metadata
  receiver/snmpreceiver/README.md
  receiver/snmpreceiver/config_test.go
  receiver/snmpreceiver/doc.go
  receiver/snmpreceiver/factory.go
  receiver/snmpreceiver/factory_test.go
  receiver/snmpreceiver/integration_test.go
  receiver/snmpreceiver/internal/metadata/generated_status.go
  receiver/snmpreceiver/metadata.yaml
Labels: receiver/snmp

#21688 [chore][receiver/solace] create metadata
  receiver/solacereceiver/README.md
  receiver/solacereceiver/config_test.go
  receiver/solacereceiver/doc.go
  receiver/solacereceiver/factory.go
  receiver/solacereceiver/factory_test.go
  receiver/solacereceiver/internal/metadata/generated_status.go
  receiver/solacereceiver/metadata.yaml
  receiver/solacereceiver/observability.go
Labels: receiver/solace

#21671 [chore][receiver/tcplog] create metadata
  receiver/tcplogreceiver/README.md
  receiver/tcplogreceiver/doc.go
  receiver/tcplogreceiver/internal/metadata/generated_status.go
  receiver/tcplogreceiver/metadata.yaml
  receiver/tcplogreceiver/tcp.go
Labels: receiver/tcplog

#21720 [exporter/splunkhec] Fix logic tracking partial errors data
  .chloggen/splunkhec-fix-partial-error-data.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#21501 [cmd/mdatagen] Use directory names for Scope name
  .chloggen/chrony-update-scopename.yaml
  .chloggen/filestats-update-scopename.yaml
  .chloggen/mongodbatlas-update-scopename.yaml
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/metrics.go.tmpl
  receiver/chronyreceiver/internal/metadata/generated_metrics.go
  receiver/chronyreceiver/scraper_test.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
Labels: receiver/mongodbatlas, cmd/mdatagen, receiver/chrony, receiver/filestats

#21731 [chore] add Splunk distribution URL to supported distributions for mdatagen
  cmd/mdatagen/statusdata.go
Labels: cmd/mdatagen

#21166 [receiver/dockerstats] Fix memory usage/percent calculation
  .chloggen/receiver_dockerstat_memory-calculation.yaml
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/metric_helper.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/receiver_test.go
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/container.json
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/containers.json
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/stats.json
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
Labels: receiver/dockerstats

#21732 [receiver/dockerstats] Fix checklicense
  receiver/dockerstatsreceiver/metric_helper.go
Labels: Skip Changelog, receiver/dockerstats

#21406 [receiver/mongodbatlas] Support collection of MongoDBAtlas Access Logs
  .chloggen/mongodbatlas-access-logs.yaml
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/access_logs.go
  receiver/mongodbatlasreceiver/access_logs_integration_test.go
  receiver/mongodbatlasreceiver/access_logs_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/combined_logs.go
  receiver/mongodbatlasreceiver/config.go
  receiver/mongodbatlasreceiver/config_test.go
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/logs_test.go
  receiver/mongodbatlasreceiver/testdata/accesslogs/golden/retrieved-logs.yaml
  receiver/mongodbatlasreceiver/testdata/accesslogs/sample-payloads/sample-access-logs.json
  receiver/mongodbatlasreceiver/testdata/config.yaml
Labels: receiver/mongodbatlas

#21687 [receiver/elasticsearch] Update 'receiver.elasticsearch.emitNodeVersionAttr' gate to beta
  .chloggen/elasticsearch-gate-update.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/scraper.go
Labels: receiver/elasticsearch

#21655 [processor/transform] Add specific example cases to README
  processor/transformprocessor/README.md
Labels: ready to merge, Skip Changelog, processor/transform

#21552 [chore][receiver/windowseventlog] Create metadata
  receiver/windowseventlogreceiver/README.md
  receiver/windowseventlogreceiver/doc.go
  receiver/windowseventlogreceiver/internal/metadata/generated_status.go
  receiver/windowseventlogreceiver/metadata.yaml
  receiver/windowseventlogreceiver/receiver_others.go
  receiver/windowseventlogreceiver/receiver_windows.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog

#20440 [receiver/file] enable file receiver
  .chloggen/fr-enable.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/processors_test.go
  cmd/otelcontribcol/receivers_test.go
  receiver/filereceiver/receiver.go
  receiver/filereceiver/receiver_test.go
  receiver/filereceiver/replay_timer.go
Labels: cmd/otelcontribcol, receiver/file

#21672 [chore][receiver/syslog] create metadata
  receiver/syslogreceiver/README.md
  receiver/syslogreceiver/doc.go
  receiver/syslogreceiver/internal/metadata/generated_status.go
  receiver/syslogreceiver/metadata.yaml
  receiver/syslogreceiver/syslog.go
Labels: receiver/syslog

#21765 [chore] [exporter/splunkhec] Remove redundant state data and allocation
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#21772 [chore] [exporter/splunkhec] Don't create the buffer for disabled type
  exporter/splunkhecexporter/client.go
Labels: exporter/splunkhec

#21502 [receiver/oracledb] add additional metrics
  .chloggen/add_metrics_oracledbreceiver.yaml
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/internal/metadata/generated_config.go
  receiver/oracledbreceiver/internal/metadata/generated_config_test.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/internal/metadata/testdata/config.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
Labels: receiver/oracledb

#21774 [chore] [exporter/splunkhec] Remove redundant bufferState fields
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/hec_worker.go
Labels: exporter/splunkhec

#21664 [cmd/mdatagen] Add ability to generate configs for resource attributes
  .chloggen/mdatagen-allow-resource-attrs-only.yaml
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/templates/config.go.tmpl
  cmd/mdatagen/templates/config_test.go.tmpl
  cmd/mdatagen/templates/testdata/config.yaml.tmpl
  cmd/mdatagen/testdata/invalid.yaml
  cmd/mdatagen/testdata/metrics_and_type.yaml
  cmd/mdatagen/testdata/resource_attributes_only.yaml
  cmd/mdatagen/testdata/status_only.yaml
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/internal/metadata/generated_config.go
  receiver/azuremonitorreceiver/internal/metadata/generated_config_test.go
Labels: cmd/mdatagen, receiver/azuremonitor

#21784 [chore][exporter/dynatraceexporter] Add metadata.yaml
  cmd/mdatagen/statusdata.go
  exporter/dynatraceexporter/README.md
  exporter/dynatraceexporter/doc.go
  exporter/dynatraceexporter/factory.go
  exporter/dynatraceexporter/factory_test.go
  exporter/dynatraceexporter/internal/metadata/generated_status.go
  exporter/dynatraceexporter/metadata.yaml
Labels: cmd/mdatagen, exporter/dynatrace

#21785 [chore][receiver/prometheusexec] create metadata
  receiver/prometheusexecreceiver/README.md
  receiver/prometheusexecreceiver/config_test.go
  receiver/prometheusexecreceiver/doc.go
  receiver/prometheusexecreceiver/factory.go
  receiver/prometheusexecreceiver/factory_test.go
  receiver/prometheusexecreceiver/internal/metadata/generated_status.go
  receiver/prometheusexecreceiver/metadata.yaml
  receiver/prometheusexecreceiver/receiver_test.go
Labels: receiver/prometheusexec

#21269 [chore] use metadata.Type in activedirectorydsreceiver
  receiver/activedirectorydsreceiver/config_test.go
  receiver/activedirectorydsreceiver/documentation.md
  receiver/activedirectorydsreceiver/factory.go
  receiver/activedirectorydsreceiver/factory_others.go
  receiver/activedirectorydsreceiver/factory_windows.go
  receiver/activedirectorydsreceiver/internal/metadata/generated_config.go
  receiver/activedirectorydsreceiver/internal/metadata/generated_status.go
  receiver/activedirectorydsreceiver/metadata.yaml
Labels: receiver/activedirectoryds

#21783 [chore] upgrade to testcontainers-go 0.20.1
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.sum
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  extension/observer/dockerobserver/integration_test.go
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, extension/observer

#21793 exporter/datadogexporter: update k8s examples to include k8s attributes
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples/k8s-chart/daemonset.yaml
  exporter/datadogexporter/examples/k8s-chart/deployment.yaml
Labels: exporter/datadog, Skip Changelog

#21713 [chore] [receiver/elasticsearch] Refactor and add retry to integration test
  receiver/elasticsearchreceiver/integration_test.go
Labels: receiver/elasticsearch

#21686 [receiver/nginx] Add featuregate to emit 'nginx.connections_current' as a non-monotonic sum
  .chloggen/nginx-connections-sum.yaml
  receiver/nginxreceiver/README.md
  receiver/nginxreceiver/documentation.md
  receiver/nginxreceiver/factory.go
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/internal/metadata/generated_config.go
  receiver/nginxreceiver/internal/metadata/generated_config_test.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/temporary_metrics.go
  receiver/nginxreceiver/internal/metadata/testdata/config.yaml
  receiver/nginxreceiver/metadata.yaml
  receiver/nginxreceiver/scraper.go
  receiver/nginxreceiver/scraper_test.go
  receiver/nginxreceiver/testdata/scraper/expected_with_connections_as_sum.yaml
Labels: receiver/nginx

#21792 [pkg/stanza/fileconsumer] Refactor test cases
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/fingerprint_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: Skip Changelog, pkg/stanza

#21391 [chore] use status Type in azureeventhubreceiver
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler_test.go
  receiver/azureeventhubreceiver/config_test.go
  receiver/azureeventhubreceiver/eventhubhandler_test.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/internal/metadata/generated_status.go
  receiver/azureeventhubreceiver/metadata.yaml
  receiver/azureeventhubreceiver/receiver.go
Labels: receiver/azureeventhub

#21741 [chore] [receiver/riak] Upgrade integration test container to ubuntu:22.04
  receiver/riakreceiver/testdata/integration/Dockerfile.riak
Labels: receiver/riak

#21725 [pkg/stanza/recombine] fix: recombine aggregation problem fix
  .chloggen/fix_recombineAggregation.yaml
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#21811 [chore][receiver/k8sevents] create metadata
  receiver/k8seventsreceiver/README.md
  receiver/k8seventsreceiver/config_test.go
  receiver/k8seventsreceiver/doc.go
  receiver/k8seventsreceiver/factory.go
  receiver/k8seventsreceiver/internal/metadata/generated_status.go
  receiver/k8seventsreceiver/metadata.yaml
  receiver/k8seventsreceiver/receiver.go
Labels: receiver/k8sevents

#21806 [chore][receiver/k8sobjects] Receiver k8sobjects metadata
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/doc.go
  receiver/k8sobjectsreceiver/factory.go
  receiver/k8sobjectsreceiver/internal/metadata/generated_status.go
  receiver/k8sobjectsreceiver/metadata.yaml
  receiver/k8sobjectsreceiver/receiver.go
Labels: receiver/k8sobjects

#21284 [chore] use status type in oracledb receiver
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/internal/metadata/generated_config.go
  receiver/oracledbreceiver/internal/metadata/generated_status.go
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#21820 [chore][receiver/jaeger] create metadata
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/config_test.go
  receiver/jaegerreceiver/doc.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/factory_test.go
  receiver/jaegerreceiver/internal/metadata/generated_status.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/metadata.yaml
Labels: receiver/jaeger

#21734 [pkg/stanza/fileconsumer] Refactor changes to have better readability.
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog, pkg/stanza

#21817 [chore][receiver/journald] create metadata
  receiver/journaldreceiver/README.md
  receiver/journaldreceiver/doc.go
  receiver/journaldreceiver/internal/metadata/generated_status.go
  receiver/journaldreceiver/journald.go
  receiver/journaldreceiver/journald_nonlinux.go
  receiver/journaldreceiver/journald_test.go
  receiver/journaldreceiver/metadata.yaml
Labels: receiver/journald

#21813 [chore][receiver/k8scluster] create metadata
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/config_test.go
  receiver/k8sclusterreceiver/doc.go
  receiver/k8sclusterreceiver/factory.go
  receiver/k8sclusterreceiver/internal/metadata/generated_status.go
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/receiver_test.go
Labels: receiver/k8scluster

#21829 [chore] [receiver/k8scluster] Fix broken readme link
  receiver/k8sclusterreceiver/README.md
Labels: receiver/k8scluster

#21816 [chore][exporter/prometheusremotewrite] Add metadata.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/doc.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_status.go
  exporter/prometheusremotewriteexporter/metadata.yaml
Labels: exporter/prometheusremotewrite

#21272 [chore] use type in apache receiver
  receiver/apachereceiver/config_test.go
  receiver/apachereceiver/documentation.md
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/internal/metadata/generated_config.go
  receiver/apachereceiver/internal/metadata/generated_status.go
  receiver/apachereceiver/metadata.yaml
Labels: receiver/apache

#21399 [chore] use metadata.yaml in k8sattributes processor
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/doc.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/internal/metadata/generated_status.go
  processor/k8sattributesprocessor/metadata.yaml
Labels: processor/k8sattributes

#21791 [exporter/splunkhec] Introduce pools for buffers states
  .chloggen/splunkhec-improve-performance.yaml
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
Labels: exporter/splunkhec

#19406 [exporter/awsemfexporter] add tags feature for Cloudwatch Log Group
  .chloggen/add-tags-log-group.yaml
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awscloudwatchlogsexporter/config.go
  exporter/awscloudwatchlogsexporter/config_test.go
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter.go
  internal/aws/cwlogs/cwlog_client.go
  internal/aws/cwlogs/cwlog_client_test.go
  internal/aws/cwlogs/utils.go
Labels: ready to merge, exporter/awscloudwatchlogs, exporter/awsemf, internal/aws

#21826 [chore][receiver/influxdb] create metadata
  receiver/influxdbreceiver/README.md
  receiver/influxdbreceiver/doc.go
  receiver/influxdbreceiver/factory.go
  receiver/influxdbreceiver/internal/metadata/generated_status.go
  receiver/influxdbreceiver/metadata.yaml
Labels: receiver/influxdb

#21836 [chore][receiver/filelog] create metadata
  receiver/filelogreceiver/README.md
  receiver/filelogreceiver/doc.go
  receiver/filelogreceiver/filelog.go
  receiver/filelogreceiver/internal/metadata/generated_status.go
  receiver/filelogreceiver/metadata.yaml
Labels: receiver/filelog

#21819 [chore][receiver/jmx] create metadata
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/config_test.go
  receiver/jmxreceiver/doc.go
  receiver/jmxreceiver/factory.go
  receiver/jmxreceiver/internal/metadata/generated_status.go
  receiver/jmxreceiver/metadata.yaml
Labels: receiver/jmx

#21830 [chore][receiver/googlecloudspanner] create metadata
  receiver/googlecloudspannerreceiver/README.md
  receiver/googlecloudspannerreceiver/config_test.go
  receiver/googlecloudspannerreceiver/doc.go
  receiver/googlecloudspannerreceiver/factory.go
  receiver/googlecloudspannerreceiver/factory_test.go
  receiver/googlecloudspannerreceiver/internal/metadata/generated_status.go
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: receiver/googlecloudspanner

#21831 [chore][receiver/googlecloudpubsub] create metadata
  receiver/googlecloudpubsubreceiver/README.md
  receiver/googlecloudpubsubreceiver/config_test.go
  receiver/googlecloudpubsubreceiver/doc.go
  receiver/googlecloudpubsubreceiver/factory.go
  receiver/googlecloudpubsubreceiver/factory_test.go
  receiver/googlecloudpubsubreceiver/internal/metadata/generated_status.go
  receiver/googlecloudpubsubreceiver/metadata.yaml
  receiver/googlecloudpubsubreceiver/receiver_test.go
Labels: receiver/googlecloudpubsub

#21832 [chore] [exporter/splunkhec] Revisit benchmark tests
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#21835 [chore][receiver/fluentforward] create metadata
  receiver/fluentforwardreceiver/README.md
  receiver/fluentforwardreceiver/doc.go
  receiver/fluentforwardreceiver/factory.go
  receiver/fluentforwardreceiver/internal/metadata/generated_status.go
  receiver/fluentforwardreceiver/metadata.yaml
Labels: receiver/fluentforward

#20347 fix make for golang 1.20
  .chloggen/fix-make-for-golang-1.20.yaml
  exporter/awskinesisexporter/internal/compress/compresser_test.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/instanaexporter/internal/converter/span_converter_test.go
  exporter/sapmexporter/exporter_test.go
Labels: exporter/awskinesis, exporter/awsxray, exporter/sapm, exporter/instana, processor/servicegraph, exporter/azuredataexplorer

#21768 [chore][receiver/pulsar] create metadata
  receiver/pulsarreceiver/README.md
  receiver/pulsarreceiver/config_test.go
  receiver/pulsarreceiver/doc.go
  receiver/pulsarreceiver/factory.go
  receiver/pulsarreceiver/internal/metadata/generated_status.go
  receiver/pulsarreceiver/metadata.yaml
Labels: receiver/pulsar

#21685 [chore][receiver/sqlquery] create metadata
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config_test.go
  receiver/sqlqueryreceiver/doc.go
  receiver/sqlqueryreceiver/factory.go
  receiver/sqlqueryreceiver/internal/metadata/generated_status.go
  receiver/sqlqueryreceiver/metadata.yaml
Labels: receiver/sqlquery

#21742 [chore][receiver/receivercreator] create metadata
  receiver/receivercreator/README.md
  receiver/receivercreator/config_test.go
  receiver/receivercreator/doc.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/internal/metadata/generated_status.go
  receiver/receivercreator/metadata.yaml
  receiver/receivercreator/receiver_test.go
  receiver/receivercreator/runner_test.go
Labels: receiver/receivercreator

#21786 [chore][receiver/podman] create metadata
  receiver/podmanreceiver/README.md
  receiver/podmanreceiver/config_test.go
  receiver/podmanreceiver/doc.go
  receiver/podmanreceiver/factory.go
  receiver/podmanreceiver/internal/metadata/generated_status.go
  receiver/podmanreceiver/metadata.yaml
  receiver/podmanreceiver/receiver.go
Labels: receiver/podman

#21839 [chore][receiver/collectd] create metadata
  receiver/collectdreceiver/README.md
  receiver/collectdreceiver/config_test.go
  receiver/collectdreceiver/doc.go
  receiver/collectdreceiver/factory.go
  receiver/collectdreceiver/internal/metadata/generated_status.go
  receiver/collectdreceiver/metadata.yaml
Labels: receiver/collectd

#21886 [receiver/sshcheck] Promote to alpha
  .chloggen/njs_promote-sshcheckreceiver-status.yaml
  receiver/sshcheckreceiver/README.md
  receiver/sshcheckreceiver/internal/metadata/generated_status.go
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck

#21842 [chore][receiver/carbon] create metadata
  receiver/carbonreceiver/README.md
  receiver/carbonreceiver/config_test.go
  receiver/carbonreceiver/doc.go
  receiver/carbonreceiver/factory.go
  receiver/carbonreceiver/internal/metadata/generated_status.go
  receiver/carbonreceiver/metadata.yaml
  receiver/carbonreceiver/reporter_test.go
Labels: receiver/carbon

#21845 [chore][receiver/awsecscontainermetrics] create metadata
  receiver/awsecscontainermetricsreceiver/README.md
  receiver/awsecscontainermetricsreceiver/config_test.go
  receiver/awsecscontainermetricsreceiver/doc.go
  receiver/awsecscontainermetricsreceiver/factory.go
  receiver/awsecscontainermetricsreceiver/internal/metadata/generated_status.go
  receiver/awsecscontainermetricsreceiver/metadata.yaml
Labels: receiver/awsecscontainermetrics

#21844 [chore][receiver/awsfirehose] create metadata
  receiver/awsfirehosereceiver/README.md
  receiver/awsfirehosereceiver/config_test.go
  receiver/awsfirehosereceiver/doc.go
  receiver/awsfirehosereceiver/factory.go
  receiver/awsfirehosereceiver/internal/metadata/generated_status.go
  receiver/awsfirehosereceiver/metadata.yaml
Labels: receiver/awsfirehose

#21843 [chore][receiver/azureblob] create metadata
  receiver/azureblobreceiver/README.md
  receiver/azureblobreceiver/config_test.go
  receiver/azureblobreceiver/doc.go
  receiver/azureblobreceiver/factory.go
  receiver/azureblobreceiver/internal/metadata/generated_status.go
  receiver/azureblobreceiver/metadata.yaml
  receiver/azureblobreceiver/receiver.go
Labels: receiver/azureblob

#21841 [chore][receiver/cloudflare] create metadata
  receiver/cloudflarereceiver/README.md
  receiver/cloudflarereceiver/config_test.go
  receiver/cloudflarereceiver/docs.go
  receiver/cloudflarereceiver/factory.go
  receiver/cloudflarereceiver/factory_test.go
  receiver/cloudflarereceiver/internal/metadata/generated_status.go
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/metadata.yaml
Labels: receiver/cloudflare

#21840 [chore][receiver/cloudfoundry] create metadata
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/config_test.go
  receiver/cloudfoundryreceiver/doc.go
  receiver/cloudfoundryreceiver/factory.go
  receiver/cloudfoundryreceiver/internal/metadata/generated_status.go
  receiver/cloudfoundryreceiver/metadata.yaml
Labels: receiver/cloudfoundry

#21838 [chore][receiver/datadog] create metadata
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/doc.go
  receiver/datadogreceiver/factory.go
  receiver/datadogreceiver/internal/metadata/generated_status.go
  receiver/datadogreceiver/metadata.yaml
Labels: receiver/datadog

#21837 [chore][receiver/file] create metadata
  receiver/filereceiver/README.md
  receiver/filereceiver/config_test.go
  receiver/filereceiver/doc.go
  receiver/filereceiver/factory.go
  receiver/filereceiver/internal/metadata/generated_status.go
  receiver/filereceiver/metadata.yaml
Labels: receiver/file

#21885 [pkg/batchperresourceattr] Mark as not mutating
  .chloggen/batchbyres-not-mutating.yaml
  pkg/batchperresourceattr/batchperresourceattr.go
Labels: pkg/batchperresourceattr

#21712 [chore][receiver/skywalking] create metadata
  receiver/skywalkingreceiver/README.md
  receiver/skywalkingreceiver/config_test.go
  receiver/skywalkingreceiver/doc.go
  receiver/skywalkingreceiver/factory.go
  receiver/skywalkingreceiver/factory_test.go
  receiver/skywalkingreceiver/internal/metadata/generated_status.go
  receiver/skywalkingreceiver/metadata.yaml
Labels: ready to merge, receiver/skywalking

#21714 [chore][receiver/simpleprometheus] create metadata
  receiver/simpleprometheusreceiver/README.md
  receiver/simpleprometheusreceiver/config_test.go
  receiver/simpleprometheusreceiver/doc.go
  receiver/simpleprometheusreceiver/factory.go
  receiver/simpleprometheusreceiver/internal/metadata/generated_status.go
  receiver/simpleprometheusreceiver/metadata.yaml
  receiver/simpleprometheusreceiver/receiver.go
Labels: ready to merge, receiver/simpleprometheus
