Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-01, with the labels that each got.

#16837 [exporter/signalfxexporter] Add all HTTP client settings to the configuration
  .chloggen/signalfx-exporter-http-settings.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/dpclient.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/correlation/config.go
  exporter/signalfxexporter/internal/correlation/config_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  testbed/datasenders/signalfx.go
Labels: exporter/signalfx, testbed

#17349 [pkg/stanza/operator/input/syslog] Fix TestInput tests
  pkg/stanza/operator/parser/syslog/data.go
Labels: Skip Changelog, pkg/stanza

#17355 [receiver/apache]: remove feature gates for server name and port resource attributes
  .chloggen/apache-remove-attr-feature-gates.yaml
  receiver/apachereceiver/README.md
  receiver/apachereceiver/go.mod
  receiver/apachereceiver/integration_test.go
  receiver/apachereceiver/internal/metadata/deprecated_metrics.go
  receiver/apachereceiver/scraper.go
  receiver/apachereceiver/scraper_test.go
  receiver/apachereceiver/testdata/integration/expected.json
Labels: receiver/apache

#17358 [receiver/filelog] truncate large log entry
  .chloggen/truncate-large-log-entry.yaml
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/scanner.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#17359 [chore] Fix bug in comparetest where original was modified
  internal/comparetest/compare.go
  internal/comparetest/compare_test.go
  internal/comparetest/testdata/sort-unordered-resource-metrics/actual.json
  internal/comparetest/testdata/sort-unordered-resource-metrics/expected.json
Labels: internal/comparetest

#17302 [chore] Fix mongodb integration test
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/testdata/integration/expected.2_6.json
  receiver/mongodbreceiver/testdata/integration/expected.3_0.json
Labels: receiver/mongodb

#17357 [chore] Remove unused comparetest/sort package.
  internal/comparetest/sort/attributes.go
  internal/comparetest/sort/attributes_test.go
Labels: Skip Changelog, internal/comparetest

#17360 [chore] Skip flaky rabbitmq integration test
  receiver/rabbitmqreceiver/integration_test.go
Labels: receiver/rabbitmq

#17285 [awsemfexporter] Avoid segfault from nil logger
  .chloggen/fix_emfLogger.yaml
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/factory.go
  exporter/awsemfexporter/factory_test.go
  exporter/awsemfexporter/grouped_metric.go
Labels: exporter/awsemf

#17363 Set test run parallelization factor to `4`
  Makefile.Common
Labels: Skip Changelog

#17310 [exporter/dynatrace] document preference for OTLP
  exporter/dynatraceexporter/README.md
Labels: Skip Changelog, exporter/dynatrace

#17366 Restore feature gate registration for googlecloud exporter
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/go.mod
Labels: Skip Changelog, chore, exporter/googlecloud

#16831 [receiver/elasticsearch]: Add node version as a resource attribute
  .chloggen/add-es-node-version.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/client.go
  receiver/elasticsearchreceiver/client_test.go
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/mocks/elasticsearchClient.go
  receiver/elasticsearchreceiver/internal/model/nodes.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.json
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/elasticsearchreceiver/testdata/integration/expected.7_16_3.json
  receiver/elasticsearchreceiver/testdata/integration/expected.7_9_3.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_linux.json
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_stats_linux.json
Labels: receiver/elasticsearch

#16545 [exporter/datadog] Update metrics export to use datadog-api-client-go instead of Zorkian
  .chloggen/ddog-metric-export.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#17290 [hostmetrics] Add warning on startup if running in docker with no other root defined.
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/factory.go
Labels: Skip Changelog, receiver/hostmetrics

#17379 [exporter/datadog] Fail config validation on empty endpoints
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/internal/clientutil/api.go
Labels: exporter/datadog, Skip Changelog

#17303 [exporter/splunkhecexporter] Use configopaque for token field
  .chloggen/splunkhec-configopaque-adoption.yaml
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/exporter.go
Labels: exporter/splunkhec

#17385 [exporter/clickhouse] Fix incorrect yaml keys
  exporter/clickhouseexporter/README.md
Labels: Skip Changelog, exporter/clickhouse

#17383 bugfix: remove deprecated resource detectors
  .chloggen/fix-10348.yaml
  processor/resourcedetectionprocessor/config_test.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/testdata/config.yaml
Labels: processor/resourcedetection

#17276 [receiver/hostmetrics] Disable deprecated process memory metrics
  .chloggen/hostmetricsreceiver-disable-deprecated-process-memory-metrics.yaml
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics

#17362 [pkg/stanza/fileconsumer] Use doublestar.WithFilesOnly for file matching
  .chloggen/doublestar-withfilesonly.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/finder_test.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
Labels: exporter/datadog, receiver/filelog, cmd/configschema, cmd/otelcontribcol, pkg/stanza, receiver/otlpjsonfile, cmd/oteltestbedcol

#17298 [exporter/datadog] Change `Config.API.Key` field to `configopaque.String` type
  .chloggen/mx-psi_configopaque-ddog-exporter.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: ready to merge, exporter/datadog

#17375 [receiver/kafkareceiver] fixes Kafka consumer offsets auto commit config issue
  .chloggen/fix-autocommit-config.yaml
  receiver/kafkareceiver/kafka_receiver.go
Labels: ready to merge, receiver/kafka

#17393 Downgrade to agent-payload v5.0.52 and exclude v5.0.59
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: dependencies, ready to merge, exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol

#17081 [internal/comparetest] add golden functions - readLogs, writeLogs, compareLogs
  .chloggen/golden-functions.yaml
  internal/comparetest/README.md
  internal/comparetest/compare.go
  internal/comparetest/compare_test.go
  internal/comparetest/golden/golden.go
  internal/comparetest/golden/golden_test.go
  internal/comparetest/golden/testdata/logs-roundtrip/expected.json
  internal/comparetest/testdata/logs-equal/actual.json
  internal/comparetest/testdata/logs-equal/expected.json
  internal/comparetest/testdata/logs-logrecords-attributes-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-attributes-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-body-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-body-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-droppedattributescount-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-droppedattributescount-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-flag-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-flag-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-missing/actual.json
  internal/comparetest/testdata/logs-logrecords-missing/expected.json
  internal/comparetest/testdata/logs-logrecords-observedtimestamp-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-observedtimestamp-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-severitynumber-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-severitynumber-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-severitytext-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-severitytext-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-spanid-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-spanid-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-timestamp-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-timestamp-mismatch/expected.json
  internal/comparetest/testdata/logs-logrecords-traceid-mismatch/actual.json
  internal/comparetest/testdata/logs-logrecords-traceid-mismatch/expected.json
  internal/comparetest/testdata/logs-missing/actual.json
  internal/comparetest/testdata/logs-missing/expected.json
  internal/comparetest/testdata/logs-resource-attributes-mismatch/actual.json
  internal/comparetest/testdata/logs-resource-attributes-mismatch/expected.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-extra/actual.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-extra/expected.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-missing/actual.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-missing/expected.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-name-mismatch/actual.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-name-mismatch/expected.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-version-mismatch/actual.json
  internal/comparetest/testdata/logs-resource-instrumentation-library-version-mismatch/expected.json
  internal/comparetest/testdata/sort-unordered-log-slice/actual.json
  internal/comparetest/testdata/sort-unordered-log-slice/expected.json
  internal/comparetest/util.go
Labels: internal/comparetest

#17403 [receiver/statsd] Fix statsd server start order
  .chloggen/fix_statsd_start.yaml
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/receiver_test.go
Labels: ready to merge, receiver/statsd

#17401 [chore] test shutdown behavior regardless of lifecycle skip flag
  internal/components/exporters_test.go
  internal/components/extensions_test.go
  internal/components/processors_test.go
  internal/components/receivers_test.go
  processor/k8sattributesprocessor/processor.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/cloudfoundryreceiver/receiver.go
  receiver/k8sclusterreceiver/receiver.go
  receiver/prometheusexecreceiver/receiver.go
  receiver/pulsarreceiver/pulsar_receiver.go
Labels: receiver/statsd, processor/k8sattributes, receiver/awscontainerinsight, receiver/prometheusexec, receiver/cloudfoundry, receiver/k8scluster, receiver/pulsar

#17356 [receiver/purefa] Add missing reloadIntervals
  .chloggen/purefa-receiver-missing-scrapers.yaml
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
Labels: receiver/purefa

#17407 [chore] Use comparetest.CompareLogs in stanza/adapter test
  pkg/stanza/adapter/frompdataconverter_test.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  processor/logstransformprocessor/go.mod
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/promtailreceiver/go.mod
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
Labels: receiver/journald, receiver/mongodbatlas, receiver/filelog, processor/logstransform, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub, receiver/promtail

#17409 [chore] Add missing check in hostreceiver
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/factory.go
Labels: receiver/hostmetrics

#16773 [processor/transform] Remove old config options
  .chloggen/tp-remove-old-config.yaml
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform

#17406 [chore] deprecate signalfxexporter max_connections warning
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/testdata/config.yaml
Labels: exporter/signalfx

#17416 [chore] [receiver/mongodbatlas] Use comparetest.CompareLogs
  receiver/mongodbatlasreceiver/alerts_integration_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
Labels: receiver/mongodbatlas

#17415 Fix: tracegen example docker-compose and documentation
  examples/tracegen/README.md
  examples/tracegen/docker-compose.yml
Labels: ready to merge, Skip Changelog

#17397 [chore] remove unnecessary replace
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
Labels: exporter/signalfx, receiver/signalfx

#16840 [processor/resourcedetectionprocessor] add heroku detector
  .chloggen/heroku-resourcedetection.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config_test.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/heroku/heroku.go
  processor/resourcedetectionprocessor/internal/heroku/heroku_test.go
  processor/resourcedetectionprocessor/testdata/config.yaml
Labels: ready to merge, processor/resourcedetection

#17420 [internal/comparetest] Add IgnoreObservedTimespamp option to CompareLogs
  internal/comparetest/compare.go
  internal/comparetest/compare_test.go
  internal/comparetest/mask.go
  internal/comparetest/testdata/logs-ignore-observed-timestamp/actual.json
  internal/comparetest/testdata/logs-ignore-observed-timestamp/expected.json
  receiver/httpcheckreceiver/scraper_test.go
Labels: Skip Changelog, receiver/httpcheck, internal/comparetest

#17317 extension/asapauth: Use configopaque for private_key field
  .chloggen/gbbr_opaque_extenstions_asapauth.yaml
  extension/asapauthextension/config.go
  extension/asapauthextension/config_test.go
Labels: extension/asapauth

#17287 [receiver/haproxyreceiver] add socket and CSV reader
  .chloggen/haproxy-add-socket-reader.yaml
  receiver/haproxyreceiver/documentation.md
  receiver/haproxyreceiver/factory.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/metadata.yaml
  receiver/haproxyreceiver/scraper.go
  receiver/haproxyreceiver/scraper_test.go
  receiver/haproxyreceiver/testdata/server_info.txt
  receiver/haproxyreceiver/testdata/stats.txt
Labels: receiver/haproxy

#17422 [chore] [receiver/awscloudwatch] Use comparetest.CompareLogs in tests
  receiver/awscloudwatchreceiver/go.mod
  receiver/awscloudwatchreceiver/go.sum
  receiver/awscloudwatchreceiver/integration_test.go
  receiver/awscloudwatchreceiver/logs_test.go
Labels: receiver/awscloudwatch, internal/comparetest

#17371 [receiver/splunkhec] Map HEC key fields to resource attributes correctly
  .chloggen/map-hec-event-fields-to-resource-attributes-correctly.yaml
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: receiver/splunkhec

#17434 [chore] [receiver/snmp] fix typo in a README link
  receiver/snmpreceiver/README.md
Labels: receiver/snmp

#17441 [receiver/otljsonfilereceiver] disregard empty resources when reading from files
  .chloggen/otlpjsonfilereceiver-no-error-on-mixed-signals.yaml
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: receiver/otlpjsonfile

#17448 [chore] Skip flaky logstransform test
  processor/logstransformprocessor/processor_test.go
Labels: processor/logstransform

#17431 [chore] [exporter/signalfx] Remove redundant Map.Sort usages
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2_test.go
Labels: Skip Changelog, exporter/signalfx

#17442 [cmd/mdatagen] Ensure templates are built as part of the application
  .chloggen/msg_fix-embed-metadatagen-templates.yaml
  cmd/mdatagen/embeded_templates.go
  cmd/mdatagen/embeded_templates_test.go
  cmd/mdatagen/main.go
Labels: cmd/mdatagen

#17266 [receiver/purefa] Add relabel and env configs to purefa
  .chloggen/purefa-receiver-relabel-config.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/internal/scraper_test.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: receiver/purefa

#17450 [pkg/stanza/adapter] Deprecate Convert helper
  pkg/stanza/adapter/converter.go
Labels: Skip Changelog, pkg/stanza

#17482 [chore] fix broken link
  CHANGELOG.md
  receiver/otlpjsonfilereceiver/doc.go
Labels: ready to merge, receiver/otlpjsonfile

#17433 [internal/coreinternal/pdatautil] Write key prefix in MapHash function
  internal/comparetest/metrics_test.go
  internal/coreinternal/pdatautil/map.go
  internal/coreinternal/pdatautil/map_test.go
Labels: Skip Changelog, internal/core, internal/comparetest

#17372 [pkg/translator/prw] Remove deprecated in 0.45 `MetricsToPRW`.
  .chloggen/prw-remove-deprecated-method.yaml
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
Labels: pkg/translator/prometheus

#17300 [all] Use new ${env:ENV} style syntax in examples and tests
  exporter/datadogexporter/examples/collector.yaml
  exporter/instanaexporter/README.md
  exporter/sapmexporter/examples/signalfx-collector.yaml
  exporter/sapmexporter/examples/signalfx-k8s.yaml
  extension/asapauthextension/README.md
  extension/basicauthextension/README.md
  extension/observer/k8sobserver/README.md
  receiver/bigipreceiver/README.md
  receiver/bigipreceiver/config_test.go
  receiver/bigipreceiver/testdata/config.yaml
  receiver/couchdbreceiver/README.md
  receiver/couchdbreceiver/config_test.go
  receiver/couchdbreceiver/testdata/config.yaml
  receiver/jmxreceiver/README.md
  receiver/kubeletstatsreceiver/README.md
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/config_test.go
  receiver/mongodbreceiver/testdata/config.yaml
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/config_test.go
  receiver/mysqlreceiver/testdata/config.yaml
  receiver/nsxtreceiver/config_test.go
  receiver/nsxtreceiver/testdata/config.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/config_test.go
  receiver/postgresqlreceiver/testdata/config.yaml
  receiver/prometheusreceiver/testdata/config_env.yaml
  receiver/prometheusreceiver/testdata/config_k8s.yaml
  receiver/rabbitmqreceiver/README.md
  receiver/rabbitmqreceiver/config_test.go
  receiver/rabbitmqreceiver/testdata/config.yaml
  receiver/redisreceiver/README.md
  receiver/riakreceiver/README.md
  receiver/riakreceiver/testdata/config.yaml
  receiver/snmpreceiver/README.md
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/config_test.go
  receiver/vcenterreceiver/testdata/config.yaml
Labels: receiver/redis, exporter/datadog, Skip Changelog, receiver/jmx, receiver/mongodbatlas, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/bigip, receiver/nsxt, receiver/prometheus, exporter/splunkhec, exporter/sapm, receiver/rabbitmq, receiver/couchdb, receiver/mongodb, receiver/postgresql, receiver/riak, extension/asapauth, extension/observer, extension/basicauth, exporter/instana, receiver/snmp

#17411 [chore][pkg/translator/prometheusremotewrite] Reduce scope of validateMetric method in PRW translator.
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: Skip Changelog, pkg/translator/prometheus

#17085 [processor/transform] support substring function
  .chloggen/transform_processor_support_substring_func.yaml
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: ready to merge, processor/transform

#17499 [chore] Remove some Map.Sort calls that can be replaced with AsRaw
  pkg/stanza/adapter/converter_test.go
  pkg/translator/opencensus/oc_to_resource_test.go
  processor/groupbyattrsprocessor/processor_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: processor/groupbyattrs, receiver/solace, receiver/awsxray, pkg/stanza, pkg/translator/opencensus

#17169 [internal/pdatautil] Change MapHash result from 64 to 128 bit
  internal/comparetest/util.go
  internal/coreinternal/pdatautil/map.go
  internal/coreinternal/pdatautil/map_test.go
Labels: Skip Changelog, internal/core, internal/comparetest

#17494 [pkg/stanza/adapter] Deprecate ConvertFrom
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/frompdataconverter.go
Labels: Skip Changelog

#17386 [exporter/datadog] Mark unrecoverable errors as permanent
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/internal/clientutil/error_converter.go
  exporter/datadogexporter/internal/clientutil/error_converter_test.go
  exporter/datadogexporter/internal/clientutil/retrier.go
  exporter/datadogexporter/internal/clientutil/retrier_test.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/metrics_exporter.go
Labels: exporter/datadog, Skip Changelog

#17506 [chore] Replace usages of Map.Sort with Map.AsRaw
  pkg/translator/zipkin/zipkinv1/json_test.go
  pkg/translator/zipkin/zipkinv1/thrift_test.go
  processor/groupbyattrsprocessor/processor_test.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/docker/docker_test.go
  receiver/awsxrayreceiver/internal/translator/annotations_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  testbed/tests/resource_processor_test.go
Labels: processor/resourcedetection, receiver/prometheus, processor/groupbyattrs, receiver/awsxray, pkg/translator/zipkin, testbed

#17022 [receiver/mongodb]: Add uptime/health metrics
  .chloggen/add-mongodb-metrics-health-status.yaml
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/scraper/expected.json
Labels: receiver/mongodb

#17505 [internal/coreinternal/pdatautil] Add hash function for pcommon.Value
  internal/coreinternal/pdatautil/hash.go
  internal/coreinternal/pdatautil/hash_test.go
Labels: Skip Changelog, internal/core

#17507 [exporter/sumologic] Remove Map.Sort calls
  exporter/sumologicexporter/filter.go
Labels: Skip Changelog, exporter/sumologic

#17444 [chore] [receiver/splunkhec] Group metrics with common resource attributes
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
Labels: receiver/splunkhec

#17518 [receiver/mongodbatlas] Add more resource attributes to polled alerts
  .chloggen/feat_mongodbatlas-poll-alerts-add-project-name-and-org-id.yaml
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/alerts_integration_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/testdata/alerts/golden/retrieved-logs.json
Labels: receiver/mongodbatlas

#17519 Add atoulme as triager
  README.md
Labels: Skip Changelog

#17523 Nominate frzifus as triager
  README.md
Labels: Skip Changelog

#17509 [receiver/dockerstats] transition featuregate `receiver.dockerstats.useScraperV2` to stable
  .chloggen/dockerstats-featuregate-stable.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/factory.go
Labels: receiver/dockerstats

#17504 [receiver/aerospike] Try to obtain client more than once during integration test
  receiver/aerospikereceiver/integration_test.go
Labels: Skip Changelog, receiver/aerospike

#17497 [chore] Disallow permanent usage of comparetest.WriteLogs
  internal/comparetest/golden/golden.go
  internal/comparetest/golden/golden_test.go
Labels: internal/comparetest

#17491 [receiver/redisreceiver] add scraper shutdown
  .chloggen/receiver-redisreceiver-add-scraper-close.yaml
  receiver/redisreceiver/client.go
  receiver/redisreceiver/client_test.go
  receiver/redisreceiver/redis_scraper.go
Labels: ready to merge, receiver/redis

#17443 support compare traces in comparetest
  .chloggen/add_trace_to_comparetest.yaml
  internal/comparetest/golden/golden.go
  internal/comparetest/golden/golden_test.go
  internal/comparetest/golden/testdata/traces-roundtrip/expected.json
  internal/comparetest/golden/testdata/traces-roundtrip/traces.json
  internal/comparetest/options.go
  internal/comparetest/testdata/traces/equal/actual.json
  internal/comparetest/testdata/traces/equal/expected.json
  internal/comparetest/traces.go
  internal/comparetest/traces_test.go
  internal/comparetest/util.go
Labels: internal/comparetest

#17539 processor/datadogprocessor: improve docs
  processor/datadogprocessor/README.md
Labels: Skip Changelog, processor/datadog

#17542 [processor/filter] docs: fix configuration example
  processor/filterprocessor/README.md
Labels: ready to merge, processor/filter, Skip Changelog

#17531 [chore] [receiver/signalfx] Remove usages of Map.Sort
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  receiver/signalfxreceiver/receiver_test.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata_test.go
  testbed/go.mod
Labels: receiver/signalfx, testbed

#17540 Mark stable components as beta
  exporter/logzioexporter/README.md
  exporter/mezmoexporter/README.md
  receiver/carbonreceiver/README.md
  receiver/carbonreceiver/factory.go
  receiver/signalfxreceiver/README.md
  receiver/signalfxreceiver/factory.go
Labels: Skip Changelog, receiver/carbon, exporter/logzio, exporter/mezmo, receiver/signalfx

#17546 Partially revert usage of ${env:ENV} style syntax in examples
  exporter/datadogexporter/examples/collector.yaml
  exporter/sapmexporter/examples/signalfx-collector.yaml
  exporter/sapmexporter/examples/signalfx-k8s.yaml
  extension/basicauthextension/README.md
  receiver/kubeletstatsreceiver/README.md
  receiver/prometheusreceiver/testdata/config_k8s.yaml
Labels: exporter/datadog, Skip Changelog, receiver/kubeletstats, receiver/prometheus, exporter/sapm, extension/basicauth

#17498 [receiver/prometheusreceiver] Use `_created` metric, if present, to set StartTimeUnixNano on Sum, Histogram, Summaries
  .chloggen/prw-receiver-use-created-metric.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/metrics_receiver.go
Labels: receiver/prometheus

#17503 [exporter/awsxrayexporter]: Add support to string resource attributes
  .chloggen/awsxrayexporter-string-attrs.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
Labels: exporter/awsxray

#17370 [prometheusremotewriteexporter] Support conversion of OTel Exponential Histogram to Prometheus Native Histogram
  .chloggen/exponetial-to-prom-native-histogram.yaml
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/testutil_test.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/histograms.go
  pkg/translator/prometheusremotewrite/histograms_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
Labels: ready to merge, exporter/prometheusremotewrite, internal/core, pkg/translator/prometheus

#17535 [chore] clean up validation of SAPM exporter
  exporter/sapmexporter/config.go
  exporter/sapmexporter/config_test.go
  exporter/sapmexporter/exporter.go
  exporter/sapmexporter/exporter_test.go
  exporter/sapmexporter/factory.go
  exporter/sapmexporter/testdata/config.yaml
Labels: exporter/sapm

#17557 [chore] remove content check from metrics batches when testing for content length
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#17554 [chore] manage jmx receiver lifecycle
  internal/components/receivers_test.go
  receiver/jmxreceiver/receiver.go
Labels: receiver/jmx

#17536 [chore] move validate of signalfxreceiver to config
  receiver/signalfxreceiver/config.go
  receiver/signalfxreceiver/config_test.go
  receiver/signalfxreceiver/factory.go
  receiver/signalfxreceiver/factory_test.go
  receiver/signalfxreceiver/receiver.go
Labels: receiver/signalfx

#17439 [chore] make TestReceiveTracesBatches more resilient
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#17575 [chore] skip flaky test on windows
  receiver/opencensusreceiver/internal/octrace/observability_test.go
Labels: receiver/opencensus

#17486 [receiver/snowflakereceiver] add factory and scraper
  .chloggen/snowflake_add_scraper.yaml
  receiver/snowflakereceiver/documentation.md
  receiver/snowflakereceiver/factory.go
  receiver/snowflakereceiver/factory_test.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics_test.go
  receiver/snowflakereceiver/metadata.yaml
  receiver/snowflakereceiver/scraper.go
  receiver/snowflakereceiver/scraper_test.go
  receiver/snowflakereceiver/testdata/scraper/expected.json
Labels: receiver/snowflake

#17578 [chore] partial revert of 7711ef492bbd60dab9cf5858a39e2fb2e3054b8d
  cmd/mdatagen/main.go
Labels: cmd/mdatagen

#17553 [chore][internal/comparetest]Make all exported Compare functions not mutated
  internal/comparetest/logs.go
  internal/comparetest/metrics.go
  internal/comparetest/traces.go
Labels: ready to merge, internal/comparetest

#17501 [chore] [exporter/carbon] Update tests to not use Map.Sort
  exporter/carbonexporter/metricdata_to_plaintext_test.go
Labels: exporter/carbon

#17577 [chore] remove github.com/cyriltovena/cloudflare-go, github.com/dannykopping/go-kit-log replace directives
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  go.mod
  go.sum
  receiver/promtailreceiver/go.mod
  receiver/promtailreceiver/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, receiver/promtail

#17579 [internal/comparetest] Add support for all metric types
  .chloggen/comparetest-add-support-for-all-metric-types.yaml
  internal/comparetest/metrics.go
  internal/comparetest/metrics_test.go
  internal/comparetest/testdata/metrics/exp-histogram-data-point-count-mismatch/actual.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-count-mismatch/expected.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-negative-offset-mismatch/actual.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-negative-offset-mismatch/expected.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-positive-buckets-mismatch/actual.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-positive-buckets-mismatch/expected.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-sum-mismatch/actual.json
  internal/comparetest/testdata/metrics/exp-histogram-data-point-sum-mismatch/expected.json
  internal/comparetest/testdata/metrics/histogram-data-point-buckets-mismatch/actual.json
  internal/comparetest/testdata/metrics/histogram-data-point-buckets-mismatch/expected.json
  internal/comparetest/testdata/metrics/histogram-data-point-count-mismatch/actual.json
  internal/comparetest/testdata/metrics/histogram-data-point-count-mismatch/expected.json
  internal/comparetest/testdata/metrics/histogram-data-point-sum-mismatch/actual.json
  internal/comparetest/testdata/metrics/histogram-data-point-sum-mismatch/expected.json
  internal/comparetest/testdata/metrics/summary-data-point-count-mismatch/actual.json
  internal/comparetest/testdata/metrics/summary-data-point-count-mismatch/expected.json
  internal/comparetest/testdata/metrics/summary-data-point-quantile-values-length-mismatch/actual.json
  internal/comparetest/testdata/metrics/summary-data-point-quantile-values-length-mismatch/expected.json
  internal/comparetest/testdata/metrics/summary-data-point-quantile-values-mismatch/actual.json
  internal/comparetest/testdata/metrics/summary-data-point-quantile-values-mismatch/expected.json
  internal/comparetest/testdata/metrics/summary-data-point-sum-mismatch/actual.json
  internal/comparetest/testdata/metrics/summary-data-point-sum-mismatch/expected.json
  internal/comparetest/util.go
Labels: internal/comparetest

#17827 [coreinternal/pdatautil] Reduce allocations in Map/ValueHash functions
  internal/coreinternal/pdatautil/hash.go
Labels: Skip Changelog, internal/core

#17586 [mdatagen] Revert revert of mdatagen templateFS
  .chloggen/msg_revert-flake-metadat.yaml
  cmd/mdatagen/main.go
Labels: cmd/mdatagen, Run Windows

#17417 [pkg/translator/prw] Export _created times series if possible.
  .chloggen/create_create-time-series-prw.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/testdata/config.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
Labels: exporter/prometheusremotewrite, pkg/translator/prometheus

#15248 [exporter/dynatrace] Improve logging of metrics ingest responses
  .chloggen/dynatraceexporter-improve-logging.yaml
  exporter/dynatraceexporter/metrics_exporter.go
  exporter/dynatraceexporter/metrics_exporter_test.go
Labels: exporter/dynatrace

#17591 [exporter/loki] Fix README config examples
  exporter/lokiexporter/README.md
Labels: Skip Changelog, exporter/loki

#17589 [receiver/mysql]: add mysql.commands metric with support for delete, insert, select, update
  .chloggen/drosiek-mysql-commands.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/testdata/config.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
Labels: receiver/mysql

#17832 [chore] [processor/cumulativetodelta] Use map hash in metric identity
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/go.sum
  processor/cumulativetodeltaprocessor/internal/tracking/identity.go
  processor/cumulativetodeltaprocessor/internal/tracking/identity_test.go
Labels: processor/cumulativetodelta

#16855 [exporter/loki] Add Config QueueSettings validation
  .chloggen/lokiexporter-add-queue-settings-validate.yaml
  exporter/lokiexporter/config.go
  exporter/lokiexporter/config_test.go
Labels: exporter/loki

#17590 [internal/comparetest] support IgnoreResourceAttributeValue compare option
  .chloggen/trace-support-ignore-resource.yaml
  internal/comparetest/options.go
  internal/comparetest/testdata/traces/ignore-one-resource-attribute/actual.json
  internal/comparetest/testdata/traces/ignore-one-resource-attribute/expected.json
  internal/comparetest/traces_test.go
Labels: internal/comparetest

#16079 [processor/resourcedetectionprocessor] support openshift
  .chloggen/resourcedetectionprocessor_support_openshift.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  internal/metadataproviders/openshift/metadata.go
  internal/metadataproviders/openshift/metadata_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/config_test.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/openshift/config.go
  processor/resourcedetectionprocessor/internal/openshift/openshift.go
  processor/resourcedetectionprocessor/internal/openshift/openshift_test.go
  processor/resourcedetectionprocessor/testdata/config.yaml
Labels: processor/resourcedetection, internal/metadataproviders

#17581 [pkg/translator/opencensus] Remove usage of Map.Sort
  exporter/awsemfexporter/go.mod
  exporter/opencensusexporter/go.mod
  internal/coreinternal/testdata/common.go
  pkg/translator/opencensus/go.mod
  pkg/translator/opencensus/go.sum
  pkg/translator/opencensus/oc_to_metrics_test.go
  receiver/carbonreceiver/go.mod
  receiver/collectdreceiver/go.mod
  receiver/collectdreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/opencensusreceiver/go.mod
  receiver/wavefrontreceiver/go.mod
Labels: Skip Changelog, receiver/carbon, exporter/awsemf, exporter/opencensus, receiver/opencensus, receiver/wavefront, receiver/collectd, receiver/k8scluster, internal/core, pkg/translator/opencensus, receiver/receivercreator, internal/comparetest

#17508 [chore] [pkg/translator/prometheusremotewrite] Replace Map.Sort usage
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
Labels: pkg/translator/prometheus

#17527 [processor/groupbyattr] Use hash of resource attributes for grouping
  .chloggen/use-hash-groupbyattrproc.yaml
  processor/groupbyattrsprocessor/attribute_groups.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/groupbyattrsprocessor/go.mod
  processor/groupbyattrsprocessor/go.sum
  processor/groupbyattrsprocessor/processor.go
Labels: processor/groupbyattrs

#17583 [chore] Remove usage of Map.Sort from processors tests
  processor/groupbyattrsprocessor/processor_test.go
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  processor/logstransformprocessor/processor_test.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/resourceprocessor/go.mod
  processor/resourceprocessor/go.sum
  processor/resourceprocessor/resource_processor_test.go
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/spanprocessor/span_test.go
Labels: processor/resourcedetection, processor/groupbyattrs, processor/logstransform, processor/resource, processor/span, internal/comparetest

#17269 [exporter/coralogixexporter] Improve coralogix exporter batching
  .chloggen/coralogix-batch-export.yaml
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/logs_client.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/traces_client.go
Labels: ready to merge, exporter/coralogix

#17543 [exporter/file] Improving write performance speed
  exporter/fileexporter/buffered_writer.go
  exporter/fileexporter/buffered_writer_test.go
  exporter/fileexporter/factory.go
  exporter/fileexporter/factory_test.go
  exporter/fileexporter/go.mod
Labels: Skip Changelog, exporter/file

#17835 [pkg/batchperresourceattr] Don't reset the original resource instance, use copy instead
  .chloggen/pkg-batchperresourceattr.yaml
  pkg/batchperresourceattr/batchperresourceattr.go
  pkg/batchperresourceattr/batchperresourceattr_test.go
Labels: pkg/batchperresourceattr

#17318 extension/{basicauth,bearertoken,oauth2client}: use configopaque.String
  .chloggen/gbbr_opaque_extension-basicauth.yaml
  .chloggen/gbbr_opaque_extension-bearertoken.yaml
  .chloggen/gbbr_opaque_extension-oauth2client.yaml
  extension/basicauthextension/config.go
  extension/basicauthextension/extension.go
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/config.go
  extension/oauth2clientauthextension/config.go
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
Labels: Stale, extension/bearertokenauth, extension/oauth2clientauth, extension/basicauth

#17848 [internal/comparetest] Cleanup ioutil for new go version
  internal/comparetest/golden/golden_test.go
Labels: Skip Changelog, internal/comparetest

#17521 [internal/filter] Replace usage of deprecated Value.Equal
  internal/filter/filtermatcher/attributematcher.go
  internal/filter/filtermatcher/attributematcher_test.go
  internal/filter/go.mod
  internal/filter/go.sum
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
Labels: processor/attributes, processor/filter, Skip Changelog, processor/span, internal/filter

#16994 [pkg/ottl] Add tmp path
  .chloggen/ottl-introduce-temp-storage.yaml
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/README.md
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/README.md
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/README.md
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/README.md
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: ready to merge, pkg/ottl

#17857 [chore] fix testbed tests
  Makefile.Common
  testbed/Makefile
  testbed/runtests.sh
Labels: testbed

#17585 [chore] adopt GCI to manage imports
  .github/workflows/build-and-test.yml
  .golangci.yml
  Makefile
  Makefile.Common
  exporter/azuremonitorexporter/time_utils.go
  exporter/azuremonitorexporter/trace_to_envelope.go
  extension/storage/dbstorage/config_test.go
  internal/coreinternal/attraction/hasher.go
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  pkg/ottl/grammar.go
  pkg/stanza/adapter/register.go
  processor/transformprocessor/internal/common/config.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder.go
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/persister.go
  receiver/azureeventhubreceiver/persister_test.go
  receiver/nsxtreceiver/client.go
  receiver/nsxtreceiver/client_mock_test.go
  receiver/nsxtreceiver/client_test.go
  receiver/nsxtreceiver/config.go
  receiver/purefareceiver/factory.go
Labels: processor/transform, exporter/azuremonitor, receiver/nsxt, receiver/awsfirehose, pkg/stanza, pkg/ottl, extension/storage, receiver/azureeventhub, internal/tools, internal/core, receiver/purefa

#17864 Update docs for GCP detector
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog, processor/resourcedetection

#17307 Emit every n seconds
  .chloggen/spanmetricsprocessor-emit-every-n-seconds.yaml
  processor/spanmetricsprocessor/config.go
  processor/spanmetricsprocessor/config_test.go
  processor/spanmetricsprocessor/factory.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  processor/spanmetricsprocessor/internal/cache/cache.go
  processor/spanmetricsprocessor/internal/cache/cache_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
  processor/spanmetricsprocessor/testdata/config-full.yaml
Labels: processor/spanmetrics

#17852 [internal/comparetest] Do not sort any slices by default
  .chloggen/do-not-sort-resources-comparetest.yaml
  internal/comparetest/logs.go
  internal/comparetest/logs_test.go
  internal/comparetest/metrics.go
  internal/comparetest/metrics_test.go
  internal/comparetest/options.go
  internal/comparetest/testdata/metrics/ignore-data-points-order/actual.json
  internal/comparetest/testdata/metrics/ignore-data-points-order/expected.json
  internal/comparetest/testdata/metrics/ignore-metrics-order/actual.json
  internal/comparetest/testdata/metrics/ignore-metrics-order/expected.json
  internal/comparetest/testdata/metrics/summary-data-point-quantile-values-mismatch/actual.json
  internal/comparetest/traces.go
  internal/comparetest/traces_test.go
  internal/comparetest/util.go
  receiver/aerospikereceiver/integration_test.go
  receiver/aerospikereceiver/scraper_test.go
  receiver/apachereceiver/integration_test.go
  receiver/apachereceiver/scraper_test.go
  receiver/apachereceiver/testdata/integration/expected.json
  receiver/apachereceiver/testdata/scraper/expected.json
  receiver/couchdbreceiver/scraper_test.go
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.json
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.json
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.json
  receiver/expvarreceiver/testdata/metrics/expected_all_metrics.json
  receiver/httpcheckreceiver/scraper_test.go
  receiver/httpcheckreceiver/testdata/expected_metrics/invalid_endpoint.json
  receiver/memcachedreceiver/integration_test.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected.json
  receiver/memcachedreceiver/testdata/expected_metrics/test_scraper/expected_without_direction.json
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/scraper/expected.json
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.json
  receiver/nginxreceiver/testdata/scraper/expected.json
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.json
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.json
  receiver/snmpreceiver/integration_test.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
  receiver/vcenterreceiver/testdata/metrics/expected.json
Labels: Skip Changelog, receiver/memcached, receiver/aerospike, receiver/dockerstats, receiver/mysql, receiver/vcenter, receiver/elasticsearch, receiver/expvar, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/splunkhec, receiver/apache, receiver/httpcheck, receiver/snmp, internal/comparetest

#17866 [chore] bump build-tools deps
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#17839 [receiver/filelog] Add 'delete_after_read' setting
  .chloggen/fileconsumer-delete-eof.yaml
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/go.mod
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, receiver/riak, pkg/stanza

#17859 [receiver/windowseventlogreceiver] Support sending the raw XML of the event
  .chloggen/windowseventlog-raw.yaml
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/input/windows/raw.go
  pkg/stanza/operator/input/windows/raw_test.go
  receiver/windowseventlogreceiver/README.md
Labels: ready to merge, receiver/windowseventlog, pkg/stanza

#17844 [pkg/translator/signalfx] Remove usage of Map.Sort
  exporter/signalfxexporter/go.mod
  pkg/translator/signalfx/go.mod
  pkg/translator/signalfx/go.sum
  pkg/translator/signalfx/to_metrics_test.go
  receiver/signalfxreceiver/go.mod
Labels: Skip Changelog, exporter/signalfx, receiver/signalfx, pkg/translator/signalfx

#16477 [exporter/clickhouse] export metrics to clickhouse
  .chloggen/export-metrics-to-clickhouse.yaml
  .github/CODEOWNERS
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/internal/metrics_model_test.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
Labels: Skip Changelog, exporter/clickhouse

#17853 [receiver/oracledb] Fix the oracledb.instance.name resource attribute so it contains the database name
  .chloggen/fix-oracledb-instance-name.yaml
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/factory_test.go
  receiver/oracledbreceiver/scraper_test.go
Labels: receiver/oracledb

#17834 Clickhouse / String type cast fix
  .chloggen/clickhouse-string-type-cast.yaml
  exporter/clickhouseexporter/exporter_logs.go
Labels: ready to merge, exporter/clickhouse

#17870 [chore] Fix tests failing on Windows
  pkg/stanza/operator/input/windows/raw_test.go
  receiver/iisreceiver/integration_test.go
  receiver/iisreceiver/scraper_test.go
  receiver/sqlserverreceiver/scraper_test.go
Labels: receiver/iis, receiver/sqlserver, pkg/stanza, Run Windows

#17860 processor/datadogprocessor: move to beta
  .chloggen/gbbr_processor-beta.yaml
  processor/datadogprocessor/README.md
Labels: processor/datadog

#17883 [chore] remove comment
  receiver/oracledbreceiver/db_client.go
Labels: receiver/oracledb

#17891 [chore] remove unnecessary duplicate code with AsRaw
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
  exporter/splunkhecexporter/tracedata_to_splunk.go
  exporter/splunkhecexporter/tracedata_to_splunk_test.go
Labels: exporter/splunkhec

#17881 [receiver/windowseventlog] Fixed unsafe pointer required event buffer to resize to 0
  .chloggen/windowseventlog-zero-buffer-fix.yaml
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/event.go
Labels: receiver/windowseventlog, pkg/stanza

#17890 [chore] remove unnecessary duplicate code with AsRaw
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/jsonlog.go
  exporter/logzioexporter/jsonlog_test.go
Labels: exporter/logzio

#17880 [receiver/windowseventlog] Fixed panic that can occur in windows event channel during buffer resize
  .chloggen/windowseventlog-resize-panic-fix.yaml
  pkg/stanza/operator/input/windows/api.go
Labels: pkg/stanza, Run Windows

#17837 Implement the FNV hash library for the probabilistic sampler
  .chloggen/probabilistic-sampler-fnv-hash-enhancement.yaml
  processor/probabilisticsamplerprocessor/fnvhasher.go
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/murmur3.go
  processor/probabilisticsamplerprocessor/murmur3_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor.go
Labels: ready to merge, processor/probabilisticsampler

#17869 [receiver/prometheus] Replace usage of Map.Sort with pdatautil.MapHash
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/purefareceiver/go.mod
  receiver/simpleprometheusreceiver/go.mod
Labels: Skip Changelog, receiver/prometheus, receiver/prometheusexec, receiver/simpleprometheus, receiver/purefa

#16476 [exporter/clickhouse]Fix no such host when create database
  .chloggen/fix-clickhouse-create-database.yaml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
Labels: exporter/clickhouse

#17572 [pkg/ottl] Handle nil val in IsMatch
  .chloggen/ottl-fix-ismatch.yaml
  pkg/ottl/ottlfuncs/func_is_match.go
  pkg/ottl/ottlfuncs/func_is_match_test.go
Labels: ready to merge, pkg/ottl

#17902 [chore] Fix the build broken by a merge race condition
  cmd/configschema/go.mod
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
  exporter/prometheusexporter/go.mod
  go.mod
  processor/spanmetricsprocessor/go.mod
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/purefareceiver/go.mod
  receiver/simpleprometheusreceiver/go.mod
  testbed/go.mod
Labels: processor/spanmetrics, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/prometheusexec, receiver/simpleprometheus, cmd/oteltestbedcol, receiver/purefa, testbed

#17313 [receiver/kafkareceiver] handles Kafka rebalancing impact
  .chloggen/handle-kafka-rebalancing-impact-in-consumer.yaml
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: ready to merge, receiver/kafka

#17537 [chore] [processor/attributes] Remove usage of pcommon.Map.Sort in tests
  processor/attributesprocessor/attributes_log_test.go
  processor/attributesprocessor/attributes_metric_test.go
  processor/attributesprocessor/attributes_trace_test.go
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
Labels: processor/attributes

#17903 [pkg/pdatatest] metric support compare exemplar
  .chloggen/pdatatest-metric-support-exemplar.yaml
  pkg/pdatatest/pmetrictest/metrics.go
  pkg/pdatatest/pmetrictest/metrics_test.go
  pkg/pdatatest/pmetrictest/testdata/exemplar/actual.json
  pkg/pdatatest/pmetrictest/testdata/exemplar/expected.json
Labels: pkg/pdatatest

#17592 [exporter/prometheusremotewrite] Export exemplars for the Monotonic Sum metric.
  .chloggen/prw-translator-support-exemplars-for-sum.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/number_data_points.go
  pkg/translator/prometheusremotewrite/number_data_points_test.go
Labels: pkg/translator/prometheus

#17909 [receiver/purefa] Add the mandatory scraper on config file
  .chloggen/add_missing_config_patter_purefa.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/testdata/config.yaml
Labels: receiver/purefa

#17911 Move jpkrohling to the bottom of rotating sponsor list
  CONTRIBUTING.md
Labels: Skip Changelog

#17894 [chore] remove unnecessary duplicate code with AsRaw
  pkg/stanza/adapter/frompdataconverter.go
Labels: pkg/stanza

#17845 [receiver/haproxyreceiver] add more metrics
  .chloggen/add-haproxy-metrics.yaml
  receiver/haproxyreceiver/documentation.md
  receiver/haproxyreceiver/go.mod
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/internal/metadata/testdata/config.yaml
  receiver/haproxyreceiver/metadata.yaml
  receiver/haproxyreceiver/scraper.go
  receiver/haproxyreceiver/scraper_test.go
Labels: ready to merge, receiver/haproxy

#17394 [pkg/ottl] Change NewParser signature to have a list of Options.
  .chloggen/ottl-parser-signatiure-opts.yaml
  pkg/ottl/boolean_value_test.go
  pkg/ottl/compare_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions_test.go
  pkg/ottl/math_test.go
  pkg/ottl/parser.go
Labels: pkg/ottl

#17892 [chore] remove unnecessary duplicate code with AsRaw
  exporter/awsxrayexporter/internal/translator/segment.go
Labels: exporter/awsxray

#17977 [exporter/signalfx] Metadata updater lifecycle
  .chloggen/fix-signalfxmetadataupdater-dependency-to-exporter.yaml
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory.go
Labels: exporter/signalfx

#17966 [chore] Update aerospike integration test to arm compatible docker image
  receiver/aerospikereceiver/integration_test.go
Labels: receiver/aerospike

#17964 [chore] prefer usage of testify package vs manual checks
  exporter/alibabacloudlogserviceexporter/logsdata_to_logservice_test.go
  exporter/alibabacloudlogserviceexporter/metricsdata_to_logservice_test.go
  exporter/alibabacloudlogserviceexporter/tracedata_to_logservice_test.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  exporter/awsxrayexporter/internal/translator/http_test.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  exporter/awsxrayexporter/internal/translator/service_test.go
  exporter/awsxrayexporter/internal/translator/sql_test.go
  exporter/awsxrayexporter/internal/translator/writer_pool_test.go
  exporter/humioexporter/traces_exporter_test.go
  exporter/signalfxexporter/internal/dimensions/metadata_test.go
  exporter/signalfxexporter/internal/hostmetadata/host_linux_test.go
  exporter/signalfxexporter/internal/hostmetadata/host_test.go
  exporter/signalfxexporter/internal/translation/converter_test.go
  exporter/tanzuobservabilityexporter/metrics_test.go
  exporter/tanzuobservabilityexporter/transformer_test.go
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice_test.go
  extension/observer/endpoints_test.go
  extension/observer/hostobserver/extension_test.go
  internal/aws/k8s/k8sclient/endpoint_test.go
  internal/aws/k8s/k8sclient/job_test.go
  internal/aws/k8s/k8sclient/pod_test.go
  internal/aws/k8s/k8sclient/replicaset_test.go
  internal/metadataproviders/aws/ec2/metadata_test.go
  pkg/ottl/ottlfuncs/func_parse_json_test.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/filterprocessor/expr_test.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/options_test.go
  processor/metricstransformprocessor/factory_test.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor_test.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_test.go
  receiver/k8sclusterreceiver/mock_resources_test.go
  receiver/kubeletstatsreceiver/config_test.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
  receiver/prometheusexecreceiver/subprocessmanager/manager_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/receivercreator/resourceenhancer_test.go
  receiver/redisreceiver/metric_functions_test.go
  receiver/simpleprometheusreceiver/receiver_test.go
Labels: receiver/redis, exporter/alibabacloudlogservice, processor/filter, processor/k8sattributes, processor/tailsampling, processor/metricstransform, receiver/mongodbatlas, receiver/hostmetrics, receiver/awscontainerinsight, receiver/kubeletstats, exporter/tanzuobservability, receiver/prometheus, processor/cumulativetodelta, exporter/awsemf, exporter/signalfx, exporter/awsxray, exporter/humio, exporter/tencentcloudlogservice, receiver/prometheusexec, receiver/simpleprometheus, receiver/k8scluster, pkg/ottl, extension/observer, internal/aws, internal/metadataproviders, receiver/receivercreator

#17895 [chore] remove unnecessary duplicate code with AsRaw
  pkg/translator/loki/encode.go
Labels: pkg/translator/loki
