Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-08, with the labels that each got.

#24742 [chore] Relocate Shopify/sarama to IBM/sarama, upgrade to v1.40.1
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/authentication.go
  exporter/kafkaexporter/authentication_test.go
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/internal/awsmsk/iam_scram_client.go
  exporter/kafkaexporter/jaeger_marshaler.go
  exporter/kafkaexporter/jaeger_marshaler_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/pdata_marshaler.go
  exporter/kafkaexporter/raw_marshaler.go
  exporter/kafkaexporter/raw_marshaller_test.go
  exporter/kafkaexporter/scram_client.go
  go.mod
  go.sum
  receiver/kafkametricsreceiver/broker_scraper.go
  receiver/kafkametricsreceiver/broker_scraper_test.go
  receiver/kafkametricsreceiver/consumer_scraper.go
  receiver/kafkametricsreceiver/consumer_scraper_test.go
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkametricsreceiver/scraper_test_helper.go
  receiver/kafkametricsreceiver/topic_scraper.go
  receiver/kafkametricsreceiver/topic_scraper_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: exporter/alibabacloudlogservice, cmd/configschema, cmd/otelcontribcol, exporter/signalfx, exporter/kafka, receiver/kafka, receiver/signalfx, receiver/kafkametrics, cmd/oteltestbedcol, testbed

#24676 [receiver/sshcheck] Include SSH endpoint resource attribute
  .chloggen/add-ssh-endpoint-resource-attribute.yaml
  receiver/sshcheckreceiver/scraper.go
  receiver/sshcheckreceiver/scraper_test.go
Labels: receiver/sshcheck

#24687 Update prometheus to v0.44.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/loki, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/prometheusexec, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, receiver/loki

#24647 Remove units from the prometheus conversion that aren't UCUM
  .chloggen/prometheus_translation_ucum.yaml
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
Labels: bug, ready to merge, pkg/translator/prometheus

#24604 [splunkhecreceiver] aligns success response body w/ splunk enterprise
  .chloggen/splunkhecreceiver-align-success-response.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#24551 telemetrygen: Allow setting custom paths
  .chloggen/telemetrygen-new-path.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/traces/traces.go
Labels: ready to merge, cmd/telemetrygen

#24233 [chore] [processor/resourcedetectionprocessor]Add missing permission for the resourcedetectionprocessor in OpenShift
  processor/resourcedetectionprocessor/README.md
Labels: ready to merge, processor/resourcedetection

#23448 [receiver/prometheus] Don't drop Histograms without buckets
  .chloggen/fix_prometheusreceiver_empty-histogram.yaml
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: ready to merge, receiver/prometheus

#24423 [exporter/splunkhec] - Add heartbeat check while startup
  .chloggen/heartbeat-while-startup.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/heartbeat.go
Labels: ready to merge, exporter/splunkhec

#24767 Fix prometheus receiver test for invalid histogram buckets
  receiver/prometheusreceiver/testdata/openmetrics/histogram_no_buckets/metrics
Labels: Skip Changelog, receiver/prometheus

#21917 Support configure aws endpoint url
  .chloggen/support-configure-aws-endpoint.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/s3_writer_test.go
  exporter/awss3exporter/testdata/config.yaml
  exporter/awss3exporter/testdata/default.yaml
Labels: ready to merge, exporter/awss3

#21763 [prometheusreceiver] enable reporting of additional metrics issue #21064
  .chloggen/report-extra-metrics.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_report_extra_scrape_metrics_test.go
  receiver/prometheusreceiver/testdata/config.yaml
Labels: ready to merge, receiver/prometheus

#24453 feat: allow math expressions for time and duration
  .chloggen/feat_math-time-duration.yaml
  pkg/ottl/README.md
  pkg/ottl/math.go
  pkg/ottl/math_test.go
Labels: pkg/ottl

#24688 [pkg/stanza][fileconsumer] Remove/unexport deprecated fields
  .chloggen/pkg-stanza-fileconsumer-deprecated.yaml
  .chloggen/pkg-stanza-fileconsumer-deprecated2.yaml
  .chloggen/pkg-stanza-fileconsumer-deprecated3.yaml
  .chloggen/pkg-stanza-fileconsumer-deprecated4.yaml
  .chloggen/pkg-stanza-fileconsumer-deprecated5.yaml
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_sort.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/finder_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/roller.go
  pkg/stanza/fileconsumer/roller_other.go
  pkg/stanza/fileconsumer/roller_windows.go
Labels: pkg/stanza, Run Windows

#23882 [chore] fix exhaustive lint for splunkhec exporter
  exporter/splunkhecexporter/metricdata_to_splunk.go
Labels: ready to merge, Skip Changelog, exporter/splunkhec

#24776 [receiver/k8scluster] Unify predefined and custom node metrics
  .chloggen/k8scluster-remove-node-metrics-from-metadata.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected.yaml
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#24058 Feature/azure data explorer managed identity
  .chloggen/add_managed_identity_azuredataexplorer.yaml
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/adx_exporter.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/azuredataexplorerexporter/config.go
  exporter/azuredataexplorerexporter/config_test.go
  exporter/azuredataexplorerexporter/testdata/config.yaml
Labels: exporter/azuredataexplorer

#23231 [hostmetricsreceiver]: support reporting amount of available logical and physical CPUs
  .chloggen/hostmetricsreceiver_support_cpu_count.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_config.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_config_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
Labels: receiver/hostmetrics

#24779 [connector/count] enable exhaustive for count connector
  connector/countconnector/connector.go
Labels: Skip Changelog, connector/count

#24772 [chore][pkg/stanza/fileconsumer] Move finder into internal package
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/finder_test.go
  pkg/stanza/fileconsumer/internal/finder/finder.go
  pkg/stanza/fileconsumer/internal/finder/finder_test.go
Labels: pkg/stanza

#24381 [exporter/awsxray] Fix X-Ray Segment status code
  .chloggen/fix-xray-segment-status-attributes.yaml
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
Labels: exporter/awsxray

#24740 [receiver/prometheusexec] Remove deprecated prometheusexecreceiver
  .chloggen/remove-deprecated-prometheusexecreceiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  internal/components/components.go
  receiver/prometheusexecreceiver/Makefile
  receiver/prometheusexecreceiver/README.md
  receiver/prometheusexecreceiver/config.go
  receiver/prometheusexecreceiver/config_test.go
  receiver/prometheusexecreceiver/doc.go
  receiver/prometheusexecreceiver/factory.go
  receiver/prometheusexecreceiver/factory_test.go
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusexecreceiver/internal/metadata/generated_status.go
  receiver/prometheusexecreceiver/metadata.yaml
  receiver/prometheusexecreceiver/receiver.go
  receiver/prometheusexecreceiver/receiver_test.go
  receiver/prometheusexecreceiver/subprocessmanager/config.go
  receiver/prometheusexecreceiver/subprocessmanager/exec_command_other.go
  receiver/prometheusexecreceiver/subprocessmanager/exec_command_win.go
  receiver/prometheusexecreceiver/subprocessmanager/manager.go
  receiver/prometheusexecreceiver/subprocessmanager/manager_test.go
  receiver/prometheusexecreceiver/subprocessmanager/testdata/test_crasher.go
  receiver/prometheusexecreceiver/testdata/config.yaml
  receiver/prometheusexecreceiver/testdata/end_to_end_metrics_test/test_prometheus_exporter.go
  receiver/prometheusexecreceiver/testdata/metrics
  versions.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, receiver/prometheusexec

#24808 [cmd/mdatagen] Rename aggregation to aggregation_temporality for sum metrics
  .chloggen/rename-agggregation-aggregation-temporality.yaml
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metadata-sample.yaml
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/metricdata.go
  cmd/mdatagen/templates/documentation.md.tmpl
  cmd/mdatagen/templates/metrics.go.tmpl
  cmd/mdatagen/templates/metrics_test.go.tmpl
  cmd/mdatagen/testdata/invalid_aggregation.yaml
  cmd/mdatagen/testdata/invalid_input_type.yaml
  cmd/mdatagen/testdata/no_description_attr.yaml
  cmd/mdatagen/testdata/no_enabled.yaml
  cmd/mdatagen/testdata/no_metric_description.yaml
  cmd/mdatagen/testdata/no_metric_unit.yaml
  cmd/mdatagen/testdata/no_monotonic.yaml
  cmd/mdatagen/testdata/no_value_type.yaml
  cmd/mdatagen/testdata/two_metric_types.yaml
  cmd/mdatagen/testdata/unknown_metric_attribute.yaml
  cmd/mdatagen/testdata/unknown_value_type.yaml
  receiver/activedirectorydsreceiver/metadata.yaml
  receiver/aerospikereceiver/metadata.yaml
  receiver/apachereceiver/metadata.yaml
  receiver/apachesparkreceiver/metadata.yaml
  receiver/bigipreceiver/metadata.yaml
  receiver/couchdbreceiver/metadata.yaml
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/expvarreceiver/metadata.yaml
  receiver/filestatsreceiver/metadata.yaml
  receiver/flinkmetricsreceiver/metadata.yaml
  receiver/haproxyreceiver/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/httpcheckreceiver/metadata.yaml
  receiver/iisreceiver/metadata.yaml
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/memcachedreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/nginxreceiver/metadata.yaml
  receiver/nsxtreceiver/metadata.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/rabbitmqreceiver/metadata.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/riakreceiver/metadata.yaml
  receiver/saphanareceiver/metadata.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sshcheckreceiver/metadata.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/zookeeperreceiver/metadata.yaml
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/httpcheck, receiver/oracledb, receiver/haproxy, receiver/sshcheck, receiver/filestats, receiver/apachespark

#23225 [receiver/gitproviderreceiver] initial commit of git provider receiver skeleton
  .chloggen/gitmetricsreceiver-skeleton.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/mdatagen/statusdata.go
  receiver/gitproviderreceiver/Makefile
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/config.go
  receiver/gitproviderreceiver/config_test.go
  receiver/gitproviderreceiver/doc.go
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/factory.go
  receiver/gitproviderreceiver/factory_test.go
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_status.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/factory.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/metadata.yaml
  receiver/gitproviderreceiver/testdata/config-noscrapers.yaml
  receiver/gitproviderreceiver/testdata/config.yaml
  versions.yaml
Labels: cmd/mdatagen

#24368 [processor/transform] Add extract_sum_metric OTTL function
  .chloggen/feat_transformprocessor_histogram-convert.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: processor/attributes, processor/filter, processor/transform, pkg/ottl, internal/filter, connector/count

#24851 [chore] unexport MockClient
  receiver/couchdbreceiver/scraper_test.go
Labels: receiver/couchdb

#24847 [chore] unexport URL constant used in tests
  receiver/apachesparkreceiver/client.go
  receiver/apachesparkreceiver/client_test.go
Labels: receiver/apachespark

#24845 [processor/filterprocessor] reduce exposed Go API
  .chloggen/unexport-filterprocessor.yaml
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/traces_test.go
Labels: processor/filter

#24841 [chore] unexport struct used for testing
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#24848 [chore] unexport test structs
  receiver/awscontainerinsightreceiver/receiver_test.go
Labels: receiver/awscontainerinsight

#24844 [chore] unexport function used in tests
  exporter/syslogexporter/exporter_test.go
Labels: ready to merge, exporter/syslog

#24849 [chore]unexport mocks from azureblobreceiver.
  receiver/azureblobreceiver/mock_blobclient.go
  receiver/azureblobreceiver/mock_logsdataconsumer.go
  receiver/azureblobreceiver/mock_tracesddataconsumer.go
Labels: receiver/azureblob

#24770 [collectdreceiver] Migrate from OpenCensus data model to pdata
  .chloggen/collectdreceiver-migrate-from-opensus-to-pdata.yaml
  receiver/collectdreceiver/collectd.go
  receiver/collectdreceiver/collectd_test.go
  receiver/collectdreceiver/go.mod
  receiver/collectdreceiver/go.sum
  receiver/collectdreceiver/receiver.go
  receiver/collectdreceiver/receiver_test.go
  receiver/collectdreceiver/testdata/expected.yaml
  receiver/wavefrontreceiver/go.mod
  receiver/wavefrontreceiver/go.sum
Labels: ready to merge, receiver/wavefront, receiver/collectd

#24452 Webhookreceiver - option to add a required header
  .chloggen/webhook-require-header.yaml
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/config_test.go
  receiver/webhookeventreceiver/receiver.go
  receiver/webhookeventreceiver/receiver_test.go
  receiver/webhookeventreceiver/testdata/config.yaml
Labels: ready to merge, receiver/webhookevent

#24846 [processor/metricstransformprocessor] unexport elements of the Go API
  .chloggen/unexport-metricstransformprocessor.yaml
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/config_test.go
  processor/metricstransformprocessor/factory.go
  processor/metricstransformprocessor/factory_test.go
  processor/metricstransformprocessor/metrics_transform_processor.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
Labels: processor/metricstransform

#24842 [exporter/mezmoexporter] unexport mezmo structs
  .chloggen/unexport-mezmo.yaml
  exporter/mezmoexporter/exporter.go
  exporter/mezmoexporter/exporter_test.go
Labels: exporter/mezmo

#24876 [chore] Bump go.opentelemetry.io/build-tools
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#24542 [processor/resourcedetection] Add detection of os.description to the system detector
  .chloggen/mx-psi_os-description.yaml
  internal/metadataproviders/system/metadata.go
  internal/metadataproviders/system/metadata_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: ready to merge, processor/resourcedetection, internal/metadataproviders

#24890 [receiver/solacereceiver] move model to internal package
  .chloggen/internal_model_solacereceiver.yaml
  receiver/solacereceiver/internal/model/README.md
  receiver/solacereceiver/internal/model/egress/v1/egress_v1.pb.go
  receiver/solacereceiver/internal/model/egress_v1.proto
  receiver/solacereceiver/internal/model/receive/v1/receive_v1.pb.go
  receiver/solacereceiver/internal/model/receive_v1.proto
  receiver/solacereceiver/unmarshaller_egress.go
  receiver/solacereceiver/unmarshaller_egress_test.go
  receiver/solacereceiver/unmarshaller_receive.go
  receiver/solacereceiver/unmarshaller_receive_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: receiver/solace

#24879 [receiver/snowflakereceiver] Unexport MockDB
  receiver/snowflakereceiver/scraper_test.go
Labels: Skip Changelog, receiver/snowflake

#24538 [receiver/purefa] implement fa_array_name to act as a pretty name as a label for metrics received.
  .chloggen/pretty_names_for_pretty_metrics.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: receiver/purefa

#24806 [receiver/k8sobjects] Fix issue where resourceVersion was not being remembered,
  .chloggen/k8sobjects-fix-resourceversion-bug.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/config_test.go
  receiver/k8sobjectsreceiver/mock_dynamic_client_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/receiver_test.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: receiver/k8sobjects

#24900 [chore][fileconsumer] Fix windows tests where file could remain open
  pkg/stanza/fileconsumer/matcher/internal/finder/finder_test.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/fileconsumer/matcher/matcher_test.go
Labels: pkg/stanza, Run Windows

#24855 [examples/kubernetes] Fix the incorrect ordering
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
Labels: Skip Changelog

#24880 [receiver/sqlserverreceiver] unexport MockPerfCounterWatcher
  receiver/sqlserverreceiver/scraper_test.go
Labels: Skip Changelog, receiver/sqlserver, Run Windows

#24892 [chore] move statsdreceiver packages to internal
  .chloggen/statsdreceiver-move-to-internal.yaml
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/config_test.go
  receiver/statsdreceiver/factory.go
  receiver/statsdreceiver/internal/protocol/metric_translator.go
  receiver/statsdreceiver/internal/protocol/metric_translator_test.go
  receiver/statsdreceiver/internal/protocol/parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
  receiver/statsdreceiver/internal/transport/client/client.go
  receiver/statsdreceiver/internal/transport/mock_reporter.go
  receiver/statsdreceiver/internal/transport/server.go
  receiver/statsdreceiver/internal/transport/server_test.go
  receiver/statsdreceiver/internal/transport/udp_server.go
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/receiver_test.go
  receiver/statsdreceiver/reporter.go
Labels: receiver/statsd

#23058 [receiver/datadog] add datadog span and trace id
  .chloggen/dd-receiver-span-id.yaml
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
Labels: receiver/datadog

#24274 [exporter/awsemf] Add feature gate for default dimension rollup
  .chloggen/awsemf_defaultrollup.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/factory.go
  exporter/awsemfexporter/go.mod
Labels: ready to merge, exporter/awsemf

#24598 [processor/resourcedetection] Add new GCP resource attributes for GCE instance name/hostname
  .chloggen/gcp-gce-hostname-resourcedetection.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/gcp/metadata.yaml
  processor/resourcedetectionprocessor/internal/gcp/types.go
Labels: ready to merge, processor/resourcedetection

#24798 [exporter/kafkaexporter] Fix SASL config validation panic when not present
  .chloggen/fix-kafkaexporter-sasl-validation-panic.yaml
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
Labels: ready to merge, exporter/kafka

#24877 [receiver/skywalkingreceiver] Unexport `MockGrpcTraceSegment`
  receiver/skywalkingreceiver/skywalking_receiver_test.go
Labels: ready to merge, Skip Changelog, receiver/skywalking

#24895 [chore] fix flaky test for datadogreceiver server binding
  receiver/datadogreceiver/factory_test.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#24769 [receiver/k8scluster] Do not keep metrics in memory
  .chloggen/k8sclusterreceiver-improve-memory-utilization.yaml
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusterresourcequotas.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusterresourcequotas_test.go
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
  receiver/k8sclusterreceiver/internal/collection/metricsstore.go
  receiver/k8sclusterreceiver/internal/collection/metricsstore_test.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs_test.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets_test.go
  receiver/k8sclusterreceiver/internal/deployment/deployments.go
  receiver/k8sclusterreceiver/internal/deployment/deployments_test.go
  receiver/k8sclusterreceiver/internal/hpa/hpa.go
  receiver/k8sclusterreceiver/internal/hpa/hpa_test.go
  receiver/k8sclusterreceiver/internal/jobs/jobs.go
  receiver/k8sclusterreceiver/internal/jobs/jobs_test.go
  receiver/k8sclusterreceiver/internal/metadata/metadatastore.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces_test.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets_test.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/replicationcontrollers.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/replicationcontrollers_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/resourcequotas.go
  receiver/k8sclusterreceiver/internal/resourcequota/resourcequotas_test.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#24891 [chore][connector/spanmetricsconnector] remove mock
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
  connector/spanmetricsconnector/mocks/MetricsConsumer.go
Labels: connector/spanmetrics

#24652 [chronyreceiver] Remove hard dependency on explicit timeout
  receiver/chronyreceiver/config_test.go
  receiver/chronyreceiver/internal/chrony/client.go
  receiver/chronyreceiver/scraper.go
Labels: ready to merge, Skip Changelog, receiver/chrony

#24923 [receiver/haproxy] Make sure emitted resource metrics have distinct resources by default
  .chloggen/haproxy-fix-emitted-resource-metrics.yaml
  receiver/haproxyreceiver/documentation.md
  receiver/haproxyreceiver/internal/metadata/generated_config.go
  receiver/haproxyreceiver/internal/metadata/generated_config_test.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/internal/metadata/generated_resource.go
  receiver/haproxyreceiver/internal/metadata/generated_resource_test.go
  receiver/haproxyreceiver/internal/metadata/testdata/config.yaml
  receiver/haproxyreceiver/metadata.yaml
  receiver/haproxyreceiver/scraper.go
  receiver/haproxyreceiver/scraper_test.go
Labels: receiver/haproxy

#24917 [chore] [receiver/k8scluster] Fix flaky test
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
Labels: receiver/k8scluster

#24952 [chore] [exporter/signalfx] rename cap->capacity
  pkg/translator/signalfx/from_metrics.go
Labels: Skip Changelog, pkg/translator/signalfx

#24953 [chore] rename away from 'new' to avoid clashes with reserved words
  processor/k8sattributesprocessor/internal/kube/client.go
Labels: processor/k8sattributes

#24932 [chore] close http response
  cmd/opampsupervisor/supervisor/healthchecker/healthchecker.go
Labels: cmd/opampsupervisor

#24931 [chore] rename variables so they don't clash with reserved keywords
  exporter/awskinesisexporter/internal/compress/compresser.go
  exporter/awskinesisexporter/internal/compress/compresser_test.go
Labels: exporter/awskinesis

#24933 [chore] preallocate configschema components
  cmd/configschema/configs.go
Labels: cmd/configschema

#24916 [chore] [exporter/awsemf] Use pdata instead of OpenCensus in tests
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsemfexporter/util_test.go
Labels: exporter/awsemf

#24924 [chore] [exporter/splunkhec] use context when making http requests
  exporter/splunkhecexporter/client.go
Labels: exporter/splunkhec

#24971 Update README.md adding MySQL Datasource format example
  receiver/sqlqueryreceiver/README.md
Labels: ready to merge, Skip Changelog, receiver/sqlquery

#24945 [chore] [extension/storage/filestorage] do not assign a variable to be reassigned next
  extension/storage/filestorage/extension_test.go
Labels: extension/storage

#24961 [chore] [receiver/azureeventhub] wastedassign on string variable
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
Labels: receiver/azureeventhub

#24967 [chore] [receiver/k8scluster] Rename vars to avoid using reserved words
  receiver/k8sclusterreceiver/internal/metadata/entities.go
  receiver/k8sclusterreceiver/internal/metadata/metadata.go
Labels: receiver/k8scluster

#24970 [chore] [receiver/prometheus] preallocate slices in tests
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
Labels: ready to merge, receiver/prometheus

#24966 [chore] prealloc slice
  receiver/flinkmetricsreceiver/client.go
Labels: receiver/flinkmetrics

#24944 [chore] [extension/oidcauth] Test no error on json marshaling
  extension/oidcauthextension/oidc_server_test.go
Labels: extension/oidcauth

#24964 [chore] [receiver/googlecloudspanner] preallocate slice
  receiver/googlecloudspannerreceiver/internal/metadata/metricsmetadata.go
Labels: receiver/googlecloudspanner

#24963 [chore] [receiver/cloudflare] preallocate slice
  receiver/cloudflarereceiver/logs.go
Labels: receiver/cloudflare

#24939 [chore] [exporter/prometheus] preallocate slice
  exporter/prometheusexporter/collector.go
Labels: ready to merge, exporter/prometheus

#24935 [chore] [exporter/dataset] preallocate slice
  exporter/datasetexporter/traces_exporter.go
Labels: exporter/dataset

#24962 [chore] [receiver/awscontainerinsight] preallocate slices
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/fs_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/net_extractor.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/testutils/helpers.go
Labels: receiver/awscontainerinsight

#24973 [chore] [pkg/translator/opencensus] Remove deprecation mark
  pkg/translator/opencensus/metrics_to_oc.go
  pkg/translator/opencensus/oc_to_metrics.go
Labels: pkg/translator/opencensus

#24928 [chore] use context when making a http request
  exporter/signalfxexporter/internal/dimensions/dimclient.go
Labels: ready to merge, exporter/signalfx

#24812 [exporter/awsemfexporter] enable exhaustive for awsemfexporter
  exporter/awsemfexporter/datapoint.go
Labels: ready to merge, Skip Changelog, exporter/awsemf

#21629 [cmd/telemetrygen] Improvements and fixes to telemetrygen traces
  .chloggen/telemetrygen-traces-batch-size-options.yaml
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker.go
Labels: cmd/telemetrygen

#23649 [awss3exporter]: add Sumo Logic marshaler for logs in Installed Collector format
  .chloggen/awss3-sumologic-ic-marshaller.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/factory_test.go
  exporter/awss3exporter/marshaler.go
  exporter/awss3exporter/marshaler_test.go
  exporter/awss3exporter/sumo_marshaler.go
  exporter/awss3exporter/sumo_marshaler_test.go
  exporter/awss3exporter/testdata/marshaler.yaml
Labels: exporter/awss3

#24960 [chore] preallocate slice
  receiver/awscloudwatchreceiver/integration_test.go
Labels: receiver/awscloudwatch

#24979 [exporter/datadog] Set Capabilities on metrics exporter
  .chloggen/mx-psi_fix-panics.yaml
  exporter/datadogexporter/factory.go
Labels: ready to merge, exporter/datadog

#23605 [chore] Update recombine example and add corresponding test
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#24674 [chore] Upgrade datadog-agent and mapping go versions and fix breaking changes
  .chloggen/datadogexporter-deps.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  go.mod
  go.sum
  internal/datadog/agent.go
  internal/datadog/agent_test.go
  internal/datadog/go.mod
  internal/datadog/go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  processor/datadogprocessor/processor.go
  processor/datadogprocessor/processor_test.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, cmd/configschema, cmd/otelcontribcol, testbed, processor/datadog, receiver/datadog, internal/datadog

#24959 [chore] [processor/tailsampling] Preallocate slices
  processor/tailsamplingprocessor/and_helper.go
  processor/tailsamplingprocessor/composite_helper.go
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#24909 [chore] Add @bryan-aguilar as a triager
  README.md
Labels: ready to merge

#24958 [chore] [processor/spanmetrics] preallocate slice
  processor/spanmetricsprocessor/processor.go
Labels: processor/spanmetrics

#24950 [chore] [pkg/stanza] preallocate slice
  pkg/stanza/operator/helper/writer.go
  pkg/stanza/operator/transformer/router/router.go
Labels: pkg/stanza

#24941 [chore] [exporter/pulsar] preallocate slice
  exporter/pulsarexporter/jaeger_marshaler.go
Labels: exporter/pulsar

#24929 [chore] [exporter/signalfx] preallocate slice for faster performance
  exporter/signalfxexporter/internal/translation/dpfilters/filterset.go
Labels: ready to merge, exporter/signalfx

#24927 [chore] improve signalfx exporter tests
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2_test.go
  exporter/signalfxexporter/internal/translation/translator_test.go
Labels: ready to merge, exporter/signalfx

#24977 [chore] [processor/attributes] enable exhaustive linter
  processor/attributesprocessor/attributes_metric.go
Labels: ready to merge, processor/attributes, Skip Changelog

#24955 [chore] [processor/groupbytrace] preallocate slice
  processor/groupbytraceprocessor/storage_memory.go
Labels: processor/groupbytrace

#24942 [chore] [exporter/tanzuobservability] prealloc slice
  exporter/tanzuobservabilityexporter/trace_exporter.go
Labels: ready to merge, exporter/tanzuobservability

#24937 [chore] [exporter/loadbalancing] preallocate slice
  exporter/loadbalancingexporter/resolver_dns.go
Labels: ready to merge, exporter/loadbalancing

#25059 [processor/resourcedetectionprocessor] handle partial presence of heroku metadata
  .chloggen/log-partial-metadata-heroku.yaml
  processor/resourcedetectionprocessor/internal/heroku/heroku.go
  processor/resourcedetectionprocessor/internal/heroku/heroku_test.go
Labels: processor/resourcedetection

#24276 [receiver/carbon] Fix memory leak
  .chloggen/carbon-receiver-obsrecv-memory-leak.yaml
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/receiver_test.go
  receiver/carbonreceiver/transport/client/plaintext_client.go
  receiver/carbonreceiver/transport/tcp_server.go
Labels: receiver/carbon

#25062 [processor/filter] enable exhaustive lint for
  processor/filterprocessor/metrics.go
Labels: processor/filter, Skip Changelog

#25068 [chore] [receiver/k8scluster] Remove a duplicate function
  receiver/k8sclusterreceiver/internal/pod/pods.go
Labels: receiver/k8scluster

#25070 [chore] Replace incompatible datadog-agent dependencies in go mod
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  exporter/datadogexporter/go.mod
  go.mod
  internal/datadog/go.mod
  processor/datadogprocessor/go.mod
  receiver/datadogreceiver/go.mod
Labels: dependencies, exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, processor/datadog, receiver/datadog, internal/datadog

#24965 [chore] [receiver/jmx] preallocate slice
  receiver/jmxreceiver/receiver.go
Labels: receiver/jmx

#24982 [pkg/stanza/fileconsumer] Add trie and test cases
  pkg/stanza/fileconsumer/internal/trie/trie.go
  pkg/stanza/fileconsumer/internal/trie/trie_test.go
Labels: Skip Changelog, pkg/stanza

#24954 [chore] [pkg/translator/jaeger] preallocate slice
  pkg/translator/jaeger/jaegerproto_to_traces.go
Labels: pkg/translator/jaeger

#25097 [chore] [internal/aws] Change TestMapWithExpiry to explicitly test cleanup
  internal/aws/metrics/metric_calculator_test.go
Labels: internal/aws

#24897 [processor/transform] Add extract_count_metric OTTL function
  .chloggen/feat_transformprocessor_extract_count_metric.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric_test.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: processor/transform

#24356 [pkg/ottl]: Add a new Function Getter to the OTTL package, to allow passing Converters as literal parameters
  .chloggen/function-getter.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#25102 [chore] Update datadog-agent replacements
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  exporter/datadogexporter/go.mod
  go.mod
  internal/datadog/go.mod
  processor/datadogprocessor/go.mod
  receiver/datadogreceiver/go.mod
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, processor/datadog, receiver/datadog, internal/datadog

#24778 [exporter/clickhouse] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/clickhouse-use-cinfigopaue.yaml
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
Labels: ready to merge, exporter/clickhouse

#25120 [chore] Add a new Test and refactor code function for collectdreceiver
  receiver/collectdreceiver/collectd.go
  receiver/collectdreceiver/receiver_test.go
Labels: receiver/collectd

#25123 [receiver/hostmetrics] Improve description of system.cpu.utilization metric
  .chloggen/main.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
Labels: receiver/hostmetrics

#25127 [chore] [exporter/signalfx] Add few tests for histogram metrics
  exporter/signalfxexporter/internal/translation/converter_test.go
Labels: Skip Changelog, exporter/signalfx

#25140 [processor/transform] enable exhaustive lint
  processor/transformprocessor/internal/common/metrics.go
Labels: Skip Changelog, processor/transform

#25133 [chore][exporter/clickhouse]enable exhaustive for linter
  exporter/clickhouseexporter/exporter_metrics.go
Labels: exporter/clickhouse

#25130 [chore][exporter/azuredataexplore]enable exhaustive linter
  exporter/azuredataexplorerexporter/metricsdata_to_adx.go
Labels: Skip Changelog, exporter/azuredataexplorer

#25143 [chore] [dataset/exporter]: Fix flaky windows tests
  exporter/datasetexporter/logs_exporter_test.go
Labels: exporter/dataset

#25159 [chore][exporter/sumologic] enable exhaustive linter
  exporter/sumologicexporter/carbon_formatter.go
  exporter/sumologicexporter/graphite_formatter.go
  exporter/sumologicexporter/prometheus_formatter.go
Labels: Skip Changelog, exporter/sumologic

#25158 [chore][exporter/skywalking] enable exhaustive linter
  exporter/skywalkingexporter/metricrecord_to_metricdata.go
Labels: Skip Changelog, exporter/skywalking

#25156 [chore][exporter/googlecloudpubsub] enable exhaustive linter
  exporter/googlecloudpubsubexporter/watermark.go
Labels: Skip Changelog, exporter/googlecloudpubsub

#24051 [exporter/awsemfexporter] Propagate RetainInitialValueOfDeltaMetric to translateOTelToGroupedMetric
  .chloggen/awsemfexporter-publish-initial-metrics.yaml
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
Labels: exporter/awsemf

#25155 [chore][exporter/dynatrace] enable exhaustive linter
  exporter/dynatraceexporter/internal/serialization/serialization.go
Labels: Skip Changelog, exporter/dynatrace

#25173 Bump filelog.allowHeaderMetadataParsing feature gate to beta
  .chloggen/pkg-stanza-fileconsumer-header-beta.yaml
  pkg/stanza/fileconsumer/config.go
Labels: pkg/stanza

#23668 [processor/k8sattributes] Add optional k8s.cluster.uid resource attribute
  .chloggen/k8smetadata.yaml
  examples/kubernetes/otel-collector.yaml
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/informer.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/testdata/config.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/configmap.yaml
Labels: processor/k8sattributes

#25169 [chore] Upgrade koanf to v2 in the Supervisor
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#25180 [receiver/file] enable exhaustive lint
  receiver/filereceiver/file_reader.go
Labels: Skip Changelog, receiver/file

#25164 [chore] [exporter/awskinesis] Migrate from deprecated kinesis.WithEndpointResolver
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/awskinesisexporter/exporter.go
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, exporter/awskinesis

#23777 [receiver/sqlquery] set ObservedTimestamp on collected logs
  .chloggen/sqlquery-observedtimestamp.yaml
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/logs_receiver_test.go
Labels: Stale, receiver/sqlquery

#25183 [chore] [clickhouseexporter] use errors.Join instead of go.uber.org/multierr
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/internal/metrics_model.go
Labels: exporter/datadog, processor/filter, processor/k8sattributes, exporter/loadbalancing, processor/transform, receiver/mongodbatlas, exporter/clickhouse, processor/groupbytrace, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/podman, exporter/loki, receiver/awscontainerinsight, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, exporter/tanzuobservability, exporter/prometheusremotewrite, processor/routing, processor/schema, exporter/awscloudwatchlogs, exporter/awsemf, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/kafka, exporter/sumologic, receiver/awsxray, receiver/couchdb, receiver/mongodb, receiver/postgresql, receiver/jaeger, receiver/kafkametrics, pkg/stanza, pkg/batchperresourceattr, pkg/ottl, extension/asapauth, extension/observer, receiver/httpcheck, internal/splunk, internal/core, pkg/translator/prometheus, pkg/translator/signalfx, receiver/awscloudwatch, receiver/oracledb, receiver/purefa, pkg/pdatatest, connector/count, connector/spanmetrics, receiver/cloudflare, exporter/awss3, receiver/azuremonitor, receiver/awscloudwatchmetrics, connector/routing

#25184 [chore] migrate all the files under connector to use errors.Join
  connector/countconnector/connector.go
  connector/countconnector/counter.go
  connector/countconnector/go.mod
  connector/routingconnector/go.mod
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/go.mod
Labels: connector/count, connector/spanmetrics, connector/routing

#25185 [chore] Migrate all `aws` receviers to use errors.Join
  receiver/awscloudwatchmetricsreceiver/config.go
  receiver/awscloudwatchmetricsreceiver/go.mod
  receiver/awscloudwatchreceiver/config.go
  receiver/awscloudwatchreceiver/go.mod
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/stores/podstore.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/receiver.go
Labels: receiver/awscontainerinsight, receiver/awsxray, receiver/awscloudwatch, receiver/awscloudwatchmetrics

#25142 [translator/loki] Fixes a panic that occurred during the promotion of nested attributes containing dots to labels
  .chloggen/fix-loki-translator-nested-attributes.yaml
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
Labels: pkg/translator/loki

#25191 [chore] [receiver/sqlquery] Fix flaky test TestLogsQueryReceiver_Collect
  receiver/sqlqueryreceiver/logs_receiver_test.go
Labels: receiver/sqlquery, Run Windows

#25153 [processor/k8sattributes] Move config validation into Validate
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/config.yaml
Labels: processor/k8sattributes, Skip Changelog

#25827 [chore] [cmd/mdatagen] Fix a comment in resource_test.go
  cmd/mdatagen/internal/metadata/generated_resource_test.go
  cmd/mdatagen/templates/resource_test.go.tmpl
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/ec2/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/lambda/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/azure/aks/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/consul/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/docker/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/heroku/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/openshift/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  receiver/aerospikereceiver/internal/metadata/generated_resource_test.go
  receiver/apachereceiver/internal/metadata/generated_resource_test.go
  receiver/apachesparkreceiver/internal/metadata/generated_resource_test.go
  receiver/azuremonitorreceiver/internal/metadata/generated_resource_test.go
  receiver/bigipreceiver/internal/metadata/generated_resource_test.go
  receiver/couchdbreceiver/internal/metadata/generated_resource_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_resource_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_resource_test.go
  receiver/filestatsreceiver/internal/metadata/generated_resource_test.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_resource_test.go
  receiver/haproxyreceiver/internal/metadata/generated_resource_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_resource_test.go
  receiver/iisreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_resource_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_resource_test.go
  receiver/mongodbreceiver/internal/metadata/generated_resource_test.go
  receiver/mysqlreceiver/internal/metadata/generated_resource_test.go
  receiver/nsxtreceiver/internal/metadata/generated_resource_test.go
  receiver/oracledbreceiver/internal/metadata/generated_resource_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_resource_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_resource_test.go
  receiver/redisreceiver/internal/metadata/generated_resource_test.go
  receiver/riakreceiver/internal/metadata/generated_resource_test.go
  receiver/saphanareceiver/internal/metadata/generated_resource_test.go
  receiver/snowflakereceiver/internal/metadata/generated_resource_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_resource_test.go
  receiver/sshcheckreceiver/internal/metadata/generated_resource_test.go
  receiver/vcenterreceiver/internal/metadata/generated_resource_test.go
  receiver/zookeeperreceiver/internal/metadata/generated_resource_test.go
Labels: receiver/redis, processor/k8sattributes, processor/resourcedetection, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/postgresql, receiver/apache, receiver/flinkmetrics, receiver/k8scluster, receiver/riak, receiver/snowflake, receiver/oracledb, receiver/haproxy, receiver/sshcheck, receiver/filestats, receiver/azuremonitor, receiver/apachespark

#25824 [chore] [receiver/haproxy] Use generated pdata output in the test
  receiver/haproxyreceiver/go.mod
  receiver/haproxyreceiver/go.sum
  receiver/haproxyreceiver/scraper_test.go
  receiver/haproxyreceiver/testdata/scraper/expected.yaml
Labels: receiver/haproxy

#25172 [chore][fileconsumer] Move splitter factory code into internal package
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/custom_test.go
  pkg/stanza/fileconsumer/internal/splitter/factory.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/splitter_factory.go
  pkg/stanza/fileconsumer/splitter_factory_test.go
Labels: pkg/stanza

#25791 [receiver/influxdb] Fix time precision parser (#24974)
  .chloggen/jgm-issue-24974.yaml
  receiver/influxdbreceiver/receiver.go
  receiver/influxdbreceiver/receiver_test.go
Labels: receiver/influxdb

#25792 [receiver/postgresql] Added postgresql.deadlocks metric.
  .chloggen/postgresql_deadlocks.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/internal/metadata/custom.go
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
Labels: receiver/postgresql

#25830 [chore] [receiver/postgres] Remove custom metrics builder code
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/internal/metadata/custom.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
Labels: receiver/postgresql

#25825 [chore] cache telemetrygen image to avoid test flakiness
  .github/workflows/e2e-tests.yml
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/daemonset.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/job.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/statefulset.yaml
  receiver/k8sclusterreceiver/e2e_test.go
Labels: processor/k8sattributes, receiver/k8scluster

#24925 [chore] make tests faster and close http responses
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
Labels: ready to merge, receiver/splunkhec

#24673 [cmd/telemetrygen] Add status code to cli argument
  .chloggen/issue-24286-add-flag-for-trace-status-code.yaml
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: ready to merge, cmd/telemetrygen

#25842 [receiver/vcenter] Add resource attribute for resource pool inventory path
  .chloggen/feat_vcenter-resource-pool-path.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/integration_test.go
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_resource.go
  receiver/vcenterreceiver/internal/metadata/generated_resource_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected_with_object.yaml
Labels: receiver/vcenter

#25848 [chore] update codeowners to respect capitalization
  .github/CODEOWNERS
  pkg/winperfcounters/metadata.yaml
  receiver/activedirectorydsreceiver/README.md
  receiver/activedirectorydsreceiver/metadata.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/flinkmetricsreceiver/README.md
  receiver/flinkmetricsreceiver/metadata.yaml
  receiver/iisreceiver/README.md
  receiver/iisreceiver/metadata.yaml
Labels: receiver/activedirectoryds, receiver/elasticsearch, receiver/iis, receiver/flinkmetrics, pkg/winperfcounters

#25853 Revert "[chore] cache telemetrygen image to avoid test flakiness"
  .github/workflows/e2e-tests.yml
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/daemonset.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/job.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/statefulset.yaml
  receiver/k8sclusterreceiver/e2e_test.go
Labels: ready to merge, processor/k8sattributes, receiver/k8scluster

#24934 [chore] do not ignore error when json marshaling
  exporter/cassandraexporter/exporter_logs.go
Labels: ready to merge, exporter/cassandra

#24947 [chore] prealloc for internal/coreinternal
  internal/coreinternal/attraction/attraction.go
  internal/coreinternal/goldendataset/pict_metrics_gen.go
Labels: internal/core

#24946 [chore] Code linter findings for internal/aws
  internal/aws/k8s/k8sclient/clientset.go
  internal/aws/metrics/metric_calculator.go
Labels: internal/aws

#25869 [chore] Add TylerHelmuth to k8s components codeowners
  .github/CODEOWNERS
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8seventsreceiver/README.md
  receiver/k8seventsreceiver/metadata.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/metadata.yaml
Labels: processor/k8sattributes, receiver/k8sevents, receiver/k8scluster, receiver/k8sobjects

#25873 [pkg/stanza] correct code comment
  pkg/stanza/adapter/frompdataconverter.go
Labels: ready to merge, Skip Changelog, pkg/stanza
