Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-03, with the labels that each got.

#18922 [{exporter,processor}/datadog] Use opentelemetry-mapping-go modules for metrics and attributes
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/logs/translator.go
  exporter/datadogexporter/internal/metadata/host.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider.go
  exporter/datadogexporter/internal/metadata/internal/azure/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/metadata/internal/ecs/provider.go
  exporter/datadogexporter/internal/metadata/internal/ecs/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider.go
  exporter/datadogexporter/internal/metadata/internal/gcp/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/k8s/provider.go
  exporter/datadogexporter/internal/metadata/internal/k8s/provider_test.go
  exporter/datadogexporter/internal/metadata/internal/system/host.go
  exporter/datadogexporter/internal/metadata/metadata.go
  exporter/datadogexporter/internal/metadata/metadata_test.go
  exporter/datadogexporter/internal/metadata/provider/provider.go
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  go.mod
  go.sum
  processor/datadogprocessor/agent.go
  processor/datadogprocessor/agent_test.go
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  processor/datadogprocessor/processor.go
Labels: ready to merge, exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#19139 [processor/transform] add error_mode to example
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#18930 [internal/filter] Add filterottl package
  .chloggen/add-ottlfilter.yaml
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/filter_test.go
  internal/filter/go.mod
  internal/filter/go.sum
  processor/filterprocessor/config.go
  processor/filterprocessor/internal/common/functions.go
  processor/filterprocessor/internal/common/functions_test.go
  processor/filterprocessor/internal/common/parser.go
  processor/filterprocessor/logs.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/traces.go
Labels: processor/filter, pkg/ottl, internal/filter

#18298 [processor/cumulativetodelta]: exclude the first point after a restart in monotonic sums
  .chloggen/cumulativetodelta-drop-first-datapoint-after-restart.yaml
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: processor/cumulativetodelta

#17988 [exporter/awsemfexporter] Add config option to retain the initial value of delta metrics (#16218)
  .chloggen/awsemfexporter_retein_intitial_delta_value.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/factory.go
  exporter/awsemfexporter/metric_translator.go
Labels: ready to merge, exporter/awsemf

#18307 [exporter/prometheus] Exemplars for monotonic sums
  .chloggen/exporter-prometheus-counter-exemplars.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
Labels: enhancement, exporter/prometheus

#19171 [jaeger/receiver] Fix span status translation
  .chloggen/fix-jaeger-reciever-span-status-translation.yaml
  pkg/translator/jaeger/jaegerproto_to_traces.go
  pkg/translator/jaeger/jaegerproto_to_traces_test.go
  pkg/translator/jaeger/jaegerthrift_to_traces.go
  pkg/translator/jaeger/traces_to_jaegerproto_test.go
Labels: receiver/jaeger, pkg/translator/jaeger

#19162 remove myself from a few modules
  .github/CODEOWNERS
Labels: Skip Changelog

#19166 [receiver/hostmetrics] Fix calculation of `process.cpu.utilization`
  .chloggen/fix_hostmetricsreceiver-processutilization.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator.go
Labels: receiver/hostmetrics

#18916 [processor/k8sattribute] e2e support metric data
  .chloggen/k8sattributes-e2e-metrics.yaml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e/k8s/collector-helm-values.yml
  .github/workflows/e2e/k8s/telemetrygen-daemonset.yml
  .github/workflows/e2e/k8s/telemetrygen-deployment.yml
  .github/workflows/e2e/k8s/telemetrygen-job.yml
  .github/workflows/e2e/k8s/telemetrygen-statefulset.yml
  processor/k8sattributesprocessor/e2e_test.go
Labels: ready to merge, processor/k8sattributes

#18483 [processor/tailsamplingprocessor] Add a max_spans configuration for the span_count policy of tailsamplingprocessor
  .chloggen/span-count-policy-add-max-spans.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/config_test.go
  processor/tailsamplingprocessor/internal/sampling/span_count_sampler.go
  processor/tailsamplingprocessor/internal/sampling/span_count_sampler_test.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/testdata/tail_sampling_config.yaml
Labels: processor/tailsampling

#19151 [exporter/splunk_hec] Merged metrics
  .chloggen/splunkhec-merge-metric-events.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/metricdata_to_splunk.go
  exporter/splunkhecexporter/metricdata_to_splunk_test.go
  exporter/splunkhecexporter/testdata/config.yaml
Labels: exporter/splunkhec

#19146 [exporter/datadog] Include retry count in retrier log
  exporter/datadogexporter/internal/clientutil/retrier.go
Labels: exporter/datadog, Skip Changelog

#19167 [Makefile/CI] Parallelize lint and unit test for connectors.
  .github/workflows/build-and-test.yml
  Makefile
Labels: ci-cd, Skip Changelog

#18299 [receiver/datadog] fix: misuse of span.Type and span.kind meta of dd spans
  .chloggen/datadogreceiver-fix-span-type-misuse.yaml
  receiver/datadogreceiver/translator.go
Labels: Skip Changelog, receiver/datadog

#17052 Bearer token auth fix to pick up the updated token from file
  .chloggen/bearertoken-auth-updated-file-content.yaml
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/bearertokenauth_test.go
Labels: extension/bearertokenauth

#9384 [receiver/prometheus] Validate that the largest prometheus bucket is the +Inf bucket
  .chloggen/validate-prom-inf.yaml
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: bug, comp:prometheus, receiver/prometheus

#18466 [receiver/purefa] Improvements based on manual testing
  .chloggen/improvement_purefareceiver_scraper.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/internal/scraper_test.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: receiver/purefa

#19193 [receiver/mongodbatlas] Dont panic on inaccessible file storage
  .chloggen/dont-panic-on-inaccessible-file-storage.yaml
  receiver/mongodbatlasreceiver/events.go
  receiver/mongodbatlasreceiver/events_test.go
Labels: receiver/mongodbatlas

#19142 [processor/filter] Add error_mode configuration option
  .chloggen/fp-error-mode.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/factory.go
  processor/filterprocessor/factory_test.go
  processor/filterprocessor/logs.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/testdata/config_ottl.yaml
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
Labels: processor/filter, pkg/ottl, internal/filter

#19189 add sharedcomponent to splunk hec receiver
  .chloggen/add-sharedcomponent-splunk-hec-receiver.yaml
  receiver/splunkhecreceiver/factory.go
  receiver/splunkhecreceiver/factory_test.go
  receiver/splunkhecreceiver/go.mod
Labels: ready to merge, receiver/splunkhec

#19173 [exporter/awsxray] Allow indexing of special attributes that have been filtered out
  .chloggen/xray-exporter-allow-index-special-attributes.yaml
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
Labels: exporter/awsxray

#19202 [cmd/mdatagen] [chore] Update metadata.yaml schema definition
  cmd/mdatagen/metric-metadata.yaml
Labels: cmd/mdatagen

#19190 [processor/k8sattributes] e2e support log data
  .chloggen/k8sattributes-e2e-logs.yaml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e/k8s/collector-helm-values.yml
  processor/k8sattributesprocessor/e2e_test.go
Labels: processor/k8sattributes

#19144 [connectors/spanmetrics] Use exponential histogram to observe generated latency measurements from spans
  .chloggen/spanmetrics-connector-exponential-histogram.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory_test.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
  connector/spanmetricsconnector/internal/metrics/metrics.go
  connector/spanmetricsconnector/internal/metrics/metrics_test.go
  connector/spanmetricsconnector/testdata/config-full-connector.yaml
  connector/spanmetricsconnector/testdata/config-simplest-connector.yaml
  connector/spanmetricsconnector/testdata/config.yaml
Labels: ready to merge, connector/spanmetrics

#18921 [receiver/filelog] Add support for parsing header lines as log metadata
  .chloggen/filelog-header-parsing.yaml
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/header.go
  pkg/stanza/fileconsumer/header_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/testdata/config.yaml
  pkg/stanza/fileconsumer/util_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/file.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#19362 [receiver/hostmetrics] Fix Windows tests
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
Labels: Skip Changelog, receiver/hostmetrics, Run Windows

#19203 [exporter/googlecloud] Remove retry_on_failure config
  .chloggen/gcp-disable-retry-default.yaml
  exporter/googlecloudexporter/README.md
  exporter/googlecloudexporter/factory.go
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/factory.go
Labels: exporter/googlecloud, exporter/googlemanagedprometheus

#19169 [processor/resourcedetectionprocessor] Bump OpenShift semconv from 1.16 to 1.18
  .chloggen/resourcedetectionprocessor_openshift_bump_semconv.yaml
  processor/resourcedetectionprocessor/internal/openshift/openshift.go
  processor/resourcedetectionprocessor/internal/openshift/openshift_test.go
Labels: processor/resourcedetection

#19340 [receiver/file] fix usage of assert.Equal in a test
  receiver/filereceiver/receiver_test.go
Labels: Skip Changelog, Run Windows, receiver/file

#19360 [exporter/datadog] Set gzip compression for native metrics export
  .chloggen/datadog-metric-compression.yaml
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#16432 [processor/k8sattributes] assume current container if restart_count i…
  .chloggen/k8sattributesprocessor-containerid-default.yaml
  .chloggen/k8sattributesprocessor-containerid.yaml
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/doc.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: processor/k8sattributes

#19338 [chore][exporter/signalfx] Add idle_conn_timeout to sfx exporter
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/factory.go
Labels: Skip Changelog, exporter/signalfx

#19212 [chore] kubelet client: build url using go builtin to join path.
  internal/kubelet/client.go
  internal/kubelet/client_test.go
Labels: internal/kubelet

#16353 [exporter/elasticsearchexporter]: Rollback to client 7.17.7 due to incompatibility
  .chloggen/elastic-exporter-version-rollback.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/utils_test.go
  go.mod
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/elasticsearch

#19414 [receiver/elasticsearch] Fix issues/17867 by adding "/nodes" to the request path
  .chloggen/main.yaml
  receiver/elasticsearchreceiver/client.go
Labels: receiver/elasticsearch

#19371 [connectors/spanmetrics] Rename `latency` histogram metrics to `duration`.
  .chloggen/spanmetrics-rename-latency.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: ready to merge, connector/spanmetrics

#19421 [chore] update go-sqlite3 to latest version, 1.14.16
  extension/storage/go.mod
  extension/storage/go.sum
Labels: extension/storage

#19425 [connectors/spanmetrics] Use enum type to configure histogram units.
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/unit.go
  connector/spanmetricsconnector/internal/metrics/unit_test.go
Labels: ready to merge, Skip Changelog, connector/spanmetrics

#19441 [chore] revert temporary copy from influxdb-observability
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/exporter.go
  exporter/influxdbexporter/factory.go
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/influxdbexporter/logger.go
  exporter/influxdbexporter/writer.go
  go.mod
  go.sum
  internal/influx/Makefile
  internal/influx/common/common.go
  internal/influx/common/common_test.go
  internal/influx/common/doc.go
  internal/influx/common/error.go
  internal/influx/common/logger.go
  internal/influx/common/metrics.go
  internal/influx/go.mod
  internal/influx/go.sum
  internal/influx/otel2influx/Makefile
  internal/influx/otel2influx/common.go
  internal/influx/otel2influx/dependency_graph.go
  internal/influx/otel2influx/dependency_graph_jaeger.go
  internal/influx/otel2influx/doc.go
  internal/influx/otel2influx/logs.go
  internal/influx/otel2influx/metrics.go
  internal/influx/otel2influx/metrics_otel_v1.go
  internal/influx/otel2influx/metrics_telegraf_prometheus_v1.go
  internal/influx/otel2influx/metrics_telegraf_prometheus_v1_test.go
  internal/influx/otel2influx/metrics_telegraf_prometheus_v2.go
  internal/influx/otel2influx/metrics_telegraf_prometheus_v2_test.go
  internal/influx/otel2influx/traces.go
  internal/influx/otel2influx/writer.go
  internal/influx/otel2influx/writer_test.go
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  versions.yaml
Labels: exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb, internal/influx

#19216 [connectors/spanmetrics] Set resource attributes for generated metrics.
  .chloggen/spanmetrics-set-resource-attrs.yaml
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
Labels: connector/spanmetrics

#19377 [receiver/webhookevent] First commit
  .chloggen/generic_webhook_wireframe.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  receiver/webhookeventreceiver/Makefile
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/config_test.go
  receiver/webhookeventreceiver/factory.go
  receiver/webhookeventreceiver/factory_test.go
  receiver/webhookeventreceiver/go.mod
  receiver/webhookeventreceiver/go.sum
  receiver/webhookeventreceiver/receiver.go
  receiver/webhookeventreceiver/receiver_test.go
  versions.yaml
Labels: ready to merge

#18085 feat: improve clickhouse connection management
  .chloggen/refactor-clickhouse-conn-management.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
  exporter/clickhouseexporter/testdata/config.yaml
Labels: exporter/clickhouse, cmd/configschema, cmd/otelcontribcol

#18909 [exporter/azuremonitor] Add resource attributes, instrumentation scope and cloud tags to Azure Monitor exporter for logs
  .chloggen/fix_resource-attributes-logs.yaml
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/logexporter.go
  exporter/azuremonitorexporter/logexporter_test.go
Labels: ready to merge, exporter/azuremonitor

#19438 [processor/k8sattributes] Remove deprecated extract.metadata options
  .chloggen/k8sattributes-remove-deprecated-metadata-fields.yaml
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/factory_test.go
  processor/k8sattributesprocessor/options.go
Labels: processor/k8sattributes

#19454 [exporter/influxdb][receiver/influxdb] handle histogram bucket count conversion correctly
  .chloggen/influxdbexporter-histogram.yaml
  .chloggen/influxdbreceiver-histogram.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#19372 [connectors/spanmetrics] Remote deprecated `latency_histogram_buckets` configuration parameter.
  .chloggen/spanmetrics-drop-latency-hist-bucket-config.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/connector.go
Labels: ready to merge, connector/spanmetrics

#19458 [processor/k8sattributes] [chore] Move docs from doc.go to README.md
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/doc.go
Labels: processor/k8sattributes

#19423 [chore][receiver/dockerstats] fix docs for `excluded_image` option
  receiver/dockerstatsreceiver/README.md
Labels: receiver/dockerstats

#19461 [chore] remove nolint:errcheck
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
Labels: receiver/mongodbatlas

#19422 [exporter/logicmonitorexporter] Response handling mechanism changes
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/logicmonitorexporter/factory.go
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/go.sum
  exporter/logicmonitorexporter/internal/logs/sender.go
  exporter/logicmonitorexporter/internal/logs/sender_test.go
  exporter/logicmonitorexporter/internal/testutil/logs.go
  exporter/logicmonitorexporter/logs_exporter.go
  exporter/logicmonitorexporter/logs_exporter_test.go
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, exporter/logicmonitor

#19435 [receiver/mongodbatlas] Fix issue where storage client can timeout if both events and alerts are configured
  .chloggen/mongodbatlas-shared-storage-id.yaml
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/combined_logs.go
  receiver/mongodbatlasreceiver/events.go
  receiver/mongodbatlasreceiver/events_test.go
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/factory_test.go
Labels: receiver/mongodbatlas

#19431 [receiver/elasticsearch] Ensure integration test uses all required endpoints
  receiver/elasticsearchreceiver/integration_test.go
  receiver/elasticsearchreceiver/testdata/integration/expected.7_16_3.json
  receiver/elasticsearchreceiver/testdata/integration/expected.7_9_3.json
Labels: Skip Changelog, receiver/elasticsearch

#19379 [receiver/cloudflare] Create logs receiver for Cloudflare LogPush API
  .chloggen/cloudflare-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  Makefile
  receiver/cloudflarereceiver/Makefile
  receiver/cloudflarereceiver/README.md
  receiver/cloudflarereceiver/config.go
  receiver/cloudflarereceiver/config_test.go
  receiver/cloudflarereceiver/docs.go
  receiver/cloudflarereceiver/factory.go
  receiver/cloudflarereceiver/factory_test.go
  receiver/cloudflarereceiver/go.mod
  receiver/cloudflarereceiver/go.sum
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/logs_integration_test.go
  receiver/cloudflarereceiver/logs_test.go
  receiver/cloudflarereceiver/testdata/cert/ca.crt
  receiver/cloudflarereceiver/testdata/cert/client.crt
  receiver/cloudflarereceiver/testdata/cert/client.key
  receiver/cloudflarereceiver/testdata/cert/server.crt
  receiver/cloudflarereceiver/testdata/cert/server.key
  receiver/cloudflarereceiver/testdata/config.yaml
  receiver/cloudflarereceiver/testdata/processed/all_fields.json
  receiver/cloudflarereceiver/testdata/processed/multiple_log_payload.json
  receiver/cloudflarereceiver/testdata/sample-payloads/all_fields.txt
  receiver/cloudflarereceiver/testdata/sample-payloads/multiple_log_payload.txt
  versions.yaml
Labels: cmd/otelcontribcol

#19470 [receiver/mysqlreceiver] add version check to prevent unsupported replica query error
  .chloggen/mysqlreceiver-add-version-check.yaml
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/scraper_test.go
Labels: receiver/mysql

#19147 [processor/routing] Add error_mode configuration option
  .chloggen/rp-error-mode.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/config.go
  processor/routingprocessor/config_test.go
  processor/routingprocessor/factory.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/testdata/config.yaml
  processor/routingprocessor/traces.go
Labels: processor/routing

#18869 [extension/healthcheckextension] Add response_body configuration option
  .chloggen/healthcheck-response-body.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/config.go
  extension/healthcheckextension/config_test.go
  extension/healthcheckextension/healthcheckextension.go
  extension/healthcheckextension/healthcheckextension_test.go
Labels: ready to merge, extension/healthcheck

#18914 [exporter/azuremonitor] Fix missing export of integer sums/gauges to Azure Monitor
  .chloggen/fix_long-number-metric-export.yaml
  exporter/azuremonitorexporter/metric_to_envelopes.go
  exporter/azuremonitorexporter/metricexporter_test.go
Labels: exporter/azuremonitor

#19631 [chore] [exporter/splunkhec] Fix typo in readme
  exporter/splunkhecexporter/README.md
Labels: ready to merge, exporter/splunkhec

#19464 [chore] clarify heroku semantic conventions mapping
  processor/resourcedetectionprocessor/README.md
Labels: ready to merge, processor/resourcedetection

#19459 [receiver/influxdb] test API against InfluxDB client libraries
  .chloggen/influxdbreceiver-client-test.yaml
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.sum
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  receiver/influxdbreceiver/receiver_test.go
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#18917 [exporter/azuremonitor] Export log record attributes to Azure Monitor
  .chloggen/fix_add-log-attributes.yaml
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/logexporter_test.go
Labels: ready to merge, exporter/azuremonitor

#19635 [exporter/influxdb] add histogram min/max to exporter
  .chloggen/influxdbexporter-histogram-minmax.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/README.md
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#19460 [chore] fix flaky test TestStartAndShutdownRemote #9113
  extension/jaegerremotesampling/extension_test.go
Labels: extension/jaegerremotesampling

#19432 [connector/count] Allow counting by attributes
  .chloggen/count-by-attributes.yaml
  connector/countconnector/README.md
  connector/countconnector/config.go
  connector/countconnector/config_test.go
  connector/countconnector/connector.go
  connector/countconnector/connector_test.go
  connector/countconnector/counter.go
  connector/countconnector/factory.go
  connector/countconnector/go.mod
  connector/countconnector/testdata/config.yaml
  connector/countconnector/testdata/logs/condition_and_attribute.json
  connector/countconnector/testdata/logs/default_attribute_value.json
  connector/countconnector/testdata/logs/input.json
  connector/countconnector/testdata/logs/multiple_attributes.json
  connector/countconnector/testdata/logs/multiple_conditions.json
  connector/countconnector/testdata/logs/multiple_metrics.json
  connector/countconnector/testdata/logs/one_attribute.json
  connector/countconnector/testdata/logs/one_condition.json
  connector/countconnector/testdata/logs/zero_conditions.json
  connector/countconnector/testdata/metrics/condition_and_attribute.json
  connector/countconnector/testdata/metrics/default_attribute_value.json
  connector/countconnector/testdata/metrics/input.json
  connector/countconnector/testdata/metrics/multiple_attributes.json
  connector/countconnector/testdata/metrics/multiple_conditions.json
  connector/countconnector/testdata/metrics/multiple_metrics.json
  connector/countconnector/testdata/metrics/one_attribute.json
  connector/countconnector/testdata/metrics/one_condition.json
  connector/countconnector/testdata/metrics/zero_conditions.json
  connector/countconnector/testdata/traces/condition_and_attribute.json
  connector/countconnector/testdata/traces/default_attribute_value.json
  connector/countconnector/testdata/traces/input.json
  connector/countconnector/testdata/traces/multiple_attributes.json
  connector/countconnector/testdata/traces/multiple_conditions.json
  connector/countconnector/testdata/traces/multiple_metrics.json
  connector/countconnector/testdata/traces/one_attribute.json
  connector/countconnector/testdata/traces/one_condition.json
  connector/countconnector/testdata/traces/zero_conditions.json
Labels: connector/count

#19629 [processor/transform] Fix issue where ErrorMode wasn't used.
  .chloggen/tp-fix-error-mode-usage.yaml
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: processor/transform

#19427 [receiver/mongodbatlas] Document requirements for audit logging
  receiver/mongodbatlasreceiver/README.md
Labels: Skip Changelog, receiver/mongodbatlas

#19726 [chore] fix flaky ssh receiver tests
  receiver/sshcheckreceiver/scraper_test.go
Labels: receiver/sshcheck

#19471 Add the `spanmetricsconnector` connector to the distribution.
  .chloggen/spanmetrics-connector.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  connector/spanmetricsconnector/README.md
  processor/spanmetricsprocessor/README.md
Labels: processor/spanmetrics, cmd/otelcontribcol, connector/spanmetrics

#19732 [pkg/ottl] fix IsMatch documentation
  pkg/ottl/ottlfuncs/README.md
Labels: Skip Changelog, pkg/ottl

#19734 [chore] add format section to lokiexporter readme. Sections rearranged
  exporter/lokiexporter/README.md
Labels: exporter/loki

#18276 [receiver/statsdreceiver] record source address
  .chloggen/statsdreceiver-source-address.yaml
  receiver/statsdreceiver/protocol/parser.go
  receiver/statsdreceiver/protocol/statsd_parser.go
  receiver/statsdreceiver/protocol/statsd_parser_test.go
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/transport/server.go
  receiver/statsdreceiver/transport/server_test.go
  receiver/statsdreceiver/transport/udp_server.go
Labels: receiver/statsd

#19367 [exporter/sentry] Add environment config to transaction
  .chloggen/fix-sentry-exporter-environment.yaml
  exporter/sentryexporter/sentry_exporter.go
  exporter/sentryexporter/sentry_exporter_test.go
Labels: ready to merge, exporter/sentry

#19632 [receiver/splunkhec] Accepts query param for raw path
  .chloggen/splunkhecreceiver-add-query-param-for-raw.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: ready to merge, receiver/splunkhec, internal/splunk

#19403 [chore] remove unnecessary exclusion
  .golangci.yml
  examples/demo/server/main.go
  exporter/splunkhecexporter/client_test.go
  internal/aws/proxy/server.go
  internal/aws/xray/testdata/sampleserver/sample.go
  receiver/cloudflarereceiver/logs.go
  receiver/mongodbatlasreceiver/alerts.go
  receiver/opencensusreceiver/opencensus.go
  receiver/prometheusexecreceiver/testdata/end_to_end_metrics_test/test_prometheus_exporter.go
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/main.go
  testbed/mockdatareceivers/mockawsxrayreceiver/trace_receiver.go
Labels: receiver/mongodbatlas, exporter/splunkhec, receiver/prometheusexec, receiver/opencensus, receiver/simpleprometheus, examples/demo, internal/aws, testbed, receiver/cloudflare

#16531 [exporter/awsemfexporter] Add ServiceName as a valid token replacement in log_stream_name
  .chloggen/add-servicename-token.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/util.go
  exporter/awsemfexporter/util_test.go
Labels: ready to merge, exporter/awsemf

#19752 [receiver/oracledbreceiver] update oracle metrics metadata to explain the meaning of -1
  .chloggen/oracle_unlimited.yaml
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#19642 [processor/k8sattributes] Remove deprecated `pod_association` fields
  .chloggen/k8sattributes-remove-deprecated-association-fields.yaml
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/testdata/config.yaml
Labels: processor/k8sattributes

#18911 [receiver/k8sobjects] Allow resource filter on pull mode
  .chloggen/k8sobjectsreceiver-enabling-resource-version-pull.yaml
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/config_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/testdata/pull_resource_version_config.yaml
Labels: receiver/k8sobjects

#19650 [exporter/kafka] Update README.md
  exporter/kafkaexporter/README.md
Labels: Skip Changelog, exporter/kafka

#19751 [processor/spanmetrics] Deprecate spanmetrics processor.
  .chloggen/spanmetrics-deprecate-processor.yaml
  processor/spanmetricsprocessor/README.md
  processor/spanmetricsprocessor/factory.go
  processor/spanmetricsprocessor/go.mod
Labels: processor/spanmetrics

#19750 [receiver/sqlquery] fix handling of nulls
  .chloggen/fix-19177.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/db_client.go
  receiver/sqlqueryreceiver/db_client_test.go
  receiver/sqlqueryreceiver/db_wrappers.go
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/metrics.go
  receiver/sqlqueryreceiver/metrics_test.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/receiver_test.go
  receiver/sqlqueryreceiver/row_scanner.go
  receiver/sqlqueryreceiver/scraper.go
  receiver/sqlqueryreceiver/scraper_test.go
Labels: receiver/sqlquery

#19178 use metadata to generate status table
  .chloggen/codeboten_doc-status.yaml
  cmd/mdatagen/README.md
  cmd/mdatagen/embeded_templates_test.go
  cmd/mdatagen/go.mod
  cmd/mdatagen/loader.go
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/statusdata.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/templates/status.go.tmpl
  cmd/mdatagen/testdata/readme_with_status.md
  cmd/mdatagen/testdata/readme_without_status.md
  receiver/haproxyreceiver/README.md
  receiver/haproxyreceiver/factory.go
  receiver/haproxyreceiver/internal/metadata/generated_status.go
  receiver/haproxyreceiver/metadata.yaml
Labels: cmd/mdatagen, receiver/haproxy

#19757 [chore] [processor/k8sattributes] Update config example README.md
  processor/k8sattributesprocessor/README.md
Labels: processor/k8sattributes

#19645 [chore] add tests for internal/components.go components in preparation of moving tests to cmd/otelcontribcol
  cmd/configschema/go.mod
  exporter/coralogixexporter/logs_client.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/traces_client.go
  exporter/datadogexporter/factory.go
  exporter/influxdbexporter/exporter.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/opencensusexporter/opencensus.go
  exporter/skywalkingexporter/skywalking.go
  go.mod
  go.sum
  internal/components/exporters_test.go
  internal/components/extensions_test.go
  internal/components/processors_test.go
  internal/components/receivers_test.go
Labels: exporter/datadog, exporter/loadbalancing, exporter/influxdb, cmd/configschema, exporter/skywalking, exporter/coralogix, exporter/opencensus

#19164 [translator/loki] loki exporter add raw log export format
  .chloggen/loki-exporter-add-raw-log-export-format.yaml
  exporter/lokiexporter/README.md
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
Labels: exporter/loki, pkg/translator/loki

#19743 [exporter/signalfx] update translation rule to use a copy of system.cpu.time & system.paging.operations and leave the original one intact
  .chloggen/sfx-exporter-translation-rule.yaml
  exporter/signalfxexporter/internal/translation/constants.go
Labels: exporter/signalfx

#19774 [chore] update documentation that was out of date
  processor/logstransformprocessor/doc.go
  processor/resourcedetectionprocessor/doc.go
  processor/resourceprocessor/doc.go
  receiver/opencensusreceiver/doc.go
Labels: processor/resourcedetection, processor/logstransform, processor/resource, receiver/opencensus

#19769 [receiver/splunkhec] Align hec receiver errors messages to splunk enterprise
  .chloggen/splunkhecreceiver-align-error-message.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: ready to merge, receiver/splunkhec

#19777 [chore] update doc to point where to update components
  CONTRIBUTING.md
Labels: ready to merge

#19772 [mdatagen] only generate metrics if metrics are present
  .chloggen/codeboten_mdatagen-metrics.yaml
  cmd/mdatagen/main.go
Labels: cmd/mdatagen

#19787 [chore][receiver/oracledb] update to use generated status
  receiver/oracledbreceiver/README.md
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/internal/metadata/generated_status.go
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#19768 [receiver/activedirectory] update to use generated status
  receiver/activedirectorydsreceiver/README.md
  receiver/activedirectorydsreceiver/factory.go
  receiver/activedirectorydsreceiver/internal/metadata/generated_status.go
  receiver/activedirectorydsreceiver/metadata.yaml
Labels: Skip Changelog, cmd/mdatagen, receiver/activedirectoryds, receiver/haproxy

#19784 [cmd/mdatagen] [chore] Fix Test_inlineReplace on Windows
  cmd/mdatagen/main_test.go
Labels: cmd/mdatagen, Run Windows

#19399 [receiver/loki] Added new component
  .chloggen/add-loki-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  receiver/lokireceiver/Makefile
  receiver/lokireceiver/README.md
  receiver/lokireceiver/config.go
  receiver/lokireceiver/config_test.go
  receiver/lokireceiver/factory.go
  receiver/lokireceiver/factory_test.go
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/lokireceiver/loki.go
  receiver/lokireceiver/testdata/config.yaml
  versions.yaml
Labels: ready to merge

#19788 [chore][receiver/postgresql] update to use generated status
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/factory.go
  receiver/postgresqlreceiver/internal/metadata/generated_status.go
  receiver/postgresqlreceiver/metadata.yaml
Labels: receiver/postgresql

#19436 [receiver/azureeventhub] add metric support
  .chloggen/azureeventhubreceiver-add-metric-support.yaml
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler_test.go
  receiver/azureeventhubreceiver/azureresourcemetrics_unmarshaler.go
  receiver/azureeventhubreceiver/client.go
  receiver/azureeventhubreceiver/eventhubhandler.go
  receiver/azureeventhubreceiver/eventhubhandler_test.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/factory_test.go
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/azureeventhubreceiver/raw_formatter.go
  receiver/azureeventhubreceiver/rawlogs_unmarshaler.go
  receiver/azureeventhubreceiver/receiver.go
Labels: ready to merge, receiver/azureeventhub

#19771 [receiver/aerospike] update to use generated status
  receiver/aerospikereceiver/README.md
  receiver/aerospikereceiver/factory.go
  receiver/aerospikereceiver/internal/metadata/generated_status.go
  receiver/aerospikereceiver/metadata.yaml
Labels: Skip Changelog, receiver/aerospike

#19770 [receiver/apache] update to use generated status
  receiver/apachereceiver/README.md
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/internal/metadata/generated_status.go
  receiver/apachereceiver/metadata.yaml
Labels: Skip Changelog, receiver/apache

#19773 [processor/resourcedetection] update to use generated status
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/doc.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/metadata.yaml
Labels: Skip Changelog, processor/resourcedetection, cmd/mdatagen

#19792 [chore][receiver/signalfx] update to use generated status
  receiver/signalfxreceiver/README.md
  receiver/signalfxreceiver/doc.go
  receiver/signalfxreceiver/factory.go
  receiver/signalfxreceiver/internal/metadata/generated_status.go
  receiver/signalfxreceiver/metadata.yaml
Labels: receiver/signalfx

#19789 [chore][exporter/splunkhec] update to use generated status
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/doc.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/internal/metadata/generated_status.go
  exporter/splunkhecexporter/metadata.yaml
Labels: exporter/splunkhec

#19638 [receiver/elasticsearch] Fix bug - no Node stats metrics before 7.9.0
  .chloggen/fix_no_nodeStatsMetrics_before_7_9.yaml
  receiver/elasticsearchreceiver/client.go
  receiver/elasticsearchreceiver/integration_test.go
  receiver/elasticsearchreceiver/testdata/integration/Dockerfile.elasticsearch.7_0_0
  receiver/elasticsearchreceiver/testdata/integration/expected.7_0_0.json
Labels: ready to merge, receiver/elasticsearch

#19800 [exporter/zipkin] update to use generated status
  exporter/zipkinexporter/README.md
  exporter/zipkinexporter/doc.go
  exporter/zipkinexporter/factory.go
  exporter/zipkinexporter/internal/metadata/generated_status.go
  exporter/zipkinexporter/metadata.yaml
Labels: Skip Changelog, exporter/zipkin

#20237 [mdatagen] do not print supported pipeline types for extensions
  .chloggen/do-not-print-supported-pipelines-for-extensions.yaml
  cmd/mdatagen/main_test.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/testdata/readme_with_status_extension.md
Labels: cmd/mdatagen

#19649 [exporter/logicmonitorexporter] Adds traces support in Logicmonitor Exporter
  .chloggen/support-traces-in-logicmonitorexporter.yaml
  exporter/logicmonitorexporter/README.md
  exporter/logicmonitorexporter/factory.go
  exporter/logicmonitorexporter/factory_test.go
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/internal/traces/sender.go
  exporter/logicmonitorexporter/internal/traces/sender_test.go
  exporter/logicmonitorexporter/traces_exporter.go
  exporter/logicmonitorexporter/traces_exporter_test.go
Labels: ready to merge, exporter/logicmonitor

#18532 [chore] translator/loki. Extract LogToLokiEntry to separate public method
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: pkg/translator/loki

#20233 [chore][receiver/elasticsearch] skip flaky integration test
  receiver/elasticsearchreceiver/integration_test.go
Labels: receiver/elasticsearch

#20061 [chore] removing duplicated data in readme
  exporter/pulsarexporter/README.md
  processor/deltatorateprocessor/README.md
  processor/probabilisticsamplerprocessor/README.md
  receiver/googlecloudspannerreceiver/README.md
  receiver/haproxyreceiver/README.md
  receiver/oracledbreceiver/README.md
  receiver/otlpjsonfilereceiver/README.md
  receiver/prometheusexecreceiver/README.md
  receiver/pulsarreceiver/README.md
  receiver/purefareceiver/README.md
  receiver/purefbreceiver/README.md
  receiver/simpleprometheusreceiver/README.md
Labels: processor/deltatorate, processor/probabilisticsampler, exporter/pulsar, receiver/googlecloudspanner, receiver/prometheusexec, receiver/simpleprometheus, receiver/otlpjsonfile, receiver/pulsar, receiver/oracledb, receiver/purefa, receiver/haproxy, receiver/purefb

#20083 [processor/resource] update to use generated status
  processor/resourceprocessor/README.md
  processor/resourceprocessor/doc.go
  processor/resourceprocessor/factory.go
  processor/resourceprocessor/internal/metadata/generated_status.go
  processor/resourceprocessor/metadata.yaml
Labels: Skip Changelog, processor/resource

#19801 [receiver/zipkin] update to use generated status
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/doc.go
  receiver/zipkinreceiver/factory.go
  receiver/zipkinreceiver/internal/metadata/generated_status.go
  receiver/zipkinreceiver/metadata.yaml
Labels: ready to merge, receiver/zipkin, Skip Changelog

#19783 [pkg/ottl] Allow StringGetter in slices
  .chloggen/ottl-add-stringgetter-to-slice.yaml
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: pkg/ottl

#20243 [chore] fix broken test
  pkg/translator/loki/logs_to_loki_test.go
Labels: pkg/translator/loki

#20241 [pkg/translator/loki] Skip flaky test
  pkg/translator/loki/logs_to_loki_test.go
Labels: Skip Changelog, pkg/translator/loki

#19785 [chore][receiver/otlpjsonfile] update to use generated status
  receiver/otlpjsonfilereceiver/README.md
  receiver/otlpjsonfilereceiver/doc.go
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/internal/metadata/generated_status.go
  receiver/otlpjsonfilereceiver/metadata.yaml
Labels: ready to merge, receiver/otlpjsonfile

#20232 [chore][extension/httpforwarder] update to use generated status
  extension/httpforwarder/README.md
  extension/httpforwarder/doc.go
  extension/httpforwarder/factory.go
  extension/httpforwarder/internal/metadata/generated_status.go
  extension/httpforwarder/metadata.yaml
Labels: ready to merge, extension/httpforwarder

#19791 [chore][basicauthextension] update to use generated status
  extension/basicauthextension/README.md
  extension/basicauthextension/doc.go
  extension/basicauthextension/factory.go
  extension/basicauthextension/internal/metadata/generated_status.go
  extension/basicauthextension/metadata.yaml
Labels: extension/basicauth

#20242 [mdatagen] support adding warnings to status table
  .chloggen/codeboten_mdatagen-warning.yaml
  cmd/mdatagen/main_test.go
  cmd/mdatagen/statusdata.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/testdata/readme_with_warnings.md
  processor/transformprocessor/README.md
  processor/transformprocessor/doc.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/internal/metadata/generated_status.go
  processor/transformprocessor/metadata.yaml
Labels: processor/transform, cmd/mdatagen

#20244 [chore] fix spacing in pipeline types
  cmd/mdatagen/templates/readme.md.tmpl
  exporter/splunkhecexporter/README.md
  extension/basicauthextension/README.md
  processor/resourcedetectionprocessor/README.md
  processor/resourceprocessor/README.md
  processor/transformprocessor/README.md
  receiver/otlpjsonfilereceiver/README.md
  receiver/signalfxreceiver/README.md
  receiver/splunkhecreceiver/README.md
Labels: processor/resourcedetection, processor/transform, cmd/mdatagen, processor/resource, exporter/splunkhec, receiver/splunkhec, receiver/signalfx, extension/basicauth, receiver/otlpjsonfile

#19137 [pkg/ottl] Update functions to use StringGetter
  .chloggen/ottl-use-stringgetter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_convert_case.go
  pkg/ottl/ottlfuncs/func_convert_case_test.go
  pkg/ottl/ottlfuncs/func_parse_json.go
  pkg/ottl/ottlfuncs/func_parse_json_test.go
  pkg/ottl/ottlfuncs/func_split.go
  pkg/ottl/ottlfuncs/func_split_test.go
  pkg/ottl/ottlfuncs/func_substring.go
  pkg/ottl/ottlfuncs/func_substring_test.go
Labels: pkg/ottl

#19778 [chore] update location of components.go file
  Makefile
Labels: ready to merge

#19781 [pkg/ottl] Add PMapGetter for getting pdata maps
  .chloggen/ottl-use-mapgetter.yaml
  pkg/ottl/expression.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/ottlfuncs/func_delete_key.go
  pkg/ottl/ottlfuncs/func_delete_key_test.go
  pkg/ottl/ottlfuncs/func_delete_matching_keys.go
  pkg/ottl/ottlfuncs/func_delete_matching_keys_test.go
  pkg/ottl/ottlfuncs/func_keep_keys.go
  pkg/ottl/ottlfuncs/func_keep_keys_test.go
  pkg/ottl/ottlfuncs/func_limit.go
  pkg/ottl/ottlfuncs/func_limit_test.go
  pkg/ottl/ottlfuncs/func_merge_maps.go
  pkg/ottl/ottlfuncs/func_merge_maps_test.go
  pkg/ottl/ottlfuncs/func_replace_all_matches.go
  pkg/ottl/ottlfuncs/func_replace_all_matches_test.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_truncate_all.go
  pkg/ottl/ottlfuncs/func_truncate_all_test.go
Labels: pkg/ottl

#19793 [chore][receiver/azureeventhub] update to use generated status
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/doc.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/internal/metadata/generated_status.go
  receiver/azureeventhubreceiver/metadata.yaml
Labels: ready to merge, receiver/azureeventhub

#19782 [pkg/ottl] Add StringLikeGetter for turning types into string
  .chloggen/ottl-use-stringlikegetter.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/ottlfuncs/func_concat.go
  pkg/ottl/ottlfuncs/func_concat_test.go
  pkg/ottl/ottlfuncs/func_is_match.go
  pkg/ottl/ottlfuncs/func_is_match_test.go
Labels: pkg/ottl

#20265 [receiver/sqlserverreceiver] Add named instance support
  .chloggen/sqlserverreceiver-add-named-instance-support.yaml
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/config.go
  receiver/sqlserverreceiver/config_test.go
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/recorders.go
  receiver/sqlserverreceiver/recorders_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/config.yaml
  receiver/sqlserverreceiver/testdata/golden_named_instance_scrape.json
  receiver/sqlserverreceiver/testdata/golden_scrape.json
  receiver/sqlserverreceiver/testdata/named-instance-counters.txt
  receiver/sqlserverreceiver/testdata/scrape-named-instance-counters.ps1
Labels: receiver/sqlserver

#20270 [receiver/prometheus] Update Prometheus and fix failing tests
  .chloggen/fix_promOMTests.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  go.mod
  go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/prometheusexec, receiver/simpleprometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb

#19400 [all] Enable govulncheck linter for the whole repo
  .github/workflows/build-and-test-windows.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: ready to merge, Skip Changelog, internal/tools

#18513 [exporter/clickhouse] merge scope name and version into SpanAttributes column in trace table
  .chloggen/Add-instrumentation-scope-attribute-to-span-attribute.yaml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_test.go
Labels: exporter/clickhouse

#19790 [chore][mdatagen] skip generation of testdata directory if no metrics are defined
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
Labels: cmd/mdatagen

#20272 [processor/k8sattributes] Fix image name parsing
  .chloggen/k8s-attrs-fix-image-tag-parsing.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: processor/k8sattributes

#19136 Feature/upgrade go sdk v11
  .chloggen/adx-update--beta.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/adx_exporter.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/azuredataexplorerexporter/e2e_test.go
  exporter/azuredataexplorerexporter/factory.go
  exporter/azuredataexplorerexporter/factory_test.go
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  go.mod
  go.sum
  receiver/azureblobreceiver/blobclient.go
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, receiver/azureblob, exporter/azuredataexplorer

#20283 Update processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/README.md
Labels: ready to merge, processor/tailsampling, Skip Changelog

#20276 [receiver/httpcheck] update to use generated status
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/factory.go
  receiver/httpcheckreceiver/internal/metadata/generated_status.go
  receiver/httpcheckreceiver/metadata.yaml
Labels: Skip Changelog, receiver/httpcheck

#20286 exporter/datadogexporter: Graduate exporter.datadog.hostname.preview to stable.
  .chloggen/datadog-exporter-span-links-support.yaml
  .chloggen/mackjmr_graduate-exporter-datadog-hostname-preview.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/hostmetadata/cache.go
  exporter/datadogexporter/internal/hostmetadata/host.go
  exporter/datadogexporter/internal/hostmetadata/host_test.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  go.mod
  go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol

#20263 [processor/cumulativetodelta] Update to use generated status
  processor/cumulativetodeltaprocessor/README.md
  processor/cumulativetodeltaprocessor/doc.go
  processor/cumulativetodeltaprocessor/factory.go
  processor/cumulativetodeltaprocessor/internal/metadata/generated_status.go
  processor/cumulativetodeltaprocessor/metadata.yaml
Labels: ready to merge, Skip Changelog, processor/cumulativetodelta

#19754 [receiver/file] add capability to replay metrics in time
  .chloggen/filereceiver-3.yaml
  receiver/filereceiver/README.md
  receiver/filereceiver/config.go
  receiver/filereceiver/config_test.go
  receiver/filereceiver/factory.go
  receiver/filereceiver/file_reader.go
  receiver/filereceiver/file_reader_test.go
  receiver/filereceiver/receiver.go
  receiver/filereceiver/replay_timer.go
  receiver/filereceiver/replay_timer_test.go
  receiver/filereceiver/testdata/config.yaml
Labels: ready to merge, receiver/file

#19776 [chore] move internal tests to cmd/otelcontribcol
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/processors_test.go
  cmd/otelcontribcol/receivers_test.go
  go.mod
  go.sum
  internal/components/components_test.go
Labels: cmd/configschema, cmd/otelcontribcol

#20285 [exporter/datadog] Optionally send min and max metrics for OTLP Histograms when available
  .chloggen/mx-psi_send-aggregations-deprecation.yaml
  .chloggen/mx-psi_send-aggregations.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/config_warnings.go
  exporter/datadogexporter/config_warnings_test.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#20293 [exporter/coralogix] Correctly declare mutation in factory
  .chloggen/coralogix-declare-mutation.yaml
  exporter/coralogixexporter/factory.go
Labels: exporter/coralogix

#20299 [chore] typo in move.md doc
  pkg/stanza/docs/operators/move.md
Labels: pkg/stanza

#20303 Update README.md for k8sclusterreceiver
  receiver/k8sclusterreceiver/README.md
Labels: Skip Changelog, receiver/k8scluster

#19779 replace sha1 with sha2-256
  .chloggen/introduce_sha2Hasher.yaml
  internal/coreinternal/attraction/attraction.go
  internal/coreinternal/attraction/attraction_test.go
  internal/coreinternal/attraction/hasher.go
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
Labels: ready to merge, processor/attributes, internal/core

#19744 [receiver/awsecscontainermetricsreceiver] Add `ServiceName` metadata to be retrieved from task metadata endpoint (PR)
  .chloggen/awsecscontainermetrics_add_servicename.yaml
  internal/aws/ecsutil/metadata.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/resource.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/resource_test.go
Labels: receiver/awsecscontainermetrics, internal/aws

#20311 [extension/pprof] update to use generated status
  extension/pprofextension/README.md
  extension/pprofextension/doc.go
  extension/pprofextension/factory.go
  extension/pprofextension/internal/metadata/generated_status.go
  extension/pprofextension/metadata.yaml
Labels: Skip Changelog, extension/pprof

#20317 [chore] [pkg/stanza] Remove noop test
  pkg/stanza/operator/helper/ip_resolver_test.go
Labels: pkg/stanza

#20325 [chore]add generated status to oidcauthextension
  extension/oidcauthextension/README.md
  extension/oidcauthextension/doc.go
  extension/oidcauthextension/factory.go
  extension/oidcauthextension/internal/metadata/generated_status.go
  extension/oidcauthextension/metadata.yaml
Labels: extension/oidcauth

#20324 [chore]add generated status to headerssetterextension
  extension/headerssetterextension/README.md
  extension/headerssetterextension/doc.go
  extension/headerssetterextension/factory.go
  extension/headerssetterextension/internal/metadata/generated_status.go
  extension/headerssetterextension/metadata.yaml
Labels: extension/headerssetter

#20330 [chore] add generated status to ecsobserver
  extension/observer/ecsobserver/README.md
  extension/observer/ecsobserver/doc.go
  extension/observer/ecsobserver/factory.go
  extension/observer/ecsobserver/internal/metadata/generated_status.go
  extension/observer/ecsobserver/metadata.yaml
Labels: extension/observer

#20310 [extension/healthcheck] update to use generated status
  extension/healthcheckextension/README.md
  extension/healthcheckextension/doc.go
  extension/healthcheckextension/factory.go
  extension/healthcheckextension/internal/metadata/generated_status.go
  extension/healthcheckextension/metadata.yaml
Labels: Skip Changelog, extension/healthcheck

#20321 [chore] remove pipelines for extension
  extension/basicauthextension/metadata.yaml
Labels: extension/basicauth
