Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-10, with the labels that each got.

#26506 [cmd/telemetrygen] Add support for metric name/attributes
  .chloggen/telemetrygen-signal-attributes.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/logs/worker_test.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/worker.go
  cmd/telemetrygen/internal/metrics/worker_test.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: ready to merge, cmd/telemetrygen

#27294 [pkg/stanza] Fix issue where syslog octet parsing could truncate token
  .chloggen/pkg-stanza-syslog-octen-split.yaml
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/syslog/syslog_test.go
Labels: pkg/stanza

#27275 [chore][pkg/stanza] Migrate remaining split func tests to new splittest framework
  pkg/stanza/operator/input/syslog/syslog_test.go
Labels: pkg/stanza

#27397 Revert "[tiny][pkg/stanza] Name Windows event provider on error msg"
  pkg/stanza/operator/input/windows/publisher.go
Labels: Skip Changelog, pkg/stanza

#27399 Restore #27286 and add missing corresponding test update
  pkg/stanza/operator/input/windows/publisher.go
  pkg/stanza/operator/input/windows/publisher_test.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#27290 [exporter/parquet] Deprecate Parquet Exporter
  .chloggen/deprecate-parquet.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/distribution_metadata_test.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/parquetexporter/README.md
  exporter/parquetexporter/doc.go
  exporter/parquetexporter/factory.go
  exporter/parquetexporter/go.mod
  exporter/parquetexporter/internal/metadata/generated_status.go
  exporter/parquetexporter/metadata.yaml
  go.mod
  internal/components/components.go
Labels: cmd/configschema, cmd/otelcontribcol, exporter/parquet

#20896 [extension/filestorage] replace path-unsafe characters in component names
  .chloggen/replace-slashes-in-component-names.yaml
  extension/storage/filestorage/README.md
  extension/storage/filestorage/extension.go
  extension/storage/filestorage/extension_test.go
  extension/storage/go.mod
Labels: extension/storage

#27260 [chore][pkg/stanza] Extract max length trimming responsibility into trim package
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/scanner/scanner.go
  pkg/stanza/fileconsumer/internal/scanner/scanner_test.go
  pkg/stanza/fileconsumer/internal/splitter/factory.go
  pkg/stanza/fileconsumer/internal/splitter/factory_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/trim/trim.go
  pkg/stanza/trim/trim_test.go
Labels: Skip Changelog, pkg/stanza

#27411 [chore] additional example in httpcheck receiver
  receiver/httpcheckreceiver/README.md
Labels: receiver/httpcheck

#27418 [chore][pkg/stanza] Move truncated file detection into reader
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/roller_other.go
Labels: pkg/stanza

#27417 [chore][pkg/stanza] Move attribute keys to dedicated package
  pkg/stanza/attrs/attrs.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/reader_factory.go
Labels: pkg/stanza

#27416 [chore][pkg/stanza] Move reader and reader factory into internal package
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/roller.go
  pkg/stanza/fileconsumer/roller_other.go
  pkg/stanza/fileconsumer/roller_windows.go
Labels: pkg/stanza

#27269 [chore] change completely how dependabot generates entries
  .github/dependabot.yml
  Makefile
  cmd/githubgen/go.mod
  cmd/githubgen/main.go
Labels: cmd/githubgen

#27253 [receiver/filestats] move filestatsreceiver to beta stability
  .chloggen/move-filestatsreceiver-to-beta.yaml
  receiver/filestatsreceiver/README.md
  receiver/filestatsreceiver/internal/metadata/generated_status.go
  receiver/filestatsreceiver/metadata.yaml
Labels: receiver/filestats

#27083 [processor/spanmetrics] Prune histograms
  .chloggen/27083-spanmetrics-prune.yaml
  processor/spanmetricsprocessor/internal/cache/cache.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
Labels: processor/spanmetrics

#27412 [chore][pkg/stanza] Clean up flush function
  pkg/stanza/flush/flush.go
Labels: pkg/stanza

#27287 [exporter/pulsar] do not expose method
  .chloggen/pulsarexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/pulsarexporter/factory.go
  exporter/pulsarexporter/factory_test.go
Labels: ready to merge, exporter/pulsar

#27029 [receiver/pulsar] do not expose method
  .chloggen/pulsarreceiver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/pulsarreceiver/factory.go
  receiver/pulsarreceiver/factory_test.go
Labels: ready to merge, receiver/pulsar

#23947 [exporter/kafkaexporter] add zipkin encoding for traces
  .chloggen/kafkaexporter_zipkin_encoding.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
Labels: ready to merge, exporter/kafka, receiver/kafkametrics

#26564 [processor/probabilisticsampler] Allow non-bytes attributes
  .chloggen/18222-probabilisticsampler-allow-non-bytes.yaml
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
Labels: ready to merge, processor/probabilisticsampler

#27427 Update @bogdandrutu's affiliation
  README.md
Labels: ready to merge, Skip Changelog

#27415 fix(stanza/converter): handle syslogrecevier attributes correctly
  .chloggen/drosiek-syslog-receiver-attributes.yaml
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/parser/syslog/data.go
  pkg/stanza/operator/parser/syslog/syslog.go
Labels: pkg/stanza

#27430 [chore] error wasn't checked in loadtest
  testbed/tests/scenarios.go
Labels: testbed

#27431 [chore][pkg/stanza] Unexporter reader's logger
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
Labels: pkg/stanza

#27433 [chore] tweak cpu limit
  testbed/tests/trace_test.go
Labels: testbed

#27435 [chore][pkg/stanza] Simplify delete_after_read handling of deleted files
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#27423 Add an example of how the host tag syntax looks
  exporter/datadogexporter/examples/collector.yaml
Labels: documentation, exporter/datadog, Skip Changelog

#27424 [exporter/syslog]: fix default behaviour (disable tls and use proper defaults)
  .chloggen/drosiek-syslog-defaults.yaml
  exporter/syslogexporter/README.md
  exporter/syslogexporter/sender.go
  exporter/syslogexporter/sender_test.go
  pkg/stanza/operator/input/syslog/syslog.go
Labels: pkg/stanza, exporter/syslog

#27448 [chore] [exporter/signalfx] Remove setting of sampled logger
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/internal/translation/converter.go
Labels: exporter/signalfx

#27449 [chore] set GOMAXPROCS for collector subprocess
  testbed/testbed/child_process_collector.go
Labels: testbed

#27440 [DOC] Fixes collector config of PRW example
  connector/spanmetricsconnector/README.md
Labels: documentation, Skip Changelog, connector/spanmetrics

#27452 [chore] sqlserverreceiver/Add run as admin to docs
  receiver/sqlserverreceiver/README.md
Labels: Skip Changelog, receiver/sqlserver

#27453 [chore][pkg/stanza] Clarify and fix truncated file func
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/roller_other.go
Labels: pkg/stanza

#27454 [chore][pkg/stanza] Flatten handling of lost files
  pkg/stanza/fileconsumer/roller_other.go
Labels: pkg/stanza

#27240 [receiver/kubeletstats] Support specifying context for `kubeConfig` `auth_type` (#26665)
  .chloggen/kubelet_kubeconfig_context.yaml
  internal/k8sconfig/config.go
  internal/kubelet/client_test.go
  internal/kubelet/testdata/kubeconfig
  receiver/kubeletstatsreceiver/README.md
Labels: ready to merge, receiver/kubeletstats, internal/kubelet, internal/k8sconfig

#26486 Switch from detecting faas.id to faas.instance in the gcp detector.
  .chloggen/gcp-faas-instance.yaml
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/gcp/metadata.yaml
Labels: ready to merge, comp:google, processor/resourcedetection

#27276 [receiver/kubeletstats] Add new CPU utilization metrics
  .chloggen/kubeletstats-cpu-utilization.yaml
  .chloggen/kubeletstats-memory-utilization.yaml
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/kubelet/cpu.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/scraper.go
  receiver/kubeletstatsreceiver/scraper_test.go
  receiver/kubeletstatsreceiver/testdata/pods.json
Labels: Skip Changelog, receiver/kubeletstats

#27455 [chore][pkg/stanza] Move file deletion responsibility into reader
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/reader_test.go
Labels: pkg/stanza

#27291 Update Kafka receiver and exporter TLS docs
  exporter/kafkaexporter/README.md
  receiver/kafkareceiver/README.md
Labels: ready to merge, Skip Changelog, exporter/kafka, receiver/kafka

#27442 [mongodbreceiver] Fix get mongodb version
  .chloggen/receiver-mongodb-fix-get-version.yaml
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
Labels: receiver/mongodb

#27410 [processor/metricstransformprocessor] fix copy exponential histogram
  .chloggen/fix-metricstransformprocessor-copy-exponential-histogram.yaml
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
Labels: ready to merge, processor/metricstransform

#27289 [exporter/kafka] move kafka configures authentication to internal pkg
  .chloggen/chore-kafka-configures-authentication.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  go.mod
  internal/kafka/Makefile
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  internal/kafka/awsmsk/doc.go
  internal/kafka/awsmsk/iam_scram_client.go
  internal/kafka/awsmsk/iam_scram_client_test.go
  internal/kafka/go.mod
  internal/kafka/go.sum
  internal/kafka/metadata.yaml
  internal/kafka/scram_client.go
  receiver/kafkametricsreceiver/config.go
  receiver/kafkametricsreceiver/config_test.go
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, exporter/kafka, receiver/kafka, receiver/kafkametrics

#27482 [chore][docs] fix typo in stanza timestamp docs
  pkg/stanza/docs/types/timestamp.md
Labels: Skip Changelog, pkg/stanza

#27091 [k8sclusterreceiver] refactor state metrics to use empty units
  .chloggen/k8sclusterreceiver-empty-units.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/namespace/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#27579 [chore] [receiver/sqlquery] Skip TestOracleDBIntegrationMetrics
  receiver/sqlqueryreceiver/integration_test.go
Labels: receiver/sqlquery

#27474 [receiver/splunkhec] Metrics dropped when logs used
  .chloggen/fix-metrics-logs-splunkhecreceiver.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#27586 [k8sclusterreceiver] change k8s.node.condition* metrics unit to empty
  .chloggen/k8sclusterreceiver-node-condition.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#27584 [k8sclusterreceiver] deprecate opencensus.resourcetype attribute
  .chloggen/k8sclusterreceiver-deprecate-opencensus.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/clusterresourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/cronjob/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/demonset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/deployment/deployments_test.go
  receiver/k8sclusterreceiver/internal/deployment/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected_empty.yaml
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/namespace/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/node/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/node/testdata/expected_optional.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/internal/replicaset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/replicationcontroller/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/resourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#27471 [internal/filterottl] Switch to `match` instead of drop
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/functions.go
Labels: Skip Changelog, internal/filter

#27603 Fix typo on the main README.md
  README.md
Labels: Skip Changelog

#27285 [exporter/parquet] remove Parquet exporter
  .chloggen/remove-parquet-exporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  exporter/parquetexporter/Makefile
  exporter/parquetexporter/README.md
  exporter/parquetexporter/doc.go
  exporter/parquetexporter/exporter.go
  exporter/parquetexporter/factory.go
  exporter/parquetexporter/go.mod
  exporter/parquetexporter/go.sum
  exporter/parquetexporter/internal/metadata/generated_status.go
  exporter/parquetexporter/metadata.yaml
  exporter/parquetexporter/testdata/config.yaml
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, exporter/parquet, on hold

#27235 Add an optional argument to converters to support hashing
  .chloggen/ottl-replace-pattern.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_replace_all_matches.go
  pkg/ottl/ottlfuncs/func_replace_all_matches_test.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_replace_match.go
  pkg/ottl/ottlfuncs/func_replace_match_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/ottl/ottlfuncs/func_replace_pattern_test.go
Labels: processor/transform, pkg/ottl

#27581 feat(syslogreceiver): validate protocol name
  .chloggen/drosiek-syslog-improvement.yaml
  pkg/stanza/operator/parser/syslog/syslog.go
  pkg/stanza/operator/parser/syslog/syslog_test.go
Labels: pkg/stanza

#27480 [chore] [coralogixexporter] Docs: Update docs to reflect new information
  exporter/coralogixexporter/README.md
Labels: exporter/coralogix

#27481 [processor/tailsampling] [chore][docs]: Fix typo in processor's README
  processor/tailsamplingprocessor/README.md
Labels: documentation, ready to merge, processor/tailsampling

#27077 [receiver/podman] rename struct and function to keep expected receiver.Factory and pass checkapi
  cmd/checkapi/allowlist.txt
  receiver/podmanreceiver/factory.go
  receiver/podmanreceiver/receiver.go
  receiver/podmanreceiver/receiver_test.go
  receiver/podmanreceiver/receiver_windows.go
  receiver/podmanreceiver/receiver_windows_test.go
Labels: Skip Changelog, receiver/podman

#27625 [chore] [exporter/awscloudwatchlogs] Remove duplicate consumer check
  exporter/awscloudwatchlogsexporter/config.go
  exporter/awscloudwatchlogsexporter/config_test.go
Labels: ready to merge, exporter/awscloudwatchlogs

#27434 [chore][pkg/stanza] Unexport reader's file name field
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/roller_other.go
Labels: pkg/stanza

#27616 [k8sclusterreceiver] remove opencensus.resourcetype resource attribute
  .chloggen/k8sclusterreceiver-opencensus.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusterresourcequotas.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets.go
  receiver/k8sclusterreceiver/internal/deployment/deployments.go
  receiver/k8sclusterreceiver/internal/jobs/jobs.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/namespace/namespaces.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/replicationcontrollers.go
  receiver/k8sclusterreceiver/internal/resourcequota/resourcequotas.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#27569 [chore][receiver/k8sobjects] add tests for k8sobjectsreceiver
  .github/workflows/e2e-tests.yml
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/k8sobjectsreceiver/testdata/e2e/collector/clusterrole.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/collector/clusterrolebinding.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/collector/configmap.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/collector/deployment.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/collector/service.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/collector/serviceaccount.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/pull_namespaces.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events_core.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_namespaces.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/testobjects/event.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/testobjects/event_core.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/testobjects/namespace.yaml
Labels: ready to merge, receiver/k8sobjects

#27622 [chore] Remove stale go mod replace for datadog-agent
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/traces_exporter_test.go
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, testbed, processor/datadog, receiver/datadog, internal/datadog, connector/datadog

#27634 [chore] [exporter/signalfx] Remove redundant translation
  exporter/signalfxexporter/internal/translation/constants.go
Labels: exporter/signalfx

#27272 [Feature][exporter/azuredataexplorerexporter] Exporter helper support
  .chloggen/ingestionretry.yaml
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/azuredataexplorerexporter/config.go
  exporter/azuredataexplorerexporter/config_test.go
  exporter/azuredataexplorerexporter/factory.go
  exporter/azuredataexplorerexporter/testdata/config.yaml
Labels: ready to merge, exporter/azuredataexplorer, cmd/githubgen

#27485 [k8sclusterreceiver] add k8s.pod.qos_class optional resource attribute
  .chloggen/k8sclusterreceiver-qos-class.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#27001 feat: add honeycomb marker exporter structure
  .chloggen/feat_marker-exporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  exporter/honeycombmarkerexporter/Makefile
  exporter/honeycombmarkerexporter/README.md
  exporter/honeycombmarkerexporter/config.go
  exporter/honeycombmarkerexporter/config_test.go
  exporter/honeycombmarkerexporter/doc.go
  exporter/honeycombmarkerexporter/factory.go
  exporter/honeycombmarkerexporter/factory_test.go
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  exporter/honeycombmarkerexporter/internal/metadata/generated_status.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  exporter/honeycombmarkerexporter/metadata.yaml
  exporter/honeycombmarkerexporter/testdata/config.yaml
  versions.yaml
Labels: processor/filter

#27656 [chore] [receiver/mysqlreceiver] Update readme
  receiver/mysqlreceiver/README.md
Labels: documentation, Skip Changelog, receiver/mysql

#24183 [receiver/dockerstats] Disable deprecated cpu metric
  .chloggen/disable_deprecated_cpu_metric.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_config.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/receiver_test.go
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container_with_optional_resource_attributes/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
Labels: receiver/dockerstats

#27646 [processor/redactionprocessor] fix mask when multiple patterns exist
  .chloggen/redact-multi.yaml
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: processor/redaction

#27657 [chore][pkg/stanza] Add module README
  pkg/stanza/README.md
Labels: documentation, pkg/stanza

#27459 [extension/storage/filestorage] Add bbolt FSync as a config option
  .chloggen/feat_fsync_option_filestorage.yaml
  extension/storage/filestorage/README.md
  extension/storage/filestorage/client.go
  extension/storage/filestorage/client_test.go
  extension/storage/filestorage/config.go
  extension/storage/filestorage/config_test.go
  extension/storage/filestorage/extension.go
  extension/storage/filestorage/factory.go
  extension/storage/filestorage/factory_test.go
  extension/storage/filestorage/testdata/config.yaml
Labels: extension/storage, Run Windows

#27658 [pkg/stanza] Cache event publishers: log warn once per provider
  .chloggen/log-warning-when-publisher-not-available.yaml
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/input/windows/publisher.go
  pkg/stanza/operator/input/windows/publisher_test.go
  pkg/stanza/operator/input/windows/publishercache.go
  pkg/stanza/operator/input/windows/publishercache_test.go
Labels: pkg/stanza, Run Windows

#27667 Make pjanotti owner of windowseventlogreceiver
  .github/CODEOWNERS
Labels: Skip Changelog

#27592 [exporter/prometheusremotewrite] Fix exporter not respecting retrySettings.enabled flag
  .chloggen/prw_respectEnabledRetry.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#27251 [chore]: Expand e2e testbed
  testbed/correctnesstests/traces/correctness_test.go
  testbed/go.mod
  testbed/testbed/load_generator.go
  testbed/testbed/mock_backend.go
  testbed/testbed/options.go
  testbed/testbed/receivers.go
  testbed/testbed/test_case.go
  testbed/testbed/validator.go
Labels: Skip Changelog, testbed

#27464 feat: add integration test for syslog exporter (and receiver)
  .chloggen/drosiek-integration-tests.yaml
  exporter/syslogexporter/sender.go
  exporter/syslogexporter/sender_test.go
  testbed/datareceivers/carbon.go
  testbed/datareceivers/syslog.go
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/components.go
  testbed/tests/syslog_integration_test.go
Labels: receiver/syslog, pkg/stanza, testbed, exporter/syslog

#27684 [receiver/file] Fix the stated supported telemetry types
  receiver/filereceiver/README.md
  receiver/filereceiver/internal/metadata/generated_status.go
  receiver/filereceiver/metadata.yaml
Labels: Skip Changelog, receiver/file

#27677 [chore] throw error if GITHUB_TOKEN env is not set
  cmd/githubgen/main.go
Labels: Skip Changelog, cmd/githubgen

#27205 Splunkent client refactor
  .chloggen/splunkent-client-refactor-with-sdk.yaml
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/client.go
  receiver/splunkenterprisereceiver/client_test.go
  receiver/splunkenterprisereceiver/config.go
  receiver/splunkenterprisereceiver/config_test.go
  receiver/splunkenterprisereceiver/factory.go
  receiver/splunkenterprisereceiver/factory_test.go
  receiver/splunkenterprisereceiver/go.mod
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/testdata/config.yaml
Labels: ready to merge, receiver/splunkenterprise

#27611 [exporter/signalfx] [exporter/splunkhec] Remove max_connections config parameter
  .chloggen/remove-max-connections-splunkhecexporter.yaml
  .chloggen/remove-max-connections.yaml
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/example/otel-collector-config.yml
Labels: exporter/signalfx, exporter/splunkhec

#27776 [chore][exporter/splunkhec] reuse metric buffer
  exporter/splunkhecexporter/client.go
Labels: exporter/splunkhec

#27663 [exporter/datasetexporter]: Fix NPE exception when attribute contains nil
  .chloggen/27648-dataset-fix-npe.yaml
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/datasetexporter_test.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/traces_exporter_test.go
Labels: exporter/dataset

#27773 [pkg/stanza] Fix issue where batching caused incorrect starting point
  .chloggen/pkg-stanza-fileconsumer-reader-from-end-batches.yaml
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#27647 Add async config block & concurrent readers to UDP input operator
  .chloggen/add-async-block-concurrent-udp-receiver.yaml
  pkg/stanza/docs/operators/udp_input.md
  pkg/stanza/operator/input/udp/config_test.go
  pkg/stanza/operator/input/udp/testdata/config.yaml
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/operator/input/udp/udp_test.go
  receiver/udplogreceiver/README.md
  receiver/udplogreceiver/udp_test.go
Labels: receiver/udplog, pkg/stanza

#27662 [k8sclusterreceiver] change resourcequota and clusterquota units
  .chloggen/k8sclusterreceiver-change-units.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/clusterresourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#27798 [pkg/pdatatest] Ignore span timestamps
  .chloggen/pdatatest-ignore-span-timestamps.yaml
  pkg/pdatatest/README.md
  pkg/pdatatest/ptracetest/options.go
  pkg/pdatatest/ptracetest/testdata/ignore-end-timestamp/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-end-timestamp/expected.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-start-timestamp/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-start-timestamp/expected.yaml
  pkg/pdatatest/ptracetest/traces_test.go
Labels: pkg/pdatatest

#27818 [chore] [cmd/otelcontribcol] Simplify and fix receivers lifecycle tests
  cmd/otelcontribcol/receivers_test.go
Labels: cmd/otelcontribcol

#27817 [cmd/otelcontribcol] Simplify processors lifecycle tests
  cmd/otelcontribcol/processors_test.go
Labels: Skip Changelog, cmd/otelcontribcol

#27809 [chore][pkg/stanza] Use unscoped mock persister where possible
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/operator/helper/operator_test.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/operator/input/generate/generate_test.go
  pkg/stanza/operator/input/journald/journald_test.go
  pkg/stanza/operator/input/stdin/stdin_test.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/tcp_test.go
  pkg/stanza/operator/input/udp/udp_test.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#27655 [receiver/kubeletstats] Add RBAC docs
  receiver/kubeletstatsreceiver/README.md
Labels: documentation, Skip Changelog, receiver/kubeletstats

#27615 Update Grafana Agent distribution components
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/metadata.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/metadata.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/metadata.yaml
Labels: documentation, processor/k8sattributes, Skip Changelog, processor/transform, processor/probabilisticsampler, connector/servicegraph

#27824 [cmd/otecontribcol] Add sending data step to exporter lifecycle tests
  cmd/otelcontribcol/exporters_test.go
Labels: Skip Changelog, cmd/otelcontribcol

#27831 [chore][exporter/syslog] docs: describe default values, add examples
  exporter/syslogexporter/README.md
Labels: exporter/syslog

#27825 [chore] Send readonly data to immutable exporters in lifecycle tests
  cmd/otelcontribcol/exporters_test.go
Labels: cmd/otelcontribcol

#27805 UDP input operator - async mode - separate between readers & processors
  .chloggen/separate-udp-receiver-to-reader-and-processor-with-async.yaml
  pkg/stanza/docs/operators/udp_input.md
  pkg/stanza/operator/input/udp/config_test.go
  pkg/stanza/operator/input/udp/testdata/config.yaml
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/operator/input/udp/udp_test.go
  receiver/udplogreceiver/README.md
  receiver/udplogreceiver/udp_test.go
Labels: receiver/udplog, pkg/stanza

#27844 [receiver/filelog] Implement specifying top n files to track when ordering
  .chloggen/feat_top_n_file_sorting.yaml
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/fileconsumer/matcher/matcher_test.go
  pkg/stanza/fileconsumer/testdata/config.yaml
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#27840 [pkg/pdatautil] Optimize the hashing function for `pcommon.Map`
  pkg/pdatautil/hash.go
Labels: Skip Changelog, pkg/pdatautil

#27774 [aws/cwlogs] Reduce noisy logger in CloudWatch logs pusher
  .chloggen/awscwl_noisypusher.yaml
  internal/aws/cwlogs/pusher.go
Labels: ready to merge, internal/aws

#27829 [pkg/pdatatest] Ignore trace ID for ptracetest
  .chloggen/ptracetest-ignore-traceid.yaml
  pkg/pdatatest/ptracetest/options.go
  pkg/pdatatest/ptracetest/testdata/ignore-traceid/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-traceid/expected.yaml
  pkg/pdatatest/ptracetest/traces_test.go
Labels: pkg/pdatatest

#27833 [pkg/pdatatest] Ignore span ID for ptracetest
  .chloggen/ptracetest-ignore-spanid.yaml
  pkg/pdatatest/ptracetest/options.go
  pkg/pdatatest/ptracetest/testdata/ignore-spanid/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-spanid/expected.yaml
  pkg/pdatatest/ptracetest/traces_test.go
Labels: pkg/pdatatest

#27847 [processor/k8sattributes] Handle all resource deletion event types
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: processor/k8sattributes, Skip Changelog

#27457 [pkg/ottl] adding code for double converter
  .chloggen/double-converter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_double.go
  pkg/ottl/ottlfuncs/func_double_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#27835 [chore][exporter/fileexporter] use errors.Join instead of go.uber.org/multierr
  exporter/fileexporter/buffered_writer.go
  exporter/fileexporter/buffered_writer_test.go
  exporter/fileexporter/go.mod
Labels: exporter/file

#27857 [chore][exporter/elasticsearchexporter] use errors.Join instead of go.uber.org/multierr
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/trace_exporter.go
Labels: exporter/elasticsearch

#27865 [chore][cmd/otelcontribcol] Exclude from linter
  .golangci.yml
Labels: ci-cd, cmd/otelcontribcol

#27859 [chore][pkg/stanza] Log matching paths
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#27861 [pkg/pdatatest] Ignore span attribute value
  .chloggen/ptracetest-ignore-attribute-value.yaml
  pkg/pdatatest/ptracetest/options.go
  pkg/pdatatest/ptracetest/testdata/ignore-attribute-value/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-attribute-value/expected.yaml
  pkg/pdatatest/ptracetest/traces_test.go
Labels: pkg/pdatatest

#27848 [cmd/otelcolcontrib] [chore] Send test data in lifecycle processor tests
  cmd/otelcontribcol/processors_test.go
Labels: cmd/otelcontribcol

#27869 [chore] remove mentions of docs.signalfx.com from docs
  exporter/sapmexporter/README.md
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/internal/translation/default_metrics.go
Labels: exporter/signalfx, exporter/sapm

#27843 [pkg/stanza] Move flush state into reader package
  .chloggen/pkg-stanza-metadata-flush.yaml
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/splitter/factory.go
  pkg/stanza/fileconsumer/internal/splitter/factory_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/flush/flush.go
  pkg/stanza/flush/flush_test.go
  pkg/stanza/split/splittest/splittest.go
Labels: pkg/stanza

#27815 [exporter/signalfx] Add an option to control the dimension client timeout
  .chloggen/signalfx-exporter-add-dim-timeout.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/internal/dimensions/dimclient.go
  exporter/signalfxexporter/testdata/config.yaml
Labels: exporter/signalfx

#27853 [chore] [dockerstatsreceiver] update dockerstats receiver deprecation schedule
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/metadata.yaml
Labels: ready to merge, receiver/dockerstats

#27683 [exporter/datasetexporter]: Make export of resources and scopes more flexible
  .chloggen/27651-make-resource-scope-more-flexible.yaml
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/datasetexporter_test.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/testdata/config.yaml
  exporter/datasetexporter/traces_exporter.go
  exporter/datasetexporter/traces_exporter_test.go
Labels: exporter/dataset

#25888 Warn instead of failing when renaming metrics using metric_relabel_configs
  .chloggen/allow_prom_renaming.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/testdata/warning-config-prometheus-relabel.yaml
Labels: receiver/prometheus

#27884 [chore][cmd/oteltestbedcol] Skip linting generated code
  .golangci.yml
Labels: ready to merge

#27886 [chore] fix codeowners
  .github/CODEOWNERS
  receiver/windowseventlogreceiver/README.md
  receiver/windowseventlogreceiver/metadata.yaml
Labels: receiver/windowseventlog

#27888 [chore][exporter/datadogexporter] use errors.Join instead of go.uber.org/multierr
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_warnings.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/metrics_exporter.go
Labels: ready to merge, exporter/datadog

#27288 [exporter/elasticsearch] add missing scope info in span/log attributes
  .chloggen/elasticsearchexporter_add_missing_scope_info_in_span.yaml
  cmd/otelcontribcol/exporters_test.go
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: cmd/otelcontribcol, exporter/elasticsearch

#28206 [chore][pkg/stanza] Use variadic arg in test expectation
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: Skip Changelog, pkg/stanza

#28511 [pkg/ottl] Fix issue with named parameter spacing
  .chloggen/ottl-fix-named-param-spacing.yaml
  pkg/ottl/grammar.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#28294 [chore][pkg/stanza] Ensure all start/stop calls are in balanced
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/rotation_test.go
Labels: Skip Changelog, pkg/stanza

#28451 [chore][pkg/stanza] Merge roller into fileconsumer.Manager
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_other.go
  pkg/stanza/fileconsumer/file_windows.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/roller_windows.go
Labels: pkg/stanza

#26350 Added documentation to describe how to use with AAD Auth Proxy
  .chloggen/codesmon_exporter_azuremonitor_authdocs.yaml
  exporter/azuremonitorexporter/AUTHENTICATION.md
  exporter/azuremonitorexporter/README.md
Labels: exporter/azuremonitor

#27879 [servicegraphconnector] Add flush interval config
  .chloggen/servicegraph-flush-interval.yaml
  processor/servicegraphprocessor/config.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#27465 [headerssetter] Remove "Limitations" section from README.
  extension/headerssetterextension/README.md
Labels: documentation, Stale, Skip Changelog, extension/headerssetter

#27838 [k8sclusterreceiver] add k8s.node.condition metric
  .chloggen/k8sclusterreceiver-add-k8s-node-condition.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected_mdatagen.yaml
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#27665 [servicegraphprocessor, servicegraphconnector] Measure latency in seconds instead of milliseconds
  .chloggen/servicegraph-fix-time-unit.yaml
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/factory_test.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#28565 [cmd/telemetrygen] Remove remaining replace statement
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
Labels: Skip Changelog, cmd/telemetrygen

#27864 [receiver/windowseventlog] Add Execution and Security information to parsed event log
  .chloggen/feat_windows-evlog_security-and-execution.yaml
  pkg/stanza/operator/input/windows/testdata/xmlSampleUserData.xml
  pkg/stanza/operator/input/windows/xml.go
  pkg/stanza/operator/input/windows/xml_test.go
Labels: pkg/stanza, Run Windows

#28566 [examples/demo] Use most recent Docker image
  examples/demo/.env
Labels: Skip Changelog, examples/demo

#27660 [pkg/ottl] Expose component.TelemetrySettings to OTTL path parsers so that the component's logger is available to contexts
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
Labels: Skip Changelog, pkg/ottl

#28574 [cmd/telemetrygen] Remove remaining replace statement (#28565)
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
Labels: Skip Changelog, cmd/telemetrygen

#28598 fix test
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
Labels: receiver/hostmetrics

#25096 [pkg/translator/azure] New component for translating from Azure native formats
  .chloggen/pkg-translator-add-azureresourcelog.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  pkg/translator/azure/Makefile
  pkg/translator/azure/go.mod
  pkg/translator/azure/go.sum
  pkg/translator/azure/metadata.yaml
  pkg/translator/azure/resourcelogs_to_logs.go
  pkg/translator/azure/resourcelogs_to_logs_test.go
  pkg/translator/azure/testdata/log-maximum.json
  pkg/translator/azure/testdata/log-minimum-2.json
  pkg/translator/azure/testdata/log-minimum.json
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
  receiver/azureeventhubreceiver/azureresourcemetrics_unmarshaler.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  versions.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/jaeger, exporter/splunkhec, exporter/skywalking, exporter/coralogix, exporter/opencensus, receiver/jaeger, receiver/opencensus, receiver/skywalking, receiver/azureeventhub, receiver/loki

#27927 Fix TestGettingTrackingData flakiness
  receiver/chronyreceiver/internal/chrony/client_test.go
Labels: ready to merge, Skip Changelog, receiver/chrony

#28592 [chore][pkg/stanza] Allow trie to store a value
  pkg/stanza/fileconsumer/internal/trie/trie.go
  pkg/stanza/fileconsumer/internal/trie/trie_test.go
Labels: pkg/stanza

#28580 [chore][pkg/stanza] Skip persister operations if nil
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#27908 [chore][exporter/opensearchexporter] use errors.Join instead of go.uber.org/multierr
  exporter/opensearchexporter/config.go
  exporter/opensearchexporter/go.mod
  exporter/opensearchexporter/trace_bulk_indexer.go
Labels: ready to merge, Skip Changelog, exporter/opensearch

#27896 [pkg/ottl] Add status header to readme
  cmd/githubgen/main.go
  cmd/mdatagen/main.go
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/validate.go
  pkg/ottl/README.md
  pkg/ottl/doc.go
  pkg/ottl/metadata.yaml
Labels: Skip Changelog, cmd/mdatagen, pkg/ottl, cmd/githubgen

#28632 [chore] clean up from last release
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#28629 [chore] Fix a data race in the tests of healthcheckextension
  extension/healthcheckextension/healthcheckextension_test.go
Labels: extension/healthcheck

#27795 [receiver/dockerstats] remove deprecated container.cpu.percent and complete the transition to container.cpu.utilization
  .chloggen/remove-deprecated-cpu-metric.yaml
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_config.go
  receiver/dockerstatsreceiver/internal/metadata/generated_config_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/receiver.go
Labels: receiver/dockerstats

#28396 [chore][exporter/datadog] Add integration tests
  exporter/datadogexporter/integrationtest/Makefile
  exporter/datadogexporter/integrationtest/doc.go
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  versions.yaml
Labels: exporter/datadog, Skip Changelog

#27889 tailsamplingprocessor: Optimize tag mutator memory allocations
  .chloggen/optimize-tailsamplingprocessor.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#27446 [exporter/loki] Don't auto-promote tenant attribute
  .chloggen/27446-loki-auto-promote-tenant-attribute.yaml
  exporter/lokiexporter/exporter_test.go
  pkg/translator/loki/convert.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: exporter/loki, pkg/translator/loki

#28623 [chore] Update Azure Event Hub Receiver Documentation
  .chloggen/eventhubreceiver-update-readme-for-metrics.yaml
  receiver/azureeventhubreceiver/README.md
Labels: receiver/azureeventhub

#28634 [receiver/azureeventhub] Set Consumer Group by Configuration
  .chloggen/eventhubreceiver-allow-consumer-group-in-configuration.yaml
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/eventhubhandler.go
Labels: receiver/azureeventhub

#28637 Update README.md, fix receiver OTLP instead of bad naming OLTP in the…
  connector/routingconnector/README.md
Labels: Skip Changelog, connector/routing

#27903 chore: [k8sclusterreceiver] codeowner proposal
  .github/CODEOWNERS
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/metadata.yaml
Labels: Skip Changelog, receiver/k8scluster

#27583 [exporter/kafka] do not expose method
  .chloggen/kafkaexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
Labels: ready to merge, exporter/kafka

#28643 Remove duplicated 'compression' documentation from googlecloudexporter readme
  exporter/googlecloudexporter/README.md
Labels: documentation, Skip Changelog, exporter/googlecloud
