Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-07, with the labels that each got.

#23823 [chore] fix exhaustive lint for podmanreceiver
  .golangci.yml
  receiver/podmanreceiver/metrics_test.go
Labels: Skip Changelog, receiver/podman

#23884 Json payload in Kafka exporter is not experimental
  exporter/kafkaexporter/README.md
Labels: Skip Changelog, exporter/kafka

#23945 [chore] [receiver/snmp] fix docs on default collection interval
  receiver/snmpreceiver/README.md
Labels: receiver/snmp

#23877 Remove tbarker from codeowners
  .github/CODEOWNERS
Labels: Skip Changelog, exporter/googlecloud

#23876 Add dashpole back to auto-assignees
  .github/auto_assign.yml
Labels: Skip Changelog

#23873 [chore] Minor cleanup of vcenter metric code
  receiver/vcenterreceiver/metrics.go
Labels: receiver/vcenter

#23845 Removing jkowall from codeowners for logzioexporter
  .github/CODEOWNERS
Labels: Skip Changelog, exporter/logzio

#23436 [ci] Specify 7 as arm version for arm build in CI
  .github/workflows/build-and-test.yml
Labels: Skip Changelog, Run Windows

#23977 Make sed replace statements more resilient
  .github/workflows/scripts/release-prepare-release.sh
Labels: Skip Changelog, release:blocker

#23980 Update release manifests
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#23982 Revert "[chore] Remove skip flaky test for hostmetricsreceiver"
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_test.go
Labels: receiver/hostmetrics

#23953 [chore] fix exhaustive lint for pkg pdatatest
  .golangci.yml
  pkg/pdatatest/pmetrictest/metrics.go
  pkg/pdatatest/pmetrictest/options.go
Labels: Skip Changelog, pkg/pdatatest

#23896 [chore] fix exhaustive lint for sentry exporter
  .golangci.yml
  exporter/sentryexporter/sentry_exporter.go
Labels: Skip Changelog, exporter/sentry

#23775 [chore] fix exhaustive lint for filereceiver
  .golangci.yml
  receiver/filereceiver/file_reader.go
Labels: ready to merge, Skip Changelog, receiver/file

#23276 feat(journaldreceiver): fail if unsufficient permissions for journalctl command
  .chloggen/drosiek-journald-exit-stderr.yaml
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/journald/journald_test.go
Labels: pkg/stanza

#23950 [exporter/elasticsearch] add duration in span store
  .chloggen/add_duration_in_span_store.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#23851 [chore] make codecov upload retrying more resilient
  .github/workflows/build-and-test.yml
Labels: ready to merge

#23887 [chore] fix exhaustive lint for sumologic exporter
  .golangci.yml
  exporter/sumologicexporter/carbon_formatter.go
  exporter/sumologicexporter/graphite_formatter.go
Labels: Skip Changelog, exporter/sumologic, Run Windows

#23891 [receiver/nsxt] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/nsxt-use-configopaque.yaml
  receiver/nsxtreceiver/client.go
  receiver/nsxtreceiver/config.go
  receiver/nsxtreceiver/go.mod
Labels: receiver/nsxt

#23439 [receiver/httpcheck] support scraping multiple targets
  .chloggen/multiple-targets.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/config_test.go
  receiver/httpcheckreceiver/factory.go
  receiver/httpcheckreceiver/factory_test.go
  receiver/httpcheckreceiver/scraper.go
  receiver/httpcheckreceiver/scraper_test.go
  receiver/httpcheckreceiver/testdata/expected_metrics/multiple_targets.yaml
Labels: receiver/httpcheck

#23849 continuous benchmarks based on load tests
  .github/workflows/load-tests.yml
  testbed/testbed/results.go
Labels: Skip Changelog, testbed

#24000 update branch and token for benchmarks
  .github/workflows/load-tests.yml
Labels: Skip Changelog

#23998 [fileconsumer] Move fingerprint into internal package
  .chloggen/fileconsumer-internal.yaml
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
Labels: pkg/stanza

#23890 [chore] fix exhaustive lint for googlecloudpubsub receiver
  .golangci.yml
  receiver/googlecloudpubsubreceiver/receiver.go
Labels: Skip Changelog, receiver/googlecloudpubsub

#23993 [chore][receiver/riak] Remove flaky integration test
  receiver/riakreceiver/go.mod
  receiver/riakreceiver/go.sum
  receiver/riakreceiver/integration_test.go
  receiver/riakreceiver/testdata/integration/Dockerfile.riak
  receiver/riakreceiver/testdata/integration/entrypoint.sh
  receiver/riakreceiver/testdata/integration/expected.yaml
  receiver/riakreceiver/testdata/integration/riak.conf
Labels: receiver/riak

#21498 [routingconnector] convert routing processor to a connector
  .chloggen/routing_connector.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/mdatagen/validate.go
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  connector/routingconnector/Makefile
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/factory.go
  connector/routingconnector/factory_test.go
  connector/routingconnector/go.mod
  connector/routingconnector/go.sum
  connector/routingconnector/internal/common/functions.go
  connector/routingconnector/internal/metadata/generated_status.go
  connector/routingconnector/logs.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metadata.yaml
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
  connector/routingconnector/testdata/config_logs.yaml
  connector/routingconnector/testdata/config_metrics.yaml
  connector/routingconnector/testdata/config_traces.yaml
  connector/routingconnector/traces.go
  connector/routingconnector/traces_test.go
  versions.yaml
Labels: cmd/mdatagen, cmd/otelcontribcol

#24002 [receiver/httpcheck] address review comments from #23439
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/factory.go
  receiver/httpcheckreceiver/factory_test.go
  receiver/httpcheckreceiver/scraper_test.go
  receiver/httpcheckreceiver/testdata/expected_metrics/multiple_targets.yaml
Labels: Skip Changelog, receiver/httpcheck

#23672 [exporter/datasetexporter] Various improvements and fixes for the DataSet Log Exporter plugin
  .chloggen/dataset-exporter-various-improvements-and-fixes.yaml
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/logs_exporter_test.go
Labels: exporter/dataset

#23992 Add deprecation note to Dynatrace metrics exporter
  .chloggen/add-deprecation-note-dynatrace-exporter.yaml
  exporter/dynatraceexporter/README.md
  exporter/dynatraceexporter/go.mod
  exporter/dynatraceexporter/internal/metadata/generated_status.go
  exporter/dynatraceexporter/metadata.yaml
Labels: exporter/dynatrace

#24005 [processor/resourcedetectionprocessor] mention required permissions
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog, processor/resourcedetection

#23990 feat(mysqlreceiver)!: removing `mysql.locked_connects` metric which is replaced by `mysql.connection.errors`
  .chloggen/drosiek-mysql-remove.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_config.go
  receiver/mysqlreceiver/internal/metadata/generated_config_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/testdata/config.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql

#23942 [chore] fix exhaustive lint for attribute processor
  .golangci.yml
  processor/attributesprocessor/attributes_metric.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/processor.go
Labels: processor/attributes, Skip Changelog

#24015 [chore] Move config validation into validate function
  pkg/stanza/fileconsumer/config.go
Labels: pkg/stanza

#24020 [chore][fileconsumer] Consolidate reader factory's header code
  pkg/stanza/fileconsumer/reader_factory.go
Labels: pkg/stanza

#24024 [chore] fix exhaustive lint for cumulativetodel processor
  .golangci.yml
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/processor.go
Labels: Skip Changelog, processor/cumulativetodelta

#23440 add option to skip log tokenization
  .chloggen/add-udp-tokenize-flag.yaml
  pkg/stanza/docs/operators/tcp_input.md
  pkg/stanza/docs/operators/udp_input.md
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  receiver/tcplogreceiver/README.md
  receiver/udplogreceiver/README.md
Labels: receiver/tcplog, receiver/udplog, pkg/stanza

#24050 [chore] Fix broken link
  receiver/chronyreceiver/README.md
Labels: receiver/chrony

#24046 [chore] fix exhaustive lint for statsd receiver
  .golangci.yml
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/protocol/statsd_parser.go
Labels: receiver/statsd, Skip Changelog

#23894 [receiver/pulsar] Change the types of `Token` and `PrivateKey` to be `configopaque.String`
  .chloggen/pulsar-use-configopaque.yaml
  receiver/pulsarreceiver/config.go
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
Labels: receiver/pulsar

#23000 [Encoding Extension] Added module outline
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  extension/encodingextension/Makefile
  extension/encodingextension/README.md
  extension/encodingextension/doc.go
  extension/encodingextension/go.mod
  extension/encodingextension/go.sum
  extension/encodingextension/internal/metadata/generated_status.go
  extension/encodingextension/metadata.yml
  versions.yaml
Labels: Skip Changelog

#24013 [fileconsumer] Prepare Finder for move to internal
  .chloggen/fileconsumer-internal-finder-prep.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file_sort.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/finder.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#24039 [chore][fileconsumer] Establish internal util package
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/internal/util/util.go
  pkg/stanza/fileconsumer/internal/util/util_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
Labels: pkg/stanza

#24040 [pkg/stanza] Fix bug where nil body would be set to a string
  .chloggen/pkg-stanza-empty-body.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#24037 [receiver/filelog] Fix file sort timestamp validation
  .chloggen/fix-file-sort-timestamp.yaml
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_sort.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/finder_test.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#24061 [chore][fileconsumer] Fix bug in tests where file was not closed
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint_test.go
Labels: pkg/stanza

#24028 [receiver/kafka] Add JSON-encoded log support
  .chloggen/feat_kafka-json-logs.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/json_unmarshaler.go
  receiver/kafkareceiver/json_unmarshaler_test.go
  receiver/kafkareceiver/unmarshaler.go
  receiver/kafkareceiver/unmarshaler_test.go
Labels: receiver/kafka

#23659 [pkg/ottl] add duration converter function
  .chloggen/feat_duration-func.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_duration.go
  pkg/ottl/ottlfuncs/func_duration_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#24070 [receiver/filelog] Add build test and remove layout overwrite
  pkg/stanza/fileconsumer/file_sort.go
  pkg/stanza/fileconsumer/file_test.go
Labels: Skip Changelog, pkg/stanza

#24162 [receiver/statsd] fix linting changes
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/config_test.go
Labels: receiver/statsd, Skip Changelog

#24044 [chore] Add metrics around the DataPoints received by the InfluxDB receiver
  receiver/influxdbreceiver/factory.go
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
  receiver/influxdbreceiver/receiver.go
Labels: receiver/influxdb

#23852 [chore] Remove skip flaky test for tailsamplingprocessor
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling, receiver/hostmetrics

#23805 [chore] enable exhaustive lint for pkg/translator/signalfx
  .golangci.yml
  exporter/signalfxexporter/internal/translation/logdata_to_signalfxv2.go
  pkg/translator/signalfx/from_metrics.go
  pkg/translator/signalfx/to_metrics.go
  pkg/translator/signalfx/to_metrics_test.go
Labels: ready to merge, exporter/signalfx, pkg/translator/signalfx

#24169 [chore] bump influxdb deps
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: ready to merge, exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#24059 [chore] [receiver/sqlquery] fix flaky tests by increasing timeouts
  receiver/sqlqueryreceiver/integration_test.go
Labels: receiver/sqlquery

#23149 [exporter/datasetexporter]: Update CODEOWNERS add zdaratom
  .github/CODEOWNERS
Labels: waiting for author, Skip Changelog, exporter/dataset

#23848 Add TLS settings support to OpAMP Supervisor config
  .chloggen/add-opamp-supervisor-tls.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor_darwin.yaml
  cmd/opampsupervisor/testdata/supervisor_linux.yaml
  cmd/opampsupervisor/testdata/supervisor_windows.yaml
Labels: cmd/opampsupervisor

#23808 [receiver/httpcheck] fail fast on endpoint missing scheme
  .chloggen/httpcheck-parse-scheme.yaml
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/config_test.go
Labels: receiver/httpcheck

#23832 [receiver/cloudfoundry] Change the type of `Config.UAA.Password` to be `configopaque.String`
  .chloggen/cloudfoundry-use-configopaque.yaml
  receiver/cloudfoundryreceiver/config.go
  receiver/cloudfoundryreceiver/go.mod
  receiver/cloudfoundryreceiver/receiver.go
  receiver/cloudfoundryreceiver/stream_test.go
  receiver/cloudfoundryreceiver/uaa_test.go
Labels: receiver/cloudfoundry

#24038 [chore][fileconsumer] Add test to verify file attributes are updated
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#21075 [exporter/kafkaexporter] Add support for configuring SASL handshake version
  .chloggen/kafkaexporter-add-sasl-version-config.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/authentication.go
  exporter/kafkaexporter/authentication_test.go
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
Labels: exporter/kafka

#24185 Update Kafka exporter and receiver docs
  exporter/kafkaexporter/README.md
  receiver/kafkareceiver/README.md
Labels: Skip Changelog, exporter/kafka, receiver/kafka

#23840 [pkg/ottl] Improve OTTL parser error reporting
  .chloggen/ottl-improve-parsing-errors.yaml
  pkg/ottl/functions.go
  pkg/ottl/go.mod
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
  processor/filterprocessor/config_test.go
  processor/transformprocessor/config_test.go
Labels: processor/filter, processor/transform, pkg/ottl

#24228 [chore] Ensure the opamp supervisor is using expected version
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
Labels: cmd/opampsupervisor

#24213 [chore] Update go versions used in GitHub workflows
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/tidy-dependencies.yml
  extension/observer/dockerobserver/integration_test.go
  internal/coreinternal/scraperinttest/scraperint.go
  receiver/dockerstatsreceiver/integration_test.go
  receiver/snmpreceiver/integration_test.go
  receiver/sqlqueryreceiver/integration_test.go
Labels: ready to merge, receiver/dockerstats, receiver/sqlquery, extension/observer, receiver/snmp, internal/core

#24236 [chore][fileconsumer] Fix bug in test where file needs to be reopened
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza, Run Windows

#24068 [chore] fix exhaustive lint for groupbyattrs processor
  .golangci.yml
  processor/groupbyattrsprocessor/processor.go
Labels: ready to merge, Skip Changelog, processor/groupbyattrs

#24187 [extension/headers_setter] Export ActionValue
  extension/headerssetterextension/config.go
Labels: Skip Changelog, extension/headerssetter

#24188 [exporter/loadbalancing] Clarify hashring algorithm
  exporter/loadbalancingexporter/README.md
Labels: Skip Changelog, exporter/loadbalancing

#24063 [receiver/saphana] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/saphana-use-configopaque.yaml
  receiver/saphanareceiver/config.go
  receiver/saphanareceiver/go.mod
Labels: ready to merge, receiver/saphana

#23810 [translator/loki] fix converting attributes to labels when hint is a slice and severity_number is present in log record
  .chloggen/fix-loki-level-to-label.yaml
  pkg/translator/loki/logs_to_loki.go
  pkg/translator/loki/logs_to_loki_test.go
Labels: pkg/translator/loki

#24237 [chore] fix exhaustive lint for prometheus receiver
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
Labels: ready to merge, Skip Changelog, receiver/prometheus

#24234 [exporter/datadog] Run source providers in parallel
  .chloggen/mx-psi_parallel-source-resolution.yaml
  exporter/datadogexporter/internal/hostmetadata/provider/provider.go
  exporter/datadogexporter/internal/hostmetadata/provider/provider_test.go
Labels: ready to merge, exporter/datadog

#24178 [chore] give go cache download 5 minutes timeout
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/tidy-dependencies.yml
Labels: ready to merge

#24177 [chore] Add "Sponsor Needed" as default label of new component
  .github/ISSUE_TEMPLATE/new_component.yaml
Labels: ready to merge

#23996 [processor/servicegraph] Deprecate component
  .chloggen/servicegraphprocessor-deprecated.yaml
  processor/servicegraphprocessor/README.md
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/internal/metadata/generated_status.go
  processor/servicegraphprocessor/metadata.yaml
Labels: ready to merge, processor/servicegraph

#24016 [processor/k8sattr] Use RFC3339 format for creation timestamp value
  .chloggen/k8sattr_timestampformat.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/processor.go
Labels: processor/k8sattributes

#23279 [observer/ecs] Don't report EC2 tasks with unassigned container instances
  .chloggen/ecsobserver-nil-container-arn-fix.yaml
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/fetcher_test.go
Labels: extension/observer

#23881 [chore] [exporter/datasetexporter] Simplify trace exporter, get rid of the client side aggregation code
  .chloggen/dataset-remove-obsolete-trace-client-side-aggregation.yaml
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/testdata/config.yaml
  exporter/datasetexporter/traces_exporter.go
  exporter/datasetexporter/traces_exporter_test.go
Labels: exporter/dataset

#24048 [connector/spanmetrics] disable exemplars by default
  .chloggen/spanmetricsconnector-disabled.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: ready to merge, connector/spanmetrics

#24182 [receiver/k8scluster] Change k8s.job metrics to use mdatagen
  .chloggen/k8s-cluster-receiver-jobs.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/jobs/docs.go
  receiver/k8sclusterreceiver/internal/jobs/documentation.md
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/jobs/jobs.go
  receiver/k8sclusterreceiver/internal/jobs/jobs_test.go
  receiver/k8sclusterreceiver/internal/jobs/metadata.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected_empty.yaml
Labels: receiver/k8scluster

#24261 [chore][CI] Increase timeout on windows steps
  .github/workflows/build-and-test-windows.yml
Labels: Skip Changelog, pkg/stanza, Run Windows

#24226 [chore] use a pointer receiver to fix warning
  cmd/mdatagen/statusdata.go
Labels: cmd/mdatagen

#21726 Updated to handle http receiver metadata
  .chloggen/support-client-info-metadata.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/extract.go
  processor/routingprocessor/extract_test.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces_test.go
Labels: processor/routing

#24246 [chore] [processor/tailsampling] Clarify ordering relative to context-dependent processors (#23870)
  processor/k8sattributesprocessor/README.md
  processor/tailsamplingprocessor/README.md
Labels: processor/k8sattributes, processor/tailsampling, Skip Changelog

#24239 feat(internal/metadataproviders/system): do not return empty host.id
  .chloggen/drosiek-host-id.yaml
  internal/metadataproviders/go.mod
  internal/metadataproviders/system/metadata.go
  internal/metadataproviders/system/metadata_test.go
Labels: internal/metadataproviders

#24066 [receiver/solace] Change the type of `Config.Auth.PlainText.Password` to be `configopaque.String`
  .chloggen/solace-use-configopaque.yaml
  receiver/solacereceiver/config.go
  receiver/solacereceiver/go.mod
  receiver/solacereceiver/messaging_service.go
Labels: ready to merge, receiver/solace

#24267 [chore] [exporter/datadogexporter] Use opentelemetry-mapping-go payload definitions for host metadata and gohai
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/gohai.go
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/gohai_test.go
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/payload.go
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/processes.go
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/processes_other.go
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/processes_payload.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
  go.mod
  go.sum
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol

#24243 feat: add boolean behavior for time objects
  .chloggen/feat_boolean-time.yaml
  pkg/ottl/boolean_value_test.go
  pkg/ottl/compare.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#24245 [processor/transform] Report all parsing errors
  .chloggen/tp-report-all-parsing-errors.yaml
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform

#24273 [chore] validate .chloggen entries in chores so no invalid changelog entries get committed
  .github/workflows/changelog.yml
Labels: ready to merge

#24036 [fileconsumer] Generlize emit function
  .chloggen/fileconsumer-emitfunc-generalize.yaml
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/emit/emit.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/util_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/file/file.go
  receiver/otlpjsonfilereceiver/file.go
Labels: pkg/stanza, receiver/otlpjsonfile, Run Windows

#24010 [processor/resourcedetection] Disable host.id on system detector by default
  .chloggen/mx-psi_system-detector-host-id.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: processor/resourcedetection

#24255 [exporter/datasetexporter]: Call the currect function on shutdown
  .chloggen/DSET-4050-handle-sigint-sigterm.yaml
  exporter/datasetexporter/datasetexporter.go
Labels: ready to merge, exporter/dataset

#24281 [processor/resourcedetection] Fix docker detector
  .chloggen/resource-detection-processor-fix-docker-detector.yaml
  processor/resourcedetectionprocessor/internal/docker/docker.go
  processor/resourcedetectionprocessor/internal/docker/docker_test.go
Labels: processor/resourcedetection

#24026 [pkg/translate/promremotewrite] downscale exponential histograms for prometheus
  .chloggen/prometheusremotewrite-downscale-histogram.yaml
  pkg/translator/prometheusremotewrite/histograms.go
  pkg/translator/prometheusremotewrite/histograms_test.go
Labels: pkg/translator/prometheus

#24235 [fileconsumer] Deduplicate fingerprints less aggressively
  .chloggen/strict-dedup.yaml
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint_test.go
Labels: pkg/stanza, Run Windows

#24285 [processor/tailsampling] Tailsampling evaluation data race
  .chloggen/tailsampling-evaluation-data-race.yaml
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/latency.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/ottl.go
  processor/tailsamplingprocessor/internal/sampling/status_code.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/trace_state_filter.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#24272 feat: add boolean behavior for durations
  .chloggen/feat_boolean-duration.yaml
  pkg/ottl/README.md
  pkg/ottl/boolean_value_test.go
  pkg/ottl/compare.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#24268 [receiver/k8scluster] Change k8s.replicationcontroller metrics to use mdatagen
  .chloggen/k8s-cluster-receiver-replicationcontroller.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/doc.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/documentation.md
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/replicationcontroller/metadata.yaml
  receiver/k8sclusterreceiver/internal/replicationcontroller/replicationcontrollers.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/replicationcontrollers_test.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/testdata/expected.yaml
Labels: ready to merge, receiver/k8scluster

#24355 [processor/resourcedetection] Fix heroku config interface
  .chloggen/resource-detection-processor-fix-heroku-attr.yaml
  processor/resourcedetectionprocessor/internal/heroku/heroku.go
  processor/resourcedetectionprocessor/internal/heroku/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/heroku/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/heroku/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/heroku/metadata.yaml
Labels: processor/resourcedetection

#24371 Rotate dashpole to the bottom of the sponsor list
  CONTRIBUTING.md
Labels: Skip Changelog

#24260 prometheus exporters: Add add_metric_suffixes configuration option
  .chloggen/prometheusexporters-normalization-config.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/config.go
  exporter/prometheusexporter/config_test.go
  exporter/prometheusexporter/factory.go
  exporter/prometheusexporter/testdata/config.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/testdata/config.yaml
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/histograms_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/number_data_points.go
Labels: ready to merge, exporter/prometheusremotewrite, exporter/prometheus, pkg/translator/prometheus

#24282 fix: add log to silent failling actions
  receiver/statsdreceiver/receiver.go
Labels: ready to merge, receiver/statsd, Skip Changelog

#23573 redisreceiver: Add missing units in metadata.yaml
  .chloggen/add-units-to-redisreceiver.yaml
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/testdata/integration/expected.yaml
Labels: receiver/redis

#24376 [exporter/datadog] fix: update typo in collector.yaml example for datadogexporter
  exporter/datadogexporter/examples/collector.yaml
Labels: documentation, ready to merge, exporter/datadog, Skip Changelog

#24011 [receiver/googlecloudspannerreceiver] Rename metadata.yaml to metrics.yaml
  receiver/googlecloudspannerreceiver/cardinality.md
  receiver/googlecloudspannerreceiver/internal/metadataconfig/metadata_yaml_test.go
  receiver/googlecloudspannerreceiver/internal/metadataconfig/metrics.yaml
  receiver/googlecloudspannerreceiver/receiver.go
Labels: Skip Changelog, receiver/googlecloudspanner

#24379 [hostmetricsreceiver] fix invalid return type
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_others.go
Labels: Skip Changelog, receiver/hostmetrics

#24064 [receiver/snmp] Change the types of the `Config.{AuthPassword,PrivacyPassword}` fields to be of `configopaque.String`
  .chloggen/snmp-use-configopaque.yaml
  receiver/snmpreceiver/client.go
  receiver/snmpreceiver/client_test.go
  receiver/snmpreceiver/config.go
  receiver/snmpreceiver/go.mod
  receiver/snmpreceiver/go.sum
Labels: ready to merge, receiver/snmp

#24065 [receiver/snowflake] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/snowflake-use-configopaque.yaml
  receiver/snowflakereceiver/client.go
  receiver/snowflakereceiver/config.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
Labels: ready to merge, receiver/snowflake

#24067 [receiver/vcenter] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/vcenter-use-configopaque.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/config.go
  receiver/vcenterreceiver/go.mod
  receiver/vcenterreceiver/integration_test.go
Labels: ready to merge, receiver/vcenter

#24373 [chore] [cmd/mdatagen] Use unique attribute values in generated tests
  cmd/mdatagen/internal/metadata/generated_metrics_test.go
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/documentation.md.tmpl
  cmd/mdatagen/templates/metrics.go.tmpl
  cmd/mdatagen/templates/metrics_test.go.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics_test.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachesparkreceiver/internal/metadata/generated_metrics_test.go
  receiver/bigipreceiver/internal/metadata/generated_metrics_test.go
  receiver/chronyreceiver/internal/metadata/generated_metrics_test.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/iisreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/cronjob/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/jobs/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/node/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/replicationcontroller/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/riakreceiver/internal/metadata/generated_metrics_test.go
  receiver/saphanareceiver/internal/metadata/generated_metrics_test.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sshcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics_test.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/k8scluster, receiver/riak, receiver/chrony, receiver/snowflake, receiver/httpcheck, Run Windows, receiver/oracledb, receiver/haproxy, receiver/sshcheck, receiver/filestats, receiver/apachespark

#24290 [exporter/datadog] Enable inframetadata.Reporter
  .chloggen/mx-psi_reporter.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol

#23864 [receiver/jmx] Change the types of `Config.{Password,KeystorePassword,TruststorePassword}` to be `configopaque.String`
  .chloggen/jmx-use-configopaque.yaml
  receiver/jmxreceiver/config.go
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/receiver.go
Labels: ready to merge, receiver/jmx

#24372 [exporter/googlemanagedprometheus] Add target and scope info metrics by default
  .chloggen/gmp-exporter-add-target-metrics.yaml
  exporter/googlemanagedprometheusexporter/config.go
  exporter/googlemanagedprometheusexporter/config_test.go
  exporter/googlemanagedprometheusexporter/factory.go
  exporter/googlemanagedprometheusexporter/go.mod
Labels: ready to merge, exporter/googlemanagedprometheus

#24374 Introduce experimental entity event data types
  .chloggen/introduce-entity-events-as-logs.yaml
  pkg/experimentalmetricmetadata/entity_events.go
  pkg/experimentalmetricmetadata/entity_events_test.go
  pkg/experimentalmetricmetadata/go.mod
  pkg/experimentalmetricmetadata/go.sum
Labels: pkg/experimentalmetricmetadata

#24396 [receiver/k8sclusterreceiver] Implement conversion from Metadata to the new entity model
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs_test.go
  receiver/k8sclusterreceiver/internal/metadata/entities.go
  receiver/k8sclusterreceiver/internal/metadata/entities_test.go
  receiver/k8sclusterreceiver/internal/metadata/metadata.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
Labels: Skip Changelog, receiver/k8scluster

#24212 [internal/components] register jaegerremotesampling extension
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  internal/components/components.go
Labels: Skip Changelog, cmd/configschema, cmd/oteltestbedcol

#23826 [exporter/datasetexporter] Improved handling of "observed timestamp" and body / message fields, add config option for exporting scope attributes
  .chloggen/dataset-exporter-timestamp-body-scope-improvements.yaml
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/testdata/config.yaml
Labels: exporter/dataset

#22976 fix(awscloudwatchreceiver): emit logs from one stream in one resource
  .chloggen/awscloudwatch-emit-stream-in-one-resource.yaml
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
  receiver/awscloudwatchreceiver/testdata/processed/prefixed.yaml
Labels: receiver/awscloudwatch

#24254 [receiver/k8scluster] Change k8s.replicaset metrics to use mdatagen
  .chloggen/k8s-cluster-receiver-replicaset.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/replica/replica.go
  receiver/k8sclusterreceiver/internal/replicaset/doc.go
  receiver/k8sclusterreceiver/internal/replicaset/documentation.md
  receiver/k8sclusterreceiver/internal/replicaset/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/replicaset/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/replicaset/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/replicaset/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/replicaset/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/replicaset/metadata.yaml
  receiver/k8sclusterreceiver/internal/replicaset/replicasets.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets_test.go
  receiver/k8sclusterreceiver/internal/replicaset/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#24384 [chore] [cmd/mdatagen] Remove redis todo for missing units
  cmd/mdatagen/validate.go
Labels: ready to merge, cmd/mdatagen

#24062 [receiver/riak] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/riak-use-configopaque.yaml
  receiver/riakreceiver/client.go
  receiver/riakreceiver/client_test.go
  receiver/riakreceiver/config.go
  receiver/riakreceiver/go.mod
Labels: ready to merge, receiver/riak

#24060 [receiver/redis] Change the type of `Config.Password` to be `configopaque.String`
  .chloggen/redis-use-configopaque.yaml
  receiver/redisreceiver/config.go
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/redis_scraper.go
Labels: ready to merge, receiver/redis

#23829 [receiver/awsfirehose] Change the type of `Config.AccessKey` to be `configopaque.String`
  .chloggen/awsfirehose-use-configopaque.yaml
  receiver/awsfirehosereceiver/config.go
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/receiver.go
Labels: receiver/awsfirehose

#24385 [chore] order CODEOWNERS file alphabetically
  .github/CODEOWNERS
Labels: ready to merge

#24053 [chore] [exporter/datasetexporter]: Update CODEOWNERS add tomaz-s1
  .github/CODEOWNERS
Labels: ready to merge, Skip Changelog

#24269 [receiver/k8scluster] Change k8s.daemonset metrics to use mdatagen
  .chloggen/k8s-cluster-receiver-daemonset-2.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets_test.go
  receiver/k8sclusterreceiver/internal/demonset/doc.go
  receiver/k8sclusterreceiver/internal/demonset/documentation.md
  receiver/k8sclusterreceiver/internal/demonset/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/demonset/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/demonset/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/demonset/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/demonset/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/demonset/metadata.yaml
  receiver/k8sclusterreceiver/internal/demonset/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#24032 [receiver/prometheus] Don't fail the whole scrape on invalid data
  .chloggen/fix_prometheusreceiver_ignore-invalid-series.yaml
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/prometheusreceiver/testdata/openmetrics/bad_histograms_9/bad_histograms_5/metrics.txt
  receiver/prometheusreceiver/testdata/openmetrics/invalid_counter_values_4/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_counter_values_7/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_counter_values_8/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_counter_values_9/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_exemplars_6/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_histograms_10/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_histograms_11/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_histograms_12/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_histograms_9/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_missing_or_invalid_labels_for_a_type_0/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_missing_or_invalid_labels_for_a_type_2/metrics
  receiver/prometheusreceiver/testdata/openmetrics/invalid_missing_or_invalid_labels_for_a_type_5/metrics
Labels: ready to merge, receiver/prometheus

#24424 update pulsar receiver/exporter CODEOWNERS
  .github/CODEOWNERS
Labels: Skip Changelog

#24419 [receiver/k8sclusterreceiver] Begin emitting entity events as logs
  .chloggen/k8scluster-receiver-emit-entityevents.yaml
  pkg/experimentalmetricmetadata/entity_events.go
  pkg/experimentalmetricmetadata/entity_events_test.go
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/factory.go
  receiver/k8sclusterreceiver/factory_test.go
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/internal/metadata/generated_status.go
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster, pkg/experimentalmetricmetadata

#24257 prometheusreceiver: remove unused buffer_period and buffer_count configuration options
  .chloggen/prometheus-config-cleanup.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/testdata/config.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-unsupported-features.yaml
Labels: ready to merge, receiver/prometheus

#23819 [Exporter/OpenSearch] OpenSearch exporter setup
  .chloggen/opensearch-exporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  exporter/opensearchexporter/Makefile
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/config.go
  exporter/opensearchexporter/config_test.go
  exporter/opensearchexporter/factory.go
  exporter/opensearchexporter/go.mod
  exporter/opensearchexporter/go.sum
  exporter/opensearchexporter/testdata/config.yaml
  versions.yaml
Labels: ready to merge, cmd/otelcontribcol

#24392 [exporter/googlemanagedprometheus] support resource filters
  .chloggen/gmp-resource-filters.yaml
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/config.go
Labels: ready to merge, exporter/googlemanagedprometheus

#24056 [exporter/pulsar] Fix doc of pulsar exporter for endpoint
  exporter/pulsarexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/pulsar

#24303 [cmd/telemetrygen] Change span kind from an attribute to top level info
  .chloggen/issue-24286-telemetrygen-span-kind-attribute.yaml
  cmd/telemetrygen/internal/traces/worker.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: ready to merge, cmd/telemetrygen

#23456 [testbed] Add zstd compression end-to-end tests for OTLP/HTTP
  testbed/go.mod
  testbed/testbed/mock_backend_test.go
  testbed/testbed/senders.go
  testbed/tests/trace_test.go
Labels: Skip Changelog, testbed

#23867 [prometheus] Recommend copying resource attrs. into metric labels
  exporter/prometheusexporter/README.md
  exporter/prometheusremotewriteexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite, exporter/prometheus

#23879 Update documentation for GCP exporters
  exporter/googlecloudexporter/README.md
  exporter/googlemanagedprometheusexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/googlecloud, exporter/googlemanagedprometheus

#23952 [chore] fix exhaustive lint for processor spanprocessor (#23266)
  .golangci.yml
  processor/spanprocessor/span.go
Labels: ready to merge, Skip Changelog, processor/span

#24227 [chore] expose codeowners in README
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/statusdata.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/testdata/readme_with_status_codeowners.md
  cmd/mdatagen/testdata/readme_with_status_codeowners_and_emeritus.md
  receiver/signalfxreceiver/README.md
  receiver/signalfxreceiver/metadata.yaml
  receiver/splunkhecreceiver/README.md
  receiver/splunkhecreceiver/metadata.yaml
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/metadata.yaml
Labels: cmd/mdatagen, receiver/splunkhec, receiver/signalfx, receiver/webhookevent

#24431 [receiver/k8sclusterreceiver] Add timestamp field to entity events
  pkg/experimentalmetricmetadata/entity_events.go
  pkg/experimentalmetricmetadata/entity_events_test.go
  receiver/k8sclusterreceiver/internal/metadata/entities.go
  receiver/k8sclusterreceiver/internal/metadata/entities_test.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: Skip Changelog, receiver/k8scluster, pkg/experimentalmetricmetadata

#24247 [chore] Reenable tests and linting disabled due to testconainters-go issue
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  extension/observer/dockerobserver/integration_test.go
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/coreinternal/scraperinttest/scraperint.go
  receiver/aerospikereceiver/go.mod
  receiver/aerospikereceiver/go.sum
  receiver/apachereceiver/go.mod
  receiver/apachereceiver/go.sum
  receiver/apachesparkreceiver/go.mod
  receiver/apachesparkreceiver/go.sum
  receiver/bigipreceiver/go.mod
  receiver/bigipreceiver/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/dockerstatsreceiver/integration_test.go
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/flinkmetricsreceiver/go.mod
  receiver/flinkmetricsreceiver/go.sum
  receiver/iisreceiver/go.mod
  receiver/iisreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/snmpreceiver/go.mod
  receiver/snmpreceiver/go.sum
  receiver/snmpreceiver/integration_test.go
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/sqlqueryreceiver/integration_test.go
  receiver/vcenterreceiver/go.mod
  receiver/vcenterreceiver/go.sum
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
Labels: receiver/redis, receiver/memcached, receiver/jmx, receiver/aerospike, receiver/dockerstats, receiver/mysql, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/zookeeper, receiver/sqlquery, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, extension/observer, receiver/snmp, internal/core, receiver/apachespark

#24418 Add Grafana Agent to list of distributions
  cmd/mdatagen/statusdata.go
  exporter/jaegerexporter/README.md
  exporter/jaegerexporter/metadata.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/metadata.yaml
  exporter/lokiexporter/metadata.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/metadata.yaml
  extension/basicauthextension/README.md
  extension/basicauthextension/metadata.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/metadata.yaml
  extension/headerssetterextension/README.md
  extension/headerssetterextension/metadata.yaml
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/metadata.yaml
  extension/oauth2clientauthextension/README.md
  extension/oauth2clientauthextension/metadata.yaml
  extension/sigv4authextension/README.md
  extension/sigv4authextension/metadata.yaml
  processor/attributesprocessor/README.md
  processor/attributesprocessor/metadata.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metadata.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/metadata.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/metadata.yaml
  receiver/lokireceiver/metadata.yaml
  receiver/opencensusreceiver/README.md
  receiver/opencensusreceiver/metadata.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/metadata.yaml
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin, processor/attributes, processor/tailsampling, Skip Changelog, exporter/loadbalancing, cmd/mdatagen, exporter/loki, receiver/prometheus, exporter/jaeger, exporter/prometheus, receiver/kafka, receiver/jaeger, receiver/opencensus, extension/sigv4auth, extension/bearertokenauth, extension/oauth2clientauth, extension/basicauth, extension/jaegerremotesampling, extension/headerssetter, receiver/loki

#24429 Improve debug level logging to include policy name
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling, Skip Changelog

#24412 [chore] enable exhaustive option explicit-exhaustive-switch
  .golangci.yml
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
Labels: Skip Changelog, chore, internal/core

#24437 [chore] [processor/resourcedetection] Create ResourceBuilder on start
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/elasticbeanstalk.go
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/elasticbeanstalk_test.go
  processor/resourcedetectionprocessor/internal/aws/lambda/lambda.go
  processor/resourcedetectionprocessor/internal/aws/lambda/lambda_test.go
  processor/resourcedetectionprocessor/internal/azure/azure.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/consul/consul.go
  processor/resourcedetectionprocessor/internal/consul/consul_test.go
  processor/resourcedetectionprocessor/internal/docker/docker.go
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/heroku/heroku.go
  processor/resourcedetectionprocessor/internal/heroku/heroku_test.go
  processor/resourcedetectionprocessor/internal/openshift/openshift.go
  processor/resourcedetectionprocessor/internal/openshift/openshift_test.go
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: processor/resourcedetection

#24436 [chore] ignore pmetric.MetricTypeEmpty for exhaustive
  .golangci.yml
Labels: ready to merge, chore

#24434 [receiver/k8sclusterreceiver] Report entity state periodically
  .chloggen/k8sclusterreceiver-metadata-collection-interval.yaml
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/config.go
  receiver/k8sclusterreceiver/config_test.go
  receiver/k8sclusterreceiver/factory.go
  receiver/k8sclusterreceiver/factory_test.go
  receiver/k8sclusterreceiver/testdata/config.yaml
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#24445 Fix typo in k8sclusterreceiver config.go file
  receiver/k8sclusterreceiver/config.go
Labels: Skip Changelog, receiver/k8scluster

#24416 [receiver/k8scluster] Convert clusterresourcequota to use pdata
  .chloggen/k8s-cluster-receiver-clusterresourcequota.yaml
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusteresourcequotas.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusterresourcequotas.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/clusterresourcequotas_test.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/doc.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/documentation.md
  receiver/k8sclusterreceiver/internal/clusterresourcequota/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/clusterresourcequota/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/clusterresourcequota/metadata.yaml
  receiver/k8sclusterreceiver/internal/clusterresourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/testutils/objects.go
Labels: receiver/k8scluster
