Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-06, with the labels that each got.

#22972 Unwrap lumberjack.logger with buffered writer
  .chloggen/fix_fileexporter-brokenlines.yaml
  exporter/fileexporter/README.md
  exporter/fileexporter/factory.go
  exporter/fileexporter/factory_test.go
Labels: exporter/file

#22981 [chore][scraperinttest] Capture and logs errors from scrapers
  internal/coreinternal/scraperinttest/scraperint.go
Labels: receiver/mysql, internal/core

#14747 [receiver/mysql]: add mysql.uptime metric
  .chloggen/drosiek-upstream-metric.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_config.go
  receiver/mysqlreceiver/internal/metadata/generated_config_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/testdata/config.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/integration/expected.yaml
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql

#22986 [chore] [exporter/splunk_hec] Remove redundant bufState struct
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/hec_worker.go
  exporter/splunkhecexporter/hec_worker_test.go
Labels: exporter/splunkhec

#22800 [connector/*] generate status from metadata.yaml
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/templates/status.go.tmpl
  connector/countconnector/README.md
  connector/countconnector/config_test.go
  connector/countconnector/factory.go
  connector/countconnector/internal/metadata/generated_status.go
  connector/countconnector/metadata.yaml
Labels: Skip Changelog, cmd/mdatagen, connector/count

#23001 [chore] remove use of deprecated wait.Poll
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  go.mod
  go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/k8s/k8sclient/clientset.go
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/kubelet/go.mod
  internal/kubelet/go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
Labels: exporter/datadog, processor/k8sattributes, Skip Changelog, processor/resourcedetection, receiver/awscontainerinsight, receiver/kubeletstats, cmd/configschema, cmd/otelcontribcol, receiver/k8sevents, receiver/simpleprometheus, receiver/k8scluster, extension/observer, internal/aws, internal/kubelet, internal/k8sconfig, receiver/k8sobjects

#22718 [chore] Sort attributes prior to writing golden metrics files
  internal/coreinternal/golden/golden.go
  internal/coreinternal/golden/sort_attributes.go
  internal/coreinternal/golden/sort_attributes_test.go
  receiver/apachesparkreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_with_members_golden.yaml
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_no_jobs_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_jobs.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_subtasks.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_taskmanagers.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/endpoint_404.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/invalid_endpoint.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/mongodbreceiver/testdata/scraper/expected.yaml
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected_with_connections_as_sum.yaml
  receiver/nsxtreceiver/testdata/metrics/expected_metrics.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
  receiver/rabbitmqreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/saphanareceiver/testdata/expected_metrics/full.yaml
  receiver/snowflakereceiver/testdata/scraper/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.4.14.yaml
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.5.5.yaml
  receiver/zookeeperreceiver/testdata/scraper/disable-watches.yaml
  receiver/zookeeperreceiver/testdata/scraper/error-closing-connection.yaml
  receiver/zookeeperreceiver/testdata/scraper/error-setting-connection-deadline.yaml
Labels: receiver/memcached, receiver/dockerstats, receiver/mysql, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/snowflake, receiver/httpcheck, receiver/snmp, internal/core, pkg/pdatatest, receiver/sshcheck, receiver/azuremonitor, receiver/apachespark

#23013 [k8sattributesprocessor] docs: update rbac information
  processor/k8sattributesprocessor/README.md
Labels: ready to merge, processor/k8sattributes, Skip Changelog

#22989 Add the AWS distribution to the list of distributions
  exporter/fileexporter/README.md
  exporter/fileexporter/metadata.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/metadata.yaml
  exporter/logzioexporter/README.md
  exporter/logzioexporter/metadata.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/metadata.yaml
  exporter/sapmexporter/README.md
  exporter/sapmexporter/metadata.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/metadata.yaml
  extension/awsproxy/README.md
  extension/awsproxy/metadata.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/metadata.yaml
  extension/observer/ecsobserver/README.md
  extension/observer/ecsobserver/metadata.yaml
  extension/pprofextension/README.md
  extension/pprofextension/metadata.yaml
  extension/sigv4authextension/README.md
  extension/sigv4authextension/metadata.yaml
  processor/attributesprocessor/README.md
  processor/attributesprocessor/metadata.yaml
  processor/cumulativetodeltaprocessor/README.md
  processor/cumulativetodeltaprocessor/metadata.yaml
  processor/deltatorateprocessor/README.md
  processor/deltatorateprocessor/metadata.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/metadata.yaml
  processor/groupbytraceprocessor/README.md
  processor/groupbytraceprocessor/metadata.yaml
  processor/metricsgenerationprocessor/README.md
  processor/metricsgenerationprocessor/metadata.yaml
  processor/metricstransformprocessor/README.md
  processor/metricstransformprocessor/metadata.yaml
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/metadata.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/metadata.yaml
  processor/resourceprocessor/README.md
  processor/resourceprocessor/metadata.yaml
  processor/spanprocessor/README.md
  processor/spanprocessor/metadata.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metadata.yaml
  receiver/awscontainerinsightreceiver/README.md
  receiver/awscontainerinsightreceiver/metadata.yaml
  receiver/awsecscontainermetricsreceiver/README.md
  receiver/awsecscontainermetricsreceiver/metadata.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/metadata.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/metadata.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/metadata.yaml
  receiver/statsdreceiver/README.md
  receiver/statsdreceiver/metadata.yaml
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin, receiver/statsd, processor/attributes, processor/filter, processor/tailsampling, processor/metricstransform, Skip Changelog, processor/resourcedetection, processor/groupbytrace, extension/healthcheck, receiver/awscontainerinsight, receiver/prometheus, processor/cumulativetodelta, processor/deltatorate, processor/metricsgeneration, processor/probabilisticsampler, processor/resource, exporter/file, exporter/signalfx, exporter/logzio, exporter/kafka, exporter/sapm, exporter/prometheus, receiver/kafka, receiver/awsecscontainermetrics, receiver/jaeger, extension/sigv4auth, extension/pprof, extension/observer, extension/awsproxy, processor/span

#23017 [connector/spanmetrics] generate status with mdatagen
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/factory.go
  connector/spanmetricsconnector/internal/metadata/generated_status.go
  connector/spanmetricsconnector/metadata.yaml
Labels: Skip Changelog, connector/spanmetrics

#23011 [chore] Tag postgresql integration test with build tag
  receiver/postgresqlreceiver/integration_test.go
Labels: receiver/postgresql

#22933 Update Kusto Go SDK version , fixes issue #22771
  .chloggen/kusto_init_retry.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/azuredataexplorerexporter/e2e_test.go
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  go.mod
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/azuredataexplorer

#22823 [receiver/dockerstats] adding renamed cpu_utilization metric
  .chloggen/change_cpu_percentage_naming.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_config.go
  receiver/dockerstatsreceiver/internal/metadata/generated_config_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
Labels: receiver/dockerstats

#22966 [chore] enable coverage for unit tests
  .github/workflows/build-and-test.yml
  .gitignore
  Makefile
  Makefile.Common
Labels: internal/tools

#23018 [receiver/httpcheck] remove default endpoint
  .chloggen/httpcheck-endpoint.yaml
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/config_test.go
  receiver/httpcheckreceiver/factory.go
  receiver/httpcheckreceiver/factory_test.go
  receiver/httpcheckreceiver/scraper_test.go
Labels: receiver/httpcheck

#23012 [connector/servicegraphconnector] generate status with mdatagen
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/factory.go
  connector/servicegraphconnector/factory_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/go.sum
  connector/servicegraphconnector/internal/metadata/generated_status.go
  connector/servicegraphconnector/metadata.yaml
  processor/servicegraphprocessor/config_test.go
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/factory_test.go
  processor/servicegraphprocessor/processor_test.go
Labels: Skip Changelog, processor/servicegraph, connector/servicegraph

#23033 [receiver/postgresql] Fix race condition when capturing errors
  .chloggen/postgres-int-race.yaml
  receiver/postgresqlreceiver/scraper.go
Labels: receiver/postgresql

#23037 [receiver/httpcheck] Update default collection interval
  .chloggen/httpcheck-default-collection-interval.yaml
  receiver/httpcheckreceiver/factory.go
  receiver/httpcheckreceiver/factory_test.go
Labels: receiver/httpcheck

#23030 [chore] Updates to scrape duration
  .chloggen/msg_add-scrape-interval-changelog.yaml
  .chloggen/msg_revert-default-apache-receiver.yaml
  receiver/activedirectorydsreceiver/README.md
  receiver/aerospikereceiver/README.md
  receiver/apachereceiver/README.md
  receiver/apachereceiver/factory.go
  receiver/apachesparkreceiver/README.md
  receiver/azuremonitorreceiver/README.md
  receiver/chronyreceiver/README.md
  receiver/dockerstatsreceiver/README.md
  receiver/elasticsearchreceiver/README.md
  receiver/expvarreceiver/README.md
  receiver/filestatsreceiver/README.md
  receiver/flinkmetricsreceiver/README.md
  receiver/googlecloudspannerreceiver/README.md
  receiver/haproxyreceiver/README.md
  receiver/hostmetricsreceiver/README.md
  receiver/httpcheckreceiver/README.md
  receiver/iisreceiver/README.md
  receiver/jmxreceiver/README.md
  receiver/kafkametricsreceiver/README.md
  receiver/kubeletstatsreceiver/README.md
  receiver/memcachedreceiver/README.md
  receiver/mongodbreceiver/README.md
  receiver/mysqlreceiver/README.md
  receiver/nginxreceiver/README.md
  receiver/nsxtreceiver/README.md
  receiver/podmanreceiver/README.md
  receiver/postgresqlreceiver/README.md
  receiver/riakreceiver/README.md
  receiver/saphanareceiver/README.md
  receiver/vcenterreceiver/README.md
  receiver/windowsperfcountersreceiver/README.md
  receiver/zookeeperreceiver/README.md
Labels: ready to merge, receiver/memcached, receiver/jmx, receiver/aerospike, receiver/hostmetrics, receiver/dockerstats, receiver/podman, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/windowsperfcounters, receiver/expvar, receiver/googlecloudspanner, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony, receiver/httpcheck, receiver/haproxy, receiver/filestats, receiver/azuremonitor, receiver/apachespark

#23029 [processor/servicegraph] consume traces even metric count is equal to 0
  .chloggen/fix-trace-data-loss.yaml
  processor/servicegraphprocessor/processor.go
Labels: ready to merge, processor/servicegraph

#21716 issue-21715 fetching metric values with composite(all) dimension keys
  .chloggen/azure_monitor_receiver-composite-dimensions.yaml
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_tags_golden.yaml
Labels: receiver/azuremonitor

#23046 [chore] Remove several unnecessary custom dockerfiles
  receiver/apachereceiver/integration_test.go
  receiver/apachereceiver/testdata/integration/Dockerfile.apache
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/testdata/integration/Dockerfile.postgresql
  receiver/rabbitmqreceiver/integration_test.go
  receiver/rabbitmqreceiver/testdata/integration/Dockerfile.rabbitmq
  receiver/rabbitmqreceiver/testdata/integration/setup.sh
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/testdata/integration/Dockerfile.mysql
  receiver/sqlqueryreceiver/testdata/integration/Dockerfile.postgresql
  receiver/sqlqueryreceiver/testdata/integration/mysql/expected.yaml
  receiver/sqlqueryreceiver/testdata/integration/mysql/init.sql
  receiver/sqlqueryreceiver/testdata/integration/oracle/Dockerfile.oracledb
  receiver/sqlqueryreceiver/testdata/integration/oracle/expected.yaml
  receiver/sqlqueryreceiver/testdata/integration/oracle/init.sql
  receiver/sqlqueryreceiver/testdata/integration/postgresql/expected.yaml
  receiver/sqlqueryreceiver/testdata/integration/postgresql/init.sql
Labels: receiver/sqlquery, receiver/rabbitmq, receiver/postgresql, receiver/apache

#21275 [chore] add metadata status checks on the distribution
  cmd/otelcontribcol/distribution_metadata_test.go
  cmd/otelcontribcol/go.mod
Labels: cmd/otelcontribcol

#22751 [chore][jmxreceiver] Update flaky JMX receiver integration test
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/jmxreceiver/integration_test.go
  receiver/jmxreceiver/supported_jars.go
  receiver/jmxreceiver/testdata/integration/expected.1.10.0-alpha.yaml
  receiver/jmxreceiver/testdata/integration/expected.1.26.0-alpha.yaml
Labels: receiver/jmx

#23003 [chore][receiver/mysql] Migrate away from timing based setup in integration test
  internal/coreinternal/scraperinttest/scraperint.go
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/integration/Dockerfile.mysql
  receiver/mysqlreceiver/testdata/integration/init.sh
  receiver/mysqlreceiver/testdata/integration/scripts/setup.sh
Labels: receiver/mysql, internal/core

#22752 [chore][receiver/zookeeper] Refactor to separate connection/request from metric processing
  receiver/zookeeperreceiver/scraper.go
  receiver/zookeeperreceiver/scraper_test.go
Labels: receiver/zookeeper

#22945 [pkg/stanza/fileconsumer] Fix issue where empty files caused errors
  .chloggen/filelog-close-empty-err.yaml
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#22968 [pkg/ottl] Added ottl functions for hashing strings
  .chloggen/ottl_hash_functions.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_fnv.go
  pkg/ottl/ottlfuncs/func_fnv_test.go
  pkg/ottl/ottlfuncs/func_sha1.go
  pkg/ottl/ottlfuncs/func_sha1_test.go
  pkg/ottl/ottlfuncs/func_sha256.go
  pkg/ottl/ottlfuncs/func_sha256_test.go
Labels: pkg/ottl

#22833 [chore] [receiver/filelog] Add test to verify receiver consume contract
  receiver/filelogreceiver/filelog_test.go
Labels: receiver/filelog

#23143 [chore] Fix failing test case for flinkmetrics
  .chloggen/msg_hotfix-flinkmetrics.yaml
  receiver/flinkmetricsreceiver/process.go
Labels: receiver/flinkmetrics

#23188 [chore] fix test which was missed
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: receiver/windowsperfcounters, Run Windows

#20751 Webhookevent client
  .chloggen/webhookevent_client.yaml
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/config_test.go
  receiver/webhookeventreceiver/factory.go
  receiver/webhookeventreceiver/factory_test.go
  receiver/webhookeventreceiver/go.mod
  receiver/webhookeventreceiver/go.sum
  receiver/webhookeventreceiver/internal/metadata/generated_status.go
  receiver/webhookeventreceiver/metadata.yaml
  receiver/webhookeventreceiver/receiver.go
  receiver/webhookeventreceiver/receiver_test.go
  receiver/webhookeventreceiver/req_to_log.go
  receiver/webhookeventreceiver/req_to_log_test.go
  receiver/webhookeventreceiver/testdata/config.yaml
Labels: ready to merge, receiver/webhookevent, receiver/azuremonitor

#23066 [chore] Migrate jmx receiver integration test
  internal/coreinternal/scraperinttest/scraperint.go
  receiver/jmxreceiver/integration_test.go
  receiver/jmxreceiver/testdata/Dockerfile.cassandra
  receiver/jmxreceiver/testdata/integration/1.10.0-alpha/expected.yaml
  receiver/jmxreceiver/testdata/integration/1.26.0-alpha/expected.yaml
  receiver/jmxreceiver/testdata/integration/jmxremote.password
Labels: ready to merge, receiver/jmx, internal/core

#22992 [receiver/datadog] add client info to datadogreceiver
  .chloggen/dd-receiver-listener.yaml
  receiver/datadogreceiver/receiver.go
Labels: ready to merge, receiver/datadog

#23227 [chore] Fix spelling of parameters in e2e_diagram.jpeg. Increased resolution of image.
  testbed/e2e_diagram.jpeg
Labels: Skip Changelog, testbed

#23061 [exporter/sumologic]: update configuration format
  exporter/sumologicexporter/README.md
Labels: Skip Changelog, exporter/sumologic

#23230 feat(influxdbexporter): add configurable span dimensions
  .chloggen/jgm-span-dimensions.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/README.md
  exporter/influxdbexporter/config.go
  exporter/influxdbexporter/config_test.go
  exporter/influxdbexporter/exporter.go
  exporter/influxdbexporter/factory.go
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/influxdbexporter/testdata/config.yaml
  exporter/influxdbexporter/writer.go
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#21098 [servicegraphprocessor/servicegraphconnector] Change metric names to match the spec
  .chloggen/servicegraph-fix-metric-names.yaml
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#23234 [receiver/iis] Fix error log when no items are in the request queue
  .chloggen/fix_iis-scrape-queue-failure.yaml
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/performance_query.go
  pkg/winperfcounters/watcher.go
  receiver/iisreceiver/recorder.go
  receiver/iisreceiver/scraper.go
  receiver/iisreceiver/scraper_test.go
  receiver/iisreceiver/testdata/integration/expected.yaml
  receiver/iisreceiver/testdata/scraper/expected_negative_denominator.yaml
Labels: receiver/iis, pkg/winperfcounters

#23190 [pkg/ottl] Add StandardFuncs and StandardConverters to ottlfuncs
  .chloggen/ottl-standard-functions.yaml
  internal/filter/filterottl/filter.go
  pkg/ottl/ottlfuncs/functions.go
  processor/transformprocessor/internal/common/functions.go
  processor/transformprocessor/internal/logs/functions.go
  processor/transformprocessor/internal/logs/functions_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
Labels: processor/transform, pkg/ottl, internal/filter

#23228 [chore][processor/k8sattributes] Move generic testing logic to separate package
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  internal/k8stest/Makefile
  internal/k8stest/README.md
  internal/k8stest/go.mod
  internal/k8stest/go.sum
  internal/k8stest/k8s_collector.go
  internal/k8stest/k8s_data_helpers.go
  internal/k8stest/k8s_objects.go
  internal/k8stest/k8s_telemetrygen.go
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  versions.yaml
Labels: exporter/datadog, processor/k8sattributes, cmd/configschema, cmd/otelcontribcol

#23241 [chore] Upgrade go version in tests
  .github/workflows/build-and-test.yml
Labels: ready to merge

#23243 [chore] disable flaky test TestNodeClient
  internal/aws/k8s/k8sclient/node_test.go
Labels: internal/aws

#23053 [processor/websocket] Implementation of websocket processor
  .chloggen/websocket-processor.yaml
  processor/websocketprocessor/channelset.go
  processor/websocketprocessor/channelset_test.go
  processor/websocketprocessor/config.go
  processor/websocketprocessor/config_test.go
  processor/websocketprocessor/factory.go
  processor/websocketprocessor/go.mod
  processor/websocketprocessor/go.sum
  processor/websocketprocessor/processor.go
  processor/websocketprocessor/server_test.go
Labels: processor/websocket

#23138 [exporter/datadog] Add telemetry metric for runtime metrics
  .chloggen/stanley.liu_add-telemetry-metric.yaml
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/metrics/series.go
  exporter/datadogexporter/internal/metrics/series_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: ready to merge, exporter/datadog

#23252 [chore] bump go compile version
  .github/workflows/build-and-test-windows.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Run Windows

#23068 [chore] Method that sorts Datapoint Slice by Attribute key
  exporter/signalfxexporter/testdata/hostmetrics_system_cpu_time_1.yaml
  exporter/signalfxexporter/testdata/hostmetrics_system_cpu_time_2.yaml
  internal/coreinternal/golden/sort_attributes.go
  internal/coreinternal/golden/sort_metrics.go
  internal/coreinternal/golden/sort_metrics_test.go
  internal/coreinternal/golden/testdata/sort-metrics/after.yaml
  internal/coreinternal/golden/testdata/sort-metrics/before.yaml
  receiver/apachereceiver/testdata/scraper/expected.yaml
  receiver/apachesparkreceiver/scraper_test.go
  receiver/apachesparkreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/apachesparkreceiver/testdata/expected_metrics/metrics_partial_golden.yaml
  receiver/bigipreceiver/scraper_test.go
  receiver/bigipreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_with_members_golden.yaml
  receiver/dockerstatsreceiver/receiver_test.go
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.yaml
  receiver/flinkmetricsreceiver/scraper_test.go
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_no_jobs_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_jobs.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_subtasks.yaml
  receiver/memcachedreceiver/testdata/scraper/expected.yaml
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/scraper/expected.yaml
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
  receiver/nginxreceiver/scraper_test.go
  receiver/nginxreceiver/testdata/scraper/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected_with_connections_as_sum.yaml
  receiver/nsxtreceiver/scraper_test.go
  receiver/nsxtreceiver/testdata/metrics/expected_metrics.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
  receiver/rabbitmqreceiver/scraper_test.go
  receiver/rabbitmqreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/riakreceiver/scraper_test.go
  receiver/riakreceiver/testdata/scraper/expected.yaml
  receiver/riakreceiver/testdata/scraper/expected_disabled.yaml
  receiver/saphanareceiver/scraper_test.go
  receiver/saphanareceiver/testdata/expected_metrics/full.yaml
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/memcached, receiver/dockerstats, receiver/mysql, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/nsxt, exporter/signalfx, receiver/saphana, receiver/rabbitmq, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/apache, receiver/flinkmetrics, receiver/riak, internal/core, receiver/apachespark

#23232 [pkg/stanza] Move core time parsing capabilities to coreinternal
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  internal/coreinternal/timeutils/parser.go
  internal/coreinternal/timeutils/parser_test.go
  pkg/stanza/operator/helper/time.go
  pkg/stanza/operator/helper/time_test.go
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: processor/tailsampling, Skip Changelog, exporter/signalfx, receiver/signalfx, pkg/stanza, internal/core, testbed

#23251 [chore] Rename test helper func in fileconsumer package
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/fingerprint_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: ready to merge, pkg/stanza

#22750 [pkg/ottl] Add new `IsMap` and `IsString` functions
  .chloggen/ottl-check-type.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_is_map.go
  pkg/ottl/ottlfuncs/func_is_map_test.go
  pkg/ottl/ottlfuncs/func_is_string.go
  pkg/ottl/ottlfuncs/func_is_string_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#23258 [testbed] Allow setting path of child process Collector executable
  .chloggen/testbed-configurable-executable.yaml
  testbed/testbed/child_process_collector.go
  testbed/testbed/child_process_collector_test.go
Labels: testbed

#23239 [receiver/webhookevent] Enable component
  .chloggen/webhookevent-enable.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/receivers_test.go
  go.mod
  go.sum
  internal/components/components.go
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/internal/metadata/generated_status.go
  receiver/webhookeventreceiver/metadata.yaml
  receiver/webhookeventreceiver/receiver.go
Labels: cmd/configschema, cmd/otelcontribcol, receiver/webhookevent

#23242 [chore] [all] Enable exhaustive linter on golangci-lint
  .golangci.yml
  Makefile.Common
Labels: ci-cd, Run Windows

#18740 resourcedetectionprocessor: use opentelemetry-go for host id detection
  .chloggen/drosiek-host-id-2.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: ready to merge, exporter/datadog, processor/resourcedetection, cmd/configschema, cmd/otelcontribcol, internal/metadataproviders

#23254 [receiver/elasticsearch] Bump 'receiver.elasticsearch.emitNodeVersionAttr' to stable
  .chloggen/elastic-stable-nodevesiongate.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
Labels: receiver/elasticsearch

#23210 [pkg/ottl] Changed replacement string to be a path expression to a string telemetry field or a literal string
  .chloggen/ottl_function_changes.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_replace_all_matches.go
  pkg/ottl/ottlfuncs/func_replace_all_matches_test.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_replace_match.go
  pkg/ottl/ottlfuncs/func_replace_match_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/ottl/ottlfuncs/func_replace_pattern_test.go
Labels: processor/transform, pkg/ottl

#23240 [exporter/datadog] Add trace configs compute_stats_by_span_kind and peer_service_aggregation
  .chloggen/datadogexporter-new-trace-configs.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog

#23211 [mysqlreceiver]: add `aborted`, `aborted_clients` and `locked` values to `error` property for `mysql.connection.errors` metric
  .chloggen/drosiek-mysql-aborted.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql

#23259 [pkg/ottl] Update docs of functions impacted by grammar bug
  pkg/ottl/ottlfuncs/README.md
Labels: Skip Changelog, pkg/ottl

#23255 [receiver/nginx] Bump 'receiver.nginx.emitConnectionsCurrentAsSum' featuregate to beta
  .chloggen/nginx-beta-featuregate.yaml
  receiver/nginxreceiver/documentation.md
  receiver/nginxreceiver/factory.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics_test.go
  receiver/nginxreceiver/internal/metadata/temporary_metrics.go
  receiver/nginxreceiver/metadata.yaml
  receiver/nginxreceiver/scraper.go
  receiver/nginxreceiver/scraper_test.go
  receiver/nginxreceiver/testdata/integration/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected_with_connections_as_gauge.yaml
Labels: receiver/nginx

#23248 remove opencensus from carbonreceiver and wavefrontreceiver
  .chloggen/use-pdata-with-carbonreceiver.yaml
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/go.sum
  receiver/carbonreceiver/protocol/parser.go
  receiver/carbonreceiver/protocol/path_parser_helper.go
  receiver/carbonreceiver/protocol/plaintext_parser.go
  receiver/carbonreceiver/protocol/plaintext_parser_test.go
  receiver/carbonreceiver/protocol/regex_parser.go
  receiver/carbonreceiver/protocol/regex_parser_test.go
  receiver/carbonreceiver/receiver_test.go
  receiver/carbonreceiver/transport/server_test.go
  receiver/carbonreceiver/transport/tcp_server.go
  receiver/carbonreceiver/transport/udp_server.go
  receiver/wavefrontreceiver/go.mod
  receiver/wavefrontreceiver/receiver_test.go
  receiver/wavefrontreceiver/wavefront_parser.go
  receiver/wavefrontreceiver/wavefront_parser_test.go
Labels: receiver/carbon, receiver/wavefront

#23332 [receiver/kafkametrics] Fix metrics in kafkametricsreceiver (#4327)
  .chloggen/fix-kafkametric-receiver-type.yaml
  receiver/kafkametricsreceiver/broker_scraper_test.go
  receiver/kafkametricsreceiver/documentation.md
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kafkametricsreceiver/testdata/integration/expected.yaml
Labels: receiver/kafkametrics

#23272 [processor/k8sattributes] Only store necessary Pod data
  .chloggen/feat_k8sattributes_set-transform.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
Labels: processor/k8sattributes

#22962 [cmd/mdatagen] Document metadata.yaml schema
  cmd/mdatagen/README.md
  cmd/mdatagen/documentation.md
  cmd/mdatagen/internal/metadata/generated_config.go
  cmd/mdatagen/internal/metadata/generated_status.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/metadata.yaml
Labels: ready to merge, Skip Changelog, cmd/mdatagen, Run Windows

#23281 [chore] Deprecate unnecessary fileconsumer API
  pkg/stanza/fileconsumer/finder.go
  pkg/stanza/fileconsumer/fingerprint.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/scanner.go
Labels: pkg/stanza

#23280 [chore][fileconsumer] Add test to validate reader encoding
  pkg/stanza/fileconsumer/reader_test.go
Labels: pkg/stanza

#23340 Add metadata.yaml as a requirement
  CONTRIBUTING.md
Labels: documentation, ready to merge, Skip Changelog

#23338 [processor/k8sattributes] Store only necessary ReplicaSet data
  .chloggen/feat_k8sattributes_set-transform-replicaset.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: ready to merge, processor/k8sattributes

#23336 [chore] Fix datadog receiver flakey test.
  cmd/otelcontribcol/receivers_test.go
Labels: cmd/otelcontribcol

#23366 [exporter/splunkhec] apply multimetric metric merge for the whole batch
  .chloggen/splunkhec-exporter-multimetric-batch.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/metricdata_to_splunk.go
  exporter/splunkhecexporter/testdata/hec_metric_event.json
Labels: ready to merge, exporter/splunkhec

#23250 DSET-3998 feat: export Logs resource info based on export_resource_info_on_event configuration
  .chloggen/export-logs-resource-info-based-configuration.yaml
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/factory.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/testdata/config.yaml
Labels: ready to merge, exporter/dataset

#23379 [chore] mark components as unmaintained
  exporter/carbonexporter/README.md
  exporter/carbonexporter/internal/metadata/generated_status.go
  exporter/carbonexporter/metadata.yaml
  receiver/carbonreceiver/README.md
  receiver/carbonreceiver/internal/metadata/generated_status.go
  receiver/carbonreceiver/metadata.yaml
  receiver/wavefrontreceiver/README.md
  receiver/wavefrontreceiver/internal/metadata/generated_status.go
  receiver/wavefrontreceiver/metadata.yaml
Labels: receiver/carbon, exporter/carbon, receiver/wavefront

#23337 [exporter/sumologic]: deprecate options which are going to be removed
  .chloggen/drosiek-sumoexporter-deprecations.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/exporter.go
Labels: ready to merge, exporter/sumologic

#22739 [bearertokenauthextension] Implement configauth ServerAuthenticator
  .chloggen/bearertokenauthextension_impl_server_authenticator.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/bearertokenauth_test.go
Labels: extension/bearertokenauth

#22626 [exporter/awsemfexporter] add exponential histogram support
  .chloggen/awsemf-exponential-histogram.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: ready to merge, exporter/awsemf

#23384 [bearertokenauthextension]: add frzifus as codeowner
  .github/CODEOWNERS
Labels: Skip Changelog

#21733 [exporter/loki] Add flags field to lokiEntry
  .chloggen/lokiexporter-add-flags.yaml
  pkg/translator/loki/encode.go
  pkg/translator/loki/encode_test.go
Labels: ready to merge, pkg/translator/loki

#20730 [receiver/sqlquery] add support for logs
  .chloggen/sqlquery-receiver-add-logs.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config.go
  receiver/sqlqueryreceiver/config_test.go
  receiver/sqlqueryreceiver/db_client.go
  receiver/sqlqueryreceiver/db_client_test.go
  receiver/sqlqueryreceiver/factory.go
  receiver/sqlqueryreceiver/factory_test.go
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/internal/metadata/generated_status.go
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/metadata.yaml
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/receiver_test.go
  receiver/sqlqueryreceiver/row_scanner.go
  receiver/sqlqueryreceiver/scraper.go
  receiver/sqlqueryreceiver/testdata/config-invalid-missing-logs-metrics.yaml
  receiver/sqlqueryreceiver/testdata/config-logs-missing-body-column.yaml
  receiver/sqlqueryreceiver/testdata/config-logs.yaml
  receiver/sqlqueryreceiver/testdata/integration/mysql/init.sql
  receiver/sqlqueryreceiver/testdata/integration/oracle/init.sql
  receiver/sqlqueryreceiver/testdata/integration/postgresql/init.sql
Labels: receiver/sqlquery

#23386 [chore] add k8sclusterreceiver e2e test
  .github/workflows/e2e-tests.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  pkg/pdatatest/internal/util.go
  pkg/pdatatest/pmetrictest/options.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8sclusterreceiver/testdata/e2e/collector/clusterrole.yaml
  receiver/k8sclusterreceiver/testdata/e2e/collector/clusterrolebinding.yaml
  receiver/k8sclusterreceiver/testdata/e2e/collector/configmap.yaml
  receiver/k8sclusterreceiver/testdata/e2e/collector/deployment.yaml
  receiver/k8sclusterreceiver/testdata/e2e/collector/service.yaml
  receiver/k8sclusterreceiver/testdata/e2e/collector/serviceaccount.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: cmd/configschema, cmd/otelcontribcol, receiver/k8scluster, pkg/pdatatest

#23412 [chore] make gotidy
  exporter/sapmexporter/go.mod
Labels: exporter/sapm

#23410 [chore][processor/websocket] try sending data a few times to fix flakiness
  processor/websocketprocessor/server_test.go
Labels: ready to merge, processor/websocket

#23403 [exporter/signalfx] Keep container.cpu.time metric in the translations
  .chloggen/signalfx-exporter-dont-drop-container-cpu-time.yaml
  exporter/signalfxexporter/internal/translation/constants.go
  exporter/signalfxexporter/internal/translation/default_metrics.go
Labels: exporter/signalfx

#23408 [k8sclusterreceiver] switch k8s.hpa metrics to use pdata
  .chloggen/switchk8shpa.yaml
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
  receiver/k8sclusterreceiver/internal/constants/constants.go
  receiver/k8sclusterreceiver/internal/hpa/doc.go
  receiver/k8sclusterreceiver/internal/hpa/documentation.md
  receiver/k8sclusterreceiver/internal/hpa/hpa.go
  receiver/k8sclusterreceiver/internal/hpa/hpa_test.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/hpa/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/hpa/metadata.yaml
  receiver/k8sclusterreceiver/internal/testutils/metrics.go
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#23409 [chore] add websocketprocessor to otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/processors_test.go
Labels: cmd/otelcontribcol

#23414 [chore] Update codeowners for groupbyattrsprocessor
  .github/CODEOWNERS
Labels: ready to merge

#23363 [receiver/mongodbatlas] Document access log requirements
  receiver/mongodbatlasreceiver/README.md
Labels: documentation, Skip Changelog, receiver/mongodbatlas

#21799 [receiver/skywalking]: fix parentSpanId lost when crossing segments
  .chloggen/fix-skywalking-receiver-parent-span-id.yaml
  receiver/skywalkingreceiver/internal/trace/skywalkingproto_to_traces.go
  receiver/skywalkingreceiver/internal/trace/skywalkingproto_to_traces_test.go
Labels: waiting for author, receiver/skywalking

#23417 [receiver/k8s_cluster] Do not store unused data in the k8s API cache
  .chloggen/k8scluster-dont-store-unused-data-cache.yaml
  receiver/k8sclusterreceiver/informer_transform.go
  receiver/k8sclusterreceiver/informer_transform_test.go
  receiver/k8sclusterreceiver/internal/collection/collector_test.go
  receiver/k8sclusterreceiver/internal/jobs/jobs.go
  receiver/k8sclusterreceiver/internal/jobs/jobs_test.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets_test.go
  receiver/k8sclusterreceiver/watcher.go
Labels: receiver/k8scluster

#23420 move statefulset metrics to use pdata
  .chloggen/switchk8sss.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/statefulset/doc.go
  receiver/k8sclusterreceiver/internal/statefulset/documentation.md
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/statefulset/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/statefulset/metadata.yaml
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
Labels: receiver/k8scluster

#23419 [receiver/k8s_cluster] Move resourcequota to pdata
  .chloggen/switchk8srq.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/resourcequota/doc.go
  receiver/k8sclusterreceiver/internal/resourcequota/documentation.md
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/resourcequota/metadata.yaml
  receiver/k8sclusterreceiver/internal/resourcequota/resourcequotas.go
  receiver/k8sclusterreceiver/internal/resourcequota/resourcequotas_test.go
  receiver/k8sclusterreceiver/internal/resourcequota/testdata/expected.yaml
Labels: receiver/k8scluster

#23369 [processor/k8sattributes] rename k8sattributes processor internal metrics
  .chloggen/k8sattribute-rename-metric.yaml
  processor/k8sattributesprocessor/internal/observability/observability.go
  processor/k8sattributesprocessor/internal/observability/observability_test.go
Labels: ready to merge, processor/k8sattributes

#20313 [exporter/awsxray] Add span links and messenger field translation to x-ray exporter.
  .chloggen/awsxray-support-span-links-and-messaging-field.yaml
  .gitignore
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/span_links.go
  exporter/awsxrayexporter/internal/translator/span_links_test.go
  internal/aws/xray/tracesegment.go
Labels: exporter/awsxray, internal/aws

#23416 Switch k8s.deployment metrics to use pdata.
  .chloggen/switchk8sdeployment.yaml
  pkg/pdatatest/pmetrictest/options.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/deployment/deployments.go
  receiver/k8sclusterreceiver/internal/deployment/deployments_test.go
  receiver/k8sclusterreceiver/internal/deployment/doc.go
  receiver/k8sclusterreceiver/internal/deployment/documentation.md
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/deployment/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/deployment/metadata.yaml
  receiver/k8sclusterreceiver/internal/deployment/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster, pkg/pdatatest

#23413 [chore]retry sending coverage output
  .github/workflows/build-and-test.yml
Labels: ready to merge

#23213 processor/k8sattributes: Add resource_attributes to metadata.yaml
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
Labels: processor/k8sattributes, Skip Changelog

#23431 Revert "[processor/k8sattributes] Rename k8sattributes processor inte…
  .chloggen/k8sattribute-rename-metric.yaml
  processor/k8sattributesprocessor/internal/observability/observability.go
  processor/k8sattributesprocessor/internal/observability/observability_test.go
Labels: processor/k8sattributes, Skip Changelog

#23426 Document extension as value for stability in metadata.yaml
  cmd/mdatagen/metadata-schema.yaml
Labels: ready to merge, Skip Changelog, cmd/mdatagen

#23432 [receiver/k8s_cluster] Do not store unused data in k8s API cache (part 2)
  .chloggen/k8scluster-dont-store-unused-data-cache.yaml
  receiver/k8sclusterreceiver/informer_transform.go
  receiver/k8sclusterreceiver/informer_transform_test.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets.go
  receiver/k8sclusterreceiver/internal/demonset/daemonsets_test.go
  receiver/k8sclusterreceiver/internal/deployment/deployments.go
  receiver/k8sclusterreceiver/internal/deployment/deployments_test.go
  receiver/k8sclusterreceiver/internal/jobs/jobs.go
  receiver/k8sclusterreceiver/internal/metadata/metadata.go
  receiver/k8sclusterreceiver/internal/metadata/metadata_test.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/replicaset/replicasets.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
Labels: Skip Changelog, receiver/k8scluster

#23274 feat(mysqlreceiver): deprecate `mysql. locked_connects` in favor of `mysql.connection.errors`
  .chloggen/drosiek-deprecate-locked-connects.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/integration/expected.yaml
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql

#23434 [receiver/k8s_cluster] Do not store unused service data in k8s API cache
  receiver/k8sclusterreceiver/informer_transform.go
  receiver/k8sclusterreceiver/informer_transform_test.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/service/service.go
  receiver/k8sclusterreceiver/internal/service/service_test.go
Labels: Skip Changelog, receiver/k8scluster

#23437 [receiver/k8s_cluster] move namespace to use pdata
  .chloggen/switchk8snamespace.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/namespace/doc.go
  receiver/k8sclusterreceiver/internal/namespace/documentation.md
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/namespace/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/namespace/metadata.yaml
  receiver/k8sclusterreceiver/internal/namespace/namespaces.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces_test.go
  receiver/k8sclusterreceiver/internal/namespace/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#23445 {processor,exporter}/datadog: bump opentelemetry-mapping-go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/system.go
  exporter/datadogexporter/internal/metrics/system_deprecated.go
  exporter/datadogexporter/internal/metrics/system_deprecated_test.go
  exporter/datadogexporter/internal/metrics/system_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#23438 [receiver/k8s_cluster] move node metrics to pdata
  .chloggen/switchk8snode.yaml
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/node/doc.go
  receiver/k8sclusterreceiver/internal/node/documentation.md
  receiver/k8sclusterreceiver/internal/node/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/node/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/node/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/node/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/node/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/node/metadata.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#23453 [receiver/k8scluster] Fix empty k8s.namespace.name in k8s.namespace.phase metrics
  .chloggen/k8scluster-fix-empty-namespace-in-namespacephase.yaml
  receiver/k8sclusterreceiver/internal/namespace/namespaces.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces_test.go
  receiver/k8sclusterreceiver/internal/namespace/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#23454 redisreceiver: Add bytes unit in metadata.yaml
  .chloggen/add-units-redisreceiver.yaml
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/testdata/integration/expected.yaml
Labels: receiver/redis

#23451 [receiver/hostmetrics] send process.cpu.utilization if enabled
  .chloggen/fix-hostmetrics-receiver-process-cpu-utilization.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics

#23455 [testbed] Add compression end-to-end tests for SAPM
  testbed/datareceivers/sapm.go
  testbed/datasenders/sapm.go
  testbed/stabilitytests/trace_test.go
  testbed/testbed/data_providers.go
  testbed/tests/trace_test.go
Labels: Skip Changelog, testbed

#23575 [chore] [cmd/mdatagen] Remove unused (md *metadata) Unmarshal func
  cmd/mdatagen/loader.go
Labels: Skip Changelog, cmd/mdatagen

#23572 aerospikereceiver: Add missing units in metadata.yaml
  .chloggen/add-units-aerospikereceiver.yaml
  receiver/aerospikereceiver/documentation.md
  receiver/aerospikereceiver/internal/metadata/generated_metrics.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics_test.go
  receiver/aerospikereceiver/metadata.yaml
  receiver/aerospikereceiver/testdata/integration/expected.yaml
Labels: receiver/aerospike

#23415 [chore][pkg/stanza/fileconsumer] Add utility functions
  pkg/stanza/fileconsumer/file.go
Labels: ready to merge, Skip Changelog, pkg/stanza

#23603 [mdatgen] add redhat distro hint
  cmd/mdatagen/statusdata.go
  exporter/jaegerexporter/README.md
  exporter/jaegerexporter/metadata.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/metadata.yaml
  extension/basicauthextension/README.md
  extension/basicauthextension/metadata.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/metadata.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/metadata.yaml
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/metadata.yaml
  extension/oauth2clientauthextension/README.md
  extension/oauth2clientauthextension/metadata.yaml
  extension/pprofextension/README.md
  extension/pprofextension/metadata.yaml
  processor/attributesprocessor/README.md
  processor/attributesprocessor/metadata.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/metadata.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/metadata.yaml
  processor/resourceprocessor/README.md
  processor/resourceprocessor/metadata.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/metadata.yaml
  processor/spanprocessor/README.md
  processor/spanprocessor/metadata.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/metadata.yaml
  receiver/opencensusreceiver/README.md
  receiver/opencensusreceiver/metadata.yaml
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin, processor/attributes, processor/filter, processor/k8sattributes, Skip Changelog, processor/resourcedetection, cmd/mdatagen, extension/healthcheck, processor/resource, processor/routing, exporter/jaeger, exporter/prometheus, receiver/jaeger, receiver/opencensus, extension/bearertokenauth, extension/oauth2clientauth, extension/pprof, extension/basicauth, extension/jaegerremotesampling, processor/span

#23142 [internal/filter] Move filtermetric config to filterconfig
  internal/filter/filterconfig/config.go
  internal/filter/filtermetric/config.go
  internal/filter/filtermetric/config_test.go
  internal/filter/filtermetric/filtermetric.go
  internal/filter/filtermetric/filtermetric_test.go
  internal/filter/filtermetric/helpers_test.go
  internal/filter/filtermetric/name_matcher.go
  processor/attributesprocessor/factory.go
  processor/filterprocessor/config.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/expr_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
Labels: processor/attributes, processor/filter, Skip Changelog, internal/filter

#23580 add mwear as triager
  README.md
Labels: ready to merge, Skip Changelog

#22789 [internal/filter] Add bridge from filterlog to filterottl
  internal/filter/filterlog/filterlog.go
  internal/filter/filterlog/filterlog_test.go
  internal/filter/filterottl/bridge.go
  internal/filter/filterspan/filterspan_test.go
Labels: Skip Changelog, never stale, internal/filter

#21919 [exporter/clickhouse] Add ScopeName ScopeVersion in span table
  .chloggen/Add-scopeName-and-scopeVersion-column-to-span-table..yaml
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_test.go
Labels: exporter/clickhouse

#23607 Propose @Evan Bradley as maintainer
  .github/auto_assign.yml
  README.md
Labels: ready to merge, Skip Changelog

#23608 Propose @MovieStoreGuy as maintainer
  .github/auto_assign.yml
  README.md
Labels: ready to merge, Skip Changelog

#22811 [pkg/ottl] add time converter function
  .chloggen/main.yaml
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  internal/filter/go.mod
  internal/filter/go.sum
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/ottl/ottlfuncs/func_time.go
  pkg/ottl/ottlfuncs/func_time_test.go
  pkg/ottl/ottlfuncs/functions.go
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: ready to merge, processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, pkg/ottl, processor/span, internal/filter, connector/count

#23643 [chore] clean up comments
  exporter/azuredataexplorerexporter/metricsdata_to_adx_test.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/operator/transformer/remove/remove_test.go
  receiver/solacereceiver/messaging_service_test.go
Labels: Skip Changelog, receiver/solace, pkg/stanza, exporter/azuredataexplorer

#22808 [chore] Run integration tests without coverage
  .github/workflows/build-and-test.yml
  Makefile
  Makefile.Common
Labels: ready to merge, receiver/kafkametrics, receiver/flinkmetrics, internal/core

#23632 [receiver/kafkametrics] Fix metrics in kafkametricsreceiver (#4327)
  .chloggen/fix-all-kafkametric-receiver-types.yaml
  receiver/kafkametricsreceiver/documentation.md
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kafkametricsreceiver/testdata/integration/expected.yaml
  receiver/kafkametricsreceiver/topic_scraper_test.go
Labels: receiver/kafkametrics

#23640 DSET-3468: update dataset-go to latest, send more details in user-agent
  .chloggen/dataset-more-detailed-user-agent.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/go.mod
  exporter/datasetexporter/go.sum
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/traces_exporter.go
  go.mod
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/dataset

#23564 feat(statsdReceiver): add name and version to scope
  .chloggen/statsd-version-name-in-metrics.yaml
  receiver/statsdreceiver/protocol/statsd_parser.go
  receiver/statsdreceiver/protocol/statsd_parser_test.go
  receiver/statsdreceiver/receiver.go
Labels: ready to merge, receiver/statsd

#23644 [receiver/awsecscontainermetrics] Fix possible panics from unchecked de-references
  .chloggen/ecsRecvDeRefCheck.yaml
  receiver/awsecscontainermetricsreceiver/go.mod
  receiver/awsecscontainermetricsreceiver/go.sum
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/metrics_helper.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/metrics_helper_test.go
Labels: ready to merge, receiver/awsecscontainermetrics

#23654 [receiver/vcenter] Fix datastore disk usage metric
  .chloggen/fix-incorrect-diskusage-metric-emission.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#23657 [receiver/postgresql] Fix blocks read metric
  .chloggen/fix-postgresql-incorrect-attribute-emit.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
Labels: receiver/postgresql

#23671 [chore] [receiver/apachespark] Disable failing integration test
  receiver/apachesparkreceiver/integration_test.go
Labels: receiver/apachespark

#23183 [pkg/stanza/fileconsumer] Fix issue where buffer size could cause incorrect fingerprint update
  .chloggen/fileconsumer-fix-offset.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/scanner.go
  pkg/stanza/fileconsumer/scanner_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: pkg/stanza

#23667 [exporter/clickhouse] Add scope columns to log table
  .chloggen/add-scope-data-to-log-table.yaml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
Labels: exporter/clickhouse

#23666 [exporter/clickhouse] Fix create database fail
  .chloggen/fix-create-database-fail.yaml
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
Labels: exporter/clickhouse

#23675 [chore] Fix spark integration test by pinning version
  receiver/apachesparkreceiver/integration_test.go
  receiver/apachesparkreceiver/testdata/integration/Dockerfile.apache-spark
  renovate.json
Labels: receiver/apachespark

#23571 postgresqlreceiver: Add missing units in metadata.yaml
  .chloggen/add-units-postgresqlreceiver.yaml
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_with_resource.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_with_resource.yaml
Labels: receiver/postgresql

#23636 [cmd/mdatagen] Add parent field to metadata.yaml file for subcomponents
  .chloggen/add-parent-field-metadata.yaml
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/templates/documentation.md.tmpl
  cmd/mdatagen/testdata/parent.yaml
  processor/resourcedetectionprocessor/internal/aws/ec2/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/ecs/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/eks/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/lambda/metadata.yaml
  processor/resourcedetectionprocessor/internal/azure/aks/metadata.yaml
  processor/resourcedetectionprocessor/internal/azure/metadata.yaml
  processor/resourcedetectionprocessor/internal/consul/metadata.yaml
  processor/resourcedetectionprocessor/internal/docker/metadata.yaml
  processor/resourcedetectionprocessor/internal/gcp/metadata.yaml
  processor/resourcedetectionprocessor/internal/heroku/metadata.yaml
  processor/resourcedetectionprocessor/internal/openshift/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/k8sclusterreceiver/internal/deployment/documentation.md
  receiver/k8sclusterreceiver/internal/deployment/metadata.yaml
  receiver/k8sclusterreceiver/internal/hpa/documentation.md
  receiver/k8sclusterreceiver/internal/hpa/metadata.yaml
  receiver/k8sclusterreceiver/internal/namespace/documentation.md
  receiver/k8sclusterreceiver/internal/namespace/metadata.yaml
  receiver/k8sclusterreceiver/internal/node/documentation.md
  receiver/k8sclusterreceiver/internal/node/metadata.yaml
  receiver/k8sclusterreceiver/internal/resourcequota/documentation.md
  receiver/k8sclusterreceiver/internal/resourcequota/metadata.yaml
  receiver/k8sclusterreceiver/internal/statefulset/documentation.md
  receiver/k8sclusterreceiver/internal/statefulset/metadata.yaml
Labels: processor/resourcedetection, cmd/mdatagen, receiver/hostmetrics, receiver/k8scluster

#23774 [chore] make azureeventhubreceiver pass exhaustive linting
  .golangci.yml
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/receiver.go
Labels: ready to merge, receiver/azureeventhub

#23441 Switch k8s.pod and k8s.container metrics to use pdata.
  .chloggen/switchk8spod.yaml
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/container/doc.go
  receiver/k8sclusterreceiver/internal/container/documentation.md
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/container/metadata.yaml
  receiver/k8sclusterreceiver/internal/pod/doc.go
  receiver/k8sclusterreceiver/internal/pod/documentation.md
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/pod/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/pod/metadata.yaml
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#23609 [receiver/filelog] added example, additional info to configs and info on log rotation
  receiver/filelogreceiver/README.md
Labels: Skip Changelog, receiver/filelog

#23661 docs: Clarify what an association is in k8sattr. processor
  processor/k8sattributesprocessor/README.md
Labels: ready to merge, processor/k8sattributes, Skip Changelog

#19160 [receiver/sqlquery] Add support of optional Start and Stop Timestamp
  .chloggen/add-start-end-ts-sqlquery-receiver.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config.go
  receiver/sqlqueryreceiver/metrics.go
  receiver/sqlqueryreceiver/scraper_test.go
Labels: receiver/sqlquery

#23795 [chore] fix pod and container metadata to include parent and units
  receiver/k8sclusterreceiver/internal/container/documentation.md
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/container/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/container/metadata.yaml
  receiver/k8sclusterreceiver/internal/pod/documentation.md
  receiver/k8sclusterreceiver/internal/pod/metadata.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#23645 [receiver/syslog] fixed syslog octet frame parsing
  .chloggen/issue-23577.yaml
  pkg/stanza/operator/helper/multiline.go
  pkg/stanza/operator/helper/multiline_test.go
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/syslog/testdata/config.yaml
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/internal/test_common.go
Labels: pkg/stanza

#22813 [receiver/hostmetrics] add process.handles metric
  .chloggen/process-handles-metric.yaml
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles_others.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles_others_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles_windows.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_config_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
Labels: receiver/hostmetrics, Run Windows

#23772 fix exhaustive lint for awscontainerinsightreceiver
  .golangci.yml
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
Labels: ready to merge, Skip Changelog, receiver/awscontainerinsight

#23678 [receiver/windowseventlog] Fix buffer overflow when reading raw events
  .chloggen/fix_stanza_windows-buffer.yaml
  pkg/stanza/operator/input/windows/event.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, pkg/stanza, Run Windows

#23673 feat!(mysqlreceiver): set `mysql.locked_connects` as optional in order to remove it in next release
  .chloggen/drosiek-locked-accounts-optional.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_config.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/integration/expected.yaml
Labels: ready to merge, receiver/mysql

#23812 [processor/transform] Add new example
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#23803 [chore] enable exhaustive lint for k8sclusterreceiver
  .golangci.yml
  receiver/k8sclusterreceiver/internal/collection/metricsstore.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/testutils/metrics.go
Labels: ready to merge, receiver/k8scluster

#23802 [chore] signalfxexporter exhaustive lint
  .golangci.yml
Labels: ready to merge

#23806 [chore] enable exhaustive lint for mdatagen
  .golangci.yml
  cmd/mdatagen/loader.go
  cmd/mdatagen/metricdata.go
Labels: ready to merge, cmd/mdatagen

#23815 [chore] fix exhaustive lint for kubeletstatsreceiver
  .golangci.yml
  receiver/kubeletstatsreceiver/internal/kubelet/metrics_test.go
Labels: Skip Changelog, receiver/kubeletstats

#23817 [chore] Add warning to the awscontainerinsightsreceiver
  receiver/awscontainerinsightreceiver/README.md
  receiver/awscontainerinsightreceiver/metadata.yaml
Labels: receiver/awscontainerinsight
