Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-12, with the labels that each got.

#29584 [chore] [exporter/prometheusremotewrite] Do not repeat marshal proto on retry
  exporter/prometheusremotewriteexporter/exporter.go
Labels: Skip Changelog, exporter/prometheusremotewrite

#29598 [pkg/ottl] Rename Statements to StatementSequence
  .chloggen/ottl-statementsequence.yaml
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
Labels: processor/transform, pkg/ottl

#29596 [pkg/ottl] Move types to config.go
  pkg/ottl/config.go
  pkg/ottl/parser.go
Labels: Skip Changelog, pkg/ottl

#29532 [chore][cmd/otelcontribcol] Re-enable exporters and receivers tests on Windows
  .github/workflows/build-and-test-windows.yml
  Makefile.Common
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/receivers_test.go
Labels: cmd/otelcontribcol, Run Windows

#29552 [exporter/splunkhec] do not export HEC events with a nil event field value
  .chloggen/hec_exporter_no_nil_value.yaml
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
Labels: exporter/splunkhec

#29639 [chore] re-enabled multimod sync for `make update-otel`
  Makefile
  Makefile.Common
  internal/buildscripts/update-dep
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#29629 [pkg/stanza] key_value_parser: Allow values that contain the delimiter string
  .chloggen/stanza-allow-delimiter-in-value.yaml
  pkg/stanza/operator/parser/keyvalue/keyvalue.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
Labels: pkg/stanza

#29645 [chore][exporter/datadog] Add a note about service mapping in logs
  exporter/datadogexporter/README.md
Labels: documentation, exporter/datadog

#26732 Google Cloud Spanner Receiver gracefully handles unreadable databases
  .chloggen/spidercensus_fix-googlecloudspanner.yaml
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/internal/statsreader/databasereader.go
  receiver/googlecloudspannerreceiver/internal/statsreader/projectreader.go
  receiver/googlecloudspannerreceiver/receiver.go
  receiver/googlecloudspannerreceiver/receiver_test.go
Labels: receiver/googlecloudspanner

#29023 [chore][processor/servicegraph][connector/servicegraph] Assign an exported function to a variable and pass checkapi
  cmd/checkapi/allowlist.txt
  connector/servicegraphconnector/factory.go
  processor/servicegraphprocessor/config_test.go
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/factory_test.go
  processor/servicegraphprocessor/processor_test.go
Labels: ready to merge, processor/servicegraph, connector/servicegraph

#29513 [chore][processor/tailsampling] Add help information for resolving trace dropped errors
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metrics.go
Labels: documentation, processor/tailsampling

#28847 [connector/spanmetrics] Fix memory leak
  .chloggen/bripkens-spanmetrics-memory-leak.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory.go
  connector/spanmetricsconnector/internal/cache/cache.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: connector/spanmetrics

#29643 [chore][pkg/stanza] Clean up fileconsumer test utilities
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/emittest/nop.go
  pkg/stanza/fileconsumer/internal/emittest/nop_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: pkg/stanza

#29661 [chore][pkg/stanza] Move common file testing utilities to new filetest package
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/filetest/filetest.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: pkg/stanza

#29664 [chore][pkg/stanza] Move some reader tests into reader package
  pkg/stanza/fileconsumer/internal/reader/factory_test.go
  pkg/stanza/fileconsumer/internal/reader/split_test.go
Labels: pkg/stanza

#29666 [chore][pkg/stanza] Move more tests into reader package
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/filetest/filetest.go
  pkg/stanza/fileconsumer/internal/reader/factory_test.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/fileconsumer/internal/reader/split_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/fileconsumer/util_test.go
Labels: pkg/stanza

#28906 Add alertmanager exporter implementation
  .chloggen/alertmanager-exporter-implementation.yaml
  exporter/alertmanagerexporter/README.md
  exporter/alertmanagerexporter/alertmanager_exporter.go
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
  exporter/alertmanagerexporter/config.go
  exporter/alertmanagerexporter/config_test.go
  exporter/alertmanagerexporter/factory.go
  exporter/alertmanagerexporter/go.mod
  exporter/alertmanagerexporter/go.sum
  exporter/alertmanagerexporter/testdata/test_cert.pem
Labels: exporter/alertmanager

#29503 chore: fix prometheus remote write exporter not setting timestamp on created metric
  .chloggen/-prometheus-remote-write-set-timestamp-on-created-metric.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/number_data_points.go
  pkg/translator/prometheusremotewrite/number_data_points_test.go
Labels: bug, ready to merge, pkg/translator/prometheus

#29669 [chore][pkg/stanza] Minor cleanup of fileconsumer setup code
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#29674 [chore] group collector digest updates
  renovate.json
Labels: ready to merge

#29012 [statsdreceiver] support simple tags
  .chloggen/statsd-support-simple-tags.yaml
  receiver/statsdreceiver/README.md
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/internal/protocol/parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
  receiver/statsdreceiver/receiver.go
Labels: Stale, ready to merge, receiver/statsd

#29450 [chore] Added Jeremy Hicks (greatestusername) to codeowner list
  .github/CODEOWNERS
  receiver/splunkenterprisereceiver/metadata.yaml
Labels: Skip Changelog, receiver/splunkenterprise

#29682 [chore] add generated tests for receivers
  cmd/mdatagen/templates/component_test.go.tmpl
  receiver/splunkhecreceiver/generated_component_test.go
  receiver/splunkhecreceiver/metadata.yaml
  receiver/splunkhecreceiver/receiver_test.go
Labels: cmd/mdatagen, receiver/splunkhec

#28626 [kafkareceiver] Add Azure Resource Log Support
  .chloggen/kafka-receiver-add-azureresourcelog-support.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/azureresourcelogs_unmarshaler.go
  receiver/kafkareceiver/azureresourcelogs_unmarshaler_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/unmarshaler.go
  receiver/kafkareceiver/unmarshaler_test.go
Labels: processor/spanmetrics, processor/resourcedetection, receiver/jmx, cmd/telemetrygen, receiver/kubeletstats, processor/routing, exporter/skywalking, exporter/coralogix, exporter/opencensus, receiver/kafka, receiver/jaeger, receiver/opencensus, receiver/skywalking, receiver/k8scluster, receiver/k8sobjects, receiver/loki, pkg/translator/azure

#29678 [chore][pkg/stanza] Localize reader attribute tests
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/reader/attributes_test.go
  pkg/stanza/fileconsumer/internal/reader/factory_test.go
Labels: pkg/stanza

#29692 [chore][connector/exceptions] Add @marctc as code owner
  .github/CODEOWNERS
  connector/exceptionsconnector/README.md
  connector/exceptionsconnector/metadata.yaml
Labels: connector/exceptions

#28881 [chore] update jaeger dep and remove koanf 1.5 dep
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/failoverconnector/go.mod
  connector/failoverconnector/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/go.sum
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  go.mod
  go.sum
  pkg/translator/azure/go.mod
  pkg/translator/azure/go.sum
  pkg/translator/jaeger/go.mod
  pkg/translator/jaeger/go.sum
  pkg/translator/jaeger/jaegerproto_to_traces_test.go
  pkg/translator/jaeger/jaegerthrift_to_traces.go
  pkg/translator/jaeger/traces_to_jaegerproto.go
  pkg/translator/jaeger/traces_to_jaegerproto_test.go
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  processor/sumologicprocessor/go.mod
  processor/sumologicprocessor/go.sum
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/go.sum
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: receiver/zipkin, cmd/configschema, cmd/otelcontribcol, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/kafka, exporter/sapm, exporter/zipkin, receiver/kafka, receiver/jaeger, receiver/sapm, extension/jaegerremotesampling, receiver/pulsar, pkg/translator/jaeger, pkg/translator/zipkin, cmd/oteltestbedcol, testbed, extension/encoding, pkg/translator/azure, extension/opamp, processor/sumologic, connector/failover

#29658 Replace jpkrohling with yurishkuro for Jaeger components
  .github/CODEOWNERS
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/metadata.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/metadata.yaml
Labels: ready to merge, Skip Changelog, receiver/jaeger, extension/jaegerremotesampling

#27299 [receiver/awscontainerinsight] Filter terminated pods from node request metrics.
  .chloggen/filter-terminated-pods.yaml
  receiver/awscontainerinsightreceiver/internal/stores/podstore.go
  receiver/awscontainerinsightreceiver/internal/stores/podstore_test.go
Labels: ready to merge, receiver/awscontainerinsight

#29625 [exporter/elasticsearch] Logstash format compatibility
  .chloggen/elasticsearchexporter_support_logstash_index_format.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
  exporter/elasticsearchexporter/util.go
  exporter/elasticsearchexporter/utils_test.go
  go.mod
  go.sum
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/elasticsearch

#29611 [chore][receiver/hostmetrics] Fix linting failures
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_windows.go
Labels: ready to merge, chore, receiver/hostmetrics

#29710 [pkg/ottl] Add new `silent` ErrorMode
  .chloggen/ottl-silent-error-mode.yaml
  connector/routingconnector/README.md
  pkg/ottl/config.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
  processor/filterprocessor/README.md
  processor/routingprocessor/README.md
  processor/transformprocessor/README.md
Labels: processor/filter, processor/transform, processor/routing, pkg/ottl, connector/routing

#29722 Adding splunk distribution to mysqlreceiver
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/metadata.yaml
Labels: Skip Changelog, receiver/mysql

#29736 Promote @bryan-aguilar to Approver
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
Labels: Skip Changelog

#29707 [k8sobjectsreceiver] fix receiver fails when some unrelated API is down
  .chloggen/k8sobject-crash.yaml
  receiver/k8sobjectsreceiver/config.go
Labels: receiver/k8sobjects

#29727 [chore] regenerate CODEOWNERS
  .github/ALLOWLIST
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#29717 [exporter/splunkhec] enabled http2 healthcheck
  .chloggen/splunkhec-exporter-http2.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
Labels: exporter/splunkhec

#29716 [exporter/signalfx] enabled http2 healthcheck
  .chloggen/sfx-exporter-http2.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/factory.go
Labels: exporter/signalfx

#29725 [chore] add extension/remotetapextension to otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
Labels: cmd/otelcontribcol

#29735 [chore] move awss3 to be tested with a generated test
  exporter/awss3exporter/generated_component_test.go
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/go.sum
  exporter/awss3exporter/metadata.yaml
Labels: exporter/awss3

#29602 [processor/resourcedetection]: Populate "aws.ecs.task.id" property for ECS Tasks (#8274)
  .chloggen/resourcedetection-ecs-task-id.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs.go
  processor/resourcedetectionprocessor/internal/aws/ecs/ecs_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/ecs/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/aws/ecs/metadata.yaml
Labels: processor/resourcedetection

#29770 Remove call to metrics.WithResourceAttributesAsTags()
  exporter/datadogexporter/metrics_exporter.go
Labels: exporter/datadog, Skip Changelog

#29765 Improve documentation of resource_attributes_as_tags
  exporter/datadogexporter/examples/collector.yaml
Labels: exporter/datadog, Skip Changelog

#29754 [chore][receiver/journald] Expose journaldreceiver config on all platforms
  pkg/stanza/operator/input/journald/config.go
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/journald/journald_nonlinux.go
  receiver/journaldreceiver/config.go
  receiver/journaldreceiver/factory_test.go
  receiver/journaldreceiver/journald.go
  receiver/journaldreceiver/journald_nonlinux.go
Labels: receiver/journald, pkg/stanza

#29704 [pkg/ottl] Add private interface for path and key
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: Skip Changelog, pkg/ottl

#29749 [chore] clean up IsDouble error test
  pkg/ottl/ottlfuncs/func_is_double_test.go
Labels: pkg/ottl

#29557 Failover Connector PR2 - core failover functionality
  .chloggen/failover-PR2.yaml
  connector/failoverconnector/factory_test.go
  connector/failoverconnector/failover.go
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/failoverconnector/internal/state/utils.go
  connector/failoverconnector/traces.go
  connector/failoverconnector/traces_test.go
Labels: cmd/otelcontribcol, connector/failover

#27002 [cmd/opampsupervisor] Add integration/E2E tests
  .github/workflows/e2e-tests.yml
  cmd/opampsupervisor/Makefile
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/examples/supervisor_darwin.yaml
  cmd/opampsupervisor/examples/supervisor_linux.yaml
  cmd/opampsupervisor/examples/supervisor_windows.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/testdata/collector/bad_config.yaml
  cmd/opampsupervisor/testdata/collector/simple_pipeline.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_nocap.yaml
Labels: Skip Changelog, cmd/opampsupervisor

#29768 [k8sclusterreceiver] deprecate k8s.kubeproxy.version resource attribute
  .chloggen/deprecate-kubeproxy.yaml
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#29782 [chore] add warning documentation around healthcheck extension
  extension/healthcheckextension/README.md
Labels: extension/healthcheck

#29697 [cmd/githubgen] add distribution reports
  .chloggen/add_distribution_owners.yaml
  .github/CODEOWNERS
  .github/workflows/build-and-test.yml
  Makefile
  cmd/githubgen/allowlist.txt
  cmd/githubgen/codeowners.go
  cmd/githubgen/distributions.go
  cmd/githubgen/go.mod
  cmd/githubgen/main.go
  distributions.yaml
  reports/distributions/aws.yaml
  reports/distributions/contrib.yaml
  reports/distributions/core.yaml
  reports/distributions/grafana.yaml
  reports/distributions/liatrio.yaml
  reports/distributions/observiq.yaml
  reports/distributions/redhat.yaml
  reports/distributions/splunk.yaml
  reports/distributions/sumo.yaml
Labels: cmd/githubgen

#29787 [chore] Try tuning some renovate bot things
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/check-links.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
  renovate.json
Labels: Skip Changelog

#29797 [chore] add more maintainers to splunk distribution
  distributions.yaml
  reports/distributions/splunk.yaml
Labels: reports/distributions/splunk.yaml

#29793 [chore][receiver/iis] Fix lint on Windows issues
  receiver/iisreceiver/scraper.go
  receiver/iisreceiver/scraper_test.go
Labels: receiver/iis

#29775 [receiver/snowflake] Fix storage metric reporting bug
  .chloggen/snowflake-receiver-bugfix.yaml
  receiver/snowflakereceiver/client.go
  receiver/snowflakereceiver/client_test.go
Labels: receiver/snowflake

#29804 [chore] add @ symbol to github usernames in distro maintainers
  .github/CODEOWNERS
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#29746 [chore][CI/CD] Fix bugs in get-codeowners.sh
  .github/workflows/scripts/get-codeowners.sh
Labels: ci-cd, chore

#29242 Limit the number of exemplars to be added for each dimension set
  .chloggen/span-metrics-oom-fix.yaml
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
  connector/spanmetricsconnector/internal/metrics/metrics_test.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: exporter/alibabacloudlogservice, exporter/datadog, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/azuremonitor, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/coralogix, exporter/azuredataexplorer, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/alertmanager, connector/failover

#29798 [chore][receiver/filestats] Fix lint on Windows issues
  receiver/filestatsreceiver/filestats_windows.go
Labels: receiver/filestats

#29792 [chore][receiver/hostmetrics] Fix lint on Windows issues
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/pagefile_windows.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/handlecount/handles_windows.go
Labels: receiver/hostmetrics

#29733 [exporter/logicmonitorexporter] Support log resource mapping config
  .chloggen/support-log-resource-mapping-config.yaml
  exporter/logicmonitorexporter/README.md
  exporter/logicmonitorexporter/config.go
  exporter/logicmonitorexporter/config_test.go
  exporter/logicmonitorexporter/internal/logs/sender.go
  exporter/logicmonitorexporter/internal/logs/sender_test.go
  exporter/logicmonitorexporter/logs_exporter.go
  exporter/logicmonitorexporter/testdata/config.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/logicmonitor

#29785 [*/datadog] bump opentelemetry-mapping-go to v0.9.0
  .chloggen/dd-exporter-metric.yaml
  .chloggen/dd-exporter-milliseconds.yaml
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog, internal/datadog, connector/datadog

#29849 [chore][CI/CD] Ping code owners fix
  .github/workflows/scripts/get-codeowners.sh
Labels: ci-cd, chore

#29320 Add namedpipereceiver
  .chloggen/namedpipe_receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  receiver/namedpipereceiver/Makefile
  receiver/namedpipereceiver/README.md
  receiver/namedpipereceiver/doc.go
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/go.sum
  receiver/namedpipereceiver/internal/metadata/generated_status.go
  receiver/namedpipereceiver/metadata.yaml
  receiver/namedpipereceiver/namedpipe.go
  receiver/namedpipereceiver/namedpipe_test.go
  receiver/namedpipereceiver/testdata/config.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: reports/distributions/contrib.yaml

#29795 [chore] update components included in the liatrio distro
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/metadata.yaml
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awscloudwatchlogsexporter/metadata.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/metadata.yaml
  exporter/influxdbexporter/README.md
  exporter/influxdbexporter/metadata.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/zipkinexporter/README.md
  exporter/zipkinexporter/metadata.yaml
  extension/basicauthextension/README.md
  extension/basicauthextension/metadata.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/metadata.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/metadata.yaml
  extension/pprofextension/README.md
  extension/pprofextension/metadata.yaml
  extension/sigv4authextension/README.md
  extension/sigv4authextension/metadata.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/metadata.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/metadata.yaml
  processor/resourceprocessor/README.md
  processor/resourceprocessor/metadata.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/metadata.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/metadata.yaml
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/README.md
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/metadata.yaml
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/metadata.yaml
  reports/distributions/liatrio.yaml
Labels: receiver/zipkin, processor/filter, processor/k8sattributes, processor/resourcedetection, processor/transform, extension/healthcheck, exporter/influxdb, receiver/kubeletstats, exporter/prometheusremotewrite, receiver/prometheus, processor/resource, exporter/awscloudwatchlogs, exporter/awsxray, exporter/prometheus, exporter/zipkin, receiver/jaeger, receiver/k8scluster, extension/sigv4auth, extension/bearertokenauth, extension/pprof, extension/basicauth, connector/spanmetrics, reports/distributions/liatrio.yaml

#29854 [chore] add maintainers for Sumo distro
  .github/CODEOWNERS
  distributions.yaml
  reports/distributions/sumo.yaml
Labels: ready to merge, Skip Changelog, reports/distributions/sumo.yaml

#29857 [chore] Expose namedpipe config on all platforms
  pkg/stanza/operator/input/namedpipe/config.go
  pkg/stanza/operator/input/namedpipe/namedpipe.go
  pkg/stanza/operator/input/namedpipe/namedpipe_nonlinux.go
  receiver/namedpipereceiver/namedpipe_test.go
Labels: pkg/stanza, Run Windows, receiver/namedpipe

#29859 [chore] add adrielp to maintainer for liatrio distro
  .github/CODEOWNERS
  distributions.yaml
  reports/distributions/liatrio.yaml
Labels: reports/distributions/liatrio.yaml

#29869 filterset: fix concurrency issue when enabling caching.
  .chloggen/fix-11829.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  go.mod
  go.sum
  internal/filter/filterset/regexp/regexpfilterset.go
  internal/filter/filterset/regexp/regexpfilterset_test.go
  internal/filter/go.mod
  internal/filter/go.sum
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
Labels: exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, receiver/hostmetrics, processor/cumulativetodelta, cmd/configschema, cmd/otelcontribcol, processor/span, internal/filter, cmd/oteltestbedcol, connector/count, exporter/honeycombmarker

#29862 Improve carbonexporter, add retry and queue, use standard configs
  .chloggen/carbonexporter.yaml
  .chloggen/carbonexporter_enhance.yaml
  exporter/carbonexporter/README.md
  exporter/carbonexporter/config.go
  exporter/carbonexporter/config_test.go
  exporter/carbonexporter/exporter.go
  exporter/carbonexporter/exporter_test.go
  exporter/carbonexporter/factory.go
  exporter/carbonexporter/go.mod
  exporter/carbonexporter/go.sum
  exporter/carbonexporter/testdata/config.yaml
  testbed/datasenders/carbon.go
Labels: exporter/carbon, testbed

#29796 [chore][receiver/activedirectoryds] Fix lint on Windows issues
  receiver/activedirectorydsreceiver/counters.go
  receiver/activedirectorydsreceiver/factory_windows.go
  receiver/activedirectorydsreceiver/scraper.go
Labels: receiver/activedirectoryds, Run Windows

#29878 [chore] improve carbonexporter tests
  exporter/carbonexporter/exporter_test.go
Labels: exporter/carbon

#29870 [exporter/logzio] mark component unmainained
  exporter/logzioexporter/README.md
  exporter/logzioexporter/internal/metadata/generated_status.go
  exporter/logzioexporter/metadata.yaml
Labels: Skip Changelog, exporter/logzio

#29868 [exporter/alibabacloudlogservice] mark component unmainained
  exporter/alibabacloudlogserviceexporter/README.md
  exporter/alibabacloudlogserviceexporter/internal/metadata/generated_status.go
  exporter/alibabacloudlogserviceexporter/metadata.yaml
Labels: exporter/alibabacloudlogservice, Skip Changelog

#29874 [chore] add configtls mention in doc
  receiver/splunkhecreceiver/README.md
Labels: receiver/splunkhec

#29740 [exporter/googlepubsub] expose `Endpoint` and `Insecure`
  .chloggen/googlecloudpubsubexporter-expose-insecure.yaml
  exporter/googlecloudpubsubexporter/README.md
  exporter/googlecloudpubsubexporter/config.go
  exporter/googlecloudpubsubexporter/exporter.go
  exporter/googlecloudpubsubexporter/exporter_test.go
  exporter/googlecloudpubsubexporter/factory_test.go
Labels: ready to merge, exporter/googlecloudpubsub

#28805 [pkg/translator/azure] Allow timestamp to be used instead of time
  .chloggen/azuretranslator-parse-timestamp-resource-logs.yaml
  pkg/translator/azure/resourcelogs_to_logs.go
  pkg/translator/azure/resourcelogs_to_logs_test.go
  pkg/translator/azure/testdata/log-bad-time.json
  receiver/azureeventhubreceiver/README.md
Labels: receiver/azureeventhub, pkg/translator/azure

#29791 [cmd/otelcontribcol] Add the OpAMP extension to otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: Skip Changelog, cmd/otelcontribcol

#29879 carbonexporter: add support for resourcetotelemetry
  .chloggen/addresourcetotelemetry.yaml
  exporter/carbonexporter/config.go
  exporter/carbonexporter/config_test.go
  exporter/carbonexporter/go.mod
  exporter/carbonexporter/testdata/config.yaml
Labels: exporter/carbon

#29883 [pkg/ottl] Update key.Name to be able to invoke a Getter
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: Skip Changelog, pkg/ottl

#29889 [chore] remove unused private variable
  exporter/carbonexporter/metricdata_to_plaintext.go
Labels: exporter/carbon

#28888 [connector/routing] Supports matching the statement only once.
  .chloggen/feat_routing_match_once.yaml
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/logs.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
  connector/routingconnector/traces.go
  connector/routingconnector/traces_test.go
Labels: connector/routing

#29888 [chore] fix resourcetotelemetry usage in carbonexporter
  exporter/carbonexporter/exporter.go
  exporter/carbonexporter/exporter_test.go
Labels: exporter/carbon

#29734 [chore] add mdatagen extension lifecycle tests
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/component_test.go.tmpl
  extension/headerssetterextension/generated_component_test.go
  extension/headerssetterextension/metadata.yaml
Labels: cmd/mdatagen, extension/headerssetter

#29886 [pkg/stanza] remove sampling policy from logger
  .chloggen/remove_sampler.yaml
  pkg/stanza/pipeline/config.go
Labels: pkg/stanza

#29875 return JSON ok response for hec receiver raw path
  .chloggen/splunkhecreceiver-return-success-body.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#29900 [statsdreceiver] removing unused code
  receiver/statsdreceiver/go.mod
  receiver/statsdreceiver/go.sum
  receiver/statsdreceiver/internal/transport/mock_reporter.go
  receiver/statsdreceiver/internal/transport/server.go
  receiver/statsdreceiver/reporter.go
  receiver/statsdreceiver/reporter_test.go
Labels: receiver/statsd, Skip Changelog

#29903 [chore] Replace usage of opencensus trace with otel trace in signalfxreceiver
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  receiver/signalfxreceiver/receiver.go
Labels: receiver/signalfx

#29902 [chore] Remove obsolete, not working, instrumentation with oc tracing in carbonreceiver
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/reporter.go
  receiver/carbonreceiver/transport/tcp_server.go
  receiver/wavefrontreceiver/go.mod
  receiver/wavefrontreceiver/go.sum
Labels: receiver/carbon, receiver/wavefront

#29890 [chore] improve conversion performance for carbonexporter
  exporter/carbonexporter/exporter_test.go
  exporter/carbonexporter/metricdata_to_plaintext.go
  exporter/carbonexporter/metricdata_to_plaintext_test.go
Labels: exporter/carbon

#29885 [chore] refactore carbonexporter to handle errors, use generic interfaces
  exporter/carbonexporter/exporter.go
  exporter/carbonexporter/go.mod
Labels: exporter/carbon

#29895 [carbonreceiver] Hide unnecessary public API
  .chloggen/carbonreceiver.yaml
  receiver/carbonreceiver/config.go
  receiver/carbonreceiver/config_test.go
  receiver/carbonreceiver/factory.go
  receiver/carbonreceiver/internal/client/plaintext_client.go
  receiver/carbonreceiver/internal/transport/server.go
  receiver/carbonreceiver/internal/transport/server_test.go
  receiver/carbonreceiver/internal/transport/tcp_server.go
  receiver/carbonreceiver/internal/transport/udp_server.go
  receiver/carbonreceiver/protocol/config.go
  receiver/carbonreceiver/protocol/config_test.go
  receiver/carbonreceiver/receiver.go
  receiver/carbonreceiver/receiver_test.go
  receiver/carbonreceiver/reporter.go
  receiver/carbonreceiver/transport/mock_reporter.go
  receiver/wavefrontreceiver/config.go
  receiver/wavefrontreceiver/factory.go
Labels: receiver/carbon, receiver/wavefront

#29909 [chore] [extension/healthcheck] use ReportComponentStatus
  extension/healthcheckextension/healthcheckextension.go
Labels: extension/healthcheck

#29908 [chore] use ReportComponentStatus
  extension/jaegerremotesampling/internal/http.go
Labels: extension/jaegerremotesampling

#29917 [processor/servicegraph] update own telemetry to use otel
  .chloggen/codeboten_rm-census-servicegraph.yaml
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/metrics.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#29897 [pkg/ottl] Implement Path/Key interfaces
  .chloggen/ottl-update-to-use-new-paths.yaml
  pkg/ottl/boolean_value_test.go
  pkg/ottl/contexts/internal/map.go
  pkg/ottl/contexts/internal/map_test.go
  pkg/ottl/contexts/internal/metric.go
  pkg/ottl/contexts/internal/metric_test.go
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/slice.go
  pkg/ottl/contexts/internal/slice_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/internal/value.go
  pkg/ottl/contexts/internal/value_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/math_test.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#29916 [receiver/k8scluster] Skip flaky test
  processor/k8sattributesprocessor/e2e_test.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/kubeletstatsreceiver/e2e_test.go
Labels: processor/k8sattributes, Skip Changelog, receiver/kubeletstats, receiver/k8scluster, receiver/k8sobjects

#27800 [exporter/elasticsearch] Add TraceStatusDescription in span
  .chloggen/elasticsearchexporter_add_missing_trace_status_description_in_span.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: ready to merge, exporter/elasticsearch

#29990 [chore] move cumulativetodelta processor to generated lifecycle tests
  processor/cumulativetodeltaprocessor/generated_component_test.go
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/metadata.yaml
Labels: processor/cumulativetodelta

#29983 [chore] move sapm receiver to generated lifecycle tests
  receiver/sapmreceiver/generated_component_test.go
  receiver/sapmreceiver/metadata.yaml
  receiver/sapmreceiver/trace_receiver_test.go
Labels: receiver/sapm

#29970 [chore] move sqlquery receiver to generated lifecycle tests
  receiver/sqlqueryreceiver/generated_component_test.go
  receiver/sqlqueryreceiver/metadata.yaml
Labels: receiver/sqlquery

#29978 [chore] move sshcheck receiver to generated lifecycle tests
  receiver/sshcheckreceiver/generated_component_test.go
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck

#29976 [chore] move udplog receiver to generated lifecycle tests
  receiver/udplogreceiver/generated_component_test.go
  receiver/udplogreceiver/metadata.yaml
Labels: receiver/udplog

#29980 [chore] move vcenter receiver to generated lifecycle tests
  receiver/vcenterreceiver/generated_component_test.go
  receiver/vcenterreceiver/metadata.yaml
Labels: receiver/vcenter

#29973 [chore] move zipkin receiver to generated lifecycle tests
  receiver/zipkinreceiver/generated_component_test.go
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin

#29955 [opampsupervisor] fix panic on shutdown
  .chloggen/fix_panic_supervisor.yaml
  cmd/opampsupervisor/supervisor/commander/commander.go
Labels: cmd/opampsupervisor

#29979 [chore] move zookeeper receiver to generated lifecycle tests
  receiver/zookeeperreceiver/generated_component_test.go
  receiver/zookeeperreceiver/metadata.yaml
Labels: receiver/zookeeper

#29988 [chore] move filter processor to generated lifecycle tests
  processor/filterprocessor/generated_component_test.go
  processor/filterprocessor/metadata.yaml
Labels: processor/filter

#29957 [chore] move podman receiver to generated lifecycle tests
  receiver/podmanreceiver/generated_component_test.go
  receiver/podmanreceiver/metadata.yaml
Labels: receiver/podman

#29966 [chore] move riak receiver to generated lifecycle tests
  receiver/riakreceiver/generated_component_test.go
  receiver/riakreceiver/metadata.yaml
Labels: receiver/riak

#29982 [chore] move wavefront receiver to generated lifecycle tests
  receiver/wavefrontreceiver/generated_component_test.go
  receiver/wavefrontreceiver/metadata.yaml
Labels: receiver/wavefront

#29942 [chore] move httpcheckreceiver to generated lifecycle tests
  receiver/httpcheckreceiver/generated_component_test.go
  receiver/httpcheckreceiver/metadata.yaml
Labels: receiver/httpcheck

#29960 [chore] move rabbitmqreceiver to generated lifecycle tests
  receiver/rabbitmqreceiver/generated_component_test.go
  receiver/rabbitmqreceiver/metadata.yaml
Labels: receiver/rabbitmq

#29969 [chore] move signalfx receiver to generated lifecycle tests
  receiver/signalfxreceiver/generated_component_test.go
  receiver/signalfxreceiver/metadata.yaml
  receiver/signalfxreceiver/receiver_test.go
Labels: receiver/signalfx

#29950 [chore][receiver/cloudflare] remove use of deprecated method ReportFatalError
  receiver/cloudflarereceiver/logs.go
Labels: receiver/cloudflare

#29951 [chore] move nginxreceiver to use generated lifecycle tests
  receiver/nginxreceiver/generated_component_test.go
  receiver/nginxreceiver/metadata.yaml
Labels: receiver/nginx

#29967 [chore] move statsd receiver to generated lifecycle tests
  receiver/statsdreceiver/generated_component_test.go
  receiver/statsdreceiver/metadata.yaml
Labels: receiver/statsd

#29943 [chore] move influxdbreceiver to generated lifecycle tests
  receiver/influxdbreceiver/generated_component_test.go
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/metadata.yaml
Labels: receiver/influxdb

#29986 [chore] move simpleprometheus receiver to generated lifecycle tests
  receiver/simpleprometheusreceiver/generated_component_test.go
  receiver/simpleprometheusreceiver/metadata.yaml
Labels: receiver/simpleprometheus

#29974 [chore] move snowflake receiver to generated lifecycle tests
  receiver/snowflakereceiver/generated_component_test.go
  receiver/snowflakereceiver/metadata.yaml
Labels: receiver/snowflake

#29965 [chore] move redis receiver to generated lifecycle tests
  receiver/redisreceiver/generated_component_test.go
  receiver/redisreceiver/metadata.yaml
Labels: receiver/redis

#29962 [chore] move purefbreceiver to use generated lifecycle tests
  receiver/purefbreceiver/generated_component_test.go
  receiver/purefbreceiver/metadata.yaml
Labels: receiver/purefb

#29947 [chore] move kafkametrics receiver to generated lifecycle tests
  receiver/kafkametricsreceiver/generated_component_test.go
  receiver/kafkametricsreceiver/metadata.yaml
Labels: receiver/kafkametrics

#29944 [chore] move jaeger receiver to generated lifecycle tests
  receiver/jaegerreceiver/generated_component_test.go
  receiver/jaegerreceiver/metadata.yaml
Labels: receiver/jaeger

#29941 [chore] move hostmetricsreceiver to generated lifecycle tests
  receiver/hostmetricsreceiver/generated_component_test.go
  receiver/hostmetricsreceiver/metadata.yaml
Labels: receiver/hostmetrics

#29937 [chore] move fluentforwardreceiver to generated lifecycle tests
  receiver/fluentforwardreceiver/generated_component_test.go
  receiver/fluentforwardreceiver/metadata.yaml
Labels: receiver/fluentforward

#29938 [chore] move googlecloudspannerreceiver to generated lifecycle tests
  receiver/googlecloudspannerreceiver/generated_component_test.go
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: receiver/googlecloudspanner

#29954 [chore] move oracledbreceiver to use generated lifecycle tests
  receiver/oracledbreceiver/generated_component_test.go
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#29934 [chore] move expvarreceiver to generated lifecycle tests
  receiver/expvarreceiver/generated_component_test.go
  receiver/expvarreceiver/metadata.yaml
Labels: receiver/expvar

#29935 [chore] move filestatsreceiver to generated lifecycle tests
  receiver/filestatsreceiver/generated_component_test.go
  receiver/filestatsreceiver/metadata.yaml
Labels: receiver/filestats

#29930 [chore] pass factory context to the metrics
  exporter/carbonexporter/exporter.go
  exporter/carbonexporter/exporter_test.go
  exporter/carbonexporter/factory.go
Labels: exporter/carbon

#29933 [chore] move couchdbreceiver to generated lifecycle tests
  receiver/couchdbreceiver/generated_component_test.go
  receiver/couchdbreceiver/metadata.yaml
Labels: receiver/couchdb

#29936 [chore] move the flinkmetrics receiver to use generated lifecycle tests
  receiver/flinkmetricsreceiver/generated_component_test.go
  receiver/flinkmetricsreceiver/metadata.yaml
Labels: receiver/flinkmetrics

#29961 [chore] move pulsar receiver to generated lifecycle tests
  receiver/pulsarreceiver/generated_component_test.go
  receiver/pulsarreceiver/metadata.yaml
Labels: receiver/pulsar

#29958 [chore] move postgresql receiver to generated lifecycle tests
  receiver/postgresqlreceiver/generated_component_test.go
  receiver/postgresqlreceiver/metadata.yaml
Labels: receiver/postgresql

#29949 [chore] move mysqlreceiver to generated lifecycle tests
  receiver/mysqlreceiver/generated_component_test.go
  receiver/mysqlreceiver/metadata.yaml
Labels: receiver/mysql

#29939 [chore] move haproxyreceiver to generated lifecycle tests
  receiver/haproxyreceiver/generated_component_test.go
  receiver/haproxyreceiver/metadata.yaml
Labels: receiver/haproxy

#29932 [chore] move collectdreceiver to generated lifecycle tests
  receiver/collectdreceiver/generated_component_test.go
  receiver/collectdreceiver/metadata.yaml
Labels: receiver/collectd

#29952 [chore] move nsxtreceiver to generated lifecycle tests
  receiver/nsxtreceiver/generated_component_test.go
  receiver/nsxtreceiver/metadata.yaml
Labels: receiver/nsxt

#29953 [chore] move opencensusreceiver to use generated lifecycle tests
  receiver/opencensusreceiver/generated_component_test.go
  receiver/opencensusreceiver/metadata.yaml
Labels: receiver/opencensus

#29959 [chore] move purefareceiver to use generated lifecycle tests
  receiver/purefareceiver/generated_component_test.go
  receiver/purefareceiver/metadata.yaml
Labels: receiver/purefa

#29984 [chore] move splunkenterprise receiver to generated lifecycle tests
  receiver/splunkenterprisereceiver/generated_component_test.go
  receiver/splunkenterprisereceiver/metadata.yaml
Labels: receiver/splunkenterprise

#29975 [chore] move skywalking receiver to generated lifecycle tests
  receiver/skywalkingreceiver/generated_component_test.go
  receiver/skywalkingreceiver/metadata.yaml
Labels: receiver/skywalking

#29972 [chore] move snmp receiver to generated lifecycle tests
  receiver/snmpreceiver/generated_component_test.go
  receiver/snmpreceiver/metadata.yaml
Labels: receiver/snmp

#29945 [chore] move k8seventsreceiver to generated lifecycle tests
  receiver/k8seventsreceiver/factory.go
  receiver/k8seventsreceiver/factory_test.go
  receiver/k8seventsreceiver/generated_component_test.go
  receiver/k8seventsreceiver/metadata.yaml
  receiver/k8seventsreceiver/receiver.go
  receiver/k8seventsreceiver/receiver_test.go
Labels: receiver/k8sevents

#30012 [chore] move routing processor to generated lifecycle tests
  processor/routingprocessor/generated_component_test.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/metadata.yaml
Labels: processor/routing

#30013 [chore] move redaction processor to generated lifecycle tests
  processor/redactionprocessor/generated_component_test.go
  processor/redactionprocessor/go.mod
  processor/redactionprocessor/metadata.yaml
Labels: processor/redaction

#30005 [chore] move schema processor to generated lifecycle tests
  processor/schemaprocessor/generated_component_test.go
  processor/schemaprocessor/go.mod
  processor/schemaprocessor/metadata.yaml
Labels: processor/schema

#30015 [chore] move remotetap processor to generated lifecycle tests
  processor/remotetapprocessor/generated_component_test.go
  processor/remotetapprocessor/go.mod
  processor/remotetapprocessor/metadata.yaml
Labels: processor/remotetap

#30008 [chore] move spanmetrics processor to generated lifecycle tests
  processor/spanmetricsprocessor/generated_component_test.go
  processor/spanmetricsprocessor/metadata.yaml
Labels: processor/spanmetrics
