Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-02, with the labels that each got.

#18207 [signalfxexporter] move initialization of the config defaults in Unmarshal.
  .chloggen/signalfxexporterconfig.yaml
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/factory_test.go
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/internal/translation/constants.go
  receiver/signalfxreceiver/go.mod
Labels: exporter/signalfx, receiver/signalfx

#18206 [exporter/datadog] Bump datadog-agent dependencies to v0.43.0-rc.3
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol

#18209 [receiver/azureeventhub] add to components
  .chloggen/add-azureeventhub-to-components.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#18231 [*/datadog] Bump Datadog Agent modules
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#18217 [pkg/pdatatest] add fatsheep9146 as owner
  .github/CODEOWNERS
Labels: Skip Changelog, pkg/pdatatest

#18182 [exporter/googlecloud] Update GCP dependencies (v0.35.0/v1.11.0)
  .chloggen/gcp-v0350-update.yaml
  .chloggen/gmp-exporter-beta.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/README.md
  exporter/googlecloudexporter/config_test.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/factory.go
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: exporter/datadog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol

#16554 Update datadog exporter codeowners
  .github/CODEOWNERS
Labels: exporter/datadog, Skip Changelog, never stale

#18218 [signalfxexporter] Deprecate config translation rules in favor of metrics transform processor
  .chloggen/deprecaterules.yaml
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/factory_test.go
Labels: exporter/signalfx

#18230 [extension/jaegerremotesampling] remove invalid comment
  extension/jaegerremotesampling/internal/http.go
Labels: Skip Changelog, extension/jaegerremotesampling

#18235 [chore] [cmd/mdatagen] Don't use pmetric.Metrics.MoveTo
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/templates/metrics.go.tmpl
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics.go
  receiver/aerospikereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/bigipreceiver/internal/metadata/generated_metrics.go
  receiver/chronyreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/expvarreceiver/internal/metadata/generated_metrics.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/iisreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nsxtreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/riakreceiver/internal/metadata/generated_metrics.go
  receiver/saphanareceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sshcheckreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/internal/metadata/generated_metrics.go
Labels: receiver/redis, receiver/memcached, receiver/mongodbatlas, receiver/aerospike, cmd/mdatagen, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/vcenter, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, receiver/zookeeper, receiver/saphana, receiver/rabbitmq, receiver/expvar, receiver/sqlserver, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, receiver/chrony, receiver/snowflake, receiver/httpcheck, receiver/oracledb, receiver/haproxy, receiver/sshcheck

#18213 [chore] Added missing details to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: ready to merge

#18240 [processor/transform] Remove unused structs
  processor/transformprocessor/config.go
Labels: Skip Changelog, processor/transform

#17207 Instead of supply metric metadata and label for aws calculator, supply with aws metric key which consists of metric metadata and label
  .chloggen/use-key-with-aws-calculator.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric.go
  internal/aws/metrics/metric_calculator.go
  internal/aws/metrics/metric_calculator_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor.go
Labels: receiver/awscontainerinsight, exporter/awsemf, internal/aws

#18089 [pkg/stanza/operator/transformer/recombine] Add the max_log_size config to recombine operator (#17387)
  .chloggen/feature_addBytesLimit.yaml
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
  pkg/stanza/operator/transformer/recombine/testdata/config.yaml
Labels: ready to merge, pkg/stanza

#18239 [exporter/datadog] Run API key validation in separate goroutine
  .chloggen/datadogexporter-run-api-validation-separately.yaml
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog

#18224 [processor/cumulativetodelta]: always drop first metric point
  .chloggen/cumulativetodelta-first-point.yaml
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: processor/cumulativetodelta

#18258 [chore] bump otel metrics dep
  examples/demo/client/go.mod
  examples/demo/client/go.sum
  examples/demo/client/main.go
  examples/demo/server/go.mod
  examples/demo/server/go.sum
  examples/demo/server/main.go
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.mod
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.sum
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/main.go
Labels: receiver/simpleprometheus, examples/demo

#18212 address issues with "flaky sftp test"
  receiver/sshcheckreceiver/internal/configssh/configssh.go
  receiver/sshcheckreceiver/scraper_test.go
Labels: Skip Changelog, receiver/sshcheck

#18260 [chore] dependabot updates
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/go.sum
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  extension/awsproxy/go.mod
  extension/awsproxy/go.sum
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  go.mod
  go.sum
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/cwlogs/go.mod
  internal/aws/cwlogs/go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/proxy/go.mod
  internal/aws/proxy/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscloudwatchreceiver/go.mod
  receiver/awscloudwatchreceiver/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
Labels: exporter/datadog, exporter/f5cloud, processor/resourcedetection, receiver/mongodbatlas, receiver/awscontainerinsight, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/kafka, exporter/googlecloudpubsub, receiver/kafka, receiver/awsxray, receiver/googlecloudspanner, receiver/kafkametrics, receiver/googlecloudpubsub, extension/observer, extension/awsproxy, internal/aws, internal/metadataproviders, receiver/awscloudwatch

#18228 [receiver/datadog] DD Agent API Updates
  .chloggen/version-07.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
  testbed/go.mod
  testbed/go.sum
Labels: cmd/configschema, testbed, receiver/datadog

#18068 [receiver/splunkhec] Drop events when nested indexed fields are present
  .chloggen/handle_nested_map_splunkhec_receiver.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#18259 [pkg/stanza/adapter] Remove deprecated Convert and ConvertFrom
  .chloggen/stanza-remove-deprecated-convert.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/adapter/frompdataconverter.go
  pkg/stanza/adapter/frompdataconverter_test.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/filelogreceiver/storage_test.go
  receiver/journaldreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.sum
Labels: receiver/journald, receiver/filelog, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile

#18267 [pkg/pdatatest] update the content related to trace in doc
  pkg/pdatatest/README.md
Labels: ready to merge, Skip Changelog, pkg/pdatatest

#18241 [exporter/splunkhec] Flatten nested attribute map
  .chloggen/splunkhecexporter_flatten_nested_fields.yaml
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
Labels: ready to merge, exporter/splunkhec

#18219 [exporter/loadbalancingexporter] update loadbalancing exporter readme
  exporter/loadbalancingexporter/README.md
Labels: Skip Changelog, exporter/loadbalancing

#18248 exporter/datadogexporter: allow more trace-agents
  .chloggen/gbbr_shared-agent.yaml
  exporter/datadogexporter/factory.go
Labels: exporter/datadog

#18268 [processor/servicegraph] deprecate unprefix label set
  .chloggen/deprecate-unprefix-label-set.yaml
  processor/servicegraphprocessor/README.md
  processor/servicegraphprocessor/processor.go
Labels: processor/servicegraph

#18263 [pkg/ottl] Update OTTL docs
  pkg/ottl/README.md
Labels: ready to merge, Skip Changelog, pkg/ottl

#18249 [chore] [processor/cumulativetodelta]: cleanup non-monotonic sums references
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/processor.go
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: processor/cumulativetodelta

#18187 [pkg/ottl] Add ErrorMode configuration option
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: ready to merge, Skip Changelog, pkg/ottl

#18237 [receiver/mongodbatlas] Add Events API Support
  .chloggen/mongodbatlas-events-support.yaml
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/combined_logs.go
  receiver/mongodbatlasreceiver/config.go
  receiver/mongodbatlasreceiver/config_test.go
  receiver/mongodbatlasreceiver/events.go
  receiver/mongodbatlasreceiver/events_test.go
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
  receiver/mongodbatlasreceiver/testdata/config.yaml
  receiver/mongodbatlasreceiver/testdata/events/golden/events.json
  receiver/mongodbatlasreceiver/testdata/events/sample-payloads/events.json
Labels: receiver/mongodbatlas

#18274 [signalfxexporter] avoid stringify every data point that does not match the filter
  .chloggen/improveperf.yaml
  exporter/signalfxexporter/dpclient.go
  exporter/signalfxexporter/internal/translation/converter.go
  exporter/signalfxexporter/internal/translation/converter_test.go
Labels: exporter/signalfx

#18279 [processor/cumulativetodelta] fix readme key for max_staleness
  processor/cumulativetodeltaprocessor/README.md
Labels: ready to merge, Skip Changelog, processor/cumulativetodelta

#18277 [processor/k8sattributesprocessor] fix doc formatting
  processor/k8sattributesprocessor/doc.go
Labels: ready to merge, processor/k8sattributes, Skip Changelog

#18283 [chore] [cmd/mdatagen] Remove unused struct tags
  cmd/mdatagen/loader.go
Labels: cmd/mdatagen

#18284 [exporter/clickhouse] Fix ut when clickhouse-go/v2 version bump up
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
  go.mod
  go.sum
Labels: ready to merge, Skip Changelog, exporter/clickhouse, cmd/configschema, cmd/otelcontribcol

#16608 Add Logicmonitor Exporter implementation
  .chloggen/logicmonitorexporter-impl.yaml
  exporter/logicmonitorexporter/README.md
  exporter/logicmonitorexporter/config.go
  exporter/logicmonitorexporter/factory.go
  exporter/logicmonitorexporter/factory_test.go
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/go.sum
  exporter/logicmonitorexporter/logs_exporter.go
  exporter/logicmonitorexporter/logs_exporter_test.go
  exporter/logicmonitorexporter/testdata/config.yaml
Labels: ready to merge, exporter/logicmonitor

#18288 [exporter/clickhouse] Fix StartTime is not inserted for Gauge and Counter
  .chloggen/Fix-StartTime-is-not-inserted-for-Gauge-and-Counter.yaml
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/sum_metrics.go
Labels: exporter/clickhouse

#18291 [chore] Fix typo in regex parser doc
  pkg/stanza/docs/operators/regex_parser.md
Labels: Skip Changelog, pkg/stanza

#18304 [docs] fix receiver_creator supported pipelines
  receiver/receivercreator/README.md
  receiver/receivercreator/factory_test.go
Labels: Skip Changelog, receiver/receivercreator

#18382 Fix dependabot entry for count connector
  .github/dependabot.yml
Labels: Skip Changelog

#17410 [processor/k8sattributes] Add first version of k8s e2e tests
  .chloggen/k8s-components-e2e.yaml
  .github/workflows/e2e/k8s/collector-helm-values.yml
  .github/workflows/e2e/k8s/telemetrygen-job.yml
  .github/workflows/k8s-related-components-e2e.yml
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
Labels: processor/k8sattributes

#18309 Propose @atoulme as approver
  README.md
Labels: Skip Changelog

#18384 Promote @TylerHelmuth to maintainer
  README.md
Labels: Skip Changelog

#18308 Propose @kovrus as approver
  README.md
Labels: Skip Changelog

#18396 [chore] add replace statements for influx dep
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#18310 Promote @fatsheep9146 to approver role
  README.md
Labels: Skip Changelog

#18301 Enable logicmonitor exporter
  .chloggen/enable-logicmonitor-exporter.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/logicmonitorexporter/README.md
  exporter/logicmonitorexporter/factory.go
  go.mod
  go.sum
  internal/components/components.go
  internal/components/exporters_test.go
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/logicmonitor

#18282 [exporter/datadog] Enable retries when exporting usage metrics in Datadog traces exporter
  .chloggen/datadogexporter-enable-retry-in-host-metric-export.yaml
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog

#18303 Refactor newMultilineSplitterFactory
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/fileconsumer/splitter_factory.go
  pkg/stanza/fileconsumer/splitter_factory_test.go
Labels: Skip Changelog, pkg/stanza

#18229 [receiver/datadog] Adopt SharedComponent
  .chloggen/datadog-shared.yaml
  receiver/datadogreceiver/factory.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
  receiver/datadogreceiver/translator.go
Labels: testbed, receiver/datadog

#18398 [receiver/datadog] Documentation Updates
  receiver/datadogreceiver/README.md
Labels: Skip Changelog, receiver/datadog

#18399 [internal/components] add datadogreceiver to default build
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
Labels: Skip Changelog, cmd/otelcontribcol

#18306 [receiver/awscloudwatch] fix limit discovery exceeding API limits
  .chloggen/cloudwatch-logs-paginate-discovery-in-fifties.yaml
  receiver/awscloudwatchreceiver/README.md
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
Labels: receiver/awscloudwatch

#18442 linting issue
  pkg/ottl/boolean_value.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/math_test.go
Labels: pkg/ottl

#18447 [chore] update otel-go deps
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  examples/demo/client/go.mod
  examples/demo/client/go.sum
  examples/demo/server/go.mod
  examples/demo/server/go.sum
  internal/aws/metrics/go.mod
  internal/aws/metrics/go.sum
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.mod
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.sum
Labels: cmd/telemetrygen, receiver/simpleprometheus, examples/demo, internal/aws

#18449 [receiver/dockerstats] remove old scraper implementation
  .chloggen/remove-dockerstats-featuregate-v2.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/config.go
  receiver/dockerstatsreceiver/config_test.go
  receiver/dockerstatsreceiver/factory.go
  receiver/dockerstatsreceiver/integration_test.go
  receiver/dockerstatsreceiver/metrics.go
  receiver/dockerstatsreceiver/metrics_test.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/receiver_test.go
  receiver/dockerstatsreceiver/receiver_v2.go
  receiver/dockerstatsreceiver/testdata/config.yaml
Labels: receiver/dockerstats

#18459 [chore] remove promtail receiver from components
  .chloggen/add-promtail-receiver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/components/components.go
  internal/components/receivers_test.go
Labels: cmd/configschema

#18453 [docs] fixing typo
  exporter/loadbalancingexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/loadbalancing

#18468 Bump GCP dependencies to v0.35.1 and v1.11.1
  .chloggen/gcp-0351-1111.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: dependencies, exporter/datadog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol

#18452 [chore] [pkg/batchpersignal] fix comment
  pkg/batchpersignal/batchpersignal.go
Labels: pkg/batchpersignal

#18469 [pkg/stanza/fileconsumer] Fix description of max_concurrent_files
  pkg/stanza/docs/operators/file_input.md
Labels: Skip Changelog, pkg/stanza

#18464 signalfx exporter: Add exclude_properties config option for limiting dimension updates
  .chloggen/signalfx-exporter-filter-properties.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/internal/dimensions/dimclient.go
  exporter/signalfxexporter/internal/translation/dpfilters/propertyfilter.go
  exporter/signalfxexporter/internal/translation/dpfilters/propertyfilter_test.go
  exporter/signalfxexporter/internal/translation/dpfilters/string.go
  exporter/signalfxexporter/internal/translation/dpfilters/string_test.go
  exporter/signalfxexporter/testdata/config.yaml
Labels: exporter/signalfx

#18484 [exporter/datadog] Bump dependencies; fix first point reporting for cumulative series
  .chloggen/mx-psi_bump-pkg_quantile.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated.go
  exporter/datadogexporter/internal/metrics/sketches/sketches.go
  exporter/datadogexporter/internal/metrics/sketches/sketches_test.go
  exporter/datadogexporter/traces_exporter.go
  go.mod
  go.sum
  processor/datadogprocessor/agent.go
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#18473 [chore] [processor/tailsampling] Remove usage of deprecated MoveTo
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#18477 [receiver/filelog] Limit files consumed per polling cycle
  .chloggen/filelog-max-batches.yaml
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/testdata/config.yaml
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#18297 [exporter/splunkhec] Reconnect when server returns 502/429 errors
  .chloggen/splunkhecexporter_reconnect_on_502_429_error.yaml
  exporter/splunkhecexporter/hec_worker.go
Labels: ready to merge, exporter/splunkhec

#18467 [pkg/stanza] Condense Converter logic to improve memory usage
  .chloggen/stanza-condense-converter-batching.yaml
  pkg/stanza/adapter/converter.go
Labels: pkg/stanza

#18492 [chore] use gh instead of ghr
  .github/workflows/build-and-test.yml
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools

#18498 [receiver/statsd] Fix counter data points timestamps alignment
  .chloggen/statsdreceiver-fix-timestamps-counters.yaml
  receiver/statsdreceiver/protocol/metric_translator.go
  receiver/statsdreceiver/protocol/metric_translator_test.go
  receiver/statsdreceiver/protocol/statsd_parser.go
  receiver/statsdreceiver/protocol/statsd_parser_test.go
  receiver/statsdreceiver/receiver_test.go
Labels: receiver/statsd

#18505 [extension/fluentbit] remove deprecated extension
  .chloggen/codeboten_remove-deprecated-fluentbit.yaml
  .github/ALLOWLIST
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  extension/fluentbitextension/Makefile
  extension/fluentbitextension/README.md
  extension/fluentbitextension/config.go
  extension/fluentbitextension/config_test.go
  extension/fluentbitextension/factory.go
  extension/fluentbitextension/factory_test.go
  extension/fluentbitextension/go.mod
  extension/fluentbitextension/go.sum
  extension/fluentbitextension/images/chained.png
  extension/fluentbitextension/images/sidebyside.png
  extension/fluentbitextension/process.go
  extension/fluentbitextension/process_linux.go
  extension/fluentbitextension/process_linux_test.go
  extension/fluentbitextension/process_others.go
  extension/fluentbitextension/testdata/config.yaml
  go.mod
  internal/components/components.go
  internal/components/extensions_test.go
  receiver/fluentforwardreceiver/README.md
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, receiver/fluentforward, cmd/oteltestbedcol

#18499 [translator/loki] add default labels job and instance
  .chloggen/lokiexporter-add-default-labels.yaml
  exporter/lokiexporter/README.md
  pkg/translator/loki/convert.go
  pkg/translator/loki/convert_test.go
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/loki/utils.go
Labels: exporter/loki, pkg/translator/loki

#18042 [pkg/ottl] Add StringGetter
  .chloggen/ottl-type-specific-getter.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: ready to merge, pkg/ottl

#18518 [exporter/awscloudwatchlogs] Flush logs on the exporter shutdown
  .chloggen/cwlogs-exporter-fix-shutdown.yaml
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
Labels: exporter/awscloudwatchlogs

#18510 [telemetrygen] fix some typos for telemetrygen
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/config_test.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker.go
Labels: Skip Changelog, cmd/telemetrygen

#18497 [processor/spanmetrics] Simplify metrics clean up logic in spanmetrics processor.
  processor/spanmetricsprocessor/processor.go
Labels: processor/spanmetrics, Skip Changelog

#18519 [chore] Remove load test for fluentbit extension
  .github/workflows/load-tests.yml
  testbed/datasenders/fluentbit.go
  testbed/datasenders/stanza.go
  testbed/tests/log_test.go
Labels: testbed

#18522 [exporter/awskinesis] Restore Kinesis stream validation on the start
  .chloggen/kinesis-exporter-fix-start.yaml
  exporter/awskinesisexporter/exporter.go
  exporter/awskinesisexporter/factory.go
Labels: exporter/awskinesis

#18531 [receiver/hostmetrics] Remove deprecated process memory metrics
  .chloggen/remove-deprecated-hostmetrics-receiver-metrics.yaml
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
Labels: receiver/hostmetrics

#18496 [processor/spanmetrics] Simplify spanmetrics config tests.
  processor/spanmetricsprocessor/config_test.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  processor/spanmetricsprocessor/testdata/config-2-pipelines.yaml
  processor/spanmetricsprocessor/testdata/config-3-pipelines.yaml
  processor/spanmetricsprocessor/testdata/config-full.yaml
  processor/spanmetricsprocessor/testdata/config.yaml
Labels: processor/spanmetrics, Skip Changelog

#18481 [receiver/awsxray] set required AttributeServiceName
  .chloggen/set-attribute-service-name.yaml
  receiver/awsxrayreceiver/internal/translator/translator.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
Labels: receiver/awsxray

#18534 [receiver/promtail] Deprecate promtail receiver
  .chloggen/deprecate-promtail-receiver.yaml
  receiver/promtailreceiver/README.md
  receiver/promtailreceiver/factory.go
  receiver/promtailreceiver/go.mod
Labels: receiver/promtail

#18501 [connectors] Add forward and count connectors to build
  .chloggen/add-count-connector.yaml
  .chloggen/add-forward-connector.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#18503 marking jaeger exporters as deprecated
  .chloggen/codeboten_deprecate-jaeger-exporters.yaml
  exporter/jaegerexporter/README.md
  exporter/jaegerexporter/factory.go
  exporter/jaegerexporter/go.mod
  exporter/jaegerthrifthttpexporter/README.md
  exporter/jaegerthrifthttpexporter/factory.go
  exporter/jaegerthrifthttpexporter/go.mod
Labels: exporter/jaeger, exporter/jaegerthrifthttp

#18287 [exporter/clickhouse] Fix metric inserts results in empty entries
  .chloggen/fix-metric-inserts-results-in-empty-entries.yaml
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
Labels: exporter/clickhouse

#16798 [processor/filter] Add new metric-only functions
  .chloggen/fp-drop-metric-based-on-attribute.yaml
  processor/filterprocessor/README.md
  processor/filterprocessor/internal/common/parser.go
  processor/filterprocessor/internal/common/parser_test.go
Labels: processor/filter

#18608 [chore] [exporter/awsemf] Remove unused exporter.Metrics implementation
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
Labels: exporter/awsemf

#18609 [chore] [exporter/file] Remove unused consumer interfaces implementation
  exporter/fileexporter/factory.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/file_exporter_test.go
Labels: exporter/file

#18289 feat: add indexes for attributes on metric tables
  .chloggen/add-attr-indexes-on-metrics-table-clickhouse.yaml
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
Labels: exporter/clickhouse

#18285 [exporter/clickhouse] moving database creation prcocess to a start function
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/factory_test.go
  exporter/clickhouseexporter/internal/metrics_model.go
Labels: Skip Changelog, exporter/clickhouse

#18615 [chore] [processor/redaction] Remove unused interface implementation
  processor/redactionprocessor/factory.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: processor/redaction

#18271 [exporter/datadog] Unit tests for logs sender and minor performance improvement
  exporter/datadogexporter/internal/logs/sender.go
  exporter/datadogexporter/internal/logs/sender_test.go
  exporter/datadogexporter/internal/testutil/logs.go
  exporter/datadogexporter/internal/testutil/logs_test.go
  exporter/datadogexporter/logs_exporter_test.go
Labels: exporter/datadog, Skip Changelog

#18524 [receiver/promtail] remove promtail receiver completely
  .chloggen/remove-promtail-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  receiver/promtailreceiver/Makefile
  receiver/promtailreceiver/README.md
  receiver/promtailreceiver/config.go
  receiver/promtailreceiver/config_test.go
  receiver/promtailreceiver/factory.go
  receiver/promtailreceiver/go.mod
  receiver/promtailreceiver/go.sum
  receiver/promtailreceiver/internal/logger.go
  receiver/promtailreceiver/internal/logger_test.go
  receiver/promtailreceiver/internal/util.go
  receiver/promtailreceiver/promtail.go
  receiver/promtailreceiver/promtail_test.go
  receiver/promtailreceiver/testdata/config.yaml
  receiver/promtailreceiver/testdata/config_stanza.yaml
  receiver/promtailreceiver/testdata/simple.log
  versions.yaml
Labels: receiver/promtail

#18507 Update Prometheus to main
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  pkg/translator/prometheusremotewrite/histograms.go
  pkg/translator/prometheusremotewrite/histograms_test.go
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusexecreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/transaction.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: processor/spanmetrics, Skip Changelog, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/prometheusexec, receiver/simpleprometheus, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb

#18188 Adding guidelines for writing platform agnostic code
  CONTRIBUTING.md
Labels: Skip Changelog

#18616 [pkg/ottl] Update context READMEs to list all paths
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottlmetric/README.md
  pkg/ottl/contexts/ottlresource/README.md
  pkg/ottl/contexts/ottlscope/README.md
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspanevent/README.md
Labels: Skip Changelog, pkg/ottl

#18385 [pkg/ottl] Add NewStatements to each context
  .chloggen/ottl-update-parsestatements.yaml
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/go.mod
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
  processor/routingprocessor/router.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
Labels: processor/transform, processor/routing, pkg/ottl

#18640 rebase + tidy
  processor/spanmetricsprocessor/go.sum
  testbed/mockdatasenders/mockdatadogagentexporter/go.sum
Labels: processor/spanmetrics, testbed

#18644 [chore] Remove unused pkg/translator/opencensus replacements
  exporter/awskinesisexporter/go.mod
  exporter/datadogexporter/go.mod
  exporter/googlecloudexporter/go.mod
  exporter/jaegerthrifthttpexporter/go.mod
  exporter/prometheusexporter/go.mod
  exporter/zipkinexporter/go.mod
  processor/metricstransformprocessor/go.mod
  processor/resourcedetectionprocessor/go.mod
  receiver/kafkareceiver/go.mod
  receiver/prometheusexecreceiver/go.mod
  receiver/prometheusreceiver/go.mod
  receiver/pulsarreceiver/go.mod
  receiver/simpleprometheusreceiver/go.mod
  receiver/splunkhecreceiver/go.mod
  receiver/zipkinreceiver/go.mod
Labels: receiver/zipkin, exporter/datadog, processor/metricstransform, processor/resourcedetection, exporter/googlecloud, receiver/prometheus, exporter/awskinesis, exporter/jaegerthrifthttp, exporter/prometheus, exporter/zipkin, receiver/kafka, receiver/prometheusexec, receiver/splunkhec, receiver/simpleprometheus, receiver/pulsar

#18683 fix dep
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
Labels: cmd/otelcontribcol, exporter/signalfx, exporter/sapm, cmd/oteltestbedcol

#18611 [exporter/googlemanagedprometheus] Update GMP config label recommendations
  exporter/googlemanagedprometheusexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/googlemanagedprometheus

#18691 [docs] [exporter/prometheus] mention `/metrics` path in docs
  exporter/prometheusexporter/README.md
Labels: Skip Changelog, exporter/prometheus

#18618 [resourcedetectionprocessor]: add host.id to system detector
  .chloggen/drosiek-host-id.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: exporter/datadog, processor/resourcedetection, cmd/configschema, cmd/otelcontribcol, internal/metadataproviders

#18681 [processor/redaction] add ignorelist
  .chloggen/processor-redaction_add-ignorelist.yaml
  processor/redactionprocessor/README.md
  processor/redactionprocessor/config.go
  processor/redactionprocessor/config_test.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
  processor/redactionprocessor/testdata/config.yaml
Labels: ready to merge, processor/redaction, pkg/ottl

#18692 [pkg/ottl] Switch ErrorMode to string
  .chloggen/ottl-switch-error-mode-to-string.yaml
  pkg/ottl/parser.go
Labels: pkg/ottl

#18292 [translator/prometheusremotewrite] add metric name to error message
  .chloggen/prometheusremotewrite-add-metric-name-to-error-message-when-invalid.yaml
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
Labels: ready to merge, pkg/translator/prometheus

#18506 support k8s.pod.hostname
  .chloggen/k8sprocessor-hostname.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
Labels: ready to merge, processor/k8sattributes

#18728 signalfxexporter: reduce flake by increasing timeout
  exporter/signalfxexporter/exporter_test.go
Labels: ready to merge, Skip Changelog, exporter/signalfx

#18701 [receiver/k8sobjects] setting observed timestamp
  .chloggen/k8sobjectsreceiver-fix-observedtimestamp.yaml
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: ready to merge, receiver/k8sobjects

#18739 chore: bump testcontainers-go to 0.18.0
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.sum
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  go.sum
  receiver/aerospikereceiver/go.mod
  receiver/aerospikereceiver/go.sum
  receiver/apachereceiver/go.mod
  receiver/apachereceiver/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/flinkmetricsreceiver/go.mod
  receiver/flinkmetricsreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/rabbitmqreceiver/go.mod
  receiver/rabbitmqreceiver/go.sum
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/riakreceiver/go.mod
  receiver/riakreceiver/go.sum
  receiver/snmpreceiver/go.mod
  receiver/snmpreceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/sshcheckreceiver/go.mod
  receiver/sshcheckreceiver/go.sum
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
Labels: receiver/redis, Skip Changelog, receiver/memcached, receiver/jmx, receiver/aerospike, receiver/dockerstats, receiver/mysql, receiver/elasticsearch, receiver/zookeeper, receiver/sqlquery, cmd/configschema, cmd/otelcontribcol, receiver/rabbitmq, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/kafkametrics, receiver/apache, receiver/flinkmetrics, receiver/riak, extension/observer, receiver/snmp, receiver/sshcheck

#18695 [exporter/sentry] Map environment config
  .chloggen/add-env-to-sentry-exporter.yaml
  exporter/sentryexporter/README.md
  exporter/sentryexporter/config.go
  exporter/sentryexporter/config_test.go
  exporter/sentryexporter/sentry_exporter.go
  exporter/sentryexporter/testdata/config.yaml
Labels: exporter/sentry

#18744 [connector/spanmetricsconnector]: Drop _total from generated metrics names.
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
Labels: Skip Changelog, connector/spanmetrics

#18762 Ensure workflows use Go >=1.19.6
  .github/workflows/build-and-test-windows.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#18735 [pkg/ottl] Update type getters to error on nil
  .chloggen/ottl-change-type-getters-to-error-on-nil.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
Labels: pkg/ottl

#18669 [pkg/ottl] Update NewParser to handle nil logger
  .chloggen/ottl-enforce-non-empty-settings.yaml
  pkg/ottl/boolean_value_test.go
  pkg/ottl/compare_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions_test.go
  pkg/ottl/math_test.go
  pkg/ottl/parser.go
  processor/filterprocessor/config.go
  processor/filterprocessor/internal/common/parser.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/traces.go
Labels: processor/filter, processor/transform, processor/routing, pkg/ottl

#18725 [spanmetrics] Do not drop metric data points on attributes cache miss.
  .chloggen/spanmetrics-cache-miss.yaml
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
Labels: processor/spanmetrics, connector/spanmetrics

#18687 [connector/count] Add OTTL conditions to count connector
  .chloggen/connector-count-if.yaml
  connector/countconnector/README.md
  connector/countconnector/config.go
  connector/countconnector/config_test.go
  connector/countconnector/connector.go
  connector/countconnector/connector_test.go
  connector/countconnector/counter.go
  connector/countconnector/factory.go
  connector/countconnector/factory_test.go
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  connector/countconnector/ottl.go
  connector/countconnector/testdata/config.yaml
  connector/countconnector/testdata/logs/input.json
  connector/countconnector/testdata/logs/multiple_conditions.json
  connector/countconnector/testdata/logs/multiple_metrics.json
  connector/countconnector/testdata/logs/one_condition.json
  connector/countconnector/testdata/logs/zero_conditions.json
  connector/countconnector/testdata/logs_to_metrics/expected_0.json
  connector/countconnector/testdata/logs_to_metrics/logs_0.json
  connector/countconnector/testdata/metrics/input.json
  connector/countconnector/testdata/metrics/multiple_conditions.json
  connector/countconnector/testdata/metrics/multiple_metrics.json
  connector/countconnector/testdata/metrics/one_condition.json
  connector/countconnector/testdata/metrics/zero_conditions.json
  connector/countconnector/testdata/metrics_to_metrics/expected_0.json
  connector/countconnector/testdata/metrics_to_metrics/expected_1.json
  connector/countconnector/testdata/metrics_to_metrics/metrics_1.json
  connector/countconnector/testdata/traces/input.json
  connector/countconnector/testdata/traces/multiple_conditions.json
  connector/countconnector/testdata/traces/multiple_metrics.json
  connector/countconnector/testdata/traces/one_condition.json
  connector/countconnector/testdata/traces/zero_conditions.json
  connector/countconnector/testdata/traces_to_metrics/expected_1.json
  connector/countconnector/testdata/traces_to_metrics/traces_1.json
Labels: connector/count

#18773 [receiver/datadogreceiver]Use http constants to replace numbers
  receiver/datadogreceiver/translator_test.go
Labels: Skip Changelog, receiver/datadog

#18675 [receiver/oracledb] return -1 if max tablespace size is not set
  .chloggen/oracledb-max-tablespace-size-unset.yaml
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
Labels: ready to merge, receiver/oracledb

#18736 [receiver/awsecscontainermetricsreceiver] Fix possible sigsegv in shutdown
  .chloggen/ecsCMshutdown.yaml
  receiver/awsecscontainermetricsreceiver/receiver.go
Labels: ready to merge, receiver/awsecscontainermetrics

#18768 [internal/aws]Use http constants
  internal/aws/cwlogs/handler/request_structuredlog_handler_test.go
  internal/aws/ecsutil/client.go
Labels: ready to merge, Skip Changelog, internal/aws

#18095 [exporter/coralogixexporter] Fix coralogixexporter authentication issue
  .chloggen/coralogix-bugfix.yaml
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/testdata/logs.yaml
  exporter/coralogixexporter/testdata/metrics.yaml
  exporter/coralogixexporter/traces_client.go
Labels: bug, ready to merge, exporter/coralogix

#18766 [processor/cumulativetodelta] drop data points with NoRecordedValue
  .chloggen/cumulativetodelta-novaluerecorded.yaml
  processor/cumulativetodeltaprocessor/processor.go
  processor/cumulativetodeltaprocessor/processor_test.go
Labels: processor/cumulativetodelta

#18607 [extension/oidcauth] Fix case-sensitivity of authorization header
  .chloggen/oicdauth-fix-case-auth-header.yaml
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
Labels: extension/oidcauth

#18864 [chore] downgrade clickhouse dependency
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
Labels: exporter/clickhouse, cmd/otelcontribcol

#18830 [receiver/opencensusreceiver]Use http constants to replace numbers
  receiver/opencensusreceiver/opencensus_test.go
Labels: Skip Changelog, receiver/opencensus

#18203 [receiver/snowflakereceiver] added more detailed readme
  .chloggen/snowflake_add_readme.yaml
  receiver/snowflakereceiver/README.md
  receiver/snowflakereceiver/config_test.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/snowflakereceiver/testdata/config.yaml
Labels: receiver/snowflake

#18828 [receiver/k8sobjects] improving watch reliability on recoverable issues
  .chloggen/k8sobjectsreceiver-improve-watch-reliability.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/config_test.go
  receiver/k8sobjectsreceiver/go.sum
  receiver/k8sobjectsreceiver/mock_dynamic_client_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/testdata/config_watch_resource_version.yaml
  receiver/k8sobjectsreceiver/testdata/invalid_pull_config.yaml
Labels: receiver/k8sobjects

#18833 {exporter/datadog,processor/datadog}: bump datadog-agent dependencies
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, processor/datadog

#18733 [pkg/ottl] Improve Statement execution error message
  pkg/ottl/parser.go
Labels: Skip Changelog, pkg/ottl

#18884 missed updates
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#18874 Upgrade lm-data-sdk-go dependency version to v0.8.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/go.sum
  exporter/logicmonitorexporter/logs_exporter.go
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, exporter/logicmonitor

#18862 [processor/filter] Update processor to log errors
  .chloggen/fp-log-errors.yaml
  processor/filterprocessor/logs.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/traces.go
Labels: processor/filter

#18887 [chore] bumping gh action + security recommendation deps
  .github/workflows/auto-assign-owners.yml
  .github/workflows/e2e-tests.yml
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
Labels: exporter/azuredataexplorer

#18876 [processor/k8sattribute] fix e2e flaky test
  processor/k8sattributesprocessor/e2e_test.go
Labels: processor/k8sattributes, Skip Changelog

#18693 [processor/transform] Add error mode to transformprocessor
  .chloggen/tp-error-mode.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform, pkg/ottl

#18723 Enabled proccessmetrics for MacOS
  .chloggen/procesmetricsmac.yaml
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_darwin.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_others.go
Labels: receiver/hostmetrics

#18614 [pkg/ottl] Support referencing matched capture groups in replace_pattern
  .chloggen/ottl-replace-capture-groups.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/ottl/ottlfuncs/func_replace_pattern_test.go
Labels: pkg/ottl

#18051 docs(receiver/hostmetrics/process): update descriptions of OS-specific metrics
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
Labels: Skip Changelog, receiver/hostmetrics

#18897 [processor/k8sattributes] [chore] Update docs for extract.metadata conf
  processor/k8sattributesprocessor/config.go
Labels: processor/k8sattributes

#18741 [pkg/telemetrygen] add support exporting log data
  .chloggen/telemetrygen-log-support.yaml
  cmd/telemetrygen/config.go
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/logs/worker_test.go
Labels: cmd/telemetrygen

#18730 Add EMF And Raw Log Support For Cloud Watch Logs
  .chloggen/awscloudwatchlogs-raw-log.yaml
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awscloudwatchlogsexporter/config.go
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
  internal/aws/cwlogs/pusher.go
  internal/aws/cwlogs/pusher_test.go
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/signalfx, receiver/signalfx, internal/aws, processor/datadog

#17265 Support exporting quantile for summary metrics
  .chloggen/support-export-quantiles-for-summary-metrics.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: ready to merge, exporter/awsemf

#18530 [spanmetrics] Move spanmetrics cfg validation to ConfigValidator#Validate.
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  processor/spanmetricsprocessor/config.go
  processor/spanmetricsprocessor/config_test.go
  processor/spanmetricsprocessor/processor.go
  processor/spanmetricsprocessor/processor_test.go
Labels: ready to merge, processor/spanmetrics, connector/spanmetrics

#18859 [processor/transform] Update transformprocessor to log errors
  .chloggen/tp-log-error.yaml
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/traces/processor.go
Labels: processor/transform

#18641 receiver_creator: don't embed endpoint field in unsupported configs
  .chloggen/rcendpointfieldcheck.yaml
  receiver/receivercreator/README.md
  receiver/receivercreator/config_expansion.go
  receiver/receivercreator/config_expansion_test.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/go.mod
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/observerhandler_test.go
  receiver/receivercreator/rules_test.go
  receiver/receivercreator/runner.go
  receiver/receivercreator/runner_test.go
Labels: ready to merge, receiver/receivercreator

#17830 [processor/resourcedetectionprocessor] Update the resource detection processor to support AWS Lambda
  .chloggen/aws-lambda-resource-detection-processor.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config_test.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/aws/lambda/lambda.go
  processor/resourcedetectionprocessor/internal/aws/lambda/lambda_test.go
  processor/resourcedetectionprocessor/testdata/config.yaml
Labels: processor/resourcedetection

#18907 [connectors/spanmetrics] Use `pmetric.Exemplar` instead of the custom-defined `exemplar` data structure.
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
Labels: ready to merge, Skip Changelog, connector/spanmetrics

#17350 [processor/servicegraph]add virtual node feature.
  .chloggen/service_graph_processor_add_virtual_node.yaml
  processor/servicegraphprocessor/README.md
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/internal/store/edge.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#18729 [receiver/file] add basic file reading capability 2/n
  .chloggen/filereceiver-2.yaml
  receiver/filereceiver/README.md
  receiver/filereceiver/factory.go
  receiver/filereceiver/file_reader.go
  receiver/filereceiver/file_reader_test.go
  receiver/filereceiver/go.mod
  receiver/filereceiver/receiver.go
  receiver/filereceiver/receiver_test.go
  receiver/filereceiver/testdata/metrics.json
Labels: ready to merge, receiver/file
