Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-04, with the labels that each got.

#18689 [receiver/googlecloudspanner] feat: table size stats
  .chloggen/googlecloudpsanner-table-size-stats.yaml
  receiver/googlecloudspannerreceiver/internal/metadataconfig/metadata.yaml
Labels: ready to merge, receiver/googlecloudspanner

#20327 [chore]add generated status to asapauthextension
  extension/asapauthextension/README.md
  extension/asapauthextension/doc.go
  extension/asapauthextension/factory.go
  extension/asapauthextension/internal/metadata/generated_status.go
  extension/asapauthextension/metadata.yaml
Labels: ready to merge, extension/asapauth

#20447 [receiver/hostmetrics] Fix expected errors in Windows tests
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: Skip Changelog, receiver/hostmetrics, Run Windows

#20519 [receiver/prometheus] Enable pkg.translator.prometheus.NormalizeName by default
  .chloggen/codeboten_beta-prom-normalize.yaml
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/prometheus_test.go
  pkg/translator/prometheus/README.md
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
  pkg/translator/prometheusremotewrite/number_data_points_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_metric_name_normalize_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: receiver/prometheus, exporter/prometheus, pkg/translator/prometheus

#20513 [exporter/splunkhec] Surface and fix "no data" issue with Splunk HEC exporter, add test towards dropped records case
  .chloggen/past_max_capacity.yaml
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
Labels: ready to merge, exporter/splunkhec

#20522 [exporter/instana] Preserve resource attributes in spans
  .chloggen/instana-exporter-preserve-resources.yaml
  exporter/instanaexporter/internal/converter/model/span.go
  exporter/instanaexporter/internal/converter/span_converter_test.go
Labels: ready to merge, exporter/instana

#20665 [receiver/sshcheck] Skip flaky TestScraper tests
  receiver/sshcheckreceiver/scraper_test.go
Labels: ready to merge, Skip Changelog, receiver/sshcheck

#20662 [CHORE] updating coralogix endpoints
  exporter/coralogixexporter/README.md
Labels: ready to merge, exporter/coralogix

#20536 [chore] update tests to use localhost
  exporter/prometheusexporter/end_to_end_test.go
  exporter/prometheusexporter/prometheus_test.go
Labels: exporter/prometheus

#20696 [chore] [receiver/prometheus] Remove an unused testdata file
  receiver/prometheusreceiver/testdata/openmetrics/bad_histograms_10/bad_histograms_6/metrics.txt
Labels: receiver/prometheus

#19763 [servicegraph] Check if virtual client nodes have orphan server spans
  .chloggen/client-virtual-node-orphan-check.yaml
  processor/servicegraphprocessor/internal/store/edge.go
  processor/servicegraphprocessor/internal/store/store.go
  processor/servicegraphprocessor/internal/store/store_test.go
  processor/servicegraphprocessor/processor.go
  processor/servicegraphprocessor/processor_test.go
Labels: processor/servicegraph

#19217 [receiver/loki] Add logic implementation
  .chloggen/add-lokireceiver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/loki/loki_to_otlp.go
  pkg/translator/loki/loki_to_otlp_test.go
  receiver/lokireceiver/config_test.go
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/lokireceiver/internal/push.go
  receiver/lokireceiver/internal/unmarshal.go
  receiver/lokireceiver/internal/util.go
  receiver/lokireceiver/loki.go
  receiver/lokireceiver/loki_test.go
Labels: exporter/loki, cmd/configschema, pkg/translator/loki, receiver/loki

#20668 [chore] remove use of foresight
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  Makefile
  Makefile.Common
  testbed/runtests.sh
Labels: testbed

#20658 [exporter/coralogixexporter] Update codeowners
  .github/CODEOWNERS
Labels: Skip Changelog

#20699 [chore] test all expected batches rather than expect they are all in order
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#20427 [chore] [processor/k8sattributes] Rework Kubernetes e2e tests
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e/k8s/collector-helm-values.yml
  .github/workflows/e2e/k8s/telemetrygen-daemonset.yml
  .github/workflows/e2e/k8s/telemetrygen-job.yml
  .github/workflows/e2e/k8s/telemetrygen-statefulset.yml
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.sum
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/testdata/e2e/collector/clusterrole.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/clusterrolebinding.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/service.yaml
  processor/k8sattributesprocessor/testdata/e2e/collector/serviceaccount.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/daemonset.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/job.yaml
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/statefulset.yaml
Labels: exporter/datadog, processor/k8sattributes, cmd/telemetrygen, cmd/configschema, cmd/otelcontribcol

#20721 [receiver/fluentforward] Fix performance degradation
  .chloggen/ffr-fix-performance.yaml
  receiver/fluentforwardreceiver/collector.go
Labels: receiver/fluentforward

#20717 [processor/cumulativetodelta] Remove stable gate
  .chloggen/ctd-remove-gate.yaml
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/processor.go
Labels: processor/cumulativetodelta

#20726 [chore] [exporter/spliunkhec] Resolve todos in test
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#20655 [receiver/mongodbreceiver]: fix faulty integration test
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/testdata/integration/expected.2_6.yaml
  receiver/mongodbreceiver/testdata/integration/expected.3_0.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_0.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_2.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_4.lpu.yaml
  receiver/mongodbreceiver/testdata/integration/expected.5_0.yaml
Labels: Skip Changelog, receiver/mongodb

#20653 [exporter/splunkhec] set a default of 10s for idle connection timeout
  .chloggen/allow-to-configure-idle-conn-timeout.yaml
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
Labels: exporter/splunkhec

#20698 Replace flaky test in sshcheckreceiver
  receiver/sshcheckreceiver/go.mod
  receiver/sshcheckreceiver/go.sum
  receiver/sshcheckreceiver/scraper_test.go
Labels: Skip Changelog, receiver/sshcheck

#20483 [receiver/k8scluster] Use newer v2 HorizontalPodAutoscaler for Kubern…
  .chloggen/fix-k8scluster-use-v2-horizontalpodautoscaler.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/hpa/hpa.go
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/receiver_test.go
Labels: receiver/k8scluster

#20748 Fixed an error in the readme of awskinesisexporter
  exporter/awskinesisexporter/README.md
Labels: Skip Changelog, exporter/awskinesis

#20758 [chore] [receiver/receivercreator] Remove OC data model usage from tests
  receiver/receivercreator/go.mod
  receiver/receivercreator/go.sum
  receiver/receivercreator/receiver_test.go
Labels: receiver/receivercreator

#20749 [pkg/stanza] Fix issue where partial fingerprint could be matched to additional files
  .chloggen/pkg-stanza-fix-stale-fingerprint.yaml
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#20671 [exporter/azuremonitor] Export metric attributes to Azure Monitor
  .chloggen/export-metric-dimensions.yaml
  exporter/azuremonitorexporter/contracts_utils.go
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/metric_to_envelopes.go
  exporter/azuremonitorexporter/metricexporter_test.go
Labels: exporter/azuremonitor

#20538 Fix hostmetricsreceiver/processscraper tests to work for darwin
  .chloggen/update-processmetrics-tests-darwin.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics

#19416 [exporter/awsxray] Add opt-in telemetry for X-Ray receiver/exporter.
  .chloggen/add-put-telemetry-records.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/awsxray.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/config.go
  exporter/awsxrayexporter/factory.go
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/telemetry/config.go
  internal/aws/xray/telemetry/nop_sender.go
  internal/aws/xray/telemetry/nop_sender_test.go
  internal/aws/xray/telemetry/recorder.go
  internal/aws/xray/telemetry/recorder_test.go
  internal/aws/xray/telemetry/registry.go
  internal/aws/xray/telemetry/registry_test.go
  internal/aws/xray/telemetry/sender.go
  internal/aws/xray/telemetry/sender_test.go
  internal/aws/xray/telemetry/telemetrytest/nop_registry.go
  internal/aws/xray/telemetry/telemetrytest/nop_registry_test.go
  internal/aws/xray/telemetry/telemetrytest/sender_sink.go
  internal/aws/xray/telemetry/telemetrytest/sender_sink_test.go
  internal/aws/xray/xray_client.go
  internal/aws/xray/xray_client_test.go
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/awsxrayreceiver/internal/translator/translator.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/awsxrayreceiver/receiver.go
Labels: ready to merge, exporter/awsxray, receiver/awsxray, internal/aws

#19204 [exporter/awsxray] Fix DynamoDB table name translation
  .chloggen/xray-exporter-dynamodb-translation-fix.yaml
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  internal/aws/xray/tracesegment.go
Labels: ready to merge, exporter/awsxray, internal/aws

#20714 [exporter/loki] Remove deprecated configuration parameters
  .chloggen/loki-remove-deprecated-parameters.yaml
  exporter/lokiexporter/README.md
  exporter/lokiexporter/config.go
  exporter/lokiexporter/config_deprecated.go
  exporter/lokiexporter/config_test.go
  exporter/lokiexporter/exporter.go
  exporter/lokiexporter/exporter_test.go
  exporter/lokiexporter/factory.go
  exporter/lokiexporter/factory_deprecated.go
  exporter/lokiexporter/factory_next.go
  exporter/lokiexporter/factory_test.go
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/legacy_config_test.go
  exporter/lokiexporter/legacy_exporter.go
  exporter/lokiexporter/legacy_exporter_test.go
  exporter/lokiexporter/legacy_factory_test.go
  exporter/lokiexporter/testdata/config_legacy.yaml
  exporter/lokiexporter/time.go
Labels: exporter/loki

#20775 [chore] [pkg/stanza] Fix closing file error message
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#20772 [connector/spanmetrics] spanmetrics connector support exemplar
  .chloggen/k8sattribute-missing-attributes.yaml
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: connector/spanmetrics

#20548 [pkg/stanza] fix eventData format for Windows events
  .chloggen/feat_stanza_windowsinput_eventdata-map.yaml
  pkg/stanza/operator/input/windows/testdata/xmlSample.xml
  pkg/stanza/operator/input/windows/xml.go
  pkg/stanza/operator/input/windows/xml_test.go
Labels: pkg/stanza

#18881 [receiver/mongodbatlasreceiver] added `mongodb_atlas.user.alias` attribute, the user-friendly hostname of the cluster node as displayed in the Atlas portal.
  .chloggen/mongodbatlasreceiver-add-attribute.yaml
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/receiver.go
Labels: receiver/mongodbatlas

#20757 [exporter/datadog] Reduce log level of retriable errors to Debug level
  .chloggen/datadog-reduce-error-logs.yaml
  exporter/datadogexporter/internal/clientutil/retrier.go
Labels: exporter/datadog

#20861 [pkg/ottl] Move common function to top-level internal
  pkg/ottl/contexts/internal/ids.go
  pkg/ottl/contexts/internal/ids_test.go
  pkg/ottl/contexts/internal/metric.go
  pkg/ottl/contexts/internal/metric_test.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/internal/ottlcommon/map.go
  pkg/ottl/internal/ottlcommon/value.go
Labels: Skip Changelog, pkg/ottl

#20859 [chore] remove unnecessary replace
  exporter/opencensusexporter/go.mod
  exporter/opencensusexporter/go.sum
  processor/spanmetricsprocessor/go.mod
  processor/spanmetricsprocessor/go.sum
Labels: ready to merge, processor/spanmetrics, exporter/opencensus

#20756 [exporter/googlecloud] Update GCP exporter docs for better auth examples [chore]
  exporter/googlecloudexporter/README.md
Labels: exporter/googlecloud

#20725 [exporter/sumologic] use generated status header
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/internal/metadata/generated_status.go
  exporter/sumologicexporter/metadata.yaml
Labels: Skip Changelog, exporter/sumologic

#20342 [all][chore] Run govulncheck scan separately
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#20340 processor/k8sattributesprocessor: map containers by ID
  .chloggen/gbbr_container-id.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: processor/k8sattributes

#20278 [receiver/filestats] new component filestatsreceiver
  .chloggen/new_component_filestatsreceiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  receiver/filestatsreceiver/Makefile
  receiver/filestatsreceiver/README.md
  receiver/filestatsreceiver/config.go
  receiver/filestatsreceiver/config_test.go
  receiver/filestatsreceiver/doc.go
  receiver/filestatsreceiver/documentation.md
  receiver/filestatsreceiver/factory.go
  receiver/filestatsreceiver/go.mod
  receiver/filestatsreceiver/go.sum
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/filestatsreceiver/internal/metadata/generated_status.go
  receiver/filestatsreceiver/internal/metadata/testdata/config.yaml
  receiver/filestatsreceiver/metadata.yaml
  versions.yaml
Labels: Accepted Component

#20866 [chore]fix filestats receiver imports
  .github/dependabot.yml
  receiver/filestatsreceiver/go.mod
  receiver/filestatsreceiver/go.sum
Labels: receiver/filestats

#20742 [pkg/stanza] fix recombine operator timeout issue (#20451)
  .chloggen/fixrecombinetimeout.yaml
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#20872 exporter/datadogexporter: Remove usage of deprecated function WithPreviewHostnameFromAttributes.
  .chloggen/datadogexporter-use-min-max-histograms.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/internal/logs/translator.go
  exporter/datadogexporter/metrics_exporter.go
  go.mod
  go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, receiver/azureeventhub, exporter/azuredataexplorer

#20880 [pkg/stanza] Skip flaky test
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: ready to merge, Skip Changelog, pkg/stanza

#20878 [connector/count] Update to use filterottl
  connector/countconnector/config.go
  connector/countconnector/factory.go
  connector/countconnector/ottl.go
Labels: Skip Changelog, connector/count

#20886 Remove amenasria from CODEOWNERS
  .github/CODEOWNERS
Labels: Skip Changelog

#20853 [receiver/loki] Enable component
  .chloggen/enable-loki-reciver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/receivers_test.go
  go.mod
  go.sum
  internal/components/components.go
  receiver/lokireceiver/README.md
Labels: cmd/configschema, cmd/otelcontribcol, receiver/loki

#20884 fix the flaky test (#20877)
  .chloggen/fixflakytest.yaml
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#20881 [chore] Update contributing components guidelines
  CONTRIBUTING.md
Labels: Skip Changelog

#20873 [receiver/splunkhecreceiver] make splunk_hec receiver healthcheck mimic the real Splunk HEC behaviour
  .chloggen/mimic-hec-healthcheck-endpoint.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: ready to merge, receiver/splunkhec

#20752 [exporter/splunkhec] Implement maxEventSize on exporter side
  .chloggen/max_event_size.yaml
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
Labels: ready to merge, exporter/splunkhec

#20723 [exporter/tencent] use generated status header
  exporter/tencentcloudlogserviceexporter/README.md
  exporter/tencentcloudlogserviceexporter/factory.go
  exporter/tencentcloudlogserviceexporter/internal/metadata/generated_status.go
  exporter/tencentcloudlogserviceexporter/metadata.yaml
Labels: Skip Changelog, exporter/tencentcloudlogservice

#20916 [chore] Add extra test to loki translator
  pkg/translator/loki/logs_to_loki_test.go
Labels: pkg/translator/loki

#20915 Nitpick on language use for tenant label ambiguity
  exporter/lokiexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/loki

#20923 exporter/datadogexporter: update github.com/DataDog/datadog-agent/pkg/trace.
  .chloggen/datadog-container-tags-payload.yaml
  .chloggen/datadog-exporter-span-links-support.yaml
  .chloggen/datadog-fix-hostname-issue.yaml
  .chloggen/datadog-semconv-1.17.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol

#21028 [processor/attributes] use generated header
  processor/attributesprocessor/README.md
  processor/attributesprocessor/config_test.go
  processor/attributesprocessor/doc.go
  processor/attributesprocessor/factory.go
  processor/attributesprocessor/factory_test.go
  processor/attributesprocessor/internal/metadata/generated_status.go
  processor/attributesprocessor/metadata.yaml
Labels: ready to merge, processor/attributes, Skip Changelog

#21030 [processor/filter] use generated header
  processor/filterprocessor/README.md
  processor/filterprocessor/config_test.go
  processor/filterprocessor/doc.go
  processor/filterprocessor/factory.go
  processor/filterprocessor/internal/metadata/generated_status.go
  processor/filterprocessor/metadata.yaml
Labels: ready to merge, processor/filter, Skip Changelog

#21035 [chore] Make prometheus tests pass with the new library
  exporter/prometheusexporter/collector_test.go
Labels: exporter/prometheus

#20903 [receiver/prometheusreceiver] Add version and name to metrics
  .chloggen/prometheus-version-name-in-metrics.yaml
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: receiver/prometheus

#20889 [receiver/prometheusreceiver] Fix TestStalenessMarkersEndToEnd
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
Labels: Skip Changelog, receiver/prometheus

#21031 [pkg/stanza] panic when converting empty trace_flags []byte
  .chloggen/stanza_converter_panic.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#21038 [chore] add @JaredTan95 as triager
  README.md
Labels: Skip Changelog

#21051 [chore] [pkg/stanza] Fix BenchmarkConverter test
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#21056 [processor/deltatorate] Use generated headers
  processor/deltatorateprocessor/README.md
  processor/deltatorateprocessor/config_test.go
  processor/deltatorateprocessor/doc.go
  processor/deltatorateprocessor/factory.go
  processor/deltatorateprocessor/internal/metadata/generated_status.go
  processor/deltatorateprocessor/metadata.yaml
Labels: Skip Changelog, processor/deltatorate

#21059 [chore] [receiver/riak] Fix integration test
  receiver/riakreceiver/integration_test.go
  receiver/riakreceiver/testdata/integration/expected.yaml
Labels: receiver/riak

#21062 [processor/groupbytrace] Update to use generated status
  processor/groupbytraceprocessor/README.md
  processor/groupbytraceprocessor/doc.go
  processor/groupbytraceprocessor/factory.go
  processor/groupbytraceprocessor/internal/metadata/generated_status.go
  processor/groupbytraceprocessor/metadata.yaml
  processor/groupbytraceprocessor/metrics.go
Labels: Skip Changelog, processor/groupbytrace

#21061 [processor/groupbyattrs] Update to use generated status
  processor/groupbyattrsprocessor/README.md
  processor/groupbyattrsprocessor/config_test.go
  processor/groupbyattrsprocessor/doc.go
  processor/groupbyattrsprocessor/factory.go
  processor/groupbyattrsprocessor/internal/metadata/generated_status.go
  processor/groupbyattrsprocessor/metadata.yaml
  processor/groupbyattrsprocessor/metrics.go
Labels: ready to merge, Skip Changelog, processor/groupbytrace, processor/groupbyattrs

#20426 Add heartbeating in SplunkHECExporter
  .chloggen/splunkhecexporter-add-heartbeat.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/heartbeat.go
  exporter/splunkhecexporter/heartbeat_test.go
  exporter/splunkhecexporter/testdata/config.yaml
Labels: exporter/splunkhec

#21057 [chore] [pkg/stanza] Improve performance of HashResource
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
Labels: receiver/journald, receiver/filelog, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile

#21093 [receiver/snmp] Skip flaky test
  receiver/snmpreceiver/integration_test.go
Labels: Skip Changelog, receiver/snmp

#21089 processor/datadogprocessor: update github.com/DataDog/datadog-agent/pkg/trace
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: Skip Changelog, processor/datadog

#20737 [chore] update usage of env var
  exporter/datadogexporter/examples/collector.yaml
  exporter/sapmexporter/examples/signalfx-collector.yaml
  exporter/sapmexporter/examples/signalfx-k8s.yaml
  extension/basicauthextension/README.md
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/config.go
  processor/k8sattributesprocessor/testdata/e2e/collector/configmap.yaml
  receiver/kubeletstatsreceiver/README.md
Labels: receiver/kubeletstats, exporter/sapm

#18515 Cassandra exporter implementation
  .chloggen/cassandra-exporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/cassandraexporter/Makefile
  exporter/cassandraexporter/README.md
  exporter/cassandraexporter/config.go
  exporter/cassandraexporter/config_test.go
  exporter/cassandraexporter/constants.go
  exporter/cassandraexporter/example/otel-collector-config.yml
  exporter/cassandraexporter/exporter_logs.go
  exporter/cassandraexporter/exporter_traces.go
  exporter/cassandraexporter/factory.go
  exporter/cassandraexporter/factory_test.go
  exporter/cassandraexporter/go.mod
  exporter/cassandraexporter/go.sum
  exporter/cassandraexporter/helper.go
  exporter/cassandraexporter/testdata/config.yaml
  go.mod
  go.sum
  internal/components/components.go
  versions.yaml
Labels: ready to merge, Accepted Component, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol

#20899 [pkg/stanza/operator/transformer/recombine] fix the flaky test(#20877)
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: Skip Changelog, pkg/stanza

#20852 [receiver/journald]: add support for `matches` configuration
  .chloggen/drosiek-journald-matches.yaml
  pkg/stanza/docs/operators/journald_input.md
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/journald/journald_test.go
  receiver/journaldreceiver/README.md
Labels: receiver/journald, pkg/stanza

#21084 [chore] lokireceiver. update to use generated header
  receiver/lokireceiver/README.md
  receiver/lokireceiver/config_test.go
  receiver/lokireceiver/factory.go
  receiver/lokireceiver/internal/metadata/generated_status.go
  receiver/lokireceiver/metadata.yaml
Labels: ready to merge, Skip Changelog, receiver/loki

#21083 [chore] lokiexporter update to use use generated status
  exporter/lokiexporter/README.md
  exporter/lokiexporter/config_test.go
  exporter/lokiexporter/factory.go
  exporter/lokiexporter/internal/metadata/generated_status.go
  exporter/lokiexporter/metadata.yaml
Labels: ready to merge, exporter/loki

#21053 [chore] [pkg/stanza] Simplify Converter worker loop
  pkg/stanza/adapter/converter.go
Labels: pkg/stanza, Run Windows

#21118 [chore] [receiver/elasticsearch] Skip flaky integration tests
  receiver/elasticsearchreceiver/integration_test.go
Labels: receiver/elasticsearch

#20894 [receiver/vcenter] add vcenter vm cpu usage metrics
  .chloggen/vm_cpu.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/README.md
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/internal/mockserver/responses/vm-properties.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#18898 Azure monitor scraper
  .chloggen/azure_monitor_receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/receivers_test.go
  go.mod
  go.sum
  internal/components/components.go
  receiver/azuremonitorreceiver/Makefile
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/doc.go
  receiver/azuremonitorreceiver/documentation.md
  receiver/azuremonitorreceiver/factory.go
  receiver/azuremonitorreceiver/factory_test.go
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/internal/metadata/generated_status.go
  receiver/azuremonitorreceiver/internal/metadata/metrics.go
  receiver/azuremonitorreceiver/internal/metadata/metrics_test.go
  receiver/azuremonitorreceiver/internal/metadata/testdata/config.yaml
  receiver/azuremonitorreceiver/metadata.yaml
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_golden.yaml
  versions.yaml
Labels: Accepted Component, cmd/configschema, cmd/otelcontribcol

#20864 [pkg/stanza] Add an option to resend logs instead of dropping
  .chloggen/filelog-receiver-retry.yaml
  internal/coreinternal/consumerretry/config.go
  internal/coreinternal/consumerretry/logs.go
  internal/coreinternal/consumerretry/logs_test.go
  internal/coreinternal/consumerretry/testutil.go
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  pkg/stanza/adapter/config.go
  pkg/stanza/adapter/factory.go
  pkg/stanza/adapter/mocks_test.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/README.md
  receiver/filelogreceiver/filelog.go
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/README.md
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/journaldreceiver/journald.go
  receiver/journaldreceiver/journald_test.go
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/syslogreceiver/README.md
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/syslogreceiver/syslog.go
  receiver/syslogreceiver/syslog_test.go
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/README.md
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
  receiver/windowseventlogreceiver/receiver_windows.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, processor/spanmetrics, receiver/journald, exporter/clickhouse, receiver/aerospike, receiver/dockerstats, receiver/filelog, exporter/loki, exporter/azuremonitor, receiver/elasticsearch, exporter/tanzuobservability, exporter/prometheusremotewrite, processor/logstransform, cmd/configschema, cmd/otelcontribcol, exporter/awsemf, exporter/file, exporter/jaeger, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/jaegerthrifthttp, exporter/skywalking, exporter/sapm, exporter/sentry, exporter/prometheus, exporter/zipkin, exporter/tencentcloudlogservice, exporter/opencensus, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, receiver/apache, receiver/flinkmetrics, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub, exporter/instana, exporter/azuredataexplorer, internal/core, Run Windows, exporter/logicmonitor, cmd/oteltestbedcol, exporter/cassandra

#20314 Add support AWS Embedded Metric Format Version 0
  .chloggen/add-support-emf-version-0.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/factory.go
  exporter/awsemfexporter/metric_declaration.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsemfexporter/testdata/config.yaml
  exporter/awsemfexporter/testdata/testTranslateCWMetricToEMF.json
Labels: ready to merge, exporter/awsemf

#21164 [chore] [receiver/bigip] switched to autogenerated status
  receiver/bigipreceiver/README.md
  receiver/bigipreceiver/factory.go
  receiver/bigipreceiver/internal/metadata/generated_status.go
  receiver/bigipreceiver/metadata.yaml
Labels: receiver/bigip

#20732 [receiver/filelog][pkg/stanza] Prevent a lot of errors on windows if the path contains Junction
  .chloggen/filelogreceiver-fix-windows-symlinks.yaml
  pkg/stanza/fileconsumer/attributes.go
Labels: pkg/stanza

#21178 [chore] [receiver/couchdb] switched to autogenerated status
  receiver/couchdbreceiver/README.md
  receiver/couchdbreceiver/factory.go
  receiver/couchdbreceiver/internal/metadata/generated_status.go
  receiver/couchdbreceiver/metadata.yaml
Labels: receiver/couchdb

#21195 Revert "[receiver/filelog][pkg/stanza] Prevent a lot of errors on windows if the path contains Junction"
  .chloggen/filelogreceiver-fix-windows-symlinks.yaml
  pkg/stanza/fileconsumer/attributes.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#20251 [resourcedetectionprocessor] Update README for AWS detector when instance is part of AWS Parallel Cluster
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog, processor/resourcedetection

#21191 [chore] [receiver/elasticsearch] switched to autogenerate status
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/factory.go
  receiver/elasticsearchreceiver/internal/metadata/generated_status.go
  receiver/elasticsearchreceiver/metadata.yaml
Labels: receiver/elasticsearch

#21192 [chore] [receiver/flinkmetrics] switched to autogenerate status
  receiver/flinkmetricsreceiver/README.md
  receiver/flinkmetricsreceiver/factory.go
  receiver/flinkmetricsreceiver/internal/metadata/generated_status.go
  receiver/flinkmetricsreceiver/metadata.yaml
Labels: receiver/flinkmetrics

#21208 [chore] [receiver/couchbase] cleaned README
  receiver/couchdbreceiver/README.md
Labels: receiver/couchdb

#21117 [chore] fix: using replace_all_patterns on logs makes attributes values empty
  .chloggen/fix-func-replace-all-patterns.yaml
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
Labels: pkg/ottl

#21227 [processor/filter] Minor changes to the OTTL section of the filter processor readme
  processor/filterprocessor/README.md
Labels: processor/filter, Skip Changelog

#21189 [chore] exporter/loki: update README
  exporter/lokiexporter/README.md
Labels: exporter/loki

#21219 [receiver/filelog][pkg/stanza] Prevent a lot of errors on windows if the path contains Junction
  .chloggen/filelogreceiver-fix-windows-symlinks.yaml
  pkg/stanza/fileconsumer/attributes.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/operator/input/file/file_test.go
Labels: ready to merge, pkg/stanza, Run Windows

#21232 [chore] [receiver/mongodb] added status metadata
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/factory.go
  receiver/mongodbreceiver/internal/metadata/generated_status.go
  receiver/mongodbreceiver/metadata.yaml
Labels: receiver/mongodb

#21181 [receiver/mongodbatlas] Fix disk usage & utilization metrics & drop one duplicate metric definition
  .chloggen/mongodbatlas-disk-metrics.yaml
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/metric_name_mapping.go
  receiver/mongodbatlasreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbatlasreceiver/metadata.yaml
Labels: receiver/mongodbatlas

#21171 [receiver/mongodbatlas] Add Cluster Name resource attribute
  .chloggen/mongodbatlas-cluster.yaml
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/receiver.go
Labels: receiver/mongodbatlas

#20656 [signalfxexporter] disk.utilization and disk.summary_utilization now matches the df command by only counting non-root usage.
  .chloggen/signalfx-exporter-disk.utilization-rule.yaml
  exporter/signalfxexporter/internal/translation/constants.go
Labels: ready to merge, exporter/signalfx

#18487 [cmd/mdatagen] support map and slice attrs
  .chloggen/mdatagenSupportMapAndSliceAttrs.yaml
  cmd/mdatagen/documentation.md
  cmd/mdatagen/internal/metadata/generated_metrics.go
  cmd/mdatagen/internal/metadata/generated_metrics_test.go
  cmd/mdatagen/internal/metadata/testdata/config.yaml
  cmd/mdatagen/loader.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/metadata.yaml
  cmd/mdatagen/metric-metadata.yaml
  cmd/mdatagen/templates/metrics.go.tmpl
  cmd/mdatagen/templates/metrics_test.go.tmpl
Labels: ready to merge, cmd/mdatagen

#21259 [chore] add status metadata to sapmexporter
  exporter/sapmexporter/README.md
  exporter/sapmexporter/config_test.go
  exporter/sapmexporter/doc.go
  exporter/sapmexporter/factory.go
  exporter/sapmexporter/internal/metadata/generated_status.go
  exporter/sapmexporter/metadata.yaml
Labels: exporter/sapm
