Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-11, with the labels that each got.

#28689 [encoding/zipkinencodingextension] add default case
  .chloggen/bugfix-zipkin-encoding.yaml
  extension/encoding/zipkinencodingextension/extension.go
  extension/encoding/zipkinencodingextension/extension_test.go
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/go.sum
Labels: extension/encoding, extension/encoding/zipkinencoding

#28840 [chore] Upgrade cloud.google.com/go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  go.mod
  go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/go.sum
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
Labels: exporter/datadog, processor/k8sattributes, exporter/loadbalancing, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, exporter/googlecloudpubsub, receiver/googlecloudspanner, receiver/googlecloudpubsub, processor/servicegraph

#28844 Update README.md
  exporter/prometheusremotewriteexporter/README.md
Labels: documentation, Skip Changelog, exporter/prometheusremotewrite

#28616 exporter/datadog: disable APM stats via feature flag
  .chloggen/gbbr_nostats.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/traces_exporter.go
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: ready to merge, exporter/datadog, processor/spanmetrics, receiver/jmx, cmd/telemetrygen, receiver/kubeletstats, processor/routing, cmd/configschema, cmd/otelcontribcol, exporter/skywalking, exporter/coralogix, exporter/opencensus, receiver/jaeger, receiver/opencensus, receiver/skywalking, receiver/k8scluster, receiver/k8sobjects, processor/datadog, receiver/loki, internal/datadog, connector/datadog

#28627 [receiver/zipkin] follow receiver contract
  .chloggen/update-zipkin-permanent.yaml
  receiver/zipkinreceiver/trace_receiver.go
  receiver/zipkinreceiver/trace_receiver_test.go
Labels: ready to merge, receiver/zipkin

#27259 [receiver/wavefront] wrap metrics receiver under carbon receiver instead of using export function
  .chloggen/fix-wavefront-metric-factory.yaml
  receiver/wavefrontreceiver/factory.go
  receiver/wavefrontreceiver/receiver.go
Labels: ready to merge, receiver/wavefront

#28838 [processor/k8sattributes] Fix node/ns labels/annotations extraction
  .chloggen/k8s-attrs-fix-ns-node-labels-annotation-setting.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: processor/k8sattributes

#27874 [processor/remoteobserver] rename to remotetapprocessor
  .chloggen/rename_remoteobserverprocessor.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/processors_test.go
  processor/remotetapprocessor/Makefile
  processor/remotetapprocessor/README.md
  processor/remotetapprocessor/channelset.go
  processor/remotetapprocessor/channelset_test.go
  processor/remotetapprocessor/config.go
  processor/remotetapprocessor/config_test.go
  processor/remotetapprocessor/doc.go
  processor/remotetapprocessor/factory.go
  processor/remotetapprocessor/factory_test.go
  processor/remotetapprocessor/go.mod
  processor/remotetapprocessor/go.sum
  processor/remotetapprocessor/internal/metadata/generated_status.go
  processor/remotetapprocessor/metadata.yaml
  processor/remotetapprocessor/processor.go
  processor/remotetapprocessor/server_test.go
  versions.yaml
Labels: ready to merge, cmd/otelcontribcol

#28671 [Spanmetrics] - Add exemplars to Sum metrics
  .chloggen/span-metrics-add-exemplars-to-sum-metric.yaml
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: enhancement, connector/spanmetrics

#28855 [chore] fix codeowners
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#27836 feat(alertmanager): Add exporter factory and config
  .chloggen/new-exporter-alertmanagerexporter.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  exporter/alertmanagerexporter/Makefile
  exporter/alertmanagerexporter/README.md
  exporter/alertmanagerexporter/alertmanager_exporter.go
  exporter/alertmanagerexporter/config.go
  exporter/alertmanagerexporter/config_test.go
  exporter/alertmanagerexporter/doc.go
  exporter/alertmanagerexporter/factory.go
  exporter/alertmanagerexporter/factory_test.go
  exporter/alertmanagerexporter/go.mod
  exporter/alertmanagerexporter/go.sum
  exporter/alertmanagerexporter/internal/metadata/generated_status.go
  exporter/alertmanagerexporter/metadata.yaml
  exporter/alertmanagerexporter/testdata/config.yaml
  versions.yaml
Labels: cmd/otelcontribcol

#26115 Adds duration sampler distinct from latency in supplying two bounds
  .chloggen/bounded_duration_sampler.yaml
  .gitignore
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/and_helper_test.go
  processor/tailsamplingprocessor/composite_helper_test.go
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/internal/sampling/latency.go
  processor/tailsamplingprocessor/internal/sampling/latency_test.go
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#28646 [chore][pkg/stanza] Adjust length of knownFiles based on number of matches
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog, pkg/stanza

#28836 [chore][exporter/datadog] Add a section about how to switch to Zorkian
  exporter/datadogexporter/README.md
Labels: documentation, ready to merge, exporter/datadog

#27201 [cmd/telemetrygen] Use exporter per worker for better metrics throughput
  .chloggen/telemetrygen-add-exporter-per-worker.yaml
  cmd/telemetrygen/README.md
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/worker.go
  cmd/telemetrygen/internal/metrics/worker_test.go
Labels: cmd/telemetrygen

#28864 [scraper/processscraper] Fix TestScrapeMetrics_MuteErrorFlags failures on windows and darwin
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: Skip Changelog, receiver/hostmetrics, Run Windows

#28858 [chore][testbed] Do not use export function `carbonreceiver.New`
  testbed/datareceivers/carbon.go
Labels: testbed

#28869 [chore] update codeowners
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#28834 [receiver/sshcheck] Change keyfile -> key_file in e.g. config and docs
  .chloggen/sshcheckreceiver-fix-key_file-config-27035.yaml
  receiver/sshcheckreceiver/README.md
  receiver/sshcheckreceiver/config.go
  receiver/sshcheckreceiver/config_test.go
  receiver/sshcheckreceiver/testdata/config.yaml
Labels: receiver/sshcheck

#28874 [chore] [extension/jaegerremotesampling] Avoid port conflict in tests
  extension/jaegerremotesampling/internal/jaegerremotesamplingdeprecated/extension_test.go
Labels: extension/jaegerremotesampling

#28854 [exporter/azuremonitor] Add Connection String Support to Azure Monitor Exporter
  .chloggen/add-connection-string-azure-monitor-exporter.yaml
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/config.go
  exporter/azuremonitorexporter/config_test.go
  exporter/azuremonitorexporter/connection_string_parser.go
  exporter/azuremonitorexporter/connection_string_parser_test.go
  exporter/azuremonitorexporter/factory.go
  exporter/azuremonitorexporter/factory_test.go
  exporter/azuremonitorexporter/testdata/config.yaml
Labels: exporter/azuremonitor, cmd/otelcontribcol

#27232 [exporter/awsxray] Add aws sdk http error events to x-ray subsegment and strip prefix `AWS.SDK.` from aws remote service name
  .chloggen/add-aws-http-error-event.yaml
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
Labels: exporter/awsxray

#28872 [receiver/carbon] do not expose method
  .chloggen/carbonreceiver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/carbonreceiver/factory.go
  receiver/carbonreceiver/receiver.go
  receiver/carbonreceiver/receiver_test.go
Labels: ready to merge, receiver/carbon

#28880 [chore] update testbed to embed jaeger exporter
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  testbed/datasenders/jaeger.go
  testbed/go.mod
  testbed/go.sum
Labels: cmd/oteltestbedcol, testbed

#28824 Make replication stats return whole number
  .chloggen/replication-stats-conversion-failure.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows.go
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_precise_lag.yaml
Labels: receiver/hostmetrics, receiver/postgresql

#28884 Retract googlecloud exporter releases that don't have logging
  exporter/googlecloudexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.mod
Labels: Skip Changelog, exporter/googlecloud, exporter/googlemanagedprometheus

#28859 [chore] Increase Cache Go step timeout to 25min on Windows
  .github/workflows/build-and-test-windows.yml
Labels: Run Windows

#28996 [exporter/datadog] fix(docs): typo with especially
  exporter/datadogexporter/README.md
Labels: documentation, exporter/datadog, Skip Changelog

#28998 Bump github.com/google/cadvisor from 0.47.3 to 0.48.1 in /receiver/awscontainerinsightreceiver
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux_test.go
Labels: Skip Changelog, receiver/awscontainerinsight, cmd/configschema, cmd/otelcontribcol

#28903 [receiver/kafkametrics] Using unique container networks and container names and attempt to fix flaky tests
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/integration_test.go
Labels: Skip Changelog, receiver/kafkametrics

#29014 [chore][processort/tailsamplingprocessor] Limit concurrency for certain tests (flay test on Windows runners)
  processor/tailsamplingprocessor/internal/idbatcher/id_batcher_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#26258 Codesmon/exporter/azuremonitor/persistent queue
  .chloggen/codesmon_exporter_azuremonitor_persistent_queue.yaml
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/config.go
  exporter/azuremonitorexporter/config_test.go
  exporter/azuremonitorexporter/factory.go
  exporter/azuremonitorexporter/logexporter.go
  exporter/azuremonitorexporter/metricexporter.go
  exporter/azuremonitorexporter/testdata/config.yaml
  exporter/azuremonitorexporter/traceexporter.go
Labels: ready to merge, exporter/azuremonitor

#28997 [receiver/collectd] move collectdreceiver to beta
  .chloggen/collectdreceiver-beta.yaml
  receiver/collectdreceiver/README.md
  receiver/collectdreceiver/internal/metadata/generated_status.go
  receiver/collectdreceiver/metadata.yaml
Labels: receiver/collectd

#29073 [exporter/influxdb] Remove //nolint indent-error-flow
  exporter/influxdbexporter/writer.go
Labels: Skip Changelog, exporter/influxdb, Contribfest

#29075 hostmetricsreceiver: remove unused function
  receiver/hostmetricsreceiver/factory.go
Labels: Skip Changelog, receiver/hostmetrics, Contribfest

#27086 [receiver/dockerstats] rename struct and function to keep expected receiver.Factory and pass checkapi
  cmd/checkapi/allowlist.txt
  receiver/dockerstatsreceiver/factory.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/receiver_test.go
Labels: ready to merge, Skip Changelog, receiver/dockerstats

#28835 [receiver/mongodbatlasreceiver] add provider resource attributes
  .chloggen/mongodbatlasreceiver-add-provider-resource-attributes.yaml
  receiver/mongodbatlasreceiver/access_logs.go
  receiver/mongodbatlasreceiver/access_logs_integration_test.go
  receiver/mongodbatlasreceiver/access_logs_test.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbatlasreceiver/internal/metadata/generated_config.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_config_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_resource.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_resource_test.go
  receiver/mongodbatlasreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
  receiver/mongodbatlasreceiver/receiver.go
  receiver/mongodbatlasreceiver/testdata/accesslogs/golden/retrieved-logs.yaml
Labels: receiver/mongodbatlas

#28902 [exporter/syslog] Enable component
  .chloggen/enable_syslog_exporter.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  exporter/syslogexporter/README.md
  exporter/syslogexporter/internal/metadata/generated_status.go
  exporter/syslogexporter/metadata.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, exporter/syslog

#28889 [chore][pkg/stanza]: when found duplicate, continue from outer loop
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza

#28898 udp-receiver async - fix data corruption (with buffer pools)
  .chloggen/pkg-stanza-input-udp-async-fix-data-corruption.yaml
  pkg/stanza/operator/input/udp/udp.go
Labels: pkg/stanza

#29020 [chore][receiver/windowseventlog] remove duplicate function NewFactory and pass checkapi
  cmd/checkapi/allowlist.txt
  receiver/windowseventlogreceiver/factory.go
  receiver/windowseventlogreceiver/factory_test.go
  receiver/windowseventlogreceiver/receiver_others.go
  receiver/windowseventlogreceiver/receiver_others_test.go
  receiver/windowseventlogreceiver/receiver_windows.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: ready to merge, receiver/windowseventlog

#29101 [chore][pkg/stanza][exporter/signalfx] One more interface{} -> any and skip flaky tests
  exporter/signalfxexporter/exporter_test.go
  pkg/stanza/operator/input/udp/udp.go
Labels: exporter/signalfx, pkg/stanza

#29092 [chore][CONTRIBUTING.md] Add triage process link
  CONTRIBUTING.md
Labels: documentation, ready to merge

#29108 fix(processor/k8sattributes): README was misleading/had typoes
  processor/k8sattributesprocessor/README.md
Labels: documentation, ready to merge, processor/k8sattributes, Skip Changelog

#29110 [processor/k8sattributes] fix(docs): typo for kubernetes label
  processor/k8sattributesprocessor/README.md
Labels: ready to merge, processor/k8sattributes, Skip Changelog

#29100 Update doc.go of filelogreceiver
  receiver/filelogreceiver/doc.go
Labels: ready to merge, Skip Changelog, receiver/filelog

#29114 [connector/datadog] Set MutatesData to true
  .chloggen/datadog-connector-mutates-data.yaml
  connector/datadogconnector/connector.go
Labels: connector/datadog

#29078 cmd/telemetrygen: add HTTP export for logs
  .chloggen/telemetrygen-logs-http.yaml
  cmd/telemetrygen/config_test.go
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/logs/logs.go
Labels: ready to merge, cmd/telemetrygen, Contribfest

#29152 [processor/resourcedetection] Add feature gate to change family and model to string
  .chloggen/mx-psi_change-to-string.yaml
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/resource_int_version.go
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: ready to merge, processor/resourcedetection

#27900 [pkg/ottl] Add BoolGetter and IsBool converter
  .chloggen/issue-27897-IsBool-Converter.yaml
  pkg/ottl/README.md
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_is_bool.go
  pkg/ottl/ottlfuncs/func_is_bool_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#29094 fix `delete_matching_keys` examples on docs
  pkg/ottl/ottlfuncs/README.md
Labels: documentation, ready to merge, Skip Changelog, pkg/ottl

#29113 [receiver/kubeletstatsreceiver] address lint issues: Implicit Memory Aliasing
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
Labels: ready to merge, Skip Changelog, receiver/kubeletstats

#28999 [chore] [exporter/azuremonitor] Incorporate SDK Version Tagging in Azure Monitor Exporter
  exporter/azuremonitorexporter/contracts_utils.go
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/logexporter_test.go
  exporter/azuremonitorexporter/metric_to_envelopes.go
  exporter/azuremonitorexporter/metricexporter_test.go
  exporter/azuremonitorexporter/trace_to_envelope.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/azuremonitorexporter/version_info.go
Labels: ready to merge, exporter/azuremonitor

#26022 [kafka] Expose resolve_canonical_bootstrap_servers_only
  .chloggen/kafka-bootstrap.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/kafka_exporter.go
  receiver/kafkametricsreceiver/README.md
  receiver/kafkametricsreceiver/config.go
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/testdata/config.yaml
Labels: cmd/configschema, cmd/otelcontribcol, exporter/kafka, receiver/kafka, receiver/kafkametrics

#29109 [chore][exporter/signalfx] Update test certs
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/testdata/certs/ca.pem
  exporter/signalfxexporter/testdata/certs/cert-key.pem
  exporter/signalfxexporter/testdata/certs/cert.pem
Labels: exporter/signalfx

#26707 [receiver/redis] include server.address and server.port resource attributes
  .chloggen/redis-receiver-server-address-and-port.yaml
  cmd/otelcontribcol/receivers_test.go
  receiver/redisreceiver/config.go
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/integration_test.go
  receiver/redisreceiver/internal/metadata/generated_config.go
  receiver/redisreceiver/internal/metadata/generated_config_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/generated_resource.go
  receiver/redisreceiver/internal/metadata/generated_resource_test.go
  receiver/redisreceiver/internal/metadata/testdata/config.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/redis_scraper.go
  receiver/redisreceiver/redis_scraper_test.go
Labels: ready to merge, receiver/redis, cmd/otelcontribcol

#29084 [receiver/mongodbatlas] Logging enhancement for logs retrieval
  .chloggen/logging-improvement-mongodbatlas.yaml
  receiver/mongodbatlasreceiver/logs.go
Labels: receiver/mongodbatlas

#29156 [exporter/datadogexporter] Add support for custom container tags
  .chloggen/mackjmr_fix-container-tags-resource-attributes.yaml
  .chloggen/mackjmr_fix-container-tags-span-tags.yaml
  .chloggen/mackjmr_host-cpu-attributes.yaml
  .chloggen/mackjmr_update-mapping-go-and-package-trace.yaml
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol

#29274 Fix panic when LogRecordCount is called after ConsumeLogs
  .chloggen/consume-logs-race-fix-2.yaml
  .chloggen/consume-logs-race-fix-3.yaml
  .chloggen/consume-logs-race-fix-4.yaml
  .chloggen/consume-logs-race-fix-5.yaml
  .chloggen/consume-logs-race-fix-6.yaml
  .chloggen/consume-logs-race-fix.yaml
  pkg/stanza/adapter/receiver.go
  receiver/fluentforwardreceiver/collector.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/lokireceiver/loki.go
  receiver/otlpjsonfilereceiver/file.go
Labels: receiver/kafka, receiver/fluentforward, pkg/stanza, receiver/otlpjsonfile, receiver/k8sobjects, receiver/loki

#26687 Add test to Validate if duplicate metrics are intentional
  cmd/mdatagen/validate_test.go
Labels: Stale, Skip Changelog, cmd/mdatagen

#29292 [receiver/hostmetrics] Add braydonk to hostmetricsreceiver codeowners
  .github/CODEOWNERS
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/metadata.yaml
Labels: Skip Changelog, receiver/hostmetrics

#28682 [chore] Remove 'skip' #11451 for tests not in need of fixes
  .github/workflows/build-and-test-windows.yml
  cmd/configschema/comments_test.go
  cmd/configschema/common_test.go
  cmd/configschema/configs_test.go
  cmd/configschema/docsgen/docsgen/cli_test.go
  cmd/configschema/docsgen/docsgen/template_test.go
  cmd/configschema/fields_test.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/processors_test.go
  extension/storage/dbstorage/config_test.go
  extension/storage/dbstorage/extension_test.go
Labels: Skip Changelog, chore, cmd/configschema, cmd/otelcontribcol, extension/storage, Run Windows

#29095 [exporter/clickhouse] Enhacement - TTL Fine-grained configuration control
  .chloggen/clickhouseexporter-ttl-enhancements.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/example/otel-collector-config.yml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/testdata/config.yaml
Labels: exporter/clickhouse

#29275 [chore][logstransformprocessor] Add note about processor not being released in contrib
  processor/logstransformprocessor/README.md
Labels: ready to merge, Skip Changelog, processor/logstransform

#29241 [pkg/ottl] Restructure OTTL readme to make it easier to find functions and contexts
  pkg/ottl/LANGUAGE.md
  pkg/ottl/README.md
Labels: documentation, Skip Changelog, pkg/ottl

#29153 [chore] [reveiver/prometheusreceiver] Add unit tests around protobuf negotiation
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_metric_name_normalize_test.go
  receiver/prometheusreceiver/metrics_receiver_non_numerical_test.go
  receiver/prometheusreceiver/metrics_receiver_open_metrics_test.go
  receiver/prometheusreceiver/metrics_receiver_protobuf_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
Labels: ready to merge, chore, receiver/prometheus

#28841 Add NamedPipe input operator
  .chloggen/namedpipe_operator.yaml
  pkg/stanza/go.mod
  pkg/stanza/operator/input/namedpipe/namedpipe.go
  pkg/stanza/operator/input/namedpipe/namedpipe_test.go
  pkg/stanza/operator/input/namedpipe/watcher.go
Labels: ready to merge, pkg/stanza

#28818 First PR - Failover Connector skeleton
  .chloggen/failover-PR1.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  connector/failoverconnector/Makefile
  connector/failoverconnector/README.md
  connector/failoverconnector/config.go
  connector/failoverconnector/config_test.go
  connector/failoverconnector/doc.go
  connector/failoverconnector/factory.go
  connector/failoverconnector/factory_test.go
  connector/failoverconnector/failover.go
  connector/failoverconnector/go.mod
  connector/failoverconnector/go.sum
  connector/failoverconnector/internal/metadata/generated_status.go
  connector/failoverconnector/logs.go
  connector/failoverconnector/metadata.yaml
  connector/failoverconnector/metrics.go
  connector/failoverconnector/testdata/config.yaml
  connector/failoverconnector/traces.go
  versions.yaml
Labels: ready to merge, Accepted Component

#28901 UDP-receiver - improve high-scale performance by skipping usage of decoder when nop encoding is defined
  .chloggen/pkg-stanza-input-udp-dont-call-decode-on-nop.yaml
  pkg/stanza/operator/input/udp/udp.go
Labels: ready to merge, pkg/stanza

#29097 [chore]update allowlist to match membership
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#29295 [chore] missed deps in merge
  connector/failoverconnector/go.mod
  connector/failoverconnector/go.sum
Labels: connector/failover

#29284 [chore] generate tests to test component lifecycle, specifically for exporters.
  cmd/mdatagen/embeded_templates_test.go
  cmd/mdatagen/loader.go
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/metadata-schema.yaml
  cmd/mdatagen/templates/component_test.go.tmpl
  exporter/signalfxexporter/generated_component_test.go
  exporter/signalfxexporter/metadata.yaml
  exporter/splunkhecexporter/generated_component_test.go
  exporter/splunkhecexporter/metadata.yaml
Labels: cmd/mdatagen, exporter/signalfx, exporter/splunkhec

#29116 [cmd/telemetrygen] expose the generated span duration as a command pa…
  .chloggen/feat-fake-span-durations.yaml
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: cmd/telemetrygen

#29121 UDP receiver async - fix panic during shutdown (async mode only)
  .chloggen/pkg-stanza-input-udp-async-fix-stop-panic.yaml
  pkg/stanza/operator/input/udp/udp.go
Labels: pkg/stanza

#27862 feat: add ability to filter and export markers
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/honeycombmarkerexporter/README.md
  exporter/honeycombmarkerexporter/config.go
  exporter/honeycombmarkerexporter/config_test.go
  exporter/honeycombmarkerexporter/factory.go
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  exporter/honeycombmarkerexporter/logs_exporter.go
  exporter/honeycombmarkerexporter/logs_exporter_test.go
  exporter/honeycombmarkerexporter/testdata/config.yaml
Labels: Skip Changelog, cmd/otelcontribcol, exporter/honeycombmarker

#29022 [receiver/receivercreator] Add support for k8s service discovery
  .chloggen/receivercreator-support-k8s-service-discovery.yaml
  extension/observer/endpoints.go
  extension/observer/endpoints_test.go
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/config.go
  extension/observer/k8sobserver/config_test.go
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/extension_test.go
  extension/observer/k8sobserver/handler.go
  extension/observer/k8sobserver/handler_test.go
  extension/observer/k8sobserver/k8s_fixtures_test.go
  extension/observer/k8sobserver/service_endpoint.go
  extension/observer/k8sobserver/service_endpoint_test.go
  extension/observer/k8sobserver/testdata/config.yaml
  receiver/receivercreator/README.md
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/fixtures_test.go
  receiver/receivercreator/rules.go
  receiver/receivercreator/rules_test.go
  receiver/receivercreator/testdata/config.yaml
Labels: ready to merge, extension/observer, receiver/receivercreator

#28894 [exporter/awsemf] Improve summary metric type NaN checks
  .chloggen/awsemf_SummaryNanCheck.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
Labels: ready to merge, exporter/awsemf

#29234 [exporter/azuremonitor] Enhance AAD Documentation.
  .chloggen/update-azuremonitor-service-version.yaml
  exporter/azuremonitorexporter/AUTHENTICATION.md
  exporter/azuremonitorexporter/connection_string_parser.go
  exporter/azuremonitorexporter/connection_string_parser_test.go
Labels: documentation, ready to merge, exporter/azuremonitor

#29309 [exporter/honeycombmarker] Fix default url and dataset_slug
  .chloggen/honeycombmarker-fix-url-bug.yaml
  exporter/honeycombmarkerexporter/README.md
  exporter/honeycombmarkerexporter/config.go
  exporter/honeycombmarkerexporter/config_test.go
  exporter/honeycombmarkerexporter/factory.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  exporter/honeycombmarkerexporter/logs_exporter_test.go
  exporter/honeycombmarkerexporter/testdata/config.yaml
Labels: ready to merge, exporter/honeycombmarker

#29272 feat: change honeycombmarkerexporter to alpha
  .chloggen/feat_hny-exporter-alpha.yaml
  exporter/honeycombmarkerexporter/internal/metadata/generated_status.go
  exporter/honeycombmarkerexporter/metadata.yaml
Labels: cmd/otelcontribcol, exporter/honeycombmarker

#29312 [exporter/honeycombmarker] Update distributions
  .github/dependabot.yml
  exporter/honeycombmarkerexporter/README.md
  exporter/honeycombmarkerexporter/metadata.yaml
Labels: Skip Changelog, exporter/honeycombmarker

#29296 [exporter/influxdb] fix panic on init
  .chloggen/influxdb-v1compat-no-panic.yaml
  exporter/influxdbexporter/writer.go
  exporter/influxdbexporter/writer_test.go
Labels: exporter/influxdb

#29316 [chore] downgrade golangci-lint
  internal/tools/go.mod
  internal/tools/go.sum
Labels: ready to merge, internal/tools

#29317 [receiver/kafkametrics] skip flaky test
  receiver/kafkametricsreceiver/integration_test.go
Labels: Skip Changelog, receiver/kafkametrics

#28866 [receiver/mongodbatlasreceiver] add metrics project config
  .chloggen/mongodbatlasreceiver-add-metrics-project-config.yaml
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/config.go
  receiver/mongodbatlasreceiver/config_test.go
  receiver/mongodbatlasreceiver/receiver.go
  receiver/mongodbatlasreceiver/receiver_test.go
Labels: receiver/mongodbatlas

#29269 [receiver/mysql] expose tls config
  .chloggen/main.yaml
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/config.go
  receiver/mysqlreceiver/config_test.go
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/config.yaml
Labels: receiver/mysql

#29332 [pkg/ottl] Use errors.Join instead of multierr
  pkg/ottl/go.mod
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: Skip Changelog, pkg/ottl

#27573 [receiver/azuremonitor]: Support Azure gov cloud
  .chloggen/azuremonitor-receiver-gov.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/factory.go
  receiver/azuremonitorreceiver/factory_test.go
  receiver/azuremonitorreceiver/scraper.go
Labels: receiver/azuremonitor

#29324 [chore][processor/servicegraph] add deprecation note to README
  processor/servicegraphprocessor/README.md
Labels: processor/servicegraph

#29314 [chore] bump prometheus/go-hdb packages
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/saphanareceiver/go.mod
  receiver/saphanareceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/loki, receiver/sqlquery, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/saphana, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, receiver/loki

#29331 feat(awsS3Exporter): add support for `s3_force_path_style` and `disable_ssl` parameters
  .chloggen/support-extrat-parameters-to-be-compatible-with-minio.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/testdata/config-s3-compatible-systems.yaml
Labels: ready to merge, exporter/awss3

#27669 [chore] use multimod sync to update otel core
  Makefile
  Makefile.Common
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/buildscripts/update-dep
  internal/tools/go.mod
  internal/tools/go.sum
Labels: cmd/configschema, internal/tools

#29326 [chore] [translator/prometheusremotewrite] ensure unknown reset hint
  pkg/translator/prometheusremotewrite/histograms.go
Labels: ready to merge, Skip Changelog, chore, exporter/prometheusremotewrite, pkg/translator/prometheus

#29315 [pkg/ottl] Add ability to parse conditions
  .chloggen/ottl-condition-parser-add-interfaces.yaml
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#29342 [chore] mark a few additional components as part of the Splunk distro
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/metadata.yaml
  exporter/pulsarexporter/README.md
  exporter/pulsarexporter/metadata.yaml
  receiver/udplogreceiver/README.md
  receiver/udplogreceiver/metadata.yaml
  receiver/wavefrontreceiver/README.md
  receiver/wavefrontreceiver/metadata.yaml
Labels: exporter/loadbalancing, exporter/pulsar, receiver/udplog, receiver/wavefront

#29337 [exporter/awsemf] Reduce logs emmitted by emf exporter at info level
  .chloggen/awsmef_reduceResourceLogging.yaml
  exporter/awsemfexporter/emf_exporter.go
Labels: exporter/awsemf

#27672 Add a translator for api/v0.2/traces protocol
  .chloggen/datadogreceiver-api-v02-traces.yaml
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
Labels: receiver/datadog

#28665 [extension/pprof] Improve documentation for pprof usage
  extension/pprofextension/README.md
Labels: documentation, ready to merge, Skip Changelog, extension/pprof

#29403 [testbed] update jaeger test
  testbed/datareceivers/jaeger.go
  testbed/testbed/test_case.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: Skip Changelog, testbed

#29001 [cmd/configschema]: include connectors
  .chloggen/feat-26990-cfgmetadatagen.yaml
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/cli.go
  cmd/configschema/configs.go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/components/components.go
Labels: cmd/configschema

#28655 [chore] generate issue templates with githubgen
  .github/workflows/scripts/add-component-options.sh
  Makefile
  cmd/githubgen/codeowners.go
  cmd/githubgen/dependabot.go
  cmd/githubgen/issuetemplates.go
  cmd/githubgen/main.go
Labels: ready to merge, cmd/githubgen

#29430 [chore][pkg/resourcetotelemetry] reduce memory usage by call ensure capacity
  pkg/resourcetotelemetry/resource_to_telemetry.go
  pkg/resourcetotelemetry/resource_to_telemetry_test.go
Labels: pkg/resourcetotelemetry

#29434 [exporter/syslog] update metadata - add contrib distribution
  .github/dependabot.yml
  exporter/syslogexporter/README.md
  exporter/syslogexporter/metadata.yaml
Labels: Skip Changelog, exporter/syslog

#28649 [processor/resourcedetection] Add k8s cluster name detection in EKS environment
  .chloggen/eks_cluster_name.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/aws/eks/metadata.yaml
Labels: enhancement, processor/resourcedetection

#29344 [docs] Remove performance link
  README.md
Labels: ready to merge, Skip Changelog

#28885 [receiver/gitproviderreceiver] add repo branch and contrib count metrics
  .chloggen/gitprovider-impl-2.yaml
  Makefile
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/config_test.go
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/config_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/factory_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/schema.graphql
  receiver/gitproviderreceiver/metadata.yaml
  receiver/gitproviderreceiver/testdata/config-invalidscraperkey.yaml
Labels: ready to merge, internal/tools, receiver/gitprovider

#27565 [exporter/prometheusremotewrite] prometheusremotewrite exporter add option to send metadata
  .chloggen/prometheus-remote-write-add-option-to-send-metadata.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata_test.go
Labels: ready to merge, exporter/prometheusremotewrite, pkg/translator/prometheus

#29436 [exporter/signalfx] Change default timeout to 10 seconds
  .chloggen/sfx-http-timeout.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/factory.go
Labels: exporter/signalfx

#29451 [chore] Update directions on adding a Code Owner
  CONTRIBUTING.md
Labels: documentation

#29453 [chore] Fix header levels of makefile guidelines in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#29115 [connector/spanmetrics] fix(docs): add example of R.E.D metrics for span data
  connector/spanmetricsconnector/README.md
Labels: documentation, Skip Changelog, connector/spanmetrics

#29455 [chore] fix a different jaeger GRPC load test
  testbed/tests/trace_test.go
Labels: testbed

#27247 [receiver/hostmetrics] Add optional system.linux.memory.available metric
  .chloggen/system_linux_memory_available.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_config.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_config_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_linux.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
Labels: ready to merge, receiver/hostmetrics

#29327 [chore] [pkg/resourcetotelemetry] reduce memory usage
  .chloggen/optimize-resource-to-telemetry.yaml
  pkg/resourcetotelemetry/resource_to_telemetry.go
  pkg/resourcetotelemetry/resource_to_telemetry_test.go
Labels: pkg/resourcetotelemetry

#24668 [exporter/opensearch] Add OpenSearchExporter to otelcontribcol
  .chloggen/add-opensearchexporter.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/internal/metadata/generated_status.go
  exporter/opensearchexporter/metadata.yaml
  go.mod
  go.sum
  internal/components/components.go
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, exporter/opensearch

#29464 [chore] skip lint for cmd/otelcontribcol cmd/oteltestbedcol
  cmd/otelcontribcol/Makefile
  cmd/oteltestbedcol/Makefile
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#29493 fix(deps): update github.com/grafana/loki/pkg/push digest to 658f4f1
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/lokireceiver/internal/unmarshal.go
Labels: Skip Changelog, exporter/loki, cmd/configschema, cmd/otelcontribcol, pkg/translator/loki, receiver/loki

#29492 [chore][pkg/stanza] docs: fix typos
  pkg/stanza/docs/operators/add.md
Labels: documentation, pkg/stanza

#29496 [chore] update to latest multimod
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#26644 [receiver/kafka] unexport the function `WithTracesUnmarshalers`, `WithMetricsUnmarshalers`, `WithLogsUnmarshalers`
  .chloggen/kafkareceiver-checkapi.yaml
  cmd/checkapi/allowlist.txt
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/metrics.go
  receiver/kafkareceiver/metrics_test.go
Labels: receiver/kafka

#29472 [chore] remove dependabot config for gomod
  .github/dependabot.yml
  .github/workflows/build-and-test.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/scripts/dependabot-pr.sh
  CONTRIBUTING.md
  Makefile
  cmd/githubgen/dependabot.go
  cmd/githubgen/go.mod
  cmd/githubgen/main.go
  extension/sigv4authextension/design.md
Labels: extension/sigv4auth, cmd/githubgen

#29460 [datadogreceiver] Fix set telemetry.sdk.language=dotnet instead of .NET
  .chloggen/dd-receiver-language.yaml
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
Labels: receiver/datadog

#29505 [receiver/activedirectoryds] Fix panic on Shutdown without corresponding Start call
  .chloggen/fix-activedirectorydsreceiver-shutdown-without-start.yaml
  receiver/activedirectorydsreceiver/counters.go
  receiver/activedirectorydsreceiver/factory_windows_test.go
Labels: receiver/activedirectoryds

#27621 [receiver/mongodb] add receiver.mongodb.removeDatabaseAttr Alpha feature gate
  .chloggen/mongodbreceiver-duplicate-attribute-24972.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/metrics_database_attr_version.go
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/integration/expected.4_0.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_4lpu.yaml
  receiver/mongodbreceiver/testdata/integration/expected.5_0.yaml
  receiver/mongodbreceiver/testdata/scraper/expected.yaml
Labels: receiver/mongodb

#29509 sumologicprocessor: add contrib to list of distributions
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/metadata.yaml
Labels: Skip Changelog, processor/sumologic

#29514 [pkg/stanza] Fix issue where files were unnecessarily kept open on windows
  .chloggen/fileconsumer-fix-windows.yaml
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_other.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/file_windows.go
Labels: pkg/stanza, Run Windows

#29530 [chore][receiver/mongodbatlas] fix address lint issues: Implicit Memory Aliasing
  receiver/mongodbatlasreceiver/alerts.go
Labels: receiver/mongodbatlas

#29446 [datasetexporter]: Upgrade library to 0.17.0
  .chloggen/datasetexporter-update-to-0.16.0.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/factory.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/go.mod
  exporter/datasetexporter/go.sum
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/testdata/config.yaml
  exporter/datasetexporter/traces_exporter.go
  go.mod
  go.sum
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/dataset

#27681 cassandra exporter keyspace check and dynamic timeout
  .chloggen/cassandra-exists-and-timeout.yaml
  exporter/cassandraexporter/README.md
  exporter/cassandraexporter/config.go
  exporter/cassandraexporter/constants.go
  exporter/cassandraexporter/example/otel-collector-config.yml
  exporter/cassandraexporter/exporter_logs.go
  exporter/cassandraexporter/exporter_traces.go
  exporter/cassandraexporter/factory.go
  exporter/cassandraexporter/testdata/config.yaml
Labels: ready to merge, exporter/cassandra

#29090 [Spanmetrics] - Add exemplars to events_total metric
  .chloggen/add-exemplars-to-events-total-metric.yaml
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
Labels: connector/spanmetrics

#29570 [chore] make genotelcontribcol
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#29569 [chore] add Splunk distro to spanmetricsconnector
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/metadata.yaml
Labels: connector/spanmetrics

#29462 [processor/resourcedetection] Graduate `processor.resourcedetection.hostCPUModelAndFamilyAsString` to beta
  .chloggen/mx-psi_rdp-fg.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: processor/resourcedetection

#24450 [processor/resourcedetection] Add host.ip addresses detection
  .chloggen/mx-psi_host.ip-ref-impl.yaml
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: processor/resourcedetection, internal/metadataproviders

#29554 [chore][exporter/file] Do not leak temp files during tests
  exporter/fileexporter/factory_test.go
  exporter/fileexporter/file_exporter_test.go
Labels: exporter/file

#29553 [chore][receiver/windowseventlog] Expose windowseventlogreceiver config on all platforms
  pkg/stanza/operator/input/windows/config.go
  pkg/stanza/operator/input/windows/operator.go
  receiver/windowseventlogreceiver/factory_test.go
  receiver/windowseventlogreceiver/receiver.go
  receiver/windowseventlogreceiver/receiver_others.go
  receiver/windowseventlogreceiver/receiver_windows.go
Labels: receiver/windowseventlog, pkg/stanza

#29339 [pkg/ottl] Add ConditionSequence struct
  .chloggen/ottl-condition-sequence.yaml
  connector/countconnector/config_test.go
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/functions.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl, internal/filter, connector/count
