Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2023-09, with the labels that each got.

#26342 [exporter/influxdb] configurable LogRecord dimensions
  .chloggen/jgm-log-record-dimensions.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/influxdbexporter/README.md
  exporter/influxdbexporter/config.go
  exporter/influxdbexporter/config_test.go
  exporter/influxdbexporter/factory.go
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/influxdbexporter/testdata/config.yaml
  go.mod
  go.sum
  receiver/influxdbreceiver/go.mod
  receiver/influxdbreceiver/go.sum
Labels: ready to merge, exporter/influxdb, cmd/configschema, cmd/otelcontribcol, receiver/influxdb

#26369 [receiver/loki] Link readme to config helpers
  receiver/lokireceiver/README.md
Labels: Skip Changelog, receiver/loki

#25145 [exporter/datadog] Send host metadata on change, refactor main host metadata sending
  .chloggen/mx-psi_inframetadata-base-reporter.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog, internal/datadog, connector/datadog

#26042 [receiver/k8sobjects] Add ability to exclude deleted updates for watched objects
  .chloggen/k8sobjects-filter-delete.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/config_test.go
  receiver/k8sobjectsreceiver/mock_dynamic_client_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/receiver_test.go
  receiver/k8sobjectsreceiver/testdata/config.yaml
Labels: receiver/k8sobjects

#26030 [chore][fileconsumer] Cleanup file handle when closed by reader
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/reader.go
Labels: pkg/stanza, Run Windows

#26364 [pkg/ottl] Cleanup OTTL Time/Duration
  pkg/ottl/expression.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_hours.go
  pkg/ottl/ottlfuncs/func_hours_test.go
  pkg/ottl/ottlfuncs/func_microseconds.go
  pkg/ottl/ottlfuncs/func_microseconds_test.go
  pkg/ottl/ottlfuncs/func_milliseconds.go
  pkg/ottl/ottlfuncs/func_milliseconds_test.go
  pkg/ottl/ottlfuncs/func_minutes.go
  pkg/ottl/ottlfuncs/func_minutes_test.go
  pkg/ottl/ottlfuncs/func_nanoseconds.go
  pkg/ottl/ottlfuncs/func_nanoseconds_test.go
  pkg/ottl/ottlfuncs/func_seconds.go
  pkg/ottl/ottlfuncs/func_seconds_test.go
Labels: ready to merge, Skip Changelog, pkg/ottl

#26368 Snmpreceiver fix counter64
  .chloggen/snmpreceiver-add-counter64.yaml
  receiver/snmpreceiver/client.go
  receiver/snmpreceiver/client_test.go
Labels: receiver/snmp

#26383 [exporter/alibabacloudlogservice] do not expose method
  .chloggen/alibabacloudlogservice-checkapi.yaml
  cmd/checkapi/allowlist.txt
  exporter/alibabacloudlogserviceexporter/logs_exporter.go
  exporter/alibabacloudlogserviceexporter/metrics_exporter.go
  exporter/alibabacloudlogserviceexporter/trace_exporter.go
  exporter/alibabacloudlogserviceexporter/uploader.go
Labels: exporter/alibabacloudlogservice

#24834 [chore] Update CluserRole & CluserRoleBinding apiVersions
  receiver/k8seventsreceiver/README.md
Labels: ready to merge, Skip Changelog, receiver/k8sevents

#26316 [receiver/kubeletstats] fix client to refresh service account tokens
  .chloggen/kubelet-client-refresh-token.yaml
  internal/kubelet/client.go
  internal/kubelet/client_test.go
  internal/kubelet/testdata/testcert.crt
  internal/kubelet/testdata/testkey.key
Labels: internal/kubelet

#26472 [cmd/opampsupervisor] Add tables showing the Supervisor's current status to its README
  cmd/opampsupervisor/README.md
Labels: Skip Changelog, cmd/opampsupervisor

#26341 [chore][pkg/stanza] Extract a trim package for managing trim functions
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/tokenize/flusher.go
  pkg/stanza/tokenize/multiline.go
  pkg/stanza/tokenize/multiline_test.go
  pkg/stanza/tokenize/splitter.go
  pkg/stanza/trim/trim.go
  pkg/stanza/trim/trim_test.go
Labels: pkg/stanza

#26474 [chore] [receiver/hostmetrics] Don't collect data for disabled metric
  .chloggen/hostmetrics-dont-collect-disabled-connections-data.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
Labels: receiver/hostmetrics

#26453 [pkg/stanza] Register missing operators
  .chloggen/v0.84.0-stanza-fix.yaml
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/README.md
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
Labels: exporter/datadog, receiver/journald, receiver/mongodbatlas, receiver/filelog, receiver/sqlquery, processor/logstransform, receiver/windowseventlog, receiver/tcplog, receiver/udplog, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub

#26482 [pkg/ottl] Add Len to Converter list in README
  pkg/ottl/ottlfuncs/README.md
Labels: ready to merge, Skip Changelog, pkg/ottl

#26464 [processor/routing] Properly create new pdata instances
  .chloggen/26464-routingprocessor-fix.yaml
  processor/routingprocessor/logs.go
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces.go
  processor/routingprocessor/traces_test.go
Labels: processor/routing

#26375 [chore] Update exporter/awscloudwatchlogs README
  exporter/awscloudwatchlogsexporter/README.md
Labels: exporter/awscloudwatchlogs

#26485 [chore] Update go versions in workflows to latest
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/tidy-dependencies.yml
Labels: ready to merge

#24729 [chore]Use Right file name for the prometheus compliance tests
  .github/workflows/prometheus-compliance-tests.yml
Labels: ready to merge

#26478 [chore] remove unused constant related to gopsutil env var names HOST_PROC
  internal/aws/containerinsight/const.go
Labels: internal/aws

#26471 Update statsdreceiver to checkapi standards
  .chloggen/checkapi-statsd-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/statsdreceiver/factory.go
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/receiver_test.go
Labels: receiver/statsd

#26493 [internal/coreinternal] Transition featuregate `coreinternal.attraction.hash.sha256` to stable
  .chloggen/sha256-featuregate-stable.yaml
  internal/coreinternal/attraction/attraction.go
Labels: internal/core

#26504 Bump Prometheus dependency to v2.47.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog, exporter/loki, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, receiver/loki

#26107 [receiver/statsdreceiver] add support for distribution type metrics
  .chloggen/anup_statsd_receiver_distribution_support.yaml
  receiver/statsdreceiver/README.md
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/config_test.go
  receiver/statsdreceiver/factory.go
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
  receiver/statsdreceiver/testdata/config.yaml
Labels: receiver/statsd

#26513 Added Splunk as one of the distributions in solace receiver
  receiver/solacereceiver/README.md
  receiver/solacereceiver/metadata.yaml
Labels: Skip Changelog, receiver/solace

#26250 [exporter/awsemf] Fix possible panic when using stdout output_destination
  .chloggen/awsemf_stdoutpanic.yaml
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
Labels: ready to merge, exporter/awsemf

#26511 [pkg/stanza] Extract Encoding from SplitterConfig
  .chloggen/pkg-stanza-encoding-2.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/file/file_test.go
  pkg/stanza/tokenize/splitter.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26489 Append prometheus type and unit suffixes by default in prometheus exporters
  .chloggen/prometheus-suffixes-default.yaml
  pkg/translator/prometheus/normalize_name.go
Labels: ready to merge, pkg/translator/prometheus

#26512 [pkg/stanza] Extract trim.Config from SplitterConfig
  .chloggen/pkg-stanza-trim-2.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/tokenize/multiline_test.go
  pkg/stanza/tokenize/splitter.go
  pkg/stanza/trim/trim.go
  pkg/stanza/trim/trim_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26526 [chore][pkg/stanza] Reduce severity of log when no files found
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#26517 [pkg/stanza] Extract flush package from tokenize package
  .chloggen/pkg-stanza-flush.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/custom_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/flush/flush.go
  pkg/stanza/flush/flush_test.go
  pkg/stanza/tokenize/multiline_test.go
  pkg/stanza/tokenize/splitter.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26310 [extension/oauth2clientauth] Enable dynamically reading ClientID and ClientSecret from files
  .chloggen/feature-oauth2clientauth-read-from-file.yaml
  extension/oauth2clientauthextension/README.md
  extension/oauth2clientauthextension/clientcredentialsconfig.go
  extension/oauth2clientauthextension/config.go
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/testdata/test-cred-empty.txt
  extension/oauth2clientauthextension/testdata/test-cred.txt
Labels: extension/oauth2clientauth

#26527 [chore][pkg/stanza] Remove unnecessary test struct
  pkg/stanza/tokenize/multiline_test.go
Labels: pkg/stanza

#26537 [pkg/stanza] Remove SplitterConfig
  .chloggen/pkg-stanza-rm-splitterconfig.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/tokenize/splitter.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26113 [receiver/chrony] remove duplicate Timeout setting
  .chloggen/codeboten_rm-dupe-chrony.yaml
  receiver/chronyreceiver/config.go
  receiver/chronyreceiver/config_test.go
  receiver/chronyreceiver/factory_test.go
Labels: receiver/chrony

#26541 [chore] Upgrade all k8s.io dependencies
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  go.mod
  go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/k8stest/go.mod
  internal/k8stest/go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, processor/k8sattributes, processor/resourcedetection, receiver/kubeletstats, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/k8sevents, receiver/simpleprometheus, receiver/k8scluster, extension/observer, cmd/oteltestbedcol, internal/k8sconfig, receiver/k8sobjects, receiver/purefa, testbed, receiver/purefb, internal/k8stest

#26543 [chore] Added a new codeowner for wavefront receiver.
  receiver/wavefrontreceiver/README.md
  receiver/wavefrontreceiver/metadata.yaml
Labels: Skip Changelog, receiver/wavefront

#26522 [chore] add wastedassign linter
  .golangci.yml
  exporter/dynatraceexporter/internal/serialization/histogram.go
  exporter/prometheusremotewriteexporter/wal.go
  exporter/sumologicexporter/exporter.go
  pkg/ottl/contexts/internal/value.go
  receiver/mongodbatlasreceiver/logs.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/util.go
Labels: receiver/mongodbatlas, exporter/prometheusremotewrite, receiver/prometheus, exporter/dynatrace, exporter/sumologic, pkg/ottl

#26554 [chore] update remaining otel-go deps
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/metrics/worker_test.go
  examples/demo/client/go.mod
  examples/demo/client/go.sum
  examples/demo/server/go.mod
  examples/demo/server/go.sum
  internal/aws/metrics/go.mod
  internal/aws/metrics/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.mod
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.sum
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/loki, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/jaeger, exporter/awskinesis, exporter/logzio, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/jaegerthrifthttp, exporter/coralogix, exporter/parquet, exporter/googlecloudpubsub, exporter/mezmo, exporter/opencensus, receiver/simpleprometheus, exporter/instana, examples/demo, exporter/azuredataexplorer, internal/aws, internal/metadataproviders, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, exporter/opensearch, cmd/githubgen, connector/datadog

#26542 [chore] restart job on failure
  processor/k8sattributesprocessor/testdata/e2e/telemetrygen/job.yaml
Labels: processor/k8sattributes

#26565 [chore] unexport DurationAsMicroseconds
  .chloggen/esexporter-checkapi.yaml
  cmd/checkapi/allowlist.txt
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch

#26516 chore(k8sclusterreceiver): 🔥 remove deprecated kubernetes API resources
  .chloggen/k8sclusterreceiver-remove-deprecated-resources.yaml
  receiver/k8sclusterreceiver/internal/collection/collector.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs.go
  receiver/k8sclusterreceiver/internal/gvk/gvk.go
  receiver/k8sclusterreceiver/internal/hpa/hpa.go
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#26556 [chore] updated stability of wavefrontreceiver to beta
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  receiver/wavefrontreceiver/README.md
  receiver/wavefrontreceiver/internal/metadata/generated_status.go
  receiver/wavefrontreceiver/metadata.yaml
Labels: Skip Changelog, receiver/wavefront

#26544 [pkg/stanza] Clean up split package
  .chloggen/pkg-stanza-rm-tokenize.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/header/config.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/config_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/config_test.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
  pkg/stanza/split/splittest/splittest.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26098 [receiver/k8sobjects] Add logic to properly handle 410 responses
  .chloggen/k8sobject-handle-410.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/receiver.go
Labels: ready to merge, receiver/k8sobjects

#26366 [chore] update awscloudwatchlogs exporter to pass apicheck
  cmd/checkapi/allowlist.txt
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/factory.go
Labels: ready to merge, exporter/awscloudwatchlogs

#26631 [pkg/stanza] SplitFunc naming cleanup
  .chloggen/pkg-stanza-split-func-factory.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/custom_test.go
  pkg/stanza/fileconsumer/internal/splitter/factory.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/operator/input/syslog/syslog.go
  pkg/stanza/operator/input/syslog/syslog_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
Labels: pkg/stanza

#26534 [chore][pkg/stanza] Improve tests for internal splitter package
  pkg/stanza/fileconsumer/internal/splitter/custom_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
Labels: pkg/stanza

#26509 Update nsxtreceiver to checkapi standards
  cmd/checkapi/allowlist.txt
  receiver/nsxtreceiver/client_mock_test.go
  receiver/nsxtreceiver/scraper_test.go
Labels: ready to merge, Skip Changelog, receiver/nsxt

#26546 Removing deprecated jaeger and jaegerthrifthttp exporters
  .chloggen/codeboten_rm-jaeger-exporters.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/jaegerexporter/Makefile
  exporter/jaegerexporter/README.md
  exporter/jaegerexporter/config.go
  exporter/jaegerexporter/config_test.go
  exporter/jaegerexporter/doc.go
  exporter/jaegerexporter/exporter.go
  exporter/jaegerexporter/exporter_test.go
  exporter/jaegerexporter/factory.go
  exporter/jaegerexporter/factory_test.go
  exporter/jaegerexporter/go.mod
  exporter/jaegerexporter/go.sum
  exporter/jaegerexporter/internal/metadata/generated_status.go
  exporter/jaegerexporter/metadata.yaml
  exporter/jaegerexporter/metrics.go
  exporter/jaegerexporter/metrics_test.go
  exporter/jaegerexporter/testdata/ca.crt
  exporter/jaegerexporter/testdata/client.crt
  exporter/jaegerexporter/testdata/client.key
  exporter/jaegerexporter/testdata/config.yaml
  exporter/jaegerexporter/testdata/server.crt
  exporter/jaegerexporter/testdata/server.key
  exporter/jaegerexporter/testdata/test_cert.pem
  exporter/jaegerthrifthttpexporter/Makefile
  exporter/jaegerthrifthttpexporter/README.md
  exporter/jaegerthrifthttpexporter/config.go
  exporter/jaegerthrifthttpexporter/config_test.go
  exporter/jaegerthrifthttpexporter/doc.go
  exporter/jaegerthrifthttpexporter/exporter.go
  exporter/jaegerthrifthttpexporter/exporter_test.go
  exporter/jaegerthrifthttpexporter/factory.go
  exporter/jaegerthrifthttpexporter/factory_test.go
  exporter/jaegerthrifthttpexporter/go.mod
  exporter/jaegerthrifthttpexporter/go.sum
  exporter/jaegerthrifthttpexporter/internal/metadata/generated_status.go
  exporter/jaegerthrifthttpexporter/metadata.yaml
  exporter/jaegerthrifthttpexporter/testdata/config.yaml
  exporter/jaegerthrifthttpexporter/testdata/thrift_batch_no_binary_tags_01.json
  exporter/jaegerthrifthttpexporter/testdata/thrift_batch_no_binary_tags_02.json
  go.mod
  internal/components/components.go
  testbed/correctnesstests/traces/testdata/generated_pict_pairs_traces_pipeline.txt
  testbed/correctnesstests/traces/testdata/pict_input_traces_pipeline.txt
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/components.go
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, exporter/jaeger, exporter/jaegerthrifthttp, cmd/oteltestbedcol, testbed

#26536 [pkg/stanza] Extract trim func from split package
  .chloggen/pkg-stanza-extract-trim-split.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/header/config.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/custom_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/flush/flush.go
  pkg/stanza/flush/flush_test.go
  pkg/stanza/operator/input/tcp/tcp.go
  pkg/stanza/operator/input/udp/udp.go
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
  pkg/stanza/split/splittest/splittest.go
  pkg/stanza/trim/trim.go
  pkg/stanza/trim/trim_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26678 [chore][pkg/stanza] Decrease log level when reporting no files found
  pkg/stanza/fileconsumer/file.go
Labels: pkg/stanza

#26669 [pkg/ottl] ottlarg struct tag cleanup
  .chloggen/ottl-structtag-cleanup.yaml
  internal/filter/filterottl/functions.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions_test.go
  pkg/ottl/math_test.go
  pkg/ottl/ottlfuncs/func_extract_patterns.go
  pkg/ottl/ottlfuncs/func_hours.go
  pkg/ottl/ottlfuncs/func_microseconds.go
  pkg/ottl/ottlfuncs/func_milliseconds.go
  pkg/ottl/ottlfuncs/func_minutes.go
  pkg/ottl/ottlfuncs/func_nanoseconds.go
  pkg/ottl/ottlfuncs/func_seconds.go
  pkg/ottl/ottlfuncs/func_unix_micro.go
  pkg/ottl/ottlfuncs/func_unix_milli.go
  pkg/ottl/ottlfuncs/func_unix_nano.go
  pkg/ottl/ottlfuncs/func_unix_seconds.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
Labels: processor/transform, pkg/ottl, internal/filter

#26680 [chore][pkg/stanza] Cleanup unnecessary code in split package
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
Labels: pkg/stanza

#26569 [receiver/redis] Command latency metrics.
  .chloggen/redisreceiver_cmd_latency.yaml
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_config.go
  receiver/redisreceiver/internal/metadata/generated_config_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/testdata/config.yaml
  receiver/redisreceiver/latencystats.go
  receiver/redisreceiver/latencystats_test.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/redis_scraper.go
Labels: receiver/redis

#26645 [extension/k8sobserver] unexport `NewNode`,`NewPod`
  cmd/checkapi/allowlist.txt
  extension/observer/k8sobserver/k8s_fixtures_test.go
  extension/observer/k8sobserver/node_endpoint_test.go
Labels: ready to merge, Skip Changelog, extension/observer

#26684 [telemetrygen] Add extra documentation for key-value parameters
  cmd/telemetrygen/internal/common/config.go
Labels: Skip Changelog, cmd/telemetrygen

#26371 feat: update context to take time
  .chloggen/feat_contexts-take-time.yaml
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/README.md
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: pkg/ottl

#26561 [processor/tailsampling] Allow sub-second decision wait times
  .chloggen/26354-allow-subsecond-decisionwait.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#26693 [pkg/stanza] Fix bug where default flush period not set
  .chloggen/pkg-stanza-fileconsumer-default-flush.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#26676 [chore] Add e2e for receiver/kubeletstats
  .github/workflows/configs/e2e-kind-config.yaml
  .github/workflows/e2e-tests.yml
  receiver/kubeletstatsreceiver/e2e_test.go
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/kubeletstatsreceiver/testdata/e2e/collector/clusterrole.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/clusterrolebinding.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/configmap.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/daemonset.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/service.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/serviceaccount.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/expected.yaml
Labels: ready to merge, receiver/kubeletstats

#26480 [processor/tailsampling] add practical usage example
  processor/tailsamplingprocessor/README.md
Labels: documentation, processor/tailsampling, Skip Changelog

#26629 [receiver/cloudflare] Make TLS config optional for cloudflarereceiver
  .chloggen/tls-optional-cloudflare-receiver.yaml
  receiver/cloudflarereceiver/README.md
  receiver/cloudflarereceiver/config.go
  receiver/cloudflarereceiver/config_test.go
  receiver/cloudflarereceiver/factory.go
  receiver/cloudflarereceiver/logs.go
Labels: receiver/cloudflare

#26694 [connector/routing] Change stability to alpha
  .chloggen/routing_connector_alpha.yaml
  connector/routingconnector/README.md
  connector/routingconnector/internal/metadata/generated_status.go
  connector/routingconnector/metadata.yaml
Labels: connector/routing

#26686 [receiver/redis] Seconds as unit for redis.cmd.latency metric.
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/redis_scraper.go
Labels: ready to merge, receiver/redis, Skip Changelog

#26518 [chore] add predeclared linter
  .golangci.yml
  extension/jaegerremotesampling/internal/jaegerremotesamplingdeprecated/internal/static/strategy_store.go
  pkg/translator/opencensus/oc_to_traces_test.go
  testbed/tests/scenarios.go
Labels: ready to merge, extension/jaegerremotesampling, pkg/translator/opencensus, testbed

#26553 [exporter/awsxray] Change exporter.awsxray.skiptimestampvalidation feature gate from Alpha to Beta
  .chloggen/xray-exporter-w3c-id-beta-feature-gate.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/factory.go
  exporter/awsxrayexporter/factory_test.go
Labels: ready to merge, exporter/awsxray

#26698 [chore][pkg/stanza] Build core split func once
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/splitter/custom.go
  pkg/stanza/fileconsumer/internal/splitter/factory.go
  pkg/stanza/fileconsumer/internal/splitter/factory_test.go
  pkg/stanza/fileconsumer/internal/splitter/multiline.go
  pkg/stanza/fileconsumer/internal/splitter/multiline_test.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/reader_test.go
  pkg/stanza/trim/trim.go
Labels: Skip Changelog, pkg/stanza

#26705 [receiver/mysql] Do not export the function `Query`
  .chloggen/mysqlreceicer-checkapi.yaml
  cmd/checkapi/allowlist.txt
  receiver/mysqlreceiver/client.go
Labels: receiver/mysql

#26036 [chore] Improve empty tag value tests (#22850)
  exporter/influxdbexporter/writer_test.go
Labels: Stale, exporter/influxdb

#26667 [cmd/telemetrygen] Allow configuring Sum and Gauge metrics via CLI
  .chloggen/telemetrygen-add-metric-types.yaml
  cmd/telemetrygen/internal/metrics/config.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/metrics_types.go
  cmd/telemetrygen/internal/metrics/worker.go
  cmd/telemetrygen/internal/metrics/worker_test.go
Labels: cmd/telemetrygen

#26727 Checkapi fluentforwarder fixes for 26304
  .chloggen/fluentforward-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/fluentforwardreceiver/conversion_test.go
  receiver/fluentforwardreceiver/receiver_test.go
  receiver/fluentforwardreceiver/server.go
  receiver/fluentforwardreceiver/server_test.go
  receiver/fluentforwardreceiver/util_test.go
Labels: receiver/fluentforward

#26656 [chore] update awscloudwatchlogs exporter codeowners.
  .github/CODEOWNERS
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awscloudwatchlogsexporter/metadata.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/metadata.yaml
Labels: exporter/awscloudwatchlogs, exporter/awsemf

#26344 [exporter/awsemf] Drop metrics with NaN values
  .chloggen/awsemf_dropnan.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
Labels: exporter/awsemf

#26992 [exporter/loadbalancer] unexport `MetricsViews` function
  cmd/checkapi/allowlist.txt
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/metrics.go
  exporter/loadbalancingexporter/metrics_test.go
Labels: Skip Changelog, exporter/loadbalancing

#26706 [pkg/fileconsumer] fix logging
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog, pkg/stanza

#26460 Feature/harubins/add multiline pattern config
  .chloggen/add_multiline_pattern_omit_config.yaml
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/docs/operators/tcp_input.md
  pkg/stanza/docs/operators/udp_input.md
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
  pkg/stanza/split/splittest/splittest.go
  receiver/filelogreceiver/README.md
  receiver/tcplogreceiver/README.md
  receiver/udplogreceiver/README.md
Labels: receiver/filelog, receiver/tcplog, receiver/udplog, pkg/stanza

#26477 [receiver/awscontainerinsights] HOST_PROC usage
  .chloggen/use-envmap-awscontainerinsightsreceiver.yaml
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity_test.go
Labels: ready to merge, receiver/awscontainerinsight

#26681 Refactor fault/error logic
  exporter/awsxrayexporter/internal/translator/cause.go
Labels: Skip Changelog, exporter/awsxray

#26998 checkapi changes for azuremonitorexporter
  .chloggen/26304-azuremonitor-exporter.yaml
  cmd/checkapi/allowlist.txt
  exporter/azuremonitorexporter/traceexporter.go
  exporter/azuremonitorexporter/traceiteration.go
  exporter/azuremonitorexporter/traceiteration_test.go
Labels: ready to merge, exporter/azuremonitor

#26315 [receiver/skywalking] Add skywalking jvm metric receiver
  .chloggen/add_skywalking_metric.yaml
  receiver/skywalkingreceiver/README.md
  receiver/skywalkingreceiver/factory.go
  receiver/skywalkingreceiver/factory_test.go
  receiver/skywalkingreceiver/internal/metadata/generated_status.go
  receiver/skywalkingreceiver/internal/metrics/metric_report_service.go
  receiver/skywalkingreceiver/internal/metrics/skywalkingproto_to_metrics.go
  receiver/skywalkingreceiver/metadata.yaml
  receiver/skywalkingreceiver/skywalking_receiver.go
Labels: receiver/skywalking

#26993 [exporter/logzio] unexport `GenerateLogRecordWithNestedBody`,`GenerateLogRecordWithMultiTypeValues` function
  cmd/checkapi/allowlist.txt
  exporter/logzioexporter/jsonlog_test.go
Labels: Skip Changelog, exporter/logzio

#26997 [chore] Add note to GroupbyTraceprocessor when working with tailsampling
  processor/groupbytraceprocessor/README.md
  processor/tailsamplingprocessor/README.md
Labels: processor/tailsampling, Skip Changelog, processor/groupbytrace

#26682 [exporter/azuredataexplorer] Status Attributes added to exported traces
  .chloggen/bugfix_26496105-StatusMessage.yaml
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/e2e_test.go
  exporter/azuredataexplorerexporter/tracesdata_to_adx.go
  exporter/azuredataexplorerexporter/tracesdata_to_adx_test.go
Labels: exporter/azuredataexplorer

#26713 [pkg/stanza] propagate globbing io errors for logging
  .chloggen/filelogreceiver_log_globing_io_errors.yaml
  pkg/stanza/fileconsumer/matcher/internal/finder/finder.go
  pkg/stanza/fileconsumer/matcher/internal/finder/finder_test.go
  pkg/stanza/fileconsumer/matcher/matcher.go
Labels: pkg/stanza

#27023 update tailsamplingprocessor to checkapi standard
  .chloggen/26304-tailsampling-processor-checkapi.yaml
  cmd/checkapi/allowlist.txt
  processor/tailsamplingprocessor/factory.go
  processor/tailsamplingprocessor/metrics.go
Labels: processor/tailsampling

#27021 [receiver/mongodb] do not expose method
  .chloggen/mongodbreceiver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/mongodbreceiver/client.go
  receiver/mongodbreceiver/scraper.go
Labels: receiver/mongodb

#24456 [pkg/ottl] Add support for optional parameters
  .chloggen/ottl-named-arguments.yaml
  .chloggen/ottl-optional-parameters.yaml
  pkg/ottl/README.md
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/math_test.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#27025 [pkg/stanza] Fix typo in unquote doc
  pkg/stanza/docs/operators/unquote.md
Labels: Skip Changelog, pkg/stanza

#26696 [pkg/ottl] Add new TruncateTime function
  .chloggen/ottl-truncate-function.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_truncate_time.go
  pkg/ottl/ottlfuncs/func_truncate_time_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#27030 [prometheusreceiver] Enable proto negotiation
  .chloggen/prometheus-receiver-proto-negotiation-option.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/testdata/config.yaml
Labels: enhancement, ready to merge, receiver/prometheus

#27043 [chore] update otelcol_version
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#24804 [exporter/awsxray] Fix X-Ray metadata unmarshal.
  .chloggen/fix-xray-metadata-unmarshal.yaml
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
Labels: ready to merge, exporter/awsxray

#27040 [chore] [exporter/signalfx] Remove dependency on signalfx-agent
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  exporter/signalfxexporter/internal/apm/correlations/client.go
  exporter/signalfxexporter/internal/apm/correlations/client_test.go
  exporter/signalfxexporter/internal/apm/correlations/correlation.go
  exporter/signalfxexporter/internal/apm/correlations/dedup.go
  exporter/signalfxexporter/internal/apm/correlations/diagnostics.go
  exporter/signalfxexporter/internal/apm/log/log.go
  exporter/signalfxexporter/internal/apm/requests/diagnostics.go
  exporter/signalfxexporter/internal/apm/requests/requestcounter/counter.go
  exporter/signalfxexporter/internal/apm/requests/requestcounter/counter_test.go
  exporter/signalfxexporter/internal/apm/requests/sender.go
  exporter/signalfxexporter/internal/apm/tracetracker/cache.go
  exporter/signalfxexporter/internal/apm/tracetracker/shims.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/config.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  exporter/signalfxexporter/internal/correlation/logshims.go
  exporter/signalfxexporter/internal/correlation/logshims_test.go
  exporter/signalfxexporter/internal/correlation/spanshims.go
  go.mod
  go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/signalfx, receiver/signalfx, cmd/oteltestbedcol, testbed

#26708 [k8sclusterreceiver] refactor metric units to follow Otel conventions
  .chloggen/k8sclusterreceiver-fix-units.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/cronjob/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/demonset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected_empty.yaml
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/replicaset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/replicationcontroller/testdata/expected.yaml
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#26378 [exporter/loadbalancing] allow metrics routing
  .chloggen/loadbalance-metrics.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/internal/metadata/generated_status.go
  exporter/loadbalancingexporter/metadata.yaml
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  pkg/batchpersignal/batchpersignal.go
  pkg/batchpersignal/batchpersignal_test.go
Labels: exporter/loadbalancing, pkg/batchpersignal

#27024 [receiver/nginx] Bump current_connections feature gate to stable
  .chloggen/nginx-gate-stable.yaml
  receiver/nginxreceiver/README.md
  receiver/nginxreceiver/factory.go
  receiver/nginxreceiver/scraper.go
  receiver/nginxreceiver/scraper_test.go
Labels: receiver/nginx

#27052 [exporter/f5cloud] do not expose method
  .chloggen/f5cloudexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/f5cloudexporter/factory.go
  exporter/f5cloudexporter/factory_test.go
Labels: exporter/f5cloud

#27041 Transform Example: Change `context` to `datapoint`
  exporter/prometheusexporter/README.md
  exporter/prometheusremotewriteexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite, exporter/prometheus

#27032 [receiver/mongodbatlas] do not expose method
  .chloggen/mongodbatlasreceiver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
  receiver/mongodbatlasreceiver/receiver.go
  receiver/mongodbatlasreceiver/receiver_test.go
Labels: receiver/mongodbatlas

#27039 [chore] [exporter/signalfx] Remove dependency on signalfx/golib
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  exporter/signalfxexporter/internal/apm/correlations/client.go
  exporter/signalfxexporter/internal/apm/correlations/diagnostics.go
  exporter/signalfxexporter/internal/apm/requests/diagnostics.go
  exporter/signalfxexporter/internal/apm/tracetracker/shims.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  go.mod
  go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/signalfx, receiver/signalfx, cmd/oteltestbedcol, testbed

#27056 [exporter/kinetica] do not expose method
  cmd/checkapi/allowlist.txt
  exporter/kineticaexporter/config_test.go
  exporter/kineticaexporter/factory.go
Labels: ready to merge, Skip Changelog, exporter/kinetica

#27062 [processor/probabilisticsampler] do not expose method
  .chloggen/probabilisticsamplerprocessor-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/metrics.go
Labels: processor/probabilisticsampler

#27019 [receiver/jaeger] do not expose method
  .chloggen/jaegerreceiver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  receiver/jaegerreceiver/config.go
  receiver/jaegerreceiver/config_test.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/internal/jaegerreceiverdeprecated/config.go
  receiver/jaegerreceiver/internal/jaegerreceiverdeprecated/config_test.go
  receiver/jaegerreceiver/internal/jaegerreceiverdeprecated/factory.go
  receiver/jaegerreceiver/internal/jaegerreceiverdeprecated/jaeger_agent_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
Labels: receiver/jaeger

#27050 [exporter/loki] do not expose method
  .chloggen/lokiexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/lokiexporter/factory.go
  exporter/lokiexporter/metrics.go
Labels: exporter/loki

#27054 [exporter/sentry] do not expose method
  .chloggen/sentryexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/sentryexporter/factory.go
  exporter/sentryexporter/sentry_exporter.go
  exporter/sentryexporter/sentry_exporter_test.go
Labels: exporter/sentry

#27061 [processor/groupbytrace] do not expose method
  .chloggen/groupbytraceprocessor-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  processor/groupbytraceprocessor/event_test.go
  processor/groupbytraceprocessor/factory.go
  processor/groupbytraceprocessor/metrics.go
  processor/groupbytraceprocessor/metrics_test.go
Labels: processor/groupbytrace

#27058 [exporter/sumologic] do not expose method
  .chloggen/sumologicexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory.go
Labels: exporter/sumologic

#27038 [pkg/ottl] add Now() function
  .chloggen/feat_ottl-now.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_now.go
  pkg/ottl/ottlfuncs/func_now_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#27047 Remove line causing container already existed
  examples/demo/docker-compose.yaml
Labels: Skip Changelog, examples/demo

#27057 [exporter/awskinesis] do not expose method
  .chloggen/awskinesisexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/awskinesisexporter/exporter_test.go
  exporter/awskinesisexporter/factory.go
Labels: exporter/awskinesis

#26702 [reciever/haproxy] remove unused resource attributes
  .chloggen/haproxyreceiver-remove-resource-attributes.yaml
  receiver/haproxyreceiver/documentation.md
  receiver/haproxyreceiver/internal/metadata/generated_config.go
  receiver/haproxyreceiver/internal/metadata/generated_config_test.go
  receiver/haproxyreceiver/internal/metadata/generated_metrics_test.go
  receiver/haproxyreceiver/internal/metadata/generated_resource.go
  receiver/haproxyreceiver/internal/metadata/generated_resource_test.go
  receiver/haproxyreceiver/internal/metadata/testdata/config.yaml
  receiver/haproxyreceiver/metadata.yaml
Labels: receiver/haproxy

#27048 [exporter/dynatrace] rename struct to keep expected `exporter.Factory` and pass checkapi
  .chloggen/dynatraceexporter-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  exporter/dynatraceexporter/factory.go
  exporter/dynatraceexporter/metrics_exporter.go
  exporter/dynatraceexporter/metrics_exporter_test.go
Labels: exporter/dynatrace

#27065 [chore] Skip file permissions test on windows
  pkg/stanza/fileconsumer/matcher/internal/finder/finder_test.go
Labels: pkg/stanza, Run Windows

#27004 [pkg/stanza] Add 'overwrite_text' option to severity parser
  .chloggen/pkg-stanza-severity-text-overwrite.yaml
  pkg/stanza/entry/severity.go
  pkg/stanza/entry/severity_test.go
  pkg/stanza/operator/helper/severity.go
  pkg/stanza/operator/helper/severity_builder.go
  pkg/stanza/operator/helper/severity_test.go
Labels: pkg/stanza

#27051 [k8sclusterreceiver] refactor k8s.container.restarts metric units
  .chloggen/refactor.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#27075 [chore][pkg/stanza] Minor cleanup in split package
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
Labels: pkg/stanza

#26700 [receiver/statsd] add TCP support to statsdreceiver
  .chloggen/add_tcp_support_statsd.yaml
  receiver/statsdreceiver/internal/transport/client/client.go
  receiver/statsdreceiver/internal/transport/server_test.go
  receiver/statsdreceiver/internal/transport/tcp_server.go
  receiver/statsdreceiver/receiver.go
Labels: receiver/statsd

#24926 [chore] close http responses and preallocate slices
  receiver/signalfxreceiver/receiver_test.go
  receiver/signalfxreceiver/signalfxv2_event_to_logdata_test.go
Labels: receiver/signalfx

#27076 [chore][exporter/signalfx] Skip flaky TestCorrelationClient
  exporter/signalfxexporter/internal/apm/correlations/client_test.go
Labels: exporter/signalfx

#26479 [receiver/hostmetrics] make sure process scraper uses root_path config entry
  .chloggen/process-scraper-context.yaml
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_darwin.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_linux.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_windows.go
  receiver/hostmetricsreceiver/testdata/e2e/expected_process.yaml
  receiver/hostmetricsreceiver/testdata/e2e/expected_process_separate_proc.yaml
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/cmdline
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/stat
  receiver/hostmetricsreceiver/testdata/e2e/proc/stat
Labels: receiver/hostmetrics, Run Windows

#27078 [processor/transform] Add unstructured log example
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#27079 [cmd/telemetrygen]set grpc logging to warn
  .chloggen/set-warn-verbosity-grpc-telemetrygen.yaml
  cmd/telemetrygen/internal/common/log.go
Labels: cmd/telemetrygen

#27073 [observer/ecs] do not expose method
  .chloggen/ecsobserver-checkapi-26304.yaml
  cmd/checkapi/allowlist.txt
  extension/observer/ecsobserver/config.go
  extension/observer/ecsobserver/config_test.go
  extension/observer/ecsobserver/factory.go
Labels: extension/observer

#27074 [chore][pkg/stanza] Add new split func testing framework
  pkg/stanza/split/splittest/splittest_detailed.go
  pkg/stanza/split/splittest/splittest_test.go
Labels: pkg/stanza

#27064 [pkg/stanza] Skip rotated file handles if truncated
  .chloggen/pkg-stanza-lost-truncate.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/reader.go
  pkg/stanza/fileconsumer/reader_factory.go
  pkg/stanza/fileconsumer/roller_other.go
  pkg/stanza/fileconsumer/roller_windows.go
  pkg/stanza/fileconsumer/rotation_test.go
Labels: pkg/stanza, Run Windows

#27055 [exporter/coralogix] rename struct to keep expected exporter.Factory and pass checkapi
  cmd/checkapi/allowlist.txt
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/traces_client.go
Labels: Skip Changelog, exporter/coralogix

#27011 [receiver/statsdreceiver] Gracefully handle empty tagset
  .chloggen/cj-handle-empty-tagset.yaml
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
Labels: receiver/statsd

#26668 [chore] add first integration test for telemetrygen
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/common/log.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/main_test.go
Labels: cmd/telemetrygen

#26524 [processor/resourcedetectionprocessor] add k8snode detector
  .chloggen/resourcedetection_k8snode.yaml
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  internal/metadataproviders/k8snode/metadata.go
  internal/metadataproviders/k8snode/metadata_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/doc.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/k8snode/config.go
  processor/resourcedetectionprocessor/internal/k8snode/config_test.go
  processor/resourcedetectionprocessor/internal/k8snode/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/k8snode/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/k8snode/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/k8snode/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/k8snode/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/k8snode/k8snode.go
  processor/resourcedetectionprocessor/internal/k8snode/k8snode_test.go
  processor/resourcedetectionprocessor/internal/k8snode/metadata.yaml
Labels: ready to merge, exporter/datadog, processor/resourcedetection, cmd/otelcontribcol, internal/metadataproviders

#27017 [processor/tailsampling] Duplicate policy names should yield an error
  .chloggen/27016-duplicate-policy-names.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#27098 [processor/transform] Fix example
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#27097 [pkg/stanza] Further reduce "no file found" log message severity
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog, pkg/stanza

#27088 [pkg/stanza] operators - make logging more verbose
  pkg/stanza/operator/transformer/move/move.go
  pkg/stanza/operator/transformer/remove/remove.go
Labels: Skip Changelog, pkg/stanza

#26985 [cmd/telemetrygen] remove reliance on JSON unmarshalling for status code string
  .chloggen/fix_telemetrygen-trace-status-code-parameter.yaml
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: ready to merge, cmd/telemetrygen

#27081 [chore]: Update documentation for prometheus translator
  pkg/translator/prometheus/README.md
Labels: ready to merge, pkg/translator/prometheus

#27008 Extract time query parameter in splunkhecreceiver
  .chloggen/splunkhecreceiver-add-time-param.yaml
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/splunkhecreceiver/splunk_to_logdata.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: ready to merge, receiver/splunkhec

#27185 [processor/k8sattributes] allow metadata extractions to be empty list
  .chloggen/k8sattribute-processor-null-metadata.yaml
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
Labels: processor/k8sattributes

#27208 [chore] Add a missing changelog item before the release
  .chloggen/k8sattribute-processor-null-metadata.yaml
  CHANGELOG.md
Labels: Run Windows

#26690 [receiver/kubeletstats] Add resource getters
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
Labels: Skip Changelog, receiver/kubeletstats

#26717 [chore][pkg/stanza] Add detailed split func test helper
  pkg/stanza/split/split_test.go
Labels: pkg/stanza

#26715 [chore] update examples to use debugexporter
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  cmd/telemetrygen/README.md
  confmap/provider/s3provider/testdata/otel-config.yaml
  examples/demo/otel-collector-config.yaml
  examples/kubernetes/otel-collector-config.yml
  examples/kubernetes/otel-collector.yaml
  examples/nomad/otel-collector.nomad
  exporter/fileexporter/README.md
  exporter/instanaexporter/README.md
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/example/k8s-resolver/README.md
  exporter/loadbalancingexporter/example/otel-agent-config.yaml
  exporter/loadbalancingexporter/example/otel-collector-config.yaml
  exporter/lokiexporter/example/otelcol.yaml
  extension/oidcauthextension/README.md
  go.mod
  go.sum
  internal/components/components.go
  pkg/stanza/docs/types/timestamp.md
  receiver/awscloudwatchmetricsreceiver/README.md
  receiver/awscontainerinsightreceiver/README.md
  receiver/hostmetricsreceiver/example_config.yaml
  receiver/k8sclusterreceiver/README.md
  receiver/simpleprometheusreceiver/examples/federation/otel-collector-config.yml
  receiver/windowsperfcountersreceiver/example_config.yaml
  testbed/tests/testdata/agent-config.yaml
Labels: exporter/loadbalancing, cmd/telemetrygen, receiver/hostmetrics, exporter/loki, receiver/awscontainerinsight, cmd/configschema, cmd/otelcontribcol, exporter/file, receiver/windowsperfcounters, receiver/simpleprometheus, receiver/k8scluster, pkg/stanza, extension/oidcauth, exporter/instana, examples/demo, cmd/oteltestbedcol, confmap/provider/s3provider, testbed, receiver/awscloudwatchmetrics

#26724 [processor/tailsamplingprocessor] Improve accuracy of `count_traces_sampled` metric
  .chloggen/fix_tailsampling-metric-incorrect-count.yaml
  processor/tailsamplingprocessor/metrics.go
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#27246 [chore] fix reference to obsreport
  processor/tailsamplingprocessor/metrics.go
Labels: processor/tailsampling

#24543 [receiver/azuremonitor] Add support for azure workload identity auth
  .chloggen/azuremonitor-workload-identity.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/factory.go
  receiver/azuremonitorreceiver/factory_test.go
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
Labels: ready to merge, exporter/coralogix, receiver/azuremonitor

#27070 [receiver/kubeletstats][internal/kubelet] Fix tls config for service account auth
  .chloggen/26319-kubeletclient-tls-verify.yaml
  internal/kubelet/client.go
  internal/kubelet/client_test.go
  internal/kubelet/testdata/mismatch.crt
  receiver/kubeletstatsreceiver/testdata/e2e/collector/configmap.yaml
Labels: ready to merge, receiver/kubeletstats, internal/kubelet

#27250 Fix error on build-test-windows workflow
  Makefile.Common
Labels: Skip Changelog, Run Windows

#27229 [chore][pkg/stanza] Migrate flush func tests
  pkg/stanza/flush/flush_test.go
  pkg/stanza/split/splittest/splittest_detailed.go
  pkg/stanza/split/splittest/splittest_test.go
Labels: pkg/stanza

#26728 [receiver/splunkenterprise] Additional API metrics
  .chloggen/splunk-enterprise-metrics.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/search_result.go
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: receiver/splunkenterprise

#27092 [extension/encodingextension] Implement encoding extension
  .chloggen/encodingextension_impl.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/dependabot.yml
  extension/encoding/README.md
  extension/encoding/jaegerencodingextension/Makefile
  extension/encoding/jaegerencodingextension/README.md
  extension/encoding/jaegerencodingextension/config.go
  extension/encoding/jaegerencodingextension/config_test.go
  extension/encoding/jaegerencodingextension/doc.go
  extension/encoding/jaegerencodingextension/extension.go
  extension/encoding/jaegerencodingextension/extension_test.go
  extension/encoding/jaegerencodingextension/factory.go
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/go.sum
  extension/encoding/jaegerencodingextension/internal/metadata/generated_status.go
  extension/encoding/jaegerencodingextension/jaeger.go
  extension/encoding/jaegerencodingextension/metadata.yaml
  extension/encoding/textencodingextension/Makefile
  extension/encoding/textencodingextension/README.md
  extension/encoding/textencodingextension/config.go
  extension/encoding/textencodingextension/doc.go
  extension/encoding/textencodingextension/extension.go
  extension/encoding/textencodingextension/factory.go
  extension/encoding/textencodingextension/go.mod
  extension/encoding/textencodingextension/go.sum
  extension/encoding/textencodingextension/internal/metadata/generated_status.go
  extension/encoding/textencodingextension/metadata.yaml
  extension/encoding/textencodingextension/text.go
  extension/encoding/textencodingextension/text_test.go
  extension/encodingextension/Makefile
  extension/encodingextension/doc.go
  versions.yaml
Labels: cmd/configschema, extension/encoding
