Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-03, with the labels that each got.

#31526 [chore] remove custom Host implementation
  extension/observer/ecsobserver/extension_test.go
Labels: extension/observer

#30966 [chore][exporter/prometheusremotewriteexporter] Enable goleak check
  exporter/prometheusremotewriteexporter/factory_test.go
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/package_test.go
Labels: exporter/datadog, exporter/prometheusremotewrite, cmd/otelcontribcol, waiting-for-code-owners

#30961 [chore][exporter/kafka] Enable goleak check
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/package_test.go
Labels: exporter/datadog, cmd/otelcontribcol, exporter/kafka, waiting-for-code-owners

#31175 [chore][extension/opampextension] Enable goleak check
  extension/opampextension/go.mod
  extension/opampextension/opamp_agent_test.go
  extension/opampextension/package_test.go
Labels: ready to merge, Skip Changelog, extension/opamp

#31519 Fix histogram types in docs
  pkg/ottl/contexts/ottldatapoint/README.md
Labels: documentation, Skip Changelog, pkg/ottl

#30761 [chore][internal/aws/k8s/k8sclient] Enable goleak check
  internal/aws/k8s/k8sclient/endpoint_test.go
  internal/aws/k8s/k8sclient/package_test.go
Labels: internal/aws

#31521 [pkg/stanza] Fix "matched files" log formatting
  pkg/stanza/fileconsumer/file.go
Labels: Skip Changelog, pkg/stanza

#30516 [chore] move carbon exporter to generated lifecycle tests
  exporter/carbonexporter/generated_component_test.go
  exporter/carbonexporter/metadata.yaml
Labels: exporter/carbon

#30540 [chore] move prometheus exporter to generated lifecycle tests
  exporter/prometheusexporter/generated_component_test.go
  exporter/prometheusexporter/metadata.yaml
Labels: exporter/prometheus, waiting-for-code-owners

#31522 [chore][exporter/signalfx] fix tests
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/internal/utils/histogram_utils_test.go
Labels: ready to merge, exporter/signalfx

#31151 [chore][exporter/logzioexporter] Enable goleak check
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/jsonlog_test.go
  exporter/logzioexporter/package_test.go
Labels: ready to merge, exporter/logzio

#31529 Update all github.com/datadog packages
  .chloggen/stanley.liu_datadog-agent-v0.52.0.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, Skip Changelog, cmd/configschema, cmd/otelcontribcol, testbed, receiver/datadog, internal/datadog, connector/datadog

#31530 [chore] [cmd/mdatagen] Use enum for stability levels
  .chloggen/mdatagen-use-enums-for-stability-levels.yaml
  cmd/mdatagen/internal/samplereceiver/internal/metadata/generated_status.go
  cmd/mdatagen/loader_test.go
  cmd/mdatagen/main.go
  cmd/mdatagen/main_test.go
  cmd/mdatagen/statusdata.go
  cmd/mdatagen/templates/readme.md.tmpl
  cmd/mdatagen/templates/status.go.tmpl
  cmd/mdatagen/validate.go
  cmd/mdatagen/validate_test.go
  cmd/telemetrygen/README.md
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/internal/metadata/generated_status.go
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/internal/metadata/generated_status.go
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/internal/metadata/generated_status.go
  receiver/skywalkingreceiver/README.md
  receiver/skywalkingreceiver/internal/metadata/generated_status.go
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/internal/metadata/generated_status.go
Labels: exporter/loadbalancing, cmd/telemetrygen, cmd/mdatagen, receiver/sqlquery, receiver/skywalking, receiver/k8scluster, exporter/opensearch

#31523 [exporter/azuremonitor] Add environment variable support for connection string
  .chloggen/azuremonitorexporter-connectionstring-envvar-support.yaml
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/connection_string_parser.go
  exporter/azuremonitorexporter/connection_string_parser_test.go
Labels: exporter/azuremonitor

#31224 [chore] remove toolchain directive
  confmap/provider/secretsmanagerprovider/go.mod
  connector/servicegraphconnector/go.mod
  extension/storage/dbstorage/go.mod
  extension/storage/filestorage/go.mod
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/loki, extension/healthcheck, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, exporter/prometheusremotewrite, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/skywalking, exporter/sapm, exporter/coralogix, exporter/sentry, exporter/googlecloudpubsub, exporter/prometheus, exporter/zipkin, exporter/tencentcloudlogservice, exporter/sumologic, exporter/mezmo, exporter/opencensus, extension/sigv4auth, extension/oidcauth, extension/asapauth, extension/bearertokenauth, extension/oauth2clientauth, extension/httpforwarder, extension/pprof, extension/observer, extension/awsproxy, extension/basicauth, extension/jaegerremotesampling, extension/storage, extension/headerssetter, exporter/instana, exporter/azuredataexplorer, internal/aws, internal/tools, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/syslog, exporter/dataset, cmd/opampsupervisor, connector/routing, extension/encoding, connector/exceptions, exporter/opensearch, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, extension/opamp, extension/remotetap, exporter/alertmanager, connector/failover, extension/solarwindsapmsettings, exporter/otelarrow, extension/sumologic, confmap/provider/secretsmanagerprovider

#31524 [receiver/chrony] generated lifecycle tests
  .chloggen/chronyreceiver_lifecycle.yaml
  receiver/chronyreceiver/factory.go
  receiver/chronyreceiver/generated_component_test.go
  receiver/chronyreceiver/metadata.yaml
  receiver/chronyreceiver/scraper.go
  receiver/chronyreceiver/scraper_test.go
Labels: receiver/chrony

#31531 [exporter/f5cloud] remove deprecated exporter
  .chloggen/codeboten_rm-deprecated.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  exporter/f5cloudexporter/Makefile
  exporter/f5cloudexporter/README.md
  exporter/f5cloudexporter/auth.go
  exporter/f5cloudexporter/auth_test.go
  exporter/f5cloudexporter/config.go
  exporter/f5cloudexporter/config_test.go
  exporter/f5cloudexporter/doc.go
  exporter/f5cloudexporter/factory.go
  exporter/f5cloudexporter/factory_test.go
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/go.sum
  exporter/f5cloudexporter/internal/metadata/generated_status.go
  exporter/f5cloudexporter/metadata.yaml
  exporter/f5cloudexporter/package_test.go
  exporter/f5cloudexporter/testdata/config.yaml
  exporter/f5cloudexporter/testdata/empty_credential_file.json
  reports/distributions/contrib.yaml
  reports/distributions/observiq.yaml
  versions.yaml
Labels: exporter/f5cloud, reports/distributions/contrib.yaml, reports/distributions/observiq.yaml

#31448 Update Grafana Agent distribution components
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/metadata.yaml
  reports/distributions/grafana.yaml
Labels: Skip Changelog, processor/resourcedetection, reports/distributions/grafana.yaml

#31541 Revert "[exporter/signalfx] Fix memory leak on shutdown (#30887)"
  .chloggen/goleak_signalfx_correlations.yaml
  exporter/signalfxexporter/internal/apm/correlations/client.go
  exporter/signalfxexporter/internal/apm/correlations/client_test.go
  exporter/signalfxexporter/internal/apm/correlations/package_test.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  exporter/signalfxexporter/internal/correlation/correlation_test.go
  exporter/signalfxexporter/internal/correlation/package_test.go
Labels: Skip Changelog, exporter/signalfx

#31528 [exporter/datadogexporter] Add source tag to metrics client
  .chloggen/stanley.liu_source-metrics-client-connector.yaml
  .chloggen/stanley.liu_source-metrics-client.yaml
  connector/datadogconnector/factory.go
  exporter/datadogexporter/factory.go
  internal/datadog/metrics_client.go
  internal/datadog/metrics_client_test.go
Labels: exporter/datadog, internal/datadog, connector/datadog

#31550 [receiver/journald] Fix bug where failed startup could bury error message due to panic during shutdown
  .chloggen/journald-protect-shutdown.yaml
  pkg/stanza/operator/input/journald/journald.go
Labels: pkg/stanza

#31127 Add connection pooling
  .chloggen/receiver-postgresql-connection-pool.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/client_factory.go
  receiver/postgresqlreceiver/config.go
  receiver/postgresqlreceiver/config_test.go
  receiver/postgresqlreceiver/factory.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/config.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_connpool.yaml
Labels: receiver/postgresql

#31539 [chore] [extension/dockerobserver] Skip the lifecycle tests
  extension/observer/dockerobserver/generated_component_test.go
  extension/observer/dockerobserver/metadata.yaml
Labels: extension/observer, Run Windows

#31183 Splunkent update conf
  .chloggen/splunkent-update-conf.yaml
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/client.go
  receiver/splunkenterprisereceiver/client_test.go
  receiver/splunkenterprisereceiver/config.go
  receiver/splunkenterprisereceiver/config_test.go
  receiver/splunkenterprisereceiver/factory.go
  receiver/splunkenterprisereceiver/factory_test.go
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/testdata/config.yaml
Labels: receiver/splunkenterprise

#31555 [chore][receiver/namedpipe] Add original contributor as code owner
  receiver/namedpipereceiver/README.md
  receiver/namedpipereceiver/metadata.yaml
Labels: receiver/namedpipe

#30726 [processor/servicegraphprocessor] Add Configurable Database Name Attribute
  .chloggen/add-configurable-dbname-attribute.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/config_test.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/testdata/service-graph-connector-config.yaml
Labels: processor/servicegraph, connector/servicegraph

#31456 [exporter/loadbalancing] Fix panic on a sub-exporter shutdown
  .chloggen/fix-load-balancing-exp.yaml
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/loadbalancingexporter/wrapped_exporter.go
Labels: exporter/loadbalancing

#31337 [processor/deltatocumulative]: expire stale series
  .chloggen/deltatocumulative-stale.yaml
  internal/exp/metrics/identity/stream.go
  internal/exp/metrics/staleness/map.go
  internal/exp/metrics/staleness/staleness.go
  internal/exp/metrics/staleness/staleness_test.go
  internal/exp/metrics/streams/streams.go
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/config.go
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/internal/clock/clock.go
  processor/deltatocumulativeprocessor/internal/clock/clock_test.go
  processor/deltatocumulativeprocessor/internal/delta/delta.go
  processor/deltatocumulativeprocessor/internal/delta/delta_test.go
  processor/deltatocumulativeprocessor/internal/delta/lock.go
  processor/deltatocumulativeprocessor/internal/metrics/ident.go
  processor/deltatocumulativeprocessor/internal/metrics/metrics.go
  processor/deltatocumulativeprocessor/internal/streams/data.go
  processor/deltatocumulativeprocessor/internal/streams/data_test.go
  processor/deltatocumulativeprocessor/internal/streams/expiry.go
  processor/deltatocumulativeprocessor/internal/streams/expiry_test.go
  processor/deltatocumulativeprocessor/internal/streams/streams.go
  processor/deltatocumulativeprocessor/internal/testdata/random/random.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative, internal/exp/metrics

#31610 [chore] Upgrade go version in CI
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
Labels: Skip Changelog

#31606 [chore][processor/k8sattributes] Clarify wording of config option in comment
  processor/k8sattributesprocessor/config.go
Labels: documentation, processor/k8sattributes, Skip Changelog

#31604 [exporter/datadogexporter] Add example for host metadata
  connector/datadogconnector/go.mod
  exporter/datadogexporter/examples/host-metadata.yaml
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
Labels: documentation, exporter/datadog, Skip Changelog, connector/datadog

#31537 [chore][receiver/wavefront] fixes the skip lifecycle
  receiver/wavefrontreceiver/generated_component_test.go
  receiver/wavefrontreceiver/metadata.yaml
Labels: Skip Changelog, receiver/wavefront

#30492 [chore][cmd/configschema] Enable goleak
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/configschema/package_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver.go
Labels: receiver/awscontainerinsight, cmd/configschema, cmd/otelcontribcol, waiting-for-code-owners

#31596 [pkg/stanza/fileconsumer] Establish options pattern for Build
  .chloggen/pkg-stanza-fileconsumer-build-opts.yaml
  pkg/stanza/fileconsumer/config.go
Labels: pkg/stanza

#31607 [receiver/syslog] Migrate off of syslog parser fork
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/parser/syslog/data.go
  pkg/stanza/operator/parser/syslog/syslog.go
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, Skip Changelog, receiver/journald, receiver/mongodbatlas, receiver/filelog, receiver/sqlquery, processor/logstransform, cmd/configschema, cmd/otelcontribcol, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub, cmd/oteltestbedcol, testbed, connector/datadog, receiver/namedpipe

#31617 [chore] Remove use of fileprovider.New
  cmd/githubgen/main.go
  cmd/otelcontribcol/distribution_metadata_test.go
  exporter/datadogexporter/integrationtest/integration_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/testbed/in_process_collector.go
Labels: exporter/datadog, receiver/prometheus, cmd/otelcontribcol, testbed, cmd/githubgen

#31369 [exporter/file] add append mode
  .chloggen/file-exporter_append_mode.yaml
  exporter/fileexporter/README.md
  exporter/fileexporter/config.go
  exporter/fileexporter/factory.go
  exporter/fileexporter/factory_test.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/file_exporter_test.go
Labels: exporter/file

#31625 [processor/deltatocumulative]: timer-based expiry
  .chloggen/deltatocumulative-timer.yaml
  processor/deltatocumulativeprocessor/internal/clock/clock.go
  processor/deltatocumulativeprocessor/internal/clock/clock_test.go
  processor/deltatocumulativeprocessor/internal/streams/expiry.go
  processor/deltatocumulativeprocessor/internal/streams/expiry_test.go
  processor/deltatocumulativeprocessor/processor.go
Labels: Run Windows, processor/deltatocumulative

#31619 [chore] add goleak tests for splunkhecreceiver
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/package_test.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#31404 [googelcloudexporter] Fixed configuration path in README
  exporter/googlecloudexporter/README.md
Labels: Skip Changelog, exporter/googlecloud

#31639 Revert "[connector/datadog] Remove feature gate connector.datadogconnector.performance"
  .chloggen/dd-feature-gate-removal.yaml
  internal/datadog/agent.go
  internal/datadog/go.mod
  internal/datadog/go.sum
Labels: ready to merge, Skip Changelog, internal/datadog

#31602 [exporter/loadbalancing] Do not block resolver by the exporter shutdown
  exporter/loadbalancingexporter/loadbalancer.go
Labels: Skip Changelog, exporter/loadbalancing

#31640 Adapt to randomly generated nop component names in unit test
  exporter/awsxrayexporter/awsxray_test.go
Labels: Skip Changelog, exporter/awsxray

#31620 chore: udpate CODEOWNERS for Sumo Logic Components
  .github/CODEOWNERS
Labels: Skip Changelog

#31631 [cmd/telemetrygen] Remove WithBlock from telemetrygen metrics/traces
  .chloggen/dev_fix-tls-handshake-telemetrygen.yaml
  cmd/telemetrygen/internal/metrics/exporter.go
  cmd/telemetrygen/internal/traces/exporter.go
Labels: cmd/telemetrygen

#30968 [chore][exporter/splunkhecexporter] Enable goleak check
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/integration_test.go
  exporter/splunkhecexporter/internal/integrationtestutils/splunk.go
  exporter/splunkhecexporter/package_test.go
Labels: exporter/splunkhec

#31113 [receiver/vcenter] Fix multi cluster deployment resource attributes
  .chloggen/vcenter-cluster-duplication.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/internal/mockserver/README.md
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/internal/mockserver/responses/resource-pool-single.xml
  receiver/vcenterreceiver/internal/mockserver/responses/resource-pool-summary.xml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
Labels: receiver/vcenter

#31650 [chore] remove mention of Splunk Cloud observability behavior for logs
  exporter/splunkhecexporter/README.md
Labels: exporter/splunkhec

#31658 fixed the issue 31087
  .chloggen/fix-issue-31087.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  go.mod
  go.sum
  internal/docker/docker.go
Labels: cmd/configschema, internal/docker

#31622 [exporter/awss3] Add compression option (27872)
  .chloggen/add-compression-option.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/go.sum
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/s3_writer_test.go
  exporter/awss3exporter/testdata/compression.yaml
Labels: ready to merge, exporter/awss3

#31666 [chore][receiver/sapmreceiver] Enable goleak check
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/package_test.go
  receiver/sapmreceiver/trace_receiver_test.go
Labels: ready to merge, receiver/sapm

#31215 [receiver/vcenter] Bump receiver.vcenter.emitPerfMetricsWithObjects gate to stable
  .chloggen/featuregate-vcenter-stable.yaml
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected_without_direction.yaml
  receiver/vcenterreceiver/testdata/metrics/expected_without_objects.yaml
Labels: ready to merge, receiver/vcenter

#31668 [receiver/dockerstats] Fix leaking goroutines
  .chloggen/goleak_dockerstatsreceiver.yaml
  receiver/dockerstatsreceiver/factory.go
  receiver/dockerstatsreceiver/package_test.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/receiver_test.go
Labels: receiver/dockerstats

#31659 Round 2: Adapt to randomly generated nop component names in unit tests
  exporter/splunkhecexporter/client_test.go
  receiver/filelogreceiver/storage_test.go
Labels: Skip Changelog, receiver/filelog, exporter/splunkhec

#31665 [chore][extension/encoding] Update README.md
  extension/encoding/README.md
Labels: ready to merge, extension/encoding

#31488 [processor/deltatocumulative] limit tracked streams
  .chloggen/deltatocumulative-limits.yaml
  internal/exp/metrics/staleness/staleness.go
  internal/exp/metrics/streams/streams.go
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/config.go
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/internal/streams/limit.go
  processor/deltatocumulativeprocessor/internal/streams/limit_test.go
  processor/deltatocumulativeprocessor/internal/streams/streams.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative, internal/exp/metrics

#31050 [exporter/loadbalancing] Fix memory leaks
  .chloggen/goleak_loadbalancingexp.yaml
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/package_test.go
  exporter/loadbalancingexporter/resolver_dns_test.go
  exporter/loadbalancingexporter/resolver_static.go
  exporter/loadbalancingexporter/trace_exporter.go
Labels: exporter/loadbalancing

#31685 [processor/deltotocumulative] Fix lint failure
  processor/deltatocumulativeprocessor/processor.go
Labels: Skip Changelog, processor/deltatocumulative

#31630 [chore] add goleak tests for prometheusreceiver
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/package_test.go
Labels: ready to merge, Skip Changelog, receiver/prometheus

#31702 [chore][exporter/datadog] Improve documentation for hostname and host_metadata::hostname_source settings
  exporter/datadogexporter/config.go
  exporter/datadogexporter/examples/collector.yaml
Labels: exporter/datadog

#31703 [exporter/datadog] Lower gohai logs to debug level
  .chloggen/mx-psi_lower-log-level-gohai.yaml
  exporter/datadogexporter/internal/hostmetadata/internal/gohai/gohai.go
Labels: exporter/datadog

#31396 [exporter/file] Add group_by configuration
  .chloggen/file-exporter-group-by-attr.yaml
  exporter/fileexporter/README.md
  exporter/fileexporter/config.go
  exporter/fileexporter/config_test.go
  exporter/fileexporter/factory.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/file_exporter_test.go
  exporter/fileexporter/go.mod
  exporter/fileexporter/go.sum
  exporter/fileexporter/grouping_file_exporter.go
  exporter/fileexporter/grouping_file_exporter_test.go
  exporter/fileexporter/marshaller.go
  exporter/fileexporter/testdata/config.yaml
Labels: exporter/file

#31496 Clarify attributes also use regex
  processor/attributesprocessor/README.md
Labels: documentation, ready to merge, processor/attributes, Skip Changelog

#31636 [processor/transform] use default unit in extract_count_metric()
  .chloggen/fix_extract-count-default-unit.yaml
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: ready to merge, processor/transform

#31106 [connector/spanmetrics] Add feature to expire metrics
  .chloggen/spanmetrics-feature-metrics-expiration.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/cache/cache.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: ready to merge, connector/spanmetrics

#31716 [chore] Fix args order to ptracetest/CompareSpan
  pkg/pdatatest/ptracetest/testdata/ignore-attribute-value/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-attribute-value/expected.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-end-timestamp/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-end-timestamp/expected.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-spanid/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-spanid/expected.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-start-timestamp/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-start-timestamp/expected.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-traceid/actual.yaml
  pkg/pdatatest/ptracetest/testdata/ignore-traceid/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-attributes-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-attributes-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedattributescount-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedattributescount-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedeventscount-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedeventscount-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedlinkscount-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-droppedlinkscount-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-endtimestamp-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-endtimestamp-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-events-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-events-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-events-name-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-events-name-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-kind-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-kind-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-links-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-links-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-links-spanid-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-links-spanid-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-parentspanid-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-parentspanid-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-spanid-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-spanid-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-starttimestamp-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-starttimestamp-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-status-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-status-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-traceid-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-traceid-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-tracestate-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-spans-tracestate-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/traces.go
Labels: pkg/pdatatest

#31695 Revert [exporter/alibabacloudlogservice] mark component unmainained
  exporter/alibabacloudlogserviceexporter/README.md
  exporter/alibabacloudlogserviceexporter/internal/metadata/generated_status.go
  exporter/alibabacloudlogserviceexporter/metadata.yaml
Labels: ready to merge, exporter/alibabacloudlogservice, Skip Changelog

#31378 [receiver/hostmetrics] Divide by logical cores when calculating process.cpu.utilization
  .chloggen/fix_cpu-utilization-divide-by-cores.yaml
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator_test.go
Labels: receiver/hostmetrics

#31690 [processor/deltatocumulative] Adjust Config struct and MaxStreams validates
  processor/deltatocumulativeprocessor/config.go
  processor/deltatocumulativeprocessor/config_test.go
  processor/deltatocumulativeprocessor/testdata/config.yaml
Labels: Skip Changelog, processor/deltatocumulative

#31667 [chore][receiver/sqlquery] Enable goleak check
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/package_test.go
  receiver/sqlqueryreceiver/receiver_test.go
Labels: receiver/sqlquery

#31687 [chore] Add goleak tests for jaeger receiver
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/package_test.go
Labels: receiver/jaeger

#31517 [chore][internal/filter/filterconfig] Update comment to match functionality
  internal/filter/filterconfig/config.go
Labels: documentation, ready to merge, internal/filter

#31510 [chore] refactor(sumologicexporter): use `confighttp.NewDefaultClientConfig`
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/factory_test.go
Labels: ready to merge, exporter/sumologic

#31505 [receiver/k8scluster] add k8s.container.status_last_terminated_reason resource attribute
  .chloggen/main-resource-attribute.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#31660 Use encoding/binary to convert hashing seed for better performance
  processor/probabilisticsamplerprocessor/fnvhasher.go
  processor/probabilisticsamplerprocessor/fnvhasher_test.go
Labels: Skip Changelog, processor/probabilisticsampler

#31724 [chore][cmd/telemetrygen] Enable goleak
  cmd/telemetrygen/package_test.go
Labels: cmd/telemetrygen

#31637 [processor/k8sattributes] Add support for k8s.node.uid metadata
  .chloggen/add_node_uid_k8s_attrib.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: ready to merge, processor/k8sattributes

#27588 [exporter/loadbalancing] Adding AWS Cloud Map for Load Balancer Exporter discovery
  .chloggen/27241-loadbalancerexporter-aws-support.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/resolver_aws_cloudmap.go
  exporter/loadbalancingexporter/resolver_aws_cloudmap_test.go
  exporter/loadbalancingexporter/testdata/config.yaml
  go.mod
  go.sum
Labels: exporter/loadbalancing, cmd/configschema, cmd/otelcontribcol

#31722 [processor/filter] Remove old config style from readme
  processor/filterprocessor/README.md
Labels: processor/filter, Skip Changelog

#29550 [awsproxy] Expose service name as config option
  .chloggen/main.yaml
  extension/awsproxy/README.md
  extension/awsproxy/config_test.go
  extension/awsproxy/testdata/config.yaml
  internal/aws/proxy/cfg.go
  internal/aws/proxy/server.go
  internal/aws/proxy/server_test.go
  receiver/awsxrayreceiver/config_test.go
Labels: ready to merge, receiver/awsxray, extension/awsproxy, internal/aws

#29729 [exporter/prometheusremotewrite] Fix: Don't drop batch in case of failure to translate metrics
  .chloggen/prw_failure_translate.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/go.mod
Labels: ready to merge, exporter/prometheusremotewrite

#31744 [chore] update protobuf lib
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  examples/demo/client/go.mod
  examples/demo/client/go.sum
  examples/demo/server/go.mod
  examples/demo/server/go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/k8stest/go.mod
  internal/k8stest/go.sum
  internal/kubelet/go.mod
  internal/kubelet/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.mod
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.sum
Labels: receiver/simpleprometheus, examples/demo, internal/aws, internal/kubelet, internal/metadataproviders, internal/k8sconfig, internal/k8stest, cmd/opampsupervisor

#31749 Fix small typo in DESIGN.md
  exporter/prometheusremotewriteexporter/DESIGN.md
Labels: documentation, ready to merge, Skip Changelog, exporter/prometheusremotewrite

#31755 [chore] add lifecycle tests to httpforwarder extension
  extension/httpforwarderextension/generated_component_test.go
  extension/httpforwarderextension/metadata.yaml
Labels: extension/httpforwarder

#31754 [chore] enable journaldreceiver lifecycle tests
  receiver/journaldreceiver/generated_component_test.go
  receiver/journaldreceiver/metadata.yaml
Labels: receiver/journald

#30531 [chore] move kafka exporter to generated lifecycle tests
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/generated_component_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/metadata.yaml
Labels: ready to merge, exporter/kafka

#31759 [extension/oauth2clientauth] fix README example
  extension/oauth2clientauthextension/README.md
Labels: Skip Changelog, extension/oauth2clientauth

#31733 [exporter/datadog] Respect confighttp configs and use better defaults
  .chloggen/ddog-config-change.yaml
  .chloggen/ddog-http-defaults.yaml
  .chloggen/ddog-respect-confighttp.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/examples/logs.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/internal/clientutil/api.go
  exporter/datadogexporter/internal/clientutil/http.go
  exporter/datadogexporter/internal/clientutil/http_test.go
  exporter/datadogexporter/internal/hostmetadata/config.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/logs/sender.go
  exporter/datadogexporter/internal/logs/sender_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog

#31452 [receiver/prometheus] Use confighttp for target allocator client
  .chloggen/receiver_prometheus_confighttp-ta.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/testdata/config_target_allocator.yaml
Labels: receiver/prometheus

#31762 [connector/servicegraph] amend README example
  connector/servicegraphconnector/README.md
Labels: documentation, Skip Changelog, connector/servicegraph

#31766 Fix typos and formatting
  exporter/alertmanagerexporter/README.md
Labels: Skip Changelog, exporter/alertmanager

#31730 [pkg/ottl] Add Base64Decode function (#31543)
  .chloggen/31543-add-base64decode-function-ottl.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_base64decode.go
  pkg/ottl/ottlfuncs/func_base64decode_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#31487 [pkg/ottl]: Add ParseXML converter
  .chloggen/feat_ottl_xml-parse-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_xml.go
  pkg/ottl/ottlfuncs/func_parse_xml_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#31770 [connector/datadog] Remove feature gate connector.datadogconnector.performance
  .chloggen/dd-feature-gate-removal.yaml
  internal/datadog/agent.go
  internal/datadog/go.mod
  internal/datadog/go.sum
Labels: internal/datadog, connector/datadog

#31768 [internal/sqlquery] use errors.Join instead of multierr
  internal/sqlquery/config.go
  internal/sqlquery/db_client.go
  internal/sqlquery/db_client_test.go
  internal/sqlquery/scraper.go
Labels: Skip Changelog, internal/sqlquery

#31779 [receiver/rabbitmqreceiver] use errors.Join instead of multierr
  receiver/rabbitmqreceiver/config.go
  receiver/rabbitmqreceiver/config_test.go
  receiver/rabbitmqreceiver/go.mod
Labels: Skip Changelog, receiver/rabbitmq

#31785 [receiver/sqlquery] Fix memory leak and failing tests
  .chloggen/sqlquery_shutdown.yaml
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/logs_receiver.go
Labels: receiver/sqlquery

#31792 Update github.com/coreos/go-oidc to v3.9.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/go.sum
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, extension/oidcauth

#30209 [exporter/clickhouse] Add integration test
  .chloggen/add_integration_test_for_clickhous_exporter.yaml
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.sum
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/exporter_traces_test.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
  exporter/clickhouseexporter/integration_test.go
  go.sum
Labels: exporter/clickhouse, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol

#31801 [exporter/awss3] use encoding extensions
  .chloggen/add_encoding_s3exporter.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/exporter.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/marshaler.go
  exporter/awss3exporter/marshaler_test.go
  exporter/awss3exporter/testdata/default.yaml
Labels: exporter/awss3

#31798 [bug] used UTC timezone in testcase
  pkg/ottl/ottlfuncs/func_truncate_time_test.go
Labels: Skip Changelog, pkg/ottl

#31805 [exporter/datadog] Report `otelcol_datadog_otlp_translator_resources_missing_source` metric
  .chloggen/mx-psi_enable-internal-metric.yaml
  exporter/datadogexporter/factory.go
Labels: ready to merge, exporter/datadog

#31815 [chore] Switch to use configgrpc ServerConfig's ToServerContext
  extension/jaegerremotesampling/internal/grpc.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/lokireceiver/loki.go
  receiver/opencensusreceiver/opencensus.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/skywalkingreceiver/skywalking_receiver.go
Labels: Skip Changelog, receiver/jaeger, receiver/opencensus, receiver/skywalking, extension/jaegerremotesampling, receiver/loki, receiver/otelarrow

#31794 [chore] remove use of ReportFatalError in test
  extension/observer/dockerobserver/integration_test.go
Labels: extension/observer

#31795 [chore] fix mention of deprecated function in ecsobserver
  extension/observer/ecsobserver/README.md
Labels: extension/observer

#31793 Remove checks of ErrNilNextConsumer
  .chloggen/remove_ErrNilNextConsumer_impl.yaml
  processor/tailsamplingprocessor/processor.go
  receiver/awscontainerinsightreceiver/receiver.go
  receiver/awscontainerinsightreceiver/receiver_test.go
  receiver/awsecscontainermetricsreceiver/receiver.go
  receiver/awsecscontainermetricsreceiver/receiver_test.go
  receiver/awsfirehosereceiver/metrics_receiver.go
  receiver/awsxrayreceiver/receiver.go
  receiver/carbonreceiver/receiver.go
  receiver/cloudfoundryreceiver/receiver.go
  receiver/cloudfoundryreceiver/receiver_test.go
  receiver/collectdreceiver/receiver.go
  receiver/datadogreceiver/receiver.go
  receiver/googlecloudpubsubreceiver/factory.go
  receiver/googlecloudpubsubreceiver/factory_test.go
  receiver/lokireceiver/loki.go
  receiver/opencensusreceiver/internal/ocmetrics/opencensus.go
  receiver/opencensusreceiver/internal/octrace/opencensus.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/receiver.go
  receiver/signalfxreceiver/receiver.go
  receiver/skywalkingreceiver/skywalking_receiver.go
  receiver/solacereceiver/receiver.go
  receiver/statsdreceiver/factory_test.go
  receiver/statsdreceiver/receiver.go
  receiver/zipkinreceiver/trace_receiver.go
Labels: receiver/zipkin, receiver/statsd, processor/tailsampling, receiver/carbon, receiver/awscontainerinsight, receiver/solace, receiver/awsxray, receiver/awsecscontainermetrics, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/collectd, receiver/cloudfoundry, receiver/googlecloudpubsub, receiver/skywalking, receiver/receivercreator, receiver/datadog, receiver/loki, receiver/otelarrow

#31811 [chore][connector/datadogconnector] Fix connector traceToMetrics lifecycle
  connector/datadogconnector/connector.go
  connector/datadogconnector/generated_component_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/metadata.yaml
Labels: connector/datadog

#31774 [exporter/file] add encoding extension support
  .chloggen/encoding_fileexporter.yaml
  cmd/configschema/go.mod
  exporter/fileexporter/README.md
  exporter/fileexporter/config.go
  exporter/fileexporter/encoding_test.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/go.mod
  exporter/fileexporter/go.sum
  exporter/fileexporter/grouping_file_exporter.go
  exporter/fileexporter/marshaller.go
  go.mod
Labels: cmd/configschema, exporter/file

#31838 [exporter/datadog] Fix data race in metrics exporter shutdown
  .chloggen/ddog-data-race.yaml
  exporter/datadogexporter/factory.go
Labels: ready to merge, exporter/datadog

#31642 Add container tags
  .chloggen/dinesh.gurumurthy_add-container-stats.yaml
  connector/datadogconnector/README.md
  connector/datadogconnector/config.go
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/examples/config.yaml
  connector/datadogconnector/go.mod
Labels: ready to merge, connector/datadog

#31478 feat(sumologicextension): enable Sumo Logic Extension
  .chloggen/drosiek-add-sumologicextension.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/sumologicextension/README.md
  extension/sumologicextension/internal/metadata/generated_status.go
  extension/sumologicextension/metadata.yaml
Labels: cmd/otelcontribcol, extension/sumologic

#31648 [receiver/opencensus] refactor the code for maintenance and lifecycle tests
  .chloggen/opencensusreceiver_lifecycle.yaml
  receiver/opencensusreceiver/factory.go
  receiver/opencensusreceiver/factory_test.go
  receiver/opencensusreceiver/generated_component_test.go
  receiver/opencensusreceiver/internal/ocmetrics/opencensus_test.go
  receiver/opencensusreceiver/metadata.yaml
  receiver/opencensusreceiver/opencensus.go
  receiver/opencensusreceiver/opencensus_test.go
Labels: receiver/opencensus

#31616 Promote the OpAMP extension to alpha stability
  .chloggen/opampextension-alpha.yaml
  extension/opampextension/README.md
  extension/opampextension/internal/metadata/generated_status.go
  extension/opampextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: extension/opamp

#31893 Update all dd agent pkgs
  .chloggen/update-dd-pkgs.yaml
  .chloggen/update-dd-pkgs2.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
Labels: ready to merge, exporter/datadog, cmd/configschema, cmd/otelcontribcol, internal/datadog, connector/datadog

#31891 [chore][awscloudwatchlogsexporter] Enable goleak check
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/package_test.go
Labels: exporter/awscloudwatchlogs

#31481 feat(dockerstats): add online cpu and memory failcnt metrics
  .chloggen/dockerstats-onlinecpus-failcnt.yaml
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/internal/metadata/generated_config.go
  receiver/dockerstatsreceiver/internal/metadata/generated_config_test.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/receiver_test.go
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/cpu_limit/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/cpu_limit/stats.json
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/stats.json
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/stats.json
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/stats.json
  receiver/dockerstatsreceiver/testdata/mock/single_container_with_optional_resource_attributes/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container_with_optional_resource_attributes/stats.json
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/stats1.json
  receiver/dockerstatsreceiver/testdata/mock/two_containers/stats2.json
Labels: receiver/dockerstats

#31651 [extension/ackextension] Implement in-memory ack extension
  .chloggen/ack_extension_impl.yaml
  extension/ackextension/README.md
  extension/ackextension/ackextension.go
  extension/ackextension/config.go
  extension/ackextension/factory.go
  extension/ackextension/factory_test.go
  extension/ackextension/go.mod
  extension/ackextension/go.sum
  extension/ackextension/inmemory.go
  extension/ackextension/inmemory_test.go
  extension/ackextension/package_test.go
  extension/ackextension/testdata/config.yaml
Labels: extension/ack

#31896 [exporter/clickhouse] Update integration tests+readme
  .chloggen/add_integration_test_for_clickhous_exporter.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/integration_test.go
Labels: Skip Changelog, exporter/clickhouse

#31898 [chore] [network scraper] Bound flaky test
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
Labels: receiver/hostmetrics

#31902 [fileexporter] Fix wrong marshaler type judgment
  .chloggen/fileexporter_fix_wrong_marshaler.yaml
  exporter/fileexporter/marshaller.go
Labels: exporter/file

#31309 [cmd/telemetrygen] Fix logs telemetry attributes key mapping
  .chloggen/fix-telemetrygen-log-attributes.yaml
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/logs/worker_test.go
Labels: cmd/telemetrygen

#31913 [carbonreceiver]: Do not report fatal error when closed normally
  .chloggen/carbonreceiver-error-closed.yaml
  receiver/carbonreceiver/internal/transport/server.go
  receiver/carbonreceiver/receiver.go
  receiver/carbonreceiver/receiver_test.go
Labels: receiver/carbon

#31917 [chore][receiver/k8sevent] Enable goleak check
  receiver/k8seventsreceiver/factory_test.go
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/package_test.go
Labels: receiver/k8sevents

#31920 [exporter/clickhouse] ClickHouse replication / engine configuration
  .chloggen/add_clickhouse_replication.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/exporter_sql_test.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_test.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
  exporter/clickhouseexporter/testdata/config.yaml
Labels: exporter/clickhouse

#31726 [connector/grafanacloud] add new connector component
  .chloggen/grafanacloudconnector.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  connector/grafanacloudconnector/Makefile
  connector/grafanacloudconnector/README.md
  connector/grafanacloudconnector/config.go
  connector/grafanacloudconnector/config_test.go
  connector/grafanacloudconnector/connector.go
  connector/grafanacloudconnector/connector_test.go
  connector/grafanacloudconnector/doc.go
  connector/grafanacloudconnector/factory.go
  connector/grafanacloudconnector/factory_test.go
  connector/grafanacloudconnector/generated_component_test.go
  connector/grafanacloudconnector/go.mod
  connector/grafanacloudconnector/go.sum
  connector/grafanacloudconnector/host_metrics.go
  connector/grafanacloudconnector/host_metrics_test.go
  connector/grafanacloudconnector/internal/metadata/generated_status.go
  connector/grafanacloudconnector/metadata.yaml
  connector/grafanacloudconnector/package_test.go
  connector/grafanacloudconnector/testdata/config.yaml
  reports/distributions/contrib.yaml
  reports/distributions/grafana.yaml
  versions.yaml
Labels: reports/distributions/contrib.yaml, reports/distributions/grafana.yaml

#31921 [connector/datadog] Fix data race
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_test.go
Labels: Skip Changelog, connector/datadog

#31932 [chore] lint fixes in cmd/telemetrygen & cmd/opampsupervisor
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/telemetrygen/config.go
Labels: cmd/telemetrygen, cmd/opampsupervisor

#31772 [exporter/signalfx] Fix memory leaks
  .chloggen/goleak_signalfx_correlations.yaml
  exporter/signalfxexporter/internal/apm/correlations/client.go
  exporter/signalfxexporter/internal/apm/correlations/client_test.go
  exporter/signalfxexporter/internal/apm/correlations/package_test.go
  exporter/signalfxexporter/internal/apm/requests/sender.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  exporter/signalfxexporter/internal/correlation/correlation_test.go
  exporter/signalfxexporter/internal/correlation/package_test.go
Labels: ready to merge, exporter/signalfx

#31844 [elasticsearchexporter] When timestamp is not set, use observedTimestamp overwrites the timestamp
  .chloggen/fix_ex_exporter_does_not_set_reasonable_timestamp.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#31903 [fileexporter] clean up unused changlog
  .chloggen/fileexporter_fix_wrong_marshaler.yaml
Labels: ready to merge, Skip Changelog

#31939 [chore] fix lint in cmd/opampsupervisor
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#30934 Update prometheus to v0.50.1 and remove enable_protobuf_negotiation
  .chloggen/update-prometheus.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/receivers_test.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/metadata.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/internal/util_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_protobuf_test.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
  receiver/prometheusreceiver/testdata/config.yaml
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  receiver/simpleprometheusreceiver/receiver.go
  receiver/simpleprometheusreceiver/receiver_test.go
  testbed/go.mod
  testbed/go.sum
Labels: ready to merge, exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/loki, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/logzio, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/coralogix, exporter/googlecloudpubsub, exporter/prometheus, exporter/mezmo, exporter/opencensus, receiver/simpleprometheus, exporter/instana, examples/demo, exporter/azuredataexplorer, pkg/translator/loki, pkg/translator/prometheus, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, receiver/purefa, testbed, receiver/purefb, connector/count, connector/servicegraph, connector/spanmetrics, receiver/loki, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, exporter/alertmanager, connector/failover

#31710 [receiver/awss3receiver] Introduce the AWS S3 Receiver
  .chloggen/awss3receiver_intro.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  receiver/awss3receiver/Makefile
  receiver/awss3receiver/README.md
  receiver/awss3receiver/config.go
  receiver/awss3receiver/config_test.go
  receiver/awss3receiver/doc.go
  receiver/awss3receiver/factory.go
  receiver/awss3receiver/factory_test.go
  receiver/awss3receiver/generated_component_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
  receiver/awss3receiver/internal/metadata/generated_status.go
  receiver/awss3receiver/metadata.yaml
  receiver/awss3receiver/package_test.go
  receiver/awss3receiver/receiver.go
  receiver/awss3receiver/testdata/config.yaml
  versions.yaml
Labels: ready to merge, Accepted Component, cmd/otelcontribcol, reports/distributions/contrib.yaml

#31220 [receiver/postgresql] Bump postgresqlreceiver.preciselagmetrics gate to beta
  .chloggen/featuregate-postgresql-lag.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/exclude.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/exclude_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_default_metrics.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_default_metrics_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_schemaattr.yaml
Labels: receiver/postgresql

#30965 [chore][exporter/prometheusexporter] Enable goleak check
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/package_test.go
  exporter/prometheusexporter/prometheus_test.go
Labels: exporter/prometheus, waiting-for-code-owners

#31657 Fixed bug with batch's creation parameters
  .chloggen/fix_awskinesisexporter_batch_initialize_bug.yaml
  exporter/awskinesisexporter/internal/batch/batch.go
  exporter/awskinesisexporter/internal/batch/batch_max_records_test.go
Labels: Stale, exporter/awskinesis

#31942 [chore] Update dependencies to fix the build
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
Labels: receiver/awss3

#31821 [exporter/instana] Mark the Instana Exporter as deprecated
  .chloggen/deprecate_instana_exporter.yaml
  exporter/instanaexporter/README.md
  exporter/instanaexporter/internal/metadata/generated_status.go
  exporter/instanaexporter/metadata.yaml
Labels: exporter/instana, waiting-for-code-owners

#31900 [receiver/bigip] avoid nil pointer dereference in getpoolmembers
  .chloggen/bigip-getpoolsissue.yaml
  receiver/bigipreceiver/scraper.go
  receiver/bigipreceiver/scraper_test.go
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_with_members_golden.yaml
Labels: receiver/bigip

#31700 [connector/servicegraphconnector] Gracefully handle half-cleaned metrics
  .chloggen/handle-half-cleaned-up-servicegraph-metric.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
Labels: ready to merge, connector/servicegraph

#31518 [extension/googleclientauth] Add new component boilerplate scaffolding
  .chloggen/gcp-auth-ext.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  extension/googleclientauthextension/Makefile
  extension/googleclientauthextension/README.md
  extension/googleclientauthextension/config.go
  extension/googleclientauthextension/doc.go
  extension/googleclientauthextension/factory.go
  extension/googleclientauthextension/generated_component_test.go
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
  extension/googleclientauthextension/internal/metadata/generated_status.go
  extension/googleclientauthextension/metadata.yaml
  extension/googleclientauthextension/package_test.go
  versions.yaml
Labels: ready to merge, Vendor-Specific Component

#31833 [exporter/awss3] Make file format suffix configurable when using encoding
  .chloggen/awss3_encoding_file_extension.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/exporter.go
  exporter/awss3exporter/marshaler.go
  exporter/awss3exporter/marshaler_test.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/s3_writer_test.go
  exporter/awss3exporter/testdata/default.yaml
Labels: ready to merge, exporter/awss3

#31800 Add skeleton for new rabbitmq exporter component
  .chloggen/rabbitmq-exporter-skeleton.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  exporter/rabbitmqexporter/Makefile
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/config.go
  exporter/rabbitmqexporter/config_test.go
  exporter/rabbitmqexporter/doc.go
  exporter/rabbitmqexporter/factory.go
  exporter/rabbitmqexporter/factory_test.go
  exporter/rabbitmqexporter/generated_component_test.go
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/go.sum
  exporter/rabbitmqexporter/internal/metadata/generated_status.go
  exporter/rabbitmqexporter/metadata.yaml
  exporter/rabbitmqexporter/package_test.go
  exporter/rabbitmqexporter/rabbitmq_exporter.go
  exporter/rabbitmqexporter/testdata/test-config.yaml
  versions.yaml
Labels: ready to merge, Accepted Component, reports/distributions/contrib.yaml

#31972 [chore] Fix main
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/go.sum
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
Labels: extension/googleclientauth, exporter/rabbitmq

#31964 [internal/datadog] Fix Datarace in metrics client
  .chloggen/dinesh.gurumurthy_fix-data-race-metrics-client.yaml
  internal/datadog/metrics_client.go
  internal/datadog/metrics_client_test.go
Labels: ready to merge, internal/datadog

#31556 [pkg/ottl] Add new ottl/Unix function
  .chloggen/27868-add-unix-function-ottl.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_unix.go
  pkg/ottl/ottlfuncs/func_unix_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#31991 [chore] remove use of confignet.ToServerContext
  extension/jaegerremotesampling/internal/grpc.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/lokireceiver/loki.go
  receiver/opencensusreceiver/opencensus.go
  receiver/opencensusreceiver/opencensus_test.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/skywalkingreceiver/skywalking_receiver.go
Labels: receiver/jaeger, receiver/opencensus, receiver/skywalking, extension/jaegerremotesampling, receiver/loki, receiver/otelarrow

#31977 cumulativetodeltaprocessor: fix regexp in example
  processor/cumulativetodeltaprocessor/README.md
Labels: Skip Changelog, processor/cumulativetodelta

#31927 [receiver/kafka] Fix panic on shutdown
  .chloggen/kafka-panic.yaml
  receiver/kafkareceiver/kafka_receiver.go
Labels: receiver/kafka

#31904 [loadbalancingexporter] Support the timeout period of k8s resolver list watch can be configured
  .chloggen/support_timeout_configurable_for_k8s_resolver.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/resolver_k8s.go
  exporter/loadbalancingexporter/resolver_k8s_test.go
Labels: exporter/loadbalancing
