Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-02, with the labels that each got.

#30969 [chore][pkg/stanza/adapter] Enable goleak check
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/package_test.go
  pkg/stanza/adapter/storage_test.go
Labels: pkg/stanza

#30976 [chore] add generated lifecycle tests to skywalking exporter
  exporter/skywalkingexporter/generated_component_test.go
  exporter/skywalkingexporter/metadata.yaml
Labels: exporter/skywalking

#30978 [receiver/skywalking] adopt the `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  receiver/skywalkingreceiver/README.md
  receiver/skywalkingreceiver/config_test.go
  receiver/skywalkingreceiver/factory.go
  receiver/skywalkingreceiver/factory_test.go
  receiver/skywalkingreceiver/go.mod
Labels: Skip Changelog, receiver/skywalking

#30967 [chore] Upgrade github.com/opencontainers/runc to v1.1.12
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.sum
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  go.mod
  go.sum
  internal/coreinternal/go.mod
  internal/coreinternal/go.sum
  receiver/aerospikereceiver/go.mod
  receiver/aerospikereceiver/go.sum
  receiver/apachereceiver/go.mod
  receiver/apachereceiver/go.sum
  receiver/apachesparkreceiver/go.mod
  receiver/apachesparkreceiver/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/bigipreceiver/go.mod
  receiver/bigipreceiver/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/go.sum
  receiver/filestatsreceiver/go.mod
  receiver/filestatsreceiver/go.sum
  receiver/haproxyreceiver/go.mod
  receiver/haproxyreceiver/go.sum
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/iisreceiver/go.mod
  receiver/iisreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/memcachedreceiver/go.mod
  receiver/memcachedreceiver/go.sum
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/nginxreceiver/go.mod
  receiver/nginxreceiver/go.sum
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/redisreceiver/go.mod
  receiver/redisreceiver/go.sum
  receiver/snmpreceiver/go.mod
  receiver/snmpreceiver/go.sum
  receiver/splunkhecreceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/vcenterreceiver/go.mod
  receiver/vcenterreceiver/go.sum
  receiver/zookeeperreceiver/go.mod
  receiver/zookeeperreceiver/go.sum
Labels: receiver/redis, exporter/datadog, receiver/memcached, receiver/jmx, receiver/aerospike, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/awscontainerinsight, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/zookeeper, receiver/sqlquery, cmd/configschema, cmd/otelcontribcol, exporter/splunkhec, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/splunkhec, receiver/apache, extension/observer, receiver/snmp, internal/core, cmd/oteltestbedcol, receiver/haproxy, receiver/filestats, receiver/apachespark

#30973 [chore] add generated lifecycle tests to tencentcloudlogservice exporter
  exporter/tencentcloudlogserviceexporter/generated_component_test.go
  exporter/tencentcloudlogserviceexporter/metadata.yaml
Labels: exporter/tencentcloudlogservice

#30980 [receiver/jaeger] jaegerreceiver adopts `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/config_test.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/factory_test.go
Labels: Skip Changelog, receiver/jaeger

#30983 [extension/jaegerremotesampling] jaegerremotesampling adopts `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/config_test.go
  extension/jaegerremotesampling/factory.go
  extension/jaegerremotesampling/factory_test.go
  extension/jaegerremotesampling/go.mod
Labels: Skip Changelog, extension/jaegerremotesampling

#30926 [receiver/sapm] sapmreceiver adopts `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  receiver/sapmreceiver/README.md
  receiver/sapmreceiver/config_test.go
  receiver/sapmreceiver/factory.go
  receiver/sapmreceiver/trace_receiver_test.go
Labels: Skip Changelog, receiver/sapm

#30534 [chore] move logicmonitor exporter to generated lifecycle tests
  exporter/logicmonitorexporter/generated_component_test.go
  exporter/logicmonitorexporter/metadata.yaml
Labels: exporter/logicmonitor, waiting-for-code-owners

#30985 [extension/awsproxy] awsproxy extension adopts `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  extension/awsproxy/README.md
  extension/awsproxy/factory.go
  extension/awsproxy/factory_test.go
Labels: Skip Changelog, extension/awsproxy

#30991 [chore][receiver/oracledb] Fix empty ID in test
  receiver/oracledbreceiver/factory_test.go
Labels: receiver/oracledb

#30994 [chore][receiver/hostmetrics, exporter/awsxray] Fix some more empty IDs
  exporter/awsxrayexporter/awsxray_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
Labels: receiver/hostmetrics, exporter/awsxray

#30988 [chore] remove go build instructions on doc.go files
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/doc.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/doc.go
Labels: receiver/hostmetrics

#30225 fix(datadogreceiver): set AppVersion on payload so it propagates correctly
  .chloggen/fix_dd-app-version.yaml
  receiver/datadogreceiver/translator.go
  receiver/datadogreceiver/translator_test.go
Labels: receiver/datadog

#30564 [pkg/ottl]Godoc comments
  pkg/ottl/expression.go
Labels: Stale, Skip Changelog, pkg/ottl

#30506 [chore] move awsemf exporter to generated lifecycle tests
  exporter/awsemfexporter/generated_component_test.go
  exporter/awsemfexporter/metadata.yaml
Labels: ready to merge, exporter/awsemf

#30996 [chore] Remove invalid build tags from doc.go
  receiver/aerospikereceiver/doc.go
  receiver/couchdbreceiver/doc.go
  receiver/elasticsearchreceiver/doc.go
  receiver/kafkametricsreceiver/doc.go
  receiver/kubeletstatsreceiver/doc.go
  receiver/mongodbatlasreceiver/doc.go
  receiver/mongodbreceiver/doc.go
  receiver/nginxreceiver/doc.go
  receiver/zookeeperreceiver/doc.go
Labels: receiver/mongodbatlas, receiver/aerospike, receiver/kubeletstats, receiver/elasticsearch, receiver/zookeeper, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/kafkametrics

#30992 [chore][extension/health_check] Use component.UseLocalHostAsDefaultHost feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/factory.go
  extension/healthcheckextension/factory_test.go
Labels: release:blocker, extension/healthcheck

#30424 [chore] move basicauth extension to generated lifecycle tests
  extension/basicauthextension/generated_component_test.go
  extension/basicauthextension/metadata.yaml
Labels: extension/basicauth

#30930 [chore][pkg/stanza] Remove unnecessary parameter in recombine operator
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#30972 [chore] add generated lifecycle tests to zipkinexporter
  exporter/zipkinexporter/generated_component_test.go
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/metadata.yaml
Labels: exporter/zipkin

#30904 Refactored pipeline selector
  .chloggen/failover-refactor.yaml
  .github/CODEOWNERS
  connector/failoverconnector/factory_test.go
  connector/failoverconnector/failover.go
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/failoverconnector/internal/state/utils.go
  connector/failoverconnector/logs.go
  connector/failoverconnector/logs_test.go
  connector/failoverconnector/metrics.go
  connector/failoverconnector/metrics_test.go
  connector/failoverconnector/traces.go
  connector/failoverconnector/traces_test.go
Labels: connector/failover

#30929 Update gcp documentation
  exporter/googlecloudexporter/README.md
Labels: Skip Changelog, exporter/googlecloud

#30987 [internal/aws/proxy] adopt `component.UseLocalHostAsDefaultHost` feature gate
  .chloggen/mx-psi_internal-localhostgate.yaml
  internal/aws/proxy/cfg.go
  receiver/awsxrayreceiver/README.md
Labels: Skip Changelog, release:blocker, receiver/awsxray, internal/aws

#31006 [chore] use require.Eventually instead of time.Sleep to retry checks
  connector/failoverconnector/traces_test.go
Labels: connector/failover

#30914 [receiver/filelog] Add docs for offset tracking
  examples/fault-tolerant-logs-collection/README.md
  examples/fault-tolerant-logs-collection/otel-col-config.yaml
  examples/my-config.yaml
  receiver/filelogreceiver/README.md
Labels: documentation, Skip Changelog, receiver/filelog

#30974 [chore] add generated lifecycle tests to syslogexporter
  exporter/syslogexporter/generated_component_test.go
  exporter/syslogexporter/go.mod
  exporter/syslogexporter/go.sum
  exporter/syslogexporter/metadata.yaml
Labels: exporter/syslog

#30768 [chore][exporter/azuredataexplorerexporter] Enable goleak check
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  exporter/azuredataexplorerexporter/package_test.go
Labels: ready to merge, exporter/azuredataexplorer

#30927 Change default Docker client API version from 1.22 to 1.24
  .chloggen/change-default-docker-client-api.yaml
  extension/observer/dockerobserver/README.md
  extension/observer/dockerobserver/config_test.go
  extension/observer/dockerobserver/extension.go
Labels: extension/observer

#30709 [chore][receiver/sqlquery] Move reusable logic to internal package
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  go.mod
  internal/sqlquery/Makefile
  internal/sqlquery/config.go
  internal/sqlquery/db_client.go
  internal/sqlquery/db_client_test.go
  internal/sqlquery/db_wrappers.go
  internal/sqlquery/go.mod
  internal/sqlquery/go.sum
  internal/sqlquery/metadata.yaml
  internal/sqlquery/metrics.go
  internal/sqlquery/metrics_test.go
  internal/sqlquery/row_scanner.go
  internal/sqlquery/scraper.go
  internal/sqlquery/scraper_test.go
  receiver/sqlqueryreceiver/config.go
  receiver/sqlqueryreceiver/config_test.go
  receiver/sqlqueryreceiver/db_client.go
  receiver/sqlqueryreceiver/factory.go
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/logs_receiver_test.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/receiver_test.go
  receiver/sqlqueryreceiver/scraper.go
  versions.yaml
Labels: processor/resourcedetection, receiver/jmx, extension/healthcheck, receiver/awscontainerinsight, receiver/kubeletstats, receiver/zookeeper, receiver/sqlquery, cmd/configschema, cmd/otelcontribcol, receiver/postgresql, receiver/k8scluster, extension/observer, internal/aws, internal/kubelet, pkg/translator/prometheus, pkg/translator/signalfx, testbed, receiver/cloudflare, receiver/loki

#30475 [chore] move elasticsearch exporter to generated lifecycle tests
  exporter/elasticsearchexporter/generated_component_test.go
  exporter/elasticsearchexporter/metadata.yaml
Labels: Skip Changelog, exporter/elasticsearch, Run Windows

#29603 New component: Sumo Logic extension
  .chloggen/drosiek-sumologicextension.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  extension/sumologicextension/.gitignore
  extension/sumologicextension/Makefile
  extension/sumologicextension/README.md
  extension/sumologicextension/config.go
  extension/sumologicextension/extension.go
  extension/sumologicextension/factory.go
  extension/sumologicextension/factory_test.go
  extension/sumologicextension/go.mod
  extension/sumologicextension/go.sum
  extension/sumologicextension/internal/metadata/generated_status.go
  extension/sumologicextension/metadata.yaml
  reports/distributions/sumo.yaml
  versions.yaml
Labels: Accepted Component, cmd/otelcontribcol, reports/distributions/sumo.yaml

#31015 [chore][exporter/splunk_hec] Explicit check for component.Type in test
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#30149 [processor/servicegraph] remove deprecated component
  .chloggen/codeboten_mv-deprecated-component.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/config_test.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/factory.go
  connector/servicegraphconnector/factory_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/go.sum
  connector/servicegraphconnector/internal/store/edge.go
  connector/servicegraphconnector/internal/store/package_test.go
  connector/servicegraphconnector/internal/store/store.go
  connector/servicegraphconnector/internal/store/store_test.go
  connector/servicegraphconnector/testdata/service-graph-connector-config.yaml
  connector/servicegraphconnector/util.go
  go.mod
  internal/components/components.go
  processor/servicegraphprocessor/Makefile
  processor/servicegraphprocessor/README.md
  processor/servicegraphprocessor/config_test.go
  processor/servicegraphprocessor/doc.go
  processor/servicegraphprocessor/factory.go
  processor/servicegraphprocessor/factory_test.go
  processor/servicegraphprocessor/generated_component_test.go
  processor/servicegraphprocessor/go.mod
  processor/servicegraphprocessor/go.sum
  processor/servicegraphprocessor/internal/metadata/generated_status.go
  processor/servicegraphprocessor/metadata.yaml
  processor/servicegraphprocessor/testdata/service-graph-config.yaml
  reports/distributions/contrib.yaml
  reports/distributions/sumo.yaml
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, processor/servicegraph, connector/servicegraph, reports/distributions/contrib.yaml, reports/distributions/sumo.yaml

#30999 [chore][pkg/stanza] Remove flushUncombined function from recombine operator
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: Skip Changelog, pkg/stanza

#31000 [chore][pkg/stanza] Remove unnecessary slice of entries
  pkg/stanza/operator/transformer/recombine/recombine.go
Labels: pkg/stanza

#30971 [receiver/journald]: add support for `all` configuration
  .chloggen/add-all-to-journald-receiver.yaml
  pkg/stanza/docs/operators/journald_input.md
  pkg/stanza/operator/input/journald/config.go
  pkg/stanza/operator/input/journald/journald.go
  pkg/stanza/operator/input/journald/journald_test.go
  receiver/journaldreceiver/README.md
Labels: receiver/journald, pkg/stanza

#31019 [connector,exporter,processor,internal/datadog] Bump opentelemetry-mapping-go to v0.13.2
  .chloggen/mx-psi_update-v0.13.2.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
Labels: dependencies, exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog, internal/datadog, connector/datadog

#31012 [chore] add generated lifecycle tests
  receiver/gitproviderreceiver/generated_component_test.go
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/metadata.yaml
Labels: receiver/gitprovider

#31021 [pkg/stanza] Do not log entries on error
  .chloggen/pkg-stanza-optional-log-entry.yaml
  pkg/stanza/operator/helper/input.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/output/stdout/stdout.go
  pkg/stanza/operator/parser/jsonarray/json_array_parser.go
Labels: pkg/stanza

#30517 [chore] move coralogix exporter to generated lifecycle tests
  exporter/coralogixexporter/generated_component_test.go
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/metadata.yaml
Labels: ready to merge, exporter/coralogix

#30514 [chore] move azuredataexpoter exporter to generated lifecycle tests
  exporter/azuredataexplorerexporter/generated_component_test.go
  exporter/azuredataexplorerexporter/metadata.yaml
Labels: ready to merge, Skip Changelog, exporter/azuredataexplorer

#30728 [chore][pkg/stanza] fileconsumer: integrate recently added fileset
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_other.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/file_windows.go
  pkg/stanza/fileconsumer/internal/fileset/fileset.go
  pkg/stanza/fileconsumer/internal/fileset/fileset_test.go
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
Labels: receiver/filelog, pkg/stanza, receiver/otlpjsonfile, Run Windows

#31037 [processor/datadog] Delete datadogprocessor
  .chloggen/delete-datadogprcessor.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  go.mod
  internal/components/components.go
  internal/datadog/agent_test.go
  processor/datadogprocessor/Makefile
  processor/datadogprocessor/README.md
  processor/datadogprocessor/config.go
  processor/datadogprocessor/doc.go
  processor/datadogprocessor/factory.go
  processor/datadogprocessor/generated_component_test.go
  processor/datadogprocessor/go.mod
  processor/datadogprocessor/go.sum
  processor/datadogprocessor/internal/metadata/generated_status.go
  processor/datadogprocessor/metadata.yaml
  processor/datadogprocessor/processor.go
  processor/datadogprocessor/processor_test.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, processor/datadog, internal/datadog, reports/distributions/contrib.yaml

#30529 [chore] move influxdb exporter to generated lifecycle tests
  exporter/influxdbexporter/generated_component_test.go
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/influxdbexporter/metadata.yaml
Labels: exporter/influxdb

#31023 [connector/servicegraph] rename metrics
  .chloggen/codeboten_rename-metrics-servicegraph.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
Labels: connector/servicegraph

#31043 [chore] update codeowners to match metadata.yaml content
  .github/ALLOWLIST
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  processor/remotetapprocessor/README.md
  processor/remotetapprocessor/metadata.yaml
Labels: cmd/githubgen, processor/remotetap

#31044 [chore] Remove @pmcollins as code owner
  .github/CODEOWNERS
  cmd/configschema/metadata.yaml
  receiver/filereceiver/README.md
  receiver/filereceiver/metadata.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/metadata.yaml
Labels: receiver/sqlquery, cmd/configschema, receiver/file, processor/remotetap

#31052 [exporter/signalfx] Use "unknown" env correlation value as fallback
  .chloggen/signalfx-exp-env-correlation-fix.yaml
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
Labels: exporter/signalfx

#31054 [chore] [exporter/signalfx] Remove dead code in correlation logic
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
Labels: exporter/signalfx

#31058 [chore] [exporter/signalfx] Remove redundant traces shim
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/internal/apm/tracetracker/shims.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker_test.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  exporter/signalfxexporter/internal/correlation/correlation_test.go
  exporter/signalfxexporter/internal/correlation/spanshims.go
  exporter/signalfxexporter/internal/correlation/spanshims_test.go
Labels: exporter/signalfx

#31072 [chore] Use component.MustNewType everywhere
  cmd/configschema/configs.go
  cmd/otelcontribcol/distribution_metadata_test.go
  exporter/clickhouseexporter/config_test.go
  exporter/sumologicexporter/factory_test.go
  exporter/syslogexporter/factory_test.go
  extension/httpforwarder/factory_test.go
  extension/storage/storagetest/extension.go
  pkg/stanza/adapter/benchmark_test.go
  pkg/stanza/adapter/mocks_test.go
  processor/cumulativetodeltaprocessor/factory_test.go
  processor/deltatorateprocessor/factory_test.go
  processor/filterprocessor/factory_test.go
  processor/metricsgenerationprocessor/factory_test.go
  processor/metricstransformprocessor/factory_test.go
  receiver/azureeventhubreceiver/factory_test.go
  receiver/chronyreceiver/factory_test.go
  receiver/fluentforwardreceiver/factory_test.go
  receiver/jmxreceiver/config_test.go
  receiver/jmxreceiver/factory_test.go
  receiver/k8sclusterreceiver/factory_test.go
  receiver/k8seventsreceiver/factory_test.go
  receiver/k8sobjectsreceiver/factory_test.go
  receiver/splunkhecreceiver/factory_test.go
  receiver/zookeeperreceiver/factory_test.go
Labels: processor/filter, processor/metricstransform, processor/resourcedetection, receiver/jmx, exporter/clickhouse, receiver/zookeeper, processor/cumulativetodelta, processor/deltatorate, processor/metricsgeneration, cmd/configschema, cmd/otelcontribcol, exporter/sumologic, receiver/fluentforward, receiver/k8sevents, receiver/splunkhec, receiver/k8scluster, pkg/stanza, extension/httpforwarder, extension/storage, receiver/azureeventhub, receiver/chrony, receiver/k8sobjects, exporter/syslog

#31075 [chore] Move from string(factory.Type()) to factory.Type.String()
  exporter/sapmexporter/factory_test.go
  receiver/aerospikereceiver/factory_test.go
  receiver/dockerstatsreceiver/factory_test.go
  receiver/jaegerreceiver/factory_test.go
  receiver/podmanreceiver/factory_test.go
  receiver/purefareceiver/factory_test.go
  receiver/purefbreceiver/factory_test.go
  receiver/skywalkingreceiver/factory_test.go
Labels: receiver/aerospike, receiver/dockerstats, receiver/podman, exporter/sapm, receiver/jaeger, receiver/skywalking, receiver/purefa, receiver/purefb

#29619 [exporter/elasticsearch] Add `mapping.mode: raw` configuration option
  .chloggen/exp-es-omit-attributes-prefix.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: ready to merge, exporter/elasticsearch

#29642 [receiver/gitproviderreceiver] add Pull Request metrics
  .chloggen/more-github-metrics.yaml
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/metadata.yaml
Labels: ready to merge, Run Windows, receiver/gitprovider

#30163 [receiver/kafkareceiver] standardize on topic names for spans, metrics, and logs
  .chloggen/kafka-receiver-standardize-default-topic.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
Labels: receiver/kafka

#31088 Nil check named pipe shutdowns
  .chloggen/sinkingpoint_named-pipe-sigsev.yaml
  pkg/stanza/operator/input/namedpipe/namedpipe.go
Labels: ready to merge, pkg/stanza

#31092 [chore][pkg/stanza/operator/helper] Enable goleak check
  pkg/stanza/operator/helper/ip_resolver_test.go
  pkg/stanza/operator/helper/package_test.go
Labels: ready to merge, pkg/stanza

#30511 [chore] awsproxy extension ReportFatalError -> ReportStatus
  extension/awsproxy/extension.go
  extension/awsproxy/extension_test.go
  extension/awsproxy/factory.go
Labels: ready to merge, extension/awsproxy

#30766 OpenTelemetry Protocol with Apache Arrow Receiver initial skeleton
  .chloggen/new-otelarrow-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  receiver/otelarrowreceiver/Makefile
  receiver/otelarrowreceiver/README.md
  receiver/otelarrowreceiver/config.go
  receiver/otelarrowreceiver/config.md
  receiver/otelarrowreceiver/config_test.go
  receiver/otelarrowreceiver/doc.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/factory_test.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/internal/arrow/Makefile
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/logs/otlp.go
  receiver/otelarrowreceiver/internal/metadata/generated_status.go
  receiver/otelarrowreceiver/internal/metrics/otlp.go
  receiver/otelarrowreceiver/internal/trace/otlp.go
  receiver/otelarrowreceiver/metadata.yaml
  receiver/otelarrowreceiver/otelarrow.go
  receiver/otelarrowreceiver/testdata/bad_proto_config.yaml
  receiver/otelarrowreceiver/testdata/config.yaml
  receiver/otelarrowreceiver/testdata/default.yaml
  receiver/otelarrowreceiver/testdata/only_grpc.yaml
  receiver/otelarrowreceiver/testdata/uds.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/f5cloud, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, cmd/mdatagen, exporter/carbon, exporter/loki, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/awskinesis, exporter/logzio, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/coralogix, exporter/googlecloudpubsub, exporter/instana, exporter/azuredataexplorer, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, exporter/alertmanager, connector/failover, reports/distributions/contrib.yaml, exporter/otelarrow

#31112 [chore] Move to non-deprecated symbols for configcompression
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/factory_test.go
  exporter/logzioexporter/config_test.go
  exporter/logzioexporter/exporter_test.go
  exporter/logzioexporter/factory.go
  exporter/logzioexporter/jsonlog_test.go
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  testbed/testbed/senders.go
Labels: release:required-for-ga, ready to merge, exporter/logzio, exporter/coralogix, testbed, exporter/otelarrow

#31103 [chore] Remove use of `ReportFatalError`
  receiver/purefareceiver/internal/bearertoken_test.go
Labels: release:required-for-ga, receiver/purefa

#31101 [receivercreator] Remove use of ReportFatalError
  .chloggen/receivercreator_ReportFatalError.yaml
  receiver/receivercreator/observerhandler_test.go
  receiver/receivercreator/receiver.go
  receiver/receivercreator/receiver_test.go
  receiver/receivercreator/runner.go
Labels: release:required-for-ga, receiver/receivercreator

#31100 [chore][receiver/sapm] remove use of `ReportFatalError`
  receiver/sapmreceiver/trace_receiver_test.go
Labels: release:required-for-ga, receiver/sapm

#31099 [receiver/signalfx] Remove deprecated use of `host.ReportFatalError`
  .chloggen/signalfxreceiver_ReportFatalError.yaml
  receiver/signalfxreceiver/receiver.go
  receiver/signalfxreceiver/receiver_test.go
Labels: release:required-for-ga, receiver/signalfx

#31098 [extension/healthcheck] Remove usage of deprecated `host.ReportFatalError`
  .chloggen/healthcheckextension_ReportFatalError.yaml
  extension/healthcheckextension/healthcheckextension.go
Labels: release:required-for-ga, extension/healthcheck

#31068 restructured fileexporter to prepare for group_by
  exporter/fileexporter/error_component.go
  exporter/fileexporter/factory.go
  exporter/fileexporter/factory_test.go
  exporter/fileexporter/file_exporter.go
  exporter/fileexporter/file_exporter_test.go
  exporter/fileexporter/file_writer.go
  exporter/fileexporter/marshaller.go
Labels: ready to merge, Skip Changelog, exporter/file

#31125 [chore] Switch to `component.MustNewID` and `component.MustNewIDWithName` when passing literal strings
  connector/servicegraphconnector/connector_test.go
  exporter/awss3exporter/config_test.go
  exporter/azuremonitorexporter/config_test.go
  exporter/kineticaexporter/config_test.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/opensearchexporter/config_test.go
  exporter/otelarrowexporter/config_test.go
  extension/pprofextension/pprofextension_test.go
  extension/storage/dbstorage/extension_test.go
  extension/storage/filestorage/extension_test.go
  extension/storage/storagetest/extension_test.go
  internal/aws/xray/telemetry/registry_test.go
  internal/aws/xray/telemetry/telemetrytest/nop_registry_test.go
  internal/sharedcomponent/sharedcomponent_test.go
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/adapter/storage_test.go
  processor/filterprocessor/config_test.go
  processor/routingprocessor/factory_test.go
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces_test.go
  processor/spanmetricsprocessor/processor_test.go
  processor/spanprocessor/config_test.go
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
  receiver/awsxrayreceiver/receiver_test.go
  receiver/filelogreceiver/filelog_test.go
  receiver/fluentforwardreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/jaegerreceiver/trace_receiver_test.go
  receiver/k8sclusterreceiver/factory_test.go
  receiver/k8sclusterreceiver/watcher_test.go
  receiver/namedpipereceiver/namedpipe_test.go
  receiver/opencensusreceiver/internal/ocmetrics/opencensus_test.go
  receiver/opencensusreceiver/internal/octrace/observability_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/purefareceiver/internal/bearertoken_test.go
  receiver/purefareceiver/internal/scraper_test.go
  receiver/purefbreceiver/internal/baerertoken_test.go
  receiver/purefbreceiver/internal/scraper_test.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/observerhandler_test.go
  receiver/receivercreator/receiver_test.go
  receiver/receivercreator/runner_test.go
  receiver/skywalkingreceiver/skywalking_receiver_test.go
  receiver/solacereceiver/factory_test.go
  receiver/splunkenterprisereceiver/client_test.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sshcheckreceiver/internal/configssh/configssh_test.go
Labels: release:required-for-ga, processor/filter, processor/spanmetrics, exporter/loadbalancing, receiver/hostmetrics, receiver/filelog, exporter/azuremonitor, receiver/sqlquery, receiver/prometheus, processor/routing, receiver/solace, receiver/awsxray, receiver/fluentforward, receiver/jaeger, receiver/opencensus, receiver/skywalking, receiver/k8scluster, pkg/stanza, extension/pprof, processor/span, extension/storage, internal/aws, internal/sharedcomponent, receiver/purefa, receiver/receivercreator, receiver/purefb, receiver/sshcheck, connector/servicegraph, exporter/awss3, receiver/splunkenterprise, exporter/opensearch, exporter/kinetica, receiver/namedpipe, exporter/otelarrow

#31108 [chore][pkg/stanza] Fix goroutine leak in regex parser
  pkg/stanza/operator/parser/regex/cache.go
  pkg/stanza/operator/parser/regex/cache_test.go
  pkg/stanza/operator/parser/regex/package_test.go
  pkg/stanza/operator/parser/regex/regex.go
  pkg/stanza/operator/parser/regex/regex_test.go
Labels: pkg/stanza

#31048 [pkg/stanza] Fix Stanza Key Value Parser custom pair delimiter bug
  .chloggen/pkg-stanza-fix-key-value-pair-delimiter-bug.yaml
  pkg/stanza/operator/parser/keyvalue/keyvalue.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
Labels: ready to merge, pkg/stanza

#31131 [chore] Migrate even more component.Type tests
  processor/remotetapprocessor/factory_test.go
  receiver/apachereceiver/factory_test.go
  receiver/couchdbreceiver/factory_test.go
  receiver/expvarreceiver/factory_test.go
  receiver/kubeletstatsreceiver/factory_test.go
  receiver/memcachedreceiver/factory_test.go
  receiver/mongodbreceiver/factory_test.go
  receiver/mysqlreceiver/factory_test.go
  receiver/nginxreceiver/factory_test.go
  receiver/osqueryreceiver/factory_test.go
  receiver/postgresqlreceiver/factory_test.go
  receiver/purefareceiver/factory_test.go
  receiver/saphanareceiver/factory_test.go
  receiver/snowflakereceiver/factory_test.go
  receiver/splunkenterprisereceiver/factory_test.go
  receiver/webhookeventreceiver/factory_test.go
Labels: receiver/memcached, receiver/mysql, receiver/kubeletstats, receiver/saphana, receiver/expvar, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/apache, receiver/snowflake, receiver/purefa, receiver/webhookevent, receiver/splunkenterprise, processor/remotetap, receiver/osquery

#31134 [chore] Remove use of ReportFatalError from httpforwarder extension
  extension/httpforwarder/extension.go
Labels: extension/httpforwarder

#31135 [chore] Even more one-off fixes for component.Type changes
  connector/servicegraphconnector/factory.go
  exporter/awsxrayexporter/awsxray.go
  processor/groupbytraceprocessor/metrics.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/receiver_test.go
  receiver/solacereceiver/observability.go
  testbed/mockdatasenders/mockdatadogagentexporter/factory.go
Labels: processor/groupbytrace, exporter/awsxray, receiver/solace, receiver/receivercreator, testbed, connector/servicegraph

#31138 [chore] Fix awss3 exporter test
  exporter/awss3exporter/config_test.go
Labels: exporter/awss3

#31128 [pkg/stanza] Remove deprecated attrs package
  .chloggen/pkg-stanza-rm-deprecated-attrs.yaml
  pkg/stanza/attrs/attrs.go
Labels: pkg/stanza

#31147 [chore][cmd/opampsupervisor] Temporarily disable goleak
  cmd/opampsupervisor/package_test.go
Labels: cmd/opampsupervisor

#30869 Add allow skip pri otion to syslog.
  .chloggen/allow-pri-header-skip-syslog-stanza.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  pkg/stanza/docs/operators/syslog_parser.md
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/parser/syslog/data.go
  pkg/stanza/operator/parser/syslog/syslog.go
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/syslogreceiver/README.md
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, receiver/journald, receiver/mongodbatlas, receiver/filelog, extension/healthcheck, receiver/sqlquery, processor/logstransform, cmd/configschema, cmd/otelcontribcol, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub, cmd/oteltestbedcol, testbed, connector/datadog, receiver/namedpipe

#31095 [chore][pkg/stanza/operator/transformer/recombine] Enable goleak check
  pkg/stanza/operator/transformer/recombine/package_test.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: pkg/stanza

#31051 [chore] Remove unmaintained file receiver
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  receiver/filereceiver/Makefile
  receiver/filereceiver/README.md
  receiver/filereceiver/config.go
  receiver/filereceiver/config_test.go
  receiver/filereceiver/doc.go
  receiver/filereceiver/factory.go
  receiver/filereceiver/factory_test.go
  receiver/filereceiver/file_reader.go
  receiver/filereceiver/file_reader_test.go
  receiver/filereceiver/go.mod
  receiver/filereceiver/go.sum
  receiver/filereceiver/internal/metadata/generated_status.go
  receiver/filereceiver/metadata.yaml
  receiver/filereceiver/receiver.go
  receiver/filereceiver/receiver_test.go
  receiver/filereceiver/replay_timer.go
  receiver/filereceiver/replay_timer_test.go
  receiver/filereceiver/testdata/config.yaml
  receiver/filereceiver/testdata/metrics.json
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/otelcontribcol, receiver/file, reports/distributions/contrib.yaml

#31144 [chore] remove use of ReportFatalError
  receiver/dockerstatsreceiver/integration_test.go
Labels: receiver/dockerstats

#31137 [chore] remove ReportFatalError from otelarrowreceiver
  receiver/otelarrowreceiver/otelarrow.go
Labels: receiver/otelarrow

#31008 [receiver/signalfx] Accept otlp metrics
  .chloggen/signalfx-recv-otlp.yaml
  receiver/signalfxreceiver/receiver.go
  receiver/signalfxreceiver/receiver_test.go
Labels: receiver/signalfx

#31145 [chore] remove use of deprecated ReportFatalError
  receiver/awsfirehosereceiver/receiver.go
Labels: receiver/awsfirehose

#31143 [chore] remove use of ReportFatalError
  extension/awsproxy/factory_test.go
Labels: extension/awsproxy

#31142 [chore] remove use of ReportFatalError
  cmd/otelcontribcol/extensions_test.go
Labels: cmd/otelcontribcol

#31146 [chore] Remove use of deprecated ReportFatalError
  receiver/datadogreceiver/receiver.go
Labels: receiver/datadog

#31160 Fix comment missing a dash for argument name
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/traces/traces.go
Labels: Skip Changelog, cmd/telemetrygen

#30803 [chore][exporter/coralogixexporter] Enable goleak check
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory_test.go
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/go.sum
  exporter/coralogixexporter/package_test.go
Labels: ready to merge, Skip Changelog, exporter/coralogix

#30813 [exporter/awsemf] Drop redundant arg from addToGroupedMetric
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: ready to merge, Skip Changelog, exporter/awsemf

#31161 [pkg/golden]: Add option to skip normalizing timestamps when writing metrics
  .chloggen/feat_optional-metric-timestamp-normalization.yaml
  pkg/golden/golden.go
  pkg/golden/golden_test.go
  pkg/golden/metrics_options.go
  pkg/golden/testdata/skip-timestamp-norm/expected.yaml
Labels: pkg/golden

#31153 [processor/logstransform]: Fix shutdown ordering leading to panic
  .chloggen/fix_log-transform-shutdown.yaml
  processor/logstransformprocessor/processor.go
  processor/logstransformprocessor/processor_test.go
Labels: processor/logstransform

#31124 [receiver/filelog] Add multiline example
  receiver/filelogreceiver/README.md
Labels: Skip Changelog, receiver/filelog

#31172 [chore] remove tests checking nil consumer as we're handling nil checks in builder
  processor/attributesprocessor/factory_test.go
Labels: processor/attributes

#31150 [exporter/logicmonitorexporter] Fix leaking goroutines on shutdown
  .chloggen/goleak_logicmonitorexp.yaml
  exporter/logicmonitorexporter/factory.go
  exporter/logicmonitorexporter/logs_exporter.go
  exporter/logicmonitorexporter/logs_exporter_test.go
  exporter/logicmonitorexporter/package_test.go
  exporter/logicmonitorexporter/traces_exporter.go
  exporter/logicmonitorexporter/traces_exporter_test.go
Labels: exporter/logicmonitor

#31158 [exporter/datadog][connector/datadog] Add trace config peer_tags
  .chloggen/dd-connector-peer-tags.yaml
  .chloggen/dd-exporter-peer-tags.yaml
  connector/datadogconnector/README.md
  connector/datadogconnector/config.go
  connector/datadogconnector/config_test.go
  connector/datadogconnector/connector.go
  connector/datadogconnector/examples/config.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/traces_exporter.go
Labels: ready to merge, exporter/datadog, connector/datadog

#30784 [chore][pkg/stanza] Various code cleanup
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/recombine_test.go
Labels: Skip Changelog, pkg/stanza

#31185 [extension/storage/filestorage] Ensure fsync is turned on after compaction
  .chloggen/ensure-fsync.yaml
  extension/storage/filestorage/client.go
  extension/storage/filestorage/extension.go
Labels: extension/storage

#31168 [chore][processor/groupbyattrsprocess] Fix typos in README
  processor/groupbyattrsprocessor/README.md
Labels: processor/groupbyattrs

#31155 [chore][extension/jaegarremotesampling] Enable goleak check
  extension/jaegerremotesampling/extension_test.go
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/jaegerremotesampling/package_test.go
Labels: ready to merge, extension/jaegerremotesampling

#31186 [exporter/f5] deprecate exporter
  .chloggen/codeboten_deprecate-f5exporter.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  exporter/f5cloudexporter/README.md
  exporter/f5cloudexporter/doc.go
  exporter/f5cloudexporter/go.mod
  exporter/f5cloudexporter/internal/metadata/generated_status.go
  exporter/f5cloudexporter/metadata.yaml
  go.mod
  internal/components/components.go
Labels: exporter/f5cloud, cmd/configschema, cmd/otelcontribcol

#31148 [chore] use generated tests for zipkinencodingextension
  extension/encoding/zipkinencodingextension/generated_component_test.go
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/metadata.yaml
Labels: ready to merge, Skip Changelog, extension/encoding

#31171 [chore][pkg/stanza] Add file disambiguation tests
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
Labels: pkg/stanza

#30915 [feat][exporter/loadbalancingexporter] add benchmarks for metrics and traces consume
  .chloggen/mat-rumian-add-lbe-benchmarks.yaml
  exporter/loadbalancingexporter/helpers_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: enhancement, exporter/loadbalancing

#31014 [exporter/syslog] Add support for octet counting in the syslog exporter
  .chloggen/sinkingpoint_octet_counting.yaml
  exporter/syslogexporter/README.md
  exporter/syslogexporter/config.go
  exporter/syslogexporter/exporter.go
  exporter/syslogexporter/formatter.go
  exporter/syslogexporter/rfc5424_formatter.go
  exporter/syslogexporter/rfc5424_formatter_test.go
Labels: ready to merge, exporter/syslog

#31214 [chore] set fixed Go patch version to prevent CI failures
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
  exporter/cassandraexporter/go.mod
Labels: Skip Changelog, cmd/otelcontribcol, cmd/oteltestbedcol, exporter/cassandra

#30318 [exporter/awss3] add marsheler config to pick only body content of logs
  .chloggen/feat_allow_pick_only_log_body.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/body_marshaler.go
  exporter/awss3exporter/body_marshaler_test.go
  exporter/awss3exporter/config.go
  exporter/awss3exporter/marshaler.go
  exporter/awss3exporter/marshaler_test.go
Labels: ready to merge, exporter/awss3

#31174 [chore] remove nil_nextConsumer tests as we don't allow passing a nil next consumer
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
  receiver/carbonreceiver/receiver_test.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/statsdreceiver/receiver_test.go
Labels: ready to merge, receiver/statsd, receiver/carbon, processor/probabilisticsampler, receiver/splunkhec, receiver/signalfx

#31232 [chore] remove test checking for nil consumer
  receiver/googlecloudspannerreceiver/factory_test.go
Labels: receiver/googlecloudspanner

#30808 chore: fix handling of metrics with created suffix
  .chloggen/jm-fix-handling-of-metrics-with-created-suffix-2.yaml
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
Labels: bug, ready to merge, receiver/prometheus

#30778 [chore] Validate queue settings implicitly.
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
Labels: ready to merge, exporter/splunkhec

#31163 [chore] Use gotestsum wrapper for go tests
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools

#31179 Add metrics client for trace agent
  .chloggen/stanley.liu_add-metrics-client-connector.yaml
  .chloggen/stanley.liu_add-metrics-client.yaml
  connector/datadogconnector/factory.go
  exporter/datadogexporter/factory.go
  internal/datadog/go.mod
  internal/datadog/go.sum
  internal/datadog/metrics_client.go
  internal/datadog/metrics_client_test.go
Labels: exporter/datadog, internal/datadog, connector/datadog

#31173 [exporter/datadog] Use statswriter, client aggregator is for tracer stats only
  .chloggen/ddog-exporter-fix-multi-resc-stats.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog, cmd/otelcontribcol, cmd/oteltestbedcol

#31243 [exporter/datadog] Add changelog on stable JVM metrics
  .chloggen/datadog-jvm-metrics.yaml
Labels: ready to merge, exporter/datadog

#31219 Turn on disable APM stats in the Datadog Exporter feature gate by default
  .chloggen/stanley.liu_enable-no-apms-stats-feature-gate.yaml
  exporter/datadogexporter/README.md
  exporter/datadogexporter/factory.go
Labels: exporter/datadog

#31257 [chore][receiver/hostmetrics] Use metadata.Type in scraper tests
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
Labels: receiver/hostmetrics

#31027 [chore] [processor/groupbyattrs] clarify compaction occurs even when no key matches
  processor/groupbyattrsprocessor/README.md
Labels: Skip Changelog, processor/groupbyattrs

#31263 [chore] Fix configschema uses of component.Type
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/metadata_writer_test.go
  cmd/configschema/docsgen/docsgen/cli.go
Labels: cmd/configschema

#31253 [chore] Re-run failed unit tests automatically
  Makefile.Common
Labels: ready to merge

#30757 Indexer metrics ep2 for splunkenterprisereceiver
  .chloggen/indexer-metrics-2-splunkent.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: ready to merge, receiver/splunkenterprise

#31254 telemetrygen: Fix cmd docs examples
  cmd/telemetrygen/internal/common/config.go
Labels: Skip Changelog, cmd/telemetrygen

#31221 [receiver/elasticsearch] Remove receiver.elasticsearch.emitNodeVersionAttr feature gate
  .chloggen/featuregate-elasticsearch-remove.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/go.mod
  receiver/elasticsearchreceiver/scraper.go
Labels: receiver/elasticsearch

#31267 Fix typo in datadogexporter readme
  exporter/datadogexporter/README.md
Labels: documentation, exporter/datadog, Skip Changelog

#30837 Adding an optional replacementFormat argument to the replace_pattern editors that specified the format of the replacement string
  .chloggen/ottl-replace-pattern.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_replace_all_matches.go
  pkg/ottl/ottlfuncs/func_replace_all_matches_test.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_replace_match.go
  pkg/ottl/ottlfuncs/func_replace_match_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/ottl/ottlfuncs/func_replace_pattern_test.go
Labels: pkg/ottl

#31239 [chore][pkg/stanza] Fix race condition in benchmark
  pkg/stanza/fileconsumer/benchmark_test.go
Labels: pkg/stanza

#31273 [chore] Bump k8s deps to 0.29.1
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  go.mod
  go.sum
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/k8stest/go.mod
  internal/k8stest/go.sum
  internal/kubelet/go.mod
  internal/kubelet/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver_test.go
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
Labels: exporter/datadog, processor/k8sattributes, exporter/loadbalancing, processor/resourcedetection, receiver/awscontainerinsight, receiver/kubeletstats, cmd/configschema, cmd/otelcontribcol, receiver/k8sevents, receiver/simpleprometheus, receiver/k8scluster, extension/observer, internal/aws, internal/kubelet, internal/metadataproviders, internal/k8sconfig, receiver/k8sobjects, internal/k8stest, connector/datadog

#31259 [chore] remove f5cloudexporter from otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
Labels: cmd/otelcontribcol

#31276 [chore] Remove use deprecated config options
  receiver/otelarrowreceiver/config.go
  receiver/otelarrowreceiver/config_test.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/factory_test.go
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/otelarrow.go
Labels: receiver/otelarrow

#31262 [chore][exporter/datadogexporter] Update traces endpoint in example
  exporter/datadogexporter/examples/collector.yaml
Labels: documentation, exporter/datadog, Skip Changelog

#31277 [chore] updating code owners
  .github/CODEOWNERS
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/metadata.yaml
Labels: receiver/azuremonitor

#30707 [processor/deltatocumulative]: Sums
  .chloggen/deltatocumulative-sums.yaml
  .github/CODEOWNERS
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/go.sum
  processor/deltatocumulativeprocessor/internal/data/add.go
  processor/deltatocumulativeprocessor/internal/data/data.go
  processor/deltatocumulativeprocessor/internal/delta/delta.go
  processor/deltatocumulativeprocessor/internal/delta/delta_test.go
  processor/deltatocumulativeprocessor/internal/delta/lock.go
  processor/deltatocumulativeprocessor/internal/metrics/data.go
  processor/deltatocumulativeprocessor/internal/metrics/ident.go
  processor/deltatocumulativeprocessor/internal/metrics/metrics.go
  processor/deltatocumulativeprocessor/internal/metrics/util.go
  processor/deltatocumulativeprocessor/internal/streams/data.go
  processor/deltatocumulativeprocessor/internal/streams/data_test.go
  processor/deltatocumulativeprocessor/internal/streams/errors.go
  processor/deltatocumulativeprocessor/internal/streams/streams.go
  processor/deltatocumulativeprocessor/internal/testdata/random/random.go
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/deltatocumulativeprocessor/processor.go
Labels: reports/distributions/contrib.yaml, processor/deltatocumulative

#30749 [chore] [translator/prometheusremotewrite] Clean up and simplify code
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/histograms.go
  pkg/translator/prometheusremotewrite/histograms_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/number_data_points.go
  pkg/translator/prometheusremotewrite/number_data_points_test.go
Labels: ready to merge, pkg/translator/prometheus

#31265 [chore][exporter/datadog] Update integration_test to test peer service
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
Labels: ready to merge, exporter/datadog

#31261 [chore][receiver/filelog] Clarify 'exclude' parameter documentation
  receiver/filelogreceiver/README.md
Labels: receiver/filelog

#31284 [chore] update otelarrow to 0.17.0
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
Labels: receiver/otelarrow

#31286 [chore] address linting failures
  receiver/aerospikereceiver/client_test.go
  receiver/aerospikereceiver/scraper_test.go
  receiver/apachesparkreceiver/scraper_test.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_nolinux.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume_test.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/bigipreceiver/client_test.go
  receiver/bigipreceiver/integration_test.go
  receiver/bigipreceiver/scraper_test.go
  receiver/chronyreceiver/internal/chrony/client_test.go
  receiver/elasticsearchreceiver/client.go
  receiver/filestatsreceiver/integration_test.go
  receiver/flinkmetricsreceiver/client_test.go
  receiver/flinkmetricsreceiver/scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/googlecloudpubsubreceiver/internal/handler_test.go
  receiver/googlecloudspannerreceiver/internal/filter/itemcardinality_test.go
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_others_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/httpcheckreceiver/scraper_test.go
  receiver/jmxreceiver/internal/subprocess/integration_test.go
  receiver/jmxreceiver/receiver_test.go
  receiver/k8seventsreceiver/factory_test.go
  receiver/k8seventsreceiver/receiver_test.go
  receiver/kafkametricsreceiver/broker_scraper_test.go
  receiver/kafkametricsreceiver/consumer_scraper.go
  receiver/kafkametricsreceiver/consumer_scraper_test.go
  receiver/kafkametricsreceiver/factory_test.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkametricsreceiver/topic_scraper_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume_test.go
  receiver/memcachedreceiver/scraper_test.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/scraper_test.go
Labels: receiver/memcached, receiver/jmx, receiver/aerospike, receiver/hostmetrics, receiver/mysql, receiver/awscontainerinsight, receiver/kubeletstats, receiver/bigip, receiver/elasticsearch, receiver/awsxray, receiver/googlecloudspanner, receiver/mongodb, receiver/k8sevents, receiver/kafkametrics, receiver/googlecloudpubsub, receiver/flinkmetrics, receiver/chrony, receiver/httpcheck, receiver/filestats, receiver/azuremonitor, receiver/apachespark, receiver/gitprovider

#31212 [receiver/mongodb] Bump receiver.mongodb.removeDatabaseAttr feature gate to beta
  .chloggen/featuregate-mongo-beta.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
Labels: receiver/mongodb

#31287 [chore] more lint fixes
  receiver/opencensusreceiver/opencensus_test.go
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/podmanreceiver/podman_connection.go
  receiver/postgresqlreceiver/config_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/rabbitmqreceiver/client_test.go
  receiver/rabbitmqreceiver/scraper_test.go
  receiver/riakreceiver/client_test.go
  receiver/riakreceiver/scraper_test.go
  receiver/saphanareceiver/client_test.go
  receiver/saphanareceiver/config_test.go
  receiver/saphanareceiver/queries.go
  receiver/solacereceiver/messaging_service_test.go
  receiver/solacereceiver/receiver_test.go
  receiver/solacereceiver/unmarshaller_receive_test.go
Labels: receiver/podman, receiver/prometheus, receiver/saphana, receiver/solace, receiver/rabbitmq, receiver/postgresql, receiver/opencensus, receiver/riak, receiver/oracledb

#31288 [chore] update otelarrow for otelarrowexporter
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
Labels: exporter/otelarrow

#31035 [pkg/ottl] Add ParseKeyValue function
  .chloggen/pkg-ottl-add-parse-key-value-function.yaml
  internal/coreinternal/parseutils/doc.go
  internal/coreinternal/parseutils/package_test.go
  internal/coreinternal/parseutils/parser.go
  internal/coreinternal/parseutils/parser_test.go
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_key_value.go
  pkg/ottl/ottlfuncs/func_parse_key_value_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl, internal/core

#31081 [pkg/ottl]: Add ParseCSV converter
  .chloggen/feat_ottl_csv-parse-function.yaml
  internal/coreinternal/parseutils/csv.go
  internal/coreinternal/parseutils/csv_test.go
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_csv.go
  pkg/ottl/ottlfuncs/func_parse_csv_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/stanza, pkg/ottl, internal/core

#30485 [processor/tailsampling] Add metric for sampled/not sampled spans
  .chloggen/sampled_spans_metrics.yaml
  processor/tailsamplingprocessor/factory.go
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/tailsamplingprocessor/metrics.go
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#31291 [pkg/stanza] Update KeyValue parser to use parseutils pkg
  pkg/stanza/operator/parser/keyvalue/keyvalue.go
  pkg/stanza/operator/parser/keyvalue/keyvalue_test.go
Labels: Skip Changelog, pkg/stanza

#29621 Cgroups
  .chloggen/cgroups.yaml
  NOTICE
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_config_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_resource.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_resource_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_darwin.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_linux.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_windows.go
Labels: receiver/hostmetrics

#31123 Aws secret manager
  .chloggen/aws-secrets-manager-provider.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/githubgen/allowlist.txt
  confmap/provider/secretsmanagerprovider/Makefile
  confmap/provider/secretsmanagerprovider/README.md
  confmap/provider/secretsmanagerprovider/go.mod
  confmap/provider/secretsmanagerprovider/go.sum
  confmap/provider/secretsmanagerprovider/metadata.yaml
  confmap/provider/secretsmanagerprovider/provider.go
  confmap/provider/secretsmanagerprovider/provider_test.go
  versions.yaml
Labels: cmd/githubgen

#31302 [chore][pkg/stanza]: Use shared parser code for CSV parsing
  pkg/stanza/operator/parser/csv/csv.go
Labels: pkg/stanza

#31301 [chore] remove tests checking for component.ErrNilNextConsumer
  processor/spanprocessor/span_test.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
  receiver/awsxrayreceiver/receiver_test.go
  receiver/collectdreceiver/receiver_test.go
  receiver/couchdbreceiver/factory_test.go
  receiver/elasticsearchreceiver/factory_test.go
  receiver/skywalkingreceiver/skywalking_receiver_test.go
  receiver/solacereceiver/factory_test.go
  receiver/vcenterreceiver/factory_test.go
  receiver/zipkinreceiver/trace_receiver_test.go
Labels: receiver/zipkin, receiver/vcenter, receiver/elasticsearch, receiver/solace, receiver/awsxray, receiver/couchdb, receiver/awsfirehose, receiver/collectd, receiver/skywalking, processor/span

#31045 [chore] Add myself as receiver/sqlquery code owner
  .github/CODEOWNERS
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/metadata.yaml
Labels: receiver/sqlquery

#31303 [chore] remove next nil consumer check
  receiver/snowflakereceiver/factory_test.go
Labels: receiver/snowflake

#31283 [chore][headerssetter] Update docs to clarify how to use "from_context"
  extension/headerssetterextension/README.md
Labels: Skip Changelog, extension/headerssetter
