Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-06, with the labels that each got.

#33320 [cmd/telemetrygen] Add exemplars support for telemetrygen
  .chloggen/add-traceid-spanid-exemplars-telemetrygen.yaml
  cmd/telemetrygen/internal/common/validate.go
  cmd/telemetrygen/internal/common/validate_test.go
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/logs/config_test.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/metrics/config.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/metrics_test.go
  cmd/telemetrygen/internal/metrics/worker.go
Labels: cmd/telemetrygen

#33328 [chore] make generate
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
Labels: exporter/prometheusremotewrite

#33322 [chore] Adds internal pdatautil.FlattenLogs
  internal/pdatautil/logs.go
  internal/pdatautil/logs_test.go
Labels: internal/pdatautil

#32856 Add integration test for rabbitmq exporter
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/go.sum
  exporter/rabbitmqexporter/integration_test.go
  exporter/rabbitmqexporter/internal/metadata/generated_telemetry_test.go
  exporter/rabbitmqexporter/metadata.yaml
Labels: ready to merge, Skip Changelog, exporter/rabbitmq

#32282 [exporter/clickhouse] Add `create_schema` option to config
  .chloggen/clickhouse-add-create-schema-option.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/example/default_ddl/database.sql
  exporter/clickhouseexporter/example/default_ddl/histogram_metrics.sql
  exporter/clickhouseexporter/example/default_ddl/logs.sql
  exporter/clickhouseexporter/example/default_ddl/sum_metrics.sql
  exporter/clickhouseexporter/example/default_ddl/summary_metrics.sql
  exporter/clickhouseexporter/example/default_ddl/traces.sql
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/factory.go
Labels: exporter/clickhouse

#33321 [testbed/datasenders] add missing 0 to nanoseconds calculation
  testbed/datasenders/syslog.go
  testbed/datasenders/tcpudp.go
Labels: Skip Changelog, testbed

#33318 [chore][exporter/elasticsearch] refactor, consolidate exporters
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/doc.go
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/testdata/config-use-deprecated-index_option.yaml
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/traces_exporter_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#31780 [connector/spanmetrics] Produce delta temporality span metrics with timestamps representing an uninterrupted series
  .chloggen/spanmetrics_uninterrupted_delta_timestamps.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
  connector/spanmetricsconnector/internal/metrics/metrics.go
  connector/spanmetricsconnector/testdata/config.yaml
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
Labels: exporter/elasticsearch, connector/spanmetrics, waiting-for-code-owners

#33353 [pkg/stanza] container: move k8s metadata into resource attributes
  .chloggen/container_parser_resource_attributes.yaml
  pkg/stanza/docs/operators/container.md
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza

#33378 [chore] Update CODEOWNERS file
  .github/CODEOWNERS
Labels: documentation

#33382 [googlecloudspannerreceiver] Mark the component as unmaintained
  .chloggen/codeboten_unmaintain-googlespannerreceiver.yaml
  receiver/googlecloudspannerreceiver/README.md
  receiver/googlecloudspannerreceiver/internal/metadata/generated_status.go
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: receiver/googlecloudspanner

#33335 [chore] [receiver/kubeletstats] move utilization metrics in standalone helper func
  receiver/kubeletstatsreceiver/internal/kubelet/cpu.go
Labels: receiver/kubeletstats

#33384 [cmd/configschema] Remove `cmd/configschema`
  .chloggen/remove-configschema.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .golangci.yml
  Makefile
  cmd/configschema/Makefile
  cmd/configschema/README.md
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/README.md
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/cli.go
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/metadata_writer.go
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/metadata_writer_test.go
  cmd/configschema/cfgmetadatagen/cfgmetadatagen/package_test.go
  cmd/configschema/cfgmetadatagen/main.go
  cmd/configschema/comments.go
  cmd/configschema/comments_test.go
  cmd/configschema/common_test.go
  cmd/configschema/configs.go
  cmd/configschema/configs_test.go
  cmd/configschema/docsgen/README.md
  cmd/configschema/docsgen/docsgen/cli.go
  cmd/configschema/docsgen/docsgen/cli_test.go
  cmd/configschema/docsgen/docsgen/package_test.go
  cmd/configschema/docsgen/docsgen/render.go
  cmd/configschema/docsgen/docsgen/template.go
  cmd/configschema/docsgen/docsgen/template_test.go
  cmd/configschema/docsgen/docsgen/testdata/otlp-receiver.json
  cmd/configschema/docsgen/docsgen/testdata/test.tmpl
  cmd/configschema/docsgen/main.go
  cmd/configschema/fields.go
  cmd/configschema/fields_test.go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/configschema/metadata.yaml
  cmd/configschema/package_test.go
  cmd/configschema/resolver.go
  cmd/configschema/resolver_test.go
  extension/sigv4authextension/design.md
  versions.yaml
Labels: cmd/configschema, extension/sigv4auth

#33371 [chore] Remove use of `confighttp.ClientConfig.RoundTripper`
  exporter/lokiexporter/factory_test.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/go.mod
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/go.mod
  extension/oauth2clientauthextension/go.sum
  extension/observer/ecstaskobserver/README.md
Labels: exporter/loki, exporter/sumologic, extension/oauth2clientauth, extension/observer

#33316 Adding Proxy support for Datadog Exporter
  .chloggen/proxyurl-for-ddexp.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/internal/clientutil/http.go
  exporter/datadogexporter/internal/clientutil/http_test.go
Labels: exporter/datadog

#33386 [chore] update go to 1.21.11/1.22.4
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#32812 [receiver/gitproviderreceiver] add branch time, commit, and line metrics
  .chloggen/branch-metrics.yaml
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/README.md
  receiver/gitproviderreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: ready to merge, receiver/gitprovider

#33218 [exporter/coralogix] feat: allow setting application name from custom resource attributes
  .chloggen/coralogix-exporter.yaml
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
Labels: exporter/coralogix

#33391 [chore][exporter/elasticsearch]Extend benchmarks for mapping mode
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
Labels: exporter/elasticsearch

#33231 [exporter/Logzioexporter] bug fix export log attributes
  .chloggen/logzioexporter-bug-fix-export-attributes.yaml
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/exporter_test.go
Labels: bug, ready to merge, exporter/logzio

#33086 [exporter/kafkaexporter] added an option to disable kerberos PA-FX-FAST negotiation
  .chloggen/kafka-DisablePAFXFAST-kerberos-auth.yaml
  exporter/kafkaexporter/README.md
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  receiver/kafkametricsreceiver/README.md
  receiver/kafkareceiver/README.md
Labels: ready to merge, exporter/kafka, receiver/kafka, receiver/kafkametrics, internal/kafka

#32833 [receiver/sqlserver] Add support for more database IO metrics
  .chloggen/sqlserver_add_io_metrics.yaml
  .chloggen/sqlserver_io_metrics.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_others_test.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
Labels: receiver/sqlserver, Run Windows

#33404 [chore] remove use of deprecated component.UnmarshalConfig
  connector/exceptionsconnector/config_test.go
  connector/failoverconnector/config_test.go
  connector/grafanacloudconnector/config_test.go
  connector/routingconnector/config_test.go
  connector/spanmetricsconnector/config_test.go
  exporter/alertmanagerexporter/config_test.go
  exporter/alibabacloudlogserviceexporter/config_test.go
  exporter/awscloudwatchlogsexporter/config_test.go
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/factory_test.go
  exporter/awskinesisexporter/config_test.go
  exporter/awsxrayexporter/factory_test.go
  exporter/azuredataexplorerexporter/factory_test.go
  exporter/azuremonitorexporter/config_test.go
  exporter/carbonexporter/config_test.go
  exporter/cassandraexporter/config_test.go
  exporter/clickhouseexporter/config_test.go
  exporter/coralogixexporter/config_test.go
  exporter/datadogexporter/factory_test.go
  receiver/vcenterreceiver/config_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/clickhouse, exporter/carbon, exporter/azuremonitor, receiver/vcenter, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/coralogix, exporter/azuredataexplorer, connector/spanmetrics, exporter/cassandra, connector/routing, connector/exceptions, exporter/alertmanager, connector/failover, connector/grafanacloud

#33350 [exporter/elasticsearch] validate endpoints
  .chloggen/elasticsearchexporter-configvalidate-url.yaml
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/factory_test.go
Labels: exporter/elasticsearch

#33409 [chore] Clarify that cmd/otelcontribcol and top-level go.mod are not the sources of the contrib distro
  cmd/otelcontribcol/README.md
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/README.md
  cmd/oteltestbedcol/builder-config.yaml
  go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#33330 [chore] Add issues with waiting-for-code-owners label to the weekly report
  .github/workflows/scripts/generate-weekly-report.js
Labels: ready to merge

#32038 [CI] make update-otel
  Makefile
Labels: ci-cd, Skip Changelog

#33295 [chore][docs] Fix name of the Windows Event Log Receiver
  receiver/windowseventlogreceiver/README.md
Labels: documentation, ready to merge, Skip Changelog, receiver/windowseventlog

#33418 [chore][processor/probabilisticsampler] Fix typo
  processor/probabilisticsamplerprocessor/README.md
Labels: processor/probabilisticsampler

#33416 [cmd/opampsupervisor,extension/opamp] Update opamp-go v0.15.0
  .chloggen/deps_update-opamp-go-v0.15.0.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/persistence.go
  cmd/opampsupervisor/supervisor/persistence_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/opampcustommessages/go.mod
  extension/opampcustommessages/go.sum
  extension/opampextension/README.md
  extension/opampextension/config.go
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/otelcontribcol, cmd/opampsupervisor, extension/opamp, extension/opampcustommessages

#32845 [cmd/opampsupervisor]: Add config validation
  .chloggen/feat_opamp-supervisor-config-validation.yaml
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#33429 [chore][pkg/stanza] skip rotation test on windows
  pkg/stanza/fileconsumer/rotation_test.go
Labels: ready to merge, pkg/stanza

#33431 [cmd/opampsupervisor] remove executable check for collector binary
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
Labels: Skip Changelog, Run Windows, cmd/opampsupervisor

#32861 [confmap/provider/secretsmanagerprovider] Add support for JSON secrets
  .chloggen/fix-secrets-manager-confmap-provider.yaml
  confmap/provider/secretsmanagerprovider/README.md
  confmap/provider/secretsmanagerprovider/go.mod
  confmap/provider/secretsmanagerprovider/go.sum
  confmap/provider/secretsmanagerprovider/provider.go
  confmap/provider/secretsmanagerprovider/provider_test.go
Labels: confmap/provider/secretsmanagerprovider

#33434 [chore][exporter/elasticsearch] Re-enable exporter test on Windows
  exporter/elasticsearchexporter/exporter_test.go
Labels: Skip Changelog, exporter/elasticsearch, Run Windows

#33448 [chore] make gotidy lint
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#33437 [chore] Fix pinging and labelling on new issues
  .github/workflows/scripts/ping-codeowners-on-new-issue.sh
Labels: ci-cd, chore

#33337 [pkg/ottl] add `keep_matching_keys function`
  .chloggen/keep-matching-keys-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/go.mod
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_keep_matching_keys.go
  pkg/ottl/ottlfuncs/func_keep_matching_keys_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#33017 [pkg/ottl] Support for append
  .chloggen/ottl_append.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_append.go
  pkg/ottl/ottlfuncs/func_append_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#33286 [processor/deltatocumulative]: drop samples of streams exceeding limit
  .chloggen/deltatocumulative-drop-at-limit.yaml
  processor/deltatocumulativeprocessor/internal/metrics/data.go
  processor/deltatocumulativeprocessor/internal/streams/data.go
  processor/deltatocumulativeprocessor/internal/streams/data_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative

#33456 [chore] Fix windows tests
  receiver/iisreceiver/scraper_test.go
  receiver/sqlserverreceiver/scraper_windows_test.go
Labels: receiver/iis, receiver/sqlserver, Run Windows

#33428 [pkg/stanza] add symlink related test for fileconsumer
  pkg/stanza/fileconsumer/file_test.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#32695 [extension/healthcheckv2] Add event aggregation logic
  .chloggen/healthcheck-agg.yaml
  extension/healthcheckv2extension/internal/status/aggregation.go
  extension/healthcheckv2extension/internal/status/aggregation_test.go
  extension/healthcheckv2extension/internal/status/aggregator.go
  extension/healthcheckv2extension/internal/status/aggregator_test.go
  extension/healthcheckv2extension/internal/status/package_test.go
  extension/healthcheckv2extension/internal/testhelpers/helpers.go
Labels: extension/healthcheckv2

#33460 [chore] bump dep to address cve
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  cmd/telemetrygen/internal/e2etest/go.mod
  cmd/telemetrygen/internal/e2etest/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/go.sum
  exporter/opencensusexporter/go.mod
  exporter/opencensusexporter/go.sum
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/skywalkingexporter/go.mod
  exporter/skywalkingexporter/go.sum
  extension/healthcheckv2extension/go.mod
  extension/healthcheckv2extension/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  go.mod
  go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  receiver/jaegerreceiver/go.mod
  receiver/jaegerreceiver/go.sum
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/go.sum
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/skywalkingreceiver/go.mod
  receiver/skywalkingreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, processor/k8sattributes, exporter/loadbalancing, receiver/jmx, cmd/telemetrygen, receiver/kubeletstats, processor/routing, cmd/otelcontribcol, exporter/elasticsearch, exporter/skywalking, exporter/coralogix, exporter/opencensus, receiver/jaeger, receiver/opencensus, receiver/skywalking, receiver/k8scluster, extension/jaegerremotesampling, cmd/oteltestbedcol, receiver/k8sobjects, testbed, receiver/loki, connector/datadog, exporter/otelarrow, receiver/otelarrow, extension/healthcheckv2

#33274 [pkg/ottl] Add debug logging
  .chloggen/ottl-debug-statements.yaml
  pkg/ottl/README.md
  pkg/ottl/contexts/internal/logging/logging.go
  pkg/ottl/contexts/internal/logging/logging_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/parser.go
  processor/filterprocessor/README.md
  processor/transformprocessor/README.md
Labels: processor/filter, processor/transform, pkg/ottl

#32550 [mongodbreceiver] change 'Hosts' configuration type
  .chloggen/fix-mongodbreceiver-hosts.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/config.go
  receiver/mongodbreceiver/config_test.go
  receiver/mongodbreceiver/factory.go
  receiver/mongodbreceiver/integration_test.go
Labels: Stale, receiver/mongodb

#33454 Fixed esexporter serialized document to avoid conflicting keys
  .chloggen/fix_esexp-mapping.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#33492 [receiver/postgresql] Fix issue where postgresql.rows metric always returned 0 for state:dead
  .chloggen/fix-postgres-dead-metric.yaml
  receiver/postgresqlreceiver/client.go
Labels: receiver/postgresql

#33426 [processor/tailsampling] Move from OpenCensus to OTel API
  .chloggen/jpkroehling_migrate-metrics-for-tailsampling.yaml
  processor/tailsamplingprocessor/documentation.md
  processor/tailsamplingprocessor/generated_component_telemetry_test.go
  processor/tailsamplingprocessor/generated_package_test.go
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/tailsamplingprocessor/internal/metadata/generated_telemetry.go
  processor/tailsamplingprocessor/internal/metadata/generated_telemetry_test.go
  processor/tailsamplingprocessor/internal/sampling/policy.go
  processor/tailsamplingprocessor/internal/telemetry/featureflag.go
  processor/tailsamplingprocessor/internal/telemetry/metrics_oc.go
  processor/tailsamplingprocessor/internal/telemetry/telemetry.go
  processor/tailsamplingprocessor/metadata.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling, cmd/otelcontribcol

#33470 [extension/healthcheck] remove broken code
  .chloggen/codeboten_rm-view-healthcheck.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/exporter.go
  extension/healthcheckextension/exporter_test.go
  extension/healthcheckextension/generated_package_test.go
  extension/healthcheckextension/go.mod
  extension/healthcheckextension/go.sum
  extension/healthcheckextension/healthcheckextension.go
  extension/healthcheckextension/healthcheckextension_test.go
  extension/healthcheckextension/metadata.yaml
Labels: extension/healthcheck

#32815 fix(s3exporter/config-validation): endpoint should contain region and S3 bucket
  .chloggen/awss3exporter_config_endpoint.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
Labels: exporter/awss3

#33495 [chore] unblock golangci-lint update
  extension/sumologicextension/extension.go
Labels: extension/sumologic

#33415 statsdreceiver observability
  .chloggen/feature-statsdreceiver-metrics.yaml
  receiver/statsdreceiver/receiver.go
  receiver/statsdreceiver/receiver_test.go
  receiver/statsdreceiver/reporter.go
Labels: receiver/statsd

#33221 [receiver/awss3receiver] Add support for encoding extensions
  .chloggen/awss3receiver_encodings.yaml
  receiver/awss3receiver/README.md
  receiver/awss3receiver/config.go
  receiver/awss3receiver/config_test.go
  receiver/awss3receiver/receiver.go
  receiver/awss3receiver/receiver_test.go
  receiver/awss3receiver/testdata/config.yaml
Labels: receiver/awss3

#33500 [chore] migrate metrics to mdatagen telemetry
  connector/grafanacloudconnector/connector.go
  connector/grafanacloudconnector/documentation.md
  connector/grafanacloudconnector/generated_component_telemetry_test.go
  connector/grafanacloudconnector/go.mod
  connector/grafanacloudconnector/internal/metadata/generated_telemetry.go
  connector/grafanacloudconnector/internal/metadata/generated_telemetry_test.go
  connector/grafanacloudconnector/metadata.yaml
Labels: connector/grafanacloud

#33367 [exporter/elasticsearch] Use confighttp.ClientConfig
  .chloggen/elasticsearchexporter-confighttp.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/testdata/config.yaml
Labels: exporter/elasticsearch

#33509 [chore][processor/tailsampling] Refactor tests
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_benchmarks_test.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#33521 [k8s] Skip k8s e2e
  processor/k8sattributesprocessor/e2e_test.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/kubeletstatsreceiver/e2e_test.go
Labels: ci-cd, processor/k8sattributes, Skip Changelog, receiver/kubeletstats, receiver/k8scluster, receiver/k8sobjects

#33519 [pkg/stanza] remove deprecated code
  .chloggen/codeboten_rm-deprecate.yaml
  pkg/stanza/adapter/emitter.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/pipeline/directed.go
  pkg/stanza/testutil/util.go
Labels: pkg/stanza

#33525 [chore] update statsd receiver to use mdatagen
  .chloggen/codeboten_mdatagen-statsd.yaml
  receiver/statsdreceiver/documentation.md
  receiver/statsdreceiver/generated_component_telemetry_test.go
  receiver/statsdreceiver/go.mod
  receiver/statsdreceiver/internal/metadata/generated_telemetry.go
  receiver/statsdreceiver/internal/metadata/generated_telemetry_test.go
  receiver/statsdreceiver/metadata.yaml
  receiver/statsdreceiver/reporter.go
Labels: receiver/statsd

#33527 [chore] bump github.com/Azure/azure-sdk-for-go/sdk/azidentity
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.sum
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, receiver/prometheus, exporter/prometheus, receiver/simpleprometheus, exporter/azuredataexplorer, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, connector/datadog

#33462 [cmd/opampsupervisor] Receive and report effective config
  .chloggen/supervisor-effective-config.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/examples/supervisor_darwin.yaml
  cmd/opampsupervisor/examples/supervisor_linux.yaml
  cmd/opampsupervisor/examples/supervisor_windows.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/pid.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/bootstrap_pipeline.yaml
  cmd/opampsupervisor/supervisor/templates/opampextension.yaml
  cmd/opampsupervisor/testdata/collector/effective_config.yaml
  cmd/opampsupervisor/testdata/collector/split_config.yaml
Labels: cmd/opampsupervisor

#33511 [chore] Add test for on startup compaction
  extension/storage/filestorage/extension_test.go
Labels: extension/storage

#31894 [probabilistic sampling processor] encoded sampling probability (support OTEP 235)
  .chloggen/probabilisticsampler_modes.yaml
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/config.go
  processor/probabilisticsamplerprocessor/config_test.go
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/internal/metadata/generated_telemetry_test.go
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/sampler_mode.go
  processor/probabilisticsamplerprocessor/sampler_mode_test.go
  processor/probabilisticsamplerprocessor/testdata/config.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_inf.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_prec.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_small.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_zero.yaml
  processor/probabilisticsamplerprocessor/tracesprocessor.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
Labels: processor/probabilisticsampler, pkg/sampling

#33552 [chore] update gqlparser indirect dependency to v2.5.16 to fix graphql generation
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
Labels: ready to merge, internal/tools, receiver/gitprovider

#33338 [processor/transform] Add 'transform.flatten.logs' feature gate
  .chloggen/transform-flatten-logs.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  go.mod
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/processor_test.go
  processor/transformprocessor/testdata/logs/expected-with-flatten.yaml
  processor/transformprocessor/testdata/logs/expected-without-flatten.yaml
  processor/transformprocessor/testdata/logs/input.yaml
Labels: ready to merge, exporter/datadog, processor/transform, cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, connector/datadog

#33548 [chore] [k8s] fix k8s e2e tests
  internal/k8stest/k8s_collector.go
  internal/k8stest/k8s_data_helpers.go
  processor/k8sattributesprocessor/e2e_test.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/kubeletstatsreceiver/e2e_test.go
Labels: processor/k8sattributes, receiver/kubeletstats, receiver/k8scluster, receiver/k8sobjects, internal/k8stest

#33518 Updates to OTel-Arrow v0.24.0 deps
  .chloggen/otel-arrow-v024.yaml
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/otelarrowexporter/internal/arrow/bestofn.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/otelarrowexporter/internal/arrow/prioritizer.go
  exporter/otelarrowexporter/internal/arrow/stream.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/otelarrowexporter/otelarrow.go
  exporter/otelarrowexporter/otelarrow_test.go
  receiver/otelarrowreceiver/README.md
  receiver/otelarrowreceiver/config.go
  receiver/otelarrowreceiver/config_test.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/otelarrowreceiver/otelarrow_test.go
  receiver/otelarrowreceiver/testdata/config.yaml
Labels: exporter/otelarrow, receiver/otelarrow

#33117 [pkg/ottl] Added 'Adding new functions/converters' guidelines
  pkg/ottl/ottlfuncs/README.md
Labels: Skip Changelog, pkg/ottl

#33406 [pkg/stanza] support gzip compressed log files for file log receiver
  .chloggen/filelog_receiver_compressed_files.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#33559 [chore] migrate fluentforward receiver to mdatagen
  receiver/fluentforwardreceiver/collector.go
  receiver/fluentforwardreceiver/documentation.md
  receiver/fluentforwardreceiver/generated_component_telemetry_test.go
  receiver/fluentforwardreceiver/generated_package_test.go
  receiver/fluentforwardreceiver/go.mod
  receiver/fluentforwardreceiver/go.sum
  receiver/fluentforwardreceiver/internal/metadata/generated_telemetry.go
  receiver/fluentforwardreceiver/internal/metadata/generated_telemetry_test.go
  receiver/fluentforwardreceiver/metadata.yaml
  receiver/fluentforwardreceiver/observ/metrics.go
  receiver/fluentforwardreceiver/observ/metrics_test.go
  receiver/fluentforwardreceiver/observ/package_test.go
  receiver/fluentforwardreceiver/receiver.go
  receiver/fluentforwardreceiver/server.go
Labels: receiver/fluentforward

#33569 [chore] use mdatagen for internal telemetry
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/generated_component_telemetry_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry_test.go
  processor/k8sattributesprocessor/internal/observability/empty_test.go
  processor/k8sattributesprocessor/internal/observability/observability.go
  processor/k8sattributesprocessor/internal/observability/observability_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: exporter/datadog, processor/k8sattributes, cmd/otelcontribcol, connector/datadog

#33390 [receiver/kubeletstats] Add k8s.pod.cpu.node.utilization metric
  .chloggen/add_k8s_pod_utilization.yaml
  receiver/kubeletstatsreceiver/README.md
  receiver/kubeletstatsreceiver/config.go
  receiver/kubeletstatsreceiver/config_test.go
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/scraper.go
  receiver/kubeletstatsreceiver/scraper_test.go
  receiver/kubeletstatsreceiver/testdata/config.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_cpu_util_nodelimit_expected.yaml
Labels: receiver/kubeletstats

#33574 [chore][golangci-lint] Remove gosec excludes
  .golangci.yml
Labels: ci-cd

#32829 Update semconv for prometheus components
  .chloggen/prometheus-semconv-update.yaml
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/end_to_end_test.go
  exporter/prometheusexporter/prometheus_test.go
  exporter/prometheusexporter/utils.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: ready to merge, receiver/prometheus, exporter/prometheus, pkg/translator/prometheus

#33578 [pkg/ottl] Use hex.EncodeToString
  pkg/ottl/contexts/internal/logging/logging.go
  pkg/ottl/contexts/ottllog/log.go
Labels: Skip Changelog, pkg/ottl

#33587 [chore] discard response body
  exporter/splunkhecexporter/hec_worker.go
Labels: exporter/splunkhec

#32906 [pkg/ottl] parse uri string to url.* SemConv attributes
  .chloggen/ottl_uri-parser.yaml
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  connector/routingconnector/go.mod
  connector/routingconnector/go.sum
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  internal/coreinternal/parseutils/uri.go
  internal/coreinternal/parseutils/uri_test.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_url.go
  pkg/ottl/ottlfuncs/func_url_test.go
  pkg/ottl/ottlfuncs/functions.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/parser/uri/parser.go
  pkg/stanza/operator/parser/uri/parser_test.go
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
Labels: exporter/alibabacloudlogservice, exporter/datadog, processor/tailsampling, receiver/journald, exporter/loadbalancing, processor/transform, cmd/telemetrygen, receiver/mongodbatlas, exporter/clickhouse, receiver/filelog, exporter/carbon, exporter/loki, extension/healthcheck, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, receiver/sqlquery, exporter/prometheusremotewrite, processor/logstransform, processor/routing, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/skywalking, exporter/sapm, exporter/coralogix, exporter/sentry, exporter/googlecloudpubsub, exporter/prometheus, exporter/zipkin, exporter/tencentcloudlogservice, exporter/sumologic, exporter/mezmo, exporter/opencensus, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, pkg/ottl, extension/sigv4auth, extension/oidcauth, extension/asapauth, extension/bearertokenauth, extension/oauth2clientauth, extension/httpforwarder, extension/pprof, extension/observer, extension/awsproxy, extension/basicauth, extension/jaegerremotesampling, extension/storage, receiver/otlpjsonfile, extension/headerssetter, exporter/instana, exporter/azuredataexplorer, internal/core, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/syslog, exporter/dataset, cmd/opampsupervisor, connector/routing, extension/encoding, connector/exceptions, exporter/opensearch, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, extension/opamp, extension/remotetap, exporter/alertmanager, connector/failover, receiver/namedpipe, extension/solarwindsapmsettings, exporter/otelarrow, confmap/provider/secretsmanagerprovider, extension/ack, connector/grafanacloud, extension/googleclientauth, exporter/rabbitmq, extension/healthcheckv2, connector/roundrobin

#33588 [chore] [receiver/mongodb] Enable lifecycle tests
  receiver/mongodbreceiver/generated_component_test.go
  receiver/mongodbreceiver/metadata.yaml
Labels: receiver/mongodb

#33533 Decision cache for "keep" trace IDs
  .chloggen/jmoe_tailsampling-decisioncache.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/config_test.go
  processor/tailsamplingprocessor/documentation.md
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/internal/cache/lru_cache.go
  processor/tailsamplingprocessor/internal/cache/lru_cache_test.go
  processor/tailsamplingprocessor/internal/cache/nop_cache.go
  processor/tailsamplingprocessor/internal/cache/nop_cache_test.go
  processor/tailsamplingprocessor/internal/cache/types.go
  processor/tailsamplingprocessor/internal/metadata/generated_telemetry.go
  processor/tailsamplingprocessor/metadata.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/testdata/tail_sampling_config.yaml
Labels: processor/tailsampling

#33599 [chore] Add // nolint:staticcheck to unblock release
  connector/datadogconnector/example_test.go
  connector/servicegraphconnector/config_test.go
  exporter/awss3exporter/config_test.go
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/googlemanagedprometheusexporter/config_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  processor/probabilisticsamplerprocessor/config_test.go
  processor/sumologicprocessor/config_test.go
  receiver/azureblobreceiver/config_test.go
  receiver/azureeventhubreceiver/config_test.go
  receiver/gitproviderreceiver/config_test.go
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/receivercreator/config_test.go
  receiver/snmpreceiver/integration_test.go
Labels: exporter/datadog, exporter/loadbalancing, receiver/hostmetrics, exporter/googlemanagedprometheus, processor/probabilisticsampler, receiver/azureeventhub, receiver/azureblob, receiver/snmp, receiver/receivercreator, connector/servicegraph, exporter/awss3, receiver/gitprovider, connector/datadog, processor/sumologic

#32935 [processor/metricstransformprocessor] Support `count` aggregation type
  .chloggen/count-aggregation-type.yaml
  processor/metricstransformprocessor/README.md
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
Labels: processor/metricstransform

#33554 [chore][exporter/elasticsearch]Log errror logs on bench and fix EOF
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
Labels: ready to merge, exporter/elasticsearch

#33565 [receiver/prometheusreceiver] Fix retrieval of aggregated metrics with no job/instance label
  .chloggen/fix-prometheusreceiver-federate-endpoint.yaml
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: ready to merge, receiver/prometheus

#33635 [chore][CONTRIBUTING.md] Add reference to addlicense command
  CONTRIBUTING.md
Labels: documentation, ready to merge

#33598 [chore][receiver/kubeletstats] Add ChrsMark to kubeletstats codeowners
  .github/CODEOWNERS
  receiver/kubeletstatsreceiver/README.md
  receiver/kubeletstatsreceiver/metadata.yaml
Labels: ready to merge, receiver/kubeletstats

#33570 [otelarrowreceiver] Ensure consume operations are not canceled at stream EOF
  .chloggen/otelarrow-eof-cancel.yaml
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
Labels: ready to merge, receiver/otelarrow

#33499 [receiver/solacereceiver]: Updates to Solace Receiver to use latest semantic conventions - v1.25.0
  .chloggen/solacereceiver_update_attribute_names.yaml
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_egress.go
  receiver/solacereceiver/unmarshaller_egress_test.go
  receiver/solacereceiver/unmarshaller_receive.go
  receiver/solacereceiver/unmarshaller_receive_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: receiver/solace

#33425 [exporter/clickhouse] add temporality to histogram data models
  .chloggen/clickhouseexporter-aggregation-temporality.yaml
  exporter/clickhouseexporter/example/default_ddl/histogram_metrics.sql
  exporter/clickhouseexporter/example/default_ddl/sum_metrics.sql
  exporter/clickhouseexporter/integration_test.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/sum_metrics.go
Labels: exporter/clickhouse

#33611 [exporter/clickhouse] Update default logs table schema
  .chloggen/clickhouseexporter_update_default_logs_table.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/example/default_ddl/logs.sql
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/integration_test.go
Labels: exporter/clickhouse

#33636 [chore][receiver/vcenter] Updated vCenter test output generated by Golden package
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#33522 [exporter/sumologicexporter]: Added timeout validation
  .chloggen/chan-tim_timeoutValidation.yaml
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
Labels: ready to merge, exporter/sumologic

#33440 [processor/k8sattributes] Add support for exposing k8s.pod.ip metadata
  .chloggen/add_k8s_pod_ip.yaml
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/testdata/config.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/role.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/rolebinding.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/service.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/serviceaccount.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/namespace.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/telemetrygen/deployment.yaml
Labels: ready to merge, processor/k8sattributes

#33647 [exporter/clickhouse] Unexport extra Config methods
  .chloggen/clickhouse-exporter-enexport-extra-config-methods.yaml
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_sql_test.go
  exporter/clickhouseexporter/exporter_traces.go
Labels: exporter/clickhouse

#33493 [extension/googleclientauth] Update github.com/GoogleCloudPlatform/opentelemetry-operations-go v0.48.0
  .chloggen/update-googleclientauthextension-48.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/googleclientauthextension/README.md
  extension/googleclientauthextension/config_test.go
  extension/googleclientauthextension/generated_package_test.go
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
  extension/googleclientauthextension/metadata.yaml
  extension/googleclientauthextension/testdata/config.yaml
Labels: dependencies, ready to merge, cmd/otelcontribcol, extension/googleclientauth

#33293 [exporter/loadbalacing] Refactor how metrics are split and then re-joined after load-balacing
  .chloggen/loadbalancer_exporter_refactor.yaml
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/helpers.go
  exporter/loadbalancingexporter/helpers_test.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/metric_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/metric_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/resource_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/resource_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/resource_service_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/resource_service_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/metric_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/metric_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_service_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_service_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_metric_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_metric_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_resource_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_resource_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_resource_service_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_resource_service_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_metric_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_metric_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_resource_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_resource_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_resource_service_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_resource_service_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/missing_service_name/input.yaml
  exporter/loadbalancingexporter/trace_exporter.go
  go.mod
Labels: exporter/loadbalancing, cmd/configschema

#33420 [receiver/sqlserver] Enable more perf counter metrics
  .chloggen/sqlserver_pc_metrics.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
Labels: receiver/sqlserver, Run Windows

#33642 [receover/mongodb] Graduate removeDatabaseAttr feature gate to stable
  .chloggen/stable-receiver-mongodb-removeDatabaseAttr.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/internal/metadata/metrics_database_attr_version.go
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
Labels: receiver/mongodb

#33644 [receiver/mongodb] Ensure support of the latest mongodb versions
  .chloggen/branch-issue-32716.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/integration_test.go
  receiver/mongodbreceiver/testdata/integration/Dockerfile.mongodb.6_0
  receiver/mongodbreceiver/testdata/integration/Dockerfile.mongodb.7_0
Labels: Skip Changelog, receiver/mongodb

#33648 [exporter/clickhouse] Remove deprecated `ttl_days` config option
  .chloggen/clickhouseexporter-remove-deprecated-config-option.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/factory.go
Labels: exporter/clickhouse

#33514 [chore] migrate metrics to mdatagen
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/documentation.md
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_other.go
  pkg/stanza/fileconsumer/generated_component_telemetry_test.go
  pkg/stanza/fileconsumer/generated_package_test.go
  pkg/stanza/fileconsumer/internal/metadata/generated_telemetry.go
  pkg/stanza/fileconsumer/internal/metadata/generated_telemetry_test.go
  pkg/stanza/fileconsumer/metadata.yaml
  pkg/stanza/go.mod
Labels: pkg/stanza

#33665 [chore] bumping dependency to unblock core
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
Labels: dependencies, cmd/otelcontribcol, extension/googleclientauth

#33539 Migrate otel metrics to use mdatagen: routing processor
  .chloggen/jpkroehling_mdatagen-routing.yaml
  processor/routingprocessor/documentation.md
  processor/routingprocessor/factory.go
  processor/routingprocessor/generated_component_telemetry_test.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/internal/metadata/generated_telemetry.go
  processor/routingprocessor/internal/metadata/generated_telemetry_test.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metadata.yaml
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
Labels: processor/routing

#33653 [chore][receiver/hostmetrics] replace unmaintained library `github.com/leoluk/perflib_exporter`
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/hostmetricsreceiver/internal/perfcounters/doc.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper.go
Labels: exporter/datadog, receiver/hostmetrics, cmd/otelcontribcol, connector/datadog

#32826 [connector/servicegraphconnector] Adds a new config option allowing an extra label for virtual node identification
  .chloggen/extra-labels-for-service-graphs.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/internal/store/edge.go
  connector/servicegraphconnector/internal/store/store.go
  connector/servicegraphconnector/internal/store/store_test.go
  connector/servicegraphconnector/testdata/extra-dimensions-queue-db-expected-metrics.yaml
  connector/servicegraphconnector/testdata/extra-dimensions-queue-db-trace.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-client-expected-metrics.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-client-trace.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-server-expected-metrics.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-server-trace.yaml
Labels: connector/servicegraph

#33550 [chore][exporter/loadbalancing] Migrate to OTel from OC metrics
  exporter/loadbalancingexporter/documentation.md
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/generated_component_telemetry_test.go
  exporter/loadbalancingexporter/generated_package_test.go
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/internal/metadata/generated_telemetry.go
  exporter/loadbalancingexporter/internal/metadata/generated_telemetry_test.go
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metadata.yaml
  exporter/loadbalancingexporter/metrics.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/metrics_test.go
  exporter/loadbalancingexporter/resolver_aws_cloudmap.go
  exporter/loadbalancingexporter/resolver_aws_cloudmap_test.go
  exporter/loadbalancingexporter/resolver_dns.go
  exporter/loadbalancingexporter/resolver_dns_test.go
  exporter/loadbalancingexporter/resolver_k8s.go
  exporter/loadbalancingexporter/resolver_k8s_handler.go
  exporter/loadbalancingexporter/resolver_k8s_test.go
  exporter/loadbalancingexporter/resolver_static.go
  exporter/loadbalancingexporter/resolver_static_test.go
  exporter/loadbalancingexporter/telemetry_utils_test.go
  exporter/loadbalancingexporter/trace_exporter.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/loadbalancingexporter/wrapped_exporter.go
Labels: exporter/loadbalancing

#33671 [processor/tailsampling] fix `InvertNotSampled` decision precedence when inside and sub policy
  .chloggen/fix-tailsampling-and-policy-precedence.yaml
  processor/tailsamplingprocessor/internal/sampling/and.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
Labels: processor/tailsampling

#33678 [chore][receiver/kafa] Update README on topic
  receiver/kafkareceiver/README.md
Labels: receiver/kafka

#33662 [chore] migrate kafkareceiver away from opencensus
  receiver/kafkareceiver/documentation.md
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/generated_component_telemetry_test.go
  receiver/kafkareceiver/generated_package_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/header_extraction_test.go
  receiver/kafkareceiver/internal/metadata/generated_telemetry.go
  receiver/kafkareceiver/internal/metadata/generated_telemetry_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/metadata.yaml
  receiver/kafkareceiver/metrics.go
  receiver/kafkareceiver/metrics_test.go
Labels: receiver/kafka

#33693 [exporter/clickhouse] change how default database is read from config
  .chloggen/clickhouse-change-default-database.yaml
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
Labels: exporter/clickhouse

#33536 [pkg/ottl]: Add ByteSliceLikeGetter interface
  .chloggen/add-byteslicelikegetter.yaml
  pkg/ottl/LANGUAGE.md
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: pkg/ottl

#33622 [exporter/elasticsearch] Add ecs mapping for k8s.deployment.name
  .chloggen/add_es_exporter_deploy_name_ecs.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#33690 [chore] Remove unused internal code
  .github/workflows/scripts/check-collector-module-version.sh
  CONTRIBUTING.md
  extension/sigv4authextension/design.md
  go.mod
  go.sum
  internal/components/components.go
Labels: extension/sigv4auth

#33691 [chore] [receiver/mongodb] Remove redundant resource grouping
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/testdata/integration/expected.4_0.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_4lpu.yaml
  receiver/mongodbreceiver/testdata/integration/expected.5_0.yaml
  receiver/mongodbreceiver/testdata/scraper/expected.yaml
Labels: receiver/mongodb

#31444 [pkg/ottl] Add schema_url field to contexts
  .chloggen/schemaurl-ottl-context-api.yaml
  .chloggen/schemaurl-ottl-context-user.yaml
  connector/countconnector/connector.go
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  internal/filter/filterlog/filterlog_test.go
  internal/filter/filtermetric/filtermetric_test.go
  internal/filter/filterottl/functions_test.go
  internal/filter/filterspan/filterspan_test.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/schema.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/e2e/e2e_test.go
  processor/attributesprocessor/attributes_log.go
  processor/attributesprocessor/attributes_metric.go
  processor/attributesprocessor/attributes_trace.go
  processor/filterprocessor/logs.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/traces.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
  processor/spanprocessor/span.go
  processor/tailsamplingprocessor/internal/sampling/ottl.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum_datapoint_test.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge_datapoint_test.go
  processor/transformprocessor/internal/metrics/func_convert_sum_to_gauge_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_copy_metric_test.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric_test.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, pkg/ottl, processor/span, internal/filter, connector/count, connector/routing, exporter/honeycombmarker

#33711 [chore] fix testbed runner
  testbed/Makefile
  testbed/go.mod
Labels: testbed

#33710 [chore][receiver/redis] Update username/password README description
  receiver/redisreceiver/README.md
Labels: documentation, receiver/redis

#33695 Add @pjanotti as codeowner for Windows perf counter and related components
  .github/CODEOWNERS
  pkg/winperfcounters/metadata.yaml
  receiver/activedirectorydsreceiver/README.md
  receiver/activedirectorydsreceiver/metadata.yaml
  receiver/iisreceiver/README.md
  receiver/iisreceiver/metadata.yaml
  receiver/windowseventlogreceiver/README.md
  receiver/windowseventlogreceiver/metadata.yaml
  receiver/windowsperfcountersreceiver/README.md
  receiver/windowsperfcountersreceiver/metadata.yaml
Labels: Skip Changelog, receiver/activedirectoryds, receiver/iis, receiver/windowseventlog, receiver/windowsperfcounters, pkg/winperfcounters

#33628 Add OTel-Arrow components to contribcol; mark these alpha
  .chloggen/otelarrow-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/internal/metadata/generated_status.go
  exporter/otelarrowexporter/metadata.yaml
  receiver/otelarrowreceiver/README.md
  receiver/otelarrowreceiver/internal/metadata/generated_status.go
  receiver/otelarrowreceiver/metadata.yaml
Labels: ready to merge, cmd/otelcontribcol, exporter/otelarrow, receiver/otelarrow

#33582 [chore] update solace receiver to use mdatagen
  receiver/solacereceiver/documentation.md
  receiver/solacereceiver/factory_test.go
  receiver/solacereceiver/generated_component_telemetry_test.go
  receiver/solacereceiver/generated_package_test.go
  receiver/solacereceiver/go.mod
  receiver/solacereceiver/go.sum
  receiver/solacereceiver/internal/metadata/generated_telemetry.go
  receiver/solacereceiver/internal/metadata/generated_telemetry_test.go
  receiver/solacereceiver/metadata.yaml
  receiver/solacereceiver/observability.go
  receiver/solacereceiver/observability_test.go
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/receiver_test.go
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_egress.go
  receiver/solacereceiver/unmarshaller_egress_test.go
  receiver/solacereceiver/unmarshaller_receive.go
  receiver/solacereceiver/unmarshaller_receive_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: receiver/solace

#33713 [chore] [receiver/mongodb] Fix test assertion
  receiver/mongodbreceiver/scraper_test.go
Labels: receiver/mongodb

#33683 Statsdreceiver optimizations
  .chloggen/feature-statsdreceiver-optimizations.yaml
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/transport/split_bytes.go
  receiver/statsdreceiver/internal/transport/udp_server.go
  receiver/statsdreceiver/receiver.go
Labels: receiver/statsd

#33675 [exporter/datasetexporter] Upgrade to dataset-go v0.19.0
  .chloggen/datasetexporter-update-to-0.19.0.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datasetexporter/config.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/go.mod
  exporter/datasetexporter/go.sum
  exporter/datasetexporter/logs_exporter_stress_test.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/traces_exporter_test.go
Labels: cmd/otelcontribcol, exporter/dataset

#33726 [chore] Update datadog-agent dependencies
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, cmd/otelcontribcol, testbed, receiver/datadog, connector/datadog

#33694 [clickhouse/exporter] Update create schema config option
  .chloggen/clickhouse-update-create-schema-config-option.yaml
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/factory.go
Labels: exporter/clickhouse

#33728 [exporter/datadog] Upgrade mapping go version
  .chloggen/dd-k8s-tags.yaml
  .chloggen/dd-logs.yaml
  .chloggen/dd-metrics-no-record.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: dependencies, ready to merge, exporter/datadog, cmd/otelcontribcol, cmd/oteltestbedcol, connector/datadog

#33513 [exporter/elasticsearch] Add initial support for metrics
  .chloggen/add-metrics-to-elasticsearch-exporter.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/generated_component_test.go
  exporter/elasticsearchexporter/internal/metadata/generated_status.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/metadata.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/testdata/metrics-cpu.json
Labels: exporter/elasticsearch

#33750 fix example
  examples/kubernetes/otel-collector.yaml
Labels: documentation, processor/k8sattributes, Skip Changelog

#33692 [receiver/windowsperfcounters] Clarify current treatment of the `_Total` instance
  receiver/windowsperfcountersreceiver/README.md
Labels: documentation, ready to merge, Skip Changelog, receiver/windowsperfcounters

#33720 [chore] Fix broken URL in a comment
  internal/tools/tools.go
Labels: documentation, ready to merge, Skip Changelog, internal/tools

#33297 [connector/datadog] Use the native OTel ingest API in APM stats
  .chloggen/datadog-connector-native-ingest.yaml
  connector/datadogconnector/connector_native.go
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/factory.go
  connector/datadogconnector/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, never stale, connector/datadog

#32998 [exporter/awsemf] Add AppSignals metadata flag into user-agent in EMF exporter
  .chloggen/appsignals-flag-in-emfexporter-user-agent.yaml
  exporter/awsemfexporter/config.go
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter.go
  internal/aws/cwlogs/cwlog_client.go
  internal/aws/cwlogs/cwlog_client_test.go
Labels: Stale, exporter/awsemf, internal/aws

#33604 [exporter/sumologicexporter]: Removed deprecated compress encoding in sumo exporter
  .chloggen/chan-tim_deprecateCompressEncoding.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/sender_test.go
Labels: exporter/sumologic

#33451 [processor/geoip] Add maxmind geoprovider
  .chloggen/add_maxmind_geoprovider.yaml
  processor/geoipprocessor/geoip_processor.go
  processor/geoipprocessor/geoip_processor_test.go
  processor/geoipprocessor/go.mod
  processor/geoipprocessor/go.sum
  processor/geoipprocessor/internal/convention/attributes.go
  processor/geoipprocessor/internal/provider/geoipprovider.go
  processor/geoipprocessor/internal/provider/maxmindprovider/README.md
  processor/geoipprocessor/internal/provider/maxmindprovider/config.go
  processor/geoipprocessor/internal/provider/maxmindprovider/provider.go
  processor/geoipprocessor/internal/provider/maxmindprovider/provider_test.go
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Anonymous-IP-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-City-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Connection-Type-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Country-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-DensityIncome-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Domain-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Enterprise-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-ISP-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Precision-Enterprise-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-Static-IP-Score-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoIP2-User-Count-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoLite2-ASN-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoLite2-City-Test.json
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/GeoLite2-Country-Test.json
Labels: processor/geoip

#33572 [extension/observer] Expose host and port independently in endpoint env
  .chloggen/observer_expose_host_port.yaml
  extension/observer/endpoints.go
  extension/observer/endpoints_test.go
  receiver/receivercreator/README.md
Labels: extension/observer, receiver/receivercreator

#33658 [all] Promote `component.UseLocalHostAsDefaultHost` feature gate to beta
  .chloggen/mx-psi_localhost-fg.yaml
  extension/awsproxy/README.md
  extension/awsproxy/factory_test.go
  extension/healthcheckextension/README.md
  extension/healthcheckextension/factory_test.go
  extension/healthcheckv2extension/README.md
  extension/jaegerremotesampling/README.md
  extension/jaegerremotesampling/config_test.go
  extension/jaegerremotesampling/factory_test.go
  internal/common/localhostgate/featuregate.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/mixrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespacedrbac/collector/configmap.yaml
  processor/remotetapprocessor/README.md
  processor/remotetapprocessor/config_test.go
  receiver/awsfirehosereceiver/README.md
  receiver/awsxrayreceiver/README.md
  receiver/awsxrayreceiver/config_test.go
  receiver/influxdbreceiver/README.md
  receiver/jaegerreceiver/README.md
  receiver/jaegerreceiver/config_test.go
  receiver/jaegerreceiver/factory_test.go
  receiver/k8sclusterreceiver/testdata/e2e/collector/configmap.yaml
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/testdata/e2e/collector/configmap.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/collector/configmap.yaml
  receiver/lokireceiver/README.md
  receiver/lokireceiver/config_test.go
  receiver/opencensusreceiver/README.md
  receiver/opencensusreceiver/config_test.go
  receiver/sapmreceiver/README.md
  receiver/sapmreceiver/config_test.go
  receiver/signalfxreceiver/README.md
  receiver/signalfxreceiver/config_test.go
  receiver/skywalkingreceiver/README.md
  receiver/skywalkingreceiver/config_test.go
  receiver/splunkhecreceiver/README.md
  receiver/splunkhecreceiver/config_test.go
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/factory.go
  receiver/zookeeperreceiver/README.md
  receiver/zookeeperreceiver/factory_test.go
Labels: receiver/zipkin, processor/k8sattributes, extension/healthcheck, receiver/kubeletstats, receiver/zookeeper, receiver/awsxray, receiver/influxdb, receiver/splunkhec, receiver/jaeger, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/skywalking, receiver/k8scluster, receiver/sapm, extension/awsproxy, extension/jaegerremotesampling, receiver/k8sobjects, receiver/loki, processor/remotetap, extension/healthcheckv2

#33005 [extension/observer/k8sobserver] add k8s.ingress endpoint
  .chloggen/feat_k8sobserver_ingress.yaml
  extension/observer/endpoints.go
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/config.go
  extension/observer/k8sobserver/config_test.go
  extension/observer/k8sobserver/handler.go
  extension/observer/k8sobserver/handler_test.go
  extension/observer/k8sobserver/ingress_endpoint.go
  extension/observer/k8sobserver/ingress_endpoint_test.go
  extension/observer/k8sobserver/k8s_fixtures_test.go
  extension/observer/k8sobserver/testdata/config.yaml
  receiver/receivercreator/README.md
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/rules.go
  receiver/receivercreator/testdata/config.yaml
Labels: extension/observer, receiver/receivercreator

#33643 [exporter/sumologicexporter] Initialized sender to be reused instead of creating it for each batch
  exporter/sumologicexporter/exporter.go
Labels: Skip Changelog, exporter/sumologic

#33779 [exporter/elasticsearch] deprecate 'dedup' config
  .chloggen/elasticsearch-deprecate-dedup.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
Labels: exporter/elasticsearch

#33774 [processor/resourcedetection] Fetch CPU info only if required
  .chloggen/call_cpu_info_only_on_demand.yaml
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: processor/resourcedetection, internal/metadataproviders

#33780 [exporter/elasticsearch] deprecate 'dedot' config
  .chloggen/elasticsearch-deprecate-dedot.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/factory_test.go
Labels: exporter/elasticsearch

#33785 Faster json parser
  .chloggen/faster_json_parser.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/operator/parser/json/config.go
  pkg/stanza/operator/parser/json/parser.go
  pkg/stanza/operator/parser/json/parser_test.go
  pkg/stanza/operator/parser/json/testdata/testdata.json
  processor/logstransformprocessor/go.mod
  processor/logstransformprocessor/go.sum
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/journaldreceiver/go.mod
  receiver/journaldreceiver/go.sum
  receiver/mongodbatlasreceiver/go.mod
  receiver/mongodbatlasreceiver/go.sum
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/syslogreceiver/go.mod
  receiver/syslogreceiver/go.sum
  receiver/tcplogreceiver/go.mod
  receiver/tcplogreceiver/go.sum
  receiver/udplogreceiver/go.mod
  receiver/udplogreceiver/go.sum
  receiver/windowseventlogreceiver/go.mod
  receiver/windowseventlogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, receiver/journald, receiver/mongodbatlas, receiver/filelog, receiver/sqlquery, processor/logstransform, cmd/otelcontribcol, exporter/elasticsearch, receiver/windowseventlog, receiver/tcplog, receiver/udplog, receiver/syslog, pkg/stanza, receiver/otlpjsonfile, receiver/azureeventhub, cmd/oteltestbedcol, testbed, connector/datadog, receiver/namedpipe

#33808 [chore] [receiver/receivercreator] fix bad copypasta in test (createErr -> err)
  receiver/receivercreator/runner.go
Labels: receiver/receivercreator

#32404 [chore][receiver/awscontainerinsights] Enable goleak checks
  receiver/awscontainerinsightreceiver/internal/cadvisor/package_test.go
Labels: receiver/awscontainerinsight, waiting-for-code-owners

#33818 [chore] fix failed k8s e2e test bugs
  processor/k8sattributesprocessor/e2e_test.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/kubeletstatsreceiver/e2e_test.go
Labels: processor/k8sattributes, Skip Changelog, receiver/kubeletstats, receiver/k8scluster
