Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-10, with the labels that each got.

#35351 carbonexporter: migrate to latest semconv version
  exporter/carbonexporter/exporter_test.go
Labels: Skip Changelog, exporter/carbon

#35340 zipkinreceiver: migrate to latest semconv version
  receiver/zipkinreceiver/proto_parse_test.go
  receiver/zipkinreceiver/trace_receiver_test.go
Labels: receiver/zipkin, Skip Changelog

#35479 [exporter/elasticsearch] Implement elasticsearch.mapping.hints attribute handling for data points in OTel mapping mode
  .chloggen/elasticsearchexporter_mapping-hint.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/mapping_hint.go
  exporter/elasticsearchexporter/mapping_hint_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: Skip Changelog, exporter/elasticsearch

#35519 [exporter/datadogexporter, pkg/datadog, testbed] Use NewDefaultClientConfig instead of manually creating struct
  exporter/datadogexporter/factory.go
  pkg/datadog/config/config.go
  testbed/mockdatasenders/mockdatadogagentexporter/factory.go
Labels: exporter/datadog, Skip Changelog, testbed, pkg/datadog

#35295 [receiver/prometheusremotewrite] Add component skeleton
  .chloggen/prw-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  receiver/prometheusremotewritereceiver/Makefile
  receiver/prometheusremotewritereceiver/README.md
  receiver/prometheusremotewritereceiver/config.go
  receiver/prometheusremotewritereceiver/factory.go
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/internal/metadata/generated_status.go
  receiver/prometheusremotewritereceiver/metadata.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  versions.yaml
Labels: ready to merge, reports/distributions/contrib.yaml

#34597 [cmd/opampsupervisor] Refactor NewSupervisor function
  .chloggen/refactor-config-in-opampsupervisor.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/main.go
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#35409 [pkg/ottl] Add ToKeyValueString Converter
  .chloggen/ottl-tokeyvaluestring.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_to_key_value_string.go
  pkg/ottl/ottlfuncs/func_to_key_value_string_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#35531 [chore] fix build
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#35536 [receiver/datadog] Update metrics stability level to alpha
  .chloggen/datadogreceiver-metrics-alpha.yaml
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/internal/metadata/generated_status.go
  receiver/datadogreceiver/metadata.yaml
Labels: receiver/datadog

#35557 [chore] more unused replace
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  go.mod
  internal/tools/go.mod
Labels: exporter/datadog, cmd/otelcontribcol, internal/tools, cmd/oteltestbedcol

#35543 [chore] [exporter/signalfx] Use NewDefaultClientConfig instead of manually creating struct
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/factory.go
  exporter/signalfxexporter/internal/correlation/config.go
Labels: exporter/signalfx

#35363 [cmd/opampsupervisor] Conditionally use TLS config
  .chloggen/fix-opampsupervisor-tls-settings.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_accepts_conn.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_agent_description.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_healthcheck_port.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_nocap.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_persistence.yaml
Labels: cmd/opampsupervisor

#35551 [chore] [cmd/opampsupervisor]: Fix failing supervisor test
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: Run Windows, cmd/opampsupervisor

#35430 [opampsupervisor]: Skip executing the collector if no config is provided
  .chloggen/feat_opampsupervisor-start-stop-empty-confmap.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#35564 [chore][pkg/stanza] fix the grammar
  pkg/stanza/adapter/receiver.go
Labels: ready to merge, pkg/stanza

#35065 [receiver/webhookevent] fix for issue 35028
  .chloggen/35028-fix-scan-behavior.yaml
  receiver/webhookeventreceiver/receiver.go
  receiver/webhookeventreceiver/req_to_log.go
  receiver/webhookeventreceiver/req_to_log_test.go
Labels: ready to merge, receiver/webhookevent

#35537 [processor/metricsgeneration] Generate metrics even when the second metric's value is 0
  .chloggen/metricsgeneration_metric2_0.yaml
  processor/metricsgenerationprocessor/processor.go
  processor/metricsgenerationprocessor/processor_test.go
  processor/metricsgenerationprocessor/testdata/input_metric_types/config.yaml
  processor/metricsgenerationprocessor/testdata/input_metric_types/metrics_input.yaml
  processor/metricsgenerationprocessor/testdata/input_metric_types/sum_gauge_metric_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/config.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metric2_zero_add_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metric2_zero_divide_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metric2_zero_multiply_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metric2_zero_percent_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metric2_zero_subtract_expected.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/metrics_input.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/add_gauge_gauge_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/add_gauge_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/add_sum_gauge_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/add_sum_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/config.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/divide_gauge_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/divide_sum_gauge_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/metrics_input.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/multiply_gauge_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/multiply_sum_gauge_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/percent_gauge_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/percent_sum_gauge_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/subtract_gauge_sum_expected.yaml
  processor/metricsgenerationprocessor/testdata/result_metric_types/subtract_sum_gauge_expected.yaml
  processor/metricsgenerationprocessor/utils.go
  processor/metricsgenerationprocessor/utils_test.go
Labels: processor/metricsgeneration

#35563 [chore] Fix Supervisor network tests on Windows
  cmd/opampsupervisor/e2e_test.go
Labels: ready to merge, os:windows, Run Windows, cmd/opampsupervisor

#35541 [chore] [exporter/mezmo] Use NewDefaultClientConfig instead of manually creating struct
  exporter/mezmoexporter/config.go
  exporter/mezmoexporter/config_test.go
  exporter/mezmoexporter/factory_test.go
Labels: exporter/mezmo

#34844 [chore] remove generated code
  .github/workflows/build-and-test.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  Makefile
  cmd/otelcontribcol/.gitignore
  cmd/otelcontribcol/Dockerfile
  cmd/otelcontribcol/Makefile
  cmd/otelcontribcol/README.md
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/distribution_metadata_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/main.go
  cmd/otelcontribcol/main_others.go
  cmd/otelcontribcol/main_windows.go
  cmd/otelcontribcol/metadata.yaml
  cmd/oteltestbedcol/.gitignore
  cmd/oteltestbedcol/Makefile
  cmd/oteltestbedcol/README.md
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  cmd/oteltestbedcol/main.go
  cmd/oteltestbedcol/main_others.go
  cmd/oteltestbedcol/main_windows.go
  cmd/oteltestbedcol/metadata.yaml
  cmd/oteltestbedcol/package_test.go
Labels: cmd/telemetrygen, cmd/otelcontribcol, internal/tools, cmd/oteltestbedcol

#35573 [chore] Add genotelcontribcol to a few workflows
  .github/workflows/build-and-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/load-tests.yml
Labels: ci-cd, Run Windows

#35570 [config] move -component.UseLocalHostAsDefaultHost feature gate to stable
  .chloggen/localhostgate-stable.yaml
  extension/awsproxy/factory.go
  extension/healthcheckextension/factory.go
  extension/healthcheckv2extension/config_test.go
  extension/healthcheckv2extension/factory.go
  extension/healthcheckv2extension/factory_test.go
  extension/jaegerremotesampling/factory.go
  internal/aws/proxy/cfg.go
  internal/common/localhostgate/featuregate.go
  internal/common/localhostgate/featuregate_test.go
  internal/common/testutil/testutil.go
  internal/common/testutil/testutil_test.go
  processor/remotetapprocessor/config.go
  receiver/awsfirehosereceiver/factory.go
  receiver/awsxrayreceiver/factory.go
  receiver/influxdbreceiver/factory.go
  receiver/jaegerreceiver/factory.go
  receiver/lokireceiver/factory.go
  receiver/opencensusreceiver/factory.go
  receiver/sapmreceiver/factory.go
  receiver/signalfxreceiver/factory.go
  receiver/skywalkingreceiver/factory.go
  receiver/splunkhecreceiver/factory.go
  receiver/zipkinreceiver/factory.go
  receiver/zookeeperreceiver/factory.go
Labels: ready to merge, receiver/zipkin, release:blocker, extension/healthcheck, receiver/zookeeper, receiver/awsxray, receiver/influxdb, receiver/splunkhec, receiver/jaeger, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/skywalking, receiver/sapm, extension/awsproxy, extension/jaegerremotesampling, internal/aws, receiver/loki, processor/remotetap, extension/healthcheckv2

#35275 [cmd/opampsupervisor] Make supervisor runnable as Windows service
  .chloggen/make-supervisor-a-compatible-windows-service.yaml
  .github/workflows/e2e-tests-windows.yml
  cmd/opampsupervisor/main.go
  cmd/opampsupervisor/main_others.go
  cmd/opampsupervisor/main_windows.go
  cmd/opampsupervisor/supervisor/commander/commander_windows.go
  cmd/opampsupervisor/supervisor/supervisor_windows.go
  cmd/opampsupervisor/supervisor/supervisor_windows_service_test.go
  cmd/opampsupervisor/supervisor/templates/opampextension.yaml
  cmd/opampsupervisor/supervisor/testdata/supervisor_windows_service_test_config.yaml
  cmd/opampsupervisor/testdata/collector/effective_config.yaml
Labels: Run Windows, cmd/opampsupervisor

#35588 [chore] Ensure file is closed in Supervisor test
  cmd/opampsupervisor/e2e_test.go
Labels: Run Windows, cmd/opampsupervisor

#35592 [chore] remove unnecessary go-ieproxy replace
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  go.mod
  receiver/sqlqueryreceiver/go.mod
  renovate.json
Labels: receiver/sqlquery, cmd/otelcontribcol, cmd/oteltestbedcol

#35591 [chore] Skip Supervisor log file test on Windows
  cmd/opampsupervisor/e2e_test.go
Labels: Run Windows, cmd/opampsupervisor

#35589 [chore] remove unnecessary error formatting when not needed
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
Labels: processor/transform

#35608 [chore] Remove cmd/oteltestbedcol from target list
  .github/workflows/scripts/release-prepare-release.sh
  Makefile
Labels: release:blocker

#35609 Add the tidying back for otelcontribcol but only on the release thingie
  .github/workflows/scripts/release-prepare-release.sh
Labels: Skip Changelog

#35586 [chore] [receiver/bigip] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/bigipreceiver/client_test.go
  receiver/bigipreceiver/config_test.go
  receiver/bigipreceiver/factory.go
  receiver/bigipreceiver/factory_test.go
  receiver/bigipreceiver/scraper_test.go
Labels: receiver/bigip

#33980 [receiver/awss3receiver]: Add ingest progress notifications via OpAMP
  .chloggen/awss3receiver_notifications.yaml
  receiver/awss3receiver/README.md
  receiver/awss3receiver/config.go
  receiver/awss3receiver/config_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
  receiver/awss3receiver/notifications.go
  receiver/awss3receiver/notifications_test.go
  receiver/awss3receiver/receiver.go
  receiver/awss3receiver/s3reader.go
  receiver/awss3receiver/s3reader_test.go
  receiver/awss3receiver/testdata/config.yaml
Labels: receiver/awss3

#34251 [exporter/clickhouse]: Add the ability to override default table names for all metric types
  .chloggen/metrics-tables-clickhouse.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
  exporter/clickhouseexporter/testdata/config.yaml
Labels: exporter/clickhouse

#35619 [chore] Fix whitespace errors
  .github/workflows/prometheus-compliance-tests.yml
  Makefile
  Makefile.Common
  confmap/provider/s3provider/README.md
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
  exporter/awsemfexporter/README.md
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/elasticsearchexporter/config.go
  exporter/googlecloudexporter/README.md
  exporter/googlecloudpubsubexporter/config.go
  exporter/logzioexporter/config.go
  exporter/prometheusremotewriteexporter/DESIGN.md
  exporter/signalfxexporter/config.go
  extension/bearertokenauthextension/README.md
  extension/observer/ecsobserver/fetcher_test.go
  internal/coreinternal/attraction/attraction.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/performance_query.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
  processor/tailsamplingprocessor/config.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/README.md
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
  receiver/googlecloudpubsubreceiver/README.md
  receiver/mongodbatlasreceiver/logs.go
  receiver/skywalkingreceiver/internal/metrics/skywalkingproto_to_metrics.go
  receiver/solacereceiver/README.md
  receiver/splunkhecreceiver/README.md
Labels: processor/tailsampling, processor/transform, receiver/mongodbatlas, exporter/clickhouse, exporter/azuremonitor, exporter/googlecloud, exporter/prometheusremotewrite, processor/routing, exporter/awsemf, exporter/signalfx, exporter/logzio, exporter/elasticsearch, exporter/googlecloudpubsub, receiver/solace, receiver/splunkhec, receiver/googlecloudpubsub, receiver/skywalking, pkg/winperfcounters, pkg/stanza, extension/bearertokenauth, extension/observer, internal/core, confmap/provider/s3provider, exporter/alertmanager, receiver/github

#35478 (otelarrowexporter) Adjust configuration based on experimental results
  .chloggen/otelarrow-defaults.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
Labels: exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#35616 [chore] [receiver/github] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/githubreceiver/internal/scraper/githubscraper/config_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
Labels: receiver/github

#35612 [chore] [receiver/cloudfoundry] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/cloudfoundryreceiver/config_test.go
  receiver/cloudfoundryreceiver/factory.go
Labels: receiver/cloudfoundry

#35613 [chore] [receiver/couchdb] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/couchdbreceiver/client_test.go
  receiver/couchdbreceiver/config_test.go
  receiver/couchdbreceiver/factory.go
  receiver/couchdbreceiver/scraper_test.go
Labels: receiver/couchdb

#35544 [extension/k8sobserver] Emit endpoint per Pod's container
  .chloggen/k8sobserver_endpoints.yaml
  extension/observer/endpoints.go
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/handler_test.go
  extension/observer/k8sobserver/k8s_fixtures_test.go
  extension/observer/k8sobserver/pod_endpoint.go
  extension/observer/k8sobserver/pod_endpoint_test.go
  receiver/receivercreator/README.md
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/rules.go
  receiver/receivercreator/testdata/config.yaml
Labels: extension/observer, receiver/receivercreator

#35547 [chore] [exporter/sumologic] Use NewDefaultClientConfig instead of manually creating struct
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory_test.go
Labels: exporter/sumologic

#35548 [exporter/elasticsearch] Add hint in error logs for TSDB version_conflict_engine_exception error
  .chloggen/elasticsearchexporter_index-error-hint.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
Labels: exporter/elasticsearch

#35300 [receiver/sapm] - follow receiver contract
  .chloggen/sapm-receiver-contract.yaml
  internal/coreinternal/errorutil/http.go
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/trace_receiver.go
  receiver/sapmreceiver/trace_receiver_test.go
Labels: ready to merge, receiver/sapm, internal/core

#35535 [receiver/prometheusremotewrite] Add HTTP server to handler PRW requests
  .chloggen/prwreceiver-httpserver.yaml
  receiver/prometheusremotewritereceiver/config.go
  receiver/prometheusremotewritereceiver/config_test.go
  receiver/prometheusremotewritereceiver/factory.go
  receiver/prometheusremotewritereceiver/factory_test.go
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/receiver.go
Labels: ready to merge, receiver/prometheusremotewrite

#35241 internal/ + pkg/ : migrate to latest semconv version
  internal/coreinternal/goldendataset/resource_generator.go
  internal/coreinternal/goldendataset/span_generator.go
  internal/coreinternal/parseutils/uri.go
  internal/coreinternal/parseutils/uri_test.go
  internal/exp/metrics/metrics_test.go
  internal/filter/filterlog/filterlog_test.go
  internal/filter/filtermatcher/filtermatcher_test.go
  internal/filter/filterspan/filterspan.go
  internal/filter/filterspan/filterspan_test.go
  internal/metadataproviders/internal/internal_test.go
  internal/metadataproviders/system/metadata.go
  internal/splunk/hostid.go
  internal/splunk/hostid_test.go
  pkg/translator/opencensus/oc_to_traces.go
  pkg/translator/opencensus/traces_to_oc.go
Labels: Skip Changelog, internal/metadataproviders, internal/splunk, internal/core, pkg/translator/opencensus, internal/filter, internal/exp/metrics

#35434 [sumconnector] Metrics to metrics and logs to metrics (tests / test data)
  connector/sumconnector/connector_test.go
  connector/sumconnector/testdata/logs/condition_and_attribute.yaml
  connector/sumconnector/testdata/logs/default_attribute_value.yaml
  connector/sumconnector/testdata/logs/input.yaml
  connector/sumconnector/testdata/logs/multiple_attributes.yaml
  connector/sumconnector/testdata/logs/multiple_conditions.yaml
  connector/sumconnector/testdata/logs/multiple_metrics.yaml
  connector/sumconnector/testdata/logs/one_attribute.yaml
  connector/sumconnector/testdata/logs/one_condition.yaml
  connector/sumconnector/testdata/metrics/condition_and_attribute.yaml
  connector/sumconnector/testdata/metrics/default_attribute_value.yaml
  connector/sumconnector/testdata/metrics/input.yaml
  connector/sumconnector/testdata/metrics/multiple_attributes.yaml
  connector/sumconnector/testdata/metrics/multiple_conditions.yaml
  connector/sumconnector/testdata/metrics/multiple_metrics.yaml
  connector/sumconnector/testdata/metrics/one_attribute.yaml
  connector/sumconnector/testdata/metrics/one_condition.yaml
Labels: ready to merge, Skip Changelog, connector/sum

#35366 Update GCP exporters to v0.48.2
  .chloggen/gcp-0482.yaml
  .chloggen/gmp-0482.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/factory.go
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: dependencies, exporter/datadog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/otelcontribcol, connector/datadog

#35174 [pkg/ottl] Add grammar utility to extract paths from statements
  pkg/ottl/grammar.go
  pkg/ottl/parser_test.go
  pkg/ottl/paths.go
  pkg/ottl/paths_test.go
Labels: Skip Changelog, pkg/ottl

#35552 [receiver/prometheusremotewrite] Add auto-generated tests and metadata
  receiver/prometheusremotewritereceiver/README.md
  receiver/prometheusremotewritereceiver/doc.go
  receiver/prometheusremotewritereceiver/generated_component_test.go
  receiver/prometheusremotewritereceiver/generated_package_test.go
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/internal/metadata/generated_status.go
Labels: Skip Changelog, receiver/prometheusremotewrite

#35560 simplify the signature of ProtoFromTraces as it never returns an error
  .chloggen/ProtoFromTracesError.yaml
  exporter/awskinesisexporter/internal/batch/encode_jaeger.go
  exporter/kafkaexporter/jaeger_marshaler.go
  exporter/kafkaexporter/jaeger_marshaler_test.go
  exporter/logzioexporter/exporter.go
  exporter/pulsarexporter/jaeger_marshaler.go
  exporter/pulsarexporter/jaeger_marshaler_test.go
  exporter/sapmexporter/exporter.go
  exporter/sapmexporter/exporter_test.go
  extension/encoding/jaegerencodingextension/jaeger_test.go
  pkg/translator/jaeger/traces_to_jaegerproto.go
  pkg/translator/jaeger/traces_to_jaegerproto_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/trace_receiver_test.go
  receiver/kafkareceiver/jaeger_unmarshaler_test.go
  receiver/pulsarreceiver/jaeger_unmarshaler_test.go
  testbed/datasenders/jaeger.go
Labels: exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/kafka, exporter/sapm, receiver/kafka, receiver/jaeger, receiver/pulsar, pkg/translator/jaeger, testbed, extension/encoding

#35443 [processor/logdedup] feat: add ottl condition to logdedup processor
  .chloggen/feat_add-condition-to-logdedup-processor.yaml
  pkg/pdatatest/plogtest/logs_test.go
  pkg/pdatatest/plogtest/options.go
  pkg/pdatatest/plogtest/testdata/ignore-log-record-attribute-value/actual.yaml
  pkg/pdatatest/plogtest/testdata/ignore-log-record-attribute-value/expected.yaml
  processor/logdedupprocessor/README.md
  processor/logdedupprocessor/config.go
  processor/logdedupprocessor/config_test.go
  processor/logdedupprocessor/factory.go
  processor/logdedupprocessor/factory_test.go
  processor/logdedupprocessor/generated_component_telemetry_test.go
  processor/logdedupprocessor/go.mod
  processor/logdedupprocessor/go.sum
  processor/logdedupprocessor/internal/metadata/generated_telemetry.go
  processor/logdedupprocessor/internal/metadata/generated_telemetry_test.go
  processor/logdedupprocessor/processor.go
  processor/logdedupprocessor/processor_test.go
  processor/logdedupprocessor/testdata/conditionConsumedLogs.yaml
  processor/logdedupprocessor/testdata/expected/basicLogs.yaml
  processor/logdedupprocessor/testdata/expected/conditionConsumedLogs.yaml
  processor/logdedupprocessor/testdata/expected/conditionDedupedLogs.yaml
  processor/logdedupprocessor/testdata/expected/multipleConditionsConsumedLogs.yaml
  processor/logdedupprocessor/testdata/expected/multipleConditionsDedupedLogs.yaml
  processor/logdedupprocessor/testdata/input/basicLogs.yaml
  processor/logdedupprocessor/testdata/input/conditionLogs.yaml
Labels: pkg/pdatatest, processor/logdedup

#35682 [chore][extension/observer/k8sobserver] Add ChrsMark to k8sobserver codeowners
  .github/CODEOWNERS
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/metadata.yaml
Labels: extension/observer

#35685 [processor/deltacumulative] fix meter panic
  .chloggen/deltatocumulative-bug-meter.yaml
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/processor_test.go
Labels: processor/deltatocumulative

#35693 [chore] bump go 1.22.8
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
Labels: dependencies, ci-cd

#35630 [chore] update sapm-proto to 0.16.0
  exporter/sapmexporter/generated_package_test.go
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/sapmexporter/metadata.yaml
  receiver/sapmreceiver/go.mod
  receiver/sapmreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/elasticsearch, exporter/sapm, receiver/sapm, testbed

#35707 [chore] fix make otelcontribcol, require genotelcontribcol
  Makefile
Labels: ci-cd

#35706 Suppress errors on EBADF when unlocking files
  .chloggen/filelog-receiver-fs-lock-handle-delete.yaml
  pkg/stanza/fileconsumer/internal/reader/reader_unix.go
Labels: pkg/stanza

#35615 [chore] [receiver/flinkmetrics] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/flinkmetricsreceiver/client_test.go
  receiver/flinkmetricsreceiver/config_test.go
  receiver/flinkmetricsreceiver/factory.go
  receiver/flinkmetricsreceiver/factory_test.go
  receiver/flinkmetricsreceiver/scraper_test.go
Labels: receiver/flinkmetrics

#35509 [chore] [receiver/elasticsearch] Use NewDefaultClientConfig instead of manual initialization
  receiver/elasticsearchreceiver/config_test.go
  receiver/elasticsearchreceiver/factory.go
Labels: receiver/elasticsearch

#35576 [chore] [receiver/apache] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/scraper_test.go
Labels: receiver/apache

#35614 [chore] [receiver/expvar] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/expvarreceiver/config_test.go
  receiver/expvarreceiver/factory.go
  receiver/expvarreceiver/factory_test.go
Labels: receiver/expvar

#35542 [chore] [exporter/prometheusremotewrite] Use NewDefaultClientConfig instead of manually creating struct
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/factory_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#35568 [chore] [googlecloud] add links to GCP observability overview in READMEs
  exporter/googlecloudexporter/README.md
  exporter/googlemanagedprometheusexporter/README.md
Labels: documentation, ready to merge, exporter/googlecloud, exporter/googlemanagedprometheus

#35610 goldendataset: fix histogram metric BucketCounts length
  internal/coreinternal/goldendataset/metrics_gen.go
  internal/coreinternal/goldendataset/metrics_gen_test.go
Labels: ready to merge, Skip Changelog, internal/core

#34635 fix(hostmetricsreceiver): do not duplicate mountpoint metrics
  .chloggen/hostmetrics-receiever-ignore-duplicate-filesystems.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
Labels: ready to merge, receiver/hostmetrics

#35639 [chore][exporter/elasticsearch] fix flaky assertion in TestExporterMetrics
  exporter/elasticsearchexporter/utils_test.go
Labels: ready to merge, Skip Changelog, exporter/elasticsearch

#35524 [chore] [exporter/logzio] Use NewDefaultClientConfig instead of manually creating struct
  exporter/logzioexporter/config_test.go
  exporter/logzioexporter/exporter_test.go
  exporter/logzioexporter/factory.go
  exporter/logzioexporter/factory_test.go
  exporter/logzioexporter/jsonlog_test.go
Labels: exporter/logzio

#35452 [receiver/nginx] Use NewDefaultClientConfig instead of manually creating struct
  receiver/nginxreceiver/factory.go
Labels: Skip Changelog, receiver/nginx

#35719 [chore] Fix: Fix flaky logdedupprocessor tests
  processor/logdedupprocessor/processor_test.go
Labels: Skip Changelog, processor/logdedup

#35441 [receiver/tlscheck] Inital Commit of TLS Check Receiver
  .chloggen/tlscheckreceiver-addition.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  receiver/tlscheckreceiver/Makefile
  receiver/tlscheckreceiver/README.md
  receiver/tlscheckreceiver/config.go
  receiver/tlscheckreceiver/config_test.go
  receiver/tlscheckreceiver/doc.go
  receiver/tlscheckreceiver/documentation.md
  receiver/tlscheckreceiver/factory.go
  receiver/tlscheckreceiver/factory_test.go
  receiver/tlscheckreceiver/generated_component_test.go
  receiver/tlscheckreceiver/generated_package_test.go
  receiver/tlscheckreceiver/go.mod
  receiver/tlscheckreceiver/go.sum
  receiver/tlscheckreceiver/internal/metadata/generated_config.go
  receiver/tlscheckreceiver/internal/metadata/generated_config_test.go
  receiver/tlscheckreceiver/internal/metadata/generated_metrics.go
  receiver/tlscheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/tlscheckreceiver/internal/metadata/generated_resource.go
  receiver/tlscheckreceiver/internal/metadata/generated_resource_test.go
  receiver/tlscheckreceiver/internal/metadata/generated_status.go
  receiver/tlscheckreceiver/internal/metadata/testdata/config.yaml
  receiver/tlscheckreceiver/metadata.yaml
  receiver/tlscheckreceiver/scraper.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: receiver/redis, receiver/jmx, receiver/aerospike, receiver/hostmetrics, receiver/dockerstats, receiver/awscontainerinsight, exporter/googlecloud, receiver/kubeletstats, exporter/googlemanagedprometheus, receiver/sqlquery, exporter/prometheusremotewrite, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/elasticsearch, exporter/kafka, exporter/sapm, exporter/zipkin, receiver/kafka, receiver/saphana, receiver/expvar, receiver/sqlserver, receiver/googlecloudspanner, receiver/jaeger, receiver/sapm, pkg/ottl, extension/sigv4auth, extension/observer, extension/jaegerremotesampling, receiver/pulsar, receiver/snmp, internal/aws, internal/core, pkg/translator/jaeger, pkg/translator/zipkin, cmd/oteltestbedcol, receiver/receivercreator, pkg/pdatatest, receiver/datadog, exporter/awss3, extension/encoding, reports/distributions/contrib.yaml, processor/deltatocumulative, internal/sqlquery, internal/exp/metrics, processor/geoip, processor/logdedup

#35282 [chore] Enable goleak oidcauthextension
  .chloggen/enable-goleak-oidcauthextension.yaml
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
  extension/oidcauthextension/generated_package_test.go
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/metadata.yaml
Labels: extension/oidcauth, pkg/kafka/topic

#35504 [receiver/hostmetrics] Make HOST_PROC_MOUNTINFO part of envMap
  .chloggen/use_HOST_PROC_MOUNTINFO.yaml
  receiver/hostmetricsreceiver/hostmetrics_linux.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
Labels: receiver/hostmetrics, cmd/otelcontribcol

#35718 [receiver/datadog] Fix service_check name conversion
  .chloggen/alexg_fix-service-check-metric-name.yaml
  receiver/datadogreceiver/internal/translator/service_check_translator.go
  receiver/datadogreceiver/internal/translator/service_check_translator_test.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#34982 [receiver:awsfirehosereceiver] added support for OTLP v1.0.0 format
  .chloggen/awsfirehosereceiver_otlp_support.yaml
  receiver/awsfirehosereceiver/README.md
  receiver/awsfirehosereceiver/generated_component_test.go
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler_test.go
Labels: receiver/awsfirehose

#35328 [pkg/ottl] Add ConvertAttributesToElementsXML Converter
  .chloggen/elementize-attributes-xml.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_convert_attributes_to_elements_xml.go
  pkg/ottl/ottlfuncs/func_convert_attributes_to_elements_xml_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, cmd/otelcontribcol, exporter/elasticsearch, pkg/ottl, processor/span, internal/filter, cmd/oteltestbedcol, testbed, connector/count, connector/routing, connector/datadog, exporter/honeycombmarker, connector/sum

#35364 [pkg/ottl] Add ConvertTextToElementsXML Converter
  .chloggen/wrap-hanging-values-xml.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_convert_text_to_elements_xml.go
  pkg/ottl/ottlfuncs/func_convert_text_to_elements_xml_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, cmd/otelcontribcol, exporter/elasticsearch, pkg/ottl, processor/span, internal/filter, cmd/oteltestbedcol, testbed, connector/count, connector/routing, connector/datadog, exporter/honeycombmarker, connector/sum

#35559 fix: update regex parsing for container logs to support windows file
  .chloggen/error-filelog-windows-operator.yaml
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza, Run Windows

#35074 [chore] Add documenation for severity parser's 'overwrite_with' setting
  pkg/stanza/docs/operators/severity_parser.md
  pkg/stanza/docs/types/severity.md
Labels: pkg/stanza

#35731 [connector/routing] Add support for OTTL conditions
  .chloggen/routing-connector-conditions.yaml
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
  connector/routingconnector/traces_test.go
Labels: connector/routing

#35597 [chore] add documentation for setting up RBAC for the k8sobserver extension
  extension/observer/k8sobserver/README.md
Labels: extension/observer

#35427 Add support for MongoDB direct connection
  .chloggen/main.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/config.go
Labels: receiver/mongodb

#35746 [chore] fix typos
  cmd/telemetrygen/internal/common/validate.go
  cmd/telemetrygen/internal/common/validate_test.go
Labels: cmd/telemetrygen

#35006 aggregateutil: allow filtering against empty attribute set
  .chloggen/aggregate_labels_empty.yaml
  internal/coreinternal/aggregateutil/aggregate.go
  internal/coreinternal/aggregateutil/aggregate_test.go
  processor/metricstransformprocessor/metrics_testcase_builder_test.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
Labels: processor/metricstransform, cmd/otelcontribcol, internal/core

#35745 [cmd/telemetrygen] ensure validate is called
  .chloggen/codeboten_validate-telemetrygen.yaml
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/logs/worker_test.go
  cmd/telemetrygen/internal/metrics/config.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/worker_test.go
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/traces.go
  cmd/telemetrygen/internal/traces/worker_test.go
Labels: cmd/telemetrygen

#35754 Fix codeowners
  cmd/githubgen/allowlist.txt
Labels: Skip Changelog, cmd/githubgen

#35735 telemetrygen: wire up InsecureSkipVerify
  .chloggen/telemetrygen-insecureskipverify.yaml
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/internal/common/tls_utils.go
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/metrics/exporter.go
  cmd/telemetrygen/internal/traces/exporter.go
  cmd/telemetrygen/internal/traces/exporter_test.go
Labels: cmd/telemetrygen

#35696 [stanza/input/windows]: fix remote session leak while resubscribing
  .chloggen/stanza-windows-remote-session-leak.yaml
  pkg/stanza/operator/input/windows/input.go
Labels: pkg/stanza

#35773 [chore] Remove unnecessary Host implementation funcs
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/marshaler_test.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/fileexporter/encoding_test.go
  exporter/fileexporter/go.mod
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/marshaler_test.go
  extension/awsproxy/factory_test.go
  extension/awsproxy/go.mod
  extension/observer/ecsobserver/extension_test.go
  extension/observer/ecsobserver/go.mod
  processor/k8sattributesprocessor/processor_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/receiver_test.go
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/receiver_test.go
  receiver/dockerstatsreceiver/integration_test.go
  receiver/receivercreator/observerhandler_test.go
  receiver/sapmreceiver/trace_receiver_test.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/receiver_test.go
Labels: processor/k8sattributes, receiver/dockerstats, receiver/carbon, exporter/file, exporter/elasticsearch, receiver/splunkhec, receiver/signalfx, receiver/sapm, extension/observer, extension/awsproxy, receiver/receivercreator, exporter/awss3, receiver/awss3, exporter/rabbitmq

#35581 Allow indexing string slice type
  .chloggen/lkwronski.issue-29441-slice.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
Labels: pkg/ottl

#35775 [chore] Replace usage of deprecated GetExportersWithSignal with GetExporters
  processor/routingprocessor/factory_test.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
  receiver/k8sclusterreceiver/factory_test.go
  receiver/k8sclusterreceiver/receiver.go
  receiver/k8sclusterreceiver/receiver_test.go
Labels: processor/routing, receiver/k8scluster

#35772 Move rmfitzpatrick to emeritus
  .github/CODEOWNERS
  extension/httpforwarderextension/README.md
  extension/httpforwarderextension/metadata.yaml
  extension/observer/ecsobserver/README.md
  extension/observer/ecsobserver/metadata.yaml
  extension/observer/ecstaskobserver/README.md
  extension/observer/ecstaskobserver/metadata.yaml
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/metadata.yaml
  extension/observer/metadata.yaml
  internal/docker/metadata.yaml
  pkg/experimentalmetricmetadata/metadata.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/metadata.yaml
  receiver/receivercreator/README.md
  receiver/receivercreator/metadata.yaml
Labels: processor/k8sattributes, Skip Changelog, receiver/jmx, receiver/dockerstats, pkg/experimentalmetricmetadata, extension/httpforwarder, extension/observer, internal/docker, receiver/receivercreator

#35744 [receiver/datadogreceiver] Fix 202 response for series endpoints to be on par with DD api spec
  .chloggen/wvanrij-dd-receiver-task_35743.yaml
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#35771 [exporter/elasticsearch] Set body.* for log body in OTel mode
  .chloggen/elasticsearchexporter_otel-mode-log-body.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch

#35740 [exporter/elasticsearch] Log and drop invalid metrics instead of returning error to avoid upstream retries
  .chloggen/elasticsearchexporter_log-metrics-validation-error.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
Labels: exporter/elasticsearch

#35494 [exporter/elasticsearch] Add sanitization utils for datastream fields
  .chloggen/elasticsearchexporter_sanitize-datastream-fields.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#35650 [chore] [receiver/riak] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/riakreceiver/client_test.go
  receiver/riakreceiver/config_test.go
  receiver/riakreceiver/factory.go
  receiver/riakreceiver/factory_test.go
  receiver/riakreceiver/scraper_test.go
Labels: receiver/riak

#35647 [chore] [receiver/rabbitmq] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/rabbitmqreceiver/client_test.go
  receiver/rabbitmqreceiver/config_test.go
  receiver/rabbitmqreceiver/factory.go
  receiver/rabbitmqreceiver/factory_test.go
  receiver/rabbitmqreceiver/scraper_test.go
Labels: receiver/rabbitmq

#35714 awss3receiver: Fix notifications test which fail when run on Windows
  receiver/awss3receiver/notifications_test.go
Labels: ready to merge, Skip Changelog, Run Windows, receiver/awss3

#34812 [chore] add unit tests for the opampsupervisor
  cmd/opampsupervisor/supervisor/server_test.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#35461 [receiver/windowseventlog] Propogate errors during parsing
  .chloggen/wel-error-cleanup.yaml
  pkg/stanza/operator/input/windows/input.go
Labels: ready to merge, pkg/stanza, Run Windows

#35421 [pkg/ottl] Add ParseSimplifiedXML Converter
  .chloggen/ottl-parse-simple-xml.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_simplified_xml.go
  pkg/ottl/ottlfuncs/func_parse_simplified_xml_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#35817 [chore] fix codeowners
  internal/docker/metadata.yaml
Labels: ready to merge, ci-cd, internal/docker

#35628 [processor/metricsgeneration] Implement attribute matching functionality
  .chloggen/metricsgeneration_match_attrs.yaml
  processor/metricsgenerationprocessor/README.md
  processor/metricsgenerationprocessor/go.mod
  processor/metricsgenerationprocessor/go.sum
  processor/metricsgenerationprocessor/processor.go
  processor/metricsgenerationprocessor/processor_test.go
  processor/metricsgenerationprocessor/testdata/input_metric_types/config.yaml
  processor/metricsgenerationprocessor/testdata/input_metric_types/sum_gauge_metric_match_attrs_expected.yaml
  processor/metricsgenerationprocessor/testdata/match_attributes/config.yaml
  processor/metricsgenerationprocessor/testdata/match_attributes/match_attributes_disabled_expected.yaml
  processor/metricsgenerationprocessor/testdata/match_attributes/match_attributes_enabled_expected.yaml
  processor/metricsgenerationprocessor/testdata/match_attributes/metrics_input.yaml
  processor/metricsgenerationprocessor/testdata/metric2_zero_value/config.yaml
  processor/metricsgenerationprocessor/utils.go
Labels: processor/metricsgeneration

#35819 [chore] update generated codeowners too
  .github/CODEOWNERS
Labels: ready to merge, ci-cd

#35818 [chore] Fix Supervisor tests on Windows
  cmd/opampsupervisor/.gitignore
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: ready to merge, Run Windows, cmd/opampsupervisor

#35354 [exporter/azuredataexplorerexporter]: Fixes ingestion issue due to compression prop missing
  .chloggen/bugfix_compressionTypeFix.yaml
  exporter/azuredataexplorerexporter/adx_exporter.go
Labels: exporter/azuredataexplorer

#35357 Update AzureEventsHubReceiver with new resource logs translator
  .chloggen/azure-events-receiver-translator.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/config_test.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/testdata/config.yaml
Labels: cmd/otelcontribcol, receiver/azureeventhub

#35763 chore: prom translation fix metric comparison func
  .chloggen/jm-prom-translation-fix-comparison-func.yaml
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_test.go
Labels: ready to merge, pkg/translator/prometheus

#35734 feat: added prometheus rw2 translation for gauges
  .chloggen/jm-prom-translation-rw2-gauges-support.yaml
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/metrics_to_prw_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2.go
  pkg/translator/prometheusremotewrite/number_data_points_v2_test.go
Labels: enhancement, ready to merge, pkg/translator/prometheus

#35642 [receiver/cloudflare]: follow receiver contract for cloudflare
  .chloggen/cloudflare-receiver-contract.yaml
  receiver/cloudflarereceiver/go.mod
  receiver/cloudflarereceiver/go.sum
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/logs_test.go
Labels: receiver/cloudflare

#35755 [chore] do not run macos 14 twice ; do not use actuated proxy
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-darwin.yaml
Labels: ready to merge, ci-cd, Run ARM, Run Darwin

#35836 [chore] make gotidy
  receiver/cloudflarereceiver/go.mod
  receiver/cloudflarereceiver/go.sum
Labels: ready to merge, ci-cd, Run Windows, receiver/cloudflare

#35508 [extension/opamp]: Support auth extensions
  .chloggen/feat_opampextension-support-auth.yaml
  extension/opampextension/README.md
  extension/opampextension/auth.go
  extension/opampextension/auth_test.go
  extension/opampextension/config.go
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/otelcontribcol, extension/opamp

#35822 [receiver/systemd] New receiver for systemd
  .chloggen/initial_systemdreceiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/githubgen/allowlist.txt
  receiver/systemdreceiver/Makefile
  receiver/systemdreceiver/README.md
  receiver/systemdreceiver/config.go
  receiver/systemdreceiver/doc.go
  receiver/systemdreceiver/factory.go
  receiver/systemdreceiver/generated_component_test.go
  receiver/systemdreceiver/generated_package_test.go
  receiver/systemdreceiver/go.mod
  receiver/systemdreceiver/go.sum
  receiver/systemdreceiver/internal/metadata/generated_status.go
  receiver/systemdreceiver/metadata.yaml
  receiver/systemdreceiver/receiver.go
  versions.yaml
Labels: cmd/githubgen

#35753 [receiver/ntp] Add a new NTP receiver
  .chloggen/ntp.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  receiver/ntpreceiver/Makefile
  receiver/ntpreceiver/README.md
  receiver/ntpreceiver/config.go
  receiver/ntpreceiver/doc.go
  receiver/ntpreceiver/documentation.md
  receiver/ntpreceiver/factory.go
  receiver/ntpreceiver/generated_component_test.go
  receiver/ntpreceiver/generated_package_test.go
  receiver/ntpreceiver/go.mod
  receiver/ntpreceiver/go.sum
  receiver/ntpreceiver/internal/metadata/generated_config.go
  receiver/ntpreceiver/internal/metadata/generated_config_test.go
  receiver/ntpreceiver/internal/metadata/generated_metrics.go
  receiver/ntpreceiver/internal/metadata/generated_metrics_test.go
  receiver/ntpreceiver/internal/metadata/generated_resource.go
  receiver/ntpreceiver/internal/metadata/generated_resource_test.go
  receiver/ntpreceiver/internal/metadata/generated_status.go
  receiver/ntpreceiver/internal/metadata/testdata/config.yaml
  receiver/ntpreceiver/metadata.yaml
  versions.yaml
Labels: Accepted Component, cmd/githubgen

#35637 [exporter/elasticsearch] Add mapping mode bodymap
  .chloggen/feature_elasticsearch_mapping_bodymap.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#35651 [exporter/elasticsearch] Preserve attribute names and metric names on prefix conflict in OTel mapping mode
  .chloggen/elasticsearchexporter_otel-mode-passthrough-field-prefix-conflict.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch

#35488 [extension/opamp] Implement ReportsHealth capability
  .chloggen/opamp-extension-reportshealth.yaml
  extension/opampextension/README.md
  extension/opampextension/config.go
  extension/opampextension/config_test.go
  extension/opampextension/factory.go
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: extension/opamp

#35776 Adds replication metrics to versions of MySQL older than 8.0.22
  .chloggen/mysqlreceiver_older_replica_metrics_support.yaml
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/go.mod
  receiver/mysqlreceiver/go.sum
  receiver/mysqlreceiver/scraper_test.go
Labels: receiver/mysql

#35571 [exporter/elasticsearch] Deprecate retry::max_requests in favor of retry::max_retries
  .chloggen/elasticsearchexporter_deprecate-retry-maxrequests.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/testdata/config.yaml
Labels: exporter/elasticsearch

#35854 [chore][docs][pkg/stanza] Fix typo in field.md link to entry.md
  pkg/stanza/docs/types/field.md
Labels: documentation, pkg/stanza

#35233 [exporter/opensearch] chore: remove redundant config Validate call
  exporter/opensearchexporter/config_test.go
  exporter/opensearchexporter/factory.go
  exporter/opensearchexporter/factory_test.go
  exporter/opensearchexporter/sso_log_exporter.go
  exporter/opensearchexporter/sso_trace_exporter.go
  exporter/opensearchexporter/testdata/config.yaml
Labels: Skip Changelog, exporter/opensearch

#35850 [receiver/ntp] add initial implementation
  receiver/ntpreceiver/config.go
  receiver/ntpreceiver/config_test.go
  receiver/ntpreceiver/documentation.md
  receiver/ntpreceiver/factory.go
  receiver/ntpreceiver/factory_test.go
  receiver/ntpreceiver/generated_component_test.go
  receiver/ntpreceiver/go.mod
  receiver/ntpreceiver/go.sum
  receiver/ntpreceiver/internal/metadata/generated_metrics.go
  receiver/ntpreceiver/internal/metadata/generated_metrics_test.go
  receiver/ntpreceiver/metadata.yaml
  receiver/ntpreceiver/receiver.go
Labels: Skip Changelog, receiver/ntp

#35839 [exporter/elasticsearch] Make OTel mapping mode send to data streams only
  .chloggen/elasticsearchexporter_otel-mode-require-data-stream.yaml
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
Labels: exporter/elasticsearch

#35327 [chore][receiver/loki] follow receiver contract
  internal/coreinternal/errorutil/grpc.go
  internal/coreinternal/go.mod
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/loki.go
  receiver/lokireceiver/loki_test.go
Labels: internal/core, receiver/loki

#35864 [chore][receiver/filelog] docs: fix docs on setting `header` to `false`
  receiver/filelogreceiver/README.md
Labels: receiver/filelog

#35562 processor/deltatocumulative: golden tests
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/go.sum
  processor/deltatocumulativeprocessor/internal/testar/decode.go
  processor/deltatocumulativeprocessor/internal/testar/read_test.go
  processor/deltatocumulativeprocessor/internal/testdata/random/random.go
  processor/deltatocumulativeprocessor/linear.go
  processor/deltatocumulativeprocessor/processor_test.go
  processor/deltatocumulativeprocessor/testdata/limit/1.test
  processor/deltatocumulativeprocessor/testdata/limit/2.test
  processor/deltatocumulativeprocessor/testdata/limit/config.yaml
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/1.test
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/in.yaml
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/out.yaml
  processor/deltatocumulativeprocessor/testdata/timestamps/1.test
  processor/deltatocumulativeprocessor/testdata/tracking/1.test
Labels: Skip Changelog, cmd/otelcontribcol, processor/deltatocumulative

#35875 [chore] update test to use Contains
  receiver/snmpreceiver/client_test.go
Labels: receiver/snmp

#35871 [chore] Fix typos in Azure Receiver readme
  receiver/azureeventhubreceiver/README.md
Labels: documentation, ready to merge, Skip Changelog, receiver/azureeventhub

#35847 [chore] fix update to golang-lru/v2
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
  connector/spanmetricsconnector/internal/cache/cache.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
Labels: dependencies, ready to merge, Skip Changelog, extension/observer, connector/spanmetrics

#35865 [exporter/elasticsearch] Enable gzip compression by default
  .chloggen/elasticsearchexporter_compression-gzip.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#35900 [chore] skip encoded-compare in testifylint
  .golangci.yml
  Makefile.Common
Labels: ci-cd

#34682 Allow specifying name on the connection to RabbitMQ
  .chloggen/rabbitmq-connection-name.yaml
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/config.go
  exporter/rabbitmqexporter/factory.go
  exporter/rabbitmqexporter/factory_test.go
Labels: exporter/rabbitmq

#35913 [receiver/chrony] Move chronyreceiver to beta
  .chloggen/move_chronyreceiver_to_beta.yaml
  receiver/chronyreceiver/README.md
  receiver/chronyreceiver/internal/metadata/generated_status.go
  receiver/chronyreceiver/metadata.yaml
Labels: receiver/chrony

#35767 [receiver/kafkareceiver] fix: Kafka receiver blocking shutdown
  .chloggen/fix-kafka-recv-blocking-shutdown.yaml
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: receiver/kafka

#35816 [extension/opamp] Add `os.description` as non-identifying agent attribute
  .chloggen/opampextension-add-os-desc-semconv.yaml
  cmd/opampsupervisor/e2e_test.go
  extension/opampextension/go.mod
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/opampsupervisor, extension/opamp

#35721 [pkg/ottl] Add OTTL context inferrer utility
  pkg/ottl/context_inferrer.go
  pkg/ottl/context_inferrer_test.go
Labels: Skip Changelog, pkg/ottl

#35728 [pkg/ottl] Refactor grammar validation to use the AST visitor and combining errors
  .chloggen/ottl-grammar-custom-errors-visitor.yaml
  pkg/ottl/functions.go
  pkg/ottl/grammar.go
  pkg/ottl/parser_test.go
Labels: ready to merge, pkg/ottl

#35893 [chore][processor/transform] add configuration example for copying attributes matching regex
  processor/transformprocessor/README.md
Labels: processor/transform

#35935 [receiver/sapm] Deprecate SAPM receiver
  .chloggen/deprecate_sapmreceiver.yaml
  receiver/sapmreceiver/README.md
  receiver/sapmreceiver/internal/metadata/generated_status.go
  receiver/sapmreceiver/metadata.yaml
Labels: receiver/sapm

#35940 [chore] fix codeowners
  cmd/githubgen/allowlist.txt
Labels: ci-cd, cmd/githubgen

#35943 [chore] update broken links
  CHANGELOG.md
  receiver/filelogreceiver/README.md
Labels: documentation, receiver/filelog

#35945 [chore] more fix on codeowners
  .github/CODEOWNERS
Labels: ci-cd

#35946 [chore] fix release branch
  .github/CODEOWNERS
  CHANGELOG.md
  cmd/githubgen/allowlist.txt
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, cmd/githubgen

#35575 [chore] [internal/aws/ecsutil] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  internal/aws/ecsutil/client_test.go
  internal/aws/ecsutil/metadata_provider.go
  internal/aws/ecsutil/rest_client_test.go
Labels: internal/aws

#35657 [receiver/splunkenterprise] 35445 add kvstore telemetry
  .chloggen/35445-add-kvstore-telemetry.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
Labels: ready to merge, receiver/splunkenterprise

#35845 Revert "[exporter/prometheusremotewriteexporter]chore: log warning about remote_write_queue.num_consumers being a no-op"
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/factory.go
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite

#35769 [pkg/stanza] Handle entry error of callback function in ProcessWithCallback
  .chloggen/stanza_handle_cb_errors.yaml
  pkg/stanza/operator/helper/parser.go
Labels: ready to merge, pkg/stanza

#35768 Fix precedence of processors in gmp exporter readme
  exporter/googlemanagedprometheusexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/googlemanagedprometheus

#35751 feat: prom translation rw2 add support for labels
  .chloggen/jm-prom-translation-rw2-add-support-for-labels.yaml
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2.go
  pkg/translator/prometheusremotewrite/number_data_points_v2_test.go
Labels: ready to merge, pkg/translator/prometheus

#35902 [processor/deltatocumulative] - Fix tests on windows
  processor/deltatocumulativeprocessor/internal/testar/crlf/crlf.go
  processor/deltatocumulativeprocessor/internal/testar/decode.go
  processor/deltatocumulativeprocessor/internal/testar/read_test.go
Labels: ready to merge, Skip Changelog, Run Windows, processor/deltatocumulative

#35957 [chore][connector/routing] Add internal package plogutil for splitting logs
  connector/routingconnector/go.mod
  connector/routingconnector/go.sum
  connector/routingconnector/internal/plogutil/logs.go
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/plogutil/testdata/record/move_all/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/to_modified.yaml
Labels: connector/routing
