Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-09, with the labels that each got.

#34961 [connector/count] fix typo in metric.datapoint.count
  connector/countconnector/README.md
Labels: Skip Changelog, connector/count

#34962 [chore] Upgrade arvo package
  exporter/kineticaexporter/go.mod
  exporter/kineticaexporter/go.sum
Labels: Skip Changelog, exporter/kinetica

#34918 [exporter/loki] Document the migration from the Loki Exporter to the Loki V3 OTLP endpoint
  exporter/lokiexporter/README.md
Labels: Skip Changelog, exporter/loki

#34485 [connector/spanmetrics] Improve consistency between metrics generated by spanmetricsconnector
  .chloggen/feat_33227.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
Labels: connector/spanmetrics

#34946 [vcenterreceiver] Updated units on several metrics
  .chloggen/vcenter-unit-update.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#34411 [receiver/mysql] client, convert NULL to int64
  .chloggen/mysqlreceiver-convert-null-to-int64.yaml
  receiver/mysqlreceiver/client.go
Labels: receiver/mysql

#34417 [testbed] - Add scenarios to handle large files
  .chloggen/add-large-file-tests.yaml
  testbed/testbed/validator.go
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: Skip Changelog, testbed

#34914 Avoid rendering the whole event to get only the provider name
  .chloggen/avoid_rendering_whole_event_to_obtain_provider_name_windowseventlogreceiver.yaml
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/input.go
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, pkg/stanza, Run Windows

#34963 [chore] add Tyler to CODEOWNERS for githubreceiver
  .github/CODEOWNERS
  receiver/githubreceiver/README.md
  receiver/githubreceiver/metadata.yaml
Labels: receiver/github

#34990 Update README.md
  processor/filterprocessor/README.md
Labels: documentation, ready to merge, processor/filter, Skip Changelog

#34811 [extension/opamp] Add support for polling interval in HTTP client
  .chloggen/opampextension_add_http_polling_interval.yaml
  extension/opampextension/README.md
  extension/opampextension/config.go
  extension/opampextension/config_test.go
  extension/opampextension/testdata/config_http.yaml
Labels: extension/opamp

#34992 [receiver/apache] Invalid endpoint should not cause panic
  .chloggen/apachereceiver_fix_panic_on_invalid_endpoint.yaml
  receiver/apachereceiver/factory.go
  receiver/apachereceiver/factory_test.go
Labels: receiver/apache

#34960 [receiver/githubreceiver] promote githubreceiver to alpha status
  .chloggen/githubreceiver-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  receiver/githubreceiver/README.md
  receiver/githubreceiver/internal/metadata/generated_status.go
  receiver/githubreceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, receiver/github

#34945 [connector/datadog] Improve performance in cases with many peer tags
  .chloggen/dd-conn-peer-tags.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/benchmark_test.go
  connector/datadogconnector/connector_native.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, cmd/otelcontribcol, testbed, receiver/datadog, connector/datadog

#34951 [chore] upgrading pulsar client v0.13.1
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/kineticaexporter/go.mod
  exporter/kineticaexporter/go.sum
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/pulsarexporter/pulsar_exporter_test.go
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/pulsarreceiver/pulsar_receiver.go
Labels: Skip Changelog, cmd/otelcontribcol, exporter/pulsar, receiver/pulsar, exporter/kinetica

#34926 [processor/interval] Update config structure for interval processor
  processor/intervalprocessor/README.md
  processor/intervalprocessor/config.go
  processor/intervalprocessor/factory.go
  processor/intervalprocessor/processor.go
  processor/intervalprocessor/processor_test.go
Labels: Skip Changelog, processor/interval

#33315 [extension/solarwindsapmsettingsextension] Added remaining implementation of solarwindsapmsettingsextension
  .chloggen/feature_solarwindsapmsettingsetension-impl-2.yaml
  extension/solarwindsapmsettingsextension/README.md
  extension/solarwindsapmsettingsextension/config.go
  extension/solarwindsapmsettingsextension/config_test.go
  extension/solarwindsapmsettingsextension/extension.go
  extension/solarwindsapmsettingsextension/extension_test.go
  extension/solarwindsapmsettingsextension/factory.go
  extension/solarwindsapmsettingsextension/factory_test.go
  extension/solarwindsapmsettingsextension/go.mod
  extension/solarwindsapmsettingsextension/go.sum
  extension/solarwindsapmsettingsextension/testdata/config.yaml
Labels: cmd/otelcontribcol, extension/solarwindsapmsettings

#34596 feat: Support Prometheus Created Timestamps
  .chloggen/prometheusexporter_createdtimestamp.yaml
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusexporter/go.mod
Labels: ready to merge, exporter/alibabacloudlogservice, exporter/datadog, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, exporter/carbon, exporter/loki, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/awskinesis, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/coralogix, exporter/googlecloudpubsub, exporter/prometheus, exporter/mezmo, exporter/opencensus, exporter/instana, examples/demo, exporter/azuredataexplorer, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, testbed, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, exporter/alertmanager, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/sum, connector/otlpjson

#34599 [receiver/sqlquery] support attributes for logs
  .chloggen/sqlqueryreceiver-logs-attrbutes.yaml
  internal/sqlquery/config.go
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config_test.go
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/logs_receiver_test.go
  receiver/sqlqueryreceiver/testdata/config-logs.yaml
  receiver/sqlqueryreceiver/testdata/integration/mysql/init.sql
  receiver/sqlqueryreceiver/testdata/integration/oracle/init.sql
  receiver/sqlqueryreceiver/testdata/integration/postgresql/init.sql
Labels: ready to merge, receiver/sqlquery, internal/sqlquery

#34431 [receiver/kafkareceiver]: allow tunable fetch sizes
  .chloggen/feat_kafkareceiver-fetch-configurable.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver.go
Labels: ready to merge, receiver/kafka

#34871 [exporter/splunkhec] drop empty log events
  .chloggen/drop_empty_events.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
Labels: exporter/splunkhec

#34984 [chore][receiver/filelog] Change plaintext name: filelog -> file log
  extension/storage/filestorage/README.md
  pkg/stanza/docs/types/timestamp.md
  receiver/filelogreceiver/README.md
Labels: documentation, receiver/filelog, pkg/stanza, extension/storage

#35002 [chore] Fix flaky test by ignoring metrics order
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: receiver/windowsperfcounters, Run Windows

#34784 fix: handle OTLPJSON unmarshal error
  .chloggen/handle_unmarshall_error.yaml
  connector/otlpjsonconnector/connector_test.go
  connector/otlpjsonconnector/factory_test.go
  connector/otlpjsonconnector/go.mod
  connector/otlpjsonconnector/go.sum
  connector/otlpjsonconnector/logs.go
  connector/otlpjsonconnector/metrics.go
  connector/otlpjsonconnector/testdata/logsToLogs/input-invalid-log.yaml
  connector/otlpjsonconnector/testdata/logsToLogs/input-log.yaml
  connector/otlpjsonconnector/testdata/logsToLogs/output-log.yaml
  connector/otlpjsonconnector/testdata/logsToMetrics/input-invalid-metric.yaml
  connector/otlpjsonconnector/testdata/logsToMetrics/input-metric.yaml
  connector/otlpjsonconnector/testdata/logsToMetrics/output-invalid-metric.yaml
  connector/otlpjsonconnector/testdata/logsToMetrics/output-metric.yaml
  connector/otlpjsonconnector/testdata/logsToTraces/input-invalid-trace.yaml
  connector/otlpjsonconnector/testdata/logsToTraces/input-trace.yaml
  connector/otlpjsonconnector/testdata/logsToTraces/output-trace.yaml
  connector/otlpjsonconnector/traces.go
Labels: connector/otlpjson

#34986 Clarify google managed prometheus troubleshooting guide
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/config_test.go
  exporter/googlemanagedprometheusexporter/testdata/config.yaml
Labels: documentation, Skip Changelog, exporter/googlemanagedprometheus

#35019 [chore] Upgrading msgpack v4 to v5
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
  testbed/go.sum
Labels: Skip Changelog, cmd/otelcontribcol, testbed, receiver/datadog

#34814 [exporter/elasticsearch] Fix dynamic mapping for double values storing integers
  .chloggen/elasticsearchexporter_encode-double-as-double.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/model_test.go
Labels: cmd/otelcontribcol, exporter/elasticsearch

#34818 [exporter/elasticsearch] Add exponential histogram support
  .chloggen/elasticsearchexporter_exponential-histogram.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/exphistogram/exphistogram.go
  exporter/elasticsearchexporter/internal/exphistogram/exphistogram_test.go
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch

#34979 [processor/deltatocumulative]: drop bad samples
  .chloggen/deltatocumulative-apitest.yaml
  processor/deltatocumulativeprocessor/internal/data/datatest/compare/compare.go
  processor/deltatocumulativeprocessor/internal/metrics/iter.go
  processor/deltatocumulativeprocessor/internal/metrics/metrics.go
  processor/deltatocumulativeprocessor/internal/metrics/util.go
  processor/deltatocumulativeprocessor/internal/putil/pslice/pslice.go
  processor/deltatocumulativeprocessor/internal/streams/data.go
  processor/deltatocumulativeprocessor/internal/streams/data_test.go
  processor/deltatocumulativeprocessor/internal/streams/errors.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/processor.go
  processor/deltatocumulativeprocessor/processor_test.go
Labels: processor/deltatocumulative

#35022 Update example in readme for convert_sum_to_gauge and convert_gauge_to_sum
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform

#34704 [opampsupervisor] Add HealthCheckPort configuration parameter
  .chloggen/supervisor-healthcheck-port-configurable.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_healthcheck_port.yaml
Labels: ready to merge, cmd/opampsupervisor

#34283 [pkg/ottl]: Add Sort converter
  .chloggen/ottl_sort_func.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_sort.go
  pkg/ottl/ottlfuncs/func_sort_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/stanza, pkg/ottl

#35016 [chore] update module github.com/google/go-github/v63 to v64
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: dependencies, cmd/otelcontribcol, receiver/github

#34995 [chore]: enable error-is-as rule from testifylint
  .golangci.yml
  Makefile.Common
  exporter/kafkaexporter/factory_test.go
  exporter/loadbalancingexporter/resolver_k8s_test.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/sumologicexporter/exporter_test.go
  extension/basicauthextension/extension_test.go
  extension/headerssetterextension/config_test.go
  extension/oauth2clientauthextension/extension_test.go
  extension/observer/ecsobserver/exporter_test.go
  extension/observer/ecsobserver/internal/ecsmock/service_test.go
  internal/sqlquery/db_client_test.go
  pkg/sampling/encoding_test.go
  pkg/sampling/oteltracestate_test.go
  pkg/sampling/w3ctracestate_test.go
  processor/groupbytraceprocessor/factory_test.go
  processor/groupbytraceprocessor/processor_test.go
  receiver/awsxrayreceiver/internal/tracesegment/util_test.go
  receiver/couchdbreceiver/scraper_test.go
  receiver/mysqlreceiver/scraper_test.go
Labels: ready to merge, exporter/loadbalancing, processor/groupbytrace, receiver/mysql, cmd/otelcontribcol, exporter/kafka, exporter/sumologic, receiver/awsxray, receiver/couchdb, extension/oauth2clientauth, extension/observer, extension/basicauth, extension/headerssetter, exporter/otelarrow, pkg/sampling, internal/sqlquery

#34913 [extension/healthcheckv2] Update readme to reflect current status
  extension/healthcheckv2extension/README.md
Labels: ready to merge, Skip Changelog, extension/healthcheckv2

#34511 [connector/servicegraph] Fix histogram metrics miss unit
  .chloggen/fix-hisgogram-metrics-miss-unit.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/testdata/extra-dimensions-queue-db-expected-metrics.yaml
  connector/servicegraphconnector/testdata/failed-label-not-work-expect-metrics.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-client-expected-metrics.yaml
  connector/servicegraphconnector/testdata/virtual-node-label-server-expected-metrics.yaml
Labels: ready to merge, connector/servicegraph

#34916 [receiver/skywalking] add receiver supports version
  receiver/skywalkingreceiver/README.md
Labels: documentation, enhancement, ready to merge, Skip Changelog, receiver/skywalking

#33942 [pkg/ottl] Add `Decode` function
  .chloggen/add-decode-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/go.mod
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_decode.go
  pkg/ottl/ottlfuncs/func_decode_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, processor/transform, receiver/hostmetrics, processor/cumulativetodelta, processor/routing, pkg/ottl, processor/span, internal/filter, connector/count, connector/routing, connector/datadog, exporter/honeycombmarker, connector/sum

#35029 [chore] Share encoding overrides
  internal/coreinternal/textutils/encoding.go
  pkg/ottl/ottlfuncs/func_decode.go
  pkg/stanza/decode/decode.go
Labels: pkg/stanza, pkg/ottl, internal/core

#35030 [chore] update logging to debug exporter
  receiver/splunkenterprisereceiver/README.md
Labels: documentation, receiver/splunkenterprise

#34677 [receiver/googlecloudmonitoringreceiver] Transform GCP Timeseries Data to OTel Metrics Conversion Pipeline
  .chloggen/googlecloudmonitoringreceiver-phase2.yaml
  receiver/googlecloudmonitoringreceiver/README.md
  receiver/googlecloudmonitoringreceiver/config.go
  receiver/googlecloudmonitoringreceiver/config_test.go
  receiver/googlecloudmonitoringreceiver/factory.go
  receiver/googlecloudmonitoringreceiver/generated_component_test.go
  receiver/googlecloudmonitoringreceiver/go.mod
  receiver/googlecloudmonitoringreceiver/go.sum
  receiver/googlecloudmonitoringreceiver/internal/metrics_conversion.go
  receiver/googlecloudmonitoringreceiver/metadata.yaml
  receiver/googlecloudmonitoringreceiver/receiver.go
  receiver/googlecloudmonitoringreceiver/testdata/config.yaml
Labels: enhancement, receiver/googlecloudmonitoring

#35038 [receiver/sqlserver] Emit correct database name resource attribute
  .chloggen/fix_sqlserver_resource_attrs.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
Labels: receiver/sqlserver, Run Windows

#35009 [exporter/elasticsearch] Workaround TSDB array dimension limitation for metrics OTel mode
  .chloggen/elasticsearchexporter_workaround-tsdb-array-dimension.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#34908 [connector/servicegraph] Extract the `getDimensionValue` function as a common function.
  .chloggen/refactoring_dimenssion_func_as_util_func.yaml
  connector/exceptionsconnector/connector.go
  connector/exceptionsconnector/connector_logs.go
  connector/exceptionsconnector/connector_metrics.go
  connector/exceptionsconnector/connector_metrics_test.go
  connector/exceptionsconnector/factory_test.go
  connector/exceptionsconnector/go.mod
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/util.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory_test.go
  connector/spanmetricsconnector/go.mod
  connector/sumconnector/go.mod
  exporter/elasticsearchexporter/integrationtest/go.mod
  internal/pdatautil/attributes.go
  internal/pdatautil/attributes_test.go
  testbed/go.mod
Labels: exporter/elasticsearch, testbed, pkg/pdatautil, connector/servicegraph, connector/spanmetrics, connector/exceptions, internal/pdatautil, connector/sum

#35010 Operators with silent errors will log errors as debug and won't return an error
  .chloggen/operator-silent-error.yaml
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
Labels: pkg/stanza

#34889 [internal/otelarrow] Fix test flake (for 34719)
  internal/otelarrow/test/e2e_test.go
Labels: ready to merge, Skip Changelog, cmd/otelcontribcol, Run Windows, exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#34875 [pkg/ottl] Change grammar to support expressing statements context via path names
  .chloggen/ottl_statements_context_change_grammar.yaml
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/expression.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#33423 [processor/transform] introduce aggregate_on_attribute_value function for metrics
  .chloggen/feat_16224_aggregate_label_value.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metrics/func_agregate_on_attribute_value_metrics.go
  processor/transformprocessor/internal/metrics/func_agregate_on_attribute_value_metrics_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: processor/transform, waiting-for-code-owners

#35059 [chore] go version 1.22.6 -> 1.22.7
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
  cmd/otelcontribcol/go.mod
  cmd/oteltestbedcol/go.mod
  exporter/dorisexporter/go.mod
  receiver/googlecloudmonitoringreceiver/go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol, receiver/googlecloudmonitoring, exporter/doris

#35057 Use OTel-Arrow v0.26.0
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
Labels: dependencies, ready to merge, Skip Changelog, cmd/otelcontribcol, exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#35031 Add admission_blocked span to otel-arrow admission controller
  internal/otelarrow/admission/boundedqueue.go
  internal/otelarrow/admission/boundedqueue_test.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/otelarrow.go
Labels: ready to merge, Skip Changelog, receiver/otelarrow, internal/otelarrow

#35062 [chore] Bump github.com/opencontainers/runc from 1.1.13 to 1.1.14 in /cmd/otelcontribcol
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
Labels: dependencies, receiver/awscontainerinsight, cmd/otelcontribcol

#33888 [receiver/kafkareceiver] Add encoding extensions support
  .chloggen/kafkareceiver-encoding-extensions.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/unmarshaler.go
Labels: receiver/kafka

#34474 [chore] [receiver/datadog] Add support for Service Checks
  receiver/datadogreceiver/internal/translator/service_check_translator.go
  receiver/datadogreceiver/internal/translator/service_check_translator_test.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#34662 [receiver/datadog] Add support for sketches
  .chloggen/datadogreceiver-sketches.yaml
  receiver/datadogreceiver/internal/translator/sketches.go
  receiver/datadogreceiver/internal/translator/sketches_test.go
  receiver/datadogreceiver/internal/translator/testutil.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#35052 Marking instanaexporter module as deprecated
  .chloggen/mark-instana-exporter-module-deprecated.yaml
  exporter/instanaexporter/factory.go
  exporter/instanaexporter/go.mod
Labels: exporter/instana

#35061 [chore] Fix flakiness of tests on Windows requiring ports in the dynamic range
  .github/workflows/build-and-test-windows.yml
  .github/workflows/scripts/win-required-ports.ps1
Labels: Run Windows

#35058 [exporter/datadog] Use correct hostname for logs in logs agent pipeline
  .chloggen/stanley.liu_fix-logs-hostname.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/logs_exporter_test.go
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#35051 [exporter/datadogexporter] Add support for custom log source
  .chloggen/mackjmr_custom-log-src-support.yaml
  exporter/datadogexporter/README.md
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#35071 [chore] Fixing Prom Compliance tests
  .github/workflows/prometheus-compliance-tests.yml
Labels: Skip Changelog

#35114 [filestorage] - Add directory validation for compaction on-rebound
  .chloggen/add-validation-for-rebound.yaml
  extension/storage/filestorage/config.go
  extension/storage/filestorage/config_test.go
Labels: extension/storage

#35045 [receiver/hostmetrics] respect env var use in filesystem scraper
  .chloggen/fix_envvar_filesystem.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
Labels: ready to merge, receiver/hostmetrics

#35122 Update module github.com/google/go-github/v63 to v64
  cmd/githubgen/codeowners.go
  cmd/githubgen/go.mod
  cmd/githubgen/go.sum
Labels: dependencies, Skip Changelog, cmd/githubgen

#35128 [chore][exporter/datadog] skip known data race
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog

#34897 [receiver/prometheus] include scrape configs provided via `scrape_config_files`
  .chloggen/prometheus-receiver-scrape-config.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/metrics_receiver_scrape_config_files_test.go
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/prometheusreceiver/testdata/config_scrape_config_files.yaml
  receiver/prometheusreceiver/testdata/scrape-config.yaml
Labels: ready to merge, receiver/prometheus

#34694 make update-otel
  Makefile
Labels: ready to merge, Skip Changelog

#34349 [cmd/opampsupervisor] Fix ServerToAgent message field handling
  .chloggen/fix-onmessage.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: ready to merge, cmd/opampsupervisor

#34802 [otelarrowexporter] Support the new experimental batcher
  .chloggen/otelarrow-batcher.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/testdata/config.yaml
Labels: ready to merge, exporter/otelarrow

#34925 [processor/remotetapprocessor] don't require Origin header
  .chloggen/remotetap-origin.yaml
  processor/remotetapprocessor/processor.go
Labels: ready to merge, processor/remotetap

#35082 [receiver/splunkenterprise] fixed flaky search for avg iops metrics
  .chloggen/35081-fix-iops-search.yaml
  receiver/splunkenterprisereceiver/search_result.go
Labels: ready to merge, receiver/splunkenterprise

#34399 fix: property endpoint is ignored when using instrumentation_key
  .chloggen/azuremonitorexporter-ignore-endpoint.yaml
  exporter/azuremonitorexporter/connection_string_parser.go
Labels: ready to merge, exporter/azuremonitor

#35121 [connector/datadog] Update README for accuracy
  connector/datadogconnector/README.md
Labels: documentation, Skip Changelog, connector/datadog

#35142 Skip known memory leak
  receiver/datadogreceiver/generated_package_test.go
  receiver/datadogreceiver/metadata.yaml
Labels: receiver/datadog

#35143 Fix generate
  receiver/datadogreceiver/generated_package_test.go
  receiver/datadogreceiver/metadata.yaml
Labels: receiver/datadog

#35144 tidy
  receiver/datadogreceiver/go.mod
Labels: receiver/datadog

#35085 [pkg/pmetrictest] option to ignore float precision discrepancies when using `CompareMetrics`
  pkg/pdatatest/pmetrictest/metrics_test.go
  pkg/pdatatest/pmetrictest/options.go
  pkg/pdatatest/pmetrictest/testdata/ignore-data-point-value-double-precision/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-data-point-value-double-precision/expected.yaml
Labels: Skip Changelog, pkg/pdatatest

#34980 [exporter/doris] Second PR of New component: Doris Exporter
  .chloggen/doris-traces.yaml
  exporter/dorisexporter/README.md
  exporter/dorisexporter/config.go
  exporter/dorisexporter/config_test.go
  exporter/dorisexporter/exporter_common.go
  exporter/dorisexporter/exporter_common_test.go
  exporter/dorisexporter/exporter_traces.go
  exporter/dorisexporter/exporter_traces_test.go
  exporter/dorisexporter/factory.go
  exporter/dorisexporter/go.mod
  exporter/dorisexporter/go.sum
  exporter/dorisexporter/sql/traces_ddl.sql
Labels: exporter/doris

#35145 [filestorage] - update man page for strings
  extension/storage/filestorage/README.md
Labels: documentation, Skip Changelog, extension/storage

#34985 [filestorage]: Provide an option to the user to create a directory
  .chloggen/filestorage-create-directort.yaml
  extension/storage/filestorage/README.md
  extension/storage/filestorage/config.go
  extension/storage/filestorage/config_test.go
  extension/storage/filestorage/extension.go
  extension/storage/filestorage/extension_test.go
  extension/storage/filestorage/factory.go
  extension/storage/filestorage/go.mod
Labels: extension/storage, Run Windows

#35123 [exporter/sapm] Add priority to pick token from context
  .chloggen/sapmexporter-prioritize-token-in-context.yaml
  exporter/sapmexporter/exporter.go
  exporter/sapmexporter/exporter_test.go
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
Labels: exporter/sapm

#34384 [exporter/kafkaexporter] Add encoding extensions support
  .chloggen/kafkaexporter-encoding-extensions.yaml
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
Labels: exporter/kafka

#35147 [exporter/datadog] Map deployment.environment.name to env
  .chloggen/dd-con-new-env-conv.yaml
  .chloggen/dd-exp-new-env-conv.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#35054 [testbed] increase timeout values in large file tests
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: Skip Changelog, testbed

#35067 Create pkg/datadog module
  .chloggen/dinesh.gurumurthy_datadog-config-pkg.yaml
  .chloggen/dinesh.gurumurthy_datadog_exporter_config_deprecation.yaml
  .github/CODEOWNERS
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  connector/datadogconnector/config.go
  connector/datadogconnector/config_test.go
  connector/datadogconnector/factory.go
  connector/datadogconnector/factory_test.go
  connector/datadogconnector/go.mod
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  pkg/datadog/Makefile
  pkg/datadog/config/config.go
  pkg/datadog/config/config_test.go
  pkg/datadog/config/config_warnings.go
  pkg/datadog/config/config_warnings_test.go
  pkg/datadog/config/host.go
  pkg/datadog/config/logs.go
  pkg/datadog/config/metrics.go
  pkg/datadog/config/testdata/config.yaml
  pkg/datadog/config/testdata/unmarshal.yaml
  pkg/datadog/config/traces.go
  pkg/datadog/doc.go
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  versions.yaml
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#35046 [chore]: enable negative-positive rule from testifylint
  .golangci.yml
  Makefile.Common
  connector/spanmetricsconnector/connector_test.go
  exporter/datadogexporter/internal/clientutil/retrier_test.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/mezmoexporter/exporter_test.go
  exporter/splunkhecexporter/heartbeat_test.go
  internal/aws/cwlogs/pusher_test.go
  internal/coreinternal/goldendataset/resource_generator_test.go
  internal/otelarrow/test/e2e_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/operator/input/file/input_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/tailsamplingprocessor/internal/sampling/time_provider_test.go
  receiver/couchdbreceiver/scraper_test.go
  receiver/fluentforwardreceiver/receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/influxdbreceiver/receiver_test.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
Labels: exporter/datadog, processor/k8sattributes, processor/tailsampling, exporter/loadbalancing, receiver/hostmetrics, receiver/prometheus, exporter/splunkhec, exporter/mezmo, receiver/couchdb, receiver/fluentforward, receiver/influxdb, pkg/stanza, internal/aws, internal/core, receiver/k8sobjects, connector/spanmetrics, internal/otelarrow

#35041 [chore]: enable suite-dont-use-pkg rule from testifylint
  .golangci.yml
  Makefile.Common
  receiver/jmxreceiver/integration_test.go
  receiver/jmxreceiver/internal/subprocess/integration_test.go
Labels: ready to merge, ci-cd, receiver/jmx

#35168 [chore] Failure on 1st test run should not cause 2nd run to fail
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, Run Windows

#35169 [pkg/stanza] Move filelog.container.removeOriginalTimeField feature gate to beta
  .chloggen/container_parser_featuregate_beta.yaml
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza

#35166 [chore] avoid unnecessary use of any in CumulativeToDeltaProcessor
  processor/cumulativetodeltaprocessor/processor.go
Labels: processor/cumulativetodelta

#35172 awsfirehosereceiver: migrate to latest semconv version
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder_test.go
Labels: Skip Changelog, receiver/awsfirehose

#35032 [chore] Force require.EventuallyWithT to fail properly
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, Run Windows

#35178 [chore] Parallel test make unrelated test show up as failure on CI
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog

#35182 [chore] Use assert/assert instead of require/assert
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, Run Windows

#34840 [receiver/kafkareceiver] Add otlp_json support in kafka receiver
  .chloggen/otlp_logs.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/unmarshaler.go
  receiver/kafkareceiver/unmarshaler_test.go
Labels: receiver/kafka

#35025 feat(datadogexporter): adds remap_metrics feature gate
  .chloggen/munir_add-option-to-avoid-remapping.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/metrics_exporter.go
Labels: exporter/datadog

#35202 [processor/resourcedetection] Move processor.resourcedetection.hostCPUSteppingAsString feature gate to stable
  .chloggen/cpu_stepping_fg_stable.yaml
  processor/resourcedetectionprocessor/internal/system/internal/metadata/resource_int_version.go
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: processor/resourcedetection

#35190 [chore]: enable go-require rule from testifylint
  .golangci.yml
  Makefile.Common
  cmd/telemetrygen/internal/e2etest/e2e_test.go
  connector/spanmetricsconnector/connector_test.go
  exporter/carbonexporter/exporter_test.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/honeycombmarkerexporter/logs_exporter_test.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/lokiexporter/exporter_test.go
  exporter/opensearchexporter/integration_test.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/prometheusexporter/end_to_end_test.go
  exporter/sapmexporter/exporter_test.go
  exporter/splunkhecexporter/client_test.go
  exporter/sumologicexporter/sender_test.go
  exporter/syslogexporter/exporter_test.go
  extension/jaegerremotesampling/extension_test.go
  extension/sumologicextension/extension_test.go
  internal/coreinternal/scraperinttest/scraperint.go
  internal/docker/docker_test.go
  internal/kubelet/client_test.go
  internal/otelarrow/test/e2e_test.go
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  pkg/stanza/operator/helper/emitter_test.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/udp/input_test.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/tailsamplingprocessor/processor_test.go
  receiver/apachereceiver/scraper_test.go
  receiver/apachesparkreceiver/client_test.go
  receiver/bigipreceiver/client_test.go
  receiver/bigipreceiver/integration_test.go
  receiver/couchdbreceiver/client_test.go
  receiver/elasticsearchreceiver/client_test.go
  receiver/expvarreceiver/scraper_test.go
  receiver/flinkmetricsreceiver/client_test.go
  receiver/fluentforwardreceiver/receiver_test.go
  receiver/haproxyreceiver/scraper_test.go
  receiver/httpcheckreceiver/scraper_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/nginxreceiver/scraper_test.go
  receiver/nsxtreceiver/client_test.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/otelarrow_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/rabbitmqreceiver/client_test.go
  receiver/riakreceiver/client_test.go
  receiver/sshcheckreceiver/scraper_test.go
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/zookeeperreceiver/scraper_test.go
Labels: exporter/datadog, processor/tailsampling, exporter/loadbalancing, processor/resourcedetection, cmd/telemetrygen, exporter/carbon, exporter/loki, receiver/vcenter, receiver/bigip, receiver/elasticsearch, receiver/nsxt, receiver/zookeeper, receiver/prometheus, exporter/splunkhec, exporter/sapm, exporter/prometheus, exporter/sumologic, receiver/kafka, receiver/rabbitmq, receiver/expvar, receiver/couchdb, receiver/fluentforward, receiver/nginx, receiver/jaeger, receiver/apache, receiver/flinkmetrics, receiver/riak, pkg/stanza, extension/jaegerremotesampling, receiver/httpcheck, internal/docker, internal/kubelet, internal/core, receiver/haproxy, receiver/sshcheck, connector/spanmetrics, exporter/syslog, receiver/apachespark, exporter/opensearch, exporter/honeycombmarker, exporter/otelarrow, extension/sumologic, receiver/otelarrow, internal/otelarrow

#35203 [processor/resourcedetection] Remove processor.resourcedetection.hostCPUModelAndFamilyAsString feature gate
  .chloggen/remove_host_cpu_model_family_fg.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: processor/resourcedetection

#35150 [exporter/doris] Second PR (with logs Implementation) of New component: Doris Exporter
  .chloggen/doris-logs.yaml
  exporter/dorisexporter/exporter_common_test.go
  exporter/dorisexporter/exporter_logs.go
  exporter/dorisexporter/exporter_logs_test.go
  exporter/dorisexporter/exporter_traces_test.go
  exporter/dorisexporter/factory.go
  exporter/dorisexporter/sql/logs_ddl.sql
Labels: ready to merge, exporter/doris

#35192 [chore] Fix "Device or resource busy" error on Windows CI
  .github/workflows/build-and-test-windows.yml
Labels: Run Windows

#35165 Remove unnecessary copies in deltatorateprocessor
  .chloggen/rm-copies-deltatorateprocessor.yaml
  processor/deltatorateprocessor/processor.go
Labels: processor/deltatorate

#35200 [chore] [exporter/coralogix] update domain docs
  exporter/coralogixexporter/README.md
Labels: documentation, ready to merge, exporter/coralogix

#35222 [chore] Fix main
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  exporter/dorisexporter/exporter_logs_test.go
  exporter/dorisexporter/exporter_traces_test.go
  exporter/dorisexporter/factory.go
  pkg/datadog/metadata.yaml
Labels: exporter/doris, pkg/datadog

#35199 chore: remove redundant config Validate call
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
Labels: Skip Changelog, exporter/elasticsearch

#35129 [pkg/ottl] Improve time performance
  pkg/ottl/ottlfuncs/func_time.go
  pkg/ottl/ottlfuncs/func_time_test.go
Labels: Skip Changelog, pkg/ottl

#35197 [exporter/file][chore][docs] Mention OTLP JSON File receiver in File exporter docs
  exporter/fileexporter/README.md
Labels: exporter/file

#34503 [kafka] Add option to supply destination topic through context
  .chloggen/kafka-topic-context.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  pkg/kafka/topic/Makefile
  pkg/kafka/topic/README.md
  pkg/kafka/topic/go.mod
  pkg/kafka/topic/kafka_ctx.go
  pkg/kafka/topic/metadata.yaml
  receiver/kafkareceiver/go.mod
  versions.yaml
Labels: cmd/otelcontribcol, exporter/kafka, receiver/kafka, cmd/oteltestbedcol

#35201 [chore] adapt message sent by the syslog data sender to fit rfc5424 format
  testbed/datasenders/syslog.go
Labels: testbed

#35221 [processor/groupbytrace] ensure metric has unit
  .chloggen/codeboten_add-unit.yaml
  processor/groupbytraceprocessor/documentation.md
  processor/groupbytraceprocessor/internal/metadata/generated_telemetry.go
  processor/groupbytraceprocessor/metadata.yaml
Labels: processor/groupbytrace

#34735 added link to issue request for Package management in supervisord
  cmd/opampsupervisor/README.md
Labels: documentation, Skip Changelog, cmd/opampsupervisor

#34764 [hostmetricsreceiver] Set receiver.hostmetrics.normalizeProcessCPUUtilization feature gate as stable
  .chloggen/set-receiver.hostmetrics.normalizeProcessCPUUtilization-to-alpha.yaml
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator_test.go
Labels: receiver/hostmetrics

#34455 Header Setter Extension: add default value to configuration
  .chloggen/headersetter_default_value.yaml
  extension/headerssetterextension/README.md
  extension/headerssetterextension/config.go
  extension/headerssetterextension/config_test.go
  extension/headerssetterextension/extension.go
  extension/headerssetterextension/extension_test.go
  extension/headerssetterextension/internal/source/context.go
  extension/headerssetterextension/testdata/config.yaml
Labels: cmd/otelcontribcol, extension/headerssetter, cmd/opampsupervisor, cmd/githubgen

#34730 [processor/tailsampling]: Enable inverse filtering for boolean attribute filter
  .chloggen/tail_sampling_processor_inverted_bool_sampling.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter_test.go
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#35253 docs(attributeprocessor): Note it does not handle resource attributes
  processor/attributesprocessor/README.md
Labels: processor/attributes, Skip Changelog

#35227 [pkg/stanza] Don't get formatted msg for events without an event provider
  .chloggen/do-not-get-formatted-msg-for-windows-events-without-an-event-provider.yaml
  pkg/stanza/operator/input/windows/publisher_test.go
  pkg/stanza/operator/input/windows/publishercache.go
  pkg/stanza/operator/input/windows/publishercache_test.go
Labels: pkg/stanza, Run Windows

#35187 [chore]: enable formatter rule from testifylint
  .golangci.yml
  Makefile.Common
  cmd/telemetrygen/internal/traces/worker_test.go
  exporter/azuredataexplorerexporter/metricsdata_to_adx_test.go
  exporter/kafkaexporter/marshaler_test.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/factory_test.go
  exporter/syslogexporter/rfc5424_formatter_test.go
  internal/aws/xray/tracesegment_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/trie/trie_test.go
  processor/k8sattributesprocessor/processor_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_test.go
  receiver/jmxreceiver/internal/subprocess/integration_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/sqlserverreceiver/recorders_test.go
Labels: processor/k8sattributes, receiver/jmx, cmd/telemetrygen, receiver/hostmetrics, receiver/prometheus, exporter/signalfx, exporter/kafka, receiver/sqlserver, receiver/splunkhec, receiver/signalfx, pkg/stanza, exporter/azuredataexplorer, internal/aws, exporter/syslog

#35219 [chore]: enable useless-assert rule from testifylint
  .golangci.yml
  Makefile.Common
  exporter/kineticaexporter/exporter_metric_test.go
  extension/storage/filestorage/client_test.go
  pkg/translator/opencensus/resource_to_oc_test.go
Labels: extension/storage, pkg/translator/opencensus, exporter/kinetica, exporter/doris

#34830 Add Azure Resource Logs translator
  .chloggen/azureeventhub_otelsc.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  pkg/translator/azurelogs/Makefile
  pkg/translator/azurelogs/complex_conversions.go
  pkg/translator/azurelogs/complex_conversions_test.go
  pkg/translator/azurelogs/go.mod
  pkg/translator/azurelogs/go.sum
  pkg/translator/azurelogs/metadata.yaml
  pkg/translator/azurelogs/normalize.go
  pkg/translator/azurelogs/package_test.go
  pkg/translator/azurelogs/property_names.go
  pkg/translator/azurelogs/resourcelogs_to_logs.go
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  pkg/translator/azurelogs/testdata/log-appserviceapplogs.json
  pkg/translator/azurelogs/testdata/log-appserviceauditlogs.json
  pkg/translator/azurelogs/testdata/log-appserviceconsolelogs.json
  pkg/translator/azurelogs/testdata/log-appservicehttplogs.json
  pkg/translator/azurelogs/testdata/log-appserviceipsecauditlogs.json
  pkg/translator/azurelogs/testdata/log-appserviceplatformlogs.json
  pkg/translator/azurelogs/testdata/log-azurecdnaccesslog.json
  pkg/translator/azurelogs/testdata/log-bad-level.json
  pkg/translator/azurelogs/testdata/log-bad-time.json
  pkg/translator/azurelogs/testdata/log-frontdooraccesslog.json
  pkg/translator/azurelogs/testdata/log-frontdoorhealthprobelog.json
  pkg/translator/azurelogs/testdata/log-frontdoorwaflog.json
  pkg/translator/azurelogs/testdata/log-maximum.json
  pkg/translator/azurelogs/testdata/log-minimum-2.json
  pkg/translator/azurelogs/testdata/log-minimum.json
  versions.yaml
Labels: cmd/otelcontribcol, cmd/oteltestbedcol, pkg/translator/azure

#35266 [chore] update module github.com/google/go-github/v64 to v65
  cmd/githubgen/codeowners.go
  cmd/githubgen/go.mod
  cmd/githubgen/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: dependencies, cmd/otelcontribcol, cmd/githubgen, dependency-major-update, receiver/github

#35087 [receiver/datadog][bug-fix] Add DD span `metrics` as attributes
  .chloggen/datadog-receiver-metrics-attributes-fix.yaml
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
Labels: receiver/datadog

#34827 (otelarrowexporter): Create exporter per unique value of configured metadataKeys
  .chloggen/arrow_exporter_by_metadata.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  exporter/otelarrowexporter/metadata.go
  exporter/otelarrowexporter/metadata_test.go
  exporter/otelarrowexporter/otelarrow.go
  exporter/otelarrowexporter/otelarrow_test.go
Labels: exporter/otelarrow

#35273 kubeletstatsreceiver: migrate to latest semconv version
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
Labels: Skip Changelog, receiver/kubeletstats

#35130 [chore][pkg/ottl] Use faster json parsing library
  .chloggen/ottl-faster-json.yaml
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  connector/routingconnector/go.mod
  connector/routingconnector/go.sum
  connector/sumconnector/go.mod
  connector/sumconnector/go.sum
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  internal/filter/go.mod
  internal/filter/go.sum
  pkg/ottl/expression.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/ottl/ottlfuncs/func_parse_json.go
  pkg/ottl/ottlfuncs/func_parse_json_test.go
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, pkg/ottl, processor/span, internal/filter, connector/count, connector/routing, exporter/honeycombmarker, connector/sum

#35302 [chore] Skip flaky test on Windows
  receiver/googlecloudspannerreceiver/internal/filter/itemcardinality_test.go
Labels: ready to merge, receiver/googlecloudspanner, Run Windows

#35311 receivercreator: migrate to latest semconv version
  receiver/receivercreator/receiver_test.go
Labels: Skip Changelog, receiver/receivercreator

#35309 prometheusreceiver: migrate to latest semconv version
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: Skip Changelog, receiver/prometheus

#35314 skywalkingreceiver: migrate to latest semconv version
  receiver/skywalkingreceiver/internal/metrics/skywalkingproto_to_metrics.go
Labels: Skip Changelog, receiver/skywalking

#35310 pulsarreceiver: migrate to latest semconv version
  receiver/pulsarreceiver/zipkin_unmarshaler_test.go
Labels: Skip Changelog, receiver/pulsar

#35312 sapmreceiver: migrate to latest semconv version
  receiver/sapmreceiver/trace_receiver_test.go
Labels: Skip Changelog, receiver/sapm

#35107 [ottl/pkg] Add support for locale in the Time converter
  .chloggen/ottl_time_func_locale_support.yaml
  internal/coreinternal/timeutils/parser.go
  internal/coreinternal/timeutils/parser_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_time.go
  pkg/ottl/ottlfuncs/func_time_test.go
Labels: pkg/ottl, internal/core

#35331 [processor/redaction] fix index-out-of-bounds panic when used in logs pipeline.
  .chloggen/redaction-fix-logs.yaml
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: release:blocker, processor/redaction

#35026 [chore] Consolidate event code in WEL receiver
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/raw.go
  pkg/stanza/operator/input/windows/raw_test.go
  pkg/stanza/operator/input/windows/xml.go
  pkg/stanza/operator/input/windows/xml_test.go
Labels: receiver/windowseventlog, pkg/stanza, Run Windows

#33824 [processor/transform] Add Conversion Function to OTTL for Exponential Histo --> Histogram
  .chloggen/cds-1320.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/go.mod
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
Labels: processor/transform

#35322 Replace @ycombinator with @lahsivjar as codeowner for elasticsearchexporter
  .github/CODEOWNERS
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/metadata.yaml
Labels: ready to merge, Skip Changelog, exporter/elasticsearch

#35298 [chore][exporter/elasticsearch] Refactor data point value handling
  exporter/elasticsearchexporter/data_stream_router_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: Skip Changelog, exporter/elasticsearch

#35359 [exporter/datadog] Upgrade logs to beta
  .chloggen/patch-2.yaml
  exporter/datadogexporter/README.md
  exporter/datadogexporter/internal/metadata/generated_status.go
  exporter/datadogexporter/metadata.yaml
Labels: exporter/datadog

#34742 OTel-Arrow receiver timeout propagation
  .chloggen/otelarrow-receiver-timeout.yaml
  internal/otelarrow/test/e2e_test.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
Labels: ready to merge, receiver/otelarrow, internal/otelarrow

#35371 pulsarexporter: migrate to latest semconv version
  exporter/pulsarexporter/marshaler_test.go
Labels: ready to merge, Skip Changelog, exporter/pulsar

#35370 mezmoexporter: migrate to latest semconv version
  exporter/mezmoexporter/exporter_test.go
Labels: ready to merge, Skip Changelog, exporter/mezmo

#35372 [processor/deltatocumulative]: do not drop Gauge, Summary
  .chloggen/deltatocumulative-fix-drops.yaml
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/processor.go
  processor/deltatocumulativeprocessor/processor_test.go
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/in.yaml
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/out.yaml
Labels: release:blocker, processor/deltatocumulative

#35374 [chore] Update datadog connector README.md
  connector/datadogconnector/README.md
Labels: documentation, ready to merge, Skip Changelog, connector/datadog

#35269 datadogconnector: migrate to latest semconv version
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
Labels: ready to merge, Skip Changelog, connector/datadog

#35315 splunkhecreceiver: migrate to latest semconv version
  receiver/splunkhecreceiver/factory.go
  receiver/splunkhecreceiver/splunk_to_logdata_test.go
Labels: Skip Changelog, receiver/splunkhec

#35272 spanmetricsconnector: migrate to latest semconv version
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
Labels: Skip Changelog, connector/spanmetrics

#35240 kafkareceiver: migrate to latest semconv version
  receiver/kafkareceiver/zipkin_unmarshaler_test.go
Labels: Skip Changelog, receiver/kafka

#35392 tencentcloudlogserviceexporter: migrate to newer semconv version
  exporter/tencentcloudlogserviceexporter/logs_exporter_test.go
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice.go
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice_test.go
Labels: Skip Changelog, exporter/tencentcloudlogservice

#35391 splunkhecexporter: migrate to newer semconv version
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/integration_test.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
Labels: Skip Changelog, exporter/splunkhec

#35335 [chore][receiver/apachespark] Wording and formatting changes in the README
  receiver/apachesparkreceiver/README.md
Labels: receiver/apachespark

#35175 [pkg/stanza] Windows input operator should resubscribe when remote host restarts
  .chloggen/stanza-windows-remote-resubscribe.yaml
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/subscription.go
Labels: pkg/stanza, Run Windows

#35211 [chore][Testbed] - Try flushing the data before exiting in load generator
  testbed/testbed/load_generator.go
Labels: testbed
