Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-07, with the labels that each got.

#33794 [exporter/elasticsearch] Data stream routing based on `data_stream.*` attributes
  .chloggen/elasticsearch-exporter-attribute-based-data-stream-routing.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#33812 [datasetexporter] Upgrade to dataset-go v0.20.0
  .chloggen/datasetexporter-update-to-0.20.0.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/datasetexporter/README.md
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/factory_test.go
  exporter/datasetexporter/go.mod
  exporter/datasetexporter/go.sum
  exporter/datasetexporter/logs_exporter_stress_test.go
  exporter/datasetexporter/logs_exporter_test.go
  exporter/datasetexporter/testdata/config.yaml
Labels: cmd/otelcontribcol, exporter/dataset

#33735 [receiver/vcenter] Fixes multiple datacenters issue
  .chloggen/vcenterreceiver_fix_multiple_datacenters.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/scraper.go
Labels: receiver/vcenter, cmd/otelcontribcol

#32851 [chore]: Document logs_index of OpensearchExporter
  exporter/opensearchexporter/README.md
Labels: documentation, ready to merge, exporter/opensearch

#33640 [otelarrowreceiver] Add a test for graceful shutdown
  receiver/otelarrowreceiver/otelarrow_test.go
Labels: ready to merge, Skip Changelog, receiver/otelarrow

#33331 Promote rabbitmqexporter to alpha
  .chloggen/rabbitmqexporter-alpha-promotion.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/internal/metadata/generated_status.go
  exporter/rabbitmqexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, reports/distributions/contrib.yaml, exporter/rabbitmq

#33608 [receiver/vcenter] Adds vCenter VM CPU readiness metric
  .chloggen/add_vcenter_vm_cpu_readiness_metric.yaml
  .chloggen/drop_support_for_vcenter_6.yaml
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter

#33685 [chore][receiver/kubeletstats] Introduce retry on test that rely on shared Informer sync
  receiver/kubeletstatsreceiver/scraper_test.go
Labels: ready to merge, receiver/kubeletstats

#33397 [chore] add section for components looking for new code owners
  .github/workflows/scripts/generate-weekly-report.js
Labels: ready to merge

#33646 [receiver/vcenter] Add vCenter Host metrics (dropped packet rate + capacity)
  .chloggen/vcenter_add_host_metrics.yaml
  go.mod
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/host-performance-counters.xml
  receiver/vcenterreceiver/internal/mockserver/responses/perf-manager.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter, cmd/otelcontribcol

#33614 [exporter/clickhouse] Default `async_insert` to true. Added related config option.
  .chloggen/clickhouse-default-async-insert.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/factory.go
Labels: exporter/clickhouse

#33830 Fix cross-compile pipeline job building for ARM 7
  .github/workflows/build-and-test.yml
Labels: ci-cd, Skip Changelog

#33837 Skip failing Windows tests
  connector/servicegraphconnector/connector_test.go
Labels: Skip Changelog, connector/servicegraph

#33835 [processor/geoipprocessor]Fix Windows test error
  processor/geoipprocessor/internal/provider/maxmindprovider/provider_test.go
Labels: Skip Changelog, Run Windows, processor/geoip

#33832 [chore][exporter/datadog] Move integration test configs to files
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_toplevel_config.yaml
Labels: exporter/datadog

#33864 [chore][pkg/stanza] Minor wording improvement
  pkg/stanza/docs/operators/recombine.md
Labels: pkg/stanza

#33860 [chore] Fix loadtest setup script
  .github/workflows/scripts/setup_e2e_tests.sh
Labels: Skip Changelog

#33669 [chore]: move aggregation logic to internal module
  internal/coreinternal/aggregateutil/aggregate.go
  internal/coreinternal/aggregateutil/aggregate_test.go
  internal/coreinternal/aggregateutil/type.go
  internal/coreinternal/aggregateutil/type_test.go
Labels: processor/metricstransform, processor/transform, internal/core

#33508 [processor/transform] Instrument the transform processor to emit traces
  .chloggen/ottl-emit-traces.yaml
  pkg/ottl/README.md
  pkg/ottl/go.mod
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#33829 Update Pulsar exporter README.md
  exporter/pulsarexporter/README.md
Labels: documentation, Skip Changelog, exporter/pulsar

#33443 [connector/spanmetrics] Fix flaky spanmetricsconnector test that relies on timing
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory.go
Labels: Skip Changelog, Run Windows, connector/spanmetrics

#32321 [receiver/windowsperfcounters] fix: include instance index for multiple matches.
  .chloggen/windowsperfcounters-instance-indexing.yaml
  pkg/winperfcounters/watcher.go
  pkg/winperfcounters/watcher_test.go
Labels: pkg/winperfcounters, Run Windows

#33872 [chore] Group all go.opentelemetry.io/otel packages in renovate
  renovate.json
Labels: ci-cd

#33759 32669 wireframe sum connector
  .chloggen/32669-wireframe-sum.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  connector/sumconnector/Makefile
  connector/sumconnector/README.md
  connector/sumconnector/config.go
  connector/sumconnector/connector.go
  connector/sumconnector/factory.go
  connector/sumconnector/generated_component_test.go
  connector/sumconnector/generated_package_test.go
  connector/sumconnector/go.mod
  connector/sumconnector/go.sum
  connector/sumconnector/internal/metadata/generated_status.go
  connector/sumconnector/metadata.yaml
  versions.yaml
Labels: ready to merge, reports/distributions/contrib.yaml

#33876 add JaredTan95 as `servicegraphconnector` code-owner
  .github/CODEOWNERS
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/metadata.yaml
Labels: Skip Changelog, processor/servicegraph, connector/servicegraph

#33450 [pkg/ottl] Add Hex() convertor
  .chloggen/add-hex-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_hex.go
  pkg/ottl/ottlfuncs/func_hex_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#33795 [exporter/awsxray] Allow multiple log group names/arns to be set in environmental variables
  .chloggen/log-integration.yaml
  exporter/awsxrayexporter/README.md
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
Labels: ready to merge, exporter/awsxray

#33615 [chore] [exporter/clickhouse] Upgrade Logs status to Beta + README
  .chloggen/clickhouse_logs_stability_beta.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/internal/metadata/generated_status.go
  exporter/clickhouseexporter/metadata.yaml
Labels: ready to merge, exporter/clickhouse

#33044 Add support for logs in cloudfoundryreceiver
  .chloggen/cloudfoundryreceiver_add_logs_support.yaml
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/config.go
  receiver/cloudfoundryreceiver/config_test.go
  receiver/cloudfoundryreceiver/converter.go
  receiver/cloudfoundryreceiver/converter_test.go
  receiver/cloudfoundryreceiver/doc.go
  receiver/cloudfoundryreceiver/factory.go
  receiver/cloudfoundryreceiver/factory_test.go
  receiver/cloudfoundryreceiver/generated_component_test.go
  receiver/cloudfoundryreceiver/internal/metadata/generated_status.go
  receiver/cloudfoundryreceiver/metadata.yaml
  receiver/cloudfoundryreceiver/receiver.go
  receiver/cloudfoundryreceiver/receiver_test.go
  receiver/cloudfoundryreceiver/stream.go
  receiver/cloudfoundryreceiver/stream_test.go
  receiver/cloudfoundryreceiver/testdata/config.yaml
Labels: ready to merge, receiver/cloudfoundry

#33631 [receiver/datadog] Add initial support for metrics
  .chloggen/datadogreceiver_metrics.yaml
  exporter/elasticsearchexporter/integrationtest/go.mod
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/factory.go
  receiver/datadogreceiver/factory_test.go
  receiver/datadogreceiver/generated_component_test.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/internal/metadata/generated_status.go
  receiver/datadogreceiver/metadata.yaml
  receiver/datadogreceiver/metrics_translator.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
  receiver/datadogreceiver/traces_translator.go
  receiver/datadogreceiver/traces_translator_test.go
  testbed/go.mod
Labels: exporter/elasticsearch, testbed, receiver/datadog

#33663 [chore] migrate sumo exporter to mdatagen metrics
  exporter/sumologicexporter/documentation.md
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/generated_component_telemetry_test.go
  exporter/sumologicexporter/generated_package_test.go
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/go.sum
  exporter/sumologicexporter/internal/metadata/generated_telemetry.go
  exporter/sumologicexporter/internal/metadata/generated_telemetry_test.go
  exporter/sumologicexporter/internal/observability/observability.go
  exporter/sumologicexporter/internal/observability/observability_test.go
  exporter/sumologicexporter/metadata.yaml
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
Labels: exporter/sumologic

#33894 [chore] no need to assign a variable
  processor/filterprocessor/telemetry.go
Labels: processor/filter

#33689 [receiver/azuremonitor] Upgrade stability to alpha
  .chloggen/upgrade_azmon_stability.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/internal/metadata/generated_status.go
  receiver/azuremonitorreceiver/metadata.yaml
Labels: receiver/azuremonitor, waiting-for-code-owners

#33903 [connector/count] update stability to alpha
  .chloggen/codeboten_alpha-countconnector.yaml
  connector/countconnector/README.md
  connector/countconnector/internal/metadata/generated_status.go
  connector/countconnector/metadata.yaml
Labels: connector/count

#33906 [receiver/apachespark] update stability to alpha
  .chloggen/codeboten_alpha-apachespark.yaml
  receiver/apachesparkreceiver/README.md
  receiver/apachesparkreceiver/internal/metadata/generated_status.go
  receiver/apachesparkreceiver/metadata.yaml
Labels: receiver/apachespark

#33898 [receiver/zookeeper] update stability to alpha
  .chloggen/codeboten_alpha-zookeeper.yaml
  receiver/zookeeperreceiver/README.md
  receiver/zookeeperreceiver/internal/metadata/generated_status.go
  receiver/zookeeperreceiver/metadata.yaml
Labels: receiver/zookeeper

#33902 [receiver/azureblob] update stability to alpha
  .chloggen/codeboten_alpha-azureblob.yaml
  receiver/azureblobreceiver/README.md
  receiver/azureblobreceiver/internal/metadata/generated_status.go
  receiver/azureblobreceiver/metadata.yaml
Labels: receiver/azureblob

#33900 [receiver/purefb] update stability to alpha
  .chloggen/codeboten_alpha-purefb.yaml
  receiver/purefbreceiver/README.md
  receiver/purefbreceiver/internal/metadata/generated_status.go
  receiver/purefbreceiver/metadata.yaml
Labels: receiver/purefb

#33874 [processor/probabilisticsampling] use mdatagen for metrics
  .chloggen/codeboten_mdatagen-probabilistic-processor.yaml
  processor/probabilisticsamplerprocessor/documentation.md
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/generated_component_telemetry_test.go
  processor/probabilisticsamplerprocessor/generated_package_test.go
  processor/probabilisticsamplerprocessor/go.mod
  processor/probabilisticsamplerprocessor/internal/metadata/generated_telemetry.go
  processor/probabilisticsamplerprocessor/internal/metadata/generated_telemetry_test.go
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/metadata.yaml
  processor/probabilisticsamplerprocessor/metrics.go
  processor/probabilisticsamplerprocessor/sampler_mode.go
  processor/probabilisticsamplerprocessor/tracesprocessor.go
Labels: processor/probabilisticsampler

#33770 Fix issue #33464 [processor/groupbytrace] migrate from opencensus library
  processor/groupbytraceprocessor/documentation.md
  processor/groupbytraceprocessor/event.go
  processor/groupbytraceprocessor/event_test.go
  processor/groupbytraceprocessor/factory.go
  processor/groupbytraceprocessor/factory_test.go
  processor/groupbytraceprocessor/generated_component_telemetry_test.go
  processor/groupbytraceprocessor/generated_package_test.go
  processor/groupbytraceprocessor/go.mod
  processor/groupbytraceprocessor/go.sum
  processor/groupbytraceprocessor/internal/metadata/generated_telemetry.go
  processor/groupbytraceprocessor/internal/metadata/generated_telemetry_test.go
  processor/groupbytraceprocessor/metadata.yaml
  processor/groupbytraceprocessor/metrics.go
  processor/groupbytraceprocessor/metrics_test.go
  processor/groupbytraceprocessor/processor.go
  processor/groupbytraceprocessor/processor_test.go
  processor/groupbytraceprocessor/storage_memory.go
  processor/groupbytraceprocessor/storage_memory_test.go
Labels: Skip Changelog, processor/groupbytrace

#33895 [receiver/otelarrow] use mdatagen for metrics
  receiver/otelarrowreceiver/internal/arrow/arrow.go
Labels: Skip Changelog, receiver/otelarrow

#33345 [chore][receiver/kafkametrics] Added supported versions section
  receiver/kafkametricsreceiver/README.md
Labels: documentation, Skip Changelog, receiver/kafkametrics

#33930 [chore] Add explicit endpoint on examples
  examples/demo/otel-collector-config.yaml
  examples/nomad/otel-collector.nomad
Labels: examples/demo

#33558 [awss3receiver] Add metrics and logs support
  .chloggen/awss3receiver_metrics_logs.yaml
  receiver/awss3receiver/README.md
  receiver/awss3receiver/factory.go
  receiver/awss3receiver/generated_component_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
  receiver/awss3receiver/internal/metadata/generated_status.go
  receiver/awss3receiver/metadata.yaml
  receiver/awss3receiver/receiver.go
  receiver/awss3receiver/receiver_test.go
Labels: receiver/awss3

#33907 [exporter/skywalking] remove unmaintained component
  .chloggen/codeboten_rm-skywalking-exporter.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/skywalkingexporter/Makefile
  exporter/skywalkingexporter/README.md
  exporter/skywalkingexporter/config.go
  exporter/skywalkingexporter/config_test.go
  exporter/skywalkingexporter/doc.go
  exporter/skywalkingexporter/factory.go
  exporter/skywalkingexporter/factory_test.go
  exporter/skywalkingexporter/generated_component_test.go
  exporter/skywalkingexporter/generated_package_test.go
  exporter/skywalkingexporter/go.mod
  exporter/skywalkingexporter/go.sum
  exporter/skywalkingexporter/internal/metadata/generated_status.go
  exporter/skywalkingexporter/internal/metadata/generated_telemetry.go
  exporter/skywalkingexporter/internal/metadata/generated_telemetry_test.go
  exporter/skywalkingexporter/logrecord_to_logdata.go
  exporter/skywalkingexporter/logrecord_to_logdata_test.go
  exporter/skywalkingexporter/metadata.yaml
  exporter/skywalkingexporter/metricrecord_to_metricdata.go
  exporter/skywalkingexporter/metricrecord_to_metricdata_test.go
  exporter/skywalkingexporter/skywalking.go
  exporter/skywalkingexporter/skywalking_benchmark_test.go
  exporter/skywalkingexporter/skywalking_test.go
  exporter/skywalkingexporter/testdata/config.yaml
  exporter/skywalkingexporter/testdata/test_cert.pem
  exporter/skywalkingexporter/testdata/test_key.pem
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/otelcontribcol, exporter/skywalking, reports/distributions/contrib.yaml

#33892 [chore] remove references to metric/noop
  processor/routingprocessor/factory_test.go
  receiver/oracledbreceiver/factory_test.go
Labels: processor/routing, receiver/oracledb

#33931 [chore] Remove swiatekm from Sumo component CODEOWNERS
  .github/CODEOWNERS
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/metadata.yaml
  extension/sumologicextension/README.md
  extension/sumologicextension/metadata.yaml
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/metadata.yaml
Labels: exporter/sumologic, processor/sumologic, extension/sumologic

#33268 [processor/geoip] Add GeoIP providers configuration and maxmind factory
  .chloggen/geoipprocessor_provider.yaml
  processor/geoipprocessor/README.md
  processor/geoipprocessor/config.go
  processor/geoipprocessor/config_test.go
  processor/geoipprocessor/factory.go
  processor/geoipprocessor/factory_test.go
  processor/geoipprocessor/geoip_processor.go
  processor/geoipprocessor/geoip_processor_test.go
  processor/geoipprocessor/go.mod
  processor/geoipprocessor/go.sum
  processor/geoipprocessor/integration_test.go
  processor/geoipprocessor/internal/provider/geoipprovider.go
  processor/geoipprocessor/internal/provider/maxmindprovider/factory.go
  processor/geoipprocessor/internal/provider/maxmindprovider/factory_test.go
  processor/geoipprocessor/internal/provider/maxmindprovider/provider_test.go
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/generate_db.go
  processor/geoipprocessor/testdata/config-invalidProviderKey.yaml
  processor/geoipprocessor/testdata/config-mockProvider.yaml
  processor/geoipprocessor/testdata/config.yaml
Labels: processor/geoip

#33777 [pkg/stanza] Option for setting max log size in syslog parser
  .chloggen/syslog_receiver_max_length.yaml
  pkg/stanza/operator/input/syslog/config.go
  pkg/stanza/operator/parser/syslog/config.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/parser/syslog/parser_test.go
  receiver/syslogreceiver/README.md
Labels: receiver/syslog, pkg/stanza

#33803 [chore] [exporter/elasticsearch] remove defunct config
  .chloggen/elasticsearch-rm-mapping-fields-file.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
Labels: exporter/elasticsearch

#33922 [chore]: datadog receiver: Tags translation
  receiver/datadogreceiver/tags.go
  receiver/datadogreceiver/tags_test.go
  receiver/datadogreceiver/traces_translator.go
Labels: receiver/datadog

#33929 [pkg/stanza] Switch to faster json parser lib for container operator
  .chloggen/switch_json_lib_of_container_parser.yaml
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
Labels: pkg/stanza

#33904 [processor/deltatorate] update stability to alpha
  .chloggen/codeboten_alpha-deltatorateprocessor.yaml
  processor/deltatorateprocessor/README.md
  processor/deltatorateprocessor/internal/metadata/generated_status.go
  processor/deltatorateprocessor/metadata.yaml
Labels: processor/deltatorate

#33913 [chore] add example for using recombine in container operator
  pkg/stanza/docs/operators/container.md
Labels: pkg/stanza

#33925 [chore] update retryhttp dep
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, receiver/prometheus, cmd/otelcontribcol, exporter/prometheus, receiver/simpleprometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, connector/datadog

#32019 [connector/servicegraph] Fix failed label does not work leads to servicegraph metrics error
  .chloggen/Fix-failed-label-does-not-work-leads-to-servicegraph-metrics-error.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/testdata/failed-label-not-work-expect-metrics.yaml
  connector/servicegraphconnector/testdata/failed-label-not-work-simple-trace.yaml
Labels: cmd/otelcontribcol, cmd/oteltestbedcol, connector/servicegraph

#33950 [chore] Use string for unit type
  connector/servicegraphconnector/metadata.yaml
  exporter/lokiexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/metadata.yaml
  processor/filterprocessor/metadata.yaml
  processor/groupbyattrsprocessor/metadata.yaml
  processor/groupbytraceprocessor/metadata.yaml
  receiver/bigipreceiver/metadata.yaml
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/expvarreceiver/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/httpcheckreceiver/metadata.yaml
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/otelarrowreceiver/metadata.yaml
  receiver/podmanreceiver/metadata.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/snmpreceiver/README.md
  receiver/snmpreceiver/testdata/config.yaml
  receiver/snowflakereceiver/metadata.yaml
  receiver/sshcheckreceiver/metadata.yaml
  receiver/zookeeperreceiver/metadata.yaml
  receiver/zookeeperreceiver/testdata/scraper/correctness-ruok.yaml
Labels: receiver/redis, processor/filter, receiver/mongodbatlas, processor/groupbytrace, receiver/hostmetrics, receiver/dockerstats, receiver/podman, receiver/mysql, exporter/loki, receiver/kubeletstats, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/zookeeper, exporter/prometheusremotewrite, processor/groupbyattrs, receiver/expvar, receiver/mongodb, receiver/postgresql, receiver/kafkametrics, receiver/snowflake, receiver/httpcheck, receiver/snmp, receiver/oracledb, receiver/sshcheck, connector/servicegraph, receiver/otelarrow

#33948 Bump stanza operator slice feature gates
  .chloggen/pkg-stanza-slice-ops.yaml
  pkg/stanza/operator/parser/jsonarray/config.go
  pkg/stanza/operator/transformer/assignkeys/config.go
Labels: pkg/stanza

#33936 [chore] make avrologencoding extension available in cmd/otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#33924 [chore] alternative for splunkhec to use otel
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
  exporter/splunkhecexporter/heartbeat.go
  exporter/splunkhecexporter/heartbeat_test.go
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/go.sum
Labels: exporter/splunkhec, receiver/splunkhec

#33944 [exporter/datadog] Fail when API validation key failed with a 403
  .chloggen/mx-psi_error-when-validation-failed.yaml
  exporter/datadogexporter/internal/clientutil/api.go
Labels: exporter/datadog

#33897 [receiver/httpcheck] update stability to alpha
  .chloggen/codeboten_alpha-httpcheck.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/internal/metadata/generated_status.go
  receiver/httpcheckreceiver/metadata.yaml
Labels: receiver/httpcheck

#33899 [receiver/podman] update stability to alpha
  .chloggen/codeboten_alpha-podman.yaml
  receiver/podmanreceiver/README.md
  receiver/podmanreceiver/internal/metadata/generated_status.go
  receiver/podmanreceiver/metadata.yaml
Labels: receiver/podman

#33905 [processor/metricsgeneration] update stability to alpha
  .chloggen/codeboten_alpha-metricsgeneration.yaml
  processor/metricsgenerationprocessor/README.md
  processor/metricsgenerationprocessor/internal/metadata/generated_status.go
  processor/metricsgenerationprocessor/metadata.yaml
Labels: processor/metricsgeneration

#33955 [chore] Upgrade datadog-agent/* versions and fix breaking changes
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/connector_native.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/traces_exporter.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, cmd/otelcontribcol, testbed, receiver/datadog, connector/datadog

#33975 [chore] Fix some of the load tests
  testbed/tests/scenarios.go
Labels: testbed

#33976 [chore] `headers` are strings
  exporter/alertmanagerexporter/testdata/config.yaml
  exporter/opencensusexporter/testdata/config.yaml
  exporter/otelarrowexporter/testdata/config.yaml
  exporter/prometheusremotewriteexporter/testdata/config.yaml
Labels: exporter/prometheusremotewrite, exporter/opencensus, exporter/alertmanager, exporter/otelarrow

#33847 [pkg/stanza] handle errors from Operator.Process
  .chloggen/handle-process-errors.yaml
  pkg/stanza/adapter/benchmark_test.go
  pkg/stanza/fileconsumer/internal/header/reader.go
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/writer.go
  pkg/stanza/operator/helper/writer_test.go
  pkg/stanza/operator/input/file/input.go
  pkg/stanza/operator/input/generate/input.go
  pkg/stanza/operator/input/journald/input.go
  pkg/stanza/operator/input/namedpipe/input.go
  pkg/stanza/operator/input/stdin/input.go
  pkg/stanza/operator/input/tcp/input.go
  pkg/stanza/operator/input/udp/input.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/transformer/filter/transformer.go
  pkg/stanza/operator/transformer/noop/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/router/transformer.go
  processor/logstransformprocessor/processor_test.go
Labels: processor/logstransform, pkg/stanza, receiver/otlpjsonfile, Run Windows

#33741 [receiver/vcenter] Adds additional resource pool metrics
  .chloggen/add-vcenter-resource-pool-metrics.yaml
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/go.mod
  receiver/vcenterreceiver/internal/metadata/custom.go
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#33986 [chore][exporter/datadog] Add link to configs in readme
  exporter/datadogexporter/README.md
Labels: documentation, exporter/datadog, Skip Changelog

#33953 Add lquerel as otel-arrow codeowner
  .github/CODEOWNERS
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/metadata.yaml
Labels: Skip Changelog, exporter/otelarrow

#33991 [chore] Update README.md
  extension/storage/filestorage/README.md
Labels: documentation, Skip Changelog, extension/storage

#33918 [exporter/loki] Deprecate component
  .chloggen/jpkroehling-33916-loki-deprecation.yaml
  exporter/lokiexporter/README.md
  exporter/lokiexporter/internal/metadata/generated_status.go
  exporter/lokiexporter/metadata.yaml
Labels: exporter/loki

#33591 [receiver/kubeletstats] Add `k8s.{container,pod}.memory.node.utilization` metrics
  .chloggen/add_utilization_k8s_node_metrics.yaml
  receiver/kubeletstatsreceiver/README.md
  receiver/kubeletstatsreceiver/config.go
  receiver/kubeletstatsreceiver/config_test.go
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/mem.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/metrics_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/mocked_objects_test.go
  receiver/kubeletstatsreceiver/scraper.go
  receiver/kubeletstatsreceiver/scraper_test.go
  receiver/kubeletstatsreceiver/testdata/config.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_memory_util_nodelimit_expected.yaml
Labels: receiver/kubeletstats

#33528 [extension/healthcheckv2] Add HTTP service
  .chloggen/healthcheckv2-http.yaml
  extension/healthcheckv2extension/factory_test.go
  extension/healthcheckv2extension/internal/http/handlers.go
  extension/healthcheckv2extension/internal/http/package_test.go
  extension/healthcheckv2extension/internal/http/responders.go
  extension/healthcheckv2extension/internal/http/responders_test.go
  extension/healthcheckv2extension/internal/http/serialization.go
  extension/healthcheckv2extension/internal/http/server.go
  extension/healthcheckv2extension/internal/http/server_test.go
  extension/healthcheckv2extension/internal/http/testdata/config.json
  extension/healthcheckv2extension/internal/http/testdata/config.yaml
Labels: extension/healthcheckv2

#34016 [chore][pkg/stanza] Fix example log message
  pkg/stanza/docs/operators/container.md
Labels: pkg/stanza

#33946 Add feature-gate to delete original time field from parsed container logs
  .chloggen/remove_time_from_container_attributes.yaml
  pkg/stanza/docs/operators/container.md
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza

#33992 [extension/observer, receiver/dockerstats] Correct examples with api_version
  extension/observer/dockerobserver/README.md
  extension/observer/dockerobserver/config_test.go
  extension/observer/dockerobserver/testdata/config.yaml
  receiver/dockerstatsreceiver/README.md
Labels: Skip Changelog, release:blocker, receiver/dockerstats, extension/observer

#33999 [chore][exporter/datadog] Set MaxSenderRetries to 4
  exporter/datadogexporter/traces_exporter.go
Labels: ready to merge, exporter/datadog

#33584 [receiver/azuremonitor] Add support for Managed Identity and DefaultAzureCredential authentication
  .chloggen/azuremonitor-additional-authentication.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
Labels: ready to merge, receiver/azuremonitor

#33933 [receiver/vcenter] Adds Datacenter metrics
  .chloggen/add_vcenter_datacenter_metrics.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/host-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-default-properties.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/processors.go
  receiver/vcenterreceiver/resources.go
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter, cmd/otelcontribcol

#33676 [exporter/loadbalancer] Refactor the metrics export benchmarks
  exporter/loadbalancingexporter/metrics_exporter_test.go
Labels: Skip Changelog, exporter/loadbalancing

#34028 [extension/healthcheckv2] Add partial gRPC service implementation
  .chloggen/healthcheckv2-grpc-check.yaml
  extension/healthcheckv2extension/go.mod
  extension/healthcheckv2extension/internal/grpc/grpc.go
  extension/healthcheckv2extension/internal/grpc/grpc_test.go
  extension/healthcheckv2extension/internal/grpc/package_test.go
  extension/healthcheckv2extension/internal/grpc/server.go
Labels: extension/healthcheckv2

#33555 [receiver/podman] remove config Validate call on start
  receiver/podmanreceiver/config_test.go
  receiver/podmanreceiver/receiver.go
  receiver/podmanreceiver/receiver_test.go
  receiver/podmanreceiver/testdata/config.yaml
Labels: ready to merge, Skip Changelog, receiver/podman

#34027 [chore] Update tests for confmap strict type change
  connector/failoverconnector/testdata/config.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_inf.yaml
  receiver/snmpreceiver/testdata/config.yaml
  receiver/sqlqueryreceiver/testdata/config-logs.yaml
Labels: exporter/datadog, receiver/sqlquery, processor/probabilisticsampler, receiver/snmp, connector/failover

#34017 [chore] more load test fixes
  testbed/testbed/load_generator.go
  testbed/tests/scenarios.go
Labels: Skip Changelog, testbed

#32380 [receiver/azuremonitor] Add parameter to overwrite azure's max record size
  .chloggen/azuremonitorreceiver-top.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/factory.go
  receiver/azuremonitorreceiver/factory_test.go
  receiver/azuremonitorreceiver/scraper.go
Labels: ready to merge, receiver/azuremonitor

#34011 Increase the performance of JSON marshaling
  .chloggen/hec_json.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/go.mod
  exporter/splunkhecexporter/go.sum
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/metricdata_to_splunk.go
  exporter/splunkhecexporter/metricdata_to_splunk_test.go
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/go.sum
Labels: exporter/splunkhec, receiver/splunkhec

#34022 Enable vSphere CPU and host metrics by default
  .chloggen/update_vcenter_host_vm_metrics_to_default.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/mockserver/responses/host-performance-counters.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#34044 promote @mwear to approver
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
Labels: Skip Changelog

#34030 [exporter/Datadogexporter] Use Agent modules for validating hostname
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/internal/hostmetadata/internal/system/host.go
  exporter/datadogexporter/internal/hostmetadata/internal/system/package_test.go
  exporter/datadogexporter/internal/hostmetadata/valid/package_test.go
  exporter/datadogexporter/internal/hostmetadata/valid/valid.go
  exporter/datadogexporter/internal/hostmetadata/valid/valid_test.go
Labels: ready to merge, exporter/datadog, Skip Changelog

#33729 [pkg/ottl]: add IsRootSpan converter
  .chloggen/add-isrootspan.yaml
  internal/filter/filterottl/functions.go
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_is_root_span.go
  pkg/ottl/ottlfuncs/func_is_root_span_test.go
  processor/transformprocessor/internal/traces/functions.go
  processor/transformprocessor/internal/traces/functions_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: processor/transform, pkg/ottl, internal/filter

#33674 [receiver/statsdreceiver] allow changing percentiles for summary types
  .chloggen/statsd-percentiles.yaml
  receiver/statsdreceiver/README.md
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/config_test.go
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
  receiver/statsdreceiver/testdata/config.yaml
Labels: receiver/statsd

#34061 [testbed]Fix incorrect sent item count in ProviderSender
  .chloggen/fix-testbed-loadgen-counters.yaml
  testbed/testbed/load_generator.go
Labels: testbed

#33336 [receiver/kafkametrics] Fix issue with incorrect consumer offset
  .chloggen/patch-1.yaml
  receiver/kafkametricsreceiver/consumer_scraper.go
Labels: receiver/kafkametrics

#33727 New component observer/cfgardenobserver
  .chloggen/add-cfgardenobserver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/githubgen/allowlist.txt
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  extension/observer/cfgardenobserver/Makefile
  extension/observer/cfgardenobserver/README.md
  extension/observer/cfgardenobserver/config.go
  extension/observer/cfgardenobserver/config_test.go
  extension/observer/cfgardenobserver/doc.go
  extension/observer/cfgardenobserver/extension.go
  extension/observer/cfgardenobserver/extension_test.go
  extension/observer/cfgardenobserver/factory.go
  extension/observer/cfgardenobserver/factory_test.go
  extension/observer/cfgardenobserver/generated_component_test.go
  extension/observer/cfgardenobserver/generated_package_test.go
  extension/observer/cfgardenobserver/go.mod
  extension/observer/cfgardenobserver/go.sum
  extension/observer/cfgardenobserver/internal/metadata/generated_status.go
  extension/observer/cfgardenobserver/metadata.yaml
  extension/observer/cfgardenobserver/testdata/config.yaml
  extension/observer/go.mod
  extension/observer/go.sum
  extension/observer/hostobserver/config.go
  versions.yaml
Labels: ready to merge, cmd/otelcontribcol, extension/observer, cmd/oteltestbedcol, cmd/githubgen

#34043 [extension/observer/docker, receiver/dockerstats] Add hint about api_version
  .chloggen/mx-psi_api-version-explicit-error-observer.yaml
  .chloggen/mx-psi_api-version-explicit-error.yaml
  extension/observer/dockerobserver/config.go
  extension/observer/dockerobserver/config_test.go
  extension/observer/dockerobserver/testdata/api_version_float.yaml
  extension/observer/dockerobserver/testdata/api_version_string.yaml
  receiver/dockerstatsreceiver/config.go
  receiver/dockerstatsreceiver/config_test.go
  receiver/dockerstatsreceiver/testdata/api_version_float.yaml
  receiver/dockerstatsreceiver/testdata/api_version_string.yaml
Labels: release:blocker, receiver/dockerstats, extension/observer

#34074 [chore] increase resource limits for some load tests
  testbed/tests/metric_test.go
  testbed/tests/trace_test.go
Labels: testbed

#33781 [procesor/groupbyattrsprocessor]: fix droping metadata when processing metrics
  .chloggen/fix-metrics-metadata.yaml
  processor/groupbyattrsprocessor/processor.go
  processor/groupbyattrsprocessor/processor_test.go
Labels: processor/groupbyattrs

#34079 [chore][CODEOWNERS] Fix order
  .github/CODEOWNERS
Labels: ready to merge

#34065 [receiver/sqlserver] Properly scrape DB when metrics are enabled
  .chloggen/sqlserver_default_metrics.yaml
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/scraper_test.go
Labels: receiver/sqlserver

#34068 [chore] relax checks on confmap validation
  exporter/datadogexporter/config_test.go
  exporter/datasetexporter/config_test.go
  exporter/logicmonitorexporter/config_test.go
  exporter/signalfxexporter/internal/translation/dpfilters/propertyfilter_test.go
  receiver/jaegerreceiver/config_test.go
  receiver/otelarrowreceiver/config_test.go
  receiver/receivercreator/observerhandler_test.go
Labels: exporter/datadog, exporter/signalfx, receiver/jaeger, exporter/logicmonitor, receiver/receivercreator, exporter/dataset, receiver/otelarrow

#32384 [receiver/windowsperfcounters] fix: Drop metrics with empty datapoints.
  .chloggen/windowsperfcounters-empty-datapoints.yaml
  receiver/windowsperfcountersreceiver/testdata/scraper/metric_not_scraped.yaml
  receiver/windowsperfcountersreceiver/testdata/scraper/no_metric_def.yaml
  receiver/windowsperfcountersreceiver/testdata/scraper/standard.yaml
  receiver/windowsperfcountersreceiver/testdata/scraper/sum_metric.yaml
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: ready to merge, receiver/windowsperfcounters, Run Windows

#33732 [exporter/clickhouse] Update README.md
  exporter/clickhouseexporter/README.md
Labels: Skip Changelog, exporter/clickhouse

#33984 [cmd/telemetrygen]: Allow float values for rate
  .chloggen/telemetrygen-float-rate.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/metrics/worker.go
  cmd/telemetrygen/internal/traces/worker.go
Labels: cmd/telemetrygen

#34086 [exporter/loadbalancer] Add a new routing key: `streamID`
  .chloggen/loadbalacingexporter-update-metric-routing-options.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/stream_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/single_endpoint/stream_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/stream_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/stream_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_stream_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/basic_stream_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_stream_id/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/split_metrics/duplicate_stream_id/output.yaml
Labels: exporter/loadbalancing

#34049 [extension/healthcheckv2] Add support for streaming Watch RPC to gRPC service
  .chloggen/healthcheckv2-grpc-watch.yaml
  extension/healthcheckv2extension/internal/grpc/grpc.go
  extension/healthcheckv2extension/internal/grpc/grpc_test.go
  extension/healthcheckv2extension/internal/status/aggregator.go
Labels: extension/healthcheckv2

#33776 [exporter/elasticsearch] remove dedup config
  .chloggen/elasticsearch-always-dedup.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: cmd/otelcontribcol, exporter/elasticsearch

#34076 [chore][pkg/pdataset/pmetrictest] introduce IgnoreDatapointAttributesOrder option to CompareMetricsOption
  connector/servicegraphconnector/connector_test.go
  pkg/pdatatest/pmetrictest/options.go
Labels: pkg/pdatatest, connector/servicegraph

#33576 [cmd/opampsupervisor] Forward custom messages to/from agent
  .chloggen/feat_supervisor-passthrough-custom-capabilities.yaml
  cmd/opampsupervisor/supervisor/server.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#34078 [extension/opamp] Rely on Collector APIs for config redaction
  .chloggen/unredact-effective-config.yaml
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
  extension/opampextension/testdata/effective-redacted.yaml
Labels: extension/opamp

#34048 [processor/resource][processor/attributes] Option to read client address
  .chloggen/attribute-from-client-address.yaml
  internal/coreinternal/attraction/attraction.go
  internal/coreinternal/attraction/attraction_test.go
  internal/coreinternal/clientutil/client.go
  internal/coreinternal/clientutil/client_test.go
  processor/attributesprocessor/README.md
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/pod_association.go
Labels: processor/attributes, processor/k8sattributes, internal/core

#34104 [telemetrygen] use log sdk instead of pdata
  .chloggen/codeboten_logsdk-telemetrygen.yaml
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/e2etest/go.mod
  cmd/telemetrygen/internal/e2etest/go.sum
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/logs/worker_test.go
Labels: cmd/telemetrygen

#34120 [chore] skip flaky test
  connector/servicegraphconnector/connector_test.go
Labels: connector/servicegraph

#34041 [receiver/statsdreceiver]: test histogram metric builder
  receiver/statsdreceiver/internal/protocol/metric_translator_test.go
Labels: receiver/statsd, Skip Changelog

#34083 [chore][extension/sumologic] Fix lint error
  extension/sumologicextension/extension.go
Labels: ready to merge, extension/sumologic

#34059 [chore][elasticsearch/exporter] Set log level based on debug mode flag
  exporter/elasticsearchexporter/integrationtest/collector.go
Labels: exporter/elasticsearch

#33958 [chore] Source Timeout for Providers
  exporter/datadogexporter/config.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/hostmetadata/host.go
  exporter/datadogexporter/internal/hostmetadata/host_test.go
  exporter/datadogexporter/internal/hostmetadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/internal/hostmetadata/provider/provider.go
  exporter/datadogexporter/internal/hostmetadata/provider/provider_test.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog, Skip Changelog

#34130 [chore] relax more assertions
  exporter/datadogexporter/config_warnings_test.go
Labels: ready to merge, exporter/datadog

#33957 [chore] [receiver/datadog] Add support for v1 series
  receiver/datadogreceiver/batcher.go
  receiver/datadogreceiver/batcher_test.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/metrics_translator.go
  receiver/datadogreceiver/metrics_translator_test.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
  receiver/datadogreceiver/testutil.go
  testbed/go.mod
  testbed/go.sum
Labels: testbed, receiver/datadog

#33579 Add internal/otelarrow package for shared code between otelarrow exporter, receiver
  .chloggen/otelarrow-internals.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/otelarrow/Makefile
  internal/otelarrow/admission/README.md
  internal/otelarrow/admission/boundedqueue.go
  internal/otelarrow/admission/boundedqueue_test.go
  internal/otelarrow/compression/README.md
  internal/otelarrow/compression/zstd/mru.go
  internal/otelarrow/compression/zstd/mru_test.go
  internal/otelarrow/compression/zstd/zstd.go
  internal/otelarrow/compression/zstd/zstd_test.go
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  internal/otelarrow/metadata.yaml
  internal/otelarrow/netstats/README.md
  internal/otelarrow/netstats/grpc.go
  internal/otelarrow/netstats/handler.go
  internal/otelarrow/netstats/netstats.go
  internal/otelarrow/netstats/netstats_test.go
  internal/otelarrow/test/e2e_test.go
  internal/otelarrow/testdata/common.go
  internal/otelarrow/testdata/log.go
  internal/otelarrow/testdata/metric.go
  internal/otelarrow/testdata/resource.go
  internal/otelarrow/testdata/trace.go
  internal/otelarrow/testutil/testutil.go
  internal/otelarrow/testutil/testutil_test.go
  versions.yaml
Labels: exporter/otelarrow, receiver/otelarrow

#34070 [connector/servicegraph] Coalesce different attr sets into single ScopeMetrics metric entry
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/testdata/failed-label-not-work-expect-metrics.yaml
Labels: Skip Changelog, connector/servicegraph

#33815 Improve handling of non existing counter instances
  .chloggen/improve-handling-of-non-existing-instances-for-win-perf-counters.yaml
  pkg/winperfcounters/watcher.go
  pkg/winperfcounters/watcher_test.go
  receiver/windowsperfcountersreceiver/testdata/scraper/no_matching_instance.yaml
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: ready to merge, receiver/windowsperfcounters, pkg/winperfcounters, Run Windows

#34137 Use internal/otelarrow in exporter/otelarrowexporter
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/otelarrowexporter/internal/arrow/common_test.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/otelarrowexporter/internal/arrow/stream.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/otelarrowexporter/internal/metadata/generated_telemetry_test.go
  exporter/otelarrowexporter/otelarrow.go
  exporter/otelarrowexporter/otelarrow_test.go
Labels: Skip Changelog, cmd/otelcontribcol, exporter/otelarrow

#34144 [extension/healthcheckv2] Manage extension and subcomponents
  .chloggen/healthcheck-v2-ext.yaml
  extension/healthcheckv2extension/extension.go
  extension/healthcheckv2extension/extension_test.go
  extension/healthcheckv2extension/go.mod
Labels: extension/healthcheckv2

#33831 [processor/deltatocumulativeprocessor]: fix incorrect bucket counts when downscaling exp histograms
  .chloggen/fix-deltatocumulative-nh-downscaling.yaml
  processor/deltatocumulativeprocessor/internal/data/expo/scale.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale_test.go
Labels: processor/deltatocumulative

#34152 [receiver/mysql] fix error message for scrapeStatementEventsStats
  receiver/mysqlreceiver/scraper.go
Labels: Skip Changelog, receiver/mysql

#34154 [chore] move github deps to v63
  cmd/githubgen/codeowners.go
  cmd/githubgen/go.mod
  cmd/githubgen/go.sum
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: cmd/githubgen, receiver/gitprovider

#33981 [processor/deltatocumulative]: mdatagen telemetry
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/documentation.md
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/generated_component_telemetry_test.go
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/go.sum
  processor/deltatocumulativeprocessor/internal/metadata/generated_telemetry.go
  processor/deltatocumulativeprocessor/internal/metadata/generated_telemetry_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/deltatocumulativeprocessor/processor.go
Labels: Skip Changelog, processor/deltatocumulative

#34128 [chore][pkg/stanza] Use mock timers for flaky windows flash tests
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.sum
  exporter/datadogexporter/go.sum
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/flush/flush.go
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/internal/now/now.go
  receiver/filelogreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.sum
Labels: exporter/datadog, receiver/filelog, cmd/otelcontribcol, pkg/stanza, receiver/otlpjsonfile, Run Windows, cmd/oteltestbedcol, connector/datadog

#34158 [chore][exporter/datadog] Replace internal testutil
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/internal/logs/package_test.go
  exporter/datadogexporter/internal/logs/sender_test.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/testutil/logs.go
  exporter/datadogexporter/internal/testutil/logs_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/internal/testutil/test_utils_test.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#34138 Use internal/otelarrow in receiver/otelarrowreceiver
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/otelarrowexporter/go.mod
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  receiver/otelarrowreceiver/config.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/factory_test.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/internal/logs/otlp_test.go
  receiver/otelarrowreceiver/internal/metrics/otlp_test.go
  receiver/otelarrowreceiver/internal/trace/otlp_test.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/otelarrowreceiver/otelarrow_test.go
Labels: Skip Changelog, cmd/otelcontribcol, exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#34093 [receiver/opencensus]: check for ErrListenerClosed when reporting multiplexer status
  .chloggen/correctness-traces.yaml
  receiver/opencensusreceiver/opencensus.go
  receiver/opencensusreceiver/opencensus_test.go
Labels: receiver/opencensus, testbed

#34160 [chore] [receiver/datadog] Refactor translation files into internal package
  receiver/datadogreceiver/internal/translator/batcher.go
  receiver/datadogreceiver/internal/translator/batcher_test.go
  receiver/datadogreceiver/internal/translator/metrics_translator.go
  receiver/datadogreceiver/internal/translator/series.go
  receiver/datadogreceiver/internal/translator/series_test.go
  receiver/datadogreceiver/internal/translator/tags.go
  receiver/datadogreceiver/internal/translator/tags_test.go
  receiver/datadogreceiver/internal/translator/testutil.go
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
  receiver/datadogreceiver/receiver.go
Labels: receiver/datadog

#34181 [chore] skip test to avoid conflict on read_timeout field
  receiver/webhookeventreceiver/config_test.go
Labels: receiver/webhookevent

#33928 [receiver/hostmetrics] add EntityState entity event as log record for host
  .chloggen/entity-event.yaml
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/config.go
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/factory_test.go
  receiver/hostmetricsreceiver/generated_component_test.go
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/internal/metadata/generated_status.go
  receiver/hostmetricsreceiver/internal/metadata/generated_telemetry.go
  receiver/hostmetricsreceiver/internal/metadata/generated_telemetry_test.go
  receiver/hostmetricsreceiver/metadata.yaml
  receiver/hostmetricsreceiver/receiver.go
  receiver/hostmetricsreceiver/receiver_test.go
Labels: exporter/datadog, receiver/hostmetrics, connector/datadog

#34175 [otelarrowreceiver] Avoid one unnecessary span error at stream EOF
  .chloggen/otelarrow-spanerrors.yaml
  internal/otelarrow/go.mod
  internal/otelarrow/test/e2e_test.go
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/otelarrow_test.go
Labels: ready to merge, receiver/otelarrow, internal/otelarrow

#32494 [receiver/hostmetrics] Add documentation for mute_*_error configuration fields
  receiver/hostmetricsreceiver/README.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/config.go
Labels: documentation, ready to merge, Skip Changelog, receiver/hostmetrics

#32336 [statsdreceiver] add test for empty statsd tags
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
Labels: ready to merge, receiver/statsd, Skip Changelog

#33224 [extension/storage/redis_storage] Add a new Redis extension to store data in transit
  .chloggen/redis-storage.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  extension/storage/redisstorageextension/Makefile
  extension/storage/redisstorageextension/README.md
  extension/storage/redisstorageextension/config.go
  extension/storage/redisstorageextension/config_test.go
  extension/storage/redisstorageextension/doc.go
  extension/storage/redisstorageextension/extension.go
  extension/storage/redisstorageextension/extension_test.go
  extension/storage/redisstorageextension/factory.go
  extension/storage/redisstorageextension/factory_test.go
  extension/storage/redisstorageextension/generated_component_test.go
  extension/storage/redisstorageextension/generated_package_test.go
  extension/storage/redisstorageextension/go.mod
  extension/storage/redisstorageextension/go.sum
  extension/storage/redisstorageextension/internal/metadata/generated_status.go
  extension/storage/redisstorageextension/metadata.yaml
  extension/storage/redisstorageextension/testdata/config.yaml
  versions.yaml
Labels: Accepted Component, extension/storage

#34140 [processor/resourcedetection] Add EKS cluster name subsection in README
  processor/resourcedetectionprocessor/README.md
Labels: documentation, ready to merge, Skip Changelog, processor/resourcedetection

#34127 [chore] [exporter/elasticsearch] refactor bulkindexer to prepare for batch sender
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/exporter.go
Labels: exporter/elasticsearch

#34198 [otelarrow/netstats] prefix metrics with otelcol_
  exporter/otelarrowexporter/README.md
  internal/otelarrow/netstats/netstats.go
  internal/otelarrow/netstats/netstats_test.go
  receiver/otelarrowreceiver/README.md
Labels: Skip Changelog, exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#33655 [processor/metricstransformprocessor]: Support median aggregation type
  .chloggen/aggregation-metricstransformprocessor.yaml
  processor/metricstransformprocessor/README.md
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/factory.go
  processor/metricstransformprocessor/factory_test.go
  processor/metricstransformprocessor/go.mod
  processor/metricstransformprocessor/metrics_transform_processor.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
  processor/metricstransformprocessor/operation_aggregate_label_values.go
  processor/metricstransformprocessor/operation_aggregate_labels.go
Labels: processor/metricstransform, internal/core

#34045 [exporter/elasticsearch] Add explicit bounds histogram support to metrics
  .chloggen/elasticsearchexporter_metrics-histogram-support.yaml
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#33082 [receiver/kafkareceiver] Add settings to Kafka Receiver for group management facilities
  .chloggen/kafkareceiversettings.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/testdata/config.yaml
Labels: receiver/kafka

#33941 [chore][exporter/elasticsearch] update README to use client_auth in basicauth
  exporter/elasticsearchexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/elasticsearch

#34201 [chore][receiver/vcenter] Reworked Integration test for vCenter
  receiver/vcenterreceiver/integration_test.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
Labels: receiver/vcenter

#33290 [exporter/elasticsearch] OTel mode serialization
  .chloggen/feature_elasticsearch_otel_model.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/data_stream_router_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#34228 [receiver/vcenter] Enabled vCenter Datacenter metrics by default
  .chloggen/enable-vcenter-datacenter-resource-pool-metrics.yaml
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter
