Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-08, with the labels that each got.

#34371 [pkg/translator/jaeger] adopt most recent semantic convention mapping
  .chloggen/fix_jaeger_mapping.yaml
  pkg/translator/jaeger/jaegerproto_to_traces.go
  pkg/translator/jaeger/jaegerproto_to_traces_test.go
  pkg/translator/jaeger/traces_to_jaegerproto.go
Labels: pkg/translator/jaeger

#34383 [chore] [processor/k8sattributes] Update a config doc comment
  processor/k8sattributesprocessor/config.go
Labels: processor/k8sattributes

#34382 [chore][CONTRIBUTING.md] Fix broken link
  CONTRIBUTING.md
Labels: documentation

#34369 [chore] initialize slice variables with an empty slice
  pkg/stanza/adapter/factory.go
Labels: pkg/stanza

#34159 [cmd/opampsupervisor]: Don't fail to start if the OpAMP server is unavailable
  .chloggen/fix_supervisor-dont-require-server-connection.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/nooppipeline.yaml
  cmd/opampsupervisor/testdata/collector/healthcheck_config.yaml
Labels: cmd/opampsupervisor

#34362 [chore] Skip TestMRUReset until #34252 is fixed
  internal/otelarrow/compression/zstd/mru_test.go
Labels: ready to merge, Run Windows, internal/otelarrow

#34260 [internal/otelarrow] [chore] fix TestMRUReset flakiness
  internal/otelarrow/compression/zstd/mru_test.go
Labels: internal/otelarrow

#33798 [exporter/awsemf] Update ApplicationSignals log group name and adjust AWS service name
  .chloggen/appsignals-and-awssdk-name-adjustments.yaml
  exporter/awsemfexporter/config_test.go
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  internal/aws/cwlogs/cwlog_client_test.go
Labels: exporter/awsemf, exporter/awsxray, internal/aws

#34388 [receiver/elasticsearch] Add active index merge count metric
  .chloggen/es_add_metric.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_config.go
  receiver/elasticsearchreceiver/internal/metadata/generated_config_test.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/internal/metadata/testdata/config.yaml
  receiver/elasticsearchreceiver/internal/model/nodestats.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_linux.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_other.yaml
Labels: receiver/elasticsearch

#33230 [exporter/kafka] Implement partitioning by resource attributes for logs
  .chloggen/kafka-partition-logs-by-resources.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  exporter/kafkaexporter/pdata_marshaler.go
  exporter/kafkaexporter/testdata/config.yaml
Labels: ready to merge, exporter/kafka

#34397 [receiver/elasticsearch] Enable more index metrics by default
  .chloggen/es_add_default_metrics.yaml
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/internal/metadata/generated_config.go
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics_test.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.yaml
  receiver/elasticsearchreceiver/testdata/integration/expected.7_16_3.yaml
  receiver/elasticsearchreceiver/testdata/integration/expected.7_9_3.yaml
Labels: receiver/elasticsearch

#34409 [receiver/vcenter] Enables the vSAN metrics by default
  .chloggen/vcenterreceiver-vsan-metrics-enabled.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#34389 [chore][receiver/elasticsearch] Properly capitalize Elasticsearch
  receiver/elasticsearchreceiver/README.md
Labels: receiver/elasticsearch

#34393 [exporter/syslog] Fix issue where exporter may hang indefinitely while dialing
  .chloggen/syslog-exporter-context.yaml
  exporter/syslogexporter/exporter.go
  exporter/syslogexporter/sender.go
Labels: exporter/syslog

#34386 [chore] Add OS labels to common labels
  .github/workflows/scripts/add-labels.sh
  CONTRIBUTING.md
Labels: ready to merge

#34203 [exporter/clickhouse] Update default logs table schema (2)
  .chloggen/clickhouseexporter_update_default_logs_table.yaml
  exporter/clickhouseexporter/example/default_ddl/logs.sql
  exporter/clickhouseexporter/exporter_logs.go
Labels: ready to merge, exporter/clickhouse

#33733 [receiver/webhookevent] Webhook event timestamp
  .chloggen/webhook-event-timestamp.yaml
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/req_to_log.go
Labels: ready to merge, receiver/webhookevent

#33688 [otelarrowreceiver, otelarrowexporter] Add internal/grpcutil package
  .chloggen/add-grpcutil.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  NOTICE
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/internal/metadata/generated_status.go
  exporter/otelarrowexporter/metadata.yaml
  internal/grpcutil/Makefile
  internal/grpcutil/go.mod
  internal/grpcutil/go.sum
  internal/grpcutil/metadata.yaml
  internal/grpcutil/timeout.go
  internal/grpcutil/timeout_test.go
  receiver/otelarrowreceiver/README.md
  receiver/otelarrowreceiver/internal/metadata/generated_status.go
  receiver/otelarrowreceiver/metadata.yaml
  versions.yaml
Labels: ready to merge, exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#34391 [chore][internal/otelarrow] Unskip test
  internal/otelarrow/compression/zstd/mru_test.go
Labels: ready to merge, Run Windows, internal/otelarrow

#34031 [processor/k8sattributes] Add `container.image.repo_digests`
  .chloggen/container-repo-digests.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/mixrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespacedrbac/collector/configmap.yaml
Labels: processor/k8sattributes, waiting-for-code-owners

#34428 [chore] removing unused configuration
  exporter/alertmanagerexporter/metadata.yaml
  exporter/alibabacloudlogserviceexporter/metadata.yaml
  exporter/awscloudwatchlogsexporter/metadata.yaml
  exporter/awsemfexporter/metadata.yaml
  exporter/awskinesisexporter/metadata.yaml
  exporter/awss3exporter/metadata.yaml
  exporter/awsxrayexporter/metadata.yaml
  exporter/azuredataexplorerexporter/metadata.yaml
  exporter/azuremonitorexporter/metadata.yaml
  exporter/carbonexporter/metadata.yaml
  exporter/cassandraexporter/metadata.yaml
  exporter/clickhouseexporter/metadata.yaml
  exporter/coralogixexporter/metadata.yaml
  exporter/datadogexporter/metadata.yaml
  exporter/datasetexporter/metadata.yaml
  exporter/elasticsearchexporter/metadata.yaml
  exporter/fileexporter/metadata.yaml
  exporter/googlecloudexporter/metadata.yaml
  exporter/googlecloudpubsubexporter/metadata.yaml
  exporter/googlemanagedprometheusexporter/metadata.yaml
  exporter/honeycombmarkerexporter/metadata.yaml
  exporter/influxdbexporter/metadata.yaml
  exporter/instanaexporter/metadata.yaml
  exporter/kafkaexporter/metadata.yaml
  exporter/kineticaexporter/metadata.yaml
  exporter/logicmonitorexporter/metadata.yaml
  exporter/logzioexporter/metadata.yaml
  exporter/mezmoexporter/metadata.yaml
  exporter/opencensusexporter/metadata.yaml
  exporter/opensearchexporter/metadata.yaml
  exporter/otelarrowexporter/metadata.yaml
  exporter/prometheusexporter/metadata.yaml
  exporter/pulsarexporter/metadata.yaml
  exporter/rabbitmqexporter/metadata.yaml
  exporter/sapmexporter/metadata.yaml
  exporter/sentryexporter/metadata.yaml
  exporter/signalfxexporter/metadata.yaml
  exporter/splunkhecexporter/metadata.yaml
  exporter/syslogexporter/metadata.yaml
  exporter/tencentcloudlogserviceexporter/metadata.yaml
  exporter/zipkinexporter/metadata.yaml
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/clickhouse, exporter/carbon, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/sapm, exporter/coralogix, exporter/sentry, exporter/googlecloudpubsub, exporter/prometheus, exporter/zipkin, exporter/tencentcloudlogservice, exporter/mezmo, exporter/opencensus, exporter/instana, exporter/azuredataexplorer, exporter/logicmonitor, exporter/awss3, exporter/cassandra, exporter/syslog, exporter/dataset, exporter/opensearch, exporter/kinetica, exporter/honeycombmarker, exporter/alertmanager, exporter/otelarrow, exporter/rabbitmq

#34348 [cmd/opampsupervisor]: Write agent config and logs to storage directory
  .chloggen/fix_supervisor-write-files-to-storage.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#34429 [exporter/loadbalancing] update scope name for consistency
  .chloggen/codeboten_update-scope-2.yaml
  exporter/loadbalancingexporter/internal/metadata/generated_telemetry.go
  exporter/loadbalancingexporter/internal/metadata/generated_telemetry_test.go
  exporter/loadbalancingexporter/metadata.yaml
Labels: exporter/loadbalancing

#34338 [chore][processor/transform]: use pmetrictest library for comparing metrics in unit tests
  pkg/pdatatest/pmetrictest/options.go
  processor/transformprocessor/internal/metrics/func_aggregate_on_attributes_metrics_test.go
Labels: exporter/datadog, processor/attributes, processor/metricstransform, receiver/memcached, exporter/loadbalancing, receiver/jmx, processor/transform, receiver/aerospike, receiver/hostmetrics, receiver/dockerstats, receiver/mysql, receiver/kubeletstats, receiver/activedirectoryds, receiver/bigip, receiver/elasticsearch, receiver/iis, receiver/nsxt, processor/resource, exporter/signalfx, exporter/elasticsearch, exporter/opencensus, receiver/rabbitmq, receiver/expvar, receiver/couchdb, receiver/mongodb, receiver/nginx, receiver/postgresql, receiver/opencensus, receiver/collectd, receiver/apache, receiver/flinkmetrics, receiver/k8scluster, receiver/httpcheck, internal/core, pkg/translator/opencensus, pkg/translator/signalfx, cmd/oteltestbedcol, receiver/haproxy, pkg/pdatatest, connector/count, connector/servicegraph, receiver/filestats, receiver/azuremonitor, receiver/apachespark, receiver/gitprovider, connector/datadog, processor/interval, processor/deltatocumulative, internal/exp/metrics, processor/geoip

#34440 [exporter/prometheusremotewrite] update scope name for consistency
  .chloggen/codeboten_update-scope-5.yaml
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
Labels: exporter/prometheusremotewrite

#34441 [chore] removing unused configuration
  extension/ackextension/metadata.yaml
  extension/asapauthextension/metadata.yaml
  extension/awsproxy/metadata.yaml
  extension/basicauthextension/metadata.yaml
  extension/bearertokenauthextension/metadata.yaml
  extension/encoding/avrologencodingextension/metadata.yaml
  extension/encoding/jaegerencodingextension/metadata.yaml
  extension/encoding/jsonlogencodingextension/metadata.yaml
  extension/encoding/otlpencodingextension/metadata.yaml
  extension/encoding/textencodingextension/metadata.yaml
  extension/encoding/zipkinencodingextension/metadata.yaml
  extension/headerssetterextension/metadata.yaml
  extension/healthcheckextension/metadata.yaml
  extension/httpforwarderextension/metadata.yaml
  extension/jaegerremotesampling/metadata.yaml
  extension/oauth2clientauthextension/metadata.yaml
  extension/observer/cfgardenobserver/metadata.yaml
  extension/observer/dockerobserver/metadata.yaml
  extension/observer/ecsobserver/metadata.yaml
  extension/observer/ecstaskobserver/metadata.yaml
  extension/observer/hostobserver/metadata.yaml
  extension/observer/k8sobserver/metadata.yaml
  extension/oidcauthextension/metadata.yaml
  extension/opampextension/metadata.yaml
  extension/pprofextension/metadata.yaml
  extension/remotetapextension/metadata.yaml
  extension/sigv4authextension/metadata.yaml
  extension/solarwindsapmsettingsextension/metadata.yaml
  extension/storage/dbstorage/metadata.yaml
  extension/storage/filestorage/metadata.yaml
  extension/sumologicextension/metadata.yaml
Labels: extension/healthcheck, extension/sigv4auth, extension/oidcauth, extension/asapauth, extension/bearertokenauth, extension/oauth2clientauth, extension/httpforwarder, extension/pprof, extension/observer, extension/awsproxy, extension/basicauth, extension/jaegerremotesampling, extension/storage, extension/headerssetter, extension/encoding, extension/opamp, extension/remotetap, extension/solarwindsapmsettings, extension/sumologic, extension/ack

#34445 [chore] remove unused configuration
  receiver/awscloudwatchmetricsreceiver/metadata.yaml
  receiver/awscloudwatchreceiver/metadata.yaml
  receiver/awscontainerinsightreceiver/metadata.yaml
  receiver/awsecscontainermetricsreceiver/metadata.yaml
  receiver/awsfirehosereceiver/metadata.yaml
  receiver/awsxrayreceiver/metadata.yaml
  receiver/azureblobreceiver/metadata.yaml
  receiver/azureeventhubreceiver/metadata.yaml
  receiver/azuremonitorreceiver/metadata.yaml
  receiver/carbonreceiver/metadata.yaml
  receiver/cloudflarereceiver/metadata.yaml
  receiver/cloudfoundryreceiver/metadata.yaml
  receiver/collectdreceiver/metadata.yaml
  receiver/datadogreceiver/metadata.yaml
  receiver/filelogreceiver/metadata.yaml
  receiver/googlecloudpubsubreceiver/metadata.yaml
  receiver/googlecloudspannerreceiver/metadata.yaml
  receiver/hostmetricsreceiver/metadata.yaml
  receiver/influxdbreceiver/metadata.yaml
  receiver/jaegerreceiver/metadata.yaml
  receiver/jmxreceiver/metadata.yaml
  receiver/journaldreceiver/metadata.yaml
  receiver/k8seventsreceiver/metadata.yaml
  receiver/k8sobjectsreceiver/metadata.yaml
  receiver/lokireceiver/metadata.yaml
  receiver/namedpipereceiver/metadata.yaml
  receiver/opencensusreceiver/metadata.yaml
  receiver/osqueryreceiver/metadata.yaml
  receiver/otlpjsonfilereceiver/metadata.yaml
  receiver/prometheusreceiver/metadata.yaml
  receiver/pulsarreceiver/metadata.yaml
  receiver/purefareceiver/metadata.yaml
  receiver/purefbreceiver/metadata.yaml
  receiver/receivercreator/metadata.yaml
  receiver/sapmreceiver/metadata.yaml
  receiver/signalfxreceiver/metadata.yaml
  receiver/simpleprometheusreceiver/metadata.yaml
  receiver/skywalkingreceiver/metadata.yaml
  receiver/snmpreceiver/metadata.yaml
  receiver/splunkhecreceiver/metadata.yaml
  receiver/sqlqueryreceiver/metadata.yaml
  receiver/syslogreceiver/metadata.yaml
  receiver/tcplogreceiver/metadata.yaml
  receiver/udplogreceiver/metadata.yaml
  receiver/wavefrontreceiver/metadata.yaml
  receiver/webhookeventreceiver/metadata.yaml
  receiver/windowseventlogreceiver/metadata.yaml
  receiver/windowsperfcountersreceiver/metadata.yaml
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin, receiver/journald, receiver/jmx, receiver/hostmetrics, receiver/filelog, receiver/carbon, receiver/awscontainerinsight, receiver/sqlquery, receiver/prometheus, receiver/windowseventlog, receiver/windowsperfcounters, receiver/awsxray, receiver/googlecloudspanner, receiver/influxdb, receiver/k8sevents, receiver/awsecscontainermetrics, receiver/tcplog, receiver/splunkhec, receiver/jaeger, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/simpleprometheus, receiver/udplog, receiver/wavefront, receiver/syslog, receiver/collectd, receiver/cloudfoundry, receiver/googlecloudpubsub, receiver/skywalking, receiver/sapm, receiver/otlpjsonfile, receiver/pulsar, receiver/azureeventhub, receiver/azureblob, receiver/snmp, receiver/awscloudwatch, receiver/k8sobjects, receiver/purefa, receiver/receivercreator, receiver/purefb, receiver/datadog, receiver/webhookevent, receiver/cloudflare, receiver/loki, receiver/azuremonitor, receiver/awscloudwatchmetrics, receiver/namedpipe, receiver/osquery

#34442 [chore] fix typo in changelog
  .chloggen/codeboten_update-scope-2.yaml
Labels: Skip Changelog

#34050 Add SHA512 converter.
  .chloggen/ottl_sha512_converter.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_sha512.go
  pkg/ottl/ottlfuncs/func_sha512_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#33800 [chore] [processor/k8sattributes] improve documentation for the k8sattributes processor
  processor/k8sattributesprocessor/README.md
Labels: documentation, processor/k8sattributes

#34439 [exporter/datadog] Document ddtags in logs example
  exporter/datadogexporter/examples/logs.yaml
Labels: documentation, exporter/datadog, Skip Changelog

#34451 [receiver/sqlserver] update scope name for consistency
  .chloggen/update-scope-receivers-sqlserver.yaml
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
  receiver/sqlserverreceiver/testdata/golden_named_instance_scrape.yaml
  receiver/sqlserverreceiver/testdata/golden_scrape.yaml
Labels: receiver/sqlserver

#34449 [receiver/vcenter] update scope name for consistency
  .chloggen/codeboten_update-scope-receivers-vcenter.yaml
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#34450 [receiver/zookeeper] update scope name for consistency
  .chloggen/codeboten_update-scope-receivers-zookeeper.yaml
  receiver/zookeeperreceiver/internal/metadata/generated_metrics.go
  receiver/zookeeperreceiver/metadata.yaml
  receiver/zookeeperreceiver/testdata/integration/expected-3.4.13.yaml
  receiver/zookeeperreceiver/testdata/integration/expected-3.5.10-standalone.yaml
  receiver/zookeeperreceiver/testdata/integration/expected-3.5.10.yaml
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.4.14.yaml
  receiver/zookeeperreceiver/testdata/scraper/correctness-v3.5.5.yaml
  receiver/zookeeperreceiver/testdata/scraper/disable-watches.yaml
  receiver/zookeeperreceiver/testdata/scraper/error-closing-connection.yaml
  receiver/zookeeperreceiver/testdata/scraper/error-setting-connection-deadline.yaml
  receiver/zookeeperreceiver/testdata/scraper/invalid-ruok.yaml
  receiver/zookeeperreceiver/testdata/scraper/null-ruok.yaml
Labels: receiver/zookeeper

#34438 [exporter/sumologic] update scope name for consistency
  .chloggen/codeboten_update-scope-4.yaml
  exporter/sumologicexporter/internal/metadata/generated_telemetry.go
  exporter/sumologicexporter/internal/metadata/generated_telemetry_test.go
  exporter/sumologicexporter/metadata.yaml
Labels: exporter/sumologic

#34456 [receiver/postgresql] Don't error when unix sockets are used for postgresql replication
  .chloggen/postgres-null-client.yaml
  receiver/postgresqlreceiver/client.go
Labels: receiver/postgresql

#34477 [chore] make httpforwarderextension use default client config for egress
  extension/httpforwarderextension/config_test.go
Labels: extension/httpforwarder

#34475 [receiver/rabbitmqreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-rabbitmqreceiver.yaml
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics.go
  receiver/rabbitmqreceiver/metadata.yaml
  receiver/rabbitmqreceiver/testdata/expected_metrics/metrics_golden.yaml
Labels: receiver/rabbitmq

#34452 [receiver/splunkenterprisereceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-splunkenterprisereceiver.yaml
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: exporter/alibabacloudlogservice, exporter/datadog, processor/k8sattributes, processor/resourcedetection, receiver/jmx, receiver/hostmetrics, receiver/awscontainerinsight, cmd/otelcontribcol, exporter/signalfx, exporter/pulsar, exporter/awskinesis, exporter/logzio, exporter/elasticsearch, exporter/kafka, exporter/sapm, exporter/googlecloudpubsub, exporter/zipkin, exporter/tencentcloudlogservice, exporter/sumologic, receiver/kafka, receiver/sqlserver, receiver/jaeger, receiver/signalfx, receiver/googlecloudpubsub, receiver/sapm, pkg/ottl, extension/observer, extension/jaegerremotesampling, receiver/pulsar, internal/metadataproviders, pkg/translator/jaeger, pkg/translator/zipkin, cmd/oteltestbedcol, receiver/splunkenterprise, extension/encoding, connector/datadog, extension/opamp, extension/sumologic

#34358 Fix default docker_observer endpoint on Windows
  .chloggen/docker_observer_default_windows_endpoint.yaml
  extension/observer/dockerobserver/README.md
  extension/observer/dockerobserver/config.go
  extension/observer/dockerobserver/factory.go
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
  internal/docker/config.go
  internal/docker/docker_test.go
  internal/docker/docker_test_listener.go
  internal/docker/docker_test_listener_windows.go
  internal/docker/go.mod
  internal/docker/go.sum
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
Labels: ready to merge, os:windows, receiver/dockerstats, extension/observer, internal/docker, Run Windows

#34467 [receiver/snowflakereceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-snowflakereceiver.yaml
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/metadata.yaml
  receiver/snowflakereceiver/testdata/scraper/expected.yaml
Labels: receiver/snowflake

#34469 [receiver/riakreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-riakreceiver.yaml
  receiver/riakreceiver/internal/metadata/generated_metrics.go
  receiver/riakreceiver/metadata.yaml
  receiver/riakreceiver/testdata/scraper/expected.yaml
  receiver/riakreceiver/testdata/scraper/expected_disabled.yaml
Labels: receiver/riak

#34476 [receiver/postgresqlreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-postgresqlreceiver.yaml
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/exclude.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/exclude_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_default_metrics.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_default_metrics_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_schemaattr.yaml
Labels: receiver/postgresql

#34488 [chore][processor/logdeduplication] Add README header
  processor/logdeduplicationprocessor/README.md
Labels: processor/logdeduplication

#34470 [receiver/redisreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-redisreceiver.yaml
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/redis_scraper_test.go
  receiver/redisreceiver/testdata/integration/expected-cluster.yaml
  receiver/redisreceiver/testdata/integration/expected-old.yaml
Labels: receiver/redis

#33921 [chore] try out macos-14 to run arm tests
  .github/workflows/build-and-test-arm.yml
  extension/bearertokenauthextension/bearertokenauth_test.go
  extension/bearertokenauthextension/test.token
  extension/bearertokenauthextension/testdata/TestBearerStartWatchStop.token
  extension/bearertokenauthextension/testdata/TestBearerTokenFileContentUpdate.token
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
Labels: receiver/hostmetrics, extension/bearertokenauth, Run ARM

#33601 [receiver/windowseventlogreceiver] Add remote log collection support
  .chloggen/windowseventlogreceiver-remote-collection.yaml
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/config_all.go
  pkg/stanza/operator/input/windows/config_windows.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/input_test.go
  pkg/stanza/operator/input/windows/raw.go
  pkg/stanza/operator/input/windows/subscription.go
  pkg/stanza/operator/input/windows/xml.go
  pkg/stanza/operator/input/windows/xml_test.go
  receiver/windowseventlogreceiver/README.md
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog, pkg/stanza, Run Windows

#34491 [receiver/oracledbreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-oracledbreceiver.yaml
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#33583 [receiver/azureeventhubreceiver]Implemented receiver to support traces
  .chloggen/azureeventhub-trace-receiver.yaml
  pkg/translator/azure/resources_to_traces.go
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/azureresourcetraces_unmarshaler.go
  receiver/azureeventhubreceiver/eventhubhandler_test.go
  receiver/azureeventhubreceiver/factory.go
  receiver/azureeventhubreceiver/generated_component_test.go
  receiver/azureeventhubreceiver/internal/metadata/generated_status.go
  receiver/azureeventhubreceiver/metadata.yaml
  receiver/azureeventhubreceiver/receiver.go
Labels: ready to merge, cmd/telemetrygen, receiver/azureeventhub, pkg/translator/azure

#34490 [exporter/datadog] Deprecate `logs::dump_payloads`
  .chloggen/stanley.liu_deprecate-dump-payloads.yaml
  exporter/datadogexporter/config.go
Labels: exporter/datadog

#34365 [exporter/clickhouse] Add `compress` option to config, enabled by default
  .chloggen/clickhouse-add-compress-option.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
Labels: exporter/clickhouse

#34493 [receiver/nginxreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-nginxreceiver.yaml
  receiver/nginxreceiver/internal/metadata/generated_metrics.go
  receiver/nginxreceiver/metadata.yaml
  receiver/nginxreceiver/testdata/integration/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected.yaml
  receiver/nginxreceiver/testdata/scraper/expected_with_connections_as_gauge.yaml
Labels: receiver/nginx

#34482 [receiver/podmanreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-podmanreceiver.yaml
  receiver/podmanreceiver/internal/metadata/generated_metrics.go
  receiver/podmanreceiver/metadata.yaml
Labels: receiver/podman

#34516 [extension/bearertokenauth] use constant time comparison
  .chloggen/codeboten_bearerauth-patch.yaml
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/bearertokenauth_test.go
Labels: extension/bearertokenauth

#34483 [receiver/nsxtreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-nsxtreceiver.yaml
  receiver/nsxtreceiver/internal/metadata/generated_metrics.go
  receiver/nsxtreceiver/metadata.yaml
  receiver/nsxtreceiver/testdata/metrics/expected_metrics.yaml
Labels: receiver/nsxt

#34497 [receiver/httpcheckreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-httpcheckreceiver.yaml
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/metadata.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/endpoint_404.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/invalid_endpoint.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/httpcheckreceiver/testdata/expected_metrics/multiple_targets.yaml
Labels: receiver/httpcheck

#34468 [receiver/saphanareceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-saphanareceiver.yaml
  receiver/saphanareceiver/internal/metadata/generated_metrics.go
  receiver/saphanareceiver/metadata.yaml
  receiver/saphanareceiver/testdata/expected_metrics/full.yaml
  receiver/saphanareceiver/testdata/expected_metrics/mostly_disabled.yaml
Labels: ready to merge, receiver/saphana

#34518 [receiver/aerospikereceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-aerospikereceiver.yaml
  receiver/aerospikereceiver/internal/metadata/generated_metrics.go
  receiver/aerospikereceiver/metadata.yaml
  receiver/aerospikereceiver/testdata/integration/expected.yaml
Labels: receiver/aerospike

#34519 [receiver/apachesparkreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-apachesparkreceiver.yaml
  receiver/apachesparkreceiver/internal/metadata/generated_metrics.go
  receiver/apachesparkreceiver/metadata.yaml
  receiver/apachesparkreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/apachesparkreceiver/testdata/expected_metrics/metrics_partial_golden.yaml
  receiver/apachesparkreceiver/testdata/integration/expected.yaml
Labels: receiver/apachespark

#34517 [receiver/apachereceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-apachereceiver.yaml
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/metadata.yaml
  receiver/apachereceiver/testdata/integration/expected.yaml
  receiver/apachereceiver/testdata/scraper/expected.yaml
Labels: receiver/apache

#34520 [receiver/bigipreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-bigipreceiver.yaml
  receiver/bigipreceiver/internal/metadata/generated_metrics.go
  receiver/bigipreceiver/metadata.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_golden.yaml
  receiver/bigipreceiver/testdata/expected_metrics/metrics_partial_with_members_golden.yaml
  receiver/bigipreceiver/testdata/integration/expected.yaml
Labels: receiver/bigip

#34509 [chore][cmd/opampsupervisor]: move supervisor start logic into separate Start() function
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/main.go
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#34527 [chore] Fix links to community membership doc
  .github/ALLOWLIST
  .github/CODEOWNERS
  README.md
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#34526 [receiver/hostmetrics] update scope name for consistency
  .chloggen/codeboten_update-scope-hostmetrics.yaml
  exporter/elasticsearchexporter/testdata/metrics-cpu.json
  exporter/signalfxexporter/testdata/hostmetrics.yaml
  exporter/signalfxexporter/testdata/hostmetrics_system_cpu_time_1.yaml
  exporter/signalfxexporter/testdata/hostmetrics_system_cpu_time_2.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/testdata/e2e/expected_process.yaml
  receiver/hostmetricsreceiver/testdata/e2e/expected_process_separate_proc.yaml
Labels: receiver/hostmetrics, exporter/signalfx, exporter/elasticsearch

#34525 [receiver/couchdbreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-couchdbreceiver.yaml
  receiver/couchdbreceiver/internal/metadata/generated_metrics.go
  receiver/couchdbreceiver/metadata.yaml
  receiver/couchdbreceiver/testdata/scraper/expected.yaml
  receiver/couchdbreceiver/testdata/scraper/only_db_ops.yaml
Labels: receiver/couchdb

#34529 [receiver/elasticsearchreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-elasticsearchreceiver.yaml
  receiver/elasticsearchreceiver/internal/metadata/generated_metrics.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/clusterSkip.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_linux.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_other.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/noNodes.yaml
  receiver/elasticsearchreceiver/testdata/integration/expected.7_16_3.yaml
  receiver/elasticsearchreceiver/testdata/integration/expected.7_9_3.yaml
Labels: receiver/elasticsearch

#34537 [receiver/kubeletstatsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-kubeletstatsreceiver.yaml
  receiver/kubeletstatsreceiver/internal/kubelet/metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/testdata/e2e/expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_cpu_util_nodelimit_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_memory_util_nodelimit_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metadata_Container_Metadata_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metadata_Volume_Metadata_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_all_groups_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_container_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_node_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_pod_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_volume_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_pod_and_node_groups_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_percent_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_do_not_collect_detailed_labels_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_empty_volume_name_in_pvc_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_non_existent_volume_in_pvc_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_pvc_doesnot_exist_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_successful_expected.yaml
Labels: receiver/kubeletstats

#34533 [receiver/flinkmetricsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-flinkmetricsreceiver.yaml
  receiver/flinkmetricsreceiver/internal/metadata/generated_metrics.go
  receiver/flinkmetricsreceiver/metadata.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/metrics_no_jobs_golden.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_jobs.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_subtasks.yaml
  receiver/flinkmetricsreceiver/testdata/expected_metrics/partial_metrics_no_taskmanagers.yaml
  receiver/flinkmetricsreceiver/testdata/integration/expected.yaml
Labels: receiver/flinkmetrics

#34536 [receiver/k8sclusterreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-k8sclusterreceiver.yaml
  receiver/k8sclusterreceiver/internal/clusterresourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/cronjob/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/demonset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/deployment/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/jobs/testdata/expected_empty.yaml
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/namespace/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/node/testdata/expected_mdatagen.yaml
  receiver/k8sclusterreceiver/internal/node/testdata/expected_optional.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_evicted.yaml
  receiver/k8sclusterreceiver/internal/replicaset/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/replicationcontroller/testdata/expected.yaml
  receiver/k8sclusterreceiver/internal/resourcequota/testdata/expected.yaml
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
Labels: receiver/k8scluster

#34521 [pmetrictest] Add comparison options for histograms
  .chloggen/add_compare_for_histograms.yaml
  pkg/pdatatest/pmetrictest/options.go
Labels: pkg/pdatatest

#34492 [receiver/activedirectorydsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-activedirectorydsreceiver.yaml
  receiver/activedirectorydsreceiver/internal/metadata/generated_metrics.go
  receiver/activedirectorydsreceiver/metadata.yaml
Labels: receiver/activedirectoryds

#34535 [receiver/iisreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-iisreceiver.yaml
  receiver/iisreceiver/internal/metadata/generated_metrics.go
  receiver/iisreceiver/metadata.yaml
  receiver/iisreceiver/testdata/integration/expected.yaml
  receiver/iisreceiver/testdata/scraper/expected.yaml
  receiver/iisreceiver/testdata/scraper/expected_negative_denominator.yaml
Labels: receiver/iis

#34548 [chore] remove unused configuration
  processor/attributesprocessor/metadata.yaml
  processor/cumulativetodeltaprocessor/metadata.yaml
  processor/deltatorateprocessor/metadata.yaml
  processor/intervalprocessor/metadata.yaml
  processor/logstransformprocessor/metadata.yaml
  processor/metricsgenerationprocessor/metadata.yaml
  processor/metricstransformprocessor/metadata.yaml
  processor/redactionprocessor/metadata.yaml
  processor/remotetapprocessor/metadata.yaml
  processor/resourcedetectionprocessor/metadata.yaml
  processor/resourceprocessor/metadata.yaml
  processor/schemaprocessor/metadata.yaml
  processor/spanprocessor/metadata.yaml
  processor/sumologicprocessor/metadata.yaml
  processor/transformprocessor/metadata.yaml
Labels: processor/attributes, processor/metricstransform, processor/resourcedetection, processor/transform, processor/cumulativetodelta, processor/deltatorate, processor/logstransform, processor/metricsgeneration, processor/redaction, processor/resource, processor/schema, processor/span, processor/sumologic, processor/remotetap, processor/interval

#34551 [chore] remove unused configuration
  connector/countconnector/metadata.yaml
  connector/datadogconnector/metadata.yaml
  connector/exceptionsconnector/metadata.yaml
  connector/failoverconnector/metadata.yaml
  connector/otlpjsonconnector/metadata.yaml
  connector/roundrobinconnector/metadata.yaml
  connector/routingconnector/metadata.yaml
  connector/spanmetricsconnector/metadata.yaml
  connector/sumconnector/metadata.yaml
Labels: connector/count, connector/spanmetrics, connector/routing, connector/exceptions, connector/datadog, connector/failover, connector/roundrobin, connector/sum, connector/otlpjson

#34496 [receiver/gitproviderreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-gitproviderreceiver.yaml
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: receiver/gitprovider

#34507 [splunkhecexporter] Copy payload before sending to avoid corruption on reuse
  .chloggen/safe_bytes.yaml
  exporter/splunkhecexporter/buffer.go
  exporter/splunkhecexporter/hec_worker.go
Labels: exporter/splunkhec

#34484 [chore] update tests to expect default config to be present when testing
  exporter/elasticsearchexporter/config_test.go
  exporter/opensearchexporter/config_test.go
  exporter/zipkinexporter/config_test.go
Labels: exporter/elasticsearch, exporter/zipkin, exporter/opensearch

#34530 [receiver/expvarreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-expvarreceiver.yaml
  receiver/expvarreceiver/internal/metadata/generated_metrics.go
  receiver/expvarreceiver/metadata.yaml
  receiver/expvarreceiver/testdata/metrics/expected_all_metrics.yaml
Labels: receiver/expvar

#34498 [receiver/haproxyreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-haproxyreceiver.yaml
  receiver/haproxyreceiver/internal/metadata/generated_metrics.go
  receiver/haproxyreceiver/metadata.yaml
  receiver/haproxyreceiver/testdata/integration/expected.yaml
  receiver/haproxyreceiver/testdata/scraper/30252_expected.yaml
  receiver/haproxyreceiver/testdata/scraper/expected.yaml
Labels: receiver/haproxy

#34552 [connectors] updating remaining connectors
  .chloggen/codeboten_update-scope-grafanacloudconnector.yaml
  .chloggen/codeboten_update-scope-servicegraphconnector.yaml
  connector/grafanacloudconnector/internal/metadata/generated_telemetry.go
  connector/grafanacloudconnector/internal/metadata/generated_telemetry_test.go
  connector/grafanacloudconnector/metadata.yaml
  connector/servicegraphconnector/internal/metadata/generated_telemetry.go
  connector/servicegraphconnector/internal/metadata/generated_telemetry_test.go
  connector/servicegraphconnector/metadata.yaml
Labels: connector/servicegraph, connector/grafanacloud

#34547 [receiver/statsdreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-statsdreceiver.yaml
  receiver/statsdreceiver/internal/metadata/generated_telemetry.go
  receiver/statsdreceiver/internal/metadata/generated_telemetry_test.go
  receiver/statsdreceiver/internal/protocol/statsd_parser.go
  receiver/statsdreceiver/metadata.yaml
Labels: receiver/statsd

#34546 [receiver/otelarrowreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-otelarrowreceiver.yaml
  receiver/otelarrowreceiver/internal/metadata/generated_telemetry.go
  receiver/otelarrowreceiver/internal/metadata/generated_telemetry_test.go
  receiver/otelarrowreceiver/metadata.yaml
Labels: receiver/otelarrow

#34524 [receiver/chronyreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-chronyreceiver.yaml
  receiver/chronyreceiver/internal/metadata/generated_metrics.go
  receiver/chronyreceiver/metadata.yaml
  receiver/chronyreceiver/scraper_test.go
Labels: receiver/chrony

#34550 [processors] updating remaining processor scope names
  .chloggen/codeboten_update-scope-deltatocumulativeprocessor.yaml
  .chloggen/codeboten_update-scope-filterprocessor.yaml
  .chloggen/codeboten_update-scope-groupbyattrsprocessor.yaml
  .chloggen/codeboten_update-scope-groupbytraceprocessor.yaml
  .chloggen/codeboten_update-scope-k8sattributesprocessor.yaml
  .chloggen/codeboten_update-scope-probabilisticsamplerprocessor.yaml
  .chloggen/codeboten_update-scope-routingprocessor.yaml
  .chloggen/codeboten_update-scope-tailsamplingprocessor.yaml
  processor/deltatocumulativeprocessor/internal/metadata/generated_telemetry.go
  processor/deltatocumulativeprocessor/internal/metadata/generated_telemetry_test.go
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/filterprocessor/internal/metadata/generated_telemetry.go
  processor/filterprocessor/internal/metadata/generated_telemetry_test.go
  processor/filterprocessor/metadata.yaml
  processor/groupbyattrsprocessor/internal/metadata/generated_telemetry.go
  processor/groupbyattrsprocessor/internal/metadata/generated_telemetry_test.go
  processor/groupbyattrsprocessor/metadata.yaml
  processor/groupbytraceprocessor/internal/metadata/generated_telemetry.go
  processor/groupbytraceprocessor/internal/metadata/generated_telemetry_test.go
  processor/groupbytraceprocessor/metadata.yaml
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/probabilisticsamplerprocessor/internal/metadata/generated_telemetry.go
  processor/probabilisticsamplerprocessor/internal/metadata/generated_telemetry_test.go
  processor/probabilisticsamplerprocessor/metadata.yaml
  processor/routingprocessor/internal/metadata/generated_telemetry.go
  processor/routingprocessor/internal/metadata/generated_telemetry_test.go
  processor/routingprocessor/metadata.yaml
  processor/tailsamplingprocessor/internal/metadata/generated_telemetry.go
  processor/tailsamplingprocessor/internal/metadata/generated_telemetry_test.go
  processor/tailsamplingprocessor/metadata.yaml
Labels: processor/filter, processor/k8sattributes, processor/tailsampling, processor/groupbytrace, processor/groupbyattrs, processor/probabilisticsampler, processor/routing, processor/deltatocumulative

#34544 [receiver/mongodbreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-mongodbreceiver.yaml
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_0.yaml
  receiver/mongodbreceiver/testdata/integration/expected.4_4lpu.yaml
  receiver/mongodbreceiver/testdata/integration/expected.5_0.yaml
  receiver/mongodbreceiver/testdata/scraper/db_count_only.yaml
  receiver/mongodbreceiver/testdata/scraper/expected.yaml
  receiver/mongodbreceiver/testdata/scraper/partial_scrape.yaml
Labels: receiver/mongodb

#34543 [receiver/mongodbatlasreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-mongodbatlasreceiver.yaml
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/metadata.yaml
Labels: receiver/mongodbatlas

#34542 [receiver/memcachedreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-memcachedreceiver.yaml
  receiver/memcachedreceiver/internal/metadata/generated_metrics.go
  receiver/memcachedreceiver/metadata.yaml
  receiver/memcachedreceiver/testdata/integration/expected.yaml
  receiver/memcachedreceiver/testdata/scraper/expected.yaml
Labels: receiver/memcached

#34539 [receiver/kafkareceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-kafkareceiver.yaml
  receiver/kafkareceiver/internal/metadata/generated_telemetry.go
  receiver/kafkareceiver/internal/metadata/generated_telemetry_test.go
  receiver/kafkareceiver/metadata.yaml
Labels: receiver/kafka

#34538 [receiver/kafkametricsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-kafkametricsreceiver.yaml
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kafkametricsreceiver/testdata/integration/expected.yaml
Labels: receiver/kafkametrics

#34534 [receiver/fluentforwardreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-fluentforwardreceiver.yaml
  receiver/fluentforwardreceiver/internal/metadata/generated_telemetry.go
  receiver/fluentforwardreceiver/internal/metadata/generated_telemetry_test.go
  receiver/fluentforwardreceiver/metadata.yaml
Labels: receiver/fluentforward

#33458 Coralogix processor first PR
  .chloggen/coralogix-proccesor-first-pr.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/githubgen/allowlist.txt
  processor/coralogixprocessor/Makefile
  processor/coralogixprocessor/README.md
  processor/coralogixprocessor/config.go
  processor/coralogixprocessor/doc.go
  processor/coralogixprocessor/factory.go
  processor/coralogixprocessor/generated_component_test.go
  processor/coralogixprocessor/generated_package_test.go
  processor/coralogixprocessor/go.mod
  processor/coralogixprocessor/go.sum
  processor/coralogixprocessor/internal/metadata/generated_status.go
  processor/coralogixprocessor/metadata.yaml
  processor/coralogixprocessor/span.go
  versions.yaml
Labels: ready to merge, cmd/githubgen

#34558 [cmd/telemetrygen] Support boolean values in attributes
  .chloggen/telemetrygen-attribute-support-boolean.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/common/config_test.go
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/metrics/exporter.go
  cmd/telemetrygen/internal/traces/exporter.go
Labels: cmd/telemetrygen

#34549 [connector/datadog] Move feature gate connector.datadogconnector.NativeIngest to beta
  .chloggen/dd-conn-fg.yaml
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/factory.go
Labels: connector/datadog

#34523 move bryan-aguilar to emeritus
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
Labels: Skip Changelog

#34037 Added ExtractGrokPatterns to OTTL converters
  .chloggen/ottl_grok.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/countconnector/go.mod
  connector/countconnector/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  connector/routingconnector/go.mod
  connector/routingconnector/go.sum
  connector/sumconnector/go.mod
  connector/sumconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/honeycombmarkerexporter/go.mod
  exporter/honeycombmarkerexporter/go.sum
  internal/filter/go.mod
  internal/filter/go.sum
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_extract_grok_patterns.go
  pkg/ottl/ottlfuncs/func_extract_grok_patterns_test.go
  pkg/ottl/ottlfuncs/functions.go
  processor/attributesprocessor/go.mod
  processor/attributesprocessor/go.sum
  processor/filterprocessor/go.mod
  processor/filterprocessor/go.sum
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/spanprocessor/go.mod
  processor/spanprocessor/go.sum
  processor/tailsamplingprocessor/go.mod
  processor/tailsamplingprocessor/go.sum
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, processor/transform, processor/routing, cmd/otelcontribcol, exporter/elasticsearch, pkg/ottl, processor/span, internal/filter, cmd/oteltestbedcol, testbed, connector/count, connector/routing, connector/datadog, exporter/honeycombmarker, connector/sum

#34528 [receiver/dockerstatsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-dockerstatsreceiver.yaml
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/cpu_limit/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container_with_optional_resource_attributes/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
Labels: receiver/dockerstats

#34149 [receiver/kafkametrics] add support for topic configurations and cluster_alias field
  .chloggen/receiver-kafkametrics-topic-configs.yaml
  receiver/kafkametricsreceiver/README.md
  receiver/kafkametricsreceiver/broker_scraper.go
  receiver/kafkametricsreceiver/broker_scraper_test.go
  receiver/kafkametricsreceiver/config.go
  receiver/kafkametricsreceiver/config_test.go
  receiver/kafkametricsreceiver/consumer_scraper.go
  receiver/kafkametricsreceiver/documentation.md
  receiver/kafkametricsreceiver/factory.go
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/internal/metadata/generated_config.go
  receiver/kafkametricsreceiver/internal/metadata/generated_config_test.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics.go
  receiver/kafkametricsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kafkametricsreceiver/internal/metadata/generated_resource.go
  receiver/kafkametricsreceiver/internal/metadata/generated_resource_test.go
  receiver/kafkametricsreceiver/internal/metadata/testdata/config.yaml
  receiver/kafkametricsreceiver/metadata.yaml
  receiver/kafkametricsreceiver/scraper_test_helper.go
  receiver/kafkametricsreceiver/testdata/config.yaml
  receiver/kafkametricsreceiver/topic_scraper.go
  receiver/kafkametricsreceiver/topic_scraper_test.go
Labels: ready to merge, receiver/kafkametrics

#34569 [chore] Temporarily skip flaky filelog test on arm64
  pkg/stanza/fileconsumer/file_test.go
Labels: pkg/stanza, Run ARM

#34568 [chore][receiver/activedirectoryds]: update goldens, ignore datapoint order
  receiver/activedirectorydsreceiver/scraper_test.go
  receiver/activedirectorydsreceiver/testdata/golden_scrape.yaml
  receiver/activedirectorydsreceiver/testdata/partial_scrape.yaml
Labels: receiver/activedirectoryds, Run Windows

#34531 [receiver/filestatsreceiver] update scope name for consistency
  .chloggen/codeboten_update-scope-filestatsreceiver.yaml
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/filestatsreceiver/metadata.yaml
  receiver/filestatsreceiver/testdata/integration/expected.yaml
Labels: receiver/filestats

#34576 [processor/logdedup] Update stability to alpha
  .chloggen/logdedup-alpha.yaml
  processor/logdedupprocessor/README.md
  processor/logdedupprocessor/internal/metadata/generated_status.go
  processor/logdedupprocessor/metadata.yaml
Labels: processor/logdedup

#33793 [pkg/ottl]: Add MD5 function
  .chloggen/ottl_md5_function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_md5.go
  pkg/ottl/ottlfuncs/func_md5_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl, waiting-for-code-owners

#34583 [connector/count] update scope name for consistency
  .chloggen/codeboten_update-scope-countconnector.yaml
  connector/countconnector/connector.go
  connector/countconnector/testdata/logs/condition_and_attribute.yaml
  connector/countconnector/testdata/logs/default_attribute_value.yaml
  connector/countconnector/testdata/logs/multiple_attributes.yaml
  connector/countconnector/testdata/logs/multiple_conditions.yaml
  connector/countconnector/testdata/logs/multiple_metrics.yaml
  connector/countconnector/testdata/logs/one_attribute.yaml
  connector/countconnector/testdata/logs/one_condition.yaml
  connector/countconnector/testdata/logs/zero_conditions.yaml
  connector/countconnector/testdata/metrics/condition_and_attribute.yaml
  connector/countconnector/testdata/metrics/default_attribute_value.yaml
  connector/countconnector/testdata/metrics/default_int_attribute_value.yaml
  connector/countconnector/testdata/metrics/int_attribute_value.yaml
  connector/countconnector/testdata/metrics/multiple_attributes.yaml
  connector/countconnector/testdata/metrics/multiple_conditions.yaml
  connector/countconnector/testdata/metrics/multiple_metrics.yaml
  connector/countconnector/testdata/metrics/one_attribute.yaml
  connector/countconnector/testdata/metrics/one_condition.yaml
  connector/countconnector/testdata/metrics/zero_conditions.yaml
  connector/countconnector/testdata/traces/condition_and_attribute.yaml
  connector/countconnector/testdata/traces/default_attribute_value.yaml
  connector/countconnector/testdata/traces/multiple_attributes.yaml
  connector/countconnector/testdata/traces/multiple_conditions.yaml
  connector/countconnector/testdata/traces/multiple_metrics.yaml
  connector/countconnector/testdata/traces/one_attribute.yaml
  connector/countconnector/testdata/traces/one_condition.yaml
  connector/countconnector/testdata/traces/zero_conditions.yaml
Labels: connector/count

#34587 [chore] use generated scope name
  connector/countconnector/connector.go
Labels: connector/count

#34593 [receiver/googlespanner] update scope name for consistency
  .chloggen/codeboten_update-scope-googlespannerreceiver.yaml
  receiver/googlecloudspannerreceiver/internal/metadata/metricsbuilder.go
  receiver/googlecloudspannerreceiver/internal/metadata/metricsbuilder_test.go
Labels: receiver/googlecloudspanner

#34471 [chore][exporter/elasticsearch] Refactor passthrough field handling for OTel mode
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#34459 [receiver/filelog] check for invalid strptime format
  .chloggen/time-format-validation.yaml
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
  internal/coreinternal/timeutils/parser.go
  internal/coreinternal/timeutils/parser_test.go
  pkg/stanza/operator/helper/time.go
Labels: pkg/stanza, internal/core

#34589 [receiver/prometheus] update scope name for consistency
  .chloggen/codeboten_update-scope-prometheusreceiver.yaml
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: receiver/prometheus

#34607 [processor/logdeup] Add scope aggregator
  .chloggen/logdedup-scope-aggregator.yaml
  pkg/pdatautil/hash.go
  processor/logdedupprocessor/counter.go
  processor/logdedupprocessor/counter_test.go
  processor/logdedupprocessor/processor.go
Labels: pkg/pdatautil, processor/logdedup

#34402 fix Azure receiver not azure china
  .chloggen/mo-silent_fix-34315.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
Labels: receiver/azuremonitor

#34612 [receiver/cloudfoundry] update scope name for consistency
  .chloggen/codeboten_more-scope-6.yaml
  receiver/cloudfoundryreceiver/receiver.go
Labels: ready to merge, receiver/cloudfoundry

#34616 [processor/logdedup] Process pending aggregated logs on shutdown
  .chloggen/logdedup-process-on-shutdown.yaml
  processor/logdedupprocessor/processor.go
  processor/logdedupprocessor/processor_test.go
Labels: processor/logdedup

#34613 [receiver/cloudflare] update scope name for consistency
  .chloggen/codeboten_more-scope-7.yaml
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/logs_test.go
  receiver/cloudflarereceiver/testdata/processed/all_fields.yaml
  receiver/cloudflarereceiver/testdata/processed/multiple_log_payload.yaml
Labels: receiver/cloudflare

#34600 [chore] Explain image references in K8s examples
  receiver/k8seventsreceiver/README.md
  receiver/k8sobjectsreceiver/README.md
Labels: receiver/k8sevents, receiver/k8sobjects

#34618 [receiver/azuremonitor] update scope name for consistency
  .chloggen/codeboten_more-scope-8.yaml
  receiver/azuremonitorreceiver/internal/metadata/metrics.go
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_golden.yaml
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_tags_golden.yaml
Labels: receiver/azuremonitor

#34611 [receiver/azureeventhub] update scope name for consistency
  .chloggen/codeboten_more-scope-5.yaml
  receiver/azureeventhubreceiver/azureresourcemetrics_unmarshaler.go
  receiver/azureeventhubreceiver/factory.go
Labels: receiver/azureeventhub

#34560 [exporter/elasticsearch] Add summary support for metrics
  .chloggen/elasticsearchexporter_summary-support.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch, waiting-for-code-owners

#34619 [stanza/fileconsumer] update scope name for consistency
  .chloggen/codeboten_more-scope-9.yaml
  pkg/stanza/fileconsumer/internal/metadata/generated_telemetry.go
  pkg/stanza/fileconsumer/internal/metadata/generated_telemetry_test.go
  pkg/stanza/fileconsumer/metadata.yaml
Labels: pkg/stanza

#34585 [chore] Exclude non OTel members from CODEOWNERS
  .github/CODEOWNERS
Labels: ready to merge

#34168 [pkg/ottl] add support for map literals
  .chloggen/ottl-map-literals.yaml
  pkg/ottl/LANGUAGE.md
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/grammar.go
  pkg/ottl/lexer_test.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#34622 [chore][CODEOWNERS] Update code owners
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  processor/coralogixprocessor/README.md
  processor/coralogixprocessor/metadata.yaml
Labels: cmd/githubgen, processor/coralogix

#34620 [exporter/loki] update scope name for consistency
  .chloggen/codeboten_more-scope-10.yaml
  exporter/lokiexporter/internal/metadata/generated_status.go
  exporter/lokiexporter/internal/metadata/generated_telemetry.go
  exporter/lokiexporter/internal/metadata/generated_telemetry_test.go
  exporter/lokiexporter/metadata.yaml
Labels: exporter/loki

#34180 [chore] [receiver/datadog] Add support for v2 series
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/internal/translator/batcher.go
  receiver/datadogreceiver/internal/translator/batcher_test.go
  receiver/datadogreceiver/internal/translator/series.go
  receiver/datadogreceiver/internal/translator/series_test.go
  receiver/datadogreceiver/internal/translator/tags.go
  receiver/datadogreceiver/internal/translator/tags_test.go
  receiver/datadogreceiver/internal/translator/testutil.go
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
  testbed/go.mod
  testbed/go.sum
Labels: cmd/otelcontribcol, cmd/oteltestbedcol, testbed, receiver/datadog

#34604 [connector/exceptionsconnector] Fix dimensions configuration did not take effect for resource attributes
  .chloggen/fix_exceptionconnector_dimension_not_works.yaml
  connector/exceptionsconnector/connector.go
  connector/exceptionsconnector/connector_logs.go
  connector/exceptionsconnector/connector_metrics.go
  connector/exceptionsconnector/connector_metrics_test.go
Labels: connector/exceptions

#34278 [receiver/gitproviderreceiver] rename metrics to match new conventions
  .chloggen/gpr-metrics.yaml
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource.go
  receiver/gitproviderreceiver/internal/metadata/generated_resource_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/README.md
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/testdata/scraper/expected_no_repos.yaml
  receiver/gitproviderreceiver/metadata.yaml
Labels: receiver/gitprovider

#34345 [chore] [processor/tailsampling] Repair outdated example http.url
  processor/tailsamplingprocessor/README.md
Labels: processor/tailsampling

#34515 [receiver/datadogreceiver] Include error when logging unmarshaling failures
  .chloggen/log-error-unmarshaling-failure.yaml
  receiver/datadogreceiver/receiver.go
Labels: receiver/datadog

#34039 [processor/metricstransform]: Add scaling exponential histogram support
  .chloggen/metricstransform-processor-scale-exp-hist.yaml
  processor/metricstransformprocessor/README.md
  processor/metricstransformprocessor/metrics_testcase_builder_test.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
  processor/metricstransformprocessor/operation_scale_value.go
Labels: Stale, processor/metricstransform

#34541 [receiver/solacereceiver]: Updated the format for generated metrics and included new Solace receiver metric attribute
  .chloggen/fix_metrics_prefix.yaml
  receiver/solacereceiver/receiver.go
  receiver/solacereceiver/unmarshaller.go
  receiver/solacereceiver/unmarshaller_egress.go
  receiver/solacereceiver/unmarshaller_egress_test.go
  receiver/solacereceiver/unmarshaller_receive.go
  receiver/solacereceiver/unmarshaller_receive_test.go
  receiver/solacereceiver/unmarshaller_test.go
Labels: receiver/solace

#34679 [chore][CHANGELOG.md] Explicitly mention CVE-2024-42368 on the changelog
  CHANGELOG.md
Labels: Skip Changelog

#34678 [chore][CHANGELOG.md] Clean up scope name change
  CHANGELOG.md
Labels: Skip Changelog

#34420 [exporter/datadog] Upgrade `exporter.datadogexporter.UseLogsAgentExporter` feature flag to beta
  .chloggen/stanley.liu_logs-agent-beta-breaking.yaml
  .chloggen/stanley.liu_logs-agent-beta.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/logs_exporter_test.go
Labels: exporter/datadog

#34683 [chore] Remove references to ballast extension
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/components.go
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  confmap/provider/s3provider/testdata/otel-config.yaml
  exporter/clickhouseexporter/example/otel-collector-config.yml
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/sapmexporter/examples/signalfx-k8s.yaml
  internal/buildscripts/modules
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/components.go
  testbed/tests/e2e_test.go
  testbed/tests/trace_test.go
Labels: exporter/clickhouse, cmd/otelcontribcol, exporter/elasticsearch, exporter/sapm, cmd/oteltestbedcol, confmap/provider/s3provider, testbed

#34361 [internal/rabbitmq] move connection and retry logic into separate pkg
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  exporter/rabbitmqexporter/factory.go
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/internal/publisher/client.go
  exporter/rabbitmqexporter/internal/publisher/publisher.go
  exporter/rabbitmqexporter/internal/publisher/publisher_test.go
  exporter/rabbitmqexporter/rabbitmq_exporter.go
  internal/rabbitmq/Makefile
  internal/rabbitmq/client.go
  internal/rabbitmq/client_test.go
  internal/rabbitmq/go.mod
  internal/rabbitmq/go.sum
  internal/rabbitmq/metadata.yaml
  versions.yaml
Labels: Skip Changelog, cmd/otelcontribcol, exporter/rabbitmq

#34656 [chore] Restore Lint on Windows
  .chloggen/pkg_stanza_operator_input_windows_type_name_change.yaml
  .github/workflows/build-and-test.yml
  Makefile.Common
  pkg/stanza/fileconsumer/attrs/owner_windows.go
  pkg/stanza/fileconsumer/file_windows.go
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/api_test.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/input_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_windows.go
  receiver/iisreceiver/integration_test.go
  receiver/iisreceiver/scraper_test.go
Labels: ready to merge, receiver/hostmetrics, receiver/iis, pkg/stanza, Run Windows

#34697 [receiver/datadog] add sampling.priority attribute
  .chloggen/datadogreceiver-samplingprio.yaml
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
Labels: receiver/datadog

#34705 [chore] update scope name in tests
  pkg/pdatatest/pmetrictest/metrics_test.go
  pkg/pdatatest/pmetrictest/testdata/ignore-data-points-order/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-data-points-order/expected.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-metrics-order/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-metrics-order/expected.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-one-resource-attribute-multiple-resources/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-one-resource-attribute-multiple-resources/expected.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-one-resource-attribute/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-one-resource-attribute/expected.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-resource-order/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/ignore-resource-order/expected.yaml
  pkg/pdatatest/pmetrictest/testdata/match-one-resource-attribute/actual.yaml
  pkg/pdatatest/pmetrictest/testdata/match-one-resource-attribute/expected.yaml
Labels: pkg/pdatatest

#34706 [chore] updating golden pkg scope names
  pkg/golden/testdata/sort-metrics/after.yaml
  pkg/golden/testdata/sort-metrics/before.yaml
  pkg/golden/testdata/standardize-metrics/after.yaml
  pkg/golden/testdata/standardize-metrics/before.yaml
  pkg/golden/testdata/timestamp-norm/after_normalize.yaml
  pkg/golden/testdata/timestamp-norm/before_normalize.yaml
Labels: pkg/golden

#34709 [receiver/googlemonitoring] update scope name
  .chloggen/codeboten_update-scope-googlecloudmonitor.yaml
  receiver/googlecloudmonitoringreceiver/internal/metadata/generated_status.go
  receiver/googlecloudmonitoringreceiver/metadata.yaml
Labels: receiver/googlecloudmonitoring

#34710 [exporter/splunkhec] update scope name
  .chloggen/codeboten_scope-splunkhec.yaml
  exporter/splunkhecexporter/internal/metadata/generated_telemetry.go
  exporter/splunkhecexporter/internal/metadata/generated_telemetry_test.go
Labels: exporter/splunkhec

#34712 [pkg/translator/azure] update scope name
  .chloggen/codeboten_scope-azureresource.yaml
  pkg/translator/azure/resourcelogs_to_logs.go
  pkg/translator/azure/resourcelogs_to_logs_test.go
  pkg/translator/azure/resources_to_traces.go
Labels: pkg/translator/azure

#34673 fix nil value conversion
  .chloggen/pkg-stanza-nil-handling.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#34354 [chore] group all cloud.google.com/go mod updates
  renovate.json
Labels: Stale, ci-cd

#34711 [receiver/datadog] update scope name
  .chloggen/codeboten_scope-datadogreceiver.yaml
  receiver/datadogreceiver/internal/translator/batcher.go
  receiver/datadogreceiver/internal/translator/series_test.go
  receiver/datadogreceiver/internal/translator/testutil.go
Labels: receiver/datadog

#34554 [connector/datadog] Add a config bucket_interval
  .chloggen/dd-conn-bkt-size.yaml
  connector/datadogconnector/README.md
  connector/datadogconnector/config.go
  connector/datadogconnector/config_test.go
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/examples/config.yaml
  connector/datadogconnector/factory.go
  connector/datadogconnector/factory_test.go
Labels: connector/datadog

#34716 fix: Spelling mistake
  connector/spanmetricsconnector/README.md
Labels: documentation, Skip Changelog, connector/spanmetrics

#34708 [receiver/vcenter] Change Host Perf Metric Reported Datapoints From 5 to 1
  .chloggen/vcenter-receiver_remove_extra_host_perf_metrics.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/host-performance-counters.xml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#34713 add example config
  receiver/filestatsreceiver/README.md
Labels: documentation, Skip Changelog, receiver/filestats

#34722 [chore] Fix failing test on windows
  internal/rabbitmq/client_test.go
Labels: Run Windows, internal/rabbitmq

#34573 [cmd/opampsupervisor] Fix windows support
  .chloggen/fix_supervisor-windows-signalling.yaml
  .github/workflows/e2e-tests-windows.yml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/supervisor/commander/commander_others.go
  cmd/opampsupervisor/supervisor/commander/commander_windows.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/collector/split_config.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_accepts_conn.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_agent_description.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_nocap.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_persistence.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_test.yaml
Labels: os:windows, Run Windows, cmd/opampsupervisor
