Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-01, with the labels that each got.

#30255 docs: Fiix OTTL Span Context Table Layout
  pkg/ottl/contexts/ottlspan/README.md
Labels: Skip Changelog, pkg/ottl

#30184 Remove tanzuexporter
  .chloggen/rmtanzu.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/tanzuobservabilityexporter/Makefile
  exporter/tanzuobservabilityexporter/README.md
  exporter/tanzuobservabilityexporter/config.go
  exporter/tanzuobservabilityexporter/config_test.go
  exporter/tanzuobservabilityexporter/factory.go
  exporter/tanzuobservabilityexporter/factory_test.go
  exporter/tanzuobservabilityexporter/go.mod
  exporter/tanzuobservabilityexporter/go.sum
  exporter/tanzuobservabilityexporter/internal/metadata/generated_status.go
  exporter/tanzuobservabilityexporter/metadata.yaml
  exporter/tanzuobservabilityexporter/metrics.go
  exporter/tanzuobservabilityexporter/metrics_exporter.go
  exporter/tanzuobservabilityexporter/metrics_exporter_test.go
  exporter/tanzuobservabilityexporter/metrics_test.go
  exporter/tanzuobservabilityexporter/testdata/config.yaml
  exporter/tanzuobservabilityexporter/trace_exporter.go
  exporter/tanzuobservabilityexporter/trace_exporter_test.go
  exporter/tanzuobservabilityexporter/transformer.go
  exporter/tanzuobservabilityexporter/transformer_test.go
  go.mod
  go.sum
  internal/components/components.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: exporter/tanzuobservability, cmd/configschema, cmd/otelcontribcol, reports/distributions/contrib.yaml

#30270 Fix typo in OTTL readme
  pkg/ottl/README.md
Labels: documentation, ready to merge, Skip Changelog, pkg/ottl

#29694 refactor: swap mssql driver to 'microsoft' driver
  .chloggen/swap-mssqldriver.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/sqlqueryreceiver/db_client.go
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
Labels: receiver/sqlquery, cmd/configschema, cmd/otelcontribcol

#30283 [chore] fix typos
  processor/spanprocessor/span_test.go
Labels: processor/span

#30282 [chore] add aws s3 exporter to splunk distribution
  exporter/awss3exporter/README.md
  exporter/awss3exporter/metadata.yaml
  reports/distributions/splunk.yaml
Labels: exporter/awss3, reports/distributions/splunk.yaml

#30281 [chore] fix typo
  receiver/awscontainerinsightreceiver/design.md
Labels: receiver/awscontainerinsight

#29929 Fix handling of the `%z` strptime format.
  .chloggen/time-zulu.yaml
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
Labels: internal/core

#28904 [chore] testbed: sending queue otlp
  testbed/testbed/mock_backend.go
  testbed/testbed/results.go
  testbed/testbed/test_case.go
  testbed/testbed/validator.go
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: testbed

#30284 [chore] update jose2go
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
Labels: receiver/sqlquery, cmd/configschema, cmd/otelcontribcol, receiver/snowflake

#30288 fix: correct a typo, mertrics->metrics
  exporter/datadogexporter/factory.go
Labels: exporter/datadog, Skip Changelog

#30085 [connector/datadogconnector] Feature Gate to resolve Memory issues
  .chloggen/datadog-connector-memory-issue.yaml
  connector/datadogconnector/README.md
  connector/datadogconnector/connector.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  internal/datadog/agent.go
  internal/datadog/go.mod
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, processor/datadog, internal/datadog, connector/datadog

#30280 [chore] remove setenv function, unused
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity_test.go
Labels: receiver/awscontainerinsight

#30276 [chore] add mention of `golden.WriteTraces` to README
  pkg/golden/README.md
Labels: documentation, pkg/golden

#30291 [chore] more jose2go updates
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
Labels: dependencies, exporter/pulsar, receiver/pulsar

#30278 apachespark: propagate application list errors
  .chloggen/sparkmarshaluperror.yaml
  receiver/apachesparkreceiver/scraper.go
  receiver/apachesparkreceiver/scraper_test.go
Labels: receiver/apachespark

#30269 [receiver/haproxy] support empty values
  .chloggen/support_empty_values.yaml
  receiver/haproxyreceiver/scraper.go
  receiver/haproxyreceiver/scraper_test.go
  receiver/haproxyreceiver/testdata/30252_stats.txt
  receiver/haproxyreceiver/testdata/scraper/30252_expected.yaml
Labels: receiver/haproxy

#30301 [chore] testbed: fix k8s log datasenders
  testbed/datasenders/k8s.go
Labels: testbed

#30300 [chore] error out on codeowners in allowlist not used anywhere
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#30298 [chore][receiver/cloudfoundry] move codeowner to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/metadata.yaml
Labels: receiver/cloudfoundry, cmd/githubgen

#30292 [chore][processor/redaction] move codeowner to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  processor/redactionprocessor/README.md
  processor/redactionprocessor/metadata.yaml
Labels: processor/redaction, cmd/githubgen

#30290 [chore] testbed: use available port for correctness internal metrics config
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/testbed/utils.go
Labels: testbed

#30277 [golden] use testing.TB as argument
  .chloggen/use_testing_tb_golden.yaml
  pkg/golden/golden.go
Labels: pkg/golden

#30259 [chore][internal/filterset] Remove outdated and incorrect comment
  internal/filter/filterset/regexp/regexpfilterset.go
Labels: internal/filter

#30296 [chore] remove members of the allowlist
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#30302 fix: update reference link for language definition
  pkg/stanza/docs/types/expression.md
  receiver/receivercreator/README.md
Labels: Skip Changelog, pkg/stanza, receiver/receivercreator

#30304 [chore] sanitize use of configopaque.String
  exporter/logzioexporter/factory.go
  receiver/elasticsearchreceiver/client.go
  receiver/saphanareceiver/client.go
Labels: receiver/elasticsearch, exporter/logzio, receiver/saphana

#30279 [chore]add integration test
  receiver/filestatsreceiver/go.mod
  receiver/filestatsreceiver/go.sum
  receiver/filestatsreceiver/integration_test.go
  receiver/filestatsreceiver/testdata/integration/expected.yaml
Labels: receiver/filestats

#29915 [hostmetrics] change cpu.load.average metric units
  .chloggen/host-metrics-units.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
Labels: receiver/hostmetrics

#30106 [chore][cmd/mdatagen] Properly test bytes attribute type
  cmd/mdatagen/loader.go
Labels: Stale, cmd/mdatagen

#30306 [receiver/hostmetrics] Add system.memory.limit metric
  .chloggen/mx-psi_system.memory.limit.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_config.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_config_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/generated_metrics_test.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/internal/metadata/testdata/config.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
Labels: receiver/hostmetrics

#30313 [chore][receiver/podman] Fix lint on Windows
  receiver/podmanreceiver/factory.go
  receiver/podmanreceiver/receiver_windows.go
Labels: receiver/podman

#30312 [chore][receiver/sqlserver] Fix lint on Windows
  receiver/sqlserverreceiver/factory_windows.go
  receiver/sqlserverreceiver/factory_windows_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
Labels: receiver/sqlserver

#30311 [chore][receiver/windowseventlog] Fix lint on Windows
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: receiver/windowseventlog

#30294 [chore][exporter/skywalking] remove codeowner
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  exporter/skywalkingexporter/README.md
  exporter/skywalkingexporter/metadata.yaml
Labels: exporter/skywalking, cmd/githubgen

#30293 [chore][extension/basicauth] remove codeowner
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  extension/basicauthextension/README.md
  extension/basicauthextension/metadata.yaml
Labels: extension/basicauth, cmd/githubgen

#30286 fix/sanitize exponential retry defaults
  .chloggen/prometheusremotewrite_sanitize_retry_defaults.yaml
  exporter/prometheusremotewriteexporter/factory.go
Labels: exporter/prometheusremotewrite

#30315 wavefrontreceiver: Return error if partially quoted
  .chloggen/fixpartialquote.yaml
  receiver/wavefrontreceiver/wavefront_parser.go
  receiver/wavefrontreceiver/wavefront_parser_test.go
Labels: receiver/wavefront

#30162 [pkg/ottl] Validate Keys are used
  .chloggen/ottl-validate-key.yaml
  pkg/ottl/contexts/internal/map.go
  pkg/ottl/contexts/internal/map_test.go
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/slice.go
  pkg/ottl/contexts/internal/slice_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/internal/value.go
  pkg/ottl/contexts/internal/value_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#30152 [pkg/ottl] Add e2e tests
  pkg/ottl/CONTRIBUTING.md
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
  pkg/ottl/ottlfuncs/README.md
Labels: Skip Changelog, pkg/ottl

#23790 [exporter/prometheusexporter] accumulate delta temporality histograms
  .chloggen/promexp-delta.yaml
  exporter/prometheusexporter/accumulator.go
  exporter/prometheusexporter/accumulator_test.go
Labels: ready to merge, exporter/prometheus

#30019 Added metric and log support
  .chloggen/failover-PR3.yaml
  connector/failoverconnector/logs.go
  connector/failoverconnector/logs_test.go
  connector/failoverconnector/metrics.go
  connector/failoverconnector/metrics_test.go
Labels: connector/failover

#30295 [chore][receiver/googlecloudspanner] move codeowners to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/googlecloudspannerreceiver/README.md
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: receiver/googlecloudspanner, cmd/githubgen

#29408 (pkg/ottl) Fix issue with the hash value of a match subgroup in the replace_pattern editors
  .chloggen/fix-hash-value.yaml
  pkg/ottl/ottlfuncs/func_replace_all_matches_test.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
  pkg/ottl/ottlfuncs/func_replace_match_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/ottl/ottlfuncs/func_replace_pattern_test.go
Labels: ready to merge, cmd/otelcontribcol, pkg/ottl

#30017 [chore] move logstransform processor to generated lifecycle tests
  processor/logstransformprocessor/generated_component_test.go
  processor/logstransformprocessor/metadata.yaml
  processor/logstransformprocessor/processor.go
Labels: processor/logstransform

#20768 [exporter/logzioexporter] Added scope name to exported logs
  .chloggen/logzio-log-scope.yaml
  exporter/logzioexporter/README.md
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/exporter_test.go
  exporter/logzioexporter/jsonlog.go
  exporter/logzioexporter/jsonlog_test.go
Labels: exporter/logzio

#28625 chore: add support for json codec in jaeger
  .chloggen/add-json-jaeger.yaml
  extension/encoding/jaegerencodingextension/config.go
  extension/encoding/jaegerencodingextension/extension.go
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/jaeger.go
  extension/encoding/jaegerencodingextension/jaeger_test.go
Labels: Stale, ready to merge, extension/encoding, extension/encoding/jaegerencoding

#30339 [chore][pkg/stanza] Fix lint on Windows
  pkg/stanza/fileconsumer/file_windows.go
  pkg/stanza/operator/input/journald/journald_nonlinux.go
  pkg/stanza/operator/input/namedpipe/namedpipe_nonlinux.go
  pkg/stanza/operator/input/windows/api.go
  pkg/stanza/operator/input/windows/bookmark.go
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/operator.go
  pkg/stanza/operator/input/windows/publishercache_test.go
  pkg/stanza/operator/input/windows/subscription.go
Labels: pkg/stanza, Run Windows

#30274 [receiver/vcenter] add statement of support for version 8 of ESXi and vCenter
  .chloggen/add_supported_version_8.yaml
  receiver/vcenterreceiver/README.md
Labels: receiver/vcenter

#27239 Kinetica exporter/pr 2 metrics
  .chloggen/kinetica-exporter_PR-2-metrics.yaml
  exporter/kineticaexporter/common.go
  exporter/kineticaexporter/config.go
  exporter/kineticaexporter/exporter_metric_test.go
  exporter/kineticaexporter/go.mod
  exporter/kineticaexporter/go.sum
  exporter/kineticaexporter/metrics_exporter.go
  exporter/kineticaexporter/writer.go
Labels: exporter/loadbalancing, exporter/kinetica

#30191 [receiver/filestats] add file.count metric
  .chloggen/filestats_filecount.yaml
  receiver/filestatsreceiver/documentation.md
  receiver/filestatsreceiver/internal/metadata/generated_config.go
  receiver/filestatsreceiver/internal/metadata/generated_config_test.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics.go
  receiver/filestatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/filestatsreceiver/internal/metadata/testdata/config.yaml
  receiver/filestatsreceiver/metadata.yaml
  receiver/filestatsreceiver/scraper.go
  receiver/filestatsreceiver/scraper_test.go
Labels: ready to merge, receiver/filestats

#30379 [chore] [exporter/elasticsearch] Use t.Setenv in the tests
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: Skip Changelog, exporter/elasticsearch

#29681 [cmd/telemetrygen] Add TLS/mTLS support to telemetrygen
  .chloggen/juliaj_telemetrygen-tls-mtls-support.yaml
  Makefile
  cmd/telemetrygen/README.md
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/common/tls_utils.go
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/metrics/exporter.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/internal/traces/exporter.go
  cmd/telemetrygen/internal/traces/traces.go
  examples/secure-tracing/README.md
  examples/secure-tracing/certs/Makefile
  examples/secure-tracing/certs/ca.ext
  examples/secure-tracing/certs/envoy.ext
  examples/secure-tracing/certs/otel-collector.ext
  examples/secure-tracing/certs/tracing-client.ext
  examples/secure-tracing/docker-compose.yaml
  examples/secure-tracing/envoy-config.yaml
  examples/secure-tracing/otel-collector-config.yaml
Labels: cmd/telemetrygen

#30236 [pkg/stanza][receiver/filelog] fix panic when upgrading from `v0.71.0`
  .chloggen/fix-stanza-panic.yaml
  pkg/stanza/fileconsumer/internal/checkpoint/checkpoint.go
  pkg/stanza/fileconsumer/internal/checkpoint/checkpoint_test.go
Labels: ready to merge, receiver/filelog, pkg/stanza

#30386 [chore]ReportComponentStatus -> ReportStatus
  extension/healthcheckextension/healthcheckextension.go
  extension/jaegerremotesampling/internal/http.go
  extension/observer/ecsobserver/extension.go
  extension/observer/ecsobserver/extension_test.go
  extension/remotetapextension/extension.go
  receiver/cloudflarereceiver/logs.go
  receiver/collectdreceiver/receiver.go
Labels: extension/healthcheck, receiver/collectd, extension/observer, extension/jaegerremotesampling, receiver/cloudflare, extension/remotetap

#29684 [exporter/azuremonitor] Fix: Correct Placement of Span Attributes in AzureMonitorExporter
  .chloggen/azuremonitorexporter-fix-span-attributes-in-properties.yaml
  exporter/azuremonitorexporter/trace_to_envelope.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
Labels: ready to merge, exporter/azuremonitor

#30243 [exporter/alibabacloudlogservice] Upgrade code to adopt new aliyun-log-go-sdk version
  exporter/alibabacloudlogserviceexporter/uploader.go
Labels: exporter/alibabacloudlogservice, Skip Changelog

#30390 [chore] move alibabacloudlogservice exporter to generated lifecycle tests
  exporter/alibabacloudlogserviceexporter/generated_component_test.go
  exporter/alibabacloudlogserviceexporter/metadata.yaml
Labels: exporter/alibabacloudlogservice

#30396 [chore] Update confignet usage
  extension/pprofextension/pprofextension.go
  receiver/zookeeperreceiver/scraper.go
Labels: receiver/zookeeper, extension/pprof

#30395 [chore] Fix minor typo
  README.md
Labels: ready to merge, Skip Changelog

#30392 [chore] move healthcheck extension to generated lifecycle tests
  extension/healthcheckextension/generated_component_test.go
  extension/healthcheckextension/healthcheckextension_test.go
  extension/healthcheckextension/metadata.yaml
Labels: extension/healthcheck, receiver/activedirectoryds

#30387 K8sattributes lifecycle
  .chloggen/k8sattributes_lifecycle.yaml
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/generated_component_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: processor/k8sattributes

#30388 [chore] remove processors_test.go from otelcontribcol
  cmd/otelcontribcol/processors_test.go
Labels: cmd/otelcontribcol

#30316 [exporter/awscloudwatchlogs] Feat: include scope in log record of cloudwatchlogs exporter
  .chloggen/add_scope_awscloudwatchlogsexporter.yaml
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
Labels: ready to merge, exporter/awscloudwatchlogs

#30172 [chore] Docs/seed docs folder with some testing information
  docs/testing.md
Labels: ready to merge, Skip Changelog

#30018 Fix filelog parser configuration in testbed senders
  testbed/datasenders/stanza.go
Labels: ready to merge, Skip Changelog, testbed

#29919 [chore][connector/servicegraph][processor/servicegraph] Cleanup and copy configuration README
  connector/servicegraphconnector/README.md
  processor/servicegraphprocessor/README.md
Labels: documentation, ready to merge, processor/servicegraph, connector/servicegraph

#29893 [chore] testbed: re-add missing names in perfTestDataProvider metrics
  testbed/testbed/data_providers.go
  testbed/tests/metric_test.go
Labels: ready to merge, Skip Changelog, testbed

#30363 [receiver/elasticsearch] Fix nil panic on non-linux systems
  .chloggen/fix_elasticsearch-nilpanic.yaml
  receiver/elasticsearchreceiver/client_test.go
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/elasticsearchreceiver/scraper.go
  receiver/elasticsearchreceiver/scraper_test.go
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_linux.yaml
  receiver/elasticsearchreceiver/testdata/expected_metrics/full_other.yaml
  receiver/elasticsearchreceiver/testdata/sample_payloads/nodes_stats_other.json
Labels: receiver/elasticsearch

#30399 [exporter/honeycombmarker] Update tests
  exporter/honeycombmarkerexporter/logs_exporter_test.go
Labels: Skip Changelog, exporter/honeycombmarker

#30307 Remove invalid config field from README
  exporter/googlecloudexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/googlecloud

#30401 [connector/spanmetrics] Added @portertech to codeowners
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/metadata.yaml
Labels: Skip Changelog, connector/spanmetrics

#30402 [exporter/honeycombmarker] Separate config and exporter struct
  exporter/honeycombmarkerexporter/README.md
  exporter/honeycombmarkerexporter/config.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  exporter/honeycombmarkerexporter/logs_exporter_test.go
Labels: Skip Changelog, exporter/honeycombmarker

#30303 testbed: refactor TestCase with broken out LoadGenerator interface
  .chloggen/testbedloadgenerator.yaml
  testbed/README.md
  testbed/testbed/load_generator.go
  testbed/testbed/mock_backend_test.go
  testbed/testbed/senders.go
  testbed/testbed/test_case.go
  testbed/tests/e2e_test.go
  testbed/tests/mockbackend.log
  testbed/tests/resource_processor_test.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: testbed

#30308 [exporter/prometheusremotewrite] Fix: Validate context is canceled during retries
  .chloggen/fix_context_retries_prw.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#30407 [exporter/splunkhec] batch by index and access token
  .chloggen/add_multi_keys_batchperresourceattr.yaml
  exporter/splunkhecexporter/factory.go
  pkg/batchperresourceattr/batchperresourceattr.go
  pkg/batchperresourceattr/batchperresourceattr_test.go
Labels: exporter/splunkhec, pkg/batchperresourceattr

#29565 Redis replica offset
  .chloggen/redis_replica_offset.yaml
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/integration_test.go
  receiver/redisreceiver/internal/metadata/generated_config.go
  receiver/redisreceiver/internal/metadata/generated_config_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/testdata/config.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/metric_functions.go
  receiver/redisreceiver/redis_scraper_test.go
  receiver/redisreceiver/testdata/integration/Dockerfile.cluster
  receiver/redisreceiver/testdata/integration/cluster.sh
  receiver/redisreceiver/testdata/integration/configure-nodes.sh
  receiver/redisreceiver/testdata/integration/expected-cluster.yaml
  receiver/redisreceiver/testdata/integration/expected-old.yaml
  receiver/redisreceiver/testdata/integration/redis-cluster.conf
Labels: receiver/redis, cmd/configschema, cmd/otelcontribcol

#30348 [receiver/kubeletstats] Use pdata to improve assertions in unit tests
  receiver/kubeletstatsreceiver/scraper_test.go
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metadata_Container_Metadata_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metadata_Volume_Metadata_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_all_groups_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_container_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_node_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_pod_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_only_volume_group_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_metric_groups_pod_and_node_groups_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_percent_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_do_not_collect_detailed_labels_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_empty_volume_name_in_pvc_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_non_existent_volume_in_pvc_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_pvc_doesnot_exist_expected.yaml
  receiver/kubeletstatsreceiver/testdata/scraper/test_scraper_with_pvc_labels_successful_expected.yaml
Labels: Skip Changelog, receiver/kubeletstats

#30409 [chore] skip this integration test due to flakiness
  receiver/redisreceiver/integration_test.go
Labels: receiver/redis

#30423 [chore] move remotetap extension to generated lifecycle tests
  extension/remotetapextension/generated_component_test.go
  extension/remotetapextension/go.mod
  extension/remotetapextension/go.sum
  extension/remotetapextension/metadata.yaml
Labels: extension/remotetap

#30427 [chore] move pprof extension to generated lifecycle tests
  extension/pprofextension/generated_component_test.go
  extension/pprofextension/metadata.yaml
Labels: extension/pprof

#30398 Kinetica exporter/pr 2 metrics - updated orderedmap version to v2
  exporter/kineticaexporter/go.mod
  exporter/kineticaexporter/go.sum
  exporter/kineticaexporter/writer.go
Labels: Skip Changelog, exporter/kinetica

#30381 [testbed] Remove unused AWS X-Ray mock receiver
  .chloggen/breaking-remove-unused-AwsXray-tesbed-mock-receiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  extension/healthcheckextension/go.mod
  go.mod
  testbed/datareceivers/mockawsxraydatareceiver.go
  testbed/go.mod
  testbed/mockdatareceivers/mockawsxrayreceiver/Makefile
  testbed/mockdatareceivers/mockawsxrayreceiver/config.go
  testbed/mockdatareceivers/mockawsxrayreceiver/factory.go
  testbed/mockdatareceivers/mockawsxrayreceiver/go.mod
  testbed/mockdatareceivers/mockawsxrayreceiver/go.sum
  testbed/mockdatareceivers/mockawsxrayreceiver/metadata.yaml
  testbed/mockdatareceivers/mockawsxrayreceiver/server.crt
  testbed/mockdatareceivers/mockawsxrayreceiver/server.key
  testbed/mockdatareceivers/mockawsxrayreceiver/trace_receiver.go
  versions.yaml
Labels: extension/healthcheck, cmd/configschema, cmd/otelcontribcol, testbed

#30426 [chore] move opamp extension to generated lifecycle tests
  extension/opampextension/generated_component_test.go
  extension/opampextension/metadata.yaml
Labels: extension/opamp

#30421 [chore] move sigv4auth extension to generated lifecycle tests
  extension/sigv4authextension/generated_component_test.go
  extension/sigv4authextension/metadata.yaml
Labels: extension/sigv4auth

#30428 [chore] move bearertokenauth extension to generated lifecycle tests
  extension/bearertokenauthextension/generated_component_test.go
  extension/bearertokenauthextension/metadata.yaml
Labels: extension/bearertokenauth

#30389 [chore] move lifecycle tests to alertmanagerexporter
  exporter/alertmanagerexporter/generated_component_test.go
  exporter/alertmanagerexporter/go.mod
  exporter/alertmanagerexporter/metadata.yaml
Labels: ready to merge, exporter/alertmanager

#30183 exporter: add metadata distributions for opensearch exporter
  .chloggen/os-exporter-distrib.yaml
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, exporter/opensearch, reports/distributions/contrib.yaml

#30419 [chore] move sshcheck receiver to generated lifecycle tests
  receiver/sshcheckreceiver/generated_component_test.go
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck

#30450 [chore] fix genotelcontribcol
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#29672 feat(receiver/sqlquery): add debug log when running SQL query
  .chloggen/sqlquery-debug-logs.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config.go
  receiver/sqlqueryreceiver/db_client.go
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/receiver_test.go
  receiver/sqlqueryreceiver/scraper.go
  receiver/sqlqueryreceiver/scraper_test.go
Labels: ready to merge, receiver/sqlquery

#30429 [chore] move clickhouse exporter to generated lifecycle tests
  exporter/clickhouseexporter/generated_component_test.go
  exporter/clickhouseexporter/metadata.yaml
Labels: exporter/clickhouse

#30456 [chore] make generate
  exporter/clickhouseexporter/generated_component_test.go
Labels: exporter/clickhouse

#30447 [chore] move extension/encoding/jsonlogencodingextension to generated tests
  extension/encoding/jsonlogencodingextension/doc.go
  extension/encoding/jsonlogencodingextension/generated_component_test.go
  extension/encoding/jsonlogencodingextension/go.mod
  extension/encoding/jsonlogencodingextension/internal/metadata/generated_status.go
  extension/encoding/jsonlogencodingextension/metadata.yaml
Labels: extension/encoding

#30463 [chore] fix invalid comment
  exporter/splunkhecexporter/batchperscope_test.go
Labels: exporter/splunkhec

#30460 [extension/oidcauth] move validation logic to the configuration
  .chloggen/move_validation_to_config.yaml
  extension/oidcauthextension/config.go
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
  extension/oidcauthextension/factory.go
Labels: extension/oidcauth

#30446 [chore] move extension/encoding/jaegerencodingextension to generated tests
  extension/encoding/jaegerencodingextension/generated_component_test.go
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/metadata.yaml
Labels: extension/encoding

#30445 [chore] move extension/encoding/otlpencodingextension to generated lifecycle tests
  extension/encoding/otlpencodingextension/generated_component_test.go
  extension/encoding/otlpencodingextension/go.mod
  extension/encoding/otlpencodingextension/metadata.yaml
Labels: extension/encoding

#30443 [chore] move extension/encoding/textencodingextension to generated lifecycle tests
  extension/encoding/textencodingextension/generated_component_test.go
  extension/encoding/textencodingextension/go.mod
  extension/encoding/textencodingextension/metadata.yaml
Labels: extension/encoding

#30417 [chore] move memcached receiver to generated lifecycle tests
  receiver/memcachedreceiver/doc.go
  receiver/memcachedreceiver/generated_component_test.go
  receiver/memcachedreceiver/metadata.yaml
Labels: receiver/memcached

#30416 [chore] move loki receiver to generated lifecycle tests
  receiver/lokireceiver/generated_component_test.go
  receiver/lokireceiver/metadata.yaml
Labels: receiver/loki

#30415 [chore] move mongodb receiver to generated lifecycle tests
  receiver/mongodbreceiver/generated_component_test.go
  receiver/mongodbreceiver/metadata.yaml
Labels: receiver/mongodb

#30414 [chore] move saphana receiver to generated lifecycle tests
  receiver/saphanareceiver/doc.go
  receiver/saphanareceiver/generated_component_test.go
  receiver/saphanareceiver/metadata.yaml
Labels: receiver/saphana

#30431 [exporter/logicmonitor] Update the lm-data-sdk-go version to v1.2.0 and fix error handling issue
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/go.sum
  exporter/logicmonitorexporter/internal/logs/sender.go
  exporter/logicmonitorexporter/internal/traces/sender.go
  go.mod
  go.sum
Labels: Skip Changelog, cmd/configschema, cmd/otelcontribcol, exporter/logicmonitor

#30471 [chore] add tests for connectors, add test for countconnector
  cmd/mdatagen/main.go
  cmd/mdatagen/templates/component_test.go.tmpl
  connector/countconnector/generated_component_test.go
  connector/countconnector/metadata.yaml
Labels: cmd/mdatagen, connector/count

#30343 [receiver/k8scluster] Add Node resource attributes
  .chloggen/k8scluster_add-resource-attributes.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/node/testdata/expected_optional.yaml
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#30469 [extension/oauth2clientauth] Remove duplicate validation logic
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/factory_test.go
Labels: Skip Changelog, extension/oauth2clientauth

#29848 [cmd/opampsupervisor] Implement Collector bootstrapping
  .chloggen/supervisor-bootstrapping.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/server.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/bootstrap.yaml
  cmd/opampsupervisor/supervisor/templates/extraconfig.yaml
  cmd/opampsupervisor/supervisor/templates/owntelemetry.yaml
  cmd/opampsupervisor/testdata/collector/effective_config.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_test.yaml
Labels: cmd/opampsupervisor

#30490 [chore] add generated lifecycle tests
  connector/exceptionsconnector/generated_component_test.go
  connector/exceptionsconnector/metadata.yaml
Labels: connector/exceptions

#30488 [chore] add generated lifecycle tests
  connector/spanmetricsconnector/generated_component_test.go
  connector/spanmetricsconnector/metadata.yaml
Labels: connector/spanmetrics

#30391 [chore] move awscloudwatchlogs exporter to generated lifecycle tests
  exporter/awscloudwatchlogsexporter/generated_component_test.go
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/metadata.yaml
Labels: exporter/awscloudwatchlogs

#30489 [chore] add generated lifecycle tests
  connector/servicegraphconnector/generated_component_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/metadata.yaml
Labels: connector/servicegraph

#30425 [chore] move oidcauth extension to generated lifecycle tests
  extension/oidcauthextension/generated_component_test.go
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/metadata.yaml
Labels: extension/oidcauth

#30498 [cmd/mdatagen] prepare deprecation
  .chloggen/deprecate_mdatagen.yaml
  cmd/mdatagen/doc.go
Labels: cmd/mdatagen

#30515 [chore] move azuremonitor exporter to generated lifecycle tests
  exporter/azuremonitorexporter/generated_component_test.go
  exporter/azuremonitorexporter/metadata.yaml
Labels: exporter/azuremonitor

#30548 [chore] fix invalid comment
  receiver/vcenterreceiver/client.go
Labels: receiver/vcenter

#30547 [chore] finish sentence
  receiver/vcenterreceiver/client.go
Labels: receiver/vcenter

#30510 [chore] skywalking receiver ReportFatalError -> ReportStatus
  receiver/skywalkingreceiver/skywalking_receiver.go
Labels: receiver/skywalking

#27841 [exporter/cassandra] Added authorization by username and password
  .chloggen/cassandraexporter-add-authorization.yaml
  exporter/cassandraexporter/README.md
  exporter/cassandraexporter/config.go
  exporter/cassandraexporter/exporter_logs.go
  exporter/cassandraexporter/exporter_logs_test.go
  exporter/cassandraexporter/exporter_traces.go
  exporter/cassandraexporter/go.mod
  exporter/cassandraexporter/go.sum
Labels: cmd/mdatagen, cmd/configschema, cmd/otelcontribcol, exporter/cassandra, cmd/opampsupervisor, cmd/githubgen

#30505 [chore] statsd receiver ReportFatalError -> ReportStatus
  receiver/statsdreceiver/factory_test.go
  receiver/statsdreceiver/receiver.go
Labels: receiver/statsd

#30509 [chore] prometheus receiver ReportFatalError -> ReportStatus
  receiver/prometheusreceiver/metrics_receiver.go
Labels: receiver/prometheus

#30544 [chore] move sentry exporter to generated lifecycle tests
  exporter/sentryexporter/generated_component_test.go
  exporter/sentryexporter/metadata.yaml
Labels: exporter/sentry

#30507 [chore] sapm receiver ReportFatalError -> ReportStatus
  receiver/sapmreceiver/trace_receiver.go
Labels: receiver/sapm

#30508 [chore] splunkhec receiver ReportFatalError -> ReportStatus
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec

#30502 [chore] opencensus receiver ReportFatalError -> ReportStatus
  receiver/opencensusreceiver/opencensus.go
Labels: receiver/opencensus

#30503 [chore] zipkin receiver ReportFatalError -> ReportStatus
  receiver/zipkinreceiver/trace_receiver.go
Labels: receiver/zipkin

#30504 [chore] webhookevent receiver ReportFatalError -> ReportStatus
  receiver/webhookeventreceiver/receiver.go
Labels: receiver/webhookevent

#30499 Updates documentation on how to send a test metric to the statsd receiver
  receiver/statsdreceiver/README.md
Labels: receiver/statsd, Skip Changelog

#30569 [chore] carbon receiver ReportFatalError -> ReportStatus
  receiver/carbonreceiver/receiver.go
Labels: receiver/carbon

#30513 [chore] move awsxray exporter to generated lifecycle tests
  exporter/awsxrayexporter/generated_component_test.go
  exporter/awsxrayexporter/metadata.yaml
Labels: exporter/awsxray

#30613 [chore][receiver/cloudfoundry] Use ReportStatus instead of ReportFatalError
  receiver/cloudfoundryreceiver/receiver.go
Labels: receiver/cloudfoundry

#30616 [receiver/vcenter] Bump receiver.vcenter.emitPerfMetricsWithObjects feature gate
  .chloggen/bump-vcenter-gate.yaml
  receiver/vcenterreceiver/README.md
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected_without_objects.yaml
Labels: receiver/vcenter

#30543 [chore] move sapm exporter to generated lifecycle tests
  exporter/sapmexporter/generated_component_test.go
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/metadata.yaml
Labels: exporter/sapm

#29901 Refactor prometheusreceiver config to avoid some custom unmarshal work
  .chloggen/refactorprom.yaml
  cmd/otelcontribcol/receivers_test.go
  exporter/prometheusexporter/end_to_end_test.go
  exporter/prometheusexporter/go.mod
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_honor_timestamp_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/metrics_reciever_metric_rename_test.go
  receiver/purefareceiver/receiver.go
  receiver/purefbreceiver/metrics_receiver.go
  receiver/simpleprometheusreceiver/receiver.go
  receiver/simpleprometheusreceiver/receiver_test.go
  testbed/datareceivers/prometheus.go
Labels: receiver/prometheus, cmd/otelcontribcol, exporter/prometheus, receiver/simpleprometheus, receiver/purefa, testbed, receiver/purefb

#30268 kafka receiver exposes some metrics by partition (fixes #30177)
  .chloggen/fix_kafka_receiver_metrics.yaml
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/metrics.go
  receiver/kafkareceiver/metrics_test.go
Labels: receiver/kafka

#30630 [chore] mongodbatlas receiver ReportFatalError -> ReportStatus
  receiver/mongodbatlasreceiver/alerts.go
Labels: receiver/mongodbatlas

#30449 [pkg/stanza] Consolidate attribute code into single package
  .chloggen/pkg-stanza-reader-attributes-refactor.yaml
  pkg/stanza/attrs/attrs.go
  pkg/stanza/fileconsumer/attrs/attrs.go
  pkg/stanza/fileconsumer/attrs/attrs_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/reader/attributes_test.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/factory_test.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#30638 [chore] k8scluster receiver ReportFatalError -> ReportStatus
  receiver/k8sclusterreceiver/receiver.go
Labels: receiver/k8scluster

#30646 Fix jmxreceiver resource_attributes example
  receiver/jmxreceiver/README.md
Labels: Skip Changelog, receiver/jmx

#30455 [pkg/ottl] Add flatten function
  .chloggen/ottl-flatten-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_flatten.go
  pkg/ottl/ottlfuncs/func_flatten_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#30535 [chore] move logzio exporter to generated lifecycle tests
  exporter/logzioexporter/generated_component_test.go
  exporter/logzioexporter/metadata.yaml
Labels: exporter/logzio

#30623 [chore][pkg/stanza] Add tests for reader.Validate
  pkg/stanza/fileconsumer/internal/reader/validate_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#30629 [chore][pkg/stanza] Removes a couple unnecessary functions from reader.Reader
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
Labels: pkg/stanza, receiver/otlpjsonfile

#30521 [chore] move dynatrace exporter to generated lifecycle tests
  exporter/dynatraceexporter/generated_component_test.go
  exporter/dynatraceexporter/go.mod
  exporter/dynatraceexporter/metadata.yaml
Labels: ready to merge, exporter/dynatrace

#30647 [chore] pprof extension ReportFatalError -> ReportStatus
  extension/pprofextension/factory.go
  extension/pprofextension/pprofextension.go
  extension/pprofextension/pprofextension_test.go
Labels: extension/pprof

#30317 [chore] Add missing openshift replacements
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: processor/resourcedetection, internal/metadataproviders

#30480 docker: adopt api_version as string to correct float limitations
  .chloggen/dockerapiversion.yaml
  extension/observer/dockerobserver/README.md
  extension/observer/dockerobserver/config.go
  extension/observer/dockerobserver/config_test.go
  extension/observer/dockerobserver/extension.go
  extension/observer/dockerobserver/testdata/config.yaml
  internal/docker/config.go
  internal/docker/config_test.go
  internal/docker/docker.go
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/config.go
  receiver/dockerstatsreceiver/config_test.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/testdata/config.yaml
Labels: receiver/dockerstats, extension/observer, internal/docker

#30476 [chore] move opensearch exporter to generated lifecycle tests
  exporter/opensearchexporter/generated_component_test.go
  exporter/opensearchexporter/go.mod
  exporter/opensearchexporter/metadata.yaml
Labels: Skip Changelog, exporter/opensearch

#30230 [chore] [exporter/alertmanagerexporter] Add exporter to components
  .chloggen/alertmanagerexporter_add_builder.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  exporter/alertmanagerexporter/generated_component_test.go
  exporter/alertmanagerexporter/metadata.yaml
Labels: cmd/otelcontribcol, exporter/alertmanager

#30519 [chore] move datadog exporter to generated lifecycle tests
  exporter/datadogexporter/generated_component_test.go
  exporter/datadogexporter/metadata.yaml
Labels: exporter/datadog
