Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-12, with the labels that each got.

#36523 [connector/routing] Add ability to route by datapoint context
  .chloggen/routing-by-datapoints-2.yaml
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/internal/pmetricutil/metrics.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
Labels: connector/routing

#36388 [chore][pkg/stanza] use `test/template` for operator format templating
  pkg/stanza/operator/output/file/config.go
  pkg/stanza/operator/output/file/output.go
Labels: pkg/stanza

#36518 [pkg/stanza][receiver/filelog] Introduce active file grouping mechanism
  .chloggen/file-grouping.yaml
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/fileconsumer/matcher/matcher_test.go
  pkg/stanza/fileconsumer/testdata/config.yaml
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#36621 [chore] update code ownership
  .github/CODEOWNERS
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/metadata.yaml
  receiver/osqueryreceiver/README.md
  receiver/osqueryreceiver/metadata.yaml
  receiver/sshcheckreceiver/README.md
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck, receiver/azuremonitor, receiver/osquery

#36622 [receiver/opencensus] Do not report error message on clean shutdown
  .chloggen/opencensus_receiver_no_error_msg_on_clean_shutdown.yaml
  receiver/opencensusreceiver/opencensus.go
  receiver/opencensusreceiver/opencensus_test.go
Labels: receiver/opencensus

#35267 [chore] Schema Processor Revamp [Part 2] - ChangeList and Revision
  processor/schemaprocessor/DESIGN.md
  processor/schemaprocessor/README.md
  processor/schemaprocessor/go.mod
  processor/schemaprocessor/internal/alias/alias.go
  processor/schemaprocessor/internal/changelist/changelist.go
  processor/schemaprocessor/internal/migrate/attributes.go
  processor/schemaprocessor/internal/migrate/attributes_test.go
  processor/schemaprocessor/internal/migrate/conditional.go
  processor/schemaprocessor/internal/migrate/conditional_test.go
  processor/schemaprocessor/internal/migrate/migrator.go
  processor/schemaprocessor/internal/migrate/multi_conditional.go
  processor/schemaprocessor/internal/migrate/multi_conditional_test.go
  processor/schemaprocessor/internal/migrate/signal.go
  processor/schemaprocessor/internal/migrate/signal_test.go
  processor/schemaprocessor/internal/transformer/attributes_operators.go
  processor/schemaprocessor/internal/transformer/attributes_test.go
  processor/schemaprocessor/internal/transformer/conditional_attributes.go
  processor/schemaprocessor/internal/transformer/conditional_attributes_test.go
  processor/schemaprocessor/internal/transformer/interface.go
  processor/schemaprocessor/internal/transformer/multi_conditional_attributes.go
  processor/schemaprocessor/internal/transformer/multi_conditional_attributes_test.go
  processor/schemaprocessor/internal/transformer/signal_name.go
  processor/schemaprocessor/internal/transformer/signal_name_test.go
  processor/schemaprocessor/internal/translation/revision_v1.go
  processor/schemaprocessor/internal/translation/revision_v1_test.go
  processor/schemaprocessor/metadata.yaml
Labels: Skip Changelog, processor/schema

#36451 [exporter/datadog] Add configurable reporter_period for host metadata
  .chloggen/add-configurable-reporter-period-for-host-metadata.yaml
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/internal/hostmetadata/config.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
  pkg/datadog/config/config.go
  pkg/datadog/config/config_test.go
  pkg/datadog/config/host.go
  pkg/datadog/config/testdata/config.yaml
Labels: exporter/datadog, pkg/datadog

#36498 [chore]: [deltatocumulative]: remove nested implementation
  processor/deltatocumulativeprocessor/chain.go
  processor/deltatocumulativeprocessor/config.go
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/internal/data/data.go
  processor/deltatocumulativeprocessor/internal/delta/delta.go
  processor/deltatocumulativeprocessor/internal/delta/delta_test.go
  processor/deltatocumulativeprocessor/internal/lineartelemetry/metrics.go
  processor/deltatocumulativeprocessor/internal/maybe/ptr.go
  processor/deltatocumulativeprocessor/internal/maybe/ptr_test.go
  processor/deltatocumulativeprocessor/internal/metrics/data.go
  processor/deltatocumulativeprocessor/internal/metrics/iter.go
  processor/deltatocumulativeprocessor/internal/metrics/metrics.go
  processor/deltatocumulativeprocessor/internal/streams/data.go
  processor/deltatocumulativeprocessor/internal/streams/data_test.go
  processor/deltatocumulativeprocessor/internal/streams/errors.go
  processor/deltatocumulativeprocessor/internal/streams/limit.go
  processor/deltatocumulativeprocessor/internal/streams/limit_test.go
  processor/deltatocumulativeprocessor/internal/streams/streams.go
  processor/deltatocumulativeprocessor/internal/telemetry/attr.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/internal/testdata/random/random.go
  processor/deltatocumulativeprocessor/internal/testing/testar/crlf/crlf.go
  processor/deltatocumulativeprocessor/internal/testing/testar/decode.go
  processor/deltatocumulativeprocessor/internal/testing/testar/read_test.go
  processor/deltatocumulativeprocessor/linear.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative

#36270 [cmd/opampsupervisor] feat: Support environment variable expansion in supervisor config
  .chloggen/opamp_supervisor_env_vars.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#36640 [chore][pkg/stanza] - Fix Flaky test TestMatcher
  pkg/stanza/fileconsumer/matcher/matcher_test.go
Labels: Skip Changelog, pkg/stanza

#35898 [postgresqlreceiver] bump supported PG version to 12
  .chloggen/bump_minimal_pg_version.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/integration_test.go
Labels: receiver/postgresql

#36652 [chore] update module github.com/google/go-github v67
  cmd/githubgen/codeowners.go
  cmd/githubgen/go.mod
  cmd/githubgen/go.sum
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: cmd/githubgen, receiver/github

#36606 [exporter/prometheusremotewrite] change feature gate to beta
  .chloggen/exporter_prometheusremotewriteexporter_deprecate-created-metric-alpha2beta.yaml
  pkg/translator/prometheusremotewrite/helper.go
Labels: ready to merge, pkg/translator/prometheus

#36482 [vcenterreceiver] TLS settings not honored for initial GetServiceContent call
  .chloggen/vcenter-tls.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/integration_test.go
Labels: receiver/vcenter

#36647 try updating jaeger
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/go.sum
Labels: Skip Changelog, extension/encoding

#36591 [chore][exporter/googlecloudpubsub] Fix goroutines leak
  .chloggen/fix-goleak-gcppubsubexporter.yaml
  exporter/googlecloudpubsubexporter/exporter.go
  exporter/googlecloudpubsubexporter/exporter_test.go
  exporter/googlecloudpubsubexporter/generated_package_test.go
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/metadata.yaml
  exporter/googlecloudpubsubexporter/publisher_client.go
  exporter/googlecloudpubsubexporter/publisher_client_test.go
  exporter/googlecloudpubsubexporter/testdata/gcp-fake-creds.json
Labels: exporter/googlecloudpubsub

#32500 [kafka/internal, kafkaexporter, kafkareceiver] Add SASL mechanism "AWS_MSK_IAM_OAUTHBEARER" to kafkaexporter
  .chloggen/kafka-exporter-aws-iam-oauth-bearer.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/kafka_exporter.go
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  internal/kafka/go.mod
  internal/kafka/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
Labels: ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/kafka, receiver/kafka, receiver/kafkametrics, cmd/oteltestbedcol, internal/kafka

#36648 [fix][googlecloudmonitoringreceiver]: remove creds check
  .chloggen/googlecloud-monitoring-receiver.yaml
  receiver/googlecloudmonitoringreceiver/receiver.go
Labels: ready to merge, receiver/googlecloudmonitoring

#36510 [exporter/datadog] add basic API key validation on startup
  .chloggen/dd-config-api-key-fix.yaml
  connector/datadogconnector/example_test.go
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/integrationtest/integration_test_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_toplevel_config.yaml
  exporter/datadogexporter/metrics_exporter_test.go
  pkg/datadog/config/config.go
  pkg/datadog/config/config_test.go
  pkg/datadog/config/testdata/config.yaml
Labels: exporter/datadog, connector/datadog, pkg/datadog

#36575 [chore][exporter/loadbalancing] Add debug statements after failed export operation
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/trace_exporter.go
Labels: exporter/loadbalancing

#35489 [chore]: Mention the possibility of having multiple instances of loadbalancingexporter
  exporter/loadbalancingexporter/README.md
Labels: exporter/loadbalancing

#36174 [pkg/ottl] Add the ottl.ParserCollection utility
  .chloggen/ottl-add-parser-collection-utility.yaml
  pkg/ottl/parser_collection.go
  pkg/ottl/parser_collection_test.go
Labels: ready to merge, pkg/ottl

#36294 fix(docs): correct snowflake receiver docs
  receiver/snowflakereceiver/README.md
  receiver/snowflakereceiver/documentation.md
  receiver/snowflakereceiver/internal/metadata/generated_metrics.go
  receiver/snowflakereceiver/internal/metadata/generated_metrics_test.go
  receiver/snowflakereceiver/metadata.yaml
Labels: documentation, Stale, Skip Changelog, receiver/snowflake

#36176 parser/keyvalue: handle escaped quotes when parsing
  .chloggen/eadams_escaped-quotes-in-keyvalue-parser.yaml
  internal/coreinternal/parseutils/parser.go
  internal/coreinternal/parseutils/parser_test.go
  pkg/stanza/operator/parser/keyvalue/parser_test.go
Labels: pkg/stanza, internal/core

#36374 [chore]: use testify instead of testing.Fatal or testing.Error in processor
  processor/attributesprocessor/factory_test.go
  processor/cumulativetodeltaprocessor/internal/tracking/identity_test.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/cumulativetodeltaprocessor/processor_test.go
  processor/deltatocumulativeprocessor/internal/testing/testar/read_test.go
  processor/deltatocumulativeprocessor/processor_test.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/metricstransformprocessor/factory_test.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
  processor/tailsamplingprocessor/internal/idbatcher/id_batcher_test.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/transformprocessor/internal/metrics/func_agregate_on_attribute_value_metrics_test.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
Labels: processor/attributes, processor/k8sattributes, processor/tailsampling, processor/metricstransform, processor/resourcedetection, processor/transform, processor/cumulativetodelta, processor/probabilisticsampler, processor/deltatocumulative

#36673 [processor/tailsampling] Allow invert matches in composite policy to continue processing
  .chloggen/tailsampling-composite-inverted-not-sample.yaml
  processor/tailsamplingprocessor/internal/sampling/and.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
Labels: processor/tailsampling

#36594 [exporter/elasticsearch] Merge *.geo.location.{lat,lon} to *.geo.location in OTel mode
  .chloggen/elasticsearchexporter_merge-geo-location.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#36668 [chore][processor/probabilisticsampler] Document clarity regarding sampling_priority configuration
  processor/probabilisticsamplerprocessor/README.md
Labels: processor/probabilisticsampler

#36683 Skip flaky tests on windows for cloudspanner receiver
  receiver/googlecloudspannerreceiver/internal/filter/itemcardinality_test.go
Labels: ready to merge, Skip Changelog, receiver/googlecloudspanner

#36692 [processor/routing] Deprecate processor
  .chloggen/deprecate-routing-processor.yaml
  connector/routingconnector/README.md
  processor/routingprocessor/README.md
  processor/routingprocessor/internal/metadata/generated_status.go
  processor/routingprocessor/metadata.yaml
Labels: processor/routing, connector/routing

#36530 [awsxrayexporter] Generate url section in xray segment when net.peer.name is available
  .chloggen/awsxrayexporter-fix-segment-gen.yaml
  exporter/awsxrayexporter/internal/translator/http.go
  exporter/awsxrayexporter/internal/translator/http_test.go
Labels: exporter/awsxray

#36687 [chore][pkg/ottl] Move new function guidelines to CONTRIBUTING.md
  pkg/ottl/CONTRIBUTING.md
  pkg/ottl/ottlfuncs/README.md
Labels: pkg/ottl

#36385 [processor/k8sattributes]: log error encountered during kube client initialisation
  .chloggen/k8sattributes-k8s-client-init-log.yaml
  processor/k8sattributesprocessor/processor.go
Labels: processor/k8sattributes

#36288 [chore] remove converter type from stanza
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/go.mod
  receiver/namedpipereceiver/namedpipe_test.go
Labels: receiver/filelog, pkg/stanza, receiver/namedpipe

#36632 [receiver/github] add tracing via webhook skeleton
  .chloggen/gh-trace-skeleton.yaml
  receiver/githubreceiver/README.md
  receiver/githubreceiver/config.go
  receiver/githubreceiver/config_test.go
  receiver/githubreceiver/factory.go
  receiver/githubreceiver/factory_test.go
  receiver/githubreceiver/generated_component_test.go
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/metadata/generated_status.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/githubreceiver/metadata.yaml
  receiver/githubreceiver/testdata/config.yaml
  receiver/githubreceiver/traces_receiver.go
  receiver/githubreceiver/traces_receiver_test.go
Labels: internal/tools, receiver/github

#36698 s3 exporter: exporter improvements and migration v2 aws sdk
  .chloggen/msg_migrate-to-sdk-v2.yaml
  exporter/awss3exporter/config.go
  exporter/awss3exporter/data_writer.go
  exporter/awss3exporter/exporter.go
  exporter/awss3exporter/exporter_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/go.sum
  exporter/awss3exporter/internal/upload/partition.go
  exporter/awss3exporter/internal/upload/partition_test.go
  exporter/awss3exporter/internal/upload/writer.go
  exporter/awss3exporter/internal/upload/writer_test.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/s3_writer_test.go
Labels: exporter/awss3

#36696 [chore][pkg/ottl] Add additional new function guidelines
  pkg/ottl/CONTRIBUTING.md
Labels: pkg/ottl

#36206 [testbed] Add batcher performance tests
  .chloggen/test_testbed-batcher.yaml
  cmd/oteltestbedcol/builder-config.yaml
  testbed/stabilitytests/metric_test.go
  testbed/stabilitytests/trace_test.go
  testbed/testbed/receivers.go
  testbed/tests/batcher_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: cmd/oteltestbedcol, testbed

#35892 [extension/opampagent] use status subscription for fine granular health reporting
  .chloggen/opamp-extension-health-reporting.yaml
  cmd/opampsupervisor/e2e_test.go
  extension/opampextension/factory_test.go
  extension/opampextension/go.mod
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/opampsupervisor, extension/opamp

#35239 k8seventsreceiver & k8sobjectsreceiver: migrate to latest semconv version
  receiver/k8seventsreceiver/k8s_event_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: ready to merge, Skip Changelog, receiver/k8sevents, receiver/k8sobjects

#36448 [exporter/doris] Mark the Doris exporter as Alpha
  .chloggen/add_doris_to_build.yaml
  cmd/otelcontribcol/builder-config.yaml
  exporter/dorisexporter/README.md
  exporter/dorisexporter/internal/metadata/generated_status.go
  exporter/dorisexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, cmd/otelcontribcol, reports/distributions/contrib.yaml, exporter/doris

#36336 [exporter/awsemfexporter]Split EMF log with larger than 100 buckets.
  .chloggen/split-emf-log-when-buckets-larger-than-100.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: ready to merge, exporter/awsemf

#36688 [exporter/prometheusremotewrite] respect integer exemplar values
  .chloggen/exporter_prometheusremotewriteexporter_exemplar-int.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: ready to merge, pkg/translator/prometheus

#36681 chore: use default confighttp struct for tests
  exporter/alertmanagerexporter/config_test.go
  receiver/elasticsearchreceiver/config_test.go
Labels: Skip Changelog, receiver/elasticsearch, exporter/alertmanager

#36709 [chore] explicitly use ubuntu 24.04 for runners to identify any breakage
  .github/workflows/add-codeowners-to-pr.yml
  .github/workflows/add-labels.yml
  .github/workflows/auto-assign-owners.yml
  .github/workflows/auto-update-jmx-metrics-component.yml
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/check-links.yaml
  .github/workflows/close-stale.yaml
  .github/workflows/e2e-tests.yml
  .github/workflows/generate-component-labels.yml
  .github/workflows/generate-weekly-report.yml
  .github/workflows/load-tests.yml
  .github/workflows/mark-issues-as-stale.yml
  .github/workflows/milestone-add-to-pr.yml
  .github/workflows/ping-codeowners-issues.yml
  .github/workflows/ping-codeowners-on-new-issue.yml
  .github/workflows/ping-codeowners-prs.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/shellcheck.yaml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
  Makefile.Common
  cmd/opampsupervisor/e2e_test.go
Labels: cmd/opampsupervisor

#36285 [chore] run codeowner check on PRs
  .github/workflows/build-and-test.yml
  .github/workflows/check-codeowners.yaml
Labels: ci-cd

#36702 [chore] fix broken chrony link
  CHANGELOG.md
Labels: ready to merge

#35798 [chore][fileconsumer/archive] - Add archive read logic
  pkg/stanza/fileconsumer/internal/checkpoint/checkpoint.go
  pkg/stanza/fileconsumer/internal/tracker/tracker.go
  pkg/stanza/fileconsumer/internal/tracker/tracker_test.go
  pkg/stanza/go.mod
Labels: pkg/stanza

#36729 [chore][wokflow]: fix codeowner check
  .github/workflows/check-codeowners.yaml
Labels: ci-cd

#36726 [chore] Fix TestPerfCounter_Reset test
  pkg/winperfcounters/watcher_test.go
Labels: os:windows, pkg/winperfcounters, Run Windows

#36736 [chore] fix code owners list
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#36686 [chore][pkg/ottl] Link to other XML Converters in `ParseSimplifiedXML` doc
  pkg/ottl/ottlfuncs/README.md
Labels: pkg/ottl

#36557 [chore] [exporter/datadog] add config value for datadog components
  exporter/datadogexporter/agent_components.go
Labels: exporter/datadog

#36669 [chore][exporter/datadog] Only start `hostmetadata.Reporter` if `host_metadata.enabled`
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#36273 [pkg/pdatatest] support Profiles signal comparison
  .chloggen/profiles-pdata.yaml
  pkg/pdatatest/go.mod
  pkg/pdatatest/go.sum
  pkg/pdatatest/internal/util.go
  pkg/pdatatest/pmetrictest/options.go
  pkg/pdatatest/pprofiletest/options.go
  pkg/pdatatest/pprofiletest/package_test.go
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/pprofiletest/profiles_test.go
Labels: pkg/pdatatest

#36766 [chore] group otel-collector contrib dep update
  renovate.json
Labels: ci-cd

#36763 Revert "[exporter/awsemfexporter]Split EMF log with larger than 100 buckets."
  .chloggen/split-emf-log-when-buckets-larger-than-100.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: Skip Changelog, exporter/awsemf

#36251 [receiver/purefa] Pure Storage FlashArray - Purity v6.6.11+ Native OpenMetrics Support
  .chloggen/36251-purefa-native-om-support.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/config.go
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/internal/scraper.go
  receiver/purefareceiver/internal/scraper_test.go
  receiver/purefareceiver/receiver.go
  receiver/purefareceiver/testdata/config.yaml
Labels: ready to merge, receiver/purefa

#36489 [receiver/huaweicloudces] add implementation
  receiver/huaweicloudcesreceiver/config.go
  receiver/huaweicloudcesreceiver/factory.go
  receiver/huaweicloudcesreceiver/factory_test.go
  receiver/huaweicloudcesreceiver/generated_component_test.go
  receiver/huaweicloudcesreceiver/go.mod
  receiver/huaweicloudcesreceiver/go.sum
  receiver/huaweicloudcesreceiver/integration_test.go
  receiver/huaweicloudcesreceiver/internal/backoff.go
  receiver/huaweicloudcesreceiver/internal/backoff_test.go
  receiver/huaweicloudcesreceiver/internal/ces_client.go
  receiver/huaweicloudcesreceiver/internal/ces_to_otlp.go
  receiver/huaweicloudcesreceiver/internal/ces_to_otlp_test.go
  receiver/huaweicloudcesreceiver/internal/mocks/ces_client.go
  receiver/huaweicloudcesreceiver/metadata.yaml
  receiver/huaweicloudcesreceiver/receiver.go
  receiver/huaweicloudcesreceiver/receiver_test.go
  receiver/huaweicloudcesreceiver/session_config.go
  receiver/huaweicloudcesreceiver/session_config_test.go
  receiver/huaweicloudcesreceiver/testdata/golden/metrics_golden.yaml
Labels: Skip Changelog, receiver/huaweicloudces

#35476 [exporter/splunkhecexporter] Add `OtelAttrsToHec` struct and related config fields
  .chloggen/iss-35092.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
  exporter/splunkhecexporter/testdata/config.yaml
  internal/splunk/common.go
Labels: exporter/splunkhec, internal/splunk

#36156 [extension/jsonlogencoding] Support marshaling multiple logs
  .chloggen/consume_multiple_records.yaml
  extension/encoding/jsonlogencodingextension/extension.go
  extension/encoding/jsonlogencodingextension/go.mod
  extension/encoding/jsonlogencodingextension/go.sum
  extension/encoding/jsonlogencodingextension/json_test.go
Labels: ready to merge, extension/encoding

#36645 [chore] run markdown-link-check on version change
  .github/workflows/check-links.yaml
  .github/workflows/check_links_config.json
  cmd/telemetrygen/README.md
  exporter/azuremonitorexporter/conventions.go
  pkg/stanza/docs/operators/tcp_input.md
  pkg/translator/prometheus/README.md
  pkg/translator/prometheus/normalize_name.go
  receiver/azureblobreceiver/README.md
  receiver/tcplogreceiver/README.md
Labels: cmd/telemetrygen, exporter/azuremonitor, receiver/tcplog, pkg/stanza, receiver/azureblob, pkg/translator/prometheus

#36735 [chore] enabling replace `interface{}` by `any`
  .golangci.yml
Labels: Skip Changelog

#36754 [opampextension] fix blocking agent shutdown due to unclosed channel
  .chloggen/opamp-extension-shutdown.yaml
  extension/opampextension/opamp_agent.go
Labels: ready to merge, ci-cd, extension/opamp

#36785 [chore] fix typo in comment
  internal/coreinternal/errorutil/http.go
Labels: internal/core

#35411 [exporter/loadbalancing] Add return_hostnames option to k8s resolver
  .chloggen/lbexporter-return-hostnames-k8s-resolver.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/resolver_k8s.go
  exporter/loadbalancingexporter/resolver_k8s_handler.go
  exporter/loadbalancingexporter/resolver_k8s_handler_test.go
  exporter/loadbalancingexporter/resolver_k8s_test.go
Labels: exporter/loadbalancing

#36806 [chore][pkg/ottl] Minor OTTL documentation copy editing
  pkg/ottl/LANGUAGE.md
  pkg/ottl/README.md
  pkg/ottl/ottlfuncs/README.md
Labels: pkg/ottl

#36808 [exporter/kinetica] mark Unmaintained
  .chloggen/kineticaexporter-unmaintained.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  exporter/kineticaexporter/README.md
  exporter/kineticaexporter/internal/metadata/generated_status.go
  exporter/kineticaexporter/metadata.yaml
Labels: exporter/kinetica

#36813 [receiver/postgresqlreceiver] [fix] Support postgres 17 table schema
  .chloggen/postgresql-17-bgwriter.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_post17.yaml
Labels: receiver/postgresql

#36694 [receiver/mongodbatlas] Adds additional disk & process metrics
  .chloggen/mongodbatlasreceiver-metric-adds.yaml
  receiver/mongodbatlasreceiver/documentation.md
  receiver/mongodbatlasreceiver/internal/metadata/generated_config.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_config_test.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbatlasreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbatlasreceiver/internal/metadata/metric_name_mapping.go
  receiver/mongodbatlasreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbatlasreceiver/internal/metric_conversion.go
  receiver/mongodbatlasreceiver/metadata.yaml
Labels: receiver/mongodbatlas

#36821 [pkg/ottl] Add support for non-element nodes in GetXML
  .chloggen/get-xml-nonelements.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_get_xml.go
  pkg/ottl/ottlfuncs/func_get_xml_test.go
Labels: pkg/ottl

#36824 [connector/routing] Deprecate `match_once` parameter
  .chloggen/deprecate-matchonce.yaml
  connector/routingconnector/README.md
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
Labels: connector/routing

#36826 [chore][connector/routing] Fix versions noted in deprecation of match_once field
  connector/routingconnector/README.md
Labels: connector/routing

#36801 [exporter/elasticsearch][chore]: Fix copyloopvar issues
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/mapping_hint_test.go
Labels: ready to merge, exporter/elasticsearch

#36823 [chore] remove a stale replace in builder config
  cmd/oteltestbedcol/builder-config.yaml
Labels: cmd/oteltestbedcol

#36798 [exporter/elasticsearch] [chore] fix lint issues with golangci-lint 1.62
  exporter/elasticsearchexporter/internal/exphistogram/exphistogram.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#36825 Update links to openmetrics to reference the v1.0.0 release
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheusremotewrite/helper.go
Labels: Skip Changelog, pkg/translator/prometheus

#36787 [receiver/awss3receiver] Add support RFC3339 format for starttime and endtime
  .chloggen/awss3receiver-add-support-rfc3339.yaml
  receiver/awss3receiver/README.md
  receiver/awss3receiver/config.go
  receiver/awss3receiver/config_test.go
  receiver/awss3receiver/testdata/config.yaml
Labels: ready to merge, receiver/awss3

#36836 [chore]: enable partially thelper linter
  .golangci.yml
  connector/exceptionsconnector/connector_metrics_test.go
  connector/spanmetricsconnector/connector_test.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/azuremonitorexporter/metricexporter_test.go
  exporter/elasticsearchexporter/integrationtest/collector.go
  exporter/elasticsearchexporter/integrationtest/config.go
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/validator.go
  exporter/fileexporter/file_exporter_test.go
  exporter/logzioexporter/exporter_test.go
  exporter/rabbitmqexporter/internal/publisher/publisher_test.go
  exporter/splunkhecexporter/client_test.go
  extension/encoding/otlpencodingextension/extension_test.go
  extension/observer/cfgardenobserver/config_test.go
  extension/observer/dockerobserver/config_test.go
  extension/observer/endpointswatcher_test.go
  extension/observer/k8sobserver/extension_test.go
  extension/solarwindsapmsettingsextension/extension_test.go
  internal/common/testutil/testutil.go
  internal/otelarrow/testutil/testutil.go
  internal/otelarrow/testutil/testutil_test.go
  pkg/golden/golden.go
  pkg/stanza/fileconsumer/internal/filetest/filetest.go
  pkg/stanza/operator/input/file/util_test.go
  pkg/stanza/operator/input/namedpipe/input_test.go
  pkg/stanza/testutil/mocks.go
  processor/deltatocumulativeprocessor/internal/data/datatest/equal.go
  processor/deltatocumulativeprocessor/internal/data/datatest/equal_test.go
  processor/deltatocumulativeprocessor/processor_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
  receiver/dockerstatsreceiver/config_test.go
  receiver/k8sclusterreceiver/internal/testutils/metrics.go
  receiver/nsxtreceiver/client_mock_test.go
  receiver/statsdreceiver/internal/transport/server_test.go
  testbed/correctnesstests/utils.go
Labels: receiver/statsd, exporter/alibabacloudlogservice, receiver/dockerstats, exporter/loki, exporter/azuremonitor, receiver/nsxt, exporter/awsemf, exporter/file, exporter/splunkhec, exporter/pulsar, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/prometheus, receiver/awsxray, receiver/k8scluster, pkg/stanza, extension/observer, testbed, connector/spanmetrics, extension/encoding, connector/exceptions, exporter/honeycombmarker, pkg/golden, extension/solarwindsapmsettings, processor/deltatocumulative, exporter/rabbitmq, internal/otelarrow

#36835 [chore]: use testify instead of testing.Fatal or testing.Error in exporter
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/datadogexporter/internal/logs/sender_test.go
  exporter/datadogexporter/internal/metrics/sketches/sketches_test.go
  exporter/datadogexporter/traces_exporter_test.go
  exporter/logzioexporter/jsonlog_test.go
  exporter/logzioexporter/logziospan_test.go
  exporter/mezmoexporter/exporter_test.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/prometheusexporter/end_to_end_test.go
  exporter/prometheusexporter/prometheus_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/helper_test.go
  exporter/signalfxexporter/internal/translation/converter_test.go
  exporter/splunkhecexporter/client_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/clickhouse, exporter/loki, exporter/prometheusremotewrite, exporter/awsemf, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/logzio, exporter/prometheus, exporter/mezmo, extension/sigv4auth, exporter/honeycombmarker, exporter/alertmanager, exporter/otelarrow

#35656 [receiver/prometheusremotewrite] Parse labels
  .chloggen/prwreceiver-parselabels.yaml
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: enhancement, ready to merge, receiver/prometheusremotewrite

#36794 [exporter/azuremonitor] fix not exporting to azure monitor when using instrumentaion key
  .chloggen/36704.yaml
  exporter/azuremonitorexporter/config_test.go
  exporter/azuremonitorexporter/factory.go
Labels: exporter/azuremonitor

#36822 [chore] Update datadog dependencies
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, cmd/otelcontribcol, cmd/oteltestbedcol, testbed, receiver/datadog, connector/datadog, pkg/datadog

#36837 [chore]: use testify instead of testing.Fatal or testing.Error in extension and internal
  extension/encoding/avrologencodingextension/avro_test.go
  extension/encoding/avrologencodingextension/extension_test.go
  extension/encoding/avrologencodingextension/testutil.go
  extension/observer/dockerobserver/extension_test.go
  internal/aws/cwlogs/pusher_test.go
  internal/aws/k8s/k8sclient/helpers_test.go
  internal/aws/metrics/metric_calculator_test.go
  internal/common/docker/images_test.go
  internal/coreinternal/parseutils/uri_test.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
  internal/docker/docker_test_listener.go
Labels: extension/observer, internal/aws, internal/docker, internal/core, extension/encoding

#36779 datadogexporter: read response body on pushSketches
  .chloggen/spud_datadogexporter-read-response-body.yaml
  exporter/datadogexporter/metrics_exporter.go
Labels: exporter/datadog

#36671 [connector/signaltometrics]Add config validation and custom ottl funcs
  .chloggen/signaltometrics-config-validation.yaml
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/config/config.go
  connector/signaltometricsconnector/config/config_test.go
  connector/signaltometricsconnector/go.mod
  connector/signaltometricsconnector/go.sum
  connector/signaltometricsconnector/internal/customottl/adjustedcount.go
  connector/signaltometricsconnector/internal/customottl/adjustedcount_test.go
  connector/signaltometricsconnector/internal/customottl/funcs.go
  connector/signaltometricsconnector/internal/customottl/get.go
  connector/signaltometricsconnector/testdata/configs/duplicate_attributes.yaml
  connector/signaltometricsconnector/testdata/configs/invalid_exponential_histogram.yaml
  connector/signaltometricsconnector/testdata/configs/invalid_histogram.yaml
  connector/signaltometricsconnector/testdata/configs/invalid_ottl_conditions.yaml
  connector/signaltometricsconnector/testdata/configs/invalid_ottl_statements.yaml
  connector/signaltometricsconnector/testdata/configs/invalid_sum.yaml
  connector/signaltometricsconnector/testdata/configs/multiple_metric.yaml
  connector/signaltometricsconnector/testdata/configs/no_key_attributes.yaml
  connector/signaltometricsconnector/testdata/configs/valid_full.yaml
  connector/signaltometricsconnector/testdata/configs/without_name.yaml
  connector/signaltometricsconnector/testdata/traces/traces.yaml
Labels: ready to merge, connector/signaltometrics

#36714 [receiver/github] update metrics and attributes to match latest semantics and change scraper key name
  .chloggen/gh-semconv-1.28plus.yaml
  receiver/githubreceiver/README.md
  receiver/githubreceiver/config_test.go
  receiver/githubreceiver/documentation.md
  receiver/githubreceiver/factory.go
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/metadata/generated_config.go
  receiver/githubreceiver/internal/metadata/generated_config_test.go
  receiver/githubreceiver/internal/metadata/generated_metrics.go
  receiver/githubreceiver/internal/metadata/generated_metrics_test.go
  receiver/githubreceiver/internal/metadata/testdata/config.yaml
  receiver/githubreceiver/internal/scraper/githubscraper/factory.go
  receiver/githubreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/githubreceiver/internal/scraper/githubscraper/genqlient.graphql
  receiver/githubreceiver/internal/scraper/githubscraper/genqlient.yaml
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/githubreceiver/internal/scraper/githubscraper/testdata/scraper/expected_happy_path.yaml
  receiver/githubreceiver/metadata.yaml
  receiver/githubreceiver/testdata/config.yaml
Labels: ready to merge, release:blocker, receiver/github

#35828 Add metric-specific labels in googlecloudmonitoringreceiver component
  .chloggen/add-metric-labels-in-googlecloudmonitoringreceiver.yaml
  receiver/googlecloudmonitoringreceiver/receiver.go
Labels: bug, ready to merge, receiver/googlecloudmonitoring

#36466 [processor/k8sattributes]: apply attribute value from retrieved k8s object if original value is empty
  .chloggen/k8s-override-empty-attributes.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: ready to merge, processor/k8sattributes

#36479 receiver/prometheus: remove assumption that scraped metrics share a resource
  .chloggen/adjuster-resource-fix.yaml
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/metricsutil_test.go
Labels: ready to merge, receiver/prometheus

#36724 [chore][extension/awsproxy] use configtls.NewDefaultClientConfig
  extension/awsproxy/factory.go
Labels: ready to merge, extension/awsproxy

#36762 [receiver/azureeventhub] support parsing more time format
  .chloggen/36650.yaml
  pkg/translator/azure/resourcelogs_to_logs.go
  pkg/translator/azure/resourcelogs_to_logs_test.go
  pkg/translator/azure/resources_to_traces.go
  pkg/translator/azurelogs/resourcelogs_to_logs.go
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
  receiver/azureeventhubreceiver/azureresourcemetrics_unmarshaler.go
  receiver/azureeventhubreceiver/azureresourcetraces_unmarshaler.go
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/factory.go
Labels: ready to merge, receiver/azureeventhub, pkg/translator/azure

#36781 [chore][testbed]: add options for retry/storage for filelog
  .chloggen/testbed-add-filelog-retry.yaml
  testbed/datasenders/stanza.go
Labels: testbed

#36707 [chore] Remove max_in_flight_size_mib option
  exporter/otelarrowexporter/README.md
Labels: ready to merge, exporter/otelarrow

#36831 [jaegerreceiver] Remove ineffectual warning log
  .chloggen/remove-jaegerreceiver-warning.yaml
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/go.mod
Labels: Skip Changelog, receiver/jaeger

#36772 [extension/sumologic] Skip zombie processes on Windows
  .chloggen/sumologicextension_skip_likely_zombie_processes_on_windows.yaml
  extension/sumologicextension/extension.go
Labels: Run Windows, extension/sumologic

#36857 Trigger windows e2e tests when windows-related files change
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/scripts/is_changed_file_windows.sh
Labels: ci-cd, Skip Changelog, os:windows

#36849 [opampsupervisor] avoid nil pointer access when reporting remote config status
  .chloggen/opampsupervisor-nil-pointer.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#36839 [chore] switch to ubuntu 24.04 to identify breaking changes
  .github/workflows/check-codeowners.yaml
Labels: ci-cd, chore

#36847 chore: [receiver/hostmetrics] Fix integration tests
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/testdata/e2e/expected_process.yaml
  receiver/hostmetricsreceiver/testdata/e2e/expected_process_separate_proc.yaml
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/cgroup
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/exe
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/statm
  receiver/hostmetricsreceiver/testdata/e2e/proc/1/status
Labels: Skip Changelog, receiver/hostmetrics

#36322 Add histogram to telemetrygen
  .chloggen/telemetrygen.yaml
  cmd/telemetrygen/internal/metrics/metrics_types.go
  cmd/telemetrygen/internal/metrics/worker.go
Labels: cmd/telemetrygen, cmd/otelcontribcol, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/otlpjson, confmap/provider/aesprovider, connector/signaltometrics

#36771 Add back "[exporter/awsemfexporter]Split EMF log with larger than 100 buckets."
  .chloggen/split-emf-log-when-buckets-larger-than-100.yaml
  exporter/awsemfexporter/datapoint.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator.go
Labels: exporter/awsemf

#36866 [chore] [exporter/signalfx] Update trace correlation docs
  exporter/signalfxexporter/README.md
Labels: exporter/signalfx

#36872 [pkg/ottl] remove support from accessing top-level objects
  .chloggen/ottl-remove-top-level-paths.yaml
  pkg/ottl/contexts/internal/metric.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: pkg/ottl

#36878 [chore] add missing contrib components to the report
  receiver/googlecloudpubsubreceiver/README.md
  receiver/googlecloudpubsubreceiver/metadata.yaml
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: receiver/googlecloudpubsub, receiver/splunkenterprise, reports/distributions/contrib.yaml

#36860 [reciever/azureeventhub] Set ObservedTimestamp
  .chloggen/azure-eventhub-observedtime-logs.yaml
  receiver/azureeventhubreceiver/rawlogs_unmarshaler.go
Labels: receiver/azureeventhub

#36617 [chore] Add extension/cgroupruntime integration tests
  Makefile.Common
  extension/cgroupruntimeextension/go.mod
  extension/cgroupruntimeextension/go.sum
  extension/cgroupruntimeextension/integration_test.go
Labels: extension/cgroupruntime

#36879 [receiver/mysql] int64 overflows with time
  .chloggen/smaller_numbers.yaml
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/scraper/index_io_waits_stats.txt
  receiver/mysqlreceiver/testdata/scraper/statement_events.txt
  receiver/mysqlreceiver/testdata/scraper/table_io_waits_stats.txt
  receiver/mysqlreceiver/testdata/scraper/table_lock_wait_event_stats.txt
Labels: receiver/mysql

#36778 [extension/storage/redisstorageextension] move to alpha
  .chloggen/redis_storage_alpha.yaml
  extension/storage/redisstorageextension/README.md
  extension/storage/redisstorageextension/internal/metadata/generated_status.go
  extension/storage/redisstorageextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: extension/storage, reports/distributions/contrib.yaml

#36603 [chore][testbed] add filelog as a part of test cases
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: Skip Changelog, testbed

#36490 [chore][exporter/elasticsearch] Include otel mapping mode in benchmarks
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
Labels: Stale, exporter/elasticsearch

#36877 [chore] add ntpreceiver to contrib distro
  receiver/ntpreceiver/README.md
  receiver/ntpreceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: reports/distributions/contrib.yaml, receiver/ntp

#36875 [chore] document sumconnector is available on contrib
  connector/sumconnector/README.md
  connector/sumconnector/metadata.yaml
  reports/distributions/contrib.yaml
Labels: reports/distributions/contrib.yaml, connector/sum

#36812 [receiver/sqlqueryreceiver] Add instrumentation scope to sqlqueryreceiver metrics & logs
  .chloggen/sqlqueryreceiver-scope.yaml
  internal/sqlquery/scraper.go
  internal/sqlquery/scraper_test.go
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/logs_receiver.go
  receiver/sqlqueryreceiver/receiver.go
  receiver/sqlqueryreceiver/testdata/integration/mysql/expected.yaml
  receiver/sqlqueryreceiver/testdata/integration/oracle/expected.yaml
  receiver/sqlqueryreceiver/testdata/integration/postgresql/expected.yaml
Labels: receiver/sqlquery, internal/sqlquery

#36892 [chore] upgrade all datadog-agent deps versions
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/agent_components.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, testbed, receiver/datadog, connector/datadog, pkg/datadog

#36869 [pkg/ottl] Change context inferrer to use functions and enums as hints
  pkg/ottl/context_inferrer.go
  pkg/ottl/context_inferrer_test.go
  pkg/ottl/grammar.go
  pkg/ottl/parser_collection.go
  pkg/ottl/parser_collection_test.go
  pkg/ottl/paths.go
Labels: Skip Changelog, pkg/ottl

#36028 [exporter/sapm] Deprecate SAPM exporter
  .chloggen/deprecate_sapmexporter.yaml
  exporter/sapmexporter/README.md
  exporter/sapmexporter/internal/metadata/generated_status.go
  exporter/sapmexporter/metadata.yaml
Labels: exporter/sapm

#36895 Use confmaptest instead of otelcoltest for config testing
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/testdata/config-bad-root-path.yaml
  receiver/hostmetricsreceiver/testdata/config-invalidscraperkey.yaml
  receiver/hostmetricsreceiver/testdata/config-noscrapers.yaml
  receiver/hostmetricsreceiver/testdata/config-root-path.yaml
  receiver/hostmetricsreceiver/testdata/config.yaml
Labels: Skip Changelog, receiver/hostmetrics

#36904 [chore] Refactor hostmetrics receiver to use component.Type
  receiver/hostmetricsreceiver/config.go
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/factory_test.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/factory.go
Labels: receiver/hostmetrics

#36908 [chore] Upgrade golangci and fix lint issues
  cmd/opampsupervisor/supervisor/config/config_test.go
  exporter/alibabacloudlogserviceexporter/metricsdata_to_logservice.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/googlecloudpubsubexporter/watermark.go
  exporter/mezmoexporter/utils.go
  exporter/signalfxexporter/internal/apm/correlations/client.go
  exporter/signalfxexporter/internal/apm/tracetracker/cache.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/solarwindsapmsettingsextension/config_test.go
  internal/aws/cwlogs/pusher_test.go
  internal/exp/metrics/staleness/staleness.go
  internal/exp/metrics/staleness/staleness_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  pkg/ottl/ottlfuncs/func_len.go
  pkg/stanza/operator/helper/severity_builder.go
  pkg/stanza/operator/parser/regex/cache.go
  pkg/stanza/operator/parser/regex/cache_test.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/signalfx/from_metrics.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale.go
  processor/deltatocumulativeprocessor/internal/data/expo/zero.go
  processor/metricstransformprocessor/metrics_testcase_builder_test.go
  processor/transformprocessor/internal/metrics/func_scale_test.go
  receiver/awscontainerinsightreceiver/internal/host/utils.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder.go
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler_test.go
Labels: exporter/alibabacloudlogservice, processor/metricstransform, processor/transform, receiver/awscontainerinsight, exporter/awsemf, exporter/signalfx, exporter/googlecloudpubsub, exporter/mezmo, receiver/awsfirehose, pkg/stanza, pkg/ottl, extension/observer, internal/aws, internal/tools, pkg/translator/prometheus, pkg/translator/signalfx, cmd/opampsupervisor, extension/solarwindsapmsettings, processor/deltatocumulative, internal/exp/metrics

#35652 [chore] [receiver/simpleprometheus] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/simpleprometheusreceiver/config_test.go
  receiver/simpleprometheusreceiver/factory.go
  receiver/simpleprometheusreceiver/receiver_test.go
Labels: ready to merge, receiver/simpleprometheus

#36733 [cmd/opampsupervisor] fix: Clear config timeout timer & send APPLIED remote config status when running nop config
  .chloggen/fix_supervisor-reports-error-nop-config.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#36902 [receiver/libhoney] Libhoney receiver trace signal
  .chloggen/traces-for-libhoneyreceiver.yaml
  receiver/libhoneyreceiver/go.mod
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent_test.go
  receiver/libhoneyreceiver/internal/parser/parser.go
  receiver/libhoneyreceiver/internal/parser/parser_test.go
  receiver/libhoneyreceiver/receiver.go
Labels: receiver/libhoney

#36903 Update README.md - fix anchor link
  connector/routingconnector/README.md
Labels: documentation, Skip Changelog, connector/routing

#36842 [chore] change coralogixprocessor codeowners
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  processor/coralogixprocessor/README.md
  processor/coralogixprocessor/metadata.yaml
Labels: cmd/githubgen, processor/coralogix

#36911 [receiver/libhoney] Update metadata and contrib manifest
  .chloggen/set-libhoneyreceiver-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/libhoneyreceiver/README.md
  receiver/libhoneyreceiver/internal/metadata/generated_status.go
  receiver/libhoneyreceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, receiver/libhoney

#36913 [chore] Upgrade golangci and fix lint issues
  .golangci.yml
  Makefile.Common
  connector/exceptionsconnector/connector_metrics_test.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/cache/cache_test.go
  exporter/awskinesisexporter/exporter_test.go
  exporter/awskinesisexporter/internal/producer/batcher_test.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/fileexporter/buffered_writer_test.go
  exporter/kafkaexporter/factory_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/sapmexporter/exporter_test.go
  exporter/sentryexporter/sentry_exporter_test.go
  exporter/signalfxexporter/internal/apm/correlations/client_test.go
  exporter/signalfxexporter/internal/apm/tracetracker/tracker.go
  exporter/sumologicexporter/config_test.go
  extension/ackextension/inmemory_test.go
  extension/healthcheckv2extension/internal/grpc/grpc_test.go
  extension/jaegerremotesampling/internal/remote_strategy_cache_test.go
  extension/storage/filestorage/client_test.go
  extension/sumologicextension/extension_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/fileconsumer/config_test.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint_test.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/translator/skywalking/skywalkingproto_to_traces_test.go
  processor/attributesprocessor/attributes_log_test.go
  processor/attributesprocessor/attributes_trace_test.go
  processor/schemaprocessor/internal/migrate/attributes_test.go
  processor/schemaprocessor/internal/migrate/conditional_test.go
  processor/schemaprocessor/internal/migrate/multi_conditional_test.go
  processor/schemaprocessor/internal/migrate/signal_test.go
  processor/schemaprocessor/internal/translation/revision_v1_test.go
  processor/spanprocessor/span_test.go
  receiver/chronyreceiver/internal/chrony/client_test.go
  receiver/cloudfoundryreceiver/converter_test.go
  receiver/datadogreceiver/receiver_test.go
  receiver/githubreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/ucal/cpu_utilization_calculator_test.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator_test.go
  receiver/k8sclusterreceiver/internal/metadata/entities_test.go
  receiver/mongodbatlasreceiver/access_logs.go
  receiver/mongodbatlasreceiver/alerts_test.go
  receiver/mongodbreceiver/metrics.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
  receiver/prometheusreceiver/internal/util_test.go
  receiver/snowflakereceiver/client_test.go
  receiver/snowflakereceiver/config_test.go
  testbed/tests/scenarios.go
Labels: processor/attributes, exporter/loadbalancing, receiver/mongodbatlas, receiver/hostmetrics, exporter/prometheusremotewrite, receiver/prometheus, processor/schema, exporter/file, exporter/signalfx, exporter/awskinesis, exporter/kafka, exporter/sapm, exporter/sentry, exporter/sumologic, receiver/mongodb, receiver/cloudfoundry, receiver/k8scluster, pkg/stanza, extension/jaegerremotesampling, processor/span, extension/storage, receiver/chrony, receiver/snowflake, exporter/azuredataexplorer, internal/tools, testbed, receiver/datadog, connector/spanmetrics, connector/exceptions, pkg/translator/skywalking, extension/sumologic, extension/ack, extension/healthcheckv2, receiver/github

#34905 [receiver/cloudfoundry]: move datapoint level attributes to resource level
  .chloggen/move-attributes.yaml
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/converter.go
  receiver/cloudfoundryreceiver/converter_test.go
  receiver/cloudfoundryreceiver/go.mod
  receiver/cloudfoundryreceiver/go.sum
  receiver/cloudfoundryreceiver/receiver.go
  receiver/cloudfoundryreceiver/receiver_test.go
Labels: cmd/otelcontribcol, receiver/cloudfoundry

#36432 [receiver/k8sobjects] ensure the `k8s.namespace.name` attribute is set for objects retrieved using the `watch` mode
  .chloggen/k8sobjects-data-structure.yaml
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events_core.yaml
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: ready to merge, receiver/k8sobjects

#36400 feat(ottl): Add a new ottl trim function that trims leading and trailing whitespace from a string
  .chloggen/ottl-trim-function.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_trim.go
  pkg/ottl/ottlfuncs/func_trim_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl, Contribfest

#36907 [chore] Simplify context with EnvKey usage in hostmetrics receiver
  receiver/hostmetricsreceiver/config.go
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/hostmetrics_linux.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/hostmetrics_others.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/internal/scraper.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/memory_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_linux.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_others.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_others.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_fallback.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/processes_scraper_unix.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/system_scraper.go
Labels: receiver/hostmetrics

#36820 [pkg/ottl] Change OTTL contexts to handle paths with context
  .chloggen/change-contexts-to-support-path-with-context.yaml
  pkg/ottl/contexts/internal/metric.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: pkg/ottl

#36919 [chore] Add mterhar to libhoney receiver codeowners
  .github/CODEOWNERS
  receiver/libhoneyreceiver/README.md
  receiver/libhoneyreceiver/metadata.yaml
Labels: receiver/libhoney

#36828 [extension/sigv4authextension] Add support for endpoint based names for logs and traces
  .chloggen/sigv4_logs_traces_support.yaml
  extension/sigv4authextension/README.md
  extension/sigv4authextension/signingroundtripper.go
  extension/sigv4authextension/signingroundtripper_test.go
Labels: extension/sigv4auth

#36915 [chore] Remove experimental dead code related to streams and staleness
  internal/exp/metrics/identity/metric.go
  internal/exp/metrics/identity/resource.go
  internal/exp/metrics/identity/scope.go
  internal/exp/metrics/identity/stream.go
  internal/exp/metrics/identity/strings.go
  internal/exp/metrics/metrics.go
  internal/exp/metrics/staleness/staleness.go
  internal/exp/metrics/staleness/staleness_test.go
  internal/exp/metrics/staleness/tracker.go
  internal/exp/metrics/streams/streams.go
Labels: internal/exp/metrics

#36601 [exporter]prometheusremotewrite] Fix data race by introducing pool of batch state
  .chloggen/prwexporter-syncpool-batchstate.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_concurrency_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/helper_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#36884 [connector/routing] Change default value of 'match_once' to true.
  .chloggen/routing-deprecation-step2.yaml
  connector/routingconnector/config_test.go
  connector/routingconnector/factory.go
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
Labels: connector/routing

#36513 [mongodbatlasreceiver] Use default http transport that looks at proxy environment variables
  .chloggen/mongodbatlas-default-transport.yaml
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
Labels: receiver/mongodbatlas
