Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-04, with the labels that each got.

#32033 [pkg/stanza/adapter] Fix scope parsing
  .chloggen/ft-scope-groupping.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/adapter/integration_test.go
Labels: pkg/stanza

#32056 [chore] bump opamp-go to 0.14.0
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/opampextension/go.mod
  extension/opampextension/go.sum
Labels: cmd/otelcontribcol, cmd/opampsupervisor, extension/opamp

#32068 [chore][pkg/stanza] Cleanup retain operator files
  pkg/stanza/operator/transformer/retain/config.go
  pkg/stanza/operator/transformer/retain/transformer.go
  pkg/stanza/operator/transformer/retain/transformer_test.go
Labels: pkg/stanza

#32081 fix: enabling gzip was causing eof errors upon decompression
  .chloggen/fix-compression-eof.yaml
  exporter/awskinesisexporter/internal/compress/compresser.go
  exporter/awskinesisexporter/internal/compress/noop_compression.go
Labels: ready to merge, exporter/awskinesis

#32059 [chore][pkg/stanza] Cleanup add operator files
  pkg/stanza/operator/transformer/add/config.go
  pkg/stanza/operator/transformer/add/transformer.go
  pkg/stanza/operator/transformer/add/transformer_test.go
Labels: pkg/stanza

#32077 [chore][pkg/stanza] Cleanup tcp input operator files
  pkg/stanza/operator/input/tcp/config.go
  pkg/stanza/operator/input/tcp/input.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/tcp/tcp.go
Labels: pkg/stanza

#32118 [chore][pkg/stanza] Cleanup syslog parser operator files
  pkg/stanza/operator/parser/syslog/config.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/parser/syslog/parser_test.go
Labels: pkg/stanza

#31919 [receiver/k8sobjects] Fix memory leak caused by pull mode's interval ticker
  .chloggen/goleak_k8sobjectsreceiver.yaml
  receiver/k8sobjectsreceiver/receiver.go
Labels: receiver/k8sobjects

#32076 [chore][pkg/stanza] Cleanup syslog input operator files
  pkg/stanza/operator/input/syslog/config.go
  pkg/stanza/operator/input/syslog/input.go
  pkg/stanza/operator/input/syslog/input_test.go
Labels: pkg/stanza

#32109 [chore][pkg/stanza] Cleanup csv parser operator files
  pkg/stanza/operator/parser/csv/config.go
  pkg/stanza/operator/parser/csv/csv.go
  pkg/stanza/operator/parser/csv/parser.go
  pkg/stanza/operator/parser/csv/parser_test.go
Labels: pkg/stanza

#32069 [chore][pkg/stanza] Cleanup router operator files
  pkg/stanza/operator/transformer/router/config.go
  pkg/stanza/operator/transformer/router/router.go
  pkg/stanza/operator/transformer/router/transformer.go
  pkg/stanza/operator/transformer/router/transformer_test.go
Labels: pkg/stanza

#32131 [chore] fix flaky OTTL test
  pkg/ottl/ottlfuncs/func_string_test.go
Labels: pkg/ottl

#32132 [chore] prepare grafanacloudconnector for release
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/grafanacloudconnector/README.md
  connector/grafanacloudconnector/go.mod
  connector/grafanacloudconnector/internal/metadata/generated_status.go
  connector/grafanacloudconnector/metadata.yaml
  go.mod
  go.sum
  internal/components/components.go
Labels: cmd/configschema, cmd/otelcontribcol, connector/grafanacloud

#32066 [chore][pkg/stanza] Cleanup recombine operator files
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/recombine/recombine.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
Labels: pkg/stanza

#30990 [cmd/telemetrygen] Add Support for specifying Log Severity
  .chloggen/telemetrygen_support_for_specifying_log_severity.yaml
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/logs/logs.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/logs/worker_test.go
Labels: cmd/telemetrygen

#32114 [chore][pkg/stanza] Cleanup secondary parser operator files
  pkg/stanza/operator/parser/scope/config.go
  pkg/stanza/operator/parser/scope/parser.go
  pkg/stanza/operator/parser/scope/parser_test.go
  pkg/stanza/operator/parser/severity/config.go
  pkg/stanza/operator/parser/severity/parser.go
  pkg/stanza/operator/parser/severity/parser_test.go
  pkg/stanza/operator/parser/time/config.go
  pkg/stanza/operator/parser/time/parser.go
  pkg/stanza/operator/parser/time/parser_test.go
  pkg/stanza/operator/parser/trace/config.go
  pkg/stanza/operator/parser/trace/parser.go
  pkg/stanza/operator/parser/trace/parser_test.go
Labels: pkg/stanza

#31806 [connector/spanmetrics] Change default value of metrics_flush_interval from 15s to 60s
  .chloggen/spanmetrics-metrics-flush-interval-60s.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/factory.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: Stale, connector/spanmetrics

#32137 [connector/spanmetrics] Add @Frapschen as code owner
  .github/CODEOWNERS
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/metadata.yaml
Labels: Skip Changelog, connector/spanmetrics

#31820 [connector/exceptions] change stability to alpha
  .chloggen/exceptionsconnector_change_stability.yaml
  connector/exceptionsconnector/README.md
  connector/exceptionsconnector/internal/metadata/generated_status.go
  connector/exceptionsconnector/metadata.yaml
  reports/distributions/contrib.yaml
Labels: connector/exceptions, reports/distributions/contrib.yaml

#31506 [chore][pkg/stanza] move file handling to internal package
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_other.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/file_windows.go
  pkg/stanza/fileconsumer/internal/tracker/tracker.go
  pkg/stanza/fileconsumer/internal/tracker/tracker_other.go
  pkg/stanza/fileconsumer/internal/tracker/tracker_windows.go
  pkg/stanza/fileconsumer/util_test.go
Labels: pkg/stanza

#32064 [chore][pkg/stanza] Cleanup move operator files
  pkg/stanza/operator/transformer/move/config.go
  pkg/stanza/operator/transformer/move/transformer.go
  pkg/stanza/operator/transformer/move/transformer_test.go
Labels: pkg/stanza

#32111 [chore][pkg/stanza] Cleanup jsonarray parser operator files
  pkg/stanza/operator/parser/jsonarray/config.go
  pkg/stanza/operator/parser/jsonarray/parser.go
  pkg/stanza/operator/parser/jsonarray/parser_test.go
Labels: pkg/stanza

#32154 Revert "[pkg/stanza/operator/transformer/recombine] Add max_unmatched_batch_size to recombine operator"
  .chloggen/recombine_add_max_unmatched_batch_size.yaml
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/recombine/testdata/config.yaml
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
Labels: Skip Changelog, pkg/stanza

#32134 [exporter/elasticsearch] Add test case for de-dotting log documents
  exporter/elasticsearchexporter/model_test.go
Labels: Skip Changelog, exporter/elasticsearch

#32074 [chore][pkg/stanza] Cleanup journald input operator files
  pkg/stanza/operator/input/journald/config_all.go
  pkg/stanza/operator/input/journald/config_linux.go
  pkg/stanza/operator/input/journald/config_nonlinux.go
  pkg/stanza/operator/input/journald/input.go
  pkg/stanza/operator/input/journald/input_test.go
Labels: pkg/stanza, Run Windows

#32146 [pkg/stanza] Revert recombine operator 'overwrite_with' change
  .chloggen/pkg-stanza-revert-overwrite-with.yaml
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
  tmp
Labels: pkg/stanza

#32072 [chore][pkg/stanza] Cleanup file input operator files
  pkg/stanza/operator/input/file/input.go
  pkg/stanza/operator/input/file/input_test.go
Labels: pkg/stanza

#32157 [chore] fix codeowners
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#32110 [chore][pkg/stanza] Cleanup json parser operator files
  pkg/stanza/operator/parser/json/config.go
  pkg/stanza/operator/parser/json/parser.go
  pkg/stanza/operator/parser/json/parser_test.go
Labels: pkg/stanza

#32112 [chore][pkg/stanza] Cleanup keyvalue parser operator files
  pkg/stanza/operator/parser/keyvalue/config.go
  pkg/stanza/operator/parser/keyvalue/parser.go
  pkg/stanza/operator/parser/keyvalue/parser_test.go
Labels: pkg/stanza

#32119 [chore][pkg/stanza] Cleanup uri parser operator files
  pkg/stanza/operator/parser/uri/config.go
  pkg/stanza/operator/parser/uri/parser.go
  pkg/stanza/operator/parser/uri/parser_test.go
Labels: pkg/stanza

#32113 [chore][pkg/stanza] Cleanup regex parser operator files
  pkg/stanza/operator/parser/regex/config.go
  pkg/stanza/operator/parser/regex/parser.go
  pkg/stanza/operator/parser/regex/parser_test.go
Labels: pkg/stanza

#32147 [exporter/datadog] Change noAPMStatsFeatureGate log from warn to info
  exporter/datadogexporter/factory.go
Labels: exporter/datadog, Skip Changelog

#32155 Update prometheus/prometheus to v0.51.1
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/testdata/openmetrics/missing_or_extra_commas_2/metrics
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, Skip Changelog, exporter/loki, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, receiver/loki, connector/datadog

#32156 [chore][CI/CD] Fix build-examples
  Makefile
Labels: ci-cd

#31184 [chore][receiver/splunkenterprise]Splunkent scrape refactor
  receiver/splunkenterprisereceiver/scraper.go
Labels: receiver/splunkenterprise

#32149 [processor/filter] Update `HasAttrOnDatapoint` and `HasAttrKeyOnDatapoint` examples and docs
  processor/filterprocessor/README.md
Labels: ready to merge, processor/filter, Skip Changelog

#32164 change configuration name in log message
  exporter/coralogixexporter/config.go
Labels: Skip Changelog, exporter/coralogix

#31886 [receiver/filelog] Add documentation about contents of the offset tracking file
  receiver/filelogreceiver/README.md
Labels: documentation, Skip Changelog, receiver/filelog

#32178 [chore][receiver/sqlserver] Add database IO metrics query
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/queries_test.go
  receiver/sqlserverreceiver/testdata/databaseIOQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/databaseIOQueryWithoutInstanceName.txt
Labels: receiver/sqlserver

#32070 [chore][pkg/stanza] Cleanup unquote operator files
  pkg/stanza/operator/transformer/unquote/config.go
  pkg/stanza/operator/transformer/unquote/transformer.go
  pkg/stanza/operator/transformer/unquote/transformer_test.go
Labels: pkg/stanza

#32067 [chore][pkg/stanza] Cleanup remove operator files
  pkg/stanza/operator/transformer/remove/config.go
  pkg/stanza/operator/transformer/remove/transformer.go
  pkg/stanza/operator/transformer/remove/transformer_test.go
Labels: pkg/stanza

#32079 [chore][pkg/stanza] Cleanup windows input operator files
  pkg/stanza/operator/input/windows/config_all.go
  pkg/stanza/operator/input/windows/config_windows.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/operator.go
Labels: pkg/stanza, Run Windows

#32078 [chore][pkg/stanza] Cleanup udp input operator files
  pkg/stanza/operator/input/udp/config.go
  pkg/stanza/operator/input/udp/input.go
  pkg/stanza/operator/input/udp/input_test.go
  pkg/stanza/operator/input/udp/udp.go
Labels: pkg/stanza

#32071 [chore][pkg/stanza] Cleanup output operator files
  pkg/stanza/operator/output/drop/config.go
  pkg/stanza/operator/output/drop/output.go
  pkg/stanza/operator/output/drop/output_test.go
  pkg/stanza/operator/output/file/config.go
  pkg/stanza/operator/output/file/output.go
  pkg/stanza/operator/output/stdout/config.go
  pkg/stanza/operator/output/stdout/output.go
  pkg/stanza/operator/output/stdout/output_test.go
Labels: pkg/stanza

#32060 [chore][pkg/stanza] Cleanup assignkeys operator files
  pkg/stanza/operator/transformer/assignkeys/config.go
  pkg/stanza/operator/transformer/assignkeys/transformer.go
  pkg/stanza/operator/transformer/assignkeys/transformer_test.go
Labels: pkg/stanza

#32061 [chore][pkg/stanza] Cleanup copy operator files
  pkg/stanza/operator/transformer/copy/config.go
  pkg/stanza/operator/transformer/copy/transformer.go
  pkg/stanza/operator/transformer/copy/transformer_test.go
Labels: pkg/stanza

#32063 [chore][pkg/stanza] Cleanup flatten operator files
  pkg/stanza/operator/transformer/flatten/config.go
  pkg/stanza/operator/transformer/flatten/transformer.go
  pkg/stanza/operator/transformer/flatten/transformer_test.go
Labels: pkg/stanza

#32182 [chore][receiver/snowflake] Enable goleak check
  receiver/snowflakereceiver/client_test.go
  receiver/snowflakereceiver/package_test.go
  receiver/snowflakereceiver/scraper_test.go
Labels: receiver/snowflake

#32171 Add @ycombinator as codeowner for elasticsearchexporter
  .github/CODEOWNERS
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/metadata.yaml
Labels: Skip Changelog, exporter/elasticsearch

#32188 [receiver/filelog] Add test cases for recursive globs
  pkg/stanza/fileconsumer/matcher/matcher_test.go
Labels: Skip Changelog, pkg/stanza

#32179 [chore][receiver/zookeeper] Enable goleak check
  receiver/zookeeperreceiver/package_test.go
  receiver/zookeeperreceiver/scraper_test.go
Labels: receiver/zookeeper

#32181 [chore][receiver/sshcheck] Enable goleak check
  receiver/sshcheckreceiver/package_test.go
  receiver/sshcheckreceiver/scraper_test.go
Labels: receiver/sshcheck

#32187 [chore][docs][pkg/translator/jaeger] move docs from spec
  pkg/translator/jaeger/README.md
Labels: Skip Changelog, pkg/translator/jaeger

#32198 [chore][receiver/nginx] Enable goleak check
  receiver/nginxreceiver/package_test.go
  receiver/nginxreceiver/scraper_test.go
Labels: receiver/nginx

#32196 [chore][receiver/podman] Enable goleak check
  receiver/podmanreceiver/go.mod
  receiver/podmanreceiver/package_test.go
  receiver/podmanreceiver/podman_test.go
  receiver/podmanreceiver/receiver_test.go
Labels: receiver/podman

#32194 [chore][receiver/purefa] Enable goleak check
  receiver/purefareceiver/package_test.go
  receiver/purefareceiver/receiver_test.go
Labels: receiver/purefa

#32184 [chore][receiver/purefb] Enable goleak check
  receiver/purefbreceiver/metrics_receiver_test.go
  receiver/purefbreceiver/package_test.go
Labels: receiver/purefb

#32197 [chore][receiver/nsxt] Enable goleak check
  receiver/nsxtreceiver/client_test.go
  receiver/nsxtreceiver/package_test.go
  receiver/nsxtreceiver/scraper_test.go
Labels: receiver/nsxt

#32195 [chore][receiver/pulsar] Enable goleak check
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/package_test.go
Labels: receiver/pulsar

#32183 [chore][receiver/saphana] Enable goleak check
  receiver/saphanareceiver/package_test.go
Labels: receiver/saphana

#32202 Prometheus Receiver: Unregister self-observability metrics on Shutdown
  .chloggen/prometheus-receiver-unregister.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/oteltestbedcol/go.mod
  cmd/oteltestbedcol/go.sum
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.sum
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  go.mod
  go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/factory_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: bug, exporter/datadog, exporter/loki, exporter/prometheusremotewrite, receiver/prometheus, cmd/configschema, cmd/otelcontribcol, exporter/prometheus, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, cmd/oteltestbedcol, receiver/purefa, testbed, receiver/purefb, receiver/loki, connector/datadog

#32135 add actuated runners
  .chloggen/run_actuated.yaml
  .github/workflows/build-and-test.yml
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
Labels: receiver/hostmetrics

#32203 [chore] Add nop components to otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
Labels: cmd/otelcontribcol

#31940 API usability improvements in sampling package
  .chloggen/sampling-improvements.yaml
  pkg/sampling/doc.go
  pkg/sampling/oteltracestate.go
  pkg/sampling/oteltracestate_test.go
  pkg/sampling/probability.go
  pkg/sampling/probability_test.go
  pkg/sampling/randomness.go
  pkg/sampling/randomness_test.go
  pkg/sampling/threshold.go
  pkg/sampling/threshold_test.go
  pkg/sampling/w3ctracestate_test.go
Labels: pkg/sampling

#30237 [cmd/opampsupervisor] Handle OpAMP connection settings
  .chloggen/supervisor-accepts-conn.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_accepts_conn.yaml
Labels: cmd/opampsupervisor

#30232 [podmanreceiver] Add metrics and resource metadata
  .chloggen/add_podman_metadata.yaml
  receiver/podmanreceiver/README.md
  receiver/podmanreceiver/config.go
  receiver/podmanreceiver/config_test.go
  receiver/podmanreceiver/documentation.md
  receiver/podmanreceiver/factory.go
  receiver/podmanreceiver/go.mod
  receiver/podmanreceiver/go.sum
  receiver/podmanreceiver/internal/metadata/generated_config.go
  receiver/podmanreceiver/internal/metadata/generated_config_test.go
  receiver/podmanreceiver/internal/metadata/generated_metrics.go
  receiver/podmanreceiver/internal/metadata/generated_metrics_test.go
  receiver/podmanreceiver/internal/metadata/generated_resource.go
  receiver/podmanreceiver/internal/metadata/generated_resource_test.go
  receiver/podmanreceiver/internal/metadata/testdata/config.yaml
  receiver/podmanreceiver/metadata.yaml
  receiver/podmanreceiver/metrics.go
  receiver/podmanreceiver/receiver.go
  receiver/podmanreceiver/receiver_test.go
  receiver/podmanreceiver/record_metrics_test.go
Labels: cmd/mdatagen, receiver/dockerstats, receiver/podman

#28663 [receiver/prometheusreceiver] implement append native histogram
  .chloggen/prometheusreceiver-append-native-histogram.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricfamily_test.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/metrics_adjuster_test.go
  receiver/prometheusreceiver/internal/metricsutil_test.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_protobuf_test.go
Labels: enhancement, ready to merge, receiver/prometheus

#31480 [chore] [exporter/sumologic] sync internal package with Sumo Logic repository
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/go.sum
  exporter/sumologicexporter/internal/observability/observability.go
  exporter/sumologicexporter/internal/observability/observability_test.go
Labels: Skip Changelog, exporter/sumologic

#32270 [chore][processor/resourcedetection] Fix README's config example
  processor/resourcedetectionprocessor/README.md
Labels: documentation, processor/resourcedetection

#32265 [chore] use pdata/testdata instead of coreinternal
  exporter/alibabacloudlogserviceexporter/go.mod
  exporter/alibabacloudlogserviceexporter/metrics_exporter_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/logicmonitorexporter/go.mod
  exporter/logicmonitorexporter/internal/traces/sender_test.go
  exporter/logzioexporter/exporter_test.go
  exporter/logzioexporter/go.mod
  exporter/opencensusexporter/go.mod
  exporter/opencensusexporter/opencensus_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/header_extraction_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/internal/ocmetrics/opencensus_test.go
  receiver/opencensusreceiver/internal/octrace/opencensus_test.go
  receiver/otlpjsonfilereceiver/file_test.go
  receiver/otlpjsonfilereceiver/go.mod
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, exporter/carbon, exporter/loki, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/awskinesis, exporter/logzio, exporter/dynatrace, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/coralogix, exporter/googlecloudpubsub, exporter/mezmo, exporter/opencensus, receiver/kafka, receiver/opencensus, receiver/otlpjsonfile, exporter/instana, exporter/azuredataexplorer, exporter/logicmonitor, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/kinetica, exporter/honeycombmarker, exporter/alertmanager, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud

#32260 [CI] update codecov action to v4
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#32224 Allow customers to set custom resource attributes as container Tags
  .chloggen/dinesh.gurumurthy_expand-resource-attributes.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  go.mod
  go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, connector/datadog

#31732 Change the way that X-Ray exporter annotation converter work
  .chloggen/xray_exporter_allow_dot_annotation.yaml
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
Labels: ready to merge, exporter/awsxray

#31363 [processor/deltatocumulative]: observe accumulation metrics
  .chloggen/deltatocumulative-metrics.yaml
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/go.sum
  processor/deltatocumulativeprocessor/internal/delta/delta.go
  processor/deltatocumulativeprocessor/internal/maybe/ptr.go
  processor/deltatocumulativeprocessor/internal/maybe/ptr_test.go
  processor/deltatocumulativeprocessor/internal/streams/limit.go
  processor/deltatocumulativeprocessor/internal/streams/limit_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative

#31553 [exporter/elasticsearch] handle ecs mode mapping
  .chloggen/feat_ecs-format.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: exporter/elasticsearch

#32303 [chore] Remove usage of go.opentelemetry.io/otel/attribute.Sortable
  internal/aws/metrics/metric_calculator.go
  receiver/statsdreceiver/internal/protocol/statsd_parser_test.go
Labels: receiver/statsd, internal/aws

#32300 [chore][cmd/telemetrygen] Fix deprecated method usage
  cmd/telemetrygen/internal/logs/exporter.go
  cmd/telemetrygen/internal/logs/logs.go
Labels: cmd/telemetrygen

#32305 [pkg/stanza] Fix tests on Windows
  pkg/stanza/fileconsumer/matcher/matcher_test.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#32126 hostmetricsreceiver: use gopsutil cached boot time
  .chloggen/hostmetrics-boot-time-cache.yaml
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper.go
Labels: receiver/hostmetrics

#32323 [exporter/elasticsearch] Fix loop variable in test
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: Skip Changelog, exporter/elasticsearch

#31985 [receiver/gitproviderreceiver] updated metric namespaces
  .chloggen/gitproviderreceiver-namespace-adjustments.yaml
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/documentation.md
  receiver/gitproviderreceiver/go.mod
  receiver/gitproviderreceiver/go.sum
  receiver/gitproviderreceiver/internal/metadata/generated_config.go
  receiver/gitproviderreceiver/internal/metadata/generated_config_test.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics.go
  receiver/gitproviderreceiver/internal/metadata/generated_metrics_test.go
  receiver/gitproviderreceiver/internal/metadata/testdata/config.yaml
  receiver/gitproviderreceiver/internal/scraper/githubscraper/github_scraper.go
  receiver/gitproviderreceiver/metadata.yaml
Labels: receiver/gitprovider

#32168 [pkg/stanza/operator/transformer/recombine] Add max_unmatched_batch_size to recombine operator
  .chloggen/recombine_add_max_unmatched_batch_size.yaml
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/recombine/testdata/config.yaml
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
Labels: pkg/stanza

#32278 remove deprecated dynatrace exporter
  .chloggen/codeboten_rm-deprecated-component2.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/exporters_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/dynatraceexporter/Makefile
  exporter/dynatraceexporter/README.md
  exporter/dynatraceexporter/config/config.go
  exporter/dynatraceexporter/config/config_test.go
  exporter/dynatraceexporter/config/package_test.go
  exporter/dynatraceexporter/doc.go
  exporter/dynatraceexporter/factory.go
  exporter/dynatraceexporter/factory_test.go
  exporter/dynatraceexporter/generated_component_test.go
  exporter/dynatraceexporter/go.mod
  exporter/dynatraceexporter/go.sum
  exporter/dynatraceexporter/internal/metadata/generated_status.go
  exporter/dynatraceexporter/internal/serialization/gauge.go
  exporter/dynatraceexporter/internal/serialization/gauge_test.go
  exporter/dynatraceexporter/internal/serialization/histogram.go
  exporter/dynatraceexporter/internal/serialization/histogram_test.go
  exporter/dynatraceexporter/internal/serialization/package_test.go
  exporter/dynatraceexporter/internal/serialization/serialization.go
  exporter/dynatraceexporter/internal/serialization/serialization_test.go
  exporter/dynatraceexporter/internal/serialization/sum.go
  exporter/dynatraceexporter/internal/serialization/sum_test.go
  exporter/dynatraceexporter/metadata.yaml
  exporter/dynatraceexporter/metrics_exporter.go
  exporter/dynatraceexporter/metrics_exporter_test.go
  exporter/dynatraceexporter/testdata/config.yml
  go.mod
  go.sum
  internal/components/components.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/configschema, cmd/otelcontribcol, exporter/dynatrace, reports/distributions/contrib.yaml

#32173 [receiver/hostmetricsreceiver] cpu scraper - extract cpu count when metric is enabled
  .chloggen/cpu-scraper.yaml
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/cpu_scraper.go
Labels: receiver/hostmetrics, waiting-for-code-owners

#32332 [chore] update deprecated configtls functions
  cmd/opampsupervisor/supervisor/supervisor.go
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/prometheusexporter/prometheus_test.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/exporter_test.go
  exporter/syslogexporter/exporter.go
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/opampextension/opamp_agent.go
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  pkg/stanza/operator/input/tcp/config.go
  processor/resourcedetectionprocessor/internal/openshift/openshift.go
  receiver/aerospikereceiver/config.go
  receiver/aerospikereceiver/scraper.go
  receiver/cloudflarereceiver/logs.go
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbreceiver/config.go
  receiver/mysqlreceiver/client.go
  receiver/redisreceiver/redis_scraper.go
  receiver/saphanareceiver/client.go
  receiver/sapmreceiver/trace_receiver_test.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/simpleprometheusreceiver/receiver.go
  receiver/solacereceiver/messaging_service.go
  receiver/splunkhecreceiver/receiver_test.go
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/config.go
Labels: receiver/redis, processor/resourcedetection, receiver/mongodbatlas, receiver/aerospike, receiver/mysql, receiver/vcenter, exporter/signalfx, exporter/elasticsearch, exporter/prometheus, receiver/saphana, receiver/solace, receiver/mongodb, receiver/splunkhec, receiver/signalfx, receiver/simpleprometheus, receiver/sapm, pkg/stanza, extension/oauth2clientauth, receiver/cloudflare, exporter/syslog, cmd/opampsupervisor, internal/kafka, extension/opamp

#31385 [exporter/prometheusremotewrite] Hash labels using xxhash for performance
  .chloggen/arve_xxhash.yaml
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/histograms.go
  pkg/translator/prometheusremotewrite/histograms_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_test.go
  pkg/translator/prometheusremotewrite/number_data_points.go
  pkg/translator/prometheusremotewrite/number_data_points_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: exporter/prometheusremotewrite, pkg/translator/prometheus

#32307 [chore][receiver/googlecloudspannerreceiver] Enable goleak checks
  receiver/googlecloudspannerreceiver/internal/filter/package_test.go
  receiver/googlecloudspannerreceiver/internal/filterfactory/filterbuilder_test.go
  receiver/googlecloudspannerreceiver/internal/filterfactory/itemfilterfactory_test.go
  receiver/googlecloudspannerreceiver/internal/filterfactory/package_test.go
  receiver/googlecloudspannerreceiver/internal/statsreader/package_test.go
Labels: receiver/googlecloudspanner, receiver/googlecloudpubsub

#32311 [chore][receiver/googlecloudpubsubreceiver/internal] Enable goleak check
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/internal/handler_test.go
  receiver/googlecloudpubsubreceiver/internal/package_test.go
Labels: receiver/googlecloudpubsub

#32357 [chore] Remove components_test.go
  cmd/otelcontribcol/components_test.go
  cmd/oteltestbedcol/components_test.go
  cmd/oteltestbedcol/go.mod
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#32363 [receiver/fluentforward] Fix memory leak
  .chloggen/goleak_fluentforwardrec.yaml
  receiver/fluentforwardreceiver/package_test.go
  receiver/fluentforwardreceiver/receiver_test.go
  receiver/fluentforwardreceiver/server.go
Labels: receiver/fluentforward

#32364 [chore][receiver/azureeventhub] Enable goleak check
  receiver/azureeventhubreceiver/eventhubhandler_test.go
  receiver/azureeventhubreceiver/go.mod
  receiver/azureeventhubreceiver/package_test.go
Labels: receiver/azureeventhub

#32362 [chore][receiver/gitproviderreceiver] Enable goleak check in GitHub scraper
  receiver/gitproviderreceiver/internal/scraper/githubscraper/helpers_test.go
  receiver/gitproviderreceiver/internal/scraper/githubscraper/package_test.go
Labels: receiver/gitprovider

#31735 [connector/servicegraph] Update virtual node defaults and change feature gate to beta
  .chloggen/servicegraphconnector-virtualnodes.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/factory.go
Labels: connector/servicegraph

#31848 [exporter/elasticsearch] Add reliability tests
  exporter/elasticsearchexporter/integrationtest/.gitignore
  exporter/elasticsearchexporter/integrationtest/Makefile
  exporter/elasticsearchexporter/integrationtest/collector.go
  exporter/elasticsearchexporter/integrationtest/config.go
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_test.go
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  versions.yaml
Labels: ready to merge, Skip Changelog, exporter/elasticsearch

#32365 [chore] link otlpjsonfilereceiver to the otel spec
  receiver/otlpjsonfilereceiver/README.md
Labels: receiver/otlpjsonfile

#32206 [receiver/mongodbatlas] Fix memory leak
  .chloggen/goleak_mongodbatlas.yaml
  receiver/mongodbatlasreceiver/events.go
  receiver/mongodbatlasreceiver/events_test.go
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
  receiver/mongodbatlasreceiver/package_test.go
  receiver/mongodbatlasreceiver/receiver_test.go
Labels: receiver/mongodbatlas

#32390 [chore][deps update] Rollback cadvisor to v0.49.0
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
Labels: receiver/awscontainerinsight, cmd/configschema, cmd/otelcontribcol

#32220 [pkg/stanza] Add `send_quiet`/`drop_quiet` options for on_error setting
  .chloggen/mute_op_errors.yaml
  pkg/stanza/docs/types/on_error.md
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
Labels: pkg/stanza

#32386 Failover switch bug fix
  .chloggen/failover-bug-fix.yaml
  connector/failoverconnector/failover_test.go
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/failoverconnector/internal/state/pipeline_selector_test.go
  connector/failoverconnector/traces_test.go
Labels: connector/failover

#31916 [receiver/filelog] Implement `ExcludeOlderThan` matcher criterion
  .chloggen/receiver-filelog-exclude-older-than.yaml
  pkg/stanza/fileconsumer/matcher/internal/filter/exclude.go
  pkg/stanza/fileconsumer/matcher/internal/filter/exclude_test.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/fileconsumer/matcher/matcher_test.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza

#32333 [chore] Allow other matrix jobs to continue when 1 fails
  .github/workflows/build-and-test.yml
  .github/workflows/e2e-tests.yml
Labels: ci-cd

#32221 [exporter/elasticsearch] Update README
  exporter/elasticsearchexporter/README.md
Labels: documentation, Skip Changelog, exporter/elasticsearch

#32415 [exporter/awskinesis] use cached credentials provider
  .chloggen/awskinesis_cached-credentials.yaml
  exporter/awskinesisexporter/exporter.go
  exporter/awskinesisexporter/exporter_test.go
Labels: exporter/awskinesis

#32374 [extension/filestorage] move feature gate to stable
  .chloggen/filestorage-feature-gate-stable.yaml
  extension/storage/filestorage/README.md
  extension/storage/filestorage/extension.go
Labels: extension/storage

#32248 [k8sattributesprocessor] Fix RBAC documentation
  processor/k8sattributesprocessor/README.md
Labels: documentation, ready to merge, processor/k8sattributes, Skip Changelog

#32153 [extension/opamp] Add config options to specify extra non-identifying attributes
  .chloggen/feat_opamp-extension-user-defined-attributes.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/opampextension/README.md
  extension/opampextension/config.go
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/otelcontribcol, extension/opamp

#30672 fix ec2 scraper attribute drop without describeTags
  .chloggen/update-ec2-scraper.yaml
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
Labels: processor/resourcedetection

#32150 [cmd/opampsupervisor] Fix restart delay when agent process exits unexpectedly
  .chloggen/opamp_fix_27891_restart_delay.yaml
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#31944 [cmd/opampsupervisor] Fix early exits not shutting down client/server in bootstrapping
  .chloggen/fix_opamp-supervisor-bootstrap-error-shutdown.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#32419 [connector/failover] Fix flaky test
  .chloggen/failover-flaky-test-fix.yaml
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/failoverconnector/internal/state/pipeline_selector_test.go
Labels: connector/failover

#32200 [chore][receiver/namedpipe] Enable goleak check
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/namedpipe_test.go
  receiver/namedpipereceiver/package_test.go
Labels: receiver/namedpipe

#32401 [receiver/azureeventhub] Fix memory leak on shutdown
  .chloggen/goleak_azureeventhubrec_fix.yaml
  receiver/azureeventhubreceiver/eventhubhandler.go
  receiver/azureeventhubreceiver/eventhubhandler_test.go
Labels: receiver/azureeventhub

#32176 [chore][receiver/sqlserver] Add direct connection config options
  receiver/sqlserverreceiver/config.go
  receiver/sqlserverreceiver/config_others.go
  receiver/sqlserverreceiver/config_others_test.go
  receiver/sqlserverreceiver/config_test.go
  receiver/sqlserverreceiver/config_windows.go
  receiver/sqlserverreceiver/config_windows_test.go
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
Labels: receiver/sqlserver, Run Windows

#32175 [chore][internal/sqlquery] Make error public for future use
  internal/sqlquery/db_client_test.go
  internal/sqlquery/row_scanner.go
  internal/sqlquery/scraper.go
Labels: internal/sqlquery

#32402 [chore][receiver/awsxray] Enable goleak checks
  receiver/awsxrayreceiver/internal/udppoller/package_test.go
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
Labels: receiver/awsxray

#32180 [extension/storage/filestorage] Document how to read files created by the `file_storage` extension
  extension/storage/filestorage/README.md
Labels: Skip Changelog, extension/storage

#32416 [chore] [receiver/receivercreator] Fix a README example config
  receiver/receivercreator/README.md
Labels: receiver/receivercreator

#32448 [chore] vcenterreceiver: Updates mockserver responses for better VM Resource Pool attributes
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/internal/mockserver/responses/vm-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-resource-pool.xml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: Skip Changelog, receiver/vcenter

#32210 [connector/spanmetrics] Discard counter span metric exemplars after flushing
  .chloggen/span-metric-exemplar-memory-leak.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: cmd/otelcontribcol, connector/spanmetrics

#32389 [chore][receiver/oracledb] Add required permissions to README
  CHANGELOG.md
  receiver/oracledbreceiver/README.md
Labels: documentation, receiver/oracledb

#32465 [processor/transform] Fix link in readme
  processor/transformprocessor/README.md
Labels: ready to merge, Skip Changelog, processor/transform

#32308 [extension/ackextension] release ackextension in alpha stability
  .chloggen/release-ack-extension.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  extension/ackextension/README.md
  extension/ackextension/internal/metadata/generated_status.go
  extension/ackextension/metadata.yaml
Labels: cmd/configschema, cmd/otelcontribcol, cmd/oteltestbedcol, testbed, extension/ack

#32474 [chore][pkg/stanza/fileconsumer] Fix test on Windows
  pkg/stanza/fileconsumer/matcher/internal/filter/exclude_test.go
Labels: os:windows, pkg/stanza, Run Windows

#32472 [chore][receiver/apache] Enable goleak check
  receiver/apachereceiver/package_test.go
  receiver/apachereceiver/scraper_test.go
Labels: receiver/apache

#32400 [chore] Update CONTRIBUTING.md for releasing new component
  CONTRIBUTING.md
Labels: documentation

#32443 chore: update CODEOWNERS for Sumo Logic Components
  .github/CODEOWNERS
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/metadata.yaml
  extension/sumologicextension/README.md
  extension/sumologicextension/metadata.yaml
Labels: Skip Changelog, exporter/sumologic, extension/sumologic

#32392 [pkg/ottl] Add isList OTTL Function
  .chloggen/ottl-islist.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_is_list.go
  pkg/ottl/ottlfuncs/func_is_list_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#32185 [pkg/ottl] Updated docs for Time converter
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  pkg/ottl/ottlfuncs/README.md
Labels: documentation, ready to merge, Skip Changelog, pkg/ottl, internal/core

#32383 sumologicexporter: use Sumo Logic Extension for authentication and to obtain endpoint
  .chloggen/drosiek-exporter-extension.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory_test.go
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/go.sum
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
  go.mod
  go.sum
Labels: cmd/configschema, exporter/sumologic

#32341 [receiver/prometheus] speed up tests by setting skipOffsetting
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
Labels: ready to merge, Skip Changelog, receiver/prometheus

#32471 [chore][receiver/sqlserver] Rename and move Windows-specific logic
  receiver/sqlserverreceiver/factory_windows.go
  receiver/sqlserverreceiver/scraper_windows.go
  receiver/sqlserverreceiver/scraper_windows_test.go
Labels: receiver/sqlserver, Run Windows

#32477 [cmd/opampsupervisor] Fix leaks in e2e tests
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/package_test.go
Labels: Skip Changelog, cmd/opampsupervisor

#32201 [receiver/vcenterreceiver] Optimize vCenter VM network calls
  .chloggen/feat_faster-vcenter-vm-network-calls.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/internal/mockserver/responses/create-container-view.xml
  receiver/vcenterreceiver/internal/mockserver/responses/host-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-folder-parent.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-folder.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-group.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-host.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-resource-pool.xml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/resources.go
  receiver/vcenterreceiver/scraper.go
Labels: receiver/vcenter

#32441 [processor/deltatocumulative]: max_stale metric
  .chloggen/deltatocumulative-stalemetric.yaml
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative

#32051 RabbitMQ exporter implementation
  .chloggen/rabbitmq-exporter-implementation.yaml
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/config.go
  exporter/rabbitmqexporter/config_test.go
  exporter/rabbitmqexporter/factory.go
  exporter/rabbitmqexporter/factory_test.go
  exporter/rabbitmqexporter/go.mod
  exporter/rabbitmqexporter/go.sum
  exporter/rabbitmqexporter/internal/publisher/client.go
  exporter/rabbitmqexporter/internal/publisher/publisher.go
  exporter/rabbitmqexporter/internal/publisher/publisher_test.go
  exporter/rabbitmqexporter/marshaler.go
  exporter/rabbitmqexporter/marshaler_test.go
  exporter/rabbitmqexporter/rabbitmq_exporter.go
  exporter/rabbitmqexporter/rabbitmq_exporter_test.go
  exporter/rabbitmqexporter/testdata/test-config.yaml
Labels: ready to merge, exporter/rabbitmq

#32498 [chore] Remove all direct usage of component.host.GetExporters
  connector/servicegraphconnector/connector.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
  receiver/k8sclusterreceiver/receiver.go
Labels: Skip Changelog, processor/routing, receiver/k8scluster, connector/servicegraph

#32503 [chore] change @astencel-sumo to @andrzej-stencel
  .github/CODEOWNERS
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
  exporter/syslogexporter/README.md
  exporter/syslogexporter/metadata.yaml
  exporter/zipkinexporter/README.md
  exporter/zipkinexporter/metadata.yaml
  pkg/translator/zipkin/metadata.yaml
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/metadata.yaml
  receiver/gitproviderreceiver/README.md
  receiver/gitproviderreceiver/metadata.yaml
  receiver/zipkinreceiver/README.md
  receiver/zipkinreceiver/metadata.yaml
Labels: receiver/zipkin, exporter/zipkin, pkg/translator/zipkin, exporter/syslog, receiver/gitprovider, processor/sumologic

#30659 [exporter/azuremonitorexporter] fix: correct parent for span events
  .chloggen/exporter-azuremonitorexporter_fix-parent-of-span-events.yaml
  exporter/azuremonitorexporter/trace_to_envelope.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
Labels: ready to merge, exporter/azuremonitor

#32442 [extension/googleclientauth] Mark GCP client auth extension alpha
  .chloggen/gcp-auth-extension-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/extensions_test.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/googleclientauthextension/README.md
  extension/googleclientauthextension/internal/metadata/generated_status.go
  extension/googleclientauthextension/metadata.yaml
Labels: ready to merge, cmd/otelcontribcol, extension/googleclientauth

#32522 [chore][receiver/k8scluster] Fix config's indentation in README
  receiver/k8sclusterreceiver/README.md
Labels: documentation, receiver/k8scluster

#32518 [chore] Update windows tests component groups
  .github/workflows/build-and-test-windows.yml
  receiver/sqlserverreceiver/queries_test.go
  receiver/windowseventlogreceiver/metadata.yaml
  receiver/windowsperfcountersreceiver/factory_windows.go
Labels: ci-cd, receiver/windowseventlog, receiver/windowsperfcounters, receiver/sqlserver, Run Windows

#32346 [receiver/awscloudwatch] allow named groups with no stream spec
  .chloggen/aws-cw-receiver-full-named-loggroups.yaml
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
Labels: receiver/awscloudwatch

#31534 otlpjsonfilereceiver: add a replay_file config option to support heartbeats
  .chloggen/otlpjsonfilereceiver-replay.yaml
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/tracker/tracker.go
  pkg/stanza/fileconsumer/internal/tracker/tracker_other.go
  pkg/stanza/fileconsumer/internal/tracker/tracker_windows.go
  pkg/stanza/fileconsumer/util_test.go
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: pkg/stanza, receiver/otlpjsonfile

#32540 [pkg/pdatatest/plogtest] Add an option to ignore log timestamp
  .chloggen/plogtest-ignore-timestamp.yaml
  pkg/pdatatest/plogtest/logs_test.go
  pkg/pdatatest/plogtest/options.go
  pkg/pdatatest/plogtest/testdata/ignore-timestamp/actual.yaml
  pkg/pdatatest/plogtest/testdata/ignore-timestamp/expected.yaml
Labels: pkg/pdatatest

#32544 update otelcol versions to 0.98.0
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Labels: Skip Changelog, cmd/otelcontribcol, cmd/oteltestbedcol

#32525 [chore][receiver/sqlserver] Fix newlines when testing on Windows
  receiver/sqlserverreceiver/queries_test.go
Labels: receiver/sqlserver, Run Windows

#31767 [receiver/splunkhecreceiver] use ACK extension in HEC receiver
  .chloggen/hec_receiver_ack.yaml
  cmd/configschema/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  cmd/oteltestbedcol/go.mod
  exporter/elasticsearchexporter/integrationtest/go.mod
  go.mod
  internal/splunk/common.go
  receiver/splunkhecreceiver/README.md
  receiver/splunkhecreceiver/config.go
  receiver/splunkhecreceiver/config_test.go
  receiver/splunkhecreceiver/factory.go
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/go.sum
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
  testbed/go.mod
  testbed/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/splunkhec, exporter/elasticsearch, receiver/splunkhec, internal/splunk, cmd/oteltestbedcol, testbed

#32547 [chore][CI/CD] Fix cloudflare receiver integration test
  receiver/cloudflarereceiver/logs_integration_test.go
Labels: receiver/cloudflare

#32542 [chore][receiver/sqlserver] Enable receiver to run on non-Windows systems
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_others.go
  receiver/sqlserverreceiver/factory_others_test.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/factory_windows.go
  receiver/sqlserverreceiver/factory_windows_test.go
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
  receiver/sqlserverreceiver/package_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/database_io_scraped_data.txt
  receiver/sqlserverreceiver/testdata/expected_database_io.yaml
Labels: receiver/sqlserver, Run Windows
