Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-05, with the labels that each got.

#32791 [chore] tidy some code to reflect better how err is handled
  exporter/splunkhecexporter/hec_worker.go
Labels: exporter/splunkhec

#32057 [receiver/awscloudwatch]: Use next token in Log Group discovery
  .chloggen/use-next-token-in-discovery.yaml
  receiver/awscloudwatchreceiver/logs.go
Labels: receiver/awscloudwatch

#32784 [chore] remove runner from cache key to make caching less costly
  .github/workflows/build-and-test.yml
Labels: ready to merge, ci-cd

#32701 [otlpencodingextension] Move otlpencodingextension to alpha
  .chloggen/otlpencoding_alpha.yaml
  extension/encoding/otlpencodingextension/README.md
  extension/encoding/otlpencodingextension/internal/metadata/generated_status.go
  extension/encoding/otlpencodingextension/metadata.yaml
Labels: extension/encoding

#32699 [jaegerencodingextension] promote jaegerencodingextension to alpha
  .chloggen/jaegerencoding_alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/encoding/jaegerencodingextension/README.md
  extension/encoding/jaegerencodingextension/internal/metadata/generated_status.go
  extension/encoding/jaegerencodingextension/metadata.yaml
Labels: cmd/otelcontribcol, extension/encoding

#32797 [chore][pkg/ottl] Fix broken link
  pkg/ottl/README.md
Labels: pkg/ottl

#32191 [chore] update comment on function usage
  receiver/awscontainerinsightreceiver/receiver.go
Labels: ready to merge, receiver/awscontainerinsight

#32379 [exporter/syslog][chore] use consts for network protocol names
  exporter/syslogexporter/config.go
  exporter/syslogexporter/exporter.go
  exporter/syslogexporter/go.mod
  exporter/syslogexporter/go.sum
  exporter/syslogexporter/sender.go
Labels: ready to merge, Skip Changelog, exporter/syslog

#32217 [receiver/filelog] Add note on tracking symlinked files for `poll_interval` setting.
  receiver/filelogreceiver/README.md
Labels: documentation, Skip Changelog, receiver/filelog

#32780 [receiver/vcenter] Fixes `vcenter.vm.disk.throughput` metric
  .chloggen/fix_vcenter-vm-add-disk-metric.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/mockserver/responses/vm-performance-counters.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#32526 Double the number of processor build-and-test targets
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  Makefile
Labels: ready to merge, ci-cd, Skip Changelog, Run Windows

#32783 [receiver/vcenter] Updates `vcenter.cluster.memory.effective` metric
  .chloggen/fix_vcenter-cluster-effective-memory.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/integration_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#32802 [chore] move actuated builds into separate workflow
  .github/workflows/build-and-test-actuated.yml
  .github/workflows/build-and-test.yml
Labels: ci-cd

#32351 [testbed] Fix loadgenerator race condition
  testbed/testbed/load_generator.go
Labels: ready to merge, Skip Changelog, testbed

#32800 Remove deprecated `GetAvailablePort` function
  .chloggen/remove_deprecate_GetAvailablePort.yaml
  testbed/testbed/in_process_collector_test.go
  testbed/testbed/mock_backend_test.go
  testbed/testbed/utils.go
Labels: testbed

#32512 [exporter/elasticsearch] Extend integration tests to cover traces
  exporter/elasticsearchexporter/integrationtest/exporter_test.go
Labels: ready to merge, Skip Changelog, exporter/elasticsearch

#32575 [chore] Fix Splunk integration test by simplifying the run and using an older Splunk build
  exporter/splunkhecexporter/integration_test.go
  exporter/splunkhecexporter/testdata/integration_tests_config.yaml
  exporter/splunkhecexporter/testdata/splunk.yaml
Labels: exporter/splunkhec, Run Windows

#32585 [exporter/elasticsearch] Add retry.retry_on_status config
  .chloggen/elasticsearchexporter_retry-on-status.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
Labels: ready to merge, exporter/elasticsearch

#32804 [receiver/vcenter] Adds Suspended VM Counts to `vcenter.cluster.vm.count`
  .chloggen/fix_vcenter-cluster-vm-count-metric.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#32605 Preserve unknown, info, and stateset metric types from prometheus receivers to exporters
  .chloggen/prometheus-additional-types.yaml
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
  pkg/translator/prometheus/constants.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata_test.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metricsutil_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: enhancement, ready to merge, receiver/prometheus, exporter/prometheus, pkg/translator/prometheus

#32823 Bump datadog-agent dependencies
  .chloggen/stanley.liu_update-pkg-trace.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/traces_exporter.go
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, internal/datadog, connector/datadog

#32825 [chore][receiver/oracledb] Add config options to README
  receiver/oracledbreceiver/README.md
Labels: documentation, receiver/oracledb

#32827 [chore][receiver/sqlserver] Fix typo
  receiver/sqlserverreceiver/README.md
Labels: receiver/sqlserver

#32811 [chore] fix ARM build
  .github/workflows/build-and-test-arm.yml
Labels: ready to merge, ci-cd, Run ARM

#32743 [confmap/provider/secretsmanager] Switch to `NewFactory`
  .chloggen/smprovider-factory.yaml
  confmap/provider/secretsmanagerprovider/provider.go
  confmap/provider/secretsmanagerprovider/provider_test.go
Labels: confmap/provider/secretsmanagerprovider

#32529 [chore][CI/CD] Remove integration test naming restriction
  Makefile.Common
  exporter/clickhouseexporter/integration_test.go
  exporter/datasetexporter/logs_exporter_stress_test.go
  receiver/hostmetricsreceiver/integration_test.go
  receiver/mongodbatlasreceiver/alerts_integration_test.go
Labels: ready to merge, receiver/mongodbatlas, exporter/clickhouse, receiver/hostmetrics, exporter/splunkhec, Run Windows, receiver/cloudflare, exporter/dataset

#32840 [telemetrygen] Add support to set metric name
  .chloggen/add-metric-name.yaml
  cmd/telemetrygen/internal/metrics/config.go
  cmd/telemetrygen/internal/metrics/metrics.go
  cmd/telemetrygen/internal/metrics/worker.go
  cmd/telemetrygen/internal/metrics/worker_test.go
Labels: cmd/telemetrygen

#32742 [confmap/provider/s3] Switch to `NewFactory`
  .chloggen/s3provider-factory.yaml
  confmap/provider/s3provider/provider.go
  confmap/provider/s3provider/provider_test.go
Labels: confmap/provider/s3provider

#32790 [chore] add an error log for backpressure from upstream
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/hec_worker.go
  exporter/splunkhecexporter/integration_test.go
Labels: ready to merge, exporter/splunkhec

#32848 [pkg/stanza] Skipping flaky test case `TestExcludeOlderThanFilter/exclude_some_files` on Windows
  pkg/stanza/fileconsumer/matcher/internal/filter/exclude_test.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#32831 [receiver/vcenter] Adds Initial Support for VM Templates
  .chloggen/fix_vcenter-vm-template-add.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/integration_test.go
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_resource.go
  receiver/vcenterreceiver/internal/metadata/generated_resource_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-host-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-folder-children.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/resources.go
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter

#31809 [exporter/kafka]Decide the Kafka topic based on the value of the attribute.
  .chloggen/attribute-topic.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
Labels: enhancement, ready to merge, exporter/kafka

#32849 [chore][receiver/mongodb] Update metric supported versions
  receiver/mongodbreceiver/README.md
Labels: documentation, ready to merge, receiver/mongodb

#32281 [extension/opamp]: Custom Message Support
  .chloggen/feat_opamp-extension-custom-messages.yaml
  extension/opampextension/README.md
  extension/opampextension/custom_messages.go
  extension/opampextension/opamp_agent.go
  extension/opampextension/registry.go
  extension/opampextension/registry_test.go
Labels: cmd/otelcontribcol, extension/opamp

#32809 [chore] start and stop otlp exporter once
  testbed/testbed/receivers.go
Labels: testbed

#32564 [extension/opamp]: Add mechanism to detect whether the collector has been orphaned
  .chloggen/feat_opamp-extension-monitor-ppid.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/opampextension/README.md
  extension/opampextension/config.go
  extension/opampextension/config_test.go
  extension/opampextension/factory.go
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  extension/opampextension/monitor_ppid.go
  extension/opampextension/monitor_ppid_test.go
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: cmd/otelcontribcol, Run Windows, extension/opamp

#32852 [ptracetest] Add additional methods to ignore scope span instrumentation scope information
  .chloggen/ptracetest_options.yaml
  pkg/pdatatest/ptracetest/options.go
  pkg/pdatatest/ptracetest/testdata/scopespans-scope-attributes-mismatch/actual.yaml
  pkg/pdatatest/ptracetest/testdata/scopespans-scope-attributes-mismatch/expected.yaml
  pkg/pdatatest/ptracetest/traces_test.go
Labels: pkg/pdatatest

#32853 Add a roundrobin connector, that can help single thread components to scale
  .chloggen/roundrobinconnector.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  connector/roundrobinconnector/Makefile
  connector/roundrobinconnector/README.md
  connector/roundrobinconnector/config.go
  connector/roundrobinconnector/connector.go
  connector/roundrobinconnector/connector_test.go
  connector/roundrobinconnector/doc.go
  connector/roundrobinconnector/factory.go
  connector/roundrobinconnector/generated_component_test.go
  connector/roundrobinconnector/generated_package_test.go
  connector/roundrobinconnector/go.mod
  connector/roundrobinconnector/go.sum
  connector/roundrobinconnector/internal/metadata/generated_status.go
  connector/roundrobinconnector/internal/metadata/generated_telemetry.go
  connector/roundrobinconnector/internal/metadata/generated_telemetry_test.go
  connector/roundrobinconnector/metadata.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml

#32563 add batcher config to splunkhec exporter
  .chloggen/exporter-splunkhec-addbatcherconfig.yaml
  exporter/splunkhecexporter/README.md
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/testdata/config.yaml
Labels: exporter/splunkhec

#32327 [exporter/datadog] Refactor Datadog Exporter to use logs agent exporter
  .chloggen/datadogexporter_logsagentexporter.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/agent_components.go
  exporter/datadogexporter/config.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/logs/hostnameimpl.go
  exporter/datadogexporter/internal/testutil/logs.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/logs_exporter_test.go
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, testbed, receiver/datadog, internal/datadog, connector/datadog

#32865 Update opentelemetry-mapping-go to v0.16.0
  .chloggen/mx-psi_update-mapping-go.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  go.mod
  go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
Labels: exporter/datadog, cmd/configschema, cmd/otelcontribcol, internal/datadog, connector/datadog

#32864 [chore][exporter/elasticsearch] Bump go-docappender to v2
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
Labels: dependencies, exporter/elasticsearch

#32836 [connector/datadog] Add config option for compute_top_level_by_span_kind
  .chloggen/stanley.liu_top-level-change-connector.yaml
  .chloggen/stanley.liu_top-level-change.yaml
  connector/datadogconnector/config.go
  connector/datadogconnector/connector.go
  connector/datadogconnector/examples/config.yaml
  exporter/datadogexporter/config.go
  exporter/datadogexporter/examples/collector.yaml
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/traces_exporter.go
Labels: exporter/datadog, connector/datadog

#32870 [chore] try to fix coverage step
  .github/workflows/build-and-test.yml
Labels: ci-cd

#32871 Update github.com/GoogleCloudPlatform/opentelemetry-operations-go dependencies to the latest release
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/googlecloudexporter/config_test.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
  go.mod
  go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
Labels: dependencies, exporter/datadog, Skip Changelog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/configschema, cmd/otelcontribcol, connector/datadog, extension/googleclientauth

#32570 Update awsxrayexporter README.md to reflect new xray traceid improvem…
  exporter/awsxrayexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/awsxray

#32860 Fix/followup fix kinesis compression
  .chloggen/fix_followup-fix-kinesis-compression.yaml
  exporter/awskinesisexporter/internal/compress/compresser.go
  exporter/awskinesisexporter/internal/compress/compresser_test.go
Labels: ready to merge, exporter/awskinesis

#31694 [exporter/elasticsearch] Flesh out encoding log records with `mapping.mode: ecs`
  .chloggen/exporter-elasticsarch-more-ecs-mode.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#32722 [jsonlogencodingextension] Add Modes for Body with Attributes
  .chloggen/pretty-json-encoding.yaml
  extension/encoding/jsonlogencodingextension/README.md
  extension/encoding/jsonlogencodingextension/config.go
  extension/encoding/jsonlogencodingextension/extension.go
  extension/encoding/jsonlogencodingextension/factory.go
  extension/encoding/jsonlogencodingextension/json_test.go
Labels: ready to merge, extension/encoding

#32222 [receiver/awss3receiver] Initial implementation
  .chloggen/awss3receiver_impl_mvp.yaml
  receiver/awss3receiver/README.md
  receiver/awss3receiver/config.go
  receiver/awss3receiver/config_test.go
  receiver/awss3receiver/factory.go
  receiver/awss3receiver/factory_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
  receiver/awss3receiver/metadata.yaml
  receiver/awss3receiver/receiver.go
  receiver/awss3receiver/receiver_test.go
  receiver/awss3receiver/s3intf.go
  receiver/awss3receiver/s3reader.go
  receiver/awss3receiver/s3reader_test.go
  receiver/awss3receiver/testdata/config.yaml
Labels: ready to merge, receiver/awss3

#32211 [connector/exceptions] Always add span name as a dimension in the output metrics and log records
  .chloggen/always-add-span-name-dimension.yaml
  connector/exceptionsconnector/README.md
  connector/exceptionsconnector/config.go
  connector/exceptionsconnector/connector.go
  connector/exceptionsconnector/connector_logs.go
  connector/exceptionsconnector/connector_metrics.go
  connector/exceptionsconnector/connector_metrics_test.go
  connector/exceptionsconnector/connector_test.go
  connector/exceptionsconnector/testdata/config.yaml
  connector/exceptionsconnector/testdata/logs.yml
Labels: connector/exceptions

#32698 [processor/groupbytrace] Fix groupbytrace metrics contain duplicate prefix
  .chloggen/fix_groupbytrace_contain_duplicate_prefix.yaml
  processor/groupbytraceprocessor/metrics.go
Labels: processor/groupbytrace

#32507 [chore][processor/sumologic] update code owners
  .github/CODEOWNERS
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/metadata.yaml
Labels: receiver/zipkin, exporter/zipkin, pkg/translator/zipkin, exporter/syslog, receiver/gitprovider, processor/sumologic

#32582 [chore][processor/remotetap] fix component name in README
  processor/remotetapprocessor/README.md
Labels: processor/remotetap

#32509 [chore][receiver/datadogreceiver] use errors.Join instead of go.uber.org/multierr
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/receiver_test.go
  receiver/datadogreceiver/translator.go
Labels: Stale, receiver/datadog

#32917 [chore][exporter/elasticsearch] Fix TestExporter_PushEvent flaky test
  exporter/elasticsearchexporter/logs_exporter_test.go
Labels: ready to merge, exporter/elasticsearch

#32901 [exporter/loki] Documentation incorrect on mapping severity to level
  exporter/lokiexporter/README.md
Labels: documentation, Skip Changelog

#32925 [exporter/syslogexporter] use errors.Join instead of go.uber.org/multierr
  exporter/syslogexporter/config.go
  exporter/syslogexporter/config_test.go
  exporter/syslogexporter/exporter.go
  exporter/syslogexporter/go.mod
Labels: Skip Changelog, exporter/syslog

#32830 chore: add constants for prometheus translation
  exporter/prometheusexporter/collector.go
  pkg/translator/prometheus/constants.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/transaction.go
Labels: Skip Changelog, receiver/prometheus, exporter/prometheus, pkg/translator/prometheus

#32737 sumologicexporter!: change metrics behavior
  .chloggen/drosiek-exporter-metrics.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/carbon_formatter.go
  exporter/sumologicexporter/carbon_formatter_test.go
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/factory_test.go
  exporter/sumologicexporter/fields.go
  exporter/sumologicexporter/graphite_formatter.go
  exporter/sumologicexporter/graphite_formatter_test.go
  exporter/sumologicexporter/otlp_test.go
  exporter/sumologicexporter/prometheus_formatter_test.go
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
  exporter/sumologicexporter/test_data.go
  exporter/sumologicexporter/test_data_test.go
Labels: exporter/sumologic

#32878 [chore][receiver/sqlserver] Update documentation for darwin and linux OS
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/generated_component_test.go
  receiver/sqlserverreceiver/metadata.yaml
Labels: documentation, receiver/sqlserver

#32940 [receiver/haproxy] Unit test timing out
  receiver/haproxyreceiver/scraper_test.go
Labels: ready to merge, Skip Changelog, receiver/haproxy

#32902 [connector/servicegraph] Remove use of host.GetExporters
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/factory.go
Labels: ready to merge, Skip Changelog, connector/servicegraph

#32032 [exporter/loadbalancing] Improve the performance when merging traces belonging to the same backend
  .chloggen/loadbalancingexporter_perf.yaml
  exporter/loadbalancingexporter/helpers.go
Labels: exporter/loadbalancing

#32943 Move Aneurysm9 to emeritus status
  .github/auto_assign.yml
  CONTRIBUTING.md
  README.md
Labels: Skip Changelog

#32855 [chore] Add some docs to readme regarding file exporter
  exporter/fileexporter/README.md
Labels: documentation, ready to merge, exporter/file, waiting-for-code-owners

#32687 [receiver/vcenter] Fixes Cluster Resource Attributes for Datastore Resource
  .chloggen/fix_vcenter-datastore-attributes.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter, extension/healthcheckv2

#32930 [receiver/vcenter] Adds New Packet Dropped Rate Metric for VMs
  .chloggen/feat_vcenter-vm-add-packet-drop-metric.yaml
  .chloggen/fix_vcenter-vm-add-new-packet-metrics.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-performance-counters.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter

#32481 [remotetapprocessor] use 'time/rate' to limit traffic
  .chloggen/fix-remotetap-limit.yaml
  processor/remotetapprocessor/processor.go
  processor/remotetapprocessor/processor_test.go
  processor/remotetapprocessor/server_test.go
Labels: ready to merge, processor/remotetap

#32913 [receiver/vcenter] Switches Over Metadata Configs Waiting for v0.100.0 Release
  .chloggen/receiver-vcenter_modify-default-configs.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/generated_resource_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/scraper.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/integration/expected.yaml
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#32946 [chore][fileconsumer] Skip flaky TestFlushPeriodEOF on windows
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
Labels: pkg/stanza

#32955 [chore][CI/CD][arm] Trigger arm runs on label
  .github/workflows/build-and-test-arm.yml
Labels: ci-cd, arm64, Run ARM

#32956 [chore][receiver/splunkenterprise] Add header to README
  receiver/splunkenterprisereceiver/README.md
Labels: documentation, receiver/splunkenterprise

#32359 [exporter/elasticsearch] Replace go-elasticsearch BulkIndexer with go-docappender
  .chloggen/elasticsearchexporter_go-docappender.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/elasticsearch_bulk.go
  exporter/elasticsearchexporter/elasticsearch_bulk_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/logs_exporter.go
  exporter/elasticsearchexporter/logs_exporter_test.go
  exporter/elasticsearchexporter/trace_exporter.go
  exporter/elasticsearchexporter/traces_exporter_test.go
  go.mod
  go.sum
Labels: cmd/configschema, cmd/otelcontribcol, exporter/elasticsearch

#32937 fix(test): Skip flaky test around forcing collector re-registration until the root cause is confirmed
  extension/sumologicextension/extension_test.go
Labels: ready to merge, Skip Changelog, extension/sumologic

#32795 [chore][receiver/splunkenterprise] Splunkent wire component
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/components.go
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/receivers_test.go
  go.mod
  internal/components/components.go
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_status.go
  receiver/splunkenterprisereceiver/metadata.yaml
Labels: cmd/configschema, cmd/otelcontribcol, receiver/splunkenterprise

#32479 [pkg/ottl] Added support for timezone in Time converter
  .chloggen/ottl-time-timezone.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_time.go
  pkg/ottl/ottlfuncs/func_time_test.go
Labels: pkg/ottl

#31491 [processor/transform] Add common where clause
  .chloggen/lkwronski.issue-27830-common-where-clause.yaml
  internal/filter/expr/matcher.go
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/filter_test.go
  internal/filter/filterottl/functions.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform, pkg/ottl, internal/filter

#32966 Instantiate ID in pkg/stanza/adapter tests
  pkg/stanza/adapter/storage_test.go
Labels: Skip Changelog, pkg/stanza

#32881 Add connector usage to the testbed
  .chloggen/connector-testbed.yaml
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  testbed/Makefile
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/metrics/correctness_test_case.go
  testbed/correctnesstests/traces/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/dataconnectors/routing.go
  testbed/dataconnectors/spanmetrics.go
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/components.go
  testbed/testbed/connectors.go
Labels: ready to merge, exporter/elasticsearch, testbed

#32957 [chore][CONTRIBUTING.md] Update adding component directions
  CONTRIBUTING.md
Labels: documentation

#32951 [opampextension]: Move custom message interface to separate module
  .chloggen/chore_move-custom-messages.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/checkapi/allowlist.txt
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  extension/opampcustommessages/Makefile
  extension/opampcustommessages/README.md
  extension/opampcustommessages/custom_messages.go
  extension/opampcustommessages/go.mod
  extension/opampcustommessages/go.sum
  extension/opampcustommessages/metadata.yaml
  extension/opampextension/README.md
  extension/opampextension/go.mod
  extension/opampextension/opamp_agent.go
  extension/opampextension/registry.go
  extension/opampextension/registry_test.go
  versions.yaml
Labels: cmd/otelcontribcol, extension/opamp

#32916 [chore] Add contrib confmap providers to otelcontribcol
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  cmd/otelcontribcol/main.go
  go.mod
  go.sum
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
Labels: cmd/configschema, cmd/otelcontribcol, receiver/snowflake

#31924 chore: remote write exporter retry on 429
  .chloggen/prometheus-remote-write-exporter-retry-429.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/go.mod
Labels: ready to merge, exporter/prometheusremotewrite, pkg/translator/prometheus

#32987 [chore] vcenterreceiver Adds Accidentally Removed Unit Test Configs/Results
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: receiver/vcenter

#31996 OpenTelemetry Protocol with Apache Arrow Exporter component
  .chloggen/otelarrowexporter.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/doc.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  exporter/otelarrowexporter/generated_component_test.go
  exporter/otelarrowexporter/generated_package_test.go
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/otelarrowexporter/internal/arrow/bestofn.go
  exporter/otelarrowexporter/internal/arrow/common_test.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/otelarrowexporter/internal/arrow/grpcmock/credentials.go
  exporter/otelarrowexporter/internal/arrow/prioritizer.go
  exporter/otelarrowexporter/internal/arrow/stream.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/otelarrowexporter/metadata.yaml
  exporter/otelarrowexporter/otelarrow.go
  exporter/otelarrowexporter/otelarrow_test.go
  exporter/otelarrowexporter/testdata/config.yaml
Labels: cmd/otelcontribcol, exporter/otelarrow

#32939 [exporter/sumologic] change logs behavior
  .chloggen/drosiek-exporter-logs.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/compress.go
  exporter/sumologicexporter/compress_test.go
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/factory_test.go
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
Labels: exporter/sumologic

#32984 [chore][exporter/rabbitmq] Add missing code owner
  .github/CODEOWNERS
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/metadata.yaml
Labels: ready to merge, exporter/rabbitmq

#32944 [chore][receiver/sqlserver] Document Windows-only metrics
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/metadata.yaml
Labels: documentation, receiver/sqlserver

#32991 [receiver/vcenter] Collection Time Performance Enhancement
  .chloggen/feat_vcenter-performance-tweaks.yaml
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/client_test.go
  receiver/vcenterreceiver/internal/mockserver/client_mock.go
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-datastore.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-host-name.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-host-perf-counters.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-host-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-host.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-resource-pool-children.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-resource-pool-owner.xml
  receiver/vcenterreceiver/internal/mockserver/responses/cluster-resource-pool-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-datastore.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-host-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-host.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-resource-pool-owner.xml
  receiver/vcenterreceiver/internal/mockserver/responses/compute-resource-pool-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/datacenter-list.xml
  receiver/vcenterreceiver/internal/mockserver/responses/datastore-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/datastore-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/host-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/host-performance-counters.xml
  receiver/vcenterreceiver/internal/mockserver/responses/resource-pool-default-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/virtual-app-children.xml
  receiver/vcenterreceiver/internal/mockserver/responses/virtual-app-owner.xml
  receiver/vcenterreceiver/internal/mockserver/responses/virtual-app-properties.xml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-default-properties.xml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/processors.go
  receiver/vcenterreceiver/resources.go
  receiver/vcenterreceiver/scraper.go
Labels: receiver/vcenter

#33011 [exporter/sumologic]: add sticky session
  .chloggen/drosiek-sumo-sticky-session.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
Labels: exporter/sumologic

#32030 deltatocumulative: exponential histograms
  .chloggen/deltatocumulative-exphist.yaml
  processor/deltatocumulativeprocessor/go.mod
  processor/deltatocumulativeprocessor/internal/data/add.go
  processor/deltatocumulativeprocessor/internal/data/data.go
  processor/deltatocumulativeprocessor/internal/data/expo/expo.go
  processor/deltatocumulativeprocessor/internal/data/expo/expo_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/expotest/bins.go
  processor/deltatocumulativeprocessor/internal/data/expo/expotest/equal.go
  processor/deltatocumulativeprocessor/internal/data/expo/expotest/equal_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/expotest/histogram.go
  processor/deltatocumulativeprocessor/internal/data/expo/merge.go
  processor/deltatocumulativeprocessor/internal/data/expo/merge_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/ord.go
  processor/deltatocumulativeprocessor/internal/data/expo/ord_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/zero.go
  processor/deltatocumulativeprocessor/internal/data/expo/zero_test.go
  processor/deltatocumulativeprocessor/internal/data/expo_test.go
  processor/deltatocumulativeprocessor/internal/metrics/data.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/processor.go
Labels: processor/deltatocumulative

#32594 [pkg/stanza] Add container operator parser
  .chloggen/add_container_parser.yaml
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/container.md
  pkg/stanza/operator/helper/regexp.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/config_test.go
  pkg/stanza/operator/parser/container/package_test.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
  pkg/stanza/operator/parser/container/testdata/config.yaml
  pkg/stanza/operator/parser/regex/parser.go
Labels: pkg/stanza, internal/core

#33023 [chore][receiver/sqlserver] Update documentation for lock wait rate metric
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/metadata.yaml
Labels: receiver/sqlserver

#32992 [exporter/datadog] Actually gzip host metadata
  .chloggen/mx-psi_hostmetadata-gzip.yaml
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/internal/testutil/test_utils.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#32832 [chore][pkg/stanza] Add syslog octet counting test cases with whitespace scenarios
  pkg/stanza/operator/input/syslog/input_test.go
  pkg/stanza/operator/parser/syslog/data.go
  receiver/syslogreceiver/README.md
Labels: receiver/syslog, pkg/stanza

#33012 [exporter/sumologic]: remove deprecated configuration options
  .chloggen/drosiek-refactor.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/filter.go
  exporter/sumologicexporter/filter_test.go
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
  exporter/sumologicexporter/source_format.go
  exporter/sumologicexporter/source_format_test.go
Labels: ready to merge, exporter/sumologic

#33041 chore: fix function names in comment
  exporter/sentryexporter/transport.go
  internal/aws/proxy/conn.go
  internal/coreinternal/textutils/encoding.go
Labels: ready to merge, Skip Changelog, exporter/sentry, internal/aws, internal/core

#32979 [chore][receiver/chronyreceiver] use errors.Join instead of go.uber.org/multierr
  receiver/chronyreceiver/go.mod
  receiver/chronyreceiver/internal/chrony/client.go
  receiver/chronyreceiver/internal/chrony/util.go
Labels: ready to merge, receiver/chrony

#33022 otelarrowexporter: Minor changes following 31996
  .chloggen/otelarrowexporter.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/factory.go
Labels: Skip Changelog, exporter/otelarrow

#32696 [encoding/text_encoding] Add support for text marshaling/unmarshaling with separators
  .chloggen/text_encoding.yaml
  extension/encoding/textencodingextension/README.md
  extension/encoding/textencodingextension/config.go
  extension/encoding/textencodingextension/config_test.go
  extension/encoding/textencodingextension/factory.go
  extension/encoding/textencodingextension/text.go
  extension/encoding/textencodingextension/text_test.go
Labels: extension/encoding

#32921 Add googlemanagedprometheus troubleshooting documentation
  exporter/googlemanagedprometheusexporter/README.md
Labels: documentation, Skip Changelog, exporter/googlemanagedprometheus

#31946 Refactor the probabilistic sampler processor; add FailClosed configuration, prepare for OTEP 235 support
  .chloggen/probabilisticsampler_failclosed.yaml
  cmd/configschema/go.mod
  cmd/otelcontribcol/builder-config.yaml
  cmd/otelcontribcol/go.mod
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  go.mod
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/config.go
  processor/probabilisticsamplerprocessor/config_test.go
  processor/probabilisticsamplerprocessor/factory.go
  processor/probabilisticsamplerprocessor/factory_test.go
  processor/probabilisticsamplerprocessor/go.mod
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/sampler_mode.go
  processor/probabilisticsamplerprocessor/sampler_mode_test.go
  processor/probabilisticsamplerprocessor/testdata/config.yaml
  processor/probabilisticsamplerprocessor/testdata/invalid_negative.yaml
  processor/probabilisticsamplerprocessor/tracesprocessor.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
Labels: exporter/datadog, processor/probabilisticsampler, cmd/configschema, cmd/otelcontribcol, connector/datadog

#32728 Adds suggestions for monitoring and tuning the tail sampling processor to the README
  processor/tailsamplingprocessor/README.md
Labels: processor/tailsampling, Skip Changelog

#33071 [chore][receiver/cloudfoundry] Remove @pellared from CODEOWNERS
  .github/CODEOWNERS
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/metadata.yaml
Labels: ready to merge, Skip Changelog, receiver/cloudfoundry

#32936 Modify comments on default configs to accurately reflect the defaults.
  receiver/webhookeventreceiver/config.go
Labels: documentation, ready to merge, Skip Changelog, receiver/webhookevent

#32985 [processor/resourcedetection] Add support for Bare Metal Solution GCP platform
  .chloggen/gcp-bare-metal-solution-detector.yaml
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/gcp/types.go
Labels: ready to merge, processor/resourcedetection

#33070 [chore] update Andrzej's affiliation
  README.md
Labels: ready to merge

#33075 [chore][receiver/cloudfoundry] Add note about seeking more code owners
  receiver/cloudfoundryreceiver/README.md
  receiver/cloudfoundryreceiver/metadata.yaml
Labels: documentation, Skip Changelog, receiver/cloudfoundry

#33076 [processor/resourcedetection] Move `processor.resourcedetection.hostCPUSteppingAsString` to beta
  .chloggen/mx-psi_stepping-beta.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: processor/resourcedetection

#33081 [chore][receiver/syslog] add @andrzej-stencel as code owner
  .github/CODEOWNERS
  receiver/syslogreceiver/README.md
  receiver/syslogreceiver/metadata.yaml
Labels: receiver/syslog

#32819 [cmd/opampsupervisor]: Allow configuring agent description
  .chloggen/feat_supervisor-agent-description.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_agent_description.yaml
Labels: cmd/opampsupervisor

#33018 [chore][exporter/otelarrow] Add missing code owner
  .github/CODEOWNERS
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/metadata.yaml
Labels: exporter/otelarrow

#32949 [chore] Remove project board from readme
  README.md
Labels: documentation, ready to merge

#33085 [receiver/splunk_hec] Fix single metric value parsing
  .chloggen/fix_hec_single_value.yaml
  internal/splunk/common.go
  internal/splunk/common_test.go
Labels: internal/splunk

#33015 deltatocumulative: evict only stale streams
  .chloggen/deltatocumulative-evict-only-stale.yaml
  internal/exp/metrics/staleness/staleness.go
  internal/exp/metrics/streams/streams.go
  processor/deltatocumulativeprocessor/internal/streams/limit.go
  processor/deltatocumulativeprocessor/internal/streams/limit_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/faults_test.go
Labels: processor/deltatocumulative, internal/exp/metrics

#32980 [chore][extension/oauth2clientauth] Drop duplicate testing
  extension/oauth2clientauthextension/extension_test.go
Labels: extension/oauth2clientauth

#33035 [chore][exporter/elasticsearch] Add benchmark for logs consumer
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
Labels: exporter/elasticsearch

#32618 [cmd/opampsupervisor]: Persist the instance ID between restarts
  .chloggen/feat_opamp-supervisor-persist-instance-id.yaml
  cmd/opampsupervisor/README.md
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/persistence.go
  cmd/opampsupervisor/supervisor/persistence_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_accepts_conn.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_nocap.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_test.yaml
Labels: cmd/opampsupervisor

#33091 [chore] add container parser in the list of stanza operators
  pkg/stanza/docs/operators/README.md
Labels: pkg/stanza

#32863 [extension/storage/filestorage] Add CleanupOnStart flag for compaction temporary files
  .chloggen/extension-storage-filestorage-cleanup_on_start.yaml
  extension/storage/filestorage/README.md
  extension/storage/filestorage/client.go
  extension/storage/filestorage/config.go
  extension/storage/filestorage/config_test.go
  extension/storage/filestorage/extension.go
  extension/storage/filestorage/extension_test.go
  extension/storage/filestorage/factory.go
  extension/storage/filestorage/testdata/config.yaml
Labels: extension/storage

#33095 [cmd/opampsupervisor]: Add storage dir to e2e test config to fix test failure
  cmd/opampsupervisor/testdata/supervisor/supervisor_agent_description.yaml
Labels: Skip Changelog, cmd/opampsupervisor

#33096 [receiver/splunk_hec] Fix parsing of a single metric value payload
  receiver/splunkhecreceiver/splunkhec_to_metricdata.go
  receiver/splunkhecreceiver/splunkhec_to_metricdata_test.go
Labels: ready to merge, Skip Changelog, receiver/splunkhec

#33092 Update dependency go-docappender to 2.1.2
  .chloggen/elasticsearchexporter_go-docappender-retried-faileddocs.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  go.mod
  go.sum
Labels: dependencies, ready to merge, cmd/configschema, cmd/otelcontribcol, exporter/elasticsearch

#32177 [pkg/stanza] Switch from SugaredLogger to Logger
  .chloggen/pkg-stanza-rm-sugared-api.yaml
  .chloggen/pkg-stanza-rm-sugared.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
  pkg/stanza/adapter/emitter.go
  pkg/stanza/adapter/factory.go
  pkg/stanza/adapter/frompdataconverter.go
  pkg/stanza/adapter/frompdataconverter_test.go
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/receiver.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/header/config.go
  pkg/stanza/fileconsumer/internal/header/config_test.go
  pkg/stanza/fileconsumer/internal/header/output.go
  pkg/stanza/fileconsumer/internal/header/reader.go
  pkg/stanza/fileconsumer/internal/header/reader_test.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/factory_test.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/reader/split_test.go
  pkg/stanza/fileconsumer/internal/tracker/tracker.go
  pkg/stanza/operator/helper/emitter.go
  pkg/stanza/operator/helper/emitter_test.go
  pkg/stanza/operator/helper/input.go
  pkg/stanza/operator/helper/input_test.go
  pkg/stanza/operator/helper/operator.go
  pkg/stanza/operator/helper/operator_test.go
  pkg/stanza/operator/helper/output_test.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
  pkg/stanza/operator/input/file/input.go
  pkg/stanza/operator/input/journald/input.go
  pkg/stanza/operator/input/namedpipe/input.go
  pkg/stanza/operator/input/stdin/input.go
  pkg/stanza/operator/input/tcp/input.go
  pkg/stanza/operator/input/udp/input.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/operator.go
  pkg/stanza/operator/output/file/output.go
  pkg/stanza/operator/output/stdout/output.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/csv/parser.go
  pkg/stanza/operator/transformer/filter/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/router/transformer.go
  pkg/stanza/pipeline/directed.go
  pkg/stanza/pipeline/directed_test.go
  pkg/stanza/testutil/mocks.go
  pkg/stanza/testutil/operator.go
  pkg/stanza/testutil/util.go
  processor/logstransformprocessor/processor.go
  receiver/filelogreceiver/filelog_test.go
  receiver/filelogreceiver/go.mod
  receiver/namedpipereceiver/go.mod
  receiver/namedpipereceiver/namedpipe_test.go
Labels: receiver/filelog, receiver/zookeeper, processor/logstransform, pkg/stanza, receiver/otlpjsonfile, receiver/namedpipe

#32875 [cmd/opampsupervisor]: Configure the `ppid` option in the opamp extension
  .chloggen/feat_opamp-supervisor-specify-ppid.yaml
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/templates/bootstrap.yaml
Labels: cmd/opampsupervisor

#32706 [receiver/azureblob] Support service principal authentication for Azure Blob storage
  .chloggen/azure-blob-service-principal-auth.yaml
  cmd/configschema/go.mod
  cmd/configschema/go.sum
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  go.mod
  go.sum
  receiver/azureblobreceiver/README.md
  receiver/azureblobreceiver/blobclient.go
  receiver/azureblobreceiver/blobclient_test.go
  receiver/azureblobreceiver/config.go
  receiver/azureblobreceiver/config_test.go
  receiver/azureblobreceiver/factory.go
  receiver/azureblobreceiver/factory_test.go
  receiver/azureblobreceiver/go.mod
  receiver/azureblobreceiver/go.sum
  receiver/azureblobreceiver/testdata/config.yaml
Labels: cmd/configschema, cmd/otelcontribcol, receiver/azureblob

#33108 [processor/tailsampling] Refactor internal telemetry
  processor/tailsamplingprocessor/factory.go
  processor/tailsamplingprocessor/internal/sampling/package_test.go
  processor/tailsamplingprocessor/internal/telemetry/featureflag.go
  processor/tailsamplingprocessor/internal/telemetry/metrics_oc.go
  processor/tailsamplingprocessor/internal/telemetry/telemetry.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling, Skip Changelog

#33077 [processor/resourcedetection] Move `processor.resourcedetection.hostCPUModelAndFamilyAsString` feature gate to stable
  .chloggen/mx-psi_featuregatestable.yaml
  processor/resourcedetectionprocessor/internal/system/internal/metadata/resource_int_version.go
  processor/resourcedetectionprocessor/internal/system/system.go
Labels: processor/resourcedetection

#33103 [exporter/coralogix] [chore] add zstd compression docs
  exporter/coralogixexporter/README.md
Labels: documentation, ready to merge, Skip Changelog, exporter/coralogix

#33051 [pkg/ottl] Fix bug where function names were allowed in comparison
  .chloggen/ottl-no-funcnames-in-conditions.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#33111 [pkg/ottl] Flag that OTTL is seeking more codeowners
  pkg/ottl/README.md
  pkg/ottl/metadata.yaml
Labels: Skip Changelog, pkg/ottl

#33098 [chore] update loki exporter to use telemetry builder
  exporter/lokiexporter/documentation.md
  exporter/lokiexporter/exporter.go
  exporter/lokiexporter/internal/metadata/generated_telemetry.go
  exporter/lokiexporter/internal/metadata/generated_telemetry_test.go
  exporter/lokiexporter/metadata.yaml
Labels: exporter/loki

#33113 [chore] Remove usage of `Providers` in `confmap.ResolverSettings`
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/elasticsearchexporter/integrationtest/collector.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/testbed/in_process_collector.go
Labels: exporter/datadog, receiver/prometheus, exporter/elasticsearch, testbed

#32697 [jsonlogencodingextension] Move to alpha
  .chloggen/alpha_jsonlog.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/encoding/jsonlogencodingextension/README.md
  extension/encoding/jsonlogencodingextension/internal/metadata/generated_status.go
  extension/encoding/jsonlogencodingextension/metadata.yaml
Labels: ready to merge, cmd/otelcontribcol, extension/encoding

#33064 [receiver/sqlserver] Add database status metric
  .chloggen/sqlserver_add_db_status_metrics.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/queries_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
  receiver/sqlserverreceiver/testdata/propertyQueryData.txt
  receiver/sqlserverreceiver/testdata/propertyQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/propertyQueryWithoutInstanceName.txt
Labels: ready to merge, receiver/sqlserver, Run Windows

#33128 [chore] Remove djaglowski as codeowner of aws and azure receivers
  .github/CODEOWNERS
  receiver/awscloudwatchreceiver/README.md
  receiver/awscloudwatchreceiver/metadata.yaml
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/metadata.yaml
Labels: receiver/azureeventhub, receiver/awscloudwatch

#33131 [chore][pkg/ottl] Minor update to Concat readme
  pkg/ottl/ottlfuncs/README.md
Labels: pkg/ottl

#32948 [CI] fix timeout on arm-unittest-matrix
  .github/workflows/build-and-test-arm.yml
Labels: Skip Changelog, Run ARM

#33135 [chore][exporter/pulsar] Enable goleak
  exporter/pulsarexporter/generated_package_test.go
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/metadata.yaml
Labels: exporter/pulsar

#33019 [chore][processor/interval][processor/deltatocumulative] Add missing code owners
  .github/CODEOWNERS
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/intervalprocessor/README.md
  processor/intervalprocessor/metadata.yaml
Labels: processor/interval, processor/deltatocumulative

#30788 [extension/solarwindsapmsettingsextension] Added part one of the concrete implementation of solarwindsapmsettingsextension
  .chloggen/feature_solarwindsapmsettingsextension-concreteimpl.yaml
  cmd/otelcontribcol/go.mod
  cmd/otelcontribcol/go.sum
  extension/solarwindsapmsettingsextension/README.md
  extension/solarwindsapmsettingsextension/config.go
  extension/solarwindsapmsettingsextension/config_test.go
  extension/solarwindsapmsettingsextension/extension.go
  extension/solarwindsapmsettingsextension/extension_test.go
  extension/solarwindsapmsettingsextension/factory.go
  extension/solarwindsapmsettingsextension/factory_test.go
  extension/solarwindsapmsettingsextension/go.mod
  extension/solarwindsapmsettingsextension/go.sum
  extension/solarwindsapmsettingsextension/metadata.yaml
  extension/solarwindsapmsettingsextension/testdata/config.yaml
Labels: cmd/otelcontribcol, never stale, cmd/oteltestbedcol, extension/solarwindsapmsettings

#32720 [receiver/kafka] Fix bug that was blocking shutdown
  .chloggen/kafkarec_fix_blocking_shutdown.yaml
  receiver/kafkareceiver/kafka_receiver.go
Labels: ready to merge, receiver/kafka

#33087 [chore][exporter/elasticsearch] Add benchmark for traces consumer
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
  exporter/elasticsearchexporter/integrationtest/exporter_test.go
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/validator.go
Labels: exporter/elasticsearch

#33125 [chore] docs: update feature gate schedule
  receiver/hostmetricsreceiver/README.md
Labels: documentation, receiver/hostmetrics

#33021 [exporter/sumologicexporter]: adds support for tracing
  .chloggen/drosiek-tracing.yaml
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/config_test.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/exporter_test.go
  exporter/sumologicexporter/factory.go
  exporter/sumologicexporter/factory_test.go
  exporter/sumologicexporter/generated_component_test.go
  exporter/sumologicexporter/internal/metadata/generated_status.go
  exporter/sumologicexporter/metadata.yaml
  exporter/sumologicexporter/sender.go
  exporter/sumologicexporter/sender_test.go
  exporter/sumologicexporter/test_data_test.go
Labels: ready to merge, exporter/sumologic

#33167 [receiver/vcenter] Replaces Deprecated Packet Metrics
  .chloggen/vcenter-replace_deprecated_metrics.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/custom.go
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
  receiver/vcenterreceiver/testdata/metrics/expected.yaml
Labels: receiver/vcenter

#33155 [chore][exporter/datadog] Explicitly add api::site to all examples
  exporter/datadogexporter/examples/batch-memory.yaml
  exporter/datadogexporter/examples/host-metadata.yaml
  exporter/datadogexporter/examples/k8s-chart/configmap.yaml
  exporter/datadogexporter/examples/trace-metrics.yaml
Labels: documentation, ready to merge, exporter/datadog

#33175 [chore] use mdatagen for metrics servicegraphconnector
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/documentation.md
  connector/servicegraphconnector/factory.go
  connector/servicegraphconnector/internal/metadata/generated_telemetry.go
  connector/servicegraphconnector/internal/metadata/generated_telemetry_test.go
  connector/servicegraphconnector/metadata.yaml
Labels: connector/servicegraph

#33123 [pkg/ottl] Add `Year` converter
  .chloggen/add-year-converter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_year.go
  pkg/ottl/ottlfuncs/func_year_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl
