Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2024-11, with the labels that each got.

#36082 (otelarrowreceiver): Use a single call to BoundedQueue.Acquire
  .chloggen/otelarrow-arrow-single-acquire.yaml
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
Labels: receiver/otelarrow

#36135 [pkg/ottl] Touchup ottl docs before kubecon
  pkg/ottl/README.md
  pkg/ottl/ottlfuncs/README.md
Labels: Skip Changelog, pkg/ottl

#36129 [chore][connector/routing] Consolidate test input into one file
  connector/routingconnector/logs_test.go
  connector/routingconnector/testdata/logs/input.yaml
  connector/routingconnector/testdata/logs/log_context/all_match_last_only/input.yaml
  connector/routingconnector/testdata/logs/log_context/match_none_with_default/input.yaml
  connector/routingconnector/testdata/logs/log_context/match_none_without_default/input.yaml
  connector/routingconnector/testdata/logs/log_context/some_match_each_route/input.yaml
  connector/routingconnector/testdata/logs/log_context/with_resource_and_scope_conditions/input.yaml
  connector/routingconnector/testdata/logs/log_context/with_resource_condition/input.yaml
  connector/routingconnector/testdata/logs/log_context/with_scope_condition/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_logs_then_grpc_request/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_logs_then_http_request/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_logs_then_resource/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_resource_then_grpc_request/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_resource_then_http_request/input.yaml
  connector/routingconnector/testdata/logs/mixed_context/match_resource_then_logs/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_any_value/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_grpc_value/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_http_value/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_http_value2/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_no_grpc_value/input.yaml
  connector/routingconnector/testdata/logs/request_context/match_no_http_value/input.yaml
  connector/routingconnector/testdata/logs/request_context/no_request_values/input.yaml
  connector/routingconnector/testdata/logs/resource_context/all_match_first_only/input.yaml
  connector/routingconnector/testdata/logs/resource_context/all_match_last_only/input.yaml
  connector/routingconnector/testdata/logs/resource_context/all_match_once/input.yaml
  connector/routingconnector/testdata/logs/resource_context/each_matches_one/input.yaml
  connector/routingconnector/testdata/logs/resource_context/match_none_with_default/input.yaml
  connector/routingconnector/testdata/logs/resource_context/match_none_without_default/input.yaml
Labels: connector/routing

#36097 [chore][connector/routing] Add tests for routing traces and metrics by resource
  connector/routingconnector/metrics_test.go
  connector/routingconnector/testdata/metrics/input.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_first_only/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_first_only/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_last_only/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_last_only/sink_1.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_once/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_once/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/sink_1.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_with_default/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_with_default/sink_default.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_without_default/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/sink_1.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/config.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/input.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/sink_1.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/config.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/input.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/sink_default.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_without_default/config.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_without_default/input.yaml
  connector/routingconnector/traces_test.go
Labels: connector/routing

#36098 [chore][connector/routing] Refactor trace and metric routing by resource
  connector/routingconnector/internal/pmetricutil/metrics.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/traces.go
  connector/routingconnector/internal/ptraceutil/traces_test.go
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
Labels: connector/routing

#36132 Update update github.com/GoogleCloudPlatform/opentelemetry-operations-go to the latest release
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/config.go
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  extension/googleclientauthextension/go.mod
  extension/googleclientauthextension/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
Labels: dependencies, ready to merge, exporter/datadog, processor/resourcedetection, exporter/googlecloud, exporter/googlemanagedprometheus, receiver/googlecloudspanner, connector/datadog, extension/googleclientauth

#35624 feat: receiver/prometheusremotewrite - Implement body unmarshaling
  .chloggen/prwreceiver-bodyunmarshal.yaml
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#36133 Remove damemi from GCP maintainers
  .github/CODEOWNERS
  exporter/googlecloudexporter/README.md
  exporter/googlecloudexporter/metadata.yaml
  exporter/googlemanagedprometheusexporter/README.md
  exporter/googlemanagedprometheusexporter/metadata.yaml
  extension/googleclientauthextension/README.md
  extension/googleclientauthextension/metadata.yaml
Labels: Skip Changelog, exporter/googlecloud, exporter/googlemanagedprometheus, extension/googleclientauth

#36152 [receiver/ntp] move ntpreceiver to alpha
  .chloggen/ntp_alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/ntpreceiver/README.md
  receiver/ntpreceiver/internal/metadata/generated_status.go
  receiver/ntpreceiver/metadata.yaml
Labels: cmd/otelcontribcol, receiver/ntp

#36146 [receiver/splunkhec] fix memory leak
  .chloggen/receiver_ops2.yaml
  receiver/splunkhecreceiver/receiver.go
Labels: receiver/splunkhec

#36150 [chore][connector/routing] Add utilities for concisely testing logs
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/plogutil/testdata/record/move_all/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_all_from_one_scope_in_each_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_none/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_one_from_each_scope_in_one_resource/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/from.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/to.yaml
  connector/routingconnector/internal/plogutil/testdata/record/move_some_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/plogutil/testdata/resource/move_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/plogutiltest/logs.go
  connector/routingconnector/internal/plogutiltest/logs_test.go
Labels: connector/routing

#36149 [chore][connector/routing] Refactor metric test examples into code
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/pmetricutil/testdata/resource/move_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/testdata/metrics/input.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_first_only/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_first_only/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_last_only/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_last_only/sink_1.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_once/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/all_match_once/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/sink_0.yaml
  connector/routingconnector/testdata/metrics/resource_context/each_matches_one/sink_1.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_with_default/config.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_with_default/sink_default.yaml
  connector/routingconnector/testdata/metrics/resource_context/match_none_without_default/config.yaml
Labels: connector/routing

#35539 [k8sobserver] enable the observation of ingress objects
  .chloggen/k8s-observer-ingress.yaml
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/extension_test.go
  extension/observer/k8sobserver/k8s_fixtures_test.go
Labels: extension/observer

#36125 [receiver/awsfirehosereceiver] Add otlp_v1 into the unmarshalers map
  .chloggen/add_otlp.yaml
  receiver/awsfirehosereceiver/config_test.go
  receiver/awsfirehosereceiver/factory.go
  receiver/awsfirehosereceiver/metrics_receiver.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
  receiver/awsfirehosereceiver/testdata/otlp_v1_config.yaml
Labels: Skip Changelog, receiver/awsfirehose

#35884 [chore] update components with no active codeowners to unmaintained
  .github/ALLOWLIST
  .github/CODEOWNERS
  extension/observer/ecstaskobserver/README.md
  extension/observer/ecstaskobserver/internal/metadata/generated_status.go
  extension/observer/ecstaskobserver/metadata.yaml
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/internal/metadata/generated_status.go
  receiver/jmxreceiver/metadata.yaml
Labels: ready to merge, receiver/jmx, extension/observer

#35412 [pkg/ottl]: add SliceToMap function
  .chloggen/ottl-slice-to-map-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_slice_to_map.go
  pkg/ottl/ottlfuncs/func_slice_to_map_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#36165 [chore][connector/routing] Migrate traces test to concise format
  connector/routingconnector/go.mod
  connector/routingconnector/internal/plogutiltest/logs.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_all/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_none/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_one/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/from.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/from_modified.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/to.yaml
  connector/routingconnector/internal/ptraceutil/testdata/resource/move_to_preexisting/to_modified.yaml
  connector/routingconnector/internal/ptraceutil/traces_test.go
  connector/routingconnector/internal/ptraceutiltest/traces.go
  connector/routingconnector/internal/ptraceutiltest/traces_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_first_only/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_last_only/sink_1.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/config.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/input.yaml
  connector/routingconnector/testdata/traces/resource_context/all_match_once/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/config.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/input.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/sink_0.yaml
  connector/routingconnector/testdata/traces/resource_context/each_matches_one/sink_1.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/config.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/input.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_with_default/sink_default.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_without_default/config.yaml
  connector/routingconnector/testdata/traces/resource_context/match_none_without_default/input.yaml
  connector/routingconnector/traces_test.go
Labels: Skip Changelog, connector/routing

#34513 [extensions/observer/cfgardenobserver] Implement cfgardenobserver
  .chloggen/implement-cfgardenobserver.yaml
  extension/observer/cfgardenobserver/README.md
  extension/observer/cfgardenobserver/config.go
  extension/observer/cfgardenobserver/config_test.go
  extension/observer/cfgardenobserver/extension.go
  extension/observer/cfgardenobserver/extension_test.go
  extension/observer/cfgardenobserver/factory.go
  extension/observer/cfgardenobserver/generated_component_test.go
  extension/observer/cfgardenobserver/go.mod
  extension/observer/cfgardenobserver/go.sum
  extension/observer/cfgardenobserver/internal/metadata/generated_status.go
  extension/observer/cfgardenobserver/metadata.yaml
  extension/observer/cfgardenobserver/testdata/config.yaml
Labels: cmd/telemetrygen, cmd/otelcontribcol, extension/observer, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, cmd/opampsupervisor, connector/exceptions, cmd/githubgen, connector/datadog, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/otlpjson, confmap/provider/aesprovider

#35757 [extension/dbstorage] support for Postgres
  .chloggen/postgres_support.yaml
  extension/storage/dbstorage/client.go
  extension/storage/dbstorage/extension.go
  extension/storage/dbstorage/extension_test.go
  extension/storage/dbstorage/go.mod
  extension/storage/dbstorage/go.sum
Labels: ready to merge, extension/storage

#36179 [receiver/windowseventlog] Fix panic when rendering excessively long offset
  .chloggen/fix-panic-wel.yaml
  pkg/stanza/operator/input/windows/buffer.go
  pkg/stanza/operator/input/windows/buffer_test.go
Labels: pkg/stanza, Run Windows

#36114 [k8scluster/receiver] Add more e2e test coverage
  internal/k8stest/k8s_objects.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/testdata/e2e/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/testobjects/cronjob.yaml
  receiver/k8sclusterreceiver/testdata/e2e/testobjects/hpa.yaml
  receiver/k8sclusterreceiver/testdata/e2e/testobjects/job.yaml
  receiver/k8sclusterreceiver/testdata/e2e/testobjects/statefulset.yaml
Labels: ready to merge, Skip Changelog, receiver/k8scluster, internal/k8stest

#36224 [chore] fix codeowners
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#36143 [connector/routing] Add ability to route metrics and traces by request context
  .chloggen/routing-connector-by-request.yaml
  connector/routingconnector/README.md
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/traces.go
  connector/routingconnector/traces_test.go
Labels: Skip Changelog, connector/routing

#36225 [exporter/opensearch] mark component as unmaintained
  .chloggen/mark_opensearchexporter_unmaintained.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/internal/metadata/generated_status.go
  exporter/opensearchexporter/metadata.yaml
Labels: exporter/opensearch, cmd/githubgen

#36242 [chore] Temporary revert metadata status for resourcedetection sub-components
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  processor/resourcedetectionprocessor/internal/aws/ec2/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/ecs/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/eks/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/elasticbeanstalk/metadata.yaml
  processor/resourcedetectionprocessor/internal/aws/lambda/metadata.yaml
  processor/resourcedetectionprocessor/internal/azure/aks/metadata.yaml
  processor/resourcedetectionprocessor/internal/azure/metadata.yaml
  processor/resourcedetectionprocessor/internal/consul/metadata.yaml
  processor/resourcedetectionprocessor/internal/docker/metadata.yaml
  processor/resourcedetectionprocessor/internal/gcp/metadata.yaml
  processor/resourcedetectionprocessor/internal/heroku/metadata.yaml
  processor/resourcedetectionprocessor/internal/k8snode/metadata.yaml
  processor/resourcedetectionprocessor/internal/openshift/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
Labels: processor/resourcedetection

#36247 [chore] Add missing replace directive to otelcontribcol
  cmd/otelcontribcol/builder-config.yaml
Labels: cmd/otelcontribcol

#36153 [chore] fix error to match go best practices
  extension/encoding/jsonlogencodingextension/extension.go
  extension/encoding/jsonlogencodingextension/json_test.go
Labels: ready to merge, extension/encoding

#36181 [receiver/splunkenterprise] Adding Search Artifact Cache Metrics
  .chloggen/splunkenterprisereceiver-search-artifact-cache.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
Labels: receiver/splunkenterprise

#36213 [pkg/stanza] Ensure time parsing happens before entry is sent downwards
  .chloggen/fix_container_time_parsing.yaml
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza

#35669 [pkg/stanza] make log emitter and entry conversion in adapter synchronous
  .chloggen/stanza-sync-log-emitter.yaml
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/factory.go
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/receiver.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/operator/helper/emitter.go
  pkg/stanza/operator/helper/emitter_test.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  processor/logstransformprocessor/processor.go
  testbed/tests/log_test.go
Labels: processor/logstransform, pkg/stanza, testbed

#36107 [processor/resourcedetection] add support for Profiles signal type
  .chloggen/resourcedetectionprocessor-profiles.yaml
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.sum
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/factory_test.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/metadata.yaml
  processor/resourcedetectionprocessor/resourcedetection_processor.go
  processor/resourcedetectionprocessor/resourcedetection_processor_test.go
Labels: exporter/datadog, processor/resourcedetection, connector/datadog

#36266 Revert "[chore][testbed] - Further testbed enhancements"
  testbed/testbed/receivers.go
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: ready to merge, Skip Changelog, testbed

#36170 fix root group container permissions
  .chloggen/fix_group_container_permissions.yaml
  cmd/otelcontribcol/Dockerfile
  cmd/telemetrygen/Dockerfile
Labels: ready to merge, cmd/telemetrygen, cmd/otelcontribcol

#36267 [chore] Skip dbstorage extension tests on Windows GH runners
  extension/storage/dbstorage/extension_test.go
Labels: extension/storage, Run Windows

#36233 [exporter/elasticsearch] Translate `k8s.*.name` resource attributes in ECS mode
  .chloggen/elasticsearchexporter_ecs-translate-k8s-names.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#36255 [chore][exporter/elasticsearch] Fix flaky recorder assertions
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch, Run Windows

#36260 [chore][pkg/stanza] refactor: introduce emit.Token struct
  .chloggen/refactor-callback-token.yaml
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/emit/emit.go
  pkg/stanza/fileconsumer/internal/emittest/nop.go
  pkg/stanza/fileconsumer/internal/emittest/nop_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/operator/input/file/input.go
  receiver/otlpjsonfilereceiver/file.go
Labels: pkg/stanza, receiver/otlpjsonfile

#35827 [connector/otlpjson]: Do not emit empty batches
  .chloggen/otlpjson-connector-invalid-otlp.yaml
  connector/otlpjsonconnector/connector_test.go
  connector/otlpjsonconnector/factory.go
  connector/otlpjsonconnector/logs.go
  connector/otlpjsonconnector/metrics.go
  connector/otlpjsonconnector/traces.go
Labels: connector/otlpjson

#36262 Input operator stop must not crash even if start was not called
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/input_test.go
Labels: ready to merge, Skip Changelog, pkg/stanza, Run Windows

#36252 [pkg/stanza] Pass buffer by reference so buffer changes are not lost
  pkg/stanza/operator/input/windows/bookmark.go
  pkg/stanza/operator/input/windows/buffer.go
  pkg/stanza/operator/input/windows/buffer_test.go
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/input.go
Labels: Skip Changelog, pkg/stanza, Run Windows

#36164 [fix][prometheusexporter] Race condition between start and shutdown
  .chloggen/fix_prometheusexporter-shutdown-server-2.yaml
  exporter/prometheusexporter/prometheus.go
Labels: exporter/prometheus, Run Windows

#36282 [test] Fix opampsupervisor test on Windows
  cmd/opampsupervisor/e2e_test.go
Labels: Skip Changelog, Run Windows, cmd/opampsupervisor

#36236 [connector/routing] Support metric routing
  .chloggen/routing-by-metrics.yaml
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/internal/pmetricutil/metrics.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
Labels: cmd/otelcontribcol, connector/routing

#35852 [connector/spanmetrics] CHANGELOG is fixed to reflect the correct fea…
  CHANGELOG.md
Labels: documentation, Skip Changelog

#35600 awsxrayreceiver: migrate to newer semconv version
  receiver/awsxrayreceiver/internal/translator/aws.go
  receiver/awsxrayreceiver/internal/translator/aws_test.go
  receiver/awsxrayreceiver/internal/translator/cause.go
  receiver/awsxrayreceiver/internal/translator/http.go
  receiver/awsxrayreceiver/internal/translator/sdk.go
  receiver/awsxrayreceiver/internal/translator/sql.go
  receiver/awsxrayreceiver/internal/translator/translator.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
Labels: Stale, Skip Changelog, receiver/awsxray

#36295 [chore] Remove usage of internal expr where possible
  connector/countconnector/factory.go
  connector/sumconnector/factory.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  internal/filter/filterottl/filter.go
  processor/logdedupprocessor/processor.go
  processor/tailsamplingprocessor/internal/sampling/ottl.go
  processor/transformprocessor/internal/common/processor.go
Labels: processor/tailsampling, processor/transform, internal/filter, connector/count, exporter/honeycombmarker, connector/sum, processor/logdedup

#36289 [chore]: enable whitespace linter for testbed
  testbed/correctnesstests/connectors/correctness_test.go
  testbed/correctnesstests/utils.go
  testbed/datasenders/jaeger.go
  testbed/datasenders/syslog.go
  testbed/datasenders/tcpudp.go
  testbed/testbed/child_process_collector.go
  testbed/testbed/data_providers.go
  testbed/testbed/mock_backend.go
  testbed/testbed/test_case.go
  testbed/testbed/validator.go
  testbed/tests/e2e_test.go
  testbed/tests/log_test.go
  testbed/tests/metric_test.go
  testbed/tests/resource_processor_test.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: ci-cd, testbed

#36155 [chore] initialize slice with enough capacity based on log records
  extension/encoding/jsonlogencodingextension/extension.go
Labels: extension/encoding

#36218 [receiver/datadogreceiver] add json handling for the api/v2/series endpoint
  .chloggen/36079-add-datadog-json-handling.yaml
  receiver/datadogreceiver/internal/translator/series.go
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#36297 [chore]: enable whitespace linter for processor and receiver
  processor/attributesprocessor/attributes_metric.go
  processor/attributesprocessor/factory.go
  processor/deltatocumulativeprocessor/internal/data/expo_test.go
  processor/deltatocumulativeprocessor/internal/delta/delta_test.go
  processor/deltatocumulativeprocessor/processor_test.go
  processor/deltatorateprocessor/processor_test.go
  processor/filterprocessor/config_test.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/traces_test.go
  processor/geoipprocessor/factory.go
  processor/groupbyattrsprocessor/attribute_groups.go
  processor/groupbyattrsprocessor/factory.go
  processor/groupbyattrsprocessor/processor.go
  processor/groupbyattrsprocessor/processor_test.go
  processor/groupbytraceprocessor/factory.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/informer.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/logstransformprocessor/processor.go
  processor/logstransformprocessor/processor_test.go
  processor/metricsgenerationprocessor/factory_test.go
  processor/metricsgenerationprocessor/processor_test.go
  processor/metricstransformprocessor/factory.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
  processor/remotetapprocessor/processor_test.go
  processor/resourcedetectionprocessor/internal/heroku/heroku_test.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
  processor/routingprocessor/extract.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/traces_test.go
  processor/schemaprocessor/internal/migrate/attributes_test.go
  processor/spanprocessor/factory.go
  processor/spanprocessor/span_test.go
  processor/sumologicprocessor/processor_test.go
  processor/sumologicprocessor/translate_attributes_processor_test.go
  processor/tailsamplingprocessor/internal/sampling/and.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/composite.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/trace_state_filter_test.go
  processor/tailsamplingprocessor/processor_test.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
  processor/transformprocessor/internal/metrics/functions_test.go
  receiver/splunkenterprisereceiver/scraper.go
Labels: ci-cd, processor/attributes, processor/filter, processor/k8sattributes, processor/tailsampling, processor/metricstransform, processor/resourcedetection, processor/transform, processor/groupbytrace, processor/deltatorate, processor/groupbyattrs, processor/logstransform, processor/metricsgeneration, processor/probabilisticsampler, processor/routing, processor/schema, processor/span, receiver/splunkenterprise, processor/sumologic, processor/remotetap, processor/deltatocumulative, processor/geoip

#35999 [processor/k8sattributes] Add support for profiles signal
  .chloggen/f-profiles-k8sattributesprocessor.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/factory_test.go
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/k8sattributesprocessor/internal/metadata/generated_status.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/mixrbac/collector/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/collector/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespacedrbac/collector/deployment.yaml
Labels: exporter/datadog, processor/k8sattributes, connector/datadog

#36300 [pkg/datadog] Expose TranslatorFromConfig
  .chloggen/pkg-dd-tr-api.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/metrics_exporter.go
  pkg/datadog/config/metrics.go
  pkg/datadog/go.mod
  pkg/datadog/go.sum
Labels: exporter/datadog, pkg/datadog

#36310 [chore]: enable whitespace linter for extension
  extension/basicauthextension/extension.go
  extension/basicauthextension/extension_test.go
  extension/bearertokenauthextension/bearertokenauth_test.go
  extension/headerssetterextension/extension.go
  extension/healthcheckextension/healthcheckextension.go
  extension/healthcheckv2extension/internal/grpc/grpc_test.go
  extension/healthcheckv2extension/internal/http/server_test.go
  extension/jaegerremotesampling/config_test.go
  extension/observer/ecsobserver/fetcher_test.go
  extension/observer/ecsobserver/internal/errctx/value_test.go
  extension/observer/hostobserver/extension_test.go
  extension/observer/k8sobserver/ingress_endpoint.go
  extension/observer/k8sobserver/pod_endpoint_test.go
  extension/opampextension/monitor_ppid_test.go
  extension/opampextension/opamp_agent_test.go
  extension/remotetapextension/extension.go
  extension/sigv4authextension/extension_test.go
  extension/sigv4authextension/factory_test.go
  extension/storage/dbstorage/extension_test.go
  extension/storage/filestorage/client_test.go
  extension/storage/filestorage/config_test.go
  extension/storage/filestorage/extension_test.go
  extension/storage/redisstorageextension/extension_test.go
  extension/sumologicextension/extension.go
  extension/sumologicextension/extension_test.go
Labels: extension/healthcheck, extension/sigv4auth, extension/bearertokenauth, extension/observer, extension/basicauth, extension/jaegerremotesampling, extension/storage, extension/headerssetter, extension/opamp, extension/remotetap, extension/sumologic, extension/healthcheckv2

#36299 [chore]: enable gofumpt linter for testbed
  testbed/correctnesstests/metrics/results.go
  testbed/datareceivers/datadog.go
  testbed/datareceivers/zipkin.go
  testbed/datasenders/datadog_agent_exporter.go
  testbed/datasenders/fluent.go
  testbed/datasenders/jaeger.go
  testbed/datasenders/syslog.go
  testbed/datasenders/tcpudp.go
  testbed/mockdatasenders/mockdatadogagentexporter/factory.go
  testbed/mockdatasenders/mockdatadogagentexporter/traces_exporter.go
  testbed/testbed/mock_backend.go
  testbed/testbed/results.go
  testbed/testbed/test_bed.go
  testbed/testbed/test_case.go
  testbed/testbed/validator.go
  testbed/tests/scenarios.go
  testbed/tests/trace_test.go
Labels: testbed

#36229 [chore] remove codeowners who didn't become members after a period of wait
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/metadata.yaml
  exporter/azuredataexplorerexporter/README.md
  exporter/azuredataexplorerexporter/metadata.yaml
  exporter/kineticaexporter/README.md
  exporter/kineticaexporter/metadata.yaml
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/metadata.yaml
  exporter/tencentcloudlogserviceexporter/README.md
  exporter/tencentcloudlogserviceexporter/metadata.yaml
Labels: exporter/awsemf, exporter/tencentcloudlogservice, exporter/azuredataexplorer, exporter/cassandra, exporter/opensearch, cmd/githubgen, exporter/kinetica

#36339 [chore] Ignore datadog-api-client-go in renov updates
  renovate.json
Labels: ci-cd

#36343 [chore] Do not call AddScraper with nil Scraper
  receiver/kafkametricsreceiver/receiver_test.go
Labels: receiver/kafkametrics

#36345 [chore] revert datadog-api-client-go versions
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, testbed, receiver/datadog, connector/datadog

#36341 [chore]: enable whitespace linter for connector
  connector/datadogconnector/connector.go
  connector/exceptionsconnector/connector_metrics_test.go
  connector/failoverconnector/failover_test.go
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/otlpjsonconnector/logs.go
  connector/otlpjsonconnector/metrics.go
  connector/routingconnector/internal/plogutiltest/logs_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/internal/ptraceutiltest/traces_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
  connector/servicegraphconnector/config_test.go
  connector/servicegraphconnector/connector.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: connector/servicegraph, connector/spanmetrics, connector/routing, connector/exceptions, connector/datadog, connector/failover, connector/otlpjson

#36327 [extension/opamp] Add Opampextension content type
  .chloggen/opampextension-content-type.yaml
  extension/opampextension/opamp_agent.go
  extension/opampextension/opamp_agent_test.go
Labels: extension/opamp

#36287 [chore][testbed] - Further testbed enhancements
  testbed/testbed/receivers.go
  testbed/tests/log_test.go
  testbed/tests/scenarios.go
Labels: testbed

#36355 [chore]: enable whitespace linter globally
  .golangci.yml
  cmd/checkapi/main.go
  cmd/githubgen/issuetemplates.go
  cmd/githubgen/main.go
  cmd/opampsupervisor/main_windows.go
  cmd/opampsupervisor/supervisor/persistence_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/telemetrygen/config.go
  cmd/telemetrygen/internal/logs/worker.go
  cmd/telemetrygen/internal/metrics/config.go
  cmd/telemetrygen/internal/traces/worker_test.go
  confmap/provider/aesprovider/provider.go
  confmap/provider/aesprovider/provider_test.go
  confmap/provider/s3provider/provider_test.go
  examples/demo/client/main.go
  examples/demo/server/main.go
Labels: cmd/telemetrygen, examples/demo, confmap/provider/s3provider, cmd/opampsupervisor, cmd/githubgen, confmap/provider/aesprovider

#36357 googlemanagedprometheusexporter: add config option for cumulative normalization
  .chloggen/configure-cumulative-normalization.yaml
  exporter/googlemanagedprometheusexporter/config.go
  exporter/googlemanagedprometheusexporter/config_test.go
  exporter/googlemanagedprometheusexporter/factory.go
  exporter/googlemanagedprometheusexporter/testdata/config.yaml
Labels: ready to merge, exporter/googlemanagedprometheus

#36361 [chore] upgrade datadog logsagentexporter version
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: dependencies, ready to merge, exporter/datadog, connector/datadog

#35185 [prometheusremotewriteexporter] reduce allocations when serializing protobufs
  .chloggen/prometheusremotewriteexporter-optimize-serialization.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: enhancement, ready to merge, exporter/prometheusremotewrite

#36008 [extension/encoding][otlpencodingextension] Add support for profiles signal
  .chloggen/f-profiles-encoding-extension.yaml
  extension/encoding/avrologencodingextension/go.mod
  extension/encoding/avrologencodingextension/go.sum
  extension/encoding/encoding.go
  extension/encoding/go.mod
  extension/encoding/go.sum
  extension/encoding/jaegerencodingextension/go.mod
  extension/encoding/jaegerencodingextension/go.sum
  extension/encoding/jsonlogencodingextension/go.mod
  extension/encoding/jsonlogencodingextension/go.sum
  extension/encoding/otlpencodingextension/extension.go
  extension/encoding/otlpencodingextension/extension_test.go
  extension/encoding/otlpencodingextension/go.mod
  extension/encoding/otlpencodingextension/go.sum
  extension/encoding/textencodingextension/go.mod
  extension/encoding/textencodingextension/go.sum
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/go.sum
Labels: extension/encoding

#36354 [chore][plogutiltest] Use native structs in options
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/plogutiltest/logs.go
  connector/routingconnector/internal/plogutiltest/logs_test.go
  connector/routingconnector/logs_test.go
Labels: connector/routing

#36141 (otelarrowreceiver): LIFO-based admission control, waiting limit expressed in MiB of request data
  .chloggen/otelarrow-admission.yaml
  internal/otelarrow/admission/README.md
  internal/otelarrow/admission/boundedqueue.go
  internal/otelarrow/admission/boundedqueue_test.go
  internal/otelarrow/admission/controller.go
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  internal/otelarrow/test/e2e_test.go
  receiver/otelarrowreceiver/README.md
  receiver/otelarrowreceiver/config.go
  receiver/otelarrowreceiver/config_test.go
  receiver/otelarrowreceiver/factory.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/internal/logs/otlp.go
  receiver/otelarrowreceiver/internal/logs/otlp_test.go
  receiver/otelarrowreceiver/internal/metrics/otlp.go
  receiver/otelarrowreceiver/internal/metrics/otlp_test.go
  receiver/otelarrowreceiver/internal/trace/otlp.go
  receiver/otelarrowreceiver/internal/trace/otlp_test.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/otelarrowreceiver/testdata/config.yaml
Labels: receiver/otelarrow, internal/otelarrow

#36377 [chore][allowlist] remove `emreyalvac` as he's already a member
  cmd/githubgen/allowlist.txt
Labels: ci-cd, Skip Changelog, cmd/githubgen

#36380 [chore][pmetricutiltest] Use native structs in options
  connector/routingconnector/internal/plogutiltest/logs_test.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
  connector/routingconnector/metrics_test.go
Labels: connector/routing

#36369 [chore]: enable gofumpt linter for internal
  internal/aws/awsutil/conn.go
  internal/aws/awsutil/conn_test.go
  internal/aws/containerinsight/utils_test.go
  internal/aws/cwlogs/cwlog_client.go
  internal/aws/cwlogs/cwlog_client_test.go
  internal/aws/cwlogs/pusher.go
  internal/aws/cwlogs/pusher_test.go
  internal/aws/ecsutil/metadata_provider.go
  internal/aws/k8s/k8sclient/helpers_test.go
  internal/aws/k8s/k8sclient/job.go
  internal/aws/k8s/k8sclient/replicaset.go
  internal/aws/proxy/conn.go
  internal/aws/proxy/conn_test.go
  internal/aws/xray/telemetry/nop_sender.go
  internal/aws/xray/testdata/sampleapp/sample.go
  internal/aws/xray/xray_client.go
  internal/common/docker/images.go
  internal/common/testutil/testutil_test.go
  internal/coreinternal/aggregateutil/aggregate.go
  internal/coreinternal/attraction/attraction_test.go
  internal/coreinternal/goldendataset/traces_generator.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
  internal/coreinternal/timeutils/parser_test.go
  internal/docker/matcher.go
  internal/filter/filterset/config.go
  internal/filter/filterset/regexp/regexpfilterset_test.go
  internal/filter/filterset/strict/strictfilterset_test.go
  internal/k8sconfig/config.go
  internal/k8stest/client.go
  internal/kubelet/client_test.go
  internal/metadataproviders/aws/ec2/metadata_test.go
  internal/otelarrow/admission2/boundedqueue.go
  internal/otelarrow/test/e2e_test.go
  internal/pdatautil/logs_test.go
  internal/splunk/common.go
  internal/sqlquery/scraper_test.go
Labels: internal/aws, internal/docker, internal/kubelet, internal/metadataproviders, internal/splunk, internal/core, internal/filter, internal/k8sconfig, internal/k8stest, internal/sqlquery, internal/pdatautil, internal/otelarrow

#36391 [pkg/ottl] Add ottl cookbook talk
  pkg/ottl/README.md
Labels: Skip Changelog, pkg/ottl

#36198 [pkg/ottl] Fix handling of slice values in `flatten` function by considering `depth` option
  .chloggen/ottl-flatten-fix-top-level-slice-handling.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/func_flatten.go
  pkg/ottl/ottlfuncs/func_flatten_test.go
Labels: pkg/ottl

#36382 [chore][ptraceutiltest] Use native structs in options
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/plogutiltest/logs.go
  connector/routingconnector/internal/plogutiltest/logs_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/ptraceutil/traces_test.go
  connector/routingconnector/internal/ptraceutiltest/traces.go
  connector/routingconnector/internal/ptraceutiltest/traces_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/traces_test.go
Labels: connector/routing

#36397 [processor/span] Add 'keep_original_name'
  .chloggen/span-rpocessor-keep-original-name.yaml
  processor/spanprocessor/README.md
  processor/spanprocessor/config.go
  processor/spanprocessor/config_test.go
  processor/spanprocessor/span.go
  processor/spanprocessor/span_test.go
  processor/spanprocessor/testdata/config.yaml
Labels: processor/span, Contribfest

#36398 [cmd/githubgen] Add a flag to skip GitHub organization membership checks
  .chloggen/feat_githubgen_skipmembercheck.yaml
  cmd/githubgen/README.md
  cmd/githubgen/codeowners.go
  cmd/githubgen/main.go
Labels: cmd/githubgen, Contribfest

#36394 [chore] Fix usage of setupTestTelemetry
  connector/servicegraphconnector/connector_test.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/solacereceiver/receiver_test.go
Labels: processor/tailsampling, receiver/kafka, receiver/solace, connector/servicegraph

#32622 feat (processor/k8sattributes): wait for synced when starting k8sattributes processor.
  .chloggen/k8sattributes-block.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/generated_component_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/fake_informer.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: processor/k8sattributes

#36407 [chore]: usestdlibvars: replace http methods
  connector/exceptionsconnector/factory_test.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/factory_test.go
  exporter/alibabacloudlogserviceexporter/tracedata_to_logservice_test.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  exporter/awsxrayexporter/internal/translator/http_test.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  exporter/awsxrayexporter/internal/translator/writer_pool_test.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/sentryexporter/sentry_exporter_test.go
  extension/httpforwarderextension/extension_test.go
  internal/aws/cwlogs/cwlog_client_test.go
  internal/aws/ecsutil/client_test.go
  internal/aws/xray/tracesegment_test.go
  internal/aws/xray/xray_client_test.go
  internal/coreinternal/goldendataset/span_generator.go
  internal/kubelet/client_test.go
  pkg/ottl/e2e/e2e_test.go
  pkg/translator/azure/resourcelogs_to_logs_test.go
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  receiver/collectdreceiver/receiver_test.go
  receiver/opencensusreceiver/opencensus_test.go
  receiver/splunkenterprisereceiver/client_test.go
  receiver/splunkhecreceiver/receiver.go
Labels: exporter/alibabacloudlogservice, exporter/azuremonitor, exporter/awsxray, exporter/sentry, receiver/couchdb, receiver/splunkhec, receiver/opencensus, receiver/collectd, receiver/skywalking, pkg/ottl, extension/httpforwarder, internal/aws, internal/kubelet, internal/core, connector/spanmetrics, receiver/splunkenterprise, connector/exceptions, pkg/translator/azure

#36169 deltatocumulativeprocessor: update max_streams in the readme
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/config.go
Labels: documentation, ready to merge, Skip Changelog, processor/deltatocumulative

#36356 [exporter/prometheus] fix: validate metric types and help/descriptions
  .chloggen/prometheus-metric-types-help.yaml
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/collector_test.go
Labels: ready to merge, exporter/prometheus

#36393 [chore] Fix usage of setupTestTelemetry in filter processor
  processor/filterprocessor/go.mod
  processor/filterprocessor/logs.go
  processor/filterprocessor/logs_test.go
  processor/filterprocessor/metrics.go
  processor/filterprocessor/metrics_test.go
  processor/filterprocessor/telemetry.go
  processor/filterprocessor/traces.go
  processor/filterprocessor/traces_test.go
Labels: ready to merge, processor/filter, processor/tailsampling, release:blocker, receiver/kafka, receiver/solace, connector/servicegraph

#36063 [receiver/prometheus] Fix static scrape config with Target Allocator
  .chloggen/ta.yaml
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/prometheusreceiver/targetallocator/manager_test.go
Labels: ready to merge, receiver/prometheus

#35727 [receiver/k8scluster] add support for observing resources for a specific namespace
  .chloggen/k8sclusterreceiver-namespaced.yaml
  receiver/k8sclusterreceiver/README.md
  receiver/k8sclusterreceiver/config.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/clusterrole.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/clusterrolebinding.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/configmap.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/deployment.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/service.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/collector/serviceaccount.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/testobjects/cronjob.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/testobjects/hpa.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/testobjects/job.yaml
  receiver/k8sclusterreceiver/testdata/e2e/cluster-scoped/testobjects/statefulset.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/configmap.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/deployment.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/role.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/rolebinding.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/service.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/collector/serviceaccount.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/expected.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/testobjects/1_namespace.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/testobjects/cronjob.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/testobjects/hpa.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/testobjects/job.yaml
  receiver/k8sclusterreceiver/testdata/e2e/namespace-scoped/testobjects/statefulset.yaml
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: ready to merge, receiver/k8scluster

#36406 [chore] Fix data race on windowseventlogreceiver tests
  receiver/windowseventlogreceiver/receiver_windows_test.go
Labels: ready to merge, receiver/windowseventlog, Run Windows

#36024 [exporter/loadbalancer] close exporters on shutdown
  .chloggen/loadbalancer-exporter-shutdown.yaml
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#36421 [chore] Update ocb manifests to use v0.114.0
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#36401 fix: support indexing more types
  .chloggen/index_more_types.yaml
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
Labels: pkg/ottl, Contribfest

#36410 [processor/k8sattributes] Move k8sattr.fieldExtractConfigRegex.disallow feature gate to Beta
  .chloggen/k8sattributeprocessor-fg.yaml
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
Labels: processor/k8sattributes

#35499 docs(attributesprocessor): Mention include_metadata is needed to get HTTP/gRPC headers
  processor/attributesprocessor/README.md
Labels: ready to merge, processor/attributes, Skip Changelog

#36376 [receiver/signalfx] follow receiver contract
  .chloggen/signalfx-contract.yaml
  internal/coreinternal/errorutil/http.go
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/receiver.go
Labels: ready to merge, receiver/signalfx, internal/core

#36370 [chore]: enable gofumpt linter for extension
  extension/awsproxy/config.go
  extension/awsproxy/extension.go
  extension/basicauthextension/config.go
  extension/basicauthextension/extension_test.go
  extension/bearertokenauthextension/bearertokenauth_test.go
  extension/bearertokenauthextension/config.go
  extension/encoding/avrologencodingextension/extension.go
  extension/encoding/jaegerencodingextension/extension.go
  extension/encoding/jaegerencodingextension/jaeger.go
  extension/encoding/otlpencodingextension/extension_test.go
  extension/headerssetterextension/config_test.go
  extension/headerssetterextension/extension.go
  extension/healthcheckv2extension/extension.go
  extension/healthcheckv2extension/internal/http/server.go
  extension/httpforwarderextension/config.go
  extension/httpforwarderextension/extension.go
  extension/httpforwarderextension/extension_test.go
  extension/jaegerremotesampling/internal/grpc_test.go
  extension/jaegerremotesampling/internal/http.go
  extension/oauth2clientauthextension/config.go
  extension/observer/ecsobserver/config.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/observer/ecsobserver/sd.go
  extension/observer/ecsobserver/target.go
  extension/observer/ecstaskobserver/extension.go
  extension/observer/hostobserver/extension_test.go
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/handler.go
  extension/observer/k8sobserver/handler_test.go
  extension/observer/k8sobserver/k8s_fixtures_test.go
  extension/observer/k8sobserver/pod_endpoint_test.go
  extension/observer/k8sobserver/service_endpoint_test.go
  extension/oidcauthextension/config.go
  extension/opampextension/auth_test.go
  extension/opampextension/opamp_agent.go
  extension/pprofextension/config.go
  extension/solarwindsapmsettingsextension/extension.go
  extension/storage/filestorage/client.go
  extension/storage/filestorage/config.go
  extension/storage/filestorage/config_test.go
  extension/storage/filestorage/extension.go
  extension/storage/filestorage/extension_test.go
  extension/storage/storagetest/client.go
  extension/sumologicextension/credentials/credentialsstore_localfs.go
  extension/sumologicextension/credentials/credentialsstore_localfs_test.go
  extension/sumologicextension/credentials/encrypt.go
  extension/sumologicextension/extension.go
  extension/sumologicextension/extension_test.go
Labels: extension/oidcauth, extension/bearertokenauth, extension/oauth2clientauth, extension/httpforwarder, extension/pprof, extension/observer, extension/awsproxy, extension/basicauth, extension/jaegerremotesampling, extension/storage, extension/headerssetter, extension/encoding, extension/opamp, extension/solarwindsapmsettings, extension/sumologic, extension/healthcheckv2

#35622 [extension/sumologic] Add new products to auto discovery
  .chloggen/chan-tim_autoDiscovery.yaml
  exporter/sumologicexporter/go.mod
  exporter/sumologicexporter/go.sum
  extension/sumologicextension/extension.go
  extension/sumologicextension/go.mod
  extension/sumologicextension/go.sum
Labels: exporter/sumologic, extension/sumologic, exporter/rabbitmq

#36469 [chore] Add jade-guiton-dd to Datadog component codeowners
  .github/CODEOWNERS
  connector/datadogconnector/README.md
  connector/datadogconnector/metadata.yaml
  exporter/datadogexporter/README.md
  exporter/datadogexporter/metadata.yaml
  pkg/datadog/metadata.yaml
Labels: exporter/datadog, connector/datadog, pkg/datadog

#36470 [chore] fix doc
  receiver/windowsperfcountersreceiver/README.md
Labels: receiver/windowsperfcounters

#36122 [receiver/awsfirehosereceiver] Fix timestamp in cwlogs
  .chloggen/fix_timestamp.yaml
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/logsbuilder.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler_test.go
Labels: ready to merge, Skip Changelog, receiver/awsfirehose

#36258 [receiver/huaweicloudces]: Add huaweicloudces receiver
  .chloggen/huaweicloudces.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  receiver/huaweicloudcesreceiver/Makefile
  receiver/huaweicloudcesreceiver/README.md
  receiver/huaweicloudcesreceiver/config.go
  receiver/huaweicloudcesreceiver/doc.go
  receiver/huaweicloudcesreceiver/factory.go
  receiver/huaweicloudcesreceiver/generated_component_test.go
  receiver/huaweicloudcesreceiver/generated_package_test.go
  receiver/huaweicloudcesreceiver/go.mod
  receiver/huaweicloudcesreceiver/go.sum
  receiver/huaweicloudcesreceiver/internal/metadata/generated_status.go
  receiver/huaweicloudcesreceiver/metadata.yaml
  versions.yaml
Labels: ready to merge, Accepted Component

#36474 [pkg/datadog] Refactor the API that provides metrics translator
  .chloggen/dd-config-api.yaml
  exporter/datadogexporter/metrics_exporter.go
  pkg/datadog/config/metrics.go
  pkg/datadog/go.mod
  pkg/datadog/go.sum
Labels: exporter/datadog, pkg/datadog

#36455 [chore][exporter/elasticsearch] Test metrics in integration tests
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
  exporter/elasticsearchexporter/integrationtest/exporter_test.go
Labels: exporter/elasticsearch

#36396 [exporter/elasticsearch] Limit bulk request size to avoid 413 Entity Too Large
  .chloggen/elasticsearchexporter_sync-bulk-indexer-flush-bytes.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
Labels: ready to merge, exporter/elasticsearch

#36471 [chore] enable gofumpt globally
  .golangci.yml
  Makefile.Common
  cmd/githubgen/codeowners.go
  cmd/githubgen/distributions.go
  cmd/githubgen/issuetemplates.go
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/persistence.go
  cmd/opampsupervisor/supervisor/persistence_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/telemetrygen/internal/traces/exporter_test.go
  confmap/provider/secretsmanagerprovider/provider.go
  confmap/provider/secretsmanagerprovider/provider_test.go
  internal/tools/go.mod
  internal/tools/tools.go
  processor/spanprocessor/span_test.go
  receiver/huaweicloudcesreceiver/factory.go
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/prometheusreceiver/targetallocator/manager_test.go
Labels: ci-cd, cmd/telemetrygen, receiver/prometheus, receiver/k8scluster, processor/span, internal/tools, cmd/opampsupervisor, cmd/githubgen, receiver/otelarrow, confmap/provider/secretsmanagerprovider, receiver/huaweicloudces

#36475 Add ArthurSens as a codeowner for prometheus exporters
  .github/CODEOWNERS
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/metadata.yaml
  pkg/translator/prometheus/metadata.yaml
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite, exporter/prometheus, pkg/translator/prometheus

#36350 [exporter/clickhouse] Fix incorrect ServiceName set for Logs Records
  .chloggen/fix_clickhouse-exporter-log-service-name.yaml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
Labels: ready to merge, exporter/clickhouse

#36500 [chore] ignore datadog-api-client-go in renovate bot
  renovate.json
Labels: ready to merge, ci-cd

#35937 Enhance the unit conversion in the EMF Exporter
  .chloggen/awsemfexporter-enhancements.yaml
  exporter/awsemfexporter/grouped_metric.go
  exporter/awsemfexporter/grouped_metric_test.go
Labels: exporter/awsemf

#36476 [chore] small fixes in hostmetrics, no need of using mocks
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
Labels: ready to merge, receiver/hostmetrics

#36454 [connector/signaltometrics] Add boilerplate for the connector
  .chloggen/add-signaltometrics-connector.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  connector/signaltometricsconnector/Makefile
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/config/config.go
  connector/signaltometricsconnector/config/config_test.go
  connector/signaltometricsconnector/connector.go
  connector/signaltometricsconnector/doc.go
  connector/signaltometricsconnector/factory.go
  connector/signaltometricsconnector/factory_test.go
  connector/signaltometricsconnector/generated_component_test.go
  connector/signaltometricsconnector/generated_package_test.go
  connector/signaltometricsconnector/go.mod
  connector/signaltometricsconnector/go.sum
  connector/signaltometricsconnector/internal/metadata/generated_status.go
  connector/signaltometricsconnector/metadata.yaml
  connector/signaltometricsconnector/testdata/configs/empty.yaml
  versions.yaml
Labels: ready to merge, cmd/otelcontribcol, reports/distributions/contrib.yaml

#36520 [chore][exporter/azuremonitor] Force the telemetry to be sent to azuremonitor
  .chloggen/azuremonitor-bug-fix.yaml
  exporter/azuremonitorexporter/channels.go
  exporter/azuremonitorexporter/logexporter.go
  exporter/azuremonitorexporter/metricexporter.go
  exporter/azuremonitorexporter/mock_transportChannel.go
  exporter/azuremonitorexporter/traceexporter.go
  exporter/azuremonitorexporter/traceexporter_test.go
Labels: exporter/azuremonitor

#36145 [processor/k8sattributes] Support name:tag@digest image name format
  .chloggen/fix-k8s-image-parsing.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/e2e/mixrbac/telemetrygen/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespaced_rbac_no_pod_ip/telemetrygen/deployment.yaml
  processor/k8sattributesprocessor/testdata/e2e/namespacedrbac/telemetrygen/deployment.yaml
Labels: processor/k8sattributes

#36456 [pkg/ottl] Move debug log into Statement.Execute
  .chloggen/ottl-improve-telemetry.yaml
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#35645 [chore] [receiver/purefa] Use confighttp.NewDefaultClientConfig instead of manually creating struct
  receiver/purefareceiver/config_test.go
  receiver/purefareceiver/factory.go
Labels: Skip Changelog, receiver/purefa

#35472 [extension/cgroupruntime]: Initial implementation
  .chloggen/add_cgroupruntime_extension.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  extension/cgroupruntimeextension/Makefile
  extension/cgroupruntimeextension/README.md
  extension/cgroupruntimeextension/config.go
  extension/cgroupruntimeextension/config_test.go
  extension/cgroupruntimeextension/doc.go
  extension/cgroupruntimeextension/extension.go
  extension/cgroupruntimeextension/extension_test.go
  extension/cgroupruntimeextension/factory.go
  extension/cgroupruntimeextension/generated_component_test.go
  extension/cgroupruntimeextension/generated_package_test.go
  extension/cgroupruntimeextension/go.mod
  extension/cgroupruntimeextension/go.sum
  extension/cgroupruntimeextension/internal/metadata/generated_status.go
  extension/cgroupruntimeextension/metadata.yaml
  extension/cgroupruntimeextension/testdata/config.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: reports/distributions/contrib.yaml

#36040 [processor/tailsampling] Decision cache for non-sampled trace IDs
  .chloggen/jmoe_decision-cache-non-sampled.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/config_test.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/testdata/tail_sampling_config.yaml
Labels: processor/tailsampling

#35617 [receiver/receiver_creator] Add support for enabling receivers/scrapers from K8s hints
  .chloggen/hints.yaml
  extension/observer/endpoints.go
  receiver/receivercreator/README.md
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/discovery.go
  receiver/receivercreator/discovery_test.go
  receiver/receivercreator/fixtures_test.go
  receiver/receivercreator/go.mod
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/observerhandler_test.go
Labels: extension/observer, receiver/receivercreator

#35521 [chore][exporter/influxdb] Use NewDefaultClientConfig instead of manually creating struct
  exporter/influxdbexporter/config_test.go
  exporter/influxdbexporter/factory.go
  exporter/influxdbexporter/writer_test.go
Labels: ready to merge, Skip Changelog, exporter/influxdb

#36148 [cmd/opampsupervisor] Enable Strict Unmarshal for Supervisor Configuration
  .chloggen/strict-unmarshal.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: ready to merge, receiver/activedirectoryds, cmd/opampsupervisor

#36505 [exporter/loadbalancing] Update k8sresolver handler to properly manage update events
  .chloggen/single-callback-k8sresolver.yaml
  exporter/loadbalancingexporter/resolver_k8s_handler.go
  exporter/loadbalancingexporter/resolver_k8s_test.go
Labels: exporter/loadbalancing

#36094 [exporter/loadbalancing] Add top level sending_queue, retry_on_failure and timeout settings
  .chloggen/feat_loadbalancing-exporter-queue.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/factory.go
  exporter/loadbalancingexporter/factory_test.go
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/metrics_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/testdata/config.yaml
  exporter/loadbalancingexporter/trace_exporter.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#36563 [chore] remove jpkrohling as codeowner from many modules
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  connector/exceptionsconnector/README.md
  connector/exceptionsconnector/metadata.yaml
  connector/grafanacloudconnector/README.md
  connector/grafanacloudconnector/metadata.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/metadata.yaml
  exporter/alertmanagerexporter/README.md
  exporter/alertmanagerexporter/metadata.yaml
  exporter/lokiexporter/README.md
  exporter/lokiexporter/metadata.yaml
  extension/headerssetterextension/README.md
  extension/headerssetterextension/metadata.yaml
  extension/healthcheckextension/README.md
  extension/healthcheckextension/metadata.yaml
  pkg/translator/loki/metadata.yaml
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/metadata.yaml
  receiver/awscloudwatchmetricsreceiver/README.md
  receiver/awscloudwatchmetricsreceiver/metadata.yaml
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/metadata.yaml
  receiver/lokireceiver/README.md
  receiver/lokireceiver/metadata.yaml
Labels: exporter/loki, extension/healthcheck, extension/headerssetter, pkg/translator/loki, receiver/datadog, connector/servicegraph, receiver/loki, receiver/awscloudwatchmetrics, connector/exceptions, cmd/githubgen, exporter/alertmanager, processor/deltatocumulative, connector/grafanacloud

#36057 Add support for 1-second Storage Resolution in the AWS EMF Exporter
  .chloggen/awsemf_storageresolution.yaml
  exporter/awsemfexporter/README.md
  exporter/awsemfexporter/metric_translator.go
  exporter/awsemfexporter/metric_translator_test.go
Labels: exporter/awsemf, internal/aws

#36072 [cmd/opampsupervisor]: update defult output paths for supervisor logger
  .chloggen/opamp_supervisor_default_output_paths.yaml
  cmd/opampsupervisor/main.go
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/logger.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#36014 [cmd/opampsupervisor]: do not log err when last received doesn't exist
  .chloggen/36014_do_not_log_when_no_prev_config_exists.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: cmd/opampsupervisor

#36528 [receiver/postgresqlreceiver] Added new postgresql metrics to acheive parity with Telegraf
  .chloggen/chan-tim_postgresMetrics.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_schemaattr.yaml
Labels: receiver/postgresql

#36586 Revert "Update dependency tcort/markdown-link-check to v3.13.6"
  .github/workflows/changelog.yml
  .github/workflows/check-links.yaml
Labels: Skip Changelog

#36590 [chore] Update READMEs to point to security best practices doc
  extension/awsproxy/README.md
  extension/healthcheckextension/README.md
  extension/healthcheckv2extension/README.md
  extension/jaegerremotesampling/README.md
  processor/remotetapprocessor/README.md
  receiver/awsfirehosereceiver/README.md
  receiver/awsxrayreceiver/README.md
  receiver/influxdbreceiver/README.md
  receiver/jaegerreceiver/README.md
  receiver/lokireceiver/README.md
  receiver/opencensusreceiver/README.md
  receiver/sapmreceiver/README.md
  receiver/signalfxreceiver/README.md
  receiver/skywalkingreceiver/README.md
  receiver/splunkhecreceiver/README.md
  receiver/zipkinreceiver/README.md
  receiver/zookeeperreceiver/README.md
Labels: receiver/zipkin, extension/healthcheck, receiver/zookeeper, receiver/awsxray, receiver/influxdb, receiver/splunkhec, receiver/jaeger, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/skywalking, receiver/sapm, extension/awsproxy, extension/jaegerremotesampling, receiver/loki, processor/remotetap, extension/healthcheckv2

#36124 [receiver/awsfirehose] follow receiver contract
  .chloggen/awsfirehose-contract.yaml
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/logs_receiver.go
  receiver/awsfirehosereceiver/logs_receiver_test.go
  receiver/awsfirehosereceiver/metrics_receiver.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
Labels: receiver/awsfirehose, waiting-for-code-owners

#36605 Failover connector max retry bug fix
  .chloggen/failover-max-retry-fix.yaml
  connector/failoverconnector/failover_test.go
  connector/failoverconnector/internal/state/pipeline_selector.go
Labels: connector/failover
