Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-08, with the labels that each got.

#41705 [chore][receiver/tlscheck] Remove excessive "Peer Certificates" log
  receiver/tlscheckreceiver/scraper.go
Labels: ready to merge, Skip Changelog, receiver/tlscheck

#41731 [chore][*/datadog] Update pkg/util/winutil to pseudoversion
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
Labels: exporter/datadog, Run Windows, receiver/datadog, internal/datadog, connector/datadog, pkg/datadog, extension/datadog

#41704 [doc][exporter/kafka] Clarify `timeout` setting description
  exporter/kafkaexporter/README.md
Labels: Skip Changelog, exporter/kafka

#41735 [chore] merge main into branch
  .chloggen/esexporter-queuebatch.yaml
  .chloggen/mx-psi_configoptional-exporter-pulsar.yaml
  .chloggen/prometheusexporter-translation-strategies.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/partitioner.go
  exporter/elasticsearchexporter/partitioner_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
  exporter/kafkaexporter/README.md
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusexporter/config.go
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/prometheus_test.go
  exporter/pulsarexporter/config.go
  exporter/pulsarexporter/config_test.go
  exporter/pulsarexporter/go.mod
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/tlscheckreceiver/scraper.go
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, exporter/clickhouse, exporter/pulsar, exporter/elasticsearch, exporter/kafka, exporter/prometheus, testbed, receiver/datadog, internal/datadog, connector/datadog, pkg/datadog, receiver/tlscheck, extension/datadog

#41739 [chore] fix more tests with ForceAttemptHTTP2
  exporter/signalfxexporter/config_test.go
Labels: exporter/signalfx

#41584 [exporter/splunkhec] do not log the HEC event if too long
  .chloggen/drop_verbose_log.yaml
  exporter/splunkhecexporter/client.go
  exporter/splunkhecexporter/client_test.go
Labels: exporter/splunkhec

#41700 [receiver/postgresql] unify the config for events
  .chloggen/update-postgresql-receiver-config.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/config.go
  receiver/postgresqlreceiver/config_test.go
  receiver/postgresqlreceiver/factory.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/config.yaml
Labels: receiver/postgresql

#41380 [receiver/httpcheck] Add timing details
  .chloggen/httpcheck-timing-details.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/documentation.md
  receiver/httpcheckreceiver/internal/metadata/generated_config.go
  receiver/httpcheckreceiver/internal/metadata/generated_config_test.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/httpcheckreceiver/internal/metadata/testdata/config.yaml
  receiver/httpcheckreceiver/metadata.yaml
  receiver/httpcheckreceiver/scraper.go
  receiver/httpcheckreceiver/scraper_test.go
Labels: receiver/httpcheck, waiting-for-code-owners

#41726 [exporter/elasticsearch] Change default flush::interval and batcher::flush_timeout to 10s
  .chloggen/elasticsearchexporter_flush-10s.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
Labels: exporter/elasticsearch

#41615 [connector/routing] Add support for IsRootSpan function
  .chloggen/register-is-root-span-ottl-func.yaml
  connector/routingconnector/internal/common/functions.go
  connector/routingconnector/internal/common/functions_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/router.go
  connector/routingconnector/traces_test.go
Labels: connector/routing

#41256 [pkg/ottl] add profilesample
  .chloggen/ottl-profilesample.yaml
  pkg/ottl/contexts/internal/ctxprofilesample/context.go
  pkg/ottl/contexts/internal/ctxprofilesample/profilesample.go
  pkg/ottl/contexts/internal/ctxprofilesample/profilesample_test.go
  pkg/ottl/contexts/internal/logprofile/logging.go
  pkg/ottl/contexts/internal/logprofile/logging_test.go
  pkg/ottl/contexts/ottlprofilesample/README.md
  pkg/ottl/contexts/ottlprofilesample/package_test.go
  pkg/ottl/contexts/ottlprofilesample/profilesample.go
  pkg/ottl/contexts/ottlprofilesample/profilesample_test.go
Labels: pkg/ottl

#41745 [receiver/splunk_hec] Accept dashes in metric names
  .chloggen/accept_dashes_in_metric_names.yaml
  internal/splunk/common.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: receiver/splunkhec, internal/splunk

#41762 [receiver/sqlserver] enable sqlserver events collection on windows
  .chloggen/enable-sqlserver-events-on-windows.yaml
  receiver/sqlserverreceiver/factory_windows.go
Labels: ready to merge, receiver/sqlserver, Run Windows

#41564 [receiver/k8sobjectsreceiver] Implement include_initial_state for watch mode
  .chloggen/k8sobjectsreceiver_initial_snapshot.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/config.yaml
  receiver/k8sobjectsreceiver/config_test.go
  receiver/k8sobjectsreceiver/factory_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/receiver_test.go
  receiver/k8sobjectsreceiver/testdata/config.yaml
Labels: receiver/k8sobjects

#41709 [chore] adopt go-setup cache to reduce the cache churn
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-darwin.yaml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/check-codeowners.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/golden.yml
  .github/workflows/load-tests.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/scoped-test.yaml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
Labels: Run Windows, Run Darwin

#41795 [chore] fix flaky test for otlpjsonfilereceiver
  receiver/otlpjsonfilereceiver/file_test.go
Labels: receiver/otlpjsonfile, Run Windows

#41694 [chore][extension/oidcauth] bump go-oidc, remove custom JWS parsing
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/go.mod
Labels: extension/oidcauth

#41744 [chore] Move to goccy-json
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  internal/splunk/common.go
  internal/splunk/common_test.go
  internal/splunk/go.mod
  internal/splunk/go.sum
  receiver/signalfxreceiver/go.mod
  receiver/signalfxreceiver/go.sum
  receiver/splunkhecreceiver/go.mod
  receiver/splunkhecreceiver/receiver.go
  receiver/splunkhecreceiver/receiver_test.go
Labels: exporter/signalfx, exporter/sapm, receiver/splunkhec, receiver/signalfx, internal/splunk

#41818 [chore][receiver/sqlserver] remove not used variables
  receiver/sqlserverreceiver/scraper.go
Labels: receiver/sqlserver, Run Windows

#41813 [receiver/googlecloudpubsub] Remove build-in encoding
  .chloggen/googlepubsubreceiver-removebuildin.yaml
  receiver/googlecloudpubsubreceiver/README.md
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudpubsubreceiver/internal/log_entry.go
  receiver/googlecloudpubsubreceiver/internal/log_entry_test.go
  receiver/googlecloudpubsubreceiver/receiver.go
  receiver/googlecloudpubsubreceiver/receiver_test.go
Labels: receiver/googlecloudpubsub

#41674 [exporter/elasticsearch] Add metadata context to logs for failed ES reqs
  .chloggen/41674_esexporter_logs_metadata.yaml
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
Labels: exporter/elasticsearch

#41580 [pkg/stanza] feat: add support for batch processing in most operators
  .chloggen/batching-operators.yaml
  pkg/stanza/README.md
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
  pkg/stanza/operator/helper/writer.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/csv/parser.go
  pkg/stanza/operator/parser/json/parser.go
  pkg/stanza/operator/parser/jsonarray/parser.go
  pkg/stanza/operator/parser/keyvalue/parser.go
  pkg/stanza/operator/parser/regex/parser.go
  pkg/stanza/operator/parser/scope/parser.go
  pkg/stanza/operator/parser/severity/parser.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/parser/time/parser.go
  pkg/stanza/operator/parser/trace/parser.go
  pkg/stanza/operator/parser/uri/parser.go
  pkg/stanza/operator/transformer/add/transformer.go
  pkg/stanza/operator/transformer/assignkeys/transformer.go
  pkg/stanza/operator/transformer/copy/transformer.go
  pkg/stanza/operator/transformer/flatten/transformer.go
  pkg/stanza/operator/transformer/move/transformer.go
  pkg/stanza/operator/transformer/regexreplace/transformer.go
  pkg/stanza/operator/transformer/remove/transformer.go
  pkg/stanza/operator/transformer/retain/transformer.go
  pkg/stanza/operator/transformer/unquote/transformer.go
Labels: pkg/stanza

#41776 [exporter/kafka]Switch to QueueBatch and configure partitioner
  .chloggen/kafkaexporter-partion-batcher.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/partitioner.go
  exporter/kafkaexporter/partitioner_test.go
Labels: exporter/kafka

#41821 [extension/encoding/googlecloudlogentry] Follow semantic conventions for log records
  .chloggen/gcp-logentry-semantic-conventions.yaml
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/log_entry.go
  extension/encoding/googlecloudlogentryencodingextension/testdata/log_entry.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/log_entry_expected.yaml
Labels: extension/encoding/googlecloudlogentryencoding

#40999 support metrics_timestamp_offset
  .chloggen/servicegraph-offset.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/factory.go
Labels: connector/servicegraph

#41792 [receiver/solacereceiver]: fix for solace receiver may leak memory on reporting traces when used under high load
  .chloggen/solacereceiver_fix_receiver_memory_leak.yaml
  receiver/solacereceiver/receiver.go
Labels: receiver/solace, waiting-for-code-owners

#41827 [stefexporter] Fix unstable TestConnManagerFlush
  exporter/stefexporter/internal/connmanager_test.go
Labels: Skip Changelog, exporter/stef

#41833 [chore] [otelarrowreceiver] Remove one flaky test
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
Labels: receiver/otelarrow

#41829 [otelarrowexporter] Remove unused arrow v16 dep
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/otelarrowexporter/metadata.go
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
Labels: Skip Changelog, exporter/otelarrow, internal/otelarrow

#41824 [chore][exporter/kafka]Fix incorrect queue batch setting for metrics and traces
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
Labels: exporter/kafka

#41697 [exporter/loadbalancing] Use configoptional for optional config sections
  .chloggen/mx-psi_loadbalancing-use-configoptional.yaml
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/factory_test.go
  exporter/loadbalancingexporter/go.mod
  exporter/loadbalancingexporter/loadbalancer.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#41842 Update opentelemetry-mapping-go/pkg/quantile
  .chloggen/mackjmr_update-mapping-go-quantile.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: exporter/datadog, connector/datadog

#41843 [chore] do not run scorecard security runs on forks
  .github/workflows/scorecard.yml
Labels: ci-cd

#41565 [cmd/opampsupervisor] Add a healthcheck endpoint for the Supervisor
  .chloggen/supervisor-healthcheck-endpoint.yaml
  cmd/opampsupervisor/README.md
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_healthcheck.yaml
Labels: cmd/opampsupervisor

#37245 [processor/transform] Introduce `convert_summary_quantile_val_to_gauge()` function
  .chloggen/transform-convert-summary-gauge.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metrics/func_convert_summary_quantile_val_to_gauge.go
  processor/transformprocessor/internal/metrics/func_convert_summary_quantile_val_to_gauge_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/functions.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
Labels: processor/transform, waiting-for-code-owners

#41858 [stefexporter, stefreceiver] Update STEF to v0.0.7
  .chloggen/tigran_stefupdate.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: Skip Changelog, exporter/elasticsearch, testbed, cmd/opampsupervisor, exporter/stef, receiver/stef

#41857 [chore] Fix flaky test TestPrometheusAPIServer
  receiver/prometheusreceiver/metricsreceiver_api_server_test.go
Labels: receiver/prometheus

#41836 [extension/encoding/googlecloudlogentry] Fix type on apphub destinatination fields
  .chloggen/gcp-encoding-fix-typo.yaml
  extension/encoding/googlecloudlogentryencodingextension/log_entry.go
  extension/encoding/googlecloudlogentryencodingextension/testdata/log_entry_expected.yaml
Labels: ready to merge, extension/encoding/googlecloudlogentryencoding

#41819 [processor/tailsamplingprocessor] Add `decision` attribute to metrics tracking sampling decisions
  .chloggen/tsp-telemetry-add-dropped-attribute.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/documentation.md
  processor/tailsamplingprocessor/metadata.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
Labels: ready to merge, processor/tailsampling

#39570 handle conflits in prw v2
  .chloggen/handle-conflits.yaml
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2_test.go
Labels: ready to merge, pkg/translator/prometheusremotewrite

#41860 [extension/solarwindsapmsettingsextension] Replacing the proprietary apm-proto protocol by http
  .chloggen/obsolete-apm-proto.yaml
  extension/solarwindsapmsettingsextension/config.go
  extension/solarwindsapmsettingsextension/config_test.go
  extension/solarwindsapmsettingsextension/extension.go
  extension/solarwindsapmsettingsextension/extension_test.go
  extension/solarwindsapmsettingsextension/factory_test.go
  extension/solarwindsapmsettingsextension/go.mod
  extension/solarwindsapmsettingsextension/go.sum
Labels: extension/solarwindsapmsettings

#41863 [receiver/jmxreceiver] fix sha256sum for opentelemetry-jmx-scraper-1.48.0-alpha.jar
  .chloggen/hotfix_receiver_jmxreceiver.yaml
  receiver/jmxreceiver/supported_jars.go
Labels: receiver/jmx

#41755 [internal/common] Add priority queue implementation
  .chloggen/priority-queue.yaml
  internal/common/priorityqueue/queue.go
  internal/common/priorityqueue/queue_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/sqlserverreceiver/scraper.go
Labels: receiver/sqlserver, receiver/postgresql, Run Windows, waiting-for-code-owners, internal/common

#39951 [connector/servicegraphconnector] Add native histograms support
  .chloggen/fix-issue-35460.yaml
  connector/exceptionsconnector/go.mod
  connector/exceptionsconnector/go.sum
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
  connector/servicegraphconnector/go.mod
  connector/servicegraphconnector/go.sum
  exporter/datadogexporter/go.mod
  internal/pdatautil/go.mod
  internal/pdatautil/go.sum
  internal/pdatautil/metrics.go
  internal/pdatautil/metrics_test.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
Labels: exporter/datadog, processor/transform, connector/servicegraph, connector/exceptions, internal/pdatautil

#41682 [processor/redactionprocessor] Add db sanitization capability
  .chloggen/41647.yaml
  processor/redactionprocessor/README.md
  processor/redactionprocessor/config.go
  processor/redactionprocessor/config_test.go
  processor/redactionprocessor/generated_package_test.go
  processor/redactionprocessor/go.mod
  processor/redactionprocessor/go.sum
  processor/redactionprocessor/internal/db/config.go
  processor/redactionprocessor/internal/db/db.go
  processor/redactionprocessor/internal/db/db_test.go
  processor/redactionprocessor/internal/db/obfuscators.go
  processor/redactionprocessor/internal/db/obfuscators_test.go
  processor/redactionprocessor/metadata.yaml
  processor/redactionprocessor/processor.go
Labels: discussion needed, processor/redaction

#41929 [processor/sumo] Remove pointers for types in configuration struct
  .chloggen/mx-psi_processor-sumo.yaml
  processor/sumologicprocessor/config.go
  processor/sumologicprocessor/config_test.go
  processor/sumologicprocessor/processor.go
  processor/sumologicprocessor/processor_test.go
Labels: processor/sumologic

#41918 [chore][exporter/azureblob] Remove pointers from fields
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/config_test.go
  exporter/azureblobexporter/exporter.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azureblobexporter/factory.go
  exporter/azureblobexporter/marshaller_test.go
Labels: exporter/azureblob

#41642 [receiver/k8scluster] add k8s.container.status.state metric
  .chloggen/container-status.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_container_state.yaml
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster, waiting-for-code-owners

#41966 [chore] asapauthextension: fix tests under Go 1.24
  extension/asapauthextension/config_test.go
Labels: extension/asapauth

#40225 [telemetrygen] Add continuous mode
  .chloggen/telemetrygen_add_continuous_mode.yaml
  cmd/telemetrygen/README.md
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/e2etest/logs_test.go
  cmd/telemetrygen/internal/e2etest/metrics_test.go
  cmd/telemetrygen/internal/e2etest/traces_test.go
  cmd/telemetrygen/pkg/logs/config.go
  cmd/telemetrygen/pkg/logs/logs.go
  cmd/telemetrygen/pkg/logs/worker.go
  cmd/telemetrygen/pkg/logs/worker_test.go
  cmd/telemetrygen/pkg/metrics/config.go
  cmd/telemetrygen/pkg/metrics/metrics.go
  cmd/telemetrygen/pkg/metrics/worker.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
  cmd/telemetrygen/pkg/traces/config.go
  cmd/telemetrygen/pkg/traces/traces.go
  cmd/telemetrygen/pkg/traces/worker.go
  cmd/telemetrygen/pkg/traces/worker_test.go
  cmd/telemetrygen/pkg/types.go
  cmd/telemetrygen/pkg/types_test.go
Labels: cmd/telemetrygen, waiting-for-code-owners

#41951 [opamp-go] Update opamp-go to v0.21.0
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/supervisor_test.go
  extension/opampcustommessages/go.mod
  extension/opampcustommessages/go.sum
  extension/opampextension/go.mod
  extension/opampextension/go.sum
  extension/opampextension/opamp_agent_test.go
  receiver/awss3receiver/go.mod
  receiver/awss3receiver/go.sum
Labels: dependencies, Skip Changelog, cmd/opampsupervisor, extension/opamp, receiver/awss3, extension/opampcustommessages

#41893 [chore] fix flaky http server test
  extension/datadogextension/internal/httpserver/httpserver_test.go
Labels: extension/datadog

#41976 [receiver/libhoney] Use configoptional for HTTP section
  .chloggen/mx-psi_libhoneyreceiver-configoptional.yaml
  receiver/libhoneyreceiver/config.go
  receiver/libhoneyreceiver/config_test.go
  receiver/libhoneyreceiver/factory.go
  receiver/libhoneyreceiver/go.mod
  receiver/libhoneyreceiver/receiver.go
  receiver/libhoneyreceiver/receiver_test.go
Labels: receiver/libhoney

#41992 chore: Update remaining docker/docker dependencies for CVE
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  pkg/xk8stest/go.mod
  pkg/xk8stest/go.sum
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
Labels: Skip Changelog, exporter/googlemanagedprometheus, internal/metadataproviders, receiver/prometheusremotewrite, pkg/xk8stest

#41994 [chore] unexport MockRoundTripper
  extension/solarwindsapmsettingsextension/extension_test.go
Labels: extension/solarwindsapmsettings

#41889 [chore] docs(filterprocessor): how to drop non-error spans with a duration less than 1 second
  processor/filterprocessor/README.md
Labels: processor/filter

#42011 ci(load-tests): switch runner to Oracle bare metal
  .github/workflows/load-tests.yml
Labels: ci-cd, Skip Changelog

#41861 [extension/encoding/googlecloudlogentry] Add possibility to decode multiple logs
  .chloggen/gcp-multiple-logs.yaml
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/config.go
  extension/encoding/googlecloudlogentryencodingextension/extension.go
  extension/encoding/googlecloudlogentryencodingextension/extension_test.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload_test.go
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_text_expected.yaml
Labels: extension/encoding/googlecloudlogentryencoding

#41381 [receiver/httpcheck] Add optional request body
  .chloggen/httpcheck-add-request-body.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/config_test.go
  receiver/httpcheckreceiver/go.mod
  receiver/httpcheckreceiver/scraper.go
  receiver/httpcheckreceiver/scraper_test.go
Labels: receiver/httpcheck, waiting-for-code-owners

#42010 [chore] Update github.com/twmb/franz-go/...
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  extension/observer/kafkatopicsobserver/go.mod
  extension/observer/kafkatopicsobserver/go.sum
  internal/kafka/go.mod
  internal/kafka/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
Labels: dependencies, Skip Changelog, exporter/kafka, receiver/kafka, receiver/kafkametrics, internal/kafka, waiting-for-code-owners, extension/observer/kafkatopicsobserver

#41963 [chore][opampsupervisor] use otelconftelemetry
  cmd/opampsupervisor/supervisor/config/config.go
Labels: cmd/opampsupervisor

#41350 [receiver/webhookevent] Add new json splitter to webhookeventreceiver
  .chloggen/webhook-json-splitter.yaml
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/factory.go
  receiver/webhookeventreceiver/req_to_log.go
  receiver/webhookeventreceiver/req_to_log_test.go
Labels: receiver/webhookevent

#41997 [receiver/webhookevent] move to beta
  .chloggen/webhookeventreceiver_beta.yaml
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/internal/metadata/generated_status.go
  receiver/webhookeventreceiver/metadata.yaml
Labels: receiver/webhookevent

#42013 [chore] feature/isolationforestprocessor
  processor/isolationforestprocessor/README.md
  processor/isolationforestprocessor/doc.go
  processor/isolationforestprocessor/generated_component_test.go
  processor/isolationforestprocessor/generated_package_test.go
  processor/isolationforestprocessor/go.mod
  processor/isolationforestprocessor/go.sum
  processor/isolationforestprocessor/internal/metadata/generated_status.go
  processor/isolationforestprocessor/metadata.yaml
  reports/distributions/contrib.yaml
Labels: reports/distributions/contrib.yaml, processor/isolationforest

#41888 [tailsamplingprocessor] Optimize meter tracking
  .chloggen/logiraptor_reduce-tsp-allocations.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling, waiting-for-code-owners

#40713 [exporter/zipkin] Support scope attributes
  .chloggen/main.yaml
  pkg/translator/zipkin/zipkinv2/from_translator.go
  pkg/translator/zipkin/zipkinv2/from_translator_test.go
Labels: ready to merge, pkg/translator/zipkin

#42036 [encoding/googlecloudlogentry] Add support for Cloud Audit Log
  .chloggen/gcp-add-audit-logs.yaml
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/extension_test.go
  extension/encoding/googlecloudlogentryencodingextension/internal/auditlog/parser.go
  extension/encoding/googlecloudlogentryencodingextension/internal/auditlog/parser_test.go
  extension/encoding/googlecloudlogentryencodingextension/internal/shared/utils.go
  extension/encoding/googlecloudlogentryencodingextension/log_entry.go
  extension/encoding/googlecloudlogentryencodingextension/log_entry_test.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload_test.go
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/activity.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/activity_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/data_access.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/data_access_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/policy.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/policy_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/system_event.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/auditlog/system_event_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_json_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_protofobuf_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_text_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/proto_payload.json
Labels: extension/encoding/googlecloudlogentryencoding

#42106 [chore] Fix flaky test on TestReception
  receiver/jaegerreceiver/trace_receiver_test.go
Labels: ready to merge, receiver/jaeger

#42102 [receiver/vcenter]: Fix potential NPE on VM metrics collection
  .chloggen/fix_panic-in-vcenter-vm-collection.yaml
  receiver/vcenterreceiver/resources.go
Labels: receiver/vcenter

#42121 [chore] skip TestSupervisorBootstrapsCollector
  cmd/opampsupervisor/e2e_test.go
Labels: cmd/opampsupervisor

#42119 [otelarrow] Lengthen timeouts/shorten tests
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  internal/otelarrow/admission2/boundedqueue_test.go
Labels: Skip Changelog, exporter/otelarrow, internal/otelarrow

#42124 [chore] only run scoped-test in PRs
  .github/workflows/scoped-test.yaml
Labels: ci-cd

#40853 [exporter/coralogix] Remove unused deprecated configgrpc.ClientConfig
  .chloggen/coralogixexporter-remove-deprecated.yaml
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/testdata/logs.yaml
  exporter/coralogixexporter/testdata/metrics.yaml
Labels: exporter/coralogix

#41962 [exporter/elasticsearch] Add error.type dimension to docsprocessed me…
  .chloggen/41962_esexporter_error_type.yaml
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/documentation.md
  exporter/elasticsearchexporter/metadata.yaml
Labels: exporter/elasticsearch

#41815 [chore] boost cloudtrail logs unmarshaler performance and add aws.access_key.id field
  .chloggen/add-cloudtrail-field.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/internal/unmarshaler/cloudtraillog/testdata/cloudtrail_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/cloudtraillog/unmarshaler.go
Labels: ready to merge, extension/encoding/awslogsencoding

#42126 [chore] Fix flakyness in iisreceiver TestIntegration
  receiver/iisreceiver/integration_test.go
  receiver/iisreceiver/testdata/integration/expected.yaml
Labels: receiver/iis, Run Windows

#42018 feat: drain error messages in frontend errors before hashing
  .chloggen/faro-drain-errors.yaml
  pkg/translator/faro/faro_to_logs.go
  pkg/translator/faro/faro_to_logs_test.go
  pkg/translator/faro/testdata/general/plogs.yaml
  pkg/translator/faro/testdata/standard-payload/plogs.yaml
Labels: ready to merge, pkg/translator/faro

#41883 [enhancement] kafkareceiver - permanent error handling option (on_permanent_error)
  .chloggen/feature_add-on-permanent-error-option.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/consumer_franz.go
  receiver/kafkareceiver/consumer_sarama.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/testdata/config.yaml
Labels: ready to merge, receiver/kafka

#41748 [extension/oidcauth] Access JWT claims from auth context
  .chloggen/oidc-access-claims.yaml
  extension/oidcauthextension/README.md
  extension/oidcauthextension/authdata.go
  extension/oidcauthextension/authdata_test.go
  extension/oidcauthextension/extension.go
Labels: ready to merge, extension/oidcauth

#41878 [receiver/oracledb] Read V$SESSION.ACTION as context
  .chloggen/oracle-receiver-read-session-action.yaml
  receiver/oracledbreceiver/go.mod
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/oracledbreceiver/templates/oracleQuerySampleSql.tmpl
  receiver/oracledbreceiver/testdata/expectedSamplesFile.yaml
Labels: receiver/oracledb, waiting-for-code-owners

#42147 Fix UB in logdedupprocessor caused by holding reference to mutable data
  .chloggen/fix-dedup-proc.yaml
  processor/logdedupprocessor/counter.go
  processor/logdedupprocessor/counter_test.go
  processor/logdedupprocessor/processor.go
Labels: processor/logdedup

#42004 Remove temporary fix for metric name validation, fix upstream resolved
  .chloggen/remove-fixed-hack.yaml
  receiver/prometheusreceiver/targetallocator/manager.go
Labels: receiver/prometheus

#42154 Remove deprecated component routingprocessor
  .chloggen/rm-dep-routingprocessor.yaml
  .codecov.yml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  cmd/otelcontribcol/builder-config.yaml
  internal/tidylist/tidylist.txt
  processor/routingprocessor/Makefile
  processor/routingprocessor/README.md
  processor/routingprocessor/config.go
  processor/routingprocessor/config_test.go
  processor/routingprocessor/documentation.md
  processor/routingprocessor/extract.go
  processor/routingprocessor/extract_test.go
  processor/routingprocessor/factory.go
  processor/routingprocessor/factory_test.go
  processor/routingprocessor/generated_component_test.go
  processor/routingprocessor/generated_package_test.go
  processor/routingprocessor/go.mod
  processor/routingprocessor/go.sum
  processor/routingprocessor/internal/common/functions.go
  processor/routingprocessor/internal/metadata/generated_status.go
  processor/routingprocessor/internal/metadata/generated_telemetry.go
  processor/routingprocessor/internal/metadata/generated_telemetry_test.go
  processor/routingprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/routingprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/logs_test.go
  processor/routingprocessor/metadata.yaml
  processor/routingprocessor/metrics.go
  processor/routingprocessor/metrics_test.go
  processor/routingprocessor/router.go
  processor/routingprocessor/testdata/config.yaml
  processor/routingprocessor/testdata/config_logs.yaml
  processor/routingprocessor/testdata/config_metrics.yaml
  processor/routingprocessor/testdata/config_traces.yaml
  processor/routingprocessor/traces.go
  processor/routingprocessor/traces_test.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: processor/routing, cmd/otelcontribcol, reports/distributions/contrib.yaml

#42148 [chore][*/datadog] upgrade pkg/trace versions
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/logs/package_test.go
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  processor/datadogsemanticsprocessor/go.mod
  processor/datadogsemanticsprocessor/go.sum
  processor/datadogsemanticsprocessor/processor.go
  processor/datadogsemanticsprocessor/processor_test.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, exporter/elasticsearch, testbed, receiver/datadog, cmd/opampsupervisor, connector/datadog, pkg/datadog, processor/datadogsemantics, extension/datadog

#42171 [chore][CI] update-otel sends PRs in draft first
  .github/workflows/update-otel.yaml
Labels: ci-cd

#42175 [azureauthextension] configoptional cleanup
  extension/azureauthextension/config.go
Labels: extension/azureauth

#42127 [dockerstatsreceiver][chore] Add standard integration test
  receiver/dockerstatsreceiver/default_metrics_integration_test.go
  receiver/dockerstatsreceiver/go.mod
  receiver/dockerstatsreceiver/go.sum
  receiver/dockerstatsreceiver/testdata/integration/expected.yaml
Labels: receiver/dockerstats, waiting-for-code-owners

#42178 [chore][exporter/datadog] fix a few deps
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: dependencies, exporter/datadog, connector/datadog

#42164 [oracledb/receiver] Removing the toLowercase on sql_text in topN & adding child_address into samples payload
  .chloggen/oracle_sql_case_fix.yaml
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/internal/metadata/generated_logs.go
  receiver/oracledbreceiver/internal/metadata/generated_logs_test.go
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/oracledbreceiver/templates/oracleQuerySampleSql.tmpl
  receiver/oracledbreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/oracledbreceiver/testdata/expectedSamplesFile.yaml
Labels: receiver/oracledb

#42201 [chore] Remove usage of most of the internal Equal, and ignore atomic.Int32
  processor/deltatocumulativeprocessor/internal/data/expo/expo_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/merge_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/zero_test.go
  processor/deltatocumulativeprocessor/internal/data/expo_test.go
  processor/deltatocumulativeprocessor/internal/data/histo_test.go
  processor/deltatocumulativeprocessor/internal/testing/compare/compare.go
  processor/deltatocumulativeprocessor/internal/testing/datatest/equal.go
  processor/deltatocumulativeprocessor/internal/testing/datatest/equal_test.go
Labels: processor/deltatocumulative

#42200 [receiver/libhoney] Safer ID parsing
  .chloggen/fix_panic-in-libhoney-receiver.yaml
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/libhoneyevent/slice_conversion_test.go
  receiver/libhoneyreceiver/internal/parser/parser.go
Labels: receiver/libhoney

#42204 [chore] Skip test while investigating flakiness
  receiver/dockerstatsreceiver/default_metrics_integration_test.go
Labels: ready to merge, receiver/dockerstats

#42212 [chore] Remove more usage of go-cmp with pdata in deltatocumulative processor
  processor/deltatocumulativeprocessor/internal/testing/sdktest/compare.go
  processor/deltatocumulativeprocessor/internal/testing/sdktest/diff.go
  processor/deltatocumulativeprocessor/internal/testing/sdktest/example_test.go
  processor/deltatocumulativeprocessor/processor_test.go
Labels: processor/deltatocumulative

#40800 [translator/faro] Add Timestamp, ObservedTimestamp, SpanId, and TraceId fields to Log Record
  .chloggen/faro-translator-add-missing-fields.yaml
  exporter/faroexporter/README.md
  pkg/translator/faro/faro_to_logs.go
  pkg/translator/faro/faro_to_logs_test.go
  pkg/translator/faro/testdata/actions-payload/payload.json
  pkg/translator/faro/testdata/actions-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-slice-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-string-payload/plogs.yaml
  pkg/translator/faro/testdata/general/payload.json
  pkg/translator/faro/testdata/general/plogs.yaml
  pkg/translator/faro/testdata/standard-payload/payload.json
  pkg/translator/faro/testdata/standard-payload/plogs.yaml
  receiver/faroreceiver/receiver_test.go
  receiver/faroreceiver/testdata/golden/minimal-logs-and-traces-only.yaml
  receiver/faroreceiver/testdata/golden/minimal-logs-only.yaml
Labels: reports/distributions/contrib.yaml, waiting-for-code-owners, receiver/faro, exporter/faro, pkg/translator/faro

#42216 Avoid access to internal.State when compare metrics in metricstestutil.MetricDiff
  internal/coreinternal/metricstestutil/metric_diff.go
  testbed/correctnesstests/metrics/metrics_test_harness.go
Labels: Skip Changelog, internal/core, testbed

#42233 [telemetrygen] Fix continuous mode and add tests
  .chloggen/telemetrygen_continuous_fix_tests.yaml
  cmd/telemetrygen/pkg/logs/config.go
  cmd/telemetrygen/pkg/logs/integration_test.go
  cmd/telemetrygen/pkg/logs/logs_test.go
  cmd/telemetrygen/pkg/metrics/config.go
  cmd/telemetrygen/pkg/metrics/integration_test.go
  cmd/telemetrygen/pkg/metrics/metrics_test.go
  cmd/telemetrygen/pkg/traces/config.go
  cmd/telemetrygen/pkg/traces/exporter_test.go
  cmd/telemetrygen/pkg/traces/integration_test.go
  cmd/telemetrygen/pkg/traces/traces_test.go
Labels: cmd/telemetrygen

#42165 [chore][exporter/datadog] Add warning statement for zorkian calls
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#42269 [chore] [receiver/azureeventhub] Add dyl10s as codeowner for azureeventhubreceiver
  .github/CODEOWNERS
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/metadata.yaml
Labels: receiver/azureeventhub

#42271 [chore][exporter/datadog] Add `logs::endpoint` to example
  exporter/datadogexporter/examples/collector.yaml
Labels: exporter/datadog

#42276 [chore][cmd/opampsupervisor] Remove use of deprecated settings.Capabilities
  cmd/opampsupervisor/supervisor/supervisor.go
Labels: Run Windows, cmd/opampsupervisor

#41332 [receiver/httpcheck] Add response body validation
  .chloggen/httpcheck-add-response-body-validation.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/documentation.md
  receiver/httpcheckreceiver/go.mod
  receiver/httpcheckreceiver/go.sum
  receiver/httpcheckreceiver/internal/metadata/generated_config.go
  receiver/httpcheckreceiver/internal/metadata/generated_config_test.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/httpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/httpcheckreceiver/internal/metadata/testdata/config.yaml
  receiver/httpcheckreceiver/metadata.yaml
  receiver/httpcheckreceiver/scraper.go
  receiver/httpcheckreceiver/scraper_test.go
Labels: receiver/httpcheck, waiting-for-code-owners

#42286 [chore] fix remotetapprocess flaky tests
  processor/remotetapprocessor/server_test.go
Labels: processor/remotetap

#42300 [receivers/httpcheck] fix race conditions in http timing
  .chloggen/httpcheck-fix-race.yaml
  receiver/httpcheckreceiver/scraper.go
Labels: receiver/httpcheck

#42303 Fix sqlserver memory leaking
  .chloggen/sqlserver-memory-leak.yaml
  receiver/sqlserverreceiver/obfuscate.go
Labels: receiver/sqlserver, Run Windows

#42029 feat (pkg/stanza): add sanitize operator to replace invalid UTF-8 cha…
  .chloggen/stanza_sanitize.yaml
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/sanitize_utf8.md
  pkg/stanza/operator/transformer/sanitizeutf8/config_test.go
  pkg/stanza/operator/transformer/sanitizeutf8/package_test.go
  pkg/stanza/operator/transformer/sanitizeutf8/testdata/config.yaml
  pkg/stanza/operator/transformer/sanitizeutf8/transformer.go
  pkg/stanza/operator/transformer/sanitizeutf8/transformer_test.go
Labels: pkg/stanza

#42240 [extension/observer/cfgardenobserver] Move cfgardenobserver to alpha
  .chloggen/alpha-cfgarden.yaml
  extension/observer/cfgardenobserver/README.md
  extension/observer/cfgardenobserver/internal/metadata/generated_status.go
  extension/observer/cfgardenobserver/metadata.yaml
Labels: extension/observer/cfgardenobserver

#42323 [chore] Fix e2e Windows workflow for opampsupervisor
  .github/workflows/e2e-tests-windows.yml
Labels: ci-cd, Run Windows

#42328 [chore] Fix e2e opampsupervisor install and remove check for windows changes
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/scripts/is_changed_file_windows.sh
Labels: ci-cd, Run Windows

#42120 [exporter/prometheus] Log when metric is dropped due to incompatibility
  .chloggen/exporter-prometheus-refused-metrics.yaml
  exporter/prometheusexporter/accumulator.go
  exporter/prometheusexporter/accumulator_test.go
  exporter/prometheusexporter/metadata.yaml
Labels: ready to merge, exporter/prometheus, first-time contributor

#40859 Allow service.namespace to be used in rules and fix docs
  .chloggen/fix_k8sattrss_docs.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: Stale, processor/k8sattributes, waiting-for-code-owners

#42335 [chore] Remove unnecessary NewValueSlice calls, later we call again
  pkg/ottl/contexts/internal/ctxutil/value.go
Labels: pkg/ottl

#42331 [chore] Simplify switch on types in ottl/ctxdatapoint
  pkg/ottl/contexts/internal/ctxdatapoint/datapoint.go
Labels: pkg/ottl

#42344 [chore] telemetry gen update metric type doc string
  cmd/telemetrygen/pkg/metrics/config.go
Labels: cmd/telemetrygen

#38797 [cmd/opampsupervisor] Emit spans for startup and message handling
  .chloggen/opamp-supervisor-emit-spans.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/testdata/supervisor/supervisor_report_status.yaml
Labels: Run Windows, cmd/opampsupervisor, waiting-for-code-owners

#42320 [chore][exporter/elasticsearch] Fix flaky lru time based test
  exporter/elasticsearchexporter/internal/lru/lruset_test.go
Labels: exporter/elasticsearch

#42316 [chore] Install IIS only when needed
  .github/workflows/build-and-test-windows.yml
  receiver/iisreceiver/generated_package_test.go
  receiver/iisreceiver/metadata.yaml
  receiver/iisreceiver/setup_test.go
Labels: ci-cd, receiver/iis, Run Windows

#42360 [chore] fix linter
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#42359 Avoid multiple copies of the Map in replace_all_patterns
  .chloggen/improve-replace-all.yaml
  .chloggen/replace-all-continue.yaml
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
Labels: pkg/ottl

#42362 ottl: Remove unnecessary Value initialization when setting an attribute/body
  .chloggen/more-values-new.yaml
  pkg/ottl/contexts/internal/ctxutil/value.go
Labels: pkg/ottl

#42364 [chore] Remove unnecessary extra allocations/copies in func_slice_to_map
  pkg/ottl/ottlfuncs/func_slice_to_map.go
Labels: pkg/ottl

#42367 [chore] rename integration test file to match the pattern of integration_test
  exporter/datasetexporter/logs_exporter_integration_test.go
Labels: exporter/dataset

#42351 [chore] Fix test flakiness in `prometheusexporter`
  exporter/prometheusexporter/prometheus_test.go
Labels: ready to merge, exporter/prometheus

#42370 [chore] Fix flaky ctx canceled error on datadogreceiver tests
  receiver/datadogreceiver/receiver_test.go
Labels: receiver/datadog

#42374 Fix github.com/stretchr/testify
  receiver/jmxreceiver/go.mod
  receiver/jmxreceiver/go.sum
Labels: receiver/jmx

#41749 [processor/k8sattributes] support extracting labels and annotations from DaemonSets
  .chloggen/k8sattributes-processor-workload-informers-daemonset.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/informer.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/clusterrole.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/telemetrygen/daemonset.yaml
Labels: processor/k8sattributes, waiting-for-code-owners

#39775 [processor/k8sattributes] Sync k8s workload labels and annotations attributes to match semconv
  .chloggen/k8sattributesprocessor-labels-annotations.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: processor/k8sattributes, waiting-for-code-owners
