Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-06, with the labels that each got.

#40285 Upgrade proto to 1.7.0
  .chloggen/countconnectorpdata-upgrade.yaml
  .chloggen/elasticsearchexporter-pdata-upgrade.yaml
  .chloggen/golden-pdata-upgrade.yaml
  .chloggen/ottl-pdata-upgrade.yaml
  .chloggen/signaltometricsconnector-pdata-upgrade.yaml
  connector/countconnector/connector.go
  connector/countconnector/testdata/profiles/input.yaml
  connector/signaltometricsconnector/connector.go
  connector/signaltometricsconnector/testdata/profiles/profiles.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/benchmark_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
  exporter/elasticsearchexporter/model.go
  internal/coreinternal/testdata/profile.go
  pkg/golden/golden_test.go
  pkg/golden/testdata/profiles-roundtrip/expected.yaml
  pkg/ottl/contexts/internal/ctxprofile/profile.go
  pkg/ottl/contexts/internal/ctxprofile/profile_test.go
  pkg/ottl/contexts/internal/logprofile/logging.go
  pkg/ottl/contexts/internal/logprofile/logging_test.go
  pkg/ottl/contexts/ottlprofile/README.md
  pkg/ottl/contexts/ottlprofile/profile.go
  pkg/ottl/contexts/ottlprofile/profile_test.go
  pkg/pdatatest/pprofiletest/options.go
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/pprofiletest/profiles_test.go
  pkg/pdatatest/pprofiletest/types.go
  pkg/pdatatest/pprofiletest/validate.go
  pkg/pdatatest/pprofiletest/validate_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, cmd/telemetrygen, exporter/clickhouse, exporter/carbon, exporter/azuremonitor, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/elasticsearch, exporter/coralogix, pkg/ottl, exporter/azuredataexplorer, internal/core, cmd/oteltestbedcol, confmap/provider/s3provider, pkg/pdatatest, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, connector/datadog, pkg/golden, exporter/alertmanager, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/sum, connector/otlpjson, exporter/doris, confmap/provider/aesprovider, connector/signaltometrics, exporter/bmchelix, exporter/azureblob, cmd/golden, confmap/provider/googlesecretmanagerprovider

#40392 azuremonitorexporter: Fix misspellings in documentation regarding exception_events_enabled
  exporter/azuremonitorexporter/README.md
Labels: Skip Changelog, exporter/azuremonitor

#40359 [receiver/sqlserver] add new attribute to de-duplicate page.life_expectancy
  .chloggen/fix-duplicate-data.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/recorders.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/golden_named_instance_scrape.yaml
  receiver/sqlserverreceiver/testdata/golden_scrape.yaml
Labels: receiver/sqlserver, Run Windows

#40415 [chore] [resourcedetection] Remove imds client retry settings from EKS detector
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/aws/eks/config.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
Labels: processor/resourcedetection, waiting-for-code-owners

#38343 [processor/k8sattributes] support extracting labels and annotations from Deployments
  .chloggen/k8sattributes-processor-workload-informers.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/fake_informer.go
  processor/k8sattributesprocessor/internal/kube/informer.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/clusterrole.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/telemetrygen/deployment.yaml
Labels: processor/k8sattributes, waiting-for-code-owners

#40409 [exporter/datadogexporter] Update mapping-go
  .chloggen/mackjmr_send-host-metadata-new-hosts.yaml
  .chloggen/mackjmr_update-mapping-go.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: exporter/datadog, connector/datadog

#40274 [receiver/k8slog] unexport DockerConfig and CRIConfig
  .chloggen/k8slogreceiver_unexport.yaml
  receiver/k8slogreceiver/config_test.go
  receiver/k8slogreceiver/factory.go
  receiver/k8slogreceiver/runtime_api_config.go
Labels: receiver/k8slog

#40257 [processor/resourcedetection]: add additional os properties
  .chloggen/add_additional_os_ properties_to_resource_detection.yaml
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/internal/system/documentation.md
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: ready to merge, processor/resourcedetection, internal/metadataproviders

#40384 [receiver/splunkenterprise] Add search artifact size metrics
  .chloggen/splunk-searchartifact-size-metrics.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
Labels: receiver/splunkenterprise

#40462 Use consistent commit for update-otel
  .github/workflows/update-otel.yaml
Labels: Skip Changelog

#39995 [receiver/postgresql] get query plan for top query collection
  .chloggen/query-explain-for-postgresqlreceiver.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/config.go
  receiver/postgresqlreceiver/config_test.go
  receiver/postgresqlreceiver/consts.go
  receiver/postgresqlreceiver/factory.go
  receiver/postgresqlreceiver/generated_package_test.go
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/obfuscate.go
  receiver/postgresqlreceiver/obfuscate_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/templates/topQueryTemplate.tmpl
  receiver/postgresqlreceiver/testdata/config.yaml
  receiver/postgresqlreceiver/testdata/integration/02-create-extension.sh
  receiver/postgresqlreceiver/testdata/obfuscate/expectedQueryPlan.json
  receiver/postgresqlreceiver/testdata/obfuscate/expectedQueryPlan.xml
  receiver/postgresqlreceiver/testdata/obfuscate/expectedSQL.sql
  receiver/postgresqlreceiver/testdata/obfuscate/inputQueryPlan.json
  receiver/postgresqlreceiver/testdata/obfuscate/inputQueryPlan.xml
  receiver/postgresqlreceiver/testdata/obfuscate/inputSQL.sql
  receiver/postgresqlreceiver/testdata/scraper/top-query/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/top-query/expectedExplain.sql
  receiver/postgresqlreceiver/testdata/scraper/top-query/expectedSql.sql
Labels: receiver/postgresql, waiting-for-code-owners

#40469 [chore] prom translation rw2 add support for metadata
  pkg/translator/prometheusremotewrite/metrics_to_prw_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2.go
  pkg/translator/prometheusremotewrite/number_data_points_v2_test.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata_v2.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata_v2_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: pkg/translator/prometheusremotewrite

#40253 fix(sumologicextension): process discovery
  .chloggen/sumologicextension-fix-process-disco.yaml
  extension/sumologicextension/extension.go
Labels: waiting-for-code-owners, extension/sumologic

#40370 [pkg/ottl] Add new `ottl.ValueComparator` API and support for slices comparison
  .chloggen/ottl-slice-comparator-support.yaml
  .chloggen/ottl-value-comparator-api.yaml
  pkg/ottl/LANGUAGE.md
  pkg/ottl/boolean_value.go
  pkg/ottl/compare.go
  pkg/ottl/compare_test.go
Labels: pkg/ottl, waiting-for-code-owners

#40490 [chore] Remove usage of deprecated telemetry metrics address
  exporter/elasticsearchexporter/integrationtest/collector.go
  testbed/correctnesstests/utils.go
Labels: exporter/elasticsearch, testbed

#40419 [prometheusremotewritereceiver] add sample stats headers
  .chloggen/add-sample-stats-headers.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#39826 chore: otel prom metadata translation pass namespace config
  .chloggen/jm-otel-prom-metadata-translation-pass-namespace-config.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  pkg/translator/prometheusremotewrite/otlp_to_openmetrics_metadata_test.go
Labels: ready to merge, exporter/prometheusremotewrite, pkg/translator/prometheusremotewrite

#40425 [chore] [receiver/sqlserver] Update performance counter query
  receiver/sqlserverreceiver/obfuscate_test.go
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/testdata/perfCounterQueryData.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithoutInstanceName.txt
Labels: receiver/sqlserver, Run Windows

#40211 Update OTel-Arrow exporter to use QueueBatch settings
  .chloggen/otelarrow-queuebatch-default.yaml
  exporter/otelarrowexporter/README.md
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/factory_test.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/otelarrowexporter/metadata.yaml
  exporter/otelarrowexporter/otelarrow_test.go
  exporter/otelarrowexporter/testdata/config.yaml
Labels: exporter/otelarrow

#40123 [internal/aws] migrate to AWS v2 SDK
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awscloudwatchlogsexporter/exporter_test.go
  exporter/awscloudwatchlogsexporter/factory.go
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/emf_exporter.go
  exporter/awsemfexporter/emf_exporter_test.go
  exporter/awsemfexporter/factory.go
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awsxrayexporter/awsxray.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  internal/aws/awsutil/conn.go
  internal/aws/awsutil/conn_test.go
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/xray_client.go
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/host/hostinfo.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo_test.go
  receiver/awsxrayreceiver/go.sum
Labels: dependencies, Skip Changelog, receiver/awscontainerinsight, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awsxray, receiver/awsxray, internal/aws

#40533 [chore] [exporter/datadog] alphabetize/tidy go.mod
  exporter/datadogexporter/go.mod
  internal/tidylist/tidylist.txt
Labels: exporter/datadog

#40534 [chore] [datadog] update datadog-agent deps to >=v0.66.1
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  processor/datadogsemanticsprocessor/go.mod
  processor/datadogsemanticsprocessor/go.sum
Labels: exporter/datadog, internal/datadog, connector/datadog, pkg/datadog, processor/datadogsemantics, extension/datadog

#39472 [processor/resourcedetection] add `host.interface` resource attribute to `system` detector
  .chloggen/njain-interface-name.yaml
  internal/metadataproviders/system/metadata.go
  processor/resourcedetectionprocessor/internal/system/documentation.md
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/system/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/system/metadata.yaml
  processor/resourcedetectionprocessor/internal/system/system.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
Labels: processor/resourcedetection, internal/metadataproviders, waiting-for-code-owners

#40033 [extensions/azureauth] Retrieve scope from Host/URL.Host instead of Header for client authentication
  .chloggen/fix-azureauthextension-client-scope-retrieval.yaml
  extension/azureauthextension/extension.go
  extension/azureauthextension/extension_test.go
Labels: extension/azureauth

#40541 [chore] follow the contract of createDefaultConfig
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: receiver/kafka

#40542 [extension/headersetter] unexport Header struct
  .chloggen/unexport_header.yaml
  extension/headerssetterextension/extension.go
  extension/headerssetterextension/extension_test.go
Labels: extension/headerssetter

#39952 [chore] [pkg/ottl] Introduce `ctxutil.GetMap()` and `ctxutil.GetMapKeyName()` internal functions
  pkg/ottl/contexts/internal/ctxutil/map.go
  pkg/ottl/contexts/internal/ctxutil/map_test.go
  pkg/ottl/contexts/internal/ctxutil/value.go
Labels: ready to merge, pkg/ottl

#40367 [receiver/windowseventlogreceiver]: add `IncludeLogRecordOriginal` to add `log.record.original` to attributes
  .chloggen/add-boolean-to-add-log-record-original-to-attributes.yaml
  pkg/stanza/go.mod
  pkg/stanza/operator/input/windows/config_all.go
  pkg/stanza/operator/input/windows/config_windows.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/input_test.go
  receiver/windowseventlogreceiver/README.md
Labels: waiting for author, receiver/windowseventlog, pkg/stanza, Run Windows

#40561 [receiver/snowflake] Add prescrape check
  .chloggen/40418-conversionerror-bugfix.yaml
  receiver/snowflakereceiver/scraper.go
Labels: receiver/snowflake

#40566 Promote googleclientauth extension to beta
  .chloggen/googleclientauth_beta.yaml
  extension/googleclientauthextension/README.md
  extension/googleclientauthextension/internal/metadata/generated_status.go
  extension/googleclientauthextension/metadata.yaml
Labels: extension/googleclientauth

#40498 [collectdreceiver] ensure HTTP server exits before Shutdown returns
  .chloggen/collectdreceiver-wait-shutdown.yaml
  receiver/collectdreceiver/receiver.go
Labels: receiver/collectd

#40543 [receiver/snmp] unexport SNMPData
  .checkapi.yaml
  .chloggen/unexport_SNMPData.yaml
  receiver/snmpreceiver/client.go
  receiver/snmpreceiver/client_test.go
  receiver/snmpreceiver/otel_metric_helper.go
  receiver/snmpreceiver/otel_metric_helper_test.go
  receiver/snmpreceiver/scraper.go
  receiver/snmpreceiver/scraper_test.go
Labels: receiver/snmp

#40590 [chore] Fix issues with update-otel
  receiver/stefreceiver/factory.go
Labels: receiver/stef

#40254 [chore] feat: dont initialize parser by default in ottl package
  pkg/ottl/parser.go
Labels: ready to merge, Skip Changelog, pkg/ottl

#40570 [chore] remove stable exporter.prometheusremotewriteexporter.deprecateCreatedMetric featuregate
  .chloggen/remove_deprecatecreatedmetric.yaml
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
Labels: pkg/translator/prometheusremotewrite

#40572 Promote receiver.prometheusreceiver.RemoveLegacyResourceAttributes feature gate to stable
  .chloggen/stable_removelegacyresource.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/internal/prom_to_otlp_test.go
Labels: receiver/prometheus

#40603 promote the pkg.translator.prometheus.NormalizeName feature gate to stable
  .chloggen/stable_prometheus_normalizename.yaml
  pkg/translator/prometheus/README.md
  pkg/translator/prometheus/normalize_name.go
  pkg/translator/prometheus/normalize_name_test.go
Labels: pkg/translator/prometheus

#40576 [receiver/sqlserver] export host.name in the attribute resources
  .chloggen/export-host-name-in-resources-attributes.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
  receiver/sqlserverreceiver/testdata/expectedWaitStats.yaml
Labels: receiver/sqlserver, Run Windows

#40532 [chore] [extension/datadog] Part 2.2 - agentcomponents
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  extension/datadogextension/integration_test.go
  extension/datadogextension/internal/agentcomponents/agentcomponents.go
  extension/datadogextension/internal/payload/payload_test.go
Labels: extension/datadog

#40527 [receiver/sqlserver] reports empty strings for query texts and query …
  .chloggen/sqlserver-report-empty-when-fail.yaml
  receiver/sqlserverreceiver/obfuscate.go
  receiver/sqlserverreceiver/obfuscate_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQueryWithInvalidData.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQueryWithInvalidData.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#40636 [chore] bump go version to 1.23.10 in CIs
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-darwin.yaml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/check-codeowners.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/scoped-test.yaml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
Labels: ci-cd

#40443 [extension/awslogsencodingextension] Add support for WAF logs
  .chloggen/aws-waf.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/config.go
  extension/encoding/awslogsencodingextension/config_test.go
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/benchmark_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/testdata/missing_webaclid_log.json
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/testdata/valid_log.json
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/testdata/valid_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/unmarshaler_test.go
  extension/encoding/awslogsencodingextension/testdata/config.yaml
Labels: extension/encoding/awslogsencoding

#40637 [pkg/datadog] expose forwarder methods through Serializer interface
  .chloggen/jackgopack4-pkg-datadog-Serializer-interface.yaml
  pkg/datadog/agentcomponents/agentcomponents.go
  pkg/datadog/agentcomponents/agentcomponents_test.go
Labels: pkg/datadog

#40704 [exporter/elasticsearchexporter] Unexport OTelRecordDatastream,OTelRecord,OTelScope,OTelResource structs
  exporter/elasticsearchexporter/model_test.go
Labels: Skip Changelog, exporter/elasticsearch

#40703 [receiver/prometheusremotewritereceiver] Unexport MockConsumer,MetricIdentity structs
  .chloggen/unexport_MockConsumer.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: receiver/prometheusremotewrite

#40691 [chore] Unexport MockDiscovery struct of k8sobjects receiver
  receiver/k8sobjectsreceiver/mock_discovery_client_test.go
Labels: receiver/k8sobjects

#40525 [chore][receiver/sqlserver] Update obfuscation library to use mssql mode
  .chloggen/sqlserver-update-obfuscation.yaml
  receiver/sqlserverreceiver/obfuscate.go
  receiver/sqlserverreceiver/obfuscate_test.go
  receiver/sqlserverreceiver/testdata/expectedQueryPlan.xml
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/sqlserverreceiver/testdata/queryTextAndPlanQueryInvalidData.txt
  receiver/sqlserverreceiver/testdata/recordInvalidDatabaseSampleQueryData.txt
Labels: ready to merge, receiver/sqlserver, Run Windows

#40719 [receiver/mysqlreceiver]: Unexport non-config structs from mysqlreceiver
  .chloggen/unexport-mysql-structs.yaml
  receiver/mysqlreceiver/client.go
  receiver/mysqlreceiver/integration_test.go
  receiver/mysqlreceiver/scraper_test.go
Labels: receiver/mysql

#40468 Add `system.paging.faults` metrics on Windows
  .chloggen/add-system.paging.faults-metrics-on-windows.yaml
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
Labels: receiver/hostmetrics, Run Windows, waiting-for-code-owners, receiver/hostmetrics/internal/scraper/loadscraper, receiver/hostmetrics/internal/scraper/paging

#40720 [kafka] Ensure TLS is enabled when using MSK IAM auth
  .chloggen/fix_kafka_iam_tls.yaml
  internal/kafka/client.go
  internal/kafka/client_test.go
Labels: internal/kafka

#40731 [receiver/tcpcheckreceiver] unexport Server structs in test files
  receiver/tcpcheckreceiver/scraper_test.go
Labels: Skip Changelog, receiver/tcpcheck

#40579 [receiver/sqlserver] add feature gate for removing resource attributes not in semantic convention
  .chloggen/remove-resources-attributes.yaml
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedDatabaseIORemoveServerResourceAttributes.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCountersRemoveServerResourceAttributes.yaml
  receiver/sqlserverreceiver/testdata/expectedPropertiesRemoveServerResourceAttributes.yaml
  receiver/sqlserverreceiver/testdata/expectedWaitStatsRemoveServerResourceAttributes.yaml
Labels: receiver/sqlserver, Run Windows

#40689 chore: Move gzip out of AWS unmarshalers
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/benchmark_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/unmarshaler_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/subscription-filter/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/subscription-filter/unmarshaler_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/unmarshaler_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/benchmark_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/unmarshaler_test.go
Labels: Skip Changelog, extension/encoding/awslogsencoding

#40732 [receiver/podmanreceiver] unexport ContainerScraper
  .chloggen/unexport_containerScraper.yaml
  receiver/podmanreceiver/podman.go
  receiver/podmanreceiver/podman_test.go
  receiver/podmanreceiver/receiver.go
  receiver/podmanreceiver/receiver_test.go
Labels: receiver/podman

#40192 [exporter/logzio] update `logzioexporter` to export in OTLP format
  .chloggen/logzioexporter-enhancement-otlp-export.yaml
  .chloggen/logzioexporter-json-format-deprication.yaml
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/exporter_test.go
  exporter/logzioexporter/factory.go
  exporter/logzioexporter/factory_test.go
  exporter/logzioexporter/from_domain.go
  exporter/logzioexporter/from_domain_test.go
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/logzioexporter/internal/cache/cache.go
  exporter/logzioexporter/internal/cache/lru.go
  exporter/logzioexporter/internal/cache/lru_test.go
  exporter/logzioexporter/internal/dbmodel/model.go
  exporter/logzioexporter/jsonlog.go
  exporter/logzioexporter/jsonlog_test.go
  exporter/logzioexporter/logzioservice.go
  exporter/logzioexporter/logziospan.go
  exporter/logzioexporter/logziospan_test.go
Labels: exporter/logzio

#40552 fix(httpcheckreceiver): always close resp.Body
  .chloggen/always_close_resp_body_and_add_timeout.yaml
  receiver/httpcheckreceiver/scraper.go
Labels: receiver/httpcheck

#40551 [chore][docs] Add missing `profile` OTTL context
  pkg/ottl/README.md
Labels: pkg/ottl

#40684 [chore] [basicauthextension] fix flaky tests
  extension/basicauthextension/extension_test.go
Labels: extension/basicauth, Run Windows

#40707 [chore][receiver/mysql] Fix arguments to pmetrictest.CompareMetrics calls
  receiver/mysqlreceiver/scraper_test.go
Labels: ready to merge, receiver/mysql

#40765 [chore] Docs: annotation value must be string
  receiver/receivercreator/README.md
Labels: Skip Changelog, receiver/receivercreator

#40694 [processor/logdedupprocessor] Avoid zero-value map
  .chloggen/jeffalder_fix-dedup.yaml
  processor/logdedupprocessor/counter.go
  processor/logdedupprocessor/counter_test.go
Labels: waiting-for-code-owners, processor/logdedup

#40715 OTEL-2552 part 3 - promote extension/datadog to alpha
  .chloggen/jackgopack4-datadog-extension-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/datadogextension/README.md
  extension/datadogextension/config.go
  extension/datadogextension/config_test.go
  extension/datadogextension/extension.go
  extension/datadogextension/extension_test.go
  extension/datadogextension/factory.go
  extension/datadogextension/factory_test.go
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  extension/datadogextension/integration_test.go
  extension/datadogextension/internal/componentchecker/componentchecker_test.go
  extension/datadogextension/internal/httpserver/httpserver_test.go
  extension/datadogextension/internal/metadata/generated_status.go
  extension/datadogextension/internal/payload/payload.go
  extension/datadogextension/internal/payload/payload_test.go
  extension/datadogextension/metadata.yaml
  extension/datadogextension/testdata/example-config.yaml
  pkg/datadog/agentcomponents/agentcomponents.go
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, waiting-for-code-owners, pkg/datadog, extension/datadog

#40761 [sumologicextension] Unexport ErrorAPI
  .chloggen/unexport-sumologicextension.yaml
  extension/sumologicextension/extension.go
Labels: extension/sumologic

#40750 Jm prom translation rw2 add support for summaries
  .chloggen/jm-prom-translation-rw2-add-support-for-summaries.yaml
  pkg/translator/prometheusremotewrite/helper_v2.go
  pkg/translator/prometheusremotewrite/helper_v2_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
Labels: ready to merge, pkg/translator/prometheusremotewrite

#40762 [receiver/azureeventhubreceiver] Unexport AzureResourceLogsEventUnmarshaler
  .chloggen/unexport-azureeventhubreceiver.yaml
  receiver/azureeventhubreceiver/azureresourcelogs_unmarshaler.go
Labels: receiver/azureeventhub

#40782 [chore]Unexport structs in awss3exporter
  exporter/awss3exporter/exporter_test.go
Labels: exporter/awss3

#40549 [receiver/postgresql] Adopt mdatagen generated events
  .chloggen/postgresqlreceiver-mdatagen-events.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/config.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/factory.go
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_logs.go
  receiver/postgresqlreceiver/internal/metadata/generated_logs_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/scraper/query-sample/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/top-query/expected.yaml
Labels: receiver/postgresql, waiting-for-code-owners

#40043 [receiver/windowsservice] Added receiver scrape wireframe
  receiver/windowsservicereceiver/config.go
  receiver/windowsservicereceiver/factory.go
  receiver/windowsservicereceiver/go.mod
  receiver/windowsservicereceiver/scraper.go
  receiver/windowsservicereceiver/winapi.go
  receiver/windowsservicereceiver/winservice.go
  receiver/windowsservicereceiver/winservice_test.go
Labels: Skip Changelog, Run Windows, receiver/windowsservice

#40705 kafkareceiver: connect async, report status
  .chloggen/kafkareceiver-componentstatus.yaml
  receiver/kafkareceiver/consumer_sarama.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: receiver/kafka, waiting-for-code-owners

#40817 [exporter/kineticaexporter] unexport structs
  .chloggen/unexport-kineticaexporter.yaml
  exporter/kineticaexporter/common.go
  exporter/kineticaexporter/metrics_exporter.go
  exporter/kineticaexporter/writer.go
Labels: exporter/kinetica

#40812 [exporter/coralogix] Fix rate limit internal counter
  .chloggen/40811.yaml
  exporter/coralogixexporter/e2e_test.go
  exporter/coralogixexporter/logs_client.go
  exporter/coralogixexporter/logs_client_test.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/metrics_client_test.go
  exporter/coralogixexporter/profiles_client.go
  exporter/coralogixexporter/profiles_client_test.go
  exporter/coralogixexporter/ratelimit.go
  exporter/coralogixexporter/ratelimit_test.go
  exporter/coralogixexporter/signals.go
  exporter/coralogixexporter/signals_test.go
  exporter/coralogixexporter/traces_client.go
  exporter/coralogixexporter/traces_client_test.go
Labels: ready to merge, exporter/coralogix

#40558 [stanza/operator/input/windows] [receiver/windowseventlogreceiver]: Add option to prevent collector shutdown due to errors while opening channels
  .chloggen/40558-add-option-to-prevent-collector-shutdown-on-windowschannel-errors.yaml
  pkg/stanza/docs/operators/windows_eventlog_input.md
  pkg/stanza/operator/input/windows/config_all.go
  pkg/stanza/operator/input/windows/config_windows.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/input_test.go
  receiver/windowseventlogreceiver/README.md
Labels: receiver/windowseventlog, pkg/stanza, Run Windows

#40837 [chore][receivercreator] Add ChrsMark to code-owners
  .github/CODEOWNERS
  receiver/receivercreator/README.md
  receiver/receivercreator/metadata.yaml
Labels: receiver/receivercreator

#39966 [processor/transform] Create `With*Functions` factory options to provide custom OTTL funcs programatically.
  .chloggen/fcovalente-with-add-ottl-funcs.yaml
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/functions.go
  processor/transformprocessor/functions_test.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: processor/transform, pkg/ottl

#40799 [internal/aws] replace deprecated NewSimpleClientset with NewClientset
  internal/aws/k8s/k8sclient/endpoint_test.go
  internal/aws/k8s/k8sclient/job_test.go
  internal/aws/k8s/k8sclient/node_test.go
  internal/aws/k8s/k8sclient/pod_test.go
  internal/aws/k8s/k8sclient/replicaset_test.go
Labels: Skip Changelog, internal/aws, waiting-for-code-owners

#40796 [exporter/loadbalancingexporter] replace deprecated NewSimpleClientset with NewClientset
  exporter/loadbalancingexporter/resolver_k8s_test.go
Labels: Skip Changelog, exporter/loadbalancing

#40175 [hostmetricsreceiver/networkscraper] Minor fix to the handling of con…
  .chloggen/sven_network-scraper-failed-count.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_linux.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_others.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/network_scraper.go
Labels: ready to merge, receiver/hostmetrics/internal/scraper/network

#40194 pkg/ottl: add context inference for expressions
  .chloggen/ottl-inference-valuexpr.yaml
  pkg/ottl/context_inferrer.go
  pkg/ottl/context_inferrer_test.go
  pkg/ottl/parser.go
  pkg/ottl/parser_collection.go
  pkg/ottl/parser_collection_test.go
  pkg/ottl/parser_test.go
  pkg/ottl/paths.go
  pkg/ottl/paths_test.go
Labels: pkg/ottl, waiting-for-code-owners

#40841 [processor/k8sattributes]: fix pod_association for container.id
  .chloggen/k8s-multiple-containers.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
Labels: processor/k8sattributes

#39787 [receiver/datadogreceiver] Configure `/intake` endpoint
  .chloggen/datadogreceiver_intake-endpoint.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  internal/tidylist/tidylist.txt
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/config.go
  receiver/datadogreceiver/factory.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/receiver.go
  receiver/datadogreceiver/receiver_test.go
  testbed/go.mod
  testbed/go.sum
Labels: exporter/elasticsearch, testbed, receiver/datadog, cmd/opampsupervisor

#37238 [processor/transform] Introduce optional metric name suffix setup for convert summary and extract histogram functions
  .chloggen/transform-name-suffix.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum_test.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric_test.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric_test.go
Labels: processor/transform, waiting-for-code-owners

#40865 [chore] Add ishleenk17 as codeowner for nginxreceiver
  .github/CODEOWNERS
  receiver/nginxreceiver/README.md
  receiver/nginxreceiver/metadata.yaml
Labels: receiver/nginx

#40867 [datadog] Upgrade opentelemetry-mapping-go to v0.29
  .chloggen/datadog-mapping-go-0.29.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  processor/datadogsemanticsprocessor/go.mod
  processor/datadogsemanticsprocessor/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, testbed, receiver/datadog, internal/datadog, connector/datadog, pkg/datadog, processor/datadogsemantics, extension/datadog

#40849 [connector/datadog] - Use waitgroup instead of closing a channel and waiting on it
  .chloggen/datadogconnector-panic.yaml
  connector/datadogconnector/connector_native.go
  connector/datadogconnector/connector_native_test.go
Labels: connector/datadog

#40530 Add support for dynamic index in OpenSearch exporter
  .chloggen/os-dynamic-index.yaml
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/config.go
  exporter/opensearchexporter/config_test.go
  exporter/opensearchexporter/factory_test.go
  exporter/opensearchexporter/sso_log_exporter.go
  exporter/opensearchexporter/sso_log_exporter_test.go
  exporter/opensearchexporter/testdata/config.yaml
Labels: exporter/opensearch

#40502 [extension/opamp] set ReportsAvailableComponents to true by default
  .chloggen/fix-default-opampextension-config.yaml
  extension/opampextension/config_test.go
  extension/opampextension/factory.go
  extension/opampextension/opamp_agent.go
Labels: extension/opamp

#40802 [receiver/libhoneyreceiver] remove unused EnvironmentInfo,AuthInfo,TeamInfo
  .chloggen/unexport_libhoneyreceiver.yaml
  receiver/libhoneyreceiver/receiver.go
Labels: receiver/libhoney

#40864 [chore][internal/k8sconfig] Update openshift/client-go and openshift/api which pulls in packages with known CVEs.
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  extension/k8sleaderelector/go.mod
  extension/k8sleaderelector/go.sum
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  internal/k8sconfig/go.mod
  internal/k8sconfig/go.sum
  internal/kubelet/go.mod
  internal/kubelet/go.sum
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/k8sclusterreceiver/go.mod
  receiver/k8sclusterreceiver/go.sum
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8slogreceiver/go.mod
  receiver/k8slogreceiver/go.sum
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/kubeletstatsreceiver/go.mod
  receiver/kubeletstatsreceiver/go.sum
Labels: dependencies, exporter/datadog, processor/k8sattributes, Skip Changelog, processor/resourcedetection, receiver/awscontainerinsight, receiver/kubeletstats, receiver/k8sevents, receiver/k8scluster, extension/observer/k8sobserver, internal/kubelet, internal/metadataproviders, internal/k8sconfig, receiver/k8sobjects, internal/datadog, connector/datadog, pkg/datadog, extension/k8sleaderelector, receiver/k8slog, extension/datadog

#40908 [pkg/datadog] Set default logs compression back to gzip
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  pkg/datadog/agentcomponents/agentcomponents.go
  pkg/datadog/go.mod
  pkg/datadog/go.sum
Labels: exporter/datadog, connector/datadog, pkg/datadog, extension/datadog

#40729 [connector/routing] Copy montonic, aggregationTemporality on datapoint
  .chloggen/routing-datapoint-copy-bugfix.yaml
  connector/routingconnector/internal/pmetricutil/metrics.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/pmetricutiltest/metrics.go
  connector/routingconnector/internal/pmetricutiltest/metrics_test.go
Labels: connector/routing

#40913 [chore] Add ishleenk17 as codeowner of `iisreceiver`
  .github/CODEOWNERS
  receiver/iisreceiver/README.md
  receiver/iisreceiver/metadata.yaml
Labels: receiver/iis

#40927 [chore] Add ishleenk17 as codeowner for azuremonitorreceiver
  .github/CODEOWNERS
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/metadata.yaml
Labels: receiver/azuremonitor

#40846 kafkareceiver: Improve internal telemetry
  .chloggen/kafkareceiver-improve-internal-telemetry.yaml
  receiver/kafkareceiver/consumer_franz.go
  receiver/kafkareceiver/consumer_sarama.go
  receiver/kafkareceiver/documentation.md
  receiver/kafkareceiver/internal/metadata/generated_telemetry.go
  receiver/kafkareceiver/internal/metadatatest/generated_telemetrytest.go
  receiver/kafkareceiver/internal/metadatatest/generated_telemetrytest_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/metadata.yaml
Labels: receiver/kafka

#40930 feat: add wal latency metrics
  .chloggen/nickange_prometheusremotewriteexporter_feat-add-wal-latency-metrics.yaml
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#40923 [receiver/datadogreceiver] Unexport endpoint struct
  .chloggen/refactor_40663-datadogreceiver-unexport-endpoint.yaml
  receiver/datadogreceiver/receiver.go
Labels: receiver/datadog

#40803 fix(prometheusreceiver): invalid metric name validation error in scrape start from target allocator
  .chloggen/prometheusreceiver-targetallocator-unset-config.yaml
  receiver/prometheusreceiver/metrics_receiver_target_allocator_test.go
  receiver/prometheusreceiver/targetallocator/manager.go
Labels: ready to merge, receiver/prometheus

#40838 [extension/awslogsencodingextension] Fix concurrent usage of gzip reader
  .chloggen/gzip-concurrent.yaml
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
  extension/encoding/awslogsencodingextension/testdata/cloudwatch_log.json
Labels: extension/encoding/awslogsencoding

#40807 [exporter/elasticsearchexporter] Add function to encode spans in ECS mapping mode
  .chloggen/add-function-to-encode-spans-in-ecs-mapping-mode.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: ready to merge, exporter/elasticsearch

#39864 [prometheusremotewritereceiver] add exponential histograms datapoints
  .chloggen/add-histograms-datapoints.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#40870 [connector/routingconnector]: Expand docs
  connector/routingconnector/config.go
Labels: Skip Changelog, connector/routing

#40934 [receiver/libhoney] fix parentID to use hex-string if possible
  .chloggen/libhoneyreceiver-fix-parentid.yaml
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent_test.go
Labels: receiver/libhoney

#40979 Fix tests to adopt to https://github.com/open-telemetry/opentelemetry…
  exporter/logicmonitorexporter/config_test.go
  exporter/signalfxexporter/internal/translation/dpfilters/propertyfilter_test.go
  extension/cgroupruntimeextension/config_test.go
  extension/datadogextension/internal/componentchecker/componentchecker_test.go
  processor/geoipprocessor/config_test.go
  receiver/githubreceiver/config_test.go
  receiver/jaegerreceiver/config_test.go
  receiver/receivercreator/config_test.go
Labels: exporter/signalfx, receiver/jaeger, exporter/logicmonitor, receiver/receivercreator, processor/geoip, receiver/github, extension/cgroupruntime, extension/datadog

#40638 Add subscript to issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/new_component.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
Labels: Skip Changelog

#40980 [chore] [extension/datadog] update documentation
  .chloggen/jackgopack4-datadog-extension-alpha.yaml
  extension/datadogextension/README.md
Labels: extension/datadog

#40994 [chore]receiver/prometheusremotewrite: Explain why only v2 is supported
  receiver/prometheusremotewritereceiver/README.md
  receiver/prometheusremotewritereceiver/assets/histogram-lack-atomicity.png
Labels: ready to merge, receiver/prometheusremotewrite

#40951 [exporter/loadbalancing] update k8s resolver example
  exporter/loadbalancingexporter/example/k8s-resolver/README.md
Labels: ready to merge, Skip Changelog, exporter/loadbalancing
