Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-10, with the labels that each got.

#43101 [chore][pkg/ottl] Fix flaky profile sample test
  pkg/ottl/contexts/ottlprofilesample/profilesample_test.go
Labels: pkg/ottl

#43075 [exporter/coralogixexporter] Support for auto configuring PrivateLink endpoint
  .chloggen/coralogixexporter-privatelink-support.yaml
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory_test.go
Labels: exporter/coralogix

#42992 [chore][grafanacloudconnector] Add stability level per metric
  connector/grafanacloudconnector/documentation.md
  connector/grafanacloudconnector/internal/metadata/generated_telemetry.go
  connector/grafanacloudconnector/internal/metadatatest/generated_telemetrytest.go
  connector/grafanacloudconnector/metadata.yaml
Labels: ready to merge, connector/grafanacloud

#42972 [chore][memcachedreceiver] Add stability level per metric
  receiver/memcachedreceiver/documentation.md
  receiver/memcachedreceiver/metadata.yaml
Labels: ready to merge, receiver/memcached

#42956 [chore][nsxtreceiver] Add stability level per metric
  receiver/nsxtreceiver/documentation.md
  receiver/nsxtreceiver/metadata.yaml
Labels: ready to merge, receiver/nsxt

#42966 [chore][postgresqlreceiver] Add stability level per metric
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/metadata.yaml
Labels: ready to merge, receiver/postgresql

#43112 Fix for wrong trace id in oracle top query records
  .chloggen/oracle_query_traceid_fix.yaml
  receiver/oracledbreceiver/scraper.go
Labels: receiver/oracledb

#43091 [cmd/telemetrygen] fix int and bool log attribute export
  .chloggen/log-non-string-attrs.yaml
  cmd/telemetrygen/pkg/logs/worker.go
  cmd/telemetrygen/pkg/logs/worker_test.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
  cmd/telemetrygen/pkg/traces/worker_test.go
Labels: cmd/telemetrygen

#42621 [tailsamplingprocessor] Add Logiraptor as codeowner
  .github/CODEOWNERS
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metadata.yaml
Labels: ready to merge, processor/tailsampling, Skip Changelog

#43048 [receiver/signalfxreceiver] Remove usage of deprecated access_token_passthrough config option
  .chloggen/signalfxreceiver_accesstokenpassthrough.yaml
  receiver/signalfxreceiver/README.md
  receiver/signalfxreceiver/config.go
  receiver/signalfxreceiver/config_test.go
  receiver/signalfxreceiver/factory.go
  receiver/signalfxreceiver/receiver.go
  receiver/signalfxreceiver/receiver_test.go
  receiver/signalfxreceiver/testdata/config.yaml
Labels: ready to merge, receiver/signalfx, first-time contributor

#43013 [exporter/googlecloudstorage] Add skeleton
  .chloggen/add-gcs-exporter.yaml
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  exporter/googlecloudstorageexporter/Makefile
  exporter/googlecloudstorageexporter/README.md
  exporter/googlecloudstorageexporter/config.go
  exporter/googlecloudstorageexporter/config_test.go
  exporter/googlecloudstorageexporter/doc.go
  exporter/googlecloudstorageexporter/exporter.go
  exporter/googlecloudstorageexporter/exporter_test.go
  exporter/googlecloudstorageexporter/factory.go
  exporter/googlecloudstorageexporter/generated_component_test.go
  exporter/googlecloudstorageexporter/generated_package_test.go
  exporter/googlecloudstorageexporter/go.mod
  exporter/googlecloudstorageexporter/go.sum
  exporter/googlecloudstorageexporter/internal/metadata/generated_status.go
  exporter/googlecloudstorageexporter/metadata.yaml
  exporter/googlecloudstorageexporter/testdata/config.yaml
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: ready to merge, Accepted Component

#43113 prometheusexporter: use PermissiveLabelSanitization feature gate
  .chloggen/owilliams_newconfig.yaml
  exporter/prometheusexporter/README.md
  exporter/prometheusexporter/collector.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/go.mod
  pkg/translator/prometheus/README.md
  pkg/translator/prometheus/normalize_label.go
  pkg/translator/prometheus/normalize_label_test.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
Labels: exporter/prometheusremotewrite, exporter/prometheus, pkg/translator/prometheus, pkg/translator/prometheusremotewrite

#42908 [receiver/jmx] restart the java process on error
  .chloggen/jmxreceiver-v0.136.0.yaml
  receiver/jmxreceiver/internal/subprocess/subprocess.go
Labels: receiver/jmx

#42802 [processor/resourcedetection] Add support for Upcloud
  .chloggen/feat_upcloud.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  internal/metadataproviders/upcloud/metadata.go
  internal/metadataproviders/upcloud/metadata_test.go
  internal/metadataproviders/upcloud/package_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/doc.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/upcloud/config.go
  processor/resourcedetectionprocessor/internal/upcloud/documentation.md
  processor/resourcedetectionprocessor/internal/upcloud/generated_component_test.go
  processor/resourcedetectionprocessor/internal/upcloud/generated_package_test.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/internal/upcloud/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/upcloud/metadata.go
  processor/resourcedetectionprocessor/internal/upcloud/metadata.yaml
  processor/resourcedetectionprocessor/internal/upcloud/upcloud.go
  processor/resourcedetectionprocessor/internal/upcloud/upcloud_test.go
Labels: processor/resourcedetection, internal/metadataproviders, waiting-for-code-owners

#42760 [connector/spanmetrics] exclude all resource attributes in spanmetrics
  .chloggen/drop-resource-attribute-from-span.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/factory.go
Labels: connector/spanmetrics

#43127 [chore] fix go.mod and go.sum
  exporter/googlecloudstorageexporter/go.mod
  exporter/googlecloudstorageexporter/go.sum
Labels: exporter/googlecloudstorage

#43019 [receiver/kafkametricsreceiver] Add support for using franz-go client under a feature gate
  .chloggen/feat_41480.yaml
  exporter/kafkaexporter/go.mod
  extension/observer/kafkatopicsobserver/go.mod
  extension/observer/kafkatopicsobserver/go.sum
  internal/kafka/franz_client.go
  internal/kafka/franz_client_test.go
  internal/kafka/go.mod
  receiver/kafkametricsreceiver/README.md
  receiver/kafkametricsreceiver/broker_scraper_franz.go
  receiver/kafkametricsreceiver/broker_scraper_franz_test.go
  receiver/kafkametricsreceiver/consumer_scraper_franz.go
  receiver/kafkametricsreceiver/consumer_scraper_franz_test.go
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkametricsreceiver/topic_scraper_franz.go
  receiver/kafkametricsreceiver/topic_scraper_franz_test.go
Labels: exporter/kafka, receiver/kafkametrics, internal/kafka, extension/observer/kafkatopicsobserver

#43135 [chore] prevent unkeyed literal initialization of structs
  connector/signaltometricsconnector/config/config.go
Labels: connector/signaltometrics

#43115 [receiver/postgresql] Fix for memory leak when using top queries
  .chloggen/fix_43076.yaml
  receiver/postgresqlreceiver/obfuscate.go
Labels: ready to merge, receiver/postgresql, waiting-for-code-owners

#42946 [chore][bigipreceiver] Add stability level per metric
  receiver/bigipreceiver/documentation.md
  receiver/bigipreceiver/metadata.yaml
Labels: ready to merge, receiver/bigip

#43133 [libhoneyreceiver] unexport JSONEncoder
  .chloggen/unexport_type.yaml
  receiver/libhoneyreceiver/encoder/encoder.go
Labels: receiver/libhoney

#42945 [chore][saphanareceiver] Add stability level per metric
  receiver/saphanareceiver/documentation.md
  receiver/saphanareceiver/metadata.yaml
Labels: receiver/saphana, waiting-for-code-owners

#43155 [chore] skip github.com/vmware/govmomi to v0.51.0
  renovate.json
Labels: receiver/vcenter

#43131 [testbed] Add OtelArrow to TestMetric10kDPS
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/oteltestbedcol/builder-config.yaml
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  internal/tidylist/tidylist.txt
  testbed/datareceivers/otelarrow.go
  testbed/datasenders/otelarrow.go
  testbed/go.mod
  testbed/go.sum
  testbed/testbed/components.go
  testbed/testbed/test_case.go
  testbed/tests/metric_test.go
Labels: Skip Changelog, exporter/elasticsearch, cmd/oteltestbedcol, testbed, cmd/opampsupervisor

#43152 [chore][receiver/sqlserver] Add README section for permissions
  receiver/sqlserverreceiver/README.md
Labels: documentation, receiver/sqlserver, Run Windows

#43154 [chore][exporter/signalfx] Fix README documentation for sync_host_metadata option
  exporter/signalfxexporter/README.md
Labels: exporter/signalfx

#42059 [processor/resourcedetection] support azure availability zone
  .chloggen/feat_40983.yaml
  internal/metadataproviders/azure/metadata.go
  processor/resourcedetectionprocessor/internal/azure/azure.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/azure/documentation.md
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/azure/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/azure/metadata.yaml
Labels: processor/resourcedetection, internal/metadataproviders, waiting-for-code-owners

#41973 [processor/resourcedetection] support openstack nova into resourcedetection processor
  .chloggen/feat_39117.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  internal/metadataproviders/openstack/nova/metadata.go
  internal/metadataproviders/openstack/nova/metadata_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/openstack/nova/config.go
  processor/resourcedetectionprocessor/internal/openstack/nova/documentation.md
  processor/resourcedetectionprocessor/internal/openstack/nova/generated_component_test.go
  processor/resourcedetectionprocessor/internal/openstack/nova/generated_package_test.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/internal/openstack/nova/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/openstack/nova/metadata.go
  processor/resourcedetectionprocessor/internal/openstack/nova/metadata.yaml
  processor/resourcedetectionprocessor/internal/openstack/nova/nova.go
  processor/resourcedetectionprocessor/internal/openstack/nova/nova_test.go
Labels: ready to merge, processor/resourcedetection, internal/metadataproviders, waiting-for-code-owners

#43126 [chore][journaldreceiver] Add Docker and Kubernetes examples
  receiver/journaldreceiver/README.md
  receiver/journaldreceiver/examples/container/Dockerfile
  receiver/journaldreceiver/examples/container/README.md
  receiver/journaldreceiver/examples/container/manifest.yml
  receiver/journaldreceiver/examples/container/otelcol-config.yml
Labels: receiver/journald

#43117 [chore][pkg/stanza] Fixed goleak errors on recombine benchmarks
  pkg/stanza/operator/transformer/recombine/transformer_test.go
Labels: pkg/stanza, waiting-for-code-owners

#43150 [connector/signaltometrics]Drop collector service name and namespace from metrics
  .chloggen/signaltometrics-drop-name-namespace.yaml
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/internal/model/collectorinstanceinfo.go
  connector/signaltometricsconnector/internal/model/collectorinstanceinfo_test.go
  connector/signaltometricsconnector/internal/model/model_test.go
  connector/signaltometricsconnector/testdata/logs/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/logs/gauge/output.yaml
  connector/signaltometricsconnector/testdata/logs/histograms/output.yaml
  connector/signaltometricsconnector/testdata/logs/metric_identity/output.yaml
  connector/signaltometricsconnector/testdata/logs/sum/output.yaml
  connector/signaltometricsconnector/testdata/metrics/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/metrics/gauge/output.yaml
  connector/signaltometricsconnector/testdata/metrics/histograms/output.yaml
  connector/signaltometricsconnector/testdata/metrics/sum/output.yaml
  connector/signaltometricsconnector/testdata/profiles/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/profiles/histograms/output.yaml
  connector/signaltometricsconnector/testdata/profiles/sum/output.yaml
  connector/signaltometricsconnector/testdata/traces/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/traces/gauge/output.yaml
  connector/signaltometricsconnector/testdata/traces/histograms/output.yaml
  connector/signaltometricsconnector/testdata/traces/metric_identity/output.yaml
  connector/signaltometricsconnector/testdata/traces/sum/output.yaml
Labels: ready to merge, connector/signaltometrics

#42629 [exporter/prometheus] Add sending_queue configuration
  .chloggen/mx-psi_queue-batch.yaml
  exporter/prometheusexporter/config.go
  exporter/prometheusexporter/factory.go
Labels: Stale, exporter/prometheus, waiting-for-code-owners

#43193 Revert "Standardize changelog component list"
  .chloggen/README.md
  .chloggen/config.yaml
  .chloggen/feat_39117.yaml
  .chloggen/feat_40983.yaml
  .chloggen/mowies-standardize-chloggen-components.yaml
  .chloggen/signaltometrics-drop-name-namespace.yaml
  .chloggen/splunkenterprisereceiver_license_timeleft.yaml
  .github/workflows/changelog.yml
  Makefile
Labels: Skip Changelog

#42406 Retrieve info from CLUSTER INFO redis cmd
  .chloggen/feat_redisreceiver-cluster_info-capability.yaml
  receiver/redisreceiver/client.go
  receiver/redisreceiver/client_test.go
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/internal/metadata/generated_config.go
  receiver/redisreceiver/internal/metadata/generated_config_test.go
  receiver/redisreceiver/internal/metadata/generated_metrics.go
  receiver/redisreceiver/internal/metadata/generated_metrics_test.go
  receiver/redisreceiver/internal/metadata/testdata/config.yaml
  receiver/redisreceiver/metadata.yaml
  receiver/redisreceiver/metric_functions.go
  receiver/redisreceiver/metric_functions_test.go
  receiver/redisreceiver/redis_scraper.go
  receiver/redisreceiver/redis_scraper_test.go
  receiver/redisreceiver/redis_svc.go
  receiver/redisreceiver/testdata/cluster_info.txt
Labels: receiver/redis

#42767 Remove batcher and related config in favor of sending queue
  .chloggen/esexporter-remove-batcher.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/integrationtest/datareceiver.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
  exporter/elasticsearchexporter/integrationtest/exporter_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
Labels: exporter/elasticsearch

#43170 internal/kafka: log a hint on broker connect failure if TLS isn't configured
  .chloggen/kafka-broker-connect-tls.yaml
  internal/kafka/franz_client.go
  internal/kafka/franz_client_test.go
Labels: internal/kafka

#42955 [chore][snowflakereceiver] Add stability level per metric
  receiver/snowflakereceiver/documentation.md
  receiver/snowflakereceiver/metadata.yaml
Labels: receiver/snowflake, waiting-for-code-owners

#43222 [chore] Update build-tools to v0.28.1
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#43232 [chore][connector/signaltometricsconnector] run make modernize
  connector/signaltometricsconnector/connector_test.go
Labels: Skip Changelog, connector/signaltometrics

#43237 [chore][exporter/awskinesisexporter] run make modernize
  exporter/awskinesisexporter/internal/batch/batch_test.go
  exporter/awskinesisexporter/internal/batch/encoder_test.go
  exporter/awskinesisexporter/internal/compress/compresser_test.go
  exporter/awskinesisexporter/internal/producer/batcher_bench_test.go
  exporter/awskinesisexporter/internal/producer/batcher_test.go
Labels: exporter/awskinesis

#43244 [chore][exporter/clickhouseexporter] run make modernize
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_json.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_json.go
Labels: exporter/clickhouse

#43225 [chore][connector/datadogconnector] run make modernize
  connector/datadogconnector/benchmark_test.go
Labels: Skip Changelog, connector/datadog

#43211 [exporter/syslogexporter] Fix timestamp formatting in rfc5424 syslog messages to use microsecond precision
  .chloggen/feat_43114.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/syslogexporter/go.mod
  exporter/syslogexporter/go.sum
  exporter/syslogexporter/rfc5424_formatter.go
  exporter/syslogexporter/rfc5424_formatter_test.go
  testbed/go.mod
  testbed/go.sum
Labels: ready to merge, exporter/elasticsearch, testbed, exporter/syslog, cmd/opampsupervisor

#43254 [chore][exporter/logzioexporter] run make modernize
  exporter/logzioexporter/exporter_test.go
Labels: exporter/logzio

#43224 [chore][cmd/telemetrygen] run make modernize
  cmd/telemetrygen/pkg/metrics/worker.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
  cmd/telemetrygen/pkg/traces/traces_test.go
Labels: Skip Changelog, cmd/telemetrygen

#43223 [chore][cmd/codecovgen] run make modernize
  cmd/codecovgen/main.go
Labels: Skip Changelog, cmd/codecovgen

#43289 [chore][extension/storage/redisstorageextension] run make modernize
  extension/storage/redisstorageextension/extension_test.go
Labels: extension/storage/redisstorage

#43268 [chore][exporter/tencentcloudlogserviceexporter] run make modernize
  exporter/tencentcloudlogserviceexporter/logs_exporter_test.go
  exporter/tencentcloudlogserviceexporter/logsdata_to_logservice_test.go
Labels: exporter/tencentcloudlogservice

#43265 [chore][exporter/stefexporter] run make modernize
  exporter/stefexporter/exporter_test.go
  exporter/stefexporter/internal/connmanager.go
  exporter/stefexporter/internal/connmanager_test.go
  exporter/stefexporter/internal/sync2async.go
  exporter/stefexporter/internal/sync2async_test.go
Labels: exporter/stef

#43255 [chore][exporter/mezmoexporter] run make modernize
  exporter/mezmoexporter/exporter_test.go
Labels: exporter/mezmo
