Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-03, with the labels that each got.

#38246 [chore][pkg/ottl] Split package ctxutil
  pkg/ottl/contexts/internal/ctxcommon/ids.go
  pkg/ottl/contexts/internal/ctxcommon/ids_test.go
  pkg/ottl/contexts/internal/ctxcommon/schema.go
  pkg/ottl/contexts/internal/ctxlog/log.go
  pkg/ottl/contexts/internal/ctxresource/context.go
  pkg/ottl/contexts/internal/ctxresource/resource_test.go
  pkg/ottl/contexts/internal/ctxscope/context.go
  pkg/ottl/contexts/internal/ctxscope/scope_test.go
  pkg/ottl/contexts/internal/ctxspan/span.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
Labels: pkg/ottl

#38273 fix(deps): update github.com/splunk/stef to v0.0.4
  exporter/stefexporter/exporter_test.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
Labels: dependencies, Skip Changelog, exporter/stef

#38101 [connector/signaltometrics]Drop get OTTL func in favor of OTTL's ParseValueExpression
  .chloggen/signaltometrics-use-ottl-valueexpression.yaml
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/config/config.go
  connector/signaltometricsconnector/config/config_test.go
  connector/signaltometricsconnector/internal/aggregator/aggregator.go
  connector/signaltometricsconnector/internal/customottl/funcs.go
  connector/signaltometricsconnector/internal/customottl/get.go
  connector/signaltometricsconnector/internal/model/model.go
  connector/signaltometricsconnector/testdata/configs/invalid_ottl_value_expression.yaml
Labels: connector/signaltometrics

#37517 [receiver/mongodbreceiver] Added mongodb replica metrics and routing logic for multiple mongodb instances
  .chloggen/mongodbReplicaMetrics.yaml
  receiver/mongodbreceiver/client.go
  receiver/mongodbreceiver/client_test.go
  receiver/mongodbreceiver/config.go
  receiver/mongodbreceiver/config_test.go
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mongodbreceiver/internal/metadata/generated_config.go
  receiver/mongodbreceiver/internal/metadata/generated_config_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
Labels: ready to merge, receiver/mongodb, waiting-for-code-owners

#37550 fix(servicegraph): make virtual node tests reliable on Windows
  connector/servicegraphconnector/connector_test.go
Labels: ready to merge, Skip Changelog, connector/servicegraph

#37855 metricstarttimeprocessor: Copy true reset strategy from prometheus receiver
  .chloggen/metricstarttime-true-reset.yaml
  processor/metricstarttimeprocessor/README.md
  processor/metricstarttimeprocessor/config.go
  processor/metricstarttimeprocessor/factory.go
  processor/metricstarttimeprocessor/go.mod
  processor/metricstarttimeprocessor/go.sum
  processor/metricstarttimeprocessor/internal/truereset/adjuster.go
  processor/metricstarttimeprocessor/internal/truereset/adjuster_test.go
  processor/metricstarttimeprocessor/internal/truereset/jobs_map.go
  processor/metricstarttimeprocessor/internal/truereset/util_test.go
  processor/metricstarttimeprocessor/processor.go
Labels: enhancement, ready to merge, processor/metricstarttime

#38295 [chore] fix Docker warning "FromAsCasing"
  cmd/telemetrygen/Dockerfile
  examples/demo/client/Dockerfile
  examples/demo/server/Dockerfile
  exporter/clickhouseexporter/example/Dockerfile
  exporter/loadbalancingexporter/example/Dockerfile
  exporter/splunkhecexporter/example/Dockerfile
Labels: exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, exporter/splunkhec, examples/demo

#38255 [receiver/netflow] Promote to alpha stability
  .chloggen/netflowreceiver-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/netflowreceiver/README.md
  receiver/netflowreceiver/internal/metadata/generated_status.go
  receiver/netflowreceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, receiver/netflow

#37912 [exporter][prometheusremotewrite] Additional metrics for the exporter
  .chloggen/additional-metrics-for-remote-write-exporter.yaml
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
Labels: ready to merge, exporter/prometheusremotewrite

#37953 [exporter/awss3exporter] Add `canned_acl` as an input
  .chloggen/s3exporter-canned-acl.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/internal/upload/writer.go
  exporter/awss3exporter/internal/upload/writer_test.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/testdata/config-s3_acl.yaml
Labels: ready to merge, exporter/awss3

#38264 [pkg/ottl] introduce Weekday converter function
  .chloggen/ottl-weekday-converter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_weekday.go
  pkg/ottl/ottlfuncs/func_weekday_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#36663 [pkg/stanza] Introduce batching logs in File consumer
  .chloggen/batch-logs-in-file-consumer-2.yaml
  .chloggen/batch-logs-in-file-consumer.yaml
  pkg/stanza/adapter/mocks_test.go
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/emit/emit.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/emittest/nop.go
  pkg/stanza/fileconsumer/internal/emittest/nop_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
  pkg/stanza/fileconsumer/internal/header/output.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/operator/helper/emitter.go
  pkg/stanza/operator/helper/input.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/writer.go
  pkg/stanza/operator/input/file/benchmark_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/file/input.go
  pkg/stanza/operator/operator.go
  pkg/stanza/operator/output/drop/output.go
  pkg/stanza/operator/output/file/output.go
  pkg/stanza/operator/output/stdout/output.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/csv/parser.go
  pkg/stanza/operator/parser/json/parser.go
  pkg/stanza/operator/parser/jsonarray/parser.go
  pkg/stanza/operator/parser/keyvalue/parser.go
  pkg/stanza/operator/parser/regex/parser.go
  pkg/stanza/operator/parser/scope/parser.go
  pkg/stanza/operator/parser/severity/parser.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/parser/time/parser.go
  pkg/stanza/operator/parser/trace/parser.go
  pkg/stanza/operator/parser/uri/parser.go
  pkg/stanza/operator/transformer/add/transformer.go
  pkg/stanza/operator/transformer/assignkeys/transformer.go
  pkg/stanza/operator/transformer/copy/transformer.go
  pkg/stanza/operator/transformer/filter/transformer.go
  pkg/stanza/operator/transformer/flatten/transformer.go
  pkg/stanza/operator/transformer/move/transformer.go
  pkg/stanza/operator/transformer/noop/transformer.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/remove/transformer.go
  pkg/stanza/operator/transformer/retain/transformer.go
  pkg/stanza/operator/transformer/router/transformer.go
  pkg/stanza/operator/transformer/unquote/transformer.go
  pkg/stanza/testutil/mocks.go
  pkg/stanza/testutil/operator.go
  processor/logstransformprocessor/processor_test.go
  receiver/otlpjsonfilereceiver/file.go
Labels: processor/logstransform, pkg/stanza, receiver/otlpjsonfile

#38297 [chore] Update clockwork to v0.5.0
  connector/datadogconnector/go.sum
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/go.mod
  connector/spanmetricsconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  pkg/stanza/go.mod
  pkg/stanza/go.sum
  pkg/stanza/internal/time/time.go
  receiver/chronyreceiver/go.mod
  receiver/chronyreceiver/go.sum
  receiver/filelogreceiver/go.mod
  receiver/filelogreceiver/go.sum
  receiver/otlpjsonfilereceiver/go.mod
  receiver/otlpjsonfilereceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, receiver/filelog, exporter/elasticsearch, pkg/stanza, extension/jaegerremotesampling, receiver/otlpjsonfile, receiver/chrony, testbed, connector/spanmetrics, connector/datadog

#38171 [chore] [receiver/filelog] test: add benchmark for File Log receiver
  receiver/filelogreceiver/benchmark_test.go
  receiver/filelogreceiver/internal/testutil/log_file_generator.go
Labels: receiver/filelog

#38308 [chore] fix code owner allowlist
  cmd/githubgen/allowlist.txt
Labels: ready to merge

#38247 [pkg/ottl] Remove ottl<context>.Option
  .chloggen/ottl-contexts-deprecate-options.yaml
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/filter_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
Labels: processor/transform, pkg/ottl, internal/filter

#38310 [chore] add deprecation info for routing processor
  processor/routingprocessor/metadata.yaml
Labels: processor/routing

#38278 [extension/ecsobserver] Fix missing task tags retrieval
  .chloggen/fix-ecsobserver-task-tags.yaml
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/internal/ecsmock/service_test.go
Labels: ready to merge, extension/observer

#38274 [exporter/elasticsearch] Fix getLocations()
  .chloggen/elasticsearchexporter-getlocations.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
Labels: exporter/elasticsearch

#38311 [chore] add deprecation info for loki exporter
  exporter/lokiexporter/metadata.yaml
Labels: exporter/loki

#37721 Receive all logs if no attributes are specified
  .chloggen/receive-all-cloudflare.yaml
  receiver/cloudflarereceiver/README.md
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/logs_test.go
Labels: ready to merge, receiver/cloudflare

#37331 [cmd/opampsupervisor] allow configuring collector process execution
  .chloggen/opamp-process-execution.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/examples/supervisor_darwin.yaml
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/supervisor/common/common.go
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/testdata/collector/simple_pipeline_env.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_exec_config.yaml
Labels: cmd/opampsupervisor

#38229 [exporter/doris] Optimize table schema
  .chloggen/doris-optimize-schema.yaml
  exporter/dorisexporter/exporter_logs.go
  exporter/dorisexporter/exporter_metrics.go
  exporter/dorisexporter/exporter_traces.go
  exporter/dorisexporter/metrics_model.go
  exporter/dorisexporter/sql/logs_ddl.sql
  exporter/dorisexporter/sql/logs_view.sql
  exporter/dorisexporter/sql/metrics_exponential_histogram_ddl.sql
  exporter/dorisexporter/sql/metrics_gauge_ddl.sql
  exporter/dorisexporter/sql/metrics_histogram_ddl.sql
  exporter/dorisexporter/sql/metrics_sum_ddl.sql
  exporter/dorisexporter/sql/metrics_summary_ddl.sql
  exporter/dorisexporter/sql/metrics_view.sql
  exporter/dorisexporter/sql/traces_ddl.sql
  exporter/dorisexporter/sql/traces_graph_ddl.sql
  exporter/dorisexporter/sql/traces_graph_job.sql
  exporter/dorisexporter/sql/traces_view.sql
Labels: exporter/doris

#38116 [googlecloudexporter] use new exporter creator args
  .chloggen/gcp_exporter_update_051.yaml
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/go.mod
  exporter/googlecloudexporter/go.sum
  exporter/googlemanagedprometheusexporter/factory.go
  exporter/googlemanagedprometheusexporter/go.mod
  exporter/googlemanagedprometheusexporter/go.sum
Labels: dependencies, ready to merge, exporter/googlecloud, exporter/googlemanagedprometheus

#38293 [pkg/ottl] add `MarshalLogObject` to `ottlmetric` context
  .chloggen/ottl-marshall-logobject.yaml
  pkg/ottl/contexts/ottlmetric/metrics.go
Labels: pkg/ottl

#38017 [opampsupervisor] add telemetry settings to the opamp supervisor
  .chloggen/supervisor-telemetey-settings.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#38319 [chore] Update container operator docs
  pkg/stanza/docs/operators/container.md
Labels: Skip Changelog, pkg/stanza

#38288 [processor][redaction]: redact span event attributes
  .chloggen/fix-redaction-processor.yaml
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: processor/redaction

#38144 [chore] add SAPM deprecation metadata
  exporter/sapmexporter/metadata.yaml
  receiver/sapmreceiver/metadata.yaml
Labels: exporter/sapm, receiver/sapm

#37712 windowsservicereceiver wireframe
  .chloggen/31377-wsr-wireframe.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/tidylist/tidylist.txt
  receiver/windowsservicereceiver/Makefile
  receiver/windowsservicereceiver/README.md
  receiver/windowsservicereceiver/config.go
  receiver/windowsservicereceiver/config_test.go
  receiver/windowsservicereceiver/doc.go
  receiver/windowsservicereceiver/documentation.md
  receiver/windowsservicereceiver/factory.go
  receiver/windowsservicereceiver/factory_test.go
  receiver/windowsservicereceiver/factory_windows.go
  receiver/windowsservicereceiver/factory_windows_test.go
  receiver/windowsservicereceiver/generated_component_test.go
  receiver/windowsservicereceiver/generated_package_test.go
  receiver/windowsservicereceiver/go.mod
  receiver/windowsservicereceiver/go.sum
  receiver/windowsservicereceiver/internal/metadata/generated_config.go
  receiver/windowsservicereceiver/internal/metadata/generated_config_test.go
  receiver/windowsservicereceiver/internal/metadata/generated_metrics.go
  receiver/windowsservicereceiver/internal/metadata/generated_metrics_test.go
  receiver/windowsservicereceiver/internal/metadata/generated_status.go
  receiver/windowsservicereceiver/internal/metadata/testdata/config.yaml
  receiver/windowsservicereceiver/metadata.yaml
  receiver/windowsservicereceiver/scraper.go
  receiver/windowsservicereceiver/scraper_test.go
  receiver/windowsservicereceiver/winapi.go
  receiver/windowsservicereceiver/winapi_test.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: ready to merge, exporter/tencentcloudlogservice, extension/observer, confmap/provider/s3provider, reports/distributions/contrib.yaml

#38337 [chore] Remove deprecated macos-12 runner, Add macos-15 runner
  .github/workflows/build-and-test-darwin.yaml
Labels: ci-cd, Run Darwin

#38180 [chore] add deprecation info for opencensus exporter & receiver
  exporter/opencensusexporter/metadata.yaml
  receiver/opencensusreceiver/metadata.yaml
Labels: exporter/opencensus, receiver/opencensus

#38141 [receiver/sqlserver] x509 negativeserial issue
  .chloggen/sqlserver-x509-negativeserial.yaml
  receiver/sqlserverreceiver/README.md
Labels: receiver/sqlserver

#36208 [resourceprocessor] add support for profile signal type
  .chloggen/resource-processor-add-profiles.yaml
  processor/resourceprocessor/README.md
  processor/resourceprocessor/factory.go
  processor/resourceprocessor/factory_test.go
  processor/resourceprocessor/go.mod
  processor/resourceprocessor/go.sum
  processor/resourceprocessor/internal/metadata/generated_status.go
  processor/resourceprocessor/metadata.yaml
  processor/resourceprocessor/resource_processor.go
  processor/resourceprocessor/resource_processor_test.go
Labels: processor/resource, waiting-for-code-owners

#37556 [receiver/tcpcheck] Add New Receiver#34458
  .chloggen/tcp-checker.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/tidylist/tidylist.txt
  receiver/tcpcheckreceiver/Makefile
  receiver/tcpcheckreceiver/README.md
  receiver/tcpcheckreceiver/config.go
  receiver/tcpcheckreceiver/config_test.go
  receiver/tcpcheckreceiver/doc.go
  receiver/tcpcheckreceiver/documentation.md
  receiver/tcpcheckreceiver/factory.go
  receiver/tcpcheckreceiver/factory_test.go
  receiver/tcpcheckreceiver/generated_component_test.go
  receiver/tcpcheckreceiver/generated_package_test.go
  receiver/tcpcheckreceiver/go.mod
  receiver/tcpcheckreceiver/go.sum
  receiver/tcpcheckreceiver/internal/configtcp/configtcp.go
  receiver/tcpcheckreceiver/internal/configtcp/configtcp_test.go
  receiver/tcpcheckreceiver/internal/metadata/generated_config.go
  receiver/tcpcheckreceiver/internal/metadata/generated_config_test.go
  receiver/tcpcheckreceiver/internal/metadata/generated_metrics.go
  receiver/tcpcheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/tcpcheckreceiver/internal/metadata/generated_status.go
  receiver/tcpcheckreceiver/internal/metadata/testdata/config.yaml
  receiver/tcpcheckreceiver/metadata.yaml
  receiver/tcpcheckreceiver/scraper.go
  receiver/tcpcheckreceiver/scraper_test.go
  receiver/tcpcheckreceiver/testdata/config.yaml
  receiver/tcpcheckreceiver/testdata/expected_metrics/expected.yaml
  receiver/tcpcheckreceiver/testdata/expected_metrics/expected_error.yaml
  receiver/tcpcheckreceiver/testdata/expected_metrics/metrics_golden.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: cmd/telemetrygen, cmd/otelcontribcol, cmd/oteltestbedcol, cmd/opampsupervisor, cmd/githubgen, reports/distributions/contrib.yaml

#38315 [chore] list datadog metrics impacted by prometheus 3.0 in changelog
  CHANGELOG.md
Labels: documentation, exporter/datadog, Skip Changelog, connector/datadog

#38354 [receiver/otlpjsonfile][bugfix] only add attributes if record/span/metric count is greater than 0
  .chloggen/fix-otlpjsonfilereceiver-null-dereference.yaml
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: receiver/otlpjsonfile

#38360 [cmd/opampsupervisor] add ability to report own traces/logs
  .chloggen/codeboten_report-own-logs.yaml
  cmd/opampsupervisor/examples/supervisor_darwin.yaml
  cmd/opampsupervisor/examples/supervisor_linux.yaml
  cmd/opampsupervisor/examples/supervisor_windows.yaml
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/owntelemetry.yaml
  cmd/opampsupervisor/supervisor/testdata/supervisor_windows_service_test_config.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_accepts_conn.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_agent_description.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_healthcheck_port.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_logging.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_nocap.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_persistence.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_report_status.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_server_port.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_test.yaml
Labels: cmd/opampsupervisor

#38364 [chore] [exporter/stef] Minor improvements
  exporter/stefexporter/factory.go
Labels: exporter/stef

#37930 Use serializer exporter for sending metrics
  .chloggen/dinesh.gurumurthy_use-serializer-exporter.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/agent_components.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog, internal/datadog, connector/datadog, confmap/provider/secretsmanagerprovider, pkg/datadog, receiver/tcpcheck

#38326 metricstarttimeprocessor: Use hash of resource attributes for StartimeCache
  .chloggen/resource-hash.yaml
  processor/metricstarttimeprocessor/internal/truereset/adjuster.go
  processor/metricstarttimeprocessor/internal/truereset/adjuster_test.go
  processor/metricstarttimeprocessor/internal/truereset/start_time_cache.go
Labels: processor/metricstarttime

#38148 Add support for multiple bearer tokens
  .chloggen/multiple_bearer_tokens_support.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/bearertokenauth_test.go
  extension/bearertokenauthextension/config.go
  extension/bearertokenauthextension/config_test.go
  extension/bearertokenauthextension/testdata/config.yaml
Labels: ready to merge, extension/bearertokenauth

#38079 processor/deltatocumulative: cleanup metrics
  .chloggen/cleanup-metrics.yaml
  processor/deltatocumulativeprocessor/documentation.md
  processor/deltatocumulativeprocessor/internal/metadata/generated_telemetry.go
  processor/deltatocumulativeprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/deltatocumulativeprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/deltatocumulativeprocessor/internal/telemetry/metrics.go
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/deltatocumulativeprocessor/testdata/exponential/1.test
  processor/deltatocumulativeprocessor/testdata/histograms/1.test
  processor/deltatocumulativeprocessor/testdata/limit/1.test
  processor/deltatocumulativeprocessor/testdata/limit/2.test
  processor/deltatocumulativeprocessor/testdata/notemporality-ignored/1.test
  processor/deltatocumulativeprocessor/testdata/timestamps/1.test
Labels: processor/deltatocumulative

#38357 [receiver/influxdbreceiver] update receiver.go to add better log messages
  receiver/influxdbreceiver/receiver.go
Labels: Skip Changelog, receiver/influxdb

#38161 [processor/redaction] Support hashing instead of masking values
  .chloggen/redaction-hash.yaml
  processor/redactionprocessor/README.md
  processor/redactionprocessor/config.go
  processor/redactionprocessor/config_test.go
  processor/redactionprocessor/factory_test.go
  processor/redactionprocessor/go.mod
  processor/redactionprocessor/go.sum
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
  processor/redactionprocessor/testdata/config.yaml
Labels: processor/redaction

#37006 [pkg/ottl] enhance flatten editor to resolve attribute key conflicts
  .chloggen/flatten-conflict.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_flatten.go
  pkg/ottl/ottlfuncs/func_flatten_test.go
Labels: pkg/ottl

#37945 [chore] make checkapi a module, adding a metadata.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  Makefile
  cmd/checkapi/Makefile
  cmd/checkapi/go.mod
  cmd/checkapi/metadata.yaml
  internal/tidylist/tidylist.txt
  internal/tools/go.mod
  internal/tools/tools.go
  versions.yaml
Labels: internal/tools

#38378 [chore] docker observer: Ensure routines are managed without storing context
  extension/observer/dockerobserver/extension.go
  extension/observer/dockerobserver/go.mod
  extension/observer/dockerobserver/go.sum
Labels: Skip Changelog, extension/observer

#37402 [chore] Schema Processor Revamp [Part 4] - Manager/Provider
  .github/CODEOWNERS
  processor/schemaprocessor/README.md
  processor/schemaprocessor/go.mod
  processor/schemaprocessor/go.sum
  processor/schemaprocessor/internal/translation/cacheable_provider.go
  processor/schemaprocessor/internal/translation/cacheable_provider_test.go
  processor/schemaprocessor/internal/translation/manager.go
  processor/schemaprocessor/internal/translation/manager_test.go
  processor/schemaprocessor/internal/translation/provider.go
  processor/schemaprocessor/internal/translation/provider_test.go
  processor/schemaprocessor/internal/translation/testdata/schema.yaml
  processor/schemaprocessor/internal/translation/translation.go
  processor/schemaprocessor/internal/translation/translation_helpers_test.go
  processor/schemaprocessor/internal/translation/translation_race_test.go
  processor/schemaprocessor/internal/translation/translation_test.go
  processor/schemaprocessor/internal/translation/version.go
  processor/schemaprocessor/metadata.yaml
Labels: processor/schema

#38384 [chore] unexport test function
  confmap/provider/secretsmanagerprovider/provider_test.go
Labels: confmap/provider/secretsmanagerprovider

#38386 [chore] prevent unkeyed literal initialization
  extension/encoding/avrologencodingextension/config.go
  extension/encoding/googlecloudlogentryencodingextension/config.go
  extension/encoding/jaegerencodingextension/config.go
  extension/encoding/jsonlogencodingextension/config.go
  extension/encoding/otlpencodingextension/config.go
  extension/encoding/textencodingextension/config.go
  extension/encoding/zipkinencodingextension/config.go
Labels: extension/encoding

#38400 [chore] fix githubgen allowlist
  cmd/githubgen/allowlist.txt
Labels: ci-cd

#38033 [connector/servicegraph] Remove "_seconds" from metric names
  connector/servicegraphconnector/README.md
Labels: documentation, ready to merge, Skip Changelog, connector/servicegraph

#38399 [chore] Fix gotest commands
  Makefile
Labels: ci-cd

#38269 fix: healthcheckv2extension: fix deadlock in case of an error in http server start
  .chloggen/k.garmanov_healthcheckv2-shutdown-fix.yaml
  extension/healthcheckv2extension/extension_test.go
  extension/healthcheckv2extension/internal/http/server.go
Labels: extension/healthcheckv2

#37824 [chore] fix flaky tests for loadbalancing exporter
  exporter/loadbalancingexporter/log_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#37417 [exporter/kafkaexporter] Skip Username and Password config validation for IAM
  .chloggen/main.yaml
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
Labels: ready to merge, exporter/kafka

#38028 [exporter/azureblob] add implementation for azure blob exporter
  .chloggen/azureblobexporter-second-PR.yaml
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/config_test.go
  exporter/azureblobexporter/exporter.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azureblobexporter/factory.go
  exporter/azureblobexporter/go.mod
  exporter/azureblobexporter/go.sum
  exporter/azureblobexporter/marshaller.go
  exporter/azureblobexporter/marshaller_test.go
  exporter/azureblobexporter/testdata/config.yaml
Labels: ready to merge, exporter/azureblob

#38385 [chore] prevent unkeyed literal initialization
  extension/ackextension/config.go
  extension/asapauthextension/config.go
  extension/awsproxy/config.go
  extension/basicauthextension/config.go
  extension/bearertokenauthextension/config.go
  extension/cgroupruntimeextension/config.go
Labels: extension/asapauth, extension/bearertokenauth, extension/awsproxy, extension/basicauth, extension/ack, extension/cgroupruntime

#38401 [chore] Remove usages of extensionauthtest.MockClient
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  receiver/sshcheckreceiver/go.mod
  receiver/sshcheckreceiver/go.sum
  receiver/sshcheckreceiver/internal/configssh/configssh_test.go
  receiver/tcpcheckreceiver/go.mod
  receiver/tcpcheckreceiver/go.sum
  receiver/tcpcheckreceiver/internal/configtcp/configtcp_test.go
Labels: exporter/elasticsearch, receiver/sshcheck, receiver/tcpcheck

#38398 [chore] Support schema file format 1.1.0
  processor/schemaprocessor/internal/migrate/attributes.go
  processor/schemaprocessor/internal/migrate/conditional.go
  processor/schemaprocessor/internal/migrate/multi_conditional.go
  processor/schemaprocessor/internal/translation/revision_v1.go
  processor/schemaprocessor/internal/translation/revision_v1_test.go
  processor/schemaprocessor/internal/translation/translation.go
Labels: Skip Changelog, processor/schema

#38404 [chore] unexport LogEntry struct, only used in the module
  cmd/opampsupervisor/e2e_test.go
Labels: cmd/opampsupervisor

#38275 [receiver/pprof] New pprof receiver
  .chloggen/pprofreceiver.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/tidylist/tidylist.txt
  receiver/pprofreceiver/Makefile
  receiver/pprofreceiver/README.md
  receiver/pprofreceiver/config.go
  receiver/pprofreceiver/doc.go
  receiver/pprofreceiver/factory.go
  receiver/pprofreceiver/generated_component_test.go
  receiver/pprofreceiver/generated_package_test.go
  receiver/pprofreceiver/go.mod
  receiver/pprofreceiver/go.sum
  receiver/pprofreceiver/internal/metadata/generated_status.go
  receiver/pprofreceiver/metadata.yaml
  versions.yaml
Labels: ready to merge, Accepted Component

#38345 feat(faro-1): Wireframe for faro receiver
  .chloggen/faroreciever.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/tidylist/tidylist.txt
  receiver/faroreceiver/Makefile
  receiver/faroreceiver/README.md
  receiver/faroreceiver/config.go
  receiver/faroreceiver/doc.go
  receiver/faroreceiver/factory.go
  receiver/faroreceiver/generated_component_test.go
  receiver/faroreceiver/generated_package_test.go
  receiver/faroreceiver/go.mod
  receiver/faroreceiver/go.sum
  receiver/faroreceiver/internal/metadata/generated_status.go
  receiver/faroreceiver/metadata.yaml
  receiver/faroreceiver/reciever.go
  versions.yaml
Labels: ready to merge, Accepted Component

#37677 [redisstorageextension] allow redis key prefix to be specified in config
  .chloggen/redis-prefix.yaml
  extension/storage/redisstorageextension/README.md
  extension/storage/redisstorageextension/config.go
  extension/storage/redisstorageextension/config_test.go
  extension/storage/redisstorageextension/extension.go
  extension/storage/redisstorageextension/extension_test.go
  extension/storage/redisstorageextension/testdata/config.yaml
Labels: extension/storage

#38388 Create extension/encoding/awscloudwatchmetricstreamsencoding
  .chloggen/awscloudwatchmetricstreamsencodingextension-skeleton.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/Makefile
  extension/encoding/awscloudwatchmetricstreamsencodingextension/README.md
  extension/encoding/awscloudwatchmetricstreamsencodingextension/config.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/config_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/doc.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/factory.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/generated_component_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/generated_package_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.mod
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.sum
  extension/encoding/awscloudwatchmetricstreamsencodingextension/internal/metadata/generated_status.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/metadata.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/config.yaml
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: Accepted Component, extension/encoding

#38352 [receiver/awsfirehose] remove error logging on gzip.Reader type assertion failure due to nil value
  .chloggen/fix-reader-type-assertion-log.yaml
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler.go
Labels: receiver/awsfirehose

#36700 [exporter/azuremonitor] support sending to multiple azuremonitor exporter
  .chloggen/34188.yaml
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/azuremonitor_exporter.go
  exporter/azuremonitorexporter/channels.go
  exporter/azuremonitorexporter/config.go
  exporter/azuremonitorexporter/config_test.go
  exporter/azuremonitorexporter/factory.go
  exporter/azuremonitorexporter/factory_test.go
  exporter/azuremonitorexporter/go.mod
  exporter/azuremonitorexporter/logexporter.go
  exporter/azuremonitorexporter/logexporter_test.go
  exporter/azuremonitorexporter/metricexporter.go
  exporter/azuremonitorexporter/metricexporter_test.go
  exporter/azuremonitorexporter/mock_transportChannel.go
  exporter/azuremonitorexporter/testdata/config.yaml
  exporter/azuremonitorexporter/traceexporter.go
  exporter/azuremonitorexporter/traceexporter_test.go
  internal/tidylist/tidylist.txt
Labels: exporter/azuremonitor

#37321 Apply fieldalignment to collectdreceiver
  .chloggen/fieldalignment_collectdreceiver.yaml
  receiver/collectdreceiver/collectd.go
Labels: receiver/collectd

#38389 [chore] speed up examples build using a fixed version of the collector for examples
  exporter/splunkhecexporter/example/Dockerfile
  exporter/splunkhecexporter/example/docker-compose.yml
Labels: exporter/splunkhec, examples/demo

#36567 [exporter/loadbalancing] feat(lb): Introduce the ability to load balance on composite keys in lb
  .chloggen/jpkroehling_lbexporter-route-with-composite-keys.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/config.go
  exporter/loadbalancingexporter/trace_exporter.go
  exporter/loadbalancingexporter/trace_exporter_test.go
Labels: exporter/loadbalancing

#38026 [extension/dbstorage] Optimize Batch performance for single-type Operations set
  .chloggen/feat_dbstorage-batch-optimization.yaml
  extension/storage/dbstorage/client.go
  extension/storage/dbstorage/client_queries.go
  extension/storage/dbstorage/client_queries_test.go
  extension/storage/dbstorage/client_test.go
  extension/storage/dbstorage/extension_benchmark_test.go
  extension/storage/dbstorage/extension_test.go
Labels: extension/storage

#38016 [receiver/github] add workflow job trace events
  .chloggen/gh-job-spans.yaml
  receiver/githubreceiver/README.md
  receiver/githubreceiver/model.go
  receiver/githubreceiver/trace_event_handling.go
  receiver/githubreceiver/trace_event_handling_test.go
  receiver/githubreceiver/trace_receiver.go
Labels: receiver/github

#37308 [receiver/awscloudwatch] Migrating awscloudwatch receiver to use aws sdk v2
  .chloggen/migrate-to-sdk-v2.yaml
  receiver/awscloudwatchreceiver/config_test.go
  receiver/awscloudwatchreceiver/go.mod
  receiver/awscloudwatchreceiver/go.sum
  receiver/awscloudwatchreceiver/integration_test.go
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
Labels: receiver/awscloudwatch

#37882 [extension/dbstorage] Replace mattn/go-sqlite with non-CGO modernc.org/sqlite
  .chloggen/feat_dbstorage-change-sqlite-driver.yaml
  extension/storage/dbstorage/README.md
  extension/storage/dbstorage/client.go
  extension/storage/dbstorage/config.go
  extension/storage/dbstorage/extension.go
  extension/storage/dbstorage/extension_test.go
  extension/storage/dbstorage/go.mod
  extension/storage/dbstorage/go.sum
  extension/storage/dbstorage/sqlite_compat.go
  extension/storage/dbstorage/sqlite_compat_test.go
Labels: extension/storage

#37642 [exporter/Sematext] Second PR of New component: Sematext Exporter
  .chloggen/sematext-metrics.yaml
  exporter/sematextexporter/README.md
  exporter/sematextexporter/config.go
  exporter/sematextexporter/config_test.go
  exporter/sematextexporter/factory.go
  exporter/sematextexporter/go.mod
  exporter/sematextexporter/go.sum
  exporter/sematextexporter/testdata/config.yaml
Labels: ready to merge, exporter/sematext

#38409 [cmd/opampsupervisor] fix missed logs signal
  .chloggen/codeboten_fix-missed-logs.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#38434 [chore] Allow OTTL pdata Map setters to take raw map
  pkg/ottl/contexts/internal/ctxcache/cache.go
  pkg/ottl/contexts/internal/ctxcache/cache_test.go
  pkg/ottl/contexts/internal/ctxdatapoint/datapoint.go
  pkg/ottl/contexts/internal/ctxdatapoint/datapoint_test.go
  pkg/ottl/contexts/internal/ctxlog/log.go
  pkg/ottl/contexts/internal/ctxlog/log_test.go
  pkg/ottl/contexts/internal/ctxresource/resource.go
  pkg/ottl/contexts/internal/ctxresource/resource_test.go
  pkg/ottl/contexts/internal/ctxscope/scope.go
  pkg/ottl/contexts/internal/ctxscope/scope_test.go
  pkg/ottl/contexts/internal/ctxspan/span.go
  pkg/ottl/contexts/internal/ctxspan/span_test.go
  pkg/ottl/contexts/internal/ctxspanevent/span_events.go
  pkg/ottl/contexts/internal/ctxspanevent/span_events_test.go
  pkg/ottl/contexts/internal/ctxutil/map.go
Labels: pkg/ottl

#38436 [chore] remove extra else, makes linter unhappy
  pkg/stanza/fileconsumer/internal/reader/reader.go
Labels: pkg/stanza

#38438 [exporter/loki] Add codeowners to loki exporter, remove deletion notice
  .github/CODEOWNERS
  exporter/lokiexporter/README.md
  exporter/lokiexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: Skip Changelog, exporter/loki, reports/distributions/contrib.yaml

#38413 Handle scope name version
  .chloggen/handle_scope_name_version.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#37927 [exporter/syslog] Fix handling of multiple structured data elements
  .chloggen/issue_33300.yaml
  exporter/syslogexporter/rfc5424_formatter.go
  exporter/syslogexporter/rfc5424_formatter_test.go
Labels: ready to merge, exporter/syslog

#38312 [connector/routing] Add support for standard converter functions in routing conditions
  .chloggen/feat_add-routing-ismatch-isStr.yaml
  connector/routingconnector/README.md
  connector/routingconnector/internal/common/functions.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/traces_test.go
Labels: ready to merge, connector/routing

#38443 [receiver/tcpcheck] Promote To alpha
  .chloggen/.chloggen/promote_tcpcheck_receiver_to_alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/tcpcheckreceiver/README.md
  receiver/tcpcheckreceiver/internal/metadata/generated_status.go
  receiver/tcpcheckreceiver/metadata.yaml
Labels: cmd/otelcontribcol, receiver/tcpcheck

#38410 feat(telemetrygen): support integer attributes in telemetrygen tool (…
  .chloggen/telemetrygen-attribute-support-integer.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/common/config_test.go
Labels: cmd/telemetrygen

#37227 [receiver/mongodbreceiver] Added new mongodb metrics to achieve parity with Telegraf
  .chloggen/chan-tim_mongodbMetrics.yaml
  receiver/mongodbreceiver/documentation.md
  receiver/mongodbreceiver/internal/metadata/generated_config.go
  receiver/mongodbreceiver/internal/metadata/generated_config_test.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics.go
  receiver/mongodbreceiver/internal/metadata/generated_metrics_test.go
  receiver/mongodbreceiver/internal/metadata/testdata/config.yaml
  receiver/mongodbreceiver/metadata.yaml
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
  receiver/mongodbreceiver/testdata/admin.json
Labels: receiver/mongodb

#37168 [receiver/azuremonitorreceiver] feat: Allow to not split result by dimension
  .chloggen/split-dimensions-optout.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/dimension_test.go
  receiver/azuremonitorreceiver/dimensions.go
  receiver/azuremonitorreceiver/scraper.go
Labels: receiver/azuremonitor, waiting-for-code-owners

#37008 [processor/geoipprocessor] Add `attributes` parameter and consider both `source.address` and `client.address` by default
  .chloggen/geoipprocessor-client-address.yaml
  processor/geoipprocessor/README.md
  processor/geoipprocessor/config.go
  processor/geoipprocessor/config_test.go
  processor/geoipprocessor/factory.go
  processor/geoipprocessor/geoip_processor.go
  processor/geoipprocessor/geoip_processor_test.go
  processor/geoipprocessor/integration_test.go
  processor/geoipprocessor/testdata/config.yaml
  processor/geoipprocessor/testdata/custom_sources/output-metrics.yaml
  processor/geoipprocessor/testdata/record_client_address/input-logs.yaml
  processor/geoipprocessor/testdata/record_client_address/input-metrics.yaml
  processor/geoipprocessor/testdata/record_client_address/input-traces.yaml
  processor/geoipprocessor/testdata/record_client_address/output-logs.yaml
  processor/geoipprocessor/testdata/record_client_address/output-metrics.yaml
  processor/geoipprocessor/testdata/record_client_address/output-traces.yaml
  processor/geoipprocessor/testdata/record_custom_address/input-logs.yaml
  processor/geoipprocessor/testdata/record_custom_address/input-metrics.yaml
  processor/geoipprocessor/testdata/record_custom_address/input-traces.yaml
  processor/geoipprocessor/testdata/record_custom_address/output-logs.yaml
  processor/geoipprocessor/testdata/record_custom_address/output-metrics.yaml
  processor/geoipprocessor/testdata/record_custom_address/output-traces.yaml
  processor/geoipprocessor/testdata/record_source_address/input-logs.yaml
  processor/geoipprocessor/testdata/record_source_address/input-metrics.yaml
  processor/geoipprocessor/testdata/record_source_address/input-traces.yaml
  processor/geoipprocessor/testdata/record_source_address/output-logs.yaml
  processor/geoipprocessor/testdata/record_source_address/output-metrics.yaml
  processor/geoipprocessor/testdata/record_source_address/output-traces.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/input-logs.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/input-metrics.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/input-traces.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/output-logs.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/output-metrics.yaml
  processor/geoipprocessor/testdata/resource_invalid_address/output-traces.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/input-logs.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/input-metrics.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/input-traces.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/output-logs.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/output-metrics.yaml
  processor/geoipprocessor/testdata/resource_no_source_address/output-traces.yaml
  processor/geoipprocessor/testdata/resource_source_address/input-logs.yaml
  processor/geoipprocessor/testdata/resource_source_address/input-metrics.yaml
  processor/geoipprocessor/testdata/resource_source_address/input-traces.yaml
  processor/geoipprocessor/testdata/resource_source_address/output-logs.yaml
  processor/geoipprocessor/testdata/resource_source_address/output-metrics.yaml
  processor/geoipprocessor/testdata/resource_source_address/output-traces.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/input-logs.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/input-metrics.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/input-traces.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/output-logs.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/output-metrics.yaml
  processor/geoipprocessor/testdata/resource_source_address_geo_not_found/output-traces.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/input-logs.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/input-metrics.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/input-traces.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/output-logs.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/output-metrics.yaml
  processor/geoipprocessor/testdata/resource_unspecified_address/output-traces.yaml
Labels: processor/geoip

#35823 [receiver/tlscheck] Implement Scraper
  .chloggen/tlscheckreceiver-implementation.yaml
  receiver/tlscheckreceiver/README.md
  receiver/tlscheckreceiver/config.go
  receiver/tlscheckreceiver/config_test.go
  receiver/tlscheckreceiver/documentation.md
  receiver/tlscheckreceiver/factory.go
  receiver/tlscheckreceiver/factory_test.go
  receiver/tlscheckreceiver/go.mod
  receiver/tlscheckreceiver/go.sum
  receiver/tlscheckreceiver/internal/metadata/generated_config.go
  receiver/tlscheckreceiver/internal/metadata/generated_config_test.go
  receiver/tlscheckreceiver/internal/metadata/generated_metrics.go
  receiver/tlscheckreceiver/internal/metadata/generated_metrics_test.go
  receiver/tlscheckreceiver/internal/metadata/generated_resource.go
  receiver/tlscheckreceiver/internal/metadata/generated_resource_test.go
  receiver/tlscheckreceiver/internal/metadata/testdata/config.yaml
  receiver/tlscheckreceiver/metadata.yaml
  receiver/tlscheckreceiver/scraper.go
  receiver/tlscheckreceiver/scraper_test.go
Labels: ready to merge, receiver/tlscheck

#38430 [pkg/pdatatest] Simplify creating test data for profiles support
  .chloggen/simplify-profiles-testdata.yaml
  pkg/pdatatest/pprofiletest/profiles_test.go
  pkg/pdatatest/pprofiletest/types.go
Labels: pkg/pdatatest

#38414 kafkatopicsobserver: remove session_timeout and heartbeat_interval config
  .chloggen/kafkatopicsobserver-rm-consumerconfig.yaml
  extension/observer/kafkatopicsobserver/README.md
  extension/observer/kafkatopicsobserver/config.go
  extension/observer/kafkatopicsobserver/config_test.go
  extension/observer/kafkatopicsobserver/extension.go
  extension/observer/kafkatopicsobserver/factory.go
  extension/observer/kafkatopicsobserver/testdata/config.yaml
Labels: extension/observer

#38380 Add subtract_initial_point strategy skeleton
  .chloggen/metricstarttime-subtract-initial.yaml
  processor/metricstarttimeprocessor/README.md
  processor/metricstarttimeprocessor/config.go
  processor/metricstarttimeprocessor/config_test.go
  processor/metricstarttimeprocessor/factory.go
  processor/metricstarttimeprocessor/go.mod
  processor/metricstarttimeprocessor/go.sum
  processor/metricstarttimeprocessor/internal/subtractinitial/adjuster.go
  processor/metricstarttimeprocessor/testdata/config.yaml
Labels: processor/metricstarttime

#38204 [chore] enable running ARM builds by default
  .github/workflows/build-and-test-arm.yml
Labels: ci-cd

#38427 [chore][exporter/elasticsearch] docs: otel mapping mode requires ES 8.12+
  exporter/elasticsearchexporter/README.md
Labels: exporter/elasticsearch

#37748 Allow User to Specify Max Connections to DB
  .chloggen/sql-receiver-connection-pool.yaml
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/config.go
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/receiver.go
Labels: receiver/sqlquery

#38428 [pkg/stanza] Remove batching in LogEmitter behind feature gate
  .chloggen/synchronous-logemitter-behind-feature-gate.yaml
  pkg/stanza/README.md
  pkg/stanza/adapter/factory.go
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/adapter/receiver.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/operator/helper/emitter.go
  pkg/stanza/operator/helper/emitter_test.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  processor/logstransformprocessor/processor.go
  receiver/filelogreceiver/benchmark_test.go
  receiver/filelogreceiver/go.mod
Labels: receiver/filelog, processor/logstransform, pkg/stanza

#37443 [pkg/stanza] Add 'regex_replace' operator
  .chloggen/regex-replace.yaml
  pkg/stanza/adapter/register.go
  pkg/stanza/docs/operators/README.md
  pkg/stanza/docs/operators/regex_replace.md
  pkg/stanza/operator/transformer/regexreplace/config.go
  pkg/stanza/operator/transformer/regexreplace/config_test.go
  pkg/stanza/operator/transformer/regexreplace/package_test.go
  pkg/stanza/operator/transformer/regexreplace/testdata/config.yaml
  pkg/stanza/operator/transformer/regexreplace/transformer.go
  pkg/stanza/operator/transformer/regexreplace/transformer_test.go
Labels: pkg/stanza

#38397 [exporter/prometheusremotewrite] Add `endpoint` label to the remote write metrics
  .chloggen/add-endpoint-label-to-remote-write-exporter-metrics.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#38457 [chore][exporter/elasticsearch] Validate config in tests
  exporter/elasticsearchexporter/exporter_test.go
Labels: exporter/elasticsearch

#38416 [chore] extension/observer: move Endpoints{Lister,Watcher} to a new package
  extension/observer/cfgardenobserver/extension.go
  extension/observer/dockerobserver/extension.go
  extension/observer/ecstaskobserver/extension.go
  extension/observer/ecstaskobserver/factory.go
  extension/observer/ecstaskobserver/factory_test.go
  extension/observer/endpoints.go
  extension/observer/endpoints_test.go
  extension/observer/endpointswatcher/doc.go
  extension/observer/endpointswatcher/endpointswatcher.go
  extension/observer/endpointswatcher/endpointswatcher_test.go
  extension/observer/endpointswatcher_test.go
  extension/observer/hostobserver/extension.go
  extension/observer/hostobserver/extension_test.go
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/extension_test.go
  extension/observer/k8sobserver/handler.go
  extension/observer/kafkatopicsobserver/extension.go
  receiver/receivercreator/go.sum
Labels: ready to merge, extension/observer, receiver/receivercreator

#37966 [connector/servicegraph] Set MetricsExpirationLoop default to 60s
  .chloggen/fix_servicegraph-excesive-writes.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
Labels: ready to merge, connector/servicegraph

#38426 [extension/k8s leader elector] Stability level alpha and enable changelog
  .chloggen/update-doc-k8s-leader-elector.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/k8sleaderelector/README.md
  extension/k8sleaderelector/internal/metadata/generated_status.go
  extension/k8sleaderelector/metadata.yaml
Labels: cmd/otelcontribcol, extension/k8sleaderelector

#38452 [pkg/testdata] Add validation functions for test profiles
  .chloggen/profiles-validation.yaml
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/pprofiletest/profiles_test.go
  pkg/pdatatest/pprofiletest/validate.go
  pkg/pdatatest/pprofiletest/validate_test.go
Labels: pkg/pdatatest

#37217 fix(azuremonitorexporter): Fix flushes on each single Span
  .chloggen/fix_azure-monitor-exporter-flush-ddos.yaml
  exporter/azuremonitorexporter/azuremonitor_exporter.go
  exporter/azuremonitorexporter/traceexporter_test.go
Labels: exporter/azuremonitor

#38448 [chore] [pkg/testdata] Fix profiles Sample transformation
  pkg/pdatatest/pprofiletest/types.go
Labels: pkg/pdatatest

#38062 [exporter/awscloudwatchlogsexporter] add external id config for role assumption
  .chloggen/awscloudwatchexporter_external_id.yaml
  exporter/awscloudwatchlogsexporter/README.md
  exporter/awsemfexporter/README.md
  exporter/awsxrayexporter/README.md
  internal/aws/awsutil/awsconfig.go
  internal/aws/awsutil/conn.go
  internal/aws/awsutil/conn_test.go
Labels: ready to merge, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awsxray, internal/aws, waiting-for-code-owners

#38471 [chore] remove old dashboard link from github receiver readme
  receiver/githubreceiver/README.md
Labels: receiver/github

#38475 [chore] [pkg/stanza] move config validation
  pkg/stanza/operator/transformer/regexreplace/config.go
Labels: pkg/stanza

#38403 [chore] reduce API exposed by vcenterreceiver
  receiver/vcenterreceiver/client.go
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper.go
Labels: receiver/vcenter, waiting-for-code-owners

#38467 [chore] cache docker images
  .github/workflows/build-and-test.yml
Labels: ci-cd

#37815 [webhookeventreceiver] add option to include headers as attributes
  .chloggen/webhookeventreceiver-add-option-to-include-headers-as-attributes.yaml
  receiver/webhookeventreceiver/README.md
  receiver/webhookeventreceiver/config.go
  receiver/webhookeventreceiver/factory.go
  receiver/webhookeventreceiver/receiver.go
  receiver/webhookeventreceiver/receiver_test.go
  receiver/webhookeventreceiver/req_to_log.go
  receiver/webhookeventreceiver/req_to_log_test.go
Labels: receiver/webhookevent

#38419 [extension/encoding/awscloudwatchmetricstreams_encoding] Support unmarshalling JSON-formatted CloudWatch Metric Streams
  .chloggen/add-json-cw-metric-stream.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/factory.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.mod
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.sum
  extension/encoding/awscloudwatchmetricstreamsencodingextension/json_unmarshaler.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/json_unmarshaler_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/opentelemetry_unmarshaler.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/opentelemetry_unmarshaler_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/json/invalid_metric.json
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/json/valid_metric.json
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/json/valid_record_multiple_metrics_expected.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/json/valid_record_single_metric_expected.yaml
Labels: extension/encoding

#38466 Do not run arm tests on label
  .github/workflows/build-and-test-arm.yml
Labels: Skip Changelog

#37435 [processor/attributes] validate metrics configuration parameters before processing
  .chloggen/fix-metric-validation.yaml
  internal/filter/filterconfig/config.go
  internal/filter/filterconfig/config_test.go
  internal/filter/filterspan/filterspan_test.go
  processor/attributesprocessor/README.md
  processor/attributesprocessor/config_test.go
  processor/attributesprocessor/factory.go
  processor/attributesprocessor/testdata/config.yaml
  processor/filterprocessor/metrics_test.go
Labels: processor/attributes, processor/filter, internal/filter

#38486 Add ability to process traces
  .chloggen/dinesh.gurumurthy_schema-processor-add-functioality-traces.yaml
  cmd/otelcontribcol/builder-config.yaml
  processor/schemaprocessor/DESIGN.md
  processor/schemaprocessor/README.md
  processor/schemaprocessor/factory.go
  processor/schemaprocessor/internal/translation/manager.go
  processor/schemaprocessor/processor.go
  processor/schemaprocessor/processor_test.go
  processor/schemaprocessor/processor_traces_test.go
  processor/schemaprocessor/transformer.go
Labels: processor/schema, cmd/otelcontribcol

#38480 [receiver/awsecscontainermetrics] migrate to AWS v2 SDK
  .chloggen/ecs-aws-sdk-2.yaml
  receiver/awsecscontainermetricsreceiver/go.mod
  receiver/awsecscontainermetricsreceiver/go.sum
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/metrics_helper.go
Labels: receiver/awsecscontainermetrics

#38493 [chore] Fix addlicense and checklicense Makefile targets
  Makefile.Common
  cmd/telemetrygen/pkg/metrics/aggregation_temporality.go
  receiver/faroreceiver/config.go
  receiver/faroreceiver/reciever.go
  testbed/testbed/load_generator_test.go
Labels: cmd/telemetrygen, testbed, receiver/faro

#37893 [exporter/elasticsearch] Add downsampling for profiling events
  .chloggen/elasticsearch-profiles-downsampling.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/downsampling.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/downsampling_test.go
Labels: exporter/elasticsearch

#38483 [chore] Schedule load-tests
  .github/workflows/load-tests.yml
Labels: ci-cd

#38528 [chore] fix data race in test
  extension/k8sleaderelector/extension_test.go
Labels: extension/k8sleaderelector

#38509 [chore] add a few anonymous struct fields to disallow unkeyed initialization
  connector/exceptionsconnector/config.go
  connector/failoverconnector/config.go
  connector/grafanacloudconnector/config.go
  connector/routingconnector/config.go
  connector/signaltometricsconnector/config/config.go
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/connector_test.go
  connector/sumconnector/config.go
  receiver/azureblobreceiver/config.go
Labels: receiver/azureblob, connector/spanmetrics, connector/routing, connector/exceptions, connector/failover, connector/grafanacloud, connector/sum, connector/signaltometrics

#38415 [chore] Add axw to awsfirehosereceiver codeowners
  .github/CODEOWNERS
  receiver/awsfirehosereceiver/README.md
  receiver/awsfirehosereceiver/metadata.yaml
Labels: receiver/awsfirehose

#38474 [receiver/mysql]fix-issue-38276
  .chloggen/fix-issue-38276.yaml
  receiver/mysqlreceiver/client.go
Labels: receiver/mysql

#38412 [chore] clean up kafkatopicsobserver
  extension/observer/kafkatopicsobserver/config_test.go
  extension/observer/kafkatopicsobserver/extension.go
  extension/observer/kafkatopicsobserver/extension_test.go
  extension/observer/kafkatopicsobserver/testdata/config.yaml
Labels: extension/observer

#38463 [receiver/cloudflare] Fix missing telemetry
  .chloggen/fix-cloudflare-telemetry.yaml
  receiver/cloudflarereceiver/logs.go
Labels: receiver/cloudflare

#38511 [chore] unexport MockServer, used only in component
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
Labels: exporter/alertmanager

#38541 [chore] fix receiverhelper import
  receiver/cloudflarereceiver/go.mod
  receiver/cloudflarereceiver/go.sum
Labels: receiver/cloudflare

#38478 [internal/kafka] migrate to AWS v2 SDK
  .chloggen/kafka-aws-sdk.yaml
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  extension/observer/kafkatopicsobserver/go.mod
  extension/observer/kafkatopicsobserver/go.sum
  internal/kafka/awsmsk/iam_scram_client.go
  internal/kafka/go.mod
  internal/kafka/go.sum
  receiver/kafkametricsreceiver/go.mod
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
Labels: exporter/kafka, receiver/kafka, receiver/kafkametrics, extension/observer, internal/kafka

#38473 [receiver/rabbitmq] Enhancement/rabbitmq Added node level metrics
  .chloggen/rabbitmqreceiver_node_metrics_enhancement.yaml
  receiver/rabbitmqreceiver/README.md
  receiver/rabbitmqreceiver/client.go
  receiver/rabbitmqreceiver/client_test.go
  receiver/rabbitmqreceiver/documentation.md
  receiver/rabbitmqreceiver/internal/metadata/generated_config.go
  receiver/rabbitmqreceiver/internal/metadata/generated_config_test.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics.go
  receiver/rabbitmqreceiver/internal/metadata/generated_metrics_test.go
  receiver/rabbitmqreceiver/internal/metadata/testdata/config.yaml
  receiver/rabbitmqreceiver/internal/mocks/client.go
  receiver/rabbitmqreceiver/internal/models/models.go
  receiver/rabbitmqreceiver/metadata.yaml
  receiver/rabbitmqreceiver/scraper.go
  receiver/rabbitmqreceiver/scraper_test.go
  receiver/rabbitmqreceiver/testdata/apiresponses/get_nodes_response.json
Labels: receiver/rabbitmq

#38424 [kafkatopicsobserver] change kafkatopicsobserver stability to alpha
  .chloggen/feat_mark-kafkatopicsobserver-as-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/observer/kafkatopicsobserver/README.md
  extension/observer/kafkatopicsobserver/internal/metadata/generated_status.go
  extension/observer/kafkatopicsobserver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: reports/distributions/contrib.yaml, extension/observer/kafkatopicsobserver

#38551 remove jaeger testutils dependency in from exporter/logzioexporter
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/go.sum
  exporter/logzioexporter/internal/cache/lru_test.go
Labels: Skip Changelog, exporter/logzio

#38566 [chore] unexport structs from mongodbatlasreceiver
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata.go
  receiver/mongodbatlasreceiver/mongodb_event_to_logdata_test.go
Labels: receiver/mongodbatlas

#38565 [chore] unexport a test struct
  receiver/jmxreceiver/integration_test.go
Labels: receiver/jmx

#38477 [opampsupervisor] Enable emitting logs via the OTel sdk
  .chloggen/opampsupervisor-logs.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  internal/tidylist/tidylist.txt
  testbed/testbed/mock_backend.go
Labels: testbed, cmd/opampsupervisor

#38445 awsfirehosereceiver: ignore CONTROL_MESSAGE log records
  .chloggen/firehose-control-messages.yaml
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/testdata/only_control
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler_test.go
Labels: receiver/awsfirehose

#38569 [chore] Fix CI
  .github/workflows/build-and-test.yml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
Labels: cmd/opampsupervisor

#38562 [chore][receiver/rabbitmqreceiver] Update code ownership - rabbitmq receiver codeowner
  .github/ALLOWLIST
  .github/CODEOWNERS
  receiver/rabbitmqreceiver/README.md
  receiver/rabbitmqreceiver/internal/metadata/generated_status.go
  receiver/rabbitmqreceiver/metadata.yaml
Labels: receiver/rabbitmq

#38571 [chore] tidy up examples
  examples/demo/README.md
  examples/demo/docker-compose.yaml
  examples/kubernetes/README.md
Labels: examples/demo

#38451 [chore] Manual implementation of extensionauth.Client interface
  extension/asapauthextension/extension.go
  extension/basicauthextension/extension.go
  extension/basicauthextension/extension_test.go
  extension/basicauthextension/factory.go
  extension/headerssetterextension/extension.go
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/factory.go
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
  extension/oidcauthextension/factory.go
Labels: extension/oidcauth, extension/asapauth, extension/oauth2clientauth, extension/basicauth, extension/headerssetter

#38567 [chore] update Readme with use cases
  processor/schemaprocessor/README.md
  processor/schemaprocessor/images/collector-pipeline-with-schema-processor.png
  processor/schemaprocessor/images/collector-pipeline.png
Labels: processor/schema

#38492 [exporter/Sematext] Third PR of New component: Sematext Exporter
  .chloggen/sematext-advanced-metrics.yaml
  exporter/sematextexporter/factory.go
  exporter/sematextexporter/go.mod
  exporter/sematextexporter/go.sum
  exporter/sematextexporter/logger.go
  exporter/sematextexporter/writer.go
  exporter/sematextexporter/writer_test.go
Labels: exporter/sematext

#37408 [pkg/ottl] adapt `mapGetter` to handle nested map items within slices
  .chloggen/ottl-nested-map-literals.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/expression.go
  pkg/ottl/expression_test.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: pkg/ottl

#38580 Update vcenter receiver integration test for new release
  receiver/vcenterreceiver/integration_test.go
Labels: receiver/vcenter

#38581 [chore] Fix a flaky prometheus test
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
Labels: pkg/translator/prometheusremotewrite

#33875 [receiver/prometheus] feat: add Prometheus API server
  .chloggen/prometheusreceiverapiserver.yaml
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/config_test.go
  receiver/prometheusreceiver/factory_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metricsreceiver_api_server_test.go
  receiver/prometheusreceiver/testdata/config_prometheus_api_server.yaml
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, receiver/prometheus, exporter/prometheus, receiver/simpleprometheus, receiver/purefa, testbed, receiver/purefb, connector/datadog

#36918 Introduce datadogsemanticsprocessor component with mappings for OTLP-…
  .chloggen/ibraheem_traces-only-dd-semantic-processor.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  internal/tidylist/tidylist.txt
  processor/datadogsemanticsprocessor/Makefile
  processor/datadogsemanticsprocessor/README.md
  processor/datadogsemanticsprocessor/config.go
  processor/datadogsemanticsprocessor/doc.go
  processor/datadogsemanticsprocessor/factory.go
  processor/datadogsemanticsprocessor/generated_component_test.go
  processor/datadogsemanticsprocessor/generated_package_test.go
  processor/datadogsemanticsprocessor/go.mod
  processor/datadogsemanticsprocessor/go.sum
  processor/datadogsemanticsprocessor/internal/metadata/generated_status.go
  processor/datadogsemanticsprocessor/metadata.yaml
  processor/datadogsemanticsprocessor/processor.go
  processor/datadogsemanticsprocessor/processor_test.go
  reports/distributions/contrib.yaml
  versions.yaml
Labels: Accepted Component, cmd/otelcontribcol, never stale, reports/distributions/contrib.yaml, receiver/tcpcheck

#38482 [chore] internal/kafka: introduce configkafka package
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  extension/observer/kafkatopicsobserver/config.go
  extension/observer/kafkatopicsobserver/config_test.go
  extension/observer/kafkatopicsobserver/extension.go
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  internal/kafka/client.go
  internal/kafka/client_test.go
  internal/kafka/configkafka/config.go
  internal/kafka/configkafka/config_test.go
  internal/kafka/configkafka/testdata/client_config.yaml
  internal/kafka/configkafka/testdata/consumer_config.yaml
  internal/kafka/configkafka/testdata/producer_config.yaml
  internal/kafka/go.mod
  internal/kafka/go.sum
  receiver/kafkametricsreceiver/config.go
  receiver/kafkametricsreceiver/config_test.go
  receiver/kafkametricsreceiver/go.sum
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: exporter/kafka, receiver/kafka, receiver/kafkametrics, extension/observer, internal/kafka

#38441 [extension/header_setter] Expose auth attributes
  .chloggen/feature-headersetter-auth-attr.yaml
  extension/headerssetterextension/README.md
  extension/headerssetterextension/config.go
  extension/headerssetterextension/extension.go
  extension/headerssetterextension/internal/source/attribute.go
  extension/headerssetterextension/internal/source/attribute_test.go
Labels: ready to merge, extension/headerssetter, waiting-for-code-owners

#38516 [extension/awscloudwatchmetricstreamsencodingextension] Add support for opentelemetry1.0 format
  .chloggen/add-opentelemetry-cwmetricstream.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/extension_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/json_unmarshaler.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/opentelemetry_unmarshaler.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/opentelemetry_unmarshaler_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/opentelemetry1/valid_metric.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/opentelemetry1/valid_metric_multiple_expected.yaml
  extension/encoding/awscloudwatchmetricstreamsencodingextension/testdata/opentelemetry1/valid_metric_single_expected.yaml
Labels: extension/encoding

#37860 [exporter/elasticsearch] add dynamic document pipeline support
  .chloggen/elasticsearchexporter_logs_pipeline_per_event.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/internal/elasticsearch/attribute.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/common.go
Labels: ready to merge, exporter/elasticsearch
