Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-07, with the labels that each got.

#40809 fix(awsxrayexporter): fix http url generation with url.path and url.query
  .chloggen/fix_awsxrayexporter_trace.yaml
  exporter/awsxrayexporter/internal/translator/http.go
  exporter/awsxrayexporter/internal/translator/http_test.go
Labels: exporter/awsxray

#41035 [chore] fix code owners
  .github/CODEOWNERS
  internal/exp/metrics/metadata.yaml
  processor/deltatocumulativeprocessor/README.md
  processor/deltatocumulativeprocessor/metadata.yaml
  processor/intervalprocessor/README.md
  processor/intervalprocessor/metadata.yaml
Labels: ci-cd, processor/interval, processor/deltatocumulative, internal/exp/metrics

#41005 receiver/prometheusremotewrite: Correctly handle metrics without type metadata
  .chloggen/prwreceiver-unspecified-types.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#41036 [receiver/receivercreator] Fix incorrect condition in filterConsumerSignals for traces filtering
  .chloggen/fix-filter-consumer-signals.yaml
  receiver/receivercreator/observerhandler.go
  receiver/receivercreator/observerhandler_test.go
Labels: receiver/receivercreator

#41014 awslogsencodingextension: Alpha stability
  .chloggen/awslogsencodingextension-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/internal/metadata/generated_status.go
  extension/encoding/awslogsencodingextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, extension/encoding/awslogsencoding

#41070 [chore][cmd/opampsupervisor] Don't use SIGHUP in Windows tests
  cmd/opampsupervisor/e2e_test.go
Labels: Run Windows, cmd/opampsupervisor

#40943 [receiver/sqlserver] add integration test and fix one config bug
  .chloggen/sqlserver-integration-test.yaml
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
  receiver/sqlserverreceiver/integration_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/integration/01-init.sh
Labels: receiver/sqlserver, Run Windows

#41093 internal/kafka: fix Sarama client ID configuration
  .chloggen/internal-kafka-clientid.yaml
  internal/kafka/client.go
  internal/kafka/client_test.go
Labels: internal/kafka

#41094 [connector/servicegraph] - Remove deprecated field
  .chloggen/servicegraph-connector-remove-deprecated.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/config_test.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/testdata/service-graph-connector-config.yaml
Labels: connector/servicegraph

#40947 [exporter/elasticsearch] Profiling: Duplicate events if count > 1
  .chloggen/elasticsearchexporter-profiling-duplicate-events.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
Labels: exporter/elasticsearch, waiting-for-code-owners

#40960 [exporter/elasticsearch] Profiling: Fix interpreting locations
  .chloggen/elasticsearchexporter-fix-locations.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
Labels: exporter/elasticsearch

#40243 [pkg/ottl] Add `GetOr` function to `ottl.Optional`
  .chloggen/add-ottl-optional-getor.yaml
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
Labels: pkg/ottl, waiting-for-code-owners

#41060 [chore] [processor/coralogix] Add iblancasa as codeowner for coralogix processor
  .github/CODEOWNERS
  processor/coralogixprocessor/README.md
  processor/coralogixprocessor/metadata.yaml
Labels: processor/coralogix

#40967 [exporter/elasticsearch] Profiling: Fix event attributes
  .chloggen/elasticsearchexporter-fix-event-attributes.yaml
  .chloggen/elasticsearchexporter-store-service-name.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/model.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
Labels: exporter/elasticsearch

#41063 [processor/coralogix] Promote traces support to alpha
  .chloggen/41061.yaml
  cmd/otelcontribcol/builder-config.yaml
  processor/coralogixprocessor/README.md
  processor/coralogixprocessor/internal/metadata/generated_status.go
  processor/coralogixprocessor/metadata.yaml
Labels: cmd/otelcontribcol, processor/coralogix

#41134 [chore][exporter/datadog] Add tests verifying the current behavior for stats metrics
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/testdata/metrics_stats.json
Labels: exporter/datadog

#40295 [cmd/opampsupervisor] Make configuration merge more customizable through special config files
  .chloggen/supervisor-special-config-merge-order.yaml
  .chloggen/supervisor-special-config.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/extratelemetryconfig.yaml
  cmd/opampsupervisor/testdata/collector/healthcheck_config.tmpl.yaml
Labels: cmd/opampsupervisor

#40626 [receiver/mysql] Add mysql.max_used_connections metric
  .chloggen/mysql-max-used-connections.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_config.go
  receiver/mysqlreceiver/internal/metadata/generated_config_test.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/mysqlreceiver/internal/metadata/testdata/config.yaml
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql, waiting-for-code-owners

#41032 [receiver/sqlserver] Adding 'sqlserver.cpu.count' metric
  .chloggen/nenadnoveljic_sqlserver-cpu-count.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
  receiver/sqlserverreceiver/testdata/expectedPropertiesRemoveServerResourceAttributes.yaml
Labels: receiver/sqlserver, Run Windows

#41041 [OTAGENT-412] Updated modules adding ability for serialize exporter to set proxy variables
  .chloggen/tim.liakh-serializer-exporter-ignoring-proxy-fix.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog, connector/datadog

#41147 [chore][extension/datadog] skip a flaky test
  extension/datadogextension/internal/httpserver/httpserver_test.go
Labels: Run Windows, extension/datadog

#40622 [receiver/postgresql] collect query samples only after the newest query sample
  .chloggen/only-query-after-last-result.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/templates/querySampleTemplate.tmpl
  receiver/postgresqlreceiver/testdata/scraper/query-sample/expectedSql.sql
Labels: ready to merge, receiver/postgresql

#40860 [chore] Add warning section for k8sattributes processor
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/metadata.yaml
Labels: processor/k8sattributes

#41042 Move receiver.kubeletstats.enableCPUUsageMetrics feature gate to stable
  .chloggen/cpu_usage_fg_stable.yaml
  receiver/kubeletstatsreceiver/README.md
  receiver/kubeletstatsreceiver/factory.go
Labels: receiver/kubeletstats

#41148 [chore] Update otel-arrow dependency module name
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  exporter/otelarrowexporter/internal/arrow/common_test.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/otelarrowexporter/internal/arrow/exporter_test.go
  exporter/otelarrowexporter/internal/arrow/stream.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/otelarrowexporter/otelarrow.go
  exporter/otelarrowexporter/otelarrow_test.go
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  internal/otelarrow/test/e2e_test.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/internal/arrow/arrow.go
  receiver/otelarrowreceiver/internal/arrow/arrow_test.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/otelarrowreceiver/otelarrow_test.go
Labels: exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#41170 Upgrade to backoff/v5 the easy usages
  exporter/alertmanagerexporter/config_test.go
  exporter/alertmanagerexporter/go.mod
  exporter/alertmanagerexporter/go.sum
  exporter/awscloudwatchlogsexporter/config_test.go
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awskinesisexporter/config_test.go
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/go.mod
  exporter/datasetexporter/config.go
  exporter/datasetexporter/go.mod
  exporter/dorisexporter/config_test.go
  exporter/dorisexporter/go.mod
  exporter/dorisexporter/go.sum
  exporter/influxdbexporter/config_test.go
  exporter/influxdbexporter/go.mod
  exporter/influxdbexporter/go.sum
  exporter/lokiexporter/config_test.go
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/mezmoexporter/config_test.go
  exporter/mezmoexporter/go.mod
  exporter/mezmoexporter/go.sum
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  exporter/pulsarexporter/config_test.go
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/sapmexporter/config_test.go
  exporter/sapmexporter/go.mod
  exporter/sapmexporter/go.sum
  exporter/sematextexporter/config_test.go
  exporter/sematextexporter/go.mod
  exporter/sematextexporter/go.sum
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/go.sum
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/go.mod
  exporter/syslogexporter/factory_test.go
  exporter/syslogexporter/go.mod
  exporter/syslogexporter/go.sum
  exporter/zipkinexporter/config_test.go
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.sum
  receiver/signalfxreceiver/go.sum
  receiver/simpleprometheusreceiver/go.sum
Labels: Skip Changelog, exporter/clickhouse, exporter/loki, exporter/influxdb, exporter/prometheusremotewrite, receiver/prometheus, exporter/awscloudwatchlogs, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awskinesis, exporter/sapm, exporter/prometheus, exporter/zipkin, exporter/mezmo, receiver/signalfx, receiver/simpleprometheus, receiver/purefa, receiver/purefb, exporter/syslog, exporter/dataset, exporter/alertmanager, exporter/doris, exporter/sematext

#41177 [cmd/opampsupervisor] Don't accept remote config if not capable
  .chloggen/fix-supervisor-config-compose.yaml
  cmd/opampsupervisor/.gitignore
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#41125 [chore][receiver/prometheus]: remove workaround for Prom issue 16217
  receiver/prometheusreceiver/internal/transaction.go
Labels: receiver/prometheus

#41189 [chore] Change verbosity for log messages
  processor/coralogixprocessor/internal/transactions/trasactions.go
Labels: Skip Changelog, processor/coralogix

#40993 [exporter/tinybird] implement logs propagation
  .chloggen/exporter-tinybird-logs-implementation.yaml
  exporter/tinybirdexporter/config.go
  exporter/tinybirdexporter/config_test.go
  exporter/tinybirdexporter/exporter.go
  exporter/tinybirdexporter/exporter_test.go
  exporter/tinybirdexporter/factory.go
  exporter/tinybirdexporter/go.mod
  exporter/tinybirdexporter/go.sum
  exporter/tinybirdexporter/internal/encoder.go
  exporter/tinybirdexporter/internal/logs.go
  exporter/tinybirdexporter/internal/logs_test.go
  exporter/tinybirdexporter/internal/utils.go
  exporter/tinybirdexporter/testdata/config.yaml
Labels: exporter/tinybird

#40728 [pkg/stanza]: fix operator field config validation
  .chloggen/operator_field_config_validation.yaml
  pkg/stanza/entry/field.go
  pkg/stanza/entry/nil_field.go
  pkg/stanza/operator/helper/bytesize_test.go
  pkg/stanza/operator/helper/writer_test.go
  pkg/stanza/operator/input/file/config_test.go
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/tcp/config_test.go
  pkg/stanza/operator/input/udp/config_test.go
  pkg/stanza/operator/operatortest/confmap.go
  pkg/stanza/operator/parser/syslog/config_test.go
  pkg/stanza/operator/transformer/assignkeys/config_test.go
  pkg/stanza/operator/transformer/copy/config.go
  pkg/stanza/operator/transformer/copy/config_test.go
  pkg/stanza/operator/transformer/copy/testdata/config.yaml
  pkg/stanza/operator/transformer/flatten/config_test.go
  pkg/stanza/operator/transformer/move/config.go
  pkg/stanza/operator/transformer/move/config_test.go
  pkg/stanza/operator/transformer/move/testdata/config.yaml
  pkg/stanza/operator/transformer/recombine/config_test.go
  pkg/stanza/operator/transformer/remove/config.go
  pkg/stanza/operator/transformer/remove/config_test.go
  pkg/stanza/operator/transformer/remove/rootable_field.go
  pkg/stanza/operator/transformer/remove/testdata/config.yaml
  pkg/stanza/operator/transformer/remove/transformer_test.go
  pkg/stanza/pipeline/config_test.go
Labels: pkg/stanza

#41188 [exporter/elasticsearch] Fix incorrect retry backoff duration calculation
  .chloggen/elasticsearchexporter_fix-incorrect-retry-backoff.yaml
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
Labels: exporter/elasticsearch

#41069 [sumologicprocessor] unexport NestingProcessor
  .chloggen/unexport-sumologic-nesting-processor.yaml
  processor/sumologicprocessor/fuzz_test.go
  processor/sumologicprocessor/nesting_processor.go
Labels: processor/sumologic

#41205 [chore][pkg/pdatatest] Fix Attribute.Transform() by using pprofile.PutAttribute()
  pkg/pdatatest/pprofiletest/types.go
Labels: pkg/pdatatest

#41197 [chore] Make Test_WindowsPerfCounterScraper more resilient
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: Skip Changelog, receiver/windowsperfcounters, Run Windows

#40786 [pkg/ottl] A new OTTL function `ParseInt`
  .chloggen/ottl-add-parseint-function.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_parse_int.go
  pkg/ottl/ottlfuncs/func_parse_int_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl, waiting-for-code-owners

#40740 [exporter/syslogexporter] Add support for Unix sockets
  .chloggen/syslogexporter-unix-socket-support.yaml
  exporter/syslogexporter/README.md
  exporter/syslogexporter/config.go
  exporter/syslogexporter/config_test.go
  exporter/syslogexporter/examples/config_with_syslog_receiver_network_unix.yaml
  exporter/syslogexporter/exporter_test.go
  exporter/syslogexporter/sender.go
Labels: ready to merge, exporter/syslog

#40586 prometheusremotewriteexpoter: add WAL bytes read/write metrics.
  .chloggen/sujal_shah_prometheusremotewriteexporter_feat-add-wal-bytes-metrics.yaml
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#40932 [encoding/jsonlogencodingextension] Add array_mode config to jsonlogencodingextension
  .chloggen/feat_processing-mode-for-json-enc-ext.yaml
  extension/encoding/jsonlogencodingextension/README.md
  extension/encoding/jsonlogencodingextension/config.go
  extension/encoding/jsonlogencodingextension/extension.go
  extension/encoding/jsonlogencodingextension/factory.go
  extension/encoding/jsonlogencodingextension/go.mod
  extension/encoding/jsonlogencodingextension/go.sum
  extension/encoding/jsonlogencodingextension/json_test.go
  extension/encoding/jsonlogencodingextension/testdata/array_mode_multi_log.yml
  extension/encoding/jsonlogencodingextension/testdata/array_mode_single_log.yml
  extension/encoding/jsonlogencodingextension/testdata/json_mode_ndjson_log.yml
  extension/encoding/jsonlogencodingextension/testdata/json_mode_single_log.yml
Labels: ready to merge, extension/encoding/jsonlogencoding

#39961 Remove deprecated batcher config for splunkhecexporter, use sending_queue
  .chloggen/rm-batcher-splunk.yaml
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory.go
  exporter/splunkhecexporter/factory_test.go
  exporter/splunkhecexporter/testdata/config.yaml
Labels: exporter/splunkhec

#41209 [chore][sqlserver/receiver] Correct 'CompareMetrics' parameters order
  receiver/sqlserverreceiver/scraper_test.go
Labels: receiver/sqlserver, Run Windows

#41101 [connector/spanmetrics] - Explictly mark the field as deprecated
  .chloggen/span-metrics-connector-deprecated.yaml
  connector/spanmetricsconnector/config.go
Labels: connector/spanmetrics

#41074 [chore] pdata/pprofile: remove field Profile.StartTime
  extension/encoding/otlpencodingextension/extension_test.go
  internal/coreinternal/testdata/profile.go
  pkg/pdatatest/pprofiletest/options.go
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/pprofiletest/profiles_test.go
Labels: Skip Changelog, internal/core, pkg/pdatatest, extension/encoding/otlpencoding

#41232 [chore] Update multimod to v0.24.0
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#40701 [receiver/faro] guarantee level is set for faro logs
  .chloggen/elliot_add-level-to-faro-logs.yaml
  pkg/translator/faro/keyval.go
  pkg/translator/faro/logs_to_faro_test.go
  pkg/translator/faro/testdata/actions-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-slice-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-string-payload/plogs.yaml
  pkg/translator/faro/testdata/general/plogs.yaml
  pkg/translator/faro/testdata/multiple-log-records-same-resource/plogs.yaml
  pkg/translator/faro/testdata/standard-payload/payload.json
  pkg/translator/faro/testdata/standard-payload/plogs.yaml
  receiver/faroreceiver/testdata/golden/minimal-logs-only.yaml
Labels: ready to merge, receiver/faro, pkg/translator/faro

#41237 [chore] [receiver/splunkenterprise] Increase test coverage
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: Skip Changelog, receiver/splunkenterprise

#41218 [receiver/postgresql] Enable connection pooling by default
  .chloggen/postgres-client-pool-fg-alpha.yaml
  receiver/postgresqlreceiver/client_factory.go
Labels: receiver/postgresql

#41244 [exporter/loadbalancing] small refactor of k8s resolver tests
  exporter/loadbalancingexporter/resolver_k8s_test.go
Labels: Skip Changelog, exporter/loadbalancing

#41006 [chore] receiver/prometheusremotewrite: Add documentation about how to configure Prometheus and known limitations
  receiver/prometheusremotewritereceiver/README.md
Labels: ready to merge, receiver/prometheusremotewrite

#41251 [receiver/prometheus] Cleanup and restructure README
  receiver/prometheusreceiver/README.md
Labels: Skip Changelog, receiver/prometheus

#41254 [exporter/elasticsearch] Add internal telemetry for bulk indexer
  .chloggen/38610_additional_es_telemetry.yaml
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/documentation.md
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/internal/metadata/generated_telemetry.go
  exporter/elasticsearchexporter/internal/metadata/generated_telemetry_test.go
  exporter/elasticsearchexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/elasticsearchexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/elasticsearchexporter/metadata.yaml
Labels: ready to merge, exporter/elasticsearch

#41264 [exporter/splunkhec] [chore] Update to the latest collector core API
  exporter/splunkhecexporter/config.go
Labels: exporter/splunkhec

#40998 Performance improvements for the metricstarttime processor
  processor/metricstarttimeprocessor/go.mod
  processor/metricstarttimeprocessor/internal/subtractinitial/adjuster.go
  processor/metricstarttimeprocessor/internal/testhelper/util.go
Labels: enhancement, ready to merge, Skip Changelog, processor/metricstarttime

#41271 [exporter/loadbalancing] Use Linear probing to deal with hash collisions, and increase uniformity of endpoint distribution
  .chloggen/jmoe_41200-improve-variance.yaml
  exporter/loadbalancingexporter/consistent_hashing.go
  exporter/loadbalancingexporter/consistent_hashing_test.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/metric_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_id/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_service_name/input.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/resource_service_name/output.yaml
  exporter/loadbalancingexporter/testdata/metrics/consume_metrics/triple_endpoint/stream_id/output.yaml
Labels: exporter/loadbalancing

#41214 [chore] [receiver/sqlserver] Streamline obfuscate usage
  receiver/sqlserverreceiver/obfuscate.go
  receiver/sqlserverreceiver/obfuscate_test.go
  receiver/sqlserverreceiver/scraper.go
Labels: Skip Changelog, receiver/sqlserver, Run Windows

#40819 [exporter/dorisexporter] fix ddl for doris 3.0.6 and 2.1.10
  .chloggen/doris306.yaml
  exporter/dorisexporter/config.go
  exporter/dorisexporter/exporter_traces.go
Labels: Stale, exporter/doris

#40878 [receiver/github] add repository custom properties as resource attributes
  .chloggen/githubreceiver-add-repository-custom-properties.yaml
  receiver/githubreceiver/README.md
  receiver/githubreceiver/model.go
  receiver/githubreceiver/model_test.go
  receiver/githubreceiver/testdata/workflow-job-expected.yaml
  receiver/githubreceiver/testdata/workflow-run-expected.yaml
Labels: receiver/github

#40571 [receiver/awscloudwatch]: fix issue with polling of deleted log group while polling
  .chloggen/fix_log-group-deletion.yaml
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
Labels: receiver/awscloudwatch

#41248 Exporter tinybird traces implementation
  .chloggen/exporter-tinybird-traces-implementation.yaml
  exporter/tinybirdexporter/exporter.go
  exporter/tinybirdexporter/exporter_test.go
  exporter/tinybirdexporter/internal/traces.go
  exporter/tinybirdexporter/internal/traces_test.go
Labels: exporter/tinybird

#39974 [processor/transform] Add support for profiles
  .chloggen/profiles-transformprocessor.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/factory.go
  processor/transformprocessor/factory_test.go
  processor/transformprocessor/functions.go
  processor/transformprocessor/go.mod
  processor/transformprocessor/go.sum
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/profiles.go
  processor/transformprocessor/internal/profiles/functions.go
  processor/transformprocessor/internal/profiles/functions_test.go
  processor/transformprocessor/internal/profiles/package_test.go
  processor/transformprocessor/internal/profiles/processor.go
  processor/transformprocessor/internal/profiles/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform, pkg/pdatatest, waiting-for-code-owners

#41278 Shutdown telemetry builder on expoter shutdown
  .chloggen/esexporter-telemetrybuilder-shutdown.yaml
  exporter/elasticsearchexporter/exporter.go
Labels: Skip Changelog, exporter/elasticsearch

#41286 use the timestamp of the initial point as the start timestamp for future points
  .chloggen/metricstarttime-fix.yaml
  processor/metricstarttimeprocessor/internal/subtractinitial/adjuster.go
  processor/metricstarttimeprocessor/internal/subtractinitial/adjuster_test.go
Labels: ready to merge, processor/metricstarttime

#41102 [receiver/sqlserver] Make queries compatible with Azure SQL Database …
  .chloggen/support-azure-sqlserver.yaml
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/testdata/databaseIOQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/databaseIOQueryWithoutInstanceName.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithoutInstanceName.txt
Labels: receiver/sqlserver, Run Windows, waiting-for-code-owners

#40969 [receiver/postgresql] Adding `postgresql.function.calls` metric
  .chloggen/pg-function-metrics.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
Labels: receiver/postgresql

#41316 docs(rabbitmqreceiver): fix indentation of metrics block in README
  receiver/rabbitmqreceiver/README.md
Labels: documentation, Skip Changelog, receiver/rabbitmq

#41312 [receiver/oracledb] Support query-level log collection - Query samples implementation
  .chloggen/oracledbreceiver-query-samples.yaml
  receiver/oracledbreceiver/config.go
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/factory.go
  receiver/oracledbreceiver/internal/metadata/generated_config.go
  receiver/oracledbreceiver/internal/metadata/generated_logs.go
  receiver/oracledbreceiver/internal/metadata/generated_logs_test.go
  receiver/oracledbreceiver/internal/metadata/testdata/config.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/oracledbreceiver/templates/oracleQuerySampleSql.tmpl
  receiver/oracledbreceiver/testdata/config.yaml
  receiver/oracledbreceiver/testdata/expectedSamplesFile.yaml
Labels: receiver/oracledb

#41262 [exporter/awss3exporter] Fixed sumo_ic panic error when enabled with other exporters
  .chloggen/sumoIC.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/sumo_marshaler.go
  exporter/awss3exporter/sumo_marshaler_test.go
Labels: exporter/awss3

#41337 [chore] Set more reasonable update-otel retry parameters
  .github/workflows/update-otel.yaml
Labels: ci-cd

#41341 [chore][exporter/elasticsearch] Fix flaky retry test due to race
  exporter/elasticsearchexporter/exporter_test.go
Labels: exporter/elasticsearch

#41339 [chore] Remove changelog subtext of support-azure-sqlserver PR
  .chloggen/support-azure-sqlserver.yaml
Labels: internal/tools

#41346 [chore] upgrade github.com/DataDog/datadog-agent/pkg/obfuscate to v0.68.0
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  processor/datadogsemanticsprocessor/go.mod
  processor/datadogsemanticsprocessor/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/oracledbreceiver/generated_package_test.go
  receiver/oracledbreceiver/go.mod
  receiver/oracledbreceiver/go.sum
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/obfuscate.go
  receiver/postgresqlreceiver/generated_package_test.go
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/obfuscate.go
  receiver/sqlserverreceiver/generated_package_test.go
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/obfuscate.go
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, exporter/datadog, receiver/sqlserver, receiver/postgresql, Run Windows, receiver/oracledb, testbed, receiver/datadog, connector/datadog, processor/datadogsemantics

#40544 [receiver/cloudflarereceiver]: support unixnano format timestamp
  .chloggen/cloudflarereceiver_support_unixnano_timestamp.yaml
  receiver/cloudflarereceiver/README.md
  receiver/cloudflarereceiver/config.go
  receiver/cloudflarereceiver/config_test.go
  receiver/cloudflarereceiver/factory.go
  receiver/cloudflarereceiver/logs.go
  receiver/cloudflarereceiver/logs_integration_test.go
  receiver/cloudflarereceiver/logs_test.go
  receiver/cloudflarereceiver/testdata/config.yaml
Labels: ready to merge, receiver/cloudflare

#40953 [receivers/libhoney] Add metadata handling to libhoney receiver
  .chloggen/libhoney-handle-metadata.yaml
  receiver/libhoneyreceiver/go.mod
  receiver/libhoneyreceiver/receiver.go
  receiver/libhoneyreceiver/receiver_test.go
Labels: receiver/libhoney

#40751 [s3exporter] Add uuidv7 support
  .chloggen/feature_s3exporter-uuidv7.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/go.mod
  exporter/awss3exporter/internal/upload/partition.go
  exporter/awss3exporter/internal/upload/partition_test.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/testdata/config-s3_unique_key_func.yaml
Labels: ready to merge, exporter/awss3

#40856 [processor/metricstransformprocessor] unexport struct metricstransformprocessor
  .chloggen/fix_unexport_struct_processor_metricstransformprocessor.yaml
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/config_test.go
  processor/metricstransformprocessor/factory.go
  processor/metricstransformprocessor/factory_test.go
  processor/metricstransformprocessor/metrics_transform_processor.go
  processor/metricstransformprocessor/metrics_transform_processor_testcases_test.go
Labels: Stale, processor/metricstransform

#41211 [chore][exporter/elasticsearch] Refactor otel mapping mode tests
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/utils_test.go
Labels: exporter/elasticsearch

#41210 [chore]: enable weakCond rule from go-critic
  .golangci.yml
  extension/encoding/textencodingextension/text.go
  receiver/collectdreceiver/collectd.go
Labels: receiver/collectd, extension/encoding/textencoding

#41217 kafkaexporter: Improve internal metrics telemetry consistency, measure latency in seconds
  .chloggen/kafkaexporter-internal-telemetry-metrics-measure-latency-in-seconds.yaml
  exporter/kafkaexporter/documentation.md
  exporter/kafkaexporter/internal/kafkaclient/franzgo_metrics.go
  exporter/kafkaexporter/internal/kafkaclient/franzgo_metrics_test.go
  exporter/kafkaexporter/internal/kafkaclient/sarama_metrics.go
  exporter/kafkaexporter/internal/kafkaclient/sarama_metrics_test.go
  exporter/kafkaexporter/internal/metadata/generated_telemetry.go
  exporter/kafkaexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/kafkaexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/kafkaexporter/metadata.yaml
Labels: exporter/kafka

#41261 [receiver/awscloudwatch]: fix ensure close on storage clients opened by the awscloudwatchreceiver
  .chloggen/feat_close-aws-storage-client.yaml
  receiver/awscloudwatchreceiver/logs.go
  receiver/awscloudwatchreceiver/logs_test.go
  receiver/awscloudwatchreceiver/persister.go
  receiver/awscloudwatchreceiver/persister_test.go
Labels: receiver/awscloudwatch

#41089 [feat] receiver/prometheusremotewrite: Add support for NHCB
  .chloggen/prwreceiver-cbnh.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: waiting-for-code-owners, receiver/prometheusremotewrite

#41034 [prometheusremotewritereceiver] promote to alpha
  .chloggen/promote-prwreceiver-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/prometheusremotewritereceiver/README.md
  receiver/prometheusremotewritereceiver/internal/metadata/generated_status.go
  receiver/prometheusremotewritereceiver/metadata.yaml
Labels: cmd/otelcontribcol, receiver/prometheusremotewrite

#40805 [documentation] - Add detailed triaging process
  issue-triaging.md
Labels: ready to merge, Skip Changelog

#40982 [receiver/prometheus] retry connections to targetallocator
  .chloggen/prom-receiver-retry-connection-refused.yaml
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/purefareceiver/go.mod
  receiver/purefbreceiver/go.mod
  receiver/simpleprometheusreceiver/go.mod
Labels: ready to merge, receiver/prometheus, receiver/simpleprometheus, receiver/purefa, receiver/purefb

#40866 Prom rw exporter, rw2 generate metrics from written headers
  .chloggen/jm-prom-rw-exporter-rw2-generate-metrics-from-written-headers.yaml
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_v2.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
Labels: ready to merge, exporter/prometheusremotewrite

#40954 feat: add support for jmx-scraper JARs
  .chloggen/add_support_jmx_scraper.yaml
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/config.go
  receiver/jmxreceiver/config_test.go
  receiver/jmxreceiver/integration_test.go
  receiver/jmxreceiver/receiver.go
  receiver/jmxreceiver/receiver_test.go
  receiver/jmxreceiver/supported_jars.go
  receiver/jmxreceiver/testdata/config.yaml
  receiver/jmxreceiver/testdata/fake_jmx_scraper.jar
  receiver/jmxreceiver/testdata/integration/1.46.0-alpha-scraper-custom-jmxconfig/expected.yaml
  receiver/jmxreceiver/testdata/integration/1.46.0-alpha-scraper-custom-jmxconfig/simple-cassandra.yaml
  receiver/jmxreceiver/testdata/integration/1.46.0-alpha-scraper/expected.yaml
Labels: receiver/jmx

#41328 [extension/redisstorage] fix get operation in batches
  .chloggen/codeboten_fix-redis-batching.yaml
  extension/storage/redisstorageextension/extension.go
  extension/storage/redisstorageextension/extension_test.go
Labels: extension/storage/redisstorage

#41355 [chore]: enable yodaStyleExpr rule from go-critic
  .golangci.yml
  receiver/aerospikereceiver/integration_test.go
  receiver/pulsarreceiver/pulsar_receiver.go
Labels: receiver/aerospike, receiver/pulsar

#41229 [receiver/simpleprometheus] Document `labels` config attribute
  receiver/simpleprometheusreceiver/README.md
  receiver/simpleprometheusreceiver/examples/federation/otel-collector-config.yml
Labels: ready to merge, Skip Changelog, receiver/simpleprometheus

#41275 [chore][pkg/ottl]: drop duplicate interface `ProfileContext`
  pkg/ottl/contexts/internal/ctxprofile/profile.go
Labels: pkg/ottl

#41313 [exporter/bmchelix] enhance metric name disambiguation using attributes
  .chloggen/bmchelixexporter_enhance_metric_name_disambiguation_with_attributes.yaml
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_producer.go
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_producer_test.go
Labels: waiting-for-code-owners, exporter/bmchelix

#41384 [chore]: enable preferStringWriter and preferFprint rules from go-critic
  .golangci.yml
  exporter/elasticsearchexporter/integrationtest/collector.go
  exporter/elasticsearchexporter/internal/metricgroup/hasher.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/metrics.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/benchmark_test.go
  extension/oidcauthextension/extension_test.go
  pkg/stanza/fileconsumer/rotation_test.go
  receiver/jmxreceiver/internal/subprocess/integration_test.go
  receiver/jmxreceiver/receiver.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/correctnesstests/metrics/results.go
  testbed/testbed/in_process_collector.go
  testbed/testbed/results.go
Labels: receiver/jmx, receiver/prometheus, exporter/elasticsearch, extension/oidcauth, testbed, pkg/stanza/fileconsumer, extension/encoding/awslogsencoding

#41372 [chore]: enable sprintfQuotedString rule from go-critic
  .golangci.yml
  confmap/provider/secretsmanagerprovider/provider_test.go
  exporter/awss3exporter/exporter_test.go
  exporter/splunkhecexporter/client_test.go
  exporter/syslogexporter/rfc5424_formatter.go
  pkg/ottl/context_inferrer.go
  pkg/pdatatest/plogtest/logs.go
  pkg/pdatatest/pmetrictest/metrics.go
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/ptracetest/traces.go
  pkg/stanza/entry/attribute_field_test.go
  pkg/stanza/entry/body_field_test.go
  pkg/stanza/entry/resource_field_test.go
  processor/routingprocessor/config.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/extractors/extractor_helpers_test.go
  receiver/awscontainerinsightreceiver/internal/k8sapiserver/k8sapiserver.go
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
  receiver/filelogreceiver/filelog_test.go
  receiver/googlecloudmonitoringreceiver/receiver.go
  receiver/libhoneyreceiver/receiver.go
  receiver/mongodbatlasreceiver/access_logs_test.go
  testbed/datasenders/syslog.go
  testbed/datasenders/tcpudp.go
Labels: receiver/mongodbatlas, receiver/filelog, receiver/awscontainerinsight, processor/routing, exporter/splunkhec, receiver/awsxray, pkg/stanza, pkg/ottl, testbed, pkg/pdatatest, exporter/awss3, exporter/syslog, confmap/provider/secretsmanagerprovider, receiver/googlecloudmonitoring, receiver/libhoney

#41382 [chore]: enable unlabelStmt rule from go-critic
  .golangci.yml
  internal/aws/k8s/k8sclient/node.go
  internal/aws/k8s/k8sclient/replicaset.go
  processor/redactionprocessor/processor.go
Labels: processor/redaction, internal/aws

#41406 [chore][exporter/elasticsearch] Use xxhash v2 in lruset
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/internal/lru/lruset.go
Labels: exporter/elasticsearch

#41375 [exporter/elasticsearch] Create high-quality frameID if buildID is missing
  .chloggen/esexporter-fix-frameids.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
Labels: exporter/elasticsearch

#41352 [receiver/googlecloudmonitoring] fix potentially invalid histogram conversion
  .chloggen/googlecloudmonitoringreceiver_partial_histogram_data.yaml
  receiver/googlecloudmonitoringreceiver/internal/metrics_conversion.go
  receiver/googlecloudmonitoringreceiver/internal/metrics_conversion_test.go
  receiver/googlecloudmonitoringreceiver/internal/testdata/TestConvertDistributionToMetrics_ValidConversion_ExplicitBuckets_SingleDataPoint_ImplicitZeroCounts.yaml
  receiver/googlecloudmonitoringreceiver/internal/testdata/TestConvertDistributionToMetrics_ValidConversion_ExplicitBuckets_SingleDataPoint_ZeroBoundsZeroCounts.yaml
  receiver/googlecloudmonitoringreceiver/internal/testdata/TestConvertDistributionToMetrics_ValidConversion_ExponentialBuckets_SingleDataPoint_ImplicitZeroCounts.yaml
  receiver/googlecloudmonitoringreceiver/internal/testdata/TestConvertDistributionToMetrics_ValidConversion_LinearBuckets_SingleDataPoint_ImplicitZeroCounts.yaml
Labels: waiting-for-code-owners, receiver/googlecloudmonitoring

#41288 [receiver/splunkenterprise] Add Test for Empty String Response on Search Artifact Metrics & Fix Unmarshall Bug
  .chloggen/splunkenterprise-searchartifact-fix.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
Labels: receiver/splunkenterprise

#40818 [processor/deltatocumulativeprocessor] Unexport Processor,CountingSink
  .chloggen/unexport-deltatocumulativeprocessor.yaml
  processor/deltatocumulativeprocessor/benchmark_test.go
  processor/deltatocumulativeprocessor/processor.go
  processor/deltatocumulativeprocessor/stale_test.go
Labels: Stale, processor/deltatocumulative, waiting-for-code-owners

#40748 Remove public visibility from some structs in Dataset exporter
  .chloggen/unexport_dataset_exporter_structs.yaml
  exporter/datasetexporter/config.go
  exporter/datasetexporter/datasetexporter.go
  exporter/datasetexporter/logs_exporter.go
  exporter/datasetexporter/traces_exporter.go
Labels: ready to merge, exporter/dataset

#41399 [chore]: enable methodExprCall rule from go-critic
  .golangci.yml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/syslogexporter/exporter_test.go
Labels: exporter/prometheusremotewrite, exporter/syslog, exporter/bmchelix

#41421 [chore]: enable stringsCompare rule from go-critic
  .golangci.yml
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
Labels: receiver/awsxray

#41423 [chore]: enable preferWriteByte rule from go-critic
  .golangci.yml
  extension/storage/dbstorage/client.go
Labels: extension/storage/dbstorage

#41419 [chore]: enable truncateCmp rule from go-critic
  .golangci.yml
  extension/observer/ecsobserver/docker_label.go
Labels: extension/observer/ecsobserver

#41424 [chore]: enable unnecessaryDefer rule from go-critic
  .golangci.yml
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/traces_test.go
  internal/aws/xray/testdata/sampleserver/sample.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/udp/input_test.go
Labels: pkg/stanza, internal/aws, connector/routing

#41426 [chore]: enable nilValReturn rule from go-critic
  .golangci.yml
  receiver/vcenterreceiver/processors.go
Labels: receiver/vcenter

#41430 [chore] fix panic when accessing log records
  receiver/sqlserverreceiver/integration_test.go
Labels: receiver/sqlserver, Run Windows

#41425 [chore] mark components with no codeowners as unmaintained
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/component_labels.txt
  extension/healthcheckextension/README.md
  extension/healthcheckextension/internal/metadata/generated_status.go
  extension/healthcheckextension/metadata.yaml
  processor/groupbytraceprocessor/README.md
  processor/groupbytraceprocessor/internal/metadata/generated_status.go
  processor/groupbytraceprocessor/metadata.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/internal/metadata/generated_status.go
  processor/routingprocessor/metadata.yaml
Labels: processor/groupbytrace, extension/healthcheck, processor/routing

#41437 [chore]: enable nestingReduce rule from go-critic
  .golangci.yml
  exporter/coralogixexporter/metrics_client_test.go
  exporter/prometheusremotewriteexporter/exporter_concurrency_test.go
  extension/observer/dockerobserver/integration_test.go
  pkg/translator/faro/logs_to_faro.go
  receiver/awscontainerinsightreceiver/internal/cadvisor/cadvisor_linux.go
  receiver/awscontainerinsightreceiver/internal/stores/podstore.go
  receiver/awss3receiver/s3sqsreader.go
  receiver/azuremonitorreceiver/internal/metadata/metrics.go
  receiver/azuremonitorreceiver/scraper.go
  receiver/carbonreceiver/protocol/regex_parser.go
  receiver/collectdreceiver/collectd.go
  receiver/googlecloudspannerreceiver/internal/metadata/metricsdatapoint.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/metadata/entities.go
Labels: receiver/carbon, receiver/awscontainerinsight, exporter/prometheusremotewrite, exporter/coralogix, receiver/googlecloudspanner, receiver/collectd, receiver/k8scluster, extension/observer/dockerobserver, receiver/azuremonitor, receiver/awss3, pkg/translator/faro

#41436 [chore]: enable unnecessaryBlock rule from go-critic
  .golangci.yml
  connector/spanmetricsconnector/connector_test.go
  exporter/azuredataexplorerexporter/metricsdata_to_adx.go
  internal/splunk/common.go
Labels: exporter/azuredataexplorer, internal/splunk, connector/spanmetrics

#41431 [chore]: enable sloppyReassign rule from go-critic
  .golangci.yml
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/telemetrygen/pkg/logs/logs.go
  cmd/telemetrygen/pkg/metrics/metrics.go
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile.go
  exporter/elasticsearchexporter/util.go
  exporter/influxdbexporter/writer.go
  exporter/mezmoexporter/exporter.go
  exporter/otelarrowexporter/internal/arrow/stream.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/wal.go
  exporter/sematextexporter/writer.go
  exporter/sumologicexporter/sender.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/unmarshaler.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload.go
  extension/encoding/jsonlogencodingextension/extension.go
  extension/observer/dockerobserver/extension.go
  extension/storage/filestorage/client.go
  extension/sumologicextension/credentials/credentialsstore_localfs.go
  extension/sumologicextension/extension.go
  pkg/golden/golden.go
  pkg/ottl/contexts/internal/ctxprofile/profile.go
  pkg/ottl/ottlfuncs/func_time.go
  pkg/stanza/fileconsumer/internal/checkpoint/checkpoint.go
  pkg/translator/azurelogs/category_logs.go
  pkg/translator/azurelogs/resourcelogs_to_logs.go
  pkg/translator/zipkin/zipkinthriftconverter/deserialize.go
  processor/datadogsemanticsprocessor/processor.go
  processor/logdedupprocessor/config.go
  processor/schemaprocessor/internal/translation/translation.go
  receiver/aerospikereceiver/cluster/node.go
  receiver/awss3receiver/receiver.go
  receiver/bigipreceiver/client.go
  receiver/chronyreceiver/internal/chrony/client.go
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/googlecloudpubsubreceiver/internal/log_entry.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/lokireceiver/internal/push.go
  receiver/mongodbreceiver/client.go
  receiver/otelarrowreceiver/otelarrow.go
  receiver/podmanreceiver/receiver.go
  receiver/postgresqlreceiver/client.go
  receiver/skywalkingreceiver/factory.go
  testbed/datareceivers/opencensus.go
Labels: exporter/datadog, extension/storage/filestorage, cmd/telemetrygen, receiver/aerospike, receiver/dockerstats, receiver/podman, exporter/influxdb, receiver/bigip, exporter/prometheusremotewrite, processor/schema, exporter/elasticsearch, exporter/sumologic, exporter/mezmo, receiver/mongodb, receiver/postgresql, receiver/jaeger, receiver/googlecloudpubsub, receiver/skywalking, pkg/ottl, extension/observer/dockerobserver, receiver/chrony, pkg/translator/zipkin, testbed, receiver/datadog, receiver/loki, cmd/opampsupervisor, extension/encoding/jsonlogencoding, pkg/golden, exporter/otelarrow, extension/sumologic, receiver/otelarrow, receiver/awss3, pkg/stanza/fileconsumer, processor/logdedup, pkg/translator/azurelogs, exporter/sematext, extension/encoding/googlecloudlogentryencoding, processor/datadogsemantics, extension/encoding/awslogsencoding

#41429 [chore]: enable equalFold rule from go-critic
  .golangci.yml
  exporter/azuredataexplorerexporter/adx_exporter.go
  exporter/sematextexporter/config.go
  internal/datadog/hostmetadata/internal/azure/provider.go
  processor/resourcedetectionprocessor/internal/azure/aks/aks.go
  receiver/collectdreceiver/config.go
  receiver/snmpreceiver/config.go
Labels: processor/resourcedetection, receiver/collectd, receiver/snmp, exporter/azuredataexplorer, internal/datadog, exporter/sematext

#41364 [exporter/tinybird] implement metrics propagation
  .chloggen/exporter-tinybird-metrics-implementation.yaml
  exporter/tinybirdexporter/README.md
  exporter/tinybirdexporter/config.go
  exporter/tinybirdexporter/config_test.go
  exporter/tinybirdexporter/exporter.go
  exporter/tinybirdexporter/exporter_test.go
  exporter/tinybirdexporter/factory.go
  exporter/tinybirdexporter/generated_component_test.go
  exporter/tinybirdexporter/internal/metrics.go
  exporter/tinybirdexporter/internal/metrics_test.go
  exporter/tinybirdexporter/metadata.yaml
  exporter/tinybirdexporter/testdata/config.yaml
Labels: exporter/tinybird

#41266 [pkg/ottl] A new OTTL function `Values`
  .chloggen/ottl-add-values-func.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_values.go
  pkg/ottl/ottlfuncs/func_values_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#41392 [pkg/ottl] Mark `KeyPath` Optional in SliceToMap
  .chloggen/ottl_slice_to_map_mark_key_path_optional.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_slice_to_map.go
  pkg/ottl/ottlfuncs/func_slice_to_map_test.go
Labels: ready to merge, pkg/ottl

#41344 elasticsearchexporter: fix missing build ID for profiles
  .chloggen/profiling-buildid.yaml
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
Labels: exporter/elasticsearch

#41447 [exporter/tinybird] default logs' Timestamp value to ObservedTimestamp when Timestamp is not set
  .chloggen/fix_41397-fallback-to-observed-timestamp.yaml
  exporter/tinybirdexporter/internal/logs.go
Labels: exporter/tinybird

#41452 [encoding/text_encoding] move to alpha
  .chloggen/move_textencoding_alpha.yaml
  extension/encoding/textencodingextension/README.md
  extension/encoding/textencodingextension/internal/metadata/generated_status.go
  extension/encoding/textencodingextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: extension/encoding/textencoding, reports/distributions/contrib.yaml

#41446 chore: Add more unit tests to GCP encoding
  extension/encoding/googlecloudlogentryencodingextension/extension.go
  extension/encoding/googlecloudlogentryencodingextension/extension_test.go
  extension/encoding/googlecloudlogentryencodingextension/factory.go
  extension/encoding/googlecloudlogentryencodingextension/go.mod
  extension/encoding/googlecloudlogentryencodingextension/go.sum
  extension/encoding/googlecloudlogentryencodingextension/log_entry.go
  extension/encoding/googlecloudlogentryencodingextension/log_entry_test.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_common.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload_test.go
  extension/encoding/googlecloudlogentryencodingextension/testdata/invalid_span_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_json_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_protofobuf_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/as_text_expected.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/proto_payload/proto_payload.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/real_log.json
  extension/encoding/googlecloudlogentryencodingextension/testdata/real_log_expected.yaml
Labels: Skip Changelog, extension/encoding/googlecloudlogentryencoding

#41393 [receiver/kafka] Optimize debug logging performance with conditional logging
  receiver/kafkareceiver/kafka_receiver.go
Labels: ready to merge, Skip Changelog, receiver/kafka

#41486 [chore] Wait 30 minutes before retrying, do it at most once
  .github/workflows/update-otel.yaml
Labels: ci-cd

#41427 [exporter/kinetica] remove the kineticaexporter
  .chloggen/remove_kineticaexporter.yaml
  .codecov.yml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  exporter/kineticaexporter/Makefile
  exporter/kineticaexporter/README.md
  exporter/kineticaexporter/common.go
  exporter/kineticaexporter/config.go
  exporter/kineticaexporter/config_test.go
  exporter/kineticaexporter/doc.go
  exporter/kineticaexporter/exporter_metric_test.go
  exporter/kineticaexporter/factory.go
  exporter/kineticaexporter/factory_test.go
  exporter/kineticaexporter/generated_component_test.go
  exporter/kineticaexporter/generated_package_test.go
  exporter/kineticaexporter/go.mod
  exporter/kineticaexporter/go.sum
  exporter/kineticaexporter/internal/metadata/generated_status.go
  exporter/kineticaexporter/logs_exporter.go
  exporter/kineticaexporter/metadata.yaml
  exporter/kineticaexporter/metrics_exporter.go
  exporter/kineticaexporter/testdata/config.yaml
  exporter/kineticaexporter/trace_exporter.go
  exporter/kineticaexporter/writer.go
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: exporter/kinetica

#41488 [receiver/prometheus] Add support for otel_scope_schema_url label
  .chloggen/prometheusreceiver_add_otel_scope_schema_url_support.yaml
  pkg/translator/prometheus/constants.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/util.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: receiver/prometheus, pkg/translator/prometheus

#41489 [extension/solarwindsapmsettingsextension] Fixed the obsolete go path
  extension/solarwindsapmsettingsextension/extension.go
  extension/solarwindsapmsettingsextension/extension_test.go
  extension/solarwindsapmsettingsextension/go.mod
  extension/solarwindsapmsettingsextension/go.sum
Labels: extension/solarwindsapmsettings

#41495 [receiver/httpcheck] Fix linter
  receiver/httpcheckreceiver/scraper.go
Labels: ready to merge, Skip Changelog, receiver/httpcheck

#41369 Add profiles support to kafka exporter
  .chloggen/profiles-kafka-exporter.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/doc.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/internal/marshaler/marshaler.go
  exporter/kafkaexporter/internal/marshaler/pdata_marshaler.go
  exporter/kafkaexporter/internal/marshaler/pdata_marshaler_test.go
  exporter/kafkaexporter/internal/metadata/generated_status.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_bench_test.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  exporter/kafkaexporter/metadata.yaml
Labels: ready to merge, exporter/kafka

#40854 [extension/oidcauth] Add support for multiple providers
  .chloggen/oidc-multiple-providers.yaml
  extension/oidcauthextension/README.md
  extension/oidcauthextension/config.go
  extension/oidcauthextension/config_test.go
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
  extension/oidcauthextension/go.mod
  extension/oidcauthextension/oidc_server_test.go
Labels: ready to merge, extension/oidcauth

#41474 [exporter/tinybird] Update readme
  .chloggen/enhance_40475-update-readme.yaml
  exporter/tinybirdexporter/README.md
Labels: exporter/tinybird

#37631 Added setting to config to redact data of all types
  .chloggen/sdr-num.yaml
  processor/redactionprocessor/README.md
  processor/redactionprocessor/config.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: processor/redaction, waiting-for-code-owners

#41207 [receiver/sqlserver] Add 'sqlserver.computer.uptime' metric
  .chloggen/sqlserver-uptime.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
  receiver/sqlserverreceiver/testdata/expectedPropertiesRemoveServerResourceAttributes.yaml
  receiver/sqlserverreceiver/testdata/propertyQueryData.txt
  receiver/sqlserverreceiver/testdata/propertyQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/propertyQueryWithoutInstanceName.txt
Labels: ready to merge, receiver/sqlserver, Run Windows

#41523 [chore] Add OTTL codeowners as routing connector codeowners
  .github/CODEOWNERS
  connector/routingconnector/README.md
  connector/routingconnector/metadata.yaml
Labels: connector/routing

#41513 [chore] [receiver/hostmetrics] Update documentation to remove Mac exclusion for `disk` and `cpu`
  receiver/hostmetricsreceiver/README.md
Labels: receiver/hostmetrics

#41505 add missing key_file entry in target allocator
  receiver/prometheusreceiver/targetallocator/testdata/config.yaml
Labels: ready to merge, Skip Changelog, receiver/prometheus

#41541 [chore][internal/tools] Bump multimod to v0.25.0
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#41514 fix(deps): cleanup azmetrics fake API copy to use the one from the lib
  receiver/azuremonitorreceiver/fake/internal.go
  receiver/azuremonitorreceiver/fake/metrics_server.go
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/options_test.go
Labels: Skip Changelog, receiver/azuremonitor

#41512 [chore] [pkg/stanza] test: add test documenting current behavior
  pkg/stanza/operator/helper/transformer_test.go
Labels: pkg/stanza

#41557 [chore][exporter/elasticsearch] Use All() iterator in for loops
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/internal/datapoints/histogram.go
  exporter/elasticsearchexporter/internal/elasticsearch/mapping_hint.go
  exporter/elasticsearchexporter/internal/exphistogram/exphistogram.go
  exporter/elasticsearchexporter/internal/metricgroup/hash.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/serializer/map.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/logs.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/traces.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#41561 Add support for log attr value int/double/bool types
  .chloggen/update-mapping-go.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/logs_exporter_test.go
Labels: exporter/datadog, connector/datadog

#41365 Add `postgresql.temp.io` metric
  .chloggen/pg-temp-bytes.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/integration_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_config.go
  receiver/postgresqlreceiver/internal/metadata/generated_config_test.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics.go
  receiver/postgresqlreceiver/internal/metadata/generated_metrics_test.go
  receiver/postgresqlreceiver/internal/metadata/testdata/config.yaml
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/integration/01-init.sql
  receiver/postgresqlreceiver/testdata/integration/expected_all_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_all_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_multi_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_connpool.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_post17.yaml
  receiver/postgresqlreceiver/testdata/integration/expected_single_db_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_imprecise_lag_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/multiple/expected_schemaattr.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/otel/expected_schemaattr.yaml
Labels: receiver/postgresql

#41574 [chore] Improve awss3exporter tests to use JSONEq
  exporter/awss3exporter/exporter_test.go
Labels: exporter/awss3

#41568 [chore] add distribution to saphanareceiver
  receiver/saphanareceiver/README.md
  receiver/saphanareceiver/metadata.yaml
  reports/distributions/contrib.yaml
Labels: receiver/saphana, reports/distributions/contrib.yaml

#41581 Fix more tests by removing empty IDs
  pkg/ottl/contexts/internal/ctxutil/slice_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, cmd/telemetrygen, exporter/clickhouse, exporter/carbon, exporter/azuremonitor, exporter/influxdb, exporter/googlecloud, exporter/googlemanagedprometheus, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/file, exporter/awskinesis, exporter/awsxray, exporter/elasticsearch, exporter/coralogix, exporter/googlecloudpubsub, exporter/azuredataexplorer, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, connector/exceptions, connector/datadog, exporter/honeycombmarker, exporter/alertmanager, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/sum, connector/otlpjson, exporter/doris, confmap/provider/aesprovider, connector/signaltometrics, exporter/bmchelix, exporter/azureblob, exporter/faro, cmd/golden, confmap/provider/googlesecretmanagerprovider

#41413 remove loki exporter as has been deprecated
  .chloggen/remove_loki.yaml
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  cmd/otelcontribcol/builder-config.yaml
  exporter/lokiexporter/CONTRIBUTING.md
  exporter/lokiexporter/Makefile
  exporter/lokiexporter/README.md
  exporter/lokiexporter/config.go
  exporter/lokiexporter/config_test.go
  exporter/lokiexporter/doc.go
  exporter/lokiexporter/documentation.md
  exporter/lokiexporter/example/otelcol.yaml
  exporter/lokiexporter/exporter.go
  exporter/lokiexporter/exporter_test.go
  exporter/lokiexporter/factory.go
  exporter/lokiexporter/factory_test.go
  exporter/lokiexporter/generated_component_test.go
  exporter/lokiexporter/generated_package_test.go
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/lokiexporter/internal/metadata/generated_status.go
  exporter/lokiexporter/internal/metadata/generated_telemetry.go
  exporter/lokiexporter/internal/metadata/generated_telemetry_test.go
  exporter/lokiexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/lokiexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/lokiexporter/internal/tenant/attribute.go
  exporter/lokiexporter/internal/tenant/attribute_test.go
  exporter/lokiexporter/internal/tenant/context.go
  exporter/lokiexporter/internal/tenant/context_test.go
  exporter/lokiexporter/internal/tenant/package_test.go
  exporter/lokiexporter/internal/tenant/static.go
  exporter/lokiexporter/internal/tenant/static_test.go
  exporter/lokiexporter/internal/tenant/tenantsource.go
  exporter/lokiexporter/metadata.yaml
  exporter/lokiexporter/testdata/config.yaml
  internal/tidylist/tidylist.txt
  reports/distributions/contrib.yaml
  versions.yaml
Labels: exporter/loki, cmd/otelcontribcol, reports/distributions/contrib.yaml

#41590 [chore] document that the otlpencoding extension ships with contrib
  extension/encoding/otlpencodingextension/README.md
  extension/encoding/otlpencodingextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: extension/encoding/otlpencoding, reports/distributions/contrib.yaml

#41588 [chore] document the jaeger_encoding extension is shipping with contrib
  extension/encoding/jaegerencodingextension/README.md
  extension/encoding/jaegerencodingextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: extension/encoding/jaegerencoding, reports/distributions/contrib.yaml

#41612 [chore] [processor/coralogix] update docs
  processor/coralogixprocessor/README.md
Labels: processor/coralogix

#41027 [chore] [exporter/clickhouseexporter] Fix unwanted warning messages
  exporter/clickhouseexporter/internal/metrics/metrics_model.go
Labels: exporter/clickhouse, waiting-for-code-owners

#41630 [chore] apply unkeyed initialization prevention to Config struct
  receiver/skywalkingreceiver/config.go
Labels: receiver/skywalking

#41637 [GCP encoding] Request to transfer ownership
  .github/CODEOWNERS
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/metadata.yaml
Labels: Skip Changelog, waiting-for-code-owners, extension/encoding/googlecloudlogentryencoding

#41641 [chore][receiver/journald]: move sumo-drosiek to emeritus
  .github/CODEOWNERS
  receiver/journaldreceiver/README.md
  receiver/journaldreceiver/metadata.yaml
Labels: Skip Changelog, receiver/journald

#41629 [chore]unexport Log test struct
  receiver/envoyalsreceiver/als_test.go
Labels: receiver/envoyals
