Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-01, with the labels that each got.

#36894 [exporter/awsxrayexporter] Merge in latest semconv for awsxrayexporter.
  .chloggen/aws-xray-exporter-merge-in-latest-semconv.yaml
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  exporter/awsxrayexporter/internal/translator/http.go
  exporter/awsxrayexporter/internal/translator/http_test.go
  exporter/awsxrayexporter/internal/translator/segment.go
  exporter/awsxrayexporter/internal/translator/segment_test.go
  exporter/awsxrayexporter/internal/translator/service.go
  exporter/awsxrayexporter/internal/translator/service_test.go
  exporter/awsxrayexporter/internal/translator/sql.go
  exporter/awsxrayexporter/internal/translator/sql_test.go
  exporter/awsxrayexporter/internal/translator/writer_pool_test.go
Labels: exporter/awsxray

#33919 feat: Add Sending Queue Option for OpenSearch
  .chloggen/feature_opensearch-sending-queue.yaml
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/config.go
  exporter/opensearchexporter/factory.go
Labels: ready to merge, exporter/opensearch

#36862 [receiver/k8scluster] add attributes to node and pod entities
  .chloggen/add_k8scluster_attr.yaml
  receiver/k8sclusterreceiver/internal/node/nodes.go
  receiver/k8sclusterreceiver/internal/node/nodes_test.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: Stale, receiver/k8scluster

#36914 [receiver/mysql] fix oob overflow for Innodb_buffer_pool_pages_misc
  .chloggen/mysql_oob_misc.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/scraper_test.go
  receiver/mysqlreceiver/testdata/scraper/expected_oob.yaml
  receiver/mysqlreceiver/testdata/scraper/global_stats_oob.txt
Labels: receiver/mysql

#36983 [chore]: reenable default revive rules
  .golangci.yml
  exporter/elasticsearchexporter/internal/exphistogram/exphistogram.go
  exporter/elasticsearchexporter/model.go
  extension/cgroupruntimeextension/integration_test.go
  pkg/ottl/context_inferrer_test.go
  receiver/libhoneyreceiver/encoder/encoder.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/parser/parser.go
  receiver/libhoneyreceiver/receiver.go
  receiver/postgresqlreceiver/client.go
Labels: ci-cd, exporter/elasticsearch, receiver/postgresql, pkg/ottl, extension/cgroupruntime, receiver/libhoney

#37029 [chore][README] Update my leave status
  README.md
Labels: documentation, chore

#37036 [chore] Skip Unix datagram tests on Windows
  receiver/statsdreceiver/receiver_test.go
Labels: ready to merge, Skip Changelog, Run Windows

#36923 [sqlqueryreceiver] Fix accidental removal of integration test tag for sqlqueryreceiver tests
  receiver/sqlqueryreceiver/integration_test.go
Labels: ready to merge, Skip Changelog, flaky test, os:windows, receiver/sqlquery, Run Windows

#36972 [logzioexporter] Remove dependency on jaeger dbmodel
  .chloggen/remove-jaeger-dbmodel-dependency.yaml
  exporter/logzioexporter/from_domain.go
  exporter/logzioexporter/from_domain_test.go
  exporter/logzioexporter/go.mod
  exporter/logzioexporter/internal/dbmodel/model.go
  exporter/logzioexporter/logziospan.go
  exporter/logzioexporter/logziospan_test.go
  exporter/logzioexporter/testdata/logziospan.json
Labels: ready to merge, exporter/logzio

#37014 [processor/tailsampling] Support hot sampling policy loading
  .chloggen/tailsamplingprocessor_hot-policy-loading.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#37066 [chore] Fix logzioexporter tests on Windows
  exporter/logzioexporter/from_domain_test.go
Labels: Skip Changelog, exporter/logzio, Run Windows

#37064 [chore][exporter/coralogixexporter] Removing myself as owner
  .github/CODEOWNERS
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/metadata.yaml
Labels: exporter/coralogix

#37040 [processor/tailsampling] Fixed sampling policy evaluation debug logging batch metrics
  .chloggen/tailsamplingprocessor-fixed-batch-debug-metrics.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#37038 [processor/tailsampling] Added debug logging to sampling decision caches
  .chloggen/tailsamplingprocessor-decision-cache-logging.yaml
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#36920 [extension/cgroupruntime] Be aware of ECS task and CPU limits
  .chloggen/check-ecs-metadata-cgroupruntimeextension.yaml
  extension/cgroupruntimeextension/CONTRIBUTING.md
  extension/cgroupruntimeextension/README.md
  extension/cgroupruntimeextension/factory.go
  extension/cgroupruntimeextension/go.mod
  extension/cgroupruntimeextension/go.sum
  extension/cgroupruntimeextension/integration_test.go
Labels: extension/cgroupruntime

#37086 [chore][workflow] only run for main repository
  .github/workflows/check-codeowners.yaml
Labels: ci-cd, Skip Changelog

#37090 [chore] don't reference testutil from non-test code
  receiver/awsfirehosereceiver/factory.go
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/go.sum
  receiver/awsxrayreceiver/factory.go
  receiver/influxdbreceiver/factory.go
  receiver/jaegerreceiver/factory.go
  receiver/lokireceiver/factory.go
  receiver/lokireceiver/factory_test.go
  receiver/opencensusreceiver/factory.go
  receiver/sapmreceiver/factory.go
  receiver/signalfxreceiver/factory.go
  receiver/skywalkingreceiver/factory.go
  receiver/skywalkingreceiver/go.mod
  receiver/skywalkingreceiver/go.sum
  receiver/splunkhecreceiver/factory.go
  receiver/zipkinreceiver/config_test.go
  receiver/zipkinreceiver/factory.go
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  receiver/zookeeperreceiver/factory.go
Labels: receiver/zipkin, receiver/zookeeper, receiver/awsxray, receiver/influxdb, receiver/splunkhec, receiver/jaeger, receiver/signalfx, receiver/opencensus, receiver/awsfirehose, receiver/skywalking, receiver/sapm, receiver/loki

#37098 [chore][processor/metricsgeneration] Remove redundant stability information in README
  processor/metricsgenerationprocessor/README.md
Labels: documentation, chore, processor/metricsgeneration

#36886 [processor/interval] Update to alpha stability and add to contrib/k8s distributions
  .chloggen/add-interval-processor-to-dist.yaml
  processor/intervalprocessor/README.md
  processor/intervalprocessor/internal/metadata/generated_status.go
  processor/intervalprocessor/metadata.yaml
  reports/distributions/contrib.yaml
  reports/distributions/k8s.yaml
Labels: ready to merge, reports/distributions/contrib.yaml, processor/interval, reports/distributions/k8s.yaml

#37063 Update docker image in examples/demo from 0.88.0 to 0.116.1 (Closes #37031)
  examples/demo/.env
  examples/demo/docker-compose.yaml
  examples/demo/otel-collector-config.yaml
Labels: dependencies, ready to merge, Skip Changelog, examples/demo

#37003 [chore]: adding Erog38 as a codeowner of telemetrygen
  .github/CODEOWNERS
  cmd/telemetrygen/README.md
  cmd/telemetrygen/metadata.yaml
Labels: ready to merge, cmd/telemetrygen

#37039 [chore][receiver/sqlquery] Remove stability from README title
  receiver/sqlqueryreceiver/README.md
Labels: documentation, ready to merge, receiver/sqlquery

#36721 [chore][processor/tailsampling] Better description for rate_limiting
  processor/tailsamplingprocessor/README.md
Labels: documentation, ready to merge, processor/tailsampling

#37105 [chore] Add redis storage extension to the dev build
  cmd/otelcontribcol/builder-config.yaml
Labels: cmd/otelcontribcol

#37095 [connector/routing] Disconnect 'match_once' parameter
  .chloggen/routing-disconnect-matchonce-api.yaml
  .chloggen/routing-disconnect-matchonce.yaml
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/factory.go
  connector/routingconnector/logs.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/traces.go
  connector/routingconnector/traces_test.go
Labels: ready to merge, connector/routing

#37012 [elasticsearchexporter] Handle EventName
  .chloggen/elasticsearchexporter_event-name.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: ready to merge, exporter/elasticsearch

#37107 [pkg/ottl, processor/transform] promote edmocosta to codeowner
  .github/CODEOWNERS
  pkg/ottl/README.md
  pkg/ottl/metadata.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/metadata.yaml
Labels: Skip Changelog, processor/transform, pkg/ottl

#36719 [pkg/ottl] Support dynamic indexing
  .chloggen/indexing-pkg-ottl.yaml
  pkg/ottl/contexts/internal/map.go
  pkg/ottl/contexts/internal/map_test.go
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/contexts/internal/slice.go
  pkg/ottl/contexts/internal/slice_test.go
  pkg/ottl/contexts/internal/value.go
  pkg/ottl/contexts/internal/value_test.go
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/functions.go
  pkg/ottl/functions_test.go
  pkg/ottl/grammar.go
  pkg/ottl/lexer_test.go
Labels: pkg/ottl

#37106 [chore] Add scoped GH action to test affected components on Windows
  .github/workflows/scoped-test.yaml
  Makefile.Common
Labels: ci-cd, Skip Changelog

#37116 Update README.md
  extension/storage/redisstorageextension/README.md
Labels: ready to merge, Skip Changelog, extension/storage

#36102 severity_parser: update docs to correct overwrite_text name
  pkg/stanza/docs/operators/severity_parser.md
Labels: ready to merge, Skip Changelog, pkg/stanza

#36910 [chore][receivercreator] Replace positional arguements with named
  receiver/receivercreator/config_test.go
  receiver/receivercreator/discovery.go
  receiver/receivercreator/observerhandler_test.go
Labels: ready to merge, receiver/receivercreator

#37088 [processor/k8sattributes] update internally stored pods with replicaset/deployment information
  .chloggen/k8sattributes-deployment-name.yaml
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
Labels: processor/k8sattributes

#37120 [chore] Build test tools in scoped tests action
  .github/workflows/scoped-test.yaml
Labels: ready to merge, ci-cd, Skip Changelog

#37082 [pkg/ottl] Add Second converter
  .chloggen/add-second-converter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_second.go
  pkg/ottl/ottlfuncs/func_second_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#36971 [jaegerreceiver] Remove unused remote sampling server
  receiver/jaegerreceiver/config.go
  receiver/jaegerreceiver/config_test.go
  receiver/jaegerreceiver/factory.go
  receiver/jaegerreceiver/factory_test.go
  receiver/jaegerreceiver/go.sum
  receiver/jaegerreceiver/jaeger_agent_test.go
  receiver/jaegerreceiver/trace_receiver.go
  receiver/jaegerreceiver/trace_receiver_test.go
Labels: Skip Changelog, receiver/jaeger

#37083 [pkg/ottl] Add Nanosecond converter
  .chloggen/add-nanosecond-converter.yaml
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_nanosecond.go
  pkg/ottl/ottlfuncs/func_nanosecond_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: ready to merge, pkg/ottl

#36782 [receiver/huaweicloudces] move huaweicloudces receiver to alpha
  .chloggen/cesreceiver_alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/huaweicloudcesreceiver/README.md
  receiver/huaweicloudcesreceiver/internal/metadata/generated_status.go
  receiver/huaweicloudcesreceiver/metadata.yaml
Labels: ready to merge, cmd/otelcontribcol, receiver/huaweicloudces

#37103 [cmd/telemetrygen] remove go-grpc-middleware dep
  .chloggen/renovate_github.com-grpc-ecosystem-go-grpc-middleware-2.x.yaml
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/common/log.go
  cmd/telemetrygen/internal/e2etest/go.mod
  cmd/telemetrygen/internal/e2etest/go.sum
Labels: cmd/telemetrygen

#37108 [cmd/opampsupervisor] update types
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/server.go
  cmd/opampsupervisor/supervisor/server_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  extension/opampextension/opamp_agent.go
Labels: cmd/opampsupervisor, extension/opamp

#37126 [chore] Make hostmetrics receiver scrapers closer to core scrapers
  receiver/hostmetricsreceiver/config.go
  receiver/hostmetricsreceiver/config_test.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/factory_test.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/hostmetricsreceiver/integration_test.go
  receiver/hostmetricsreceiver/internal/scraper.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/filesystem_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/factory.go
Labels: receiver/hostmetrics

#37131 [chore] Skip flaky test `TestE2E_ClusterRBACCollectorStartAfterTelemetryGen`
  processor/k8sattributesprocessor/e2e_test.go
Labels: processor/k8sattributes

#37130 [chore] Spelling processor
  processor/attributesprocessor/factory_test.go
  processor/attributesprocessor/testdata/config.yaml
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale.go
  processor/filterprocessor/metrics.go
  processor/geoipprocessor/internal/provider/maxmindprovider/provider.go
  processor/geoipprocessor/internal/provider/maxmindprovider/testdata/generate_db.go
  processor/groupbytraceprocessor/README.md
  processor/intervalprocessor/README.md
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/k8sattributesprocessor/testdata/config.yaml
  processor/logdedupprocessor/config_test.go
  processor/logdedupprocessor/field_remover.go
  processor/logdedupprocessor/field_remover_test.go
  processor/metricsgenerationprocessor/config.go
  processor/metricstransformprocessor/README.md
  processor/metricstransformprocessor/config.go
  processor/metricstransformprocessor/metrics_transform_processor_otlp.go
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/logsprocessor.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/sampler_mode.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/internal/heroku/documentation.md
  processor/resourcedetectionprocessor/internal/heroku/metadata.yaml
  processor/resourcedetectionprocessor/internal/openshift/config.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/routingprocessor/README.md
  processor/routingprocessor/extract_test.go
  processor/schemaprocessor/README.md
  processor/schemaprocessor/internal/fixture/parallel.go
  processor/schemaprocessor/internal/migrate/conditional_test.go
  processor/schemaprocessor/internal/migrate/multi_conditional_test.go
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/config.go
  processor/sumologicprocessor/processor_test.go
  processor/sumologicprocessor/translate_docker_metrics_processor.go
  processor/sumologicprocessor/translate_docker_metrics_processor_test.go
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/latency.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter.go
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
Labels: processor/attributes, processor/filter, processor/k8sattributes, processor/tailsampling, processor/metricstransform, processor/resourcedetection, processor/transform, processor/groupbytrace, processor/cumulativetodelta, processor/metricsgeneration, processor/probabilisticsampler, processor/routing, processor/schema, processor/sumologic, processor/interval, processor/deltatocumulative, processor/geoip, processor/logdedup

#36797 [exporter/datadogexporter] Migrating datadog exporter to use aws sdk v2
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/hostmetadata/internal/ec2/ec2.go
  exporter/datadogexporter/internal/hostmetadata/internal/ec2/ec2_test.go
  internal/metadataproviders/aws/ec2/metadata.go
  internal/metadataproviders/aws/ec2/metadata_test.go
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
Labels: exporter/datadog, Skip Changelog, processor/resourcedetection, internal/metadataproviders, connector/datadog

#36941 [chore]: do not skip Sudo integration tests
  Makefile.Common
Labels: Skip Changelog

#37094 [exporters/elasticsearch] remove stale deprecated index option
  .chloggen/elasticsearch-remove-index.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/testdata/config.yaml
Labels: exporter/elasticsearch

#36838 [receiver/gitlab] add tracing via webhook skeleton
  .chloggen/gl-receiver-skeleton-traces.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  receiver/gitlabreceiver/Makefile
  receiver/gitlabreceiver/README.md
  receiver/gitlabreceiver/config.go
  receiver/gitlabreceiver/config_test.go
  receiver/gitlabreceiver/doc.go
  receiver/gitlabreceiver/factory.go
  receiver/gitlabreceiver/factory_test.go
  receiver/gitlabreceiver/generated_component_test.go
  receiver/gitlabreceiver/generated_package_test.go
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/go.sum
  receiver/gitlabreceiver/internal/metadata/generated_status.go
  receiver/gitlabreceiver/metadata.yaml
  receiver/gitlabreceiver/testdata/config.yaml
  receiver/gitlabreceiver/traces_receiver.go
  receiver/gitlabreceiver/traces_receiver_test.go
  versions.yaml
Labels: ready to merge, Accepted Component, reports/distributions/contrib.yaml

#37142 [chore] Use `crosslink tidylist` in `make gotidy`
  .github/workflows/build-and-test.yml
  Makefile
  internal/tidylist/allow-circular.txt
  internal/tidylist/tidylist.txt
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#37173 Revert "[chore] Use `crosslink tidylist` in `make gotidy` (#37142)"
  .github/workflows/build-and-test.yml
  Makefile
  internal/tidylist/allow-circular.txt
  internal/tidylist/tidylist.txt
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog, internal/tools

#37151 [chore] Remove invalid fields from update-otel GH actions
  .github/workflows/update-otel.yaml
Labels: ci-cd

#37166 [pkg/ottl] Improve errors for invalid cache access and add option to set context's cache value
  .chloggen/ottl-cache-changes.yaml
  pkg/ottl/contexts/internal/errors.go
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/contexts/internal/resource.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/span.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
Labels: pkg/ottl

#37034 [exporter/clickhouse] Fix Nil Pointer Exception on Metrics/Traces export without service.name Resource Attribute
  .chloggen/fix_clickhouseexporter-metrics-npe.yaml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/metrics_model.go
  exporter/clickhouseexporter/internal/metrics_model_test.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
Labels: ready to merge, exporter/clickhouse

#36977 [extension/jaegerremotesampling] remove jaeger sampling dependency
  .chloggen/remove-jaegersampling.yaml
  extension/jaegerremotesampling/extension.go
  extension/jaegerremotesampling/go.mod
  extension/jaegerremotesampling/go.sum
  extension/jaegerremotesampling/internal/internal_test.go
  extension/jaegerremotesampling/internal/mocks/mock_source.go
  extension/jaegerremotesampling/internal/server/grpc/grpc.go
  extension/jaegerremotesampling/internal/server/grpc/grpc_handler.go
  extension/jaegerremotesampling/internal/server/grpc/grpc_handler_test.go
  extension/jaegerremotesampling/internal/server/grpc/grpc_test.go
  extension/jaegerremotesampling/internal/server/http/http.go
  extension/jaegerremotesampling/internal/server/http/http_test.go
  extension/jaegerremotesampling/internal/source/filesource/constants.go
  extension/jaegerremotesampling/internal/source/filesource/filesource.go
  extension/jaegerremotesampling/internal/source/filesource/filesource_test.go
  extension/jaegerremotesampling/internal/source/filesource/fixtures/TestServiceNoPerOperationStrategiesDeprecatedBehavior_ServiceA.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/TestServiceNoPerOperationStrategiesDeprecatedBehavior_ServiceB.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/TestServiceNoPerOperationStrategies_ServiceA.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/TestServiceNoPerOperationStrategies_ServiceB.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/bad_strategies.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/missing-service-types.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/operation_strategies.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/service_no_per_operation.json
  extension/jaegerremotesampling/internal/source/filesource/fixtures/strategies.json
  extension/jaegerremotesampling/internal/source/filesource/model.go
  extension/jaegerremotesampling/internal/source/filesource/options.go
  extension/jaegerremotesampling/internal/source/interface.go
  extension/jaegerremotesampling/internal/source/remotesource/manager.go
  extension/jaegerremotesampling/internal/source/remotesource/manager_test.go
  extension/jaegerremotesampling/internal/source/remotesource/remote_strategy_cache.go
  extension/jaegerremotesampling/internal/source/remotesource/remote_strategy_cache_test.go
  extension/jaegerremotesampling/internal/source/remotesource/remote_strategy_store.go
Labels: ready to merge, extension/jaegerremotesampling

#36964 [exporter/bmchelix] New component: BMC Helix Exporter
  .chloggen/bmchelixexporter-new-component.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  exporter/bmchelixexporter/Makefile
  exporter/bmchelixexporter/README.md
  exporter/bmchelixexporter/config.go
  exporter/bmchelixexporter/config_test.go
  exporter/bmchelixexporter/doc.go
  exporter/bmchelixexporter/factory.go
  exporter/bmchelixexporter/factory_test.go
  exporter/bmchelixexporter/generated_component_test.go
  exporter/bmchelixexporter/generated_package_test.go
  exporter/bmchelixexporter/go.mod
  exporter/bmchelixexporter/go.sum
  exporter/bmchelixexporter/internal/metadata/generated_status.go
  exporter/bmchelixexporter/metadata.yaml
  exporter/bmchelixexporter/testdata/config.yaml
  versions.yaml
Labels: ready to merge, Accepted Component

#35450 [processor/resourcedetection] introduce kubeadm detector
  .chloggen/resourcedetection-local-cluster.yaml
  internal/metadataproviders/kubeadm/metadata.go
  internal/metadataproviders/kubeadm/metadata_test.go
  internal/metadataproviders/kubeadm/package_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/doc.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/kubeadm/config.go
  processor/resourcedetectionprocessor/internal/kubeadm/documentation.md
  processor/resourcedetectionprocessor/internal/kubeadm/generated_package_test.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/package_test.go
  processor/resourcedetectionprocessor/internal/kubeadm/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/kubeadm/kubeadm.go
  processor/resourcedetectionprocessor/internal/kubeadm/kubeadm_test.go
  processor/resourcedetectionprocessor/internal/kubeadm/metadata.yaml
Labels: ready to merge, processor/resourcedetection, internal/metadataproviders

#37117 [connector/signaltometrics]Add collector telemetry as resource attrib…
  .chloggen/singlewriter-signaltometrics.yaml
  connector/signaltometricsconnector/connector.go
  connector/signaltometricsconnector/factory.go
  connector/signaltometricsconnector/internal/model/collectorinstanceinfo.go
  connector/signaltometricsconnector/internal/model/collectorinstanceinfo_test.go
  connector/signaltometricsconnector/internal/model/model.go
  connector/signaltometricsconnector/testdata/logs/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/logs/histograms/output.yaml
  connector/signaltometricsconnector/testdata/logs/sum/output.yaml
  connector/signaltometricsconnector/testdata/metrics/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/metrics/histograms/output.yaml
  connector/signaltometricsconnector/testdata/metrics/sum/output.yaml
  connector/signaltometricsconnector/testdata/traces/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/traces/histograms/output.yaml
  connector/signaltometricsconnector/testdata/traces/sum/output.yaml
Labels: connector/signaltometrics

#37177 [chore] fix CI
  .github/workflows/build-and-test.yml
  Makefile
  exporter/dorisexporter/exporter_common.go
  exporter/dorisexporter/exporter_common_test.go
  exporter/dorisexporter/exporter_logs.go
  exporter/dorisexporter/exporter_traces.go
  exporter/dorisexporter/metrics_exponential_histogram.go
  exporter/dorisexporter/metrics_gauge.go
  exporter/dorisexporter/metrics_histogram.go
  exporter/dorisexporter/metrics_sum.go
  exporter/dorisexporter/metrics_summary.go
Labels: exporter/doris, receiver/gitlab

#37112 [pkg/ottl] introduce FormatTime() converter function
  .chloggen/ottl-timestamp.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_formattime.go
  pkg/ottl/ottlfuncs/func_formattime_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#37226 Promote @songy23 to maintainer
  README.md
Labels: Skip Changelog

#37158 [chore] Add jamesmoessis as triager
  README.md
Labels: Skip Changelog

#37228 event client should honor access_token_passthrough
  .chloggen/fix-signalfxexporter-honorpassthrough.yaml
  exporter/signalfxexporter/eventclient.go
Labels: exporter/signalfx

#36883 [pkg/ottl] add `ValueExpression` to support extraction of values from the signal context
  .chloggen/ottl-value-expression.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/grammar.go
  pkg/ottl/parser.go
  pkg/ottl/parser_test.go
Labels: ready to merge, pkg/ottl

#37032 [elasticsearchexporter] Direct serialization without objmodel in OTel mode
  .chloggen/elasticsearchexporter_optimized-json-encoding.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel_test.go
  exporter/elasticsearchexporter/internal/pool/bufferpool.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/pdata_serializer.go
  exporter/elasticsearchexporter/pdata_serializer_test.go
Labels: ready to merge, exporter/elasticsearch

#37244 [chore] Add replace for `huaweicloudcesreceiver` in `builder-config.yaml`
  cmd/otelcontribcol/builder-config.yaml
Labels: cmd/otelcontribcol

#37236 Move filelog.container.removeOriginalTimeField fg to stable
  .chloggen/fg_filelog_stable.yaml
  pkg/stanza/docs/operators/container.md
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
Labels: pkg/stanza

#37179 Add cloud account ID detection in EKS environment
  .chloggen/eks_cloud_account_id.yaml
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/documentation.md
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/aws/eks/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/aws/eks/metadata.yaml
Labels: processor/resourcedetection

#37251 [chore] Remove flaky TestConfigString test in datasetexporter
  exporter/datasetexporter/config_test.go
Labels: exporter/dataset

#37171 Add feature gate for refactor of OTLP->Datadog span translation
  .chloggen/add-feature-flag-for-updated-datadog-span-receiver.yaml
  .github/CODEOWNERS
  connector/datadogconnector/README.md
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/metadata.yaml
  exporter/datadogexporter/README.md
  exporter/datadogexporter/metadata.yaml
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  pkg/datadog/gates.go
  pkg/datadog/go.mod
  pkg/datadog/metadata.yaml
Labels: exporter/datadog, cmd/otelcontribcol, receiver/snowflake, connector/datadog, pkg/datadog

#37252 [chore] [exporter/pulsar] docs: add link to Apache Pulsar
  exporter/pulsarexporter/README.md
Labels: documentation, exporter/pulsar

#37160 [chore] remove dev warning
  receiver/ntpreceiver/README.md
Labels: documentation, receiver/ntp

#36874 [deltatocumulativeprocessor] Introduce an upper bound for exp histogram buckets
  .chloggen/deltatocumulative-cap-exphisto.yaml
  processor/deltatocumulativeprocessor/internal/data/add.go
  processor/deltatocumulativeprocessor/internal/data/expo/merge.go
  processor/deltatocumulativeprocessor/internal/data/expo/scale.go
  processor/deltatocumulativeprocessor/internal/data/expo_test.go
  processor/deltatocumulativeprocessor/testdata/exponential/1.test
Labels: processor/deltatocumulative

#37240 [exporter/elasticsearch] Mark OTel mapping mode as stable
  .chloggen/elasticsearchexporter_otel-stable.yaml
  exporter/elasticsearchexporter/README.md
Labels: exporter/elasticsearch

#37150 [chore][exporter/elasticsearch] Add more detail to version_conflict_engine_exception known issue
  exporter/elasticsearchexporter/README.md
Labels: exporter/elasticsearch

#37254 [chore][filestorage] Update code ownership
  .github/ALLOWLIST
  .github/CODEOWNERS
  extension/storage/filestorage/README.md
  extension/storage/filestorage/internal/metadata/generated_status.go
  extension/storage/filestorage/metadata.yaml
Labels: extension/storage

#37271 [internal/filter] Add filterottl functions with additional options
  internal/filter/filterottl/filter.go
  internal/filter/filterottl/filter_test.go
Labels: Skip Changelog, internal/filter

#36927 [receiver/prometheusremotewrite] validate if scope is already present
  .chloggen/prwreceiver-checkscope.yaml
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#37261 feat(googlecloudmonitoring): set minimum collection interval as 60s
  .chloggen/feat_googlecloudmonitoring-interval.yaml
  receiver/googlecloudmonitoringreceiver/README.md
  receiver/googlecloudmonitoringreceiver/config.go
Labels: ready to merge, receiver/googlecloudmonitoring

#36928 [exporter/prometheusremotewrite] only append colliding attributes values if they are different
  .chloggen/only-append-label-values-if-they-are-different-for-colliding-attributes.yaml
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/testutils_test.go
Labels: ready to merge, pkg/translator/prometheus

#37180 [processor/tailsampling] Late span age histogram should include sampled traces
  .chloggen/tailsamplingprocessor-late-span-age-histogram.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
Labels: ready to merge, processor/tailsampling

#37276 [exporter/signalfx] Prioritize token from context in exporter
  .chloggen/signalfxexporter-prioritize-token-in-context.yaml
  exporter/signalfxexporter/dpclient.go
  exporter/signalfxexporter/eventclient.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/go.mod
Labels: exporter/signalfx

#37259 [exporter/elasticsearch] remove dedup config
  .chloggen/elasticsearchexporter-rm-dedup-config.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory_test.go
Labels: exporter/elasticsearch

#37278 [processor/logdedup] fix config validation not working
  .chloggen/logdedupprocessor-config-validate.yaml
  processor/logdedupprocessor/factory.go
  processor/logdedupprocessor/processor_test.go
Labels: processor/logdedup

#37189 [processor/tailsampling] Improved "not sampled" decision cache usage
  .chloggen/tailsamplingprocessor-improved-not-sampled-decision-cache.yaml
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_decisions_test.go
Labels: processor/tailsampling

#37288 [chore][exporter/elasticsearch] Fix flaky TestExporterLogs
  exporter/elasticsearchexporter/exporter_test.go
Labels: Skip Changelog, exporter/elasticsearch

#36134 feat/re-allow multiple workers
  .chloggen/prometheusremotewrite-reallow-multiple-workers.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/testdata/config.yaml
Labels: enhancement, exporter/prometheusremotewrite, cmd/githubgen

#37291 [chore] fix code owners
  .github/CODEOWNERS
Labels: ci-cd, Skip Changelog

#36419 [exporter/datadog] Add feature flag for updated operation and resourc…
  .chloggen/ibraheem_add-gate-for-operation-name-v2.yaml
  connector/datadogconnector/connector.go
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  pkg/datadog/gates.go
Labels: exporter/datadog, never stale, connector/datadog, pkg/datadog

#37296 [chore] add atoulme as codeowner for jmxreceiver
  .github/ALLOWLIST
  .github/CODEOWNERS
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/internal/metadata/generated_status.go
  receiver/jmxreceiver/metadata.yaml
Labels: receiver/jmx

#37295 [githubgen] Deprecate githubgen in favor of opentelemetry-go-build-tools
  .chloggen/deprecate_githubgen.yaml
  cmd/githubgen/README.md
  cmd/githubgen/go.mod
  cmd/githubgen/main.go
Labels: cmd/githubgen

#37293 [chore][CODEOWNERS] Remove trailing whitespace
  .github/CODEOWNERS
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#37274 [exporter/awss3] Implement sending queue
  .chloggen/awss3exporter-sending-queue.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/testdata/config.yaml
Labels: ready to merge, exporter/awss3

#37298 [chore][scoped-test] Don't do a literal expansion for changed files
  Makefile.Common
Labels: ready to merge, ci-cd, Skip Changelog

#37253 Added two new metrics for vcenter receiver
  .chloggen/add-two-new-vecenter-receiver-metrics.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: ready to merge, receiver/vcenter

#37141 chore: add geolocation databases license caption
  processor/geoipprocessor/internal/provider/maxmindprovider/README.md
Labels: Skip Changelog, processor/geoip

#37309 [chore] docs: fix nanosecond value range
  pkg/stanza/docs/types/timestamp.md
Labels: pkg/stanza

#37299 [processor/tailsampling] Added @portertech to codeowners
  .github/CODEOWNERS
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metadata.yaml
Labels: processor/tailsampling, Skip Changelog

#37323 [receiver/awscloudwatchmetrics] mark unmaintained
  .chloggen/awscloudwatchmetrics_unmaintained.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  receiver/awscloudwatchmetricsreceiver/README.md
  receiver/awscloudwatchmetricsreceiver/internal/metadata/generated_status.go
  receiver/awscloudwatchmetricsreceiver/metadata.yaml
Labels: receiver/awscloudwatchmetrics

#37311 [chore][receiver/googlecloudpubsubreceiver] Fix goroutines leak
  .chloggen/fix-goleak-gcppubreceiver.yaml
  receiver/googlecloudpubsubreceiver/generated_component_test.go
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/internal/handler.go
  receiver/googlecloudpubsubreceiver/internal/subscriber_client.go
  receiver/googlecloudpubsubreceiver/metadata.yaml
  receiver/googlecloudpubsubreceiver/receiver.go
  receiver/googlecloudpubsubreceiver/testdata/gcp-fake-creds.json
  receiver/googlecloudpubsubreceiver/wrapped_subscriber_client.go
  receiver/googlecloudpubsubreceiver/wrapped_subscriber_client_test.go
Labels: ready to merge, receiver/googlecloudpubsub

#37316 [chore] apply fieldalignment
  confmap/provider/aesprovider/provider_test.go
Labels: confmap/provider/aesprovider

#37315 [chore] apply fieldalignment to s3 provider
  confmap/provider/s3provider/provider_test.go
Labels: confmap/provider/s3provider

#37347 [chore][exporter/googlecloudpubsub] improve unit testing
  exporter/googlecloudpubsubexporter/exporter.go
  exporter/googlecloudpubsubexporter/exporter_test.go
  exporter/googlecloudpubsubexporter/factory.go
  exporter/googlecloudpubsubexporter/go.mod
  exporter/googlecloudpubsubexporter/go.sum
Labels: ready to merge, exporter/googlecloudpubsub

#37329 [receiver/mysql] Add delete_multi, update_multi to mysql.commands metric
  .chloggen/add-delete-multi-update-multi-for-mysql-receiver.yaml
  receiver/mysqlreceiver/documentation.md
  receiver/mysqlreceiver/internal/metadata/generated_metrics.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/mysqlreceiver/scraper.go
  receiver/mysqlreceiver/testdata/scraper/expected.yaml
Labels: receiver/mysql

#37263 [chore][extension/headersetter]: add myself as a codeowner of headersetterextension
  .github/CODEOWNERS
  extension/headerssetterextension/README.md
  extension/headerssetterextension/metadata.yaml
Labels: extension/headerssetter

#37340 [chore] - add myself and @swiatekm as codeowners for filestorage extension
  .github/ALLOWLIST
  .github/CODEOWNERS
  extension/storage/filestorage/README.md
  extension/storage/filestorage/internal/metadata/generated_status.go
  extension/storage/filestorage/metadata.yaml
  extension/storage/metadata.yaml
Labels: extension/storage

#37384 Add "if" to csv_parser documentation
  pkg/stanza/docs/operators/csv_parser.md
Labels: documentation, ready to merge, Skip Changelog, pkg/stanza

#37289 [extension/jaegerremotesampling] fix: wait for autoUpdateStrategies in Close function
  extension/jaegerremotesampling/internal/source/filesource/filesource.go
Labels: ready to merge, Skip Changelog, extension/jaegerremotesampling

#37234 [elasticsearchexporter] Declare MutatesData: false
  .chloggen/elasticsearchexporter_mutates-data-false.yaml
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/data_stream_router_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/integrationtest/exporter_bench_test.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/pdata_serializer.go
  exporter/elasticsearchexporter/pdata_serializer_test.go
Labels: ready to merge, exporter/elasticsearch

#37138 [processor/k8sattributes] Wait for ReplicaSet informer before starting pod informer
  .chloggen/k8sattributes-wait-for-informers.yaml
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
Labels: ready to merge, processor/k8sattributes

#37391 [chore] Replace usage of deprecated github APIs
  cmd/githubgen/codeowners.go
Labels: cmd/githubgen

#37390 [connector/routing] Mark MutatesData: true
  .chloggen/routing-fix-mutates-data.yaml
  connector/routingconnector/logs.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/traces.go
  connector/routingconnector/traces_test.go
Labels: pkg/stanza, connector/routing

#37395 [chore] deprecate githubgen further
  cmd/githubgen/README.md
  cmd/githubgen/main.go
Labels: cmd/githubgen

#37397 [chore] switch over githubgen to the one built with our tools
  Makefile
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools

#37306 [chore] detect gnu-sed
  .github/workflows/scripts/check-collector-module-version.sh
Labels: ready to merge, ci-cd, Skip Changelog

#37409 [chore] Revert the switch over githubgen to the one built with our tools
  Makefile
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools

#37235 [chore] [exporter/elasticsearch] Extract mapping hints into an internal elasticsearch module
  exporter/elasticsearchexporter/internal/elasticsearch/mapping_hint.go
  exporter/elasticsearchexporter/internal/elasticsearch/mapping_hint_test.go
  exporter/elasticsearchexporter/mapping_hint.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/pdata_serializer.go
Labels: exporter/elasticsearch

#36865 [receiver/netflow] Netflow receiver implementation - PR 2
  .chloggen/netflow-receiver-implementation.yaml
  receiver/netflowreceiver/README.md
  receiver/netflowreceiver/config.go
  receiver/netflowreceiver/config_test.go
  receiver/netflowreceiver/factory.go
  receiver/netflowreceiver/go.mod
  receiver/netflowreceiver/go.sum
  receiver/netflowreceiver/listener.go
  receiver/netflowreceiver/listener_test.go
  receiver/netflowreceiver/parser.go
  receiver/netflowreceiver/parser_test.go
  receiver/netflowreceiver/producer.go
  receiver/netflowreceiver/producer_test.go
  receiver/netflowreceiver/receiver.go
  receiver/netflowreceiver/receiver_test.go
  receiver/netflowreceiver/testdata/config.yaml
Labels: receiver/netflow

#37272 [processor/transform] Replace ParserCollection and add initial support for context inference
  .chloggen/replace-pc-and-add-intial-contextinference-support.yaml
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform

#37346 [cmd/opampsupervisor] report own metrics via OTLP
  .chloggen/codeboten_opampsupervisor-emit-otlp.yaml
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/owntelemetry.yaml
Labels: cmd/opampsupervisor

#37423 [chore] fix allowlist
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#37400 Add STEF exporter
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  exporter/stefexporter/Makefile
  exporter/stefexporter/README.md
  exporter/stefexporter/config.go
  exporter/stefexporter/config_test.go
  exporter/stefexporter/doc.go
  exporter/stefexporter/exporter.go
  exporter/stefexporter/exporter_test.go
  exporter/stefexporter/factory.go
  exporter/stefexporter/factory_test.go
  exporter/stefexporter/generated_component_test.go
  exporter/stefexporter/generated_package_test.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  exporter/stefexporter/internal/metadata/generated_status.go
  exporter/stefexporter/metadata.yaml
  versions.yaml
Labels: Skip Changelog, reports/distributions/contrib.yaml

#37425 [chore] update test to use a different prometheus endpoint
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog

#37431 [chore] use AvailablePort for grpc/http receivers
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_toplevel_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog

#37432 deltatocumulative: Fix selection of the target scale for exponential histograms
  .chloggen/expo-histogram-fix-downscaling.yaml
  processor/deltatocumulativeprocessor/internal/data/add.go
  processor/deltatocumulativeprocessor/internal/data/expo_test.go
Labels: processor/deltatocumulative

#37430 Fix flaky prom remote write exporter concurrency test
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_concurrency_test.go
Labels: Skip Changelog, exporter/prometheusremotewrite, Run Windows

#37065 [elasticsearchexporter]: Add dynamic document id support for logs
  .chloggen/elasticsearchexporter_logs_dynamic_id.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/pdata_serializer.go
  exporter/elasticsearchexporter/pdata_serializer_test.go
Labels: exporter/elasticsearch

#37412 Use githubgen tool from go-build-tools
  .chloggen/mowies-deprecate-githubgen.yaml
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/workflows/check-codeowners.yaml
  CONTRIBUTING.md
  Makefile
  Makefile.Common
  cmd/githubgen/metadata.yaml
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools, cmd/githubgen

#37450 [chore][Makefile] Fix usage of deprecated builder flags
  Makefile
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
Labels: ci-cd, cmd/otelcontribcol, cmd/oteltestbedcol

#37456 [chore] fix path to githubgen
  .github/workflows/check-codeowners.yaml
Labels: ci-cd

#37265 Added support for endpoints in httpcheckreceiver
  .chloggen/add-multiple-endpoints-support-httpcheckreceiver.yaml
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/config.go
  receiver/httpcheckreceiver/config_test.go
  receiver/httpcheckreceiver/scraper.go
Labels: receiver/httpcheck

#34407 [processor/cumulativetodelta] Add metric type filter
  .chloggen/cumulative-to-delta-processor-metric-type-filter.yaml
  processor/cumulativetodeltaprocessor/README.md
  processor/cumulativetodeltaprocessor/config.go
  processor/cumulativetodeltaprocessor/config_test.go
  processor/cumulativetodeltaprocessor/factory.go
  processor/cumulativetodeltaprocessor/factory_test.go
  processor/cumulativetodeltaprocessor/go.mod
  processor/cumulativetodeltaprocessor/go.sum
  processor/cumulativetodeltaprocessor/processor.go
  processor/cumulativetodeltaprocessor/processor_test.go
  processor/cumulativetodeltaprocessor/testdata/config.yaml
Labels: processor/cumulativetodelta

#37137 [receiver/googlecloudpubsub] Add support for encoding extensions (#37109)
  .chloggen/pubsubreceiver-encodingextensions.yaml
  receiver/googlecloudpubsubreceiver/README.md
  receiver/googlecloudpubsubreceiver/config.go
  receiver/googlecloudpubsubreceiver/config_test.go
  receiver/googlecloudpubsubreceiver/factory.go
  receiver/googlecloudpubsubreceiver/go.mod
  receiver/googlecloudpubsubreceiver/go.sum
  receiver/googlecloudpubsubreceiver/internal/log_entry.go
  receiver/googlecloudpubsubreceiver/internal/log_entry_test.go
  receiver/googlecloudpubsubreceiver/receiver.go
  receiver/googlecloudpubsubreceiver/receiver_test.go
Labels: ready to merge, receiver/googlecloudpubsub

#37461 [chore]: fixing up issue with codeowners.
  cmd/githubgen/allowlist.txt
Labels: cmd/githubgen

#37387 [elasticsearchexporter] Consistently store the structured body of logs and events in `otel` mode
  .chloggen/elasticsearchexporter_log_body.yaml
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/pdata_serializer.go
  exporter/elasticsearchexporter/pdata_serializer_test.go
Labels: exporter/elasticsearch

#37424 [receiver/activedirectoryds] [docs] Update example in README
  receiver/activedirectorydsreceiver/README.md
Labels: Skip Changelog, receiver/activedirectoryds

#37452 [receiver/cloudfoundry] Promote `cloudfoundry.resourceAttributes.allow` feature gate to beta
  .chloggen/cf_feature_flag_update.yaml
  receiver/cloudfoundryreceiver/converter.go
Labels: receiver/cloudfoundry

#37476 [chore][update-otel] Tidy after generating the code (#37440)
  exporter/otelarrowexporter/metadata_test.go
  exporter/otelarrowexporter/otelarrow_test.go
Labels: exporter/otelarrow

#37471 [chore] Fix tests using MetricsLevel
  exporter/prometheusremotewriteexporter/exporter_concurrency_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  internal/otelarrow/admission2/boundedqueue_test.go
  internal/otelarrow/netstats/netstats.go
  internal/otelarrow/netstats/netstats_test.go
  processor/deltatocumulativeprocessor/processor_test.go
  processor/groupbytraceprocessor/event_test.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
  receiver/otelarrowreceiver/otelarrow_test.go
  receiver/solacereceiver/factory_test.go
Labels: processor/tailsampling, processor/groupbytrace, exporter/prometheusremotewrite, receiver/solace, processor/deltatocumulative, receiver/otelarrow, internal/otelarrow

#37477 [exporter/loadbalancing] Fix shutdown race
  exporter/loadbalancingexporter/resolver_dns.go
Labels: Skip Changelog, exporter/loadbalancing

#37465 [chore] [awsfirehosereceiver] use math/rand/v2
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder_test.go
Labels: receiver/awsfirehose

#37468 [exporter/elasticsearch] [chore] move esIndex into elasticsearch.Index
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/data_stream_router_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/internal/elasticsearch/index.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/pdata_serializer.go
  exporter/elasticsearchexporter/pdata_serializer_test.go
Labels: exporter/elasticsearch

#37479 [chore] add rogercoll as codeowner for jmxreceiver
  .github/CODEOWNERS
  receiver/jmxreceiver/README.md
  receiver/jmxreceiver/metadata.yaml
Labels: ready to merge, receiver/jmx

#36715 [receiver/otlpjsonfile] append token.Attributes to scoped attribute of the signal
  .chloggen/receiver-otlpjson-token-attr.yaml
  receiver/otlpjsonfilereceiver/file.go
  receiver/otlpjsonfilereceiver/file_test.go
Labels: ready to merge, receiver/otlpjsonfile

#37353 [cmd/opampsupervisor] support headers configuration for own telemetry
  .chloggen/codeboten_add-support-for-headers.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/templates/owntelemetry.yaml
Labels: cmd/opampsupervisor

#37314 [chore] apply fieldalignment to routingconnector
  connector/routingconnector/config.go
  connector/routingconnector/config_test.go
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/ptraceutil/traces_test.go
  connector/routingconnector/logs_test.go
  connector/routingconnector/metrics_test.go
  connector/routingconnector/request.go
  connector/routingconnector/router.go
  connector/routingconnector/traces_test.go
Labels: connector/routing

#35903 docs(clickhouseexporter): add examples of missing DDL tables
  .chloggen/clickhouse_examples.yaml
  exporter/clickhouseexporter/example/default_ddl/exponential_histogram.sql
  exporter/clickhouseexporter/example/default_ddl/metrics_gauge.sql
Labels: ready to merge, exporter/clickhouse

#37457 [connector/datadog] support obfuscation in datadogconnector
  .chloggen/datadogconnector-add-stats-obfuscation.yaml
  cmd/otelcontribcol/builder-config.yaml
  connector/datadogconnector/connector_native.go
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
Labels: exporter/datadog, cmd/otelcontribcol, connector/datadog

#37484 [exporter/signalfx] Warn when dropping data points
  .chloggen/warn_on_dropped_dp.yaml
  exporter/signalfxexporter/internal/translation/converter.go
Labels: exporter/signalfx

#36386 [receiver/solace]: Update the auth validation step
  .chloggen/solace-receiver-validation-improvements.yaml
  receiver/solacereceiver/config.go
  receiver/solacereceiver/config_test.go
Labels: ready to merge, receiver/solace

#37485 [chore][CI] disable failIfEmpty in check-links
  .github/workflows/check-links.yaml
Labels: ci-cd, Skip Changelog

#36142 [processor/resourcedetection] Add support for detecting GCE VMs in Managed Instance Groups
  .chloggen/gcp-gce-mig.yaml
  processor/resourcedetectionprocessor/internal/gcp/documentation.md
  processor/resourcedetectionprocessor/internal/gcp/gcp.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/resource.go
  processor/resourcedetectionprocessor/internal/gcp/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/gcp/metadata.yaml
  processor/resourcedetectionprocessor/internal/gcp/types.go
Labels: ready to merge, processor/resourcedetection
