Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-05, with the labels that each got.

#39244 [exporter/awsxrayexporter] update to aws-sdk-go-v2
  exporter/awsxrayexporter/awsxray.go
  exporter/awsxrayexporter/awsxray_test.go
  exporter/awsxrayexporter/factory.go
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  exporter/awsxrayexporter/internal/translator/aws.go
  exporter/awsxrayexporter/internal/translator/aws_test.go
  exporter/awsxrayexporter/internal/translator/cause.go
  exporter/awsxrayexporter/internal/translator/http.go
  exporter/awsxrayexporter/internal/translator/http_test.go
  exporter/awsxrayexporter/internal/translator/segment.go
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  internal/aws/xray/telemetry/nop_sender.go
  internal/aws/xray/telemetry/nop_sender_test.go
  internal/aws/xray/telemetry/recorder.go
  internal/aws/xray/telemetry/recorder_test.go
  internal/aws/xray/telemetry/registry_test.go
  internal/aws/xray/telemetry/sender.go
  internal/aws/xray/telemetry/sender_test.go
  internal/aws/xray/telemetry/telemetrytest/sender_sink.go
  internal/aws/xray/telemetry/telemetrytest/sender_sink_test.go
  internal/aws/xray/xray_client.go
  internal/aws/xray/xray_client_test.go
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
  receiver/awsxrayreceiver/internal/translator/translator_test.go
Labels: Skip Changelog, exporter/awsxray, receiver/awsxray, internal/aws, waiting-for-code-owners

#39815 [chore] fix datadogsemanticsprocessor version number
  cmd/otelcontribcol/builder-config.yaml
Labels: cmd/otelcontribcol

#39817 exporter/kafkaexporter: fix topic & message key
  .chloggen/kafkaexporter-fixes.yaml
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
Labels: exporter/kafka

#39687 [receiver/awsfirehose] Support all possible quantiles of CloudWatch metrics
  .chloggen/support-other-quantiles-of-cw-metrics.yaml
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/cwmetric.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/testdata/single_record
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/unmarshaler_test.go
Labels: receiver/awsfirehose

#39761 [tailsamplingprocessor] Fix the misleading decision timer latency metric
  .chloggen/logiraptor_fix-decision-timer-latency-metric.yaml
  processor/tailsamplingprocessor/processor.go
Labels: processor/tailsampling

#39801 [chore] Tail-sampling drop policy documentation
  processor/tailsamplingprocessor/README.md
Labels: processor/tailsampling

#39806 receiver/kafkareceiver: fix hyphenated text encodings
  .chloggen/kafkareceiver-textencoding.yaml
  receiver/kafkareceiver/encoding.go
  receiver/kafkareceiver/encoding_test.go
Labels: receiver/kafka

#39685 [chore][exporter/elasticsearch] Clarify es exporter version for metric_names_hash
  exporter/elasticsearchexporter/README.md
Labels: exporter/elasticsearch

#38832 [receiver/netflowreceiver] add `send_raw` option for sending unparsed logs
  .chloggen/netflowreceiver-add-send-raw-option.yaml
  receiver/netflowreceiver/README.md
  receiver/netflowreceiver/config.go
  receiver/netflowreceiver/config_test.go
  receiver/netflowreceiver/producer.go
  receiver/netflowreceiver/producer_test.go
  receiver/netflowreceiver/receiver.go
  receiver/netflowreceiver/testdata/config.yaml
Labels: receiver/netflow

#39137 Support unnamed groups in carbon receiver regex parser
  .chloggen/carbon-unnamed-regex-groups.yaml
  receiver/carbonreceiver/config_test.go
  receiver/carbonreceiver/protocol/regex_parser.go
  receiver/carbonreceiver/protocol/regex_parser_test.go
  receiver/carbonreceiver/testdata/config.yaml
Labels: receiver/carbon

#39134 [connector/spanmetricsconnector] add separate additional dimensions for calls and duration metrics
  .chloggen/fix-36805.yaml
  connector/spanmetricsconnector/README.md
  connector/spanmetricsconnector/config.go
  connector/spanmetricsconnector/config_test.go
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/testdata/config.yaml
Labels: connector/spanmetrics

#39771 [cmd/golden] add a Docker image
  .chloggen/golden_docker.yaml
  Makefile
  cmd/golden/Dockerfile
Labels: cmd/golden

#39831 [receiver/fluentforward] move struct to internal, do not expose in API
  .chloggen/move_ack_to_internal.yaml
  receiver/fluentforwardreceiver/internal/ack.go
  receiver/fluentforwardreceiver/internal/ack_test.go
  receiver/fluentforwardreceiver/server.go
Labels: receiver/fluentforward

#39846 [chore] [receiver/sqlserver] regenerate testdata with golden
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQueryWithInvalidData.yaml
Labels: receiver/sqlserver, Run Windows

#39840 [encoding/googlecloudlogentryencoding] Update stability to alpha.
  .chloggen/googlecloudlogentryencodingextension_alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/internal/metadata/generated_status.go
  extension/encoding/googlecloudlogentryencodingextension/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, extension/encoding/googlecloudlogentryencoding

#39839 [receiver/googlecloudpubsub] add ignore_encoding_error configuration
  .chloggen/pubsub-ignore-encoding-error.yaml
  receiver/googlecloudpubsubreceiver/README.md
  receiver/googlecloudpubsubreceiver/config.go
  receiver/googlecloudpubsubreceiver/documentation.md
  receiver/googlecloudpubsubreceiver/internal/metadata/generated_telemetry.go
  receiver/googlecloudpubsubreceiver/internal/metadatatest/generated_telemetrytest.go
  receiver/googlecloudpubsubreceiver/internal/metadatatest/generated_telemetrytest_test.go
  receiver/googlecloudpubsubreceiver/metadata.yaml
  receiver/googlecloudpubsubreceiver/receiver.go
Labels: receiver/googlecloudpubsub

#39845 [chore] [receivercreator] docs: fix typo in link
  receiver/receivercreator/README.md
Labels: receiver/receivercreator

#39803 [receiver/prometheus] Upgrade receiver.prometheus.removeLegacyResourceAttributes feature flag
  .chloggen/upgrade_prom_feature_gate.yaml
  exporter/prometheusexporter/end_to_end_test.go
  receiver/prometheusreceiver/internal/prom_to_otlp.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
Labels: ready to merge, receiver/prometheus, exporter/prometheus

#39848 Feature/update library versions
  exporter/azuredataexplorerexporter/adx_exporter.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/azuredataexplorerexporter/e2e_test.go
  exporter/azuredataexplorerexporter/go.mod
  exporter/azuredataexplorerexporter/go.sum
Labels: ready to merge, Skip Changelog, exporter/azuredataexplorer

#39345 [mongodbatlasreceiver] Add baseURL config
  .chloggen/feat--Add-support-for-atlasgov.yaml
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/access_logs.go
  receiver/mongodbatlasreceiver/access_logs_test.go
  receiver/mongodbatlasreceiver/alerts.go
  receiver/mongodbatlasreceiver/config.go
  receiver/mongodbatlasreceiver/config_test.go
  receiver/mongodbatlasreceiver/events.go
  receiver/mongodbatlasreceiver/events_test.go
  receiver/mongodbatlasreceiver/factory.go
  receiver/mongodbatlasreceiver/internal/mongodb_atlas_client.go
  receiver/mongodbatlasreceiver/logs.go
  receiver/mongodbatlasreceiver/receiver.go
Labels: ready to merge, receiver/mongodbatlas

#39830 [receiver/splunkenterprise] Unexport InfoEntry and InfoContent
  .chloggen/unexport_struct.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
Labels: receiver/splunkenterprise

#39825 [pkg/ottl] Add support for HasPrefix and HasSuffix
  .chloggen/has-suffix-prefix.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_has_prefix.go
  pkg/ottl/ottlfuncs/func_has_prefix_test.go
  pkg/ottl/ottlfuncs/func_has_suffix.go
  pkg/ottl/ottlfuncs/func_has_suffix_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#39862 [receiver/snowflakereceiver] fix(security): CVE-2025-46327 : Upgraded gosnowflake to v1.13.3
  receiver/snowflakereceiver/client.go
  receiver/snowflakereceiver/generated_package_test.go
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/snowflakereceiver/metadata.yaml
Labels: dependencies, Skip Changelog, receiver/snowflake

#39835 [pkg/winperfcounters] Add support to retrieve raw values
  .chloggen/add-raw-value-scrape-to-winperfcounters.yaml
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/pdh.go
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/pdh_386.go
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/pdh_amd64.go
  pkg/winperfcounters/internal/third_party/telegraf/win_perf_counters/performance_query.go
  pkg/winperfcounters/watcher.go
  pkg/winperfcounters/watcher_test.go
  receiver/activedirectorydsreceiver/scraper_test.go
  receiver/iisreceiver/scraper_test.go
  receiver/sqlserverreceiver/scraper_windows_test.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
Labels: receiver/activedirectoryds, receiver/iis, receiver/windowsperfcounters, receiver/sqlserver, pkg/winperfcounters, Run Windows

#39829 exporter/prometheusremotewrite: Promote Owen to codeowner
  .github/CODEOWNERS
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/metadata.yaml
Labels: Skip Changelog, exporter/prometheusremotewrite

#39890 [cmd/opampsupervisor] Update supervisor to report agent ComponentHealth messages.
  .chloggen/opampsupervisor-report-agent-health.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#39896 [chore] Update OTTL and Transformprocessor code owners
  .github/CODEOWNERS
  pkg/ottl/README.md
  pkg/ottl/metadata.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/metadata.yaml
Labels: processor/transform, pkg/ottl

#39837 [chore] awskinesisexporter add test case
  exporter/awskinesisexporter/config_test.go
Labels: exporter/awskinesis

#39894 [pkg/ottl] update godoc comments
  pkg/ottl/boolean_value.go
  pkg/ottl/config.go
  pkg/ottl/contexts/ottldatapoint/datapoint.go
  pkg/ottl/contexts/ottllog/log.go
  pkg/ottl/contexts/ottlmetric/metrics.go
  pkg/ottl/contexts/ottlprofile/profile.go
  pkg/ottl/contexts/ottlresource/resource.go
  pkg/ottl/contexts/ottlscope/scope.go
  pkg/ottl/contexts/ottlspan/span.go
  pkg/ottl/contexts/ottlspanevent/span_events.go
  pkg/ottl/expression.go
  pkg/ottl/factory.go
  pkg/ottl/functions.go
  pkg/ottl/ottlfuncs/functions.go
  pkg/ottl/parser.go
Labels: Skip Changelog, pkg/ottl

#38608 fix(kafkaexporter): Make Sarama's ConfigurationError as permanent to prevent retries
  .chloggen/fix_kafkaexporter_permanent_config_error.yaml
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
Labels: exporter/kafka, waiting-for-code-owners

#37369 [processor/redaction] apply redaction to log.body (#37239)
  .chloggen/redact-log-body.yaml
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
Labels: processor/redaction, waiting-for-code-owners

#39918 Finer grained driver loading in SQL receivers
  .chloggen/finer_grained_drv_loading_sql_receivers.yaml
  internal/sqlquery/db_client.go
  internal/sqlquery/go.mod
  internal/sqlquery/go.sum
  receiver/postgresqlreceiver/go.mod
  receiver/postgresqlreceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/internal/database_sql.go
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
Labels: receiver/sqlquery, receiver/sqlserver, receiver/postgresql, Run Windows, internal/sqlquery

#39910 [pkg/ottl] Promote OTTL to beta
  .chloggen/ottl-beta.yaml
  pkg/ottl/README.md
  pkg/ottl/metadata.yaml
Labels: pkg/ottl

#39928 [processor/transform] Promote to Beta
  .chloggen/transformprocessor-beta.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/internal/metadata/generated_status.go
  processor/transformprocessor/metadata.yaml
Labels: processor/transform

#39861 pkg/stanza/fileconsumer: remove new file log when the noStateTracker is used
  .chloggen/mute-log.yaml
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/tracker/tracker.go
Labels: pkg/stanza/fileconsumer

#39834 [chore] fix test internal/common/docker
  internal/common/docker/images_test.go
Labels: internal/common

#39868 [receiver/sqlserver] Update event properties
  .chloggen/sqlserver-update-props.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQueryWithInvalidData.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#39588 [receiver/faroreceiver] Add Faro receiver logic to wireframe
  .chloggen/faro-receiver-logic.yaml
  cmd/otelcontribcol/builder-config.yaml
  receiver/faroreceiver/README.md
  receiver/faroreceiver/config_test.go
  receiver/faroreceiver/factory.go
  receiver/faroreceiver/go.mod
  receiver/faroreceiver/go.sum
  receiver/faroreceiver/receiver.go
  receiver/faroreceiver/receiver_test.go
  receiver/faroreceiver/reciever.go
  receiver/faroreceiver/testdata/config.yaml
  receiver/faroreceiver/testdata/empty.json
  receiver/faroreceiver/testdata/empty.yaml
  receiver/faroreceiver/testdata/golden/minimal-logs-and-traces-only.yaml
  receiver/faroreceiver/testdata/golden/minimal-logs-only.yaml
  receiver/faroreceiver/testdata/golden/minimal-traces-only.yaml
  receiver/faroreceiver/testdata/logs/minimal-logs-only.json
  receiver/faroreceiver/testdata/logsandtraces/minimal-only.json
  receiver/faroreceiver/testdata/traces/minimal-traces-only.json
Labels: ready to merge, cmd/otelcontribcol, receiver/faro

#39654 [receiver/datadog] Support 128 bits TraceID coming from Datadog
  .chloggen/fix_datadogreceiver_128bits_traceid.yaml
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/config.go
  receiver/datadogreceiver/factory.go
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
  receiver/datadogreceiver/receiver.go
Labels: ready to merge, receiver/datadog

#39790 Added a New Provider Component - Google Secrets Provider
  .chloggen/google-secrets-manager-provider.yaml
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  confmap/provider/googlesecretmanagerprovider/Makefile
  confmap/provider/googlesecretmanagerprovider/README.md
  confmap/provider/googlesecretmanagerprovider/generated_package_test.go
  confmap/provider/googlesecretmanagerprovider/go.mod
  confmap/provider/googlesecretmanagerprovider/go.sum
  confmap/provider/googlesecretmanagerprovider/metadata.yaml
  confmap/provider/googlesecretmanagerprovider/provider.go
  confmap/provider/googlesecretmanagerprovider/provider_test.go
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: ready to merge, Accepted Component

#39858 metricstarttimeprocessor: prepare for adding the metricstarttimeprocessor to the contrib distribution
  .chloggen/add-processor-to-contrib-build.yaml
  cmd/otelcontribcol/builder-config.yaml
  processor/metricstarttimeprocessor/README.md
  processor/metricstarttimeprocessor/internal/metadata/generated_status.go
  processor/metricstarttimeprocessor/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, cmd/otelcontribcol, reports/distributions/contrib.yaml, processor/metricstarttime

#39905 [receiver/sqlserver] Properly parse scientific notation numbers to ints
  .chloggen/sqlserver_scientific_notation.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/perfCounterQueryData.txt
Labels: ready to merge, receiver/sqlserver, Run Windows

#39913 prometheusreceiver: fix created timestamp conversion from ms to s
  .chloggen/prometheus-ct-hot-fix.yaml
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: ready to merge, receiver/prometheus

#39820 Add log record attributes from category AzureCdnAccessLog
  .chloggen/add-azurecdnaccesslog.yaml
  pkg/translator/azurelogs/README.md
  pkg/translator/azurelogs/category_logs.go
  pkg/translator/azurelogs/category_logs_test.go
  pkg/translator/azurelogs/metadata.yaml
  pkg/translator/azurelogs/property_names.go
  pkg/translator/azurelogs/resourcelogs_to_logs.go
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_1.json
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_1_expected.yaml
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_2.json
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_2_expected.yaml
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_3.json
  pkg/translator/azurelogs/testdata/azurecdnaccesslog/valid_3_expected.yaml
  pkg/translator/azurelogs/testdata/expected/access-log-expected.yaml
  pkg/translator/azurelogs/testdata/log-azurecdnaccesslog.json
Labels: pkg/translator/azurelogs

#39023 [receiver/splunkenterprisereceiver] Add splunk.indexer.rollingrestart.status metric
  .chloggen/add-splunk-rolling-restart-metric.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/search_result.go
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: ready to merge, receiver/splunkenterprise

#39947 [cmd/opampsupervisor] Fix merging lists when using local config
  .chloggen/opampsupervisor-fix-local-config.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/commander/commander.go
  cmd/opampsupervisor/testdata/collector/simple_pipeline_env.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_exec_config.yaml
Labels: cmd/opampsupervisor

#38669 [receiver/k8scluster] Add node name to pod metadata
  .chloggen/k8sclusterreceiver-node-name.yaml
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/mock_resources_test.go
  receiver/k8sclusterreceiver/receiver_test.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster, waiting-for-code-owners

#39908 [opampsupervisor] remove health check port
  .chloggen/opampsupervisor-remove-health-check-port.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/specification/README.md
  cmd/opampsupervisor/supervisor/config/config.go
  cmd/opampsupervisor/supervisor/config/config_test.go
  cmd/opampsupervisor/supervisor/healthchecker/healthchecker.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/opampsupervisor/supervisor/supervisor_windows_service_test.go
  cmd/opampsupervisor/supervisor/templates/extraconfig.yaml
  cmd/opampsupervisor/supervisor/testdata/merged_effective_config.yaml
  cmd/opampsupervisor/supervisor/testdata/merged_local_config.yaml
  cmd/opampsupervisor/supervisor/testdata/supervisor_windows_service_test_config.yaml
  cmd/opampsupervisor/testdata/collector/effective_config.yaml
  cmd/opampsupervisor/testdata/collector/effective_config_without_extensions.yaml
  cmd/opampsupervisor/testdata/collector/healthcheck_config.yaml
  cmd/opampsupervisor/testdata/collector/simple_pipeline.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_healthcheck_port.yaml
Labels: Run Windows, cmd/opampsupervisor, Run ARM

#39917 [chore] Avoid long switch call in zap.Any if the logs will not be logged
  pkg/ottl/context_inferrer.go
  pkg/ottl/parser.go
Labels: pkg/ottl

#35888 [exporter/prometheusremotewrite] feat: prom rw exporter add support for rw2
  .chloggen/jm-prom-rw-exporter-add-support-for-rw2.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/config_test.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_concurrency_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/exporter_v2.go
  exporter/prometheusremotewriteexporter/factory.go
  exporter/prometheusremotewriteexporter/generated_package_test.go
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite, pkg/translator/prometheus

#39960 Remove deprecated batcher config for coralogixexporter, use sending_queue
  .chloggen/rm-batcher-coralogixexporter.yaml
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory.go
Labels: exporter/coralogix

#39805 Fail workflow when conclusion is failure
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#39970 Revert "Fail workflow when conclusion is failure"
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#39562 [exporter/elasticsearch] report connection health via componentstatus
  .chloggen/elasticsearch-exporter-status.yaml
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/esclient_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
Labels: exporter/elasticsearch

#39975 [chore] [pkg/stanza/fileconsumer] fix flaky sink timeout tests
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
Labels: pkg/stanza/fileconsumer

#39973 [provider/googlesecretmanagerprovider] Updated scheme to use `googlesecretmanager` instead of `googlesecretmanagerprovider`
  .chloggen/google-sercrets-manager-provider-update-scheme.yaml
  confmap/provider/googlesecretmanagerprovider/README.md
  confmap/provider/googlesecretmanagerprovider/provider.go
Labels: confmap/provider/googlesecretmanagerprovider

#39956 [provider/googlesecretmanagerprovider] mark the component "Alpha" Stability
  .chloggen/google-secret-manager-provider-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  confmap/provider/googlesecretmanagerprovider/README.md
  confmap/provider/googlesecretmanagerprovider/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, cmd/otelcontribcol, reports/distributions/contrib.yaml, confmap/provider/googlesecretmanagerprovider

#39916 [receiver/hostmetrics] Migrate from vendored code to pkg/winperfcounters
  .chloggen/migrate-hostmetricsreceiver-to-pkg-winperfcounters.yaml
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  internal/tidylist/tidylist.txt
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/internal/perfcounters/doc.go
  receiver/hostmetricsreceiver/internal/perfcounters/package_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_errors.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_mock.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/LICENSE
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/collector.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/errors.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/nametable.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/pdh_const.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/perflib.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/perflib_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/raw_types.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/utf16.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/utils.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/disk_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/load_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows.go
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/paging_scraper_windows_test.go
  receiver/hostmetricsreceiver/internal/testmocks/perf_counter_watcher_mock.go
Labels: exporter/datadog, receiver/hostmetrics, connector/datadog, receiver/hostmetrics/internal/scraper/diskscraper, receiver/hostmetrics/internal/scraper/loadscraper, receiver/hostmetrics/internal/scraper/paging

#38510 [fileconsumer] Add `compression:auto` to support ingesting mixed file types
  .chloggen/add-compression-auto.yaml
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza, pkg/stanza/fileconsumer

#38829 [exporter/clickhouse] Fix database creation
  .chloggen/k.garmanov_FIX-CLICKHOUSEEXPORTER-DATABASE-CREATION.yaml
  exporter/clickhouseexporter/Makefile
  exporter/clickhouseexporter/example/docker-compose.yml
  exporter/clickhouseexporter/example/otel-collector-config.yml
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/integration_test.go
Labels: ready to merge, exporter/clickhouse

#39672 [receiver/prometheus] Add fallback_scrape_protocol when using target allocator
  .chloggen/prom-scrape-config-ta.yaml
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/prometheusreceiver/targetallocator/manager_test.go
Labels: ready to merge, receiver/prometheus

#39497 [internal/aws] Migrate k8s and xray/testdata to aws-sdk-go-v2
  internal/aws/k8s/go.mod
  internal/aws/k8s/go.sum
  internal/aws/k8s/k8sclient/endpoint_test.go
  internal/aws/k8s/k8sclient/pod_test.go
  internal/aws/xray/testdata/sampleapp/go.mod
  internal/aws/xray/testdata/sampleapp/go.sum
  internal/aws/xray/testdata/sampleapp/sample.go
  internal/aws/xray/testdata/sampleserver/go.mod
  internal/aws/xray/testdata/sampleserver/go.sum
  internal/aws/xray/testdata/sampleserver/sample.go
Labels: Skip Changelog, internal/aws, waiting-for-code-owners

#39983 [chore] update aws-sdk-go-v2 to v1.217.0
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
Labels: exporter/datadog, processor/resourcedetection, receiver/awscontainerinsight, internal/datadog, connector/datadog, pkg/datadog

#39962 [exporter/azuremonitor] Support handling log exceptions
  .chloggen/38432.yaml
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/config.go
  exporter/azuremonitorexporter/log_to_envelope.go
  exporter/azuremonitorexporter/logexporter_test.go
Labels: exporter/azuremonitor

#39802 [chore][exporter/datadogexporter] fix data race in tests again
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_toplevel_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog, Run Windows, waiting-for-code-owners

#39717 [receiver/awsxray] update to aws-sdk-go-v2
  internal/aws/xray/go.mod
  internal/aws/xray/telemetry/recorder.go
  internal/aws/xray/telemetry/recorder_test.go
  internal/aws/xray/testdata/sampleapp/sample.go
  internal/aws/xray/tracesegment_test.go
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/internal/translator/aws_test.go
  receiver/awsxrayreceiver/internal/translator/cause_test.go
  receiver/awsxrayreceiver/internal/translator/translator_test.go
Labels: ready to merge, Skip Changelog, exporter/awsxray, receiver/awsxray, internal/aws

#39054 [receiver/k8sobjectsreceiver] k8sobject receiver support leader election
  .chloggen/k8s0bject-leader-election.yaml
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/config.go
  receiver/k8sobjectsreceiver/go.mod
  receiver/k8sobjectsreceiver/go.sum
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/receiver_test.go
Labels: receiver/k8sobjects

#39958 [stefexporter] Implement async exporting
  .chloggen/tigran_stefexporter.yaml
  exporter/stefexporter/README.md
  exporter/stefexporter/exporter.go
  exporter/stefexporter/exporter_test.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  exporter/stefexporter/internal/connmanager.go
  exporter/stefexporter/internal/connmanager_test.go
  exporter/stefexporter/internal/stefconn.go
  exporter/stefexporter/internal/sync2async.go
  exporter/stefexporter/internal/sync2async_test.go
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/go.sum
Labels: exporter/stef, receiver/stef

#39991 [chore] move remaining dependency from collector/semconv
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  exporter/awskinesisexporter/go.mod
  exporter/awskinesisexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/go.sum
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  pkg/translator/zipkin/zipkinv2/to_translator.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
Labels: receiver/zipkin, exporter/alibabacloudlogservice, exporter/loadbalancing, cmd/telemetrygen, exporter/clickhouse, exporter/loki, exporter/azuremonitor, exporter/prometheusremotewrite, exporter/awsemf, exporter/signalfx, exporter/splunkhec, exporter/awskinesis, exporter/logzio, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/sapm, exporter/sentry, exporter/prometheus, exporter/zipkin, exporter/tencentcloudlogservice, exporter/opencensus, receiver/kafka, receiver/pulsar, pkg/translator/zipkin, connector/count, connector/servicegraph, connector/spanmetrics, cmd/opampsupervisor, connector/routing, connector/exceptions, connector/datadog, exporter/honeycombmarker, extension/encoding/zipkinencoding, connector/sum, exporter/doris, connector/signaltometrics, exporter/bmchelix

#40005 googlecloudexporter: add Custom Monitored Resources for logging
  .chloggen/custom-monitored-resources.yaml
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/internal/resourcemapping/custommapping.go
  exporter/googlecloudexporter/internal/resourcemapping/custommapping_test.go
Labels: ready to merge, exporter/googlecloud

#39596 [processor/datadogsemantics] Make defaults explicit and add test
  processor/datadogsemanticsprocessor/processor.go
  processor/datadogsemanticsprocessor/processor_test.go
Labels: Skip Changelog, processor/datadogsemantics

#40042 [chore][exporter/datadog] shorten internal metrics interval in tests
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
Labels: exporter/datadog

#40057 [chore][exporter/datadog] skip one flaky test
  exporter/datadogexporter/integrationtest/integration_test.go
Labels: exporter/datadog, Run Windows

#40058 Update stef to 0.0.6
  .chloggen/tigran_updatestef.yaml
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  exporter/stefexporter/internal/stefconn.go
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/go.sum
Labels: exporter/stef, receiver/stef

#39397 [extension/ecsobserver] update to aws-sdk-go-v2
  extension/observer/ecsobserver/docker_label.go
  extension/observer/ecsobserver/docker_label_test.go
  extension/observer/ecsobserver/error.go
  extension/observer/ecsobserver/exporter.go
  extension/observer/ecsobserver/exporter_test.go
  extension/observer/ecsobserver/extension_test.go
  extension/observer/ecsobserver/factory.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/fetcher_test.go
  extension/observer/ecsobserver/filter_test.go
  extension/observer/ecsobserver/go.mod
  extension/observer/ecsobserver/go.sum
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/observer/ecsobserver/internal/ecsmock/service_test.go
  extension/observer/ecsobserver/matcher.go
  extension/observer/ecsobserver/sd_test.go
  extension/observer/ecsobserver/service.go
  extension/observer/ecsobserver/service_test.go
  extension/observer/ecsobserver/task.go
  extension/observer/ecsobserver/task_definition.go
  extension/observer/ecsobserver/task_definition_test.go
  extension/observer/ecsobserver/task_test.go
  extension/observer/ecsobserver/testdata/ut_targets.expected.yaml
Labels: Skip Changelog, extension/observer/ecsobserver, waiting-for-code-owners

#40000 [receiver/faro, exporter/faro] Change stability level from Development to Alpha
  .chloggen/faro-components-to-alpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  exporter/faroexporter/README.md
  exporter/faroexporter/internal/metadata/generated_status.go
  exporter/faroexporter/metadata.yaml
  receiver/faroreceiver/README.md
  receiver/faroreceiver/internal/metadata/generated_status.go
  receiver/faroreceiver/metadata.yaml
Labels: cmd/otelcontribcol, receiver/faro, exporter/faro

#40044 [chore] Refactor Coralogix exporter
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/logs_client.go
  exporter/coralogixexporter/logs_client_test.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/metrics_client_test.go
  exporter/coralogixexporter/profiles_client.go
  exporter/coralogixexporter/retry.go
  exporter/coralogixexporter/retry_test.go
  exporter/coralogixexporter/signals.go
  exporter/coralogixexporter/signals_test.go
  exporter/coralogixexporter/traces_client.go
  exporter/coralogixexporter/traces_client_test.go
Labels: exporter/coralogix

#39678 [receiver/datadog] Address semconv noncompliance
  .chloggen/datadog_receiver_address_semconv_noncompliance.yaml
  receiver/datadogreceiver/internal/translator/series_test.go
  receiver/datadogreceiver/internal/translator/tags.go
  receiver/datadogreceiver/internal/translator/tags_test.go
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
Labels: ready to merge, receiver/datadog

#39980 prom rw v2 exporter order samples by timestamp
  exporter/prometheusremotewriteexporter/exporter_v2.go
  exporter/prometheusremotewriteexporter/helper.go
  exporter/prometheusremotewriteexporter/helper_test.go
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite

#39658 [receiver/azuremonitor] Add support for azureauthextension
  .chloggen/azuremonitor-authextension.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/config_test.go
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/azuremonitorreceiver/testdata/config.yaml
Labels: receiver/azuremonitor

#40082 [stefreceiver] Correctly handle Shutdown request
  .chloggen/tigran_stefreceivershutdown.yaml
  receiver/stefreceiver/e2e_test.go
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/stef.go
Labels: receiver/stef

#40063 [receiver/k8scluster] add hpa.scaletargetref attrs
  .chloggen/hpa-scaletarget-attrs.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/hpa/hpa.go
  receiver/k8sclusterreceiver/internal/hpa/hpa_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_logs_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource.go
  receiver/k8sclusterreceiver/internal/metadata/generated_resource_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster

#39949 [cmd/supervisor] Fix config merge and opamp server start order
  .chloggen/supervisor-fix-compose-config.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/testdata/collector/simple_pipeline.yaml
  cmd/opampsupervisor/testdata/supervisor/supervisor_basic.yaml
Labels: cmd/opampsupervisor

#40084 [testbed] Add metric test with stefreceiver/stefexporter
  cmd/opampsupervisor/go.mod
  cmd/oteltestbedcol/builder-config.yaml
  exporter/elasticsearchexporter/integrationtest/go.mod
  internal/tidylist/tidylist.txt
  testbed/datareceivers/stef.go
  testbed/datasenders/stef.go
  testbed/go.mod
  testbed/go.sum
  testbed/tests/metric_test.go
Labels: Skip Changelog, exporter/elasticsearch, cmd/oteltestbedcol, testbed, cmd/opampsupervisor, Run Load Tests

#40064 [chore] Fix code owners of unmaintained components
  exporter/kineticaexporter/README.md
  exporter/kineticaexporter/metadata.yaml
  exporter/opensearchexporter/README.md
  exporter/opensearchexporter/metadata.yaml
  extension/observer/ecstaskobserver/README.md
  extension/observer/ecstaskobserver/metadata.yaml
Labels: extension/observer/ecstaskobserver, exporter/opensearch, exporter/kinetica

#39720 [receiver/awsfirehose] Fix decoding for OTLP-formatted metrics
  .chloggen/awsfirehosereceiver-fix-otlp.yaml
  receiver/awsfirehosereceiver/README.md
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/go.sum
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler_test.go
  receiver/awsfirehosereceiver/metrics_receiver.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
Labels: receiver/awsfirehose

#39985 [receiver/sqlserver] Add new resource pool disk operations metric
  .chloggen/sqlserver_add_disk_io_metrics.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#40076 [cmd/golden] return an error on timeout without receiving any data
  .chloggen/error_on_timeout.yaml
  cmd/golden/main.go
  cmd/golden/main_test.go
Labels: cmd/golden

#39777 [extension/observer/k8sobserver] Add option to filter by namespaces
  .chloggen/k8sobserver-namespaces.yaml
  .github/workflows/e2e-tests.yml
  extension/observer/k8sobserver/README.md
  extension/observer/k8sobserver/config.go
  extension/observer/k8sobserver/e2e_test.go
  extension/observer/k8sobserver/extension.go
  extension/observer/k8sobserver/extension_test.go
  extension/observer/k8sobserver/generated_package_test.go
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
  extension/observer/k8sobserver/metadata.yaml
  extension/observer/k8sobserver/testdata/e2e/namespaced/collector/configmap.yaml
  extension/observer/k8sobserver/testdata/e2e/namespaced/collector/deployment.yaml
  extension/observer/k8sobserver/testdata/e2e/namespaced/collector/role.yaml
  extension/observer/k8sobserver/testdata/e2e/namespaced/collector/rolebinding.yaml
  extension/observer/k8sobserver/testdata/e2e/namespaced/collector/serviceaccount.yaml
Labels: extension/observer/k8sobserver

#40099 [testbed] fix typo in TestLogOtlpSendingQueue
  testbed/tests/log_test.go
Labels: Skip Changelog, testbed

#39930 [receiver/sqlserver] Add new metric: lock wait count
  .chloggen/sqlserver_add_lock_wait_count.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/perfCounterQueryData.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/perfCounterQueryWithoutInstanceName.txt
Labels: receiver/sqlserver, Run Windows

#40105 [receiver/wavefront] unexport WavefrontParser
  .chloggen/unexport_wavefrontparser.yaml
  receiver/wavefrontreceiver/receiver.go
  receiver/wavefrontreceiver/wavefront_parser.go
  receiver/wavefrontreceiver/wavefront_parser_test.go
Labels: receiver/wavefront

#40093 [chore] [receiver/hostmetrics] Remove any references to `uptimescraper`
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/config.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/factory.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/factory_test.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/system_scraper.go
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/system_scraper_test.go
Labels: ready to merge, receiver/hostmetrics/internal/scraper/system

#40098 [exporter/elasticsearch] fix panic when encoding scope attributes
  .chloggen/37701-fix-es-exporter-scope-attr-panic.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#39809 awsfirehosereceiver: fix named extension loading
  .chloggen/awsfirehosereceiver-encoding-componentid.yaml
  receiver/awsfirehosereceiver/logs_receiver_test.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
  receiver/awsfirehosereceiver/receiver.go
Labels: receiver/awsfirehose, waiting-for-code-owners

#39123 [receiver/gitlab] add tracing functionality
  .chloggen/gitlabreceiver-tracing-functonality.yaml
  receiver/gitlabreceiver/README.md
  receiver/gitlabreceiver/config.go
  receiver/gitlabreceiver/config_test.go
  receiver/gitlabreceiver/go.mod
  receiver/gitlabreceiver/go.sum
  receiver/gitlabreceiver/model.go
  receiver/gitlabreceiver/model_test.go
  receiver/gitlabreceiver/traces_event_handling.go
  receiver/gitlabreceiver/traces_event_handling_test.go
  receiver/gitlabreceiver/traces_receiver.go
  receiver/gitlabreceiver/traces_receiver_test.go
Labels: waiting-for-code-owners, receiver/gitlab

#40128 [chore] [exporter/datadog] Add logs-agent intake origin
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/logs_exporter.go
Labels: exporter/datadog, Skip Changelog, connector/datadog

#40061 [metadataprovider] [chore] new eks metadataprovier
  internal/metadataproviders/aws/eks/metadata.go
  internal/metadataproviders/aws/eks/metadata_test.go
  internal/metadataproviders/go.mod
  internal/metadataproviders/go.sum
Labels: internal/metadataproviders

#39942 [chore][postgresqlreceiver] do not report record if the total exec time is not changed
  .chloggen/fix-top-query-report-too-much.yaml
  receiver/postgresqlreceiver/scraper.go
Labels: ready to merge, receiver/postgresql

#40133 [chore] Add `kuiperda` as codeowner for `aesprovider`
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/component_labels.txt
  confmap/provider/aesprovider/README.md
  confmap/provider/aesprovider/metadata.yaml
Labels: confmap/provider/aesprovider

#40131 [chore] add `justinianvoss22` as codeowner for `mongodbatlasreceiver` and `mongodbreceiver`
  .github/CODEOWNERS
  receiver/mongodbatlasreceiver/README.md
  receiver/mongodbatlasreceiver/metadata.yaml
  receiver/mongodbreceiver/README.md
  receiver/mongodbreceiver/metadata.yaml
Labels: Skip Changelog, receiver/mongodbatlas, receiver/mongodb

#39335 service resource attributes
  .chloggen/service-resource-attributes.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/go.mod
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/processor_test.go
Labels: exporter/datadog, processor/k8sattributes, connector/datadog, waiting-for-code-owners

#40144 Support named encoding extensions in Kafka receiver and exporter
  .chloggen/kafka-encoding-name.yaml
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  receiver/kafkareceiver/encoding.go
  receiver/kafkareceiver/encoding_test.go
Labels: exporter/kafka, receiver/kafka

#40109 [receiver/vcenter] unexport struct DatacenterStats
  .chloggen/unexport_struct_vcenter.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/processors.go
Labels: receiver/vcenter

#39509 [exporter/awss3exporter] Add the retry mode, max attempts and max backoff settings
  .chloggen/main.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/testdata/retry.yaml
Labels: exporter/awss3

#40096 [receiver/loki] Add structured metadata support
  .chloggen/loki-receiver-structured-metadata.yaml
  pkg/translator/loki/loki_to_otlp.go
  pkg/translator/loki/loki_to_otlp_test.go
Labels: ready to merge, pkg/translator/loki

#39843 [exporter/prometheusremotewrite] : WAL write success/failure telemetry
  .chloggen/nickange_prometheusremotewriteexporter_feat-add-wal-observability.yaml
  exporter/prometheusremotewriteexporter/README.md
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#40108 [receiver/fluentforward] unexport structs
  .chloggen/unexport_fluentforward.yaml
  receiver/fluentforwardreceiver/collector.go
  receiver/fluentforwardreceiver/conversion.go
  receiver/fluentforwardreceiver/conversion_test.go
  receiver/fluentforwardreceiver/receiver.go
  receiver/fluentforwardreceiver/receiver_test.go
  receiver/fluentforwardreceiver/server.go
  receiver/fluentforwardreceiver/server_test.go
  receiver/fluentforwardreceiver/util_test.go
Labels: receiver/fluentforward, waiting-for-code-owners

#39661 [pkg/stanza][textutils]: introduce `utf8-raw` encoding to avoid replacing UTF-8 bytes with \uFFFD
  .chloggen/fix-utf8-reading.yaml
  internal/coreinternal/textutils/encoding.go
  internal/coreinternal/textutils/encoding_test.go
  internal/coreinternal/textutils/utf8raw.go
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
  receiver/filelogreceiver/README.md
Labels: receiver/filelog, pkg/stanza, receiver/otlpjsonfile, internal/core, waiting-for-code-owners, pkg/stanza/fileconsumer

#40154 kafkaexporter: Allow topics from metadata key
  .chloggen/f_kafkaexporter-add-topic-from-metadata-key.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/testdata/config.yaml
Labels: exporter/kafka

#40125 Remove unused TPM extension scaffolding
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  cmd/otelcontribcol/builder-config.yaml
  extension/tpmextension/Makefile
  extension/tpmextension/README.md
  extension/tpmextension/config.go
  extension/tpmextension/doc.go
  extension/tpmextension/extension.go
  extension/tpmextension/factory.go
  extension/tpmextension/generated_component_test.go
  extension/tpmextension/generated_package_test.go
  extension/tpmextension/go.mod
  extension/tpmextension/go.sum
  extension/tpmextension/internal/metadata/generated_status.go
  extension/tpmextension/metadata.yaml
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: Skip Changelog, cmd/otelcontribcol, extension/tpm

#40029 [cmd/opampsupervisor] Add telemetry to Supervisor Configuration section
  cmd/opampsupervisor/specification/README.md
Labels: ready to merge, Skip Changelog, cmd/opampsupervisor, waiting-for-code-owners

#39904 [exporter/sumologicexporter] Change Prometheus le label for infinity bounds
  .chloggen/otlp-inf-string.yaml
  exporter/sumologicexporter/otlp.go
  exporter/sumologicexporter/otlp_test.go
Labels: exporter/sumologic

#40184 exporter/googlecloud: update the reference instead of the copy
  .chloggen/custom-mr-fix.yaml
  exporter/googlecloudexporter/factory.go
  exporter/googlecloudexporter/factory_test.go
Labels: ready to merge, exporter/googlecloud

#40148 [connector/spanmetrics] Fix delta span metrics
  .chloggen/jsonlsy_fix-delta-spanmetrics.yaml
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: connector/spanmetrics

#40190 [chore][k8sobserver] Fix broken md table in readme
  extension/observer/k8sobserver/README.md
Labels: extension/observer/k8sobserver, receiver/receivercreator

#40091 [receiver/azuremonitorreceiver] use ``metrics`` aggregation filter when ``use_batch_api: true``
  .chloggen/celian-garcia_fix-40079.yaml
  receiver/azuremonitorreceiver/scraper_batch.go
  receiver/azuremonitorreceiver/scraper_batch_test.go
  receiver/azuremonitorreceiver/testdata/expected_metrics_batch/metrics_golden.yaml
  receiver/azuremonitorreceiver/testdata/expected_metrics_batch/metrics_tags_golden.yaml
Labels: receiver/azuremonitor

#40213 [chore] use gopsutilenv module in hostmetrics receiver
  connector/datadogconnector/go.mod
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/integrationtest/go.mod
  internal/tidylist/tidylist.txt
  receiver/hostmetricsreceiver/config.go
  receiver/hostmetricsreceiver/factory.go
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/hostmetrics_linux.go
  receiver/hostmetricsreceiver/hostmetrics_linux_test.go
  receiver/hostmetricsreceiver/hostmetrics_others.go
  receiver/hostmetricsreceiver/hostmetrics_others_test.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process.go
Labels: exporter/datadog, receiver/hostmetrics, connector/datadog, receiver/hostmetrics/internal/scraper/process

#40210 [testbed] Increase memory limit for TestMetric10kDPS/STEF
  testbed/tests/metric_test.go
Labels: Skip Changelog, testbed, Run Load Tests

#40002 [receiver/sqlserver] Add collection interval for top query
  .chloggen/top-query-collection-interval.yaml
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/config.go
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
Labels: receiver/sqlserver, Run Windows

#40201 Add metric names when there is a partial success response from the backend
  .chloggen/40199.yaml
  exporter/coralogixexporter/logs_client_test.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/metrics_client_test.go
  exporter/coralogixexporter/profiles_client_test.go
  exporter/coralogixexporter/traces_client_test.go
Labels: ready to merge, exporter/coralogix

#40221 [receiver/k8scluster]: add missing resource kind, apiVersion and resource to docs
  receiver/k8sclusterreceiver/README.md
Labels: ready to merge, Skip Changelog, receiver/k8scluster

#40228 [extension/observer/k8sobserver] unexport RunningContainer
  .chloggen/unexport_struct2.yaml
  extension/observer/k8sobserver/pod_endpoint.go
Labels: extension/observer/k8sobserver

#39655 [processor/tailsampling] Add first policy match decision to tailsampling processor
  .chloggen/first-policy-match.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/factory.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#40242 Fix `update-otel` PR
  exporter/pulsarexporter/go.mod
  exporter/pulsarexporter/go.sum
  exporter/pulsarexporter/marshaler_test.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/azure/aks/aks_test.go
  processor/resourcedetectionprocessor/internal/heroku/heroku_test.go
  receiver/awsecscontainermetricsreceiver/go.mod
  receiver/awsecscontainermetricsreceiver/go.sum
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/translator_test.go
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/hostmetricsreceiver/hostmetrics_receiver_test.go
  receiver/sqlserverreceiver/scraper.go
Labels: processor/resourcedetection, receiver/hostmetrics, exporter/pulsar, receiver/sqlserver, receiver/awsecscontainermetrics, Run Windows

#40244 [chore] remove unused fillLogThree method
  internal/coreinternal/testdata/log.go
Labels: Skip Changelog, internal/core

#40226 [pkg/datadog] add IgnoreMissingDatadogFields config flag for consumpt…
  connector/datadogconnector/config.go
  connector/datadogconnector/config_test.go
  pkg/datadog/config/traces.go
Labels: Skip Changelog, connector/datadog, pkg/datadog

#40233 [cmd/opampsupervisor] fix: Report RemoteConfigStatus on startup if present
  .chloggen/supervisor-reports-remote-cfg-on-startup.yaml
  cmd/opampsupervisor/e2e_test.go
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: cmd/opampsupervisor

#40219 [receiver/netflow] Add common EtherTypes
  .chloggen/netflow-additional-ethertypes.yaml
  receiver/netflowreceiver/parser.go
Labels: receiver/netflow

#40251 [chore] add exclusion for problematic module
  extension/observer/k8sobserver/go.mod
  extension/observer/k8sobserver/go.sum
Labels: extension/observer/k8sobserver

#40258 workflows/build-and-test: Ensure step always execute
  .github/workflows/build-and-test.yml
Labels: Skip Changelog

#40264 [chore] unexport MockClusterAdmin
  extension/observer/kafkatopicsobserver/extension_test.go
Labels: extension/observer/kafkatopicsobserver

#40260 [chore] unexport test struct MockClient
  receiver/nsxtreceiver/client_mock_test.go
Labels: receiver/nsxt

#40287 [chore] Remove incorrect usage of pipeline.MustNewID for status aggregator
  pkg/status/aggregator.go
  pkg/status/aggregator_test.go
Labels: pkg/status

#40269 [receiver/netflow] unexport OtelLogsProducerWrapper
  .chloggen/unexport_producer.yaml
  receiver/netflowreceiver/producer.go
  receiver/netflowreceiver/producer_test.go
Labels: receiver/netflow

#40268 [exporter/azureblob] remove type alias
  .chloggen/simplify_type.yaml
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/config_test.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azureblobexporter/factory.go
Labels: ready to merge, exporter/azureblob

#40273 [processor/interval] unexport Processor
  .chloggen/unexport_intervalprocessor.yaml
  processor/intervalprocessor/processor.go
  processor/intervalprocessor/processor_test.go
Labels: processor/interval

#40320 [chore] Do not assign djaglowski to pull requests
  .github/auto_assign.yml
Labels: ci-cd

#40266 [chore] delete unused struct
  .chloggen/delete_unused_struct.yaml
  exporter/prometheusremotewriteexporter/config.go
Labels: exporter/prometheusremotewrite

#40217 pkg/ottl: add metric.metadata as a valid path in OTTL
  .chloggen/ottl-metadata.yaml
  pkg/ottl/contexts/internal/ctxmetric/metric.go
  pkg/ottl/contexts/internal/ctxmetric/metric_test.go
  pkg/ottl/contexts/internal/logging/logging.go
  pkg/ottl/contexts/ottlmetric/README.md
  pkg/ottl/contexts/ottlmetric/metrics_test.go
Labels: ready to merge, pkg/ottl

#40140 kafkareceiver: don't restart when marking errors
  .chloggen/kafkareceiver-messagemarking.yaml
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: receiver/kafka, waiting-for-code-owners

#39957 Add resource metrics cache cleanup
  .chloggen/add-resource-metrics-cache-cleanup.yaml
  receiver/prometheusremotewritereceiver/README.md
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/prometheusremotewritereceiver/receiver_test.go
Labels: ready to merge, receiver/prometheusremotewrite

#40311 [pkg/ottl] Add `event_name` path to the OTTL Log context
  .chloggen/ottl-add-event-name-field.yaml
  pkg/ottl/contexts/internal/ctxlog/log.go
  pkg/ottl/contexts/internal/ctxlog/log_test.go
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottllog/log.go
Labels: pkg/ottl

#40354 [chore] update the docker cache github action
  .github/workflows/build-and-test.yml
Labels: ci-cd

#40357 [chore][receiver/sqlquery] Update README datasource documentation
  receiver/sqlqueryreceiver/README.md
Labels: documentation, receiver/sqlquery

#38425 [pkg/ottl] Adapt time parsing error messages to include the ctime directives
  .chloggen/time-parsing-error-messages.yaml
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt.go
  internal/coreinternal/timeutils/internal/ctimefmt/ctimefmt_test.go
  internal/coreinternal/timeutils/parser.go
  pkg/ottl/ottlfuncs/func_time.go
  pkg/ottl/ottlfuncs/func_time_test.go
Labels: pkg/ottl, internal/core

#40218 [signalfxexporter] Fix invalid and missing host metadata
  .chloggen/sfxexporterhostmetadata.yaml
  cmd/opampsupervisor/go.mod
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/go.mod
  exporter/signalfxexporter/internal/hostmetadata/host.go
  exporter/signalfxexporter/internal/hostmetadata/host_linux.go
  exporter/signalfxexporter/internal/hostmetadata/host_linux_test.go
  exporter/signalfxexporter/internal/hostmetadata/host_others.go
  exporter/signalfxexporter/internal/hostmetadata/host_test.go
  exporter/signalfxexporter/internal/hostmetadata/metadata.go
  exporter/signalfxexporter/internal/hostmetadata/metadata_test.go
  exporter/signalfxexporter/internal/hostmetadata/testdata/centos-release/etc/centos-release
  exporter/signalfxexporter/internal/hostmetadata/testdata/lsb-release/etc/lsb-release
  exporter/signalfxexporter/internal/hostmetadata/testdata/os-release/etc/os-release
  exporter/signalfxexporter/internal/hostmetadata/testdata/redhat-release/etc/redhat-release
  exporter/signalfxexporter/internal/hostmetadata/testdata/system-release/etc/system-release
  internal/tidylist/tidylist.txt
  receiver/signalfxreceiver/go.mod
  testbed/go.mod
Labels: exporter/signalfx, exporter/elasticsearch, receiver/signalfx, testbed, cmd/opampsupervisor

#40361 [receiver/sqlserver] Rename db.server.name to db.system.name
  .chloggen/sqlserver-fix-db-system-name.yaml
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/internal/metadata/generated_logs.go
  receiver/sqlserverreceiver/internal/metadata/generated_logs_test.go
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#40272 [exporter/prometheusremotewrite] : WAL read success/failure telemetry
  .chloggen/nickange_prometheusremotewriteexporter_feat-add-wal-metrics.yaml
  exporter/prometheusremotewriteexporter/documentation.md
  exporter/prometheusremotewriteexporter/internal/metadata/generated_telemetry.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/prometheusremotewriteexporter/internal/metadatatest/generated_telemetrytest_test.go
  exporter/prometheusremotewriteexporter/metadata.yaml
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#39994 Add log record attributes from category from FrontDoorWebApplicationFirewallLog
  .chloggen/azurelogs-frontdoor-waf.yaml
  pkg/translator/azurelogs/README.md
  pkg/translator/azurelogs/category_logs.go
  pkg/translator/azurelogs/property_names.go
  pkg/translator/azurelogs/resourcelogs_to_logs.go
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  pkg/translator/azurelogs/testdata/expected/front-door-waf-log-expected.yaml
  pkg/translator/azurelogs/testdata/frontdoorwebapplicationfirewalllog/valid_1.json
  pkg/translator/azurelogs/testdata/frontdoorwebapplicationfirewalllog/valid_1_expected.yaml
  pkg/translator/azurelogs/testdata/log-frontdoorwaflog.json
Labels: ready to merge, pkg/translator/azurelogs
