Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-02, with the labels that each got.

#37524 Update module github.com/ReneKroon/ttlcache/v2 to v3
  receiver/googlecloudspannerreceiver/go.mod
  receiver/googlecloudspannerreceiver/go.sum
  receiver/googlecloudspannerreceiver/internal/filter/itemcardinality.go
  receiver/googlecloudspannerreceiver/internal/filter/itemcardinality_test.go
  receiver/googlecloudspannerreceiver/internal/filter/nopitemcardinality.go
  receiver/googlecloudspannerreceiver/internal/filter/nopitemcardinality_test.go
  receiver/googlecloudspannerreceiver/internal/filter/package_test.go
  receiver/googlecloudspannerreceiver/internal/filterfactory/testhelpers_test.go
  receiver/googlecloudspannerreceiver/internal/metadata/metricsbuilder.go
  receiver/googlecloudspannerreceiver/internal/metadata/metricsbuilder_test.go
Labels: dependencies, receiver/googlecloudspanner

#37629 Update typo in the intervalprocessor README.md
  processor/intervalprocessor/README.md
Labels: Skip Changelog, processor/interval

#37614 [chore] Use math/rand/v2 everywhere
  .golangci.yml
  connector/servicegraphconnector/internal/store/store_test.go
  examples/demo/client/main.go
  examples/demo/server/main.go
  exporter/awskinesisexporter/internal/compress/compresser_test.go
  exporter/azuredataexplorerexporter/adx_exporter_test.go
  exporter/clickhouseexporter/integration_test.go
  exporter/datasetexporter/logs_exporter_stress_test.go
  exporter/loadbalancingexporter/log_exporter.go
  exporter/loadbalancingexporter/metrics_exporter_test.go
  exporter/loadbalancingexporter/trace_exporter_test.go
  exporter/mezmoexporter/utils_test.go
  exporter/otelarrowexporter/internal/arrow/bestofn.go
  exporter/otelarrowexporter/internal/arrow/exporter.go
  exporter/rabbitmqexporter/integration_test.go
  internal/aws/cwlogs/pusher_test.go
  internal/aws/metrics/metric_calculator_test.go
  internal/coreinternal/goldendataset/traces_generator.go
  internal/exp/metrics/metrics_test.go
  internal/otelarrow/test/e2e_test.go
  pkg/batchperresourceattr/batchperresourceattr_test.go
  pkg/sampling/encoding_test.go
  pkg/stanza/fileconsumer/internal/filetest/filetest.go
  pkg/stanza/fileconsumer/internal/fingerprint/fingerprint_test.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/udp/input_test.go
  pkg/stanza/operator/parser/regex/parser_test.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/groupbyattrsprocessor/processor_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
  processor/tailsamplingprocessor/internal/sampling/probabilistic_test.go
  testbed/testbed/mock_backend.go
  testbed/tests/scenarios.go
Labels: processor/tailsampling, exporter/loadbalancing, exporter/clickhouse, processor/groupbyattrs, processor/probabilisticsampler, exporter/awskinesis, exporter/mezmo, pkg/stanza, pkg/batchperresourceattr, examples/demo, exporter/azuredataexplorer, internal/aws, internal/core, testbed, connector/servicegraph, exporter/dataset, exporter/otelarrow, pkg/sampling, internal/exp/metrics, exporter/rabbitmq, internal/otelarrow

#37596 [receiver/filelog] Fix issue where flushed tokens could be truncated
  .chloggen/fix-flush-short.yaml
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/internal/time/time.go
  pkg/stanza/tokenlen/tokenlen.go
  pkg/stanza/tokenlen/tokenlen_test.go
Labels: release:blocker, pkg/stanza

#37210 [pkg/stanza] Adopt semantic convention for the log file path attribute
  .chloggen/semantic_source_identifier.yaml
  pkg/stanza/docs/operators/recombine.md
  pkg/stanza/operator/input/file/input_test.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/container/parser_test.go
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
Labels: pkg/stanza

#37639 [chore] Typo in the ClickHouse exporter config
  exporter/clickhouseexporter/config.go
Labels: Skip Changelog, exporter/clickhouse

#37648 [chore][internal/otelarrow] Remove last MetricsLevel reference
  internal/otelarrow/netstats/netstats_test.go
Labels: internal/otelarrow

#37509 [elasticsearchexporter] Improved grouping of data points into documents
  .chloggen/elasticsearchexporter_data-point-grouping.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
Labels: exporter/elasticsearch

#37453 [processor/resourcedetection] Add fail_on_missing_metadata to EC2 detector
  .chloggen/ec2_fail_on_missing_metadata.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/aws/ec2/config.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2.go
  processor/resourcedetectionprocessor/internal/aws/ec2/ec2_test.go
Labels: ready to merge, processor/resourcedetection

#37444 [processor/transform] Add support for flat configuration style
  .chloggen/add-config-flat-statements-support.yaml
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/common/cache.go
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform

#37650 chore: add myself, echlebek, as a codeowner
  .github/CODEOWNERS
  exporter/sumologicexporter/README.md
  exporter/sumologicexporter/metadata.yaml
  extension/sumologicextension/README.md
  extension/sumologicextension/metadata.yaml
  processor/groupbyattrsprocessor/README.md
  processor/groupbyattrsprocessor/metadata.yaml
  processor/sumologicprocessor/README.md
  processor/sumologicprocessor/metadata.yaml
Labels: ready to merge, Skip Changelog, processor/groupbyattrs, exporter/sumologic, processor/sumologic, extension/sumologic

#37575 add documentation and warning log for deprecating AccessTokenPassthrough
  .chloggen/deprecate_access_token_passthrough.yaml
  receiver/signalfxreceiver/config.go
  receiver/signalfxreceiver/factory.go
Labels: receiver/signalfx

#37630 [exporter/prometheusremotewrite] Fix WAL deadlock
  .chloggen/prw-WAL-deadlock.yaml
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, exporter/prometheusremotewrite

#37683 Update jpkroehling's affiliation
  README.md
Labels: ready to merge, Skip Changelog

#37350 [exporter/bmchelix] Second PR of New component: BMC Helix Exporter
  .chloggen/bmchelixexporter-metrics-implementation.yaml
  exporter/bmchelixexporter/config.go
  exporter/bmchelixexporter/config_test.go
  exporter/bmchelixexporter/exporter_metrics.go
  exporter/bmchelixexporter/exporter_metrics_test.go
  exporter/bmchelixexporter/factory.go
  exporter/bmchelixexporter/go.mod
  exporter/bmchelixexporter/go.sum
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_client.go
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_client_test.go
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_producer.go
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_producer_test.go
Labels: exporter/bmchelix

#37500 [chore] [exporter/elasticsearch] Export serializer into a new otelserializer package
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/elasticsearch/attribute.go
  exporter/elasticsearchexporter/internal/serializer/map.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/common.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/logs.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/logs_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/metrics.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/metrics_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/traces.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/pdata_serializer.go
Labels: exporter/elasticsearch

#37698 [chore] [receiver/github] fix flaky test
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: receiver/github

#37645 [chore][pkg/stanza] remove code for stable filelog.container.removeOriginalTimeField fg
  pkg/stanza/operator/parser/container/config.go
Labels: pkg/stanza

#37641 [receiver/hostmetrics] remove `receiver.hostmetrics.normalizeProcessCPUUtilization` feature gate
  .chloggen/hostmetricsreceiver-feature.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/ucal/cpu_utilization_calculator.go
Labels: receiver/hostmetrics

#36749 [bearertokenauthextension] Load token lazily for gRPC AUTH to fix token refresh issue
  .chloggen/bearertokenauthextension-fix-grpc-token-refresh.yaml
  extension/bearertokenauthextension/bearertokenauth.go
  extension/bearertokenauthextension/bearertokenauth_test.go
Labels: extension/bearertokenauth

#37403 [chore] Schema Processor Revamp [Part 3] - Translation
  processor/schemaprocessor/go.mod
  processor/schemaprocessor/go.sum
  processor/schemaprocessor/internal/translation/testdata/1.6.1
  processor/schemaprocessor/internal/translation/testdata/1.9.0
  processor/schemaprocessor/internal/translation/testdata/complex_changeset.yml
  processor/schemaprocessor/internal/translation/translation.go
  processor/schemaprocessor/internal/translation/translation_helpers_test.go
  processor/schemaprocessor/internal/translation/translation_noop.go
  processor/schemaprocessor/internal/translation/translation_race_test.go
  processor/schemaprocessor/internal/translation/translation_test.go
  processor/schemaprocessor/internal/translation/version.go
Labels: processor/schema

#37708 [connector/routing] Remove match_once parameter
  .chloggen/routing-deprecations-v120.yaml
  connector/routingconnector/README.md
  connector/routingconnector/config.go
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
Labels: connector/routing

#37709 [chore] filelogreceiver remove dead code related to maxworkers
  pkg/stanza/adapter/benchmark_test.go
  pkg/stanza/adapter/config.go
Labels: pkg/stanza

#37705 [chore] Fix make oteltestbedcol
  cmd/oteltestbedcol/builder-config.yaml
Labels: ci-cd, cmd/oteltestbedcol

#37696 [receiver/awscontainerinsight] Fix TLS insecure skip verify parameter in readme
  receiver/kafkareceiver/README.md
Labels: documentation, Skip Changelog, receiver/kafka

#37489 added new metrics for vcenter receiver VM performance related met…
  .chloggen/add-more-vecenter-receiver-virtual-machine-preformace-metrics.yaml
  receiver/vcenterreceiver/documentation.md
  receiver/vcenterreceiver/internal/metadata/generated_config.go
  receiver/vcenterreceiver/internal/metadata/generated_config_test.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics.go
  receiver/vcenterreceiver/internal/metadata/generated_metrics_test.go
  receiver/vcenterreceiver/internal/metadata/testdata/config.yaml
  receiver/vcenterreceiver/internal/mockserver/responses/vm-performance-counters.xml
  receiver/vcenterreceiver/metadata.yaml
  receiver/vcenterreceiver/metrics.go
  receiver/vcenterreceiver/scraper_test.go
  receiver/vcenterreceiver/testdata/metrics/expected-all-enabled.yaml
Labels: enhancement, ready to merge, receiver/vcenter

#37044 [cmd/telemetrygen] Export telemetrygen functions for testing
  .chloggen/telemetrygen-public-api.yaml
  cmd/telemetrygen/config.go
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/e2etest/go.mod
  cmd/telemetrygen/internal/e2etest/go.sum
  cmd/telemetrygen/internal/e2etest/logs_test.go
  cmd/telemetrygen/internal/e2etest/metrics_test.go
  cmd/telemetrygen/internal/e2etest/traces_test.go
  cmd/telemetrygen/internal/logs/config.go
  cmd/telemetrygen/internal/traces/config.go
  cmd/telemetrygen/pkg/logs/config.go
  cmd/telemetrygen/pkg/logs/exporter.go
  cmd/telemetrygen/pkg/logs/logs.go
  cmd/telemetrygen/pkg/logs/package_test.go
  cmd/telemetrygen/pkg/logs/worker.go
  cmd/telemetrygen/pkg/logs/worker_test.go
  cmd/telemetrygen/pkg/metrics/config.go
  cmd/telemetrygen/pkg/metrics/exporter.go
  cmd/telemetrygen/pkg/metrics/metrics.go
  cmd/telemetrygen/pkg/metrics/metrics_test.go
  cmd/telemetrygen/pkg/metrics/metrics_types.go
  cmd/telemetrygen/pkg/metrics/package_test.go
  cmd/telemetrygen/pkg/metrics/worker.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
  cmd/telemetrygen/pkg/traces/config.go
  cmd/telemetrygen/pkg/traces/exporter.go
  cmd/telemetrygen/pkg/traces/exporter_test.go
  cmd/telemetrygen/pkg/traces/package_test.go
  cmd/telemetrygen/pkg/traces/traces.go
  cmd/telemetrygen/pkg/traces/worker.go
  cmd/telemetrygen/pkg/traces/worker_test.go
Labels: cmd/telemetrygen

#37719 Skip TestExportWithWALEnabled due to flakiness
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite

#37634 [chore] add pod.container test
  receiver/receivercreator/fixtures_test.go
  receiver/receivercreator/rules_test.go
Labels: receiver/receivercreator

#35715 add fuzz tests to multiple receivers and processors
  processor/groupbyattrsprocessor/fuzz_test.go
  processor/logdedupprocessor/fuzz_test.go
  processor/probabilisticsamplerprocessor/fuzz_test.go
  processor/sumologicprocessor/fuzz_test.go
  processor/tailsamplingprocessor/fuzz_test.go
  receiver/cloudflarereceiver/fuzz_test.go
  receiver/lokireceiver/internal/fuzz_test.go
  receiver/mongodbatlasreceiver/fuzz_test.go
  receiver/sapmreceiver/fuzz_test.go
  receiver/signalfxreceiver/fuzz_test.go
  receiver/splunkhecreceiver/fuzz_test.go
  receiver/webhookeventreceiver/fuzz_test.go
Labels: processor/tailsampling, Skip Changelog, receiver/mongodbatlas, processor/groupbyattrs, processor/probabilisticsampler, receiver/splunkhec, receiver/signalfx, receiver/sapm, receiver/webhookevent, receiver/cloudflare, receiver/loki, processor/sumologic, processor/logdedup

#37676 [processor/transform] Add support for global condition's fully qualified paths and error mode overrides
  .chloggen/add-global-conditions-and-group-error-mode-support.yaml
  processor/transformprocessor/README.md
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform

#37733 [exporter/prometheusremotewrite] Make WAL shutdown wait until goroutine exits
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/wal.go
  exporter/prometheusremotewriteexporter/wal_test.go
Labels: ready to merge, Skip Changelog, exporter/prometheusremotewrite

#37723 Remove deprecated func BuildWithSplitFunc from stanza/fileconsumer
  .chloggen/rm-dep-func.yaml
  pkg/stanza/decode/decode.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/config_test.go
Labels: pkg/stanza

#37741 [pkg/ottl] Adapt e2e tests to also test statements with path context names
  pkg/ottl/e2e/e2e_test.go
Labels: Skip Changelog, pkg/ottl

#37751 [chore] Upgrade golang from 1.22.11 to 1.22.12
  .github/workflows/build-and-test-arm.yml
  .github/workflows/build-and-test-darwin.yaml
  .github/workflows/build-and-test-windows.yml
  .github/workflows/build-and-test.yml
  .github/workflows/changelog.yml
  .github/workflows/check-codeowners.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests-windows.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/load-tests.yml
  .github/workflows/prepare-release.yml
  .github/workflows/prometheus-compliance-tests.yml
  .github/workflows/scoped-test.yaml
  .github/workflows/telemetrygen.yml
  .github/workflows/tidy-dependencies.yml
Labels: ci-cd

#37743 [chore] update all go-build-tools
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  internal/tools/go.mod
  internal/tools/go.sum
Labels: ci-cd, internal/tools

#37737 [chore] Move test only code to a _test file
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#37758 [chore] Relax field tag checks in Cloud Foundry Receiver tests
  receiver/cloudfoundryreceiver/config_test.go
Labels: ready to merge, receiver/cloudfoundry

#37761 [cmd/opampsupervisor] ensure OnConnectClosed is hooked up
  .chloggen/codeboten_ensure-onclose-hookedup.yaml
  cmd/opampsupervisor/supervisor/server.go
Labels: cmd/opampsupervisor

#37734 Remove unnecessary copy while decoding and constructing string
  .chloggen/rm-unncessary-copy-enhance.yaml
  .chloggen/rm-unncessary-copy.yaml
  extension/encoding/textencodingextension/config.go
  extension/encoding/textencodingextension/extension.go
  extension/encoding/textencodingextension/go.mod
  extension/encoding/textencodingextension/text.go
  extension/encoding/textencodingextension/text_test.go
  internal/coreinternal/textutils/encoding.go
  internal/coreinternal/textutils/encoding_test.go
  pkg/ottl/go.mod
  pkg/ottl/ottlfuncs/func_decode.go
  pkg/ottl/ottlfuncs/func_decode_test.go
  pkg/stanza/decode/decode.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/header/reader.go
  pkg/stanza/fileconsumer/internal/header/reader_test.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/reader/reader_test.go
  pkg/stanza/fileconsumer/internal/reader/split_test.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/namedpipe/config_linux.go
  pkg/stanza/operator/input/tcp/config.go
  pkg/stanza/operator/input/tcp/input.go
  pkg/stanza/operator/input/udp/config.go
  pkg/stanza/operator/input/udp/input.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/text_unmarshaler.go
Labels: receiver/kafka, pkg/stanza, pkg/ottl, internal/core, extension/encoding

#37624 [receiver/sqlquery] Decrease time of running integration tests
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/testdata/integration/mysql/init.sql
  receiver/sqlqueryreceiver/testdata/integration/oracle/Dockerfile.oracledb
  receiver/sqlqueryreceiver/testdata/integration/oracle/init.sql
  receiver/sqlqueryreceiver/testdata/integration/postgresql/init.sql
  receiver/sqlqueryreceiver/testdata/integration/sqlserver/init.sql
Labels: ready to merge, Skip Changelog, receiver/sqlquery

#37706 [chore] Fix update-otel
  Makefile
Labels: ci-cd

#37750 [receiver/azuremonitorreceiver] Add celian-garcia as code owner
  .github/CODEOWNERS
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/metadata.yaml
Labels: Skip Changelog, receiver/azuremonitor

#37749 [chore][exporter/bmchelixexporter] Add component sponsor as code owner
  .github/CODEOWNERS
  exporter/bmchelixexporter/README.md
  exporter/bmchelixexporter/metadata.yaml
Labels: exporter/bmchelix

#37778 [chore] remove equal assertion after fixing flaky test
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: receiver/github

#37499 Olivierg/gateway usage gauge
  .chloggen/olivierg_gateway-usage-gauge.yaml
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/hostmetadata/metadata.go
  exporter/datadogexporter/internal/hostmetadata/metadata_test.go
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/metrics/series.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog, connector/datadog

#37765 [chore] Replace identical emittest.Call with emit.Token
  pkg/stanza/fileconsumer/file_test.go
  pkg/stanza/fileconsumer/internal/emittest/sink.go
  pkg/stanza/fileconsumer/internal/emittest/sink_test.go
Labels: pkg/stanza

#37779 [chore] remove bash script to check codeowners, use githubgen
  .github/workflows/build-and-test.yml
  .github/workflows/scripts/check-codeowners.sh
Labels: ci-cd

#37334 [extension/oauth2clientauth] Add Token expiry buffer for oauth2clientauthextension
  .chloggen/oauth2-expiry-buffer.yaml
  extension/oauth2clientauthextension/README.md
  extension/oauth2clientauthextension/clientcredentialsconfig.go
  extension/oauth2clientauthextension/config.go
  extension/oauth2clientauthextension/config_test.go
  extension/oauth2clientauthextension/extension.go
  extension/oauth2clientauthextension/extension_test.go
  extension/oauth2clientauthextension/factory.go
  extension/oauth2clientauthextension/factory_test.go
  extension/oauth2clientauthextension/testdata/config.yaml
Labels: extension/oauth2clientauth

#37328 [processor/tailsampling] allow setting only `min_value` or `max_value` for the `numeric_attribute`
  .chloggen/tailsamplingprocessor-make-min-max-optional-on-numeric-attribute.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter_test.go
  processor/tailsamplingprocessor/processor.go
Labels: Stale, processor/tailsampling

#37333 [exporter/elasticsearch] use v8 client, drop support for EOL versions of ES
  .chloggen/elasticsearchexporter-goelasticsearchv8.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/esclient.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
Labels: exporter/elasticsearch

#37361 [receiver/awsfirehose] Refactor to use pdata unmarshaler interfaces
  .chloggen/firehose-unmarshal-record.yaml
  receiver/awsfirehosereceiver/benchmark_test.go
  receiver/awsfirehosereceiver/factory.go
  receiver/awsfirehosereceiver/go.mod
  receiver/awsfirehosereceiver/go.sum
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/compression/compression.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/logsbuilder.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwlog/unmarshaler_test.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/cwmetric.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/metricsbuilder_test.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/cwmetricstream/unmarshaler_test.go
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/otlpmetricstream/unmarshaler_test.go
  receiver/awsfirehosereceiver/internal/unmarshaler/unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/unmarshalertest/nop_logs_unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/unmarshalertest/nop_logs_unmarshaler_test.go
  receiver/awsfirehosereceiver/internal/unmarshaler/unmarshalertest/nop_metrics_unmarshaler.go
  receiver/awsfirehosereceiver/internal/unmarshaler/unmarshalertest/nop_metrics_unmarshaler_test.go
  receiver/awsfirehosereceiver/logs_receiver.go
  receiver/awsfirehosereceiver/logs_receiver_test.go
  receiver/awsfirehosereceiver/metrics_receiver.go
  receiver/awsfirehosereceiver/metrics_receiver_test.go
  receiver/awsfirehosereceiver/receiver.go
  receiver/awsfirehosereceiver/receiver_test.go
Labels: receiver/awsfirehose

#37804 [pkg/ottl] Add context inferrer debug logs
  pkg/ottl/context_inferrer.go
  pkg/ottl/context_inferrer_test.go
  pkg/ottl/parser_collection.go
Labels: Skip Changelog, pkg/ottl

#37623 [chore] Remove references of `componenttest.CheckReceiver*` functions
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/internal/udppoller/poller_test.go
  receiver/awsxrayreceiver/receiver_test.go
  receiver/carbonreceiver/go.mod
  receiver/carbonreceiver/reporter_test.go
  receiver/opencensusreceiver/go.mod
  receiver/opencensusreceiver/internal/octrace/observability_test.go
  receiver/opencensusreceiver/opencensus_test.go
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/otelarrow_test.go
Labels: receiver/carbon, receiver/awsxray, receiver/opencensus, receiver/otelarrow

#37811 [chore] Upgrade otel-arrow dependencies to v0.33.0
  exporter/otelarrowexporter/go.mod
  exporter/otelarrowexporter/go.sum
  internal/otelarrow/go.mod
  internal/otelarrow/go.sum
  receiver/otelarrowreceiver/go.mod
  receiver/otelarrowreceiver/go.sum
  receiver/otelarrowreceiver/otelarrow.go
Labels: exporter/otelarrow, receiver/otelarrow, internal/otelarrow

#37700 [chore] update genqlient to v0.8.0 and fix broken tests
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/githubreceiver/go.mod
  receiver/githubreceiver/go.sum
  receiver/githubreceiver/internal/scraper/githubscraper/generated_graphql.go
  receiver/githubreceiver/internal/scraper/githubscraper/helpers_test.go
Labels: dependencies, internal/tools, receiver/github

#37796 Migrate jaeger model/converter/thrift/zipkin
  .chloggen/migrating_converter_thrift_zipkin.yaml
  exporter/zipkinexporter/go.mod
  exporter/zipkinexporter/go.sum
  extension/encoding/zipkinencodingextension/go.mod
  extension/encoding/zipkinencodingextension/go.sum
  pkg/translator/zipkin/go.mod
  pkg/translator/zipkin/go.sum
  pkg/translator/zipkin/internal/zipkin/deserialize.go
  pkg/translator/zipkin/internal/zipkin/deserialize_test.go
  pkg/translator/zipkin/internal/zipkin/fixtures/domain_01.json
  pkg/translator/zipkin/internal/zipkin/fixtures/domain_02.json
  pkg/translator/zipkin/internal/zipkin/fixtures/domain_03.json
  pkg/translator/zipkin/internal/zipkin/fixtures/zipkin_01.json
  pkg/translator/zipkin/internal/zipkin/fixtures/zipkin_02.json
  pkg/translator/zipkin/internal/zipkin/fixtures/zipkin_03.json
  pkg/translator/zipkin/internal/zipkin/process_hashtable.go
  pkg/translator/zipkin/internal/zipkin/process_hashtable_test.go
  pkg/translator/zipkin/internal/zipkin/to_domain.go
  pkg/translator/zipkin/internal/zipkin/to_domain_test.go
  pkg/translator/zipkin/zipkinv1/thrift.go
  pkg/translator/zipkin/zipkinv1/thrift_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/pulsarreceiver/go.mod
  receiver/pulsarreceiver/go.sum
Labels: ready to merge, exporter/zipkin, receiver/kafka, receiver/pulsar, pkg/translator/zipkin, extension/encoding

#37786 Allow users to configure initial buffer size
  .chloggen/add-initial-buffer.yaml
  pkg/stanza/docs/operators/file_input.md
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  receiver/filelogreceiver/README.md
  receiver/otlpjsonfilereceiver/file_test.go
Labels: receiver/filelog, pkg/stanza, receiver/otlpjsonfile

#37752 [exporter/bmchelix] Mark the BMC Helix exporter as Alpha
  .chloggen/add-bmchelix-to-build.yaml
  cmd/otelcontribcol/builder-config.yaml
  exporter/bmchelixexporter/README.md
  exporter/bmchelixexporter/internal/metadata/generated_status.go
  exporter/bmchelixexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: ready to merge, cmd/otelcontribcol, reports/distributions/contrib.yaml, exporter/bmchelix

#36753 [testbed] Include CPU and memory limits to benchmark results file
  .chloggen/testbed-add-resource-limits.yaml
  testbed/testbed/child_process_collector.go
  testbed/testbed/in_process_collector.go
  testbed/testbed/otelcol_runner.go
  testbed/testbed/results.go
  testbed/testbed/validator.go
Labels: testbed

#37638 [processor/redaction] introduce `allowed_values` parameter in processor config
  .chloggen/redaction-allowed-values.yaml
  processor/redactionprocessor/README.md
  processor/redactionprocessor/config.go
  processor/redactionprocessor/config_test.go
  processor/redactionprocessor/factory_test.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
  processor/redactionprocessor/testdata/config.yaml
Labels: processor/redaction

#37718 receiver/prometheusreceiver: allow cumulative resets when using the adjuster
  .chloggen/metricadjuster-reset.yaml
  receiver/prometheusreceiver/internal/appendable.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster_test.go
Labels: bug, ready to merge, receiver/prometheus

#37449 [receiver/datadog] Implement support for span links
  .chloggen/datadog-receiver-span-links.yaml
  receiver/datadogreceiver/README.md
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  receiver/datadogreceiver/internal/translator/traces_translator.go
  receiver/datadogreceiver/internal/translator/traces_translator_test.go
Labels: testbed, receiver/datadog

#36695 Splunkenterprisereceiver add health metric (#36695)
  .chloggen/changes.yaml
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_config_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/internal/metadata/testdata/config.yaml
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/search_result.go
Labels: ready to merge, receiver/splunkenterprise

#37536 [chore][processor/probabilistic_sampler] Clarify the default sampling mode
  processor/probabilisticsamplerprocessor/README.md
Labels: ready to merge, processor/probabilisticsampler

#37317 [chore] fieldalignment for internal/splunk
  exporter/splunkhecexporter/client_test.go
  internal/splunk/common.go
Labels: exporter/splunkhec, internal/splunk

#37805 [extension/dbstorage] Add DB Transactions to dbstorage.Batch() method
  .chloggen/feat_dbstorage-transaction-support.yaml
  extension/storage/dbstorage/client.go
  extension/storage/dbstorage/client_test.go
  extension/storage/dbstorage/config.go
  extension/storage/dbstorage/config_test.go
  extension/storage/dbstorage/extension.go
  extension/storage/dbstorage/extension_test.go
  extension/storage/dbstorage/go.mod
  extension/storage/dbstorage/go.sum
Labels: ready to merge, extension/storage/dbstorage, extension/storage

#37035 [tailsamplingprocessor] Support external decision cache implementations
  .chloggen/tsp-external-cache.yaml
  cmd/checkapi/allowlist.txt
  processor/tailsamplingprocessor/cache/lru_cache.go
  processor/tailsamplingprocessor/cache/lru_cache_test.go
  processor/tailsamplingprocessor/cache/nop_cache.go
  processor/tailsamplingprocessor/cache/nop_cache_test.go
  processor/tailsamplingprocessor/cache/types.go
  processor/tailsamplingprocessor/config.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/processor_telemetry_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: processor/tailsampling

#37830 [chore] fix flaky e2e test in k8sclusterreceiver
  receiver/k8sclusterreceiver/e2e_test.go
Labels: receiver/k8scluster

#37429 [pkg/ottl] Introduce ToSnakeCase() converter function
  .chloggen/convert-case-snake.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_to_snake_case.go
  pkg/ottl/ottlfuncs/func_to_snake_case_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#37135 [chore] Spelling connector + extension
  connector/countconnector/connector_test.go
  connector/exceptionsconnector/README.md
  connector/routingconnector/README.md
  connector/routingconnector/factory_test.go
  connector/routingconnector/internal/plogutiltest/logs_test.go
  connector/routingconnector/internal/ptraceutil/traces.go
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/config/config.go
  connector/signaltometricsconnector/internal/aggregator/explicithistogram.go
  connector/signaltometricsconnector/internal/customottl/get.go
  connector/signaltometricsconnector/testdata/metrics/exponential_histograms/config.yaml
  connector/signaltometricsconnector/testdata/metrics/exponential_histograms/output.yaml
  connector/signaltometricsconnector/testdata/metrics/histograms/config.yaml
  connector/signaltometricsconnector/testdata/metrics/histograms/output.yaml
  connector/spanmetricsconnector/README.md
  connector/sumconnector/connector_test.go
  extension/encoding/avrologencodingextension/extension_test.go
  extension/healthcheckextension/README.md
  extension/healthcheckv2extension/README.md
  extension/healthcheckv2extension/internal/grpc/grpc_test.go
  extension/healthcheckv2extension/internal/http/config.go
  extension/healthcheckv2extension/internal/http/server_test.go
  extension/httpforwarderextension/README.md
  extension/oauth2clientauthextension/extension_test.go
  extension/observer/ecsobserver/README.md
  extension/observer/ecsobserver/docker_label.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/internal/ecsmock/service.go
  extension/observer/ecsobserver/service.go
  extension/observer/ecsobserver/task_definition.go
  extension/observer/ecsobserver/task_test.go
  extension/observer/k8sobserver/ingress_endpoint.go
  extension/oidcauthextension/extension.go
  extension/oidcauthextension/extension_test.go
  extension/opampextension/monitor_ppid_test.go
  extension/opampextension/registry_test.go
  extension/pprofextension/README.md
  extension/remotetapextension/README.md
  extension/sigv4authextension/README.md
  extension/sigv4authextension/design.md
  extension/solarwindsapmsettingsextension/README.md
  extension/storage/storagetest/doc.go
  extension/sumologicextension/extension.go
  extension/sumologicextension/extension_test.go
Labels: extension/healthcheck, extension/sigv4auth, extension/oidcauth, extension/oauth2clientauth, extension/httpforwarder, extension/pprof, extension/observer, extension/storage, connector/count, connector/spanmetrics, connector/routing, extension/encoding, connector/exceptions, extension/opamp, extension/remotetap, extension/solarwindsapmsettings, extension/sumologic, extension/healthcheckv2, connector/sum, connector/signaltometrics, extension/cgroupruntime

#37789 [encoding/googlecloudlogentry] Scaffold new component (#37531)
  .chloggen/scaffold_googlecloudlogentryencodingextension.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  extension/encoding/googlecloudlogentryencodingextension/Makefile
  extension/encoding/googlecloudlogentryencodingextension/README.md
  extension/encoding/googlecloudlogentryencodingextension/config.go
  extension/encoding/googlecloudlogentryencodingextension/config_test.go
  extension/encoding/googlecloudlogentryencodingextension/doc.go
  extension/encoding/googlecloudlogentryencodingextension/extension.go
  extension/encoding/googlecloudlogentryencodingextension/factory.go
  extension/encoding/googlecloudlogentryencodingextension/generated_component_test.go
  extension/encoding/googlecloudlogentryencodingextension/generated_package_test.go
  extension/encoding/googlecloudlogentryencodingextension/go.mod
  extension/encoding/googlecloudlogentryencodingextension/go.sum
  extension/encoding/googlecloudlogentryencodingextension/internal/metadata/generated_status.go
  extension/encoding/googlecloudlogentryencodingextension/metadata.yaml
  extension/encoding/googlecloudlogentryencodingextension/testdata/config.yaml
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: ready to merge, cmd/otelcontribcol, extension/encoding

#37427 [pkg/ottl] Introduce ToUpperCase() converter function
  .chloggen/convert-case-upper.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_to_upper_case.go
  pkg/ottl/ottlfuncs/func_to_upper_case_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#37866 [chore] add myself as codeowner
  .github/CODEOWNERS
  receiver/envoyalsreceiver/README.md
  receiver/envoyalsreceiver/metadata.yaml
Labels: receiver/envoyals

#37784 [chore] Remove usage of pointers for state in metadata
  .chloggen/not-sure-understand.yaml
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/flush/flush.go
  pkg/stanza/flush/flush_test.go
Labels: pkg/stanza

#37881 [chore] make gotidy
  extension/encoding/googlecloudlogentryencodingextension/config.go
  extension/encoding/googlecloudlogentryencodingextension/config_test.go
  extension/encoding/googlecloudlogentryencodingextension/generated_component_test.go
  extension/encoding/googlecloudlogentryencodingextension/go.mod
  extension/encoding/googlecloudlogentryencodingextension/go.sum
Labels: extension/encoding

#37803 [chore] docs: remove mentions of non-existent Nop processor
  extension/storage/dbstorage/README.md
  extension/storage/filestorage/README.md
  extension/storage/redisstorageextension/README.md
Labels: extension/storage

#37695 Fix race in shutdown of AWS Container Insight receiver
  .chloggen/shutdown-race-on-awscontainerinsightreceiver.yaml
  receiver/awscontainerinsightreceiver/receiver.go
Labels: receiver/awscontainerinsight, waiting-for-code-owners

#37428 [pkg/ottl] Introduce ToLowerCase() converter function
  .chloggen/convert-case-lower.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_to_lower_case.go
  pkg/ottl/ottlfuncs/func_to_lower_case_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#37264 feat(googlecloudmonitoring): support monitoring filters
  .chloggen/feat-googlecloudmonitoring-filter.yaml
  receiver/googlecloudmonitoringreceiver/README.md
  receiver/googlecloudmonitoringreceiver/config.go
  receiver/googlecloudmonitoringreceiver/config_test.go
  receiver/googlecloudmonitoringreceiver/receiver.go
  receiver/googlecloudmonitoringreceiver/testdata/config.yaml
Labels: ready to merge, receiver/googlecloudmonitoring

#37156 feat: add support for MetricTypeSum
  .chloggen/add-metrictypesum-support.yaml
  pkg/translator/prometheusremotewrite/helper_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2.go
Labels: ready to merge, pkg/translator/prometheus

#37753 [processor/transform] Add new configuration styles documentation
  pkg/ottl/LANGUAGE.md
  pkg/ottl/contexts/ottldatapoint/README.md
  pkg/ottl/contexts/ottllog/README.md
  pkg/ottl/contexts/ottlmetric/README.md
  pkg/ottl/contexts/ottlresource/README.md
  pkg/ottl/contexts/ottlscope/README.md
  pkg/ottl/contexts/ottlspan/README.md
  pkg/ottl/contexts/ottlspanevent/README.md
  pkg/ottl/ottlfuncs/README.md
  processor/transformprocessor/README.md
Labels: Skip Changelog, processor/transform, pkg/ottl

#37564 [exporter/stefexporter] Add basic STEF exporter implementation
  .chloggen/tigran_stefexporter.yaml
  exporter/stefexporter/README.md
  exporter/stefexporter/config.go
  exporter/stefexporter/exporter.go
  exporter/stefexporter/exporter_test.go
  exporter/stefexporter/factory.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  exporter/stefexporter/internal/cancellablewait.go
Labels: exporter/stef

#37694 [receiver/awscontainerinsight] Add HOST_PROC env var support
  .chloggen/support-host-proc-env-var-on-awscontainerinsightreceiver.yaml
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity.go
  receiver/awscontainerinsightreceiver/internal/host/nodeCapacity_test.go
Labels: receiver/awscontainerinsight, waiting-for-code-owners

#37567 [exporter/elasticsearch] Support for profiles export
  .chloggen/elasticsearch-profiles.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/internal/metadata/generated_status.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/profile_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/benchmark_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/encode.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/model.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/unixtime.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/unixtime_test.go
  exporter/elasticsearchexporter/metadata.yaml
  exporter/elasticsearchexporter/model.go
Labels: exporter/elasticsearch

#37736 [elasticsearchexporter] Remove dedot config
  .chloggen/elasticsearchexporter-rm-dedot-config.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/factory_test.go
  exporter/elasticsearchexporter/internal/objmodel/objmodel.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#37763 [elasticsearchexporter] [chore] refactor routing
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/data_stream_router_test.go
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#37162 [pkg/ottl] Introduce ToCamelCase() converter function
  .chloggen/ottl-convertcase.yaml
  pkg/ottl/e2e/e2e_test.go
  pkg/ottl/ottlfuncs/README.md
  pkg/ottl/ottlfuncs/func_to_camel_case.go
  pkg/ottl/ottlfuncs/func_to_camel_case_test.go
  pkg/ottl/ottlfuncs/functions.go
Labels: pkg/ottl

#37764 [elasticsearchexporter] [chore] extract a dataPointHasher interface
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/metric_grouping.go
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#36873 Dependency: Update to Prometheus 0.300.*
  connector/datadogconnector/go.sum
  exporter/datadogexporter/examples/collector-metrics.yaml
  exporter/datadogexporter/examples/ootb-ec2.yaml
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/lokiexporter/go.mod
  exporter/lokiexporter/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.mod
  exporter/prometheusremotewriteexporter/go.sum
  pkg/translator/loki/go.mod
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.mod
  pkg/translator/prometheusremotewrite/go.sum
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/factory_test.go
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/metrics_receiver.go
  receiver/prometheusreceiver/metrics_receiver_helper_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/metrics_receiver_protobuf_test.go
  receiver/prometheusreceiver/metrics_receiver_test.go
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/prometheusreceiver/targetallocator/manager_test.go
  receiver/prometheusreceiver/testdata/config_fallback_scrape_protocol.yaml
  receiver/prometheusreceiver/testdata/config_target_allocator.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-file-sd-config-json.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-file-sd-config-yaml.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-non-existent-scrape-config.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-unsupported-features.yaml
  receiver/prometheusreceiver/testdata/non-existent-prometheus-sd-file-config.yaml
  receiver/prometheusreceiver/testdata/openmetrics/bad_no_eof/metrics
  receiver/prometheusremotewritereceiver/generated_package_test.go
  receiver/prometheusremotewritereceiver/go.mod
  receiver/prometheusremotewritereceiver/go.sum
  receiver/prometheusremotewritereceiver/metadata.yaml
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: dependencies, ready to merge, exporter/datadog, Skip Changelog, exporter/loki, exporter/prometheusremotewrite, receiver/prometheus, exporter/prometheus, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheus, receiver/purefa, testbed, receiver/purefb, receiver/loki, connector/datadog, receiver/prometheusremotewrite

#37890 [receiver/filelogreceiver] Make some small fixes to documentation for ordering criteria
  receiver/filelogreceiver/README.md
Labels: Skip Changelog, receiver/filelog

#37847 [receiver/syslog] Support setting on_error mode for syslog receiver
  .chloggen/syslog-receiver-add-error-mode.yaml
  pkg/stanza/docs/operators/syslog_input.md
  pkg/stanza/operator/input/syslog/config.go
  pkg/stanza/operator/input/syslog/config_test.go
  pkg/stanza/operator/input/syslog/testdata/config.yaml
  receiver/syslogreceiver/README.md
Labels: receiver/syslog, pkg/stanza

#37885 [chore] Seeking community ownership of scrapers
  .github/ALLOWLIST
  .github/CODEOWNERS
  receiver/couchdbreceiver/README.md
  receiver/couchdbreceiver/internal/metadata/generated_status.go
  receiver/couchdbreceiver/metadata.yaml
  receiver/elasticsearchreceiver/README.md
  receiver/elasticsearchreceiver/internal/metadata/generated_status.go
  receiver/elasticsearchreceiver/metadata.yaml
  receiver/memcachedreceiver/README.md
  receiver/memcachedreceiver/internal/metadata/generated_status.go
  receiver/memcachedreceiver/metadata.yaml
  receiver/mysqlreceiver/README.md
  receiver/mysqlreceiver/internal/metadata/generated_status.go
  receiver/mysqlreceiver/metadata.yaml
  receiver/otlpjsonfilereceiver/README.md
  receiver/otlpjsonfilereceiver/metadata.yaml
  receiver/postgresqlreceiver/README.md
  receiver/postgresqlreceiver/internal/metadata/generated_status.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/zookeeperreceiver/README.md
  receiver/zookeeperreceiver/internal/metadata/generated_status.go
  receiver/zookeeperreceiver/metadata.yaml
  scraper/zookeeperscraper/README.md
  scraper/zookeeperscraper/internal/metadata/generated_status.go
  scraper/zookeeperscraper/metadata.yaml
Labels: receiver/memcached, receiver/mysql, receiver/elasticsearch, receiver/zookeeper, receiver/couchdb, receiver/postgresql, receiver/otlpjsonfile, scraper/zookeeper

#37916 [exporter/stefexporter] Update STEF dependency to v0.0.3
  exporter/stefexporter/exporter.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
Labels: Skip Changelog, exporter/stef

#37322 [chore] apply fieldalignment to cassandraexporter
  exporter/cassandraexporter/config.go
  exporter/cassandraexporter/config_test.go
Labels: exporter/cassandra

#37918 [chore] moar codeowners
  extension/httpforwarderextension/README.md
  extension/httpforwarderextension/metadata.yaml
  extension/remotetapextension/README.md
  extension/remotetapextension/metadata.yaml
  internal/collectd/metadata.yaml
  receiver/collectdreceiver/README.md
  receiver/collectdreceiver/metadata.yaml
  receiver/filestatsreceiver/README.md
  receiver/filestatsreceiver/metadata.yaml
  receiver/ntpreceiver/README.md
  receiver/ntpreceiver/metadata.yaml
  receiver/otlpjsonfilereceiver/README.md
  receiver/otlpjsonfilereceiver/metadata.yaml
  receiver/sapmreceiver/README.md
  receiver/sapmreceiver/metadata.yaml
Labels: receiver/collectd, receiver/sapm, extension/httpforwarder, receiver/otlpjsonfile, receiver/filestats, extension/remotetap, internal/collectd, receiver/ntp

#37829 [opencensus] Deprecate the OpenCensus exporter and receiver
  .chloggen/opencensus_deprecated.yaml
  .chloggen/opencensusreceiver_deprecated.yaml
  exporter/opencensusexporter/README.md
  exporter/opencensusexporter/internal/metadata/generated_status.go
  exporter/opencensusexporter/metadata.yaml
  receiver/opencensusreceiver/README.md
  receiver/opencensusreceiver/internal/metadata/generated_status.go
  receiver/opencensusreceiver/metadata.yaml
Labels: ready to merge, exporter/opencensus, receiver/opencensus

#37669 [extension/kafkatopicsobserver] add kafka topics observer extension
  .chloggen/feat_kafka-topics-observer.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  extension/observer/kafkatopicsobserver/Makefile
  extension/observer/kafkatopicsobserver/README.md
  extension/observer/kafkatopicsobserver/config.go
  extension/observer/kafkatopicsobserver/doc.go
  extension/observer/kafkatopicsobserver/extension.go
  extension/observer/kafkatopicsobserver/factory.go
  extension/observer/kafkatopicsobserver/generated_component_test.go
  extension/observer/kafkatopicsobserver/generated_package_test.go
  extension/observer/kafkatopicsobserver/go.mod
  extension/observer/kafkatopicsobserver/go.sum
  extension/observer/kafkatopicsobserver/internal/metadata/generated_status.go
  extension/observer/kafkatopicsobserver/metadata.yaml
  internal/tidylist/tidylist.txt
  reports/distributions/contrib.yaml
  versions.yaml
Labels: exporter/alibabacloudlogservice, exporter/datadog, processor/attributes, processor/filter, processor/tailsampling, processor/resourcedetection, processor/transform, cmd/telemetrygen, exporter/clickhouse, receiver/hostmetrics, receiver/podman, exporter/carbon, exporter/azuremonitor, receiver/awscontainerinsight, processor/cumulativetodelta, processor/routing, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/elasticsearch, exporter/coralogix, receiver/awsxray, pkg/ottl, extension/observer, processor/span, examples/demo, exporter/azuredataexplorer, internal/aws, internal/tools, internal/filter, confmap/provider/s3provider, testbed, receiver/sshcheck, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, exporter/dataset, cmd/opampsupervisor, connector/routing, extension/encoding, connector/exceptions, cmd/githubgen, internal/datadog, connector/datadog, exporter/honeycombmarker, processor/remotetap, exporter/alertmanager, connector/failover, reports/distributions/contrib.yaml, exporter/otelarrow, processor/deltatocumulative, receiver/otelarrow, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/sum, internal/otelarrow, connector/otlpjson, processor/logdedup, exporter/doris, pkg/datadog, confmap/provider/aesprovider, connector/signaltometrics, exporter/bmchelix

#37903 [exporter/elasticsearch] Fix data loss due to metric grouping regression
  .chloggen/elasticsearchexporter_metrics-grouping-data-loss.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/metric_grouping.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#37922 [chore] unexport test function
  confmap/provider/s3provider/provider_test.go
Labels: confmap/provider/s3provider

#37931 [tailsamplingprocessor] [chore] Fix merge of #37797 and #37035
  processor/tailsamplingprocessor/factory.go
  processor/tailsamplingprocessor/processor_decisions_test.go
Labels: processor/tailsampling

#37921 [s3provider] Delete deprecated New function
  .chloggen/delete_deprecated_new_function.yaml
  confmap/provider/s3provider/provider.go
Labels: confmap/provider/s3provider

#37823 Migrate converter thrift jaeger
  .chloggen/migrating_converter_thrift_jaeger.yaml
  pkg/translator/jaeger/go.mod
  pkg/translator/jaeger/go.sum
  pkg/translator/jaeger/jaegerthriftcoverter/fixtures/domain_01.json
  pkg/translator/jaeger/jaegerthriftcoverter/fixtures/domain_02.json
  pkg/translator/jaeger/jaegerthriftcoverter/fixtures/domain_03.json
  pkg/translator/jaeger/jaegerthriftcoverter/fixtures/thrift_batch_01.json
  pkg/translator/jaeger/jaegerthriftcoverter/fixtures/thrift_batch_02.json
  pkg/translator/jaeger/jaegerthriftcoverter/from_domain.go
  pkg/translator/jaeger/jaegerthriftcoverter/from_domain_test.go
  pkg/translator/jaeger/jaegerthriftcoverter/sampling_from_domain.go
  pkg/translator/jaeger/jaegerthriftcoverter/sampling_from_domain_test.go
  pkg/translator/jaeger/jaegerthriftcoverter/sampling_to_domain.go
  pkg/translator/jaeger/jaegerthriftcoverter/sampling_to_domain_test.go
  pkg/translator/jaeger/jaegerthriftcoverter/to_domain.go
  pkg/translator/jaeger/jaegerthriftcoverter/to_domain_test.go
  receiver/jaegerreceiver/jaeger_agent_test.go
Labels: ready to merge, receiver/jaeger, pkg/translator/jaeger

#37834 [logzio] Remove dependency on jaeger/pkg/cache
  .chloggen/remove-jaeger-dependency-pkg-cache.yaml
  exporter/logzioexporter/exporter.go
  exporter/logzioexporter/internal/cache/cache.go
  exporter/logzioexporter/internal/cache/lru.go
  exporter/logzioexporter/internal/cache/lru_test.go
Labels: ready to merge, exporter/logzio

#37926 [chore] Use public Linux ARM64 runners
  .github/workflows/build-and-test-arm.yml
Labels: ci-cd

#37909 [processor/transform] more readme refactoring
  pkg/ottl/README.md
  processor/transformprocessor/README.md
Labels: documentation, ready to merge, Skip Changelog, processor/transform, pkg/ottl

#37939 [pkg/datadog] expose Zaplogger
  .chloggen/dd-logger.yaml
  exporter/datadogexporter/agent_components.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/zaplogger.go
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  pkg/datadog/zaplogger.go
Labels: exporter/datadog, pkg/datadog

#37946 [connector/routing] Avoid unnecessary copy of the data
  .chloggen/rm-copies-routing.yaml
  connector/routingconnector/internal/plogutil/logs.go
  connector/routingconnector/internal/plogutil/logs_test.go
  connector/routingconnector/internal/pmetricutil/metrics.go
  connector/routingconnector/internal/pmetricutil/metrics_test.go
  connector/routingconnector/internal/ptraceutil/traces.go
  connector/routingconnector/internal/ptraceutil/traces_test.go
Labels: connector/routing

#37949 Update CODEOWNERS and documentation to include new code owner for azu…
  .github/CODEOWNERS
  exporter/azuremonitorexporter/README.md
  exporter/azuremonitorexporter/metadata.yaml
Labels: Skip Changelog, exporter/azuremonitor

#37942 [chore] add pkg class to all pkg modules
  pkg/batchperresourceattr/metadata.yaml
  pkg/batchpersignal/metadata.yaml
  pkg/core/xidutils/metadata.yaml
  pkg/experimentalmetricmetadata/metadata.yaml
  pkg/pdatatest/metadata.yaml
  pkg/pdatautil/metadata.yaml
  pkg/resourcetotelemetry/metadata.yaml
  pkg/stanza/metadata.yaml
  pkg/translator/azure/metadata.yaml
  pkg/translator/azurelogs/metadata.yaml
  pkg/translator/jaeger/metadata.yaml
  pkg/translator/loki/metadata.yaml
  pkg/translator/opencensus/metadata.yaml
  pkg/translator/prometheus/metadata.yaml
  pkg/translator/prometheusremotewrite/metadata.yaml
  pkg/translator/skywalking/metadata.yaml
  pkg/winperfcounters/metadata.yaml
  pkg/xk8stest/metadata.yaml
Labels: Skip Changelog, pkg/winperfcounters, pkg/stanza, pkg/batchpersignal, pkg/batchperresourceattr, pkg/resourcetotelemetry, pkg/experimentalmetricmetadata, pkg/translator/jaeger, pkg/translator/loki, pkg/translator/opencensus, pkg/translator/prometheus, pkg/pdatatest, pkg/pdatautil, pkg/translator/azure, pkg/translator/skywalking, pkg/core/xidutils, pkg/xk8stest

#37894 fix: update the label selector
  .chloggen/k8sattributes-fix-filter-labels-bug.yaml
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
Labels: processor/k8sattributes

#37952 typos
  CHANGELOG-API.md
  CHANGELOG.md
  pkg/stanza/docs/operators/key_value_parser.md
  pkg/stanza/docs/operators/noop.md
  pkg/stanza/docs/operators/syslog_input.md
  pkg/stanza/docs/operators/udp_input.md
  pkg/stanza/docs/types/entry.md
  pkg/stanza/docs/types/operators.md
  pkg/stanza/docs/types/severity.md
Labels: Skip Changelog, pkg/stanza

#37960 [chore] delete generated_status.go file
  cmd/telemetrygen/config.go
  cmd/telemetrygen/go.mod
  cmd/telemetrygen/go.sum
  cmd/telemetrygen/internal/metadata/generated_status.go
Labels: cmd/telemetrygen

#37119 [chore]: enable early-return from revive
  .golangci.yml
  confmap/provider/aesprovider/provider_test.go
  exporter/bmchelixexporter/internal/operationsmanagement/metrics_producer.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datasetexporter/datasetexporter.go
  exporter/honeycombmarkerexporter/config.go
  exporter/prometheusexporter/accumulator.go
  exporter/signalfxexporter/internal/correlation/correlation.go
  exporter/sumologicexporter/exporter.go
  internal/aws/metrics/metric_calculator.go
  internal/sqlquery/scraper.go
  pkg/stanza/entry/entry.go
  receiver/awscontainerinsightreceiver/internal/stores/podstore.go
  receiver/awss3receiver/receiver.go
  receiver/azureeventhubreceiver/azureresourcemetrics_unmarshaler.go
  receiver/cloudfoundryreceiver/stream.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/saphanareceiver/queries.go
  receiver/solacereceiver/receiver.go
  receiver/splunkhecreceiver/receiver.go
  receiver/sqlserverreceiver/scraper.go
  receiver/windowsperfcountersreceiver/windowsperfcounters_scraper_test.go
  scraper/zookeeperscraper/scraper.go
  testbed/testbed/child_process_collector.go
Labels: ci-cd, exporter/datadog, receiver/awscontainerinsight, receiver/kubeletstats, receiver/zookeeper, receiver/prometheus, exporter/signalfx, exporter/prometheus, exporter/sumologic, receiver/saphana, receiver/solace, receiver/windowsperfcounters, receiver/sqlserver, receiver/splunkhec, receiver/cloudfoundry, pkg/stanza, receiver/azureeventhub, internal/aws, testbed, exporter/dataset, exporter/honeycombmarker, internal/sqlquery, receiver/awss3, confmap/provider/aesprovider, exporter/bmchelix, scraper/zookeeper

#37932 [reciever/azureeventhub] Fix reload offset bug
  .chloggen/azure-eventhub-checkpoint.yaml
  receiver/azureeventhubreceiver/README.md
  receiver/azureeventhubreceiver/config.go
  receiver/azureeventhubreceiver/config_test.go
  receiver/azureeventhubreceiver/eventhubhandler.go
Labels: receiver/azureeventhub

#37940 [chore][exporter/datadog] Add integration tests on metrics mapping
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_host_metrics_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog

#37934 [zipkinreceiver] Remove last dependency on Jaeger
  .chloggen/using_converter_thrift_zipkin.yaml
  exporter/zipkinexporter/go.sum
  pkg/translator/zipkin/zipkinthriftconverter/deserialize.go
  pkg/translator/zipkin/zipkinthriftconverter/deserialize_test.go
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/domain_01.json
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/domain_02.json
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/domain_03.json
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/zipkin_01.json
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/zipkin_02.json
  pkg/translator/zipkin/zipkinthriftconverter/fixtures/zipkin_03.json
  pkg/translator/zipkin/zipkinthriftconverter/process_hashtable.go
  pkg/translator/zipkin/zipkinthriftconverter/process_hashtable_test.go
  pkg/translator/zipkin/zipkinthriftconverter/to_domain.go
  pkg/translator/zipkin/zipkinthriftconverter/to_domain_test.go
  pkg/translator/zipkin/zipkinv1/thrift.go
  pkg/translator/zipkin/zipkinv1/thrift_test.go
  receiver/zipkinreceiver/go.mod
  receiver/zipkinreceiver/go.sum
  receiver/zipkinreceiver/trace_receiver_test.go
Labels: ready to merge, receiver/zipkin, exporter/zipkin, pkg/translator/zipkin

#37970 [chore][exporter/coralogix] Add iblancasa to codeowners
  .github/CODEOWNERS
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/metadata.yaml
Labels: ready to merge, exporter/coralogix

#37955 [chore][receiver/httpcheckreceiver] Update code ownership - Httpcheck codeowner
  .github/CODEOWNERS
  receiver/httpcheckreceiver/README.md
  receiver/httpcheckreceiver/metadata.yaml
Labels: receiver/httpcheck

#37979 Rm usage make factory
  connector/datadogconnector/example_test.go
  exporter/datadogexporter/examples_test.go
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/elasticsearchexporter/integrationtest/collector.go
  receiver/hostmetricsreceiver/factory.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  testbed/testbed/components.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, cmd/telemetrygen, exporter/clickhouse, exporter/carbon, exporter/azuremonitor, cmd/otelcontribcol, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awskinesis, exporter/awsxray, exporter/coralogix, exporter/azuredataexplorer, cmd/oteltestbedcol, confmap/provider/s3provider, connector/count, connector/servicegraph, connector/spanmetrics, exporter/awss3, exporter/cassandra, cmd/opampsupervisor, connector/routing, connector/exceptions, cmd/githubgen, connector/datadog, exporter/alertmanager, connector/failover, confmap/provider/secretsmanagerprovider, connector/grafanacloud, connector/roundrobin, connector/sum, connector/otlpjson, confmap/provider/aesprovider, connector/signaltometrics, exporter/bmchelix

#37581 [receiver/k8scluster] add entity attributes to namespace and container
  .chloggen/add-namespace-entity-metadata.yaml
  receiver/k8sclusterreceiver/e2e_test.go
  receiver/k8sclusterreceiver/informer_transform_test.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/container/containers_test.go
  receiver/k8sclusterreceiver/internal/container/package_test.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces.go
  receiver/k8sclusterreceiver/internal/namespace/namespaces_test.go
  receiver/k8sclusterreceiver/internal/testutils/objects.go
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/clusterrole.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/clusterrolebinding.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/configmap.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/deployment.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/service.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/collector/serviceaccount.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/expected-ns.yaml
  receiver/k8sclusterreceiver/testdata/e2e/entities-test/testobjects/1-test-ns.yaml
  receiver/k8sclusterreceiver/watcher.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#37788 [exporter/azureblobexporter] New component for azureblobexporter skeleton - First PR
  .chloggen/azureblob-exporter-skeleton.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  cmd/otelcontribcol/builder-config.yaml
  exporter/azureblobexporter/Makefile
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/config_test.go
  exporter/azureblobexporter/doc.go
  exporter/azureblobexporter/exporter.go
  exporter/azureblobexporter/factory.go
  exporter/azureblobexporter/factory_test.go
  exporter/azureblobexporter/generated_component_test.go
  exporter/azureblobexporter/generated_package_test.go
  exporter/azureblobexporter/go.mod
  exporter/azureblobexporter/go.sum
  exporter/azureblobexporter/internal/metadata/generated_status.go
  exporter/azureblobexporter/metadata.yaml
  exporter/azureblobexporter/testdata/config.yaml
  internal/tidylist/tidylist.txt
  versions.yaml
Labels: Accepted Component, cmd/otelcontribcol

#36818 [receiver/kafkametrics] Fix incorrect cluster admin initialization in consumer scraper
  .chloggen/kafkametricsreceiver-cluster-admin-init.yaml
  receiver/kafkametricsreceiver/consumer_scraper.go
Labels: Stale, receiver/kafkametrics

#37944 [exporter/stefexporter] Fix a context cancellation bug in STEF exporter
  exporter/stefexporter/exporter.go
  exporter/stefexporter/exporter_test.go
Labels: Skip Changelog, exporter/stef

#37879 prometheusreceiver: deprecate start time adjustment
  .chloggen/prometheus-deprecate-adjuster.yaml
  receiver/prometheusreceiver/README.md
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/metrics_adjuster.go
  receiver/prometheusreceiver/internal/starttimemetricadjuster.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: ready to merge, receiver/prometheus

#37962 [processor/resourcedetection] add instructions for recommended use of the dynatrace detector
  processor/resourcedetectionprocessor/README.md
Labels: ready to merge, Skip Changelog, processor/resourcedetection

#37342 fix(azuremonitorreceiver): Azure Monitor receiver should not produce gaps in data points for PT1M time grains
  .chloggen/fix_azure-monitor-receiver-time-grain.yaml
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
Labels: ready to merge, receiver/azuremonitor

#37615 [processor/k8sattributes] move k8sattr.fieldExtractConfigRegex.disallow feature gate to stable
  .chloggen/regex-deprecation.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/config_test.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/testdata/config.yaml
Labels: processor/k8sattributes

#37897 [receiver/kafka_metrics_receiver] Add refresh_frequency to enable custom refreshing for cluster metadata
  .chloggen/kafka_metrics_receiver-add-refresh_frequency.yaml
  receiver/kafkametricsreceiver/config.go
  receiver/kafkametricsreceiver/config_test.go
  receiver/kafkametricsreceiver/receiver.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/kafkametricsreceiver/testdata/config.yaml
Labels: receiver/kafkametrics

#37976 [chore][pkg/ottl] Move TestPath into internal test package
  pkg/ottl/contexts/internal/map_test.go
  pkg/ottl/contexts/internal/metric_test.go
  pkg/ottl/contexts/internal/path.go
  pkg/ottl/contexts/internal/pathtest/path.go
  pkg/ottl/contexts/internal/resource_test.go
  pkg/ottl/contexts/internal/scope_test.go
  pkg/ottl/contexts/internal/slice_test.go
  pkg/ottl/contexts/internal/span_test.go
  pkg/ottl/contexts/internal/value_test.go
  pkg/ottl/contexts/ottldatapoint/datapoint_test.go
  pkg/ottl/contexts/ottllog/log_test.go
  pkg/ottl/contexts/ottlmetric/metrics_test.go
  pkg/ottl/contexts/ottlresource/resource_test.go
  pkg/ottl/contexts/ottlscope/scope_test.go
  pkg/ottl/contexts/ottlspan/span_test.go
  pkg/ottl/contexts/ottlspanevent/span_events_test.go
Labels: pkg/ottl

#38018 [receiver/prometheus] Add fallback_scrape_protocol during config validation
  .chloggen/prom-scrape-config-protocol.yaml
  exporter/datadogexporter/examples/collector-metrics.yaml
  exporter/datadogexporter/examples/ootb-ec2.yaml
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  receiver/prometheusreceiver/config.go
  receiver/prometheusreceiver/factory.go
  receiver/prometheusreceiver/factory_test.go
  receiver/prometheusreceiver/internal/staleness_end_to_end_test.go
  receiver/prometheusreceiver/metrics_receiver_labels_test.go
  receiver/prometheusreceiver/testdata/config_target_allocator.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-file-sd-config-json.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-file-sd-config-yaml.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-nonexistent-scrape-config.yaml
  receiver/prometheusreceiver/testdata/invalid-config-prometheus-unsupported-features.yaml
  receiver/prometheusreceiver/testdata/nonexistent-prometheus-sd-file-config.yaml
Labels: exporter/datadog, release:blocker, receiver/prometheus

#38032 [chore] File issue when update-otel workflow fails
  .github/workflows/update-otel.yaml
Labels: ci-cd

#38050 [chore][exporter/coralogix] Add `douglascamata` as a codeowner
  .github/CODEOWNERS
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/metadata.yaml
Labels: exporter/coralogix

#38043 [telemetrygen] update semconv dependencies
  .chloggen/codeboten_update-semconv.yaml
  cmd/telemetrygen/pkg/logs/logs.go
  cmd/telemetrygen/pkg/traces/traces.go
  cmd/telemetrygen/pkg/traces/worker.go
  examples/demo/client/main.go
  examples/demo/server/main.go
  examples/secure-tracing/README.md
Labels: cmd/telemetrygen, examples/demo

#38044 [telemetrygen] support `--service` for all signal types
  .chloggen/codeboten_telemetrygen-servicename.yaml
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/pkg/traces/config.go
  cmd/telemetrygen/pkg/traces/traces.go
Labels: cmd/telemetrygen

#37951 [chore] move evaluation of file lists to tasks to reduce Makefile setup
  Makefile.Common
Labels: pkg/stanza

#37689 [extension/sumologicextension] Sanitize version information
  .chloggen/build-number-fix.yaml
  extension/sumologicextension/extension.go
  extension/sumologicextension/extension_test.go
Labels: extension/sumologic

#35402 [pkg/translator/azure] Map application-defined properties
  .chloggen/azuretranslator-app-props.yaml
  pkg/translator/azure/resources_to_traces.go
Labels: pkg/translator/azure, waiting-for-code-owners

#37004 [receiver/sqlserver] Add SQL server host resource attributes
  .chloggen/sqlserver-add-address-resource-attr.yaml
  receiver/sqlserverreceiver/config_test.go
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/internal/metadata/generated_config.go
  receiver/sqlserverreceiver/internal/metadata/generated_config_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics.go
  receiver/sqlserverreceiver/internal/metadata/generated_metrics_test.go
  receiver/sqlserverreceiver/internal/metadata/generated_resource.go
  receiver/sqlserverreceiver/internal/metadata/generated_resource_test.go
  receiver/sqlserverreceiver/internal/metadata/testdata/config.yaml
  receiver/sqlserverreceiver/metadata.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/scraper_windows_test.go
  receiver/sqlserverreceiver/testdata/config.yaml
  receiver/sqlserverreceiver/testdata/expectedDatabaseIO.yaml
  receiver/sqlserverreceiver/testdata/expectedPerfCounters.yaml
  receiver/sqlserverreceiver/testdata/expectedProperties.yaml
Labels: ready to merge, receiver/sqlserver

#36660 [prometheusreceiver] Make use of created timestamp from prometheus
  .chloggen/prometheus-receiver-use-created-timestamp.yaml
  receiver/prometheusreceiver/internal/metricfamily.go
  receiver/prometheusreceiver/internal/transaction.go
  receiver/prometheusreceiver/internal/transaction_test.go
  receiver/prometheusreceiver/metrics_receiver.go
Labels: receiver/prometheus

#38008 [processor/deltatocumulativeprocessor] Adjust equal test to not compare functions
  processor/deltatocumulativeprocessor/internal/data/datatest/equal.go
  processor/deltatocumulativeprocessor/internal/data/datatest/equal_test.go
Labels: ready to merge, Skip Changelog, processor/deltatocumulative

#38061 [exporter/stefexporter] Mark STEF exporter as Alpha
  .chloggen/tigran_stefexporteralpha.yaml
  cmd/otelcontribcol/builder-config.yaml
  exporter/stefexporter/README.md
  exporter/stefexporter/internal/metadata/generated_status.go
  exporter/stefexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: cmd/otelcontribcol, reports/distributions/contrib.yaml, exporter/stef

#38074 [chore] Replace `NewNopSettings` with `NewNopSettingsWithType`
  exporter/stefexporter/exporter_test.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/kafkametricsreceiver/receiver_test.go
  receiver/prometheusreceiver/internal/transaction_test.go
Labels: receiver/prometheus, receiver/kafkametrics, receiver/azuremonitor, exporter/stef

#38046 [elasticsearchexporter] Add schema_url fields to metrics
  .chloggen/elasticsearchexporter-metrics-schemaurl.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
Labels: exporter/elasticsearch

#38064 refactored failover connector
  .chloggen/refactor-failover-logic.yaml
  connector/failoverconnector/README.md
  connector/failoverconnector/config.go
  connector/failoverconnector/config_test.go
  connector/failoverconnector/factory.go
  connector/failoverconnector/factory_test.go
  connector/failoverconnector/failover.go
  connector/failoverconnector/failover_test.go
  connector/failoverconnector/internal/state/pipeline_selector.go
  connector/failoverconnector/internal/state/pipeline_selector_test.go
  connector/failoverconnector/internal/state/utils.go
  connector/failoverconnector/logs.go
  connector/failoverconnector/logs_test.go
  connector/failoverconnector/metrics.go
  connector/failoverconnector/metrics_test.go
  connector/failoverconnector/testdata/config.yaml
  connector/failoverconnector/traces.go
  connector/failoverconnector/traces_test.go
Labels: connector/failover

#38012 [exporter/coralogix] Add profile support for the Coralogix exporter
  .chloggen/38011-add-profiles-coralogixexporter.yaml
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/go.mod
  exporter/coralogixexporter/go.sum
  exporter/coralogixexporter/internal/metadata/generated_status.go
  exporter/coralogixexporter/metadata.yaml
  exporter/coralogixexporter/profiles_client.go
  exporter/coralogixexporter/profiles_client_test.go
Labels: exporter/coralogix

#38025 [exporter/coralogix] Manage partial success
  .chloggen/coralogix-exporter-partial-success.yaml
  exporter/coralogixexporter/logs_client.go
  exporter/coralogixexporter/metrics_client.go
  exporter/coralogixexporter/traces_client.go
Labels: ready to merge, exporter/coralogix

#38078 [processor/resourcedetection] Allow resourcedetection processor to propagate errors
  .chloggen/resourcedetection-allow-fail.yaml
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/internal/resourcedetection.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
Labels: processor/resourcedetection

#35332 [exporter/signalfx] Remove deprecated translation_rules configuration option
  .chloggen/signalfx_exporter_remove_translation_rules.yaml
  exporter/signalfxexporter/README.md
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
  exporter/signalfxexporter/docs/translation_rules_migration_guide.md
  exporter/signalfxexporter/exporter.go
  exporter/signalfxexporter/testdata/config.yaml
Labels: Skip Changelog, exporter/signalfx

#37773 [reciver/sqlqueryreceiver] Add support for SapASE (sybase)
  .chloggen/feat-sqlqueryreciver-sap-ase.yaml
  internal/sqlquery/db_client.go
  internal/sqlquery/go.mod
  internal/sqlquery/go.sum
  receiver/sqlqueryreceiver/README.md
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
  receiver/sqlqueryreceiver/integration_test.go
  receiver/sqlqueryreceiver/testdata/integration/sybase/entrypoint.sh
  receiver/sqlqueryreceiver/testdata/integration/sybase/expected.yaml
  receiver/sqlserverreceiver/go.mod
  receiver/sqlserverreceiver/go.sum
Labels: ready to merge, receiver/sqlquery, receiver/sqlserver, internal/sqlquery
