Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-04, with the labels that each got.

#39035 [extension/awscloudwatchmetricstreamsencoding] Add benchmark test to JSON unmarshaler
  extension/encoding/awscloudwatchmetricstreamsencodingextension/benchmark_test.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.mod
  extension/encoding/awscloudwatchmetricstreamsencodingextension/go.sum
  extension/encoding/awscloudwatchmetricstreamsencodingextension/json_unmarshaler.go
  extension/encoding/awscloudwatchmetricstreamsencodingextension/json_unmarshaler_test.go
Labels: ready to merge, Skip Changelog, extension/encoding/awscloudwatchmetricstreams

#38897 [extension/awslogs_encoding] Add support for VPC flow logs in plain text file format
  .chloggen/text-plain-vpc-flow-log.yaml
  extension/encoding/awslogsencodingextension/config.go
  extension/encoding/awslogsencodingextension/config_test.go
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
  extension/encoding/awslogsencodingextension/factory.go
  extension/encoding/awslogsencodingextension/go.mod
  extension/encoding/awslogsencodingextension/go.sum
  extension/encoding/awslogsencodingextension/internal/unmarshaler/subscription-filter/subscription_filter_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/benchmark_test.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/const.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/invalid_vpc_flow_log.log
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/valid_vpc_flow_log.log
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/valid_vpc_flow_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler_test.go
  extension/encoding/awslogsencodingextension/testdata/config.yaml
Labels: waiting-for-code-owners, extension/encoding/awslogsencoding

#39073 Remove usage of deprecated exporterbatcher
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/otelarrowexporter/config.go
  exporter/otelarrowexporter/config_test.go
  exporter/otelarrowexporter/factory.go
  exporter/splunkhecexporter/config.go
  exporter/splunkhecexporter/config_test.go
  exporter/splunkhecexporter/factory_test.go
Labels: Skip Changelog, exporter/splunkhec, exporter/elasticsearch, exporter/coralogix, exporter/otelarrow

#39096 [chore][exporter/datadog] fix integration test
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_internal_metrics_config.yaml
  exporter/datadogexporter/integrationtest/integration_test_logs_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
Labels: exporter/datadog

#39042 [chore][receiver/sqlserver] update error handling and time unit and refactory
  .chloggen/update-unit-and-refactory.yaml
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQueryWithInvalidData.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#39005 [pkg/pdatatest] introduce IgnoreExemplars, IgnoreExemplarSlice and ChangeDatapointAttributeValue to CompareMetricsOption
  .chloggen/exemplars-mask.yaml
  pkg/pdatatest/pmetrictest/options.go
Labels: ready to merge, pkg/pdatatest

#39102 [chore] adding missing doc
  receiver/hostmetricsreceiver/README.md
Labels: Skip Changelog, receiver/hostmetrics

#39016 [exporter/faroexporter] Add Faro exporter logic to wireframe
  .chloggen/faro-exporter.yaml
  exporter/faroexporter/exporter.go
  exporter/faroexporter/exporter_test.go
  exporter/faroexporter/go.mod
  exporter/faroexporter/go.sum
  exporter/faroexporter/utils.go
  internal/tidylist/tidylist.txt
Labels: ready to merge, exporter/faro

#39121 Remove on leave indication
  README.md
Labels: Skip Changelog

#39090 [extension/encoding/awslogs_encoding] Improve performance
  .chloggen/vpc-optimization.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/vpc_flow_log_too_few_fields.log
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/vpc_flow_log_too_many_fields.log
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler_test.go
Labels: ready to merge, extension/encoding/awslogsencoding

#39068 Disable default search metrics
  .chloggen/disable-default-search-metrics.yaml
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/internal/metadata/generated_config.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
Labels: ready to merge, receiver/splunkenterprise

#39104 [exporter/datadog] remove deprecated configs
  .chloggen/dd-exp-cfgs.yaml
  exporter/datadogexporter/agent_components.go
  exporter/datadogexporter/config.go
  exporter/datadogexporter/config_test.go
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/hostmetadata.go
  exporter/datadogexporter/logs_exporter.go
  exporter/datadogexporter/logs_exporter_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
Labels: exporter/datadog

#39107 [exporter/loadbalancing] update README and include attributes routing key
  exporter/loadbalancingexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/loadbalancing

#38784 [chore] move m1rp to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  extension/observer/cfgardenobserver/README.md
  extension/observer/cfgardenobserver/metadata.yaml
Labels: Stale, extension/observer/cfgardenobserver

#38775 [chore] move harishbohara11 to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/googlecloudspannerreceiver/README.md
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: Stale, receiver/googlecloudspanner

#39044 [receiver/stef] Add enough code to make the stefreceiver function
  .chloggen/stefreceiver.yaml
  receiver/stefreceiver/README.md
  receiver/stefreceiver/config.go
  receiver/stefreceiver/config_test.go
  receiver/stefreceiver/e2e_test.go
  receiver/stefreceiver/factory.go
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/go.sum
  receiver/stefreceiver/internal/responder.go
  receiver/stefreceiver/stef.go
  receiver/stefreceiver/testdata/config.yaml
Labels: receiver/stef

#38785 [chore] move shazlehu to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  confmap/provider/aesprovider/README.md
  confmap/provider/aesprovider/metadata.yaml
Labels: Stale, confmap/provider/aesprovider

#39057 [extension/azureauthextension] Use credentials to token
  .chloggen/remove-scope.yaml
  extension/azureauthextension/README.md
  extension/azureauthextension/benchmark_test.go
  extension/azureauthextension/config.go
  extension/azureauthextension/config_test.go
  extension/azureauthextension/extension.go
  extension/azureauthextension/extension_test.go
  extension/azureauthextension/testdata/config.yaml
Labels: extension/azureauth

#38728 [chore][cmd/opampsupervisor] Update README with current implementation status
  cmd/opampsupervisor/README.md
Labels: cmd/opampsupervisor, waiting-for-code-owners

#39152 [chore] fix otlp receiver configuration, disable http
  cmd/telemetrygen/internal/e2etest/logs_test.go
  cmd/telemetrygen/internal/e2etest/metrics_test.go
  cmd/telemetrygen/internal/e2etest/traces_test.go
Labels: cmd/telemetrygen

#38781 [chore] move Hemansh31 to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/systemdreceiver/README.md
  receiver/systemdreceiver/metadata.yaml
Labels: Stale, receiver/systemd

#38719 [chore] move CemDK to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  extension/observer/cfgardenobserver/README.md
  extension/observer/cfgardenobserver/metadata.yaml
Labels: extension/observer/cfgardenobserver

#38787 [chore] move zpzhuSplunk to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  extension/ackextension/README.md
  extension/ackextension/metadata.yaml
Labels: Stale, extension/ack

#38720 [chore] move driverpt to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  confmap/provider/secretsmanagerprovider/README.md
  confmap/provider/secretsmanagerprovider/metadata.yaml
Labels: Stale, confmap/provider/secretsmanagerprovider

#39062 [chore]: update golangci-lint to v2
  .golangci.yml
  Makefile.Common
  exporter/datadogexporter/factory.go
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: exporter/datadog, internal/tools

#39164 [chore] remove andrzej-stencel from GitHub receiver codeowners
  .github/CODEOWNERS
  receiver/githubreceiver/README.md
  receiver/githubreceiver/metadata.yaml
Labels: receiver/github

#39166 [chore][exporter/datadog] Appease nolintlint linter by moving the directive to end of lines
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/hostmetadata.go
Labels: exporter/datadog, Skip Changelog

#39026 Enhancement: Add path to Splunk errors
  .chloggen/msg_signalfx-exporter-include-endpoint-in-error.yaml
  .chloggen/msg_splunk-hec-include-endpoint-in-error.yaml
  exporter/signalfxexporter/exporter_test.go
  exporter/splunkhecexporter/client_test.go
  internal/splunk/go.mod
  internal/splunk/httprequest.go
  internal/splunk/httprequest_test.go
Labels: exporter/signalfx, exporter/splunkhec, internal/splunk

#39022 fix(telemetrygen): startTimestamp when temporality is cumulative
  .chloggen/nickange_telemetrygen_metrics_fix-timestamp-cumulative-temporality.yaml
  cmd/telemetrygen/pkg/metrics/worker.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
Labels: cmd/telemetrygen

#38715 [chore] move abhishek-at-cloudwerx to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/googlecloudmonitoringreceiver/README.md
  receiver/googlecloudmonitoringreceiver/metadata.yaml
Labels: receiver/googlecloudmonitoring

#39056 [exporter/alertmanager] Add alert labels from event attributes list #…
  .chloggen/add-eventlabels-alertmanagerexporter.yaml
  exporter/alertmanagerexporter/README.md
  exporter/alertmanagerexporter/alertmanager_exporter.go
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
  exporter/alertmanagerexporter/config.go
  exporter/alertmanagerexporter/config_test.go
  exporter/alertmanagerexporter/factory.go
Labels: exporter/alertmanager

#39111 [chore][receiver/sqlserver] update query template to use named args
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_others_test.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/sqlserverreceiver/queries.go
  receiver/sqlserverreceiver/queries_test.go
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/scraper_test.go
  receiver/sqlserverreceiver/templates/dbQueryAndTextQuery.tmpl
  receiver/sqlserverreceiver/templates/sqlServerQuerySample.tmpl
  receiver/sqlserverreceiver/templates/sqlServerQuerySampleWithoutTop.tmpl
  receiver/sqlserverreceiver/testdata/databaseTopQueryWithInstanceName.txt
  receiver/sqlserverreceiver/testdata/databaseTopQueryWithoutInstanceName.txt
  receiver/sqlserverreceiver/testdata/testQuerySampleQuery.txt
Labels: ready to merge, receiver/sqlserver, Run Windows

#39168 [chore] Remove enabled field from attributes
  receiver/k8sclusterreceiver/metadata.yaml
  receiver/tlscheckreceiver/metadata.yaml
Labels: receiver/k8scluster, receiver/tlscheck

#39172 [chore]: fix testifylint rules (internal)
  internal/aws/k8s/k8sutil/util_test.go
  internal/aws/proxy/conn_test.go
  internal/aws/xray/telemetry/recorder_test.go
  internal/aws/xray/telemetry/sender_test.go
  internal/coreinternal/attraction/attraction_test.go
  internal/coreinternal/parseutils/uri_test.go
  internal/coreinternal/traceutil/traceutil_test.go
  internal/splunk/httprequest_test.go
Labels: internal/aws, internal/splunk, internal/core

#39076 [exporter/azureblob] support append blob for azure blob exporter
  .chloggen/39075.yaml
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/config_test.go
  exporter/azureblobexporter/exporter.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azureblobexporter/factory.go
  exporter/azureblobexporter/go.mod
Labels: waiting-for-code-owners, exporter/azureblob

#39001 exporter/kafkaexporter: tidy up; support partitioning in all encodings
  .chloggen/kafkaexporter-refactor-marshalers.yaml
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/internal/marshaler/jaeger_marshaler.go
  exporter/kafkaexporter/internal/marshaler/jaeger_marshaler_test.go
  exporter/kafkaexporter/internal/marshaler/marshaler.go
  exporter/kafkaexporter/internal/marshaler/pdata_marshaler.go
  exporter/kafkaexporter/internal/marshaler/pdata_marshaler_test.go
  exporter/kafkaexporter/internal/marshaler/raw_marshaler.go
  exporter/kafkaexporter/internal/marshaler/raw_marshaler_test.go
  exporter/kafkaexporter/jaeger_marshaler.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/marshaler.go
  exporter/kafkaexporter/marshaler_test.go
  exporter/kafkaexporter/pdata_marshaler.go
Labels: exporter/kafka, waiting-for-code-owners

#39181 Update CODEOWNERS and metadata for azureblobexporter
  .github/CODEOWNERS
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/metadata.yaml
Labels: Skip Changelog, exporter/azureblob

#39170 [chore]: fix testifylint rules (exporter)
  exporter/alibabacloudlogserviceexporter/metricsdata_to_logservice_test.go
  exporter/alibabacloudlogserviceexporter/sanitize_test.go
  exporter/alibabacloudlogserviceexporter/tracedata_to_logservice_test.go
  exporter/awsemfexporter/datapoint_test.go
  exporter/awsemfexporter/grouped_metric_test.go
  exporter/awsemfexporter/metric_translator_test.go
  exporter/awsxrayexporter/internal/translator/cause_test.go
  exporter/azuredataexplorerexporter/e2e_test.go
  exporter/azuredataexplorerexporter/logsdata_to_adx_test.go
  exporter/azuremonitorexporter/trace_to_envelope_test.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/internal/metrics_model_test.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter_test.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/serializeprofiles/transform_test.go
  exporter/elasticsearchexporter/model_test.go
  exporter/elasticsearchexporter/utils_test.go
  exporter/fileexporter/file_exporter_test.go
  exporter/fileexporter/grouping_file_exporter_test.go
  exporter/honeycombmarkerexporter/logs_exporter_test.go
  exporter/kafkaexporter/factory_test.go
  exporter/loadbalancingexporter/loadbalancer_test.go
  exporter/lokiexporter/exporter_test.go
  exporter/mezmoexporter/exporter_test.go
  exporter/opencensusexporter/opencensus_test.go
  exporter/otelarrowexporter/otelarrow_test.go
  exporter/prometheusexporter/collector_test.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/pulsarexporter/marshaler_test.go
  exporter/sapmexporter/exporter_test.go
  exporter/signalfxexporter/exporter_test.go
  exporter/signalfxexporter/internal/hostmetadata/metadata_test.go
  exporter/signalfxexporter/internal/translation/converter_test.go
  exporter/signalfxexporter/internal/translation/translator_test.go
  exporter/splunkhecexporter/batchperscope_test.go
  exporter/splunkhecexporter/client_test.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
  exporter/stefexporter/exporter_test.go
  exporter/sumologicexporter/exporter_test.go
  exporter/tencentcloudlogserviceexporter/sanitize_test.go
Labels: exporter/alibabacloudlogservice, exporter/datadog, exporter/loadbalancing, exporter/clickhouse, exporter/loki, exporter/azuremonitor, exporter/prometheusremotewrite, exporter/awsemf, exporter/file, exporter/signalfx, exporter/splunkhec, exporter/pulsar, exporter/awsxray, exporter/elasticsearch, exporter/kafka, exporter/sapm, exporter/prometheus, exporter/tencentcloudlogservice, exporter/sumologic, exporter/mezmo, exporter/opencensus, exporter/azuredataexplorer, exporter/honeycombmarker, exporter/otelarrow, exporter/stef

#39182 [connector/servicegraph] Fix metrics not aggregated correctly on dimensions
  .chloggen/fix-metrics-not-aggregated-correctly-on-dimensions.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/testdata/extra-dimensions-queue-db-expected-metrics.yaml
  connector/servicegraphconnector/testdata/extra-dimensions-queue-db-trace.yaml
Labels: connector/servicegraph

#39179 [encoding/googlecloudlogentry] Add new encoding extension
  .chloggen/add_googlecloudlogencodingextension.yaml
  extension/encoding/googlecloudlogentryencodingextension/extension.go
  extension/encoding/googlecloudlogentryencodingextension/extension_test.go
  extension/encoding/googlecloudlogentryencodingextension/factory.go
  extension/encoding/googlecloudlogentryencodingextension/go.mod
  extension/encoding/googlecloudlogentryencodingextension/go.sum
  extension/encoding/googlecloudlogentryencodingextension/log_entry.go
  extension/encoding/googlecloudlogentryencodingextension/log_entry_test.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_common.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload.go
  extension/encoding/googlecloudlogentryencodingextension/log_proto_payload_test.go
  extension/encoding/googlecloudlogentryencodingextension/log_translate_options.go
Labels: extension/encoding/googlecloudlogentryencoding

#38786 [chore] move swar8080 to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  exporter/rabbitmqexporter/README.md
  exporter/rabbitmqexporter/metadata.yaml
  internal/rabbitmq/metadata.yaml
Labels: exporter/rabbitmq, internal/rabbitmq

#39097 [receiver/awscontainerinsightreceiver] update to aws-sdk-go-v2
  exporter/awscloudwatchlogsexporter/go.mod
  exporter/awscloudwatchlogsexporter/go.sum
  exporter/awsemfexporter/go.mod
  exporter/awsemfexporter/go.sum
  exporter/awsxrayexporter/go.mod
  exporter/awsxrayexporter/go.sum
  internal/aws/awsutil/conn.go
  internal/aws/awsutil/go.mod
  internal/aws/awsutil/go.sum
  internal/aws/xray/go.mod
  internal/aws/xray/go.sum
  receiver/awscontainerinsightreceiver/go.mod
  receiver/awscontainerinsightreceiver/go.sum
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2tags.go
  receiver/awscontainerinsightreceiver/internal/host/ec2tags_test.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo.go
  receiver/awscontainerinsightreceiver/internal/host/hostinfo_test.go
  receiver/awscontainerinsightreceiver/internal/host/utils.go
  receiver/awsxrayreceiver/go.mod
  receiver/awsxrayreceiver/go.sum
Labels: Skip Changelog, receiver/awscontainerinsight, exporter/awscloudwatchlogs, exporter/awsemf, exporter/awsxray, receiver/awsxray, internal/aws

#39017 [chore] Add cgroupruntime extension integration tests
  .github/workflows/build-and-test.yml
  Makefile
  Makefile.Common
  extension/cgroupruntimeextension/README.md
  extension/cgroupruntimeextension/generated_component_test.go
  extension/cgroupruntimeextension/go.mod
  extension/cgroupruntimeextension/go.sum
  extension/cgroupruntimeextension/integration_test.go
  extension/cgroupruntimeextension/metadata.yaml
Labels: extension/cgroupruntime

#38859 vendor perflib in perfcounterscraper
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  receiver/hostmetricsreceiver/go.mod
  receiver/hostmetricsreceiver/go.sum
  receiver/hostmetricsreceiver/internal/perfcounters/doc.go
  receiver/hostmetricsreceiver/internal/perfcounters/perfcounter_scraper.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/LICENSE
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/collector.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/errors.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/nametable.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/pdh_const.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/perflib.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/perflib_test.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/raw_types.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/utf16.go
  receiver/hostmetricsreceiver/internal/perfcounters/third_party/perflib/utils.go
Labels: exporter/datadog, Skip Changelog, receiver/hostmetrics, connector/datadog

#39047 [exporter/alertmanagerexporter] Add api_version configuration for Ale…
  .chloggen/api-v2-support-alertmanagerexporter.yaml
  exporter/alertmanagerexporter/README.md
  exporter/alertmanagerexporter/alertmanager_exporter.go
  exporter/alertmanagerexporter/alertmanager_exporter_test.go
  exporter/alertmanagerexporter/config.go
  exporter/alertmanagerexporter/config_test.go
  exporter/alertmanagerexporter/factory.go
Labels: exporter/alertmanager

#39133 [connector/servicegraph] Change database_name_attribute to accept a list of values
  .chloggen/change_database_name_attribute_to_accept_a_list_of_values.yaml
  connector/servicegraphconnector/README.md
  connector/servicegraphconnector/config.go
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/util.go
  connector/servicegraphconnector/util_test.go
Labels: connector/servicegraph

#39174 [chore]: fix testifylint rules (processor)
  processor/attributesprocessor/attributes_log_test.go
  processor/attributesprocessor/attributes_metric_test.go
  processor/attributesprocessor/attributes_trace_test.go
  processor/datadogsemanticsprocessor/processor_test.go
  processor/groupbyattrsprocessor/attribute_groups_test.go
  processor/groupbyattrsprocessor/factory_test.go
  processor/groupbyattrsprocessor/processor_test.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/options_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/metricstarttimeprocessor/internal/truereset/adjuster_test.go
  processor/probabilisticsamplerprocessor/logsprocessor_test.go
  processor/probabilisticsamplerprocessor/tracesprocessor_test.go
  processor/remotetapprocessor/factory_test.go
  processor/resourcedetectionprocessor/internal/env/env_test.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/resourcedetectionprocessor/internal/system/system_test.go
  processor/schemaprocessor/internal/migrate/attributes_test.go
  processor/schemaprocessor/internal/translation/translation_test.go
  processor/spanprocessor/factory_test.go
  processor/spanprocessor/span_test.go
  processor/tailsamplingprocessor/internal/idbatcher/id_batcher_test.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/processor_test.go
  processor/transformprocessor/internal/logs/functions_test.go
  processor/transformprocessor/internal/metrics/func_scale_test.go
  processor/transformprocessor/internal/metrics/functions_test.go
  processor/transformprocessor/internal/traces/functions_test.go
Labels: processor/attributes, processor/k8sattributes, processor/tailsampling, processor/resourcedetection, processor/transform, processor/groupbyattrs, processor/probabilisticsampler, processor/schema, processor/span, processor/remotetap, processor/metricstarttime, processor/datadogsemantics

#39169 [chore]: fix testifylint rules (cmd,connector,testbed)
  cmd/telemetrygen/pkg/logs/worker_test.go
  connector/signaltometricsconnector/factory_test.go
  testbed/testbed/data_providers_test.go
  testbed/testbed/validator.go
  testbed/tests/trace_test.go
Labels: cmd/telemetrygen, testbed, connector/signaltometrics

#39144 [extension/headerssetter] Change `DefaultValue` to use `configopaque.String` type
  .chloggen/configopaque-heasersetter.yaml
  extension/headerssetterextension/config.go
  extension/headerssetterextension/config_test.go
  extension/headerssetterextension/extension.go
  extension/headerssetterextension/extension_test.go
  extension/headerssetterextension/go.mod
  extension/headerssetterextension/go.sum
Labels: extension/headerssetter

#39086 [receiver/receivercreator] Ffeat/add kafkatopicsobserver to receivercreator
  .chloggen/feat_add-kafkatopicsobserver-to-receivercreator.yaml
  receiver/receivercreator/README.md
  receiver/receivercreator/config.go
  receiver/receivercreator/config_test.go
  receiver/receivercreator/factory.go
  receiver/receivercreator/fixtures_test.go
  receiver/receivercreator/rules.go
  receiver/receivercreator/rules_test.go
Labels: receiver/receivercreator

#38721 [chore] move dsimil to emeritus
  .github/CODEOWNERS
  cmd/githubgen/allowlist.txt
  receiver/googlecloudspannerreceiver/README.md
  receiver/googlecloudspannerreceiver/metadata.yaml
Labels: receiver/googlecloudspanner

#39029 [receiver/azuremonitorreceiver] feat: add subscription name resource attribute
  .chloggen/azuremonitorreceiver_add-subscription-name.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/documentation.md
  receiver/azuremonitorreceiver/internal/metadata/generated_config.go
  receiver/azuremonitorreceiver/internal/metadata/generated_config_test.go
  receiver/azuremonitorreceiver/internal/metadata/generated_resource.go
  receiver/azuremonitorreceiver/internal/metadata/generated_resource_test.go
  receiver/azuremonitorreceiver/internal/metadata/testdata/config.yaml
  receiver/azuremonitorreceiver/metadata.yaml
  receiver/azuremonitorreceiver/options_test.go
  receiver/azuremonitorreceiver/scraper.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/azuremonitorreceiver/testdata/expected_metrics/metrics_subname_golden.yaml
Labels: ready to merge, receiver/azuremonitor

#39184 [connector/servicegraphconnector] Fix collect Client latency metrics bug
  .chloggen/fix-servicegraph-bug.yaml
  connector/servicegraphconnector/connector.go
Labels: bug, ready to merge, connector/servicegraph

#39176 [translator/azurelogs] Increase unit test coverage
  pkg/translator/azurelogs/go.mod
  pkg/translator/azurelogs/resourcelogs_to_logs_test.go
  pkg/translator/azurelogs/testdata/expected/access-log-expected.yaml
  pkg/translator/azurelogs/testdata/expected/audit-logs-2-expected.yaml
  pkg/translator/azurelogs/testdata/expected/audit-logs-expected.yaml
  pkg/translator/azurelogs/testdata/expected/console-logs-expected.yaml
  pkg/translator/azurelogs/testdata/expected/front-door-access-log-expected.yaml
  pkg/translator/azurelogs/testdata/expected/front-door-health-probe-log-expected.yaml
  pkg/translator/azurelogs/testdata/expected/front-door-waf-log-expected.yaml
  pkg/translator/azurelogs/testdata/expected/http-logs-expected.yaml
  pkg/translator/azurelogs/testdata/expected/log-bad-level-expected.yaml
  pkg/translator/azurelogs/testdata/expected/log-bad-time-expected.yaml
  pkg/translator/azurelogs/testdata/expected/log-maximum-expected.yaml
  pkg/translator/azurelogs/testdata/expected/log-minimum-2-expected.yaml
  pkg/translator/azurelogs/testdata/expected/log-minimum-expected.yaml
  pkg/translator/azurelogs/testdata/expected/platform-logs-expected.yaml
  pkg/translator/azurelogs/testdata/expected/service-app-expected.yaml
Labels: ready to merge, Skip Changelog, pkg/translator/azurelogs

#39143 [processor/metricstransform] Fix aggregation of exponential histograms
  .chloggen/aggregateutil-exphist-panic.yaml
  internal/coreinternal/aggregateutil/aggregate.go
  internal/coreinternal/aggregateutil/aggregate_test.go
Labels: ready to merge, processor/metricstransform, internal/core, waiting-for-code-owners

#39203 Fix approvers auto assign list
  .github/auto_assign.yml
Labels: ci-cd, Skip Changelog, chore

#39165 [chore][exporter/datadog] try fix linter
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/hostmetadata.go
  pkg/datadog/config/host.go
Labels: ci-cd, exporter/datadog, pkg/datadog

#39198 [chore]: fix staticcheck rules (cmd, scraper, testbed)
  cmd/telemetrygen/pkg/logs/logs.go
  scraper/zookeeperscraper/config.go
  scraper/zookeeperscraper/scraper_test.go
  testbed/datareceivers/jaeger.go
  testbed/datareceivers/sapm.go
  testbed/datasenders/zipkin.go
Labels: cmd/telemetrygen, testbed, scraper/zookeeper

#39191 [chore]: fix staticcheck rules (connector)
  connector/datadogconnector/connector_native_test.go
  connector/datadogconnector/connector_test.go
  connector/failoverconnector/logs.go
  connector/failoverconnector/metrics.go
  connector/failoverconnector/traces.go
  connector/otlpjsonconnector/logs.go
  connector/otlpjsonconnector/metrics.go
  connector/otlpjsonconnector/traces.go
  connector/routingconnector/logs.go
  connector/routingconnector/metrics.go
  connector/routingconnector/traces.go
  connector/signaltometricsconnector/connector_test.go
  connector/spanmetricsconnector/connector_test.go
Labels: connector/spanmetrics, connector/routing, connector/datadog, connector/failover, connector/otlpjson, connector/signaltometrics

#39195 [chore]: fix staticcheck rules (pkg)
  pkg/datadog/config/config.go
  pkg/ottl/ottlfuncs/func_convert_text_to_elements_xml.go
  pkg/sampling/probability.go
  pkg/stanza/adapter/benchmark_test.go
  pkg/stanza/adapter/frompdataconverter_test.go
  pkg/stanza/adapter/receiver_test.go
  pkg/stanza/entry/field.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/operator/input/file/config.go
  pkg/stanza/operator/input/syslog/config.go
  pkg/stanza/operator/input/syslog/input_test.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/udp/input_test.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/csv/parser.go
  pkg/stanza/operator/parser/json/parser.go
  pkg/stanza/operator/parser/jsonarray/parser.go
  pkg/stanza/operator/parser/keyvalue/parser.go
  pkg/stanza/operator/parser/regex/parser.go
  pkg/stanza/operator/parser/syslog/config.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/parser/time/config.go
  pkg/stanza/operator/parser/time/parser.go
  pkg/stanza/operator/parser/trace/config.go
  pkg/stanza/operator/parser/uri/parser.go
  pkg/stanza/operator/transformer/remove/transformer.go
  pkg/stanza/operator/transformer/router/config.go
  pkg/status/aggregator_test.go
  pkg/translator/faro/logs_to_faro.go
  pkg/translator/prometheusremotewrite/helper.go
  pkg/translator/skywalking/skywalkingproto_to_traces.go
  pkg/translator/skywalking/skywalkingproto_to_traces_test.go
  pkg/translator/zipkin/zipkinthriftconverter/deserialize.go
Labels: pkg/stanza, pkg/ottl, pkg/translator/prometheusremotewrite, pkg/translator/zipkin, pkg/translator/skywalking, pkg/sampling, pkg/stanza/fileconsumer, pkg/datadog, pkg/status, pkg/translator/faro

#39178 [extensions/azureauth] Implement extensionauth.HTTPClient and extensionauth.Server
  .chloggen/azureauth-implement-authenticate-authorize.yaml
  extension/azureauthextension/README.md
  extension/azureauthextension/extension.go
  extension/azureauthextension/extension_test.go
Labels: extension/azureauth

#39214 [chore][pkg/ottl] Add test case demonstrating insertion of missing elements
  pkg/ottl/ottlfuncs/func_insert_xml_test.go
Labels: pkg/ottl

#39202 [cgroupruntime] add extension to contrib builder manifest
  cmd/otelcontribcol/builder-config.yaml
Labels: Skip Changelog, cmd/otelcontribcol

#39218 [chore] skip flaky tests
  cmd/telemetrygen/pkg/metrics/worker_test.go
  connector/servicegraphconnector/connector_test.go
Labels: cmd/telemetrygen, Run Windows, connector/servicegraph

#39194 [chore]: fix staticcheck rules (internal)
  internal/aws/awsutil/conn.go
  internal/aws/cwlogs/pusher_test.go
  internal/aws/proxy/conn.go
  internal/aws/proxy/server_test.go
  internal/filter/filterconfig/config.go
  internal/filter/filterlog/filterlog.go
  internal/filter/filterspan/filterspan.go
  internal/kafka/scram_client.go
  internal/kubelet/client.go
  internal/metadataproviders/system/metadata.go
  internal/otelarrow/admission2/boundedqueue_test.go
  internal/otelarrow/compression/zstd/zstd.go
  internal/otelarrow/netstats/netstats.go
  internal/otelarrow/test/e2e_test.go
Labels: internal/aws, internal/kubelet, internal/metadataproviders, internal/filter, internal/kafka, internal/otelarrow

#39038 [receiver/k8sclusterreceiver] Add missing attributes to entities in experimental entity feature
  .chloggen/partial-fix-issue-39038.yaml
  receiver/k8sclusterreceiver/internal/constants/constants.go
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/container/containers_test.go
  receiver/k8sclusterreceiver/internal/cronjob/cronjobs_test.go
  receiver/k8sclusterreceiver/internal/metadata/metadata.go
  receiver/k8sclusterreceiver/internal/metadata/metadata_test.go
  receiver/k8sclusterreceiver/internal/pod/pods.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/statefulset/statefulsets_test.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: receiver/k8scluster

#39215 Add parallel operations metrics to oracledb receiver
  .chloggen/oracledb-parallel-ops-metrics.yaml
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/internal/metadata/generated_config.go
  receiver/oracledbreceiver/internal/metadata/generated_config_test.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/internal/metadata/testdata/config.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
Labels: receiver/oracledb, waiting-for-code-owners

#39132 kafkaexporter: Propagate metadata keys as headers
  .chloggen/f_propagate-select-metadata-keys-as-kafka-headers.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/go.mod
  exporter/kafkaexporter/go.sum
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
Labels: exporter/kafka

#39222 [chore] Remove log about otlp_json being experimental
  exporter/kafkaexporter/factory.go
Labels: exporter/kafka, waiting-for-code-owners

#39052 [connector/spanmetricsconnector] Initialise new calls_total metrics at 0
  .chloggen/spanmetrics-call_total-init-witth-0.yaml
  connector/spanmetricsconnector/connector_test.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: connector/spanmetrics

#39207 [extension/awslogsencodingextension] Fix semantic conventions and update README
  .chloggen/vpc-fix-conventions.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/valid_vpc_flow_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler.go
Labels: extension/encoding/awslogsencoding

#39115 Move TLS config for Kafka components to top level
  .chloggen/kafka-clientconfig-tls-kafkaexporter.yaml
  .chloggen/kafka-clientconfig-tls-kafkametricsreceiver.yaml
  .chloggen/kafka-clientconfig-tls-kafkareceiver.yaml
  .chloggen/kafka-clientconfig-tls-kafkatopicsobserver.yaml
  exporter/kafkaexporter/README.md
  extension/observer/kafkatopicsobserver/README.md
  internal/kafka/authentication.go
  internal/kafka/authentication_test.go
  internal/kafka/client.go
  internal/kafka/client_test.go
  internal/kafka/configkafka/config.go
  internal/kafka/configkafka/config_test.go
  internal/kafka/configkafka/testdata/client_config.yaml
  receiver/kafkametricsreceiver/README.md
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/testdata/config.yaml
Labels: exporter/kafka, receiver/kafka, receiver/kafkametrics, internal/kafka, extension/observer/kafkatopicsobserver

#39223 [chore][connector/servicegraph] Metric order flaky test
  connector/servicegraphconnector/connector_test.go
Labels: connector/servicegraph, extension/observer/cfgardenobserver

#39193 [chore]: fix staticcheck rules (extension)
  extension/awsproxy/factory_test.go
  extension/healthcheckv2extension/config.go
  extension/jaegerremotesampling/internal/server/grpc/grpc_handler_test.go
  extension/jaegerremotesampling/internal/source/filesource/filesource.go
  extension/jaegerremotesampling/internal/source/filesource/filesource_test.go
  extension/observer/ecstaskobserver/factory.go
  extension/observer/k8sobserver/extension.go
  extension/remotetapextension/extension.go
  extension/solarwindsapmsettingsextension/extension_test.go
Labels: extension/awsproxy, extension/jaegerremotesampling, extension/observer/k8sobserver, extension/observer/ecstaskobserver, extension/remotetap, extension/solarwindsapmsettings, extension/healthcheckv2

#39247 [chore] [extension/healthcheck] docs: all settings are optional
  extension/healthcheckextension/README.md
Labels: extension/healthcheck

#38233 [extension/sigv4auth] Add AssumeRoleWithWebIdentity capability to sigv4 auth
  .chloggen/sigv4-assume-role-with-web-identity.yaml
  extension/sigv4authextension/README.md
  extension/sigv4authextension/config.go
  extension/sigv4authextension/config_test.go
  extension/sigv4authextension/extension.go
  extension/sigv4authextension/extension_test.go
  extension/sigv4authextension/testdata/config.yaml
  extension/sigv4authextension/testdata/token_file
Labels: Stale, extension/sigv4auth, waiting-for-code-owners

#39260 [chore] skip TestExtraDimensionsLabels again
  connector/servicegraphconnector/connector_test.go
Labels: connector/servicegraph

#39148 [exporter/datadog] Move serializer metric client to beta
  .chloggen/ddog-deprecate-metric-client.yaml
  .chloggen/ddog-metric-serializer-bug.yaml
  .chloggen/ddog-metric-serializer-inst.yaml
  .chloggen/ddog-metric-serializer.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/integrationtest/integration_test.go
  exporter/datadogexporter/integrationtest/integration_test_host_metrics_config.yaml
  exporter/datadogexporter/integrationtest/no_race_integration_test.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog, connector/datadog

#39262 [chore]: fix staticcheck rules
  .golangci.yml
  extension/cgroupruntimeextension/integration_test.go
  receiver/awscontainerinsightreceiver/internal/host/ec2metadata.go
Labels: receiver/awscontainerinsight, extension/cgroupruntime

#38905 [grafanacloudconnector] Extend test coverage
  connector/grafanacloudconnector/connector_test.go
Labels: ready to merge, Skip Changelog, connector/grafanacloud

#39204 exporter/kafkaexporter: add signal-specific config
  .chloggen/kafkaexporter-topicencodingconfig.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/config.go
  exporter/kafkaexporter/config_test.go
  exporter/kafkaexporter/factory.go
  exporter/kafkaexporter/factory_test.go
  exporter/kafkaexporter/kafka_exporter.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kafkaexporter/testdata/config.yaml
Labels: exporter/kafka

#39200 [translator/azurelogs] Add benchmark test
  pkg/translator/azurelogs/benchmark_test.go
  pkg/translator/azurelogs/go.mod
  pkg/translator/azurelogs/go.sum
Labels: ready to merge, Skip Changelog, pkg/translator/azurelogs

#39235 Add `datasource`, aka "connection string", option to `sqlserverreceiver`
  .chloggen/receiver-sqlserverreceiver-datasource.yaml
  receiver/sqlserverreceiver/README.md
  receiver/sqlserverreceiver/config.go
  receiver/sqlserverreceiver/config_test.go
  receiver/sqlserverreceiver/factory.go
  receiver/sqlserverreceiver/factory_others_test.go
  receiver/sqlserverreceiver/factory_test.go
Labels: receiver/sqlserver, Run Windows

#39231 [chore] fix golangci-lint configuration
  .golangci.yml
  Makefile.Common
  extension/storage/storagetest/doc.go
Labels: extension/storage

#38984 [chore] receiver/kafkareceiver: tidy up encodings
  receiver/kafkareceiver/azureresourcelogs_unmarshaler.go
  receiver/kafkareceiver/azureresourcelogs_unmarshaler_test.go
  receiver/kafkareceiver/encoding.go
  receiver/kafkareceiver/encoding_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/header_extraction_test.go
  receiver/kafkareceiver/internal/unmarshaler/jaeger_unmarshaler.go
  receiver/kafkareceiver/internal/unmarshaler/jaeger_unmarshaler_test.go
  receiver/kafkareceiver/internal/unmarshaler/json_logs_unmarshaler.go
  receiver/kafkareceiver/internal/unmarshaler/json_logs_unmarshaler_test.go
  receiver/kafkareceiver/internal/unmarshaler/raw_unmarshaler.go
  receiver/kafkareceiver/internal/unmarshaler/raw_unmarshaler_test.go
  receiver/kafkareceiver/internal/unmarshaler/text_logs_unmarshaler.go
  receiver/kafkareceiver/internal/unmarshaler/text_logs_unmarshaler_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/pdata_unmarshaler.go
  receiver/kafkareceiver/pdata_unmarshaler_test.go
  receiver/kafkareceiver/raw_unmarshaler.go
  receiver/kafkareceiver/raw_unmarshaler_test.go
  receiver/kafkareceiver/text_unmarshaler_test.go
  receiver/kafkareceiver/unmarshaler.go
  receiver/kafkareceiver/unmarshaler_test.go
  receiver/kafkareceiver/zipkin_unmarshaler.go
  receiver/kafkareceiver/zipkin_unmarshaler_test.go
Labels: receiver/kafka, waiting-for-code-owners

#38643 [chore][connector/signaltometrics]Use value receiver for collector instance info
  connector/signaltometricsconnector/connector.go
  connector/signaltometricsconnector/internal/model/collectorinstanceinfo.go
  connector/signaltometricsconnector/internal/model/model.go
Labels: ready to merge, connector/signaltometrics

#39241 [extension/awslogsencodingextension] VPC flow logs: add support for ECS fields
  .chloggen/vpc-flow-log-add-ecs.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/vpc_flow_log_unmarshaler.go
Labels: extension/encoding/awslogsencoding

#39227 kafkareceiver: propagate Kafka headers as metadata
  .chloggen/f_propagate-kafka-headers-as-metadata.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/go.mod
  receiver/kafkareceiver/go.sum
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: receiver/kafka

#38476 [chore] [pkg/stanza] refactor test code into ConfigBuilderTests
  pkg/stanza/operator/operatortest/confmap.go
  pkg/stanza/operator/transformer/regexreplace/config_test.go
Labels: Stale, pkg/stanza, waiting-for-code-owners

#39131 [exporter/clickhouseexporter] use a more precise conversion function to create TTL
  .chloggen/fix-38942.yaml
  exporter/clickhouseexporter/exporter_traces.go
Labels: exporter/clickhouse

#39281 [chore][receiver/kubeletstats] rename NodeCapacity struct to NodeInfo
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator.go
  receiver/kubeletstatsreceiver/internal/kubelet/accumulator_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata.go
  receiver/kubeletstatsreceiver/internal/kubelet/metadata_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/metrics_test.go
  receiver/kubeletstatsreceiver/internal/kubelet/volume_test.go
  receiver/kubeletstatsreceiver/scraper.go
Labels: receiver/kubeletstats

#39271 [chore]: fix testifylint rules discovered with golangci-lint@v2
  .golangci.yml
  exporter/signalfxexporter/internal/apm/requests/requestcounter/counter_test.go
  exporter/sumologicexporter/sender_test.go
  pkg/core/xidutils/big_endian_converter_test.go
  pkg/stanza/operator/input/tcp/input_test.go
  pkg/stanza/operator/input/udp/input_test.go
  pkg/translator/prometheus/normalize_label_test.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist_test.go
  receiver/awscontainerinsightreceiver/internal/host/ebsvolume_test.go
  receiver/tlscheckreceiver/scraper_test.go
Labels: receiver/jmx, processor/transform, receiver/awscontainerinsight, exporter/signalfx, exporter/elasticsearch, exporter/sumologic, receiver/windowseventlog, receiver/sqlserver, pkg/stanza, pkg/ottl, pkg/translator/prometheus, Run Windows, receiver/tlscheck, pkg/core/xidutils

#37508 [receiver/splunkenterprise] 36330 add build info as attribute
  .chloggen/36330-bi-as-attrs.yaml
  receiver/splunkenterprisereceiver/README.md
  receiver/splunkenterprisereceiver/client.go
  receiver/splunkenterprisereceiver/client_test.go
  receiver/splunkenterprisereceiver/config.go
  receiver/splunkenterprisereceiver/documentation.md
  receiver/splunkenterprisereceiver/factory.go
  receiver/splunkenterprisereceiver/factory_test.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics.go
  receiver/splunkenterprisereceiver/internal/metadata/generated_metrics_test.go
  receiver/splunkenterprisereceiver/metadata.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
  receiver/splunkenterprisereceiver/search_result.go
  receiver/splunkenterprisereceiver/testdata/scraper/expected.yaml
Labels: receiver/splunkenterprise

#39028 [chore] Allow to pass custom replacements with ocb-add-replaces script
  cmd/otelcontribcol/builder-config.yaml
  cmd/oteltestbedcol/builder-config.yaml
  internal/buildscripts/ocb-add-replaces.sh
Labels: cmd/otelcontribcol, cmd/oteltestbedcol

#39253 [chore] Improve instructions about new batching for Coralogix exporter
  exporter/coralogixexporter/README.md
  exporter/coralogixexporter/config.go
  exporter/coralogixexporter/config_test.go
  exporter/coralogixexporter/factory.go
  exporter/coralogixexporter/testdata/config.yaml
Labels: ready to merge, exporter/coralogix

#39300 [chore] fix lint errors
  receiver/splunkenterprisereceiver/scraper.go
Labels: Skip Changelog, receiver/splunkenterprise

#38626 [pkg/ottl] Replace key when using function
  .chloggen/fix-ottl-replace-all-patterns.yaml
  pkg/ottl/ottlfuncs/func_replace_all_patterns.go
  pkg/ottl/ottlfuncs/func_replace_all_patterns_test.go
Labels: pkg/ottl, waiting-for-code-owners

#38928 [chore][pkg/ottl] Add OTTL context utilities for handling slices accessors
  pkg/ottl/contexts/internal/ctxutil/slice.go
  pkg/ottl/contexts/internal/ctxutil/slice_test.go
Labels: pkg/ottl, waiting-for-code-owners

#39290 [processor/transform] Fix basic config cache access
  .chloggen/fix-transform-processor-shared-cache.yaml
  pkg/ottl/context_inferrer.go
  pkg/ottl/context_inferrer_test.go
  pkg/ottl/parser_collection.go
  pkg/ottl/parser_collection_test.go
  processor/transformprocessor/README.md
  processor/transformprocessor/config.go
  processor/transformprocessor/config_test.go
  processor/transformprocessor/internal/common/cache.go
  processor/transformprocessor/internal/common/config.go
  processor/transformprocessor/internal/common/logs.go
  processor/transformprocessor/internal/common/metrics.go
  processor/transformprocessor/internal/common/processor.go
  processor/transformprocessor/internal/common/traces.go
  processor/transformprocessor/internal/logs/processor.go
  processor/transformprocessor/internal/logs/processor_test.go
  processor/transformprocessor/internal/metrics/processor.go
  processor/transformprocessor/internal/metrics/processor_test.go
  processor/transformprocessor/internal/traces/processor.go
  processor/transformprocessor/internal/traces/processor_test.go
  processor/transformprocessor/testdata/config.yaml
Labels: processor/transform, pkg/ottl

#39303 chore: update stability status to alpha for Azure Blob Exporter
  .chloggen/azureblobexporter-alpha.yaml
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/internal/metadata/generated_status.go
  exporter/azureblobexporter/metadata.yaml
  reports/distributions/contrib.yaml
Labels: reports/distributions/contrib.yaml, exporter/azureblob

#39295 Fix scrape error metric for splunkenterprisereceiver
  .chloggen/splunk_enterprise_receiver_metric_fix.yaml
  receiver/splunkenterprisereceiver/scraper.go
  receiver/splunkenterprisereceiver/scraper_test.go
Labels: receiver/splunkenterprise, waiting-for-code-owners

#38825 [processor/k8sattributes] Automatic resource attributes - annotation prefix
  .chloggen/operator-resource-attributes.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/factory.go
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/options_test.go
Labels: processor/k8sattributes, waiting-for-code-owners

#38985 kafkareceiver: add signal-specific topic/encoding
  .chloggen/kafkareceiver-persignal-config.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/config.go
  receiver/kafkareceiver/config_test.go
  receiver/kafkareceiver/factory.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver.go
  receiver/kafkareceiver/kafka_receiver_test.go
  receiver/kafkareceiver/testdata/config.yaml
Labels: receiver/kafka

#39318 [chore]: fix use-errors-new from revive in cmd
  cmd/opampsupervisor/supervisor/supervisor_test.go
  cmd/telemetrygen/internal/common/config.go
  cmd/telemetrygen/internal/common/validate.go
  cmd/telemetrygen/pkg/logs/config.go
  cmd/telemetrygen/pkg/logs/logs.go
  cmd/telemetrygen/pkg/metrics/aggregation_temporality.go
  cmd/telemetrygen/pkg/metrics/config.go
  cmd/telemetrygen/pkg/traces/config.go
Labels: cmd/telemetrygen, cmd/opampsupervisor

#39323 [chore]: fix use-errors-new from revive in internal
  internal/aws/cwlogs/cwlog_client_test.go
  internal/aws/ecsutil/client.go
  internal/aws/ecsutil/client_test.go
  internal/aws/ecsutil/endpoints/metadata.go
  internal/aws/ecsutil/metadata_provider.go
  internal/aws/ecsutil/rest_client_test.go
  internal/coreinternal/aggregateutil/type_test.go
  internal/coreinternal/parseutils/parser.go
  internal/coreinternal/parseutils/parser_test.go
  internal/datadog/clientutil/error_converter_test.go
  internal/datadog/clientutil/retrier_test.go
  internal/datadog/hostmetadata/internal/ec2/ec2.go
  internal/datadog/hostmetadata/internal/ecs/provider.go
  internal/datadog/hostmetadata/internal/ecs/provider_test.go
  internal/datadog/hostmetadata/internal/gcp/provider_test.go
  internal/datadog/hostmetadata/provider/clustername.go
  internal/datadog/hostmetadata/provider/provider.go
  internal/datadog/hostmetadata/provider/provider_test.go
Labels: internal/aws, internal/core, internal/datadog

#38830 [connector/signaltometrics] Introduce `optional` config for attributes
  .chloggen/optional-signaltometrics.yaml
  connector/signaltometricsconnector/README.md
  connector/signaltometricsconnector/config/config.go
  connector/signaltometricsconnector/config/config_test.go
  connector/signaltometricsconnector/go.mod
  connector/signaltometricsconnector/internal/model/model.go
  connector/signaltometricsconnector/internal/model/model_test.go
  connector/signaltometricsconnector/testdata/configs/valid_full.yaml
  connector/signaltometricsconnector/testdata/configs/with_optional_and_default_value.yaml
  connector/signaltometricsconnector/testdata/traces/histograms/config.yaml
  connector/signaltometricsconnector/testdata/traces/histograms/output.yaml
  connector/signaltometricsconnector/testdata/traces/traces.yaml
Labels: ready to merge, waiting-for-code-owners, connector/signaltometrics

#39332 [chore][exporter/elasticsearch] Fix dead link to exporterbatcher
  exporter/elasticsearchexporter/README.md
Labels: exporter/elasticsearch

#37943 [exporter/elasticsearch] Add `telemetry::log_failed_docs_input` to facilitate debugging of failed bulk request items
  .chloggen/elasticsearchexporter_telemetry-log-failed-docs-source.yaml
  exporter/elasticsearchexporter/README.md
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
  exporter/elasticsearchexporter/config.go
  exporter/elasticsearchexporter/config_test.go
  exporter/elasticsearchexporter/factory.go
  exporter/elasticsearchexporter/go.mod
  exporter/elasticsearchexporter/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/internal/logging/options.go
Labels: exporter/elasticsearch

#39322 [chore]: fix use-errors-new from revive in extension
  extension/bearertokenauthextension/bearertokenauth.go
  extension/headerssetterextension/config.go
  extension/k8sleaderelector/config.go
  extension/oauth2clientauthextension/extension.go
Labels: extension/bearertokenauth, extension/oauth2clientauth, extension/headerssetter, extension/k8sleaderelector

#39327 [chore]: fix use-errors-new from revive in testbed
  testbed/datasenders/jaeger.go
  testbed/testbed/load_generator.go
Labels: testbed

#39325 [chore]: fix use-errors-new from revive in processor
  processor/coralogixprocessor/config.go
  processor/cumulativetodeltaprocessor/config.go
  processor/cumulativetodeltaprocessor/factory.go
  processor/deltatocumulativeprocessor/factory.go
  processor/deltatocumulativeprocessor/internal/testing/testar/decode.go
  processor/deltatorateprocessor/config.go
  processor/deltatorateprocessor/factory.go
  processor/probabilisticsamplerprocessor/config.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/azure/azure_test.go
  processor/resourcedetectionprocessor/internal/context.go
  processor/resourcedetectionprocessor/internal/gcp/gcp_test.go
  processor/resourcedetectionprocessor/internal/k8snode/config.go
  processor/resourcedetectionprocessor/internal/openshift/config.go
  processor/resourcedetectionprocessor/internal/resourcedetection_test.go
  processor/routingprocessor/logs.go
  processor/routingprocessor/metrics.go
  processor/routingprocessor/traces.go
  processor/schemaprocessor/internal/translation/cacheable_provider_test.go
  processor/schemaprocessor/internal/translation/manager_test.go
Labels: processor/resourcedetection, processor/cumulativetodelta, processor/deltatorate, processor/probabilisticsampler, processor/routing, processor/schema, processor/deltatocumulative, waiting-for-code-owners, processor/coralogix

#39326 [chore]: fix use-errors-new from revive in receiver
  receiver/apachereceiver/integration_test.go
  receiver/hostmetricsreceiver/hostmetrics_others.go
  receiver/hostmetricsreceiver/internal/scraper/processscraper/process_scraper_windows.go
  receiver/huaweicloudcesreceiver/internal/backoff.go
  receiver/journaldreceiver/journald_nonlinux.go
  receiver/k8slogreceiver/factory.go
  receiver/k8slogreceiver/runtime_api_config.go
  receiver/libhoneyreceiver/internal/parser/parser.go
  receiver/podmanreceiver/receiver_windows.go
  receiver/prometheusreceiver/config.go
  receiver/prometheusremotewritereceiver/receiver.go
  receiver/receivercreator/discovery.go
  receiver/sqlserverreceiver/config_windows.go
  receiver/tlscheckreceiver/config.go
  receiver/tlscheckreceiver/config_test.go
Labels: receiver/journald, receiver/hostmetrics, receiver/podman, receiver/prometheus, receiver/sqlserver, receiver/apache, Run Windows, receiver/receivercreator, receiver/prometheusremotewrite, receiver/tlscheck, receiver/huaweicloudces, receiver/libhoney, receiver/k8slog, receiver/hostmetrics/internal/scraper/process

#39321 [chore]: fix use-errors-new from revive in exporter
  exporter/alertmanagerexporter/factory.go
  exporter/awss3exporter/factory.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azuremonitorexporter/connection_string_parser.go
  exporter/datasetexporter/config.go
  exporter/datasetexporter/config_test.go
  exporter/datasetexporter/factory_test.go
  exporter/dorisexporter/exporter_logs_test.go
  exporter/dorisexporter/exporter_metrics_test.go
  exporter/dorisexporter/exporter_traces_test.go
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/internal/serializer/otelserializer/metrics_test.go
  exporter/elasticsearchexporter/model.go
  exporter/kafkaexporter/kafka_exporter_test.go
  exporter/kineticaexporter/metrics_exporter.go
  exporter/loadbalancingexporter/resolver_k8s.go
  exporter/logicmonitorexporter/config.go
  exporter/lokiexporter/config.go
  exporter/lokiexporter/config_test.go
  exporter/lokiexporter/exporter.go
  exporter/lokiexporter/exporter_test.go
  exporter/prometheusexporter/collector.go
  exporter/prometheusremotewriteexporter/config.go
  exporter/prometheusremotewriteexporter/context.go
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/wal.go
  exporter/pulsarexporter/pulsar_exporter.go
  exporter/signalfxexporter/internal/apm/correlations/client.go
Labels: exporter/loadbalancing, exporter/loki, exporter/azuremonitor, exporter/prometheusremotewrite, exporter/signalfx, exporter/pulsar, exporter/elasticsearch, exporter/kafka, exporter/prometheus, exporter/logicmonitor, exporter/awss3, exporter/dataset, exporter/kinetica, exporter/alertmanager, exporter/doris, exporter/azureblob

#39315 [chore] remove checkapi
  .checkapi.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  Makefile
  cmd/checkapi/Makefile
  cmd/checkapi/README.md
  cmd/checkapi/config.yaml
  cmd/checkapi/go.mod
  cmd/checkapi/go.sum
  cmd/checkapi/internal/altpkg/config.yaml
  cmd/checkapi/internal/altpkg/receiver/altreceiver/Makefile
  cmd/checkapi/internal/altpkg/receiver/altreceiver/code_test.go
  cmd/checkapi/internal/altpkg/receiver/altreceiver/go.mod
  cmd/checkapi/internal/altpkg/receiver/badreceiver/Makefile
  cmd/checkapi/internal/altpkg/receiver/badreceiver/code_test.go
  cmd/checkapi/internal/altpkg/receiver/badreceiver/go.mod
  cmd/checkapi/internal/ast.go
  cmd/checkapi/internal/badpkg/receiver/badreceiver/Makefile
  cmd/checkapi/internal/badpkg/receiver/badreceiver/code_test.go
  cmd/checkapi/internal/badpkg/receiver/badreceiver/go.mod
  cmd/checkapi/internal/testpkg/receiver/validreceiver/Makefile
  cmd/checkapi/internal/testpkg/receiver/validreceiver/code_test.go
  cmd/checkapi/internal/testpkg/receiver/validreceiver/go.mod
  cmd/checkapi/internal/testpkg/receiver/validreceiver/go.sum
  cmd/checkapi/main.go
  cmd/checkapi/main_test.go
  cmd/checkapi/main_windows_test.go
  cmd/checkapi/metadata.yaml
  internal/tidylist/tidylist.txt
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  versions.yaml
Labels: internal/tools, cmd/checkapi

#39297 support user defined CA path for service account using the `ca_file` configtls option
  .chloggen/kubelet-client.yaml
  internal/kubelet/client.go
  internal/kubelet/client_test.go
  receiver/kubeletstatsreceiver/README.md
Labels: receiver/kubeletstats, internal/kubelet, waiting-for-code-owners

#39348 [chore]: fix use-errors-new from revive in exporter
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/internal/exponential_histogram_metrics.go
  exporter/clickhouseexporter/internal/gauge_metrics.go
  exporter/clickhouseexporter/internal/histogram_metrics.go
  exporter/clickhouseexporter/internal/sum_metrics.go
  exporter/clickhouseexporter/internal/summary_metrics.go
  exporter/fileexporter/config.go
  exporter/googlecloudpubsubexporter/config.go
  exporter/googlecloudpubsubexporter/exporter_test.go
  exporter/honeycombmarkerexporter/config.go
  exporter/honeycombmarkerexporter/logs_exporter.go
  exporter/mezmoexporter/config.go
  exporter/otelarrowexporter/internal/arrow/common_test.go
  exporter/otelarrowexporter/internal/arrow/stream_test.go
  exporter/sumologicexporter/config.go
  exporter/sumologicexporter/exporter.go
  exporter/sumologicexporter/sender.go
Labels: exporter/clickhouse, exporter/file, exporter/googlecloudpubsub, exporter/sumologic, exporter/mezmo, exporter/honeycombmarker, exporter/otelarrow

#39351 [chore]: fix use-errors-new from revive in processor
  processor/filterprocessor/config.go
  processor/groupbytraceprocessor/factory.go
  processor/intervalprocessor/factory.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/processor_test.go
  processor/metricsgenerationprocessor/factory.go
  processor/metricstarttimeprocessor/config.go
  processor/spanprocessor/factory_test.go
  processor/tailsamplingprocessor/processor.go
  processor/transformprocessor/internal/metrics/func_aggregate_on_attributes_metrics.go
  processor/transformprocessor/internal/metrics/func_aggregate_on_attributes_metrics_test.go
  processor/transformprocessor/internal/metrics/func_agregate_on_attribute_value_metrics.go
  processor/transformprocessor/internal/metrics/func_convert_exponential_hist_to_explicit_hist.go
  processor/transformprocessor/internal/metrics/func_convert_gauge_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_count_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_convert_summary_sum_val_to_sum.go
  processor/transformprocessor/internal/metrics/func_copy_metric.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric.go
  processor/transformprocessor/internal/metrics/func_extract_count_metric_test.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric.go
  processor/transformprocessor/internal/metrics/func_extract_sum_metric_test.go
  processor/transformprocessor/internal/metrics/func_scale.go
Labels: processor/filter, processor/k8sattributes, processor/tailsampling, processor/transform, processor/groupbytrace, processor/metricsgeneration, processor/span, processor/interval, processor/metricstarttime

#39352 [chore]: fix use-errors-new from revive in receiver
  receiver/jmxreceiver/internal/subprocess/integration_test.go
  receiver/netflowreceiver/config.go
Labels: receiver/jmx, receiver/netflow

#39350 [chore]: fix use-errors-new from revive in internal
  internal/filter/filtermetric/filtermetric_test.go
  internal/filter/filterottl/bridge.go
  internal/filter/filterottl/functions.go
  internal/k8sconfig/config.go
  internal/kafka/configkafka/config.go
  internal/metadataproviders/aws/ec2/metadata_test.go
  internal/metadataproviders/k8snode/metadata.go
  internal/metadataproviders/system/metadata_test.go
  internal/sqlquery/metrics.go
Labels: internal/metadataproviders, internal/filter, internal/k8sconfig, internal/kafka, internal/sqlquery

#39349 [chore]: fix use-errors-new from revive in extension
  extension/observer/dockerobserver/config.go
  extension/observer/ecsobserver/config.go
  extension/observer/ecsobserver/docker_label.go
  extension/observer/ecsobserver/fetcher.go
  extension/observer/ecsobserver/internal/errctx/value_test.go
  extension/observer/ecsobserver/matcher.go
  extension/observer/ecsobserver/sd.go
  extension/observer/ecsobserver/service.go
  extension/observer/ecsobserver/task_definition.go
  extension/observer/k8sobserver/config.go
  extension/observer/k8sobserver/extension.go
  extension/observer/kafkatopicsobserver/config.go
  extension/opampextension/opamp_agent_test.go
  extension/opampextension/registry_test.go
  extension/sigv4authextension/config.go
  extension/sigv4authextension/signingroundtripper.go
  extension/storage/dbstorage/extension_test.go
  extension/sumologicextension/credentials/encrypt.go
Labels: extension/sigv4auth, extension/storage/dbstorage, extension/observer/k8sobserver, extension/observer/dockerobserver, extension/observer/ecsobserver, extension/opamp, extension/sumologic, extension/observer/kafkatopicsobserver

#39341 [chore]: enable and fixes use-errors-new from revive
  .golangci.yml
  pkg/ottl/contexts/internal/ctxutil/slice_test.go
  pkg/ottl/ottlfuncs/func_replace_pattern.go
  pkg/pdatatest/pprofiletest/profiles.go
  pkg/pdatatest/pprofiletest/profiles_test.go
  pkg/pdatatest/pprofiletest/validate.go
  pkg/sampling/encoding_test.go
  pkg/stanza/entry/attribute_field.go
  pkg/stanza/entry/field.go
  pkg/stanza/entry/resource_field.go
  pkg/stanza/errors/error_test.go
  pkg/stanza/fileconsumer/attrs/owner_windows.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/internal/header/config.go
  pkg/stanza/fileconsumer/matcher/internal/filter/sort.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/operator/config.go
  pkg/stanza/operator/helper/parser.go
  pkg/stanza/operator/helper/parser_test.go
  pkg/stanza/operator/helper/regexp.go
  pkg/stanza/operator/helper/severity_builder.go
  pkg/stanza/operator/helper/time.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
  pkg/stanza/operator/input/syslog/config.go
  pkg/stanza/operator/input/tcp/config.go
  pkg/stanza/operator/input/udp/config.go
  pkg/stanza/operator/input/windows/bookmark.go
  pkg/stanza/operator/input/windows/config_windows.go
  pkg/stanza/operator/input/windows/event.go
  pkg/stanza/operator/input/windows/publisher.go
  pkg/stanza/operator/input/windows/subscription.go
  pkg/stanza/operator/output/file/config.go
  pkg/stanza/operator/parser/container/config.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/parser/regex/config.go
  pkg/stanza/operator/parser/syslog/config.go
  pkg/stanza/operator/parser/syslog/parser.go
  pkg/stanza/operator/transformer/add/transformer.go
  pkg/stanza/operator/transformer/assignkeys/config.go
  pkg/stanza/operator/transformer/copy/config.go
  pkg/stanza/operator/transformer/filter/config.go
  pkg/stanza/operator/transformer/move/config.go
  pkg/stanza/operator/transformer/recombine/config.go
  pkg/stanza/operator/transformer/regexreplace/config.go
  pkg/stanza/operator/transformer/remove/config.go
  pkg/stanza/operator/transformer/retain/config.go
  pkg/stanza/operator/transformer/router/transformer.go
  pkg/stanza/pipeline/directed_test.go
  pkg/stanza/split/split.go
  pkg/stanza/split/split_test.go
  pkg/translator/zipkin/zipkinv1/status_code.go
  pkg/translator/zipkin/zipkinv1/status_code_test.go
Labels: processor/filter, processor/k8sattributes, processor/tailsampling, exporter/clickhouse, processor/groupbytrace, processor/metricsgeneration, exporter/file, exporter/googlecloudpubsub, exporter/sumologic, exporter/mezmo, pkg/stanza, pkg/ottl, extension/sigv4auth, extension/storage/dbstorage, processor/span, extension/observer/k8sobserver, extension/observer/dockerobserver, internal/metadataproviders, pkg/translator/zipkin, internal/filter, internal/k8sconfig, pkg/pdatatest, connector/spanmetrics, extension/observer/ecsobserver, internal/kafka, exporter/honeycombmarker, extension/opamp, exporter/otelarrow, processor/interval, pkg/sampling, internal/sqlquery, extension/sumologic, pkg/stanza/fileconsumer, connector/sum, connector/signaltometrics, receiver/netflow, processor/metricstarttime, extension/observer/kafkatopicsobserver

#39361 lint(depguard): disallow deprecated and discouraged packages
  .golangci.yml
Labels: ci-cd, Skip Changelog

#36718 [connector/spanmetrics] Fix spanmetrics for child spans
  .chloggen/fix_spanmetrics.yaml
  connector/spanmetricsconnector/connector.go
  connector/spanmetricsconnector/internal/metrics/metrics.go
Labels: connector/spanmetrics, waiting-for-code-owners

#39268 chore: update mongodb driver library to use v2
  receiver/mongodbreceiver/client.go
  receiver/mongodbreceiver/client_test.go
  receiver/mongodbreceiver/config.go
  receiver/mongodbreceiver/go.mod
  receiver/mongodbreceiver/go.sum
  receiver/mongodbreceiver/metrics.go
  receiver/mongodbreceiver/scraper.go
  receiver/mongodbreceiver/scraper_test.go
Labels: Skip Changelog, receiver/mongodb

#39362 [chore] small nits in converter HashResource, no performance impact
  pkg/stanza/adapter/converter.go
  pkg/stanza/adapter/converter_test.go
Labels: pkg/stanza

#39364 [chore][stanza] Small improvements in logging usages
  pkg/stanza/adapter/integration_test.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/helper/transformer_test.go
  pkg/stanza/operator/transformer/router/transformer.go
Labels: pkg/stanza

#39363 [chore] move transform operators tests to use batch
  pkg/stanza/operator/transformer/assignkeys/transformer_test.go
  pkg/stanza/operator/transformer/copy/transformer_test.go
  pkg/stanza/operator/transformer/filter/transformer_test.go
  pkg/stanza/operator/transformer/flatten/transformer_test.go
  pkg/stanza/operator/transformer/move/transformer_test.go
  pkg/stanza/operator/transformer/noop/transformer_test.go
  pkg/stanza/operator/transformer/recombine/transformer_test.go
  pkg/stanza/operator/transformer/regexreplace/transformer_test.go
  pkg/stanza/operator/transformer/remove/transformer_test.go
  pkg/stanza/operator/transformer/retain/transformer_test.go
  pkg/stanza/operator/transformer/router/transformer_test.go
  pkg/stanza/operator/transformer/unquote/transformer_test.go
Labels: pkg/stanza

#39369 [chore]: remove testifylint from internal/tools
  Makefile
  Makefile.Common
  internal/tools/go.mod
  internal/tools/tools.go
Labels: internal/tools

#39365 [chore] Use zap.Error to record errors
  receiver/receivercreator/discovery.go
  receiver/receivercreator/observerhandler.go
  receiver/solacereceiver/receiver.go
Labels: receiver/solace, receiver/receivercreator

#39367 [stanza] Remove unnecessary slice allocation to track errors (even nil)
  .chloggen/stanza-error.yaml
  pkg/stanza/fileconsumer/internal/checkpoint/checkpoint.go
  pkg/stanza/fileconsumer/matcher/internal/finder/finder.go
  pkg/stanza/fileconsumer/matcher/matcher.go
  pkg/stanza/operator/helper/transformer.go
  pkg/stanza/operator/input/file/input.go
  pkg/stanza/operator/input/windows/input.go
  pkg/stanza/operator/input/windows/publishercache.go
  pkg/stanza/operator/output/file/output.go
  pkg/stanza/operator/output/stdout/output.go
  pkg/stanza/operator/parser/container/parser.go
  pkg/stanza/operator/transformer/recombine/transformer.go
  pkg/stanza/operator/transformer/router/transformer.go
  pkg/stanza/testutil/mocks.go
Labels: pkg/stanza, pkg/stanza/fileconsumer

#39366 [chore] Small cleanup in file reader, always count record nums
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/operator/input/file/input.go
Labels: pkg/stanza, pkg/stanza/fileconsumer

#39359 [chore]: fix equal-values rule from testifylint
  .golangci.yml
  pkg/ottl/expression_test.go
  pkg/ottl/math_test.go
  pkg/winperfcounters/watcher_test.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/accumulator_test.go
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/metrics_helper_test.go
  receiver/sqlserverreceiver/factory_test.go
  receiver/windowseventlogreceiver/factory_test.go
Labels: receiver/windowseventlog, receiver/sqlserver, receiver/awsecscontainermetrics, pkg/winperfcounters, pkg/ottl, Run Windows

#39355 docs(resourcedetectionprocessor): add apiVersion
  processor/resourcedetectionprocessor/README.md
Labels: Skip Changelog, processor/resourcedetection

#37574 [pkg/ottl] Add OTTL support for profiles
  .chloggen/ottl-profile.yaml
  pkg/ottl/contexts/internal/ctxcommon/ids.go
  pkg/ottl/contexts/internal/ctxcommon/ids_test.go
  pkg/ottl/contexts/internal/ctxprofile/context.go
  pkg/ottl/contexts/internal/ctxprofile/profile.go
  pkg/ottl/contexts/internal/ctxprofile/profile_test.go
  pkg/ottl/contexts/internal/logprofile/logging.go
  pkg/ottl/contexts/internal/logprofile/logging_test.go
  pkg/ottl/contexts/ottlprofile/README.md
  pkg/ottl/contexts/ottlprofile/package_test.go
  pkg/ottl/contexts/ottlprofile/profile.go
  pkg/ottl/contexts/ottlprofile/profile_test.go
  pkg/ottl/go.mod
  pkg/ottl/go.sum
Labels: pkg/ottl

#38895 [receiver/azuremonitorreceiver] feat: option to use azmetrics getBatch API
  .chloggen/azuremonitorreceiver_getBatch.yaml
  receiver/azuremonitorreceiver/README.md
  receiver/azuremonitorreceiver/config.go
  receiver/azuremonitorreceiver/factory.go
  receiver/azuremonitorreceiver/fake/internal.go
  receiver/azuremonitorreceiver/fake/metrics_server.go
  receiver/azuremonitorreceiver/go.mod
  receiver/azuremonitorreceiver/go.sum
  receiver/azuremonitorreceiver/options.go
  receiver/azuremonitorreceiver/options_test.go
  receiver/azuremonitorreceiver/scraper_batch.go
  receiver/azuremonitorreceiver/scraper_batch_test.go
  receiver/azuremonitorreceiver/scraper_test.go
  receiver/azuremonitorreceiver/testdata/expected_metrics_batch/metrics_golden.yaml
  receiver/azuremonitorreceiver/testdata/expected_metrics_batch/metrics_tags_golden.yaml
Labels: receiver/azuremonitor

#39368 [processor/resourcedetection] update to aws-sdk-go-v2
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/aws/eks/detector.go
  processor/resourcedetectionprocessor/internal/aws/eks/detector_test.go
Labels: Skip Changelog, processor/resourcedetection

#39370 [chore]: bump golangci-lint to v2.1.1
  .golangci.yml
  internal/tools/go.mod
  internal/tools/go.sum
  receiver/awsecscontainermetricsreceiver/internal/awsecscontainermetrics/resource_test.go
Labels: receiver/awsecscontainermetrics, internal/tools

#39302 [chore] Move jpkrohling to emeritus
  .github/ALLOWLIST
  .github/CODEOWNERS
  .github/auto_assign.yml
  README.md
  connector/countconnector/README.md
  connector/countconnector/metadata.yaml
  connector/routingconnector/README.md
  connector/routingconnector/metadata.yaml
  exporter/loadbalancingexporter/README.md
  exporter/loadbalancingexporter/metadata.yaml
  extension/basicauthextension/README.md
  extension/basicauthextension/metadata.yaml
  extension/bearertokenauthextension/README.md
  extension/bearertokenauthextension/metadata.yaml
  extension/healthcheckv2extension/README.md
  extension/healthcheckv2extension/metadata.yaml
  extension/oauth2clientauthextension/README.md
  extension/oauth2clientauthextension/metadata.yaml
  extension/oidcauthextension/README.md
  extension/oidcauthextension/metadata.yaml
  pkg/batchpersignal/metadata.yaml
  pkg/status/README.md
  pkg/status/metadata.yaml
  processor/groupbytraceprocessor/README.md
  processor/groupbytraceprocessor/metadata.yaml
  processor/probabilisticsamplerprocessor/README.md
  processor/probabilisticsamplerprocessor/metadata.yaml
  processor/routingprocessor/README.md
  processor/routingprocessor/metadata.yaml
  processor/tailsamplingprocessor/README.md
  processor/tailsamplingprocessor/metadata.yaml
  receiver/purefareceiver/README.md
  receiver/purefareceiver/metadata.yaml
  receiver/purefbreceiver/README.md
  receiver/purefbreceiver/metadata.yaml
Labels: processor/tailsampling, exporter/loadbalancing, processor/groupbytrace, processor/probabilisticsampler, processor/routing, pkg/batchpersignal, extension/oidcauth, extension/bearertokenauth, extension/oauth2clientauth, extension/basicauth, receiver/purefa, receiver/purefb, connector/count, connector/routing, extension/healthcheckv2, pkg/status

#39309 [exporter/elasticsearch] Handle edge cases in metrics grouping causing TSDB version_conflict_engine_exception
  .chloggen/elasticsearchexporter_handle-metric-grouping-edge-cases.yaml
  exporter/elasticsearchexporter/exporter.go
  exporter/elasticsearchexporter/exporter_test.go
  exporter/elasticsearchexporter/internal/metricgroup/hash.go
  exporter/elasticsearchexporter/internal/metricgroup/hasher.go
  exporter/elasticsearchexporter/metric_grouping.go
  exporter/elasticsearchexporter/model_test.go
Labels: exporter/elasticsearch

#39306 test: fix flaky TestTemporalityStartTimes by introducing a mockClock with added Time
  .chloggen/nickange_telemetrygen_metrics_fix-flaky-test.yaml
  cmd/telemetrygen/pkg/metrics/clock.go
  cmd/telemetrygen/pkg/metrics/metrics.go
  cmd/telemetrygen/pkg/metrics/worker.go
  cmd/telemetrygen/pkg/metrics/worker_test.go
Labels: cmd/telemetrygen, Run Windows

#39354 fix: make ACLs optional for AWS S3 buckets
  .chloggen/fix_optional-acls.yaml
  .github/CODEOWNERS
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/factory.go
  exporter/awss3exporter/internal/upload/writer.go
  exporter/awss3exporter/internal/upload/writer_test.go
  exporter/awss3exporter/metadata.yaml
  exporter/awss3exporter/s3_writer.go
Labels: exporter/awss3

#39356 [chore][codecov] Fix coverage file naming
  Makefile
  Makefile.Common
Labels: ci-cd

#39383 [chore][Makefile] Remove non-existent CMD_MODS_1 target reference
  Makefile
Labels: ci-cd

#39373 [stanza] Use buffer pool for the read buffers to limit allocations
  .chloggen/pool-bufs-factory.yaml
  pkg/stanza/fileconsumer/benchmark_test.go
  pkg/stanza/fileconsumer/config.go
  pkg/stanza/fileconsumer/file.go
  pkg/stanza/fileconsumer/internal/reader/factory.go
  pkg/stanza/fileconsumer/internal/reader/reader.go
  pkg/stanza/fileconsumer/internal/scanner/scanner.go
  pkg/stanza/fileconsumer/internal/scanner/scanner_test.go
Labels: pkg/stanza/fileconsumer

#39394 [chore] sed all files at once, faster execution
  .github/workflows/scripts/check-collector-module-version.sh
Labels: ci-cd

#39317 [exporter/splunkhec] Use ObservedTimestamp if Timestamp is empty
  .chloggen/fix_splunkhecexporter_log_timestamp_wrong.yaml
  exporter/splunkhecexporter/logdata_to_splunk.go
  exporter/splunkhecexporter/logdata_to_splunk_test.go
Labels: ready to merge, exporter/splunkhec

#39413 fix(pkg/stanza): remove `fmt.Println`
  .chloggen/remove-fmt-println-in-fileconsumer.yaml
  pkg/stanza/fileconsumer/internal/reader/reader.go
Labels: pkg/stanza/fileconsumer

#39395 [receiver_creator] Fix kafkametrics receiver instantiation
  .chloggen/receiver_creator-fix-kafkametrics-instantiation.yaml
  receiver/receivercreator/runner.go
Labels: receiver/receivercreator

#39376 [chore][receiver/sqlserver] use new mdatagen log builder to emit and update documents
  receiver/sqlserverreceiver/logs-documentation.md
  receiver/sqlserverreceiver/scraper.go
  receiver/sqlserverreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQuery.yaml
  receiver/sqlserverreceiver/testdata/expectedRecordDatabaseSampleQueryWithInvalidData.yaml
Labels: ready to merge, receiver/sqlserver, Run Windows

#38798 [exporter/clickhouse] Fix data race that caused panic in integration tests
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_test.go
  exporter/clickhouseexporter/exporter_metrics_test.go
  exporter/clickhouseexporter/exporter_sql_test.go
  exporter/clickhouseexporter/exporter_traces_test.go
  exporter/clickhouseexporter/factory.go
  exporter/clickhouseexporter/integration_test.go
Labels: ready to merge, Skip Changelog, exporter/clickhouse
