Repository open-telemetry/opentelemetry-collector-contrib, pull requests merged in 2025-09, with the labels that each got.

#42048 [extension/awslogsencodingextension] Fix gzip header detection for mi…
  .chloggen/fix-gzip-header-detection-awslogsencodingextension.yaml
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
Labels: ready to merge, extension/encoding/awslogsencoding, first-time contributor

#42327 [exporter/kafkaexporter] move exporter.kafkaexporter.UseFranzGo feature gate to Beta
  .chloggen/feat_42156.yaml
  exporter/kafkaexporter/README.md
  exporter/kafkaexporter/kafka_exporter.go
Labels: exporter/kafka

#42329 prometheusremotewriteexporter: Remove unnecessary buffer copy in proto conversion
  .chloggen/fix-proto-copy.yaml
  exporter/prometheusremotewriteexporter/exporter.go
  exporter/prometheusremotewriteexporter/exporter_test.go
  exporter/prometheusremotewriteexporter/exporter_v2.go
Labels: exporter/prometheusremotewrite

#42345 [receiver/kafka] Add rack_id configuration option to Kafka receiver
  .chloggen/feat_add-kafka-receiver-rack-id.yaml
  internal/kafka/client.go
  internal/kafka/franz_client.go
  pkg/kafka/configkafka/config.go
  pkg/kafka/configkafka/config_test.go
  pkg/kafka/configkafka/testdata/client_config.yaml
  receiver/kafkareceiver/README.md
Labels: ready to merge, receiver/kafka, internal/kafka, pkg/kafka/configkafka, first-time contributor

#42386 [processor/k8sattributes] support extracting labels and annotations from Jobs
  .chloggen/k8sattributes-processor-workload-informers-job.yaml
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/informer.go
  processor/k8sattributesprocessor/internal/kube/informer_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest_test.go
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/processor.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/clusterrole.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/telemetrygen/job.yaml
Labels: processor/k8sattributes

#42399 [chore] prom translation rw2 add test and enable asserts on converter…
  pkg/translator/prometheusremotewrite/helper_v2_test.go
  pkg/translator/prometheusremotewrite/metrics_to_prw_v2_test.go
  pkg/translator/prometheusremotewrite/number_data_points_v2_test.go
Labels: pkg/translator/prometheusremotewrite, waiting-for-code-owners

#40519 [receiver/kubeletstats] introduce k8s.pod.volume.usage metric
  .chloggen/kubelet-volume-used.yaml
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/internal/kubelet/volume.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_config_test.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/kubeletstatsreceiver/internal/metadata/metrics.go
  receiver/kubeletstatsreceiver/internal/metadata/testdata/config.yaml
  receiver/kubeletstatsreceiver/metadata.yaml
  receiver/kubeletstatsreceiver/scraper_test.go
Labels: ready to merge, receiver/kubeletstats

#42325 [chore] [exporter/coralogix] Update AWS PrivateLink Endpoints
  exporter/coralogixexporter/README.md
Labels: Skip Changelog, exporter/coralogix, first-time contributor

#42432 [receiver/libhoney] Set scopes more flexibly to avoid losing service.name
  .chloggen/libhoney-scopes-and-errors.yaml
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent_test.go
  receiver/libhoneyreceiver/internal/parser/parser.go
  receiver/libhoneyreceiver/receiver.go
Labels: receiver/libhoney

#42457 [chore][extension/k8sleader,connector/spanmetrics] Add manual time.Sleep calls to fix tests
  connector/spanmetricsconnector/connector_test.go
  extension/k8sleaderelector/extension_test.go
  receiver/jmxreceiver/go.mod
Labels: receiver/jmx, connector/spanmetrics, extension/k8sleaderelector

#42357 [chore] fix panic issued in test when the gauge data is not present
  processor/groupbytraceprocessor/event_test.go
Labels: processor/groupbytrace

#42158 [receiver/apache] Add support for number of connections per async state metric
  .chloggen/apache-req-connections-metrics.yaml
  receiver/apachereceiver/documentation.md
  receiver/apachereceiver/internal/metadata/generated_config.go
  receiver/apachereceiver/internal/metadata/generated_config_test.go
  receiver/apachereceiver/internal/metadata/generated_metrics.go
  receiver/apachereceiver/internal/metadata/generated_metrics_test.go
  receiver/apachereceiver/internal/metadata/testdata/config.yaml
  receiver/apachereceiver/metadata.yaml
  receiver/apachereceiver/scraper.go
  receiver/apachereceiver/scraper_test.go
  receiver/apachereceiver/testdata/integration/expected.yaml
  receiver/apachereceiver/testdata/scraper/expected.yaml
Labels: receiver/apache, waiting-for-code-owners

#42279 [receiver/libhoney] Zstd truncated body is panicking
  .chloggen/libhoney-compression-panic.yaml
  receiver/libhoneyreceiver/README.md
  receiver/libhoneyreceiver/factory.go
  receiver/libhoneyreceiver/go.mod
  receiver/libhoneyreceiver/receiver.go
  receiver/libhoneyreceiver/receiver_test.go
Labels: receiver/libhoney

#42470 [chore] remove flaky context cancelled test
  extension/datadogextension/internal/httpserver/httpserver_test.go
Labels: extension/datadog

#42467 [chore] Add @krisztianfekete as codeowner to k8sobjectsreceiver
  .github/CODEOWNERS
  receiver/k8sobjectsreceiver/README.md
  receiver/k8sobjectsreceiver/metadata.yaml
Labels: Skip Changelog, receiver/k8sobjects

#42290 add scope name and version to k8sobject receiver
  .chloggen/kangyi_k8sobject_scope.yaml
  pkg/pdatatest/plogtest/logs_test.go
  pkg/pdatatest/plogtest/options.go
  pkg/pdatatest/plogtest/testdata/ignore-scope-version/actual.yaml
  pkg/pdatatest/plogtest/testdata/ignore-scope-version/expected.yaml
  receiver/k8sobjectsreceiver/e2e_test.go
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/testdata/e2e/expected/pull_namespaces.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_events_core.yaml
  receiver/k8sobjectsreceiver/testdata/e2e/expected/watch_namespaces.yaml
  receiver/k8sobjectsreceiver/unstructured_to_logdata.go
  receiver/k8sobjectsreceiver/unstructured_to_logdata_test.go
Labels: receiver/k8sobjects, pkg/pdatatest, waiting-for-code-owners, first-time contributor

#42071 [elasticsearchexporter] ignore expected errors
  .chloggen/issue-38598.yaml
  exporter/elasticsearchexporter/bulkindexer.go
  exporter/elasticsearchexporter/bulkindexer_test.go
Labels: exporter/elasticsearch, waiting-for-code-owners

#42456 [chore][exporter/loadbalancing] fix misleading docs information about routing_key for logs
  exporter/loadbalancingexporter/README.md
Labels: exporter/loadbalancing

#42482 [chore] do not reuse the free port between tests
  extension/httpforwarderextension/extension_test.go
Labels: extension/httpforwarder

#42496 [chore] do not send message twice
  processor/remotetapprocessor/server_test.go
Labels: ready to merge, processor/remotetap

#42507 [exporter/kafka] Add support for allow_auto_topic_creation to keep partity between Sarama and Franz-Go
  .chloggen/feat_42468.yaml
  exporter/kafkaexporter/README.md
  internal/kafka/client.go
  internal/kafka/client_test.go
  internal/kafka/franz_client.go
  internal/kafka/franz_client_test.go
  pkg/kafka/configkafka/config.go
  pkg/kafka/configkafka/config_test.go
  pkg/kafka/configkafka/testdata/producer_config.yaml
Labels: ready to merge, exporter/kafka, internal/kafka, pkg/kafka/configkafka

#42297 [receiver/dockerstatsreceiver] Add Windows support
  .chloggen/dockerstatsreceiver-add-windows-support.yaml
  receiver/dockerstatsreceiver/README.md
  receiver/dockerstatsreceiver/documentation.md
  receiver/dockerstatsreceiver/factory.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics.go
  receiver/dockerstatsreceiver/internal/metadata/generated_metrics_test.go
  receiver/dockerstatsreceiver/metadata.yaml
  receiver/dockerstatsreceiver/metric_helper.go
  receiver/dockerstatsreceiver/metric_helper_others.go
  receiver/dockerstatsreceiver/metric_helper_windows.go
  receiver/dockerstatsreceiver/receiver.go
  receiver/dockerstatsreceiver/testdata/integration/expected.yaml
  receiver/dockerstatsreceiver/testdata/mock/cgroups_v2/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/cpu_limit/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/no_pids_stats/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/pids_stats_max/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/single_container_with_optional_resource_attributes/expected_metrics.yaml
  receiver/dockerstatsreceiver/testdata/mock/two_containers/expected_metrics.yaml
Labels: ready to merge, receiver/dockerstats, internal/docker, first-time contributor

#42497 [cmd/opampsupervisor] Fix supervisor ignoring RemoteConfig messages
  .chloggen/fix_dakotapaasman-config-unchanged-report-rcs.yaml
  cmd/opampsupervisor/supervisor/supervisor.go
  cmd/opampsupervisor/supervisor/supervisor_test.go
Labels: Run Windows, cmd/opampsupervisor

#41989 [exporter/tinybird] limit request size to 10mb
  .chloggen/exporter-tinybird-limit-requests-to-10mb.yaml
  exporter/tinybirdexporter/exporter.go
  exporter/tinybirdexporter/exporter_test.go
  exporter/tinybirdexporter/internal/encoder.go
  exporter/tinybirdexporter/internal/encoder_test.go
  exporter/tinybirdexporter/options.go
Labels: exporter/tinybird

#41503 feat(receiver/statsdreceiver): Introduce Explicit Bucket
  .chloggen/feat_statsd-receiver-introduce-explicit-bucket.yaml
  receiver/statsdreceiver/README.md
  receiver/statsdreceiver/config.go
  receiver/statsdreceiver/config_test.go
  receiver/statsdreceiver/internal/parser/metric_translator.go
  receiver/statsdreceiver/internal/parser/metric_translator_test.go
  receiver/statsdreceiver/internal/parser/statsd_parser.go
  receiver/statsdreceiver/internal/parser/statsd_parser_test.go
  receiver/statsdreceiver/protocol/protocol.go
  receiver/statsdreceiver/testdata/config.yaml
Labels: receiver/statsd, waiting-for-code-owners

#42504 [Chore] Correct Openshift RBAC example
  receiver/k8sclusterreceiver/README.md
Labels: receiver/k8scluster, first-time contributor

#42435 [receiver/k8sevents] add scope name & version in logs
  .chloggen/add-scope-name-version-k8sevents.yaml
  receiver/k8seventsreceiver/k8s_event_to_logdata.go
  receiver/k8seventsreceiver/k8s_event_to_logdata_test.go
  receiver/k8seventsreceiver/receiver.go
Labels: receiver/k8sevents, first-time contributor

#42477 [processor/resourcedetection] Add support for hetzner cloud
  .chloggen/feat_42476.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/doc.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/go.mod
  processor/resourcedetectionprocessor/go.sum
  processor/resourcedetectionprocessor/internal/hetzner/config.go
  processor/resourcedetectionprocessor/internal/hetzner/documentation.md
  processor/resourcedetectionprocessor/internal/hetzner/generated_component_test.go
  processor/resourcedetectionprocessor/internal/hetzner/generated_package_test.go
  processor/resourcedetectionprocessor/internal/hetzner/hetzner.go
  processor/resourcedetectionprocessor/internal/hetzner/hetzner_test.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/package_test.go
  processor/resourcedetectionprocessor/internal/hetzner/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/hetzner/metadata.go
  processor/resourcedetectionprocessor/internal/hetzner/metadata.yaml
Labels: exporter/datadog, processor/resourcedetection, connector/datadog

#42547 [chore][receiver/k8sevents] add k8s Event conversion example into README
  receiver/k8seventsreceiver/README.md
Labels: receiver/k8sevents

#42494 [exporter/datadog] Add 'exporter.datadogexporter.InferIntervalForDeltaMetrics' feature gate
  .chloggen/mx-psi_interval-passing.yaml
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/internal/metrics/consumer.go
  exporter/datadogexporter/internal/metrics/series.go
  exporter/datadogexporter/internal/metrics/series_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
Labels: exporter/datadog

#42555 Revert "[chore][.github] Add Ubuntu to scoped-test runs"
  .github/workflows/scoped-test.yaml
Labels: ci-cd

#42520 [exporter/awss3] AWS S3 partition timezone config
  .chloggen/aws-s3-partition-timezone.yaml
  exporter/awss3exporter/README.md
  exporter/awss3exporter/config.go
  exporter/awss3exporter/config_test.go
  exporter/awss3exporter/internal/upload/partition.go
  exporter/awss3exporter/s3_writer.go
  exporter/awss3exporter/s3_writer_test.go
  exporter/awss3exporter/testdata/config.yaml
Labels: ready to merge, exporter/awss3, first-time contributor

#42510 [exporter/elasticsearch] Fix data stream attributes in none mapping mode
  .chloggen/elasticsearchexporter-fix-data-stream-attributes.yaml
  exporter/elasticsearchexporter/model.go
  exporter/elasticsearchexporter/model_test.go
Labels: ready to merge, exporter/elasticsearch

#42542 [internal/tools] Add support for modernize in Makefile
  .chloggen/feat_go_modernize.yaml
  Makefile.Common
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
Labels: internal/tools

#42598 [chore]: Update client_golang to 1.23.2, fixing race in test
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/prometheusexporter/go.mod
  exporter/prometheusexporter/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/targetallocator/manager.go
  receiver/prometheusreceiver/targetallocator/manager_test.go
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.mod
  receiver/simpleprometheusreceiver/examples/federation/prom-counter/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: ready to merge, exporter/datadog, Skip Changelog, receiver/prometheus, exporter/elasticsearch, exporter/prometheus, receiver/simpleprometheus, receiver/purefa, testbed, receiver/purefb, cmd/opampsupervisor, connector/datadog

#42508 [processor/tailsampling] Expose Sampling Policy interfaces
  processor/tailsamplingprocessor/and_helper.go
  processor/tailsamplingprocessor/and_helper_test.go
  processor/tailsamplingprocessor/composite_helper.go
  processor/tailsamplingprocessor/drop_helper.go
  processor/tailsamplingprocessor/drop_helper_test.go
  processor/tailsamplingprocessor/internal/sampling/always_sample.go
  processor/tailsamplingprocessor/internal/sampling/always_sample_test.go
  processor/tailsamplingprocessor/internal/sampling/and.go
  processor/tailsamplingprocessor/internal/sampling/and_test.go
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/boolean_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/composite.go
  processor/tailsamplingprocessor/internal/sampling/composite_test.go
  processor/tailsamplingprocessor/internal/sampling/drop.go
  processor/tailsamplingprocessor/internal/sampling/drop_test.go
  processor/tailsamplingprocessor/internal/sampling/latency.go
  processor/tailsamplingprocessor/internal/sampling/latency_test.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/numeric_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/ottl.go
  processor/tailsamplingprocessor/internal/sampling/ottl_test.go
  processor/tailsamplingprocessor/internal/sampling/probabilistic.go
  processor/tailsamplingprocessor/internal/sampling/probabilistic_test.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting.go
  processor/tailsamplingprocessor/internal/sampling/rate_limiting_test.go
  processor/tailsamplingprocessor/internal/sampling/span_count_sampler.go
  processor/tailsamplingprocessor/internal/sampling/span_count_sampler_test.go
  processor/tailsamplingprocessor/internal/sampling/status_code.go
  processor/tailsamplingprocessor/internal/sampling/status_code_test.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter.go
  processor/tailsamplingprocessor/internal/sampling/string_tag_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/trace_state_filter.go
  processor/tailsamplingprocessor/internal/sampling/trace_state_filter_test.go
  processor/tailsamplingprocessor/internal/sampling/util.go
  processor/tailsamplingprocessor/internal/sampling/util_test.go
  processor/tailsamplingprocessor/pkg/samplingpolicy/samplingpolicy.go
  processor/tailsamplingprocessor/processor.go
  processor/tailsamplingprocessor/processor_benchmarks_test.go
  processor/tailsamplingprocessor/processor_decisions_test.go
  processor/tailsamplingprocessor/processor_test.go
Labels: ready to merge, processor/tailsampling, Skip Changelog, first-time contributor

#42318 Deprecate zorkian codepath
  .chloggen/ddexporter-remove-zorkian.yaml
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/README.md
  exporter/datadogexporter/factory.go
  exporter/datadogexporter/factory_test.go
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/datadogexporter/internal/metrics/consumer_deprecated.go
  exporter/datadogexporter/internal/metrics/consumer_deprecated_test.go
  exporter/datadogexporter/internal/metrics/consumer_test.go
  exporter/datadogexporter/internal/metrics/series_deprecated.go
  exporter/datadogexporter/internal/metrics/series_deprecated_test.go
  exporter/datadogexporter/metrics_exporter.go
  exporter/datadogexporter/metrics_exporter_test.go
  exporter/datadogexporter/traces_exporter.go
  exporter/datadogexporter/traces_exporter_test.go
  extension/datadogextension/go.mod
  extension/datadogextension/go.sum
  internal/datadog/clientutil/api.go
  internal/datadog/go.mod
  internal/datadog/go.sum
  pkg/datadog/go.mod
  pkg/datadog/go.sum
  receiver/datadogreceiver/go.mod
  receiver/datadogreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, testbed, receiver/datadog, internal/datadog, connector/datadog, pkg/datadog, extension/datadog

#42607 [receiver/sqlquery, receiver/snowflake] Downgrade gosnowflake from v1.16.0 to v1.15.0
  .chloggen/downgrade_snowflake_dep.yaml
  receiver/snowflakereceiver/go.mod
  receiver/snowflakereceiver/go.sum
  receiver/sqlqueryreceiver/go.mod
  receiver/sqlqueryreceiver/go.sum
Labels: receiver/sqlquery, receiver/snowflake

#42653 [chore][exporter/kafka] Clarify export error message
  exporter/kafkaexporter/internal/kafkaclient/franzgo.go
  exporter/kafkaexporter/kafka_exporter.go
Labels: ready to merge, exporter/kafka

#42019 [connector/servicegraph] Fix exponential histogram doesn't clean when expire
  .chloggen/fix-servicegraph-bug.yaml
  connector/servicegraphconnector/connector.go
  connector/servicegraphconnector/connector_test.go
Labels: ready to merge, connector/servicegraph

#42600 [receiver/faro, translator/faro] Do not use faro event timestamp as log record timestamp
  .chloggen/faro-translator-timestamp.yaml
  pkg/translator/faro/faro_to_logs.go
  pkg/translator/faro/testdata/actions-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-slice-payload/plogs.yaml
  pkg/translator/faro/testdata/browser-brand-string-payload/plogs.yaml
  pkg/translator/faro/testdata/general/plogs.yaml
  pkg/translator/faro/testdata/standard-payload/plogs.yaml
  receiver/faroreceiver/testdata/golden/minimal-logs-only.yaml
Labels: receiver/faro, pkg/translator/faro

#42622 [exporter/faro] update success status code to any 2xx
  .chloggen/rlankfo_faro-exporter-status-codes.yaml
  exporter/faroexporter/exporter.go
  exporter/faroexporter/exporter_test.go
Labels: exporter/faro

#42347 receiver/k8scluster: add status reason metric
  .chloggen/status-reason.yaml
  receiver/k8sclusterreceiver/documentation.md
  receiver/k8sclusterreceiver/internal/container/containers.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config.go
  receiver/k8sclusterreceiver/internal/metadata/generated_config_test.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics.go
  receiver/k8sclusterreceiver/internal/metadata/generated_metrics_test.go
  receiver/k8sclusterreceiver/internal/metadata/testdata/config.yaml
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/internal/pod/testdata/expected_container_reason.yaml
  receiver/k8sclusterreceiver/metadata.yaml
Labels: receiver/k8scluster, waiting-for:semantic-conventions

#42649 [chore][doc] Update `iis.application_pool.state` metric description
  receiver/iisreceiver/documentation.md
  receiver/iisreceiver/internal/metadata/generated_metrics.go
  receiver/iisreceiver/internal/metadata/generated_metrics_test.go
  receiver/iisreceiver/metadata.yaml
  receiver/iisreceiver/testdata/integration/expected.yaml
  receiver/iisreceiver/testdata/scraper/expected.yaml
Labels: receiver/iis, waiting-for-code-owners

#42428 receiver/postgresql - Include execution time metric into query samples
  .chloggen/main-2.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/documentation.md
  receiver/postgresqlreceiver/internal/metadata/generated_logs.go
  receiver/postgresqlreceiver/internal/metadata/generated_logs_test.go
  receiver/postgresqlreceiver/metadata.yaml
  receiver/postgresqlreceiver/scraper.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/templates/querySampleTemplate.tmpl
  receiver/postgresqlreceiver/testdata/scraper/query-sample/expected.yaml
  receiver/postgresqlreceiver/testdata/scraper/query-sample/expectedSql.sql
Labels: receiver/postgresql, waiting-for-code-owners

#42570 [processor/resourcedetection] Add support for Vultr
  .chloggen/feat_vultr.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  .github/lychee.toml
  internal/metadataproviders/vultr/metadata.go
  internal/metadataproviders/vultr/metadata_test.go
  internal/metadataproviders/vultr/package_test.go
  processor/resourcedetectionprocessor/README.md
  processor/resourcedetectionprocessor/config.go
  processor/resourcedetectionprocessor/factory.go
  processor/resourcedetectionprocessor/internal/vultr/config.go
  processor/resourcedetectionprocessor/internal/vultr/documentation.md
  processor/resourcedetectionprocessor/internal/vultr/generated_component_test.go
  processor/resourcedetectionprocessor/internal/vultr/generated_package_test.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/generated_config.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/generated_config_test.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/generated_resource.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/generated_resource_test.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/generated_status.go
  processor/resourcedetectionprocessor/internal/vultr/internal/metadata/testdata/config.yaml
  processor/resourcedetectionprocessor/internal/vultr/metadata.go
  processor/resourcedetectionprocessor/internal/vultr/metadata.yaml
  processor/resourcedetectionprocessor/internal/vultr/vultr.go
  processor/resourcedetectionprocessor/internal/vultr/vultr_test.go
Labels: processor/resourcedetection, internal/metadataproviders

#41283 Failover connector queue settings
  .chloggen/failoverconnector-queue-settings.yaml
  connector/failoverconnector/config.go
  connector/failoverconnector/config_test.go
  connector/failoverconnector/factory.go
  connector/failoverconnector/failover.go
  connector/failoverconnector/failover_test.go
  connector/failoverconnector/go.mod
  connector/failoverconnector/go.sum
  connector/failoverconnector/logs_test.go
  connector/failoverconnector/metrics_test.go
  connector/failoverconnector/testdata/config.yaml
  connector/failoverconnector/traces_test.go
  connector/failoverconnector/wrapper.go
Labels: connector/failover, waiting-for-code-owners

#42694 [processor/isolationforest] Add comprehensive unit tests
  .chloggen/add-comprehensive-test-coverage-isolationforest.yaml
  processor/isolationforestprocessor/config_test.go
  processor/isolationforestprocessor/factory_test.go
  processor/isolationforestprocessor/isolation_forest_test.go
  processor/isolationforestprocessor/processor_test.go
Labels: processor/isolationforest

#42696 [exporter/signalfx] root_path validation
  .chloggen/validate_root_path.yaml
  exporter/signalfxexporter/config.go
  exporter/signalfxexporter/config_test.go
Labels: exporter/signalfx

#42681 [processor/redaction] support redaction of scope level atrributes
  .chloggen/redaction-scope-attrs.yaml
  processor/redactionprocessor/config_test.go
  processor/redactionprocessor/processor.go
  processor/redactionprocessor/processor_test.go
  processor/redactionprocessor/testdata/config.yaml
Labels: processor/redaction

#42741 [chore][receiver/prometheus] Add integration test for Kong
  exporter/prometheusexporter/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/prometheusreceiver/kong_integration_test.go
  receiver/prometheusreceiver/testdata/kong/Dockerfile
  receiver/prometheusreceiver/testdata/kong/config.yaml
  receiver/prometheusreceiver/testdata/kong/expected.yaml
  receiver/prometheusreceiver/testdata/kong/kong.yml
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.sum
Labels: receiver/prometheus, exporter/prometheus, receiver/simpleprometheus, receiver/purefa, testbed, receiver/purefb

#42745 [chore] testbed: Retry config file deletion in windows
  testbed/testbed/in_process_collector.go
Labels: Run Windows, testbed

#42674 [exporter/azureblob] Add template support for blob name formatting in Azure Blob exporter
  .chloggen/42643.yaml
  exporter/azureblobexporter/README.md
  exporter/azureblobexporter/config.go
  exporter/azureblobexporter/exporter.go
  exporter/azureblobexporter/exporter_test.go
  exporter/azureblobexporter/factory.go
Labels: exporter/azureblob

#42717 docs: adjust netflow receiver block
  receiver/netflowreceiver/README.md
Labels: ready to merge, Skip Changelog, receiver/netflow, first-time contributor

#42692 [chore][receiver/journald]: improve README.md examples
  receiver/journaldreceiver/README.md
Labels: receiver/journald, first-time contributor

#42581 [exporter/clickhouse] TLS config / Certificate based Authentication
  .chloggen/clickhouse-tls-config.yaml
  exporter/clickhouseexporter/README.md
  exporter/clickhouseexporter/config.go
  exporter/clickhouseexporter/config_test.go
  exporter/clickhouseexporter/exporter_logs.go
  exporter/clickhouseexporter/exporter_logs_json.go
  exporter/clickhouseexporter/exporter_metrics.go
  exporter/clickhouseexporter/exporter_traces.go
  exporter/clickhouseexporter/exporter_traces_json.go
  exporter/clickhouseexporter/go.mod
  exporter/clickhouseexporter/go.sum
  exporter/clickhouseexporter/integration_test.go
  exporter/clickhouseexporter/internal/clickhouse.go
  exporter/clickhouseexporter/testdata/certs/CAroot.crt
  exporter/clickhouseexporter/testdata/certs/CAroot.key
  exporter/clickhouseexporter/testdata/certs/client.crt
  exporter/clickhouseexporter/testdata/certs/client.key
  exporter/clickhouseexporter/testdata/certs/gen-certs.sh
  exporter/clickhouseexporter/testdata/certs/server.crt
  exporter/clickhouseexporter/testdata/certs/server.key
  exporter/clickhouseexporter/testdata/clickhouse-config.xml
  exporter/clickhouseexporter/testdata/clickhouse-users.xml
  exporter/clickhouseexporter/testdata/config.yaml
Labels: exporter/clickhouse

#42616 [receiver/splunkenterprise] fix typo search artifact size metrics
  .chloggen/splunk-searchartifact-fix-typo.yaml
  receiver/splunkenterprisereceiver/search_result.go
Labels: receiver/splunkenterprise

#42753 [chore] Replace asciicheck dep since repo is no longer available
  internal/tools/go.mod
  internal/tools/go.sum
Labels: internal/tools

#42774 [chore][receiver/journald] Update stanza documentation
  pkg/stanza/docs/operators/journald_input.md
Labels: pkg/stanza

#42776 [chore][receiver/prometheus] Update kong integration test
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/kong_integration_test.go
  receiver/prometheusreceiver/testdata/kong/Dockerfile
  receiver/prometheusreceiver/testdata/kong/config.yaml
  receiver/prometheusreceiver/testdata/kong/kong.yml
  receiver/prometheusreceiver/testdata/kong/scraped-kong-data.txt
Labels: receiver/prometheus

#42784 [chore] Remove usages of deprecated symbols
  exporter/elasticsearchexporter/factory.go
  exporter/kafkaexporter/factory.go
  exporter/otelarrowexporter/factory.go
Labels: exporter/elasticsearch, exporter/kafka, exporter/otelarrow

#42770 [chore][testbed] Use os.MkdirTemp on Windows
  cmd/opampsupervisor/go.mod
  exporter/prometheusremotewriteexporter/exporter_test.go
  internal/common/testutil/testutil.go
  testbed/testbed/child_process_collector.go
  testbed/testbed/in_process_collector.go
Labels: exporter/prometheusremotewrite, Run Windows, testbed, cmd/opampsupervisor, internal/common

#42789 [chore] Do not remove config file on testbed shutdown
  testbed/testbed/in_process_collector.go
Labels: Run Windows, testbed

#42790 [chore][scoped-tests] Run twice instead of thrice
  .github/workflows/scoped-test.yaml
  Makefile.Common
Labels: ci-cd

#42641 [processor/k8sattributesprocessor] Add support for missing k8s.cronjob.uid
  .chloggen/feat_42557.yaml
  pkg/xk8stest/k8s_collector.go
  pkg/xk8stest/k8s_telemetrygen.go
  processor/k8sattributesprocessor/README.md
  processor/k8sattributesprocessor/client_test.go
  processor/k8sattributesprocessor/config.go
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/e2e_test.go
  processor/k8sattributesprocessor/internal/kube/client.go
  processor/k8sattributesprocessor/internal/kube/client_test.go
  processor/k8sattributesprocessor/internal/kube/kube.go
  processor/k8sattributesprocessor/internal/metadata/generated_config.go
  processor/k8sattributesprocessor/internal/metadata/generated_config_test.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource.go
  processor/k8sattributesprocessor/internal/metadata/generated_resource_test.go
  processor/k8sattributesprocessor/internal/metadata/testdata/config.yaml
  processor/k8sattributesprocessor/metadata.yaml
  processor/k8sattributesprocessor/options.go
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/collector/configmap.yaml
  processor/k8sattributesprocessor/testdata/e2e/clusterrbac/telemetrygen/cronjob.yaml
Labels: processor/k8sattributes, waiting-for-code-owners, pkg/xk8stest

#42280 Better errors for attr procs: include the key.
  CHANGELOG.md
  internal/coreinternal/attraction/attraction.go
  internal/coreinternal/attraction/attraction_test.go
  processor/attributesprocessor/factory_test.go
Labels: processor/attributes, Skip Changelog, internal/core, first-time contributor

#42446 receiver/postgresql - Fixing the field name client_addr in query_sample collection
  .chloggen/pg-client_addr-fix.yaml
  receiver/postgresqlreceiver/client.go
  receiver/postgresqlreceiver/scraper_test.go
  receiver/postgresqlreceiver/testdata/scraper/query-sample/expected.yaml
Labels: ready to merge, receiver/postgresql

#42711 [exporter/elasticsearch] Fix routing of collector self-telemetry into Elasticsearch data streams
  .chloggen/elasticsearchexporter-self-telemetry-routing.yaml
  exporter/elasticsearchexporter/attribute.go
  exporter/elasticsearchexporter/data_stream_router.go
  exporter/elasticsearchexporter/data_stream_router_test.go
Labels: exporter/elasticsearch

#42872 processor/metricstarttimeprocessor: Fix data race in TestStartTimeCache_GC
  processor/metricstarttimeprocessor/internal/datapointstorage/cache_test.go
Labels: ready to merge, Skip Changelog, processor/metricstarttime

#42904 [chore] use package-lock files for our js dependencies
  .github/workflows/build-and-test.yml
  .github/workflows/configs/build-and-test/package-lock.json
  .github/workflows/configs/build-and-test/package.json
  .github/workflows/configs/generate-weekly-report/package-lock.json
  .github/workflows/configs/generate-weekly-report/package.json
  .github/workflows/generate-weekly-report.yml
Labels: dependencies, ci-cd

#42500 [processor/unroll]: upstream unroll processor
  .chloggen/feat_unroll-processor.yaml
  .codecov.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/beta_stability.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/other.yaml
  .github/ISSUE_TEMPLATE/unmaintained.yaml
  .github/component_labels.txt
  internal/tidylist/tidylist.txt
  processor/unrollprocessor/Makefile
  processor/unrollprocessor/README.md
  processor/unrollprocessor/config.go
  processor/unrollprocessor/config_test.go
  processor/unrollprocessor/doc.go
  processor/unrollprocessor/factory.go
  processor/unrollprocessor/factory_test.go
  processor/unrollprocessor/generated_component_test.go
  processor/unrollprocessor/generated_package_test.go
  processor/unrollprocessor/go.mod
  processor/unrollprocessor/go.sum
  processor/unrollprocessor/internal/metadata/generated_status.go
  processor/unrollprocessor/metadata.yaml
  processor/unrollprocessor/processor.go
  processor/unrollprocessor/processor_test.go
  processor/unrollprocessor/testdata/empty/expected.yaml
  processor/unrollprocessor/testdata/empty/input.yaml
  processor/unrollprocessor/testdata/mixed_slice_types/expected.yaml
  processor/unrollprocessor/testdata/mixed_slice_types/input.yaml
  processor/unrollprocessor/testdata/nop/expected.yaml
  processor/unrollprocessor/testdata/nop/input.yaml
  processor/unrollprocessor/testdata/recursive_false/expected.yaml
  processor/unrollprocessor/testdata/recursive_false/input.yaml
  processor/unrollprocessor/testdata/recursive_true/expected.yaml
  processor/unrollprocessor/testdata/recursive_true/input.yaml
  processor/unrollprocessor/testdata/simple/expected.yaml
  processor/unrollprocessor/testdata/simple/input.yaml
  processor/unrollprocessor/testdata/some_not_slices/expected.yaml
  processor/unrollprocessor/testdata/some_not_slices/input.yaml
  reports/distributions/contrib.yaml
  versions.yaml
Labels: ready to merge, reports/distributions/contrib.yaml

#42921 [chore] Skip test on Windows ARM
  internal/datadog/hostmetadata/internal/gohai/gohai_test.go
Labels: internal/datadog

#42793 [chore][hostmetrics] Add stability level per metric
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/cpuscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/diskscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/filesystemscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/loadscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/memoryscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/networkscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/nfsscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/nfsscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/pagingscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processesscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/processscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/processscraper/metadata.yaml
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/documentation.md
  receiver/hostmetricsreceiver/internal/scraper/systemscraper/metadata.yaml
Labels: waiting-for-code-owners, receiver/hostmetrics/internal/scraper/cpuscraper, receiver/hostmetrics/internal/scraper/diskscraper, receiver/hostmetrics/internal/scraper/loadscraper, receiver/hostmetrics/internal/scraper/filesystem, receiver/hostmetrics/internal/scraper/memory, receiver/hostmetrics/internal/scraper/network, receiver/hostmetrics/internal/scraper/paging, receiver/hostmetrics/internal/scraper/processes, receiver/hostmetrics/internal/scraper/process, receiver/hostmetrics/internal/scraper/system, receiver/hostmetrics/internal/scraper/nfsscraper

#42927 [chore][kubeletstats] Add stability level per metric
  receiver/kubeletstatsreceiver/documentation.md
  receiver/kubeletstatsreceiver/metadata.yaml
Labels: receiver/kubeletstats

#42912 [splunkhecexporter] Update readme with the new batch config info
  exporter/splunkhecexporter/README.md
Labels: ready to merge, Skip Changelog, exporter/splunkhec

#42272 [receiver/libhoney] Response body sends proper partial errors for batches
  .chloggen/libhoney-full-response.yaml
  receiver/libhoneyreceiver/README.md
  receiver/libhoneyreceiver/factory.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent.go
  receiver/libhoneyreceiver/internal/libhoneyevent/libhoneyevent_test.go
  receiver/libhoneyreceiver/internal/parser/parser.go
  receiver/libhoneyreceiver/internal/parser/parser_test.go
  receiver/libhoneyreceiver/internal/response/response.go
  receiver/libhoneyreceiver/receiver.go
  receiver/libhoneyreceiver/receiver_test.go
Labels: receiver/libhoney

#42929 [chore][k8sattributesprocessor] Add stability level per metric
  processor/k8sattributesprocessor/documentation.md
  processor/k8sattributesprocessor/internal/metadata/generated_telemetry.go
  processor/k8sattributesprocessor/internal/metadatatest/generated_telemetrytest.go
  processor/k8sattributesprocessor/metadata.yaml
Labels: ready to merge, processor/k8sattributes

#42932 [chore][zookeeperscraper] Add stability level per metric
  scraper/zookeeperscraper/documentation.md
  scraper/zookeeperscraper/metadata.yaml
Labels: ready to merge, scraper/zookeeper

#42930 [chore][elasticsearchreceiver] Add stability level per metric
  receiver/elasticsearchreceiver/documentation.md
  receiver/elasticsearchreceiver/metadata.yaml
Labels: receiver/elasticsearch

#42922 [chore] Prepare `iisreceiver` for windows arm64 ci
  receiver/iisreceiver/README.md
  receiver/iisreceiver/generated_component_test.go
  receiver/iisreceiver/integration_test.go
  receiver/iisreceiver/metadata.yaml
Labels: receiver/iis

#42798 use schema.Metadata structure instead of labels.MetricName
  receiver/prometheusremotewritereceiver/receiver.go
Labels: ready to merge, Skip Changelog, receiver/prometheusremotewrite, first-time contributor

#42961 [chore][tcpcheckreceiver] Add stability level per metric
  receiver/tcpcheckreceiver/documentation.md
  receiver/tcpcheckreceiver/metadata.yaml
Labels: receiver/tcpcheck

#42949 Update STEF to v0.0.8
  .chloggen/tigran_stefupdate.yaml
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/stefexporter/exporter.go
  exporter/stefexporter/go.mod
  exporter/stefexporter/go.sum
  receiver/stefreceiver/e2e_test.go
  receiver/stefreceiver/go.mod
  receiver/stefreceiver/go.sum
  receiver/stefreceiver/stef.go
  testbed/go.mod
  testbed/go.sum
Labels: exporter/elasticsearch, testbed, cmd/opampsupervisor, exporter/stef, receiver/stef

#42950 [chore][tlscheckreceiver] Add stability level per metric
  receiver/tlscheckreceiver/documentation.md
  receiver/tlscheckreceiver/metadata.yaml
Labels: receiver/tlscheck

#42962 [chore][nginxreceiver] Add stability level per metric
  receiver/nginxreceiver/documentation.md
  receiver/nginxreceiver/metadata.yaml
Labels: receiver/nginx, waiting-for-code-owners

#42987 [chore][iisreceiver] Add stability level per metric
  receiver/iisreceiver/documentation.md
  receiver/iisreceiver/metadata.yaml
Labels: receiver/iis

#42998 [testbed] Fix failing TestMetric10kDPS
  testbed/tests/metric_test.go
Labels: Skip Changelog, testbed

#42977 [chore][activedirectorydsreceiver] Add stability level per metric
  receiver/activedirectorydsreceiver/documentation.md
  receiver/activedirectorydsreceiver/metadata.yaml
Labels: receiver/activedirectoryds

#42988 [chore][oracledbreceiver] Add stability level per metric
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/metadata.yaml
Labels: receiver/oracledb

#42994 [chore][kafkaexporter] Add stability level per metric
  exporter/kafkaexporter/documentation.md
  exporter/kafkaexporter/internal/metadata/generated_telemetry.go
  exporter/kafkaexporter/internal/metadatatest/generated_telemetrytest.go
  exporter/kafkaexporter/metadata.yaml
Labels: ready to merge, exporter/kafka

#43002 receiver/statsdreceiver: fix data race in shutdown
  .chloggen/statsdreceiver-fix-race.yaml
  receiver/statsdreceiver/internal/transport/tcp_server.go
Labels: receiver/statsd

#42999 [chore][ci] only run codeowners workflow when related files are changed
  .github/workflows/check-codeowners.yaml
Labels: ci-cd, Skip Changelog

#42957 [chore][sqlserverreceiver] Add stability level per metric
  receiver/sqlserverreceiver/documentation.md
  receiver/sqlserverreceiver/metadata.yaml
Labels: receiver/sqlserver, Run Windows

#42181 [receiver/kafkareceiver] move receiver.kafkareceiver.UseFranzGo feature gate to Beta
  .chloggen/receiver_kafka_franz_go_beta.yaml
  receiver/kafkareceiver/README.md
  receiver/kafkareceiver/consumer_franz.go
  receiver/kafkareceiver/consumer_franz_test.go
  receiver/kafkareceiver/factory_test.go
  receiver/kafkareceiver/kafka_receiver_test.go
Labels: ready to merge, receiver/kafka

#42541 fix: role_arn support in AWSCloudWatch and AWSEmf exporters
  .chloggen/fix_support-for-role_arn-in-cloud-watch.yaml
  exporter/awscloudwatchlogsexporter/exporter.go
  exporter/awsxrayexporter/awsxray.go
  internal/aws/awsutil/conn.go
  internal/aws/awsutil/conn_test.go
  internal/aws/awsutil/go.mod
Labels: exporter/awscloudwatchlogs, exporter/awsemf, exporter/awsxray, internal/aws

#42330 [receiver/k8seventsreceiver] support leader election using k8sleaderelector extension
  .chloggen/feat_42266.yaml
  receiver/k8seventsreceiver/README.md
  receiver/k8seventsreceiver/config.go
  receiver/k8seventsreceiver/go.mod
  receiver/k8seventsreceiver/go.sum
  receiver/k8seventsreceiver/receiver.go
  receiver/k8seventsreceiver/receiver_test.go
Labels: receiver/k8sevents, waiting-for-code-owners

#43007 [cmd/telemetrygen] Add span links support to telemetrygen
  .chloggen/telemetrygen-span-links.yaml
  cmd/telemetrygen/pkg/traces/config.go
  cmd/telemetrygen/pkg/traces/traces.go
  cmd/telemetrygen/pkg/traces/traces_test.go
  cmd/telemetrygen/pkg/traces/worker.go
Labels: cmd/telemetrygen, first-time contributor

#42918 [chore] Fix `make generate` on Windows
  Makefile.Common
Labels: ready to merge

#42899 feat: Rename awslogsencodingextension format values to shorter, more concise identifiers
  .chloggen/feat_rename-awslogsencodingextension-format-names.yaml
  extension/encoding/awslogsencodingextension/README.md
  extension/encoding/awslogsencodingextension/config.go
  extension/encoding/awslogsencodingextension/config_test.go
  extension/encoding/awslogsencodingextension/extension.go
  extension/encoding/awslogsencodingextension/extension_test.go
  extension/encoding/awslogsencodingextension/factory.go
  extension/encoding/awslogsencodingextension/internal/constants/format.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/cloudtraillog/testdata/cloudtrail_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/cloudtraillog/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/elb-access-log/testdata/alb_al_valid_logs_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/elb-access-log/testdata/clb_al_valid_logs_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/elb-access-log/testdata/nlb_al_valid_logs_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/elb-access-log/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/testdata/unknown_request_uri_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/testdata/valid_s3_access_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/s3-access-log/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/subscription-filter/testdata/valid_cloudwatch_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/subscription-filter/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/testdata/valid_vpc_flow_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/vpc-flow-log/unmarshaler.go
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/testdata/valid_log_expected.yaml
  extension/encoding/awslogsencodingextension/internal/unmarshaler/waf/unmarshaler.go
  extension/encoding/awslogsencodingextension/metadata.yaml
  extension/encoding/awslogsencodingextension/testdata/config.yaml
Labels: extension/encoding/awslogsencoding

#42968 [chore][redisreceiver] Add stability level per metric
  receiver/redisreceiver/documentation.md
  receiver/redisreceiver/metadata.yaml
Labels: receiver/redis

#42110 [chore] unexport structs in cumulativetodeltaprocessor
  processor/cumulativetodeltaprocessor/internal/tracking/tracker.go
  processor/cumulativetodeltaprocessor/internal/tracking/tracker_test.go
Labels: processor/cumulativetodelta, waiting-for-code-owners

#43020 [chore][ci] improve Build gotestsum for Windows
  .github/workflows/scoped-test.yaml
Labels: os:windows, Run Windows

#43018 [receiver/k8seventsreceiver] avoid panic on non-Event objects in informer handler
  .chloggen/fix_panic_event_filter.yaml
  receiver/k8seventsreceiver/receiver.go
Labels: receiver/k8sevents

#43036 [chore][ci] Fix `scoped-test` build gostestsum step
  .github/workflows/scoped-test.yaml
Labels: receiver/hostmetrics

#43043 [receiver/k8clusterreceiver] run make modernize
  receiver/k8sclusterreceiver/internal/metadata/metadata.go
  receiver/k8sclusterreceiver/internal/pod/pods_test.go
  receiver/k8sclusterreceiver/mock_resources_test.go
  receiver/k8sclusterreceiver/watcher_test.go
Labels: Skip Changelog, receiver/k8scluster

#42969 make gotidy
  cmd/opampsupervisor/go.mod
  cmd/opampsupervisor/go.sum
  connector/datadogconnector/go.mod
  connector/datadogconnector/go.sum
  exporter/datadogexporter/go.mod
  exporter/datadogexporter/go.sum
  exporter/datadogexporter/integrationtest/go.mod
  exporter/datadogexporter/integrationtest/go.sum
  exporter/elasticsearchexporter/integrationtest/go.mod
  exporter/elasticsearchexporter/integrationtest/go.sum
  exporter/googlemanagedprometheusexporter/go.sum
  exporter/prometheusexporter/go.sum
  exporter/prometheusremotewriteexporter/go.sum
  pkg/translator/loki/go.sum
  pkg/translator/prometheusremotewrite/go.sum
  pkg/translator/prometheusremotewrite/helper_test.go
  receiver/lokireceiver/go.mod
  receiver/lokireceiver/go.sum
  receiver/prometheusreceiver/go.mod
  receiver/prometheusreceiver/go.sum
  receiver/purefareceiver/go.mod
  receiver/purefareceiver/go.sum
  receiver/purefbreceiver/go.mod
  receiver/purefbreceiver/go.sum
  receiver/simpleprometheusreceiver/go.mod
  receiver/simpleprometheusreceiver/go.sum
  testbed/go.mod
  testbed/go.sum
Labels: exporter/datadog, exporter/googlemanagedprometheus, exporter/prometheusremotewrite, receiver/prometheus, exporter/elasticsearch, exporter/prometheus, receiver/simpleprometheus, pkg/translator/loki, pkg/translator/prometheusremotewrite, receiver/purefa, testbed, receiver/purefb, receiver/loki, cmd/opampsupervisor, connector/datadog

#42944 [chore][kafkareceiver] Add stability level per metric
  receiver/kafkareceiver/documentation.md
  receiver/kafkareceiver/internal/metadata/generated_telemetry.go
  receiver/kafkareceiver/internal/metadatatest/generated_telemetrytest.go
  receiver/kafkareceiver/metadata.yaml
Labels: receiver/kafka

#42107 [pkg/ottl]: Create ctxprofilecommon for common attribute handling
  .chloggen/ctxprofilecommon.yaml
  pkg/ottl/contexts/internal/ctxprofile/profile.go
  pkg/ottl/contexts/internal/ctxprofile/profile_test.go
  pkg/ottl/contexts/internal/ctxprofilecommon/attributes.go
  pkg/ottl/contexts/internal/ctxprofilecommon/attributes_test.go
  pkg/ottl/contexts/internal/ctxprofilesample/context.go
  pkg/ottl/contexts/internal/ctxprofilesample/profilesample.go
  pkg/ottl/contexts/internal/ctxprofilesample/profilesample_test.go
Labels: pkg/ottl, waiting-for-code-owners

#43078 [chore]Fix flaky test for lruset due to time mismatch
  exporter/elasticsearchexporter/internal/lru/lruset_test.go
Labels: exporter/elasticsearch, waiting-for-code-owners

#43054 [receiver/k8sobjectsreceiver] Switch to standby mode when leader lease is lost
  .chloggen/feat_42706_wg.yaml
  receiver/k8sobjectsreceiver/receiver.go
  receiver/k8sobjectsreceiver/receiver_test.go
Labels: receiver/k8sobjects

#43085 [chore] Set missing enabled field for resource_attributes
  receiver/apachesparkreceiver/metadata.yaml
  receiver/azuremonitorreceiver/metadata.yaml
  receiver/sshcheckreceiver/metadata.yaml
Labels: receiver/sshcheck, receiver/azuremonitor, receiver/apachespark

#42421 [receiver/oracledb] Add service.instance.id resource attribute to metrics and logs
  .chloggen/service_instance_id_for_oracledbreceiver.yaml
  receiver/oracledbreceiver/documentation.md
  receiver/oracledbreceiver/internal/metadata/generated_config.go
  receiver/oracledbreceiver/internal/metadata/generated_config_test.go
  receiver/oracledbreceiver/internal/metadata/generated_logs.go
  receiver/oracledbreceiver/internal/metadata/generated_logs_test.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics.go
  receiver/oracledbreceiver/internal/metadata/generated_metrics_test.go
  receiver/oracledbreceiver/internal/metadata/generated_resource.go
  receiver/oracledbreceiver/internal/metadata/generated_resource_test.go
  receiver/oracledbreceiver/internal/metadata/testdata/config.yaml
  receiver/oracledbreceiver/metadata.yaml
  receiver/oracledbreceiver/scraper.go
  receiver/oracledbreceiver/scraper_test.go
  receiver/oracledbreceiver/testdata/expectedQueryTextAndPlanQuery.yaml
  receiver/oracledbreceiver/testdata/expectedSamplesFile.yaml
Labels: receiver/oracledb, waiting-for-code-owners
